[2021-08-18 14:07] ilopmar commented on #6040
I've tried with a simple app and it works when using Netty and Jetty but with Tomcat and Undertow it returns a 404.

It happens with both Micronaut 2.5.12 and 3.0.0-SNAPSHOT

[2021-08-18 14:21] sbojja1 commented on #6040
Thank you for confirming on the issue, how soon can we expect this to be resolved?

[2021-08-18 14:25] ilopmar commented on #6040
Is there any reason you need to use Tomcat? As a workaround you can use Netty or Jetty.

[2021-08-18 14:34] sbojja1 commented on #6040
My team is most experienced with tomcat and this is the first time We are using Micronaut for the new app, so it would be easy for us to go with tomcat.

[2021-08-18 14:37] ilopmar commented on #6040
Unless you want to do "something" with Tomcat I don't see any difference using other server. At the end you are going to package the application as a runnable fatjar, so there is nothing to configure like the time when we deployed war files in servers...

[2021-08-18 14:38] sbojja1 commented on #6040
We have some custom tomcat docker images that are used for the java projects.

[2021-08-18 15:56] brunolellis opened #6041 "GraalVM native-image build failure using SLF4J and Log4j 2"
### Expected Behavior

The native-image command should build the image successfully.

### Actual Behaviour

The native-image command fails trying to initialize `org.apache.logging.slf4j.Log4jLogger` at build time.

Is there a way to use log4j2 with native-image?
I also tried using `--initialize-at-build-time=org.apache.logging.slf4j.Log4jLogger` but then another list of classes appears.

Output:
[

[2021-08-18 17:42] racevedoo commented on #5530
I did some digging that could be useful here. In a project that only uses `grpc-server-runtime`, we get the following error during app startup:
[code]

This is basically because we try to create a channel that connects to a `GrpcEmbeddedServer` when it has not been started yet:

https://github.com/micronaut-projects/micronaut-grpc/blob/83967c5fc82a06589ff502b9131832e4af5d49c6/grpc-server-runtime/s

[2021-08-18 17:42] racevedoo commented on #5530
Just to be clear, this does not solve the issue for `GrpcDefaultManagedChannelConfiguration`, which is included in `grpc-client-runtime` only

[2021-08-18 23:36] msgilligan commented on #5985
@jeffbrown Thanks for looking at it. I'll give it a try and if it doesn't yield the error, I'll try to make a PR with changes to produce it.

[2021-08-19 00:22] msgilligan commented on #5985
@jeffbrown Those weren't the (JPMS) modules we were looking for. Here's a PR that adds them:
https://github.com/jeffbrown/issue5985/pull/1

With the PR the problem can be reproduced with `./gradlew run` and changing from `@Factory` to `@Singleton` makes it work again.

[2021-08-19 11:25] #5967 closed, assigned to nobody

[2021-08-19 14:36] jameskleeh commented on #5793
@sdelamo Were you able to track this down?

[2021-08-19 14:42] jameskleeh commented on #6011
https://github.com/FasterXML/jackson-databind/issues/1294

[2021-08-19 14:45] jameskleeh commented on #6011
@cemo @nyilmaz You can follow the workaround outlined in that issue and see if it resolves it and create a PR

[2021-08-19 14:46] #5998 closed, assigned to nobody

[2021-08-19 14:47] jameskleeh commented on #5998
Closed this because the context of the error route info is lost after the filters are called if they emitted an error and was then handled by an exception handler. If a filter is producing a different response than what was emitted it is their responsibility to assure all headers, body, etc are copied to the new response.

[2021-08-19 15:46] ilopmar commented on #5793
I think the problem is fixed in the build plugins 4.0.1 version.

[2021-08-19 16:19] debuglevel opened #6044 "Gradle cannot resolve things for a library with Micronaut"
### Expected Behavior

An example library https://github.com/debuglevel/micronaut-test-library is published via jitpack at https://jitpack.io/#debuglevel/micronaut-test-library/45505ef2b6. (I basically used the minimal build in the micronaut-gradle-plugin README and used micronaut 2.5.12 instead of 2.0.1): https://github.com/micronaut-projects/micronaut-gradle-plugin/blob/master/README.md

An app

[2021-08-19 16:22] debuglevel commented on #6044
I actually don't think it has much to do with the `micronaut-gradle-plugin`, as I experienced same problems with my own build scripts. But to try something "official", I used the example stuff over at `micronaut-gradle-plugin/README.md` which also does not work.

[2021-08-19 16:35] jameskleeh commented on #6044
As far as I can tell your jar is basically empty. It only contains META-INF/MANIFEST.MF. I don't know if that is causing the issue but it doesn't seem correct

[2021-08-19 16:59] vasac opened #6045 "Nested annotations handling"
### Expected Behavior

It's expected that ApplicationContext finds a bean annotated with nested annotation:

[code]

This code should return `TestExtractorFactory` bean.
[code]

### Actual Behaviour

ApplicationContext is unable to find a bean as deep down `annotationMetadata.declaredAnnotations` map has a key `..ExtractorFactoriesTest.TestExtractor` instead of `..ExtractorFactoriesTest$TestExtrac

[2021-08-19 17:43] debuglevel commented on #6044
Maybe that example was a bit too minimal :)
The updated `micronaut-test-library:5e9fbb3f96`, used in the updated `micronaut-test-app:6f8243f`, now contains a class. Problem still exists :)

[2021-08-19 17:47] jameskleeh commented on #6044
Yeah it appears the issue is the pom contains a dependency on our bom

[code]

[2021-08-19 19:25] #5793 closed, assigned to nobody

[2021-08-19 19:29] jameskleeh commented on #6045
What is `FactoryQualifier`? Can you upload an example?

[2021-08-19 19:48] nyilmaz commented on #6011
@jameskleeh it worked on example repo, if I should add test, what do you think where/how shall I add to?

[2021-08-19 19:52] jameskleeh commented on #6011
Probably https://github.com/micronaut-projects/micronaut-core/blob/3.0.x/http-client/src/test/groovy/io/micronaut/http/client/HttpGetSpec.groovy

[2021-08-20 02:06] jonnii commented on #5991
I have run into this same (?) problem and have a reproduction:

https://github.com/jonnii/http2error

Our environment is java 16 and this happens whenever the load balance hits the health endpoint - it goes away if you disable http2 (obviously) but it's not ideal.

One other observation we saw this both during the upgrade to 3.0 and also from 2.5.8 to 2.5.12 - the netty package upgrade between tho

[2021-08-20 05:54] sdelamo commented on #5793
I added this fix to 4.0.1 https://github.com/micronaut-projects/micronaut-build/pull/182

[2021-08-20 08:24] jz36 commented on #5711
I faced the same issue. Any updates?

[2021-08-20 08:46] jz36 commented on #5711
@chriskosys hey, I've find out how to handle it.
Just type
[code]

Binance said that it doesn't work, but actually it's work!

[2021-08-20 10:25] vasac commented on #6045
Sorry, totally missed that.

`FactoryQualifier` looks like this:
[code]

`bt.isAnnotationPresent(type)` call will end at `DefaultAnnotationMetadata.hasDeclaredAnnotation(String annotation)` with value of `annotation`argument like this `...ExtractorFactoriesTest$TestExtractor` and `declaredAnnotations` map will have key `...ExtractorFactoriesTest.TestExtractor`.

Here's the actual test that fails -

[2021-08-20 13:55] nyilmaz commented on #6011
@jameskleeh tests added

[2021-08-20 18:40] sgammon commented on #5991
it looks like we get the same chain of errors after adjusting logs @jonnii, thank you for the added context :)

[2021-08-20 23:00] msgilligan commented on #5985
I pushed two more commits to my PR (https://github.com/jeffbrown/issue5985/pull/1):

* https://github.com/jeffbrown/issue5985/pull/1/commits/b894c321d5beb427d9cce9b805e53bdc3b784806 -- Fixes  `./gradlew test` -- in part by **running on the class path**
* https://github.com/jeffbrown/issue5985/pull/1/commits/a8b42487e1a5b1a42ab1b21eb74fa7293b0ccdf6 -- Bump to Micronaut 3.0.0 (GA version)

Note that

[2021-08-21 20:41] chriskosys commented on #5711
@jz36 Thanks for your feedback.
At the time i tried this it worked only for the /ws-endpoint but it did not work for the /stream endpoint like shown in my example. Which of the endpoints did you check?

[2021-08-22 13:03] altro3 opened #6051 "[BUG] Micronaut 3.0: Can't use @PostConstruct in ConfigurationProperties beans"
### Expected Behavior

_No response_

### Actual Behaviour

Try to start sample appication and you will see this exception:
[code]

### Steps To Reproduce

Problem in class `com.micronaut.bug.service.entity.config.EntityProperties` when I use `@PostConstruct` annotation:
[code]

You can see full sample application to reproduce this bug.

PS https://github.com/micronaut-projects/micronaut-data/issu

[2021-08-23 01:53] jonnii opened #6052 "ServerRequestContext.currentRequest not returning current request"
### Expected Behavior

The following should return the current request in a suspend context:

[code]

### Actual Behaviour

Whereas previously this approach has worked without any issue since upgrade to `3.0` we have started seeing "weirdness". When running load tests we'll see requests failing our internal validation which uses the header provided by the above that I can't explain and which coinc

[2021-08-23 03:15] jonnii commented on #6052
Things I'm going to try:

 - [X] Is this affected by `@ExecuteOn`
 - [X] Is this affected by `@NewSpan`
 - [ ] Find a way to get the `CoroutineContext` to grab the httpRequest off of that instead of the ThreadLocal (seems everything is private?)

Removing `@ExecuteOn` and/or `@NewSpan` does not change the outcome.

[2021-08-23 07:15] jz36 commented on #5711
@chriskosys I checked on `/ws/{symbol}@depth`
Maybe today I'll check `/stream` endpoint

[2021-08-23 14:43] mstein opened #6054 "Inconsistent behavior with @Introspected on abstract class in Groovy"
### Expected Behavior

When trying to get an `BeanIntrospection` for an abstract class (part of our code, not a class in a jar), whether we annotate the class directly with `@Introspected` or we annotate another class with `@Introspected(classes = [TargetClass])`, the end results should be the same. In my case, I expect a `BeanIntrospection` to be generated for my abstract class. Note that I'm usi

[2021-08-23 14:43] deenar commented on #1180
I agree with @cosmin-marginean, this issue should be reopened. the fix #1250 does not add support for adding dialects.

[2021-08-23 14:51] jameskleeh opened #6055 "Import netty-bom-ssl"
### Issue description

When we upgrade to 4.1.68

https://github.com/netty/netty/pull/11609

[2021-08-23 14:54] racevedoo commented on #5842
Merged into 3.1.x

[2021-08-23 14:54] #5842 closed, assigned to racevedoo

[2021-08-23 14:57] jameskleeh commented on #1180
@cosmin-marginean @deenar That PR made it possible for the dialect to be set because prior to that the engines themselves were not beans. You can create a BeanCreatedEventListener for the `TemplateEngine` and set the dialect

[2021-08-23 14:57] jameskleeh commented on #1180
Any documentation improvement PRs are welcome https://github.com/micronaut-projects/micronaut-views

[2021-08-23 18:15] #6051 closed, assigned to jameskleeh

[2021-08-23 20:30] jonnii commented on #6052
We have downgraded to the previous version of micronaut we were on 2.5.8 and the problem went away. We'll try updating to 2.5.13 once it is released.

[2021-08-24 05:45] torbsto commented on #5679
Issue is fixed with Gradle 7.2

[2021-08-24 05:45] #5679 closed, assigned to nobody

[2021-08-24 18:26] jameskleeh commented on #6054
Thank you for the detailed issue report! This should be resolved for 3.0.1

[2021-08-24 18:59] jameskleeh commented on #6055
The PR was changed to add the artifacts to the main bom which we already import

[2021-08-24 18:59] #6055 closed, assigned to nobody

[2021-08-25 13:22] jameskleeh commented on #6052
Your example application works for me

[code]

[2021-08-25 13:26] #6039 closed, assigned to jameskleeh

[2021-08-25 14:31] rohit-s8 opened #6060 "Support for converting a specific part to POJO in Multipart form data request"
### Feature description

My use case is as follows:

I have a rest endpoint that needs to accept both a json body as well as an attached file. The json contains metadata about the file and will also be serialized into a pojo.

I tried the following: According to the [documentation](https://docs.micronaut.io/2.5.12/guide/index.html#uploads), all I had to do was:
* annotate my controller method with

[2021-08-25 14:36] jonnii commented on #6052
@jameskleeh I was unable to reproduce myself outside of our dev environment - the problem only happens under high-ish load too so it's tricky to replicate. Do you have any tips on what I can do to figure out what's causing the problem?

[2021-08-25 15:02] jameskleeh commented on #6052
@jonnii Run the app in a local docker container and use a load testing utility. Really though just FYI ServerRequestContext shouldn't be used for cases where it's possible to pass the request as an argument. So unless you can find the cause its unlikely this would be a priority for us to fix if it is difficult to produce/debug

[2021-08-25 21:06] rawilder opened #6062 "Kotlin coroutines reactor lib and StreamingFileUpload causes first request to endpoint to hang"
### Expected Behavior

Using StreamingFileUpload and Publisher<StreamingFileUpload> with `org.jetbrains.kotlinx:kotlinx-coroutines-reactor` should run without request hanging.

### Actual Behaviour

The first request hangs, but requests after first do not.

### Steps To Reproduce

Clone example project
`./gradlew clean run`
Request using cURL or other rest request tool

### Environment Information

[2021-08-26 04:20] vasac commented on #6045
Here is a small example project https://github.com/vasac/nested-annotation

[2021-08-26 06:56] gauravphoenix opened #6063 "docker-native packaging doesn't work on MacOS"
### Expected Behavior

the command `./mvnw package -Dpackaging=docker-native -Dmicronaut.runtime=lambda -Pgraalvm` should be able to build a simple hello world example as described [here](https://guides.micronaut.io/latest/mn-application-aws-lambda-graalvm-maven-java.html)

### Actual Behaviour

The command fails with error
[code]

If I do a `docker run -it amazonlinux:2`  and run command `ls /lib

[2021-08-26 15:31] jameskleeh commented on #6060
The content type for the `metadata` part has to be JSON. What is the content type of the part in your case?

[2021-08-26 15:35] jameskleeh commented on #6052
Going to close this for now because there is no action we can take at this time. I'll reopen it if you update this issue with more details

[2021-08-26 15:35] #6052 closed, assigned to nobody

[2021-08-26 15:36] #6011 closed, assigned to nobody

[2021-08-26 18:14] rawilder commented on #6062
For the record, this was not happening on Micronaut 2.x, this was introduced in 3.x as far as my memory serves.

[2021-08-26 21:14] RyanHoldren opened #6064 "Non-Proxy Custom Scopes"
### Issue description

I suspect this is not a bug, but rather that I am just misunderstanding how Micronaut works.

Consider this example:

[code]

I expected that `SpeciaBeanScope.getOrCreate()` would be called for `SpecialService` but it isn't. It looks like the scope is never looked up by `DefaultBeanContext.getScopedBeanForDefinition()` because SpecialBean is not annotated with `@ScopedProxy`

[2021-08-26 22:11] rawilder commented on #6062
After many debugging sessions, I've narrowed it down to something with reading the bytes inside the map. Reading the bytes inside the map is sometimes causing the NettyPartData to release the byteBuf (`AbstractReferenceCountedByteBuf`). This deallocates the byteBuf setting it to null or causing the refCount to go into a bad state for the following.

`FormDataHttpContentProcessor` calls `postReques

[2021-08-27 13:17] jameskleeh commented on #6060
Because there is no sensible conversion from a string to a pojo. We don't know if the data is XML, JSON, yaml, etc etc...

[2021-08-27 13:17] #6060 closed, assigned to nobody

[2021-08-27 13:30] rohit-s8 commented on #6060
@jameskleeh yes we tried adding the content-type as application/json, but the error was the same regardless. Here's the example js code that was used to send the request:
[code]
According to

The above should have worked as the content type of the part `metadata` is explicitly set to 'application/json'. Naturally, i do not expect automatic conversion when the content type can not be inferred befor

[2021-08-27 13:35] jameskleeh commented on #6060
@rohit-s8 Please upload an example application that reproduces the issue

[2021-08-27 13:48] tbodor opened #6065 "@Max validation not inclusive for BigInteger and BigDecimal"
### Expected Behavior

The `@Max` validation should be inclusive of the specified limit

![image](https://user-images.githubusercontent.com/45405505/131137168-3cfaffa9-32e5-43ad-91f7-a7f13e88a5d7.png)

### Actual Behaviour

The implementation in `DefaultConstraintValidators.maxNumberValidator` is exclusive of the specified value for BigInteger and BigDecimal. Other numeric types are correct since

[2021-08-27 15:20] burtbeckwith opened #6066 "Document bootstrap.yml"
There are a few mentions of using bootstrap.yml in the reference docs and some of the module docs, but there's no explanation for why you'd put properties in bootstrap.yml instead of application.yml, whether you should move everything from application.yml to bootstrap.yml, etc.

Also, phrasing like `add the following configuration to your bootstrap.yml file` (https://docs.micronaut.io/latest/guide

[2021-08-27 20:22] rawilder commented on #6062
Working this into an actual implementation of file uploading has presented more issues with resolving reactor types to coroutines. I never could quite nail down why (past the byte stuff above) so for now I have switched over to using `CompletedFileUpload` for now with a feeling of defeat hanging over me.

[2021-08-27 23:32] gram-signal commented on #4315
I'm seeing this issue still on 2.5.9 and 2.5.12:

### application.yml

[code]

### curl

[code]

[2021-08-30 06:25] benmccann opened #6068 "Bad release notes link"
### Issue description

When I click "Release Notes" on https://micronaut.io/download/ I'm taken to a page with no details about 3.0. It would be nice to update the tagged release on Github with a link to https://micronaut.io/2021/08/18/micronaut-framework-3-released/ or to otherwise make the release notes discoverable from the release notes link

[2021-08-30 14:53] davydotcom opened #6069 "Websocket Server not handling permessage-deflat WebSocket-Extension"
### Feature description

When a client sends a websocket connection request it can request a permessage-deflate extension. This enables gzip compression on both sides per message during a websocket transaction. This is not enabled in netty by default without adding a WebSocketServerCompressionHandler to the pipeline

https://stackoverflow.com/questions/32187071/websocket-compression-in-netty/32194

[2021-08-31 08:41] sdelamo opened #6073 "Using ProxyClient throws cast exception"
[code]

### Version

3.0.0

[2021-08-31 13:35] #6054 closed, assigned to jameskleeh

[2021-08-31 17:46] rawilder commented on #6062
Okay I made this PR against my own for just for review but I think this might be why errors are not propagating.

~https://github.com/rawilder/micronaut-core/pull/1/files~

pr against micronaut-core here: https://github.com/micronaut-projects/micronaut-core/pull/6074

[2021-09-01 08:46] graemerocher commented on #6045
Weird I see nothing in the diff between the RC and GA that could cause this https://github.com/micronaut-projects/micronaut-core/compare/v3.0.0-RC1..v3.0.0

Going to investigate further

[2021-09-01 09:05] graemerocher commented on #6045
I submitted a PR for this but your example application fails with 3.0 RC1 as well. This seems to be a long standing bug

[2021-09-01 14:18] #6073 closed, assigned to sdelamo

[2021-09-01 14:20] #6045 closed, assigned to graemerocher

[2021-09-01 14:45] mdavis95 opened #6084 "Allow writing a StreamingFileUpload to an OutputStream instead of just a File"
### Feature description

Currently the the StreamingFileUpload interface has methods

[code]

In our use case of writing the stream file to a MongoDB GridFS OutputStream it would be helpful to have a method
[code]

This would also be presumably would be helpful for other use case like streaming to Amazon S3.

[2021-09-01 16:18] savage-matt-genie opened #6085 "EmbeddedServer java.net.BindException: Address already in use"
### Expected Behavior

Spinning up `EmbeddedServer` should never throw `java.net.BindException: Address already in use`

### Actual Behaviour

Spinning up `EmbeddedServer` sometimes throws `java.net.BindException: Address already in use`.

My guess is that sometimes another process binds to the random port it has chosen before it has a chance to?

* `SocketUtils.findAvailableTcpPort()` starts look

[2021-09-01 20:12] jameskleeh commented on #6085
I think it makes sense to do, however we would have to figure out how to get the actual bound port to make that available in the `getPort` method.

[2021-09-02 10:20] sandroboehme commented on #3972
I can confirm the issue. E.g. [the "Mocking Collaborators" example for Kotest](https://micronaut-projects.github.io/micronaut-test/latest/guide/#kotest) only works with the `MathService` interface and the `MathServiceImp` implementation.
Unfortunately the provided workaround didn't work for me in this case.

[2021-09-02 14:16] BartUK commented on #2913
A bit old thread here :) you mentioned _**when keep alive is enabled**_ but based on the code you sent there is no keep-alive setting being configured. Am I missing something?

[2021-09-02 14:41] stepanv commented on #2913
@BartUK it's possible it's Netty's behavior (or Micronaut) to automatically use keep-alive. Try to use Micronaut Client and in the log you'd see keep alive is there:
[code]

[2021-09-03 02:39] David-16 opened #6089 "Regression due to #5558"
### Expected Behavior

The attached wiremock test will timeout with `io.micronaut.http.client.exceptions.ReadTimeoutException: Read Timeout`

### Actual Behaviour

The attached wiremock test should pass

### Steps To Reproduce

[code]

Debugging the issue, it was found that wiremock servlet is waiting to read the body.  After more debugging, issue was narrowed down to a change in Micronaut 2.5.5 (

[2021-09-03 13:28] sdelamo opened #6092 "Binding to `SameSite` via configuration is case sensitive"
### Expected Behavior

Binding to `SameSite` via configuration is case sensitive

### Actual Behaviour

It is case insensitive.

Moreover, IntelliJ IDEA autocompletes values for `SameSite` as lowercase.

e.g.

`micronaut.security.token.jwt.cookie.cookie-same-site=strict`

but that it is not bound.

`micronaut.security.token.jwt.cookie.cookie-same-site=Strict` works though.

### Steps To Reproduce

[2021-09-03 17:17] jameskleeh commented on #6089
Are you seeing this issue in any real world scenario?

[2021-09-03 18:09] David-16 commented on #6089
I did try similar unit test cases against httpbin.org and those seemed to pass which makes me wonder if it is something on the wiremock side

However, the issue arose while trying to upgrade from Micronaut 2.5.5 to 2.5.12.  Since unit tests failed (due to aforementioned wiremock test), I cannot confirm if it happens in real life without building a separate release that is potentially broken, setti

[2021-09-03 18:12] jameskleeh commented on #6089
@David-16 Sounds good. I just don't think this is worth a time investment if it only fails with wiremock. We can't revert to the previous behavior and the current logic works in all of our tests that use a real server

[2021-09-04 05:57] vonZeppelin opened #6095 "Declarative HTTP client fails with Void as the generic with onNext implemented"
### Expected Behavior

Micronaut's declarative client supports `Mono<Void` as a (reactive) return type of the client method for which response body is empty or doesn't matter.

### Actual Behaviour

An exception is thrown when declarative client's method that returns `Mono<Void` is called

[code]

### Steps To Reproduce

Example code

[code]

### Environment Information

- JDK 11.0.12

### Example

[2021-09-04 11:11] chrisparton1991 opened #6096 "Micronaut 3.0.0: @RequestScope throws IllegalMonitorStateException with Redis sessions enabled"
### Expected Behavior

I tried upgrading my Micronaut 2.4.0 application to Micronaut 3.0.0, but found that my `@RequestScope` beans no longer work.

I created a blank app using Micronaut Launch and was able to narrow the issue down to having Redis enabled for HTTP sessions.

The attached GitHub repo has a minimal reproducible case in `com.example.Application`.

### Actual Behaviour

When hitting a

[2021-09-05 15:53] lwolter opened #6098 "compileGroovy: Unable to load class 'io.micronaut.annotation.processing.visitor.JavaClassElement' after upgrade to 3.0.0"
### Expected Behavior

After upgrading my micronaut groovy project to version 3.0.0 I get the error message without reference to an error location:
`Task :compileGroovy FAILED

FAILURE: Build failed with an exception.

What went wrong:
Execution failed for task ':compileGroovy'.
io/micronaut/annotation/processing/visitor/JavaClassElement

Unable to load class 'io.micronaut.annotation.processing.vi

[2021-09-06 00:12] kahz9918 opened #6099 "Accessing @RequestScope beans from filter throws exception"
### Expected Behavior

In 2.5.0 accessing a @RequestScope bean from a filter worked without a problem but since 2.5.1 and event with the latest 2.5.x it cant find the bean and throws an exception.

### Actual Behaviour

When trying to access the bean from a filter it throws
`io.micronaut.context.exceptions.NoSuchBeanException: No bean of type...`

### Steps To Reproduce

In the example application

[2021-09-06 09:48] sumitaneja opened #6100 "@Body InputStream Blocks nioEventloop when its not read"
### Expected Behavior

When using large payloads say approx 5 mb, Expected to be body read to happen on IO threadpool. Tried Both micronaut 2.5.5 and 2.5.12

application.yaml
[code]

Method Signature
[code]

### Actual Behaviour

When using large payloads say approx 5 mb, body read Happen on NIO thread pool  blocking the event loop.  This cause stuck threads in our application.

application.yaml
[

[2021-09-06 10:17] sumitaneja commented on #6100
[reproducer.zip](https://github.com/micronaut-projects/micronaut-core/files/7115148/reproducer.zip)

[2021-09-06 10:18] sumitaneja commented on #6100
To reproduce run PayloadInputStreamSpec.  In logs can grep on "Server received streaming message "   for thread pool used.

[2021-09-06 10:19] graemerocher commented on #6098
Please attach an example that reproduces the issue

[2021-09-06 13:39] gnefedevMilaboratory opened #6102 "Configurable NettyThreadFactory daemon parameter"
### Feature description

I would like to configure an application with daemon = false.

I used Micronauts to generate HTTP client and it prevents JVM from shutting down without daemon = false.  For now, I override NettyThreadFactory bean.

[2021-09-06 13:47] graemerocher commented on #6100
how is this manifesting as a problem? The event loop is indeed used to read the data but that is correct, do you have an example that demonstrates the stuck threads problem described?

[2021-09-06 13:47] jameskleeh commented on #6100
The thread where that message is printed is not the same as the tread where a block occurs waiting for the data.

This seems related to the logging of the data. I commented out `#      log-level: DEBUG` and the test passes.

[2021-09-06 13:52] jameskleeh commented on #6095
Do you have the micronaut-reactor dependencies on your classpath?

[2021-09-06 13:52] #6092 closed, assigned to sdelamo

[2021-09-06 14:55] sumitaneja commented on #6100
@graemerocher  In our application we have readiness, liveliness enabled and multiple http client calls on every request.

What we have seen is with inputstream as body request get stuck on http client call (if body is not read).

 If we change body to byte[] or read it from stream before making client call, it works.
Trying to create simple reproducer for this.  Will attach thread dump to  for stu

[2021-09-06 14:58] jameskleeh commented on #6100
@sumitaneja If you aren't reading the body then the Netty thread will have to wait because it doesn't buffer. If you want buffering or other advanced behavior then use a reactive stream

[2021-09-06 14:58] sumitaneja commented on #6100
@jameskleeh logging was enabled for diagnostic purposes to see on which thread body was being read.

[2021-09-06 15:01] jameskleeh commented on #6085
@savage-matt-genie PR welcome

[2021-09-06 15:02] sumitaneja commented on #6100
@jameskleeh we need to invoke another library which requires inputstream.  And content can be as large as 1 GB.  so byte array is not an option.
can you point to documentation/example for what you have mentioned above.

[2021-09-06 15:04] graemerocher commented on #6100
@sumitaneja please provider a reproducer. Thanks.

[2021-09-06 15:05] jameskleeh commented on #6100
https://docs.micronaut.io/latest/guide/#bodyAnnotation

[2021-09-06 18:16] jameskleeh commented on #6099
Cannot reproduce with Micronaut 3

[2021-09-06 20:00] mauri-sfdc commented on #1517
@jameskleeh is there a documentation we can refer to in order to configure the declarative http client? the path was completely missed because I couldn't find it anywhere. In the same I tried to contribute by adding that to the documentation but is hard to spot where the reference should be.

[2021-09-06 20:28] jameskleeh commented on #1517
@oscarfh Yes https://docs.micronaut.io/latest/guide/configurationreference.html
@mauri-sfdc Here https://docs.micronaut.io/latest/guide/index.html#clientConfiguration would be a good place to put it

[2021-09-07 02:42] vonZeppelin commented on #6095
Yes, I do:
- `io.micronaut.reactor:micronaut-reactor:2.0.0`
- `io.micronaut.reactor:micronaut-reactor-http-client:2.0.0`

[2021-09-07 05:26] sumitaneja commented on #6100
From micronaut 2.5.5. documentation:

Core Features
IO Stream Support
It is now possible to define a body argument of a controller method with an InputStream. For example @Body InputStream inputStream. Note that you must offload the execution to another thread pool to avoid blocking the event loop when reading the stream. InputStream can also be returned from controller methods. **The stream will

[2021-09-07 05:56] jameskleeh commented on #6100
@sumitaneja That is referring to input streams returned from controllers, however its also not the case but it once was. Thanks for letting us know.

[2021-09-07 06:35] Praytic commented on #4768
Hi @jameskleeh, could you assign this issue to me and approve the workflows?

[2021-09-07 07:22] sumitaneja commented on #6100
[reproducer.zip](https://github.com/micronaut-projects/micronaut-core/files/7119705/reproducer.zip)

Updated reproducer with blocking threads,    IN zip resources under test also contain thread dump.

[2021-09-07 08:20] nandakishorkn opened #6111 "Open up the 2nd port for mTLS or mutual TLS ( two way authentication )"
### Feature description

How to open up 2nd port for mTLS or mutual TLS ( two way authentication ) ?

In DropWizard, We were using applicationConnectors to define dual ports
(a) one port for HTTPS connections ( to do BasicAuth and TokenAuth )
(b) another port for mTLS connections
https://www.dropwizard.io/en/latest/manual/configuration.html#connectors

How do we achieve the same in Micronaut ?

A

[2021-09-07 08:26] nandakishorkn opened #6112 "SSL Reload option is not available in Micronaut"
### Feature description

Does Micronaut allows certificate reload (SSL reload) ? If we change / import a new certificate into public key - Will it auto reload without restarting the application ?

In existing DropWizard Jetty based DCS Application, We are referring to the following for SSL Reload.
https://javadoc.io/static/io.dropwizard/dropwizard-jetty/1.3.9/io/dropwizard/jetty/SslReload.html

Gr

[2021-09-07 10:08] 22dasi1bwi opened #6113 "MDC lost when processes are resumed on a different thread after hitting a suspension point"
### Expected Behavior

Under heavy load MDC keeps correct information after first suspension point.

### Actual Behaviour

Under heavy load MDC loses correct information after first suspension point. See [example application](https://github.com/22dasi1bwi/micronaut-coroutines-context-loss-on-thread-switch) for more information.

Is there a preferred way on how to correctly do this with Reactor in

[2021-09-07 10:49] graemerocher commented on #6112
We would need to allow the SSL configuration in the server to be refreshed

[2021-09-07 14:40] jameskleeh commented on #6100
The test passes for me. Ran it several times

[2021-09-07 15:32] vnesek commented on #4837
We just had the same problem on micronaut 2.5.13 and 3.0.0, stress testing service with 100-200 workers doing multipart fileupload of ~100KB sized files. To trigged it, you'll need at least few dozen parallel requests.

Netty's resource leak diagnostics points out to FormDataHttpContentProcessor:119.
Tried CompletedFileUpload, StreamingUpload as well as byte[] as controller parameters to no avail.

[2021-09-07 15:37] ggerbaud commented on #5743
It seem's logical when looking at `io.micronaut.inject.annotation.internal.JakartaRemapper`.
I guess Micronaut still needs javax.inject.* at runtime to work, but it's a bit weird to not be able to use `hasStereotype` (or similar) with a jakarta.inject.* annotation since it's the trully declared annotation.

Can you use an AnnotationMapper instead of AnnotationRemapper, maybe ?

[2021-09-07 16:13] graemerocher commented on #4837
@vnesek do you have a reproducer?

[2021-09-07 17:33] jameskleeh commented on #6095
This is not specific to Mono. It has to do with how redirects are handled with Void

[2021-09-08 00:23] tandel-pratik opened #6116 "Eager initializing doesn't work with micronaut-grpc clients"
### Expected Behavior

When using micronaut-grpc and `eagerInitSingletons`, the server is able to start up by initializing all singletons properly

### Actual Behaviour

Server doesn't start up and fails with this:

[code]

### Steps To Reproduce

1. Create a micronaut service with micronaut-grpc
2. Set eagerInit to true

### Environment Information

Not relevant

### Example Application

_No resp

[2021-09-08 03:03] noam-alchemy commented on #5680
What's the correct behavior for propagating the pong frame back to the serverside listener?

[2021-09-08 04:37] vnesek commented on #4837
I'll try to post a sample project in next few days.

[2021-09-08 05:09] sumitaneja commented on #6100
This might have some relation with default nioeventloop size, its consistent on my box.  In Spec file you can change max to 20 to increase clients.

[2021-09-08 06:20] graemerocher commented on #6100
I can indeed reproduce with a value of 30. Thanks for the reproducer.

[2021-09-08 06:29] graemerocher commented on #6100
So yeah the input stream is indeed blocking the event loop, I think we need to run the reading of the body data on a different thread. However there is a workaround for your use case since the root cause is that you are using blocking operations on the client. If you want to do this you should configure a different thread pool for client requests like:

[code]

[2021-09-08 06:30] graemerocher commented on #6100
With the above change to the configuration the application behaves correctly although the input stream reading is still happening on the server event loop which may lead to contention so I think we still need to investigate that.

[2021-09-08 07:21] dstepanov opened #6119 "Arrays as generic type arguments not recognized"
### Expected Behavior

Expecting `ClassElement getTypeArguments(AttributeConverter.class.getName())` to return all defined class element for cases like `class MyConverter implementes AttributeConverter<String, byte[]>`

### Actual Behaviour

Nothing is returned

### Steps To Reproduce

This is the code that is extracting type arguments:

https://github.com/micronaut-projects/micronaut-data/blob/ab

[2021-09-08 09:23] #6095 closed, assigned to jameskleeh

[2021-09-08 10:06] graemerocher commented on #6096
I can't reproduce this locally, can you provide the full stack track?

[2021-09-08 10:55] chrisparton1991 commented on #6096
Yep, stacktrace is attached below.

Turns out the issue only occurs if a session cookie is provided that doesn't exist in Redis. This curl command reproduces the issue:
[code]

I was testing in Postman with a stale session cookie and removing the cookie fixed the issue, however I'm still seeing failures in my integration tests that were passing on Micronaut 2.

Stacktrace:
[code]

[2021-09-08 11:41] ilopmar opened #6121 "@Scheduled doesn't work with JDK 17 and 1 CPU"
### Expected Behavior

The `@Scheduled` GraalVM test application should work for GraalVM JDK 17 as it works for both JDK 11 and JDK 16.

### Actual Behaviour

When an application with an `@Scheduled` bean starts on CI the scheduled task is not executed. I haven't able to reproduce it locally and it only fails on CI.
I've also forced the environments `gcp` and `cloud`, as they are enabled on CI` bu

[2021-09-08 14:54] #6116 closed, assigned to nobody

[2021-09-08 19:10] steffenkuche commented on #4735
It is pitty, that this issue is closed. I'm into it as well.

[2021-09-08 19:13] jameskleeh commented on #4735
@steffenkuche I'll try the example above and if it fails I'll reopen

[2021-09-09 02:52] drmaas opened #6124 "MDC propagation from server filters does not work correctly"
### Expected Behavior

1. Add `micronaut-tracing`
2. Set an MDC value in a server filter.
3. The value applies throughout the request/response lifecycle.

### Actual Behaviour

1. Add `micronaut-tracing`
2. Set an MDC value in a server filter.
3. It does not apply - the MDC seen in the controller does not match that in the server filter.

### Steps To Reproduce

Run `MdcPropagationIssueTest` in th

[2021-09-09 03:03] drmaas commented on #6124
I verifed that MDC propagation works correctly in `2.5.0`, but not `2.5.1+`. So something in `2.5.1` is the root cause.

[2021-09-09 03:28] drmaas commented on #6124
Looking at it further, it seems that the removal of `ServerRequestContextFilter` in https://github.com/micronaut-projects/micronaut-core/pull/5329 causes MDC propagation to break. Adding in back into my sample project fixes the discrepancies.

[2021-09-09 03:32] sumitaneja opened #6125 "@io.micronaut.core.annotation.Nullable doesn't work with Inputstream and reactive types like Flowable<byte[]> payload"
### Expected Behavior

Request without body to work if method in controller has @Nullable annotation on Body where body type is inputstream or reactive types.

### Actual Behaviour

Getting 400 bad request
{
    "message": "Required Body [payload] not specified",
    "path": "/payload",
    "_links": {
        "self": {
            "href": "/stream/hello",
            "templated": false
        }

[2021-09-09 05:37] sdelamo opened #6126 "Reactor's context in HTTP Client Filters does not contain the original request for Http client invocations done in a flatMap"
### Expected Behavior

I expect original parent request always to be available in the Reactor's context in HTTP Client Filters

### Actual Behaviour

When having a reactive chain with a `flatMap` the parent request is not present in the Reactor context in the HTTP Client filters invocation for the nested calls.

### Steps To Reproduce

I have [created a PR with a failing test](https://github.com/m

[2021-09-09 07:15] graemerocher commented on #6125
We would need to know the expectation here since we can only bind `null` if we know there is no body and the only way to know there is no body would be to require you to pass a `Content-Length` header of 0

This is different to the `byte[]` case because in that case the framework is responsible for reading the data not you

[2021-09-09 07:56] ilopmar opened #6129 "Maven apps broken after introducing Gradle Catalog Version"
### Expected Behavior

Maven apps should work.

### Actual Behaviour

Maven apps doesn't work when using Micronaut 3.0.2-SNAPSHOT that includes the new Gradle Catalog version.

[code]

### Steps To Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-maven-graal`
- `cd micronaut-maven-graal`
- `git checkout 3.0.x`
- `./mvnw mn:run`

### Environment Information

Linux & JDK 8

[2021-09-09 07:59] ilopmar opened #6130 "Missing dependencies in Catalog Version"
### Expected Behavior

Zipkin-related dependencies should be included in the BOM

### Actual Behaviour

After introducing Gradle Catalog version and running a Micronaut Zipkin app, some dependencies are missing from the bom:

[code]

### Steps To Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-zipkin-graal`
- `cd micronaut-zipkin-graal`
- `git checkout 3.0.x`
- `./gradle

[2021-09-09 08:06] sumitaneja commented on #6125
problem is request is not even reaching controller to do any manipulation.
Micronaut is rejecting this before that

[2021-09-09 08:15] ilopmar commented on #6130
Update:

The following depedencies are missing:

[code]

[2021-09-09 08:21] melix commented on #6130
Tip: you can check the contents of the generated BOM by calling:

`./gradlew :bom:publishAllPublicationsToBuildRepository`

and either open `bom/build/publications/publication/pom-default.xml` or look at the generated repository at `build/repo/io/micronaut/micronaut-bom/3.0.2-SNAPSHOT`.

[2021-09-09 08:35] #6129 closed, assigned to melix

[2021-09-09 08:44] Journeycorner commented on #3122
The message of the root exception is unfortunately localized, german in this case:
`java.io.IOException: Eine bestehende Verbindung wurde softwaregesteuert
durch den Hostcomputer abgebrochen`.

This results in the following Exception: `0:42:28.482 [default-nioEventLoopGroup-1-2] ERROR i.m.h.s.netty.RoutingInBoundHandler - Error writing final response: java.lang.IllegalStateException: cannot send m

[2021-09-09 09:22] #6130 closed, assigned to ilopmar

[2021-09-09 09:40] 22dasi1bwi commented on #6124
Same issue we experienced: See https://github.com/micronaut-projects/micronaut-core/issues/5656

[2021-09-09 09:43] graemerocher commented on #3122
I think we are going to have to make this more extensible or allow plugging in an exception handler or reduce the log level for IOExceptions which are generally unrecoverable anyway

[2021-09-09 09:58] lucaslilja opened #6136 "JdbcIndicator adds url to HealthIndicator on SqlException causing it to print the url to the log"
### Expected Behavior

When you get an SQLException you should NOT see the connection string in the log since it can contain the user and password in clear text.

### Actual Behaviour

HealthResult prints out the connection url in the log since JdbcIndicator adds url as name in the HealthResult builder.
`try {
                    key = dataSource.getClass().getMethod("getUrl").invoke(dataSource).t

[2021-09-09 10:09] Journeycorner commented on #3122
Meanwhile I have implemented a workaround by using a [filter for logback](http://logback.qos.ch/manual/filters.html) to not log both exceptions:

logback.xml:
` ...<filter class="...LoggingFilter".../>`

LoggingFilter.java:
[code]

pom.xml:
`<dependency>
            <groupId>ch.qos.logback</groupId>
            <artifactId>logback-classic</artifactId>
            <version>1.2.3</version>
        <

[2021-09-09 10:25] graemerocher commented on #6136
Where is it output in the log? I don't see in recent versions of Micronaut this data being output to any log

[2021-09-09 13:58] drmaas commented on #5656
@dstepanov I tried this in a server filter -
[code]
and it does not fix the issue.  As mentioned in #6124  the only way to make this consistent was to add back the `ServerRequestContextFilter`.

[2021-09-09 14:04] dstepanov commented on #5656
Not sure if this is a way to do it in 3.0

[2021-09-09 15:08] graemerocher commented on #6112
Draft PR https://github.com/micronaut-projects/micronaut-core/pull/6137

[2021-09-09 15:37] drmaas commented on #5656
@dstepanov what about within `micronaut-tracing` - add a server filter that only applies the MDC and other tracing-related instrumenters (instead of all instrumenters). There could also be an ability to selectively apply only the instrumenters needed, for example, if I want MDC but not zipkin. That would at least address all of these MDC-related tickets. WDYT?

[2021-09-09 16:13] dstepanov commented on #5656
We would probably need to have it somehow in the core because a lot of people are asking for it.

I'm thinking we might need to add some helper service that would be an explicit way to enable propagation:

[code]
 and for Kotlin it should be `withContext`.

I will look at both projects soon.

[2021-09-09 18:23] #6100 closed, assigned to graemerocher

[2021-09-09 19:54] jmongard opened #6138 "MicronautTest property override throws exception starting with Micronaut 3"
### Expected Behavior

The property should be set when running a test method annotated `@Property(name = "name", value="value")` when the
 property is mapped to a class using `@ConfigurationProperties`.
This used to work fine in Micronaut 2 but not in Micronaut 3.
If the property is also set on the test class level it works as expected.

### Actual Behaviour

An exception is thrown:

[code]

### S

[2021-09-09 20:22] jmongard opened #6139 "HttpHostResolver reuturns port -1 if no host header is set"
### Expected Behavior

The port should not be part of the result if it is the default port.

### Actual Behaviour

The host resolver add -1 to the end e.g. "https://www.example.com:-1".

### Steps To Reproduce

Create a new default project using Micronaut Launch.
Run the following test:

[code]

### Environment Information

Windows
JDK11

### Example Application

https://github.com/jmongard/demo

[2021-09-09 21:56] jmongard commented on #6139
I created a PR with an easy fix for this: https://github.com/micronaut-projects/micronaut-core/pull/6140

[2021-09-10 07:48] lucaslilja commented on #6136
Our error message looks like this:
ERROR HealthResult Health indicator [jdbc:sqlserver://some.sql.server:1433;database=a-database;user=vcssql;password=passwordInPlainText;encrypt=true;trustServerCertificate=true;loginTimeout=30] reported exception: java.sql.SQLTransientConnectionException: HikariPool-1 - Connection is not available, request timed out after 30000ms.
We have disabled it with microna

[2021-09-10 07:51] lucaslilja commented on #6136
The source for this is here: https://github.com/micronaut-projects/micronaut-core/blob/3.0.x/management/src/main/java/io/micronaut/management/health/indicator/jdbc/JdbcIndicator.java on line 104

[2021-09-10 07:56] olevold commented on #2231
How is this fixed? I'm running Micronaut 2.5.11 and I'm experiencing exactly the same problem as chrisingenhaag

[2021-09-10 08:25] #6139 closed, assigned to nobody

[2021-09-10 09:23] #5986 closed, assigned to nobody

[2021-09-10 14:09] ilopmar commented on #6121
I've been trying a few more things and I've found the problem.

### Log when it works

[code]

### Log when it doesn't work (on CI)

[code]

On the second we can't find `TRACE i.m.context.DefaultBeanContext - No existing bean found for bean key: @Named('scheduled') TaskScheduler` or anything related to that. It seems that everything that runs on `ForkJoinPool.commonPool-worker` is not executed.

I

[2021-09-10 14:25] graemerocher commented on #6121
Seems we probably need to detect if there is only 1 CPU and run it synchronously if there is 😕

[2021-09-10 14:48] ilopmar commented on #6121
This is something that has been changed in JDK 17 and it's not related to GraalVM. I've build the fatjar locally and run inside Docker:

[code]

It happens the same, it doesn't work. Change that to `openjdk:16-alpine` and it works again...

[2021-09-10 14:53] mancze commented on #5469
I found this issue when searching for "recursive update" problem. After reading description it seems that it might match my problem. I have created a github project on which this should be reproducible (non-deterministically). It is this one: https://github.com/mancze/micronaut-recursive-update-issue . I'm not sure if it has common cause as `@Factory` is not being used in my project.

I'm not sure

[2021-09-10 17:49] #6126 closed, assigned to nobody

[2021-09-10 18:15] jameskleeh commented on #6136
@lucaslilja Just to clarify - The issue is the `getUrl` method right? Would changing that to just

[code]

resolve the issue for you?

[2021-09-10 20:48] glazzari commented on #5469
@graemerocher It looks similar to https://github.com/micronaut-projects/micronaut-core/pull/3632.

I've been facing the same issue in 2.5.5. I have another service running 2.0.3 with no issues. I have a declarative client (which is singleton by default, right?) that calls a service annotated with `@RequestScope`.

I cannot reproduce the issue if I change the service to `@Singleton`.
Can I annotate

[2021-09-10 23:02] glockbender opened #6145 "ExecptionHandler with <Exception> type parameter produces two responses instead of one"
### Expected Behavior

Exception Handler:
[code]

Controller:
[code]

When I make a request to `/sys/readinessProbe`, I expect to get one response with this exception handler typing.

![Снимок экрана 2021-09-11 в 01 40 02](https://user-images.githubusercontent.com/16047417/132924885-78eba3d7-4d9a-474f-9494-e82b2f0f2ed5.png)

Yes, I can change the exception type to RuntimeException and it starts wo

[2021-09-11 08:17] lucaslilja commented on #6136
Yes, that would be much safer in a security perspective since usernames and passwords never should appear in logs. If the url is important for debugging purposes, then it should be truncated to only display the part that shows the url.

[2021-09-12 11:30] nandakishorkn opened #6146 "Need support for @Context to inject SecurityContext"
### Feature description

SecurityContext is an injectable interface that provides access to security related information.

In JAX-RS / jersey implementation, we use @Context to inject SecurityContext directly into the resource method as a parameter. And we refer to it later to fetch the user details from it.

    @POST
    public Response createDatabase(
            @NotNull DBRequest body,

[2021-09-13 08:15] BrianEstrada commented on #4829
Any update on this issue?

[2021-09-13 11:18] graemerocher opened #6149 "@Bean(preDestroy=..) broken for Groovy and interfaces"
### Expected Behavior

Given interface:

[code]

The following should work:

[code]

### Actual Behaviour

Fails with "@Bean method defines a preDestroy method that does not exist" compilation error because `ClassNode.getMethod(..)` in the Groovy AST only traverses super classes not super interfaces

### Steps To Reproduce

See above

### Environment Information

All

### Example Application

N/A

[2021-09-13 11:35] graemerocher opened #6150 "@Bean(preDestroy=..) broken for Groovy interfaces that returns generic types"
### Expected Behavior

Given:

[code]

The following should work:

[code]

### Actual Behaviour

Fails at runtime with:

[code]

### Steps To Reproduce

See above

### Environment Information

N/A

### Example Application

_No response_

### Version

3.0.1

[2021-09-13 17:33] kevin-wise opened #6153 "Inconsistent null handling in ObjectSerializer.serialize implementations"
### Issue description

The default ObjectSerializer.serialize includes this:
[code]
but the JacksonObjectSerializer overrides that method and does not include that logic. As a result, `JdkSerializer.serialize(null)` returns `Optional.empty()` but `JacksonObjectSerializer.serialize(null)` returns `null` (as byte[]).

Not really sure what the behavior should be, but it seems like it should be consis

[2021-09-13 20:13] #6085 closed, assigned to graemerocher

[2021-09-14 00:33] msgilligan commented on #5985
@jeffbrown Have you had a chance to take a look at my additional commits in your test repo?

[2021-09-14 01:39] mattwelke opened #6155 "ExecuteOn with a fixed thread pool doesn't increase concurrency beyond 1"
### Expected Behavior

I expected that my server would be able to process 2 requests in parallel.

### Actual Behaviour

The server was only able to process one request at a time. I had a `Thread.sleep(5000);` line in my controller method and invoked the URL twice at about the same time in my web browser. It took about 5 seconds for the first response to come back and about 10 seconds for the seco

[2021-09-14 08:47] graemerocher opened #6157 "Factory bean with @Named referencing a constant broken in Groovy"
### Expected Behavior

Defining a bean produced by a factory with a `jakarta.inject.Named` qualifier that has a value that is a constant field should work with Groovy code

### Actual Behaviour

Currently the value of the translated `javax.inject.Named` annotation is empty

### Steps To Reproduce

1. Checkout this PR https://github.com/micronaut-projects/micronaut-core/pull/6152
2. Remove the `@Ig

[2021-09-14 10:58] graemerocher commented on #6155
I cannot reproduce your observations personally, two requests in different tabs run in parallel each taking 5 seconds

I modified the code slightly to do this:

[code]

Each each time "Processing" gets printed to the console immediately and when I hit http://localhost:8080/2nd the request is processed immediately.

[2021-09-14 11:04] #6096 closed, assigned to graemerocher

[2021-09-14 11:21] volkerrichert opened #6158 "overlapping routes doesn't work in 3.0.1"
### Expected Behavior

When having two controller with overlapping routes like

- /first/{id}
- /first/{id}/second/{id2}

I expect that both Controller can be called by there routes

### Actual Behaviour

In 3.0.1 only the second route is registered anymore. a Request to the first one will result in a 404

### Steps To Reproduce

- clone https://github.com/volkerrichert/overlappingRoutes
- build &

[2021-09-14 13:52] jameskleeh commented on #6158
I can't reproduce

[code]

[2021-09-14 14:05] jameskleeh commented on #6155
@mattwelke Are you observing this in an environment with limited CPUs?

[2021-09-14 15:00] #6136 closed, assigned to jameskleeh

[2021-09-14 16:03] mattwelke commented on #6155
No, it's a Ryzen desktop processor.

Thanks for taking a look. I eventually figured out that the problem had nothing to do with Micronaut and instead had to do with the client, in this case, the web browser. I ran into an issue described in https://stackoverflow.com/questions/45190458/why-is-my-simple-jetty-server-handling-only-1-request-at-a-time where sometimes, when you use one web browser, you

[2021-09-14 16:05] #6155 closed, assigned to nobody

[2021-09-14 16:18] Majestry commented on #5711
Same problem here.
I write my pet-project to fetch the data from moonraker (firmware for the 3D printers), and it offers the websocket only via ws:// protocol.

My code is quite simple: here is where Client is declared

[code]

And exactly this will produce the next error:

[code]

Unfortunately, the 3d firmware do not offer data via http(s).

[2021-09-14 16:22] volkerrichert commented on #6158
Maybe there is some non deterministic in the order of processing @Controller? I didn't find the code which ist responsible.

[2021-09-14 16:31] volkerrichert commented on #6158
"/routes" also showes just one of both.

Ok, i tried to past it here... but it works fine,

then i comment out `//@Controller("/first/{id}/second")` and none of my controllers are available

[code]

after enbaling secondApiIml again i got

[code]
First contoller is missing.

Commenting and uncommenting `@Controller("/first")`, recompile:

[code]

first available, second missing. both enabled..

[2021-09-14 16:31] volkerrichert commented on #6158
sorry...

[2021-09-14 16:32] volkerrichert commented on #6158
It look like it depends one wich one is changes last.

[2021-09-14 16:34] volkerrichert commented on #6158
YES!!!! If i change both classes and recompile, both are available!

[code]

So try to comment one controller annotaition, compile & run, enbale the one again and rerun....

[2021-09-14 16:35] volkerrichert commented on #6158
Compiling the first time, both are compiled and both are available.

[2021-09-14 16:38] volkerrichert commented on #6158
compiling non incremental will also work fine. So mybe tehre is a issue

[2021-09-15 00:48] andersonzup commented on #4418
`@field:NotNull  @field:JsonFormat(pattern = "yyyy-MM-dd", shape = JsonFormat.Shape.ARRAY) val publicacao: LocalDate`

This way it works, but it returns an array

[2021-09-15 08:22] dstepanov commented on #6113
Can you please explain:
[code]

Are you saying that it does work with those classes added but without it works only 40%?

[2021-09-15 08:47] dstepanov commented on #6124
I have tried to run `MdcPropagationIssueTest` and it's passing for me

[2021-09-15 09:38] dstepanov commented on #5533
As stated above this is not Micronaut related, every call `withContext(MDCContext())` means: collect and propagate context, so for the modifications to be affected the call is required.

[code]

[2021-09-15 09:38] #5533 closed, assigned to dstepanov

[2021-09-15 11:01] ikovalyov opened #6160 "Regression in HttpClient query arguments."
### Expected Behavior

`@Get("/items{?itemId*}")` should encode query parameters in `itemId=1&itemId=2` format

It works fine at `2.5.13` but fails at `3.0.1`

### Actual Behaviour

it encodes it in `itemId=one,two` format

### Steps To Reproduce

[code]

### Environment Information

MN 3.0.1

openjdk 11.0.11 2021-04-20
OpenJDK Runtime Environment AdoptOpenJDK-11.0.11+9 (build 11.0.11+9)
OpenJDK 6

[2021-09-15 11:06] shmish111 opened #6161 "ServerWebSocket new instance not created from same computer"
### Expected Behavior

two tabs in the same browser should instantiate two `@ServerWebSocket` instances

### Actual Behaviour

a different `WebSocketSession` is created for each request however the same `@ServerWebSocket` instance is used (contrary to the documentation), even if different browsers are used. This is not the case across multiple computers which works as expected, multiple instances

[2021-09-15 11:07] ikovalyov commented on #6160
https://github.com/micronaut-projects/micronaut-core/issues/2049

[2021-09-15 13:18] nyilmaz opened #6162 "The body is not read for streaming http client responses that produce an error"
### Expected Behavior

Having seen this issue: https://github.com/micronaut-projects/micronaut-core/issues/2324

Response body should be properly decoded, more specifically We want to map response body to a `Problem`.

https://github.com/nyilmaz/mcnt-demo/blob/master/src/main/java/com/migros/exception/HttpClientExceptionHandler.java#L28-L33

### Actual Behaviour

`exception.response.getBody(class)

[2021-09-15 13:32] graemerocher commented on #6162
You need to specify the `errorType` in your `@Client` declaration. See https://docs.micronaut.io/2.5.11/api/io/micronaut/http/client/annotation/Client.html#errorType--

[2021-09-15 14:04] nyilmaz commented on #6162
@graemerocher in fact errorType is already added: https://github.com/nyilmaz/mcnt-demo/blob/61cafdbf46450f999e87622e5466ca2da95f620b/src/main/java/com/migros/generatedapi/api/v2/DefaultApi.java#L11

[2021-09-16 01:17] thlaegler opened #6165 "Unexpected behaviour with @ConfigurationProperties and Lombok @AllArgsConstructor"
### Expected Behavior

I'm using Lombok on my ConfigurationProperties classes like below and expect it to work:
[code]

### Actual Behaviour

But instead I get the following exception when `MyExampleConfigProperties` gets injected the first time into another bean.

[code]

Now, when I swap the positions of `@NoArgsConstructor` and `@AllArgsConstructor` so that `@NoArgsConstructor` comes first then

[2021-09-16 06:28] graemerocher commented on #6165
Weird Lombok nonsense 🤷‍♂️

[2021-09-16 06:57] dstepanov commented on #6165
That's because MN will choose the first constructor to build the bean and Lombok is respecting the order of the annotations when generating them. Add `@Creator` to `@NoArgsConstructor`'s `onConstructor`

[2021-09-16 06:57] #6165 closed, assigned to nobody

[2021-09-16 07:34] 22dasi1bwi commented on #6113
It worked with those two classes in Micronaut version 2.x (100%) . But it has an error rate of 100% if I keep those two classes in Micronaut version 3.x .
In Micronaut version 3.x I had to remove those two classes to get context propagation work at all. With those two classes gone the success rate raised from 0% to like 40%.

[2021-09-16 10:21] graemerocher commented on #6169
Thread on the topic https://twitter.com/andreasmanner/status/1438245716330225666?s=21

[2021-09-16 15:52] #6158 closed, assigned to nobody

[2021-09-17 07:35] volkerrichert commented on #6158
THX

[2021-09-17 17:16] Reach-NickLavalle opened #6176 "Injection issue with Micronaut Http Client guide running on docker container"
### Expected Behavior

Doing a dockerBuildNative of the Micronaut Http Client would allow me to run the client from a container and still return the releases from the /github/releases-lowlevel URL. Forgive me but I'm new to micronaut so if this is an obvious issue or it's expected the guide won't support a docker container image of it then I apologize.

### Actual Behaviour

The URL returns:
`"Int

[2021-09-17 19:53] Reach-NickLavalle commented on #6176
A discovery I have had is that the dockerBuildNative does **not** copy the application.yml or set the environment variables. Updating my build.gradle piece to this allowed the URL to process.
[code]

Is this something that could be added to the dockerBuildNative command? Does that belong on the plugin repo instead of here?

[2021-09-17 21:32] jchanaud opened #6178 "Regression using ProxyHttpClient in M3.0.1 vs 2.5.x"
### Expected Behavior

ProxyHttpClient doesn't return the body of the proxified request in M3.0.1

In below example :
  1. Declarative Client is defined on ``@Client("/connect-proxy")`` :
  2. I make a request to http://localhost:28134/connect-proxy/connector-plugins (Micronaut itself)
  3. The request is caught by a HttpFilter ``@Filter("/connect-proxy"/**")``
  4. Proxifies the request (add head

[2021-09-17 22:22] test210820 opened #6179 "r2dbc connect mysql error when run in native image"
### Expected Behavior

_No response_

### Actual Behaviour

06:01:01.550 [default-nioEventLoopGroup-1-5] DEBUG i.m.d.r.o.DefaultR2dbcRepositoryOperations - Creating a new Connection for DataSource: default
06:01:01.550 [default-nioEventLoopGroup-1-5] ERROR i.m.http.server.RouteExecutor - Unexpected error occurred: Could not initialize class io.netty.resolver.dns.DnsServerAddressStreamProviders$Def

[2021-09-18 04:14] lost22git opened #6180 "Graalvm native image in micronaut does not seem to be surprisingly improved"
### Issue description

1. windows10
2. jar -> adopt11-hotspot;
3. native-image -> graalvm-jdk11 21.2.0
4. micronaut 3.0.1
5. components
[code]

### launch time spent

fatjar:

![image](https://user-images.githubusercontent.com/65008815/133871650-588da0a4-affa-495e-871d-33bfb1adde96.png)

native image:

![image](https://user-images.githubusercontent.com/65008815/133871641-77d13607-9584-4080-8327-43

[2021-09-18 14:27] lost22git opened #6181 "Request is blocking when filter throw exception"
### Expected Behavior

![image](https://user-images.githubusercontent.com/65008815/133892060-385bf747-a754-4caa-b77b-605c7411fd51.png)

![image](https://user-images.githubusercontent.com/65008815/133892100-bedc43a0-f2c3-4abd-a599-4149bfc5d4db.png)

![image](https://user-images.githubusercontent.com/65008815/133892128-d2c4b4b6-1d3d-4aa7-8e31-dcdab3b36634.png)

### Actual Behaviour

_No response_

#

[2021-09-20 01:25] test210820 commented on #6179
Supplement the warning report at compile time ：

![image](https://user-images.githubusercontent.com/65008815/133949710-afacec1f-0a8d-4c31-8d9a-dca5687ff711.png)

[2021-09-20 09:08] sapanparikh18 commented on #5418
May I take this up @graemerocher ? Seems like it only involves changing an exception message
[code]

[2021-09-20 10:40] ilopmar commented on #6179
Please provide an application that reproduces the issue

[2021-09-20 12:58] #6125 closed, assigned to graemerocher

[2021-09-20 14:25] graemerocher commented on #5418
Yup

[2021-09-20 14:36] sapanparikh18 commented on #5418
@graemerocher I have created a PR

[2021-09-20 19:14] sapanparikh18 commented on #5418
Hi, @graemerocher I had to resubmit the PR because the PR failed due to author & CLA realted issues. Will you please approve it once again so that it can run the workflow?

[2021-09-21 12:21] ikovalyov opened #6189 "Current request is lost in kotlin after `withContext` call"
### Expected Behavior

Request should be restored

### Actual Behaviour

Request is lost

### Steps To Reproduce

[code]

### Environment Information

_No response_

### Example Application

https://github.com/ikovalyov/mn-request-coroutine-bug

### Version

3.0.1

[2021-09-21 12:40] dstepanov commented on #6189
Why do you need `supervisorScope`?

[2021-09-21 12:48] dstepanov commented on #6189
I don't think it has to do anything with Micronaut, we propagate the request using Kotlin context:

[code]

[2021-09-21 13:10] ikovalyov commented on #6189
Yes, the issue here is that previous request is not restored in the `restoreThreadContext`, it is set to `null`.

[2021-09-21 13:17] ikovalyov commented on #6189
Here is source of the `ThreadLocalElement` from the kotlin library, as you can see `restoreThreadContext` should restore previous value, not "null" it.
Thanks.

[code]

[2021-09-21 13:46] ashishkujoy commented on #6181
I would like to work on this.

From initial analysis, look like we are handling any publisher error in `onErrorResume` block, but in the reported issue the filter method is throwing an exception instead of returning a publisher which emit error event.
Ideally, user should instead of throwing exception should be emitting error.

Do micronaut team want to support this case if yes then I can add a fi

[2021-09-21 13:49] ashishkujoy commented on #6181
On a side not, checking the second `filters.isEmpty()` seems redundent,

https://github.com/micronaut-projects/micronaut-core/blob/19fef5801f31a729d88d8df47c3410fbfa442eda/http-server/src/main/java/io/micronaut/http/server/RouteExecutor.java#L316-L327

[2021-09-21 13:53] dstepanov commented on #6189
I see. Thanks!

[2021-09-21 13:57] konrad-kaminski opened #6192 "Double Content-Type header on missing header"
### Expected Behavior

Only one `Content-Type` header should be returned.

### Actual Behaviour

Two `Content-Type` headers are returned.

### Steps To Reproduce

Create a simple endpoint, e.g.
[code]

and run `curl -v http://localhost:8080/test`.

What you get is:
[code]

### Environment Information

JDK 11, MacOS

### Example Application

_No response_

### Version

3.0.1

[2021-09-21 13:59] konrad-kaminski commented on #6192
The problem seems to come from the fact that `contentType` is assigned twice in [HateoasErrorResponseProcessor](https://github.com/micronaut-projects/micronaut-core/blob/v3.0.1/http-server/src/main/java/io/micronaut/http/server/exceptions/response/HateoasErrorResponseProcessor.java#L67):
* once during a call to `body`,
* a second time during an explicit call to `contentType`.

[2021-09-21 14:04] graemerocher commented on #6181
PRs welcome

[2021-09-21 15:10] JasonTypesCodes opened #6193 "Filter annotation is missing patternStyle"
### Expected Behavior

The [3.0.1 User Guide](https://docs.micronaut.io/3.0.1/guide/index.html) states:

From that, I expect `patternStyle` to be available on Filter

### Actual Behaviour

`patternStyle` is not available on [Filter](https://docs.micronaut.io/3.0.1/api/io/micronaut/http/annotation/Filter.html)

### Steps To Reproduce

_No response_

### Environment Information

OS: Debian Linux 10

[2021-09-21 15:23] dstepanov commented on #6113
This is fixed now in 3.1 and BTW `client.exchange(request, String::class.java).awaitFirst()` can be non-blocking `client.exchange(request, String::class.java).asFlow().single()`

[2021-09-21 15:23] #6113 closed, assigned to dstepanov

[2021-09-21 15:24] #6189 closed, assigned to dstepanov

[2021-09-21 16:33] JasonTypesCodes opened #6195 "ProxyHttpClient fails to complete POST requests when proxying a service deployed to Google Cloud Run"
### Expected Behavior

When ProxyHttpClient is proxying a POST request to a service deployed to Google Cloud Run, it should appropriately issue the request and return the response just as it does with a GET request

FWIW, I don't think this is likely specific to Google Cloud Run, but I haven't been able to tease out yet what specifically makes this fail.

### Actual Behaviour

The request never co

[2021-09-21 17:36] ashishkujoy commented on #6192
I think the main issue is here, similar to this method other methods in this class like `headers`,  `contentLength` etc which says that they set the given header, in reality they add the given header resulting in duplicate headers. To fix this issue these `add` call should be replaced with `set`.

Let me know if the proposed solution looks okay, I will submit a PR with fix.

https://github.com/mic

[2021-09-21 17:42] dstepanov opened #6196 "Kotlin's default interface methods aren't recognized as default"
### Expected Behavior

`TypeElementVisitor` is visiting default methods with `isDefault` true

### Actual Behaviour

`TypeElementVisitor` is visiting default methods with `isDefault` false

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

_No response_

### Version

3.0.1

[2021-09-21 17:44] dstepanov opened #6197 "Groovy's traits aren't being visited by `TypeElementVisitor`"
### Expected Behavior

Failed compilation if the trait cannot be used or `TypeElementVisitor` support.

### Actual Behaviour

It looks like implemented methods aren't being visited by `TypeElementVisitor` and Micronaut Data repositories are failing at runtime.

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

_No response_

### Version

3.

[2021-09-21 18:40] drmaas commented on #6124
@dstepanov I miscommunicated - the test iteratively loops and passes. Within the test, log messages are generated that indicate an incorrect mdc attribute (x-api-id). I will look at how to make the test actually fail.

[2021-09-21 19:10] drmaas commented on #6124
@dstepanov I updated the sample app, which shows that `MdcPropagationIssueTest` fails when comparing the MDC value seen in the controller with that seen in the server filter.

[2021-09-21 20:57] konrad-kaminski commented on #6192
The change that introduced this behaviour seems to be the one in [this commit](https://github.com/micronaut-projects/micronaut-core/commit/e1fc5113a8312f48ca991bbb6ccf7d0666be8d73#diff-64a34311eae49ad7bda0055ddbf671bfac7ec7bfbcfebe6a6b0fec7cc63b7ea9R349).

[2021-09-21 21:37] test210820 commented on #6179
Micronaut plugin version=2.0.5 can solve it

[2021-09-21 21:59] #6180 closed, assigned to nobody

[2021-09-22 02:13] burtbeckwith opened #6198 "BOM changes are causing micronaut-starter CI builds to fail"
### Expected Behavior

Success

### Actual Behaviour

Test failures. At least some of them are caused by missing `<property>` elements in the BOM that's parsed in the `micronautVersionInfo` task (https://github.com/micronaut-projects/micronaut-starter/blob/3.0.x/starter-core/build.gradle#L27)

These properties are in the 3.0.1 BOM but not 3.0.2-SNAPSHOT:

- grpc.version
- junit5.version
- kotlin.c

[2021-09-22 06:41] #5418 closed, assigned to nobody

[2021-09-22 07:38] #6198 closed, assigned to melix

[2021-09-22 07:46] 22dasi1bwi commented on #6113
@dstepanov
Thanks for the fix. Can't wait to try it out! :smiley:

I thought `awaitFirst()` would be non-blocking, too? That's at least what the documentation says:

`Awaits the first value from the given publisher without blocking the thread and returns the resulting value, or, if the publisher has produced an error, throws the corresponding exception.`

Would you mind explaining?

Thanks!

[2021-09-22 07:58] #4768 closed, assigned to nobody

[2021-09-22 07:58] graemerocher commented on #4768
Thanks for the contribution!

[2021-09-22 08:37] dstepanov commented on #6113
Ah now I look at it and it doesn't look blocking 🤷‍♂️ Sorry
You can try the 3.1 snapshot

[2021-09-22 09:00] ilopmar commented on #6193
I think this is the related PR: https://github.com/micronaut-projects/micronaut-core/pull/5954. It is included in 3.1.x but not in 3.0.x

[2021-09-22 09:14] ikovalyov commented on #6160
It works without `@RequestAttribute` annotation

[2021-09-22 09:20] dstepanov commented on #6124
It looks like `Flowable.fromPublisher` doesn't capture context because the publisher is actually `Flowable` as well.
The working code is this:
[code]
 Notice how `MDC.remove`, that's the correct way how to cleanup the current thread.

I will close this one, in v3 we already switched to Reactor and further fixes and improvements should be there.

[2021-09-22 09:20] #6124 closed, assigned to nobody

[2021-09-22 09:26] 22dasi1bwi commented on #6113
Alright. I'm glad we're on the same page :smiley:

I tried out 3.1 with my sample project and it is indeed working as expected! Nice :) . I updated the [readme](https://github.com/22dasi1bwi/micronaut-coroutines-context-loss-on-thread-switch/blob/master/README.md) based on the newest changes, just in case somebody else is stumbling over this issue.

Thank you very much for the support on this @dst

[2021-09-22 12:19] graemerocher commented on #6160
In that case I don't think this is a bug. `@RequestAttribute` binds request attributes not uri variables

[2021-09-22 12:19] #6160 closed, assigned to nobody

[2021-09-22 15:44] jameskleeh commented on #6192
@ashishkujoy Looks good to me. PR welcome. Also need a test

[2021-09-22 15:51] drmaas commented on #6124
Confirmed this works, thanks @dstepanov

[2021-09-22 16:33] #6193 closed, assigned to jameskleeh

[2021-09-22 16:37] jameskleeh commented on #6145
Please upload a sample application that reproduces the issue

[2021-09-23 11:24] ilopmar opened #6205 "Discovery Client Consul not working with GraalVM and Micronaut 3.1.0-SNAPSHOT"
### Expected Behavior

Discovery Client Consul should work with GraalVM and Micronaut 3.1.0-SNAPSHOT

### Actual Behaviour

When sending a request that uses discovery client Consul the application fails with a Jackson error. It works with Micronaut 3.0.1.

I'm not sure if this changes are related to the new Jackson work @yawkat has been working on:

[code]

### Steps To Reproduce

- `git clone htt

[2021-09-23 13:10] yawkat commented on #6205
will take a look

[2021-09-23 18:15] #6195 closed, assigned to jameskleeh

[2021-09-23 20:31] #6192 closed, assigned to nobody

[2021-09-23 21:55] nyilmaz commented on #6162
@graemerocher tested with 3.x with `errorType` response body still `Optional.empty`. Also updated test repository.

[2021-09-23 22:25] chrisparton1991 opened #6210 "Outdated documentation for JDBC Transaction management"
### Expected Behavior

Create a new project using https://launch.micronaut.io. Default settings, but with `jdbc-hikari` added

### Actual Behaviour

The docs are outdated around the "Using Spring Transaction Management" section.

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

https://github.com/chrisparton1991/micronaut-transaction-test

[2021-09-23 22:55] mstein opened #6211 "@Introspected on abstract class does not list annotations on properties if a @Creator is not defined"
### Expected Behavior

It's kind of a follow up to #6054. While the issues described there were indeed fixed, I have encountered another case in which the resulting introspection is inconsistent.
Consider the following abstract class (Case 1):
[code]
If I retrieve a `BeanIntrospection` for this class and try to list the annotations for the property `name`, this should work :
[code]

### Actual Beh

[2021-09-24 06:45] graemerocher commented on #6162
perhaps the response could not be decoded into the specified type

[2021-09-24 08:15] #5223 closed, assigned to nobody

[2021-09-24 08:37] #6205 closed, assigned to yawkat

[2021-09-24 10:44] graemerocher opened #6218 "Changes to default error handling not working correctly with Native Image"
### Expected Behavior

JIT and native response should be the same for 404.

JIT response:

[code]

### Actual Behaviour

Native Response:

[code]

### Steps To Reproduce

Build any app with native and access a page that is not there

### Environment Information

_No response_

### Example Application

_No response_

### Version

3.0.1

[2021-09-24 13:44] #6218 closed, assigned to yawkat

[2021-09-24 13:48] ivangfr opened #6220 "Exception with message "No identifier specified for entity" is thrown at startup of a Docker native image"
### Expected Behavior

Application should startup correctly as when it was happening in the previous versions (before `3`)

### Actual Behaviour

Application throws the following exception
[code]

### Steps To Reproduce

- git clone https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot.git
- cd graalvm-quarkus-micronaut-springboot/jpa-mysql
- docker-compose up -d
- cd micronaut-jpa-mysql

[2021-09-24 15:28] mrugesh-roambee opened #6221 "Ensure the class is annotated with Introspected"
### Expected Behavior

`@Audited ` on any entity should audit that entity.

### Actual Behaviour

Error I get: Ensure the class is annotated with Introspected even if I add annotation `@Introspected` on my entityThe error

### Steps To Reproduce

Steps are listed here:
https://stackoverflow.com/questions/69315854/ensure-the-class-is-annotated-with-introspected

### Environment Information

[code]

[2021-09-24 17:57] jameskleeh commented on #6178
Can you try with 3.0.2?

[2021-09-24 20:44] cemo commented on #6162
@graemerocher this is a serious issue on our side. We are also using [micronaut-problem](https://github.com/micronaut-projects/micronaut-problem-json/). Not only external services but also internal services as well.  Return **problem** and not resolving it is a serious problem. I could not understand why it is empty by the way in the first place but if a response has a body it must be handled.

[2021-09-25 11:31] sapanparikh18 commented on #5607
@ilopmar micronaut-coherence seems to be using micronautVersion = '3.0.1' already along with
Gradle 7.1, and build plugin 4.1.1

[2021-09-25 16:58] sapanparikh18 commented on #2660
Hi @jameskleeh I wrote a test case that looks like the following

[code]

It seems to be passing, I also did a little more digging and found that

JavaElementFactory already returns the appropriate (enum) type. Here is the method from there

[code]

Same applies to Groovy classes. Are we missing anything?

[2021-09-25 19:24] graemerocher commented on #2660
Yeah this logic has been refactored and now works as expected. Thanks for investigating

[2021-09-25 19:24] #2660 closed

[2021-09-26 16:09] bacca87 opened #6225 "S3 multipart upload: StramingFileUpload and PartData chunks minimum size"
### Issue description

I need to upload large files on AWS S3 using multipart upload and i encountered an issue regarding the minimum data chunk size required by S3.
When i try to upload a file using StreamingFileUpload i get the following error:

`S3Exception: Your proposed upload is smaller than the minimum allowed size (Service: S3, Status Code: 200, Request ID: ...`

After some searches i foun

[2021-09-26 23:38] chrisparton1991 commented on #6096
I can confirm the issue is resolved in 3.0.2, both in tests and regular execution. Appreciate the rapid fix!

[2021-09-27 01:38] chrisparton1991 commented on #6210
It looks like the annotation processor isn't generating the `$InterceptedDefinition` classes. The regular `$HelloController$Definition` class etc. are being generated, so the annotation processor is running.

[2021-09-27 08:23] FrogDevelopper opened #6226 "bootstrap.yaml not recognized"
### Expected Behavior

whatever the file extension name (yaml or yml), the file should be loaded

### Actual Behaviour

When the bootstrap file extension is **yaml**, it is not recognized and so not loaded when starting app

### Steps To Reproduce

1. Create a simple micronaut project
2. add a _bootstrap.yml_ file
3. launch the app and see that the file is recognized

4. rename the file from _boot

[2021-09-27 08:32] jchanaud commented on #6178
Same behavior in 3.0.2
[code]

[2021-09-27 08:59] graemerocher commented on #6210
so Spring is no longer needed for transaction management so this documentation is indeed out of date.

If you do want Spring transaction management I believe you need to add `micronaut-spring-annotation` to your `annotationProcessor` classpath

[2021-09-27 09:02] #6149 closed, assigned to jameskleeh

[2021-09-27 09:18] #4317 closed, assigned to nobody

[2021-09-27 09:24] chrisparton1991 commented on #6210
Thanks, I'd be more than happy to use Miconaut's transaction management and remove Spring.

Is there a particular annotation/dependency required to use Micronaut transactions? I can only see Spring-based docs in the `hibernate-sql` guide.

Today I was able to get Spring transactions working in a v2->v3 project migration so it's no longer urgent for me.

[2021-09-27 09:45] ilopmar opened #6228 "Error in `IntrospectedTypeElementVisitor` with Micronaut 3.1.0-SNAPSHOT"
### Expected Behavior

It should work without any error using Micronaut 3.1.0 as it works with 3.0.x

### Actual Behaviour

The Micronaut jOOQ GraalVM application fails during compilation with the error:

[code]

### Steps To Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-jooq-graal`
- `cd micronaut-jooq-graal`
- `git checkout 3.1.x_h2`
- `./gradlew classes`

### Enviro

[2021-09-27 10:30] dstepanov commented on #6228
This should be fixed by https://github.com/micronaut-projects/micronaut-core/pull/6227

[2021-09-27 10:43] ilopmar commented on #6228
Thanks. I've tried locally and it works now :)

[2021-09-27 10:43] #6228 closed, assigned to nobody

[2021-09-27 12:14] huyichao123456 opened #6231 "Get Kubernetes dictionary information"
### Feature description

Micronaut How to obtain Kubernetes dictionary information

[2021-09-27 13:18] #6231 closed, assigned to nobody

[2021-09-27 13:38] jameskleeh commented on #6225
I don't see this as a feature we should implement. You can buffer the data yourself

[2021-09-27 16:03] #6150 closed, assigned to jameskleeh

[2021-09-27 16:52] jameskleeh commented on #6162
If you want to be able to deserialize DefaultProblem you need the problem jackson module. To get that, add

[code]

to your dependencies

[2021-09-27 16:53] #6181 closed, assigned to nobody

[2021-09-27 17:10] cemo commented on #6162
@jameskleeh

We had updated the sample to demonstrate the error. Check test cases. There are 2 cases now. One of them are blocking other one is non-blocking.

https://github.com/nyilmaz/mcnt-demo/blob/master/app/src/test/java/com/migros/McntDemoTest.java

Nonblocking errors are returning empty body.

[2021-09-27 17:12] jameskleeh commented on #6162
You need to read the body in the `onError` handler

Edit: false positive

[2021-09-27 18:20] jameskleeh commented on #6178
The application linked has a ton of stuff going on. Can you reproduce the issue in a sample application?

[2021-09-27 19:00] jameskleeh commented on #6161
Are you certain about that?

[2021-09-27 19:03] jameskleeh commented on #6161
Classes annotated with `@ServerWebSocket` are by default singletons per: https://github.com/micronaut-projects/micronaut-core/blob/3.0.x/websocket/src/main/java/io/micronaut/websocket/annotation/ServerWebSocket.java#L42

I do see in the documentation "By default, a unique `@ServerWebSocket` instance is created for each WebSocket connection. ", however it seems that documentation is incorrect.

Try

[2021-09-27 22:02] SolomanDavis commented on #5218
Is there any update on this? I still see this in a micronaut + kotlin + gradle multi-module project. There is only 1 module however it is formatted as a multi-module project.

[2021-09-28 10:09] ilopmar opened #6238 "Custom RecoveryInterceptor doesn't seem to work"
### Expected Behavior

It should be possible to have a custom `RecoveryInterceptor` that extends and replaces the one existing in core.

### Actual Behaviour

Creating the following custom recovery interceptor doesn't seem to work because it's not called:

[code]

### Steps To Reproduce

- `git clone https://github.com/micronaut-core-issues-test-app/recoveryinterceptor`
- Run the test, it fails be

[2021-09-28 10:20] bacca87 commented on #6225
I understand your point of view, but does it make sense to produce more than 600 PartData for a file of 6MB?
I'm not an expert in the field, but if AWS puts a limit on this data chunks, maybe they have good reasons to do that...

[2021-09-28 10:30] graemerocher commented on #6225
Not tried but you may be able to configure the Netty channel option to alter the receive buffer size https://netty.io/4.1/api/io/netty/channel/ChannelOption.html#SO_RCVBUF using `micronaut.server.netty.child-options`

see https://docs.micronaut.io/latest/guide/configurationreference.html#io.micronaut.http.server.netty.configuration.NettyHttpServerConfiguration

Note that globally configuring a buf

[2021-09-28 11:01] graemerocher commented on #6238
Can you try add `@InterceptorBean(Recoverable.class)` to your new interceptor?

[2021-09-28 11:10] ilopmar commented on #6238
Yes, that makes it work! :tada:

[2021-09-28 12:21] graemerocher commented on #6238
Maybe a documentation issue then

[2021-09-28 13:31] denis111 opened #6239 "shareNext() doesn't work for controller input body as Flux<byte[]>"
### Expected Behavior

I'd like to take first bytes of input body to process it but then read whole input body of Flux<byte[]>:

[code]

Calling `curl -X PUT -T build.gradle http://localhost:8080/test` should return "ok".

I'm nor sure if it's really a bug or intended behaviour, in the latter case how could I then do multicasting the input flux to multiple consumers without putting all the input r

[2021-09-28 21:48] bacca87 commented on #6225
Thanks for the tips, but at the moment i used an easier way to achieve that: Flux.bufferUntil() It does the job to buffer the parts and then send it to the S3 bucket. I can share my code if it can help.

[2021-09-29 06:50] graemerocher commented on #6225
Would be great so others know how to find a solution

[2021-09-29 14:00] jameskleeh commented on #6238
@ilopmar Can you identify what should be added or changed in the docs?

[2021-09-29 14:00] #6225 closed, assigned to nobody

[2021-09-29 14:33] ilopmar commented on #6238
@jameskleeh yes, I'll submit a PR and we can continue from there.

[2021-09-29 18:29] jameskleeh commented on #6089
@David-16 Can you try with 3.0.2?

[2021-09-29 18:30] #6084 closed, assigned to jameskleeh

[2021-09-29 18:46] #6062 closed, assigned to nobody

[2021-09-29 19:05] #6065 closed, assigned to jameskleeh

[2021-09-29 19:05] #6157 closed, assigned to jameskleeh

[2021-09-29 19:10] DMouse10462 opened #6246 "UriBuilder/UriTemplate.PATTERN_FULL_URI: Query Parameters Parsed as Part of Path"
### Expected Behavior

When using `UriBuilder` to add query parameters to a URI that already has query parameters, the RegEx within `UriTemplate.PATTERN_FULL_URI` should recognize the query parameters as query parameters.

For example, `UriBuilder.of("https://google.com/search?q=TESTING")` should interpret a `path` of `"/search"` and a `queryParams`  with the key/value pair of `[q: "TESTING"]`.

#

[2021-09-29 20:44] jchanaud commented on #6178
Hello @jameskleeh

Took me more time than I thought.
https://github.com/twobeeb/demo-http-proxy

Check both tests : only one property change to enable/disable my Error handling controller

[2021-09-30 09:50] meredrica commented on #4735
We also just also ran into this. Anyone has a workaround?

[2021-09-30 10:04] sayandigital commented on #4735
additional Optional can be used as a workaround to handle the scenario Optional<String> instead of only String

[2021-09-30 10:46] DontPlayTheGame opened #6252 "--list-features option is gone?"
**EIDIT : My bad!**
mn> create-app --list-features works

Can someone close this please?

========

Is the --list-features option gone?
[code]
however it is (still) mentioned in the CLI

[code]

### Version

3.0.x

[2021-09-30 11:01] #6252 closed, assigned to nobody

[2021-09-30 14:31] ashishkujoy commented on #6246
I would like to raise PR for this.

[2021-10-01 07:47] cbeams commented on #5005
@graemerocher wrote:

True regarding browser support, but I assume many Micronaut users are building for machine-to-machine use cases where a browser is never involved. That's my use case anyway, and I'd like to get HTTP/2's compact wire format and connection reuse without being required to use TLS.

Could you elaborate? I researched this a bit today in the Netty repo, and I gather that folks are

[2021-10-01 07:59] graemerocher commented on #5005
Hi Chris! Nice hearing from you, hope everything is well on your end. The issue is the same as this one with Spring https://github.com/spring-projects/spring-boot/issues/19460 which points back to https://github.com/netty/netty/issues/7079

Having said that it is a while since we looked this and maybe the underlying Netty APIs have evolved / been fixed so probably worth having another debugging se

[2021-10-01 08:01] graemerocher commented on #5005
@yawkat next time you have cycles please take a crack at resolving this Netty issue

[2021-10-01 08:26] cbeams commented on #5005
Thanks, @graemerocher (and thanks in advance, @yawkat)!

Regarding the linked Spring and Netty issues, they talk about issues completing an h2c upgrade where a request has a body, e.g. a POST, and that such an issue on the Netty side can be solved through configuration.

In my case, though, I see the reported behavior when there is neither an upgrade request nor a request body involved.

Here are

[2021-10-01 18:12] #6226 closed, assigned to jameskleeh

[2021-10-01 18:17] athkalia opened #6261 "Error decoding stream for type [class io.reactivex.Single] with Micronaut 3 and GraalVM in AWS Lambda"
### Expected Behavior

I am using an RxJava 2 `io.reactivex.Single` type as return type of a Micronaut declarative HTTP client (with annotation `@Client`). An example looks like this:

[code]

(I do need to import the dependencies `io.micronaut.rxjava2:micronaut-rxjava2-http-client` and `io.reactivex.rxjava2:rxjava` )

This works fine, except when I am using the native GraalVM images. Then I get t

[2021-10-01 18:42] jameskleeh commented on #6178
The issue is that a blocking call on a client isn't expecting a streaming response which is what is returned when the proxy client is involved

[2021-10-01 22:32] msgilligan commented on #5985
Confirmed this is still failing in Micronaut 3.0.3.

[2021-10-02 10:44] luolong commented on #5138
I would like to resurrect this issue.

Any hope for getting OpenTelemetry support into Micronaut?

With OpenTelemetry 1.0 release, OpenTracing support can officially be considered to be superceeded by OpenTelemetry project.

[2021-10-02 11:26] graemerocher commented on #5138
Now that it has reached 1.0 perhaps it is time to move. The open tracing being a supposed standard and then being abandoned fiasco really tarnished my view of any software starting with the word Open

[2021-10-02 11:30] Kidlike opened #6265 "Spotbugs error with Introspection and javax validation"
### Steps to Reproduce

(also explained in git-repo: https://github.com/Kidlike/mn-spotbugs-sample)

- Start from a clean project generated by micronaut-cli version 3.0.3 with `mn create-app --build=maven mn-spotbugs-sample`
- Add a `@NotBlank` validation and spotbugs maven plugin
- Run `mvn clean install`

### Expected Behaviour

The maven build should not fail; more specifically the spotbugs plu

[2021-10-02 15:03] luolong commented on #5138
I would argue it was not so much abandoned as evolved and superseded.

I would say, the move to unify and two open projects in same space into a single standardization effort is commendable and carries more of a promise than potential of having two competing standards vying for market- and mindshare.

[2021-10-02 18:14] marcosflobo opened #6266 "Could not resolve placeholder running GraalVM Native Image"
### Expected Behavior

Using the application from the repository provided.

When I run my application with
[code]
And then I do a `$ curl http://localhost:8080/tweets` it works as expected

However, If I build the Native Image
[code]

And run the binary
[code]
And then I do a `$ curl http://localhost:8080/tweets` it should work as expected as well, but it does not

**NOTE**: To see the exception,

[2021-10-02 19:05] marcosflobo commented on #6266
Same problem with Micronaut version `3.0.3`

[2021-10-04 06:43] ilopmar opened #6267 "NoSuchMethodError in io.micronaut.annotation.processing.visitor.JavaClassElement using 3.1.0-SNAPSHOT"
### Expected Behavior

A simple Micronaut application should compile.

### Actual Behaviour

When using latest 3.1.0-SNAPSHOT the application fails to compile with:

[code]

I think this error is related with the changes done in https://github.com/micronaut-projects/micronaut-core/pull/6230

### Steps To Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-basic-app`
- `cd mi

[2021-10-04 07:16] graemerocher commented on #6267
it is probably because `openapi` is using internal APIs again, we really need to move it away from that

[2021-10-04 08:16] graemerocher commented on #6111
Supported by https://github.com/micronaut-projects/micronaut-core/pull/6152

[2021-10-04 08:16] #6111 closed, assigned to graemerocher

[2021-10-04 08:19] graemerocher commented on #5991
@yawkat another one for you to look into whilst you look at the other HTTP/2 issue

[2021-10-04 08:20] graemerocher commented on #5708
Supported in 3.1

[2021-10-04 08:20] #5708 closed, assigned to nobody

[2021-10-04 08:21] graemerocher commented on #5680
@yawkat another one to your list :)

[2021-10-04 09:03] graemerocher commented on #6266
@dstepanov can you look at this one

[2021-10-04 11:40] mrSingh007 opened #6269 "Error subscribing to @OnClose handler for WebSocket bean [..Controller] Broadcast Failure: null"
### Expected Behavior

_No response_

### Actual Behaviour

When in a browser more then 4/5 tabs are opened and connected with socket. On Closing browser this following exception is thrown.

[code]

### Steps To Reproduce

Create some sockets in Browser and then close the browser tab. Example
[code]

### Example Application
This exception only occur if we have 'close' annotation method.

https://g

[2021-10-04 13:53] Kidlike opened #6271 "JsonValue/JsonCreator annotations do not work in enums when compiled with GraalVM"
### Expected Behavior

When adding `@JsonValue` or `@JsonCreator` annotations inside an enum, they work as expected with a normal jar build, but not with a native-image build (graalvm). When running a native-image, it's like these annotations were never there.

### Actual Behaviour

The behavior of Jackson annotations should be the same between jar and native-image builds.

### Steps To Reproduce

[2021-10-04 13:55] Kidlike commented on #6271
I also saw [this discussion on gitter](https://gitter.im/micronautfw/questions?at=5ef5d2f03a0d3931fab586e7), and I tried using `@Creator` instead of `@JsonCreator`, but there was no change :(

[2021-10-04 14:16] graemerocher commented on #6271
the `JsonCreator` method has to be static

[2021-10-04 14:30] Kidlike commented on #6271
@graemerocher Thanks for the suggestion, but I just tried it and unfortunately that also has the same results :(

[2021-10-04 14:35] graemerocher commented on #6271
Probably in the meantime you can workaround by annotating your classes with `@ReflectiveAccess`

[2021-10-04 15:12] Kidlike commented on #6271
yes, `@ReflectiveAccess` on the enum works! :tada: Thanks! :+1:

---

I tried to find online what does it mean for the application to add this annotation, but I couldn't find much... I can understand why it's needed, but I thought that Reflection doesn't exist in GraalVM (which now looks like it's wrong).
Is there any resource that could enlighten me? :blush:

[2021-10-04 15:54] ilopmar commented on #6271
@Kidlike You have some docs about how Micronaut and GraalVM work together here: https://docs.micronaut.io/latest/guide/index.html#graal

Besides that, GraalVM supports reflection but it needs to be configured.

[2021-10-04 18:00] Kidlike commented on #6271
@ilopmar Thanks, I would also be interested in anything that explained how GraalVM deals with reflection in more detail.

[2021-10-04 18:33] Kidlike commented on #6271
hm... Is it somehow possible to specify `@ReflectiveAccess` for a 3rd party class? In the same way that it's possible with `@Introspected(classes=...)` ?

[2021-10-04 19:15] achaphiv opened #6272 "Version 3.x Regression: Http client fails to deserialize `Mono`"
### Expected Behavior

As of v3.0.3.

I attempted to upgrade my app from 2.x to 3.x.

It broke on usages of `Mono`.

I expected it to work how it did in Micronaut v2.x with `micronaut-reactor-http-client`.

[code]

### Actual Behaviour

Instead it causes this exception:

[code]

### Steps To Reproduce

1. `git clone https://github.com/achaphiv/issue-micronaut-http-client-mono`
2. `./gradlew test`

[2021-10-04 20:25] Kidlike commented on #6271
Nevermind, I figured out that I can use `@TypeHint` :)

[2021-10-05 02:07] stevenzyang commented on #6178
We are seeing a similar issue where after upgrading from 2.5.x to 3.0.2, ProxyHttpClient returns an empty body for the response

[2021-10-05 05:33] #5797 closed, assigned to nobody

[2021-10-05 08:18] graemerocher opened #6277 "Jackson + Records requires reflection configuration"
### Expected Behavior

Should work without reflection configuration

### Actual Behaviour

Fails with:

[code]

### Steps To Reproduce

1. Create a JDK 17 Record and annotate it with `@Introspected`
2. Serialize to JSON

### Environment Information

_No response_

### Example Application

_No response_

### Version

3.0.3

[2021-10-05 08:48] sdelamo opened #6278 "CORS headers are not being added when exceptions are thrown."
### Expected Behavior

CORS headers are present when exceptions are thrown

### Actual Behaviour

CORS headers are not present

### Steps To Reproduce

Given an exception:

[code]

Create a controller which throws an exception:

[code]

And an Error Handler:

[code]

The following test fails because CORS header is not present:

[code]

We supported this in Micronaut 2 in the AWS module:

https://g

[2021-10-05 10:03] sdelamo commented on #6278
Not an issue

[2021-10-05 10:03] #6278 closed, assigned to nobody

[2021-10-05 19:48] #6066 closed, assigned to burtbeckwith

[2021-10-05 21:01] jameskleeh commented on #6272
`micronaut-reactor-http-client` is for injecting instances of `ReactorHttpClient`.  The `micronaut-reactor-http-client` dependency brings in `micronaut-reactor`, however you have neither of those dependencies on your classpath in that example application and that is why it doesn't work.

[2021-10-05 21:01] #6272 closed, assigned to nobody

[2021-10-06 03:17] achaphiv commented on #6272
https://github.com/micronaut-projects/micronaut-reactor says:

So is this actually still needed for 3.x? I thought the support was supposed to be built-in.

[2021-10-06 03:35] jameskleeh commented on #6272
Yes it is still needed. That documentation is out of date

[2021-10-06 07:21] yawkat opened #6282 "h2c not supported by streaming client"
### Issue description

The h2c client does not currently support streaming responses. This is covered by the test cases marked 'pending' in #6270.

The cause of this issue is that the final `HttpStreamsHandler` is added to the end of the pipeline only after the h2c upgrade has completed. This means it is placed downstream from the handlers that are actually supposed to accept the `HttpResponse`. T

[2021-10-06 08:08] yawkat commented on #5680
@graemerocher This needs new API for receiving websocket pongs. `javax.websocket` does this by allowing an `@OnMessage` method that accepts a [`PongMessage`](https://docs.oracle.com/javaee/7/api/javax/websocket/PongMessage.html). However this is difficult to implement given our existing `OnMessage` handling that currently only allows one such method. I thought about implementing it as a `WebSocket

[2021-10-06 09:02] graemerocher commented on #5680
seems like you should be able to define an overridden `@OnMessage` handler that takes `Ping/PongMessage` the `WebSocketBean` API then needs extending to with additional methods like:

[code]

Which can be disambiguated by the presence of the appropriate argument

[2021-10-06 09:21] yawkat commented on #5005
This particular bug should be fixed now, but there are still outstanding issues with the h2c support.

[2021-10-06 09:21] #5005 closed, assigned to yawkat

[2021-10-06 09:25] cbeams commented on #5005
Great, @yawkat, thanks! Looking forward to trying out the snapshot.

Could you elaborate? Is it reasonable to expect that many/most typical use cases should work under `h2c` now, or are the issues in question more significant than that?

[2021-10-06 09:45] candrews-ns opened #6284 "Using ProxyHttpClient from a Controller produces response with empty body"
### Expected Behavior

Using ProxyHttpClient from a Controller like this:

[code]

should return a correct response, like substantially the same code does when used in a Filter, per the documentation - https://docs.micronaut.io/latest/guide/index.html#proxyClient

This is an example of ProxyHttpClient working correctly, used in a Filter, in the repro application I've provided for this issue:

[cod

[2021-10-06 10:03] yawkat commented on #5005
One issue I found is #6282. The h2c implementation (by necessity) has some pretty special properties because of the upgrade mechanism required, and this is leading to downstream issues like this. It is also not well-tested right now.

We discussed this internally and with potential changes on the standards and netty side of things h2c isn't really something to recommend. It is better to stick to n

[2021-10-06 10:03] cbeams commented on #5005
I just tried out the fix, and the good news is that http2 over cleartext (h2c) now works as expected, e.g.:

[code]

However, it works if and only if there is an upgrade request involved, as there was in the example above. If, alternatively, I make the equivalent request directly via HTTP/2 (see the `--http2-prior-knowledge` flag below), the response hangs as originally reported:

[code]

[2021-10-06 10:47] cbeams commented on #5005
Just to clarify, "normal http2" above is referring to `h2`, aka HTTP2-over-TLS, which is the only approach that browsers support today.

Given this constraint, it does indeed make sense in most cases to recommend that folks stay away from h2c and go with h2. I'd like to make the case, though, why it's still worth providing first-class support for h2c in Micronaut.

The first reason is for local ne

[2021-10-06 11:07] cbeams commented on #6085
I just upgraded my application from 3.0.3 to 3.1.0-SNAPSHOT while testing @yawkat's fix for #5005, and I noticed that my tests started to fail, saying that they couldn't bind to port `-1`.

Strange, I thought, because I had specifically set up my `application-test.yml` file to override the default `micronaut.server.port` value to `-1` in order to ensure my tests' `EmbeddedServer`s bind to a random

[2021-10-06 12:43] graemerocher commented on #6085
@cbeams I am struggling to reproduce the behaviour you mention. These are the steps I undertook:

1. Modify `application.yml` as follows:

[code]

2. modify `application-test.yml` as follows:

[code]

3. Run the tests

I see the port bound to is a random one. Do you have any additional info to describe your setup?

[2021-10-06 15:09] aleksandrsvoboda commented on #6089
This happened to me recently as well. We are using a @Filter annotation from micronaut to proxy requests. After upgrading from micronaut 2.5.5 to anything above POST and PUT requests in wiremock tests return with `io.micronaut.http.client.exceptions.ReadTimeoutException: Read Timeout`. When running the actual service the same POST and PUT calls just never finish executing. Probably a bad solution,

[2021-10-06 15:12] jameskleeh commented on #6089
@aleksandrsvoboda If you can reproduce in a sample application please upload it here

[2021-10-06 15:13] aleksandrsvoboda commented on #6089
@jameskleeh will do, thanks for a quick reply.

[2021-10-06 15:18] jameskleeh commented on #6284
ProxyHttpClient is meant for proxying requests. That isn't what is being done in this case:

[code]

Simply use a regular `HttpClient`

[2021-10-06 15:31] jameskleeh commented on #6085
@cbeams We didn't have a test for this actually so I added one and it passes. https://github.com/micronaut-projects/micronaut-core/commit/f8c84bd08e4f102c90b9213bead327c14d332145

If you can reproduce in an example application please create a new issue

[2021-10-06 15:55] yawkat commented on #5991
Should be fixed now.

@jonnii I think your first error is just related to a self-signed certs. Please check that the main issue is fixed. If the certificate_unknown part still persists but the main issue is fixed, please submit it separately – though I would say it is intended.

[2021-10-06 15:55] #5991 closed, assigned to yawkat

[2021-10-06 15:59] candrews-ns commented on #6284
It looks like in simplifying the repro case here, I've eliminated the justification for using a ProxyHttpClient in the first place.

Let me see if I can put something together that shows that.

[2021-10-06 16:23] graemerocher opened #6288 "Upgrade to Netty 5 and support HTTP/3"
### Feature description

Future planning issue for Netty 5 & HTTP/3 support

[2021-10-06 16:45] graemerocher commented on #5629
@yawkat related Netty issue

[2021-10-06 16:47] graemerocher commented on #6169
One for your queue @melix

[2021-10-06 16:50] graemerocher commented on #3291
Don't think we should do this automatically

[2021-10-06 16:50] #3291 closed

[2021-10-06 16:54] graemerocher commented on #1169
These are supported, closing this old ticket

[2021-10-06 16:54] #5772 closed, assigned to nobody

[2021-10-06 16:55] graemerocher commented on #4456
@yawkat for you to investigate

[2021-10-06 16:56] melix commented on #3941
Work is already in progress as part of our Gradle Enterprise integration. There's a lot to get there, because unfortunately the Micronaut build has lots of undeclared inputs, and there's this issue with non reliable annotation processing which could easily become a problem with caching.

[2021-10-06 16:57] #4177 closed, assigned to nobody

[2021-10-06 16:59] #6112 closed, assigned to graemerocher

[2021-10-06 17:33] graemerocher commented on #5882
@ilopmar this still valid?

[2021-10-06 17:35] graemerocher commented on #5549
@dstepanov this still an issue after your changes?

[2021-10-06 18:37] aleksandrsvoboda commented on #6089
https://github.com/aleksandrsvoboda/sample-project
Here is a sample project. Clone, run and call
[code]

The request above will never finish. However if you call either of the requests below they will succeed. Adding a body to the POST request breaks this for some reason. Also, if you change the micronaut version to 2.5.5 in `gradle.properties` all of these requests succeed.

[code]
[code]

[2021-10-06 20:01] cbeams commented on #6085
Thanks for looking into this. @graemerocher and @jameskleeh, I just granted both of you access rights to my project repo. See https://github.com/cbeams/xnd/commit/7855732af for simple repro steps.

[2021-10-06 20:20] jameskleeh commented on #6085
@cbeams The server is binding correctly. See:

[code]

You are seeing `-1` there because you are injecting nodes which require the `EmbeddedServer` in an event listener for `StartupEvent`, where the server hasn't started yet, and thus the port that is bound has not yet been determined.

`public class Network implements ApplicationEventListener<StartupEvent> {`

[code]

If you change `Network` to i

[2021-10-06 20:30] cbeams commented on #6085
Interesting, thanks. What I'm doing there is a bit of a hack anyway, perhaps I can find a better way. I see that changing from `StartupEvent` => `ServerStartupEvent` does in fact solve it, but it's still worth considering the fact that the original version works under 3.0.1 and suddenly doesn't under 3.1.0. Seems like something about the semantics of handling these events has changed. Not a big de

[2021-10-06 20:35] jameskleeh commented on #6085
It's possible, however the alternative is go to back to the much more brittle way of doing it. Retrieving the port from the server before it has started doesn't seem like a very valid use case. I don't think we should revert that change, but I appreciate the report so we can more easily triage this in the future should it come up again.

[2021-10-06 20:37] cbeams commented on #6085
Agree, and there's no downside for me in this fix. Thanks again.

[2021-10-06 20:37] jameskleeh commented on #6085
One thought is to throw an exception in the getPort method before the server has started so if anyone came across this they would know what the issue is

[2021-10-06 21:06] sergey-morenets opened #6291 "Micronaut 3 migration using Gradle fails with RuntimeException"
### Expected Behavior

Micronaut 3 migration should complete without errors

### Actual Behaviour

Micronaut 3 migration fails with exception:

`java.lang.RuntimeException: java.lang.NoSuchMethodException: org.openrewrite.java.marker.JavaSourceSet.build(java.lang.String,java.lang.Iterable)`

### Steps To Reproduce

1. Go to https://micronaut.io/launch
2. Add openrewrite feature and leave other opt

[2021-10-06 21:12] sergey-morenets opened #6292 "Micronaut 3 migration using Maven fails with IllegalAccessError"
### Expected Behavior

Micronaut 3 migration should complete without errors

### Actual Behaviour

Micronaut 3 migration fails with exception:

`[ERROR] Failed to execute goal org.openrewrite.maven:rewrite-maven-plugin:4.12.0:dryRun (default-cli) on project demo: Execution default-cli of goal org.openrewrite.maven:rewrite-maven-plugin:4.12.0:dryRun failed: An API incompatibility was encountered wh

[2021-10-06 21:43] sbeins55 opened #6293 "@Format and @QueryValue should fail when an invalid LocalDate is sent"
### Expected Behavior

When sending an invalid date string to a controller with `@Format` the controller should respond with a Bad Request if the QueryValue is not valid for the expected type.

### Actual Behaviour

Invalid dates can be downgraded `2021-02-31 -> 2021-02-28` or just become null `2021-02-32 -> null`

### Steps To Reproduce

The repo below shows this behavior in the test cases.

1. C

[2021-10-07 00:21] msgilligan commented on #5985
@graemerocher I see this was added to the [3.0.4](https://github.com/micronaut-projects/micronaut-core/milestone/99) milestone -- thank you!

As soon as there's a snapshot or RC that I can test, let me know. Although I submitted a test case in a simple modular app, my main use case is in [Supernaut.FX](https://github.com/SupernautApp/SupernautFX#readme) apps where I'm using the [Badass JLink Plugi

[2021-10-07 00:39] burtbeckwith commented on #6292
@sergey-morenets see the additional commandline args for JDK 16 at https://github.com/openrewrite/rewrite/issues/909. I'll update our docs to include this info

[2021-10-07 05:29] David-16 commented on #6089
Apologies.  This has mostly fallen off my radar as we are going through production pains.  We do have plans for upgrading to 3.x but probably not for a couple months

@aleksandrsvoboda Did you try the `HttpStreamsHandler` workaround mentioned in the original bug report?  I did not see anything specific to streaming in your project, but I am no expert so am curious if it works for you as well

[2021-10-07 08:25] ilopmar commented on #5882
Yes, this still happens. I've tried with latest 3.1.0-SNAPSHOT and sometimes it works in the JVM but with GraalVM (21.2.0) I reproduce the issue all the time.

[2021-10-07 09:53] cbeams opened #6295 "HttpRequest#getBody returns JSON String under 3.0.x but returns JsonObject under 3.1.0"
### Issue description

_Attn: @yawkat as this deals with `JsonObject`, which it appears you authored in 3.1._

I have a code path in my application where I get the current thread-local Micronaut `HttpRequest` (from `ServerRequestContext#currentRequest`) and I then "readdress" and "forward" that request on to another server.

I do this by copying the (json) body from the Micronaut `HttpRequest` int

[2021-10-07 09:57] sergey-morenets commented on #6292
Hi @burtbeckwith

Thank you for the hint. Migration works if I update MAVEN_OPTS environmental variable.

[2021-10-07 10:10] graemerocher commented on #5985
@dstepanov can you look into this as well?

[2021-10-07 10:49] yawkat commented on #6295
Thanks for catching this. #6296 is the fix.

Unfortunately, the new JsonNode class can't have a json toString, because that would need a dependency on jackson-core. You can implement the toString yourself using JsonNodeTreeCodec, or after the fix go through ConversionService or JsonMapper. And of course getBody will now work as it did before.

[2021-10-07 10:52] cbeams commented on #6295
Excellent, thanks! I'll try it out once #6296 is merged.

[2021-10-07 11:03] sergey-morenets opened #6297 "HTTP validation message changed after migration to Micronaut 3"
### Expected Behavior

The validation message was "provider.name: must not be blank" in Micronaut 2.5.0

### Actual Behaviour

Validation message is "Bad request" in Micronaut 3.0.3

### Steps To Reproduce

We have a pretty simple Micronaut application that contains the following DTO class:

[code]

and REST API, including POST handler:

[code]

We noticed that after migration to Micronaut 3 some

[2021-10-07 11:56] #6295 closed, assigned to yawkat

[2021-10-07 12:34] volkerrichert commented on #6158
@jameskleeh Do we have the same issue in 2.4? Sometimes i got not matching routes.

[2021-10-07 14:21] cbeams commented on #6295
I've tried out the fix in #6296 and it works as expected now. I'm able to run on the latest 3.1.0-SNAPSHOT with no issues. Thanks!

[2021-10-07 14:24] msgilligan commented on #5985
@dstepanov something changed from M2 to M3.

[2021-10-07 14:49] cbeams opened #6299 "POST under h2c returns 413 Request Entity Too Large"
### Expected Behavior

The following is taken from a commit that will be linked to this issue shortly after its creation:

    This commit sets Micronaut's http-version to 1.1, such that the
    following steps work as expected:

    1. Run the application

        ./gradlew run

    2. Run

        curl -v -H "Content-Type: application/json" :2040/peers \
          --data '{"address":"http://loca

[2021-10-07 14:51] cbeams commented on #6299
See the commits linked above:

- https://github.com/cbeams/xnd/commit/84ba65cf460c9e1ca1bab99340f6722678687e37
- https://github.com/cbeams/xnd/commit/4f00a06dee0762b5f96a59d7d3e6a891832caf7f

@jameskleeh and @graemerocher already have access to this repository.

[2021-10-07 15:11] yawkat commented on #4643
This is fixed by #6300 for the test case by @volkerrichert (thanks!). I have not tested it with DELETE, but the patch should apply to any first request with a body.

[2021-10-07 16:19] graemerocher commented on #6299
@cbeams can you invite @yawkat

[2021-10-07 16:20] graemerocher commented on #6299
Think this may be addressed with https://github.com/micronaut-projects/micronaut-core/pull/6300

[2021-10-07 17:28] sbeins55 commented on #6293
I wouldn't mind contributing a PR for this as I think I found what's happening.

It looks like the [type converter uses a SimpleDateFormat](https://github.com/micronaut-projects/micronaut-core/blob/3.0.x/core/src/main/java/io/micronaut/core/convert/DefaultConversionService.java#L953) which by default uses lenient parsing. The lenient parsing seems to be causing the auto downgrades.

Only reason I'

[2021-10-07 17:28] yawkat opened #6301 "Support H2C prior knowledge"
### Issue description

Micronaut does not appear to support h2c with prior knowledge. Also see https://curl.se/docs/http2.html and https://github.com/micronaut-projects/micronaut-core/issues/5005#issuecomment-935889902 . Netty does seem to have support, so it should be possible to implement.

[2021-10-07 17:29] cbeams commented on #6299
Done!

[2021-10-07 17:36] yawkat commented on #5005
I have created a separate issue for prior knowledge support.

I don't really see that the disadvantage of having to deal with self-signed certificates outweighs the security (even if it may seem superfluous in some cases) and simplicity advantage that TLS-based http2 has. I can see the privacy issues in your particular use case though. One solution would be to use a single certificate for all peer

[2021-10-07 18:11] lazyFloyd opened #6302 "Structured logging broken in native image"
### Expected Behavior

When using `Logger.info("test", StructuredArguments.kv("foo", LogData("Test", "path", "test", "uri.host")))` with `StructuredArguments` a serialized object is shown in the console like this:
- `"foo":{"userAgent":"Test","uri":"path","args":"test","host":"uri.host"`

### Actual Behaviour

An empty value is shown instead: `"foo":{}`

### Steps To Reproduce

You can find code [

[2021-10-07 19:22] graemerocher commented on #6293
bad request makes sense to me unless it is `@Nullable`

PRs welcome

[2021-10-07 23:05] aleksandrsvoboda commented on #6089
@David-16 I have not tried this. I'm pretty inexperienced at this type of things and I did not quite understand your solution. Did you mean I should add the two lines below to `HttpStreamsHandler` around line `410`?
[code]
Also, would I have to fork the repo since `HttpStreamsHandler` is read only?

[2021-10-08 03:53] lsim-bravura commented on #676
I get this same block every single time that I run groovy with Java 11 in Windows

[code]

[2021-10-08 04:04] narramadan commented on #6041
I was facing the same issue with the Slf4j and Log4j2. Tried different options, but couldn't get anything working.

Replaced slf4j & logj2 with `logback-classic` in `build.gradle` and native-image build is working as expected.

[code]

[2021-10-08 04:26] kartikay101 opened #6303 "Add validators for Date class for javax.validation.constraints"
### Feature description

Have been using Micronaut for a while and personally I like it quite a lot.

I tried using validation constraints such as `@Past` `@Future` on `java.util.Date` and it didn't seem to work. A bit of tinkering made me realize that Micronaut does not provide validators for Date class.

I would like to request addition of constraint validators for Date class and would be happy

[2021-10-08 04:48] sergey-morenets commented on #6297
I created 2 demo projects using https://micronaut.io/launch and added simple controller with REST service:

[code]
And server response indeed has changed if validation failed. In Micronaut 2.5.0 server returned :

[code]

In Micronaut 3.0.3 response is quite different:

[code]

I guess it should be reflected in the documentation.

[2021-10-08 06:54] graemerocher commented on #6297
It is, see https://docs.micronaut.io/latest/guide/#breaks and "Error Response Format"

[2021-10-08 06:55] #6297 closed, assigned to nobody

[2021-10-08 07:21] #4643 closed, assigned to yawkat

[2021-10-08 07:24] yawkat commented on #6299
Yes the first issue is likely fixed by #6300. The "request entity too large" error isn't, will take a look.

[2021-10-08 07:49] yawkat commented on #5629
probably fixed by #6300 , will check.

[2021-10-08 10:18] brunolellis commented on #6041
Hi,
I tried with log4j in this demo because I use an internal (proprietary) lib
that wraps logged messages, plus some key value information and format in a
json message to stdout, and it is based on log4j.

Maybe an option would be to create another internal lib based on logback.

Thanks for your time anyway!

[2021-10-08 10:22] graemerocher commented on #6041
@dstepanov is there something we can do to auto-configure log4j users for native?

[2021-10-08 10:40] ilopmar commented on #6041
Elasticsearch uses log4j and in our test application I added this to get it working with GraalVM:

https://github.com/micronaut-graal-tests/micronaut-elasticsearch-graal/blob/3.1.x/build.gradle#L29-L35

[2021-10-08 10:54] cbeams commented on #6299
Just to confirm, the first issue is indeed fixed by #6300. I just tested it out against the latest snapshot. And the second, 'entity too large' issue persists as predicted.

[2021-10-08 11:18] dstepanov commented on #6041
We probably need some graalvm feature that would apply class initialization only if the class is present.

The solution is also to use `log4j-over-slf4j`.

@ilopmar I think it should be enough just to include `log4j-over-slf4j` without log4j core and api.

[2021-10-08 11:22] ilopmar commented on #6041
@dstepanov I think I tried that and it didn't work, that's why I added the logj4 core and api dependencies. This was sometime ago so maybe something has changed and it's not necessary anymore. I'll give it a try.

[2021-10-08 14:36] graemerocher opened #6305 "Add a compiler flag to produce more optimized and smaller bean metadata"
### Feature description

Currently a lot of bean metadata is rarely used at runtime (injection points etc.), we should add a flag to disable this metadata for user projects if they do not need it.

[2021-10-08 14:43] graemerocher opened #6306 "Implement build tool level optimizations to improve performance of Micronaut applications"
### Feature description

There are more optimizations we can apply by looking at the byte code generated by Micronaut applications and processing it to produce a more optimized entry point into the application.

Create a new Micronaut AOT project to implement a proof of concept

[2021-10-08 14:47] graemerocher opened #6307 "Implement general object storage abstraction for file upload / download"
### Feature description

We should provide a general cloud abstraction over object storage implementations probably in a subproject under `micronaut-projects` to allow uploading and streaming files from object storage.

Possibly consider adding an optimized handler that bypasses Micronaut's regular router to handle streaming of files at the Netty layer

More detail to follow....

[2021-10-08 18:17] RyanHoldren opened #6308 "Annotate enum values with @Bean"
It would be nice if we could annotate enum values as `@Bean` so they can be injected based on the interfaces they implement. This does not work at the moment. In our project, we have a custom annotation processor to automatically generate factories, but that's a subpar solution, due to the extra complexity during development and the wasted memory for those extra classes at runtime.

To be clear, t

[2021-10-09 06:18] yawkat commented on #6299
The cause of this is very simple: we don't pass a `maxContentLength` to `HttpServerUpgradeHandler`, so it defaults to 0, and refuses to accept any content for the initial HTTP upgrade request.

 Unfortunately, `HttpServerUpgradeHandler` has to buffer the full message, and we won't be able to use the normal streaming mechanisms of the framework. This means we will need a separate configuration prop

[2021-10-09 13:16] r-darwish opened #6309 "@JsonSeralize annotation is ignored by GraalVM native image"
### Expected Behavior

Putting a

[code]

on a field or should work as expected both in JVM and a GraalVM native image

### Actual Behaviour

When put on a field the annotation is ignored by GraalVM

### Steps To Reproduce

Annotate a field with `@JsonSerialize(using = ToStringSerializer.class)` and try to serailize it

### Environment Information

- Operating System: Windows (Native image was gen

[2021-10-09 14:42] Plawn opened #6310 "Websocket only works with netty"
### Issue description

It's not clearly stated that websocket support is only available for netty server in the documentation

[2021-10-10 05:44] David-16 commented on #6089
Yes, putting this line back helped me (line 394 in the old file / line 411 in the new file): https://github.com/micronaut-projects/micronaut-core/commit/0f6cec56d635326911077fb221df40f0c4d9fbe6#diff-65d4d2d0808b6551855bc6a632d8fea706e6158e9904f80b129c0351e7d6e229L394

In the copy I had, `messageWritten` was defined outside the anonymous class but looks like this might have changed since.  If so, t

[2021-10-10 05:46] jameskleeh commented on #6089
This should be resolved with 3.0.2

[2021-10-10 05:50] jameskleeh commented on #6293
@sbeins55 Agreed - making it configurable with the default being the current behavior

[2021-10-10 11:17] sujeet100 opened #6312 "Jaeger traces incorrectly reported for POST api with request body (@Body)"
### Expected Behavior

The traces for a POST api should be reported correctly in jaeger when the api has a request body annotated with @Body

### Actual Behaviour

The traces for a POST api do not report child traces correctly

### Steps To Reproduce

1. Create a post API with a request body (@Body)
2. call a public method from the controller having @NewSpan annotation
3. The span for the public m

[2021-10-10 12:22] ashwini-desai commented on #6246
Since the above PR is still in draft, I would like to attempt this.

[2021-10-10 13:44] cbeams commented on #6299
Thanks, @yawkat. I guess this awkwardness around handling upgrades is all the more reason to support and use prior h2(c) knowledge á la #6301.

[2021-10-11 06:49] archenroot commented on #2157
@jameskleeh - the parsing of comman separated values in list is valid request and actually default way of working with url params. Your statement of: Should ?fields=Hello, Sam be one item in the list or two?

Well it depends if the field is defined as String or List<String>, so respectively it will be either 1 or 2 values.

[2021-10-11 10:32] ilopmar commented on #6267
Tracked in https://github.com/micronaut-projects/micronaut-openapi/issues/593

[2021-10-11 10:32] #6267 closed, assigned to nobody

[2021-10-11 17:09] msgilligan commented on #5985
I confirmed this is still failing with Micronaut 3.1.0. I pushed commit https://github.com/jeffbrown/issue5985/pull/1/commits/e51c44042a8cd4eefe3c97801698b9c36d2be23b to https://github.com/jeffbrown/issue5985/pull/1 in @jeffbrown 's test project for this issue to upgrade to Micronaut 3.1.0.

[2021-10-11 18:03] #5536 closed, assigned to jameskleeh, andriy-dmytruk

[2021-10-11 18:08] jameskleeh commented on #3241
I'm relatively certain this was fixed in 2.5, however I've tested it against 3.1.x and it works

[2021-10-11 18:08] marcosflobo commented on #6266
Same problem on the recent version `3.1.0`

[2021-10-11 18:10] jameskleeh commented on #3241
Fixed by https://github.com/micronaut-projects/micronaut-core/commit/0908d5e3b3caedb002f9fa493292baffe6e8dc32

[2021-10-11 18:17] #6162 closed, assigned to jameskleeh

[2021-10-11 19:38] jameskleeh commented on #6284
I'm 95% sure this is the same issue as https://github.com/micronaut-projects/micronaut-core/issues/6178

[2021-10-11 19:43] jameskleeh commented on #1438
If the error type is provided via the `@Client` annotation, the body will now be read on error

[2021-10-11 19:43] #1265 closed

[2021-10-11 20:54] #6178 closed, assigned to jameskleeh

[2021-10-11 20:55] jameskleeh commented on #6284
Duplicate of #6178

[2021-10-11 20:55] #6284 closed, assigned to nobody

[2021-10-11 21:00] #5299 closed, assigned to nobody

[2021-10-11 21:05] #5097 closed, assigned to nobody

[2021-10-11 21:05] jameskleeh commented on #5097
Closing due to a lack of feedback

[2021-10-12 03:51] #5607 closed, assigned to nobody

[2021-10-12 03:52] #5771 closed, assigned to ilopmar

[2021-10-12 04:13] awesomekosm commented on #5741
What about taking advantage about controller security, principal, query/path params? All of this goes away at filter doesn't it?

[2021-10-12 04:18] jameskleeh commented on #5741
@Z-EMB No. You can have your filter execute after the security filter and thus have access to the principal and all filters have access to the path and query params

[2021-10-12 04:22] awesomekosm commented on #5741
Okay, I guess I would have to do all the validation in the filter instead of conveniences of a controller.
[code]

[2021-10-12 04:24] jameskleeh commented on #5741
The proxy client should work in a controller in the next release (3.1.1)

[2021-10-12 07:41] dstepanov commented on #5985
This makes it work for me:
[code]

[2021-10-12 07:59] dstepanov commented on #6266
You need to set `TWITTER_BEARER_TOKEN` not just `BEARER_TOKEN`

[2021-10-12 09:00] dstepanov commented on #6041
Unfortunately, it's log4j incompatibility with a native image, the issue should be reported to the log4j team.
The workaround is to use `log4j-over-slf4j`. Nothing much we can do here.

[2021-10-12 09:00] #6041 closed, assigned to dstepanov

[2021-10-12 09:46] wimdeblauwe commented on #6309
I have a very similar problem using `@JsonCreator`, something like this:

[code]

When creating the GraalVM version (on macOS) and running the command line tool (I'm using picocli), I get this:

[code]

[2021-10-12 13:44] jameskleeh commented on #6145
Closing due to a lack of a response

[2021-10-12 13:44] #6145 closed, assigned to nobody

[2021-10-12 13:54] #6161 closed, assigned to jameskleeh

[2021-10-12 13:56] jameskleeh commented on #6161
@shmish111 If you can reproduce the issue of instances being shared after annotating the class with `@Prototype` please update this issue with an example application and I'll reopen

[2021-10-12 13:57] jameskleeh commented on #6239
It is only possible to support a single subscriber when reading the request body. I don't know the specifics of your requirements but you can buffer the data locally

[2021-10-12 13:57] #6239 closed, assigned to nobody

[2021-10-12 14:03] denis111 commented on #6239
@jameskleeh the specifics is validate incoming byte stream at the same time of saving the stream to file. We already do the same successfully with InputStream using PipedOutputStream. Is there anything similar for flux, like multicasting? Should I read flux in one subscriber to form another flux which supports share/publish?

[2021-10-12 14:04] jameskleeh commented on #6239
Why can't you do the validation and save in the same handler?

[code]

[2021-10-12 14:07] denis111 commented on #6239
@jamescookie there's multiple validators, I guess I must form another fluxes. Basically I guess, I need something like JavaScript's promises/pipe functionality. And if something is wrong, break the pipe.

[2021-10-12 14:10] jameskleeh commented on #5035
I'm not sure when this was added but it is there now

[2021-10-12 14:10] #5035 closed, assigned to nobody

[2021-10-12 14:11] #5221 closed, assigned to nobody

[2021-10-12 14:30] sdelamo opened #6323 "Regression from 3.0.3 to 3.1.0 with HttpClient.create"
Given the following POJO:

[code]

and controller:

[code]

The following tests passes in 3.0.3 fails in 3.1.0.

[code]

It fails with:

[code]

Annotating the controller with `@SingleResult` passes both feature methods in 3.1.0.

[2021-10-12 14:34] sdelamo opened #6324 "Manual HTTP Client requires empty constructor for response binding"
Given this POJO:

[code]

and this controller:

[code]

The following test:

[code]

Micronaut Version: 3.1.0

[2021-10-12 15:05] shmish111 commented on #6161
OK, sorry I haven't had chance to try `@Prototype` yet but will try asap so happy to have this closed for now. Yes I'm not sure about it being across multiple computers I think I tried it out but can't remember, however it certainly occurred across multiple different browsers, I had chrome and safari opened at the same time and what happened on one changed the other, it was quite magical to watch!

[2021-10-12 16:49] melix opened #6321 "Include Micronaut BOM to the generated version catalog"
### Feature description

Alongside the BOM file, we generate a version catalog which can be imported by 3rd party builds using:

[code]

This is handy for reusing versions declared in the catalog in your build:

[code]

However, the BOM itself is not exposed as an entry in the catalog, so if you add a new source set (typically test fixtures), the Micronaut plugin won't automatically add the BOM to

[2021-10-12 17:32] graemerocher commented on #6309
Try annotate the class with @ReflectiveAccess

[2021-10-12 18:33] wimdeblauwe commented on #6309
Does not help in my case (I'm using Micronaut 3.1.0 command line application with Maven project generated from the launch website)

[2021-10-12 18:47] r-darwish commented on #6309
@graemerocher  It did make a difference in my case, but instead of just not working now I get an exception:
[code]

[2021-10-12 19:13] w-nowak opened #6322 "Injecting bean by nested qualifier doesn't work"
### Expected Behavior

Injecting bean by nested qualifier should work the same as it works with non-nested qualifier.

### Actual Behaviour

When injecting bean with nested qualifier (qualifier nested in top-level class) a valid bean candidate is not matched to injection point when both bean candidate and  injection point are annotated with the same qualifier.

[code]
![NestedQualifier](https://us

[2021-10-12 23:11] msgilligan commented on #5985
Yeah, adding `requires jakarta.annotation;` seems to fix the issue. I'll do a little more testing before closing the issue.

[2021-10-13 07:29] ilopmar commented on #5771
Service discovery Eureka #5882 and Views-Handlebars https://github.com/micronaut-projects/micronaut-views/issues/252 still doesn't work, but I agree we can close this.

[2021-10-13 14:45] jameskleeh commented on #6323
@yawkat Likely related to the jackson reorganization

[2021-10-13 15:31] denis111 commented on #6239
Ok, I've achieved desired behaviour this way, if somebody is interested:
[code]
I've updated the example repo. The only strange thing here is I thought that shareNext() will "share" the next element without removing it from the source Flux but it doesn't, so I did Flux.merge to have this first element "shared" later.

[2021-10-13 20:06] msgilligan commented on #5985
Everything is looking good! Thanks! Closing...

[2021-10-13 20:06] #5985 closed, assigned to dstepanov

[2021-10-13 21:18] jameskleeh opened #6327 "Request doesn't complete for stream redirect"
### Issue description

Given the following controller:

[code]

A request with curl ` curl -i localhost:8080/proxy --output temp` never completes

[2021-10-14 08:43] nkwiatkowski opened #6330 "Micronaut bom 3.1.0 kafka version hard coded"
### Feature description

Hello.
I am using micronaut framework on microservices who use kafka, but we use our custom kafka classes, not micronaut kafka.
Until micronaut 3, we where able to change kafka version thanks to the variable kafka.version.
But in the 3.1.0 bom, the kafka version parameter is still present, but not used.
[code]
Is there a reason to hard code the kafka version ? and if not,

[2021-10-14 08:48] fabmars commented on #6330
I concur, this might be annoying to me too.

[2021-10-14 08:57] graemerocher commented on #6330
@melix it looks like the BOM is not generated correctly and is not using the versions defined in the properties to reference the actual versions. Could you take a look?

See the difference between

https://search.maven.org/artifact/io.micronaut/micronaut-bom/3.1.0/pom

and

https://search.maven.org/artifact/io.micronaut/micronaut-bom/2.5.12/pom

Impacts all dependencies not just Kafka it seems.

[2021-10-14 10:47] #6330 closed, assigned to melix

[2021-10-14 10:50] Paullo612 commented on #6064
Looks like correct condition would be

`if (registeredScope == null && ((isScopedProxyDefinition && !isProxy) || !isScopedProxyDefinition))`

which can be simplified to

`if (registeredScope == null && (!isScopedProxyDefinition || !isProxy))`.

Also, proxy target bean definition should be searched [here](https://github.com/micronaut-projects/micronaut-core/blob/dfae2e06547aac2cfc052f9a53fbb887c9b6

[2021-10-14 12:24] meredrica opened #6332 "mn CLI with JDK17 generates a wrong Dockerfile"
### Expected Behavior

`./gradlew dockerfile` should generate a jdk 17 dockerfile

### Actual Behaviour

the generated file uses ` FROM openjdk:16-alpine`

### Steps To Reproduce

[code]

### Environment Information

- Arch Linux
- java -version
openjdk version "17" 2021-09-14
OpenJDK Runtime Environment Temurin-17+35 (build 17+35)
OpenJDK 64-Bit Server VM Temurin-17+35 (build 17+35, mixed mode, s

[2021-10-14 14:43] tchiotludo opened #6333 "Securing endpoint with authentication"
### Feature description

I have a non standard case with management endpoint.

I need a management endpoint because my micronaut application is inside kubernetes clusters (/health & /prometheus in my case) on another port thanks to `endpoints.all.port`.
Everything is ok and working fine, but now I need to add a layer of security on this endpoint.

The application allow final users to do http reque

[2021-10-14 15:47] jameskleeh commented on #6333
Converting this to a discussion

[2021-10-14 15:48] #6333 closed, assigned to nobody

[2021-10-14 17:54] marcosflobo commented on #6266
Hi @dstepanov ,

You are right, if I run like this, it works

[code]

I'm sorry, and maybe I'm missing something, but I do not have any `TWITTER_BEARER_TOKEN` on the `application.yaml` file, only `BEARER_TOKEN`

And also, as far I understand, it should take the default value `foo`, am I wrong?

[2021-10-15 07:15] dstepanov commented on #6266
Yeah, I didn't notice that, the problem is that you are using an old application plugin, it works with 2.0.6.

[2021-10-15 18:32] jameskleeh commented on #6196
@dstepanov What is the issue here? KAPT is not marking them as default?

[2021-10-15 18:35] dstepanov commented on #6196
I haven’t investigated yet

[2021-10-15 18:57] #6089 closed, assigned to jameskleeh

[2021-10-15 19:05] jameskleeh commented on #5778
As the issue you linked suggests, the annotation has to be on the setter argument. Your config class should look like this:

[code]

[2021-10-15 19:05] #5778 closed, assigned to nobody

[2021-10-15 19:07] jameskleeh commented on #5778
Also you can remove one level from your config

[code]

The `test` there doesn't seem to be serving any purpose. You can replace that with `S3` and retrieve it in the constructor of ProviderConfig:

[code]

[2021-10-15 21:16] jameskleeh commented on #6068
Fixed! thanks

[2021-10-15 21:16] #6068 closed, assigned to wiesej

[2021-10-16 13:23] marcosflobo commented on #6266
Sorry, which plugin you mean? I've tried with

[code]

And still, it does not get the default values on the `application.yaml` file. I have to provide the value for the env vars obligatorily

[2021-10-16 14:42] Paullo612 opened #6342 "Interceptior scope is not taken in account when interception is applied to custom scoped bean"
### Expected Behavior

When method interceptor is annotated with `@Prototype`, as stated in documentation, new interceptor should be created for each bean. `MyIntercepted1Interceptor` from test app should be created for each new `MyBean` instance, as  `MyIntercepted1Interceptor` is prototype scoped.

Expected test application output:
[code]

### Actual Behaviour

No new `MyIntercepted1Interceptor`

[2021-10-16 14:52] Paullo612 commented on #6342
Looks like it is incorrect to treat all beans [here](https://github.com/micronaut-projects/micronaut-core/blob/7eb19dd184d732a4b35915c1d739fc64be67e7af/inject/src/main/java/io/micronaut/context/DefaultBeanContext.java#L3571) as singletons just because one of them is singleton.

[2021-10-16 15:18] Paullo612 commented on #6342
Moreover, looks like [documentation](https://github.com/micronaut-projects/micronaut-core/blob/7eb19dd184d732a4b35915c1d739fc64be67e7af/src/main/docs/guide/aop/aroundAdvice.adoc#L18) incorrectly states that if method interceptor annotated with `@InterceptorBean` is not annotated with any scope annotation, method interceptor will be prototype scoped. But `@InterceptorBean` has `@DefaultScope(Single

[2021-10-16 16:06] Paullo612 opened #6343 "AbstractConcurrentCustomScope eats exceptions"
### Expected Behavior

When extending `io.micronaut.context.scope.AbstractConcurrentCustomScope`, it is expected that exception thrown from `io.micronaut.context.scope.AbstractConcurrentCustomScope#getOrCreate` is propagated downstream (expected just because `io.micronaut.context.scope.BeanCreationContext#create` has `throws BeanCreationException` in its signature, and none of existing `AbstractCo

[2021-10-16 16:40] altro3 opened #6344 "Can't set HTTP2 version to default HttpClient ( HttpClient.create(url, httpClientConfiguration) )"
### Expected Behavior

When creating a client by method `HttpClient.create(url, httpClientConfiguration)`, I pass the configuration for this client, including the protocol version. I expect the version to be set correctly.

Sample code:
[code]

### Actual Behaviour

Now it is impossible to set the version of the http protocol using the method `HttpClient.create(url, httpClientConfiguration)`.

The

[2021-10-16 17:57] graemerocher commented on #6343
Thanks for the reports, the area of custom scopes was re-worked for 3.x so seems we have some issues with the new impl

[2021-10-16 18:23] altro3 opened #6345 "javax.annotation:javax.annotation-api still in dependencies"
### Expected Behavior

Librariy `javax.annotation:javax.annotation-api:1.3.2` should not be in dependencies

### Actual Behaviour

[code]

### Steps To Reproduce

_No response_

### Environment Information

OS: Win10
JDK version: 17

### Example Application

https://github.com/altro3/micronaut3-bug

### Version

3.1.0

[2021-10-16 18:32] #5520 closed, assigned to nobody

[2021-10-16 18:33] altro3 opened #6346 "[BUG] Can't start application with eagerInitSingletons turned on"
### Expected Behavior

The application should start without problems when enabled `eagerInitSingletons`

### Actual Behaviour

Now, when launching the application, an error crashes:

[code]

### Steps To Reproduce

Run example application

### Environment Information

OS: Windows 10
JDK Version: 17

### Example Application

https://github.com/altro3/micronaut3-bug

### Version

3.1.0

[2021-10-16 18:36] #4601 closed, assigned to nobody

[2021-10-16 23:47] KangoV commented on #5416
How can records be validated then?

[2021-10-17 08:34] graemerocher commented on #5416
Records are a different use case and already supported

[2021-10-17 14:20] agugan commented on #6344
Can I pick this up? @graemerocher

[2021-10-17 20:00] Paullo612 opened #6348 "Custom scopes and conditional beans"
### Expected Behavior

I expected that I could conditionally enable or disable custom scoped beans depending on current scope state using `@Requires(condition = ...)` and custom `io.micronaut.context.condition.Condition` implementation in conjunction with `jakarta.inject.Provider`.

A real world example could be: Imagine we're writing car driving application. We want to support multiple car models

[2021-10-18 08:49] ilopmar commented on #6176
I'm not able to reproduce the issue with the latest version of the guide (currently Micronaut 3.1.0).

@Reach-NickLavalle please double-check the version of the Micronaut Gradle plugin you are using. There has been a few issues with resources not included in the native image when building inside Docker. All of them should be fixed now. The latest one is

[code]

Btw, you don't need to include the

[2021-10-18 08:49] #6176 closed, assigned to ilopmar

[2021-10-18 11:02] frehov opened #6351 "include micronaut-micrometer-annotations in micronaut-bom"
### Feature description

I'd like to see the micronaut-micrometer-core annotation processor listed in the [micronaut-micrometer documentation](https://micronaut-projects.github.io/micronaut-micrometer/latest/guide/#metricsAnnotations) to be available in the micronaut-bom.

It would mayne be better to add all micronaut-micrometer related packages through the micronaut-micrometer-bom?

[2021-10-18 11:39] ilopmar opened #6352 "`@Cacheable` beans creating in `@Factory` doesn't get cached"
### Expected Behavior

I'm not 100% sure if this should work or not but a user could expect that a bean created from a `@Factory` could be used with `@Cacheable` the same way if no factory is involved.

### Actual Behaviour

Given the following POJO:

[code]

And a factory to create a bean out of it:

[code]

And the following controller:

[code]

When sending multiple curl requests to `localhost:

[2021-10-18 12:11] graemerocher commented on #6352
Don't think this is a bug, since you are directly creating the instance it cannot be managed by Micronaut

[2021-10-18 13:12] ilopmar commented on #6352
Right, that makes sense. But on the other hand, once the factory returns the object, it becomes a Micronaut managed bean, so I though that could work somehow...

[2021-10-18 13:35] jeffscottbrown commented on #5094
FYI... The docs for 3.1.0 at [docs.micronaut.io/3.1.0/guide/#routing](https://docs.micronaut.io/3.1.0/guide/#routing) contain the same.

[2021-10-18 14:21] FilipJirsak opened #6355 "Missing JavaDoc for newer versions"
JavaDoc for version **3.0.2**, **3.0.3** and **3.1.0** is missing. There are links to versions **3.0.2** and **3.0.3** on the page https://micronaut.io/docs/ in section „DOCUMENTATION OF OLDER VERSIONS“, but the server responds 404 Not Found. Version **3.1.0** is the latest version, but https://docs.micronaut.io/latest/api/ shows API of version **3.0.1**.

[2021-10-18 14:39] graemerocher commented on #6355
@melix could you look at why / how our javadoc publishing infra broke?

[2021-10-18 14:54] jameskleeh commented on #6352
If you have the ability to use Micronaut annotations on the type then there in the vast majority of cases should be no need for a factory. You can use AOP on the factory method and it will apply to the methods on the returned bean but it would apply to all methods.

[2021-10-18 14:54] #6352 closed, assigned to nobody

[2021-10-18 14:57] jameskleeh commented on #6345
@melix Do you know why a `compileOnly` dependency is being included in the pom?

Edit: Nevermind I got it confused with javax.inject.

[2021-10-18 15:06] jameskleeh opened #6356 "Multiple `@CookieValue` client arguments generates multiple `Cookie` headers"
### Issue description

According to https://www.rfc-editor.org/rfc/rfc6265#section-5.4 there must only be a single header

This restriction is relaxed for HTTP/2

https://www.rfc-editor.org/rfc/rfc7540#section-8.1.2.5

[2021-10-18 15:28] LPalmerMSI opened #6358 "HttpResponse.badRequest() throws exception if controller returns HttpResponse<Flux<byte[]>>"
### Expected Behavior

When a controller returns an HttpResponse<Flux<byte[]>>, HttpResponse.badRequest(), .unauthroized() and other convenience methods should be valid returns without throwing an exception.

### Actual Behaviour

An Exception is thrown:
[code]

**NOTE** This worked correctly in 2.5.  This changed in 3.1.

### Steps To Reproduce

Create a controller with a method returning HttpRes

[2021-10-18 15:31] jameskleeh commented on #6358
Can you please include more of the stacktrace or an example app?

[2021-10-18 16:08] #6351 closed, assigned to nobody

[2021-10-18 16:20] Reach-NickLavalle commented on #6176
Iván updating the plugin version to 2.0.6 resolved my case as well, it was 2.0.4 before. Looks like it must've been something between those versions. Thanks for closing that out this simplifies my workflow.

[2021-10-18 16:23] graemerocher commented on #6345
it should have been made `compileOnly` before release 🤦‍♂️

[2021-10-18 16:28] #6327 closed, assigned to jameskleeh

[2021-10-18 16:59] LPalmerMSI commented on #6358
11:58:07.221 [io-executor-thread-4] ERROR i.m.http.server.RouteExecutor - Unexpected error occurred: Argument [object] cannot be null
java.lang.NullPointerException: Argument [object] cannot be null
	at java.base/java.util.Objects.requireNonNull(Objects.java:246)
	at io.micronaut.core.async.publisher.Publishers.convertPublisher(Publishers.java:408)
	at io.micronaut.http.server.RouteExecutor.proces

[2021-10-18 18:04] #6346 closed, assigned to jameskleeh

[2021-10-18 18:14] #6265 closed, assigned to jameskleeh

[2021-10-18 18:37] #6358 closed, assigned to jameskleeh

[2021-10-18 20:03] #4735 closed, assigned to jameskleeh

[2021-10-18 20:51] cbeams commented on #6299
Thanks, @yawkat. Please see https://github.com/cbeams/xnd/commit/c3303e2e299a7ff827740ab6276698562d48ebdf, where I've attempted to upgrade to 3.2.0-SNAPSHOT to pick up this fix, but am still seeing problematic behavior with `--http2`.

[2021-10-19 10:21] #6323 closed, assigned to yawkat

[2021-10-19 10:35] melix commented on #6355
The generated aggregating javadoc was broken between releases [4.1, 4.2[ of the internal Micronaut build plugin. We should upgrade to the latest and it should fix this problem.

Broken: https://ge.micronaut.io/s/3bavjpaanylwi/timeline?task-path=javadoc#ijmqzulpchnyk
Fixed: https://ge.micronaut.io/s/g24dh3ud5qpgi/timeline?task-path=:javadoc#ijmqzulpchnyk

[2021-10-19 14:12] #6355 closed, assigned to melix

[2021-10-19 14:38] #6356 closed, assigned to jameskleeh

[2021-10-19 15:49] #5524 closed, assigned to nobody

[2021-10-19 17:34] #6064 closed, assigned to graemerocher

[2021-10-19 17:34] #6342 closed, assigned to graemerocher

[2021-10-19 17:34] #6343 closed, assigned to graemerocher

[2021-10-20 06:35] yawkat commented on #6324
As discussed in yesterday's meeting, this is caused by the `BeanIntrospectionModule` not being used in the manually constructed http client. When that module was enabled by default for the normal `ApplicationContext`, the context-less `HttpClient` remained unchanged, and so the default behavior diverged.

Changing the manually created `HttpClient` to use the module as well would be a breaking chan

[2021-10-20 08:35] safarmer opened #6371 "Repository classes generated from annotation processor crashing with invalid bytecode"
### Expected Behavior

I have a simple Micronaut DATA JDBC repository with an override for the `deleteById` method. In this example, it is for marking an entity as deleted by setting a flag or field rather than deleting the row. I have tried with records and POJOs for the entity class. I have also seen the error on an overridden `save` repository method.

The code works as expected if I remove the

[2021-10-20 08:56] graemerocher commented on #6371
@dstepanov seems `void` returns types are not being handled correctly after the change to fix method dispatch

[2021-10-20 10:07] dstepanov commented on #6371
Looks like there is an extra cast check for the void

[2021-10-20 11:10] racevedoo commented on #5530
Any updates here guys?

[2021-10-20 11:24] graemerocher commented on #5530
Seems it is already fixed in the gRPC module just no release was done, I have triggered a 3.0.1 release

[2021-10-20 14:26] #5530 closed, assigned to nobody

[2021-10-20 15:10] racevedoo opened #6376 "Injection of list of same-class singleton instances (without proper qualifiers) fails silently and causes undefined behavior"
### Expected Behavior

It should raise a `DependencyInjectionException` or something similar

### Actual Behaviour

When the user mistakenly does not use qualifiers for singleton beans of the same type, injecting a `List<Bean>` should not be possible.

What happens is that the list is injected with multiple elements containing the same instance of the singleton. Please check the `MicronautInjectio

[2021-10-20 16:02] #5680 closed, assigned to yawkat

[2021-10-20 18:34] sgammon opened #6381 "Error building Micronaut app with Turbine"
### Expected Behavior

[Turbine](https://github.com/google/turbine) is a header compiler for Java, written by Google. It is supported by [Bazel](https://bazel.build) via the CLI flag [`--[no]java_header_compilation`](https://docs.bazel.build/versions/main/command-line-reference.html#flag--java_header_compilation).

When building a Micronaut app via Bazel with Turbine enabled, the build should succ

[2021-10-20 19:42] jameskleeh commented on #6381
I don't see this as an issue with Micronaut

[2021-10-20 20:10] sgammon commented on #6381
@jameskleeh i've filed in both places because i'm not entirely sure how Micronaut is using this call. is it possible to simply suppress / wrap this exception? or is this a call which is required for proper operation of Micronaut's DI?

[2021-10-20 20:10] sgammon commented on #6381
(and thank you for your quick response)

[2021-10-21 07:20] graemerocher commented on #6381
It is requires for proper functioning of DI and handling of method inheritance. Not sure why Turbine is breaking the annotation processing API by overriding its capability to detect method overrides and throwing `UnsupportedOperationException`. It shouldn't be doing that.

[2021-10-21 07:20] #6381 closed, assigned to nobody

[2021-10-21 11:12] hbxu opened #6387 "Json annotation partially broken"
### Expected Behavior

(Native-image)
curl http://localhost:8080/hello
{"name":"james","age":0,"_links":{"self":{"href":"http://test.com","templated":false,"title":"title"}}}

### Actual Behaviour

(Native-image)
curl http://localhost:8080/hello
{"name":"james","age":0,"_links":{"self":{"href":"http://test.com","templated":false,"type":null,"deprecation":null,"profile":null,"name":null,"title":"ti

[2021-10-21 11:39] graemerocher commented on #6387
@yawkat please take a look

[2021-10-21 13:37] jamescookie opened #6389 "Enhance jaeger tracing properties to allow propagation"
### Feature description

Currently you can add `sender`, `reporter` and `sampler` properties for jaeger tracing, but you cannot add propagation.
This means that if you want your micronaut service to take part in a distributed trace with another service using the default opentelemetry javaagent, you have to set an environment variable of `JAEGER_PROPAGATION: W3C`
It would be good if the `io.microna

[2021-10-21 14:08] mar-kolya opened #6391 "Micronaut + akka make compilation very slow"
### Expected Behavior

Compilation should take reasonable amount of time

### Actual Behaviour

Compilation time goes from less than 1 second to close to 3 *minutes*

### Steps To Reproduce

* Download demo app from https://micronaut.io/launch/ - using gradle, java and 3.1.1 micronaut
* Add this class:
[code]

### Environment Information

Reproduced on macos and linux
Reproduced on java15 and java

[2021-10-21 14:44] graemerocher commented on #6391
Seems `AllDirectives` is very big to scan for injection points so maybe that is impacting it. Try the following as a workaround:

[code]

[2021-10-21 14:44] #6321 closed, assigned to melix

[2021-10-21 15:18] mar-kolya commented on #6391
Unfortunately this doesn't seem to help.

[2021-10-21 15:29] graemerocher commented on #6391
Can you specify what library/dependency `AllDirectives` is from?

[2021-10-21 15:52] mar-kolya commented on #6391
[code]

- these are the requirements added to the standard `demo` project. Sorry, should have included this in original bug report.

[2021-10-21 18:37] #1719 closed

[2021-10-21 19:12] marcosflobo commented on #6266
@dstepanov any input on this? Am I missing something? Thanks!

[2021-10-21 20:07] dpux opened #6394 "Using Kotlin Coroutine withContext throws Null Pointer Exception"
### Expected Behavior

[withContext](https://kotlin.github.io/kotlinx.coroutines/kotlinx-coroutines-core/kotlinx.coroutines/with-context.html) is commonly used to switch coroutine context. Until Micronaut 2.5, things worked fine, but with 3.0 invoking this method throws NPE.

### Actual Behaviour

Using withContext with any dispatcher results in NPE.
[code]

### Steps To Reproduce

Build.gradle pl

[2021-10-21 20:53] msgilligan opened #6395 "Add module-info to micronaut-inject and micronaut-core"
### Feature description

It has been possible to use Micronaut dependency injection as a Java Module System-compatible standalone dependency injection framework by processing the jars with tools like [Badass Jlink Plugin](https://badass-jlink-plugin.beryx.org/releases/latest/) since the 1.x series. As Micronaut and its dependencies have evolved, it is now possible for (at least) `micronaut-inject`

[2021-10-22 02:08] dstepanov commented on #6266
It works for me with the application plugin set as you have it

[2021-10-22 07:09] graemerocher commented on #6395
@msgilligan so this would be a good area to contribute to the framework since nobody on the Micronaut team that I am aware of has a good understanding of what it takes to make Micronaut modular nor add tests for modularity

Maybe you and @aalmiray could advise

[2021-10-22 10:42] yawkat commented on #6387
This looks exactly like #6205 which should have been fixed by #6214, weird

[2021-10-22 10:46] 22dasi1bwi opened #6400 "MongoDbHealthIndicator fails on healthy MongoDB instance"
### Expected Behavior

The health checks on mongo should succeed, when it's up and running.

### Actual Behaviour

The health check fails with the following exception, although the MongoDb instance is healthy:

`java.lang.NullPointerException: null
	at io.micronaut.context.scope.AbstractConcurrentCustomScope.findBeanRegistration(AbstractConcurrentCustomScope.java:221)
	at io.micronaut.context.Defa

[2021-10-22 12:31] #6371 closed, assigned to dstepanov

[2021-10-22 13:04] #6299 closed, assigned to yawkat

[2021-10-22 13:07] yawkat commented on #6387
Actually more related to #6219. Will fix.

[2021-10-22 13:56] #6344 closed, assigned to agugan

[2021-10-22 17:33] sormuras commented on #6395
Happy to support here, too.

[2021-10-22 17:50] msgilligan commented on #6395
I would welcome any advice from @aalmiray, @gunnarmorling, @hansolo, @siordache, or @sormuras -- all of these guys all know much more about modules than I do.

I've had good luck running Micronaut in a modular JavaFX environment after reprocessing with the @siordache 's Badass JLink Plugin, but the applications have been fairly simple and I have not been able to implement much automated testing ye

[2021-10-22 18:30] acusworth opened #6404 "Micronaut bom calling non existent Netty package"
### Expected Behavior

Micronaut bom should list:
[code]
Netty was moved to Netty-all after version 3.10.6.Final
Alternative is to return to the use of netty bom.

### Actual Behaviour

Micronaut bom lists:
[code]

This results in:
[code]

### Steps To Reproduce

1. Set up micronaut project in Gradle using micronaut bom.
2. Set version micronaut version 3.1.1
3. Build

### Environment Information

[2021-10-22 18:59] devmage commented on #6404
I think the following line is the issue: https://github.com/micronaut-projects/micronaut-core/blob/3.1.x/gradle/libs.versions.toml#L278

I'd imagine that removing it would resolve the import issue in a later Micronaut BOM release.

[2021-10-22 19:05] devmage commented on #6404
A related issue found on review, some dependencies that are provided by BOMs appear to have a library dependency at a specific version. I believe the BOM for those dependencies should provide the version, and the Micronaut BOM should not include a version. Netty is an example of this behavior. Jackson is another example:

[code]
but then later:
[code]
Additionally, in the above example, it's stran

[2021-10-22 19:14] graemerocher commented on #6404
@melix can you take a look?

[2021-10-22 19:15] graemerocher commented on #6404
@melix we used to have a BOM validation task that checked all dependencies resolve, was this perhaps removed by mistake?

[2021-10-22 20:02] msgilligan commented on #6395
Update: It looks like the `addMainModuleInfo` task of [ModiTect Gradle Plugin](https://github.com/moditect/moditect-gradle-plugin) should do what we need.

[2021-10-22 20:06] siordache commented on #6395
Another option is the [badass-jar-plugin](https://github.com/beryx/badass-jar-plugin), which is a lightweight plugin dedicated to this task. It allows both options (adding the module-info.class file directly to the JAR or creating a Multi-Release JAR).

[2021-10-22 20:10] melix commented on #6404
The task is here (`checkBoms`) but I have found a bug in the implementation which caused this to go unnoticed. Working on a fix.

[2021-10-22 20:27] msgilligan commented on #6395
Thanks, @siordache! Yes, it looks like the badass-jar-plugin is simpler and a better fit for our relatively minimal requirements.

[2021-10-22 20:29] msgilligan commented on #6395
I'll wait for more feedback, but I'm leaning towards creating a draft pull request for adding a `module-info` to `micronaut-core` using `badass-jar-plugin` and then getting specific feedback on that PR.

@graemerocher do you know of any tools in the Micronaut ecosystem that might choke on a `module-info` in the root of a JAR?

[2021-10-22 20:31] aalmiray commented on #6395
Do not put `module-info.class` at the root of the JAR. Instead use `/META-INF/versions/<number>`. I suggest number to be `11`.

[2021-10-22 20:35] msgilligan commented on #6395
Is there a specific reason? @sormuras (in a separate conversation) recommended option 1 (root of jar.) I'm happy to do it either way and the `badass-jar-plugin` can easily be configured for option 1 or option 2.

[2021-10-22 20:37] aalmiray commented on #6395
If you put it at the root then it becomes a class visible to everyone, just like any other class is. If you put it at `/META-INF/versions/<number>` then it becomes invisible to most tools (as many are unaware of JPMS and MultiResource JARs). However the JVM will figure it out correctly when running the application, same as the compiler.

[2021-10-23 08:36] sormuras commented on #6395
All JUnit's modules have their `module-info.class` in each JAR file's root for years, and we didn't receive a single complain by our users. Tools and frameworks seem to have no troubles with that approach. Those who have (or had) scanned entire JAR files anyway, and fail(ed) when loading `module-info.class` from every location, including `/META-INF/versions/<number>`.

Taking `jar`'s [CLI](https:/

[2021-10-23 13:47] miguelaferreira opened #6406 "Upgrade to Micronaut 3.1.1 breaks cli application native-image binary"
### Expected Behavior

After following the Micronaut upgrade guide instructions I expected the compiled native binary to execute as before.

### Actual Behaviour

When I execute the native binary I get the following error.

[code]

### Steps To Reproduce

1. Install GraalVM 21.2.0.r16-grl (also tried with 21.3.0.r17-grl)
[code]
2. Install native-image
[code]
3. Clone the project
[code]
4. Checkout

[2021-10-23 20:11] message opened #6407 "java.lang.NoSuchMethodError: 'void io.micronaut.inject.writer.BeanDefinitionReferenceWriter.<init>(java.lang.String, io.micronaut.inject.writer.BeanDefinitionVisitor)'"
### Expected Behavior

:)

### Actual Behaviour

:(

### Steps To Reproduce

After updating from 3.0.2 to 3.1.1, application doesn't compile. I'm not even sure which way to dig.

[code]

build.gradle
[code]

### Environment Information

OpenJDK 11

### Example Application

_No response_

### Version

3.1.1

[2021-10-24 06:14] jameskleeh commented on #6407
You have incompatible versions of `inject-java` and `inject` on the classpath

https://github.com/micronaut-projects/micronaut-core/blob/v3.1.1/inject-java/src/main/java/io/micronaut/annotation/processing/BeanDefinitionInjectProcessor.java#L298

https://github.com/micronaut-projects/micronaut-core/blob/dda900728fbe654496ca0c3bb126c4c9df2c132b/inject/src/main/java/io/micronaut/inject/writer/BeanDef

[2021-10-24 06:14] #6407 closed, assigned to nobody

[2021-10-24 06:16] #6400 closed, assigned to graemerocher

[2021-10-24 06:18] #6387 closed, assigned to yawkat

[2021-10-24 06:27] #6404 closed, assigned to melix

[2021-10-24 20:17] message commented on #6407
Yeap, this fixed an issue.

[code]

But adding
[code]
leads to

[code]
Can you help me out with this? Maybe throw some materials I could read?

[2021-10-25 07:58] ilopmar opened #6409 "Could not find artifact `io.micronaut:micronaut-runtime:jar:netty` with Maven application"
### Expected Behavior

It should be possible to run the application with Maven.

### Actual Behaviour

Using Maven and Micronaut `3.1.2-SNAPSHOT` fails to resolve one artifact:

[code]

I think the error is related to this PR #6404

### Steps To Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-maven-graal`
- `cd micronaut-maven-graal`
- `git checkout 3.1.x`
- `./mvnw mn:r

[2021-10-25 10:06] yawkat commented on #6394
Hi @dpux , thanks for the report. However I can't reproduce this issue with the versions in your build. Can you please provide a full test project, created with [launch](https://micronaut.io/launch/), that has this issue?

[2021-10-25 10:31] ahimik opened #6412 "Micronaut startup failed: Circular dependency detected"
### Expected Behavior

Micronaut application should start successfully.

### Actual Behaviour

Using Micronaut `2.5.4` Flyway migration runs into infinite loop during startup:
[code]

Using Micronaut `3.1.1` the following error occurs during startup:
[code]

### Steps To Reproduce

1. Create new project using command `mn create-app example.micronaut.test --build=gradle --lang=java`
2. Add the foll

[2021-10-25 12:42] #6409 closed, assigned to nobody

[2021-10-25 13:12] jameskleeh commented on #6407
@message Just take a look at the fresh application created by the CLI or at launch.micronaut.io. When using the bom you don't need to specify versions of Micronaut dependencies

[2021-10-25 13:46] #4829 closed, assigned to yawkat

[2021-10-25 14:22] message commented on #6407
@jameskleeh what applies bom in `build.gradle`, since there is no direct inclusion? This plugin?

[code]

Also, is `micronautVersion=3.1.0` from `gradle.properties` used is any way? I thought that I need to use it like property value in `build.gradle`. Sorry, I just switched from Maven and decided to give Gradle a shot.

[2021-10-25 14:27] jameskleeh commented on #6407
@message Correct, that gradle plugin applies it by default and the version in `gradle.properties` is used

[2021-10-25 16:07] jameskleeh commented on #2196
This was fixed in 2.5

[2021-10-25 16:41] msgilligan commented on #6395
Note that in terms of `micronaut-inject` dependencies we see the following:

* `jakarta.inject-api` - `module-info` in the root
* `jakarta.annotation-api` - `module-info` in the root
* `slf4j-api` - MR JAR (2.0.0-alpha)

Update: I just discovered that  `jakarta.inject-api` is also available as an MR jar. The [release notes for the MR JAR](https://github.com/eclipse-ee4j/injection-api/releases/tag/

[2021-10-25 16:47] msgilligan commented on #6395
On Friday I looked at @siordache 's `badass-jar-plugin` and I opened https://github.com/beryx/badass-jar-plugin/issues/2 to suggest that it be made even more lightweight on Gradle 6.4+ (by using the built-in module support in Gradle) and this morning I see there is a 2.0.0-rc1 version that implements my suggestion!

So it looks like the 2.0.0 version of `badass-jar-plugin` is what we should use (g

[2021-10-26 03:50] asautins opened #6417 "ReadTimeoutException testing authentication: cookie using junit5"
### Expected Behavior

Using the following application.yml:

[code]
and the following AuthenticationProvider

[code]

Running the following unit test:

[code]
The expected behavior is the test passes successfully.

### Actual Behaviour

The above code results in the following error:

`io.micronaut.http.client.exceptions.ReadTimeoutException: Read Timeout
`

Note it runs successfully with authentic

[2021-10-26 03:54] asautins commented on #6417
Note one workaround is to create a HttpClient disabling redirects:

[code]

This allows the following test to pass:

[code]

[2021-10-26 06:23] graemerocher commented on #6417
Seems something is broken in the client and it is not following the redirect

[2021-10-26 06:24] graemerocher commented on #6417
@yawkat could you take a look?

[2021-10-26 06:26] graemerocher commented on #6261
@athkalia could you provide an example that reproduces the problem?

[2021-10-26 07:35] ikovalyov opened #6420 "Custom JsonDeserializer is broken in MN 3.1.1"
### Expected Behavior

We have a custom deserealizer registered as follows:

[code]

Micronaut is using `TreeTraversingParser` to parse body parameters of controller actions and this class doesn't have initialized codec. As result code is no longer working.

### Actual Behaviour

`TreeTraversingParser`'s `codec` is always null

### Steps To Reproduce

_No response_

### Environment Information

_N

[2021-10-26 07:49] hbxu opened #6421 "GraalVM POST JSON missing data (not mapped)"
### Expected Behavior

Expected result (with fooBarList) GRAALVM:

[code]

Actual result (fooBarList missing) GRAALVM:

[code]

### Actual Behaviour

When running application as non-native application, **fooBarList** is expected.
When running application as native application, **fooBarList** is missing in JSON of POST method

### Steps To Reproduce

1. POST a structured JSON data to the endpoint
2

[2021-10-26 15:45] graemerocher commented on #6309
@yawkat we may need to modify the `GraalTypeElementVisitor` to generate reflection entries for serializers / deserializers to make this work for Jackson

[2021-10-26 16:17] #6412 closed, assigned to jameskleeh

[2021-10-26 18:59] stevenzyang opened #6427 "Nullable URI param gets set to body when another @Body param is present"
### Expected Behavior

URI param should get set to null when another @Body param is present, and route with URI param is not matched

### Actual Behaviour

URI param gets set to body when another @Body param is present, and route with URI param is not matched

### Steps To Reproduce

[code]
1. Make a POST request to `/test` with body `body`
2. Observe that the string "body" is printed

### Environ

[2021-10-26 19:28] stevenzyang commented on #6427
Annotating param with `@PathVariable` fixes this, though it isn't obvious that this is needed since everything works fine in most other cases (no body, or when the uri matches)

[2021-10-26 21:23] zdegner opened #6429 "BigDecimal precision is lost in integer cases (regression)"
### Expected Behavior

When passing in BigDecimal values on POJOs the precision should not be lost. For some business use cases the precision and rounding of decimals can be extremely important. (I noticed this on the upgrade from 2.x -> 3.1 as some of our test cases started to fail.)

### Actual Behaviour

Precision is lost in integer cases (it increases the precision by 1 by converting for examp

[2021-10-26 22:40] zdegner commented on #6429
If anyone else runs into this issue, the following workaround appears to resolve the deserialization issue temporarily:

_application.yml_

[code]

[2021-10-27 05:01] David-16 commented on #3939
Is this same as https://github.com/micronaut-projects/micronaut-core/issues/4580 ?

[2021-10-27 05:06] shahmirn commented on #3939
Seems to be the case? Sounds very similar.

[2021-10-27 07:57] dstepanov opened #6430 "Groovy superclass property type is missing annotations"
### Expected Behavior

Expected for annotations to be present on the Groovy bean property type which is defined in a superclass.
I can see annotation present on the property but not the type.

Reported https://github.com/micronaut-projects/micronaut-data/issues/1205

### Actual Behaviour

Annotatations are missing.

### Steps To Reproduce

https://github.com/micronaut-projects/micronaut-data/compa

[2021-10-27 07:57] dstepanov commented on #6430
@jameskleeh @graemerocher Can one of you take a look? I don't know much about Groovy

[2021-10-27 08:07] melix commented on #6306
See https://github.com/micronaut-projects/micronaut-aot

[2021-10-27 08:36] graemerocher commented on #6430
Are the annotations runtime retention?

[2021-10-27 08:38] dstepanov commented on #6430
Yes, it's `javax.persistence.Embeddable` and present when type is visited but not included when it's the property's type

[2021-10-27 08:39] #6420 closed, assigned to yawkat

[2021-10-27 08:40] #6269 closed, assigned to yawkat

[2021-10-27 11:29] yawkat commented on #6417
Thanks for the report. Your description that the client was waiting for the new page was correct. It didn't get a response because it incorrectly copied the `Content-Length` header from the POST request, but did not copy the actual content, so the server was stuck waiting for the data and never responded.

[2021-10-27 11:45] thurka opened #6433 "Micronaut caching elements from previous compiler runs which consumes lots of memory"
### Expected Behavior

_No response_

### Actual Behaviour

Scenario: I have running VS Code for hours on end hacking my way through a app (which was initially created by Burt for his ATP guide, link below). After a while, I noticed that the system was coming to a crawl. So, poking around in Task Manager, Net Beans Server was taking up lots of memory. see picture
![image](https://user-images.githu

[2021-10-27 11:49] thurka commented on #6433
I have got the heap dump from `nbcode64` process. Heap dump has around 200M and it looks like 15% (around 30M) is occupied by static hash map `io.micronaut.annotation.processing.JavaAnnotationMetadataBuilder.ANNOTATION_DEFAULTS`. This map contains FQN of annotation type as key and list of default values for all annotation members as value. The list of default values uses instances of `javax.lang.m

[2021-10-27 11:49] thurka commented on #6433
@graemerocher - one possibility to fix this problem is to clear the caches for each compiler run like you have mentioned. The other possibility is not to store the javac data structures (like elements and types) but rather create you own objects containing
* either the information you need to access later (like fqn, kind, etc. extracted form the original elements)
* or the information that allows

[2021-10-27 11:50] thurka commented on #6433
Tracked internally as GR-34527.

[2021-10-27 12:15] graemerocher commented on #6433
I think we should be caching the annotation default values not the `ExecutableElement` references which can hold references to previous compilation runs

[2021-10-27 12:30] yawkat opened #6434 "Do not change HTTP method when handling 307 redirects"
### Expected Behavior

The [HTTP spec](https://httpwg.org/specs/rfc7231.html#status.307) says:

When a POST request returns a 307, the micronaut http client should follow the redirect using a second POST request.

### Actual Behaviour

The micronaut http client only follows redirects using GET even for 307.

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Exa

[2021-10-27 13:14] yawkat commented on #6309
This looks like two separate issues that I will address separately:

- [x] `BeanIntrospectionModule` without reflection ignores `@JsonSerialize`
- [ ] A class passed to `@JsonSerialize` should automatically get the constructor included in graal reflective access

[2021-10-27 13:20] #6417 closed, assigned to yawkat

[2021-10-27 13:38] jameskleeh commented on #5568
Doesn't seem to be happening anymore for 3 so closing this

[2021-10-27 13:38] #5568 closed, assigned to nobody

[2021-10-27 13:42] jameskleeh commented on #6427
This is the expected behavior for arguments that have no annotation on them. We try to bind it from various sources and the body is the last place we look if it cannot be bound otherwise.

[2021-10-27 14:25] graemerocher commented on #6427
I wonder if this should not be the case if there is a parameter annotated with `@Body`, seems very weird behaviour

[2021-10-27 15:30] jameskleeh commented on #6427
Yeah I agree however the binding API is not designed to take other parameters into account. Given that the `@PathVariable` annotation should be used to denote where this should be bound from I don't think it is worth changing the API to allow for this use case

[2021-10-27 16:10] graemerocher commented on #6427
perhaps, could fail with a compilation error though, it results in non-obvious behaviour

[2021-10-27 16:14] jameskleeh commented on #6427
I'm not sure how feasible that is. It could be that he is expecting a query value there `/test?param=x` which would work. It could be the type in question is handled by a typed based binder which we wouldn't know until runtime.

[2021-10-27 17:09] bzolivereckle opened #6436 "HTTP POST Request with String body fails"
### Expected Behavior

Request is send correctly without any error

### Actual Behaviour

I get a very strange exception

[code]

Request setup

[code]

Using RxJava2

[code]

btw the only thing we changed is upgrading from micronaut 3.0.2 to 3.1.1

### Steps To Reproduce

Create HTTP Post Request
Call RxHttpClient.exchange

### Environment Information

- Windows
- JDK 16 (OpenJDK Runtime Environm

[2021-10-27 18:00] bvella opened #6437 "Consistent META-INF/services/io.micronaut.inject.BeanDefinitionReference generation"
### Feature description

I am trying to get my build to repeatably build the same docker image. When repeating a build, lines in META-INF/services/io.micronaut.inject.BeanDefinitionReference change order randomly causing the jar file hash to change and creating a different docker layer rather than matching the previously built one. It would be great (and probably relatively easy) to sort the conte

[2021-10-27 18:16] jameskleeh commented on #6394
@yawkat I can reproduce this with the servlet project. `SuspendControllerSpec` is failing on the master branch

Edit: Nevermind. The error was slightly different and had a different cause

[2021-10-27 20:21] #6427 closed, assigned to nobody

[2021-10-27 20:26] jameskleeh commented on #6436
What is the class of `body` in your case? We check for string based bodies already here:

https://github.com/micronaut-projects/micronaut-core/blob/3.1.x/http-client/src/main/java/io/micronaut/http/client/netty/DefaultHttpClient.java#L1654

[2021-10-28 06:20] bzolivereckle commented on #6436
Hey @jameskleeh as mentioned somewhere in the text, the body is of type String. It also works with 3.0.2 and all we did was upgrading to 3.1.1 so i guess there must be some change in between? I am also not shure who creates the UnpooledHeapByteBuf. Looks like a netty thing. I am 100% shure we create no UnpooledHeapByteBuf.

[2021-10-28 07:21] bzolivereckle commented on #6436
Just one more thing: after investigating a little, i am very shure, the mentioned code is processed.
Cause ```charSequenceToByteBuf``` creates the ```UnpooledHeapByteBuf``` where the introspection is complaining about.

[2021-10-28 08:05] destan commented on #5046
I think this is a missing feature rather than a bug.

* https://docs.micronaut.io/latest/guide/#jsonBinding (search for `Support for @JsonView` in this section)
* Also see https://github.com/micronaut-projects/micronaut-core/issues/1098 and related PR

I would love to see this feature implemented as well :+1:

[2021-10-28 09:02] yawkat commented on #6436
Can you please provide more details to help us reproduce this? I built a very simple test project with similar client code, and it works fine:

[code]

[2021-10-28 09:31] yawkat commented on #6429
Okay, I understand the issue, and the fix for this particular case is easy. But do we really want to open the can of worms that is a guarantee on preserving what is essentially representation metadata?

Also note that there is already a more severe problem in the same code path: if you have a decimal value that is not representable by double, it will be truncated. In your test project, this can be

[2021-10-28 09:34] graemerocher commented on #6429
Agreed, but probably needs good documentation

[2021-10-28 10:35] bzolivereckle commented on #6436
@yawkat i realy like to provide you some more details. the issue occurs within a huge project so its difficult for me to put out the right pices for you.

What also seems strange to me, is that the exception complains about ```DefaultHttpClient.java:1635``` which is not the branch for handling the strings. But its a string ... So any idea is appreciated

[2021-10-28 11:19] bzolivereckle commented on #6436
Just to give a little more information regarding current status. We went into some debugging and figured out, that while the exchange the code arount ```DefaultHttpClient.java:1630``` is called twice. The first time the body is a string as expected. The second time its that mysterious Buffer that fails.

[2021-10-28 11:20] jameskleeh commented on #6436
Is it redirecting?

On Thu, Oct 28, 2021 at 7:19 AM bzolivereckle ***@***.***>
wrote:

[2021-10-28 11:21] bzolivereckle commented on #6436
![image](https://user-images.githubusercontent.com/48242686/139246126-3495912d-c99f-4abd-b223-1838385661af.png)

[2021-10-28 11:24] bzolivereckle commented on #6436
And the second call
![image](https://user-images.githubusercontent.com/48242686/139246583-6143fc1a-0353-4123-86f9-f25402c6a5a0.png)

[2021-10-28 11:28] bzolivereckle commented on #6436
What i also found in the logs is that the call seems to produce a correct 200 response

[code]

[2021-10-28 12:34] yawkat commented on #6436
Are you sure the two requests are related? According to your debugger, they even use different HttpClient instances.

[2021-10-28 12:45] sambalmueslie commented on #6436
Yes I am sure. The instances are different, cause in that case I run into a timeout due to the breakpoint and the pod restarted. So I took the second picture after restart

[2021-10-28 12:54] yawkat commented on #6436
you can try setting a breakpoint on the constructor of the request to see where the second request is created

[2021-10-28 12:58] bzolivereckle commented on #6436
could you give me a line number pls?

[2021-10-28 12:59] yawkat commented on #6436
Just the first `NettyClientHttpRequest` constructor.

[2021-10-28 13:20] bzolivereckle commented on #6436
okay. I found now where the body of the request is set to the ByteBuffer

![image](https://user-images.githubusercontent.com/48242686/139263859-9b477f20-1737-4242-a105-b430f67ab0b4.png)

[2021-10-28 13:23] yawkat commented on #6436
Looks like the request is being processed twice and it can't handle that.

[2021-10-28 13:23] bzolivereckle commented on #6436
yeah thats also my guess, but i dont know why ...

also from the logs i see that a answer is received, but ignored

[code]

[2021-10-28 13:24] jameskleeh commented on #6436
Are you reusing the same request object?

[2021-10-28 13:31] bzolivereckle commented on #6436
@jameskleeh i create a request and call ```client.exchange``` thats all i do.

What i currently saw is that ```buildNettyRequest``` is somehow called twice (dont know where that comes from) and within that method the body of the initial request is modified from String to ByteBuffer. And within the second call, the request contains a byte buffer which is getting around the String handling ...

So n

[2021-10-28 13:33] jameskleeh commented on #6436
Absent of an example to reproduce this I don't think we can be of much more help

[2021-10-28 13:35] yawkat commented on #6436
You can try tracing back further through the reactive code, e.g. by breaking on `exchange(HttpRequest, Argument, Argument)`.

[2021-10-28 13:41] bzolivereckle commented on #6436
@yawkat i had already some breakpoints on exchange ... the thing is, that at some point its running within nettys "event loop" .. and the creation of the NettyHttpRequest is coming from there

[2021-10-28 13:44] yawkat commented on #6436
"In the event loop" is nothing special, since the reactive code can easily switch threads. The event loop just runs whatever it's fed, so you have to determine the initial cause.

[2021-10-28 13:48] bzolivereckle commented on #6436
@jameskleeh sorry i could not provide you more .. one more question on your "gut feeling" the only change we made was updating from micronaut 3.0.2 to 3.1.1 and we currently managing our dependencies within a separate project we call (micronaut-common) which creates a jar we use as a dependency. The structure looks like that
![image](https://user-images.githubusercontent.com/48242686/139269042-4ee

[2021-10-28 15:07] bzolivereckle commented on #6436
@yawcat the second "create request" comes from netty and the stack is identical. The exchange is called only once.

[code]

[2021-10-28 15:21] melix opened #6447 "Choose between `Customizer` and `Configurer`"
### Issue description

For the new application context configuration mechanism, we have `@ContextConfigurer` (the annotation) and `ApplicationContextCustomizer` (the interface that types annotated with `@ContextConfigurer` need to implement).

We should probably choose between `Configurer` and `Customizer`. My preference would be to go with: `@ContextConfigurer` + `ApplicationContextConfigurer`. I

[2021-10-28 15:55] bzolivereckle commented on #6436
We finally found a "solution" after upgrading from RxJava2 to RxJava3 it worked fine.
I have no idea, what leads to the problem. but it seems to be related to the rxjava2 implementation or dependencies.

[2021-10-28 15:57] #6436 closed, assigned to yawkat

[2021-10-28 16:09] graemerocher commented on #6447
Fine by me

[2021-10-29 00:11] asautins opened #6449 "JWT cookie not set with authorization: cookie in Junit test..."
### Expected Behavior

Issue #6417 resolved the timeout error when authorization: cookie is set and testing using DefaultHttpClient in a junit test.

Now the following test is failing:

[code]

The expected behavior is the test passes successfully

### Actual Behaviour

The actual behavior is the test is failing on the following assertion:

`        assertTrue(rsp.getCookie("JWT").isPresent());`

[2021-10-29 01:15] dstepanov commented on #6266
Can we close this?

[2021-10-29 03:40] asautins commented on #6449
Now that I think about it shouldn't the cookie be part of the client?  Something like `client.getCookie("JWT")`?

[2021-10-29 14:29] #6429 closed, assigned to yawkat

[2021-10-29 14:42] jameskleeh commented on #6449
The client is following the redirect and thus the cookie is lost when the redirect request is sent. You can configure the client to not follow redirects and you would then see the header.

[2021-10-29 14:42] #6449 closed, assigned to nobody

[2021-10-29 15:00] jameskleeh commented on #6447
I don't have a preference either way as long as they are consistent

[2021-10-29 16:32] #6309 closed, assigned to yawkat

[2021-10-29 23:20] mnebus opened #6456 "docker packaging not working with Java 17 and maven"
### Expected Behavior

GIven a brand new project generated from CLI or Launch with JDK_17 as the javaVersion
When you execute a `./mvnw clean package -Dpackaging=docker` build
It should complete successfully

### Actual Behaviour

[code]

This issue can be resolved by upgrading to a newer version of Jib (eg, `<jib-maven-plugin.version>3.1.4</jib-maven-plugin.version>`) and setting a JDK 17 compati

[2021-10-29 23:39] mnebus opened #6457 "docker-native packaging not working with Java 17"
### Expected Behavior

GIven a brand new project generated from CLI or Launch with JDK_17 as the javaVersion
When you execute a `./mvnw clean package -Dpackaging=docker-native` build
It should complete successfully

### Actual Behaviour

[code]

### Steps To Reproduce

[code]

This error stems from this code:  [DockerNativeMojo.java#L97](https://github.com/micronaut-projects/micronaut-maven-plugin

[2021-10-31 03:08] asautins commented on #6449
@jameskleeh that's fair.  I can see it not being a bug.  Just for completeness I am extracting the JWT authentication token from the `set-cookie` when using `authentication: cookie` as follows:

[code]

It's more complicated than with `authentication: bearer` which I am able to do using the following code (using https://guides.micronaut.io/latest/micronaut-security-jwt-gradle-java.html as a guide)

[2021-11-02 07:08] #6433 closed, assigned to jameskleeh

[2021-11-02 10:50] ilopmar commented on #6457
This will be fixed in #6465

[2021-11-02 10:51] ilopmar commented on #6456
This will be fixed in #6465

[2021-11-02 12:37] agsilvio opened #6467 "Properties in @Named are not resolved"
### Steps to Reproduce

1. Set up any example MN 3 project
2. Add these two classes

[code]

[code]

3. Ensure this property is in `application.yml`

[code]

4. Configure the annotation processors in accordance with documentation

[code]

### Expected Behaviour

The property expressed in `@Named` should resolve (just as in MN 2). The Bean should be found. If there is some problem resolving the pro

[2021-11-02 14:06] jameskleeh commented on #6467
@agsilvio Unfortunately due to the optimizations we have done this functionality was lost. Fortunately there is a way for you to achieve the same thing, just slightly differently.

[code]

[2021-11-02 14:07] #6467 closed, assigned to jameskleeh

[2021-11-02 14:46] agsilvio commented on #6467
Much appreciated. I will try this out. Thank you.

[2021-11-03 08:23] #6456 closed, assigned to ilopmar

[2021-11-03 14:23] #6430 closed, assigned to jameskleeh

[2021-11-03 15:29] rsenden opened #6472 "Jackson deserialization ignoring JsonProperty annotations"
### Expected Behavior

Given the class listed below, Jackson should properly deserialize the `access_token` and `expires_in` properties provided in the JSON input being deserialized, using the `BeanIntrospection` class generated through the `@Introspected` annotation.

[code]

### Actual Behaviour

Jackson correctly deserializes the JSON data when running in a normal JVM, but not in a GraalVM nati

[2021-11-04 03:59] bossyahrul commented on #218
@rubensyltek's solution works, but it must be `micronaut-inject-java` instead of `inject-java`

[2021-11-04 08:45] #6421 closed, assigned to yawkat

[2021-11-04 14:03] yawkat commented on #6472
Thanks for the report!

Unfortunately, fixing this would require changing the annotation behavior for bean properties. Right now, bean property scanning considers the annotations of the field, and if that isn't present, the annotations on the getter only. Expanding this to include annotations on the setter would require implementing some form of annotation merging, which is a can of worms we do no

[2021-11-04 14:06] graemerocher commented on #6472
It can go on the field or the getter. We do currently merge the metadata from the field and the getter, but like you said it is probably not worth considering the setter because then we would also need to consider the annotation on the setter parameter which complicates matters a great deal.

[2021-11-04 14:11] yawkat commented on #6472
@graemerocher Yea you're right, I misread the code. The merging happens in `getAnnotationMetadata(fieldElement, value.getter)`. So there is precedent for merging, and we could expand that to the setters.

I don't think we necessarily need to scan the param annotations though. At least for jackson annotations, they're usually on the method (except stuff like `@JsonCreator`).

[2021-11-04 15:32] rsenden commented on #6472
@yawkat @graemerocher In this particular example there is no field or getter for `expires_in` to which I could apply the `@JsonProperty` annotation. Based on the value of `expires_in` in the input JSON document, I calculate the value for the `expiresAt` property.

[2021-11-04 15:43] graemerocher commented on #6472
@yawkat the correct fix in that case is to fuse the metadata, I am actually hitting a similar issue with records and introspections at the moment

[2021-11-04 15:45] yawkat commented on #6472
@rsenden I see, that is even more problematic. Setter-only properties are not considered properties under bean introspection.

[2021-11-04 16:39] yawkat commented on #6472
ok i think copying annotations from the setter is doable, if a bit ugly. I will do that tomorrow.

[2021-11-04 16:43] markjfisher opened #6479 "Cannot use MicronautCaffeineCacheMetrics.monitor if there is caches section in application.yml"
### Expected Behavior

Upgrading an existing application from 2.x to 3.x should not fail when using both MicronautCaffeineCacheMetrics.monitor and a caches section (with cacheable functions in the application).

### Actual Behaviour

Application fails to startup with error message:

[code]

### Steps To Reproduce

Download the example application provided, and run it.

Removing the "caches" entrie

[2021-11-04 16:58] markjfisher commented on #6479
I raised this in gitter, but can't find a way of linking, but the search is `from:"mark fisher" sent:[2021-11-04 TO 2021-11-05]`

[2021-11-04 17:42] jameskleeh commented on #6479
Try changing `OtherService` to the following:

[code]

Note you have to use the `com.github.benmanes.caffeine.cache` imports

[2021-11-04 17:51] jhoweaa opened #6480 "AuthorizationException does not reference original error/exception from custom AuthenticationProvider"
When creating a custom AuthenticationProvider and a custom AuthorizationException handler, details about errors that happen in the AuthenticationProvider are not available to the exception handler code.

### Task List

- [X] Steps to reproduce provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

Buil

[2021-11-04 18:56] markjfisher commented on #6479
Excellent, I can now see the values in prometheus, and no errors.
[code]

[2021-11-04 19:04] jameskleeh commented on #6479
@graemerocher Do you understand the need for https://github.com/micronaut-projects/micronaut-micrometer/blob/master/micrometer-core/src/main/java/io/micronaut/configuration/metrics/binder/cache/MicronautCaffeineCacheMetrics.java ? We relocate caffeine in core but I don't think any of the caches we create are setup for metrics

[2021-11-04 19:54] #6437 closed, assigned to jameskleeh

[2021-11-04 21:43] graemerocher commented on #6479
Should be deprecated and removed. Also the JAR jared version of caffeine should be removed IMO

[2021-11-05 05:57] #6434 closed, assigned to yawkat

[2021-11-06 20:52] zsiegel commented on #2479
@rodolfodpk If you want the `allopen` plugin to be aware of `@Transactional` you need to indicate this in your `build.gradle` file. Docs and example are below...

https://kotlinlang.org/docs/all-open-plugin.html#gradle

[code]

[2021-11-07 10:25] gbkishan commented on #4263
Hi @willemsst. Good Day. It seems as per your patch code, was implemented custom Event handler (CqrsEventBusHandler). Can I have that piece of code how this is implemented, where i have the requirement of implementation of triggering the events, with the one which has the custom annotation. I see this can be implemented using @Adapter as per documentation. Somehow I am unable to implement the same

[2021-11-08 07:55] yawkat commented on #6472
@graemerocher Even for fields the semantics here are weird. It seems like since it uses `buildForParent` with the field marked as the parent element of the getter, it only copies `@Inherited` annotations from the field. Do you know why this is?

[2021-11-08 11:59] graemerocher commented on #6472
@yawkat Are you sure? `@NotNull` is not inherited and seems to be copied/merged here https://github.com/micronaut-projects/micronaut-core/blob/d236f2c8a756b773143fb37a0b87c694ef750dec/inject-java-test/src/test/groovy/io/micronaut/inject/visitor/beans/BeanIntrospectionSpec.groovy#L1059-L1101

[2021-11-08 12:11] yawkat commented on #6472
Hm yea, the code is super weird. Looking at the debugger, it seems like in this code, the `isDeclared` check is responsible for adding annotations from the getter, and the `element == parent` check is responsible for the field:

https://github.com/micronaut-projects/micronaut-core/blob/d236f2c8a756b773143fb37a0b87c694ef750dec/inject/src/main/java/io/micronaut/inject/annotation/AbstractAnnotationMe

[2021-11-08 12:49] willemsst commented on #4263
hi @gbkishan, I extracted my code in a separate standalone project and pushed it to an public repo. You can find it here: https://github.com/willemsst/micronaut-cqrs-framework

Hope this helps.

[2021-11-08 13:00] graemerocher commented on #6472
yeah this code looks like it has become a bit of mess over time as it is tries to handle both the case of inherting meta annotations but also annotations between elements :/

[2021-11-08 23:07] infinityat0 opened #6493 "Micronaut doesn't give the application code control of the order in which resources are gracefully shutdown/closed"
### Feature description

From conversations with @jameskleeh @jeffbrown it appears that micronaut uses bean dependencies to gracefully shutdown the beans created. This does not follow a functional order of resource termination in a service. Other frameworks do allow for shutdown hooks to be ordered but micronaut doesn't.

Consider the example in the following link. (See: https://twitter.github.io/

[2021-11-09 13:34] yawkat commented on #5629
Yes, tested with 3.1.3, seems to be fixed.

[2021-11-09 13:34] #5629 closed, assigned to yawkat

[2021-11-09 17:19] sayleenaik opened #6495 "Retryable annotation should ask for a predicate bean rather than a class."
### Feature description

Currently `Retryable` annotation creates a custom predicate using class type like this
`@Retryable( predicate = CustomRetryPredicate.class)`
which creates this predicate implementation using default constructor.
This obstructs using external parameters configured via `application.yaml`

In order to make it more flexible, can we have it use a bean instead which is loaded wi

[2021-11-09 18:34] marcosflobo commented on #6266
@dstepanov I still don't understand why it's not getting the default values set on the `application.yaml` file

[2021-11-09 19:39] longwa opened #6496 "Revert the change that fails startup if configuration files are not found or add a flag to make them optional"
### Expected Behavior

The change https://github.com/micronaut-projects/micronaut-core/issues/2674 makes it difficult to load optional configuration.

Specifically, we setup configuration files that are present in some environments and not in others. Having configuration files which are specified at startup and ignored if not present allows for more dynamic deployment options.

We will use the pre

[2021-11-09 23:41] infinityat0 commented on #6493
I have also noticed that doing so myself and listening to a ShutdownEvent wouldn't really work because micronaut doesn't really expose lifecycle methods for a lot of underlying resource handlers. For instance, a kafka producer is created by just calling `@KafkaClient` annotation and we would not have, in service code any control on when and how we can pause/shut it down.

[code]

[2021-11-09 23:51] infinityat0 commented on #6493
So, I think the solution here could be a little intrusive for micronaut but quite clean in terms of using it. May be a new annotation like @Closable(int: order) for resources.

[code]

[2021-11-10 01:52] caiolopes commented on #4837
Same as @vnesek here. Using `CompletedFileUpload`.

Working on a reproducer...

[code]