[2022-03-16 09:04] sdelamo opened #7086 "GraalVM Kotlin test failure: com.oracle.svm.hosted.substitute.DeletedElementException: Unsupported method java.lang.Class.isDirectSubType(Class)"
Steps to reproduce:

- Clone `https://github.com/micronaut-graal-tests/micronaut-kotlin-graal`
- Checkout branch `3.4.x`
- `/build-native-image.sh`

https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2208554358

[code]

[2022-03-16 10:03] graemerocher commented on #7085
I am looking into this one

[2022-03-16 10:13] graemerocher commented on #7085
I can't reproduce this with the current stable 22.0.0 release of GraalVM

[2022-03-16 10:16] yawkat commented on #7086
cant reproduce this using 22.0.0.2.r17-grl

[2022-03-16 10:20] graemerocher commented on #7084
I can't reproduce this with the current stable 22.0.0 release of GraalVM

[2022-03-16 10:21] timyates commented on #7071
Done in https://github.com/micronaut-projects/micronaut-core/pull/7076

[2022-03-16 10:21] #7071 closed, assigned to timyates

[2022-03-16 10:23] graemerocher commented on #7083
I can't reproduce this with the current stable 22.0.0 release of GraalVM

[2022-03-16 10:26] graemerocher commented on #7082
I can't reproduce this with the current stable 22.0.0.2 release of GraalVM

[2022-03-16 10:26] graemerocher commented on #7086
I can't reproduce this with the current stable 22.0.0.2 release of GraalVM

[2022-03-16 10:33] graemerocher commented on #7077
I don't think you can actually, but it probably would be nice to allow it

[2022-03-16 14:40] tom-rauk opened #7087 "Declarative HttpClient blocking on http registry getClientKey"
### Expected Behavior

Expect no blocking on `beanContext.getBean(JsonMapper.class)` in `io.micronaut.http.client.netty.DefaultNettyHttpClientRegistry#getClientKey` while using declarative http client.

### Actual Behaviour

Lot of blocking on `beanContext.getBean(JsonMapper.class)` in `io.micronaut.http.client.netty.DefaultNettyHttpClientRegistry#getClientKey` while using declarative http client

[2022-03-16 17:19] graemerocher commented on #7087
probably happens only the first intiialization of the `JsonMapper` as it reads the config for Jackson. Doubt this is a problem of generally blocking

[2022-03-17 02:47] jameskleeh commented on #6781
TODO: Fail compilation if method passed to `@ConfigurationBuilder(factoryMethod=` is not annotated with `@JvmStatic`

Example: This will fail at runtime because `Test.build()` doesn't exist.
[code]

[2022-03-17 11:25] sdelamo commented on #7086
This happens with BUILD-SNAPSHOT of GraalVM.

[2022-03-17 11:26] sdelamo commented on #7082
This happens with SNAPSHOT of GraalVM.

[2022-03-17 11:26] sdelamo commented on #7083
This happens with snapshot of GraalVM.

[2022-03-17 11:26] sdelamo commented on #7084
This happens with SNAPSHOT of GraalVM.

[2022-03-17 13:29] yawkat commented on #7087
@graemerocher i think this refers to lock blocking, from the getBean call

should be straight-forward to fix, just cache the JsonMapper in a field in the registry

[2022-03-17 13:59] graemerocher commented on #7087
Gotcha, makes sense

[2022-03-17 14:20] sdelamo commented on #7006
About reducing CI Build times:

https://github.com/micronaut-projects/micronaut-guides/runs/5583412872?check_suite_focus=true

Java 17 1h 39m
Java 11 2h 22m

[2022-03-18 08:45] yawkat commented on #6993
https://github.com/FasterXML/jackson-databind/pull/3417

[2022-03-18 11:42] tchiotludo opened #7098 "Netty memory leak with server sent events"
We have an error that is raised several time per day on several project :
`LEAK: ByteBuf.release() was not called before it's garbage-collected`:

The project are :
- https://github.com/tchiotludo/akhq with [this issue](https://github.com/tchiotludo/akhq/issues/1037)
- https://github.com/kestra-io/kestra

I can't make it easily reproduce but I'm sure that this error is located on Server Sent Event

[2022-03-18 11:43] graemerocher commented on #7098
@yawkat can you take a look next time you have cycles? Thanks

[2022-03-18 15:31] yawkat commented on #7098
Another that is likely fixed by #6896

[2022-03-18 23:01] tmapes opened #7101 "AOP - Using Retryable and Recoverable with a suspend function fails"
### Expected Behavior

A `suspend` function annotated with both `@Retryable` and `@Recoverable` should retry as many times as configured in the `Retryable` annotation before triggering the `Recoverable` Fallback.

### Actual Behaviour

During execution, a ClassCastException is raised during the RecoveryInterceptor that causes the Fallback to be executed during execution of the declared function.

[2022-03-20 09:22] lorenzopiovesan-dev commented on #1433
Hi, has anything changed with this Feature request for the creation of sub-resources within Controllers?

[2022-03-21 01:56] forresthopkinsa commented on #1312
This doesn't seem to work today

[2022-03-21 03:51] sdelamo opened #7105 "Release 3.4.0"
## Pre-Release Checklist

### GraalVM Tests Suite

- [x] [Verify stable GraalVM Tests pipeline for the Release](https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/pipelines) passes.

#### Align [Micronaut GraalVM test projects](https://github.com/micronaut-graal-tests/).

They should match the projects generated in stater. Use [bash scripts](https://gitlab.com/micronaut-projects/upgrade

[2022-03-21 05:00] sdelamo opened #7107 "GraalVM Test fails for micronaut-kotlin-graal"
### Issue description

- Clone: [micronaut-kotlin-graal](https://github.com/micronaut-graal-tests/micronaut-kotlin-graal)
- Checkout branch 3.4.x
-  `./build-native-image.sh`

Error:

[code]

[2022-03-21 06:48] sdelamo commented on #7107
I tried adding:

`kotlin-runtime/src/main/resources/META-INF/native-image/io.micronaut.kotlin/kotlin-runtime/native-image.properties`

[code]

https://github.com/micronaut-projects/micronaut-kotlin/pull/376

Publish to Maven local and use that version in the GraalVM test app but it is still fails

[2022-03-21 10:08] sdelamo commented on #7107
@yawkat any idea? we released serde 1.0.0 and merge it 3.4.0 BOM on Friday https://github.com/micronaut-projects/micronaut-core/pull/7095

[2022-03-21 11:08] yawkat commented on #7107
i dont understand, the stack trace says the `FqNameUnsafe` is created in a code path reachable from `main`, why is it running `main` in the image initialization?

[2022-03-21 11:11] sdelamo commented on #7107
this is the sample app https://github.com/micronaut-graal-tests/micronaut-kotlin-graal/tree/3.4.x

[2022-03-21 11:15] yawkat commented on #7107
yes i can reproduce it locally as well, but i know too little about graal to understand why it is happening

[2022-03-21 11:37] graemerocher commented on #7107
having a look myself

[2022-03-21 13:43] graemerocher commented on #7107
Submitted a PR, needs a new release of the Kotlin module

[2022-03-21 13:58] sdelamo commented on #7107
I will review it and release the module

[2022-03-21 14:05] #7107 closed, assigned to nobody

[2022-03-21 14:34] sdelamo opened #7116 "Add kafka BOM to core"
### Issue description

https://github.com/micronaut-projects/micronaut-kafka/issues/509

[2022-03-22 08:32] #7022 closed, assigned to nobody

[2022-03-22 09:07] sdelamo opened #7126 "Docs are published to micronaut-core/gh-pages they should be published to micronaut-docs/gh-pages"
### Issue description

We publish Micronaut Core docs to [`gh-pages` branch of `micronaut-docs`](https://github.com/micronaut-projects/micronaut-docs/tree/gh-pages).

[3.4.0 Release](https://github.com/micronaut-projects/micronaut-core/actions/runs/2020360635) published them to [`gh-pages` branch of `micronaut-core`](https://github.com/micronaut-projects/micronaut-core/commit/5b3464c0a2e73b0cab6a1

[2022-03-22 09:36] #7087 closed, assigned to nobody

[2022-03-22 09:59] yawkat commented on #7027
This looks like it's an issue that is fully on logbook's side, we can't do anything about this. The logbook channel handler should not drop messages even if they're invalid. Please report this bug with them.

[2022-03-22 09:59] #7027 closed, assigned to yawkat

[2022-03-22 10:12] #2863 closed

[2022-03-22 11:23] yawkat commented on #6975
i think this is actually a jax-rs issue

[2022-03-22 11:23] yawkat commented on #7288
i think this is actually a jax-rs issue

[2022-03-22 14:39] yawkat commented on #7129
@burtbeckwith is this a new issue? i think naming strategies are simply not supported by the BeanIntrospectionModule, unless the bean is marked for reflective access.

[2022-03-22 14:51] graemerocher commented on #7129
@yawkat seems that we should add these to the reflection config

[2022-03-22 14:53] graemerocher commented on #7129
A `reflect-config.json` with the naming strategies is needed in this module https://github.com/micronaut-projects/micronaut-core/tree/3.4.x/jackson-databind

[2022-03-22 14:53] yawkat commented on #7129
@graemerocher yes, but even with those present, I dont think it will work with the beanintrospectionmodule

[2022-03-22 14:54] graemerocher commented on #7129
It seems this is supported? https://github.com/micronaut-projects/micronaut-core/issues/4948

[2022-03-22 14:55] yawkat commented on #7129
we don't break it explicitly anymore, but if reflection info isnt present, it still doesnt work. (i tested with serialization, but i guess the same applies for deserialization)

[2022-03-22 14:56] graemerocher commented on #7129
We will need to fix that in that case

[2022-03-22 14:58] yawkat commented on #7129
https://github.com/micronaut-projects/micronaut-core/issues/6665

But we can't support every jackson feature

[2022-03-22 15:00] graemerocher commented on #7129
if we don't fix it then the only alternative is to remove `@Introspected` from Micronaut Security and rel reflection for micronaut security and register the graalvm metadata for the reflected classes then for Micronaut Serialization we will have to write custom serializers and deserializers

This is a serious issue because this used to work and is used as the basis for this blog post comparing the

[2022-03-22 15:02] yawkat commented on #7129
we could move to explicitly marking the fields using `@JsonProperty`, which would at least fix security

[2022-03-22 15:53] melix commented on #6306
Closing as delivered via Micronaut AOT.

[2022-03-22 15:53] #6306 closed, assigned to melix

[2022-03-22 15:56] melix commented on #7126
Is this something new (a newly added regression)?

[2022-03-22 16:47] alvarosanchez commented on #7126
An overlook while merging a sync PR: https://github.com/micronaut-projects/micronaut-core/commit/5f79a991fc3c7ecfd2ac1ea813e58363b6e8da44#diff-87db21a973eed4fef5f32b267aa60fcee5cbdf03c67fafdc2a9b553bb0b15f34L63

Having that line different in core is a pain, so instead, I will put the condition in the template

[2022-03-22 21:29] Paullo612 opened #7132 "BeanProvider's find method ignores passed qualifier"
### Expected Behavior

A qualifier passed to BeanProvider's `find` method should participate in bean filtering process.

### Actual Behaviour

It is not.

### Steps To Reproduce

`qualifier` argument is just ignored:
https://github.com/micronaut-projects/micronaut-core/blob/cd6065195aff610c70865c2f9b194070dc01cbb1/inject/src/main/java/io/micronaut/inject/provider/BeanProviderDefinition.java#L72-L7

[2022-03-23 11:10] sdelamo opened #7135 "Modify version catalogue to use GRPC BOM"
### Issue description

See: https://github.com/micronaut-projects/micronaut-grpc/issues/466

[2022-03-23 12:00] #7126 closed, assigned to alvarosanchez

[2022-03-24 09:48] #7098 closed, assigned to yawkat

[2022-03-24 15:44] alvarosanchez opened #7141 "Native Image generation fails in 3.4.1-SNAPSHOT"
Fails with both Maven and Gradle.

[code]

[2022-03-24 15:52] alvarosanchez commented on #7141
Probably introduced by https://github.com/micronaut-projects/micronaut-core/pull/6896

[2022-03-24 18:37] p4vl1n opened #7143 "micronaut-data on Oracle database"
### Expected Behavior

When fetching nested entities using the @Join annotation the select should return all the data from the database
For example :
SELECT P."ID",P."NAME",P."AGE",P."ADDRESS_ID",a."VERY_LONG_COLUMN_NAME_30_CHARS" AS avery_long_column_name_30_chars,a."ANOTHER_VERY_LONG_COLUMN_NAME" AS aanother_very_long_column_name FROM "PERSON" P LEFT JOIN "ADDRESS" a ON P."ADDRESS_ID"=a."ID"

##

[2022-03-25 03:05] codeconsole opened #7144 "BUG 3.4.0: No bean of type io.micronaut.context.event.ApplicationEventPublisher exists"
### This is a bug new to v3.4.0 - Perhaps test building a basic empty app before future releases?
v3.3.4 works fine

### Expected Behavior

Freshly created basic app can be run via `java -jar./build/libs/test-0.1-all.jar`

`./gradlew run` works:
20:06:55.564 [main] INFO  io.micronaut.runtime.Micronaut - Startup completed in 285ms. Server Running: http://localhost:8080

`java -jar ./build/libs/test

[2022-03-25 08:24] graemerocher commented on #7144
This is https://github.com/micronaut-projects/micronaut-gradle-plugin/issues/406

[2022-03-25 08:35] sdelamo commented on #7144
Workaround:

[code]

[2022-03-25 08:35] #7144 closed, assigned to nobody

[2022-03-25 08:39] sdelamo commented on #7082
@graemerocher the cassandra app now fails with a different error for 3.4.x-dev which tests latest commit in GraalVM master:

[code]

Error:
https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2249093279

Please, note that this test passes for 3.4.x and 22.0.0.2 release of GraalVM:

https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2248810875

[2022-03-25 08:42] sdelamo commented on #7085
@graemerocher Data tests fail now for a different reason for 3.4.x and latest master commit of GraalVM.

❌ https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2249088587

[code]

They pass for 22.0.0 release of GraalVM and 2.4.x:
✅ https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2248810752

[2022-03-25 08:56] #7082 closed, assigned to graemerocher

[2022-03-25 08:56] #7083 closed, assigned to graemerocher

[2022-03-25 08:56] #7084 closed, assigned to graemerocher

[2022-03-25 08:56] #7085 closed, assigned to graemerocher

[2022-03-25 08:56] #7086 closed, assigned to graemerocher

[2022-03-25 08:57] sdelamo opened #7147 "3.5.x-stable & 22.1.0 GraalVM failure: java.lang.ClassNotFoundException: org.hibernate.cfg.beanvalidation.TypeSafeActivator"
@graemerocher Data tests fail for 3.4.x and latest master commit of GraalVM.

❌ https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2249088587

[code]

They pass for 22.0.0 release of GraalVM and 2.4.x:
✅ https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2248810752

# Steps to reproduce

With GraalVM latest commit:

- Clone [micronaut-data-jpa-graal](https://github.

[2022-03-25 08:59] sdelamo commented on #7085
This is now fixed for 2.4.x-dev. There is [another issue](https://github.com/micronaut-projects/micronaut-core/issues/7147).

[2022-03-25 09:02] sdelamo opened #7148 "3.4.x-dev & latest GraalVM Commit test failure: Cassandra - Enclosing method not found"
### Issue description

@graemerocher the cassandra app now fails  for 3.4.x-dev which tests latest commit in GraalVM master:

[code]

Error:
https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2249093279

Please, note that this test passes for 3.4.x and 22.0.0.2 release of GraalVM:

https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2248810875

# Steps to reproduce

[2022-03-25 09:56] #7141 closed, assigned to yawkat

[2022-03-25 14:46] codeconsole commented on #7144
Thanks for the fast response and providing a workaround that I can confirm works.

[2022-03-25 18:57] yawkat commented on #5542
I don't think we should support this.

- `NettyCookie` doesn't support this either (it has no toString at all)
- netty's `DefaultCookie` impl matches our behavior for toString, they're not `Set-Cookie`-compliant either
- Cookie encoding is different for client and server, so picking one representation doesn't make sense (though the client impl is trivial, so maybe less of a point)
- Cookie encodin

[2022-03-25 18:57] #5542 closed, assigned to yawkat

[2022-03-25 19:02] yawkat commented on #5234
This is a duplicate of #6452 (or rather the other way around).

That issue mentions a pending feature:

However I think implementing this is unnecessary since the best way is to use `@Introspected` on the serializer class anyway.

[2022-03-25 19:02] #5234 closed, assigned to yawkat

[2022-03-25 22:18] frehov opened #7150 "Support resolving random properties in property placeholder expressions"
### Feature description

As the title suggest I would like to suggest that support for [resolving random properties](https://docs.micronaut.io/3.3.4/guide/index.html#propertySource) is added to property placeholder expression resolving.

Currently it looks like this is only resolved at the time of processing a propertysource that's been added.
As such it's not currently available to use within eit

[2022-03-26 14:15] markjfisher opened #7151 "JsonFormat annotation ignored on Entity data classes"
### Expected Behavior

I should be able to set a JsonFormat override on fields in an entity

### Actual Behaviour

The JsonFormat specified is ignored

### Steps To Reproduce

Run the tests in the project below.
The entity version will fail, as it does not apply the JsonFormat annotation to the field, whereas the POJO version does work.

### Environment Information

Ubuntu Linux, Java 11, etc.

##

[2022-03-27 16:19] faireai-fmonorchio commented on #6503
There are news about this issue with groovy? Thanks! :-)

[2022-03-28 08:20] codepitbull opened #7154 "Is eager init required to get the config evaluated at startup?"
### Issue description

I wasn't sure if this is by design or I am overlooking something so I filed this as other.

We are using Micronaut 3 for several applications and I just realised that config isn't evaluated on startup.
This is rather important to us because we are running continuous deployment and a broken config (e.g. missing environment variable) could be the cause for the application fail

[2022-03-28 08:32] graemerocher commented on #7154
See https://docs.micronaut.io/latest/guide/#eagerInit

You can add:

[code]

Which eagerly initializes only the configuration

[2022-03-28 08:37] codepitbull commented on #7154
Aaaaaaahhhhhhhh, I am so sorry.
Yes, I just stumbled over that method.

Sorry for bothering and thanks even more for your quick reply :)

[2022-03-28 08:37] #7154 closed, assigned to nobody

[2022-03-28 23:53] yawkat opened #7158 "Allow changing Host header of proxied HTTP request"
### Feature description

Also see spring http client.

[2022-03-29 12:47] #7105 closed, assigned to nobody

[2022-03-29 15:35] mariogarcia commented on #5323
Same here,  **annotationProcessor** doesn't work. Both **implementation** or **compileOnly** seem to work:

[code]

My environment:

- micronautVersion=3.3.4
- jdk=17

[2022-03-29 18:13] caw-ishikajain commented on #6579
I am facing same error above things didn't worked for me. I am facing it with Repository. more details are at https://stackoverflow.com/questions/71665667/micronaut-error-multiple-possible-bean-candidates-found-io-micronaut-aop-int

`"Internal Server Error: Error instantiating bean of type  [com.cawstudios.authentication_service.controllers.UserController]\n\nMessage: Multiple possible bean candid

[2022-03-29 19:33] yawkat commented on #5059
not easy to fix, HttpClients aren't aware which client id was used to construct them

[2022-03-29 23:27] jameskleeh commented on #7158
If you remove the host header manually it will be recalculated, however some may want to store the original one in X-Forwarded-For or one of the other strategies

[2022-03-30 07:34] #6153 closed, assigned to yawkat

[2022-03-30 10:09] #6665 closed, assigned to yawkat

[2022-03-30 10:09] #6904 closed, assigned to yawkat

[2022-03-30 10:09] #7129 closed, assigned to yawkat

[2022-03-30 10:20] sajagjain opened #7166 "ServiceReadyEvent not fired when Application Deployed as War on Non Embedded Tomcat"
### Issue description

Use Case:
Setup Health Check for App (App has a name).

Problem:
The status of the health check request is 503 since ServiceReadyEvent is never fired.

Query:
Is there a way to turn off or disable a particular type of check?

[2022-03-30 10:20] sajagjain commented on #7166
@jameskleeh

[2022-03-30 10:39] timyates commented on #7135
Closed by https://github.com/micronaut-projects/micronaut-core/pull/7162

[2022-03-30 10:39] #7135 closed, assigned to timyates

[2022-03-30 11:19] dansiviter opened #7167 "SIGSEGV On Alpine/MUSL"
### Expected Behavior

Application runs without crashing.

### Actual Behaviour

Application fails with SIGSEGV:

[code]
This issue is due to netty/netty#11701: [MUSL is **not** supported](/netty/netty/wiki/Native-transports#using-the-linux-native-transport).

Raising ticket for awareness of issue for others.

### Steps To Reproduce

Create application with Alpine base image.

### Environment Info

[2022-03-30 14:03] yawkat commented on #7158
@jameskleeh right now, for proxied requests, we always recalculate the `Host`: https://github.com/micronaut-projects/micronaut-core/blob/29d395f6b74ee7355a146c70aca219d6bfce3704/http-client/src/main/java/io/micronaut/http/client/netty/DefaultHttpClient.java#L3007

[2022-03-30 14:22] alvarosanchez commented on #7167
@dansiviter did you package the application using our build plugins? Was it generated via Micronaut Launch?

Perhaps we can better help users with the `micronaut.runtime` property, and/or some warning via the build plugins, and/or some feature validation in Launch.

[2022-03-30 14:30] dansiviter commented on #7167
It was packaged using Jib gradle plugin using `eclipse-temurin:11-jre-alpine` image.

[2022-03-30 14:47] alvarosanchez commented on #7167
Right, then in that case we can only document it.

[2022-03-31 13:57] LajosPolya commented on #5323
My Env:
Micronaut=3.2.3
JDK=16

[2022-03-31 14:15] graemerocher commented on #5323
probably it makes sense for this to be `compileOnly` in the Gradle/Maven plugins

[2022-03-31 15:32] alvarosanchez opened #7169 "Allow disabling beans / packages via configuration"
There are many situations in which a user may simply want to disable some beans in certain scenarios.

For the modules that we have built, we often make the configuration properties classes to implement [`Toggleable`](https://docs.micronaut.io/latest/api/io/micronaut/core/util/Toggleable.html) so that they can be enabled/disabled via configuration. In other places (such as other beans, or `package

[2022-03-31 15:37] alvarosanchez commented on #5323
Why in the plugins and not in starter?

[2022-04-01 01:52] chrisparton1991 commented on #3685
My current workaround for this is to disable the built-in HEAD endpoints (e.g. `@Get("/{id}", headRoute = false)`), then define my own that calls my GET endpoint.

I'd love to be able to use Micronaut's built-in endpoint, but this does the job for now. I've got the HEAD endpoint logic in a reusable function.

[code]

[2022-04-01 07:23] sdelamo commented on #7148
This is now fixed.

[2022-04-01 07:23] #7148 closed, assigned to nobody

[2022-04-01 11:16] yawkat commented on #5682
can't reproduce this anymore

[2022-04-01 11:16] #5682 closed, assigned to nobody

[2022-04-01 11:57] yawkat commented on #5546
is there a way to reproduce this without consul?

[2022-04-01 12:39] yawkat commented on #5506
Can still reproduce with micronaut 3.4.1, updated test case at https://github.com/yawkat/connectionreset

[2022-04-01 12:53] TimothyL96 opened #7173 "SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder"
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

In build.gradle:
`implementation("ch.qos.logback:logback-classic")`

- Micronaut 3.4.1
- Logback Classic 1.2.10

I'm getting this error same any idea how to fix it though I'm not sure if th

[2022-04-01 13:35] #7132 closed, assigned to nobody

[2022-04-01 16:05] yawkat commented on #5491
Partial fix in #7174 (similar to #5487). I'm not sure we can or should support the full use case of replacing the request in the filter, though.

[2022-04-04 07:31] dniel commented on #6840
@jameskleeh Thanx for the feedback! :+1:  It did work when I removed `@value` as you described.

My trouble here was really how to find the issue without any obvious log messages pointing to the class with the problem, or did I miss something in the error messages?  How did you diagnose the problem? Would be nice to know for the next time something like this happens.

[2022-04-04 07:31] #6840 closed, assigned to nobody

[2022-04-04 08:56] yawkat commented on #4656
Your call to `new InetSocketAddress(String, int)` performs name resolution. The framework will then always use the IP you resolved at the start. If you want to defer the resolution, you need to use `InetSocketAddress.createUnresolved`. I don't think there's any forever-caching, so that should eventually see new IPs of the proxy, as well.

[2022-04-04 08:56] #4656 closed, assigned to nobody

[2022-04-04 09:19] yawkat commented on #4207
I am against this because this pattern can create a template injection vulnerability.

- pattern is `/foo/{foo}/bar/{bar}`
- server rewrites `{foo}` with user-provided data
- user provides `{some-secret}` as the data
- url is rewritten to `/foo/{some-secret}/bar/{bar}`
- the endpoint does the remaining substitutions, and would inject `some-secret` as well as `bar`, even though the developer only i

[2022-04-04 09:51] yawkat commented on #3983
Is this fixed by #4187?

[2022-04-04 10:05] yawkat commented on #3974
This is just an encoding issue. Change the controller to `produces = MediaType.TEXT_PLAIN + "; charset=utf-8"` and it will work fine.

[2022-04-04 10:09] yawkat commented on #3910
we need to improve error handling for nested bean initialization (i.e. throw an error)

[2022-04-04 10:26] yawkat commented on #3903
Can reproduce original issue, but upgrading to 3.4.1 fixes this.

[2022-04-04 10:26] #3903 closed

[2022-04-04 11:05] yawkat commented on #3779
Reproducer is broken (not too surprising after two years). I will close since I doubt this is an issue anymore in mn 3

[2022-04-04 11:05] #3779 closed

[2022-04-04 11:25] yawkat commented on #3544
related to #6977

[2022-04-04 11:28] yawkat commented on #3302
Duplicate of #5506

[2022-04-04 12:56] SJrX commented on #4207
Admittedly it has been about 16 months since I filed this issue, but I'm not sure I agree with your objections (but haven't looked at the code closely) @yawkat .

...

My two main objections are that:

1. I assume that URI templates are not using random substitution of any value, but of particular values passed in via a Map or Bean, it seems odd that that map would have these secrets in them to fi

[2022-04-04 13:48] yawkat commented on #4207
Yes, if the input map is limited this is a non-issue, but I'd not depend on it to be. And who knows what downstream templating engines will do (since they probably won't be another micronaut instance), they might be vulnerable to more severe attacks, like format string attacks. Just look at what happened with log4j when they tried to apply templating on tainted data.

Encoding should protect again

[2022-04-04 16:50] drew-corporate-creations commented on #6579
I'm running into the same error (NOT using native/Graal). Currently upgrading from micronaut 2 -> 3.4.1.

Did not have this error in MN 2.

Message: Multiple possible bean candidates found: [io.micronaut.aop.InterceptorRegistry, io.micronaut.aop.InterceptorRegistry, io.micronaut.aop.InterceptorRegistry, io.micronaut.aop.InterceptorRegistry...]

I'm using the micronaut library Gradle plugin to buil

[2022-04-05 00:45] glats opened #7179 "Object to string json is empty on native image"
### Expected Behavior

The method `objectMapper.writeValueAsString()` should transform the object to the string in the utility class.

### Actual Behaviour

The objectMapper doesn't transform enything.

[code]

### Steps To Reproduce

1. create a project with the following params `mn create-app me.jics.empty-object-error-jackson --jdk=17 -t spock  --features graalvm,reactor,lombok,gcp-pubsub --bui

[2022-04-05 09:04] #5907 closed, assigned to nobody

[2022-04-05 09:20] yawkat commented on #3122
ive never seen this error before, is this a windows thing?

[2022-04-05 09:34] yawkat commented on #2977
You can have map params like `{?params*}` now

[2022-04-05 09:34] #2977 closed

[2022-04-05 10:23] SushmaReddyLoka opened #7182 "Does micronaut supports request body for a HTTP GET method ?"
### Issue description

Does micronaut supports request body for a HTTP GET method ?

Here is a sample controller, which defines a Http 'Get' method with body. It fails with error , "Required Body [body] not specified"

@Controller()
public class TestController {

 @Get(value = "/getdata", consumes = MediaType.TEXT_PLAIN)
    public Object test1(@Body byte[] body){
        System.out.println(body);

[2022-04-05 12:16] petehannam commented on #7167
I'm seeing this behaviour as well, when trying to move from Java 11 to Java 17 (and `adoptopenjdk/openjdk11` to `openjdk:17-alpine` as per the [Micronaut application plugin](https://github.com/micronaut-projects/micronaut-gradle-plugin/blob/5b335c4e29a7df0f1d880c142c84f67b6665ca89/docker-plugin/src/main/java/io/micronaut/gradle/docker/MicronautDockerfile.java#L97)). Everything works fine before, b

[2022-04-05 12:18] yawkat commented on #7182
No it is not supported

[2022-04-05 12:18] #7182 closed, assigned to nobody

[2022-04-05 12:28] yawkat commented on #7167
You could try the `io.netty.transport.noNative=false` system property

[2022-04-05 12:36] yawkat commented on #2895
cant reproduce this with the test app, after changing MyRequest fields to be named test_id and test_secret like in the original issue report. not going to try to reproduce this further since this issue is so old and might be fixed anyway.

[2022-04-05 12:36] #2895 closed

[2022-04-05 12:41] yawkat commented on #2849
reproducer repo is 404 (after 2 years). anyway we have test cases that cover jsoncreator now, so i assume this is fixed.

[2022-04-05 12:41] #2849 closed

[2022-04-05 12:45] #1969 closed

[2022-04-05 12:45] yawkat commented on #1969
fixed by serde work

[2022-04-05 13:29] sdelamo opened #7183 "document @Blocking"
### Issue description

@Blocking is almost undocumented. We have this mention:

https://docs.micronaut.io/snapshot/api/io/micronaut/core/annotation/Blocking.html

It seems the logic is here:

[DefaultExecutorSelector](https://github.com/micronaut-projects/micronaut-core/blob/3.4.x/context/src/main/java/io/micronaut/scheduling/executor/DefaultExecutorSelector.java)

[2022-04-05 13:31] sdelamo commented on #7183
@wetted can you please check core and understand what `@Blocking` does and document it. I think it is pretty much the same as `@ExecuteOn`-

[2022-04-05 16:01] drew-corporate-creations opened #7186 "Using @Client in a library can cause NonUniqueBeanException: Multiple possible bean candidates found"
### Expected Behavior

I'm currently in the process of upgrading a multi-project application from micronaut 2.5 to micronaut 3.4.1. I have a project with multiple libraries, and another project with multiple services.

One library has an @Client. There are other libraries that depend on client lib. The services are a completely separate project, and depend on the shadow jars of the libraries.

Exa

[2022-04-06 08:19] yawkat commented on #7179
native-image does not include reflection information for classes by default. You need to either use the micronaut-provided ObjectMapper, which has special handling for `@Introspected` beans, or mark your beans as `@ReflectiveAccess`.

[2022-04-06 08:19] #7179 closed, assigned to nobody

[2022-04-06 11:27] sdelamo opened #7188 "@Requires beanProperty does not work with interfaces"
`beanProperty` support for `@Requires`  was introduced via https://github.com/micronaut-projects/micronaut-core/pull/6173

Given the following code:

[code]
[code]
[code]

this test passes:

[code]

However, if you replace

[code]

with:

[code]

it fails

[2022-04-06 11:27] melix opened #7189 "`@Client` compilation fails if the simple name of the client type is `Client`"
### Expected Behavior

Given the following code:

[code]

and the following client:

[code]

compilation should succeed.

### Actual Behaviour

Currently compilation fails with:

[code]

### Steps To Reproduce

Try to add the following test to `http-client/src/test/groovy/io/micronaut/http/client/ClientNameClashSpec.groovy`:

[code]

test will fail compilation. Rename `Api.Client` to `Api.ApiClien

[2022-04-06 12:04] lmachacek commented on #6579
I'm facing the same error in Micronaut 3.4.1 but only when the application is running in a Docker container (locally or in Kubernetes):
[code]
It happens only for `io.micronaut.email.DefaultEmailSender`, others are OK.

When I try to inject `AsyncEmailSender` it behaves the same way:
[code]

[2022-04-06 14:18] glats commented on #7179
@yawkat thanks for responding. Look I tried using `@ReflectiveAccess` in the utility class, `@TypeHint` in the controller, in the utility class as well, and neither working.
Could you please show me an example to carry out my task? would be very much appreciated.

[2022-04-06 14:20] yawkat commented on #7179
See https://docs.micronaut.io/latest/guide/index.html#_understanding_micronaut_and_graalvm

The annotation must be on the bean youre serializing.

[2022-04-06 14:38] glats commented on #7179
@yawkat I don't want to waste your time but unfortunately it seems that I don't think I'm understanding the concepts well. let me see if I understand, my bean in this case would be my utility class, if this is so then putting the annotation should work, right?
I checked the `reflect-config.json` that micronaut generate for the graalvm and it show this:
[code]
I added a pair of log to see what's go

[2022-04-06 15:00] yawkat commented on #7179
No, the bean is me.jics.User

[2022-04-06 15:16] glats commented on #7179
Perfect. Now I understand. I need to set `@ReflectiveAccess` to my POJO (in this case also a bean) and now the objectMapper can catch all the attributes of the class. Thank you, very clarified.

[2022-04-06 19:07] wetted commented on #7183
The documentation snippet referenced above is no longer relevant for Micronaut 3.x and beyond. The Micronaut meta-annotated `io.micronaut.spring.tx.annotation.Transactional` annotation was removed altogether for Micronaut 3. The section at https://docs.micronaut.io/latest/guide/#springAop needs additional revision to reflect that change. The Spring/Micronaut mapping for `Transactional` was replace

[2022-04-06 23:18] lordbuddha commented on #6493
Is there any thoughts/plans on how to progress this....   It is a pretty big omission not to be able to have an ordered shutdown.

[2022-04-07 02:11] chrisparton1991 commented on #3544
One workaround is to make separate methods and have one of them call the other, e.g.:
[code]

Or you can move all of the functionality into a private method and call it from both endpoints.

[2022-04-07 08:09] graemerocher commented on #6493
How about some kind of `@DependsOn` annotation help here that would ensure that a bean is both created and destroyed prior to a dependent bean? Like:

[code]

[2022-04-07 21:05] infinityat0 commented on #6493
We are conflating dependencies with order. They may not be the same.

On Thu, Apr 7, 2022, 01:09 Graeme Rocher ***@***.***> wrote:

[2022-04-07 21:24] Jim-Harrington opened #7193 "HTTP request to micronaut/netty servers containing absolute URI don't work"
### Expected Behavior

HTTP messages passed with absoluteURI specified (example below) are valid per RFC 2616 and should work in micronaut/netty servers

GET http://localhost:8080/prometheus HTTP/1.1
Host: localhost:8080
User-Agent: Prometheus/2.20.0
Accept: application/openmetrics-text; version=0.0.1,text/plain;version=0.0.4;q=0.5,*/*;q=0.1
Accept-Encoding: gzip
X-Prometheus-Scrape-Timeout-Second

[2022-04-08 14:15] ivanmartinvalle commented on #6579
I worked around this by downgrading to Micronaut 3.3.2. [This commit](https://github.com/micronaut-projects/micronaut-core/commit/561857ffbeea9210ff43fa05074f0901d4781530) looks related but idk haha.

[code]

[2022-04-08 14:25] goeh commented on #7186
Thank you for reporting. Looks very much like the problem I had two weeks ago. But I was on a tight schedule so I downgraded to Micronaut 2.5.13 to be able to deliver on time.

[2022-04-09 08:28] GavrilovSV commented on #7188
Seems like it's not about interfaces in general, but only about bean property getters that have default implementation like `isEnabled` in `Toggleable`. The reason is that `MethodElement#isAbstract` returns false for such interface methods. I can fix this one in case @wetted hasn't done it yet

[2022-04-09 10:03] dstepanov opened #7197 "Repeatable annotations not properly stored for interfaces"
### Expected Behavior

Annotation is being correctly stored

### Actual Behaviour

Not stored

### Steps To Reproduce

It can be reproduced by test `BothJpaAndJdbcTest` in Micronaut Data

### Environment Information

_No response_

### Example Application

_No response_

### Version

3.4.1

[2022-04-10 16:51] Paullo612 opened #7199 "graalvm Maven profile is not activated when building native image on Windows"
### Expected Behavior

`graalvm` Maven profile should be active when building native image. `micronaut-graal` annotation processor should be run.

### Actual Behaviour

Profile is not activated.

### Steps To Reproduce

`native-image` binary is named `native-image.cmd` on Windows:
![image](https://user-images.githubusercontent.com/3691604/162629931-b229ecd5-3aeb-4610-a39e-45b74c024b08.png)
 so, Ma

[2022-04-11 16:02] #7193 closed, assigned to yawkat

[2022-04-11 16:04] graemerocher commented on #7173
can you provide an example that reproduces the issue?

[2022-04-11 16:44] #7188 closed, assigned to nobody

[2022-04-11 16:52] graemerocher commented on #7186
This issue is typically an issue with your dependency graph in that you have multiple versions of `micronaut-aop` on the classpath hence multiple `InterceptorRegistry` beans hence the exception.

[2022-04-11 16:57] graemerocher commented on #7186
The issue in your example is you are shadow packaging the client libraries into FAT jars which include all of the Micronaut JARs twice into the target application hence the exception

[2022-04-11 16:57] #7186 closed, assigned to nobody

[2022-04-11 17:20] goeh commented on #7186
Thanks @graemerocher , that explains my problems. I'm sure I had a mix of dependencies built/assembled with Micronaut 2.5.x i my 3.4.1 application. I need to go through all my api/client projects and make sure I have a minimum of Micronaut dependencies in the jars. Suggestion: A section in the documentation on best practices building client libraries with Micronaut and how to avoid gotchas lite th

[2022-04-11 17:38] graemerocher commented on #7186
we have it in mind to create library projects with launch /cc @sdelamo

[2022-04-12 08:11] sdelamo opened #7207 "AnnotationMetadata::enumValue does not work with default value"
This works:

[code]

but this does does not work:

[code]

`TurboView` is an annotation with a default value:

[code]

and `TurboStreamAction` is an enum:

[code]

# Steps to produce

Clone `Micronaut-views` repository:

https://github.com/micronaut-projects/micronaut-views/

Change line and use `enumValue`

https://github.com/micronaut-projects/micronaut-views/blob/master/views-core/src/main/java

[2022-04-12 08:25] graemerocher commented on #7207
This is currently by design, there is extra performance overhead in looking up the default and sometimes you need to know if a value is specified or not by the user

[2022-04-12 08:48] sdelamo commented on #7207
I think we should add a comment in the Javadoc.

[2022-04-12 16:12] Paullo612 opened #7210 "Handling of @ConfigurationProperties nested in interface annotated with @EachProperty is broken"
### Expected Behavior

Nested configuration should be retrievable from parent configuration when parent configuration is an interface annotated with `@EachProperty`.

### Actual Behaviour

`io.micronaut.context.exceptions.NonUniqueBeanException` is thrown on nested configuration retrieval attempt.

### Steps To Reproduce

Consider following configuration:
[code]

with the following configuration p

[2022-04-13 00:48] jameskleeh commented on #7189
This is a bug in Groovy

<img width="1050" alt="Screen Shot 2022-04-12 at 8 48 42 PM" src="https://user-images.githubusercontent.com/1583789/163077430-53f16d6b-1ceb-4ec7-a335-5677093f3b82.png">

Groovy itself is showing the client interface as the annotation class

[2022-04-13 01:01] jameskleeh commented on #7189
It looks like if we didn't throw an exception Groovy would throw an exception for this case in a later phase

[2022-04-13 01:07] jameskleeh commented on #7169
Currently those creating libraries have the assumption that a given bean will exist and allowing users to disable beans will cause issues that they cannot resolve. I think if a bean is designed to be disabled then it should be done via the mechanism the library author or we intend. It should also be possible to make it so a bean cannot be disabled. This relates to the `@Infrastructure` annotation.

[2022-04-13 01:14] jameskleeh commented on #7077
Sounds like you should break up your library into multiple artifacts. We never went down the rabbit hole that is `@EnableXyz` because dependencies should be broken up to allow for only the features the user wants

[2022-04-13 05:35] dstepanov commented on #5315
Another example of people using response of Flux and getting bad performance https://dev.to/nix_united/can-micronaut-replace-spring-boot-lets-take-a-look-at-an-example-3nna

[2022-04-13 07:33] alvarosanchez commented on #7077
Relates to #7169

[2022-04-13 07:39] graemerocher commented on #7169
some valid points. I think the specific scenario this problem is trying to solve is that you want to disable say the datasources for your tests.

In that case it is not possible to remove the `micronaut-sql` dependency for test scope. An alternative solution would be that we need a way to subtract configuration (right now configuration is only additive) so I can't define an `application-test.yml`

[2022-04-13 09:53] sdelamo opened #7215 "Apply memory settings to Gradle.properties to workaround sonar failures"
### Issue description

The static analysis job fails with `Metaspace` if we do not give Gradle more metaspace memory

We need to add

[code]

To `gradle.properties` for all modules to avoid this

- [ ] [Micronaut TOML](https://github.com/micronaut-projects/micronaut-toml)
- [ ] [Micronaut Elastic Search](https://github.com/micronaut-projects/micronaut-elasticsearch)
- [ ] [Micronaut JMX](https://g

[2022-04-13 10:00] graemerocher commented on #5315
yeah I agree we need to change this

[2022-04-13 10:13] #7210 closed, assigned to nobody

[2022-04-13 10:44] alvarosanchez commented on #7215
It doesn't make sense to me having to manually create 70+ PRs to add that property when we can simply change [this line](https://github.com/micronaut-projects/micronaut-project-template/blob/master/.github/workflows/gradle.yml#L54) to add `-Dorg.gradle.jvmargs=...` and let it propagate.

[2022-04-13 15:25] dstepanov commented on #7169
I don’t like the idea of disabling beans that aren't supposed to be disabled and might not be visible at all.

I would prefer to implement disabling of any conf that implements Toggleable like data source.

[2022-04-13 19:57] wetted opened #7217 "Update/fix docs for @Transactional"
### Issue description

Micronaut documentation needs to be updated/corrected in several places for `javax.transaction.Transactional`. An older type `io.micronaut.spring.tx.annotation.Transactional` was removed for Micronaut 3.x, but some references to it linger and corresponding javadoc api links are dead

This also needs to be checked for `micronaut-sql`, `micronaut-data` (`micronaut-data` seems

[2022-04-14 00:39] jameskleeh commented on #7169
@graemerocher I think for the datasource case we should just allow them to be disabled via config

[code]

[2022-04-14 00:42] jameskleeh commented on #7077
If you want to create a jar containing multiple features then the beans can be disabled by default and could be enabled via config (equivalent to the @Enable... case in boot)

[2022-04-14 02:16] rbygrave commented on #7043
FYI:

Some comments about `System.Logger` by Stuart Marks on Twitter: https://mobile.twitter.com/stuartmarks/status/1254819581585047552

[2022-04-14 11:15] dmurat opened #7220 "Compilation fails for Groovy when using Groovy meta-annotations with collected annotation attributes"
### Expected Behavior

Compilation should complete successfully.

### Actual Behaviour

Compilation fails with the following error:
[code]

### Steps To Reproduce

1. Create a Micronaut application with "Micronaute Launch" (type: Micronaut Application, Java: 11, micronaut: 3.4.2, language: Groovy, build: Gradle, test: Spock).
2. Add the following class to the project:

[code]

3. Compilation (for

[2022-04-15 05:59] TimothyL96 commented on #7173
Looks like the error comes from `id("com.gorylenko.gradle-git-properties") version "2.4.0"` instead

https://github.com/n0mer/gradle-git-properties/issues/203

[2022-04-15 05:59] #7173 closed, assigned to nobody

[2022-04-15 15:12] ondrej-hrstka opened #7223 "ByteArray deserialization is broken"
### Expected Behavior

When having DTO with `ByteArray` property, it should be deserialized from Base64 string representation during HTTP call.

### Actual Behaviour

The response from the http call is 400 with message `"Failed to convert argument [testDto] for value [null] due to: Instantiation of [simple type, class com.example.TestDto] value failed for JSON property content due to missing (ther

[2022-04-15 20:21] rawilder opened #7224 "@Scheduled `suspend fun` never runs"
### Expected Behavior

[code]

Expected is that "suspend Hello World" prints once per second

### Actual Behaviour

Nothing prints

### Steps To Reproduce

1. start a project with micronaut-core in kotlin
2. make a suspending function inside a singleton
3. annotate it with `@Scheduled`
4. run and observe behavior

### Environment Information

jdk 11
macos 12.3

### Example Application

https://git

[2022-04-15 21:10] donbeave opened #7225 "Add flyway as managed dependency version"
### Feature description

Gradle Version Catalogs is an amazing feature. The most amazing way to use it is with `micronaut-bom`, this is incredible, because can sync all Gradle plugins to managed Micronaut dependency versions. I can re-use protobuf and grpc versions from it and use it for initializing the Protobuf Gradle plugin. But I can't do the same thing for the flyway. I think it will be nice

[2022-04-17 02:24] jameskleeh commented on #7224
@rawilder What is the point in making it a suspend function?

[2022-04-17 03:04] arcturuscom opened #7226 "Epoll native transport doesn't work on Docker"
### Expected Behavior

I'm trying to enable epoll native transport, but it's seems not working on docker.
when i run a container i've got this issue incompatible event loop type: io.netty.channel.nio.NioEventLoop

### Actual Behaviour

`- go to https://github.com/arcturuscom/netty demo
- run build & run dockerfile
-  error on service startup
`
Caused by: java.lang.IllegalStateException: incompatib

[2022-04-17 17:00] rawilder commented on #7224
Clean usage with other suspending functions. If I wanted to schedule once a day to refresh data from a third party API, that API client is likely a publisher or suspending function. Rather than hard blocking inside the scheduled function (`runBlocking` or `<ReactorType>.block()`), it'd be nice to be able to tie together the functionality cleanly.  `runBlocking` has given me a lot of grief so I try

[2022-04-18 11:24] nbrugger-tgm commented on #3712
How could one do this? As far as i read from gradle, incremental annotation processing is enabled if it is explicitly defined by the annotation processor. So how would I disable it (and for which processor)

[2022-04-18 18:12] ondrej-hrstka commented on #7223
OK,

so I've debuged this deeper, and the problem is that the `JsonNodeTraversingParser#getBinaryValue` returns always `null`. Source code is here: https://github.com/micronaut-projects/micronaut-core/blob/eec17c8bd99eb694202176676d3c5830d3761e7c/jackson-core/src/main/java/io/micronaut/jackson/core/tree/JsonNodeTraversingParser.java#L259-L261

I can try prepare the fix PR, but I will get to it on

[2022-04-19 06:07] StefanKreidel commented on #6905
@yawkat @jameskleeh Not sure if this is the right way to address this but the PR has been open for quite some time now without any feedback. Can you have a look at it or inform the micronaut-openapi maintainers?

[2022-04-19 06:44] melix commented on #7189
Dang, time to report to the Groovy issue tracker then.

[2022-04-19 07:24] melix commented on #7189
https://issues.apache.org/jira/browse/GROOVY-10587

[2022-04-19 07:24] #7189 closed, assigned to nobody

[2022-04-19 07:56] auke- opened #7231 "Maven keeps downloading metadata, plugin versions not defined"
### Expected Behavior

When rebuilding a Micronaut based project we expect all dependencies to be downloaded once and no further downloads are necessary.

### Actual Behaviour

Due to the fact that some Maven plugin versions aren't defined in the Micronaut BOM the metadata for those plugins are downloaded, even when the latest plugins are already available locally.

[code]

### Steps To Reproduce

[2022-04-19 10:26] alvarosanchez commented on #7225
Note that there is a [micronaut-flyway-bom](https://search.maven.org/artifact/io.micronaut.flyway/micronaut-flyway-bom/5.2.0/pom)

[2022-04-19 11:15] #7217 closed, assigned to wetted

[2022-04-19 15:03] KateMost commented on #4593
What about the @Pattern annotation for a List<String>? Will it be supported any time soon?

[2022-04-19 18:59] donbeave commented on #7225
@alvarosanchez but there is no way to get flyway's version from it, the latest one has this content:

[code]

source: https://repo1.maven.org/maven2/io/micronaut/flyway/micronaut-flyway-bom/5.2.0/micronaut-flyway-bom-5.2.0.toml

[2022-04-19 19:01] donbeave opened #7234 "Add jooq as managed dependency version"
### Feature description

This will allow to use it with the Gradle Version Catalogs feature, and use same version in Gradle jOOQ plugin: https://github.com/etiennestuder/gradle-jooq-plugin

[2022-04-19 19:14] wetted opened #7235 "Add jakarta.json.bind-api dependency to Micronaut BOM"
### Issue description

Add "jakarta.json.bind:jakarta.json.bind-api:2.0.0" to the Micronaut BOM. It's used by the micronaut-serialization jsonp feature

[2022-04-19 19:35] timyates commented on #7225
Just took a look, and you're right our flyway project is missing the infrastructure to do this.

I'll migrate this issue over there and get that fixed

[2022-04-20 00:38] jameskleeh commented on #7224
This is because the scheduled processor checks if the method has 0 arguments. In the case of a suspend function being called from Java, it takes a continuation argument

[2022-04-20 10:27] stepanv opened #7237 "Micronaut scheduled threads in deadlock: 2 scheduled threads deadlocked on DefaultCustomScopeRegistry.scopes and DefaultBeanContext.singletonObjects locks"
### Expected Behavior

Deadlock should not happen in Micronaut internals.

### Actual Behaviour

In our Micronaut application, which uses:
* micronaut neo4j
* micronaut `@Scheduled`
* and other features (hopefully irrelevant)

I identified 2 Micronaut scheduled threads were locking 2 locks in opposite order, in particular:
* `DefaultCustomScopeRegistry.scopes` and
* `DefaultBeanContext.singletonOb

[2022-04-20 10:31] dstepanov commented on #7237
This might be fixed by the refactoring done in 3.5.0

[2022-04-20 13:16] yassirez-znafry opened #7238 "/routes not working."
### Issue description

I have this sample [hello world project](https://github.com/yassirez-znafry/sample-micronaut-app) in micronaut. After I added the _micronaut-management_ dependency, I tried to enter to _http://localhost:8080/routes_ to see all my endpoints. but It shows me _This page isn’t working_.
Steps to reproduce:
1- Create a micronaut project using https://micronaut.io/launch , (Java 8

[2022-04-20 14:22] Crow-EH commented on #6246
Hi,

Is there any news on this issue ?

I just got it today, and something like changing `STRING_PATTERN_PATH = "([^#]*)"` to `STRING_PATTERN_PATH = "([^?#]*)"` seems to do the trick in this particular case, but it might break something else as @ashwini-desai said in https://github.com/micronaut-projects/micronaut-core/pull/6320.

[2022-04-20 16:22] stepanv commented on #7237
Also note that both scheduled tasks had configured the same initial delay, which was `1m` in this particular case.
As a workaround, for now, we configure different initial delays and we can optimistically expect it won't happen.

[2022-04-21 08:28] sdelamo opened #7239 "Consider making @Blocking behave as @ExecuteOn(TaskExecutors.IO)"
### Issue description

I think for Micronaut 4.0, if a user adds `@Blocking` to a method and they are using the Netty runtime the behaviour should be identical as if they use `@ExecuteOn(TaskExecutors.IO)`.

I think `@Blocking` is a more idiomatic annotation which conveys what the codes does. Then it is up to the runtime to execute it in a different thread pool if applies.

We are already using [`

[2022-04-21 08:30] sdelamo commented on #7239
An alternative would be to [remove `@Blocking` as suggested by @jameskleeh](https://github.com/micronaut-projects/micronaut-core/pull/7228#issuecomment-1101879438). An advantage to remove the annotation would be to have a single way of doing things.

[2022-04-21 12:48] burtbeckwith opened #7244 "HTTP/2 bug with multiple filters"
### Expected Behavior

_No response_

### Actual Behaviour

After enabling the Micronaut CORS filter and adding a second filter that adds headers, users are seeing exceptions:

[code]

### Steps To Reproduce

The attached sample app has the relevant config from the original application and the custom filter. See me for the public_html files, they're over 40MB compressed and the size and number of

[2022-04-21 12:48] burtbeckwith commented on #7244
sample app: [http2bug.zip](https://github.com/micronaut-projects/micronaut-core/files/8531098/http2bug.zip)

[2022-04-21 20:24] jeffscottbrown commented on #7238
@yassirez-znafry

https://stackoverflow.com/a/71944127/3533584

Did the pull request at https://github.com/yassirez-znafry/sample-micronaut-app/pull/1 address the issue?

[2022-04-22 08:05] #7238 closed, assigned to nobody

[2022-04-22 13:37] dstepanov commented on #7224
It doesn't make much sense to have it, we can't do anything special to block it, and probably an error message should be thrown in that case.

[2022-04-22 14:07] graemerocher commented on #7224
perhaps this should be a compilation error

[2022-04-22 14:59] rawilder commented on #7224
So is the recommended solution to wrap it with `runBlocking {}`?

[2022-04-22 15:27] Xaseron commented on #4229
i tried setting it with `JAVA_TOOL_OPTIONS = "-Dmicronaut.http.client.proxy-selector=default -Dhttps.proxyHost=b2b-http.mycompany.com -Dhttps.proxyPort=8080 -Dhttps.nonProxyHosts='*.mycompany.com'"`
Setting the proxy works but the nonProxyHosts gets ignored. Is there something missing in the implementation?

[2022-04-23 11:24] neo-lestat opened #7251 "Heartbeat is ignoring enabled and interval"
### Expected Behavior

1. I set micronaut.heartbeat.enabled to false so HeartbeatTask should not be executed
2. I set micronaut.heartbeat.interval to 1s to change the HeartbeatTask frecuency (1s just to test the frecuency is changed)

I tested with versions 2.5.12, 3.4.0

### Actual Behaviour

1. HeartbeatTask was executed ignoring the enabled equals false
2. HeartbeatTask was executed with the de

[2022-04-23 17:28] justin-michel-boeing opened #7252 "StackOverflow in GenericUtils when using APT with Eclipse"
Using a gradle generated Eclipse project, I tried to compile and found the following in the Eclipse log

[code]

- **Operating System**: Windows 10
- **Micronaut Version:** 3.3.1
- **JDK Version:** OpenJDK 8u265
- Eclipse Version: 2021-09 (4.21.0)

[2022-04-23 18:22] x80486 opened #7253 "HTTP client behavior doesn't change with the presence of `micronaut.http.client.exception-on-error-status` set to `false`"
### Expected Behavior

HTTP client shouldn't throw `io.micronaut.http.client.exceptions.HttpClientResponseException: Not Found`.

### Actual Behaviour

It does throw :sob:

---

If I have this setting in the application's configuration (say: `application-test.yaml`) file:

[code]

And a test case like this:

[code]

I should be able to check the response and everything else, without the need to ha

[2022-04-24 11:15] donbeave commented on #7070
Do you need any help here? I can say renovatebot works much better than dependabot and supports more formats, including Gradle Kotlin DSL and Gradle Version Catalogs. I'm using it in some of my projects and until now didn't encounter any problems.

If you are open to this change I can help with PRs.

P.S. It looks like these projects already migrated to Version Catalog:

1) https://github.com/micr

[2022-04-24 19:15] Paullo612 opened #7254 "BeanProvider's get by qualifier method ignores injection point qualifier"
### Expected Behavior

A qualifier specified on BeanProvider's injection point should participate in bean filtering process when get by qualifier method is called.

### Actual Behaviour

It does not.

### Steps To Reproduce

This is the same as #7132, but in reverse direction.
https://github.com/micronaut-projects/micronaut-core/blob/cd6065195aff610c70865c2f9b194070dc01cbb1/inject/src/main/java/io

[2022-04-24 20:10] Paullo612 opened #7256 "Dynamic qualifiers support"
### Feature description

Suppose I have custom Qualifier implementation:
[code]
I've stripped out some implementation details, but this Qualifier is quite simple to implement, and it is not so generic to be included in `micronaut-core` (actually, I have Qualifiers with more complex logic in my codebase).

Now, every time I want to apply this qualifier, I have to `@Inject` `BeanPrivider` and use `B

[2022-04-25 02:41] sgammon opened #7257 "Error finalizing type visitor: URI has an authority component"
### Expected Behavior

I was upgrading Micronaut to the latest version (`3.4.2` at time of writing), and added `micronaut-graal` where it was not present before. I'm using Bazel. I was expecting the Micronaut processors to pick it up and use it as normal.

### Actual Behaviour

I get an exception during the build:

[code]

There's nothing obviously special about that [particular file](https://gith

[2022-04-25 02:42] sgammon commented on #7257
hello micronaut authors -- as a downstream framework author, i'm wondering if there is any immediate & obvious advice about this exception?

if not, i understand it's on me to figure out where this bug arises, and if that's related to Bazel, that it's on me to fix. no worries there. if reproduction steps would help with this, i'm 100% happy to produce them, especially if this issue isn't immediate

[2022-04-25 02:48] sgammon commented on #7257
upon further investigation, it looks like building with `--nojava_header_compilation` can work around this issue, indicating that Bazel's use of [turbine](https://github.com/google/turbine) interferes with `micronaut-graal` in some manner.

@cushon, any ideas from Google's side?

[2022-04-25 08:01] dstepanov commented on #7256
Not sure about constructing a factory but I can imagine having something like:
[code]

[2022-04-25 10:24] neo-lestat commented on #7251
I found the problem, i tried to use the properties in the configuration guide

micronaut.heartbeat.interval
micronaut.heartbeat.enabled

but in the source the properties are:

micronaut.health.monitor.interval
micronaut.health.monitor.enabled

Maybe there is some confusion in the docs between HealthMonitorTask and HeartbeatConfiguration.

[2022-04-25 10:24] #7251 closed, assigned to nobody

[2022-04-25 10:33] Paullo612 commented on #7256
It would also be good to have an option to make qualifier construction lazy:
[code]
This wold allow capturing custom scope context (usually from thread local variable) in Qualifier constructor.

[2022-04-25 10:36] dstepanov commented on #7256
IMHO in this case just implement your own `Provider` using `BeanContext`

[2022-04-25 11:22] alvarosanchez commented on #7251
`HealthMonitorTask` and `HeartbeatTask` are different things.

[2022-04-25 11:34] Paullo612 commented on #7256
I can use `@Factory` with `InjectionPoint` api, but it is not so trivial to implement:
[code]
Then I'll have to copy and paste all logic from [AbstractProviderDefinition#build](https://github.com/micronaut-projects/micronaut-core/blob/a612e4aba043e07ec6619fe37ed3b8fc5936541b/inject/src/main/java/io/micronaut/inject/provider/AbstractProviderDefinition.java#L114) method and add custom Qualifier cons

[2022-04-25 11:41] dstepanov commented on #7256
Just call `context.getBean(argument, new MyQualifier(...))`.

[2022-04-25 13:45] Paullo612 commented on #7256
Then I'll have to introduce new Provider type for each new Qualifier.

Anyway, I have implementation of this feature (no tests for now, but I've tested it against by codebase). It introduces new annotation and uses `@InstantiatedMember` to construct custom qualifiers using factory.

Will you be interested in such contribution?

[2022-04-25 13:49] dstepanov commented on #7256
Maybe you can first send a link to the branch to take a look :)

[2022-04-25 13:54] Paullo612 commented on #7256
[Here it is](https://github.com/Paullo612/micronaut-core/tree/dynamic-qualifiers).

[2022-04-25 14:11] graemerocher commented on #7070
@donbeave contributions welcome!

[2022-04-26 10:51] ivyazmitinov opened #7261 "@Replaces with qualifier doesn't work"
### Expected Behavior

Using `@Replaces(bean = ..., qualifier=...)` works as expected

### Actual Behaviour

The `qualifier` isn't processed by `DefaultBeanContext#filterReplacedBeans`, what could lead to errors like `No bean of type [com.bug.micronaut.example.SomeInterface] exists for the given qualifier`.
`@Named` works fine

### Steps To Reproduce

_No response_

### Environment Information

_N

[2022-04-26 17:43] cushon commented on #7257
@sgammon if you think it's related to turbine, can you file a bug against Bazel and include a minimal self-contained repro?

[2022-04-26 18:18] KarlHakanNordgren opened #7264 "Multiple Gradle workers and tests using @MicronautTest sometimes fail with "Unable to start Micronaut server on port: xxx""
### Expected Behavior

The @MicronautTest should generate an embedded server with an available port even if the tests are run using multiple gradle workers in parallel.

### Actual Behaviour

Tests annotated with `@MicronautTest` sometimes fail with "Unable to start Micronaut server on port: xxx". We configure the server with port: ${random.port} so it appears that the randomly selected port is av

[2022-04-26 18:23] KarlHakanNordgren commented on #5290
I'm also interested in the above. Any updates @graemerocher / @jameskleeh ?

[2022-04-26 20:40] graemerocher commented on #7264
Try using -1 as the port number instead

[2022-04-26 22:12] korri123 opened #7266 "Beans get duplicated with kapt and keepJavacAnnotationProcessors = true"
### Expected Behavior

Java and Kotlin code should work in harmony, where only one bean (and one path mapping) per Java class gets generated. This bug happened when adding Kotlin code to an existing Micronaut Java app containing Java Micronaut Controllers.

`keepJavacAnnotationProcessors` in kapt is enabled so Lombok in Java still compiles.
If `keepJavacAnnotationProcessors = true` is emitted from

[2022-04-27 00:24] jameskleeh commented on #5290
@KarlHakanNordgren No progress on this specific issue but I'm hoping for KSP support to be available as a preview feature in the not too distant future

[2022-04-27 00:32] jameskleeh commented on #7256
Not a good idea to call context.getBean from a factory method because it doesn't use the current resolution context

[2022-04-27 00:33] jameskleeh commented on #7253
Please upload an example application that reproduces the issue

[2022-04-27 00:37] jameskleeh commented on #7239
`@Blocking` requires the user to read the javadoc to know what thread it executes on but `@ExecuteOn` makes it clear immediately

[2022-04-27 07:56] ivyazmitinov commented on #7261
I'll try to provide fix, if you don't mind, @graemerocher

[2022-04-27 08:09] Ksnz opened #7268 "Cannot resolve bean provider when both of @Qualifier and @Named annotations are applied"
### Expected Behavior

Using both of `@Named` and `@Qualifier` annotations are working well when applied to bean provider injection point.

### Actual Behaviour

Errors like
[code]
Using both of qualifiers are working well with other types of beans except providers

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

https://github.com/Ksnz/p

[2022-04-27 08:24] FrogDevelopper opened #7270 "Add BeanIdentifier in BeanPreDestroyEvent"
### Feature description

Hello,
I'm using the `BeanCreatedEvent` and `BeanPreDestroyEvent` to handle some start/stop of some configured beans
For log purpose, we use the `event.getBeanIdentifier().getName()` int the `BeanCreatedEvent`, and would like to do it also in the `BeanPreDestroyEvent`, but no `BeanIdentifier` is present, so we can't log directly the identifier name of the currently stoppin

[2022-04-27 09:17] KarlHakanNordgren commented on #7264
@graemerocher : Ok thanks will do.

[2022-04-27 09:17] #7264 closed, assigned to nobody

[2022-04-27 10:08] #7223 closed, assigned to nobody

[2022-04-27 10:13] KarlHakanNordgren commented on #5290
@jameskleeh : Ok thanks!

[2022-04-27 11:10] x80486 commented on #7253
Find the example on this repository: https://github.com/x80486/kotlin-micronaut

`./gradlew clean check` will do it. There is only one test failing:

[code]

[2022-04-27 16:23] tom59 opened #7275 "CircuitBreaker should not throw the original exception when the circuit is open"
### Feature description

The default behaviour for the micronaut CircuitBreaker is to throw the original exception when the circuit is open.
https://github.com/micronaut-projects/micronaut-core/blob/v3.4.2/runtime/src/main/java/io/micronaut/retry/intercept/CircuitBreakerRetry.java#L96
This is very confusing and doesn't really make much sense in a production application.
Why isn't CircuitOpenExcept

[2022-04-28 10:35] yawkat commented on #7226
The problem is that the parent event loop isn't configured for native transport either. This config works:

[code]

However this is quite confusing and the docs aren't clear on this either, and even arguably wrong.

[2022-04-28 11:37] MajaStojkovic-TomTom commented on #5549
We notice a similar [issue](https://github.com/micronaut-projects/micronaut-azure/issues/319) with Mono response which we notice only occurs when the runtime is jetty or azure_function but for netty, it works fine. Are there any updates on the issue?

[2022-04-28 12:48] yawkat opened #7279 "Simplify micronaut.server.netty.worker logic"
### Issue description

For #7226 im looking at the logic of the selection of the netty worker, and it's quite complicated. From what I can see it boils down to:

1. if `micronaut.server.netty.worker` exists, *and*:
2. `micronaut.server.netty.worker.event-loop-group` is set, *and*
3. `micronaut.server.netty.worker.event-loop-group` is not `default`, *and*
4. `micronaut.netty.event-loops.<name>` doe

[2022-04-28 13:31] arcturuscom commented on #7226
it's works now, many thanks 👍
i understand why it's does not work before, because the parent eventloop different from the default which is normal.
i think it's important to update the doc

[2022-04-28 13:50] arcturuscom commented on #7226
@yawkat  Btw i don't know if you had a chance to take a look on the Factory class  ? i was fixing the eventLoop name because actually is always NioEventLoop. i suggest to create an enhacement concerning that.
what do you think ? if yes can i take the subject ?

[2022-04-28 13:58] #7244 closed, assigned to graemerocher

[2022-04-28 14:21] yawkat commented on #7279
@sdelamo https://docs.micronaut.io/latest/guide/index.html#io.micronaut.http.server.netty.configuration.NettyHttpServerConfiguration.Worker here the worker config options are still listed in the docs, though there's a warning above it.

The config properties are not deprecated in the code: https://github.com/micronaut-projects/micronaut-core/blob/475189709f285fb9562b587b9b4af905a781a6b9/http-serve

[2022-04-28 14:49] yawkat commented on #7226
@arcturuscom the problem is that the thread factory is managed separately from the event loops. you could have multiple event loops in the same micronaut application, some with epoll, some without. your patch does not handle that and I dont think it's even possible to handle it.

I don't think it's a huge issue (just the thread names are different) so I don't think it's worth fixing

[2022-04-28 15:31] mscaldas2012 commented on #1727
Hi, been trying to implement this in micronaut... has anyone solved this problem?

[2022-04-28 15:46] graemerocher commented on #1727
It is doable already but you have to use `/repeat/{value}{+path}` and then bind `path` to a parameter that you can parse yourself. See https://docs.micronaut.io/latest/guide/#routing and the section on "Reserved Character Matching"

[2022-04-29 08:19] Ivan1pl opened #7285 "Add support for message interpolator for validation messages"
### Feature description

Message interpolators are currently not supported (DefaultValidatorFactory and DefaultValidatorConfiguration throw UnsupportedOperationException). Would it be possible to add it in the future, or does it require reflections to work?

We're currently migrating one of our projects from Spring Boot to Micronaut. We're using message interpolators to handle simple expressions t

[2022-04-29 08:27] Ivan1pl commented on #6579
None of the above worked for me. I resolved the issue by adding an access filter as described here: https://www.graalvm.org/22.0/reference-manual/native-image/Agent/#access-filters, the access filter:
[code]
Then I removed all resources containing `io.micronaut` from generated `resource-config.json`. This resolved the issue for me.

[2022-04-29 08:30] yawkat commented on #7252
Can you give an example project that reproduces this issue?

[2022-04-29 09:50] #7183 closed, assigned to wetted

[2022-04-29 10:05] alvarosanchez commented on #6994
Only Ignite is left, but the repo seems abandoned

[2022-04-29 12:31] yawkat commented on #4370
Ah this is basically the same issue as #7279

[2022-04-29 14:19] yawkat commented on #3910
Ok I don't think we can detect such deadlocks reliably. Test case is this:

[code]

@graemerocher is it be feasible to reduce scope of locking in DefaultBeanContext so that this can work? I think that in principle it should be possible to lock only for the specific BeanKey that is being requested (instead of locking on the full singletonObjects), so that other threads can handle other BeanKeys con

[2022-04-29 22:09] hhajela opened #7290 "StringConvention.RAW breaks resolution of Map property with camel cased name"
### Expected Behavior

When parsing a property of type `Map`, we use `StringConvention.RAW` when we don't want the keys under the `Map` to be converted to kebab case.

ie. for properties defined thusly:

[code]

We use `StringConvention.RAW` for the corresponding java class definition. eg.

[code]

The expectation is that the the properties are parsed correctly with `FooConfig.barBlah` getting all

[2022-04-29 22:16] hhajela commented on #7290
From debugging this, the cause for this seems to be that https://github.com/micronaut-projects/micronaut-core/blob/08f3e7aa5ae400c1afc287b3a1dc47e7ecd4249a/inject/src/main/java/io/micronaut/context/env/PropertySourcePropertyResolver.java#L499 checks that the key for any candidate entry from the property catalog matches the prefix for the property being resolved. The prefix here being `foo.config.b

[2022-04-30 01:35] jameskleeh commented on #7285
An example app would be helpful

[2022-04-30 01:36] jameskleeh commented on #7275
Can you describe why it doesn't make sense? What problems is it causing? How would a CircuitOpenException help you?

[2022-04-30 01:40] jameskleeh commented on #7257
Knowing which line on GraalTypeElementVisitor is throwing the exception would be helpful. You can debug it and look at the stacktrace

[2022-04-30 01:43] jameskleeh commented on #7224
I think this should be handled at the framework level, otherwise anyone who executes methods will likely run into this issue and will have to handle it. For ExecutableMethods we should pre-load the continuation

[2022-04-30 10:00] graemerocher commented on #7275
It is also unclear to me why this is a problem. Seems to be working exactly as designed

[2022-04-30 22:35] cushon commented on #7257
Thinking about this a little more, `URI has an authority component` is probably coming from here, because turbine is generating ill-formed bogus `URI`s for in-memory file outputs:

https://github.com/google/turbine/blob/68172d4df0c054ed3499288079f109db18f8842c/java/com/google/turbine/processing/TurbineFiler.java#L234-L235

demo:

[code]

I can have it generated well-formed fake `URI`s (e.g. with `

[2022-05-01 08:14] renovate[bot] opened #7293 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/micronaut-projects/micronaut-core).

## Deprecations / Replacements

The following dependencies are either deprecated or have replacements available

[2022-05-02 08:52] yawkat commented on #7257
These lines seem likely to cause such an error: https://github.com/micronaut-projects/micronaut-core/blob/0441c9e157661e92213469ea4e5363233cc993eb/graal/src/main/java/io/micronaut/graal/reflect/GraalTypeElementVisitor.java#L307-L306

I will make a PR to change them to use Path only.

[2022-05-02 11:40] sdelamo commented on #7288
If I understand @cheezy64 the issue is the expect path params to be Url encoded:

[code]

There is an easy workaround which is to encode the the value before passing it to path.

[code]

DefaultUriBuilder has a private `encode` method.

[code]

We could make it public static.

Changing `path` to encode by defualt could be considered a breaking change.

[2022-05-02 12:55] donbeave commented on #7070
I will create a migration PR for each project and will also post the link to these PRs here in the comments section.

- [x] [Micronaut ACME](https://github.com/micronaut-projects/micronaut-acme) - https://github.com/micronaut-projects/micronaut-acme/pull/228
- [x] [Micronaut GraphQL](https://github.com/micronaut-projects/micronaut-graphql) - https://github.com/micronaut-projects/micronaut-graphql/

[2022-05-02 16:06] sdelamo commented on #7288
@cheezy64 you can use `expand` together with `path` and you will get the encoding you expect:

[code]

[code]

[2022-05-02 21:22] donbeave commented on #7070
- [x] [Micronaut Azure](https://github.com/micronaut-projects/micronaut-azure) - https://github.com/micronaut-projects/micronaut-azure/pull/327
- [x] [Micronaut Cache](https://github.com/micronaut-projects/micronaut-cache) - https://github.com/micronaut-projects/micronaut-cache/pull/457
- [x] [Micronaut Cassandra](https://github.com/micronaut-projects/micronaut-cassandra) - https://github.com/micr

[2022-05-03 06:14] dstepanov commented on #7070
@donbeave Thanks! BTW you aren’t supposed to modify anything in .github, that should be updated by the micronaut build PRs

[2022-05-03 06:18] donbeave commented on #7070
@dstepanov ok, I’ll restore these changes, but looks like many repositories aren’t synced with project template in terms of common files. I saw there are some PRs with updating common files stayed unmerged. After migrate to Gradle Version Catalogs PRs I think it’s important to merge these PRs with updating common files, otherwise the dependency updates flow will not work.

[2022-05-03 07:42] alvarosanchez commented on #7070
@donbeave agreed that there are some unmerged sync PRs, but the only reason is because we don't have enough bandwidth to quickly handle all the incoming PRs.

The majority of the projects should be sync'ed from the template. There are some exceptions, like micronaut-starter (which has a quite unique build) or the Maven Plugin (which uses Maven). If you find a notable miss, please let us know.

In

[2022-05-03 07:50] donbeave commented on #7070
I'm happy to help. Let me finish migration to Gradle Version Catalog. Probably I can finish migration for the rest of the projects today.

[2022-05-03 09:20] tom59 commented on #7275
It is working as designed in the code, that's why I put it as an enhancement.
The current circuit-breaker API is "lying" on why it fails. It will throw TimeoutException or HttpClientException when there is not outbound calls made. That is very confusing.
When you see 100 TimeoutException being thrown, you are meant to believe there is something really wrong with the outbound which has timed out 10

[2022-05-03 12:04] donbeave commented on #7070
- [x] Micronaut chatbots - https://github.com/micronaut-projects/micronaut-chatbots/pull/15
- [x] Micronaut Coherence - https://github.com/micronaut-projects/micronaut-coherence/pull/179
- [x] [Micronaut Discovery Client](https://github.com/micronaut-projects/micronaut-discovery-client) - https://github.com/micronaut-projects/micronaut-discovery-client/pull/355
- [x] [Micronaut Elastic Search](htt

[2022-05-03 16:30] MT-Jacobs opened #7306 "GenericArgument doesn't work with Kotlin generics w/type variance"
### Expected Behavior

When defining a GenericArgument:

[code]

everything should work.

As far as I can tell, this _is_ the intended use case, as demonstrated in https://github.com/micronaut-projects/micronaut-core/pull/754 (albeit in Groovy):

[code]

### Actual Behaviour

Creating the object using types with variance results in the following stacktrace:

[code]

From Kotlin's `Pair`:

[code]

[2022-05-03 21:24] donbeave commented on #7070
- [x] [Micronaut GCP](https://github.com/micronaut-projects/micronaut-gcp) - https://github.com/micronaut-projects/micronaut-gcp/pull/630
- [x] [Micronaut Jackson XML](https://github.com/micronaut-projects/micronaut-jackson-xml) - https://github.com/micronaut-projects/micronaut-jackson-xml/pull/195
- [x] [Micronaut JAX-RS](https://github.com/micronaut-projects/micronaut-jaxrs) - https://github.com

[2022-05-04 08:47] sdelamo commented on #7147
Fixed here: https://github.com/micronaut-projects/micronaut-data/issues/1482

[2022-05-04 08:47] #7147 closed, assigned to sdelamo

[2022-05-04 08:47] graemerocher commented on #7275
So this seems like an enhancement request whereby you want to specify to the circuit breaker which exceptions should be excluded from being rethrown.

[2022-05-04 08:52] dstepanov commented on #7197
Branch with a reproducer https://github.com/micronaut-projects/micronaut-core/compare/fixann?expand=1

[2022-05-04 08:58] dstepanov commented on #7197
The test passes if the annotate call is removed from the type visitor.

[2022-05-04 10:34] tom59 commented on #7275
yes that would work

[2022-05-04 11:38] #4898 closed, assigned to nobody

[2022-05-04 13:20] akorompai opened #7309 "DefaultBeanContext#getBeansOfType doesn't return singleton of same type but with different qualifier"
### Expected Behavior

Expect `DefaultBeanContext#getBeansOfType` to return multiple beans if multiple beans were registered programatically as singleton using a different qualifier.

### Actual Behaviour

Only one bean is returned event though multiple beans were registered

### Steps To Reproduce

In PR #7308 one test has been modified to register multiple singletons.
The test fails without the

[2022-05-04 22:01] donbeave commented on #7070
- [x] [Micronaut Neo4j](https://github.com/micronaut-projects/micronaut-neo4j) - https://github.com/micronaut-projects/micronaut-neo4j/pull/237
- [x] [Micronaut Picocli](https://github.com/micronaut-projects/micronaut-picocli) - https://github.com/micronaut-projects/micronaut-picocli/pull/241
- [x] [Micronaut R2DBC](https://github.com/micronaut-projects/micronaut-r2dbc) - https://github.com/micron

[2022-05-05 02:29] C06A commented on #1727
"parse yourself" kind of defeat the promise of binding parameters by the framework. Also, the multi-value syntax of the URI-Template is valid and should be handled by framework.

@graemerocher, your suggestion is a workaround and not something I would call "support". I addressed it in my edited original request.

[2022-05-05 13:43] RZetko opened #7312 "micronaut-http-server-netty-3.4.3.jar reported as Trojan by Windows Defender"
### Expected Behavior

Windows Defender should not report micronaut-http-server-netty-3.4.3.jar as virus.

### Actual Behaviour

Windows Defender reports micronaut-http-server-netty-3.4.3.jar as Trojan when running first installation of packages using mvnw mn:run. Downgrading to previous version 3.4.2 seems to workaround this issue. Attached screenshot shows issue in detail. I also attached demo p

[2022-05-05 22:07] donbeave commented on #7070
- [x] [Micronaut OpenAPI](https://github.com/micronaut-projects/micronaut-openapi) - https://github.com/micronaut-projects/micronaut-openapi/pull/705
- [x] [Micronaut RSS](https://github.com/micronaut-projects/micronaut-rss) - https://github.com/micronaut-projects/micronaut-rss/pull/203
- [x] [Micronaut Security](https://github.com/micronaut-projects/micronaut-security) - https://github.com/micron

[2022-05-06 05:33] sdelamo opened #7313 "Correct type for mjs files (Javascript modules)"
[I think we should return `text/javascript`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types)

### Discussed in https://github.com/micronaut-projects/micronaut-core/discussions/7301

<div type='discussions-op-text'>

<sup>Originally posted by **siddharth223437** May  2, 2022</sup>
Micronaut think that all ".mjs" file are "text/plain" so how can i tell micro

[2022-05-06 09:05] yawkat commented on #7312
I can't see any security warning on that jar: https://www.virustotal.com/gui/file/b6922655ce60cb4b913a8212325e3e9ee15c9a83caedd6820bf022a104e2944b?nocache=1

Can you confirm that the file has the same hash (sha-256  b6922655ce60cb4b913a8212325e3e9ee15c9a83caedd6820bf022a104e2944b) on your system?

[2022-05-06 09:35] alvarosanchez commented on #7313
Apart from changing this default, we should also allow users to define arbitrary mappings.

Probably worth a separate issue.

[2022-05-06 09:37] timyates commented on #7116
Done in https://github.com/micronaut-projects/micronaut-core/pull/7123

[2022-05-06 09:37] #7116 closed, assigned to timyates

[2022-05-06 10:09] gbennardo opened #7314 "Websocket connection fails (timeout) after two successfull connections"
### Expected Behavior

Client should connect successfully to the websocketclient

### Actual Behaviour

After two successful connections, the third connection request to a websocketclient fails due to a timeout. This only happens if the micronaut application runs as a kubernetes pod. Running as a stand alone application locally it doesn't happen.

This is the ingress error:
`[error] 1990#1990: *82

[2022-05-06 10:10] yawkat commented on #7314
Can you give a test case?

[2022-05-06 10:11] RZetko commented on #7312
Can confirm that sha-256 is same after uploading it to https://emn178.github.io/online-tools/sha256_checksum.html and calculating hash. Hash is b6922655ce60cb4b913a8212325e3e9ee15c9a83caedd6820bf022a104e2944b and I also attached screenshot.

I noticed after deleting .m2 directory and redownloading all packages on different 3.4.3 project that even micronaut-http-server-3.4.3.jar is reported as Troj

[2022-05-06 10:15] yawkat commented on #7312
Then it's probably a false positive by your AV engine, don't think we can do anything about that

[2022-05-06 11:38] RZetko commented on #7312
Yeah, probably just an issue with Windows Defender. I'll wait until they update their definitions and hope that it'll go away. Until then I'm using 3.4.2 to be extra safe.

[2022-05-06 11:38] #7312 closed, assigned to nobody

[2022-05-06 15:31] rlconst commented on #6723
Still reproducable in v3.4.3

[2022-05-06 15:36] graemerocher commented on #6723
@rlconst using the same application?

[2022-05-06 16:19] rlconst commented on #6723
@graemerocher I change config and can't reproduce, but I
1. took a project with security-jwt
2. added the simple controller with single get returning string
3. run debug in IntelliJ IDEA using gradle run
4. using curl requested controller

Curl returned 401, because I didn't change anything in auth config and log printed stack trace similar to @jreznot. When I hit again, I'll try to post MRE

[2022-05-08 15:43] fmonorchio opened #7332 "Declarative Http Client fails with StackOverflowError when a method parameter has type Path"
### Expected Behavior

When using declarative http client with a @QueryValue of type java.nio.file.Path it must do the http call correctly.

### Actual Behaviour

 A StackOverflowError appear while on server side part it work as expected

### Steps To Reproduce

1. Clone the test repo
2. Run the "DemoSpec" test

### Environment Information

Ubuntu 21.10
Java 15

### Example Application

https://gi

[2022-05-09 03:19] jameskleeh commented on #7306
In general you should be using `Argument.of`

`Argument.of(Pair::class.java, Argument.STRING, Argument.BOOLEAN) as Argument<Pair<String, Boolean>>`

[2022-05-09 08:36] #7314 closed, assigned to nobody

[2022-05-09 09:12] alvarosanchez opened #7337 "Micronaut 3.4.x includes a non-existent Maven Failsafe Plugin version"
https://github.com/micronaut-projects/micronaut-core/pull/7120 mistakenly bumped `maven-failsafe-plugin` to 2.22.3, which doesn't exist.

[2022-05-09 12:04] graemerocher commented on #6723
@rlconst if you can supply a reproducible example in a new issue report that would be most appreciated.

[2022-05-09 14:44] asautins opened #7339 "micronaut-parent parent pom and exec-maven-plugin"
### Expected Behavior

I am adding some steps to include a react frotend build in my pom.xml file, generally following the example here:

https://www.wissel.net/blog/2021/12/deploying-your-frontend-as-webjar.html

The expected behavior is I add the following rule:

[code]

That it runs successfully

### Actual Behaviour

The actual behavior is the rule fails.  When run with the -X flag I see the f

[2022-05-09 18:23] alvarosanchez commented on #7339
You need to define your `exec-maven-plugin` configuration node like this:

[code]

[2022-05-09 21:10] asautins commented on #7339
That works great.  thank you!

[2022-05-09 21:10] #7339 closed, assigned to nobody

[2022-05-10 07:40] musketyr opened #7340 "Service introduction requires adding package to the incremental build settings in Gradle"
### Expected Behavior

When I add a library which has an `@Introduction` annotation and I use the annotation on the interface then the bean is created for the interface.

### Actual Behaviour

The bean is not created and `NoSuchBeanException` is thrown at the injection point. I need to add the package of the annotation from the library to the `build.gradle` file to make the introduction work.

[co

[2022-05-10 07:59] graemerocher commented on #7340
This is correct since Micronaut needs to know about the annotations that are to be processed. If this is not what you want you can disable incremental compile

[2022-05-10 08:02] melix commented on #7340
It's a bit confusing: the service annotation here is in a library, so adding `annotations("com.agorapulse.*")` suggests that it would process the annotations _in the library_. Is it really required?

[2022-05-10 08:38] #7337 closed, assigned to alvarosanchez

[2022-05-10 08:47] yawkat commented on #6706
Looks like a duplicate of #3910

[2022-05-10 08:50] timyates opened #7341 "build: Add JaxRS module bom"
Once this is out

https://github.com/micronaut-projects/micronaut-jaxrs/pull/236

We should integrate the bom into the build

[2022-05-10 08:54] #7197 closed, assigned to graemerocher

[2022-05-10 08:56] sdelamo commented on #7313
closed via https://github.com/micronaut-projects/micronaut-core/pull/7307

[2022-05-10 08:56] #7313 closed, assigned to hollingsworthd

[2022-05-10 09:03] dstepanov commented on #3910
That could be fixed by doing synchronization on the instance of `BeanDefinition` in `findOrCreateSingletonBeanRegistration`  but the problem is that we can have multiple instances of the same `BeanDefinition`. The other approach would be to have a map of locks...

[2022-05-10 09:06] graemerocher commented on #3910
@dstepanov when I looked at the CDI implementations out there that do this it appears a map of locks is what they do.

[2022-05-10 09:06] graemerocher commented on #3910
@dstepanov assigned to you, perhaps worth addressing as part of the broader refactor you are doing

[2022-05-10 09:11] graemerocher commented on #7340
I agree it is confusing, I am just not sure what we can do about it since the annotation processors in incremental mode are limited to a set of annotation name patterns. A "workaround" would be to make the Micronaut compiler aware of the new annotations. But for that you would need to do two things which are also a bit ugly:

* Add a module for the library that contains a no-op `AnnotationRemapper

[2022-05-10 09:59] musketyr commented on #7340
thanks @graemerocher. I will try the re-mapper. I would like to add more of these libraries soon as a new starter features and I would them to work out of the box.

[2022-05-10 10:11] musketyr commented on #7340
just to be sure @graemerocher, by no-op remapper you mean something like this?

[code]

Or can I simply return `Collections.emptyList()` from the `remap` method?

[2022-05-10 10:31] graemerocher commented on #7340
yes like that

[2022-05-10 10:37] dstepanov commented on #6706
The test is passing in 3.5.0 branch. Closing as fixed.

[2022-05-10 10:37] #6706 closed, assigned to dstepanov

[2022-05-10 10:44] musketyr commented on #7340
I've created a remapper for every annotation using `@Introduction` in the Micronaut AWS SDK but it still looks to me that there is still some missing piece. I have created files in `resources/META-INF/services/io.micronaut.inject.annotation.AnnotationRemapper` to point to the new remappers.

See the commit here: https://github.com/agorapulse/micronaut-aws-sdk/commit/22d2e6cae1894697c48aa9d1c0ac39c

[2022-05-10 10:47] graemerocher commented on #7340
yes as I said it needs to be a separate module that is present in the `annotationProcessor` classpath

[2022-05-10 10:48] musketyr commented on #7340
I'm sorry for the noise, it was actually working. I have looked at the wrong class.

[2022-05-10 10:50] graemerocher commented on #7340
note that I recommend you create a separate module rather than placing the whole dynamodb module in the annotation processor classpath

[2022-05-10 10:51] musketyr commented on #7340
got it. so the module will only contain the single class - the remapper, right?

[2022-05-10 11:27] graemerocher commented on #7340
right

[2022-05-10 12:23] sumitaneja opened #7344 "Fails to route when controller method with multiple uris and client using accept header"
### Expected Behavior

Create a controller with methods for Get, put, post. Configure multiple uris(same set) for these Http methods.

From client make request with accept header(see reproducer)

 Expected Request should be received by controller.

### Actual Behaviour

But micronaut RoutingInboundHandler rejects with from one of the URIs.
Method [..] not allowed for URI [...]

### Steps To Reprod

[2022-05-10 12:37] musketyr commented on #7340
thank you, you all saved my day (and demo in the evening) :-)

I have created a PR for the Micronaut AWS and I later I will check the other libraries

https://github.com/agorapulse/micronaut-aws-sdk/pull/105

[2022-05-10 12:55] sumitaneja commented on #7344
Steps to reproduce
Git https://github.com/sumitaneja/MicronautIssues/tree/main/Issue7344

Download this module and run URLContorllerSpec.  Failing test is the use case.

Passing tests are other combinations that work

[2022-05-10 13:58] graemerocher commented on #7344
@yawkat would you mind taking a look

[2022-05-10 14:38] musketyr commented on #7340
I'm closing the issue as this is by design and verified workaround is available

[2022-05-10 14:38] #7340 closed, assigned to nobody

[2022-05-10 17:25] Robin479 opened #7346 "Runaway HTTP-Metrics due to use of unsafe user-input or crafted URIs as metric labels"
### Expected Behavior

When running a Micronaut application with CORS and Micrometer metrics enabled, the user-input URI (especially during CORS preflights) is **NOT** used as the fallback for the "uri" label of the `http.server.request` metric in cases where the target endpoint and its URI-template cannot be determined.

In general, the incoming URI should never be used as the `uri` label on the

[2022-05-11 10:08] yawkat commented on #7344
The issue is your `@Produces(MediaType.ALL)`, if you remove it, the test works fine.

@graemerocher what is `@Produces(MediaType.ALL)` supposed to do?

[2022-05-11 10:33] anandjaisy opened #7348 "No instances of org.bson.BsonDocument are allowed in the image heap as this class should be initialized at image runtime."
### Expected Behavior

Using the latest Micronauts data with MongoDB, everything works fine with Micronaut compilation and Gradle build, however when trying to run the native image using **Graal VM 22.1.0.r17 Java 17** bunch of compilation occurs for **org.bson.BsonDocument**

### Actual Behaviour

[code]

### Steps To Reproduce

- Just run `./gradlew nativeCompile`

### Environment Information

-

[2022-05-12 08:38] graemerocher commented on #7344
I think this was only designed to be used for consumes and not produces, probably we should fail compilation if it is used in combination with produces

[2022-05-12 18:10] hollingsworthd commented on #7332
Thank you for the bug report and branch from which I reproduced this.

I think the problem is that java.nio.file.Path implements Iterable and the io.micronaut.core.convert.DefaultConversionService has converters for both Iterable and Path.

As a workaround instead of using the type java.nio.file.Path, perhaps java.io.File is suitable.

I'll leave this assigned to me to patch the DefaultConversionS

[2022-05-12 19:59] hollingsworthd commented on #7268
Thank you for the bug report and branch from which I could reproduce the bug.

As a workaround for now perhaps you can use two of your own qualifier annotations. For instance instead of `@Foo @Named("bar")` which is what's broken, it works to do `@Foo @Bar`.

Also as a workaround try to use the `@Singleton` scope. It's the `@Context` scope specifically that's broken. Singleton is the same as Conte

[2022-05-12 20:51] faireai-fmonorchio commented on #7332
At the moment I'm using String with a custom constraint validator. Thanks to you for bugfix! :-)

[2022-05-13 04:27] wbprime opened #7356 "io.micronaut.core.bind.annotation.Bindable#value() seems not work as expected combined with io.micronaut.context.annotation.ConfigurationInject"
### Expected Behavior

When injecting config properties into Immutable object, the value of io.micronaut.core.bind.annotation.Bindable#value() will be used to find the config key instead of the bean property name.

Demo class:

[code]

Demo case:

[code]

The injected `targets` property value should be "[10]", not "[1, 2, 3]".

### Actual Behaviour

Config property injection ignore the setting of

[2022-05-13 05:01] #7254 closed, assigned to sdelamo

[2022-05-13 07:12] AaldertVanWijk-TomTom opened #7358 "Errors should not be logged at the debug level"
### Issue description

We had a serialization issue in the code that caused Micronaut to return a partially serialized object with a status of 200 (something I consider wrong in and of itself)

Part of what made this hard to find and debug (and prevents our monitoring reacting on error logs) is that this pretty severe error is deemed only worth printing when the log level is set to debug
This seem

[2022-05-13 07:17] #7309 closed, assigned to nobody

[2022-05-13 13:14] Ksnz opened #7362 "Multiple beans based on same beanProperty @Requires condition with different values throws NonUniqueBeanException"
### Expected Behavior

From two beans of same interface
[code]
and
[code]
injected only one depending on property `moduleScan` because `OneBarStraregy` requires `false` and  `AnotherBarStraregy` requres `true`

### Actual Behaviour

Exception throwed
[code]

### Steps To Reproduce

Download example linked below and run `./gradlew test` or `./gradlew run`

### Environment Information

_No response_

[2022-05-13 14:03] hollingsworthd commented on #7101
Thanks for the bug report and branch to reproduce this.

I reproduced this bug and investigated, but I am not a Kotlin expert -- @sdelamo should someone else take this on? Un-assigning myself for the moment.

[2022-05-14 09:15] rmsantana opened #7372 "Execution default-docker-native of goal build fails on version 3.4.1+"
### Expected Behavior

Running `mvn package -Dpackaging=docker-native` should create a docker image with the Graalvm for the project.

### Actual Behaviour

Build fails with the following stack trace:
[code]

[2022-05-14 11:32] sergey-morenets commented on #4770
Any updates on this? The next month Jakarta EE 10 will be released

[2022-05-14 11:37] graemerocher commented on #4770
Scheduled for Micronaut 4

[2022-05-15 06:35] sdelamo opened #7383 "Investigate if we can get rid of managed-kafka"
### Issue description

see: https://github.com/micronaut-projects/micronaut-core/pull/7370

[2022-05-15 07:16] #7231 closed, assigned to nobody

[2022-05-15 18:02] Brutus5000 commented on #1180
Soo as it turns out my eager loading approach crashes the application when compiled into a native graalvm image :cry:

[2022-05-16 00:35] ibmsoft opened #7390 "document not correct"
### Expected Behavior

https://micronaut.io/docs/
can select other version ,but no selection

### Actual Behaviour
<img width="1110" alt="image" src="https://user-images.githubusercontent.com/26042/168501707-d84a35e8-38b4-4c8e-8e2d-f585da1f2066.png">

no select version

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

_No response_

### Ve

[2022-05-16 08:56] timyates commented on #7383
For 3.4.x, we need to keep this.  In 3.5.0 we introduce the Kafka BOM

https://github.com/micronaut-projects/micronaut-core/issues/7116

This removes many of the requirements for managed-kafka, however we still have a library `managed-kafka212`

This was [discussed here](https://github.com/micronaut-projects/micronaut-core/pull/7123/files#r831939072) where we decided we needed to keep it, and mayb

[2022-05-16 09:37] yawkat commented on #7253
ok it turns out that `exception-on-error-status` only matters if the error type is the same as the body type, and the error type is JsonError by default. if you specify it explicitly to be String, it works: `client.toBlocking().exchange(request, Argument.STRING, Argument.STRING)`

It makes sense imo (no reason to assume the deserialized type for normal body and error match, otherwise) but i dont t

[2022-05-16 13:18] yawkat commented on #2386
Can't reproduce this anymore, I first thought this might have been fixed by #6850, but from testing it worked before that already, probably fixed by #5935

[2022-05-16 13:18] #2386 closed

[2022-05-16 13:20] barnabasJ opened #7395 "Customized Json Serialization does not always work as expected"
### Expected Behavior

Json Serialization should happen in the same way for every request.

### Actual Behaviour

Sometimes empty arrays are sent in the payload sometimes the are left out completely.

### Steps To Reproduce

I created a client like this and sometimes the payload includes the empty template_content and sometimes it is left out completely

[code]

### Environment Information

- JDK

[2022-05-16 23:17] ibmsoft commented on #7390
now it ok

[2022-05-16 23:17] #7390 closed, assigned to nobody

[2022-05-17 03:28] sdelamo commented on #7341
[Micronaut JAX-RS 3.3.0 is out](https://github.com/micronaut-projects/micronaut-jaxrs/releases/tag/v3.3.0)

[2022-05-17 09:11] timyates commented on #7341
Closed by https://github.com/micronaut-projects/micronaut-core/pull/7400

[2022-05-17 09:11] #7341 closed, assigned to timyates

[2022-05-17 10:06] Ksnz opened #7401 "StreamedFile and SystemFile not fully support attachment with not standard alphanumeric characters"
### Expected Behavior

`StreamedFile` created as:
[code]
Downloaded via browsers with name `example(汉字).filename`

### Actual Behaviour

`StreamedFile` created as:
[code]
downloaded via browsers with name `example(__).filename`

If you force filename url encoding : `.attach(URLEncoder.encode(filename,UTF-8))`
Chrome will download it with name `example(汉字).filename`,
But Safari download it like `ex

[2022-05-17 10:58] yawkat commented on #7401
the behavior of different browsers is described here: https://httpwg.org/specs/rfc6266.html#alternatives

[2022-05-17 12:35] timyates opened #7404 "build: Add Picocli BOM"
### Issue description

Needs to wait for 4.2.0 here https://github.com/micronaut-projects/micronaut-picocli/pull/246

[2022-05-17 18:29] o-shevchenko opened #7409 "Kotlin value classes support"
### Feature description

[Kotlin value classes](https://kotlinlang.org/docs/inline-classes.html) currently can't be used in Micronaut.
Value classes are very useful to create wrappers around standard types.
Unfortunately, `value classes` is not supported, and we are forced to use [type aliases](https://kotlinlang.org/docs/type-aliases.html) as a workaround.

Example:
[code]
I would like to replace

[2022-05-17 19:11] jehrenzweig-leagueapps commented on #7288
Running into this problem on 3.4.4 right now.  Given a controller method with the following annotations:
[code]

And the following Kotest `StringSpec` unit test:
[code]

The following exception is thrown:
[code]

[2022-05-17 19:58] jehrenzweig-leagueapps commented on #7288
I've found that using Apache's `URIBuilder.setPath()` method will encode spaces as `%20`, which works around the problem I'm having:
[code]

[2022-05-18 08:19] timyates commented on #6996
@sdelamo can this now be closed?  Was a decision on Ignite made?

[2022-05-18 09:14] yawkat commented on #7401
Thanks for the report

[2022-05-18 09:14] #7401 closed, assigned to nobody

[2022-05-18 18:26] jehrenzweig-leagueapps commented on #7253
Yep, running into this problem right now.  When I attempt to use Micronaut's `HttpClient` class to make calls to the following controller method signature:
[code]

The following code in a unit test throws a `HttpClientResponseException`, instead of returning an `HttpResponse<T>` object with a 422 status:
[code]

Even though the following settings are defined in both `application.yml` and `applicat

[2022-05-18 18:40] jehrenzweig-leagueapps commented on #7253
The `exception-on-error-status` setting is conditionally applied in [DefaultHttpClient.java](https://github.com/micronaut-projects/micronaut-core/blob/08f3e7aa5ae400c1afc287b3a1dc47e7ecd4249a/http-client/src/main/java/io/micronaut/http/client/netty/DefaultHttpClient.java#L2464-L2465) based on the body type:
[code]

Shouldn't the setting be applied regardless of body type, like so?
[code]

[2022-05-19 08:04] yawkat commented on #7253
No, that can't work, because it might yield a body that is of the wrong type (bodyType, when it should parse as errorType). I think the current behavior is correct, just confusing.

[2022-05-19 08:43] timyates commented on #7404
Closed by https://github.com/micronaut-projects/micronaut-core/pull/7413

[2022-05-19 08:43] #7404 closed, assigned to timyates

[2022-05-19 15:23] jehrenzweig-leagueapps commented on #7253
Fair enough; I've switched to using [Methanol](https://mizosoft.github.io/methanol/) instead of Micronaut's `HttpClient` for now to make HTTP requests, since that doesn't require wrapping code in try/catch blocks to handle >= 400 status codes.

[2022-05-19 15:26] x80486 commented on #7253
That's one reason I can't fully understand. The setting `exception-on-error-status` reads quite global, so I shouldn't expect any exceptions whatsoever — I'm talking from the user-side.

The mix around exceptions (Java concept) and just receiving certain result via HTTP is a little bit awkward.

[2022-05-19 15:27] yawkat commented on #7253
Yes the setting name is confusing, but I don't think it can work differently in a sensible way

[2022-05-19 18:21] segocago opened #7421 "Add ServiceId information to HttpClientException and HttpClientResponseException to be able to know which service is causing exception"
### Feature description

Currently, HttpClientExceptions does not have any indication of which HttpClient actually caused the exception. As having many HttpClients is very common, these exception that does not tell which client caused the exception is not very useful. We see the exceptions in the logs but can't tell which HttpClient and which service that HttpClient is calling caused the issue.

A

[2022-05-20 08:04] #7261 closed, assigned to nobody

[2022-05-20 09:54] timyates opened #7424 "build: Revisit caching for tasks with dependency inputs"
### Issue description

Originally we had all the versions of dependant libraries in our catalog, and these were injected into the parent pom on publication. This was problematic (and a chore) as we had to align versions between the modules that use the dependency, and core.

We now don't do this, and rely on the version in the module-bom. (see the [removal here](https://github.com/micronaut-projec

[2022-05-20 10:02] sdelamo opened #7425 "Add Microstream to Core BOM"
### Issue description

see: https://github.com/micronaut-projects/micronaut-microstream/runs/6522622445?check_suite_focus=true

[2022-05-20 11:27] #7425 closed, assigned to timyates

[2022-05-20 12:36] MarkoDju opened #7427 "Oracle Advanced Queue and custom type in Micronaut"
### Issue description

Hello!

I want to use Oracle Advanced Queueing and use a custom message type. I have found an example in Spring ([https://blog.javaforge.net/post/30858904340/oracle-advanced-queuing-spring-custom-types](url) where the _DefaultMessageListenerContainer_ class is extended and the _createConsumer_ method overridden. The method uses the _ORADataFactory_ needed for the message typ

[2022-05-20 15:56] mattwelke commented on #6493
Maybe it would make sense to have some kind of event that beans could listen to that signifies application shutdown? And then you could create a bean whose only purpose is to receive this event and call "close" etc methods of your beans in the correct order?

Ex.

[code]

[code]

[code]

[2022-05-20 16:35] GavrilovSV commented on #7362
I'll fix this one

[2022-05-22 12:16] sdelamo opened #7471 "Document @ContextConfigurer"
### Issue description

We currently recommend people to configure default environment such `dev` with:

[code]

but the docs still reflect:

[code]

We should document it and explain why it is the preferred way (e.g. visibility to AOT).

[2022-05-22 12:16] sdelamo commented on #7471
@melix could you do this?

[2022-05-22 15:56] #7427 closed, assigned to nobody

[2022-05-23 04:11] sdelamo commented on #7006
Twitter Poll results:

https://mobile.twitter.com/micronautfw/status/1522313794432733187

   6.9% |  Stay on version 8
31.7%  | Move to version 11
61.4%  | Move to version 17

[2022-05-23 07:16] Ksnz opened #7477 "Support default methods as default value source for @ConfigurationProperties interfaces"
### Feature description

I have a property class like
[code]
with lombok annotations to reduce boilerplate and property `tempPath` with calculated default value.
I want to refactor it to an interface type, to reduce boilerplate without using lombok
[code]
but now i can't build a default value cause `@Bindable(defaultValue = )` allows only constants.
I had expected that default methods can solve it

[2022-05-23 11:00] alvarosanchez opened #7482 "Remove `--allow-incomplete-classpath`"
The use of `--allow-incomplete-classpath` produce the following warning with GraalVM 22.1.0:

[code]

It is only used in micronaut-inject as far as I can tell.

[2022-05-23 11:09] graemerocher commented on #7482
we can't remove this as it will break compatibility with older versions of GraalVM which may break existing builds. Should probably only be fixed in the new major version.

[2022-05-24 09:09] timyates opened #7487 "Fix bean delegates with @Primary"
The Async Mongo Guide is failing when the application starts up with a mongo repository

The failure is:

[code]

To reproduce, check out the `microstream` branch of `micronaut-guides`, re-enable the tests in `guides/micronaut-data-mongodb-asynchronous/metadata.json`, and then run:

[code]

A Java/Gradle project for investigation will then be in `build/code/micronaut-data-mongodb-asynchronous/micr

[2022-05-24 12:54] weesftw opened #7489 "Bug: Version 3.0.0+ changed the way the proxy is injected in @Transactional"
### Expected Behavior

In versions prior to 3.0, the way the `@Transactional` proxy is injected using `spring-jdbc` with `micronaut-spring` has changed its behavior. Before it was possible to wrapper and place a transaction responsible for several steps inside a flow (for example, using workflow pattern) and now this is not possible anymore.

### Actual Behaviour

![Untitled](https://user-images.g

[2022-05-24 13:02] timyates opened #7490 "build: remove swagger version from catalog"
https://github.com/micronaut-projects/micronaut-core/pull/7457

[2022-05-24 13:03] graemerocher commented on #7489
might be related to annotation inheritance, what happens if you declare `@Transactional` on the classes that extend from your type?

[2022-05-24 13:04] timyates opened #7491 "build: remove managed-micrometer version from catalog"
### Issue description

https://github.com/micronaut-projects/micronaut-core/pull/7456#issuecomment-1133906619

[2022-05-24 13:19] weesftw commented on #7489
@graemerocher

Yep, works in this case. I would like to perform a delegate instead of extending, or is it no longer possible?

[2022-05-24 13:36] graemerocher commented on #7489
so, in the previous version of Micronaut this caused issues when people wanted to extend and override so this changed in Micronaut 3.x and the new behaviour is more flexible. However if you do want an annotation to be inherited that is not (like `@Transactional`) you have to make a meta annotation:

[code]

[2022-05-24 14:37] weesftw commented on #7489
@graemerocher

I did some testing and the problem persists, I updated the [example](https://github.com/weesftw/micronaut-transaction-failed/commit/0aaee5c7aba394b2f12a7ff61c0f4dd84cdb4e63) repository.

[2022-05-24 17:43] viniciusxyz commented on #7489
@graemerocher  I performed the same test as @weesftw  and got the same problem, even creating the new annotation with all meta data informed it still doesn't work :/

I don't know if it helps, but here's a print of the compiled classes and the class we're using.

![image](https://user-images.githubusercontent.com/19265464/170103101-1b9ec833-fb50-4887-a98a-c2fc334f9662.png)

[2022-05-25 02:59] sdelamo commented on #7487
This is still not fixed.

PR still failing: https://github.com/micronaut-projects/micronaut-guides/pull/929

Steps to reproduce:

- Clone https://github.com/micronaut-projects/micronaut-guides/tree/microstream
- Run `./gradlew micronautDataMongodbAsynchronousBuild`. Test still fail.

@timyates @dstepanov could you collaborate in fixing this issue?

[2022-05-25 06:37] dstepanov commented on #7489
You might try to use Micronaut's `@Transactional` or directly `@TransactionalAdvice` which all of them are remapped to.

[2022-05-25 08:12] graemerocher commented on #7489
Hmm actually this is not related to inheritance, you have a very weird model where you are using generic arguments `TransactionalActityItem<INPUT, OUTPUT>` but then injecting the type with raw arguments:

[code]

I made the assumption inheritance was involved because of the presence of the generics which don't seem to make much sense. Also you are directly instantiating the bean:

[code]

So in th

[2022-05-25 10:18] viniciusxyz commented on #7489
@dstepanov These annotations are not available in the project, I believe it is because we are using spring jdbc

[2022-05-25 10:22] viniciusxyz commented on #7489
@graemerocher Sorry that generics point was an error in inject, I fixed it for injection as TransactionalActityItem<Deposit, Void> and it still didn't work with the new annotation, I performed a second test adding the annotation about the bean in the factory just like you showed, but strangely that didn't work either

[2022-05-25 10:45] timyates commented on #7487
@sdelamo We believe this is now fixed the tests are running in https://github.com/micronaut-projects/micronaut-guides/pull/929

We had to apply a workaround for adding `@MicronautTest` to a spock base class... there is a PR to fix this in a patch version of Micronaut-test here:

https://github.com/micronaut-projects/micronaut-test/pull/585

[2022-05-25 11:55] weesftw commented on #7489
@graemerocher

Thank you so much for taking the time to resolve this issue. Unfortunately, I did what you said but the transaction is still not able to handle multiple steps within a flow as it did in version 2.5.x.

[2022-05-25 14:27] stepanv opened #7502 "IntelliJ incremental build not working when modifying a class that is directly injected."
### Expected Behavior

Ideally, IntelliJ with enabled "Build and run using" -> "IntelliJ IDEA" should be able to leverage its incremental build when Micronaut managed beans are modified.

![image](https://user-images.githubusercontent.com/883323/170285737-9e02e6cd-8bc4-4271-bea5-ed10dba8b11c.png)

Incremental build takes usually few milliseconds comparing to a full module rebuild which may take 30

[2022-05-25 14:43] graemerocher commented on #7502
can you post a change that will trigger the issue

[2022-05-25 14:44] #7487 closed, assigned to dstepanov

[2022-05-25 14:58] stepanv commented on #7502
Hi @graemerocher , thx for the quick response, not sure if I understand your question though.
I tried to describe the change that would trigger the issue above ^^ but to make it absolutely clear:

- this PR demonstrates changes in micronaut beans that cause a full recompilation: https://github.com/stepanv/micronaut-full-rebuild-sample-app/pull/1
- this PR demonstrates changes in micronaut beans th

[2022-05-25 16:04] graemerocher commented on #7502
ok, PS Micronaut 3.5 might help here

[2022-05-25 18:50] volnei commented on #3578
Hi all,

What about this?

As workaround if you place the @Body annotation before @RequestBean it works. I think its a question of order.

[2022-05-25 20:52] stepanv commented on #7502
I just tried `3.5.0` and it's still the same. :(
I need an advice though, shall we aim to enable incremental compilation OR to find out what is slowing down the full rebuild? In both cases, I believe it's Micronaut annotation processing that needs some tunning.
For the latter case, do you have a suggestion how to enable logging during the compilation to see where Micronaut is burning its time?

[2022-05-26 04:47] volnei opened #7503 "@JsonFormat (jackson) not working when no explicity @Body speficied"
### Expected Behavior

Body need to be parsed using Jackson annotations even when not explicity annotated with @Body. When trying to use @Body annotation we can't use @RequestBean due to the bean is replaced with a new instance to fill body params.

### Actual Behaviour

Body was parsed but not respecting Jackson Annotations like @JsonFormat(...)

### Steps To Reproduce

Just run the follow test i

[2022-05-26 05:48] vasanthegde commented on #6927
We are facing same issue. we are making HEAD call which returns content-length greater than 2GB.
We are seeing `ContentLengthExceededException`
at least this exception does not make sense to HEAD call or it should be type Long

[2022-05-26 06:07] vasanthegde commented on #6927
Is it possible to disable `ContentLengthExceededException` for HEAD call at least ?

[2022-05-26 10:02] avishgup opened #7504 "Micronaut support for @Hidden - Open API Spec"
### Expected Behavior

Tried following for Open API spec to hide the API information from being generated in the final yml:

Just @Hidden annotation for non public API
@Hidden annotation with @Operation annotation for public API
@Operation annotation with optional element -> hidden = true for public API

### Actual Behaviour

@Hidden Should hide the apis and should not get generated for those endp

[2022-05-26 11:01] timyates commented on #7490
This requires the release of a BOM version of Openapi https://github.com/micronaut-projects/micronaut-openapi/pull/733

[2022-05-26 12:43] GongHuixue commented on #124
The issue also happened on my Android app. if the targetSdk is higher than 28 and the caffeine version lower than 3.0.0, the issue will appear.
i found there is something changed in Thread.java, as following pic showed.
![image](https://user-images.githubusercontent.com/34301712/170488709-f2380121-6656-46e9-a490-d6c22f7a5570.png)

but i have no idea to resolve the issue. is anybody have idea?

[2022-05-26 12:47] graemerocher commented on #124
We plan to remove caffeine as a dependency for the next major version

[2022-05-26 12:47] graemerocher commented on #124
See https://github.com/micronaut-projects/micronaut-core/issues/7039

[2022-05-26 14:25] ben-manes commented on #124
Caffeine wasn’t designed for Android which is very different than server-side Java. The 2.x series had to use Unsafe tricks for performance, whereas 3.x uses VarHandles for purity. While that should work on Android, all of the design assumptions and optimization goals differ between the two platforms. I don’t think caches for one will ever be good for the other, so removing caffeine from core make

[2022-05-26 16:56] georgecodes commented on #2941
It would be nice if there was a way to just hand the client config a keystore instance you've obtained however you like. I'm trying to configure a truststore from a cert held in a k8s secret but it appears I have to grab it and generate a pkcs12 keystore and point MN at that

But I do have scenarios - in projects not using MN - where that will literally not be possible. KMS-backed keystores, for i

[2022-05-26 19:29] ivangfr opened #7505 "A simple API native is not working with version 3.5.0"
### Expected Behavior

Able to run the Docker native image of very simple Greeting API that includes the following dependencies: graalvm, jib, http-client and micrometer-prometheus.

### Actual Behaviour

I am able to build both JVM and Native Docker images. The JVM one works pretty well. On the other hand, the Native one builds and starts up fine. However, when I submit a POST request to the endp

[2022-05-27 00:31] bowika opened #7507 "JsonInclude does not work with native image"
### Expected Behavior

[code]

### Actual Behaviour

[code]

### Steps To Reproduce

I just installed 3.5.0 with sdk and tried the most basic mn `create-app` like:
[code]
And modifying a bit, see in this repo:
https://github.com/bowika/micronaut-jsoninclude-problem/blob/main/src/main/java/com/HomeController.java
https://github.com/bowika/micronaut-jsoninclude-problem/blob/main/src/main/java/com/Wh

[2022-05-27 00:52] mhossain2019 opened #7508 "Memory LEAK: ByteBuf"
**PLEASE HELP WE ARE TRYING TO SOLVE FOR SEVERAL WEEKS.**

we are using micronaut version 3.4. we have developed API which consume application/x-protobuf. we have @ExecuteOn(TaskExecutors.IO) on all api and the api is POST. We don't have any custom message handler. we have one filter where we extract header and validate.

### Steps to Reproduce

1. develop API which consume application/x-protobuf

[2022-05-27 01:12] GongHuixue commented on #124
@graemerocher , thanks for quickly response.
@ben-manes , thanks for your explanation, in fact i not use Caffeine directly in Android, i am using owlapi in my Android Project, and owlapi depend on caffeine.

 "The 2.x series had to use Unsafe tricks for performance, whereas 3.x uses VarHandles for purity."
i had tried to use caffeine 3.0 in my project.
![image](https://user-images.githubuserconten

[2022-05-27 01:58] j1cs opened #7509 "Error calling ServiceLoader.Provider.type()"
### Expected Behavior

I got this same error and i came up with a person in the gitter chat had the same problem.
I thought this should be reported as a bug an find a better way to handle this in the core framework.
So taking the following setup:
[code]

### Actual Behaviour

Shows the follow error:
[code]

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Exam

[2022-05-27 02:50] ben-manes commented on #124
Caffeine 2.x uses a trick from `j.u.c.a.LongAdder` which uses these fields in the `Thread` class. Since we already used `Unsafe` it was coupled to the JDK and reasonable to emulate. When moving to pure Java via `VarHandles`, the logic was changed to use the thread id instead (theoretically worse, but practically the same). It took until [3.0.2](https://github.com/ben-manes/caffeine/releases/tag/v3

[2022-05-27 07:30] rbhambhra opened #7510 "Multiple possible bean candidates issue when using micronaut-hibernate-validator"
### Expected Behavior

When using micronaut 3.5 with micronaut-hibernate-validator then multiple configurations of a type (see executors example below), application should start without exception

Note that micronaut 3.4.4 does not have this issue

micronaut:
  application:
    name: micronautHibernateValidator
  executors:
    io:
      type: fixed
      number-of-threads: 20
    scheduled:

[2022-05-27 08:22] graemerocher commented on #7508
possibly fixed by https://github.com/micronaut-projects/micronaut-grpc/pull/524

[2022-05-27 08:23] graemerocher commented on #7508
Released a new version for you to try https://github.com/micronaut-projects/micronaut-grpc/releases/tag/v3.3.1

[2022-05-27 08:24] graemerocher commented on #7510
@dstepanov can you have a look?

[2022-05-27 08:35] graemerocher commented on #7529
@n0tl3ss please take a look at this one too

[2022-05-27 08:43] bysse commented on #3160
The setting is confusing, I interpreted it as the request timeout. But as it's an integer without unit I had to start digging in the source and I arrived to this same conclusion. It's not used and should be removed.

[2022-05-27 08:48] graemerocher commented on #7505
Works when packaging locally with `./mvnw package -Pgraalvm -Dpackaging=native-image` so seems specific to the Maven  plugin and docker packaging

[2022-05-27 09:48] yawkat commented on #7507
`JsonInclude` on classes is not implemented yet, but it should be fine if you add `@ReflectiveAccess`

[2022-05-27 10:01] yawkat commented on #6927
not currently, that is also handled by netty

[2022-05-27 10:08] yawkat commented on #7503
i dont think jackson is used to populate TestPojo, so not sure why this should work. it's a separate mechanism

[2022-05-27 12:13] ivyazmitinov opened #7512 "Extend @Replaces and @Requires with a generic type argument for a bean"
### Feature description

Since micronaut 3.0 it is possible to qualify beans via generic type arguments. It is a great feature that reduces amount of boilerplate qualifiers, but it is not integrated with another DI annotations:

1. `@Replaces` has a `named` and `qualifier` members, but not the generic type, so it is impossible to replace a bean qualified by a generic type
2. `@Requires` doesn't su

[2022-05-27 12:21] SergeyLadutko commented on #7512
Very good idea!!!

[2022-05-27 13:23] graemerocher commented on #7512
sounds like a reasonable request

[2022-05-27 13:26] graemerocher commented on #7502
I tried enabling incremental compilation with your sample app but even that triggered a full rebuild of all beans for some reason, which will require further investigation.

[2022-05-27 14:08] marciomunhoz commented on #7503
Hi Jonas,
so what is the correct way to set the LocalDateTime/LocalDate format?
Thanks

[2022-05-27 14:21] yawkat commented on #7503
please try `io.micronaut.core.convert.format.Format`

[2022-05-27 14:31] marciomunhoz commented on #7503
I tried with @Format annotation but it didn't work either

[2022-05-27 14:38] stepanv commented on #7502
Great, I believe Micronaut should be able to support incremental compilation, especially for such simple app.

In the meantime, we were profiling the full rebuild of our (not publicly available) app and we discovered Micronaut annotation processing is extremely ineffective when processing beans with many overloaded methods (same name, different params). For this we will be creating a different tic

[2022-05-27 14:40] volnei commented on #7503
@yawkat Did you run the test I posted? Did you make it work? If yes, please post the answer. If not, let's wait for someone who knows.

https://github.com/micronaut-projects/micronaut-core/issues/2156

[2022-05-27 14:46] graemerocher commented on #7502
well it does support incremental compilation for most changes, and once I enabled most changes compiled incrementally. It looks like there is some cases that don't work which I would like to understand for sure

[2022-05-27 14:56] dstepanov commented on #7512
You know you can simply replace the bean by defining the same qualifier and add the order annotation with a higher priority. The only problem is when someone is fetching all the beans of type.

[2022-05-27 14:56] yawkat commented on #7503
#2156 does not apply here, TestPojo contains a PathVariable so it can't be parsed from json (i.e. through jackson)

The test case is a bit problematic in this regard, it has mismatched path, sends a json body but expects query params on the controller side, and it uses LocalDate with a format that has a time component. it cannot work in its current state

[2022-05-27 15:03] ivyazmitinov commented on #7512
@dstepanov, that's a great workaround, but a `@Replaces` annotation would define intentions of a developer who performs a replacement in a much more clear and unambiguous way

[2022-05-27 15:07] dstepanov commented on #7512
Right, I’m planning to implement `@Alternative` in the way CDI spec defines it

[2022-05-27 17:32] mhossain2019 commented on #7508
Hi @graemerocher I am so happy to see your comments, I will Bump micronaut-grpc and update version 3.5.1 and will let you know. Thanks again.

[2022-05-28 08:06] bowika commented on #7507
it works, thank you

[2022-05-29 03:52] ianguuima opened #7522 "Generating a fresh new project leads to error"
### Expected Behavior

The application should be build using the command ./mvnw mn:run

### Actual Behaviour

Some errors pop up on my console

[code]

### Steps To Reproduce

1. Create a new application from Micronaut Start Site
2. Unzip it and try to run the command ./mvnw mn:run

### Environment Information

- Windows 11 (I also tried on WSL, Linux)
- JDK 11

### Example Application

_No respon

[2022-05-29 04:09] ianguuima commented on #7522
PS: I solved the problem using the 3.5.1-SNAPSHOT version.

[2022-05-30 07:42] alvarosanchez commented on #7522
Probably caused by https://github.com/micronaut-projects/micronaut-starter/issues/1268

[2022-05-30 07:42] #7522 closed, assigned to nobody

[2022-05-30 09:07] graemerocher opened #7523 "Reactive modules no longer resolvable from Micronaut version catalog"
### Expected Behavior

Importing the Micronaut Version Catalogu and using `mn.rxjava2` should resolve like in the Micronaut 3.4.x but this commit broke it https://github.com/micronaut-projects/micronaut-core/commit/ff52b313b2622852dee11d97a1342e2c61c3ef49

Also applies to `mn.reactor`, `mn.rxjava3` etc.

### Actual Behaviour

[code]

### Steps To Reproduce

Import the 3.5.0 version catalog and use

[2022-05-30 09:09] graemerocher commented on #7523
Also broken in Reactor, RxJava 3 etc.

[2022-05-30 09:10] graemerocher commented on #7523
we should probably review if other modules have broken the catalog as well.

/cc @melix @timyates

[2022-05-30 09:15] melix commented on #7523
For reference, this is how modules should be defined so that we properly inline entries: https://github.com/micronaut-projects/micronaut-rxjava2/pull/87

When migrating a module, we must make sure that all entries which are currently in the Micronaut BOM have an equivalent entry (with the same alias name) in the modules. Then when we import the module BOM in the catalog, we automatically inline th

[2022-05-30 13:30] ytoh opened #7525 "Disproportionate compilation time increase when using the visitor pattern"
### Expected Behavior

Compilation time increases proportionally when classes implementing the visitor pattern are annotated with `@Singleton`.

### Actual Behaviour

With each additional visitor annotated with `@Singleton` the compilation time increases by ~ 1 s.
Increasing the number of overloaded methods increases the time _exponentially_.

The linked repo contains a simple Micronaut demo proje

[2022-05-30 13:32] graemerocher commented on #7525
Think we need to add an escape hatch to avoid visiting the parent methods

[2022-05-30 14:38] stepanv commented on #7502
For the record, renaming `visit` methods in our visitors to unique names improves the full rebuild speed significantly: https://github.com/micronaut-projects/micronaut-core/issues/7525

It would be great though, if Micronaut annotation processing was able to support the incremental compilation more.

Is there anything I can help with (considering my limited micronaut knowledge) to support the case

[2022-05-30 14:42] graemerocher commented on #7502
that already works

[2022-05-30 14:45] graemerocher commented on #7502
if I alter your project as follows:

[code]

And I change IntelliJ to delegate to Gradle for building (which is just as fast) then when I change just method bodies of any type in the project it incrementally compiles only that type

[2022-05-30 15:24] stepanv commented on #7502
You're right, Gradle is able to do incremental compilation. I do see
[code]

Unfortunately, IntelliJ has to do full recompilation
[code]

I always assumed delegating to Gradle is never just as fast as compiling with IntelliJ directly. Actually I always thought delegating to Gradle adds at least 5 and sometimes even 20 or more seconds for large multi-module codebases. With IntelliJ, to recompile fe

[2022-05-30 15:37] n0tl3ss commented on #7529
I found out that problem is in dispose method of the `io.micronaut.configuration.jdbc.dbcp.$DatasourceConfiguration$Definition` that is autogenerated. Depose method looks like this:

[code]
it requires that var3 is type of DatasourceConfiguration class. But the dispose receives `io.micronaut.transaction.jdbc.TransactionAwareDataSource$DataSourceProxy` class that is wrapper around  `DatasourceConfi

[2022-05-30 15:53] stepanv commented on #7502
Sadly, :( I think I'm hitting this bug https://github.com/gradle/gradle/issues/13767 with Gradle 7.3.3
[code]
I enabled
[code]
but that didn't help either. :(

I'm assuming you're not aware of anything else one could try to make it work? (Maybe to downgrade Gradle?)

[2022-05-30 16:04] stepanv commented on #7502
Nevermind, I upgraded Micronaut to 3.5.0 and now I'm getting
[code]
I found https://github.com/micronaut-projects/micronaut-core/issues/4642 but that is probably unrelated.

I'm sorry for the comments storm. I'll try to dig deeper on my own further on.

[2022-05-30 16:33] graemerocher commented on #7502
ok, it seems that configuration properties have an incremental compilation issue. That is worth an issue report, in the meantime one option is to move the `@ConfigurationProperties` classes in your code base (6 of them) to a separate sub project so they don't trigger a recompile

[2022-05-31 08:27] dstepanov commented on #7529
@n0tl3ss Can you try it with 3.5.0?

[2022-05-31 08:30] n0tl3ss commented on #7529
I tried it already. Above is stack trace from the 3.5.0 version.

[2022-05-31 09:09] graemerocher commented on #7529
thanks @n0tl3ss

@dstepanov can you take over looking at this one

[2022-05-31 09:58] #7505 closed, assigned to graemerocher

[2022-05-31 09:58] graemerocher commented on #7505
Thanks for the report!

[2022-05-31 10:00] graemerocher commented on #7510
Fixed by https://github.com/micronaut-projects/micronaut-core/pull/7524

[2022-05-31 10:00] #7510 closed, assigned to dstepanov

[2022-05-31 10:01] graemerocher commented on #7508
Fixed by https://github.com/micronaut-projects/micronaut-core/commit/04ee794f5ca7306e03d1913af7f0308d858c03f5

[2022-05-31 10:01] #7508 closed, assigned to nobody

[2022-05-31 13:56] stepanv commented on #7502
Thanks @graemerocher , that works perfectly!

Is the
[code]
flaw of Micronaut or is it a Gradle thing? I have the reproducer ready so I'm ready to report it right away.

[2022-05-31 13:57] graemerocher commented on #7502
it is Micronaut, we will need to figure out how to produce Spring Configuration metadata (used to allow code completion of application.yml in IDEs) incrementally

[2022-05-31 14:04] stepanv opened #7534 "Support of Gradle incremental compilation when having more that 1 @ConfigurationProperties annotated classes"
### Feature description

When having multiple `@ConfigurationProperties` annotated classes, as per an example app: https://github.com/stepanv/micronaut-full-rebuild-sample-app/tree/main/src/main/java/com/example

with `micronaut.processing.incremental=true` enabled, the incremental compilation gets broken
[code]

It would be great if Micronaut was able to support incremental compilation even in su

[2022-05-31 14:05] stepanv commented on #7502
Gotcha, I created https://github.com/micronaut-projects/micronaut-core/issues/7534 to track that.

Thanks again for the prompt support!

[2022-05-31 14:05] #7502 closed, assigned to nobody

[2022-05-31 15:40] graemerocher commented on #7534
I sent a PR, to support this case if a `@ConfigurationProperties` bean is changed then it will re-run for all beans of that type, but will still be incremental

[2022-06-01 01:58] weesftw commented on #7489
hey @graemerocher,

Any update on this issue? or we can consider that this is the behavior expected by the Micronaut.

[2022-06-01 08:56] iron2414mw commented on #6912
I get the same error in 3.5.0

[2022-06-01 09:55] graemerocher commented on #6912
@iron2414mw Gradle or maven?

[2022-06-01 10:09] iron2414mw commented on #6912
Maven. Also i was using logback-classic 1.3.0-X version, that might be related to the problem.

[2022-06-01 10:11] graemerocher commented on #6912
what Micronaut modules are you using?

[2022-06-01 10:15] iron2414mw commented on #6912
It's probably a false alarm, sorry. If I change logback-classic to `1.3.0-alpha16` (the newest one) it's not working. However with `1.2.11` it works like a charm. Here are the dependencies from my pom.xml:

[code]

[2022-06-02 02:14] aentwist opened #7538 "Validate collection and elements"
### Issue description

I am trying to validate a `List<String>` from a request. The list should have some constraints, and its elements should also have some. Using `@NotEmpty` and `@Size` on the list are working. How can I validate the elements to be `@NotBlank`?

I have tried using [`@NotBlank.List`](https://javaee.github.io/javaee-spec/javadocs/javax/validation/constraints/NotBlank.List.html).

[2022-06-02 08:35] sdelamo opened #7540 "Release 3.5.1"
## Pre-Release Checklist

#### Align [Micronaut GraalVM test projects](https://github.com/micronaut-graal-tests/).

They should match the projects generated in stater. Use [bash scripts](https://gitlab.com/micronaut-projects/upgrade-micronaut-version/).

- [x] `./upgrade-gradle-version.sh`
- [x] `./upgrade-gradle-plugin-version.sh`
- [x] `./upgrade-micronaut-data-version.sh`
- [x] `upgrade-microna

[2022-06-02 08:45] #7534 closed, assigned to nobody

[2022-06-02 10:18] graemerocher commented on #7538
There is a PR https://github.com/micronaut-projects/micronaut-core/pull/5240 being worked on to address this that is targeting Micronaut 4.0

[2022-06-02 17:14] wetted opened #7543 "@Digits validation fails to raise constraint error for illegal BigDecimal arguments"
### Expected Behavior

Given the following classes, each with a `BigDecimal` property. One has validation constraint on the constructor arg, the other on the field.

[code]

The following test asserts the validation constraint checks fail, as expected. The test should pass:

[code]

### Actual Behaviour

The first  validation check (for `Offer`) passes, where the constraint is annotated on the cla

[2022-06-03 10:37] vesavlad opened #7544 "Overriding "core" package factory beans in app code does not work"
### Expected Behavior

For example I want to override ```DatasourceFactory``` to add some custom behavior. With 3.4.3 the factory bean was overriding the default bean inside ```io.micronaut.sql:micronaut-jdbc-hikari``` with 3.5.0 this does not work anymore

### Actual Behaviour

Bean does not get overwritten regardless of what I do. In the system I see that I have to beans for ```DatasourceFactory

[2022-06-03 10:39] vesavlad commented on #7544
Might be related to https://github.com/micronaut-projects/micronaut-core/pull/7537, will check fix on 3.5.1

[2022-06-03 10:44] vesavlad commented on #7544
Problem still present for 3.5.1

[2022-06-03 14:01] yakom opened #7545 "java.lang.ClassCastException thrown when sending a message to a RabbitMQ broker."
### Expected Behavior

a message should be sent to a RabbitMQ broker.

### Actual Behaviour

`java.lang.ClassCastException: class reactor.core.publisher.FluxOnErrorResume cannot be cast to class reactor.core.publisher.Mono (reactor.core.publisher.FluxOnErrorResume and reactor.core.publisher.Mono are in unnamed module of loader 'app')` gets thrown.

### Steps To Reproduce

i've created an example a

[2022-06-03 15:10] graemerocher commented on #7545
add `micronaut-reactor` to your classpath

[2022-06-03 15:11] graemerocher commented on #7544
Please provide an example that reproduces the issue

[2022-06-03 15:22] yakom commented on #7545
that was it, thank you.

[2022-06-03 15:22] #7545 closed, assigned to nobody

[2022-06-03 16:19] LifeIsStrange commented on #6781
@Xaseron

Note that this is expected to be fixed in Kotlin 1.7.20 https://youtrack.jetbrains.com/issue/KT-49682
but yeah unfortunately KAPT is maintained but deprecated at the moment :/

[2022-06-06 05:33] #7540 closed, assigned to sdelamo

[2022-06-06 12:51] weesftw opened #7552 "Property endpoints.all.path is concat with micronaut.server.context-path"
### Expected Behavior

It would be attractive to keep them on separate paths, as they are different contexts. Or have some variable that allows you to make this distinction because they are totally different routes.

Inside the processors package in the `management` module, in class [AbstractEndpointRouteBuilder](https://github.com/micronaut-projects/micronaut-core/blob/c23b826872bd4afa72d3267d122

[2022-06-07 15:38] pollenadam opened #8172 "@MicronautTest(rebuildContext = true) no longer works as of 3.5.x - context rebuild fails after first test is run"
### Expected Behavior

After each test is executed, the application context should be rebuilt and the next test should be run.

### Actual Behaviour

The first test executes successfully, the second (and any subsequent) test fails to run as micronaut throws the following exception when rebuilding the context:

[code]

### Steps To Reproduce

1. Build sample app using `mn create-application` with J

[2022-06-07 15:42] ivangfr opened #7559 "StatusLogger Unable to create Lookup for map"
### Expected Behavior

The ERROR log should not appear

### Actual Behaviour

After building and staring successfully the docker native image, the following error is thrown when a request is POST to the API. In the end, the app processes the request correctly

[code]

### Steps To Reproduce

1. git clone https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot
2. cd graalvm-quarkus-micronau

[2022-06-07 15:48] graemerocher commented on #7559
this seems unrelated to Micronaut, we don't currently support log4j as a logging system

[2022-06-07 21:14] infinityat0 commented on #6493
That could work and is needed but the unfortunate thing is that beans
created by micronaut do not expose lifecycle methods. So, there's not
really any control on this from the application perspective.

On Fri, May 20, 2022 at 8:56 AM Matt Welke ***@***.***> wrote:

--
+Sunny

[2022-06-08 22:43] vinicius-roc opened #7562 "[micronaut-aop] don't intercept function"
### Expected Behavior

When added a Custom Annotation with `@Type` and `@Around` should intercept function

### Actual Behaviour

I created a annotation `Monitorable`
[code]

and add to send hello function
[code]

When i call send method, the MetricInterceptor is not called.

The more stranger is that behavior is intermitating.

I ran the command
`./gradlew clean build`

After that i start the app

[2022-06-09 08:18] agugan commented on #7552
I am willing to pick this up. @graemerocher

[2022-06-09 08:44] rbhambhra commented on #7510
Thanks for the quick turnaround - works as expected in 3.5.1

[2022-06-09 09:30] graemerocher commented on #7562
I made the following changes and wasn't able to reproduce:

[code]

Usage of the `@Type(..)` on the annotation is largely deprecated

[2022-06-10 02:31] recoyang commented on #1101
HI @hberrayana , do you have the correct answer about which place to put the settings ?  I'm having the same issue right now

[2022-06-10 06:00] vesavlad commented on #7544
@graemerocher sorry for delay, here you have it
[micronaut-project.zip](https://github.com/micronaut-projects/micronaut-core/files/8876150/micronaut-project.zip)

In this project I'm expecting that the behavior of 3.4.2 is kept: ```ro.vladvesa.exporter.core.jdbc.DatasourceFactory``` is replacing the default  ```DatasourceFactory```

[2022-06-10 08:11] graemerocher commented on #1101
you can use `@Import` for this now https://docs.micronaut.io/latest/guide/#beanImport

[2022-06-10 09:27] o-shevchenko opened #7575 "@CircuitBreaker cache failed result when gate open"
### Expected Behavior

The first request fails but second pass

### Actual Behaviour

The first request fails but the second returns the same error as the first request.

### Steps To Reproduce

Similar to the issue described here: https://github.com/micronaut-projects/micronaut-rxjava3/issues/87.
Not sure if it's only related to reactive libs. Let me know if such bug should be open in core instea

[2022-06-10 09:29] o-shevchenko commented on #7575
@jameskleeh Could you please take a look?

[2022-06-10 09:37] dstepanov commented on #7575
Can you please create a sample project that reproduces it

[2022-06-10 10:39] o-shevchenko commented on #7575
@dstepanov
Please, just run `DemoTest`
https://github.com/o-shevchenko/micronaut_reactor_circuitbreaker_bug
<img width="864" alt="image" src="https://user-images.githubusercontent.com/31073930/173047934-429a7e3b-e010-43ff-8754-f858d0ff4538.png">
<img width="1488" alt="image" src="https://user-images.githubusercontent.com/31073930/173047993-c7a5decf-ec64-4025-bb79-2aa2bd48d7e1.png">

If you run tes

[2022-06-10 10:46] o-shevchenko commented on #7575
If I remove `CircuitBreaker` or add ` excludes = [HttpClientResponseException::class]` tests work
[code]

[2022-06-10 11:39] o-shevchenko commented on #7575
Added body to response to show that data from first request was returned to second
<img width="1442" alt="image" src="https://user-images.githubusercontent.com/31073930/173057135-8dc863e1-cf0e-4fdb-b0aa-a4a7a3f3f63c.png">

[2022-06-10 13:37] sdelamo opened #7568 "Add configuration to disable `@Schedule`"
It would be good if we allow users to disable `@Scheduled` behaviour. For example, I want to disable `@Scheduled `in my tests.

Users could do:

[code]

[2022-06-10 17:33] morki commented on #7568
Disabling CRON tasks for local development is another use case, now I am using `@Requires` with custom property on whole beans that use the `@Schedule` annotation and setting this property in `build.gradle` for `run` task. This would be much cleaner.

[2022-06-12 00:23] alexanderankin commented on #3685
Ran into this while implementing a docker registry (educational purposes), docker daemon does a HEAD request and complains if content-type and content-length are empty on the response.

[2022-06-12 01:02] mattwelke commented on #6493
@infinityat0 I think what @graemerocher was suggesting:

Is similar to something that Spring has right now: https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/context/annotation/DependsOn.html

I noticed this today when exploring Spring Boot docs.

The way it's described in the Spring docs, it's about creation and shutdown order, not how dependencies are wired up.

[2022-06-12 08:22] graemerocher commented on #6493
For me this seems to be the logical approach but it others disagree would love to hear why

[2022-06-13 06:47] rlconst opened #7570 "Kapt regression"
### Expected Behavior

No warning from gradle

See also #5772 and #5218

### Actual Behaviour

I see
[code]

### Steps To Reproduce

1. Download [launch.micronaut.com](https://micronaut.io/launch/?type=DEFAULT&name=demo&package=com.example&javaVersion=JDK_11&lang=KOTLIN&build=GRADLE_KOTLIN&test=SPOCK&version=3.5.1)
2. Run `./gradlew build`

### Environment Information

Windows 11
[code]
IntelliJ I

[2022-06-13 13:09] stepanv opened #7572 "HttpClient regressions: response payload is no logger logged when TRACE enabled"
### Expected Behavior

The `DefaultHttpClient` is no longer logging the response payload.

Prior the @yawkat 's change https://github.com/micronaut-projects/micronaut-core/commit/18ef607c4c6ec276b2e0163f27cf4e28fce96b01

when enabled trace logging in `http-client/src/test/resources/logback.xml`
[code]
the Micronaut test `http-client/src/test/groovy/io/micronaut/http/client/HttpGetSpec.groovy` (and

[2022-06-13 13:11] stepanv commented on #7572
Do you guys have any "framework" that helps to set up test with some logging configuration on demand and assert what is being logged?
If not I can contribute something.

[2022-06-13 18:06] JasonTypesCodes opened #7573 "Docs: Clean up usage of "Micronaut" in user guide"
### Issue description

Micronaut should not be used as a noun.  There are multiple instances of this in the core user guide.  For example:

[2022-06-14 07:46] o-shevchenko commented on #7575
@dstepanov Are you able to reproduce this issue using tests?

[2022-06-14 09:20] dstepanov commented on #7575
Yes, I can reproduce it. It looks like `CircuitBreakerRetry` is returning the last exception.

[2022-06-14 09:29] o-shevchenko commented on #7575
yes, it returns the last exception (with the last body) even if we already send new data via the client. so, `CircuitBreaker` returns data that belongs from one caller to another. That was hard to realize

[2022-06-14 09:31] o-shevchenko commented on #7575
Probably, the gate should be closed when we reach out from another caller but it still open

[2022-06-14 09:47] alvarosanchez commented on #7573
How should it be used then? And more importantly: why?

[2022-06-14 09:49] alvarosanchez commented on #7568
Related: https://github.com/micronaut-projects/micronaut-core/issues/7169

[2022-06-14 10:16] dstepanov commented on #7575
What do you mean by another caller?

[2022-06-14 10:25] o-shevchenko commented on #7575
I mean that looks very dangerous when I can call a client from one test method with different parameters but get results from the previous call even from another test.
I think about the situation when we have a production system and implemented REST client to talk between microservices that will be used in a multi-tenant environment. I'm wondering if some users can get receive an error that was ca

[2022-06-14 10:51] dstepanov commented on #7575
Yes, I think it should be changed to throw a basic exception, maybe add an option for `@CircuitBreaker`.
The code in `CircuitBreakerRetry.java` needs to be changed, maybe you can come up with a PR?

[2022-06-14 10:58] o-shevchenko commented on #7575
I'm not sure why it should throw an exception for the second call at all. Both tests should pass and the state should not be shared between them. Probably, I have to remove CircuitBreaker and use just Retriable to don't operate with gate state.

[2022-06-14 11:34] dstepanov commented on #7575
The idea behind the circuit breaker is to stop making requests when there are multiple errors. So you "closed" the resource and the next request automatically gets the same error for the duration of the `reset` value.

[2022-06-14 12:58] o-shevchenko commented on #7575
Right, it makes sense when service is not available. But currently, it does retries and closes gate even when we just return our own exception or just 400 HTTP status. It looks not right, when some clients needs to receive 400 status gate is closed for all other clients. That's not the case of CircuitBreaker usage. I added `excludes = [HttpClientResponseException::class]` to avoid CircuitBreaker r

[2022-06-14 13:02] o-shevchenko commented on #7575
Return 400 works fine for not-reactive clients. But there is a problem with reactive clients because DefaultHttpClient always throws `HttpClientResponseException`, so `CircuitBreaker ` is starting retries and closing the gate for other requests.
This issue is related to the topic I was asking about here:
https://github.com/micronaut-projects/micronaut-core/discussions/7558

[2022-06-14 13:41] dstepanov commented on #7575
I see, maybe you can add `RetryPredicate` in `@Retryable` for proper understanding of the exception. I think we would need to add something to improve the current behavior.

[2022-06-14 19:29] fmonorchio opened #7578 "BeanValidation @OverridesAttribute annotation do not work"
### Expected Behavior

On a composite annotation the override of an attribute like "message" should works

### Actual Behaviour

Override not work

### Steps To Reproduce

Clone the example repo and run ./gradlew clean build

### Environment Information

Ubuntu 21.10

### Example Application

https://github.com/fmonorchio/micronaut-test-bean-validation

### Version

3.5.1

[2022-06-15 18:52] jeffscottbrown commented on #7573
@alvarosanchez It is a good question.

The Trademark Policy linked from https://micronaut.io/brand-guidelines/ provides guidance, and calls out some info like the following to help:

[code]

[2022-06-16 05:06] darth-sb commented on #2835
I came across this bug report after encountering the same problem. I'm using Micronaut 3.3.2.

Looked at the fix in https://github.com/micronaut-projects/micronaut-core/commit/68b4992c33887dbe5e3d9d3746a59098a9a6c45d and saw that the test, which passes a null locale (`MessageSource.MessageContext.of([:])`), works with the defaultBundle, but passing another locale without its corresponding message

[2022-06-16 08:54] auke- opened #7581 "Concurrent injection regression in 3.5.x"
### Expected Behavior

When injecting prototype beans using a jakarta.inject.Provider injection fails in Micronaut 3.5.1 while this succeeds in 3.4.4. I suspect it has something to do with to the use of qualifiers or with generics, when I replace the Provider with a concrete class it seems to work.

### Actual Behaviour

Injection (or actually the resolving of the provider) fails with various erro

[2022-06-16 08:57] Xaseron commented on #2079
It would also be handy to define the url during runtime for cli applications where the url is an input parameter.

[2022-06-16 09:07] azakrytnoi commented on #7489
This is 100% user issue: no translation demarcation provided. When adding @Transactional to proper places:
- for DepositService.makeDeposit ```@Transactional(propagation = Propagation.REQUIRES_NEW)```
- for both *Repository ```@Transactional(propagation = Propagation.MANDATORY)```
Then new transaction is created at main service invocation and repository invocations shares the same transaction.

Th

[2022-06-16 09:26] viniciusxyz commented on #7489
@azakrytnoi I don't understand your point, isn't it appropriate to use @Transactional over a decorator ?  why ?  this is what we did in version 2.5.x and it worked, this stopped working after upgrading to 3.x.x.

[2022-06-16 10:22] yawkat commented on #7572
we do but it's not used extensively

[2022-06-16 13:28] couragecowardlydog opened #7585 "Improve @ConfigurationProperties"
### Feature description

Currently , for building complex objects from configuration i.e application.yml or a remote config server .

[code]

My Class would  look like
[code]

With current state of @ConfigurationProperties , it expects me to write builder and then retrieve actual object from builder.
This looks pretty cumbersome,  from developer perspective, I would expect something simple and cle

[2022-06-16 21:53] weesftw commented on #7489
hey @azakrytnoi thanks for comment! I'm using a `pattern` to wrap this transaction... I have several steps that access the database and insert different data and I need **atomicity**. In the previous version of Micronaut it worked perfectly, now with the migration from `3.x`, the proxy that was on top of the pattern broke... unfortunately your help was not enough.

@graemerocher,
With the version

[2022-06-17 07:54] #7581 closed, assigned to dstepanov

[2022-06-17 07:56] sdelamo commented on #7523
cc @timyates

[2022-06-17 13:00] sdelamo commented on #7471
@timyates could you document this?

[2022-06-17 17:23] #7572 closed, assigned to nobody

[2022-06-17 17:24] #7471 closed, assigned to timyates

[2022-06-19 18:37] tchiotludo opened #7594 "SoftServiceLoader.load don't return all class in unit test in last 3.5.1"
### Expected Behavior

_No response_

### Actual Behaviour

I use `SoftServiceLoader.load` to get all `BeanIntrospectionReference.class` for the current classLoader

https://github.com/kestra-io/kestra/blob/b55ac08ba9661b7803cfd7ac4116f4c93c9f29ec/core/src/main/java/io/kestra/core/plugins/PluginScanner.java#L90-L93

It works well in `3.4.1` but on `3.5.1` it return a subset of all classes only for

[2022-06-21 05:28] sdelamo opened #7601 "Consider supporting CRaC"
# Java on CRaC

CRaC stands for Co-ordinated Restore at Checkpoint. It is a way to pause a JVM-based application and restore at some point in the future.

## API

- [CRaC API](https://crac.github.io/openjdk-builds/javadoc/api/java.base/jdk/crac/package-summary.html)
- [Resource API](https://crac.github.io/openjdk-builds/javadoc/api/java.base/jdk/crac/Resource.html).

### Resources

- [CRaC Github

[2022-06-21 09:35] sdelamo commented on #7601
@timyates is going to explore updating https://github.com/CRaC/example-micronaut to latest version of Micronaut.

[2022-06-21 09:59] yawkat commented on #7594
This probably broke due to https://github.com/micronaut-projects/micronaut-core/commit/b404311ff45925eef3e5cc573401f6fe8de3ab6f

BeanIntrospectionReference isn't accessible through service loader anymore, but i think this might be wontfix because BeanIntrospectionReference is `@Internal`. What do you think @graemerocher ?

The machinery to access the new format is there for ServiceCollector, but n

[2022-06-21 12:30] yawkat commented on #7543
I think this is normal? `.validate` checks the constraints of the property, but it can't know that the constructor was called incorrectly. Similar for method calls.

You get the same behavior for other validation annotations, like `@NotBlank` with a String value:

[code]

[2022-06-21 15:13] rawilder commented on #7224
This is what I tried. Since the runner checks for 0 arguments, I added an else case to check for one argument of the continuation type but I got stuck trying to figure out what to pass in and where to get it from.

[2022-06-21 15:27] yawkat commented on #7594
@tchiotludo please move to ServiceCollector for now if possible. i will fix SoftServiceLoader, but we may deprecate it eventually.

[2022-06-21 15:30] timyates commented on #7601
A spike is available here: https://github.com/bloidonia/example-micronaut-crac

Which mimics the way they decorated netty, but via an extension instead of editing the server code itself.

(requires 3.5.3)

To support CRaC more natively, I think we are going to have to do _something_ in core, but what that is is to be discussed 😄

[2022-06-22 05:59] tchiotludo commented on #7594
Sorry, @yawkat, not really sure to catch where to start.

The service ServiceCollector you are talking is this one?
[code]
I was looking at micronaut source, it's always `SoftServiceLoader.load(BeanIntrospectionReference.class, classLoader)` that is used everywhere.

[2022-06-22 06:09] rbhambhra opened #7605 "health endpoint status DOWN does not return 503 when app has context and custom endpoint path"
### Expected Behavior

When health check fails (status DOWN) the http status code should be 503

### Actual Behaviour

It appears that defining micronaut.server.context-path and endpoints.all.path is not catered for in filter HealthResultFilter. As such the fiter does not fire and when status is DOWN health returns http status 200

### Steps To Reproduce

Start sample application
./gradlew run

he

[2022-06-22 08:39] yawkat commented on #7594
Actually you can still use SoftServiceLoader.load, just use collectAll instead of the iterator. The iterator is the problem, and we don't use that anymore for BeanIntrospectionReference.

[2022-06-22 15:07] nklimkin opened #7607 "EmptyResultException while use findOne from JpaSpecificationExecutor"
### Expected Behavior

When we use findOne method from JpaSpecificationExecutor which has Optional<T> return type, we expect that if there are no match data in repository we will have empty optional.

### Actual Behaviour

If there are no data in repository during using findOne method from JpaSpecificationExecutor, I get EmptyResultException. When I saw the source code, I found that empty optional

[2022-06-22 19:00] wetted commented on #7605
Your example application is setting the `endpoints.all.path` management configuration property with a value of `admin`. This is an endpoint base path that defaults to `/`. A non-default value for it also needs to end with `/`. When I change the value in your example to `admin/` it works per expected behavior (i.e. status 503).

We may want to clarify the documentation for [endpoints.all.path](http

[2022-06-22 22:03] rbhambhra commented on #7605
Thanks @wetted for the quick response
Yes a trailing / was all that was needed

[2022-06-23 11:07] olevold commented on #2563
`exception.getResponse().getBody(ByteBuf.class)` gives you the raw bytes of the error response

[2022-06-23 11:43] olevold commented on #2563
Or you could use `@Client(errorType = String.class)` to annotate your client, then `exception.getResponse().getBody(String.class)`

[2022-06-23 11:48] ivyazmitinov commented on #2563
@olevold, yes, it is stated in the description, that the error response is accessable. The issue is not about its' accessability, but about the lack of documentation regarding the ways it can be accessed.

You are more than welcome to update the docs 🙂

[2022-06-24 13:16] GavrilovSV commented on #7362
@graemerocher
This issue is due to the underhood usage of `DisabledBeanException` to disable beans referencing other beans properties. SInce the exception is thrown at the moment of bean instantiation, the conditional bean is not considered as disabled at the moment of conditional logic resolution. Due to that any bean disabled through the throwing of `DisabledBeanException` is excluded from condi

[2022-06-26 07:32] deepsandeepme opened #7615 "Frequent random 408 request timouts"
### Expected Behavior

Expectation is to get the response from a dependent API call successfully without getting random frequent 408 request timeout.

Unfortunately, after enormous  failed attempts, I tried the traditional way and used io.micronaut.http.client.HttpClient to create the client manually and hit the dependent service. It resolved the issue.

I feel there is something with the configur

[2022-06-27 08:44] yawkat commented on #7615
so this requires kubernetes to reproduce?

[2022-06-27 14:01] deepsandeepme commented on #7615
Yes. We tested it in local machine and we did not see any issues there. The moment we deployed it in the cluster, we started observing this errors. It is not happening with one specific client integration. This behavior is consistent with any client integration. We have tested it with 3 clients so far.

The problem goes away as soon as we switch to using the `HttpClient` and writing the code manua

[2022-06-27 14:01] abhi020290 opened #7617 "Micronaut health endpoint showing Cross Site Scripting issue"
### Issue description

We are seeing static code issue in /health endpoint of micronaut framework.

We are using version 2.5.4 of micronaut framework

[2022-06-27 17:12] graemerocher commented on #7615
You are probably blocking the event loop and it surfaces because your pods only have 1 CPU (locally you have more CPUs). If you are going to block the event loop you need to configure the client to use a separate thread pool. See https://docs.micronaut.io/latest/guide/#clientConfiguration  and the snippet "Altering the Event Loop Group used by Clients" so that a separate event loop is used for the

[2022-06-27 17:15] graemerocher commented on #7617
the `/health` endpoint only serves JSON so I don't see how, either way we need more information

[2022-06-28 17:04] ytoh opened #7621 "Sporadic HTTP Attribute Loss"
### Expected Behavior

Once set an HTTP attribute will be always present in the request.

### Actual Behaviour

Some HTTP attributes are sporadically missing from the request.

Our use case is a scatter-gather flow where we are sending a bunch of requests to different backends but in each request we are embedding a tracing id from the "parent" server request's attribute. We also have a custom log4

[2022-06-28 17:06] deepsandeepme commented on #7615
@graemerocher  Thank you. It worked for me. However, could you please let me know if creating a separate event-loop is a right approach?

I have only 1 client call with 1 oAuth call in this flow. How to approach this to avoid blocking the event loop?

 I see you mentioned about thread context switching. Can it be used in my scenario? Would you be able to point me to any documentation/code samples

[2022-06-29 06:42] Ksnz opened #7623 "StreamedFile with type of text/plain always downloaded as Transfer-Encoding: chunked"
### Expected Behavior

The following code allow browser get lenght of attached content (content-lenght header is present)
[code]

### Actual Behaviour

If filename MediaType resolved as `text/plain` it will be downloaded with `Transfer-Encoding: chunked` header and no `content-lenght` header
Even
[code]
has no effect

### Steps To Reproduce

Run the example app
Open in google chrome
[code]
and
[co

[2022-06-29 08:18] yawkat commented on #7621
Even making it a ConcurrentMap would not make the rest of the code thread safe.

Also I don't think it's always unsafe to modify on other threads, what's important is that the request is "owned" by one thread at a time. Inside filters, that's the event loop thread. When you're inside a controller, it might be whatever IO thread is responsible for running that controller. When that controller termi

[2022-06-29 14:43] ytoh commented on #7621
I see what you are saying. I am trying to reproduce the problem to see which thread is actually writing. But with any delay I add I am loosing the ability to reproduce the problem. I will keep at it and I will let you know what I find out.

Just for some more context, we are also using `AsyncCache` and circuit breakers if that might give you any clue what could be causing this.

[2022-06-29 18:01] o-shevchenko commented on #7575
@dstepanov Any updates on that? Retries for HttpClientResponseException and CircuitBreaker make reactive client unusable. Migration to reactive Mongo Data and Reactor is very hard

[2022-06-29 22:51] jmorrispa opened #7624 "Creating a cli-app with http-client using groovy does not compile with error "Error starting type visitor""
Using mn command line to create a simple cli app with the http-client feature and groovy but fails to compile.

Very easy to reproduce:

--------
jmorris@jmlinux:\~$ mn create-cli-app -f http-client -l groovy demo_mn
| Application created at /home/jmorris/demo_mn
jmorris@jmlinux:~~$ cd demo_mn
jmorris@jmlinux:~/demo_mn$ ./gradlew run

startup failed:
/home/jmorris/demo_mn/src/main/groovy/demo_mn/D

[2022-06-30 20:06] faireai-fmonorchio commented on #7578
Anyone can help? Thanks :-)

[2022-06-30 21:44] jmorrispa commented on #7624
A partner found that commenting the dependency on build.gradle:

compileOnly("io.micronaut:micronaut-http-validation")

Solves the compilation problem.

We are implementing the CLI without any further problem.

I have no idea what does that dependency, will check if we need that at all.

[2022-06-30 23:13] canastillo commented on #7275
Hi! I'm looking for projects to make my first java contributions. I'd like to tackle this one if no one is working on it

[2022-07-01 09:54] sdelamo opened #7628 "Consider supporting Mutiny"
I think we should consider supporting Mutiny with a new module as we do for

- [micronaut-reactor](https://github.com/micronaut-projects/micronaut-reactor)
- [micronaut-rxjava3](https://github.com/micronaut-projects/micronaut-rxjava3)

Advantages:

- It would help us people Migrate or compare Quarkus applications to Micronaut applications.
- It would help people which use [Hibernate Reactive](http

[2022-07-01 10:25] dstepanov commented on #7628
Hibernate Reactive provides a two reactive APIs:
- Mutiny
- CompletionStage

Micronaut Data Hibernate Reactive is using only `CompletionStage` so no Mutiny dependency is needed

[2022-07-01 12:02] jesperancinha opened #7684 "Tests fail after upgrade to 3.5.2 @Inject is not working"
### Expected Behavior

I expect this test to work as it did before:

[code]

### Actual Behaviour

When running this and all other examples in my project, it says now that it cannot inject the repositories:

[code]

### Steps To Reproduce

Just running the tests on the root will generate the error

### Environment Information

- JDK 17
- MAC-OS or Linux

### Example Application

https://github.com

[2022-07-01 12:05] jesperancinha commented on #7684
You can find a build run example here: https://github.com/jesperancinha/buy-odd-yucca-concert/runs/7145768256?check_suite_focus=true

[2022-07-02 21:15] miguelaferreira opened #7630 "GraalVM native binary throws java.lang.NoSuchMethodException"
### Expected Behavior

I've built an example cli application that uses a java git library form the eclipse project called [jGit](https://www.eclipse.org/jgit/). While I can build and execute the application from a jar, I cannot build a native binary that executes correctly.

### Actual Behaviour

The native binary does not execute as the jar does, and throws the following exception:
[code]

### St

[2022-07-04 08:31] yawkat commented on #7630
Graal requires configuration to be able to use reflection, which jgit appears to do: https://docs.oracle.com/en/graalvm/enterprise/20/docs/reference-manual/native-image/Reflection/ – this is unfortunately not trivial, it's hard to say if it's feasible for jgit.

Closing since this is a graal/jgit issue, nothing we can do about that (except add our own jgit integration)

[2022-07-04 08:31] #7630 closed, assigned to nobody

[2022-07-04 08:35] timyates commented on #7523
@sdelamo Sorry, missed this one with my vacation 😢

The fix from @melix wasn't released https://github.com/micronaut-projects/micronaut-rxjava2/releases/tag/untagged-487a2c754a5c4ac81093 and I guess now we should target the 3.6.x branch as we're not going to see another 3.5.x?  And switch [this](https://github.com/micronaut-projects/micronaut-rxjava2/releases/tag/untagged-487a2c754a5c4ac81093) to

[2022-07-04 08:37] yawkat commented on #7275
contributions welcome. nobody is working on this atm

[2022-07-04 08:44] miguelaferreira commented on #7630
Thanks for getting back to me @yawkat.

I understand that Graal needs configuration for reflection, and from [this discussion](https://github.com/micronaut-projects/micronaut-core/issues/6406#issuecomment-992610623) on another issue, I got the impression that micronaut would be responsible for fully configuring the native image compilation, and that users shouldn't try to add their own configurati

[2022-07-04 08:49] yawkat commented on #7630
No, micronaut does not (cannot) produce the reflection config for third-party libraries that we don't explicitly add support for.

jgit is using reflection.

[2022-07-04 09:25] miguelaferreira commented on #7630
Alright! Thanks.

[2022-07-04 09:37] dstepanov commented on #7630
You can use `TypeHint` annotation in combination with annotation processor dependency `micronaut-graal` to add those entries using an annotation.

[2022-07-05 11:14] timyates opened #7637 "Remove duplication from catalogs for 4.0.0"
To maintain version catalog compatibility as we introduced BOMs with catalog imports, we added duplication to the module version catalogs to keep the name of the managed resources the same as were declared originally in core.

When we prepare v4.0.0, we should remove this duplication from the following modules:

- [ ] Micronaut Kafka: https://github.com/micronaut-projects/micronaut-kafka/pull/562

[2022-07-05 11:31] timyates opened #7638 "Remove manage-reactor as it is in the BOM"
### Issue description

Once https://github.com/micronaut-projects/micronaut-reactor/pull/201 is merged and 2.3.0 is out, we should add the BOM to the dependency catalog, and remove `managed-reactor`

Check the TOML keeps the same names with `./gradlew pAPTBR`

[2022-07-05 11:33] alvarosanchez commented on #7630
You can also run the JAR with GraalVM and [enable the tracing agent](https://www.graalvm.org/22.1/reference-manual/native-image/Agent/)

[2022-07-05 12:20] timyates opened #7639 "Remove Neo4j managed dependencies"
### Issue description

managed-neo4j and managed-neo4j-bolt are exported by the BOM, and can be removed from the build for 4.0.0

Check the TOML keeps the same names with ./gradlew pAPTBR

[2022-07-05 12:35] miguelaferreira commented on #7630
@alvarosanchez Would I then need to merge the configuration the tracer agent generates with the configuration that micronaut generates under `build/classes/java/main/META-INF/native-image/picocli-generated`?

[2022-07-05 12:41] alvarosanchez commented on #7630
What I would do is to isolate jgit in a standalone project with no Micronaut dependencies, and use the GraalVM agent in there.

[2022-07-05 12:42] miguelaferreira commented on #7630
Alright, thanks!

[2022-07-05 12:58] timyates commented on #7523
I will check 3.6.0 again once the above are in ☝️

[2022-07-06 15:29] MT-Jacobs commented on #6938
Done in https://github.com/micronaut-projects/micronaut-core/pull/6945 - it's part of the 3.5.0 release!

[2022-07-06 15:29] #6938 closed, assigned to nobody

[2022-07-06 22:17] canastillo commented on #7275
After setting up the environment and learning about how the code works, I realized I might have misunderstood the problem and the solution. I just want to confirm, while the Circuit breaker is open and this causes an exception, it's enough to only have one exception message (the `io.micronaut.retry.exception.CircuitOpenException` message), until the circuit is closed again and other type of except

[2022-07-07 08:02] sdelamo commented on #7638
I released Micronaut Reactor 2.3.0

[2022-07-07 09:30] dstepanov commented on #7275
Yes, we should probably keep the previous behavior and enable a new one by introducing a new parameter on `@CircuitBreaker`

[2022-07-07 09:37] sdelamo opened #7648 "Align vertx versions in Micronaut SQL and core"
### Issue description

SQL  https://github.com/micronaut-projects/micronaut-sql/blob/master/gradle/libs.versions.toml#L11

Core
https://github.com/micronaut-projects/micronaut-core/blob/3.5.x/gradle/libs.versions.toml#L29

Users who want to use Hibernate Reactive may need to pin the vertx version to the one in SQL.

see: https://github.com/micronaut-projects/micronaut-guides/pull/1002

[2022-07-07 09:38] sdelamo commented on #7648
@timyates can you check why vertx dependency is needed in core?

[2022-07-07 09:50] timyates commented on #7638
Removal of managed-reactor has to be done in 4.0 (see PR)

[2022-07-07 09:50] adrienpessu opened #7649 "Jackson deserialization doesn't work in Kotlin using GraalVM"
### Expected Behavior

The deserialization works with a JDK `./gradlew run` but when I run it with GraalVM `./gradlew nativeRun` I get the error :
[code]

### Actual Behaviour

It should deserialize

### Steps To Reproduce

I do have a POC in [a Github repository](https://github.com/adrienpessu/poc-injection-native)

My data class looks like this :
[code]

### Environment Information

- Mac M1 Max

[2022-07-07 09:55] sdelamo commented on #7639
I released Micronaut Neo4J 5.1.0

[2022-07-07 09:58] timyates commented on #7648
We use it to send Http2 post requests in the tests here

https://github.com/micronaut-projects/micronaut-core/blob/acac3f9705205ac8ffaa7528a64d4e963a5c5696/http-server-netty/src/test/groovy/io/micronaut/http/server/netty/http2/Http2PostTest.java#L77-L87

We *could* get rid of the version ref for `vertx` here

https://github.com/micronaut-projects/micronaut-core/blob/a596061009e5e8dfe9b4a9d0aca0b28

[2022-07-07 10:03] sdelamo opened #7650 "Update Contributing"
### Issue description

Contributing is out of date. We should either update it or remove it.

https://github.com/micronaut-projects/micronaut-core/blob/3.5.x/CONTRIBUTING.md

[2022-07-07 10:17] timyates commented on #7648
tldr; The vertx version in core is only used for tests, not exported, and it's fine if it's not aligned

[2022-07-07 16:15] alvarosanchez opened #7652 "3.6.x regression `Provider io.micronaut.annotation.processing.TypeElementVisitorProcessor could not be instantiated`"
[code]

To reproduce, checkout the `test-resources-integration` branch of the Maven plugin, then `mvn install` it, then try to compile the following application:

[demo.zip](https://github.com/micronaut-projects/micronaut-core/files/9065661/demo.zip)

Possibly caused by #7608 or #7651

Blocks https://github.com/micronaut-projects/micronaut-maven-plugin/pull/398

[2022-07-07 16:26] yawkat opened #7654 "Replace use of FileSystems.newFileSystem(URI)"
### Issue description

`FileSystems.newFileSystem(URI)` uses globally shared file systems and is prone to race conditions. Similar to #7653, we should adopt `FileSystems.newFileSystem(Path, ...)` instead. The only other use of these file systems seems to be `DefaultClassPathResourceLoader`.

[2022-07-08 02:14] liang-shen commented on #1509
I encounter this error when I create a HttpResponse object inside the controller class and use it in the "@Error" handler

[2022-07-08 07:13] graemerocher commented on #1509
provide an example that reproduces the issue in a sample application attached to a new issue report please

[2022-07-08 07:13] wangdiskater commented on #1509
您好，我已经收到您发来的邮件，我会尽快看完，谢谢您！

[2022-07-08 09:58] dstepanov opened #7657 "Do not allow registering shared state type convertor into the shared instance `ConversionService.DEFAULT`"
### Issue description

There are some issues that are causing it https://github.com/micronaut-projects/micronaut-core/pull/7635

Major changes are needed:
- Remove methods that add converters to `ConversionService` and introduce `MutableConversionService`
- Allow contributing converters to `ConversionService.DEFAULT` only by service loader entries
- Register bean context converters to a managed in

[2022-07-08 13:51] dant3 opened #7658 "CommandLine.Builder doesn't expose getOptionsHelpMessage"
### Feature description

Hello. I was migrating my pretty old project to latest micronaut and stubled upon the fact that CommandLineParser became private. There is a replacement in form of CommandLine.Builder but for some reason it doesn't expose getOptionsHelpMessage which existed in CommandLineParser. It actually still exists, and is public, but it's not on the interface and hence you can't use

[2022-07-09 02:06] canastillo commented on #7275
I think I could use a little help. I added a new element `excludeRethrown` to the CircuitBreaker annotation, but I haven't found where to place the logic. I thought of adding a condition right here in the [CircuitBreakerRetry](https://github.com/micronaut-projects/micronaut-core/blob/v3.4.2/runtime/src/main/java/io/micronaut/retry/intercept/CircuitBreakerRetry.java#L91), but I don't fully understa

[2022-07-09 07:33] dstepanov commented on #7275
@canastillo Look for the place where `CircuitBreakerRetry` is created, you can see how the annotation values are extracted.

[2022-07-11 03:37] chrisparton1991 commented on #3685
Just realised there's a limitation in my code above.

Micronaut uses GZip encoding by default, which is reflected in the `content-length` returned in responses. My code is returning the length of the uncompressed JSON payload, so it will differ from the GET request.

Another approach I've tried is to implement an HTTP filter that intercepts HEAD requests, but the HTTP route matching seems to occur

[2022-07-11 06:34] pditommaso commented on #3685
I think this problem has been solved by this PR https://github.com/micronaut-projects/micronaut-core/pull/6903

[2022-07-11 08:32] yawkat commented on #3685
@pditommaso unfortunately not

[2022-07-11 08:38] yawkat commented on #7649
try making the class `@ReflectiveAccess`. the bean introspection module doesn't have kotlin support yet

[2022-07-11 08:43] adrienpessu commented on #7649
It works with `@ReflectiveAccess`. Thank you @yawkat

[2022-07-11 10:42] rainboyan commented on #7654
In my new [Grails 5.2.0 demo app](https://github.com/rainboyan/grails-spring-graphql-demo), similar problems also exist in `DefaultClassPathResourceLoader `.

`java -jar grails-spring-graphql-demo-0.1.jar`:
[code]

[2022-07-11 12:46] dstepanov commented on #7529
It should be fixed by https://github.com/micronaut-projects/micronaut-sql/commit/d1fc4c6abc01609f0607e301b43ee49064c0f083#diff-d1825198a13f7498572209266a6307d35cc405ac00a0c201eb758f6a8132727c

[2022-07-11 12:46] #7529 closed, assigned to dstepanov

[2022-07-11 16:47] Wheedman opened #7669 "TransactionRequiredException thrown although TransactionalAdvice annotated"
### Expected Behavior

The deletion in the database should work as expected.

### Actual Behaviour

A TransactionalRequiredException is thrown

### Steps To Reproduce

1. Use testcontainers with postgresql 11.8
2. Write a Micronaut-Test testing the following method
[code]

4. TransactionRequiredException is thrown

### Environment Information

_No response_

### Example Application

_No response_

[2022-07-12 07:31] sdelamo opened #7671 "Failure executing GraalVM native image with Micronaut 3.5.3-SNAPSHOT"
### Issue description

[Download 3.5.3-SNAPSHOT App](https://micronaut.io/launch?type=DEFAULT&name=demo&package=com.example&javaVersion=JDK_11&lang=JAVA&build=GRADLE&test=JUNIT&features=graalvm&version=3.5.3-SNAPSHOT)

Steps to reproduce:

[code]

The commit to fix the Grails issues https://github.com/micronaut-projects/micronaut-core/pull/7653 is the culprit.

[2022-07-12 08:31] graemerocher commented on #7671
As I said in https://github.com/micronaut-projects/micronaut-core/pull/7620#issuecomment-1168973231

Any fix needs to be tested on native before merging 🤷‍♂️

[2022-07-12 10:07] #7671 closed, assigned to yawkat

[2022-07-12 23:40] sgammon opened #7677 "Enabling HTTP/2 push causes unconditional stream error"
### Expected Behavior

Without any actual invocation of push code (i.e. just enabling the setting), I would expect that the server would start and behave as normal

### Actual Behaviour

After enabling HTTP/2 push with `micronaut.server.netty.http2.push-enabled`, HTTP/2 streams are no longer closed cleanly (`curl`'s term):
[code]

### Steps To Reproduce

1. Create a totally fresh Micronaut project

[2022-07-13 00:01] sgammon commented on #7677
this behavior seems to happen even if you set the property to `false`, fwiw

[2022-07-13 05:49] sgammon commented on #7677
i haven't yet been able to trace down where the reset is happening, or really even where `push-enabled` could be triggering different functionality at server startup. in case they could help someone else, here are some packet captures and other observations.

[`captures.zip`](https://github.com/micronaut-projects/micronaut-core/files/9099249/captures.zip):
- `http2-nopush.pcapng`: Push disabled, r

[2022-07-13 06:18] nbrugger-tgm commented on #6918
Related: https://github.com/micronaut-projects/micronaut-openapi/pull/750

[2022-07-13 11:32] Paullo612 opened #7680 "Unable to compile simple Hello World app to native image"
### Expected Behavior

Should compile fine. Compiles fine with `3.4.x` branch.

### Actual Behaviour

Simple Hello World app fails to compile to native image if I add `micronaut-inject` Maven dependency:

[code]

However, adding `micronaut-http-netty` dependency solves compilation problems. But I do not need HTTP server in my app at all.

### Steps To Reproduce

Try to compile example app to nativ

[2022-07-13 16:30] graemerocher commented on #7684
@dstepanov could you take a look at this?

[2022-07-13 18:08] eratio08 opened #7685 "IOUtils.loadNestedJarUri - IllegalArgumentException: URI has a query component"
### Expected Behavior

Building the application with gradle and generating the open API spec should be not a problem.
Skipping the API generation running Integration Tests should not cause any problems.

### Actual Behaviour

Running `gradle build` with the OpenAPI annotation processor causes
[code]

A similar stack trace it optained if the OpenAPI annotation is not enabled and the compilation suc

[2022-07-13 19:57] andriy-dmytruk opened #7686 "Better Annotation Handling for Return types and Type Arguments"
### Issue description

Annotating type arguments and return types during build time (e.g. `InjectProcessor`) is currently not supported in core. The `ClassElement` adds annotations to the whole class instead of the types (usages of this class).

**Use case**: I want to annotate types whenever their type arguments have validation annotations. For example `List<@Valid B>` -> `@Valid List<@Valid B>`

[2022-07-14 07:04] dstepanov commented on #7686
I don't see any `@MyAnnotation` in the example

[2022-07-14 07:35] yawkat commented on #7685
almost certainly caused by #7653 but i dont know why this error in particular. Does your build path have weird characters in it?

[2022-07-14 07:47] graemerocher commented on #7686
yeah the tests don't see to reflect the behaviour you are interested in.

Not saying this is not an issue since it is, but also if the use case is to annotate to the method or field with `@Valid` you can do that by calling `methodElement.annotate(Valid.class)`

[2022-07-14 07:49] dstepanov commented on #7684
I need some maven experts 🧚 @alvarosanchez

After checking out https://github.com/jesperancinha/buy-odd-yucca-concert/pull/425
I see `buy-oyc-commons` is not generating any service entities for the main (for the test it does) I suspect it might be because of `micronaut-data-processor` which depends on core `3.4.3`

Any idea what to do?

[2022-07-14 07:55] dstepanov commented on #7686
I would expect to see any of the tested annotations in the code:
[code]
Or I don't understand something.

[2022-07-14 08:15] eratio08 commented on #7685
This could be the case as it will run in CI in some temporary directory which might contain strange characters. CI is a TeamCity setup. Additionally the whole thing is mounted into a docker compose setup to allow to run integration tests which could also be a factor. But this should not be a real issue, don't it?

I will try to get a path for you.

Update
So a path on the CI runner can look like t

[2022-07-14 08:35] yawkat commented on #7677
`push-enabled: true` makes no sense for server http2 SETTINGS. we should remove that setting

[2022-07-14 13:46] dstepanov commented on #7684
This helps:
[code]

There is one test that fails on some cryptic error:
[code]

[2022-07-14 13:57] sdelamo opened #7691 "Create test module to verify simple native image generation and execution"
The goal is to catch errors such as https://github.com/micronaut-projects/micronaut-core/issues/7671 earlier.

I think we could add a submodule which use the [Gradle graalvm plugin](https://graalvm.github.io/native-build-tools/latest/gradle-plugin.html#testing-support) to run a [Junit native test via  `./gradlew nativeTest`](https://graalvm.github.io/native-build-tools/latest/gradle-plugin.html#te

[2022-07-14 13:58] andriy-dmytruk commented on #7686
I want to annotate during compile-time, not in class file.
In the test I annotate a type argument in the generated `ClassElement` which produces incorrect behavior.

I want to use this inside `Validator` to get information whether a collection needs validation (since it is not immediately verifiable whether a `Map<String, @Valid A>` needs validation).
I can however not do this and recurse through

[2022-07-14 15:03] dstepanov commented on #7686
Ah I see

[2022-07-14 16:47] jesperancinha commented on #7684
@dstepanov , thanks! It works now 👍 . This latest version of the data processor fixes it for me.

[2022-07-14 16:47] #7684 closed, assigned to dstepanov

[2022-07-14 21:13] sgammon commented on #7677
@yawkat sounds good. reading the code, it seems like `PushEnabledHttpRequest` is all that is needed to opt-in for support -- is that the case?

[2022-07-15 08:54] yawkat commented on #7677
sure. though it's more accurate to say that support does not need to be "enabled" at all – as long as the client does not disable it in its SETTINGS frame, you can just use it from the server. It does not require any setup.

[2022-07-15 12:37] timyates commented on #7691
Thinking about how we would run this on CI where we only have GraalVM for specific builds.

We would somehow need to detect that we're running on Graal, and only then add the module into the check chain of tasks 🤔

[2022-07-15 14:25] marun790 opened #7695 "NoSuchBeanException: No bean of type [io.github.resilience4j.consumer.EventConsumerRegistry<io.github.resilience4j.ratelimiter.event.RateLimiterEvent"
### Expected Behavior

Rate limit should work without any issue

### Actual Behaviour

When we enable below configuration, getting an run time error while calling the api
resilience4j:
  ratelimiter:
    enabled: true

### Steps To Reproduce

with the below configuration enabled
resilience4j:
  ratelimiter:
    enabled: true

### Environment Information

JDK: 17
implementation("io.github.resilienc

[2022-07-15 20:03] sgammon commented on #7677
@yawkat gotcha, makes sense. thank you 👍🏻

[2022-07-15 21:08] RSharma-cohere opened #7697 "Predicate Specification List<T> findAll(@Nullable PredicateSpecification<T> spec) method returns only one result"
### Expected Behavior

According to the description should result all the matching results description is as following:-

- Returns all entities matching the given PredicateSpecification.

**Note:-**  When use long count(@Nullable PredicateSpecification<T> spec); It provides the correct result.

### Actual Behaviour

Returns one entities matching the given PredicateSpecification.

### Steps To Rep

[2022-07-18 05:49] sdelamo commented on #7006
Today 18th July, most cloud vendors still don't support JDK 17. Only Google Cloud Functions now supports and recommends JDK 17.

- [x]  [Azure functions support 8 and 11](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-java?tabs=bash%2Cconsumption#supported-versions)
- [ ] [Lambda Java runtime supports 8 and 11](https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtime

[2022-07-18 07:43] dstepanov opened #7698 "Remove `@Introspected` annotation from the runtime metadata"
### Issue description

I don't think we need to access it again after all the introspection is generated. The annotation adds a lot of metadata.

[2022-07-18 08:19] nbrugger-tgm commented on #1458
Is this implemented? If yes i haven't seen a mention of it in the micronaut-validator documentation/user-guide (https://docs.micronaut.io/latest/guide)

[2022-07-18 09:08] yawkat commented on #7691
with the nativeTest approach, couldnt we just adjust the actions that have graal to also execute nativeTest, not just test?

[2022-07-18 09:11] yawkat commented on #7685
The PR I linked fixes *an* issue, but I'm not sure if it fixes yours. Hard to say without a test case.

[2022-07-18 11:19] andrey-kozel opened #7699 "[LEAK] Chunked Multipart upload produces memory leaks"
### Issue description

I have a controller, that recieves a file and a set of fields

<img width="919" alt="image" src="https://user-images.githubusercontent.com/47276289/179497756-bf45b10f-c11a-460d-b923-114dfceb9abc.png">

And I've created a curl command for testing this endpoint
[code]

I've tried to do it using `micronaut.server.multipart.mixed: true` upload type, since content length is not k

[2022-07-18 11:21] aglumova commented on #7699
Amazing issue, we also had the similar problem.

Still do not know how to resolve it. It would be nice to understand can we improve the Netty wrapper or handle the lazy loading of the file.

Thanks a lot for the help!

[2022-07-18 12:19] dstepanov commented on #7699
What Micronaut version do you have?

[2022-07-18 12:30] andrey-kozel commented on #7699
Sorry, I haven't mentioned it.
`<io.micronaut.version>3.5.3</io.micronaut.version>`

[2022-07-18 13:12] graemerocher commented on #7699
Can you provide an example that reproduces the issue please?

[2022-07-18 16:59] sdelamo commented on #7601
I think that the next step would be to create a new repository `micronaut-crac-tests` which tests:

- [ ] Micronaut Netty
- [ ]  Micronaut Netty + Micronaut Data
- [ ] Micronaut Netty + Micronaut SQL
- [ ] Micronaut Tomcat
- [ ] Micronaut Jetty
- [ ] Micronaut Undertow

[2022-07-18 17:38] kevin-wise opened #7701 "java.lang.VerifyError: Bad type on operand stack in $XControllerTest$Definition$Exec.dispatch; Type 'java/lang/Object' (current frame, stack[0]) is not assignable to integer"
### Expected Behavior

This error occurs when a test is run, in this case it is an API functional test for a controller. The expectation is that the test should run and either report success or failure.

### Actual Behaviour

When the test attempts to run, it fails before execution. The test report says "Gradle Test Executor 2. failed to execute tests" (the number of the executor varies).  The ful

[2022-07-18 17:46] kevin-wise commented on #7701
As a company, we have upgraded several projects to 3.4.4 successfully, but three of the projects (so far) exhibit this behavior. I've tried upgrading and downgrading specific dependencies (like ASM and JUnit). I also tried comparing the dependencies of the projects that succeed with the projects that fail, but so far I have not identified anything from that approach. I also did a comparison of `Ex

[2022-07-18 19:12] sdelamo commented on #7652
@alvarosanchez @yawkat is this solved?

[2022-07-18 19:37] alvarosanchez commented on #7652
Yes. Don't know why the PR didn't close this issue . Closing

[2022-07-18 19:37] #7652 closed, assigned to yawkat

[2022-07-18 20:17] andrey-kozel commented on #7699
https://github.com/andrey-kozel/micronaut-error-demo Here is an example of the simple controller and tests for it.
In all the test I'm uploading file of ~ 20Mb as bytes array
First test works as expected
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/47276289/179606127-a479d00e-1c4f-4ca4-9292-fb8feb550cf6.png">

The second test is used apache HttpClient MultipartUploa

[2022-07-18 20:21] nbrugger-tgm opened #7703 "Validation annotations do not work on interfaces"
### Expected Behavior

When annotating an interface method (for example `SomeApi#addSomething(String)`) with a `javax.validation.constraint`  then all implementations of this interface (for example `SomeController#addSomething(String)`) should still be validated even when the annotations remain on the definition (interface) side.

Source:

This expectation arises from the official JSR380: [JSR380-

[2022-07-19 07:14] graemerocher commented on #7701
Could you provide an example that reproduces the issue?

[2022-07-19 07:21] kevin-wise commented on #7701
I have been working on an example, but it's been difficult.  I spent most of the day and have it down to a couple of classes in a small project, but it's still depending on one of our libraries so I need to figure out how to extract that.

[2022-07-19 07:27] kevin-wise commented on #7701
I have learned that it has something to do with the inheritance in the test class.  The test class is implemented in Groovy and extends a Java class in the same project, which in turn extends a Java class from our internal testing library. If I eliminate the dependency on the testing library, the error goes away. What I don't know right now is why. I'm going to keep working on it tomorrow.

[2022-07-19 07:28] graemerocher commented on #7701
A reproducer would be great

[2022-07-19 08:21] dstepanov commented on #7701
Can you upload `$XControllerTest$Definition$Exec` class somewhere?

[2022-07-19 12:33] sumitaneja opened #7704 "HttpRequestTerminated. Event is not fired when Controller is sending Stream"
### Expected Behavior

https://docs.micronaut.io/3.5.1/api/io/micronaut/http/context/event/HttpRequestTerminatedEvent.html

Event to be fired once request os finalized

### Actual Behaviour

For structured content like json or when. binary content is loaded in memory, event is fired.

But if we use input stream, event is not getting fired.

### Steps To Reproduce

See reproducer.

### Environment

[2022-07-19 12:51] sumitaneja commented on #7704
Reproducer
https://github.com/sumitaneja/MicronautIssues/tree/main/Issue7704

Run PayloadInputStreamSpec it has 3 tests for different payload.  In test logs. for 2 see log for received and terminated but only with inputstream response received event is seen and there is no terminated event.

Controller: PayloadInputStream with methods for differnet return types.
Event Listsner: EventListsner

It s

[2022-07-19 15:21] aglumova commented on #7699
Hi @yawkat,

Do you have any ideas about the possible fix and the timeline?

Thanks for your assist here.

[2022-07-19 15:22] yawkat commented on #7699
i can reproduce the issue, but it might take a bit to find the root cause.

[2022-07-19 15:24] aglumova commented on #7699
@yawkat Thank you for the feedback!!

[2022-07-19 16:56] kevin-wise commented on #7701
These are the class files generated from my test case.
[verifyerrorfails.zip](https://github.com/micronaut-projects/micronaut-core/files/9143175/verifyerrorfails.zip)

[2022-07-19 16:58] infinityat0 commented on #6493
I think @dependsOn is a decent step forward than NOT having any control over lifecycle ordering of beans. I'd argue against the naming because that's misleading. But Alas! 1. I'd much rather have something than nothing and 2. I'd rather it is consistent with other similar frameworks.

But tbh, I feel quite dirty overloading @dependsOn with bean dependency ordering AND lifecycle ordering.

[2022-07-19 20:08] kevin-wise commented on #7701
Ok, here's a test project that reproduces the problem: https://github.com/kevin-wise/verify-error-test-case/

I had my co-worker try this project and he gets a lockfile error that I don't see. If that happens, you can either delete the lockfiles or regenerate them with `./gradlew generateLock --write-locks`.

Same files as the project, for posterity's sake:
[verify-error-test-case-master.zip](http

[2022-07-20 02:17] robobario opened #7706 "micronaut reactive HTTP controller performance degraded when upgrading from micronaut 2 to 3"
### reactive HTTP controller performance degraded when upgrading from micronaut 2 to 3

Hi,

We have had a hard time upgrading an application from micronaut 2 to 3 because the performance degraded in an HTTP controller using a reactive signature like:

[code]

The method eventually created and chained many Monos together, something like:
[code]

We found performance improved a lot when we removed

[2022-07-20 06:33] graemerocher commented on #7706
@dstepanov can you take a look if the performance overhead of the instrumentation is causing issues

[2022-07-20 08:08] dstepanov commented on #7684
BTW Why aren't you using Redis clients?

[2022-07-20 12:25] yawkat commented on #7699
Caused by https://github.com/netty/netty/issues/12627

I can fix this in micronaut, but it's ugly, so I'd prefer to wait on a netty fix. Easy workaround is to not use mixed mode for upload management.

[2022-07-20 12:38] andrey-kozel commented on #7699
@yawkat Thank you! But I've attached a demo where disk upload throws OOM, am I configured client wrong?

[2022-07-20 12:43] jesperancinha commented on #7684
I will have a look. I only used the first thing I knew about Redis for this project.  This could potentially be a great improvement. Thanks for the tip!

[2022-07-20 13:51] yawkat commented on #7699
there's some issues in the micronaut HTTP client as well but I don't see OOM with the apache client

[2022-07-20 14:27] rjaros87 opened #7711 "DefaultHttpClient no way to turn off compression"
### Issue description

Hi,

I'm trying to handle 100s of simultaneously websocket connections sending binary content.
During CPU profiling I'm observing a lot of  CPU usage on `deflate` calls that harm performance of my service in dockerized environment.
Since data are being sent on the same Kubernetes cluster, network bandwidth is bigger than available CPUs and in such case burning CPU cycles on

[2022-07-20 14:44] graemerocher commented on #7711
Seems a reasonable thing to want to configure

[2022-07-20 16:18] kevin-wise commented on #7701
Need anything else on this?  I am happy to help however I can, though at the moment I wouldn't know where to begin

[2022-07-21 12:41] timyates commented on #7648
Closing this as won't fix

[2022-07-21 12:41] #7648 closed, assigned to timyates