[2020-10-26 19:51] jameskleeh commented on #4389
@Michal-Danihelka I don't think we can change this behavior. Doing so would be a breaking change

[2020-10-26 20:04] Michal-Danihelka commented on #4389
Ok, we will write own NamingStrategy because writing something like this
@MappedEntity(value="mpsv_c_webova_sluzba", escape = false)
is ugly.
Or do we have other options?

[2020-10-26 20:06] jameskleeh commented on #4389
I'm not sure offhand. I'll transfer the issue to micronaut-data so it will have visibility there

[2020-10-27 03:28] ktholen opened #4391 "Error tags contain error message instead of boolean"
I am integrating with Jeager UI and trying to understand why the library is setting the `error` tag equal to the exception/response message instead of a boolean value. Is this a bug or is there a way to change this behavior? If not, can is there a preferred way we would like to override the behavior and I will create a PR for it.

https://github.com/micronaut-projects/micronaut-core/blob/2e3407880

[2020-10-27 07:31] graemerocher commented on #4391
Good question. Probably because we first supported Zipkin and in zipkin this error tag contains the message

[2020-10-27 09:05] l0co commented on #4385
That's interesting.

Now I downgraded to 2.1.1 and the problem is still persistent :) It looks it's something with a new build system, because I'm on it right now, but with 2.1.1. I have multi-module project in gradle:

1. root (empty project, no sources)
  1. server (empty project, no sources)
    1. client (empty project, no sources)
      1. docgen (my project with client)

Here is an important

[2020-10-27 09:26] graemerocher commented on #4385
Seems an issue with the Gradle plugin

[2020-10-27 10:10] l0co commented on #4387
I can see the same problem in java now, and it's in simple structure so I can give you a full source:

[code]

And the bug log:

[code]

[2020-10-27 12:56] morki commented on #4379
Maybe answer to my question on SO can be helpful, maybe not. I will add it here for reference.

https://stackoverflow.com/questions/64539969/how-to-use-kotlin-reflection-from-java/64543134?noredirect=1#comment114146639_64543134

[2020-10-27 19:52] puneetbehl opened #4396 "AnnotationMetadata.getAnnotationType(@Nonnull String name) do not use correct class loader"
This happens in the development environment with reloading in a Grails 4 application which creates a MethodInterceptor to set an attribute on the MethodInvocationContext and the problem happens because the `@io.micronaut.context.annotation.Type` value on custom annotation resolves the value from a different classloader [here](https://github.com/micronaut-projects/micronaut-core/blob/1.3.x/aop/src/

[2020-10-27 19:55] puneetbehl commented on #4396
@jameskleeh Added a ticket to track this, please let me know if this makes sense.

[2020-10-28 12:09] l0co opened #4400 "Test bean definitions not generated with the new build system and kapt"
Im on `2.1.1` and the new build system with gradle plugins and not incremental kapt processing defined by:

[code]

However, it seems it's still incremental (at least for tests), and because of #3742 beans definitions are not generated on rebuild.

Please see the attached video.

[Kazam_screencast_00000-enc.mp4.zip](https://github.com/micronaut-projects/micronaut-core/files/5451710/Kazam_screencas

[2020-10-28 12:16] l0co commented on #4400
Workarounded by forcefully setting `kapt.incremental.apt=false` in `gradle.properties`.

[2020-10-28 16:49] willbuck opened #4402 "CLI docs still include profiles"
Currently, the [CLI profiles section of the docs](https://docs.micronaut.io/latest/guide/index.html#profiles) is out of date. It talks about profiles (which I believe were removed), and the `profile-info` command (which is also removed).

We should remove these portions of the docs, and perhaps consider featuring a link to [the starter docs](https://micronaut-projects.github.io/micronaut-starter/l

[2020-10-28 19:28] kevintanhongann opened #4403 "Micronaut thymeleaf fragment file not found."
Tried loading some fragment and header using th:block and th:replace but didn't work on 2.1.2.

`Caused by: java.io.FileNotFoundException: ClassLoader resource "views/fragments/home.html" could not be resolved`

Steps to reproduce:
just run the project and load localhost:8080
you will notice that the th:block and th:replace was supposed to load the tags, but didnt.

[2020-10-28 19:48] jameskleeh commented on #4403
The directory had a space in the name

[2020-10-28 19:48] #4403 closed, assigned to nobody

[2020-10-29 06:46] ghost commented on #2709
The real working code was
[code]

Did you notice the default package name ?

[code]

[2020-10-29 06:50] ghost opened #4404 "Improve quick start guide"
1.  the default URL http://localhost:8080/ return none real good page, how about default put a success page? even a success let me feel right.
2. The default example hello world code mising the package name. the real working code minimal like this
[code]

The default quick start not right , it led some compile error, make us feel not right.

It broken my heart.

[2020-10-29 10:27] dstepanov commented on #4306
I have come up with this fix https://github.com/micronaut-projects/micronaut-core/pull/4405

[2020-10-29 12:25] anupdangore commented on #2495
@graemerocher Is this issue got fixed in latest Micronaut version 2.1.2 ?

[2020-10-29 12:37] graemerocher commented on #2495
No, like I said above with `Flowable<String>` it switches to transfer encoding `chunked` and writes each chunk. The first thing that is done is to write all the HTTP headers, and then write each chunk as it is streamed. So if an error occurs when writing one of the chunks the headers have already been committed to the response and all we can do is drop the connection.

If you don't want to use str

[2020-10-29 12:37] #2495 closed

[2020-10-29 13:52] jameskleeh commented on #4404
Where did the default code come from? What is the "default quick start"?

[2020-10-29 15:03] tchiotludo commented on #2094
Any way to reopen this issue ?
It still have the same issue on my side. A standard micronaut app in http served by a loadbalancer.

I have successfully let micronaut understand I was behind a ssl proxy tunning configuration (for oauth auth) :
[code]
Now I try to have a secure cookie for the JWT token :
[code]

But this don't work because of :
https://github.com/micronaut-projects/micronaut-core/bl

[2020-10-29 16:45] jameskleeh commented on #2094
I agree this is a bug however changing the behavior will cause any default configuration to be applied where it previously wouldn't have. For example https://github.com/micronaut-projects/micronaut-core/blob/b4ba43384bf52072a9fab88508a8d82fa7aeec03/multitenancy/src/main/java/io/micronaut/multitenancy/writer/CookieTenantWriterConfigurationProperties.java#L78 sets the default to true so that would s

[2020-10-29 16:52] jameskleeh commented on #2094
This isn't the right place to discuss this issue so I'll open a new one

[2020-10-29 16:53] #2094 closed

[2020-10-29 16:56] jameskleeh opened #4409 "Cookie secure configuration is ignored when !request.isSecure"
This is an issue for cases where the SSL is offloaded in a load balancer. The user should be able to set secure to true and have that be respected. Currently the secure configuration is only respected if `request.isSecure` returns true. We should be removing the default values from all configuration classes and change the logic to something like:

[code]

The problem with changing the behavior now

[2020-10-29 19:48] wetted opened #4410 "Using @Valid with an applicable constraint on a container fails if constraint is applicable to both container and element types"
Given the following validation:
[code]
With `@Valid` present, `@Size` and `NotNull` should only be applied to the `List` elements, but the Micronaut Validator is applying the constraint to all the elements AND the collection itself (i.e. constraining the size of the list to one or two elements). It should only apply that constraint to the list elements. This is likely a more general problem when b

[2020-10-29 20:47] wetted commented on #4306
I submitted [PR 4411](https://github.com/micronaut-projects/micronaut-core/pull/4411) for the basic case where just the @Valid annotation is on a container, where the container element type is not introspected. That fixes this case.

However, it doesn't address bogus cases like `@Valid @SomeConstraint List<Foo> foosNotInstrospected` where `@SomeConstraint` doesn't support `Foo` directly. This is a

[2020-10-29 22:49] RyanHoldren opened #4412 "Requests Silently Discarded with HTTP/2"
There seems to be a pretty major problem with HTTP/2 in Micronaut. This has been a gremlin in our application since we turned on HTTP/2 but we've only just now figured out how to reproduce it. It seems that while a request with a body (i.e. `POST`, `PUT`) is being received by Micronaut, any other requests that are multiplexed on the same TCP connection are silently discarded. Browsers interpret th

[2020-10-30 11:23] vnesek opened #4413 "Mulitpart file upload corrupts data"
### Steps to Reproduce

Uploading file larger than ~15MB will result in mangled data.
Try uploading using provided sample and check uploaded file's MD5 checksum vs original file's.
File size matches while contents will be randomly mangled.

[code]

### Expected Behaviour

File should be uploaded correctly.

Example output with two files, smaller one uploads correctly:

[code]

Bug is present on 2.

[2020-10-30 15:45] graemerocher commented on #4390
Still investigating this one, but like you spent several hours on it and it does appear to be a Netty bug. It seems that Netty receives from the browser an event to close the stream but still has data to write so throws an exception but somehow still leaves the write pending. I have added this commit to fix the exception https://github.com/micronaut-projects/micronaut-core/commit/3c13f4eecebcaccab

[2020-10-30 16:56] RyanHoldren commented on #4412
Thank you, @graemerocher!

[2020-10-30 17:59] jameskleeh commented on #4413
This is actually a bug in Netty. I'll create an issue there and link it here. In the meantime I've changed the way we transfer the file to stream it instead of waiting for it to be complete and that resolved the issue as well.

[2020-10-30 20:07] #4306 closed, assigned to wetted

[2020-10-30 20:07] #4412 closed, assigned to graemerocher

[2020-10-30 20:36] #4315 closed, assigned to wetted

[2020-10-31 15:19] morki opened #4418 "JsonFormat not working with introspection"
When using `@JsonFormat` annotation, everything works fine if introspection is not used.

[code]

However, when annotated with '@Introspected`, error is thrown during deserialization.

[code]

[code]

[2020-11-02 01:52] ghost commented on #4404
https://docs.micronaut.io/latest/guide/index.html#creatingServer

[2020-11-02 11:56] ashish-sharma09 opened #4420 "Injection within test application context not working as expected"
### Description
The demo project tries to reproduce the problem of testing the Micronaut application using the test application context where the overriding of application bean with mocked bean does not work anymore.

This is the way we are writing most of the integration tests in our project. In some test files, we have multiple tests creating a new application context every time, overriding the

[2020-11-02 16:12] graemerocher opened #4422 "Move from RxJava 2 to Reactor for Micronaut 3"
This is up for discussion, but I strongly believe we should consider moving from RxJava 2 to Reactor for Micronaut 3 for the following reasons:

* Context propagation is built into a Reactor in a way that does not require thread locals and complex, error prone instrumentation
* R2DBC drivers are implemented in Reactor
* It will be easier for Spring Developers to use Micronaut
* RxJava 3 is out now

[2020-11-02 22:52] RyanHoldren commented on #4390
Thanks for looking into this, @graemerocher. I am wondering how to proceed. Do you think my example project is suitable evidence for opening a ticket with Netty?

[2020-11-03 01:59] JLLeitschuh opened #4423 "Please open a security advisory"
Hello micronaut team, I have another security vulnerability to disclose, please open a security advisory.

https://github.com/micronaut-projects/micronaut-core/security/advisories

Cheers!

[2020-11-03 10:55] ilopmar opened #4425 "Error running native-image apps that use Introduction Advice"
The GraalVM CI pipeline has detected that [this commit](https://github.com/micronaut-projects/micronaut-core/commit/a787736a12913749b59972853096f52b5f428a05) that merged `2.1.x` into `2.2.x` broke all the apps that use an Introduction Advice when running them as a native image.

See CI execution: https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/pipelines/210674208.
This happens in dif

[2020-11-03 13:59] #4423 closed, assigned to nobody

[2020-11-03 17:05] Trybela commented on #4295
@mutyasaisrikar I have an identical issue. Did you find the solution?
because excluding _io.micronaut:discovery-client_ did not help to resolve this issue.
thanks.

[2020-11-04 08:53] ilopmar commented on #4425
After a deep analysis I've found that this also happens in 2.1.x. CI didn't detect it because I forgot to update the test apps to `2.1.3.BUILD-SNAPSHOT` :man_facepalming:

The culprit is this commit: https://github.com/micronaut-projects/micronaut-core/commit/0389f4d17a0f9ce6e9820e1941848166e3e9ea53

[2020-11-04 11:14] graemerocher commented on #4425
https://github.com/micronaut-projects/micronaut-core/commit/0389f4d17a0f9ce6e9820e1941848166e3e9ea53#diff-c6abca8d1a999049109ceb9bfc2d20989e14e9e83d2375b425f360f7f2d42c51R415 needs to be overridden in `DefaultAnnotationMetadata` to eliminate the dynamic classloading like it was before

[2020-11-04 11:25] Trybela commented on #4295
@graemerocher hi =) ! Any chance that I find a workaround for this issue?
I have the same error when trying to add _io.micronaut.aws:micronaut-aws-parameter-store_ dependency to my micronaut serverless application.
Tried to exclude _io.micronaut:micronaut-discovery-client_ from _io.micronaut.aws:micronaut-aws-parameter-store_  but then I faced with another issue (due to using discovery-client clas

[2020-11-04 11:26] graemerocher commented on #4295
if one of you upload an example that reproduces the problem I can take a look

[2020-11-04 12:06] ilopmar commented on #4425
I've added the following method to `DefaultAnnotationMetadata`

[code]

But it doesn't fix the problem.

I've put some `println`s in this method and in the other one, and the new one with `ClassLoader` parameter in the signature is never called (only the other)

[2020-11-04 12:10] graemerocher commented on #4425
Well I suggest that https://github.com/micronaut-projects/micronaut-core/commit/0389f4d17a0f9ce6e9820e1941848166e3e9ea53#diff-c6abca8d1a999049109ceb9bfc2d20989e14e9e83d2375b425f360f7f2d42c51R415 is reverted and the underlying issue re-opened until a solution can be found.

That fix is only needed for a Grails reloading issue that @puneetbehl was trying to release. The change should be moved back t

[2020-11-04 12:18] ilopmar commented on #4425
Submitted PR with the commit reverted: https://github.com/micronaut-projects/micronaut-core/pull/4427

[2020-11-04 12:19] Trybela commented on #4295
@graemerocher here example of my project
https://github.com/Trybela/lambda_parameter_store_expl

[2020-11-04 13:17] #4425 closed, assigned to nobody

[2020-11-04 19:21] rafaelrasso opened #4428 "MethodInterceptor not executed when bean created by @Factory beans"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce
Steps to reproduce are in README.md of [MIA Demo](https://github.com/rafaelrasso/demo-micronaut-mia)

### Expected Behaviour
The Method Interceptor to be called on beans

[2020-11-04 20:15] jameskleeh commented on #4428
This is the expected behavior. The annotation must be placed on the factory method

[2020-11-04 20:16] jameskleeh commented on #4428
Note that factories are largely for creating beans for classes that you aren't in control of. Thus it wouldn't be possible to add AOP annotations to the methods of those classes.

[2020-11-05 07:48] graemerocher commented on #4428
This relates to the bean import feature on the Roadmap. It should be possible to do `@Import(MyInterceptor.class)` but it is not implemented yet

[2020-11-05 11:12] xgaxpp opened #4432 "Requests between services are particularly slow"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-11-05 11:24] graemerocher commented on #4432
Most likely you are a blocking the event loop, make sure controllers that use the database are annotated with `@ExecutorOn(TaskExecutors.IO)` or alternatively set all operations to run on the I/O thread pool:

[code]

[2020-11-05 11:24] #4432 closed

[2020-11-05 12:25] joost-lambregts opened #4434 "Error connecting to Confluent Kafka when running as native image"
I am trying to post a message to a Kafka topic on Confluent Cloud using micronaut-kafka. When I don't build my application as a native image, everything works fine. When I do build a native image (using gradle dockerBuildNative) the application runs into an error while trying to authenticate at Confluent Cloud. I'm using plain SASL/JAAS as an authentication mechanism.

While googling the error I c

[2020-11-05 12:33] graemerocher commented on #4434
Have you tried `-H:IncludeResourceBundles=sun.security.util.Resources` as per the error message

[2020-11-05 12:40] joost-lambregts commented on #4434
Where should I put the argument though?  I assume I can't just pass it to the buildDockerNative Gradle command?

[2020-11-05 12:59] graemerocher commented on #4434
Use:

[code]

[2020-11-05 13:57] joost-lambregts commented on #4434
Tried it, it doesn't work. I get the same error message.
When I look at the generated DockerFileNative it looks like this:
[code]
The -H:IncludeResourceBundles argument gets added to the ENTRYPOINT line, but I think I need it to be added as an argument to the RUN native-image line

[2020-11-05 14:49] joost-lambregts commented on #4434
I got a bit further. I copied the generated DockerFileNative and moved the IncludeResource flag to the RUN native-image line. I then ran docker build against that dockerfile. I now get a different SASL exception:

[code]

I think it is noteworthy that I recognize this error from the quarkus issue thread I mentioned earlier:
https://github.com/quarkusio/quarkus/issues/5254#issuecomment-559404074

[2020-11-05 15:31] graemerocher commented on #4434
You could try copy this substitution into your code base to see if it resolves it

https://github.com/quarkusio/quarkus/pull/8817/files#diff-684881d26520d00c62011b100c114e743058debe648a676eff55ef1e4fcbbb05R35

If it does it may make sense to gather all your modifications and turn them into a PR so this works in Micronaut out of the box

[2020-11-05 16:52] joost-lambregts commented on #4434
Yes, this works! Thank you for your swift replies and help :)

[2020-11-05 16:54] xiscosc opened #4438 "java.lang.ClassCastException when using @Retryable with coroutine"
`@Retryable` annotation is not working well with Kotlin coroutines. It does its work when some error is thrown but it fails when it's trying to return the correct value. I found two kind of errors:

1. ```java.lang.IllegalStateException: Not a Kotlin coroutine```
2. ```java.lang.ClassCastException: class io.micronaut.aop.util.CompletableFutureContinuation cannot be cast to class kotlin.coroutines.

[2020-11-05 16:58] graemerocher commented on #4434
@joost-lambregts could you post your final native image config settings, so someone can turn these discoveries into a PR

[2020-11-05 17:09] joost-lambregts commented on #4434
To sum up what I did:

I added the following TypeHint to my Application class. I'm not sure if you need all those classes:

`@TypeHint({org.apache.kafka.common.security.plain.PlainLoginModule.class, ProducerKafkaMetricsReporter.class, SaslClientCallbackHandler.class,SaslClientCallbackHandler.class, DefaultLogin.class, AbstractLogin.DefaultLoginCallbackHandler.class})`

I manually ran the docker bu

[2020-11-05 17:33] wetted commented on #4420
@ashish-sharma09
I verified the behavior is different between Micronaut 2.0.3 and 2.1.x. However, if you just change your test to call `registerSingleton(…)` after the application context starts then your test passes. I will look into it, but there is a more idiomatic way to implement your test case, using the `@Replaces` and `@Requires` annotations. This is the kind of thing they are meant to sup

[2020-11-05 20:43] jameskleeh commented on #4438
@xiscosc I think I have a handle on the first problem, but the second is more difficult.

We need to instrument the coroutine that gets passed to the method call in order to be aware of when it completes either successfully or in error. Currently we do that by providing a custom implementation of Coroutine that has our logic in it and delegates to the original. The issue here is that Kotlin is exp

[2020-11-06 17:06] dstepanov commented on #4438
Maybe the solution would be to implement `KotlinInterceptedMethod` in kotlin 🤔

[2020-11-07 13:12] asodja opened #4446 "Introspection Bean Properties don't match constructor args for fields that have first letter lowercase and second uppercase (e.g. xForwardedFor)"
When trying to create a object without a reflection I noticed that for fields with first lowercase letter and second uppercase letter (e.g. xForwardedFor) properties have different name as field name actually is. So it's difficult to construct an immutable object by matching constructor arguments and properties. The one case where I know this causes issue is when using `@RequestBean`, but it proba

[2020-11-07 13:35] asodja commented on #4446
tl;dr: I expected that bean property names match field names. But this is not always the case. As a result of that: when you try to create an immutable objects by matching bean properties and constructor arg names it does not work.

[2020-11-07 15:18] #4402 closed, assigned to willbuck

[2020-11-09 07:38] graemerocher opened #4447 "Properly implement synthetic bridge methods"
The problem is explained here:

https://github.com/micronaut-projects/micronaut-data/issues/669#issuecomment-723488254

And introduced by the fix for https://github.com/micronaut-projects/micronaut-core/issues/4236

### Example Application

https://github.com/issmo/overriden-methods

[2020-11-09 08:36] max-kammerer commented on #3742
During investigation of original issue I've found another one with Gradle Java project (look like regression in Gradle): https://github.com/gradle/gradle/issues/15097

[2020-11-09 08:41] graemerocher commented on #3742
@max-kammerer thanks for the report and I am glad to hear you are investigating this issue :)

[2020-11-09 09:47] l0co commented on #4387
`2.1.3` released without this fixed :)

[2020-11-09 12:34] sascha-frinken opened #4449 "Endpoints on root context don't match"
After upgrading our apps to micronaut 2.1.* we encountered that applications that run
on root context "/" no longer serve our list endpoint as it doesn't find the route.
Changing the controller root uri to anything else makes it work again.

### Task List

- [x] Steps to reproduce provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (se

[2020-11-09 12:34] sascha-frinken opened #4463 "Endpoints on root context don't match"
After upgrading our apps to micronaut 2.1.* we encountered that applications that run
on root context "/" no longer serve our list endpoint as it doesn't find the route.
Changing the controller root uri to anything else makes it work again.

### Task List

- [x] Steps to reproduce provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (se

[2020-11-09 13:13] khekrn opened #4450 "Micronaut native image not working with MYSQL"
After having initial chat with @graemerocher in the gitter, he has pointed out the [micronaut jpa native branch](https://github.com/micronaut-graal-tests/micronaut-data-jpa-graal/tree/2.1.x_mysql) which continuously tests Micronaut Data + native image. Using this branch when I execute without native image everything works perfectly fine but with native image mysql connection is not happening

###

[2020-11-09 14:37] sascha-frinken commented on #4463
@graemerocher thanksfor taking care. Are you aware it's not a servlet app?

[2020-11-09 14:49] quandor opened #4451 "DefaultHttpClient throws NoHostException on redirects with relative location header"
### Steps to Reproduce

1. Clone https://github.com/quandor/micronaut-defaulthttpclient-relative-redirect-fails
2. Execute tests
3. Examine the failing test `redirectToRelativeUrl`

### Expected Behaviour

If DefaultHttpClient receives a redirect to a relative URL, it should apply that relative URL to the original request URL in order to get an absolute URL.

### Actual Behaviour

It fails with a

[2020-11-09 15:08] Roshick opened #4452 "Returning a failed Rx3 Completable yields Status Code 200"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a Controller that returns an rx3 failing Completable

### Expected Behaviour

Anything but a status code 200, maybe a 500 for internal server error?

### Actua

[2020-11-09 15:45] jameskleeh commented on #4447
@graemerocher The test in the example app fails in 2.0.3 and the fix for #4236 was not introduced until 2.1.1 so I don't think its relevant

[2020-11-09 15:48] graemerocher commented on #4447
Ok, eitherway there is a regression somewhere, the issue is here so it doesn't get forgotten

[2020-11-09 16:25] xiscosc commented on #4438
Hey @jameskleeh,  I created a PR for a possible fix of the first problem

https://github.com/micronaut-projects/micronaut-core/pull/4453

[2020-11-09 17:20] Roshick commented on #4452
I just realized the status code is appearently only a side effect, it seems like the Completable is never subscribed to:

    @Get
    public Completable testCompletable() {
        return Completable.error(new RuntimeException("Test"))
                .doOnError(error -> LOG.error(error.getMessage(), error));
    }

never prints the error message when the endpoint is called.

[2020-11-09 17:40] nfrankel opened #4454 "Blocking-call in SoftServiceLoader"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a simple HTTP endpoint returning a `Mono<HttpResponse>`

[code]

2. Install [BlockHound](https://github.com/reactor/BlockHound) at startup
3. Call the endpoint

[2020-11-09 19:28] Roshick opened #4455 "Type validation does not work on nested objects"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a custom validation annotation for target TYPE that always returns false.
2. Create a nested DTO and add the annotation to the nested object.
3. Validate again

[2020-11-09 19:38] RyanHoldren opened #4456 "HTTP/2 Server Push"
Any plans to add support for [HTTP/2 server push](https://en.wikipedia.org/wiki/HTTP/2_Server_Push) to Micronaut?

[2020-11-09 21:45] jameskleeh commented on #4454
I'm not sure this is a big problem. The loading of the services will only happen once

[2020-11-09 23:10] wetted opened #4457 "Add support for annotation metadata on type arguments"
As part of an effort to add support for the [Bean Validation Specification 2.0](https://beanvalidation.org/2.0/spec/), Micronaut Validation needs support for validation constraint annotations on type parameters.

For example, the current version of Micronaut supports something like
[code]
where the List is constrained by the `@Size` validation annotation, and each `Author` element of the list is c

[2020-11-09 23:16] wetted opened #4458 "Revise micronaut-validation to support Bean Specification 2.0"
Consider support for the [Bean Specification 2.0](https://beanvalidation.org/2.0/spec/). At a minimum support for constraint annotations on type parameters is needed to resolve some problems documented in #4457

[2020-11-10 04:45] nfrankel commented on #4454
@jameskleeh Sure. But as a side-effect, it completely prevents the usage of Blockhound.

[2020-11-10 05:44] jameskleeh commented on #4454
@nfrankel How so?

[2020-11-10 05:49] nfrankel commented on #4454
I set Blockhound at the start of the application. If a blocking call occurs anytime, Blockhound will report it.

To set it at a later time - when the application is "initialized" - opens the door to the following: "Am I really sure that by now all blocking calls that are supposed to be executed only once are done?". This is sure to be an implementation detail that will change in later versions.

A

[2020-11-10 07:42] graemerocher commented on #4457
Note that this is actually general support for annotations on type parameters, not specific to validation

[2020-11-10 07:51] issmo commented on #4447
@jameskleeh in 2.0.3 this was introduced by the fix for #3892. If possible, could you please explain the rationale behind adding the return type of a method to the "processed" cache key.  It looks like we are going back and forth between removing the return type from the key to solve some issues and adding it back to solve others.

I might be mistaken as I'm not an expert in micronaut code, but to

[2020-11-10 13:58] ilopmar commented on #3880
Closed by #4459

[2020-11-10 13:58] #3880 closed

[2020-11-10 14:01] jameskleeh commented on #4447
@issmo That makes sense but that isn't how the JDK produces bytecode. It does allow for 2 methods with the same signature but different return types.

In the CategoryAnswerRepository intercepted class there are 2 methods, and Groovy is choosing to execute the one that returns an Iterable and does not have the `@Join` annotation.

[code]

The JVM generates something like this:

[code]

As you can s

[2020-11-10 14:18] Mark1626 commented on #4377
I'm interested to work on this, but I'm not sure where to get started.
I see that we are exposing the additional ports in `NettyHttpServer`, which I believe is the start of the main HTTP server

https://github.com/micronaut-projects/micronaut-core/blob/09a1cb074a650d98483daefbd7b755defea7213d/http-server-netty/src/main/java/io/micronaut/http/server/netty/NettyHttpServer.java#L318-L328

How should

[2020-11-10 16:29] #4420 closed, assigned to nobody

[2020-11-10 16:41] alvarosanchez commented on #4323
Fixed via https://github.com/micronaut-projects/micronaut-starter/pull/546

[2020-11-10 16:41] #4323 closed, assigned to alvarosanchez

[2020-11-10 17:04] Roshick commented on #4452
Actually none of the Completables in my application are being executed. :/

[2020-11-11 06:56] sascha-frinken commented on #4463
@graemerocher Sorry this was the first project I created via IntelliJ… I just changed the runtime to `netty` -> same behaviour.

[2020-11-11 07:12] sascha-frinken commented on #3780
Since updating to micronaut 2.1.x, gradle 6.7 it appears to befixed. Either by micronaut, micronat gradle plugin or gradle version…

[2020-11-11 07:12] #3780 closed

[2020-11-11 11:26] ilopmar commented on #4396
I've been trying to debug this adding some `println`s to the different methods added in the related PR (#4406).

The problem is here https://github.com/micronaut-projects/micronaut-core/commit/0389f4d17a0f9ce6e9820e1941848166e3e9ea53#diff-80669c773e631d78f31f0b8c756e516df7388c4a8c03023cd04eea8a6c8080acR283.
That code calls the new [default method `getAnnotationTypesByStereotype`](https://github.co

[2020-11-11 20:55] goeh commented on #4422
Yes please!!! I've actually abandoned reactive code in most of my Micronaut services because I've been hit by so many weird problems with context propagation. I came from Spring Boot / Reactor and my feeling is that everything reactive there just worked (IMO).

[2020-11-12 07:58] issmo commented on #4447
@jameskleeh I do agree on the observation on the bytecode side with the synthetic bridge on CategoryAnswerRepository. However, please bear in mind that this is done as a part of the type erasure process by the compiler.

And I think that it is not wrong to implement only the top method without synthetic bridge and this will favour simplicity in the implementation.

The type erasure and synthetic b

[2020-11-12 11:45] dstepanov commented on #4438
@xiscosc I suggest you report `java.lang.ClassCastException` problem to https://github.com/Kotlin/kotlinx.coroutines

[2020-11-12 15:45] timducheyne commented on #4438
@dstepanov Note that 2) is easily reproducible when you enable the coroutine debugger in IDEA

Preferences | Build, Execution, Deployment | Debugger | Data Views | Kotlin
Uncheck Disable coroutine agent

If you do that, you will get those classcast exceptions when running micronaut (eg also happens in suspended controllers)

[2020-11-12 15:56] dstepanov commented on #4438
@timducheyne I managed to reproduce it but I think the problem is not in Micronaut but in Kotlin's coroutine implementation which shouldn't blindly cast coroutines to the internal class.

[2020-11-12 16:11] timducheyne commented on #4438
Yes that is indeed not nice.
Ok we will file a bug in kotlinx coroutines

[2020-11-12 16:38] ednesic opened #4468 "Server requests taking too much time after http error"
### Task List

- [ x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ x] Example that reproduces the problem uploaded to Github
- [ x] Full description of the issue provided (see below)

### Steps to Reproduce

1. start application
2. open http://localhost:8080 on a browser
3. click on "click to fetch request"(POST to inexistent path of application)
4. request should be unau

[2020-11-12 17:36] meredrica opened #4469 "OncePerRequestHttpServerFilter on Undertow returns immutable HttpRequest"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce
Check out the repo here https://github.com/meredrica/mn-bug-proxy
It only defines an AuthenticationProvider that allows anyone whose name is admin and doesn't do any prox

[2020-11-13 06:37] davidgiga1993 commented on #4413
I just checked with 2.1.3 and I can still reproduce the issue.
I've used the exact same code from the test [here](https://github.com/micronaut-projects/micronaut-core/blob/f7b1aa3c5ed97cbe6c84897e4ac2ec520ebe6c17/test-suite/src/test/groovy/io/micronaut/upload/UploadController.java#L78).

My uploaded file is ~12Mb in size and the output size is exactly the same, but the content is wrong / duplicate

[2020-11-13 12:00] #4320 closed, assigned to nobody

[2020-11-13 13:13] jameskleeh commented on #4413
Create a sample app that reproduces the issue and create a new report

On Fri, Nov 13, 2020 at 1:37 AM David <notifications@github.com> wrote:

[2020-11-13 17:07] #4387 closed, assigned to graemerocher

[2020-11-13 18:07] pratik-brex opened #4481 "GrpcServerHealthIndicator tries to start up even with gRPC server is disabled."
We've disabled our gRPC server on some API-only instances by setting `grpc.server.enabled` to `false`. However the newly added GrpcServerHealthIndicator still tries to start up and throws this error:

[code]

[2020-11-13 18:21] willbuck commented on #4438
@timducheyne I went ahead and created the issue, I hope you don't mind. @jameskleeh and I think we have a handle on what the proper solve would be so I will be working on a PR to the coroutines library this afternoon

[2020-11-13 19:10] #4217 closed, assigned to graemerocher

[2020-11-14 10:29] JaroslavTulach opened #4484 "Cannot obtain bean data from an associated @Prototype"
### Task List

- [ x ] Steps to reproduce provided
- [ NA ] Stacktrace (if present) provided
- [ x ] Example that reproduces the problem uploaded to Github
- [ x ] Full description of the issue provided (see below)

### Steps to Reproduce

I am writing a [UI extension](https://github.com/jtulach/micronautui/blob/5a336657c4a0be74b3451ea2381b803422a58470/README.md) based on Micronaut `@Introspected`

[2020-11-14 15:17] timducheyne commented on #4438
@willbuck no I don't mind at all. Go ahead. I guess the fix is just use as? instead of as.
btw in case the fix in kotlin-coroutines is not ready or available,
I can also provide a fix in micronaut itself  by implementing that CoroutineStackFrame
let me know if you need it, then I'll create an MR

[2020-11-14 15:21] willbuck commented on #4438
@jameskleeh and I discussed that approach @timducheyne but I believe `CoroutineStackFrame` is an internal class within `kotlinx.coroutines`, and thus we can't implement it within Micronaut. But indeed, that was all the fix seemed to be. @timducheyne if you are able to write a test to replicate the issue within `kotlinx.coroutines` I imagine that'd be a great improvement to the PR to fix it, otherw

[2020-11-14 15:57] timducheyne commented on #4438
You're right. Implementing that internal interface is not the way to go.
Sorry, but I don't know how to best test this. Let's indeed see what they say.

[2020-11-15 03:14] jameskleeh commented on #4484
Are you creating classes in the `io.micronaut` package (`import io.micronaut.ui.ObservableUI;`)? If so, you shouldn't do that. I don't understand the problem. Can you describe the problem you're facing more clearly?

[2020-11-15 07:55] JaroslavTulach commented on #4484
Thank you for taking a look at my inquiry. Let's give the package issue aside for now, my code is just an experiment. Imagine you have a [prototype that holds some important data](https://github.com/jtulach/micronautui/blob/master/micronautui-api/src/main/java/io/micronaut/ui/impl/ObservableInterceptor.java#L40):
[code]
then there is [an annotation to apply such prototype](https://github.com/jtula

[2020-11-15 08:52] dstepanov commented on #4484
@JaroslavTulach You can introduce a new method to get the counter: `@Introduction(interfaces = HasCounter.class)` and then:
[code]

You might check how I implemented compile time proxies for Hibernate:

https://github.com/micronaut-projects/micronaut-sql/blob/master/hibernate-jpa/src/main/java/io/micronaut/configuration/hibernate/jpa/proxy/IntroducedHibernateProxyFactory.java#L90

BTW: You should

[2020-11-15 18:48] JaroslavTulach commented on #4484
Yes, `@Introduction` solves my problem. This is how I [applied it](https://github.com/jtulach/micronautui/commit/d7e2fbeed1ce35946659aea540e6b06c1a43b548). No need to override `equals` anymore. Thank you Denis for your advice.

While experimenting with possible solutions I got a NPE from the annotation processor. I report it as a separate issue.

[2020-11-15 18:48] #4484 closed, assigned to nobody

[2020-11-15 19:01] JaroslavTulach opened #4487 "NPE from BeanDefinitionInjectProcessor.java:604"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

* clone https://github.com/jtulach/micronautui/commit/29c4b90eb663d4402ffe8d150c96e4fe3af82d65
* `mvn install`

[code]

### Expected Behaviour

The annotation processor

[2020-11-15 20:28] Roshick opened #4488 "Status 200 on asynchronous suspend function with nulled nullable return type"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a kotlin controller with a suspend function that returns a nullable type
2. Make an asynchronous call inside the function (such as delay) and return null after

[2020-11-16 00:23] jpragma opened #4489 "RequestScope beans created by Factory - preDestroy method is never called"
RequestScope beans should be disposed automatically at the end of HTTP Request processing, and their preDestroy methods should be invoked.

It works fine if the bean's class itself is annotated with @RequestScope and contains method annotated with @PreDestroy.

However, if the bean is created by a factory, even if factory method has @Bean(preDestroy="method_name"), then this method is never called

[2020-11-16 01:01] jpragma opened #4490 "Presence of @Inject annotation causes prototype bean creation"
Looks like the presence of @Inject annotation on any field of the class causes micronaut annotation processor to create BeanDefinition (with @Prototype scope) even if no annotation is specified on the class.

Moreover, if this bean is created by @Factory then 2 separate bean definitions are generated and the app fails with "Multiple possible bean candidates found" error

### Gitter discussion
http

[2020-11-16 07:44] graemerocher commented on #4490
One thing to consider is future compliance with standards. In CDI beans are allowed to not have a bean defining annotation

[2020-11-16 08:06] #4463 closed, assigned to jameskleeh

[2020-11-16 11:23] andreasreinhardt commented on #4332
@jameskleeh Any update on this issue?

[2020-11-16 12:36] dstepanov commented on #4484
@JaroslavTulach You probably don’t need to have `proxyTarget = true`

[2020-11-16 15:47] jameskleeh opened #4494 "Suspend client method returning HttpResponse hangs on 404"
[code]

If that client method receives a 404 it will hang indefinitely

[2020-11-16 15:58] jpragma commented on #4490
Right, if the bean without any class level annotation was automatically created as Prototype, it would be OK in my opinion as long as this behavior is mentioned in the documentation.
However if the bean is created by a Factory, then the annotation on the factory method should probably be used.

At least with @ Signleton it throws "Multiple candidates" exception. I bumped into this issue while usin

[2020-11-16 16:54] #4494 closed, assigned to jameskleeh

[2020-11-16 17:07] jameskleeh commented on #4490
@jpragma The factory and the bean itself are not related. If you are in control of the class there should be no reason to use a factory. If you use a factory there should be no reason to apply bean annotations to the class itself.

[2020-11-16 18:22] jpragma commented on #4490
@jameskleeh That's my point, the bean itself doesn't have any class level bean annotations, only @Inject (either on a field OR on a constructor). In my projects, I don't have any real problems - I use only constructor injection without any annotations, limit usage of factories, understand (hopefully) their limitations, etc. But... I think other users of micronaut might make same assumptions/mistak

[2020-11-16 19:43] #4488 closed, assigned to jameskleeh

[2020-11-16 20:13] #4487 closed, assigned to jameskleeh

[2020-11-16 20:53] prayadav opened #4508 "ServiceReadyHealthIndicator Down with Micronaut version > 2.0.1"
### Steps to Reproduce

1. Template micronaut project with version > 2.0.1  with micronaut-management dependency
2. JDK version 14
3. endpoints default configuration
endpoints:
  all:
    enabled: true
    sensitive: false
  health:
    details-visible: ANONYMOUS

### Expected Behaviour

/health endpoint should return "UP" status

### Actual Behaviour

/health endpoint returns

{
  "details": {

[2020-11-16 21:23] prayadav commented on #4508
It seems the service status shows down only with embedded jetty. Works fine with netty.

[2020-11-16 21:31] prayadav commented on #4508
It seems the problem manifests with embedded jetty. I tried with netty and all health indicators are fine.

[2020-11-17 15:36] jameskleeh opened #4518 "Introduction + Around not working with Groovy"
https://github.com/micronaut-projects/micronaut-core/tree/introduction_around_groovy has a test IntroductionWithAroundOnConcreteClassSpec which is failing

[2020-11-17 16:49] #4468 closed, assigned to graemerocher

[2020-11-17 18:56] tandel-pratik opened #4523 "Jackson serialization cannot be set correctly via `PropertySource.of`"
Jackson's serialization features can be set easily using application.yaml but they can't be set properly using PropertySource.

Example of how it'll be set in YAML:

[code]
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reprodu

[2020-11-18 03:18] jameskleeh opened #4525 "@Parameter @Nullable Provider<> throws an exception when the bean cannot be found"
For example:

[code]

Instead of passing null to the `notABeanProvider`, an exception will be thrown.

[2020-11-18 03:56] #4525 closed, assigned to jameskleeh

[2020-11-18 07:17] prayadav commented on #4418
@morki  Can you verify that micronaut annotation processor is enabled? Works for me in Java

[2020-11-18 07:28] graemerocher commented on #4418
Try `@field:JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")`

[2020-11-18 10:05] l0co commented on #4387
Seems to be fixed in 2.1.4

[2020-11-18 13:25] jimisdrpc opened #4539 "If I add either Spring Data or Hibernate dependency to Micronaut project am I going against AOT?"
So my question is: **if I added Spring Data or Hibernate to Micronaut am I not going to lose somehow the AOT benefits of Micronaut?** I am adding reflection and caches engine, am not I? If not, I would prefer mix Micronaut with Spring-data to make my life easier.

Main current goal: I want to code "gRPC Web Application/Kafka Producer" microservice which saves the request message in database before

[2020-11-18 13:30] #4539 closed

[2020-11-18 17:50] pontello opened #4548 "k8s cold boot time super slow due too many ENV_VARS_USING_UNDESCORES"
Above is a quote from [official docs](https://docs.micronaut.io/latest/guide/index.html#propertySource) describing how env variables are treated. Even tough well documented there it took me a while to understand why my projects were taking longer than expected during boot time and a way to work it around.

If you deploy micro services in a K8s cluster you may have seen variables similar to bellow

[2020-11-18 21:19] hgo commented on #3577
Is there any chance to submit similar fix for 1.3.x version ?

[2020-11-18 21:24] jameskleeh commented on #3577
@bskinny @hgo We don't plan on releasing another 1.3.x version. It could be done as part of a commercial support contract however. Contact me on Gitter or email (kleehj@objectcomputing.com) if you're interested.

[2020-11-19 04:24] ddrao commented on #2314
got this exact same issue. It would be really good if this was documented in the Micronaut test Junit doc.

[2020-11-19 06:20] chrisparton1991 commented on #3708
@esocode looks like I fell down the same rabbit hole as you! I wound up with the exact same conclusion.

I've raised PR #4554 to include `enabled: true` in the docs.

[2020-11-19 07:20] morki commented on #4418
Thank you guys, I tried that but it really does not work. Reproduction repo here: https://github.com/morki/micronaut-jsonformat-bug

By default (introspection enabled) It throws exception, but if you uncomment `bean-introspection-module: false` in `application.yml` it works fine.

[2020-11-19 10:31] athkalia opened #4556 "@MicronautTest doesn't have support for starting AWS lambda functions that extend the 'MicronautRequestHandler' class"
It seems like there is no easy way to instantiate a lambda function by using the `@MicronautTest` annotation.

In the AWS lambda function tutorials, e.g. here https://guides.micronaut.io/mn-serverless-function-aws-lambda-kotlin/guide/index.html it suggested that to test a handler you just instantiate it. That however, makes it difficult to start a handler with a specific environment, or other conf

[2020-11-19 10:37] graemerocher commented on #4556
yeah `@MicronautTest` is kind of incompatible with that approach right now, would be nice if there is a solution

[2020-11-19 10:38] athkalia commented on #4556
cc @ttzn

[2020-11-19 11:06] dstepanov commented on #4447
I was trying to take a look at it but it looks like it's working in 2.2.0.BUILD-SNAPSHOT. Maybe it was fixed by https://github.com/micronaut-projects/micronaut-core/pull/4204

[2020-11-19 11:27] athkalia commented on #1533
May help future readers:

I was getting the same error with a non-native GraalVM app because I forgot to add the

[code]
[ShadowJar Gradle plugin](https://github.com/johnrengelman/shadow) configuration in my `build.gradle` file.

[2020-11-19 16:10] mscheibler opened #4568 "Declarative HTTP clients does not handle `java.util.Optional` when used as optional parameters"
### Steps to Reproduce

1. I prepared a Showcase [project with a unit-test to demonstrate the issue](https://github.com/mscheibler/micronaut-httpclient-optional).
2. Run the `com.kiwigrid.micronaut.optional.RestClientTest` test and observe the DEBUG log entries of the client.

### Expected Behaviour

When i use a declarative client as showed in the test case i would expect Micronaut to handle the

[2020-11-19 16:16] tyler-boyd commented on #4451
We're also running into this. I saw discussion here: https://github.com/micronaut-projects/micronaut-core/pull/2762

I will try to patch this but no promises...

[2020-11-20 00:38] ddrao commented on #2314
@graemerocher is it possible to `MockBean` a factory given Factories are beans as well?

[2020-11-20 04:47] diamondq opened #4571 "ProxyHeaderParser not fully supporting multiple reverse proxies"
TL;DR: Incorrect information is returned when parsing `Forwarded` headers placed by multiple reverse proxies. This causes problems generating the public URL for a Micronaut application (and really breaks things like OAuth security redirects).

The [RFC 7239 Forwarded HTTP Extension](https://tools.ietf.org/html/rfc7239#section-4) isn't super clear with regards to having multiple Forwarded field-val

[2020-11-20 07:17] graemerocher commented on #4571
Seems like you have provided a good analysis of the problem. Thanks! Would you be interested in submitting a PR?

[2020-11-20 07:40] vbaksh opened #4572 "Problem Building Newly Created App Using Zipkin and Sleuth"
2020-11-19 14:15:56:894 [] Starting ProgramMain on YY209604 with PID 9728 (C:\Workspace\iothub_fileupload\source\target\classes started by 320105352 in C:\Workspace\iothub_fileupload\source)
2020-11-19 14:15:56:896 [] Running with Spring Boot v2.3.2.RELEASE, Spring v5.2.8.RELEASE
2020-11-19 14:15:56:896 [] No active profile set, falling back to default profiles: default
2020-11-19 14:15:58:121 []

[2020-11-20 07:47] graemerocher commented on #4572
This seems Spring related, we don't support Sleuth, in fact there is nothing Micronaut related in that stack trace

[2020-11-20 07:49] vbaksh commented on #4572
okay my bad ,thanks for the reply

[2020-11-20 07:53] #4572 closed, assigned to nobody

[2020-11-20 07:54] #4396 closed, assigned to puneetbehl

[2020-11-20 07:54] #4438 closed, assigned to jameskleeh

[2020-11-20 07:55] #4353 closed, assigned to nobody

[2020-11-20 07:57] #4234 closed, assigned to ilopmar

[2020-11-20 08:00] #3708 closed

[2020-11-20 08:00] #3582 closed

[2020-11-20 08:01] #3712 closed

[2020-11-20 09:03] mikarinneoracle opened #4573 "Reading context parameters in OCI Fn function controller"
Hi,
would be nice to be able to read the function context parameters using the controller @Property Annotation

e.g.

``
@Controller("/pets")
public class PetController {

  @Property(name = "DB_HOST")
  protected String dbHost;
``
(Not sure if this is the proper way to do it thoguh)

[2020-11-20 13:28] michael-simons opened #4576 "Configuration of management endpoints not present respected in native-image."
Given a simple 2.2 demo downloaded from the generator with the "management" option added, Maven as build tool and a config like this:

[code]

and running via

[code]

I can query the health endpoint like this

[code]

After building the application with `./mvnw clean package -Dpackaging=native-image`

the config is ignored and the endpoint is under

[code]

Reproducer is attached.
[mm22.zip](http

[2020-11-20 13:34] michael-simons commented on #4576
GraalVM 11 20.3 macOS, but happens with the docker build, too.

[2020-11-20 13:54] alvarosanchez commented on #4576
Tested with a Gradle build, and the result is 404:

[code]

[2020-11-20 13:56] michael-simons commented on #4576
Yep. You’ll find it on its default `health` location.

[2020-11-20 14:00] alvarosanchez commented on #4576
Right, I see that now as part of your original comment

[2020-11-20 15:30] alvarosanchez commented on #4576
Tested with 2.1.4 and the behaviour is the same

[2020-11-20 15:33] graemerocher commented on #4576
It actually has nothing to do with the management endpoints. The reason is a problem with the Maven plugin in that it does not include:

[code]

Which means there is no static resource configuration. You can add the above definition which creates the correct static resource configuration.

The Maven plugin should probably be adding this dependency automatically (like the Gradle one does) or altern

[2020-11-20 15:34] graemerocher commented on #4576
Which the correct static resources config this condition fails:

https://github.com/micronaut-projects/micronaut-neo4j/blob/master/neo4j-bolt/src/main/java/io/micronaut/neo4j/bolt/condition/RequiresNeo4j.java#L35

[2020-11-20 15:50] alvarosanchez commented on #4576
@graemerocher So it is not possible to do that in Maven.

@michael-simons If you select the `graalvm` feature, it gives you a POM with the appropriate annotation processor

[2020-11-20 16:12] michael-simons commented on #4576
Thanks a lot @alvarosanchez !

When both build tools can be used now to create native images ootb, it is maybe a good idea to include the annotation processor by default? And have it skip processing if not native.

[2020-11-20 16:18] alvarosanchez opened #4578 "Research about adding a GraalVM profile to the parent POM"
While validating https://github.com/micronaut-projects/micronaut-core/issues/4576, we realised about the situation that users can still generate a GraalVM native image even if they don't select the `graalvm` feature. This leads to generating native images that are incomplete, because the `micronaut-graal` annotation processor is not in the classpath.

One possibility we could explore is to add a p

[2020-11-20 16:19] alvarosanchez commented on #4576
So I'm going to close this issue since, as of right now, the `graalvm` feature has to be selected.

However, I do think the situation can be improved. I have created #4578 as a follow-up

[2020-11-20 16:19] #4576 closed, assigned to nobody

[2020-11-20 16:23] alvarosanchez commented on #4578
@michael-simons suggested including the annotation processor unconditionally, and then changing it to do nothing if the JVM being used is not GraalVM.

This could work, but maybe we are adding unnecessary overhead to all users, even if very little.

@graemerocher thoughts?

[2020-11-20 16:44] graemerocher commented on #4578
Well they might build with another version of Java and then use native image in a container no?

[2020-11-20 16:57] alvarosanchez commented on #4578
In which case they will also have problems in Gradle.

Also, if they do what you say, our build plugins won't participate any more since the JAR is already created.

I don't think we can cover every single case, but maybe this one (someone generating an app and generating native images locally) we can.

[2020-11-20 16:59] #4428 closed, assigned to nobody

[2020-11-21 00:46] naddeoa opened #4579 "Micronaut generates the wrong openapi yaml when using `Schema(required=true)` annotation"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-11-21 17:48] ivangfr commented on #4155
Hi, it's just to let you know that the problem described above seems to be fixed when I updated my application to **Micronaut** version `2.2.0`.

[2020-11-21 18:46] jntakpe opened #4580 "Log level using an environment variable ignored"
The documentation [mentions](https://docs.micronaut.io/latest/guide/index.html#_controlling_log_levels_with_properties) it is possible to set property using environment variables.

Nevertheless, `LOGGER_LEVELS` nor `LOG_LEVEL` prefixes works maybe I'm missing something but the issue seems to come from the [PropertiesLoggingLevelsConfigurer line 81](https://github.com/micronaut-projects/micronaut-c

[2020-11-21 19:31] rafaelrenanpacheco opened #4581 "Improve HTTP Client DEBUG log"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

Hello!

I would like to suggest an improvement regarding HTTP Client and DEBUG log level.

When setting the HTTP Client log to TRACE it shows too much information. The alternative is to use DEB

[2020-11-21 20:00] donbeave opened #4582 "Micronaut's UriMatchTemplate.match method doesn't work the same as how Spring's UriTemplate"
I'm migrating my application from Spring Boot to Micronaut and found out that UriMatchTemplate is not exactly the same. Probably it's a bug, I am not sure yet, to figure it out I created this issue.

The main difference is that `match` method will return empty Optional instead of the result, here is an example of my code.

I have this URL format:

[code]

Spring Boot original code:

[code]

I have

[2020-11-21 22:45] rafaelrenanpacheco opened #4583 "Netty Pipeline isn't picking HTTP Client configuration"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

Hello!

I'm trying to setup request/response HTTP log with Logbook, as described [here](https://docs.micronaut.io/snapshot/guide/index.html#nettyPipeline) in Micronaut's documentation. So far i

[2020-11-22 11:55] ivangfr opened #4584 "Cannot set final field: java.util.concurrent.CopyOnWriteArrayList.lock"
Hi guys!

I've recently update the **Micronaut** apps inside Java framework comparison project to version `2.2.0`;

Looks like the slow shutdown I commented in this issue (https://github.com/micronaut-projects/micronaut-core/issues/4280) is solved.

However, the [`micronaut-book-api`](https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot/tree/master/book-api/micronaut-book-api) native ap

[2020-11-22 11:59] ivangfr commented on #4280
Hi guys! I've recently updated the **Micronaut** apps inside Java framework comparison project to version `2.2.0` and looks like the slow shutdown I mentioned in this issue is solved. However, there is still a problem as described in this issue https://github.com/micronaut-projects/micronaut-core/issues/4584. Thanks!

[2020-11-22 12:03] ivangfr opened #4585 "Error encountered while parsing org.graalvm.home.HomeFinder.getInstance()"
Hi guys!

I've recently updated the **Micronaut** apps inside Java framework comparison project to version `2.2.0`;

The [`micronaut-elasticsearch`](https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot/tree/master/elasticsearch/micronaut-elasticsearch) app is failing to build the docker native image. Here is the exception
[code]

### Task List

- [x] Steps to reproduce provided
- [x] St

[2020-11-22 17:58] asodja commented on #3869
I dig into this a bit and it is a bug. The issue is that binding of `@RequestBean` happens before filters and Authentication is not set at that time. To workaround this you can implement your own Principal or Authentication that is lazy, i.e. values from HttpRequest are taken only when needed in request method. Example for Principal:
[code]
A side effect of that is, that you'll never have null or

[2020-11-22 22:45] ttzn opened #4586 "Unable to generate bean definitions for `AbstractExecutor` subclasses"
It doesn't seem to be possible to generate bean definitions at compile-time from subclasses of the package-private `AbstractExecutor` class (e.g. `MicronautRequestHandler` for AWS lambdas). Consider the following:

[code]

Since `AbstractExecutor` declares a `@PreDestroy` method, Micronaut generates this kind of bytecode:

[code]

But since `AbstractExecutor` is package-private, invoking this code

[2020-11-23 06:20] vnesek opened #4589 "Add ability to set HTTP response headers for reactive media"
Let say we got some media blob that provides it's content reactively and async function that returns said blob or singnals that blob is missing. For example, some CMS serving media, non blocking Google Cloud Storage or S3 API, HTTP proxy of some sort or async database driver.

We need to know if we've got a blob to set HTTP 404 or 200 response and set correct content type and content length on HTT

[2020-11-23 08:10] tchiotludo opened #4590 "Micronaut Validator @Valid with Map<String, List<T>> failed"
from `MapValidatorSpec.groovy`, I've added this test :

[code]

With :
-  micronaut branch v2.2, I've this error  `Cannot validate java.util.ArrayList. No bean introspection present. Please add @Introspected to the class and ensure Micronaut annotation processing is enabled`
-  micronaut master, I've `constraintViolations.size() == 0`

[2020-11-23 08:20] ilopmar commented on #4585
This is a know issue. Reported to GraalVM https://github.com/oracle/graal/issues/2991

[2020-11-23 08:32] ilopmar commented on #4585
Btw, even with the workarounds explained in that issue, our test application hangs on https://github.com/micronaut-graal-tests/micronaut-elasticsearch-graal/blob/bda0ef2acdd33bc89fe58b560d12a49fb322145a/src/main/java/micronaut/example/service/MovieServiceImpl.java#L46
while saving a movie in Elasticsearch. This is probably due to the 7.9.3 upgrade.
I haven't found time to test with 7.10.

[2020-11-23 09:34] graemerocher commented on #4581
good ideas here, feel free to submit a PR. Contributions welcome!

[2020-11-23 09:35] graemerocher commented on #4582
It is not a design goal for `UriMatchTemplate` to be the same as the Spring impl. I believe you can use:

[code]

To achieve the same behaviour in Micronaut

[2020-11-23 09:35] #4582 closed

[2020-11-23 10:08] graemerocher commented on #4447
@issmo can you verify your issue is fixed with 2.2.0?

[2020-11-23 10:18] alvarosanchez commented on #4280
Closing this issue as per the last comment

[2020-11-23 10:18] #4280 closed, assigned to nobody

[2020-11-23 12:51] l0co opened #4592 "Invalid type of return parameter in bean generated for custom HTTP client"
In `2.2.0`, works in `2.1.4`.

I have a custom HTTP client created with factory and wrapped into around advice:

[code]

`@ConvertException` is my around advice which basically tries to convert a group of exceptions to some other execption, with this implementation:

[code]

This was covered by test which was working to `2.1.4` but in `2.2.0` I have the following exception from this code during ac

[2020-11-23 13:02] tchiotludo opened #4593 "Micronaut Validator List<Enum> containing null values"
from `ValidatorSpec.groovy`, I've added this test :

[code]

With :
-  micronaut branch v2.2, I've this error  `java.lang.NullPointerException
	at io.micronaut.validation.validator.DefaultValidator.cascadeToOne(DefaultValidator.java:1327)`
-  micronaut version 1.3.7 seems to work as I understand

[2020-11-23 16:01] jameskleeh commented on #4589
`a`, `b`, `e` -> what does "Ok, but misses async fetching of Blob" mean?
`c`, `f` -> Fails because its a suspend method when it shouldn't be
`d` -> `Maybe<HttpResponse<Publisher<ByteArray>>>` we don't support this type of signature. Only one publisher either that emits the response or the body.

[2020-11-23 16:06] jameskleeh commented on #4590
@tchiotludo In your example you have `Authors`, but the class is `Author`. The test you're showing there is exactly the same as the one already in the class, but without the `s` and the `Author` class already exists. Can you show the full code of a test that is failing?

[2020-11-23 16:09] jameskleeh commented on #4593
I don't understand what is being validated here. There is no constraint being applied to the enum or the list, so what are you expecting?

[2020-11-23 16:16] tchiotludo commented on #4590
oups sorry monday morning ...
here is the Authors with a `Map<String, List<T>>` :
[code]
[MapValidatorSpec.groovy.txt](https://github.com/micronaut-projects/micronaut-core/files/5584251/MapValidatorSpec.groovy.txt)

[2020-11-23 16:40] tchiotludo commented on #4593
I'm in a special case here !
I'll try to make the example short as possible just to point to the NullPointer that must not be fired IMO.

In my case [here](https://github.com/kestra-io/kestra/blob/master/core/src/main/java/org/kestra/core/models/listeners/Listener.java#L20), we have a `List<Condition>`, Condition is abstract and I don't know the subclass.
I want subclass to expose the Constraint I

[2020-11-23 16:42] jameskleeh commented on #4593
@tchiotludo I added this test https://github.com/micronaut-projects/micronaut-core/pull/4594/files#diff-b3e793497a14c9544a273d029aceb58e2822a5bc861c421b82e8d6bebb6eefbfR395 which I think better encapsulates the issue. Do you agree that would reproduce the bug?

[2020-11-23 16:49] issmo commented on #4447
@graemerocher the issue related to multiple implementations of the same methods is fixed in 2.2.0

[2020-11-23 16:53] tchiotludo commented on #4593
Seems to be good IMO, It will not raise a NPE id a `null` is present on the List. It will definitively fix my issues! Thanks

Just not really about this and javax specs :
[code]

Does the `@NotNull` apply only to `enums != null` or it must propagate to null in the List (`[null]`), I don't know the specs to be sure about that ?

[2020-11-23 17:42] jameskleeh commented on #4593
@tchiotludo It would apply to each enum in the list

[2020-11-23 17:55] tchiotludo commented on #4593
I see that, just more a question.

Just my first though are :
[code]
only match with `enums == null`

And if you want to have `@NotNull` on list, you must use this `List<@NotNull AuthorState>` see [this](https://beanvalidation.org/2.0/spec/#constraintdeclarationvalidationprocess-containerelementconstraints)

[2020-11-23 18:06] jameskleeh commented on #4447
The only explanation I can give for this specific issue to be working in 2.2.0 is the upgrade in Groovy from 3.0.4 to 3.0.5

[2020-11-23 18:08] jameskleeh commented on #4593
@tchiotludo That is part of the bean validation 2.0 spec, which we do not support yet

[2020-11-23 18:12] tchiotludo commented on #4593
Ok I don't know that !
We have certainly better knowledge than me about that !
But the actual PR is fine for me, thanks 👍

[2020-11-23 18:24] jameskleeh commented on #4590
This one I'm not so sure about. Technically I don't know if we should be treating the list as a collection or value here. I can see what makes sense from a human perspective, but I don't know how it should behave according to the spec. Do you have any insights @graemerocher @wetted ?

[2020-11-23 19:00] wetted commented on #4590
I can have a look and see what it's doing in the debugger. It _might_ be possible to support `@Valid Map<String, List<Book>> books` in a patch/minor release, but I have a feeling it might need support for the syntax `Map<String, List<@Valid Book>> books` on https://github.com/micronaut-projects/micronaut-core/issues/4457. However I don't believe the first form should be supported as per the spec.

[2020-11-23 19:41] vnesek commented on #4589
In cases a, b, e we directly instantiate Blob() ... it's not fetched either from suspend (async) function mediaSource() nor it's fetched from some Publisher<Blob>, Mono<Blob> or Maybe<Blob>. Effectively it's blocking call in reactive framework.

That's the core issue that currently isn't supported by micronaut.

You can stream data, but can't set content type, add custom headers to responses with

[2020-11-23 19:45] jameskleeh commented on #4589
@vnesek I don't know much about the Flow API, however constructing a `flow {}` object should be a cold observable which does not emit the items until it is subscribed. Returning a cold observable is not a blocking operation

[2020-11-23 19:47] issmo commented on #4447
@jameskleeh this looks like the only explanation as the generated Intercepted repository classes do still have the overrides implemented multiple times. Looks like Groovy is now picking the correct method in my test case...

[2020-11-23 19:50] jameskleeh commented on #4589
See https://kotlinlang.org/docs/reference/coroutines/flow.html#flows-are-cold

[2020-11-23 20:04] jameskleeh commented on #4592
Can you upload a sample app? Hard to say what the issue might be without debugging it. Do you know what call to `Publishers.just(Throwable)` is creating the result?

Also getting the values from the annotation can be simplified:

`context.classValues(ConvertException.class).orElseThrow()`

[2020-11-23 20:45] viniciusccarvalho opened #4597 "Native image is not bundling application.yml as a resource"
Hi folks, Noticed that when we generate a native image with gradle, the generated app does not contain the application.yml file.

### Steps to Reproduce

Create a new 2.2.0 application and modify anything, for example change the server port. Generate the image and note that the server is running on 8080. In my case I had several other defaults I'd like to have loaded, I could confirm that using `M

[2020-11-23 21:07] vnesek commented on #4589
@jameskleeh you are correct about kotlin flows but that's not what's bugging me.

Ignore kotlin flow, let's say we use Project Reactor:

[code]

How would you write controller method setting content type and returning streaming Blob::data without blocking?

[code]

[2020-11-23 21:13] jameskleeh commented on #4589
@vnesek That design doesn't make sense to me. Why would you return a `Mono` that emits an object that has a `Flux`? Having a stream that emits objects that have a stream seems like a bad idea without more context

[2020-11-23 21:26] alvarosanchez commented on #4597
Could this be related to #4576 ?

[2020-11-23 21:41] viniciusccarvalho commented on #4597
Probably, in my case it was gradle, it seems that the plugin is not including the application.yml on the resources section of the native image.

[2020-11-23 21:43] alvarosanchez commented on #4597
Did it have some code? (Controller, singleton bean, etc)?

[2020-11-23 21:46] vnesek commented on #4589
@jameskleeh check two comments up regarding use case I've got problem with.

Perhaps I wasn't clear enough:

1. You are given id/path to object stored in GCS, S3 bucket or some such API.

2. You call some reactive API to make network call that gets a Blob representing said storage object. What should such API return other than ```Mono<Blob>``` ?

3. Now we are stuck with ```Mono<Blob>```. From blo

[2020-11-23 21:49] viniciusccarvalho commented on #4597
No, it was really just a small web server to serve static content from a pre defined folder such as /var/www. I see do you think it's because there's no annotation processors running? I can try to add a minimal controller to confirm

[2020-11-23 21:51] alvarosanchez commented on #4597
99% sure it's because of that

[2020-11-23 22:30] viniciusccarvalho commented on #4597
Yep that was the case, so I agree its not a bug. Maybe add a one liner note bellow the section "Understanding Micronaut and GraalVM" that explains that if there's nothing for the annotation processor to process, no `resource-config.json` is generated.
Thanks @alvarosanchez

[2020-11-23 22:30] #4597 closed, assigned to nobody

[2020-11-23 23:42] rafaelrenanpacheco commented on #4581
I tried to build micronaut-core as [explained](https://github.com/micronaut-projects/micronaut-core#building-from-source) in the docs, but it didn't work. So I tried to build the v2.2.0 to make sure it wasn't a problem on master branch, and got the same error as well. These are the steps I did to build micronaut-core:

[code]

Then I got the following error:

[code]

I'm using the following gradle

[2020-11-24 00:01] samuellobatozup commented on #4120
Hi @bjor-joh. Do you have some workaround for this issue? I have same problem and dont know how to solve.
I'll apreciete your answer.

[2020-11-24 07:42] #4447 closed, assigned to nobody

[2020-11-24 07:43] graemerocher commented on #4447
Thanks for confirming

[2020-11-24 07:56] ilopmar commented on #4581
Hi Rafael,

Those docs are not 100% up-to-date.

You don't need to checkout a tag but a branch. Please try with branch `2.2.x`. Also you need to use Java 8 because Micronaut still supports it.
I've tried with a fresh clone and the following works:

[code]

Please let me know if you need more help :)

[2020-11-24 10:05] #4593 closed, assigned to jameskleeh

[2020-11-24 14:40] jameskleeh commented on #4589
@vnesek What is determining the content type? Is that data returned along with the byte stream from S3 for example?

[2020-11-24 14:55] vnesek commented on #4589
@jameskleeh Content type is stored in S3 (or some other remote service accessed over network) along with some additional metadata i.e. content length, etag, last modification time, etc... that should be placed in response HTTP headers.

For what is worth, Spring WebFlux has more-or-less same problem, but it's possible to work around it as they allow binding ServerHttpResponse (equivalent of Mutabl

[2020-11-24 15:41] wetted opened #4601 "Migrate to jakarta.xxx annotation apis"
Migrate to the latest specs for jakarta `annotation`, `inject' and 'persistence` modules. These have package differences and are thus breaking changes.

- https://jakarta.ee/specifications/annotations/2.0/
- https://jakarta.ee/specifications/dependency-injection/2.0/
- https://jakarta.ee/specifications/persistence/3.0/

Also implement any corresponding changes where necessary for the Micronaut BOM

[2020-11-24 15:46] wetted commented on #4458
Note that Jakarta EE9 has a 3.0 specification. https://jakarta.ee/specifications/bean-validation/3.0/

[2020-11-24 17:00] wetted commented on #4590
I meant to say _I don't believe the first form should be supported_ and confirmed it. The second form I suggested is correct, but it's part of the Bean Validation 2.0 spec, and you can see the example at https://jakarta.ee/specifications/bean-validation/2.0/bean-validation_2.0.html#constraintdeclarationvalidationprocess-requirements-graphvalidation-examples, _Example 5.4: Making elements of a nest

[2020-11-24 17:43] tchiotludo commented on #4590
@wetted, thanks for the detailed explanation.
I understand all the point about bean 2.0.

My concern is about this, You mean that the first form :
[code]
should not be supported ?

In the link you share, the first form is here and still supported on 2.0 :
[code]

I've also found this : https://github.com/hibernate/hibernate-validator/blob/1d74c294a3d3f2c638d7053610cb021497c63d10/engine/src/test/ja

[2020-11-24 18:03] wetted commented on #4590
Yes, this is supported, and should work correctly in Micronaut to cascade validate `Address` values of the map.
[code]

However, this is not an example of nested cascade validation, for which you opened this issue. In other words, you conflated the Map value type parameters between simple Object types (above) and nested containers of Object (below).
[code]

I tried the latter both ways using the H

[2020-11-24 20:51] tchiotludo commented on #4590
Ok thanks for clarification !
I didn't do all the work to try with Hibernate, thanks.

So my understand is that issue is duplicate from: #4457 & #4458 and will need work and will not be at best for 2.3 I guess ?

[2020-11-24 21:24] jameskleeh commented on #4590
@tchiotludo We could make this work. It's important to note that prior to 2.2 the `@Valid` annotation just did nothing for this specific use case so at least now people will know. We will discuss what the best course of action is

[2020-11-24 21:30] wetted commented on #4590
@tchiotludo it's a pretty safe assumption that Bean Validation 2.0 support (issue 4458) won't happen before 3.x. As for the specific use case you reported here, I'll leave it to @jameskleeh to determine next steps.

[2020-11-24 22:04] tchiotludo commented on #4590
@jameskleeh, @wetted: first all, thanks for the response and your time on these issues, really appreciate !

Just to temper, @jameskleeh,:
* in micronaut 1.3.7, the `@Valid` don't raise any exception (and don't do [any validation](https://github.com/kestra-io/kestra/issues/169))
* in micronaut 2.x.x, the same `@Valid` raise an exception that will failed application.

It changed the behavior of my

[2020-11-24 22:09] stepanv opened #4603 "Enable HttpClient (and other Micronaut internals) logging with correlation ID (OpenTracing + Logging support)"
Hi Micronaut team,

I'd like to discuss a possible better support of a propagation of "some" correlation ID to the log messages in Micronaut.

TL;DR
Ideally, to better troubleshoot what is going inside Micronaut application under a load of multiple users in parallel, we would like to have in all log messages some correlation ID so that it's clear what log messages belong to each other. All log mes

[2020-11-24 22:15] wetted commented on #4590
@tchiotludo the reason it raises an error now (starting with 2.1.x), is that we fixed an issue that fails validation if the cascade object isn't `@Introspected` (see https://github.com/micronaut-projects/micronaut-core/pull/4411). So what is happening now is that it applies that specific validation to the nested `List<Book>` instead of cascading to the `Book` element type of the list, and fails be

[2020-11-24 23:50] rafaelrenanpacheco commented on #4581
When using the wrapped gradle with Java 11 I was able to run `./gradlew publishToMavenLoca`. After that I changed the `DefaultHttpClient` with some new log message, run `publishToMavenLoca` again, and the changes were not picked in my project in IntelliJ. So I thought the reason was the version mismatch, since the main branch is using 2.2.1.BUILD-SNAPSHOT, something like that.  I set this version

[2020-11-25 02:36] nanodeath opened #4604 ""Error decoding JSON stream" in @Error methods"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-11-25 02:37] nanodeath commented on #4604
[stacktrace.txt](https://github.com/micronaut-projects/micronaut-core/files/5594075/stacktrace.txt)

[2020-11-25 03:06] wbprime opened #4630 "Context scope beans don't respect @EachProperty / @EachBean event listeners correctly"
When using jooq together with data-jdbc (to gain declarative transaction support) with 2 datasources config, exception io.micronaut.context.exceptions.NoSuchBeanException got thrown when trying to perform db operations.

Below list a demo project being able to reproduce this issue.

Contact me if more info required.

### Steps to Reproduce

1. add micronaut-jooq & micronaut-data-jdbc dep
2. add 2

[2020-11-25 07:55] wbprime commented on #4630
It seems to be the problem of micronaut-data-tx.  Plain JDBC op with multiple datasource can not get declarative transaction support either. See <https://github.com/wbprime/micronaut-tx-issue-for-2-datasources> for details.

[2020-11-25 08:47] graemerocher commented on #4630
Why are you using a custom transactional annotation out of interest? `@com.citics.itst.sbl.tasks.dao.Transactional`

[2020-11-25 08:51] graemerocher commented on #4603
Seems reasonable. PRs welcome

[2020-11-25 09:01] wbprime commented on #4630
Because I want to use 2 data sources, and as far as I know jta @Transactional is not able to set target transaction manager by name (as is with spring's @Transactional annotation).

[2020-11-25 09:02] graemerocher commented on #4630
You can use `@TransactionalAdvice` for these additional use cases

[2020-11-25 09:19] wbprime commented on #4630
Tried `@TransactionalAdvice` and failed either.

Indeed in class `io.micronaut.transaction.jdbc.TransactionAwareDataSource#onCreated` set qualified name to "default" for the raw DataSource (Hikari in this case) bean created from config files.

See:

[code]

However the raw DataSources, as far as I understand, are of string qualified (@Named("a) and @Named("b") in this case).

In `io.micronaut.cont

[2020-11-25 10:01] ilopmar commented on #4581
You need to add `mavenLocal()` repo to your application to be able to use the locally publishes snapshot version.

I recorded a screencast about how to contribute to Micronaut some time ago: https://micronaut.io/blog/2020-08-18-contributing-to-micronaut-publishing-and-reviewing-local-changes.html

[2020-11-25 10:33] christophemaillot commented on #4589
Another real word example :

I'm building an image cache that fetches the data from 2 remote sources, with custom business logic and authorization management.

So I'm first calling some remote APIs to check if the binary is available in one of the remote repositories.
If so, I would like to emit a OK HttpResponse, who body is itself byte emitter. If not, emit a 401 ou 404 HttpResponse.

The byte e

[2020-11-25 11:03] graemerocher opened #4606 "Interface based @EachProperty with validation doesn't work"
If you use `@EachPropery` on an interface and apply validation rules the configuration fails to load this is because validation is applied before the bean is registered with the context as a singleton

### Steps to Reproduce

Define:

[code]

And add configuration properties:

[code]

### Expected Behaviour

Should work

### Actual Behaviour

Fails with:

[code]

### Environment Information

- **M

[2020-11-25 11:34] max-kammerer commented on #3742
Hi Folks! Fix for this problem is available since `1.4.30-dev-3102` Kotlin compiler build. We would appreciate for any early feedback for this changes.
Compiler plugin could be obtained from  https://oss.sonatype.org/content/repositories/snapshots/ repository

[2020-11-25 13:08] graemerocher commented on #3742
@max-kammerer Thanks that is great news! @l0co could you try out the fix and provide feedback?

[2020-11-25 14:30] viniciusccarvalho opened #4607 "Feature Request - Allow properties to be resolved dynamically"
This request comes after a good chat with @alvarosanchez. It seems that the PropertySource resolution works as follow (and I apologize if I misunderstood or its too simplistic view)

Properties are resolved ahead of time from the environment, be it a YAML, JSON, ENV or a backend config client such as configmaps or vault. But the framework loads all the keys ahead of time.

The approach to load all

[2020-11-25 14:36] msolanikova opened #4608 "Memory leak in native image for AWS Lambda"
Max Memory Used keeps increasing when micronaut Serverless application is deployed to AWS Lambda as a native image.

### Steps to Reproduce

1. Follow instructions in official "Deploy a Micronaut function as a GraalVM Native Image to AWS Lambda" guide (https://guides.micronaut.io/mn-serverless-function-aws-lambda-graalvm/guide/index.html)
2. Test the created AWS lambda function multiple times (ste

[2020-11-25 14:53] graemerocher commented on #4608
Can you try adding `-Dio.netty.allocator.numDirectArenas=0 -Dio.netty.noPreferDirect=true` as arguments

[2020-11-25 15:00] graemerocher commented on #4607
This can be done by subclassing `DefaultEnvironment` and overriding the methods that resolve properties, although the way the code structured right now you would also have to subclass `DefaultApplicationContext` but once done you could define a `GoogleCloudApplicationContext` for example that allowed resolution to remote resources. You would probably want to cache somehow otherwise performance wou

[2020-11-25 15:05] viniciusccarvalho commented on #4607
I'll take a look on this, thank you @graemerocher

[2020-11-25 15:19] msolanikova commented on #4608
With these arguments in the bootstrap, the memory usage is much lower
* without those arguments and using -Xmx512m, Max Memory Usage for multiple requests was: 148 MB, 182 MB, 217 MB, 251 MB, 285 MB, 320 MB, 354 MB, ...
* with those arguments and using -Xmx512m, Max Memory Usage for multiple requests was: 99 MB, 101 MB, 103 MB, 105 MB, 107 MB, 109 MB, 111 MB, ...

So it's still increasing.

[2020-11-25 15:27] jameskleeh commented on #4607
@viniciusccarvalho Aren't the other apps keys already exposed if the user can simply reference them and that would lead to a request for the value? Regarding the performance issues, perhaps you could have an allowed list or pattern in `bootstrap.yml` that the user could specify to limit the number of keys that are queried?

[2020-11-25 15:30] rafaelrenanpacheco commented on #4581
Thanks Iván for that tutorial, it really helped me a lot. Shouldn't this video be linked in the readme? :smile:

There was another issue in IntelliJ, but since this change was simple it didn't hinder the development. When importing micronaut-core in IntelliJ, a lot of dependency is missing or isn't found by IntelliJ:

![image](https://user-images.githubusercontent.com/12160864/100247700-60397c00-2

[2020-11-25 16:35] rafaelrenanpacheco commented on #4583
The HTTP Client log is being enhanced in #4609, so this Logbook interceptor is no longer necessary.

[2020-11-25 16:35] #4583 closed, assigned to nobody

[2020-11-25 17:18] viniciusccarvalho commented on #4607
Yes, security is not really my biggest concern, apps with the same credentials would have access. More on the performance side on needing to list all keys inside a Secrets Manager instance.

We could use a pattern, not sure if users will look into it as a replicated work if they need to both list the keys on a config file and use `@Value` to refer to them. But it is a good alternative too

Ideally

[2020-11-25 20:13] #4581 closed, assigned to nobody

[2020-11-26 02:37] fabmars opened #4613 "HttpClient falsely claiming "Empty body" when server gives no content-type"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Description
Take an  armpit rolled server which provides **no Content-type header** although responses bodies are correct json payloads. We had this with a heavily customized Magento1 insta

[2020-11-26 16:44] meredrica commented on #3244
I have this problem too, with Micronaut 2.2.0
For us, this only happens if we have 2 pods running at the same time.
Our config is very similar to the OP. I have a feeling the metrics endpoint is the culprit.
I added a full trace log (had to remove minimal stuff like jdbc urls and env variables)

[code]

[log.txt](https://github.com/micronaut-projects/micronaut-core/files/5602183/log.txt)

[2020-11-27 02:07] rafaelrenanpacheco opened #4616 "ConstraintExceptionHandler confuse behavior for 1 and N violations"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

Hello!

Long time ago there were some changes on the [ConstraintExceptionHandler](https://github.com/micronaut-projects/micronaut-core/blob/2.2.x/validation/src/main/java/io/micronaut/validatio

[2020-11-27 21:35] dmurat opened #4622 "Usage of includes and excludes in custom resource-config.json fails native image build"
According to Graal documentation, the syntax of resource-config.json looks like the following:

[code]

However, when using this syntax with Micronaut, the native image task fails with a compilation error. The workaround is to use the alternative syntax which allows only includes:

[code]

I don't mind too much unavailability of the `excludes` clause, but I didn't found in Micronaut documentation

[2020-11-30 07:35] wbprime commented on #4630
Any progress yet ?

I guess it is due to `io.micronaut.transaction.jdbc.TransactionAwareDataSource`  donot support transaction over multiple datasource. Should I raise an issue in "micronaut-data" repo ?

[2020-11-30 08:01] meredrica commented on #4177
any news on this? we see the same behaviour with 2.2.0. RAM constantly grows until we run OOM

[2020-11-30 08:57] graemerocher commented on #4177
Will investigate, thanks for the reminder

[2020-11-30 09:03] alvarosanchez opened #6169 "Support Cloud Native Buildpacks via Paketo"
https://paketo.io/
https://buildpacks.io/

[2020-11-30 09:32] meredrica commented on #3244
Verfied the health checks again. It's not them.
The last thing that's shared by the two pods in openshift is the DB connection. We use jdbc with hikari.
This only starts happening if we scale up to 2 pods. the moment we scale down, exceptions are gone.
Any pointers where this could come from?

[2020-11-30 10:22] graemerocher commented on #4616
I agree `_embedded` should always be included

[2020-11-30 10:25] graemerocher commented on #3244
Seems like client connections being dropped unexpectedly. The error should be handled more gracefully by Micronaut though and simply logged to debug level

[2020-11-30 12:19] l0co commented on #4592
I've extracted the code [here](https://github.com/l0co/micronaut-playground/tree/micronaut-4592). You can run `SafeLowLevelClientTest`. I cannot reproduce the problem, though, while it is still present in my real project when I use Micronaut 2.2.0.

But, I have some more insight now, after fourth throwing of `ServiceUnavailableException`, `DefaultRetryInterceptor` gives up and should forward error

[2020-11-30 12:31] l0co commented on #4592
OK, I added some more lines of code to the test and now this problem is reproducible in my example repo :)

This happens only when a circuit is opened and the exception should be thrown immediately without even calling the method. Generally it looks that for Micronaut `2.1.4` the error was published by the publisher, while in `2.2.0` it's thrown.

But I suppose there's also a second bug in `Defaul

[2020-11-30 13:42] l0co commented on #3742
I'm putting the feedback to kotlin ticket.

[2020-11-30 14:34] #4630 closed, assigned to nobody

[2020-11-30 15:25] viniciusccarvalho commented on #4607
@graemerocher I was looking on how to override the `DefaultApplicationContext` but looking at the `Micronaut` code I noticed that Micronaut will load a DefaultApplication Context via: https://github.com/micronaut-projects/micronaut-core/blob/e938d4e9927d58cd802c56653f33282bc8381742/runtime/src/main/java/io/micronaut/runtime/Micronaut.java#L61

and

https://github.com/micronaut-projects/micronaut-c

[2020-11-30 15:33] graemerocher commented on #4607
you would need a subclass of `Micronaut` as well it seems

[2020-11-30 15:51] viniciusccarvalho commented on #4607
I think I'll park this for the moment then,  IMHO I still think there's a point in case to enable developers (specially those doing integration with other middlewares) to have a chance to enhance the property resolution, such as in this case. For instance if DefaultEnvironment could have an Optional ExternalPropertyResolver and if the property is not found anywhere on the chain of property resolve

[2020-11-30 18:52] jameskleeh commented on #4592
The issue here is that the executable method represents the super interface HttpClient instead of RxHttpClient. A conversion is done from the just throw publisher but the executable method represents one that returns a publisher, so no conversion is necessary.

[2020-11-30 20:19] podollb commented on #4413
I just ran into this bug too. Any large (zip, tar, tarred gzip, gzip, base64 encoded) files all were mangled once they were uploaded. The size of the original file and uploaded file matched, but somehow micronaut corrupted the contents. All other small files worked fine. It failed using any input param type in my Controller including `CompletedFileUpload`, `StreamingFileUpload`, `byte[]` as my mul

[2020-11-30 20:44] donbeave opened #4635 "Feature request: add support absolute URIs in UriMatchTemplate"
The current implementation of `UriMatchTemplate` only supports relative URIs:

[code]

But if change `urlFormat` to the absolute URI template, it will not work as expected:

[code]

[2020-11-30 21:17] rafaelrenanpacheco commented on #4616
This fix is being harder than I expected. Somewhere in the deepest of micronaut's core something is doing the following algorithm right before the output response:

1 - check if `_embedded.errors` (or any path?) is an array with 1 element.
2 - if it is, then marshal to json as object, not as an array with 1 element.
3 - else, marshal to json as an array, with 2+ elements.

This is the fix for the

[2020-11-30 21:29] nhoughto opened #4638 "non-default TypeConverters aren't available in EventListeners"
As per https://github.com/micronaut-projects/micronaut-core/blob/master/inject/src/main/java/io/micronaut/context/DefaultBeanContext.java#L2770

[code]

Event listeners are always constructed before `initializeTypeConverters` is called, which means that non-default TypeConverters like `TimeConverterRegistrar` are not available/registered, which leads to strange errors like:

[code]

when using Dur

[2020-12-01 04:33] wbprime commented on #4630
@graemerocher What about the `io.micronaut.transaction.jdbc.TransactionAwareDataSource` support for multiple DataSource ?

Here is the source of `io.micronaut.transaction.jdbc.TransactionAwareDataSource`:

[code]

Consider the inner class `DataSourceProxy`, it caches/reuses the `transactionAwareConnection` variable (as far as I see) even when multiple `BeanCreatedEvent<DataSource>` events are fire

[2020-12-01 07:07] graemerocher commented on #4630
@wbprime No it doesn't make sense either. Can you report a separate issue to https://github.com/micronaut-projects/micronaut-data/issues ?

[2020-12-01 07:12] graemerocher commented on #4616
Perhaps `ResourceSerializerModifier`

[2020-12-01 07:19] graemerocher commented on #4638
Currently no, this is a known limitation. If we initialise type converters first we will have another issue report saying it is not possible to use `BeanCreatedEventListeners` for type converters. Also in particular type converters may be have transitives that pull in several beans which all would not be able to be listened for.

I agree it is an unfortunately limitation, but I don't have a soluti

[2020-12-01 07:27] #4489 closed, assigned to jameskleeh

[2020-12-01 07:30] #3869 closed

[2020-12-01 07:49] nhoughto commented on #4638
yep true, but specifically the treatment of `@Order` could help? The biggest problem for me was that there wasn't a good way to workaround it, by defining an EventListener i can get a hook to manually register the TypeConverter, but because there is no way to ensure the order of EventListener creation, I can't be sure my TypeConverter registration EventListener will run before other EventListeners

[2020-12-01 08:18] meredrica commented on #3244
I'm not sure if this isn't a timeout issue of some sort. I see multiple exceptions in rapid succession and then silence again.

[2020-12-01 09:13] wbprime commented on #4630
Done. See <https://github.com/micronaut-projects/micronaut-data/issues/822#issue-747905492>.

[2020-12-01 09:30] graemerocher commented on #4638
I'm not sure how `@Order` would help, that would allow you to order the event listeners or order the type converters but not adjust the order of the combination of the 2

[2020-12-01 09:42] nhoughto commented on #4638
ah yeah, so just thinking about using an `BeanCreatedEventListener` as a way to execute logic early on in context creation, to ensure the TypeConverter has been registered, so if can ensure a `BeanCreatedEventListener` is created first, I can use that pattern, as it stands today can't ensure order of EventListener creation so can't use it as a way to execute logic early in context creation.

If th

[2020-12-01 09:47] graemerocher commented on #4638
only thing I can think of which is a bit hacky is to use a `PropertySourceLoader` implementation and register converters in the passed `Environment` and return `Optional.emtpy()`. This would have to be registered via service loader with a `META-INF/services`

[2020-12-01 09:48] #4638 closed

[2020-12-01 10:35] l0co commented on #3742
It seems it's [fixed](https://youtrack.jetbrains.com/issue/KT-40493#focus=Comments-27-4560145.0-0). I've upgraded the test repo with [this commit](https://github.com/l0co/micronaut-playground/commit/82f486fa7bb534323c860d8c678647cc97ae35de) where you can check it works. However, I'd wait with resolving this ticket to official release. In the meantime I'm going to work a bit with this version in ID

[2020-12-01 11:39] graemerocher commented on #3742
@l0co that is great news! @max-kammerer thanks and I am glad KAPT is getting some attention :)

[2020-12-01 12:40] graemerocher commented on #4177
@vinhbt I am not able to reproduce with the example attached (I upgraded the sample to 2.2.0), I have tried reducing my docker resources, did you place load on the server with something or how did you call the server? I have run 30-40 curl requests and memory usage is largely stable (fluctuates sometimes but goes back down)

@meredrica if you have another example please feel free to attach to the

[2020-12-01 13:05] graemerocher opened #4641 "ClassElement.getBeanProperties doesn't return record properties"
The `ClassElement.getBeanProperties` method does not currently return record components as properties this results in various things breaking downstream (Micronaut Data support for records, OpenAPI generation for records etc.)

[2020-12-01 13:16] volkerrichert opened #4642 "incemental compiling can't be used beacuse gadle doesn't know anything about META-INF/spring-configuration-metadata.json"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Setup gradle with incremantal compiling enabled
2. start gradle with --info
3. change some code to start recompiling

### Expected Behaviour

I expect gradle to compi

[2020-12-01 13:17] ckosmowski opened #4643 "HTTP/1 Clear Text Requests to HTTP/2 servers wait forever, if called with DELETE method and Body"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-12-01 13:41] graemerocher commented on #4642
Note this only impacts projects that define `@ConfigurationProperties`

[2020-12-01 13:47] volkerrichert commented on #4642
yes, i use ConfigurationProperties to have app configs. Any way to solve it?

[2020-12-01 14:46] graemerocher commented on #4642
Not right now, will need a bug fix

[2020-12-01 14:47] volkerrichert commented on #4642
Ok, i'll stay turned

[2020-12-01 14:55] volkerrichert commented on #4643
I also had this issue with "PUT", as I described on gitter / questions on Nov. 25 18:16

[2020-12-01 15:30] graemerocher commented on #4643
Can one of you attach an example

[2020-12-01 18:47] wetted commented on #4455
The provided example is missing the `@Factory` annotation on `ValidationFactory` but I confirmed that the `AlwaysFalse` constraint validator is not invoked by the Micronaut's `DefaultValidator` for the cascading validation, whereas it is for non-cascaded validation.

[2020-12-01 21:13] #4335 closed, assigned to graemerocher

[2020-12-01 21:13] #4641 closed, assigned to graemerocher

[2020-12-02 08:05] vinhbt commented on #4177
@graemerocher
I have tried with 2000 call for my example.

for i in `seq 1 2000`; do curl --location --request GET 'http://localhost:8080/api/user/test' \\n--header 'Authorization: Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI0OTgiLCJuYmYiOjE2MDEzMDAzNzIsInJvbGVzIjpbIlVTRVIiXSwiaXNzIjoibWljcm9uYXV0LXN3YWdnZXIiLCJtb2JpbGUiOiIrODQ1NTU1NTU1NTUiLCJleHAiOjE2MDEzODY3NzIsImlhdCI6MTYwMTMwMDM3Mn0.o3srTjnsYifbIHq

[2020-12-02 09:10] volkerrichert opened #4646 "micronaut-cache does not work with Rx3 - Single"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-12-02 09:21] graemerocher commented on #4177
@vinhbt ok will try.. thanks

[2020-12-02 09:27] graemerocher commented on #4622
This config files don't have much to do with Micronaut, you should report the issue to the GraalVM issue tracker

[2020-12-02 10:34] dmurat commented on #4622
I don't think GraalVM is the problem, but I realized that my report was not clear.

The problem occurs when the user configures its own `src/main/graal/resource-config.json` which Micronaut's Gradle task tries to merge with the generated one. It is very likely that the user will follow GraalVM documentation related to the format of the file, and he will find that `"resources"` is not a list, but r

[2020-12-02 10:41] volkerrichert commented on #4643
check out https://github.com/volkerrichert/mnIssus4643 and run tests. It will fail on put.

reorder test wit get first or switch to http 1.1

[2020-12-02 10:42] volkerrichert commented on #4643
current test will fail with:

[code]

[2020-12-02 10:54] graemerocher commented on #4622
Ah I see, understood. In general I think we need to move away from static resource generation with `io.micronaut.graal.reflect.GraalTypeElementVisitor` so this is part of that

[2020-12-02 11:39] #4586 closed, assigned to nobody

[2020-12-02 12:20] pontello commented on #4590
O believe I am facing a similar issue. For my case, a POJO similar to bellow used to work fine:

[code]

But after upgrading to micronaut 2.1.x validation started crashing with:

If you look carefully, my code does't make much sense because I am saying that **fields** must be `@Valid` but I haven't provided any validation rules. If I add `@Size(max=3)` to make sense of it, I stop getting the intro

[2020-12-02 12:33] graemerocher commented on #4643
@volkerrichert the example works if you inject an HTTP/2 client

[code]

So the actually problem is HTTP 1.1 clients can't talk to an HTTP/2 server, that clears things up. Investigating... not sure if a bug yet.

[2020-12-02 12:53] volkerrichert commented on #4643
But why does it work after doing the GET - request first? This request shouldn't work also. Thats's stange.

[2020-12-02 13:14] ckosmowski commented on #4643
If this is the case, i would suggest a downgrade feature or something. Because at least in my case you rarely are aware of all the clients using your server and you are not in control of changing the clients.

[2020-12-02 13:28] graemerocher commented on #4643
@volkerrichert there is a bug in the way the Netty channel is downgraded to HTTP/1.1 which I am looking into. But the root cause is attempting to send HTTP/1.1 requests over HTTP/2

@ckosmowski in this case the downgrade support is not working but only if the request has a body (like a `PUT` or a `GET`)

It seems to be a core Netty issue because the `CleartextHttp2ServerUpgradeHandler` which we ar

[2020-12-02 13:40] ckosmowski commented on #4643
@graemerocher Thank you for claryfiing.

When `CleartextHttp2ServerUpgradeHandler ` is involved would you expect this to work with self signed certificates and SSL enabled?

[2020-12-02 14:11] #4642 closed, assigned to graemerocher

[2020-12-02 16:08] #4592 closed, assigned to jameskleeh

[2020-12-02 16:30] graemerocher commented on #4643
Yes SSL uses a completely different codepath and doesn't involve `CleartextHttp2ServerUpgradeHandler`

[2020-12-02 16:39] #4413 closed, assigned to jameskleeh

[2020-12-02 16:56] preyest1300 commented on #4635
Hi! If there is no one working on this I would like to tackle it.

[2020-12-02 17:07] graemerocher commented on #4635
Sounds great!

[2020-12-02 18:10] #4606 closed, assigned to graemerocher

[2020-12-02 18:32] donbeave commented on #4635
@preyest1300 Wow!!! Thank you so much!!!

[2020-12-02 18:45] tandel-pratik opened #4653 "Disable access logger for management endpoints"
Access Logging described here: https://docs.micronaut.io/latest/guide/index.html#accessLogger is turned on for both management and regular HTTP endpoints. For services that have scrapers that hit the health / info endpoints this introduces a lot of logging and it'd be ideal to disable those logs.

### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example

[2020-12-02 18:59] jameskleeh commented on #4590
If you have any ideas for improvement, please present them here. PRs welcome

It must be introspected if validation is cascading to the objects properties. In the original code having `@Valid` had no effect. You can simply remove the annotation if there is nothing to validate. If there is another constraint annotation other than `@Valid` then we assume the validation is happening on things like st

[2020-12-02 23:53] kavithaThirumoorthy opened #4656 "RxHttpClient is not identifying proxy servers IP address changes"
**Steps to Reproduce:**
 1. We are using Micronaut application as docker container in AWS ECS and using a proxy for public access from within VPC. The proxy is having dynamic ip allocation and the ip can change over time.

2. In this application  custom HttpClientConfiguration is used for RxHttpClient. The proxy is set in the following way

**Configuration class:**
public class CustomHttpClientCon

[2020-12-03 00:44] ivangfr commented on #4585
Hi @ilopmar , I tried to apply the workaround in my application, i.e, add `--features=org.graalvm.home.HomeFinderFeature` in `native-image.properties`,

But I am getting
[code]

The issue above was discussed here (https://github.com/micronaut-projects/micronaut-gradle-plugin/issues/50) and it's because I set back the `native-image.properties` in `META-INF/native-image`.

How can I set `--features=

[2020-12-03 07:42] #3671 closed

[2020-12-03 07:45] #4455 closed, assigned to wetted

[2020-12-03 07:57] ilopmar commented on #4585
@ivangfr The issue is not that you have a  `native-image.properties` file but that it contains `-H:Class=xxx` and `-H:Name=xxx` properties. Remove only those properties from your `native-image.properties` file.

You can also pass parameters to the native-image with:
[code]

[2020-12-03 11:06] graemerocher opened #4658 "CDI Alignment Tasks"
The following issue covers the tasks required to assign Micronaut's DI system with CDI such that future compatibility with CDI lite can be achieved. This is an epic issue covering many other sub issues that need to implement to correctly support a proposed future CDI lite specification.

### Task List

- [x] Support for Annotations on Generic Type Arguments. (Fixed in https://github.com/micronaut-

[2020-12-03 11:23] ivangfr commented on #4585
Thanks. Yes, I am able to compile the native image and run it.

The search for movies feature works but, when I try to index a movie, the app hangs on the same point as in your test app
[code]
I've tried also with Elasticsearch `7.10.0`, the same problem.

[2020-12-03 14:47] timducheyne opened #4660 "@RequestScope not working when using kotlin coroutines"
### Steps to Reproduce

[code]

just call /hello
this will launch new coroutine and this loses the thread local scope
as a result the call to requestContextService.id  will give a no such bean exception

### Expected Behaviour

The request scope should be maintained over coroutines in same way as it is done in rx java integration.

### Actual Behaviour
[code]

### Environment Information

- **Micr

[2020-12-03 16:33] #4616 closed, assigned to nobody

[2020-12-03 18:34] prabhu43 opened #4662 "Not able to configure log level of root logger in Log4J2"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Add application property `logger.levels.root: INFO`

### Expected Behaviour

level of root logger should be set to INFO

### Actual Behaviour

level of root logger is

[2020-12-03 18:54] zinoviy23 opened #4664 "Wrong JSON generated from reactive controller"
### Steps to Reproduce

1. Create reactive controller
[code]
2. Run app and check `/reactive` endpoint. It returns

### Expected Behaviour
Endpoint returns:
[code]
like corresponding enpoint:
[code]

### Actual Behaviour
It returns
[code]
which is invalid JSON.

### Environment Information

- **Operating System**: macOS Big Sur 11.0.1
- **Micronaut Version:** 2.2.0
- **JDK Version:** 11

[2020-12-04 01:30] mcanalesmayo commented on #3578
Would be nice to have this soon.

Our use case is that our app has two protocols/interfaces:
- One of them is HTTP, which is handled by a controller.
- The other one is via Kafka events, so we are receiving HTTP information in those events (like method, path, query parameters, headers, body, etc) and we convert it into the `@RequestBean` POJO to call the controller layer, as we don't want to dupli

[2020-12-04 09:44] ilopmar commented on #4585
Yeah, maybe the issue is on Elasticsearch or GraalVM side, not sure...

[2020-12-04 10:07] #4662 closed, assigned to nobody

[2020-12-04 13:40] TorosyanV commented on #3879
I'm also trying to use @PathVariable with @RequestBean, but seems it's not supported. I don't have any errors, but from logs I can see that PathVariable has not been set in request url.

[2020-12-04 14:26] TorosyanV opened #4666 "Declarative client with @RequestBean and @PathVariable not working"
When I'm using declarative client with **@RequestBean** and **@PathVariable** generated path is wrong,
provided @PathVariable is missing.

### Expected Behaviour

When I have client like this

[code]
and have POJO is
[code]
Should be  Send HTTP Request: GET /users/someUserName

### Actual Behaviour
Where is no any PathVariable after /users
example from logs
`[default-nioEventLoopGroup-1-4] DEBUG i

[2020-12-04 14:49] asodja commented on #4666
~Most likely this is because in 2.1.3 `@RequestBean` is not supported for `@Client`. I see that support was added few days ago in https://github.com/micronaut-projects/micronaut-core/pull/4610.~

Update: nvm, I tried 2.2.x branch and `@PathVariable` for Client does not work there either.

[2020-12-04 17:21] tandel-pratik opened #4669 "Request deserializer doesn't respect `jackson.property-naming-strategy`"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-12-04 17:24] jameskleeh commented on #4669
Is `MyRequest` annotated with `@Introspected`?

[2020-12-04 17:29] tandel-pratik commented on #4669
Yes it's annotated with `@Introspected` and the controller annotates it's method with `@Body @Valid`

[2020-12-04 17:44] jameskleeh commented on #4669
@pratik-brex An example app would make it more likely that this gets attention sooner

[2020-12-04 20:19] ivangfr commented on #4585
@ilopmar , I've been playing around with this problem and, it's weird because the app hangs by even calling the no-args constructor `IndexRequest`.
[code]
The same happens with `DeleteRequest` and `BulkRequest`.

The `SearchRequest` is an exception, so that is why the _search_ is working.

What do the Index/Delete/BulkRequest classes have that is different?

Here are their signatures
[code]

[2020-12-04 21:28] tandel-pratik commented on #4669
Here's a repro: https://github.com/pratik-brex/micronaut-demo/tree/main/mndemo and this test fails: https://github.com/pratik-brex/micronaut-demo/blob/main/mndemo/src/test/kotlin/mndemo/HelloControllerTest.kt with this stack trace

[code]

[2020-12-05 05:27] kevintanhongann commented on #586
I was doing this query on hibernate-gorm 2.2.0 and get this error as well.

`def merchant = Merchant.where {
        account.email == emailOptional.get()
      }.get()`

[2020-12-06 00:13] loveshah751 commented on #4635
Hi Guys.

I think I have solved this issue. Below is the output after I made changes.

**> Task :http:uriMatchTemplateTest.main()
Optional[/post/abc]
Optional[https://www.mydomain.com/post/abc]**

Is this what you are expecting for this issue.

Thanks
Lovepreet Singh

[2020-12-06 08:51] donbeave commented on #4635
Yes, looks correct.

[2020-12-06 16:26] brunovale91 opened #4674 "Coroutine parameter not available on @Validated controller"
### Task List

- [ X ] Steps to reproduce provided
- [ X ] Example that reproduces the problem uploaded to Github
- [ X ] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create @Validated controller
2. Create coroutine function with a parameter, annotate the function with @Get and the paramater with @Parameter
3. Call corresponding rest endpoint

### Expected Behavio

[2020-12-06 18:01] rafaelrenanpacheco opened #4675 "Feature request - Trim request strings"
Hello!

First of all, is there a way to trim string fields from requests globally? Usually there is no reason to accept a string field with blank spaces before and after the string, which leads to a codebase full of this:

[code]

The above case is null safe because the request payload has the `@NotBlank` rule. Otherwise it would require a null check or the use of some helper like `trimToNull`.

S

[2020-12-06 21:02] loveshah751 commented on #4635
Sounds good then. I will create a PR for this issue. But do I need to write groovy test case, as I don't saw any junit test cases for this project.

[2020-12-07 15:39] jameskleeh commented on #4674
Unfortunately this is a bug in kapt. I've reported an issue for you here: https://youtrack.jetbrains.com/issue/KT-43804

In the meantime, you can work around this issue by using `@QueryValue("test")`. Note that `@Parameter` is not an annotation related to HTTP and thus has no effect in this case.

[2020-12-07 15:48] jameskleeh commented on #4675
This is some code I found that should do want you want:

[code]

This could be in our code base only enabled by toggling on a configuration option by adding `@Requires(property = "jackson.trim-strings", value = StringUtils.TRUE)` to the class

[2020-12-07 17:19] jameskleeh commented on #4664
@zinoviy23 We make the assumption that if a string is returned then it has already been converted to JSON. We wouldn't be able to determine the difference between returning a JSON string and just a regular string. The non flowable version works because a list is returned and the entire list is encoded at once. If you changed the signature to be `Flowable<List<String>` that would work as well.

[2020-12-07 17:19] #4664 closed, assigned to nobody

[2020-12-07 17:20] brunovale91 commented on #4674
Thanks, I've managed to get it working.

First, I tested the query value annotation but was still getting the same issue. I guess we have to specify the query parameter name explicitly and I was missing that.

PathVariable and Header also seem to be working with the workaround.

[2020-12-08 01:27] kavithaThirumoorthy commented on #4656
Hi Team, any update on this. It is very critical issue for us.

[2020-12-08 03:37] luosheng opened #4680 "Static resource resolver doesn't handle URL decoding properly"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Generate a project and add openapi feature
2. Config static resource router to enable http access to generated openapi yml file
3. Update the openapi annotation, and

[2020-12-08 06:02] loveshah751 commented on #4635
#4682, Add the PR for the above issue

[2020-12-08 07:01] stigmelling opened #4683 "Duplicate events triggered by ApplicationEventPublisher"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-12-08 08:10] gokhanoner commented on #2664
@graemerocher any update on this one? Even with Application Event listener, the first message printed is this one
[code]

so application is technically started shutting down & Micronaut prevent accessing any APIs. The use case here is Cloud deployment, especially AWS ECS/Fargate or similar serverless environments. Example: Fargate spot instances can send a SIGTERM to the instance 2 min prior to ac

[2020-12-08 10:56] l0co commented on #4592
Looks fixed in `2.2.1`.

[2020-12-08 11:00] l0co opened #4684 "@Replaces scenario with @MockBean broken in 2.2.1"
Broken in `2.2.1`, works in `2.1.4`.

I have following beans and tests:

[code]

In `2.2.1` this results in:

[code]

### Reproducible example is [here](https://github.com/l0co/micronaut-playground/tree/micronaut-4684)

[2020-12-08 11:10] l0co commented on #4684
Please note that this works when I change `ReplacingBean` to replace concrete class, not an interface:

[code]

However, I can't do that in the project because there's no such class, because `IMyBean` is a `@Client`:

[code]

Please also note, that the above construction worked in `2.1.4`, so it seems to be possible.

[2020-12-08 18:24] luis-valdez commented on #4317
Hello! I would like to make my first contribution. Can I work on this?

[2020-12-08 18:36] jameskleeh commented on #4683
Remove the `@EventListener` annotation. It's only needed for methods in classes that do not implement `ApplicationEventListner<T>`

[2020-12-08 18:36] #4683 closed, assigned to nobody

[2020-12-08 20:28] glats opened #4685 "@Valid doesn't trigger contstraints with @Data from lombok"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a new project with maven and openapi features.
2. Install and configure lombok as it says  [here](https://docs.micronaut.io/latest/guide/index.html#lombok)
3.

[2020-12-09 09:24] graemerocher commented on #2664
Try `ApplicationShutdownEvent` instead of `ShutdownEvent`

[2020-12-09 09:26] graemerocher commented on #2664
Seems as well you could also throw an exception from your event listener and then use `
[code]

[2020-12-09 09:32] #4680 closed, assigned to jameskleeh

[2020-12-09 09:37] #4666 closed, assigned to jameskleeh

[2020-12-09 09:40] #4635 closed, assigned to nobody

[2020-12-09 10:10] donbeave commented on #4635
@loveshah751 thank you!

[2020-12-09 14:35] gabbagnale commented on #4675
hello, u mean add a trim to the Introspected bean used as a RequestBean?

[2020-12-09 17:16] deining opened #4695 "Documentation: several broken links in chapter 5.5 Cache advice"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Visit chapter 5.5 [Cache advice](https://docs.micronaut.io/latest/guide/index.html#caching) of Micronaut documentation
2. Click one of the several links given there (

[2020-12-09 19:15] #4613 closed, assigned to jameskleeh

[2020-12-09 19:55] gokhanoner commented on #2664
@graemerocher `ApplicationShutdownEvent` is working, thank you.

[2020-12-09 21:05] jameskleeh commented on #4685
@alvarosanchez This is specific to Maven. It seems the annotation processor order is not respected. I created an equivalent gradle build and it works as expected.

[2020-12-09 23:03] katoquro commented on #3552
Hello! I've faced with interesting issue. I use interfaces for my controllers to make clients in tests and go through them like via bean. So all API annotations are inside interface like

[code]

But if I don't copy `@Nullable` annotation to the controller

[code]
it leads to the Exception

[code]

Are these Issues related? Github thinks so )))

[2020-12-10 08:13] alvarosanchez commented on #4685
The problem is this line: https://github.com/glats/lombok-validator-example/blob/master/pom.xml#L110

It must be:

[code]

Micronaut Launch generates the correct POM.

[2020-12-10 08:13] #4685 closed, assigned to alvarosanchez

[2020-12-10 10:15] willemsst commented on #4332
Hoping for a solution as well. I am running 2.2.1.

Strictly speaking, you're right the Content-Type is malformed. But, I've a public facing api. Apparently people send the craziest requests out to random domain names.. could even be a stupid search bot that's causing me stacktraces in my logs.

So a solution would be appreciated. e.g. strip unexpected chars like ", or silently ignore and go for a

[2020-12-10 11:53] glats commented on #4685
I see. Thank for your answer. However, is it possible to add this to the official [documentation](https://docs.micronaut.io/snapshot/guide/index.html#lombok)?

[2020-12-10 12:23] alvarosanchez commented on #4685
Sure. I created #4701

[2020-12-10 12:37] thhart opened #4702 "Tuning Annotation processor"
I have a big project with a lot of modules and dependencies, annotation processing is enabled where I want to achieve however the controllers are not getting registered. I know this might have a lot of reasons but instead of fixing the world I would like to understand how the processor gets started and if I can control it manually in a better way. Preferable by scoping it to specific packages. Unf

[2020-12-10 13:24] graemerocher commented on #4457
Duplicates #4307

[2020-12-10 13:24] graemerocher commented on #4457
Actually this is the more general issue, sorry for the noise

[2020-12-10 13:25] graemerocher commented on #4307
Depends on #4457

[2020-12-10 21:21] allanneves commented on #4568
Hi @graemerocher,

I'm not sure if that's an issue or Micronaut is working as designed, but after a debug session I've found out that a String with Optional.empty() gets wrapped in another optional at:

    io.micronaut.web.router.AbstractRouteMatch.java:386

For an Optional.empty() where the type is Integer, the type and value match at the if-statement at line 386, on the other hand, an Optional.

[2020-12-10 21:23] jameskleeh commented on #4568
@allanneves Is that related to this ticket? Seems like you're referring to the server and this issue is for the client.

[2020-12-10 21:31] allanneves commented on #4568
Hi @jameskleeh,
   Thanks for the prompt response. I cloned @mscheibler's repo and debugged it from there.

   There is a test that creates a Client (interface annotated with @Client) injected by javax.Inject. He asserts in the test that actual and expected String will be the same. what happens is that actual is wrapped in another Optional when the response body is called.

   Did I look into the

[2020-12-11 07:58] fabmars commented on #4613
Thank you.

[2020-12-11 09:58] deining commented on #4695
Please note that this issue is completely independent from my latest PR (#4694, #4704).
The issue raised above has **not** been addressed yet, so this issue should be reopened.

What I'm observing here:

Links in chapter 5.5. `Cache Advice` do work when invoking the snapshot of the user guide:
https://docs.micronaut.io/snapshot/guide/index.html

An example for an valid link is:
https://docs.micron

[2020-12-11 10:16] dstepanov opened #4709 "Bridge method generator fails when mutli-dimension array is used"
2.2.1

Steps to reproduce:
Modify existing test bean:
[code]
Run `io.micronaut.aop.introduction.with_around.IntroductionWithAroundOnConcreteClassSpec`

Error:
[code]

Not sure what is wrong, I have tried to upgrade ASM but it didn't help.

[2020-12-11 14:22] jameskleeh commented on #4695
@deining The source files that are being linked no longer exist in this repo so that is the cause of the 404s. The links should instead go to https://micronaut-projects.github.io/micronaut-cache/latest/api/io/micronaut/cache/CacheManager.html for example

The reason it works in snapshot is because the files used to exist in the snapshot docs and we don't clear out old files when publishing new ver

[2020-12-11 14:26] jameskleeh commented on #4702
I'm not aware of a way to limit what classes are scanned/processed by package. If you have a valid use case for something like that you can file an issue. In the future questions should be asked in our [gitter](https://gitter.im/micronautfw) or start a [discussion](https://github.com/micronaut-projects/micronaut-core/discussions)

[2020-12-11 14:26] #4702 closed, assigned to nobody

[2020-12-11 17:15] blazejkarmelita commented on #2024
Hi there. Any update on this one?

[2020-12-11 20:17] #4568 closed, assigned to jameskleeh

[2020-12-11 20:18] jameskleeh commented on #4568
@allanneves I'm not sure. I didn't need to look at the example app as the issue was clear for me. You can see the commit above to see the added test that uses optional in client methods and passes.

[2020-12-11 23:31] mscheibler commented on #4568
Thanks for looking into it.

[2020-12-12 07:35] ghost opened #4712 "Validating the POJO record with Micronaut 2.2.1 not working"
**Using Micronaut bean validation for the record class is not working**

`compile 'io.micronaut:micronaut-validation:2.2.1'`

**Record class**

[code]

**CURL**

[code]
**Controller method**

[code]

**Error**

[code]

[2020-12-13 09:35] graemerocher commented on #4712
This is fixed in the 2.2.2 snapshot by https://github.com/micronaut-projects/micronaut-core/pull/4699

[2020-12-13 09:35] #4712 closed, assigned to nobody

[2020-12-14 04:28] kavithaThirumoorthy commented on #4656
Hi Team, any update on this. It is very critical issue for us.

[2020-12-14 16:07] charkins commented on #3672
Thanks! This can be accomplished with gradle eclipse by adding this to build.gradle:
[code]

[2020-12-15 12:23] LtTempletonPeck commented on #4295
+1

I am also experiencing the same issue after adding the parameter-store dependency

[2020-12-15 13:48] swanandvk commented on #4284
@graemerocher  @jameskleeh
is this resolved in any recent versions , cause I am also facing the same issue with MicronautRequestHandler

[code]

[2020-12-15 14:05] LtTempletonPeck commented on #4295
Sadly disabling all things eureka in the `application.yaml` did not help :disappointed:
[code]

[2020-12-15 16:16] LtTempletonPeck commented on #3939
I have the same problem with an AWS lambda function but adding the the log config to the `bootstrap.yml` works

[2020-12-15 16:37] blazejkarmelita opened #4716 "Micronaut does not use Jackson custom serializer / deserializer for Serverless"
Custom Jackson serializers / deserializers configured with the ObjectMapper are working in Micronaut test but not working when testing with for AWS SAM.

The enclosed sample is a working example generated from Micronaut Launcher that has been modified to make it easier to reproduce issue. Changes made are:

1. Book POJO class does not have a public constructor but the static factory method instead

[2020-12-15 16:45] #4695 closed, assigned to nobody

[2020-12-15 17:56] #4675 closed, assigned to nobody

[2020-12-15 20:29] jameskleeh commented on #4452
Rxjava3 needs a release but waiting for the build plugins issue to be resolved

[2020-12-16 06:59] swanandvk commented on #3774
I have tried adding
[code]
in the implementing class but still its giving the error
[code]
micronaut version 2.0.3

[2020-12-16 08:41] graemerocher commented on #3774
Please upgrade, 2.0.3 is quite old now

[2020-12-16 09:52] swanandvk commented on #3774
@graemerocher yes ,
just found that its fixed in #4587 , https://github.com/micronaut-projects/micronaut-core/commit/8c3085473a4391be05a19525e4e81ba6c6a1d21f
available in 2.2.x
thanks  🙂

[2020-12-16 13:10] #3774 closed

[2020-12-16 21:44] jeffscottbrown opened #4726 "Clarify HTTP Client Behavior"
The User Guide docs at https://github.com/micronaut-projects/micronaut-core/blob/5620ec15a4cd7380dfa16a97e54856bbaf5f4845/src/main/docs/guide/httpClient/lowLevelHttpClient/clientBasics.adoc include the following:

That is the first sentence under the **Receiving the Full HTTP Response** heading.

That page should clarify what "just the object" means.

[2020-12-17 09:31] adamkobor commented on #4342
We have the same issue, but - as @dave08 also pointed out - it's very hard to reproduce. Running the tests with Gradle's `--rerun-tasks` flag always solves the issue, however.

[2020-12-17 10:53] javeleon opened #4729 "Generated static initializer blocks are unstable when "irrelevant" changes are made to the associated source"
For the sake of class reloading systems, it's important that the output of annotation processors is stable across compilations. Currently, some of the output is unstable. The below reproducible case is just one sample of this instability in the generated output, but there's likely other similar cases.

### Steps to Reproduce

1. Create a Controller-annotated class
2. Add e.g. Get-annotated method

[2020-12-17 14:13] l0co opened #4730 "Beans are sometimes not injected in junit tests"
In `2.1.4`, but I've also caught it in previous version.

Sometimes tests are not executed, but the following exception is thrown:

[code]

Interesting thing is that it somehow depends on test class structure (hash?), so I suppose there's a race condition somewhere during tests instantiation or not enforced a proper order in some hash maps/sets.

I've caught it with my test class. I can reproduce

[2020-12-18 18:37] #4709 closed, assigned to jameskleeh

[2020-12-18 19:35] jameskleeh commented on #4730
There is no Micronaut code in that stacktrace so I don't see how we could be the cause

[2020-12-18 22:37] tandel-pratik commented on #4653
@graemerocher I'm thinking of just taking a stab at it. From an API perspective, should I go with a boolean value to disable / enable it for management endpoints or should I try something else? I don't know if it's common to have more than 2 HTTP servers (default one, management one) and in those use cases something that's not represented as a boolean would be better.

[2020-12-20 13:09] kristofvb opened #4732 "Conflicting HttpResponseFactory instaces"
I have a Controller class running in a Lambda with an API gateway in front of it. The controller issues an http request to a website that redirects. Out of the box the initial response with the redirect cannot be constructed. A friendly person pointed me to a [solution](https://stackoverflow.com/questions/65133277/httpclient-not-handling-body-after-redirect).

With the `SimpleHttpResponseFactory`

[2020-12-20 21:43] zinoviy23 opened #4733 "@Retryable doesn't work for bean factories like mentioned in documentation"
In `@Retryable` [documentation](https://docs.micronaut.io/2.2.1/guide/index.html#retry) it mentioned, that it is possible to retry bean creation in `@Factory`. But it doesn't works.

Example in doc:
[code]

There is an example with bug in the [repository](https://github.com/zinoviy23/potential-mn-retryable-bug-example).
Like in the doc there is a factory, which creates a bean.
[code]

And expected

[2020-12-21 09:01] l0co commented on #4730
I don't know. I'm just reporting not working `@MicronautTest`.

[2020-12-21 13:24] sayandigital opened #4735 "Handle 204 response in micronaut 2-Response has been wrapped in non streaming type. Do not wrap the response in client filters for stream requests"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-12-21 16:33] defect-slayer opened #4736 "Micronaut @Client("/") UnknownHostException"
I have some test anotated with `@MicronautTest`, and client is injected as

[code]

I local it works fine, but in jenkins when these tests are run inside docker I get error

[code]

It doesn't says anything what it is trying to access as host (localhost, 127.0.0.1 or containerid)

containers are running without network, and most probably enabling network is not an option.

how to fix this?
### Tas

[2020-12-21 17:17] jeffscottbrown commented on #4736
[code]

[code]

Are you seeing that a test like that will fail if run inside of a Docker container?

[2020-12-21 19:10] #3425 closed

[2020-12-21 19:16] defect-slayer commented on #4736
Yes exactly.
But I think problem is the way docker is run. I am running it in a CICD process and there its run inside docker where networking is not enabled.
May I know somehow when I use ` @Client("/")` and make a request, where does the request goes.
* localhost?
* 127.0.0.1
* or some where else?

[2020-12-21 19:31] jameskleeh commented on #4736
@devloper-404 That is resolved here https://github.com/micronaut-projects/micronaut-core/blob/2.2.x/http-client-core/src/main/java/io/micronaut/http/client/DefaultLoadBalancerResolver.java#L95

I would need a sample app and steps to reproduce to debug this further

[2020-12-21 19:33] jameskleeh commented on #4735
Please upload an example application with steps to reproduce. This does not give me enough information to begin to understand the problem

[2020-12-21 19:50] sgrimm opened #4737 "Default Netty access log format causes warnings to be logged"
### Steps to Reproduce

Add the following to `application.yml` with the Netty HTTP server configured:

[code]

Optionally add a log appender to `logback.xml` per the documentation, though that's not necessary to reproduce the problem.

### Expected Behaviour

The server starts up cleanly and logs requests to the access log in Common Log Format.

### Actual Behaviour

The server starts up, but logs

[2020-12-21 20:05] jameskleeh commented on #4733
@zinoviy23 The documentation is misleading. I don't know if it was created a time when it in fact did work the way you're expecting or if it was just poorly worded. `@Retryable` on a factory method will allow the methods in the returned bean to be retried. The bean creation itself is not retryable. You can achieve that by delegating the bean creation to a singleton bean with `@Retryable` on it. If

[2020-12-21 20:10] zinoviy23 commented on #4733
I see, thank you.

[2020-12-21 20:10] #4733 closed, assigned to jameskleeh

[2020-12-22 04:21] kyriehan89 commented on #3856
Hi ANy update? I have similar issue

[2020-12-22 05:24] rferreira opened #4739 "Content type header not being added to static assets"
Hello folks, in a fairly basic setup with micronaut/netty (v2.2.0) serving static assets but they are not getting any content type.

### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Setup a new micronaut project
2.

[2020-12-22 07:00] bakatz commented on #4736
@jameskleeh I am seeing this issue even outside of a docker container. AdoptOpenJDK11, latest stable Micronaut version

`DefaultLoadBalancerResolver` doesn't even get invoked so your fix won't be applied. The issue is in this method: `io.micronaut.http.client.netty.RxNettyHttpClientRegistry#getClientKey` where the client key returns a null ID, therefore the clientID check fails and DefaultLoadBala

[2020-12-22 09:01] sayandigital commented on #4735
We are connecting to an API which returns 204 with empty body as an response.
When using Flowable<Response> we get the IllegalStateException.
Response has been wrapped in non streaming type. Do not wrap the response in client filters for stream requests

Tried with CompletableFuture<Response> gives   received HTTP error response: Empty body
io.micronaut.http.client.exceptions.HttpClientResponseExc

[2020-12-22 12:07] dant3 commented on #3530
We're seeing this with Micronaut 2.0.1 again. Consul is 1.9.0

[2020-12-22 12:36] dant3 commented on #3530
The problem is the json micronaut generates to register:
[code]

Notice that Checks[0] has field "ID":null
After Consul 1.7 this field is invalid, it should be "CheckID"

[2020-12-22 12:38] dant3 commented on #3530
The specific problematic class is NewCheck which encodes id as "ID"

[2020-12-22 12:54] dant3 commented on #3530
Temporary workaround is to set registration.check.enabled = false in your configs, it it's acceptable in your usecase until this issue gets fixed

[2020-12-22 15:09] jameskleeh commented on #4739
I can't reproduce this. Please upload an example application with steps to reproduce

[2020-12-22 16:32] rferreira commented on #4739
Here it is, https://github.com/rferreira/micronaut-issue4739 you can validate it by simply running a curl, I'll see if I can potentially get a PR out as well.

[2020-12-22 16:35] jameskleeh commented on #4739
@rferreira I can't reproduce with your sample app:

[code]

[2020-12-22 16:35] #4739 closed, assigned to nobody

[2020-12-22 16:43] rferreira commented on #4739
wow, that's odd, I'll keep digging. Sorry for wasting your time.

[2020-12-22 17:07] #4729 closed, assigned to jameskleeh

[2020-12-22 19:33] jameskleeh commented on #4730
@l0co I would need a sample app to look into this

[2020-12-22 20:46] #4571 closed, assigned to jameskleeh

[2020-12-22 20:55] #4452 closed, assigned to jameskleeh

[2020-12-22 20:58] preyest1300 commented on #2660
Hi! I have a question. What do you mean with appropriate type? Can you give me an example of the output that you expect to recieve?

[2020-12-23 00:06] ikarsokolov commented on #4669
Same issues happens with declarative HTTP client parameters binding.

[code]

[code]

[code]
Note that parentId and stateId property names are in LOWER_CAMEL_CASE.

Customizing `ObjectMapper` with `BeanCreatedEventListener<ObjectMapper>` makes no difference.

[2020-12-23 01:41] #4181 closed, assigned to jameskleeh

[2020-12-23 06:37] kevintanhongann opened #4746 "Micronaut views generator"
I've been a Grails user for a while now, and have been using Micronaut for a while now, and I feel that Micronaut is as raw as it gets for a monolithic application, and can't achieve the rapidness that we all desire.

Based on grails command lines like

`grails generate-views com.example.ProductFormData` which produces gsp CRUD files,

I want to find a way to realize this command where

`mn genera

[2020-12-23 06:46] kevintanhongann commented on #4746
`mn generate-views com.example.ProductFormData --views=thymeleaf --format=bootstrap4`

will generate views with consideration of adding bootstrap css classes to the templates.

[2020-12-23 10:10] jiraguha commented on #2002
Hi folks, Is there any news on this topic? What we are waiting for?

[2020-12-23 12:59] graemerocher commented on #2002
Just a matter of priorities, contributions welcome though!

[2020-12-23 13:00] graemerocher commented on #4746
Contributions welcome! The CLI code is at https://github.com/micronaut-projects/micronaut-starter

[2020-12-23 15:27] #4332 closed, assigned to jameskleeh

[2020-12-23 16:06] jameskleeh commented on #3879
Duplicate of https://github.com/micronaut-projects/micronaut-core/issues/4666

[2020-12-23 16:06] #3879 closed

[2020-12-23 16:38] #3787 closed

[2020-12-23 16:42] #3701 closed

[2020-12-23 16:46] jameskleeh commented on #3215
@chenjpu If the type being injected does not implement `Ordered`, we assume none of the implementations do either. You can use the `@Order` annotation for this use case.

[2020-12-23 16:46] #3215 closed

[2020-12-23 16:47] #3007 closed

[2020-12-23 16:50] jameskleeh commented on #2946
Duplicate of https://github.com/micronaut-projects/micronaut-core/issues/4674

[2020-12-23 16:50] #2946 closed

[2020-12-23 16:51] jameskleeh commented on #389
This landed in 2.2

[2020-12-23 16:51] #389 closed

[2020-12-23 16:52] #1924 closed

[2020-12-23 16:53] #1418 closed

[2020-12-23 16:54] #2355 closed

[2020-12-23 16:56] #2364 closed

[2020-12-23 16:59] #4726 closed, assigned to jameskleeh

[2020-12-23 22:08] ikarsokolov opened #4751 "Jackson property naming strategy is not used by declarative HTTP client to serialize method params"
### Steps to Reproduce

1. Configure Jackson property naming strategy via application.yml.
2. Use declarative HTTP client to bind method params to request body.

### Expected Behaviour
Jackson property naming strategy is used to serialize declarative HTTP client method parameters.

### Actual Behaviour
Jackson property naming strategy is not used to serialize declarative HTTP client method paramet

[2020-12-23 22:09] ikarsokolov commented on #4751
Customizing `ObjectMapper` with `BeanCreatedEventListener<ObjectMapper>` makes no difference.

Maybe related to https://github.com/micronaut-projects/micronaut-core/issues/4669.

[2020-12-23 22:25] ikarsokolov commented on #4730
Same issue here with Micronaut 2.2.1 (default generated app from mn CLI) and Kotlin 1.4.10-1.4.20.

Sometime changes to code (especially annotations) lead to bean injection failures and other oddities. Happens with unit tests and application restarts.

`gradle clean` always fixes the issue.

IDE setup is not the cause since problem manifests from `gradle test` too.

Possibly caused by Kotlin annot

[2020-12-24 15:38] graemerocher commented on #4730
@Happy-Neko please provide an example

[2020-12-24 15:39] graemerocher commented on #4730
but yes that bug hopefully will improve the situation for Kotlin code that is compiled incrementally

[2020-12-24 16:16] dave08 opened #4752 "Failed to allocate direct memory in 2.2.1 using StreamingFileUpload"
We tried upgrading one of our services from 2.0.0 to 2.2.1 to solve file corruption in one specific upload. When we upgraded all larger uploads (~70mb) caused:` [default-nioEventLoopGroup-5-4] ERROR i.m.h.s.netty.RoutingInBoundHandler - Unexpected error occurred: failed to allocate 130023424 byte(s) of direct memory (used: 369098759, max: 496697344)` errors. When reverting (using the same resource

[2020-12-25 05:07] jameskleeh commented on #4752
@dave08 Please upload a sample app or sample code that reproduces the issue

[2020-12-26 13:23] ttzn commented on #4730
@Happy-Neko what is your Gradle wrapper version ? I had the exact same issues and they were solved by upgrading from `6.7-rc-3` to `6.7` (see #4277).

[2020-12-26 21:54] Jhraumg opened #4753 "io.micronaut.openapi:micronaut-openapi pom malformed"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-12-27 04:41] oo00spy00oo opened #4754 "[GraalVM] [Nats] Problems when running the application"
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

1. The application is built sucessfully.
[code]
2. And then run the application:
[code]
3. TODO

### Expected Behaviour

### Actual Behaviour

### Environment Informatio

[2020-12-28 14:47] tibistibi commented on #1873
Because I end up here often when I forgot how to get the url this is an option too:

[code]

[2020-12-28 15:29] jameskleeh commented on #4523
@pratik-brex I can't reproduce this. If you still can please upload an example app and I'll re-open the issue

[2020-12-28 15:29] #4523 closed, assigned to nobody

[2020-12-28 17:20] carlomorelli commented on #4753
Just reproduced with Java 15 (Corretto) / mvn 3.6.3 over Win10 and MN 2.2.2.
Additional features: graphql, h2, hibernate-validator, openapi, security-jwt, views-freemarker

Also wanted to highlight that `mvn mn:run` fails with explicit stack trace, which roots to
`Caused by: java.lang.ClassNotFoundException: io.swagger.v3.oas.annotations.responses.ApiResponse`

Looks like there is a missing runtim

[2020-12-28 20:47] #4342 closed, assigned to nobody

[2020-12-28 20:48] #4219 closed, assigned to nobody

[2020-12-28 21:40] jameskleeh commented on #2086
Duplicate of https://github.com/micronaut-projects/micronaut-core/issues/2258

[2020-12-28 21:40] #2086 closed

[2020-12-29 20:11] #3684 closed

[2020-12-29 20:29] jameskleeh commented on #3041
This is how it should be working. It's unfortunate that it changed this way from 1.2 to 1.3, however it has been some time since then so I don't think its reasonable to revert to the previous behavior. If you only want the `a` and `b` methods to be intercepted, apply the annotation to those methods only.

[2020-12-29 20:29] #3041 closed

[2020-12-29 20:35] jameskleeh commented on #2162
This is confirmed to be working in 2.2.2

[2020-12-29 20:35] #2162 closed

[2020-12-29 20:35] jameskleeh commented on #4753
Closed by https://github.com/micronaut-projects/micronaut-core/pull/4760

[2020-12-29 20:35] #4753 closed, assigned to jameskleeh

[2020-12-29 23:50] sgrimm opened #4762 "Custom type converter can't reject invalid value of optional config property"
This may be the same underlying issue as #3728.

I have a custom type converter for some optional configuration properties. I'd like invalid values to be treated as configuration errors, but the configuration properties should be set to null if the properties aren't present at all.

According to the documentation, my custom converter should be able to reject values. But the rejection is silently d

[2020-12-29 23:54] sgrimm commented on #4762
Workaround is to make the converter throw an exception, but that causes the application to log a nasty-looking stack trace rather than a useful error message.

[2020-12-30 04:06] mikebd opened #4763 "Max Source Version reported as 11 - causes compile warning when targeting a later version"
Micronaut code issue is [here](https://github.com/micronaut-projects/micronaut-core/blob/74b67f092917e52b27b918f90cc05f30eb05ae78/inject-java/src/main/java/io/micronaut/annotation/processing/AbstractInjectAnnotationProcessor.java#L75).  Thanks to [Björn Kautler aka Vampire](https://github.com/Vampire) for identifying that when I reported this in the Gradle Slack:

### Steps to Reproduce

1. New Mi

[2020-12-30 14:19] #4454 closed, assigned to jameskleeh

[2020-12-30 15:34] #3888 closed

[2020-12-30 16:15] jameskleeh commented on #4762
@sgrimm We currently don't consider this to be an error condition. If you want the value to be present you can apply validation annotations and then an exception will be thrown if the value validates those conditions, for example `@NotNull`. It seems to me that at lease these errors should be logged at the warning level.

[2020-12-30 17:31] sgrimm commented on #4762
Which validation annotation would be appropriate in this case?

`@NotNull` wouldn't be right because null indicates the user didn't set the config value at all, which is allowed. I tried `@Valid` and it had no effect that I could tell. I also tried making the field `Optional<ByteArray>` instead of `ByteArray?` but that had the same behavior: a malformed value gave me an empty `Optional` rather tha

[2020-12-30 17:38] jameskleeh commented on #4762
@sgrimm I understand how the behavior you're expecting may be desirable for some, however we can't change that behavior prior to Micronaut 3. I marked this as under consideration because we will consider the use case and decide on a path forward that is better than what we have today. It could make sense to log warnings, however there may be other ideas. Your ideas for improvement are welcome.

[2020-12-30 19:06] sgrimm commented on #4762
Ah, apologies, I misinterpreted the response. I can offer up a few ideas to start with. They're probably obvious but better to write them down.

* Define a new field annotation for this exact use case, maybe `@RequireTypeConversion`. This annotation would tell Micronaut that rejections from type converters should be treated as errors. Existing validation annotations continue to behave as is.
* Add

[2020-12-30 19:15] MichaelBen-David-GBI commented on #4763
Thanks @jameskleeh 👍🏻

[2020-12-30 19:21] mikebd commented on #4763
Thanks @jameskleeh 👍🏻

[2020-12-30 21:19] wowselim opened #4766 "Umlauts are not supported by default"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a controller and return an umlaut in the response body

### Expected Behaviour

When sending "Glück" back to the client, the client should see "Glück"

### Act

[2020-12-31 13:15] saw303 commented on #3888
@jameskleeh Sorry, I did not realize that you responded in September. Let me explain the use case to you and hopefully you might reconsider to open this issue again.

I use a `HttpServerFilter` to wrap a controllers body in to a HATEOAS model if the controller e.g. will return `application/json` or `application/xml`.

A response body that would be returned as this (without a the filter applied).

[2020-12-31 16:02] ggerbaud opened #4767 "Filter Annotations cannot be stacked on @Client (at least for HttpClientFilter)"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create two Filter Annotations
[code]
2. Create two Filters implementations
[code]
3. Create an annotation to group the two previous one
[code]

4. Create a Client
[co

[2021-01-01 09:59] re-thc opened #4768 "Support Jackson Configuration for JsonFactory"
Currently there's no way to enable / disable features for Jackson JsonFactory like there is for parser and generator. Would be great if these can also be made configurable.

https://github.com/FasterXML/jackson-core/wiki/JsonFactory-Features

[2021-01-01 10:09] re-thc commented on #3579
https://docs.micronaut.io/latest/guide/index.html#clientJackson does the @JacksonFeatures annotation not help for this case?

[2021-01-01 20:55] #4171 closed, assigned to jameskleeh

[2021-01-04 08:48] ghillert opened #4769 "Add Support for properties and @NonBinding in javax.inject.Qualifier annotations"
I am trying to use a custom @Qualifier annotation which itself contains qualifying elements/properties together with [InjectionPoint](https://docs.micronaut.io/2.2.x/api/io/micronaut/inject/ConstructorInjectionPoint.html). Although the respective `@Bean` definition looks almost exactly the same, the observed behavior, however, is different from Spring Framework. It is actually quite contrary.

Mic

[2021-01-04 12:15] sdelamo opened #4770 "Consider updating micronaut-validation to Jakarta Bean Validation 3.0"
This will enable modules such as `micronaut-hibernate-validation` to use Hibernate Validator 7.

[Jakarta Bean Validation 3.0](https://jakarta.ee/specifications/bean-validation/3.0/)

[2021-01-04 14:12] #4451 closed, assigned to jameskleeh

[2021-01-04 14:20] jameskleeh commented on #4767
@ggerbaud Seems reasonable to me. Mind sending a PR?

[2021-01-04 14:26] jameskleeh commented on #4768
@hc-codersatlas You can create a JsonFactory bean and it will be used.

[2021-01-04 14:30] jameskleeh commented on #4766
I can't reproduce this. Perhaps your client is mangling the data.

[code]

[2021-01-04 14:34] wowselim commented on #4766
I can't reproduce it on OS X either but on windows in both firefox and insomnia I was getting "GlÃ¼ck" as response. Might be a windows only issue?

[2021-01-04 14:37] jameskleeh commented on #4766
Try `@Get(produces = "text/plain;charset=utf-8")`

[2021-01-04 17:10] ggerbaud commented on #4767
@jameskleeh sure, PR sent

[2021-01-04 20:36] jameskleeh commented on #4318
Duplicate of https://github.com/micronaut-projects/micronaut-core/issues/2650

[2021-01-04 20:36] #4318 closed, assigned to nobody

[2021-01-04 20:49] jameskleeh commented on #2650
@alexwilbur Do you have any references to other clients that operate this way? curl for example doesn't do what you're describing. It seems to be a big ask of a client to implement the security measures required in order to ensure cookie data doesn't get sent to where it shouldn't.

Edit: The Java http client (in Java 11+) also does not behave this way

[2021-01-04 21:10] ghost commented on #2650
No, I don't. You can close this. Agree it does not make sense to implement anything non-standard. Thanks!

[2021-01-04 21:11] #2650 closed

[2021-01-04 23:32] re-thc commented on #4768
Sure, thanks. Possible to add it to the yaml configuration like the other features?

[2021-01-05 05:49] wowselim commented on #4766
It's still the same on Windows. This time I've included a screenshot with insomnia and microsofts edge browser.

![grafik](https://user-images.githubusercontent.com/5699586/103611214-197c7000-4f22-11eb-90ad-b061317c2d18.png)

[2021-01-05 12:39] l0co commented on #4730
@jameskleeh I cannot share the project, unfortunately.

@Happy-Neko Thanks for the hint with gradle clean, I'm going to try it.

BTW. I have gradle 6.7 and the problem is present in this version.

[2021-01-05 17:52] debuglevel opened #4773 "Configuation micronaut.server.multipart.enabled seems to do nothing"
There is a configuration setting `micronaut.server.multipart.enabled` which defaults to `false`.
As fas as I see, only this line evaluates the setting:
https://github.com/micronaut-projects/micronaut-core/blob/ebc39d4f6e3872d030763b3d5d36913262b4a062/http-server-netty/src/main/java/io/micronaut/http/server/netty/FormDataHttpContentProcessor.java#L72
which might save a `false` into this field:
http

[2021-01-05 20:50] ronhitchens opened #4774 "HEAD requests are broken for controllers returning Flowables"
I'm porting some code from another platform and it needs to have a few HEAD endpoints that return metadata in headers.  Obtaining that info entails making some calls to other services, which can be slow/expensive so it should be asynchronous.

I could not get HEAD to work correctly, either using the `@Head` annotation or implicitly via a `@Get` annotated controller.  It appears that when the reque

[2021-01-06 08:13] mcanalesmayo opened #4776 "@Introspected doesn't work for fields inherited from parent class"
When having a class extending another class, and the child class annotated with `@Introspected`, it only works for fields of the child class. Something like:
[code]

Adding `@Introspected` to the parent class doesn't help, and manually including all the fields in the annotation with `@Introspected(includes = { "contentType", "parentField", "clientId" })` doesn't work either.

Our use case is that

[2021-01-06 10:49] morki commented on #3579
@hc-codersatlas I think naming strategy is not (de)serialization feature, is it? I can't find any documentation about this, it is always configured separately, even in `application.yml`.

[code]

[2021-01-06 12:33] binoysankar commented on #1620
Hi,

I am facing the same issue with Micronaut 2.2.1 version. I use protoc compiler to convert proto files to java objects.
By default it creates inner classes in one single .java file. eg: try the below proto definition (for testing purpose).

**syntax = "proto3";

option java_multiple_files = true;

message Country {
  CountryNames countrynames = 1;
}

message CountryNames
{
  message Address {

[2021-01-06 13:16] marciomunhoz opened #4777 "Mapping optional URI variable not works properly"
I'm trying use an optional URI variable according to docs but not works.

### Steps to Reproduce

1. clone repository https://github.com/marciomunhoz/demo.git
2. `gradle run`
3. GET http://localhost:8080/test/mytest/value (HTTP/1.1 200 OK)
4. GET http://localhost:8080/test/mytest (HTTP/1.1 404 Not Found)

### Expected Behaviour

Return "HTTP / 1.1 200 OK" in both test cases

### Actual Behaviour

[2021-01-06 13:54] jeffscottbrown commented on #4777
I think your URI mapping is working as designed and you are getting a 404 because the method returns null when `val` is not provided, and that causes a 404.

https://github.com/marciomunhoz/demo/blob/fb69431c777e131729c08ff6c1cb096f5b4c07bf/src/main/java/com/example/TestController.java#L13

[2021-01-06 14:16] jameskleeh commented on #4777
@jeffbrown Thanks for looking into it

[2021-01-06 14:16] #4777 closed, assigned to nobody

[2021-01-06 14:19] jameskleeh commented on #1620
@binoysankar That seems unrelated to this issue. Please file an issue in micronaut-grpc

[2021-01-06 14:26] jameskleeh commented on #4774
If you want to return a `Flowable`, you have to indicate that only a single result is expected. That can be done with `@Get(uri = '/foo/{id}', single = true)`. Without that knowledge we assume the intent is to emit multiple items as part of the body. Alternatively you can return a `Single` and that would allow Micronaut to infer only a single item is expected.

[2021-01-06 14:26] #4774 closed, assigned to nobody

[2021-01-06 14:31] jeffscottbrown commented on #4730
Do you have incremental compilation enabled in your `build.gradle` with anything like this?

[code]

[2021-01-06 14:36] jameskleeh commented on #4776
I can't reproduce this. Please upload an app with steps to reproduce

[2021-01-06 14:39] jameskleeh commented on #4776
See https://github.com/jameskleeh/test4776 for my sample app

[2021-01-06 14:46] jeffscottbrown commented on #4156
I think the only time you wouldn't know where the request is being sent is if you are using service discovery because otherwise the URL has to be provided by the app or its config.  Are you wanting to use service discovery and then after making an HTTP call you want to know where it was sent and have that information available in the running app to act on?

[2021-01-06 15:30] #4763 closed, assigned to jameskleeh

[2021-01-06 16:12] binoysankar commented on #1620
Sure I will file and issue in grpc. Actually I am not using grpc server or its full functionality. I have the normal micronaut Application which validates a json string with proto definition and saves into db (if validation is successful).

I managed to resolve the issue having a workaround by splitting the .proto files to have maximum one inner class and import the split protos and rewire it toge

[2021-01-06 17:22] wetted commented on #4766
I tried it with a Spock test on Windows 10 Enterprise 1809

[code]
The test result is,

[code]

[2021-01-07 02:07] mcanalesmayo commented on #4776
@jameskleeh sorry for not providing a sample app
I've just forked your repo and added `@AllArgsConstructor` to the child class. Then the issue happens and all the super class fields become null. You can reproduce here: https://github.com/mcanalesmayo/test4776
Lombok doesn't add the super class fields to the all args constructor in the child, so I guess this could be related to that.

[2021-01-07 02:31] jameskleeh commented on #4776
@mcanalesmayo If a constructor exists it is used to construct the object and no further binding occurs. Either add all arguments to the constructor or use the default constructor.

[2021-01-07 02:31] #4776 closed, assigned to nobody

[2021-01-07 02:33] jameskleeh commented on #4776
@mcanalesmayo If you'd like you can create a new issue (preferably straight Java) that demonstrates this and we can likely improve the behavior.

[2021-01-07 04:13] #4767 closed, assigned to nobody

[2021-01-07 15:22] debuglevel commented on #4156
Yes, I think something like this was my use case:

1. The service discovery on my Micronaut PetStore service (`http://petstore.local`) knows 1 `PictureService`
2. Via declarative HttpClient with Service Discovery, I upload a cat picture. The `PictureService` returns `/pictures/cat01.jpg` as it's destination.
3. Now my PetStore service should send a mail to my friends with a link to that cat pictur

[2021-01-08 10:49] mranjit commented on #1748
Hello @jameskleeh  I am  facing the same issue . I have overridden  ConversionErrorHandler in my app but during runtime I got Multiple possible bean candidates found exception . Looks like default  ConversionErrorHandler is marked as @Primary . Can you please let me know how can my Implementation of ConversionErrorHandler will be picked .

[2021-01-08 12:05] graemerocher commented on #1748
@mranjit add `@Replaces(ConversionErrorHandler.class)` to your custom implementation

[2021-01-08 12:15] binoysankar commented on #2281
I am currently migrating Spring boot to Micronaut and facing the same scenario which in one of the POST endpoint I am having InputStream as body. I used the code above which @phxql used and its working.
@jameskleeh Would like to know how to use `.observeOn(Schedulers.newThread())` as am not very good in rxjava and couldn't make it work as below.

`byteStream.observeOn(Schedulers.newThread(), false

[2021-01-08 13:25] mranjit commented on #1748
@graemerocher Thank you for the quick response . This works . Thanks again !!!

[2021-01-09 09:00] ghost opened #4790 "Class which implements ApplicationEventListener<ServerStartupEvent> on Messenging-driven application are not working"
Trying to perform application logic on start up, but seems not to work with messengin-driven application. I am using Micronaut 2.2.3.

**Approach 1**

[code]

**Approach 2**

[code]

Sample Repo - https://github.com/anandjaisy/startupMicronaut

[2021-01-10 14:50] debuglevel opened #4791 "Allow custom HTTP response status codes"
### Steps to Reproduce
`HttpResponse.ok().status(599)`

### Expected Behaviour
Some REST services may use custom HTTP status codes to indicate specific states. Let's say `599 Sorry, still processing your request check again in some minutes` or something like that.

Although that's probably quite a bad practise to use custom HTTP status codes, there are legacy services which use them. If somebody w

[2021-01-11 05:13] nirvana124 commented on #3651
I am intermittently getting this issue when upgraded from1.3 to 2.2.2
tried with thread selection as AUTO/IO
increased timeout of http client to 20s
each controller is annotated with @ExecuteOn(TaskExecutors.IO)
I have blocking rest api calls in my service but from controller returning Single<List<MyObject>>

Any suggestion or workaround is appreciated.

[2021-01-11 08:01] graemerocher commented on #3651
@nirvana124 provide an example that reproduces the issue

[2021-01-11 08:07] graemerocher commented on #4790
`ServerStartupEvent` requires a server that exposes a port which in the case of a message driven app doesn't apply. Use `StartupEvent` instead.

[2021-01-11 08:07] #4790 closed, assigned to nobody

[2021-01-11 11:00] tcrespog opened #4794 "AnnotationValue contains empty arrays of enums in Groovy"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Download the following Micronaut Groovy project: https://github.com/tcrespog/mn-enum-array.
2. The `CustomAuth` annotation contains an array of `Role` enums named `ro

[2021-01-11 11:52] graemerocher commented on #4769
Thanks for the feedback, I will include it in #4658

[2021-01-11 11:58] graemerocher opened #4796 "Define custom annotations with Nullable and NonNull and remove spot bugs"
LGPL license causes problems with static linking.

[2021-01-11 12:01] graemerocher opened #4797 "@Factory should support producing beans from non-private fields"
Example:

[code]

Relates to #4658

[2021-01-11 12:23] TorosyanV opened #4799 "add support ordinal for enums in UriMatchTemplate"
The current implementation of UriMatchTemplate expands values using toString() method, but for enums maybe better to add some marker to use ORDINAL or STRING.

### Task List

- [x] Steps to reproduce provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Expected Behaviour
when I have enum
[code]
and  doing request with q

[2021-01-11 13:10] graemerocher commented on #4797
Thinking about this, there would have to be some another annotation to dictate a field as otherwise there would be trouble distinguishing between for example `@Client` and a bean producer

[2021-01-11 14:11] jameskleeh commented on #4799
Are you saying that `/endpoint?gender=FEMALE` is not the URL and you want it to be? If so, what is the URL?

[2021-01-11 16:00] LtTempletonPeck commented on #4295
@graemerocher can this be moved to an active milestone?

[2021-01-11 16:11] graemerocher commented on #4295
It seems as a workaround you may be able to remove `micronaut.application.name` from your `application.yml`.

Working on a proper fix now

[2021-01-11 16:55] TorosyanV commented on #4799
sorry, I need url like this (/endpoint?gender=1 )

[2021-01-11 17:16] jameskleeh commented on #4799
You can register a `TypeConverter`  that converts a `Gender` to a `String` and it will be used to do the conversion

[2021-01-11 17:16] #4799 closed, assigned to nobody

[2021-01-11 17:21] jameskleeh commented on #4752
Closed due to a lack of feedback. Will re-open when an example is uploaded

[2021-01-11 17:21] #4752 closed, assigned to nobody

[2021-01-12 02:07] paulk-asert commented on #4766
I tried setting on the command-line the normal trick:

[code]

but that didn't seem to work. Also adding the following to the gradle build seemed to fix the problem:

[code]
This fixed the version emitted via http but doesn't fix the version echoed to the console if you still have the windows default encoding of Cp1252.

[2021-01-12 07:02] TorosyanV commented on #4799
But how can  TypeConverter work if in UriTemplate class method
`public String expand(Map<String, Object> parameters, boolean previousHasContent, boolean anyPreviousHasOperator)`
uses only **toString**

[code]

[2021-01-12 09:25] graemerocher commented on #4799
I think this would need a client argument binder no @jameskleeh ?

[2021-01-12 13:07] jameskleeh commented on #4799
The path variable one is being used

On Tue, Jan 12, 2021 at 4:25 AM Graeme Rocher <notifications@github.com>
wrote:

[2021-01-13 10:08] candrews-ns commented on #3936
We have seen the same issue and tracked it down to this use of ClientCookieEncoder in NettyStreamedHttpResponse. The workaround described by @lehotskysamuel fixes the immediate problem for us, but I've also put a version of the hello-world-java example application up which reproduces the issue:

https://github.com/candrews-ns/micronaut-session-cookie-repro

This application enables session cookies

[2021-01-13 10:09] #4580 closed, assigned to nobody

[2021-01-13 10:30] ghillert commented on #4769
Thanks! By the way, speaking of CDI Alignment Tasks: 6 years ago Juergen Hoeller mentioned some activity around a `JSR-330 v2`. This might technically be a good candidate for some improved standardization.

https://github.com/spring-projects/spring-framework/issues/17723

[2021-01-13 14:30] brianwyka commented on #3244
@jameskleeh, just opened https://github.com/micronaut-projects/micronaut-core/pull/4807 to change logging to `DEBUG`.  Is this sufficient?

[2021-01-14 08:38] #4457 closed, assigned to graemerocher

[2021-01-14 11:35] meredrica commented on #3244
This still happens multiple times per second for us, I don't think changing this to a debug log will actually fix anything (micronaut 2.2.3). I wonder why this occurs in the first place. We are not dropping that many connections at all. Even just running the pods idle in oc with only health and prometheus requests as traffic gives us these errors.

[2021-01-14 12:19] l0co commented on #4730
I have incremental  annotations processing enabled, however I was waiting a long time for them to work with kotlin and previously had it disabled and at the time I had this problem with tests as well.

I doesn't seem to be related to incremental annotations for me. When I bump into this problem, it's enough for me to change any method name to get rid of this. It's very weird.

[2021-01-14 12:39] l0co commented on #4730
~~However, it seems it's gradle problem, because `./gradlew --no-build-cache cleanTest` helps for me.~~

[EDIT]: Actually, `--rerun-tasks` option helps, not cleaning the cache.

[2021-01-14 15:16] graemerocher commented on #3244
@meredrica if you have a way to reproduce we can try get to the bottom of it

[2021-01-14 15:21] graemerocher commented on #4730
@l0co it seems worthy of a Gradle issue report

[2021-01-14 20:58] chaoyangnz opened #4811 "Lombok constructor annotations missing"
I'd like to inject a property from application.properties into a bean with constructor, like

[code]

Normally, this is supposed by Spring. and we can generate constructor using Lombok and get lean code.

Hopefully, that can be supported or I miss something

[2021-01-15 19:17] zdegner commented on #4684
I'm running into exactly this scenario as well when mocking a `@Client` using Mockito. `@MockBean` didn't work on interfaces, so we generally created concrete classes with `@Replaces` and then used a `@MockBean` to replace those concrete classes with a Mockito mock. Mocking a `@Client` is a very frequent test case for us.

This was working in 2.1.2 but no longer works in 2.2.3.

[2021-01-16 11:33] sdhimmar006 opened #4814 "ClientCredentialsClient not injected in BeanContext"
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce
I am trying to use client credentials in micronaut as specified by https://micronaut-projects.github.io/micronaut-security/latest/guide/#clientcredentials

1. In applicat

[2021-01-17 04:18] sdhimmar006 commented on #4811
@chaoyangnz This is possible. Write this:

@Singleton
Class A {

private String temp;

public A(@Value("${a.b}")String temp, OtherBean bean)
{
this.temp=temp;
// ..
}

void printThis() {
System.out.println(this.name);
}

}

[2021-01-17 04:54] chaoyangnz commented on #4811
oh, really? I tried lots of times, it didn't work. Let me isolate it with a repo.

[2021-01-17 05:15] chaoyangnz commented on #4811
OK. found the cause. that is caused by Lombok and Micronaut annotation processing order. Even finally Lombok generates exactly the same constructor as you show, but it is not captured by Micronaut.

[2021-01-17 05:46] sdhimmar006 commented on #4811
@chaoyangnz Make sure that enable annotation processing in your IDE. And add lombok to annotation processor path after the micronaut by default paths

[2021-01-17 06:39] chaoyangnz commented on #4811
@sdhimmar006 see my repo: https://github.com/chaoyangnz/demo

[2021-01-17 18:17] amaresh309 opened #4816 "How to specify if a header is mandatory or optional"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2021-01-18 08:38] dstepanov commented on #4811
@chaoyangnz Lombok doesn't propagate all field annotations to constructor parameters.
You need to create `lombok.config` and add `lombok.copyableAnnotations += io.micronaut.context.annotation.Value`.

[2021-01-18 09:30] anandjaisy commented on #3530
I am facing the same issue with Micronaut 2.2.3 and consul - 1.9.1

[code]

[2021-01-18 09:46] 22dasi1bwi opened #4817 "@PostConstruct not called from beans created with @EachBean"
### Task List

- [x] Steps to reproduce provided
- [] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Checkout https://github.com/22dasi1bwi/issue-report-micronaut-eachbean .
2. Let the tests run or have a look at the output when the application is starting up.

### Ex

[2021-01-18 10:24] vasac opened #4818 "bom-check build.gradle fails to add SNAPSHOT dependency even when root project is a SNAPSHOT"
`bom-check` `build.gradle` contains:
[code]
But in the commit b5cc40ea85d020d875f5a95e570188d4a47890a1 line
[code]
was removed from root `build.gradle` so `bom-check` module is unable to find out exact root project version so `!micronautSnapshot` is always `true` resulting in SNAPSHOT dependency not being included.

### Steps to Reproduce

1. add `System.err.println("root project version: " + root

[2021-01-18 10:41] chaoyangnz commented on #4811
I did. See my repo: https://github.com/chaoyangnz/demo

I decompile the generated class, the annotation is over there. The issue is annotation processor order.

[2021-01-18 10:49] dstepanov commented on #4811
@chaoyangnz I see, you need to use the latest version of Lombok.

[2021-01-18 12:02] graemerocher commented on #4816
Add `@Nullable`

[2021-01-18 12:02] #4816 closed, assigned to nobody

[2021-01-18 14:35] jameskleeh commented on #4811
@chaoyangnz You would have to file an issue with Lombok. The Lombok processor is getting executed before Micronaut's

[2021-01-18 14:36] #4736 closed, assigned to nobody

[2021-01-18 14:37] jameskleeh commented on #4735
Will reopen if an example is uploaded with steps to reproduce

[2021-01-18 14:38] jameskleeh commented on #4736
Will reopen if an example is uploaded with steps to reproduce

[2021-01-18 15:24] dstepanov commented on #4811
@jameskleeh This should work the only problem is the old version of Lombok, the issue is similar to https://github.com/micronaut-projects/micronaut-core/issues/1566

[2021-01-18 15:25] jameskleeh commented on #4811
@dstepanov Are you saying you've tested the example with the newer Lombok and it works?

[2021-01-18 15:41] dstepanov commented on #4811
Yes, I'm pretty sure it works, I did fix the problem in Lombok and I'm using it in some projects.

[2021-01-18 16:27] jameskleeh commented on #4817
@22dasi1bwi In order for this to work the `@EachBean` annotation needs to be on the `MyConstructedBean` class. We don't analyze classes returned from factories without additional annotations on the factory method, like `@Bean(preDestroy = ...)`

[2021-01-18 16:27] #4817 closed, assigned to nobody

[2021-01-18 20:34] chaoyangnz commented on #4811
Thanks all. I upgraded Lombok to the latest version (1.18.12). It works.

Now close this.

[2021-01-18 20:34] #4811 closed, assigned to nobody

[2021-01-19 10:38] 22dasi1bwi commented on #4817
@jameskleeh Thanks for the clarification! I think that's nothing mentioned on the documentation. Do you think it's a good idea to improve it?

[2021-01-19 11:29] #4794 closed, assigned to jameskleeh

[2021-01-19 15:37] jeffscottbrown commented on #4817
@22dasi1bwi

The User Guide does mention the following:

That is accompanied with a code snippet:

[code]
Those docs are currently at https://github.com/micronaut-projects/micronaut-core/blob/fc074aacfaceef42774ac3d6a56865103c8fd930/src/main/docs/guide/ioc/lifecycle.adoc.

Please feel free to expand on that and submit a pull request to the docs.  Thanks for all of your feedback!

[2021-01-19 15:41] #4818 closed, assigned to alvarosanchez

[2021-01-20 01:54] neoXfire opened #4929 "Micronaut is eagerly initialising non-singleton factory methods and parameterised beans incorrectly"
## Steps to Reproduce
1. Checkout `hello-world-kotlin` project.
2. Add `.eagerInitSingletons(true)` in the bootstrap method call

## Expected Behaviour
The server starts
[code]

## Actual Behaviour
The server fails to start
[code]

[2021-01-20 01:57] neoXfire commented on #4929
See here for reproduction : https://github.com/neoXfire/micronaut-grpc/commit/dd77c8e9a7875df969a3793694c36808ff7bc49b

[2021-01-20 07:41] 22dasi1bwi commented on #4817
Thanks @jeffbrown, I'll have a look.

[2021-01-20 16:47] #4773 closed, assigned to jameskleeh

[2021-01-20 18:04] jaecktec opened #4829 "ChannelPipelineCustomizer not invoked for DefaultClient when using declarative clients"
### Task List

- [x] Steps to reproduce provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. create client ChannelPipelineCustomizer
2. create declarative client with `@Client('client-name')` annotation
3. adjust ClientChannel

### Expected Behaviour

`BeanCreatedEventListener<ChannelPipelineCusto

[2021-01-21 08:00] jaecktec commented on #4829
I think the issue here is that these clients store their DefaultHttpClient instance inside a client-registry and are not exposing them as beans.

One option to work around this is to expose default http-clients as a bean (the registry tries to get the client from the bean context.

[2021-01-21 10:45] racevedoo opened #4831 "No validation performed with `@Repeatable` annotations used more than once for the same element"
Hi guys, I'm having issues when using `@Repeatable` constraint annotations with `micronaut-validation`. When I add more than one of the same annotation to a field/class, no validation is performed. In other validation frameworks, like hibernate validator, they work normally. I created a minimal project that reproduces the issue in the tests: https://github.com/racevedoo/micronaut-validation-test

[2021-01-21 10:51] racevedoo commented on #4831
I did some digging of my own and found that Micronaut's `DefaultValidator` cannot find that the element is annotated with a `@Constraint` annotation, [here](https://github.com/micronaut-projects/micronaut-core/blob/2.2.x/validation/src/main/java/io/micronaut/validation/validator/DefaultValidator.java#L137).

This is probably due to the fact that the `List` annotation inside the standard `javax.val

[2021-01-21 14:30] jameskleeh opened #4834 "Data streaming directly from client to response broken"
[code]

With the changes in 2.2.1 to release the buffers the data is no longer sent correctly

[2021-01-21 17:01] kindlychung opened #4837 "ByteBuf.release() was not called while doing a multipart upload"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Clone https://github.com/gemvision/micronaut_image_test
2. Set env var:
    * ACCESS_KEY_ID for aws s3
    * SECRET_KEY_ID for aws s3
    * S3_BUCKET
    * S3_REGION

[2021-01-21 17:12] jeffscottbrown commented on #4837
[code]

Is that initiating concurrent uploads or are they happening 1 after the other?

[2021-01-21 20:18] #4834 closed, assigned to jameskleeh

[2021-01-21 20:18] tchiotludo commented on #3671
sorry for delay testing this, need to upgrade to micronaut 2.2!

thanks @jameskleeh, works perfectly !
also works with `exchangeStream`  FYI

[2021-01-21 22:47] kindlychung commented on #4837
That's concurrent.

[2021-01-22 15:37] jameskleeh commented on #4837
@kindlychung Based on what I've read, `Files.copy` does not close the input stream for you and you have to do it yourself. In this usage https://github.com/gemvision/micronaut_image_test/blob/main/src/main/java/micronaut_image_test/SendImageController.java#L60 the stream is not being closed. Try closing the stream and let me know if the problem persists

[2021-01-22 17:32] jeffscottbrown commented on #4837
My mistake.  The command looked like it would likely send the requests one after the other.

Thanks for the feedback.

[2021-01-22 18:56] pontello commented on #4753
Hi,

It looks this issue came back on Micronaut 2.3.0:

`[WARNING] Invalid POM for io.micronaut.openapi:micronaut-openapi:jar:2.3.0, transitive dependencies (if any) will not be available, enable debug logging for more details`

[2021-01-25 09:40] l0co opened #4851 "Stack overflow in annotations processor during a build"
After upgrading my project to `2.3.0`, works well in `2.2.3`. Build logs are included in the attachment.

[gradle-shadowjar.log](https://github.com/micronaut-projects/micronaut-core/files/5865578/gradle-shadowjar.log)

[2021-01-25 09:52] graemerocher commented on #4851
A reproducible example would be nice

[2021-01-25 10:23] ilopmar opened #4852 "Regression deploying AWS apps as native image with 2.3.0"
I've discovered this issue this morning when finishing the update of the GraalVM AWS test applications. This was working last Friday.

When deploying an AWS app as GraalVM and you send a request, it fails with:

[code]

### Steps to Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-aws-app-graal`
- `cd micronaut-aws-app-graal`
- `git checkout 2.3.x`
- `sdk use java 21.0.0.

[2021-01-25 10:26] graemerocher commented on #4852
From the output it looks like the `Application` class is being run instead of the Lambda request handler

[2021-01-25 10:38] graemerocher commented on #4852
For Lambda the `mainClass` has to be `io.micronaut.function.aws.runtime.MicronautLambdaRuntime` or some other runtime impl. Something has changed in either starter or the Gradle plugin where this is now set to the `Application` class instead

[2021-01-25 10:43] ilopmar commented on #4852
Thank you for the hint Graeme, that was exactly what was happening and I now see why it worked on Friday and fails now.
I was using `buildNativeLambda` task on Friday that takes care of everything and it adds the right main class `-H:Class=io.micronaut.function.aws.runtime.MicronautLambdaRuntime`.

This morning I've changed that because I can't use the `buildNativeLambda` task in CI. This is becau

[2021-01-25 10:47] graemerocher commented on #4852
not sure what you're doing then because I just created a new 2.3.0 app switched the main class to `io.micronaut.function.aws.runtime.MicronautLambdaRuntime` and deployed and it worked fine

[2021-01-25 11:16] ilopmar commented on #4852
I'm doing the same and it still fails:

- `mn create-app test-aws --features=aws-lambda --jdk 8`
- Replace the `mainClass`
- Modify generated `BookController` and add `@Controller("/books")`
- `./gradlew nativeImage`
- Create `bootstrap`:

[code]

- Package the function.zip: `zip -j build/function.zip bootstrap build/native-image/application`

- Create the file `sam-native.yaml` with:

[code]

- S

[2021-01-25 11:22] graemerocher commented on #4852
Everything you did except I deployed to AWS not via SAM

[2021-01-25 11:23] graemerocher commented on #4852
but yes that is expected. I wouldn't expect `nativeImage` to work by itself

[2021-01-25 12:10] ilopmar commented on #4852
Why do you expect `nativeImage` won't work? I mean it generates the native image with the right mainClass. Then I should be able to manually zip it with bootstrap and upload to lambda, right?

[2021-01-25 12:49] graemerocher commented on #4852
currently `buildNativeLambda` is the only supported way to build a native image for a lambda that I am aware of.

If you are doing it your own way and rolling your own then you are on your own :)

If you wish to look at getting `nativeImage` working like you want it to then the changes will need to happen in the Gradle plugin, where PRs are of course welcome

[2021-01-25 12:52] graemerocher commented on #4852
One of the reasons I expect `nativeImage` will not work is because you need to build a Lambda with Amazon linux and since `nativeImage` doesn't run within a docker container that is not possible.

Of course if you want to run Amazon Linux as your operating system so you can build native images with `nativeImage` then that is up to you.

[2021-01-25 13:21] ilopmar commented on #4852
The main issue on my side was that Linux Brew (which I used for aws/sam CLIs) were corrupted and that generated a wrong image somehow. I've got rid of it and installed the official `aws` client and now deployed apps work. I'll try it again later on sam local (but that has worked before)

Regarding the `nativeImage` task, it also works now doing:

[code]

And then deploying `build/function.zip` to

[2021-01-25 13:21] #4852 closed, assigned to nobody

[2021-01-26 03:31] jpragma opened #4853 "Nested ConfigurationProperties class is not initialized in 2.3.0"
### Steps to Reproduce

1. Create static class inside some other class
2. Annotated it with @ ConfigurationProperties
3. Inject this configuration bean into some other bean

### Expected Behaviour
ConfigurationProperties bean should be initialized

### Actual Behaviour
All properties inside this bean are null

### Previous version Behaviour
Same example works fine in Micronaut 2.2.3

### Environme

[2021-01-26 09:31] vlcheong commented on #3683
Any update on this ?

[2021-01-26 12:28] flobaader commented on #4853
I have encountered problems with configuration properties in 2.3.0 even without nesting.
In my case, the properties were not overwritten by the environment variables but simply kept their default values. Should I open a separate issue for that?

[2021-01-26 12:38] raducrisan1 opened #4855 "Trivial Micronaut Gradle project and VS Code debug attempt"
I have created a simple gradle micronaut project and I've added a trivial controller:
[code]
From VS Code I start debugging the project (F5 shortcut, using default launch.json file). VS Code started the debug mode but if I try to hit this controller from curl I get

{"message":"Page Not Found","_links":{"self":{"href":"/health","templated":false}}}
This does not happen if i start the project with

[2021-01-26 14:18] graemerocher commented on #4855
For the Java Extension pack you have to run `gradle eclipse` before opening the project to create the correct annotation processor config.

It also uses the Eclipse compiler behind the scenes which is not as good when it comes to annotation processors. I personally recommend the new GraalVM extension pack with the NetBeans backend which provides a better experience for Micronaut https://marketplac

[2021-01-26 16:33] jameskleeh commented on #4853
I don't think this is one of the intended use cases. Currently `@ConfigurationProperties` is only designed to be an inner class of other classes with `@ConfigurationProperties`. Can you explain the use case?

[2021-01-26 16:35] jameskleeh commented on #4853
@flobaader I would first ask the question in Gitter. Could be behaving as expected

[2021-01-26 16:52] kindlychung commented on #4837
I cannot trigger the `LEAK` error any more after closing the file stream in a finally clause. But the `OutOfMemoryError` can still be easily triggered.

The `OutOfMemoryError` didn't go away even after setting `micronaut.server.multipart.disk` to true.

[2021-01-26 16:54] kindlychung commented on #4837
Here is the heap chart from visualvm:

![image](https://user-images.githubusercontent.com/995761/105876678-7ccc6000-5fff-11eb-8342-d74cf6c4d65a.png)

It doesn't seem the max heap size has been exceeded, which is really weird.

[2021-01-26 16:56] jameskleeh commented on #4837
@kindlychung Why are you copying the input stream to a temp file, just to open a stream from the temp file to upload? You should be able to use the stream directly.

[2021-01-26 18:29] aero-don opened #4856 "Streaming Declarative HTTP Client Throws ReadTimeoutException"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. git clone https://github.com/aero-don/FlowableClientExample.git
2. git clone https://github.com/aero-don/FlowableExample.git
3. cd FlowableClientExample
4. ./gradlew

[2021-01-26 18:33] kindlychung commented on #4837
Yeah, that's not necessary at all (the repo was prepared by one of my colleagues). But I can confirm the same `OutOfMemoryError` happens even when using the `file.getStream()` directly.

[2021-01-26 18:36] jameskleeh commented on #4837
@kindlychung Can you update the example project to represent the code that is producing the error?

[2021-01-26 19:27] #4855 closed, assigned to nobody

[2021-01-26 20:13] kindlychung commented on #4837
Sure, I have simplified the code base and pushed to the main branch.

[2021-01-26 21:33] #4853 closed, assigned to jameskleeh

[2021-01-26 23:11] raducrisan1 commented on #4855
Hello @graemerocher,

Thank you for the instructions you provided regarding NetBeans and Oracle GraalVM extensions. I confirm that the debugging works by installing the extensions and by following the the Oracle GraalVM extension documentation.

[2021-01-27 10:01] graemerocher opened #4858 "Micronaut OpenAPI POM broken"
The POM for micronaut-openapi is broken which is causing problems in Maven. The following warning is printed:

[code]

And then this results in compilation errors:

[code]

### Steps to Reproduce

1. Create a Maven project with OpenAPI
2. Try compile
3. Boom

### Expected Behaviour

Fails with compilation error

### Actual Behaviour

Should compile.

### Environment Information

- **Operating Syst

[2021-01-27 12:54] alvarosanchez commented on #4858
Duplicates https://github.com/micronaut-projects/micronaut-openapi/issues/444

[2021-01-27 14:43] gerdogdu commented on #4658
I am interested on this :)

[2021-01-27 17:57] #4858 closed, assigned to nobody

[2021-01-27 18:23] jameskleeh commented on #4837
@kindlychung After looking at your changes I still am not seeing the input stream being closed https://github.com/gemvision/micronaut_image_test/blob/main/src/main/java/micronaut_image_test/SendImageController.java#L57. Are you certain that is happening through the put request?

[2021-01-27 18:32] tandel-pratik opened #4861 "Unable to read environment variables injected by k8s in Micronaut"
After upgrading to 2.3.0 from 2.2.1 we observed the issue described in the steps to repro section

### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

1. Define an environment variable `AUTH_JSON` in k8s
2. Write the foll

[2021-01-27 18:39] jameskleeh commented on #4861
@pratik-brex Can you confirm the value starts with `tcp://` ?

[2021-01-27 18:43] wetted opened #4862 "Rest call with Flowable return results in OK status and wrong response exception when Flowable emits error."
A `Flowable` that raises an exception is returning a different exception with a 200 status and a different message.

This problem was first exposed to me by the `DiffController` in `micronaut-starter` while investigating https://github.com/micronaut-projects/micronaut-starter/issues/619. I discovered that when the emitter of the call to `Flowable.create` returns an exception (e.g. `HttpStatusExcep

[2021-01-27 18:46] tandel-pratik commented on #4861
The value doesn't start with `tcp://`. It's a valid JSON input

[2021-01-27 18:47] jameskleeh commented on #4851
@l0co I would need an example here to debug this. Can you provide one? I'd like to get this fixed asap

[2021-01-27 18:50] wetted commented on #4862
Output from above test

[code]

[2021-01-27 19:32] lunikon commented on #2068
Facing the same issue, but in query parameter parsing.

I have a field like this:

[code]

When my query parameter contains a string that does not match one of the enum values, the value is just set to `null`. Since the field is supposed to be nullable, the error goes unnoticed. Is this a problem on my end (wrong/missing annotation?) or is it the issue described in the OP?

[2021-01-27 22:22] americ commented on #3244
this code is supposed to suppress logging of these connection reset exceptions: https://github.com/micronaut-projects/micronaut-core/blob/8e79eac72cf1ce70fac62a74882db2a618d154a2/http-server-netty/src/main/java/io/micronaut/http/server/netty/RoutingInBoundHandler.java#L154

Since upgrading to Micronaut 2.x these connection resets have become more problematic. We used to hide them to keep our reque

[2021-01-28 01:15] kavithaThirumoorthy commented on #4656
Please team,  any update on this issue

[2021-01-28 06:48] flobaader commented on #4861
I can also confirm that this regression bug affects all types of env variables. We had a problem with strings, URLs, etc.
In a Docker Compose file, the problem does not occur.

[2021-01-28 07:04] bjor-joh commented on #4861
I have also experienced this behaviour.
I believe it can be reproduced locally by setting `MICRONAUT_ENVIRONMENTS=k8s` and then try setting `MICRONAUT_SERVER_PORT=80`. Micronaut will still start on port 8080, ignoring the latter env variable.

[2021-01-28 09:39] kindlychung commented on #4837
That input stream is from the `CompletedFileUpload` and I thought it's going to be closed by micronaut? Anyway, if I close it manually in a `finally` clause, the upload on s3 will be a 0-byte blob.

[2021-01-28 09:59] Sandmania opened #4864 "Inconsistent error handling when micronaut.server.max-request-size exceeded"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

## Description

There seems to be some inconsistency in handling `ContentLengthExceededException` when posting files with multipart forms. The variations I've observed in behaviour depend on:
*

[2021-01-28 10:20] alvarosanchez commented on #4861
This is likely caused by https://github.com/micronaut-projects/micronaut-core/pull/4822

Can someone please enable the [`/env` endpoint](https://docs.micronaut.io/latest/guide/index.html#environmentEndpoint) and tell its contents?

[2021-01-28 10:29] alvarosanchez commented on #4861
Ok, I think I found the issue. PR coming

[2021-01-28 10:44] meredrica commented on #3244
@americ that sounds almost exactly like our problem. my team is not managing the cluster so we can't change the behaviour. it also explains why this only happens when we have more than one pod.
@brianwyka I think it might be better to just reuse the logException method in #4807 instead of just dropping it to debug.

[2021-01-28 11:43] lgathy commented on #3244
I had issues previously with the built-in web metrics. Wierd things happened when the meter reporting logic threw RuntimeException-s, because they were not handled in the subscriber. Plus, I think most web filters don't work correctly in cases when there are multiple execution chains, which is the case if you let an exception fall through the controller method and handle it via an error handler me

[2021-01-28 14:13] Sandmania commented on #4864
I see the same kind of behavior around `micronaut.server.multipart.max-file-size`.

[2021-01-28 14:15] sdelamo opened #4866 "BeanWrapper.setProperty validates nullability starting 2.3.0, it did not in 2.2.3"
I have been using BeanIntrospection to load an excel file into a Micronaut application.

The following test works with 2.2.3 but fails in 2.3.0 with:

[code]

[code]

[code]

I think this change of behaviour is a regression. Moreover, I think it is a worst behaviour. I want to have control around when to the validate the objects after I load them to create a complete report.

Sample project:

[mic

[2021-01-28 14:36] americ commented on #3244
@lgathy I'm interested in seeing your solution. Our current workaround maps these errors to status code 100, which avoids it being counted as a success or failure in our alert system.

[2021-01-28 14:43] graemerocher commented on #4866
This IMO was a bug that has been fixed. I don’t know how a property marked explicitly not allowing null allowing nulls is a good thing?

[2021-01-28 15:00] #4861 closed, assigned to alvarosanchez

[2021-01-28 15:43] graemerocher commented on #4656
Do you have a reproducer?

[2021-01-28 15:43] graemerocher commented on #4656
It would greatly aid in trying to get to the bottom of the problem

[2021-01-28 16:41] sdelamo commented on #4866
Before you could load load data into objects and then give the developer the ability to validate them with the `javax.validation.Validator` and get a set of `ConstraintViolation`. Now, bean introspection fails in the moment it finds something when something is invalid.

My usecase is to load an excel file and a mapping file and create java objects using that mapping and then validate manually and

[2021-01-28 18:40] jameskleeh commented on #4866
From my perspective having `edu.umd.cs.findbugs.annotations.NonNull` on the field/constructor arg indicates that the class should never receive nulls. Classes with arguments annotated with `@NonNull` shouldn't have to check if the argument is null before proceeding with logic. The class is defining a contract that others using it must obey. If that isn't the case for that class then the annotation

[2021-01-28 18:45] #1308 closed

[2021-01-28 18:46] #965 closed

[2021-01-28 18:58] jameskleeh commented on #3468
Given this is resolved with Java 9 and future versions of Micronaut will not likely support Java 8 I'm going to close this as a wont fix.