[2021-01-28 18:58] #3468 closed

[2021-01-28 21:31] jameskleeh commented on #3244
@americ I've created this PR which ignores client connection related exceptions. You can try the snapshot after its merged or build it yourself and try https://github.com/micronaut-projects/micronaut-core/pull/4867

[2021-01-28 22:10] americ commented on #3244
@jameskleeh we have a global exception handler that's a workaround for this issue. It looks like your change only affects apps with no exception handler defined. If I understand our code and yours, I think we can get rid of our exception handler now. I believe we added it so we could tag these fake 500 responses so our request logging filter could discard them. We'll try out the snapshot build.

[2021-01-28 22:57] kavithaThirumoorthy commented on #4656
Thanks for the reply.

The scenario is as below,

In our application, while accessing external APIs, we are hitting it through a forward proxy with a load balancer.
This proxy server, links with more than one IP address and the IP address is dynamic due to auto scaling.

 As per above mentioned code snippet, the application gets the proxyHost name and port at the time of application start-up
and t

[2021-01-29 07:32] l0co commented on #4851
I have some delay in the project right now I need to catch up but I'm gonna try to reproduce it and get back to you.

[2021-01-29 07:46] amckee23 commented on #3651
This has just reappeared for us going from 2.03 -> 2.2.3 . I’m working on an example app but it seems to be:
- regardless of thread selection
- Only inside k8s
- When using a mn client

[2021-01-29 16:48] alvarosanchez commented on #3895
`io.micronaut.aws:micronaut-aws-sdk-v1` still isn't in the BOM, so until https://github.com/micronaut-projects/micronaut-aws/issues/325 is implemented, it should be added to the BOM like the other modules.

[2021-01-29 16:57] amckee23 commented on #3651
Just as an update (incase others are as stupid as myself) This was an issue on our side.  That being said it was clearly impacted by some change in 2.03 -> 2.2.3.

In our case we had a JWT validator on some of our endpoints.  On our authentication microservice the JWKS url was set to itself so authenticated calls would in a servlet filter call out to the same service.  This only resulted in the th

[2021-01-29 17:00] LtTempletonPeck commented on #4295
@graemerocher this has not been fixed for me when using AWS param store `io.micronaut.aws:micronaut-aws-parameter-store`

Should I create another issue?

[code]

[2021-01-29 17:23] graemerocher commented on #4295
@LtTempletonPeck which version of Micronaut?

[2021-01-29 17:26] LtTempletonPeck commented on #4295
@graemerocher latest micronaut 2.3.0 and discovery client 2.2.2

[2021-01-29 18:28] jaecktec commented on #4829
In case someone drops by, I want to get Logbook running with declarative clients, this is the workaround I'm using for now:

[code]

[2021-01-29 21:16] americ commented on #3244
@jameskleeh I just tried 2.3.1-SNAPSHOT and the connection reset handling works great. They aren't affecting our prometheus metrics any more and we don't need an exception handler. I was worried the exception handler removal would affect our response logging, but it doesn't.

Two big thumbs up!

[2021-01-29 21:30] jameskleeh commented on #3244
@americ Glad to hear

[2021-01-29 21:36] jameskleeh commented on #4837
@kindlychung You need to close the stream. I don't know when is the time to do that given I'm unfamiliar with the S3 api, however not closing it will result in the problem you're seeing. When you are able to figure out the time to close the stream that allows the file to still be uploaded, and the issue is still happening, please update this issue and the example code.

[2021-01-30 08:24] #3244 closed

[2021-01-30 19:51] jmansiya commented on #4295
Hi, @graemerocher I have the same problem with the same versions as @LtTempletonPeck.

[2021-01-31 00:21] cazlo opened #4870 "Non-deterministic generation of `META-INF/services/io.micronaut.inject.BeanDefinitionReference`"
### Steps to Reproduce

Please see the README in the linked example application for more details.

1. Create simple example Micronaut project using multiple controllers, services, a factory, and some AOP.
2. Generate jar (`./gradlew clean build`)
3. Record generated jar
4. Generate jar again
5. Compare the contents of `META-INF/services/io.micronaut.inject.BeanDefinitionReference` between the 2 te

[2021-01-31 12:56] TorosyanV opened #4874 "Declarative client duplicates @QueryValue when using @RequestBean"
Micronuat Http declarative client duplicates QueryValue

After updating the Micronaut version  from 2.1.3 to 2.3.0
HTTP Client generates requests with duplicate query values.

### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Repr

[2021-02-01 08:19] graemerocher commented on #4870
Thanks for the report, this does indeed seem like a problem in the data structures that are storing service names

[2021-02-01 09:40] #4578 closed, assigned to nobody

[2021-02-01 09:44] #3895 closed

[2021-02-01 11:46] ross-holloway94 commented on #4737
Hello,

I'm not sure why this has been closed? This is still happening in version 2.3.0 .

The log format is declared in **AccessLogFormatParser** in micronaut-http-server-netty-2.3.0.jar .

It looks like a capital L is used for line number for logback, but u doesn't appear to be listed.
http://logback.qos.ch/manual/layouts.html

[2021-02-01 15:14] graemerocher opened #4878 "Release new versions of the Gradle and Maven plugins to fix issues building native images and update starter"
Before 2.3.1 is release we need to release new versions of the Gradle and Maven plugins and update starter to fix the issues users are having building native images.

[2021-02-01 16:45] #4866 closed, assigned to nobody

[2021-02-01 16:45] #4870 closed, assigned to jameskleeh

[2021-02-01 17:14] alvarosanchez commented on #4878
Maven Plugin 1.1.5 is released

[2021-02-01 17:41] #4878 closed, assigned to nobody

[2021-02-01 21:28] stepanv commented on #1715
For the record, to avoid confusion, the `{?args*}` goes to the `Controller` as well as the `Client`. In the case of this reproducer ^^, it goes only to the interface `HelloApi`, the `@Get` annotation which both the controller and the client implement:
[code]

[2021-02-02 09:12] ahimik commented on #4864
Same here.

[2021-02-02 15:51] theHacker opened #4882 "Kapt incremental processing not working"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided -> N/A
- [x] Example that reproduces the problem uploaded to Github -> Micronaut Demo is sufficient to reproduce
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Download Demo according to https://github.com/micronaut-projects/micronaut-gradle-plugin/blob/master/README.md
2.

[2021-02-02 18:20] achaphiv opened #4884 "`BeanIntrospectionModule` breaks deserialization of simple String wrappers"
### Steps to Reproduce

- Create a new project from https://micronaut.io/launch
- Add this test:
[code]
- Watch it fail on 2nd test case with (truncated) stack trace:
[code]

### Expected Behaviour

If regular jackson works, only adding `BeanIntrospectionModule` should also work.

### Actual Behaviour

Normal reflection still works, while `BeanIntrospectionModule` breaks deserialization.

### Envi

[2021-02-02 19:31] ttzn commented on #4735
I got hit by this also, here is a test that reproduces the problem:

[code]

[2021-02-02 19:41] Flassie commented on #4379
Bad thing about default values in kotlin is that they are not stored somewhere and can't be obtained from Metadata annotations.
As I can see now there is no solution to solve that problem but generating kotlin introspection classes for kotlin types where `instantiateInternal` method will accept named/marked arguments and call kotlin constructor/method with explicit arguments naming or calling refl

[2021-02-02 21:45] kavithaThirumoorthy commented on #4656
any update on this please.

[2021-02-03 08:28] stepanv commented on #4603
I created a PR https://github.com/micronaut-projects/micronaut-core/pull/4885 . I'd like to hear what you guys think about this approach.
It's definitely not ideal because the propagation of the ServerRequestContext is not "transparent" for the implementers of the `DefaultHttpClient`. Unfortunately, it's not possible to extend Netty handler factories in a way that it automagically adds the `Server

[2021-02-03 11:28] shashank11p opened #4886 "Wrong response body when using url-encoded contentType in client (v1.0.0)"
### Task List

- [x] Steps to reproduce provided
- [x] Example that reproduces the problem given below
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create an httpServer that has an endpoint accepting url-encoded content type bodies in request, and return url-encoded body in response
2. Create a micronaut DeafultHttpClient and make request to this server with

[2021-02-03 11:45] l0co commented on #4730
Just for the record, also removing `project/.gradle` helps for this problem, as well as `--rerun-tasks`. `clean`, `cleanTest`, `--no-build-cache` doesn't work.

[2021-02-03 12:18] graemerocher commented on #4882
I'm not able to reproduce this following the steps in the video using Micronaut 2.3.1. Note that the comment you quoted

That was an experiment and that change never went into Micronaut, the bugs mostly existed in Gradle and Kotlin.

Make sure when you are upgrading you also upgrade to the latest versions of Gradle and Kotlin both of which had numerous annotation processing related bugs that could

[2021-02-03 14:33] jameskleeh commented on #4656
@kavithaThirumoorthy This issue is among all other issues in our list. If you would like this issue prioritized, OCI offers support . Email me at kleehj@objectcomputing.com if you are interested.

[2021-02-03 15:07] kindlychung commented on #4837
@jameskleeh I've added the finally clause to close the stream. Never mind the 0-byte blob, the OutOfMemoryError still happens.

[2021-02-03 15:19] morki commented on #4379
Just for information for others wanting this feature, I resolved this by disabling Jackson introspection module:

[code]
For native image to work properly, adding Kotlin metadata resources and some reflection configuration solved it nicely.
Adding this resources and reflection info to native image added only 2MB to our 100MB application, so it was worth it:

reflect-config.json
[code]

resource-co

[2021-02-03 15:27] graemerocher commented on #4379
Sure PRs, welcome. Might want to combine it with https://github.com/micronaut-projects/micronaut-kotlin/issues/163#issuecomment-766494774

[2021-02-03 15:35] morki commented on #4379
Thank you @graemerocher, will provide PR. I have another questions, if you like to help me with answer.

Now I combine this with already provided `@Introspected` annotation, which is registering annotated classes for reflection but also creates `BeanIntrospection`s, which are useless in this case.

Would you think it is ok (useless classes) or shall we create another annotation, which will only do

[2021-02-03 15:46] graemerocher commented on #4379
probably it makes sense to allow `ReflectiveAccess` to be declared on types since that is what you are doing essentially

[2021-02-03 15:46] graemerocher commented on #4379
Note that the real solution is to support default argument values in the AST but I am not sure if that is possible with KAPT

[2021-02-03 15:50] morki commented on #4379
Default argument values are not presented in kotlin reflection metadata (see @Flassie comment), and can contain references to themselves (see example), so I think it is not doable this way. But I will be happy if I am wrong.

Example:
[code]

[2021-02-03 16:24] dave08 opened #4887 "Using "default" as a property or method name does not work"
Given a Kotlin data class:

[code]
`default` will always be null, even when provided in `application.yaml`. The issue @jameskleeh explained this is, is that in java default is not a valid name, and Kapt generates a funny name for the property like: p2-772401952. He said that it could be improved when moving to a native kotlin compiler plugin.

### Environment Information

- **Operating System**: L

[2021-02-03 16:28] jameskleeh commented on #4887
When Kapt generates the stub, it assigns a random name to the property because default is not valid in Java. This should be able to be addressed with a native Kotlin compiler plugin

[2021-02-03 16:39] Flassie commented on #4379
Not only. It can contain anything:
[code]

Kotlin generates only stubs for that and there is nothing interesting inside them
Default arguments are proceed inside binary code. For example code that was generated from example above:
[code]

So yes. I think it is not doable using kapt

[2021-02-04 09:00] adamkobor commented on #3742
Kotlin 1.4.30 is out with KT-40493 included. So far I didn't experience the kapt issue from the past, fingers crossed :)

[2021-02-04 11:08] morki commented on #3000
It is not needed anymore for us and it seems pretty not standard, so I am closing this issue.

[2021-02-04 11:08] #3000 closed

[2021-02-04 11:34] #4379 closed, assigned to nobody

[2021-02-04 16:06] jameskleeh commented on #4887
Note the following also does not work due to the method name being `default`:

[code]

[2021-02-05 11:29] graemerocher commented on #4882
@theHacker can you try Kotlin 1.4.30 with Gradle 6.8 and feedback if you still see issues?

[2021-02-05 12:35] lost22git opened #4890 "How to use i18n in Bean-Validation? Plz"
How to use i18n in Bean-Validation? Plz

[2021-02-05 14:01] graemerocher commented on #4658
@gerdogdu happy to collaborate and would be interested in your feedback as we progress

[2021-02-05 14:14] ilopmar commented on #4890
Please ask usage questions in Gitter: https://gitter.im/micronautfw/

[2021-02-05 14:14] #4890 closed, assigned to nobody

[2021-02-05 14:44] l0co opened #4891 "Singleton bean created twice when taken from ApplicationContext.getBeansOfType() by interface"
In `2.2.3`.

I have the following classes:

[code]

[code]

The `BankSevice` bean is created properly by the container and as I can see in `DefaultBeanContext.getBeanInternal()` its key is `io.luna.service.main.finance.bank.service.BankService`.

However, this code created another instance of this bean (and all beans derived from the `BaseService`):

[code]

In `DefaultBeanContext.getBeansOfTypeIn

[2021-02-05 17:03] tomas-langer opened #4893 "Validation has dependency on http"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Add dependency on  `micronaut-validation`
2. Do not have dependency on `micronaut-http`
3. Display dependency tree (in maven using `mvn dependency:tree`

### Expected

[2021-02-05 17:06] graemerocher commented on #4893
http is only needed for the compile time features so I consider this a bug

[2021-02-05 18:07] gautamawekar commented on #4737
@ross-holloway94  not sure if its acceptable to you, but you can give your own format e.g. `%h %r %s %b`

e.g.
[code]

[2021-02-05 18:14] jameskleeh commented on #4737
@ross-holloway94 Thanks - it seems I forgot to submit a PR and this was closed incorrectly. Will be included for 2.3.2

[2021-02-05 18:17] jameskleeh commented on #4891
@l0co Are you saying that `getBeansOfType` returned 2 beans?

[2021-02-05 19:15] FilipJirsak opened #4895 "Support JSONlines with application/x-json-stream (allow user defined separator)"
It would be nice if Micronaut allows defining a separator for individual JSON objects when using `application/x-json-stream`. This would make it possible to produce eg [JSONlines](https://jsonlines.org) (newline as a delimiter).

For example to produce
[code]

instead of

[code]
It is easier to parse JSONlines for example in the browser than JSON stream without delimitiers.

[2021-02-06 12:55] d3bt3ch opened #4896 "Support for Jersey"
Any plans to support Jersey as the JAX-WS implementation ?

[2021-02-06 14:58] ross-holloway94 commented on #4737
@gautamawekar I didn't know you could do that, thanks for the workaround :)

@jameskleeh Thanks!

[2021-02-07 09:44] lost22git opened #4898 "DefaultValidator add locale plz"
![image](https://user-images.githubusercontent.com/65008815/107142770-1b47b200-696c-11eb-982b-d5acb650119b.png)

[2021-02-07 11:10] lost22git opened #4899 "Except filter, any else can intercept controller return, just like HandlerInterceptor or ResponseBodyAdvice in Spring?"
Except filter, any else can intercept controller return, just like HandlerInterceptor or ResponseBodyAdvice in Spring?

[2021-02-07 23:53] jmansiya commented on #4295
Hi @graemerocher this error doesn't happen if I use this config:
search-active-environments: false

But with this configuration 'parameter store' is only looking for parameter in this path: '/config/[APPLICATION_NAME]', without Environment nor application.

Maybe this error happens because we have this different environments:  [ec2, cloud, dev, function, lambda], but for example in my case I only

[2021-02-08 08:07] graemerocher commented on #4295
@LtTempletonPeck @jmansiya how does one reproduce the issue? I can't reproduce with the original example associated with this issue

[2021-02-08 09:32] l0co commented on #4891
No, just the instance of `BankService` which is returned from `getBeansOfType()` is a different instance of this service, than this injected into all beans.

[2021-02-08 09:40] jmansiya commented on #4295
Hi @graemerocher, I've create this gibhub as demo: https://github.com/jmansiya/micronaut-ssm-demo.git

To execute:
mvn clean install
sam local invoke -t template.yaml -e event.json

And the error I have is:

"errorType":"io.micronaut.context.exceptions.BeanInstantiationException","errorMessage":"Bean definition [io.micronaut.discovery.eureka.EurekaConfiguration] could not be loaded:

Thanks in adv

[2021-02-08 10:18] graemerocher commented on #4295
@jmansiya This appears to be because your project declares another dependency on an older version of `micronaut-discovery-client`, removing this dependency:

[code]

Resolves the problem for me. @LtTempletonPeck you have an example?

[2021-02-08 10:20] graemerocher commented on #4295
The problem appears to be in `micronaut-starter` which still uses the old version

https://github.com/micronaut-projects/micronaut-starter/blob/2.3.x/starter-core/src/main/java/io/micronaut/starter/feature/build/gradle/templates/dependencies.rocker.raw#L90-L95

[2021-02-08 10:23] graemerocher commented on #4295
Reported https://github.com/micronaut-projects/micronaut-starter/issues/647

[2021-02-08 10:40] jmansiya commented on #4295
Sorry I've deleted this dependency, but the error is the same :(

[2021-02-08 13:01] graemerocher commented on #4295
@jmansiya could you try the 2.2.4-SNAPSHOT version?

See https://docs.micronaut.io/latest/guide/index.html#usingsnapshots

[2021-02-08 14:40] theHacker commented on #4882
Thanks for answering so quickly.
In our project it seems to help to use Kotlin version 1.4.30 :-) (previously we used 1.4.21)

I tried also quickly with your Demo project (this uses Kotlin 1.4.10).
However it does not help to simply change the Kotlin version.

Changing the Kotlin version leads to this error message
[code]

---

I created a shell script, with which you can easily reproduce the issu

[2021-02-08 14:58] jamil-kafi opened #5011 "Compilation errors and app failed to start when using Micronaut + R2DBC"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a new project.
2. Annotate repository interface.
3. Perform a Gradle run: `./gradlew run`

### Expected Behaviour

The application should be started without pr

[2021-02-08 15:20] jmansiya commented on #4295
Hi, @graemerocher  with this version:
<parent>
    <groupId>io.micronaut</groupId>
    <artifactId>micronaut-parent</artifactId>
    <version>2.2.4-SNAPSHOT</version>
  </parent>

I have this error:

Message: No bean of type [io.micronaut.runtime.server.EmbeddedServer] exists. Make sure the bean is not disabled by bean requirements (enable trace logging for 'io.micronaut.context.condition' to chec

[2021-02-08 15:22] graemerocher commented on #4295
Can you post the output of `./mvnw dependency:tree`?

[2021-02-08 15:24] jmansiya commented on #4295
Sure,

[INFO] --- maven-dependency-plugin:2.8:tree (default-cli) @ demo ---
[INFO] com.example:demo:jar:0.1
[INFO] +- io.micronaut:micronaut-inject:jar:2.2.4-SNAPSHOT:compile
[INFO] |  +- org.slf4j:slf4j-api:jar:1.7.26:compile
[INFO] |  +- javax.inject:javax.inject:jar:1:compile
[INFO] |  +- io.micronaut:micronaut-core:jar:2.2.4-SNAPSHOT:compile
[INFO] |  |  \- org.reactivestreams:reactive-streams

[2021-02-08 15:53] graemerocher commented on #4295
You have older versions on your classpath:

[code]

Could you update your POM and push the changes to your example GitHub repository? The version of `aws-parameter-store` you should have is 2.3.0

[2021-02-08 16:02] jmansiya commented on #4295
Done, but this versions were change when I change pom parent version to 2.4.0-SNAPSHOT.

[2021-02-08 16:37] graemerocher commented on #4295
sorry I should have been more clear the snapshot version of discovery client. Do the following updates to your project:

[code]

[code]

[2021-02-08 17:23] jmansiya commented on #4295
Great!! now it's working correctly!! thanks!!

Could you tell me when this snapshot will be a finish version?

Thanks!!!!

[2021-02-09 08:49] graemerocher commented on #4295
You can try the 2.2.4 version https://search.maven.org/artifact/io.micronaut.discovery/micronaut-discovery-client/2.2.4/jar

[2021-02-09 09:49] #4295 closed, assigned to graemerocher

[2021-02-09 12:39] begrossi commented on #3683
I solved this problem with a lazy initialization of appender. The code is on this link:
https://gist.github.com/begrossi/d807280f54d3378d407e9c9a95e5d905

Any comments and suggestions are welcome.

[2021-02-09 12:59] graemerocher commented on #3683
@begrossi nice idea.

[2021-02-09 15:42] Sandmania opened #4908 "HttpClientFilter not working for streaming requests"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a catch all HttpClientFilter that adds a uri param to any request
[code]

2. Create a declarative HttpClient that returns a stream
[code]

### Expected Behavio

[2021-02-09 16:18] #4899 closed, assigned to nobody

[2021-02-09 17:41] #4737 closed, assigned to jameskleeh

[2021-02-10 07:48] #4908 closed, assigned to nobody

[2021-02-10 12:32] lgathy opened #4913 "Jaeger tracing does not work with blocking controller methods"
### Steps to Reproduce

1. Enable Jaeger tracing
2. Create a blocking controller method annotated with `@ExecuteOn(TaskExecutors.IO)`
3. Try to access or manipulate the active span inside the controller method

### Expected Behaviour

I should be able to access the active span inside the controller method via `tracer.activeSpan()`.

### Actual Behaviour

Calling `tracer.activeSpan()` returns `null

[2021-02-10 13:33] jeffscottbrown commented on #4898
FYI... I _think_ the line of code highlighted in that screenshot is https://github.com/micronaut-projects/micronaut-core/blob/v2.3.1/validation/src/main/java/io/micronaut/validation/validator/DefaultValidator.java#L1020.

[2021-02-10 14:35] ilopmar commented on #4913
This is possibly a duplicate of #4383

[2021-02-10 14:54] lgathy commented on #4913
Sorry, I missed to check the existing open issues. Feel free to close this issue, I can submit my PR for the original issue.
@ilopmar Are there any additional test cases for that? I am testing my fix only with the modified `HttpTracingSpec` atm.

[2021-02-10 15:28] lgathy commented on #4913
Submitted my fix in the following PR #4915

[2021-02-10 16:14] tomas-langer opened #4916 "Executable method processing ignores intercepted beans"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

Reproducer repo: https://github.com/tomas-langer/mn-repro-executable

1. clone the repo
2. use Java 11
3. run `mvn package`
4. run `java -jar ./target/micronaut-executab

[2021-02-10 21:21] pdurasek opened #4918 "Multiple possible bean candidates found with Mapstruct decorator in Kotlin"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a simple mapper using Mapstruct
2. Create a Decorator
3. Decorate the mapper with @DecoratedWith
4. Try to inject the mapper in a simple Kotest test

### Expec

[2021-02-11 07:28] #4383 closed, assigned to graemerocher

[2021-02-11 08:18] lgathy commented on #4913
Closing this now as the PR has been merged.

[2021-02-11 08:18] #4913 closed, assigned to nobody

[2021-02-11 16:11] brianwyka opened #4924 "Experimental @Introspected "packages" Feature Compilation Fails on Multiple Packages"
I know its marked as Experimental, but just wanted to report the bug for people to see a workaround at the very least.

### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Setup 3 external dependencies which have 3 dis

[2021-02-11 22:12] breucode opened #4926 "Exploded query parameter object is not null, when parameter is not provided"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a GET endpoint with an Object (with 2 Double fields) as optional Query Parameter and use exploded operator
2. Call the endpoint without providing a query param

[2021-02-12 05:56] a-mroz opened #4927 "CircuitBreaker doesn't work without `includes`"
### Steps to Reproduce

1. Create two services, one communicating with the other using a declarative client with `@CircuitBreaker` annotated method (no `includes` or `excludes`).
2. Start only the main service and try to communicate with the other one using the client.

### Expected Behaviour

The connection is retried and after several attempts, the circuit is opened.

### Actual Behaviour

The `

[2021-02-12 06:28] a-mroz commented on #4927
I tried to debug it a little bit and it looks like without the `includes` defined, it does not even run  `io.micronaut.retry.intercept.DefaultRetryInterceptor.intercept()` method.

[2021-02-12 08:45] johndevs opened #4928 "Multiple @Scheduled(cron=) annotations never triggers"
### Steps to Reproduce

If you annotate a method with one `@Scheduled(cron=...)` annotation it triggers

If you annotate a method with multiple `@Scheduled(cron=...)` annotations none of them triggers

application.yml:
[code]

### Expected Behaviour

The method should get triggered when the cron expression matches one of the annoations

### Actual Behaviour

The method is never triggered when usin

[2021-02-12 08:56] graemerocher commented on #4929
I am transferring this issue here because there are two bugs at play in core:

1. The `isEagerInit` method is using `hasStereotype` which returns true for a non-singleton `@Bean` method of a `@Factory` . It should be using `hasDeclaredSteretype`. See https://github.com/micronaut-projects/micronaut-core/blob/be1bc41b4ac037dab48a10eeb25ec6df6059fc2f/inject/src/main/java/io/micronaut/context/DefaultB

[2021-02-12 16:26] j1m-renwick opened #4933 "slf4j : Unexpected error occurred: No such property: log"
Hi,

   The below seems to involve the interaction of @Slf4j annotation and AOP in nested closures (this example is using @Cacheable) - I have added comments in the `MyServiceImpl` class to show what lines can be toggled to fix the problem.  Not sure if this is the right micronaut repo to submit this in; if not let me know the right one and i'll resubmit.  Thanks :)

### Steps to Reproduce

1. clo

[2021-02-12 18:39] lost22git commented on #4898
In order to achieve this,I overrided `ResourceBundleMessageSource.getRawMessage`
[code]

[2021-02-12 23:11] aalmiray commented on #4334
FWIW just hit this issue with Micronaut `2.3.1` when attempting to run a trivial CLI application in the modulepath using Layrry

[code]

[2021-02-12 23:22] botcoder commented on #1552
This is an old thread but I had the same issue on a brand new setup running Ubuntu and Micronaut **2.3.1**.

Disabling deduction works, but an alternative is mapping "metadata.google.internal" to localhost (`DefaultEnvironment#GOOGLE_COMPUTE_METADATA`), as it timeouts otherwise.

[2021-02-13 07:58] graemerocher commented on #4334
@aalmiray Micronaut 2.4 will let you exclude spot bugs using dependency exclusions to solve this issue

[2021-02-15 15:03] jameskleeh commented on #4933
This is a bug in groovy. You can work around it by not using `.each`, or by declaring `def log = this.log` above the loops

You can create a reproducible example by creating your Java own class that extends your service and calling it.

`example.micronaut.Test.java`:
[code]

You can create an issue here: https://issues.apache.org/jira/projects/GROOVY/issues

[2021-02-15 18:25] #4927 closed, assigned to jameskleeh

[2021-02-15 19:24] jameskleeh commented on #4926
While I agree in this case a null object would be preferred, we are relying on the behavior of Jackson to bind the map of query values. You could say that we should return null if no query values are provided, however in the case when an unrelated query value is present, the behavior would be what you see now.

[2021-02-15 20:12] #4896 closed, assigned to nobody

[2021-02-15 20:14] jameskleeh commented on #4886
There are no plans to release a 1.x version of Micronaut. If this issue is critical, please message me via email or Gitter to discuss other options.

[2021-02-15 20:14] #4886 closed, assigned to nobody

[2021-02-15 20:16] jameskleeh commented on #4893
Fixed by https://github.com/micronaut-projects/micronaut-core/commit/f81eceaba3ac8c550e56288779c686d6f50ea286

[2021-02-15 20:16] #4893 closed, assigned to graemerocher

[2021-02-16 07:33] ajcm commented on #2324
If some poor soul is still trying to figure out what to do in this one, the way it worked for me was:

## Stream

 handle the exception in the stream and make sure to parse the body (with the error)
don't throw or rethrow the exception that's is set to happen
  .doOnError(throwable -> {

                    if (throwable instanceof HttpClientResponseException) {
                        HttpClientR

[2021-02-16 11:01] tbieniek commented on #4856
I have experienced the same issue, @aero-don have You found any workaround for this issue ?

[2021-02-16 11:16] j1m-renwick commented on #4933
thanks @jameskleeh this helped a lot narrowing it down - after some experimentation it looks like version 3.0.6 of groovy fixes this (presumbly through https://issues.apache.org/jira/browse/GROOVY-8820 ) so hopefully it's just a case of waiting for the micronaut BOM to catch up...will use one of the workarounds until then.

[2021-02-16 15:18] aero-don commented on #4856
@tbieniek, @jameskleeh advised me to set micronaut.http.client.read-idle-timeout to -1 in application.yml.  I verified that this works as a workaround.

[2021-02-16 15:47] jameskleeh commented on #4874
@TorosyanV I don't think `@RequestBean` is supposed to be tied to anything in the URL.

Can you try it with just `@Get(value = "/fields")` ?

[2021-02-16 17:38] #4891 closed, assigned to jameskleeh

[2021-02-16 18:19] jameskleeh commented on #4882
I was able to reproduce the issue with Micronaut 2.3.2 and Kotlin 1.4.30

[2021-02-16 18:20] jameskleeh commented on #4882
What is interesting is that I can reproduce it with `micronaut.processing.incremental` set to false

[2021-02-16 18:23] jameskleeh commented on #4882
Adding `kapt.incremental.apt=false` to the `gradle.properties` fixed the issue. This seems to be a bug in KAPT?

[2021-02-16 18:37] jameskleeh commented on #4882
I created this issue for you https://youtrack.jetbrains.com/issue/KT-44989

[2021-02-17 09:29] achaphiv opened #4948 "`BeanIntrospectionModule` breaks deserialization with `ConstructorProperties` + `JsonNaming`"
This might be related to #4884, but it's a more complicated example.

### Steps to Reproduce

- Create a new project from https://micronaut.io/launch
- Add this test:
[code]
- Watch it fail on 2nd test case with (truncated) stack trace:
[code]

### Expected Behaviour

If regular jackson works, only adding `BeanIntrospectionModule` should also work.

### Actual Behaviour

Normal reflection still wo

[2021-02-17 14:10] jameskleeh commented on #4882
@theHacker The kotlinVersion needs changed to 1.4.30 and the build plugin versions need changed as well. In that case it works correctly.

[2021-02-17 14:10] #4882 closed, assigned to nobody

[2021-02-17 15:41] #4884 closed, assigned to jameskleeh

[2021-02-17 15:47] jameskleeh commented on #4851
@l0co Have you had any time to create a reproducer? Should be an easy fix. 2.3.3 should be out in a couple days

[2021-02-17 18:21] jameskleeh commented on #4928
I can't reproduce this with Micronaut 2.3. If you can upload an example application that reproduces the issue with that version, I'll re-open the issue

[2021-02-17 19:42] d3bt3ch opened #4952 "Error compiling factory class"
I am getting the following compilation error for the below mentioned `factory`

[code]

[code]

[2021-02-17 19:48] jameskleeh commented on #4446
Your tests do not assert that. I can verify that `introspection.instantiate("value")` does work. The bean property name implementation is derived from `java.beans.Introspector.decapitalize` in that if the first 2 letters are capital, the name is returned unchanged. This is relevant for cases like `getURL` where the property name should be `URL`, not `uRL`. Ideally I think we should be also taking

[2021-02-18 11:17] asodja commented on #4446
Thanks for checking this out. Oh, I see now, it's not that simple to handle all the cases, it's actually quite tricky to guess what programmer wants.

[2021-02-18 16:26] #4929 closed, assigned to jameskleeh

[2021-02-18 16:30] jameskleeh commented on #4952
I can't reproduce that in Micronaut 2.3.2. If you can reproduce in a sample app with that version, or supply more details like OS and JDK,  I'll reopen.

[2021-02-18 16:58] johndevs commented on #4928
@jameskleeh Here is an example app with the latest version:

[scheduled-bug-example.zip](https://github.com/micronaut-projects/micronaut-core/files/6004527/scheduled-bug-example.zip)

Running it should print the strings "Hello" and "Goodbye" once a minute to the console.

The app only prints "Goodbye" though.

![Selection_093](https://user-images.githubusercontent.com/1967917/108392220-2bd51380-72

[2021-02-18 17:38] jameskleeh commented on #4928
This is one of those rare cases where something works in Groovy but not in Java

[2021-02-18 17:45] l0co commented on #4851
@jameskleeh Unfortunately not, still busy. But I can do a quick check what's going on. Here it's:

The problem goes from `AbstractJavaElement.mirrorToClassElement()` which is called endlessly with the same arguments (`bound` is resolved to the same value as `returnType`):

![image](https://user-images.githubusercontent.com/1880196/108398328-2d054100-7219-11eb-8d1a-6c6448968051.png)

Here is the co

[2021-02-18 17:49] l0co commented on #4851
Just a quick cheat sheet how I've generated this is you will ask me for something more in the future:

1. Add `implementation "io.micronaut:micronaut-inject-java"` to `build.gradle`
2. Reload gradle deps and stop with breakpoint in `AbstractJavaElement:181` with pass count = 2000.
3. Follow https://stackoverflow.com/a/52186665/320761

@jameskleeh It would be good to have a clean howto about debugg

[2021-02-18 17:59] d3bt3ch commented on #4952
@jameskleeh OSX with  JDK 11

Here is the POM file

[code]

[2021-02-19 13:14] TorosyanV commented on #4874
@jameskleeh  When I'm using @Get(value = "/fields")  request URL is /fields?farmName=myFarm.
It's expected

[2021-02-19 14:14] #4874 closed, assigned to nobody

[2021-02-19 14:32] #4948 closed, assigned to nobody

[2021-02-19 15:45] graemerocher commented on #4730
@l0co is this still an issue with latest Kotlin/KAPT/Micronaut?

[2021-02-19 15:46] graemerocher commented on #4607
Closing this for the moment, if you have any other ideas let us know

[2021-02-19 15:46] #4607 closed, assigned to nobody

[2021-02-19 16:46] #4928 closed, assigned to jameskleeh

[2021-02-19 19:27] jameskleeh commented on #4952
This only occurs with the Jax-rs processor on the annotation processor classpath

[2021-02-19 19:50] d3bt3ch commented on #4952
@jameskleeh Any fix soon ?

[2021-02-19 19:52] jameskleeh commented on #4952
@debjitk It seems the offending code was removed from the jaxrs module some time ago, however it hasn't had a release. Should be able to get it fixed for the next patch release of Micronaut

[2021-02-19 19:58] d3bt3ch opened #4962 "Http response wrong headers"
The Controller

[code]

The response headers

[code]

Even tried to set the `contentType` `contentEncoding` `characterEncoding` on the `HttpResponse` object but with no luck.

[2021-02-19 22:52] RyanHoldren opened #4963 "Reduce Number of Generated Classes"
I'm trying to reduce the memory consumption of our software to get it to fit on smaller instances in AWS. Our project has about 8,000. About half of them are generated by Micronaut, mostly similar to `$ExampleDefinition.class`, `$ExampleDefinitionClass.class` and `$ExampleDefinition$$execX`. All these classes end up consuming a lot of metaspace. Is there anything in the pipeline to reduce the numb

[2021-02-20 19:52] debjitk opened #4966 "Http response headers issue with tomcat"
@jameskleeh  Wrong http response headers for the following simple controller:

[code]

When using `netty` the response headers are as expected:

[code]

but switching to `tomcat` gives the following response headers:

[code]

[2021-02-21 19:55] tobiasschaefer opened #4967 "Support deprecation / refactoring of configuration properties"
As requested by @graemerocher I'm filing an issue, see also https://github.com/micronaut-projects/micronaut-core/discussions/4958

Configuration properties work well to support type safe classes representing the configuration.

However, I'm missing:
* marking configuration properties as deprecated - maybe log a warning if they are used
* refactoring configuration properties: Support a new and depr

[2021-02-22 07:10] l0co commented on #4730
It happens from time to time but I don't believe this has any relation to kotlin/kapt/micronaut, but it's pure gradle problem.

[2021-02-22 08:16] graemerocher commented on #4730
@l0co have you reported an issue to the Gradle issue tracker?

[2021-02-22 08:39] l0co commented on #4730
@graemerocher No, I have a workaround. After my experience with kotlin/kapt I feel driving this bug to be solved with gradle team is a task for someone who has inordinate amount of free time :)

[2021-02-22 08:56] l0co commented on #4730
I have upgraded gradle 6.7 -> 6.8.2. We will see if the bug is still there over time.

[2021-02-22 11:26] nsnikhil opened #4971 "Field Data type is changed when serialzing and object which contains similar field names"
### Steps to Reproduce

1. Create a new controller as given below
[code]

2. Write the test for the controller as below
[code]

3. Upon running the test you get the following output:
{"isBorrowing":{"lines":[{"lineID":"some-id"}]}}

### Expected Behaviour
The output should be something like this:
`{"isBorrowing":true,"borrowing":{"lines":[{"lineID":"some-id"}]}}`

### Actual Behaviour
The type of

[2021-02-22 14:14] #2041 closed

[2021-02-22 16:02] jameskleeh commented on #4963
There are no plans to reduce the number of generated classes at this time

[2021-02-22 16:02] #4963 closed, assigned to nobody

[2021-02-22 16:05] jameskleeh commented on #4971
This is a question for Jackson. I assume having `isBorrowing` and `borrowing` confuses Jackson into believing there is a single property instead of two, given its common to have an `isBorrowing()` method for a boolean property called `borrowing`. Micronaut uses Jackson for JSON serialization so any options forward will be some annotations or configuration of that.

[2021-02-22 16:07] #4952 closed, assigned to nobody

[2021-02-22 16:07] #4933 closed, assigned to nobody

[2021-02-22 16:12] RyanHoldren commented on #4963
Thanks for the quick reply, @jameskleeh. I'll explore other avenues :)

[2021-02-22 22:40] stickycode opened #4978 "Bad maven central metadata after 2.3.3 release"
### Task List

- [y] Steps to reproduce provided
- [n/a] Stacktrace (if present) provided
- [n/a] Example that reproduces the problem uploaded to Github
- [y] Full description of the issue provided (see below)

### Steps to Reproduce

1. From a clean maven cache (CICD)
2. build a project that depends on micronaut-inject or micronaut-validation (probably more, only tested those at this time)
3. the

[2021-02-22 22:51] stickycode commented on #4978
micronaut-management also has bad metadata

[2021-02-23 01:25] stickycode commented on #4978
actually it looks like every 2.3.3 library

[2021-02-23 01:31] jghandour opened #4979 "Gradle plugin does not get applied to test-fixtures"
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

See example.  Code in src/testFixtures/java that is referencing a micronuat class does not compile.

### Expected Behaviour

MN Gradle Plugin should also be applied to t

[2021-02-23 01:34] achaphiv commented on #4884
I can confirm that the basic types are working v2.3.3.

List wrappers are still broken.

E.G.
[code]

[code]

[2021-02-23 03:14] jghandour commented on #4979
I discovered you can easily work around this by adding the below.  Would still be nice if test-fixtures were supported out of the box though.

[code]

[2021-02-23 06:28] jameskleeh commented on #4884
@achaphiv Please create a new issue

[2021-02-23 06:34] jameskleeh commented on #4978
Sonatype is rebuilding the metadata https://issues.sonatype.org/projects/OSSRH/issues/OSSRH-64942

[2021-02-23 09:56] ross-holloway94 commented on #4737
Just tested in 2.3.3 and the warnings have disappeared, thanks!

[2021-02-23 11:10] l0co commented on #4851
The culprit is here, and I haven't added it to the source above :)

[code]

I don't use `@Validate` there, but two other `@Around` advices. In such a scenario this class is processed as it was a bean (while it isn't - it's just a base class for beans) and `$BaseSoftDeletableEntity$Introspection` and other stuff is generated for this class by the annotations processor.

Now, looking at the code in

[2021-02-23 11:16] l0co commented on #4851
And the funny part... adding `abstract` to this class declaration fixes the problem :D

[2021-02-23 14:48] jameskleeh commented on #4978
This has been resolved

[2021-02-23 14:48] #4978 closed, assigned to nobody

[2021-02-23 15:23] x80486 opened #4981 "Support fully executable applications for Unix systems"
Spring Boot have a nice feature that allow to [make fully executable applications](https://docs.spring.io/spring-boot/docs/current/reference/html/deployment.html#deployment-install) for Unix systems.

I understand this is a little bit backwards, but not everyone is using containers these days 🙄 ...so I wonder if it's possible to have a built-in feature like this in Micronaut.

[2021-02-23 15:40] jameskleeh commented on #4981
Given you can create a native executable with GraalVM, I don't think a feature like this adds much value

[2021-02-23 15:45] x80486 commented on #4981
GraalVM executables are different from, for instance, what Spring Boot creates. They create a wrapper script and bundle it into the JAR/WAR, so you can execute that file without the need for `java -jar`. Notice it's not only that, because there is this entire support for `systemd` services, environment variables, etc.

Also, I'm haven't done anything with GraalVM yet, but I've read time and time a

[2021-02-23 17:44] asodja opened #4983 "AliasFor from custom TypeElementVisitor is not visible to other visitors"
When mapping annotations with custom TypeElementVisitor `AliasFor` annotations are not seen to other Visitors.

For example [JaxRsTypeElementVisitor](https://github.com/micronaut-projects/micronaut-jaxrs/blob/master/jaxrs-processor/src/main/java/io/micronaut/jaxrs/processor/JaxRsTypeElementVisitor.java) maps `@javax.ws.rs.Path` to `@Controller`. `@Controller` has  AliasFor(annotation = UriMapping.

[2021-02-23 18:13] x80486 commented on #2664
Shouldn't this be a built-in feature where one can activate or not? Something like `shutdown: graceful | right_away`.

Then Micrnoaut should take care automatically about the remaining resources, connections, etc. I mean, this could be tricky to implement but I think it's a must to have these days.

[2021-02-23 18:58] stickycode commented on #4978
Well the symptom is closed but have you put in place controls to stop it
happening again?

On Wed, 24 Feb 2021, 03:48 James Kleeh, <notifications@github.com> wrote:

[2021-02-23 19:00] jameskleeh commented on #4978
@stickycode There is nothing we can do. We don't control the metadata and nothing we did caused the issue

[2021-02-23 19:02] stickycode commented on #4978
Huh. How do you get stuff into central? I control the metadata for the
stuff i put into Central.

On Wed, 24 Feb 2021, 08:00 James Kleeh, <notifications@github.com> wrote:

[2021-02-23 19:05] jameskleeh commented on #4978
We use the nexus publish gradle plugin

[2021-02-23 19:16] achaphiv opened #4984 "`BeanIntrospectionModule` breaks deserialization of List wrapper"
This is a continuation of #4884.

### Steps to Reproduce
- Create a new project from https://micronaut.io/launch
- Add this test:
[code]
- Watch it fail on 2nd test case with (truncated) stack trace:
[code]

### Expected Behaviour

If regular jackson works, only adding `BeanIntrospectionModule` should also work.

### Actual Behaviour

Normal reflection still works, while `BeanIntrospectionModule`

[2021-02-24 06:07] organic-scholar opened #4986 "How can I provide/configure my own implementation of SessionStore"
Micronaut provides an InMemory and Redis-based session storage. I want to provide a custom storage implementation. I wasn't able to find something useful in guides/docs.

Please provide some insight is it possible and how.

[2021-02-24 07:44] graemerocher opened #4987 "Micronaut 2.3.x unnecessarily generating proxies for JUnit tests causing test failures"
Micronaut is generating proxies for JUnit 5 tests annotated with `@MicronautTest` unnecessarily. The JUnit 5 tests fail as they cannot inject the constructor arguments with the following error:

[code]

### Steps to Reproduce

See attached example and just run `./gradlew test`

### Expected Behaviour

Proxies shouldn't be generated

### Actual Behaviour

They are generated

### Environment Informa

[2021-02-24 07:45] graemerocher commented on #4987
Workaround is to do this in Gradle:

[code]

[2021-02-24 12:05] graemerocher commented on #2664
@x80486 PRs welcome

[2021-02-24 12:32] ilopmar opened #4989 "NoClassDefFoundError: io/micronaut/runtime/server/EmbeddedServerInstance when using gRPC in Micronaut 2.4.0-SNAPSHOT"
An application with gRPC server using Micronaut 2.4.0-SNAPSHOT doesn't start because there is a missing class `io.micronaut.runtime.server.EmbeddedServerInstance`.

In 2.3.x the class `EmbeddedServerInstance` is in `micronaut-runtime` module in the package `io.micronaut.runtime.server`.
In 2.4.x the class still is in `micronaut-runtime` module but in `io.micronaut.discovery` package.

P.S: This al

[2021-02-24 13:31] #4986 closed, assigned to nobody

[2021-02-24 21:03] tomasrobertsson opened #4994 "Native image fails with Oracle driver"
Building a simple REST-API as test project to verify key components in a bigger project that is to be deployed in AWS-lambda.  When I add dependency to Oracle driver the native image build fails.

**To reproduce**
Have two branches, **hibernateJPA** and **jdbc**. In the latter I use Micronaut JDBC, in the first HibernateJPA
In both branches, if I add the oracle driver the native image build crash

[2021-02-24 21:22] graemerocher commented on #4994
Can you try 2.3.1 of Micronaut whilst I investigate?

[2021-02-24 22:30] tomasrobertsson commented on #4994
Oops, an error above (fixed now). Micronaut 2.3.3 is the version I use. Have also tried 2.3.1 and 2.3.0

[2021-02-25 06:21] graemerocher commented on #4994
Ok we will take a look. Seems specific for usage with lambdas as works in a normal app

[2021-02-25 06:32] tomasrobertsson commented on #4994
Thanks and yes.
I have a successful push to lambda with H2 database on the native-image branch.
I have successful build of native image with oracle support and netty.
Oracle and lambda support together fails at native image.

[2021-02-25 12:01] todoubaba opened #4998 "Warning when upgrade kapt to 1.4.30"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

1. create-app --lang=kotlin, update plugins to 1.4.30
[code]
2. Add a simple Entity and Repository
[code]
3. Execute `gradle assemble`

### Expected Behaviour

No warnin

[2021-02-25 13:43] graemerocher commented on #4994
It works if you comment out the `h2` driver. Unfortunately the 2 drivers need different native image configurations that are incompatible with each other so I don't see us supporting both simultaneously

[2021-02-25 13:43] #4994 closed, assigned to graemerocher

[2021-02-25 13:54] tomasrobertsson commented on #4994
Thanks, feel stupid, That I should seen by myself. Not a bug.

[2021-02-25 13:59] graemerocher commented on #4994
Well the error message is not hugely helpful

[2021-02-25 15:36] rof20004 commented on #3375
@graemerocher Why has to be @field:Client("/")??

[2021-02-25 16:01] rof20004 commented on #3375
Ok, I saw in the docs, thanks!

[2021-02-25 17:39] RyanHoldren opened #5001 "Error Compiling Generic Beans"
I am trying to upgrade from `2.2.1` to `2.3.3`. It seems there was a regression introduced in `2.3.0` that is crashing the annotation processor during compilation of a bunch of our beans.

### Steps to Reproduce

1. Check out [the example project](https://github.com/RyanHoldren/micronaut-compilation-problem) I put together.
2. Run `gradle build`

### Expected Behaviour

It should compile.

### Act

[2021-02-25 17:41] jameskleeh commented on #2664
@x80486 @graemerocher What would this feature do compared to what is already possible? Through the event listeners and the event loop group shutdown settings (quiet period, timeout), it seems the use case is covered.

[2021-02-25 17:47] x80486 commented on #2664
@jameskleeh, I'm eventually not familiar with it. I can see that Micronaut waits for a while before shutting down completely the embedded server, but I don't know if, for instance, all related resources used by the application — messaging, HTTP traffic, etc. — are going to be managed appropriately while on that phase.

[2021-02-25 17:53] jameskleeh commented on #2664
@x80486 All related resources should be handled gracefully. We can't have a central feature in core that ensures your Kafka listeners are shut down correctly for example. As far as I know all things that we are responsible for are shutdown with sensible defaults. Are you aware of a feature or resource that is not managed appropriately for shutdown?

[2021-02-25 18:01] vlypskyi opened #5002 "`BeansIntrospectionModule` breaks serialization and deserialization for `@JsonAnySetter/Getter`"
### Task List

- [ X] Steps to reproduce provided
- [ X] Stacktrace (if present) provided
- [ X] Example that reproduces the problem uploaded to Github
- [ X] Full description of the issue provided (see below)

### Steps to Reproduce

* Create a new project from https://micronaut.io/launch
* Add this test:
[code]

* `testSerializeIntrospected` breaks with
[code]

* `testDeserializeIntrospected` br

[2021-02-25 18:35] #4989 closed, assigned to graemerocher

[2021-02-25 18:47] RyanHoldren commented on #3504
We have a filter that does this:
[code]

[2021-02-25 21:06] x80486 commented on #2664
No, I can't really tell because I'm just starting (for real) with couple of services with Micronaut.

[2021-02-25 21:27] jameskleeh commented on #2664
@x80486 Thanks - then it seems like this issue is resolved

[2021-02-25 21:27] #2664 closed

[2021-02-25 21:42] umutkocasarac opened #5005 "Micronaut server is not working for clear text http2 (h2c)"
I am trying to use h2c protocol on the Micronaut however my endpoint is not responding the request when I use http2. This is my configuration for the h2c

[code]

### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

Use th

[2021-02-26 02:28] tandel-pratik commented on #4653
One way to achieve this would be to use the zalando logbook hook which lets you customize which paths you want to log: https://docs.micronaut.io/snapshot/guide/index.html#nettyPipeline

This solves our purpose of excluding logs from periodic scrapers that call /health /info /prometheus

[2021-02-26 04:52] drmaciej opened #5006 "Discovery view for management endpoints"
Endpoints are described here https://docs.micronaut.io/2.3.3/guide/index.html#providedEndpoints. Boot has such a view at /actuator, enabled via _EndpointLinksResolver_ and _WebMvcEndpointHandlerMapping_. A similar view would be very useful in Micronaut.
In the meantime - until this does or does not become available - is there a way to discover all enabled @Endpoint-annotated classes, so I could bu

[2021-02-26 07:02] tcrespog opened #5007 "Properties coming from environment sources are ignored by CustomTypeConverter"
### Task List

- [x] Steps to reproduce provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Download the [example application](https://github.com/tcrespog/mn-type-converter).
2. Run `MnTypeConverterPropertiesSpec`. The test, which follows the docs regarding [custom type converters](https://docs.m

[2021-02-26 07:09] graemerocher commented on #5006
PRs welcome!

[2021-02-26 09:18] galzetta commented on #1931
I have a similar issue with micronaut 2.3.3. With Chrome I get an HTTP_SSL_PROTOCOL_ERROR and even curl fails consistently...

[code]

From the error it either seems that micronaut is trying to use `SSLv3`, or that the clients & server are unable to negotiate the ssl protocol.
AFAIK I only specify `micronaut.ssl.enabled=true` and `micronaut.ssl.buildSelfSigned=true`, so everything else about ssl i

[2021-02-26 12:37] hbxu opened #5009 "Configure/change behavior of AbstractResource in regards to embedded resource for a single resource"
No control in behavior of AbstractResource for embedded resources.
Actual:
- Single resource within embedded AbstractResource will result into an Object
- Multiple resources within embedded AbstractResource will result into an Array of Objects

Expect:
- Single resource within embedded AbstractResource will result into an Array with one Object

### Task List

- [X] Steps to reproduce provided
- [X

[2021-02-26 16:33] jamil-kafi commented on #5011
Hello,
Any news about this issue ?

Thank you.

[2021-02-26 16:36] #4984 closed, assigned to jameskleeh

[2021-02-26 16:49] #4796 closed, assigned to jameskleeh

[2021-02-26 16:54] jameskleeh commented on #5009
This is a breaking change that would have to wait until Micronaut 3

[2021-02-26 16:57] graemerocher commented on #5011
Working on it now

[2021-02-26 17:00] jameskleeh commented on #5006
We have a routes endpoint which will include the management endpoints. You can have a `ExecutableMethodProcessor<Endpoint>` bean, however you wouldn't have access to the logic that determines the URL, etc...

[2021-02-26 19:48] jameskleeh commented on #5001
Thanks for the report!

[2021-02-26 19:53] RyanHoldren commented on #5001
No, thank _you_ for the fix :)

[2021-02-26 21:36] bernd-prager-epam commented on #4987
I tried the suggested workaround to no effect. Unfortunately I am still getting ParameterResolutionException.
:-(

[2021-02-27 01:44] drmaciej commented on #5006
I'm aware of the routes endpoint, I was hoping for something with clickable links though. I'll have a look at the `ExecutableMethodProcessor`, perhaps it takes me somewhere.

[2021-02-27 09:30] kalgecin commented on #4837
also getting this issue while handling multipart upload with CompletedFileUpload

[code]

[code]

[2021-02-27 15:06] #5001 closed, assigned to jameskleeh

[2021-02-27 18:08] #5011 closed, assigned to graemerocher

[2021-02-28 01:10] #4987 closed, assigned to graemerocher

[2021-02-28 10:44] athkalia opened #5016 "Cannot bind raw @Body request on a String type for a lambda function"
Hello,

Hello, I am using the `io.micronaut.function.aws.proxy.MicronautLambdaHandler` and I am having some issues binding the raw request body on a String variable so that I can do some validation of the request as a whole.

Specifically

[code]
is working fine and the Json is getting deserialized into my `PullRequestWebhookEventNetModel` object, but

[code]

Is not working, and I am getting a de

[2021-03-01 05:36] nhoughto opened #5018 "Incremental annotation processor lists many originating elements for subclasses, causing full compilation."
### Steps to Reproduce

1. Clone https://github.com/nhoughto/incrementalAnnotationTesting
2. Run `gradlew compileJava -i`
3. Change `MySubClass.java`
4. Re-run `gradlew compileJava -i`

### Expected Behaviour

Incremental compilation works and MySubClass is recompiled

### Actual Behaviour

Gradle full recompilation is triggered as $$MySubClassDefinitionClass has multiple originating classes.

[co

[2021-03-01 06:28] kalgecin commented on #4837
Over the weekend i did some tests on the server, and the leaks seem to occur when FileAlreadyExistsException is caught. The request is processed correctly, but something does not get closed i'm guessing

[2021-03-01 06:30] drmaciej commented on #5006
I have had a look; I may be able to come up with a PR soon; just need to figure out a bit more in terms of Micronaut internals.

[2021-03-01 07:44] iBernd81 opened #5019 "Fired events are not consumed asynchronous in Micronaut 2.x"
My application in stable version uses Micronaut in latest old 1.3.7.

Within an injected `ApplicationEventPublisher` publishes events to one consumer. There one method is annotated with `@Async` and `@EventListener`. Everything is working fine in this constellation.

Now I am heavy working on upgrading to Micronaut 2.1.4...

Everything is working fine, too, except one customer service. Tracing the

[2021-03-01 07:54] umutkocasarac commented on #5005
Please let me know if I should provide any further information for the issue.

[2021-03-01 08:02] graemerocher commented on #5005
Relates to #3389

Since browsers don't event support h2c currently Micronaut only supports h2 with HTTPS enabled. There are actually issues with the underlying Netty APIs that prevent us from fully supporting h2c

[2021-03-01 08:03] graemerocher commented on #5019
Please provide an example that reproduces the issue

[2021-03-01 08:47] sdedic opened #5020 "Micronaut parent POM breaks exec.executable CLI override in maven, breaks execution from NetBeans IDE"
### Steps to Reproduce

1. Generate a Micronaut project, using the [Micronaut Launch](https://micronaut.io/launch/). Choose:
1.2. Micronaut Applicaiton, Java: 11, Base package: com.example (default), Name: micronaut-maven-exec-bug
1.3. MIcronaut version: 2.2.3, Language: Java, Build: Maven, Test Framework: JUnit
2. Setup system so that Java 8 or Java 9 is listed first in PATH and pointed to by JAV

[2021-03-01 09:09] alvarosanchez commented on #5020
Your analysis is correct. However, note that the use of the Exec Maven Plugin for running Micronaut applications is deprecated, and will be unsupported in Micronaut 3.

The preferred way to run Micronaut applications today is via the Micronaut Maven Plugin's `mn:run` goal.

[2021-03-01 09:31] anoophp777 opened #5102 "How to control streams or json from client?"
I'm a long time user of Reactor via Webflux in Spring Boot. I was testing Micronaut and noticed a couple of things.

1. An HTTP Client cannot control what response - stream-json / json - it would receive. This was possible in Spring Boot with "Accept" header. Eg: "Accept: application/json+stream" would give me a stream; "Accept: application/json" would give me a json.

2. I hae to annotate the cod

[2021-03-01 09:39] sdedic commented on #5020
@alvarosanchez thanks for the heads-up; I'll file a task for myself to adapt Maven support in the IDE to support such technology-provided plugins for execution.

Edit: https://issues.apache.org/jira/browse/NETBEANS-5394

[2021-03-01 10:07] umutkocasarac commented on #5005
I see :(

Do you know the issue number on the Netty side, I have searched it but couldn't find it.
Thanks

[2021-03-01 10:51] iBernd81 commented on #5019
Thank you @graemerocher for your seeing.

To share a running example is not as easy as expected. But I can provide some sources with two more comments and log information so far.

Perhaps you can explain me some details or where I can start further debugging or what do you think / guess about this issue.

### NotificationPublisher.groovy
[code]

### NotificationProcessService.groovy
[code]

[log.t

[2021-03-01 11:07] binoysankar opened #5022 "Improve SSL Key-Store load option to include Base64 encode String for certificates"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

I would like to include a "Feature/Improvement" instead of a "Bug" here.
We are using client SSL certificates to access the endpoints and below is the Micronaut configur

[2021-03-01 16:40] RyanHoldren opened #5023 "Writable Doesn't Flush OutputStreamWriter"
In the [`Writable`](https://github.com/micronaut-projects/micronaut-core/blob/8e79eac72cf1ce70fac62a74882db2a618d154a2/core/src/main/java/io/micronaut/core/io/Writable.java) interface, the default implementation of of [`writeTo(OutputStream)`](https://github.com/micronaut-projects/micronaut-core/blob/8e79eac72cf1ce70fac62a74882db2a618d154a2/core/src/main/java/io/micronaut/core/io/Writable.java#L51

[2021-03-01 17:32] hbxu opened #5025 "Health endpoint, empty reply from server when underlying resource is not available"
Health Check endpoints impacted by unavailability of Database.

### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Start Database (Oracle XE)
2. Check health endpoint (curl http://localhost:8080/health)
3. Stop Databa

[2021-03-01 19:25] #5020 closed, assigned to nobody

[2021-03-01 21:19] #5023 closed, assigned to jameskleeh

[2021-03-01 21:37] jameskleeh commented on #5025
I can't reproduce that

[code]

Note that I used mysql since I have a database lying around, but it should behave the same

[2021-03-02 05:56] jameskleeh commented on #5025
Note that if the connection timeouts for the oracle driver are very long, you could hit the timeout limit for curl. You should be able to configure it to not wait as long

[2021-03-02 07:55] sdedic opened #5026 "mn:run fails to pass proper application and JVM arguments, tokenizes using comma."
### Steps to Reproduce

1. Clone the prepared sample project:  `git@github.com:sdedic/micronaut-maven-exec-bug.git`
3. checkout the bug branch: `git checkout exec-params`
4. ensure Java 11 JDK is in PATH first, and pointed to by JAVA_HOME env var
3. do `mvn mn:run` from the commandline.
4. do `mvn -Pdebug mn:run`.

Note: although there are specific properties to construct the JDWP agent parameters

[2021-03-02 08:55] sdedic commented on #5026
Many apologies, wrong subproject :(  will repost in `micronaut-build-plugins`.

[2021-03-02 08:55] #5026 closed, assigned to nobody

[2021-03-02 09:54] hbxu commented on #5025
I tested with mysql, also the same behavior (/health is not available, when database is gone).

<details><summary>Stacktrace</summary>
<p>

[code]

</p>
</details>

I will run the tests on a different machine and come back with the results.

[2021-03-02 13:47] jameskleeh commented on #5025
@hbxu I see the same stacktrace, but I get a response in curl. I couldn't reproduce `curl: (52) Empty reply from server`

[2021-03-02 14:38] pfyod commented on #4851
Caught the same problem with a similar inheritance / generic structure and use of `@Introspected`. Removing `@Introspected` on the base classes "solved" it for us for now, but obliviously it's not a real solution.

[2021-03-02 15:09] jameskleeh commented on #4851
It makes sense since the class should not be a bean if its abstract

[2021-03-02 15:34] jameskleeh commented on #4851
@l0co Thanks for the reproducer. Will be included in the next release coming this week

[2021-03-02 16:31] #4851 closed, assigned to jameskleeh

[2021-03-02 22:04] jmongard opened #5031 "CircuitBreaker always opens on exception"
It looks like the `excludes`/`include`/`predicate` option of the circuit breaker only applies to the `Retryable` functionality of the circuit breaker and does not prevent the circuit from opening.

This is related to #1920 and #1921

**Alternative 1**:
If this is by design it should be clearly stated in the javadoc for the `@CircuitBreaker` annotation parameters. Currently the options is described

[2021-03-03 07:52] amhg opened #5032 "Micronaut Swagge UI display specific module"
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

1. Run the project and visualize the Swagger Specification from the "startup" module. Which contains the SwaggerController
http://localhost:8080/api
2. Visualize the Swa

[2021-03-03 10:30] ilopmar opened #5034 "Wrong argument name generated with HTTP Client"
I'm using Micronaut HTTP Client to send an authorized request with a Bearer token in a header.

[code]

The test is failing because the name of the header is `arg0`:

[code]

If I modify the method in the interface to include the name of the header:

[code]

The test passes now because the rigth header name `authorization` is sent:

[code]

### Steps to Reproduce

- Unzip this app: [micronaut-secu

[2021-03-03 12:20] l0co commented on #4851
I can confirm the project is now properly built in 2.3.4.

[2021-03-03 12:20] kschulst opened #5035 "Missing micronaut-gcp-secret-manager dependency in micronaut-bom"
`micronaut-gcp-secret-manager` dependency is missing from the micronaut-bom. Would expect to find something like:

[code]

Excerpt from micronaut-bom-2.3.4.pom
[code]

[2021-03-03 12:58] l0co opened #5036 "Default annotation value not propagated with @AliasFor"
In `2.3.4`.

Looking on these classes:

[code]

It seems that when I use `@CircuitBreak` with no params the delay should be 500ms, while, because it's a default value, it's not propagated by `@AliasFor` to `@Retryable` and finally the delay calculated by `DefaultRetryInterceptor` is 1s.

This only works when I explicitely use `@CircuitBreak(delay = "500ms")`.

[2021-03-03 13:28] l0co opened #5037 "@CircuitBreaker(includes) does not work"
In `2.3.4`.

[code]

This code shows that `CircuitBreaker(includes)` is not considered when the decision about opening circuit is about to be made (what happens in `retryState.close()`). It's only considered for underlying `@Retryable`. In the result, when I use `includes` with `CircuitBreaker`, and the thrown exception is not on the list, the retry policy won't be applied, but the circuit will be

[2021-03-03 16:59] jameskleeh commented on #5034
I can't reproduce this on macOS

[2021-03-03 17:22] l0co commented on #5037
It's a simple fix. I've sent a PR.

[2021-03-03 17:29] jameskleeh commented on #5036
I don't think we can change this because it would be impossible to know if the user set the value or not. Perhaps we could have some option in the `@AliasFor` annotation to allow it

[2021-03-03 19:31] hbxu commented on #5025
I can confirm that on my other machine, I am not able reproduce it either.

Thanks for the help.

<details><summary>curl 1</summary>
<p>

$ curl localhost:8080/health -i
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   584  100   584    0     0     19      0  0:00:30  0:00:30 --:--:--

[2021-03-03 19:31] #5025 closed, assigned to nobody

[2021-03-03 19:59] #5034 closed, assigned to nobody

[2021-03-03 22:53] nhoughto commented on #5018
Any thoughts on how to progress this? Happy to do more investigation and provide more info if required. @graemerocher seems like you did a bunch of work in this area around this time last year?

[2021-03-03 22:55] nhoughto commented on #5018
Bit more context about the problem it causes, in our relatively small (6 month old codebase) this causes a 30+ sec build step for every tiny code change, change 1 byte in a test it takes 30 seconds to re-run.. its a constant hit to our productivity. I imagine others must be running into this too 🤔

[2021-03-04 06:46] l0co commented on #5036
Why do you need to know if user set the value or we use the default value? If user set the value on their annotation it should be propagated upward annotations hierarchy with `@AliasFor`. If user hasn't set the value, the default annotation value should be propagated. Otherwise the current annotation contract is broken.

Currently, you cannot even have the annotation with other defaults than in or

[2021-03-04 06:52] jameskleeh commented on #5036
It's important in many areas. For example `metadata.stringValue()` which returns an optional would never return an empty optional if the default value is an empty string. There can be logic that changes behavior depending on the value being set by the user or not.

I understand that you want it to work that way, however we can't simply change the behavior. As I said one option is to have a member

[2021-03-04 06:52] l0co commented on #5036
Another thing here is:

[code]

After using `@SafeClient(attempts = "10")` what would be the result of `context.getAnnotation(Retryable.class).get("attempts", String.class)`? AFAIR when I was debugging this, it's still "3", what means `@AliasFor` is not propagated in a chain, but it's only propagated to the nearest annotation (which in this scenario is `@CircutBreaker`).

It was yesterday I was de

[2021-03-04 06:53] l0co commented on #5036
I think it's fine to have this as an option.

[2021-03-04 10:27] jaksah commented on #4837
We are experiencing similar behaviour using Java 11 and Micronaut 2.3.2. We've managed to reproduce the behaviour locally with our application running in docker with limited memory and using the `for i in {1...1000}; ... &; done` approach to send curl requests concurrently. We simplified the controller to just return some dummy data.

[code]
We set the jvm flag `-Dio.netty.leakDetection.level=adva

[2021-03-04 10:31] graemerocher commented on #4837
@jaksah can you provide the example application?

[2021-03-04 11:43] asodja commented on #5018
I think this is a result of: https://github.com/micronaut-projects/micronaut-core/issues/4223. So basically IntelliJ wants to have that info but Gradle doesn't like it. So it might be tricky to deal with it.

[2021-03-04 11:58] graemerocher commented on #5018
yes that is the root cause of the issue, the only thing I can think of is adding an annotation processor property that you can set to enable or disable this behaviour. Note that there are cases in Micronaut where super classes contribute to a child classes generated bean definition (such as an `@Inject` on a parent field or method) so if we were to disable this behaviour it would likely lead to in

[2021-03-04 11:58] nhoughto commented on #5018
Interesting, wrt that issue is there a test case showing the problem? Or was it more theoretical?

In the example given I’d expect a change to Test to recompile itself, and a change to BaseTest to recompile itself and any subclasses (depending if the change meant a difference to the ABI or not, as per compiler avoidance rules). I wouldn’t expect a change to Test to trigger a recompile of BaseTest

[2021-03-04 11:59] graemerocher commented on #5018
example showing the issue is described in https://youtrack.jetbrains.com/issue/IDEA-250670

[2021-03-04 12:05] nhoughto commented on #5018
Hmm ok so it’s an intelij interaction that doesn’t happen in straight gradle, could it be conditional? Like reporting multiple originating sources is against the gradle rules so is breaking the interface.. but then IntelliJ requires multiple sources and not doing that is breaking their interface.. 😖

so both solutions are mutually exclusive, so either forgo one or do both depending on the environm

[2021-03-04 12:07] nhoughto commented on #5018
Strange that intelij would have a problem with this when it just delegates build and test to gradle in its normal configuration 🤔
The non default config of intellij doing build and test itself would make sense.. but then the environment would be quite different and easy to detect?

[2021-03-04 12:17] asodja commented on #5018
Yes, this issue described in https://youtrack.jetbrains.com/issue/IDEA-250670 happened if you used `Build and run using: IntelliJ` and `Run tests using: IntelliJ`. It also affected Maven users since IntelliJ handles compilation for Maven projects by default I believe (not sure how many Micronaut users use Maven though).

[2021-03-04 12:36] bfrn opened #5046 "@JsonView annotation restriction does not work for request-body"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

I' am currently working on Micronaut Version 2.1.2 and I ran in to the
problem that, I cannot restrict the request-body parameter of my application with the JsonView ann

[2021-03-04 12:42] graemerocher commented on #5018
@nhoughto as I said I recommend reporting an issue to the Gradle issue tracker https://github.com/gradle/gradle/issues/

so this problem can be addressed on the Gradle side long term. I don't know why Gradle requires a full recompile but IntelliJ does not, seems a limitation with Gradle.

In the meantime we can maybe make it configurable and disable this behaviour for Gradle builds, however like I

[2021-03-04 13:29] ilopmar opened #5048 ""No value available for annotation member" for MQTT and Micronaut 2.4.0-SNAPSHOT"
The MQTT GraalVM app has detected an error when starting the MQTT app with Micronaut 2.4.0-SNAPSHOT. It happens on both JVM and GraalVM.

The error seems to be in `io.micronaut.core.annotation.AnnotationValue.lambda$getRequiredValue$1(AnnotationValue.java:774)` that's why I'm opening the issue here instead of in micronaut-mqtt.

### Steps to Reproduce

- `git clone https://github.com/micronaut-gra

[2021-03-04 14:02] jameskleeh commented on #4837
@kalgecin If this line `val newFile = Files.createFile(Paths.get("$fileStoragePath/$filename"))` is causing the exception that means you are never reading the file, and thus the buffer is not released

[2021-03-04 14:07] ggerbaud opened #5049 "ReverseArrayIterator in ArrayUtils can't work"
### Task List

- [x] Steps to reproduce provided

### Steps to Reproduce
A simple JUnit test
[code]

### Expected Behaviour

`next()` should return value since `hasNext()` returns true

### Actual Behaviour

The iterator throw a `NoSuchElementException` at first call to `.next()`

### Solution
The problem is here (https://github.com/micronaut-projects/micronaut-core/blob/2.3.x/core/src/main/java/i

[2021-03-04 14:19] kalgecin commented on #4837
isn't the correct behavior to release the resources after the method returns? What if my logic does not require to process the file at certain times? Say for example i check the file size for limits, or something else.

[2021-03-04 14:39] rodolfodpk commented on #611
90% of the features? Well, Quarkus certainly got some inspiration from Micronaut and I wish Micronaut could do it too: https://quarkus.io/guides/reactive-event-bus An event bus with request/reply (not only pub/sub), blocking code annotation, and even Mutiny as an alternative reactive glue (compatible with RxJava but not Reactor, AFAIK). I have some use cases I usually implemented in Vertx/Quarkus

[2021-03-04 15:21] jaksah commented on #4837
@graemerocher Here's an example application: https://github.com/jaksah/micronaut-multipart-memory-leak

[2021-03-04 15:38] ggerbaud opened #5050 "AnnotationMetadataHierarchy.getAnnotationValuesByType calls get*Declared*AnnotationValuesByType on hierarchy"
### Task List

- [x] Steps to reproduce provided
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

#### Direct to the point
A simple JUnit Test
[code]

#### More realistic use-case
[code]
Then when openapi processor will run on this example, it will not find the ApiResponse on the interface due to this issue. If I put those annotations on the implementing Controller

[2021-03-04 15:40] graemerocher commented on #5050
This is fixed in the 2.4.x branch I believe

[2021-03-04 15:44] jameskleeh commented on #4837
@kalgecin The logic that processes the return of the method has no knowledge of any file arguments, etc.. The data is released as soon as you use it, which is the correct approach given the data can be released sooner compared to the end of the method. Not to mention methods that return reactive streams return immediately before the file is read

[2021-03-04 15:44] #5050 closed, assigned to nobody

[2021-03-04 15:44] ggerbaud commented on #5050
You're right : https://github.com/micronaut-projects/micronaut-core/blob/2.4.x/inject/src/main/java/io/micronaut/inject/annotation/AnnotationMetadataHierarchy.java#L350
I didn't know this branch.

Is a 2.4 release coming soon or is it fixeable in a 2.3.x ?

[2021-03-04 15:46] jameskleeh commented on #4837
@jaksah In that example application you are also not reading the file, thus the same thing applies

[2021-03-04 15:59] graemerocher commented on #5050
Micronaut 2.4 will hopefully be released on Monday

[2021-03-04 16:23] jameskleeh commented on #4837
@kalgecin I've created a PR to add a method to allow you to discard the file https://github.com/micronaut-projects/micronaut-core/pull/5052

[2021-03-04 18:30] RyanHoldren opened #5054 "Method Adapters Fail At Runtime"
We are trying to upgrade from 2.2.3 to 2.3.4 and are running into a strange exception at runtime with our method adapters.

### Steps to Reproduce

1. Check out [the example project](https://github.com/RyanHoldren/micronaut-adapter-problem) I put together
2. Run `gradle test`

### Expected Behaviour

The test should pass, as they did in the 2.2.3

### Actual Behaviour

The test fails with an excep

[2021-03-04 19:05] #5037 closed, assigned to nobody

[2021-03-04 19:06] jameskleeh commented on #5031
I marked this as a duplicate even though the other issue was created after this but it came with a PR

[2021-03-04 19:06] jameskleeh commented on #5031
Duplicate of https://github.com/micronaut-projects/micronaut-core/issues/5037

[2021-03-04 19:06] #5031 closed, assigned to nobody

[2021-03-04 22:20] nhoughto commented on #5018
I don't see how this can be a Gradle issue? They are quite clear on the requirements for incremental annotation processing (one originating source), and Gradle itself has no issue (as described in the youtrack issue, works fine with Gradle on CLI and if running IntelliJ in default 'delegate to Gradle' mode). It is entirely an IntelliJ problem when using internal IntelliJ processes (not Gradle proc

[2021-03-04 22:33] tandel-pratik opened #5056 "Micronaut URL Pattern documentation"
I couldn't find good examples of how the `@Filter` annotation takes in as values. `/**` doesn't compile using `java.util.regex.Pattern.compile`. Are there examples of what values are acceptable to pass in the `@Filter` annotation?

On a related note is it possible to exclude certain patterns instead?

### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Exa

[2021-03-05 06:50] graemerocher commented on #5018
Another alternative is to do some class loader trick to see if the compiler is running in Gradle or IntelliJ

[2021-03-05 07:04] nhoughto commented on #5018
Yep, is it the sort of thing you want to paper over though? Intellij / whoever will never fix it if everyone just solves it for them transparently

[2021-03-05 07:51] graemerocher commented on #5018
unfortunately that is life we have to often deal with different systems and sometimes it is easier to place a hack then fight for change in some system beyond your control

[2021-03-05 09:25] thangnc2707 commented on #2162
@jameskleeh
@graemerocher
 I using Micronaut version 1.3.3.
I wanna apply gracefully shutdown but when upgrading version Micronaut to 2.2.2 the Server has issued " No transaction manager configured"

[2021-03-05 09:30] jaksah commented on #4837
Thanks for clarifying @jameskleeh. I've updated my [example application](https://github.com/jaksah/micronaut-multipart-memory-leak) to have the controller read the bytes of the file but also making the route secured and managed to reproduce the LEAK by sending unauthenticated requests. How do we make sure to release the data in this case?

[2021-03-05 10:21] Chordless commented on #3910
I ran into this same issue on the newest version of Micronaut (2.3.4).
We have a Singleton bean, that in it's constructor does a HTTP call via a `@Client` class.
When the HTTP call returns, some code in micronaut wants to parse the JSON response using Jackson, and calls into some code that tries to get the ObjectMapper singleton bean. This hangs until something times out.

What i think goes on:
1.

[2021-03-05 10:26] pfyod opened #5059 "serviceId attribute is not set on the request when using the Low-Level HTTP client"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Inject a low level client client with a service id
2. Try to read this service id in a client filter

This functionality is required to be able to use an `OutgoingHtt

[2021-03-05 10:40] pfyod commented on #5056
Micronaut uses ant-style pattern matching. You can find some documentation here: https://docs.micronaut.io/latest/api/io/micronaut/core/util/AntPathMatcher.html

I do agree though that it needs to be properly documented within the main micronaut docs.

[2021-03-05 10:47] graemerocher commented on #5018
Submitted a PR for this https://github.com/micronaut-projects/micronaut-core/pull/5060

[2021-03-05 13:55] tomasrobertsson opened #5064 "Configurations properties are empty in native image"
### Issue
Nested configurations properties are empty in native image

### Steps to Reproduce
Create a structure of properties in yml configuration, alike:
[code]

Map this to classes
[code]
I have also tried reducing the props to just the mail-class, with one property with same problem
### Expected Behaviour

If run in normal java netty environment the properties are correctly injected and populat

[2021-03-05 14:35] graemerocher commented on #5064
Annotate `User` and `Colors` with `@Introspected`

[2021-03-05 14:43] #5018 closed, assigned to graemerocher

[2021-03-05 14:44] #5054 closed, assigned to graemerocher

[2021-03-05 15:16] tomasrobertsson commented on #5064
Do not help, still empty response in native image
Class like
[code]
alone is also empty. Test project has only default properties so that should not be what cause the problem. Your test project give same blank result in native image.

I run in trace,  in JAVA i see
` i.m.c.e.y.YamlPropertySourceLoader - Processing YAML: {micronaut={application={name=demo}}, jackson={bean-introspection-module=true}

[2021-03-05 15:24] graemerocher commented on #5064
probably you are missing the `micronaut-graal` annotation processor that would correctly configure static resources since resources are not included in the native image by default

[2021-03-05 15:33] tomasrobertsson commented on #5064
Nope, that I have.
Actual code I run is in the latest commit on this branch (to end speculations)
https://github.com/tomasrobertsson/micronaut-native-hibernate-oracle/tree/property-test
I reproduce the error with the example at
https://github.com/micronaut-guides/micronaut-configuration

Other resources are correctly imported, like JPA-settings (not in example)

[2021-03-05 15:51] graemerocher commented on #5064
The following example works for me:

[config-test.zip](https://github.com/micronaut-projects/micronaut-core/files/6091602/config-test.zip)

unzip and run `./gradlew testNativeImage`

[2021-03-05 16:38] jameskleeh commented on #4837
@jaksah I'll take a look. You shouldn't be responsible for doing so in that case

[2021-03-05 16:54] #5048 closed, assigned to graemerocher

[2021-03-05 17:12] jeffscottbrown opened #5065 "Broken Link In User Guide"
The `rs:Publisher[]` reference at https://github.com/micronaut-projects/micronaut-core/blob/a6ef31ecb1f3687bd4f5ef56c1148d12943016cc/src/main/docs/guide/httpServer/sse.adoc is generating a link to https://docs.oracle.com/javase/8/docs/api/org/reactivestreams/Publisher.html which does not exist.

[2021-03-05 17:40] tomasrobertsson commented on #5064
If that works for you then its the build method that fails. I have not been able to set up to build with  gradlew nativeImage on Windows yet.
The build process I use is build with gradle and run native image manually (for test in Windows) or in docker to deploy in lambda.
I will build and test it in docker to see if it works.

[2021-03-06 08:49] CoderYellow commented on #675
Quarkus has support for scala long time ago, may be your team should  dig deeper into their implentation.

[2021-03-06 10:33] graemerocher commented on #675
Quarkus processes the byte code generated by Scala after compilation as they implement two step compilation process. Micronaut processes source code via the language AST so looking at their implementation will not help in anyway whatsoever.

[2021-03-06 11:34] rom1dep commented on #675
Could it be related to: https://github.com/scala/scala/commit/7e57bcc1818a402ad6ec32416af2b4522671f9ab ?

[2021-03-06 14:07] tomasrobertsson commented on #5064
My bad (again) but still a different functionality of the code when run as Java vs run as Native image.
With native image `@Introspected` is required, on Java it is not. This should be added to documentation that sub-classes in a property tree require `@Introspected` and, for case of simplicity, best if same rules apply in native image as in java.

[2021-03-06 14:07] #5064 closed, assigned to nobody

[2021-03-07 14:28] BrianEstrada commented on #4829
Having this issue as well

[2021-03-08 10:04] graemerocher opened #5070 "Implement support for annotation member qualifiers and @NonBinding in Micronaut"
Currently Micronaut doesn't support using annotation members to produce a qualifier nor does it process the @NonBinding member we need to implement this in Micronaut

See https://jakarta.ee/specifications/cdi/3.0/jakarta-cdi-spec-3.0.html#qualifier_annotation_members

Relates to https://github.com/micronaut-projects/micronaut-core/issues/4658

[2021-03-08 14:09] ilopmar opened #5071 "Compilation error with Micronaut Data 2.3.1-SNAPSHOT and Micronaut 2.4.0-SNAPSHOT"
The GraalVM CI has detected a compilation error with all the JDBC/JPA test applications. It happens when using the latest snapshots for Micronaut and Micronaut Data.

[code]

### Steps to Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-data-jdbc-graal`
- `cd micronaut-data-jdbc-graal`
- `git checkout 2.4.x_h2`
- `./gradlew run`

### Expected Behaviour

The application sh

[2021-03-08 15:13] #5071 closed, assigned to graemerocher

[2021-03-08 15:51] jameskleeh commented on #5065
I think this is a bug or issue with our docs plugin. It seems the `rs:` extension is used everywhere, but it has different behavior in some places.

[2021-03-08 19:45] #5049 closed, assigned to jameskleeh

[2021-03-09 02:50] Steven-M-Brown opened #5078 "`BeanIntrospectionModule` breaks deserialization of more complex wrappers"
Likely related to #4884

### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create new project from https://micronaut.io/launch
2. Add this test:
[code]

### Expected Behaviour

Adding BeanIntrospectionModule should n

[2021-03-09 02:51] Steven-M-Brown commented on #5078
Stumbled on this when upgrading from `2.3.2` -> `2.3.4`, broke pretty much all my tests, this is about as boiled down as I could get it.

[2021-03-09 02:53] Steven-M-Brown commented on #5078
Same test seems to work in `2.3.2`.

[2021-03-09 08:09] graemerocher opened #5079 "Implement support for narrowing bean injection by generic type arguments"
Micronaut doesn't support narrowing injection by generic type arguments yet, for example:

ie

[code]

The above will currently fail with a non-unique bean exception.

[2021-03-09 10:40] dayman opened #5081 "Jackson fails to deserialize data classes with generic types"
After updating from 2.3.3 to 2.3.4 I'm getting jackson deserialization error when using generic types in constructor.
Use Kotlin 1.4.31

### Steps to Reproduce

[code]

T is of different simple types (also data classes)

This is example of what T may be
[code]

### Expected Behaviour

Should deserialize to object

### Actual Behaviour

Exception during deserialization
[code]

### Environment Infor

[2021-03-09 10:43] graemerocher commented on #5081
Your example has no generic types?

[2021-03-09 10:44] dayman commented on #5081
sorry, formatting ate it maybe :) fixed

[2021-03-09 12:49] azakrytnoi opened #5083 "Missed native image settings in logger endpoint"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2021-03-09 12:51] azakrytnoi commented on #5083
Workaround for issue:
[code]

When `io.micronaut.logging.LogLevel` appears in reflect-config.json, enum can be resolved, and all works.

[2021-03-09 13:56] jameskleeh commented on #5081
@dayman Can you provide a complete example?

[2021-03-09 14:16] Zhambul opened #5084 "Make default @Order value to be 0 an in Ordered interface"
In order to make consistent behaviour of the ordering of beans, make OrderUtil.getOrder(AnnotationMetadata, Object) return 0 if no annotation or interface defined and not `Ordered.LOWEST_PRECEDENCE` as in default method of Ordered interface.

It is also somewhat inconvenient to add a bean to be the last in the collection of types(`Ordered.LOWEST_PRECEDENCE`), because you would need to explicitly s

[2021-03-09 18:31] recursivecodes opened #5086 "Missing Dependency When Upgrading App with WebSockets to 2.4.0"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2021-03-09 18:31] recursivecodes commented on #5086
Workaround is to manually add a dependency to `build.gradle`:

[code]

[2021-03-09 21:28] #4971 closed, assigned to nobody

[2021-03-09 21:32] #4446 closed, assigned to nobody

[2021-03-10 00:02] achaphiv commented on #5078
I'm seeing the same issue in 2.4.0 as well.
I checked 2.3.3 and that was fine.
It broke in 2.3.4.

[code]

EDIT: looks like the above test is actually just a similar issue. The bug being reported is indeed broken for 2.3.3.

[2021-03-10 01:03] nhoughto commented on #5018
I believe this is causing an effect in `micronaut-data` annotation processors, after upgrading to `2.4.0` to test this out I see incremental compilation! 🎉 but strange failures generating Repository implementations. Hoping not the case! ill work on a reproducer.

[code]

[2021-03-10 05:32] prasanna-chereddy opened #5087 "java.lang.IllegalStateException: Cannot convert publisher result: io.micronaut.core.async.publisher.Publishers$JustThrowPublisher@3616f8db to 'reactor.core.publisher.Mono'"
### Steps to Reproduce

1. I am using reactor-core:3.4.3 and reactor-netty-http:1.0.4. I have tracing enabled and created a few spans for tracing. When I am returning Mono<SampleResponse> , its throwing an exception
[code]

**When I have no spans created, then I don't see this exception. It seems it was fixed in 2.0.2 [Micronaut issue](https://github.com/micronaut-projects/micronaut-core/issues/35

[2021-03-10 06:26] nhoughto commented on #5018
haven't been able to reduce it down to a sharable reproducer yet, but looks like the incremental processing of classes fail in  micronaut-data because it loses the names of arguments, so then can't match the arguments to the query. So its still doing the compile but failing because of missing metadata.. so maybe not related to this after all 🤔

[2021-03-10 07:11] graemerocher commented on #5087
Do you have `micronaut-reactor` on your classpath?

[2021-03-10 07:12] graemerocher commented on #5018
@nhoughto if you have a reproducer that would be great

[2021-03-10 07:13] graemerocher commented on #5018
note that maybe try upgrade to the Micronaut Gradle plugin 1.4.2

there was a bug where `-parameters` wasn't included as a flag by default for javac compilation

[2021-03-10 07:35] rdesgroppes opened #5088 "since micronaut 2.3.4: `IllegalStateException: No delegate constructor for [simple type, class my.org.MyReqBody]`"
_A workaround exists (see somewhere below)._

### Steps to Reproduce

1. have a project for a service powered by micronaut 2.3.3
2. with a request handler like:
[code]
3. and a data class like:
[code]
4. service works as expected: `MyReqBody` objects are created from a list of `MyItem`s.
5. upgrade to micronaut 2.3.4 (or 2.4.0)

### Expected Behaviour

`MyReqBody` objects are created from a list o

[2021-03-10 08:15] prasanna-chereddy commented on #5087
@graemerocher No, I don't have ``` micronaut-reactor ``` in my classpath

[2021-03-10 09:12] graemerocher commented on #5087
Add it and try again.

[2021-03-10 09:14] tobiaskraft opened #5090 "Dependency to GORM cannot be resolved"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Issue description
When creating a Micronaut 2.4 project from scratch with the feature _hibernate-gorm (preview)_ the dependencies cannot be resolved.

### Steps to Reproduce

1. Create micr

[2021-03-10 09:31] graemerocher commented on #5090
since jcenter is deprecated I think this can only be fixed when Grails moves releases to central

[2021-03-10 13:23] aalmiray commented on #4334
Is there the need of a replacement besides exclusion? Just tried launching an updated application (Micronaut `2.4.0`) by excluding the JSR-305 JAR and I'm afraid it didn't work 😞

[2021-03-10 13:34] graemerocher commented on #4334
following works for me:

[code]

Modify `micronaut-inject`:

[code]

Or if you are using Gradle:

[code]

[2021-03-10 13:35] graemerocher commented on #4334
for Micronaut 3.0 we will remove this dependency completely but it seems from the above it is completely possible to remove it now?

[2021-03-10 13:38] rikkert09 opened #5093 "Micronaut HttpClient throws random Read Timeouts when doing a Http request"
Hello,

I use the Micronaut HttpClient to do some Http requests to a REST API. Most of the times I get the expected response but sometimes the HttpClient throws a `ReadTimeoutException`. I know its a problem in the HttpClient because when I do a request to something else the problem still exists and the problem is gone when I use another http client (okHttp3 for example)

When I look at the logs o

[2021-03-10 14:17] graemerocher commented on #5093
The reason for this is you are blocking the Netty event loop, if you wish to run blocking operations on the event loop then either:

a) Add `@ExecuteOn(TaskExecutors.IO)` to the controller

or

b) Set the thread selection strategy to I/O which will make it global. See https://docs.micronaut.io/latest/guide/configurationreference.html#io.micronaut.http.server.HttpServerConfiguration

[2021-03-10 14:36] jeffscottbrown opened #5094 "Improve PathVariable Docs"
At [docs.micronaut.io/2.4.0/guide/](https://docs.micronaut.io/2.4.0/guide/index.html) there is only 1 code sample which shows using `@PathVariable` on a method parameter.

[code]

There is a footnote attached to that code sample which reads:

There is no explanation of why you might do that, and without reading the footnote one might conclude from the code sample that `@PathVariable` may be requir

[2021-03-10 14:38] #5093 closed, assigned to nobody

[2021-03-10 14:41] rikkert09 commented on #5093
Oh ofcourse, you saved my day :smile: thanks

[2021-03-10 15:00] jeffscottbrown commented on #5090
For this dependency, as a workaround I think another option right now is to use repo.grails.org with something like this:

[code]

[2021-03-10 15:06] aalmiray commented on #4334
I can see where the problem is, I had a typo on the TOML file used to configure Layrry. Skipping both `spotbugs-annotations` and `jsr305` (the real offender as it splits the `javax.annotation` package) make the application work.

[2021-03-10 15:18] aalmiray opened #5095 "Micronaut 2.x has split packages in some dependencies"
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

1. Install Layrry via SDKMAN!
2. Install demo app via `mvn install`
3. Launch the app with `layrry --layers-config layers.toml`

### Expected Behaviour

The application

[2021-03-10 15:25] jameskleeh commented on #5088
@rdesgroppes Is `MyItem` annotated with `@Introspected`? Can you provide an example? I can't reproduce

[2021-03-10 15:32] jameskleeh commented on #5088
I added tests for this scenario. If you can tell me what needs to change to make them fail I'll take another look

[2021-03-10 15:37] jameskleeh commented on #5081
I added a test and cannot reproduce. Please let me know if you can provide an example or tell me what to change in the test to make it fail

[2021-03-10 15:52] graemerocher commented on #5095
hmm well this came from the `micronaut-context` split, bit of a catch 22 as if we delete that package then from `Micronaut-runtime` (which only contains a deprecated class) that will be incompatible API change

Not really sure how to proceed with this and needs discussion

[2021-03-10 15:54] aalmiray commented on #5095
My take is that removing split packages constitute binary breakage thus that kind of work should be planned for the next major release.

[2021-03-10 15:55] rdesgroppes commented on #5088
@jameskleeh `MyItem` looks like:
[code]

[2021-03-10 15:56] graemerocher commented on #5095
Right, one thing that would help is if we had some module system tests that could have potentially caught this. No idea how to write those though

[2021-03-10 16:04] aalmiray commented on #5095
A module test would be perhaps too late. The `org.jonnyzzz.java9c` plugin can catch split packages both in production code and dependencies during the build.

[2021-03-10 19:06] msgilligan commented on #4334
Thanks for the 2.4.0 release, @graemerocher! I think you can remove the "awaiting third-party" tag from this issue now. 😁

[2021-03-10 19:09] graemerocher commented on #5095
Note that if you are only using Micronaut for DI you probably don't need `micronaut-runtime` which is causing the issue

[2021-03-10 19:09] graemerocher commented on #4334
Can it be closed?

[2021-03-10 19:15] aalmiray commented on #5095
Indeed. Removing `micronaut-runtime` dependency lets the application run with a single ModuleLayer. Success!
More than 1 ModuleLayer causes another problem which I'll investigate

[code]

[2021-03-10 19:17] goeh commented on #5088
I saw the same exception in my KafkaListener after I upgraded to 2.3.4.
The message class has a private default constructor. If I change it to public, the exception disappears.
I thought the problem was on my side, that the constructor needs to be protected or public. So I just changed it to public and the problem went away. I didn't think of reporting it at the time.
[code]

[2021-03-10 19:22] msgilligan commented on #4334
Well technically, the transitive dependency isn't removed until Micronaut 3, right?

[2021-03-10 21:43] msgilligan commented on #4334
I'm also seeing 2 beans that are correctly loaded when I use `javax.inject.Singleton` but not when I use `jakarta.inject.SIngleton` (simply changing `javax` to `jakarta` in the `import` statement causes the bean not to load). Other beans are working with `jakarta`, so I'm not sure what is happening. I'll investigate further when I have time and post details.

NOTE: I am using Micronaut Application

[2021-03-10 23:24] msgilligan commented on #4334
@graemerocher I created an issue in **ConsenusJ** that shows the failure: https://github.com/ConsensusJ/consensusj/issues/70

Here's the commit that breaks the build: https://github.com/ConsensusJ/consensusj/commit/707248e3f343817fcc16253f7a6c0c362306ef82

And here's the build scan: https://scans.gradle.com/s/4doezawpjeiwq/tests

[2021-03-11 05:06] AntonPanikov opened #5097 "URI mappings are inconsistent for relative, absolute and client discovery paths"
Documentation for the URI paths used in `@Client` annotations, like `@Get`, does not clearly explain how relative and absolute paths are concatenated with the client base URL. For example for `@Client` from the official doc:

While it does not explain how URI will be constructed and concatenated in case of both `@Client` and `@Get` annotation has paths, the things are going wild once `@Client` is

[2021-03-11 07:00] graemerocher commented on #4334
@msgilligan could you report a separate issue for that. Thanks.

[2021-03-11 08:59] anoophp777 commented on #5102
Question 1 is answered. Question 2 is still open.

**Latest update on Question 2:**

I have tried this on different machines - 1 Mac with JDK 11, 1 Mac with JDK 14, 1 Windows with JDK 14.

The emission rate is maintained only on Windows machines, not Mac.

I've updated the stack overflow ticket with this info. Request the SMEs to consider this.

[2021-03-11 10:06] graemerocher commented on #5102
Can you provide an example that reproduces the issue?

[2021-03-11 13:11] graemerocher opened #5098 "Implement support for @Typed to restrict exposed bean type"
Section 2.2.2. Restricting the bean types of a bean of the specification allows restricting the bean type. This is not yet supported by Micronaut:

https://jakarta.ee/specifications/cdi/3.0/jakarta-cdi-spec-3.0.html#restricting_bean_types

Relates to #4658

[2021-03-11 13:15] RaghavRamesh commented on #2079
@briankramer17 could you share your solution?

[2021-03-11 13:48] graemerocher commented on #4769
Fixed in https://github.com/micronaut-projects/micronaut-core/pull/5075

[2021-03-11 13:49] graemerocher commented on #5070
Duplicates #4769

[2021-03-11 14:12] x80486 opened #5099 "Support directives separator when using YAML configuration"
I think it would be great to be able to parse/understand directives separator so we can isolate the profiles in such way if possible — similar to what Spring Boot does.

I haven't found an option/setting within the YAML file to "activate" a profile/environment, so I guess that would be needed.

I understand this separation is already done when you have multiple files and we can look at the environ

[2021-03-11 14:14] x80486 opened #5100 "Support MicroProfile libraries"
I think it would be great if Micronaut could support MicroProfile. Probably not every single library, but the most advanced/mature ones.

Not sure if it's possible, but leaving this one here just in case 😅

[2021-03-11 14:51] lehotskysamuel opened #5101 "Injecting @RequestAttribute parameter in controller doesn't work when wrapped in another annotation"
### Steps to Reproduce

I've prepared a demo project. Just run all tests in `com.example.DemoTest` or start an application and do a GET request to `/ok` or `/nok`.

### Expected Behaviour

I have a filter that injects string value as a request attribute:
[code]

I inject this attribute as a parameter:
[code]

Then for simplicity I have created an annotation that wraps @RequestAttribute:
[code]

I

[2021-03-11 15:13] anoophp777 commented on #5102
@graemerocher

Micheal Barry had created a repo for this on Stackoverflow. You can use this as an example.

https://github.com/berry120/micronaut-reactive-demo

Here is the stack overflow conversation: https://stackoverflow.com/questions/66352517/micronaut-reactive-streams-emission-rate-is-not-maintained

[2021-03-11 16:14] jameskleeh commented on #4004
We will remove the primary qualifier

[2021-03-11 19:24] jameskleeh commented on #5097
Do you have an example project that encapsulates this code?

[2021-03-11 19:26] jameskleeh commented on #5097
This usage should not be supported. There is a path member of `@Client` that you can use to store the context path. The same applies to the service configuration. Paths should not be part of the URLs at all.

[code]

[2021-03-11 19:29] jameskleeh commented on #5099
I don't think we should support this. Springs configuration system is incredibly complex due to this type of feature among others and I think we should avoid anything where the configuration adds configuration. In order to do this sort of thing it would complicate the logic to create the configuration to a degree that is not offset by the benefit.

[2021-03-11 19:32] jameskleeh commented on #5100
This issue is really too broad. If you are aware of something specific you think would be valuable, please create an issue.

[2021-03-11 19:32] #5100 closed, assigned to nobody

[2021-03-11 19:35] #3840 closed

[2021-03-11 19:37] #3742 closed

[2021-03-11 19:48] alokkumarsinha commented on #1521
On Windows 10, using VS Code with Maven and Gradle extensions installed, it is still happening and doing this (.._However by editing logback.xml and setting <withJansi>fasle</withJansi_>...) fixed the problem.

[2021-03-11 20:42] AntonPanikov commented on #5097
Pushed the simple example here:
https://github.com/AntonPanikov/URI_test_example

Use run task, I did not create proper test as it is failing and the purpose is to look logs for resulting URLs.

This is just an example, just to demonstrate that:
`@Client('http://localhost:8080/context/path')` + `@Get('relative')` = `http://localhost:8080/context/path/relative` and is working.

While the same combi

[2021-03-11 20:48] jameskleeh commented on #5097
application.yaml:

Right I'm saying that is not the correct way to configure it. It should be

[code]

[2021-03-11 21:13] kmucha555 commented on #4422
I'm curious if the decision has been made? Any news about that?

[2021-03-12 01:08] nhoughto commented on #5018
hmm not using mn gradle plugin unfortunately so i guess it can't be that, have to repro the hard way 😒

ill check in the javac logs if `-parameter` is being passed tho 🤷‍♂️

[2021-03-12 01:19] msgilligan opened #5103 "jakarta.inject.Singleton not loading, where javax.inject.Singleton works correctly."
Micronaut fails to load a class annotated with `jakarta.inject.Singleton`, but simply changing back to `javax.inject.Singleton` makes it work.

The example class is [EchoJsonRpcService.java](https://github.com/ConsensusJ/consensusj/blob/msgilligan-show-micronaut-jakarta-inject-issue/consensusj-jsonrpc-daemon/src/main/java/org/consensusj/jsonrpc/daemon/EchoJsonRpcService.java)

Commit https://githu

[2021-03-12 01:19] msgilligan commented on #4334
@graemerocher Here's the new issue: https://github.com/micronaut-projects/micronaut-core/issues/5103

[2021-03-12 07:42] graemerocher commented on #4422
Will be discussed soon

[2021-03-12 07:45] #3946 closed

[2021-03-12 12:08] shashanka981 opened #5107 "Circuit breaker"
Circuit breaker annotation of Micronaut currents attempts retries on the same request. This may be undesirable if the remote service call is non-idompotent.  Because 1st call to remote service is timed out because of server being slow but was eventually succeeded, now the 2nd attempt also tries to perform the same non-idompotent operation leading to unexpected outcome.

Is there a way to avoid ret

[2021-03-12 12:38] falcon-europe opened #5108 "NullPointerException - io.micronaut.http.netty.websocket.AbstractNettyWebSocketHandler"
Hi Micronaut Community,

I am getting **NullPointerException** after setup for GraphQL WebSocket

[code]
`if (LOG.isErrorEnabled()) {
            LOG.error("Unexpected Exception in WebSocket [" + webSocketBean.getTarget() + "]: " + cause.getMessage(), cause);
        }`
cause is **null**

client side receives: **java.io.IOException: An established connection was aborted by the software in your hos

[2021-03-12 12:51] rn55 opened #5109 "Lots of errors in logs - Micronaut Server Errors - No request state present. Cause: io.netty.handler.ssl.NotSslRecordException: not an SSL/TLS record"
Hi,
We use Micronaut 2.3.3/2.4.0 behind AWS NLB and have a lot of following errors in our logs:

`2021-03-12 13:01:18.205 ERROR i.m.h.s.n.RoutingInBoundHandler   Micronaut Server Error - No request state present. Cause: io.netty.handler.ssl.NotSslRecordException: not an SSL/TLS record: 474554202f20485454502f312e310d0a486f73743a206c6f63616c686f73743a3434330d0a557365722d4167656e743a206375726c2f372e3

[2021-03-12 13:31] graemerocher commented on #5108
Not seen that, but since like a simple fix. PRs welcome of course!

[2021-03-12 13:47] rn55 opened #5110 "A lot of ERROR logs: Micronaut Server Error - No request state present. Cause: javax.net.ssl.SSLHandshakeException: no cipher suites in common"
`2021-03-12 02:29:33.161 ERROR i.m.h.s.n.RoutingInBoundHandler Micronaut Server Error - No request state present. Cause: javax.net.ssl.SSLHandshakeException: no cipher suites in common
2021-03-12T03:29:33.162+01:00 io.netty.handler.codec.DecoderException: javax.net.ssl.SSLHandshakeException: no cipher suites in common | io.netty.handler.codec.DecoderException: javax.net.ssl.SSLHandshakeException:

[2021-03-12 15:21] graemerocher opened #5111 "Remove Executable annotation from Controller and MessageListener annotations"
`@Executable` is already declared on `@HttpMethodMapping` and `@MessagingMapping` so these declarations are creating addition executable methods that are not necessary.

[2021-03-12 17:16] fwpascual commented on #5088
I am experiencing similar issues (not an issue on v2.3.3, but is an issue with v2.3.4 and v2.4.0).  A simple example Controller (in Kotlin) that demonstrates the issue:

Create a project using:
`mn create-app --build=gradle_kotlin --jdk=11 --lang=kotlin --test=junit com.example.demo`

Add a Controller:
[code]

Call with curl:
- Good:
[code]
- Bad
[code]

On v2.3.4 and v2.4.0, the `/example/v1/bad`

[2021-03-12 17:42] burtbeckwith opened #5114 "Simple websocket app fails to compile in 2.4.0"
See the example app at https://github.com/burtbeckwith/websocket_240

If you clone it and run `./gradlew compileJava` it fails with

[code]

If you downgrade the app to 2.3.4 by changing the version in gradle.properties and dropping the application plugin version to 1.3.4 it compiles and runs successfully.

[2021-03-12 17:45] graemerocher commented on #5114
The fix here is that `inject-java` looks like it needs to depend on the `http` module or the `http` module has to be added to the annotation processor classpath

[2021-03-12 17:50] jameskleeh commented on #5103
This is an issue only with incremental compilation. With that turned off it works as expected

[2021-03-12 17:52] jameskleeh commented on #5114
This is because `http` was changed to be a `compileOnly` dependency of `validation`. It seems we should revert that change for 2.4.1

[2021-03-12 18:03] graemerocher commented on #5114
No that would be incorrect thing to do. Validation has nothing to do with `http` and has no direct dependency on it other than these compile time checkers.

[2021-03-12 18:03] #5083 closed, assigned to nobody

[2021-03-12 18:05] jameskleeh commented on #5114
I realize that but `inject-java` also doesn't have anything to do with `http`. The correct fix is to move the validators to a separate module, however first we need to revert the breaking change.

[2021-03-12 18:08] graemerocher commented on #5114
Reverting the breaking change can be achieved without altering the dependency graph.

The `parent` pom can be modified to include these dependency in the annotation processor classpath by default for maven and the Gradle plugin can be modified to the same. Quickly applying a revert that is the wrong thing to do is not the way forward IMO

[2021-03-12 18:10] jameskleeh commented on #5114
What problems will be caused by re-adding it as an api dependency of validation?

[2021-03-12 18:11] graemerocher commented on #5114
It will be brought in transitively into applications at runtime for projects that depend on validation but don't require anything to do with http

[2021-03-12 18:12] jameskleeh commented on #5114
I don't see that as a major concern compared to writing custom logic in build plugins (thus requiring them to be used)

[2021-03-12 18:15] jameskleeh commented on #5086
There is more discussion in the other issue so I'll close this one. Duplicate of #5114

[2021-03-12 18:15] #5086 closed, assigned to nobody

[2021-03-12 18:19] graemerocher commented on #5114
I personally do so will work on a PR that can be discussed with the team since it is not only about what a single person thinks 😉

[2021-03-12 18:23] jameskleeh commented on #5114
Sounds good

[2021-03-12 18:57] x80486 commented on #5099
I don't really know how this is implemented in Micronaut, but I can't believe that, for instance, Quarkus is as complex as what Spring might have — because they started this journey first. This is currently supported in Quarkus also, so I thought it wasn't that complicated...but again, don't know the internals.

In any case, the way I see it, it's more a _nice-to-have_ than a _must-have_, so I agr

[2021-03-12 21:46] msgilligan commented on #5103
I switched back to `jakarta.inject` in the two places this issue was showing up, disabled incremental compilation https://github.com/ConsensusJ/consensusj/commit/4aa5c89a2064ea42893ed7e69d232b93c5d19070 and everything is working.

Thanks @jameskleeh !

[2021-03-13 07:29] kalgecin commented on #4837
Is it not possible to try and close all buffers on method return?

[2021-03-13 10:25] rafis commented on #4753
Sadly, bad this is decreases the reputation of Micronaut Framework in total. Possibly you have bad DevOps engineers (or CI/CD pipelines) that can not detect those faults early.

And I do not understand Why I'm always need to specify version of Data JPA and Open API in Micronaut in pom.xml/build.gradle which is always one major version behind Micronaut version, I don't have this issue in Spring Boo

[2021-03-14 03:28] nhoughto commented on #5018
I was infact missing `-parameters`! although not because of the gradle plugin bug, i never even knew there was a gradle plugin, so might look into moving to that, i just didn't realise `-parameters` was required, as its not documented in the help docs? https://docs.micronaut.io/snapshot/guide/index.html#incrementalannotationgradle

working now either way 💪

[2021-03-14 11:50] rscharer opened #5118 "MicronautLambdaContainerHandler.decodeRequestBody does not support MediaType.APPLICATION_FORM_URLENCODED"
I don't know whether this was ever intended to work correctly, but I burned a number of hours trying to figure out why my @Controllers that consume MediaType.APPLICATION_FORM_URLENCODED could not parse @Body parameters. Eventually I traced it back to the fact that MicronautLambdaContainerHandler.decodeRequestBody explicitly only handles JSON, despite the fact that @Client interfaces which produce

[2021-03-14 11:54] #5118 closed, assigned to nobody

[2021-03-14 11:54] rscharer commented on #5118
Moving to aws subproject

[2021-03-14 12:01] shashanka981 commented on #5107
Any opinion on this ? Is this a valid requirement to not retry on the same request  ? At least Netflix's Hystrix library doesnt seem to retry on same request ?

I am looking at other alternatives to implement circuit breaker logic using Micronaut inbuilt features. I have see the following project, https://github.com/micronaut-projects/micronaut-netflix

but annotating with @HystrixCommand in place

[2021-03-14 12:37] graemerocher commented on #5107
Hystrix has been deprecated by Netflix. If you want more flexibility you could try Resilience4j https://resilience4j.readme.io/docs/getting-started-7

[2021-03-14 14:13] DebajitKumarPhukan opened #5119 "Micronaut Searching Config Using Wrong Application Name In Spring Cloud Config"
**Problem Statement:**
Let's say the micronaut.application.name is "MicronautConfigClientExample" and profile/environment is "test", it is actually searching for "micronaut-config-client-example" properties in Spring Config Server. Thus, unable to find the desired configuration. Is it possible to make the kebab format configurable so that developers can turn it off or on as per their own requireme

[2021-03-14 15:52] shashanka981 commented on #5107
So Micronaut-netflix doesnt work ??
Also, can micronaut provide a way to avoid retries on same requests ?

[2021-03-15 07:06] #5103 closed, assigned to jameskleeh

[2021-03-15 09:57] tchiotludo opened #5123 "Server sent event are blocking netty event loop even if using TaskExecutors.IO"
from https://github.com/micronaut-projects/micronaut-core/discussions/5080, on micronaut 2.3.4,

* create a simple controller sending SSE :

[code]
* Send as many request on this endpoint as your cpu * 2
* Try to reach any other endpoint from the application, the request will be timeout.
* change the controller to :
[code]
* do the same test, and see that the request on other endpoint will not tim

[2021-03-15 10:47] berry120 commented on #5102
FYI, from playing around it definitely looks to be a buffering issue of some description. If you create a `Flux` with minimal delay for each element (say a few milliseconds) and thousands of elements, then you do see the results streaming back - just in chunks of a few thousand elements rather than continuously as you might expect.

(The specific types used in the Github repo above were just there

[2021-03-15 11:06] graemerocher commented on #5102
I believe the reason for this and it may well not be a bug frankly is that we use Netty's `context.write(..)` and then when it completes it will call `context.flush()`

Changing Micronaut to use `context.writeAndFlush` would fix the issue but would lead to more frequently flushing of the data and more sys calls at the transport level which are expensive

It does seem however that Reactor Netty (wh

[2021-03-15 11:17] jaecktec opened #5301 "Declarative client with suspended function fails on 404"
### Task List

- [x] Stacktrace (if present) provided
- [x] Steps to reproduce provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create declarative client with suspended function and nullable response tye
2. execute request to a resource that returns 404

### Expected Behaviour
the client retur

[2021-03-15 11:21] mjalvarez commented on #3082
Hi guys, I just ran into this issue where a service returns this header `Set-Cookie: xyz_adm_adm_org_user_time_zone_id=Singapore Standard Time; expires=Wed, 09-Jun-2021 08:00:06 GMT; path=/`

Using this client:
[code]

`FullNettyClientHttpResponse` receives a `NullPointerException` from `NettyCookies` since it decodes in STRICT mode and fails the cookie value "Singapore Standard Time" because of t

[2021-03-15 11:24] eis opened #5124 "Writable flush doesn't really work, so large responses run out of memory"
### Steps to Reproduce

1. Implement Writable with lots of data as output and flushing, such us
[code]
2. Do curl against that api: `curl localhost:8080/test >/dev/null`
3. Observe statistics reported by curl, and compare those to flush requests reported in logs

### Expected Behaviour

Curl gets data as it is being flushed.

### Actual Behaviour

No data is sent and eventually OOM is thrown

[cod

[2021-03-15 11:58] graemerocher commented on #5124
Few points:

1. Micronaut already supports Jackson streaming just in a non-blocking manner. You can create a `Flowable<Foo>` response and emit chunks of JSON which will be streamed and written in a non-blocking way
2. For large amounts of Data you don't really want to use blocking constructs like Writer/OutputStream with Netty and you are better off emitting chunks for byte[] or whatever from a Fl

[2021-03-15 13:02] eis commented on #5124
Yes, but that will only work if the response is something like individual items/chunks or you split to them yourself. If you have a even a bit more complex item, such as [in this stackoverflow question](https://stackoverflow.com/questions/66502341/stream-large-response-in-micronaut-controller-without-going-out-of-memory), it won't work. If Micronaut would support writing directly to output stream

[2021-03-15 13:44] graemerocher commented on #5124
You can emit Netty ByteBuf or Micronaut `ByteBuffer` objects for more complex cases

[2021-03-15 14:00] galzetta opened #5128 "Micronaut Server Error - No request state present when using HTTPS on minimal setup"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Set up a minimal micronaut project with HTTPS enabled using self signed certificates (so `micronaut.ssl.enabled=true` and `micronaut.ssl.buildSelfSigned=true` as desc

[2021-03-15 14:38] dstepanov opened #5129 "2.4 `withValue` is incorrectly generated for Groovy"
[code]

[2021-03-15 14:40] graemerocher commented on #5129
Are you going to provide a PR or could you provide more info on what the class looks like?

[2021-03-15 14:53] dstepanov commented on #5129
I haven’t looked into it, the class is a simple entity without constructor defined, there might be a problem because it’s defined inside a spec class.

[2021-03-15 17:04] theHacker opened #5131 "ClientArgumentRequestBinder: Allow changing the URL of a request"
This is a feature request.

The manual contains a hint about the limitation of `ClientArgumentRequestBinder`:
[code]

This issue is about lifting the limitation.

Concrete use-case:
[code]

I quickly looked over the implementation of `HttpClientIntroductionAdvice`.
Problem seems to be, that for the actual request the URI is built from the `uriTemplate`, not the `request` (MN 2.4.0: lines 289-292).

[2021-03-15 17:07] RafaelCavazza opened #5132 "Map property name - application/x-www-form-urlencoded"
Hi!

Is there a way to map the property name when using application/x-www-form-urlencoded and define a default value?

Something like:

[code]

[code]

I could not find any reference in the docs. Is there something i'm missing?

I'm following this doc: https://docs.micronaut.io/latest/guide/index.html#formData

[2021-03-16 14:32] #5079 closed, assigned to graemerocher

[2021-03-16 14:40] kalgecin commented on #4837
[code]
unfortunately even after adding code to read the bytes on method entry, before any exceptions can be thrown, still getting this log

[2021-03-16 14:50] #5108 closed, assigned to nobody

[2021-03-16 15:34] prasanna-chereddy commented on #5087
Thanks @graemerocher , issue resolved after adding micronaut-reactor dependency

[2021-03-16 15:35] #5087 closed, assigned to nobody

[2021-03-16 15:59] chapmonkey opened #5135 "@Nullable @QueryValue is not reporting conversion errors"
### Steps to Reproduce

1. Create a controller that accepts a simple query value UUID parameter
[code]
2. Call endpoint with an invalid UUID value
`curl localhost:8080/test?id=123456`

### Expected Behaviour

Caller should receive an invalid request response as the parameter passed was not valid

### Actual Behaviour

The handler method is called with the 'id' parameter of null and no error is rep

[2021-03-16 16:22] graemerocher commented on #2775
Fixed by https://github.com/micronaut-projects/micronaut-core/pull/5082

[2021-03-16 16:22] #2775 closed

[2021-03-16 16:23] graemerocher commented on #2703
This was fixed with the support for source level annotations

[2021-03-16 16:23] #2703 closed

[2021-03-16 16:32] chapmonkey commented on #5135
Issue seems to have been resolved at 2.4.0

[2021-03-16 16:45] chapmonkey commented on #5135
This looks similar to this issue #3954

[2021-03-16 17:02] #5114 closed, assigned to graemerocher

[2021-03-17 05:24] #5081 closed, assigned to nobody

[2021-03-17 12:02] dstepanov commented on #5129
https://github.com/micronaut-projects/micronaut-data/pull/952/files#diff-83fe97a847193852ed656cacfb4fbe8e33e4d57419ecad047c6671f791d0f4bf The example, `withValue` is generated incorrectly for entities in spec.

[2021-03-17 13:22] graemerocher commented on #5124
I think the solution to this is to add a new property, something like `micronaut.server.netty.flush-behaviour` with enum values like `EVERY_CHUNK` and `DEFAULT` that let's the user configure when flushing should occur.

It seems it could be bad from a performance perspective if we introduce flushing and more syscalls on every chunk

[2021-03-17 13:24] #5070 closed, assigned to graemerocher

[2021-03-17 13:25] graemerocher commented on #5102
I think the solution to this is to add a new property, something like micronaut.server.netty.flush-behaviour with enum values like EVERY_CHUNK and DEFAULT that let's the user configure when flushing should occur.

It seems it could be bad from a performance perspective if we introduce flushing and more syscalls on every chunk

[2021-03-17 13:26] graemerocher commented on #4422
A decision has been made and Micronaut will move to Reactor in 3.0

[2021-03-17 13:28] graemerocher opened #5138 "Move from Open Tracing to Open Telemetry and split Tracing module out of core"
Open Tracing has been replaced by Open Telemetry and we should move to it for Micronaut 3.0

It is probably wise to split the tracing module into an independent project.

[2021-03-17 13:36] brianwyka commented on #5128
Relates to #3244.  I'm getting this again as well in latest Micronaut.

[code]

[2021-03-17 14:38] #4769 closed, assigned to nobody

[2021-03-17 14:47] #5129 closed, assigned to graemerocher

[2021-03-17 14:48] #5078 closed, assigned to jameskleeh

[2021-03-17 14:50] jameskleeh commented on #5132
You should be able to do `@Body("first_name") String firstName`

[2021-03-17 14:52] jameskleeh commented on #5131
`uriContext.getQueryParameters().put("filter", filter)` should do what you want

[2021-03-17 14:56] jameskleeh commented on #5135
Also related to https://github.com/micronaut-projects/micronaut-core/issues/4762

[2021-03-17 16:10] RafaelCavazza commented on #5132
Hi @jameskleeh,

Thanks! Is there a way to define a default value?

[2021-03-17 16:16] jameskleeh commented on #5132
@RafaelCavazza No that currently isn't possible

[2021-03-17 16:16] #5132 closed, assigned to nobody

[2021-03-18 12:56] sdelamo commented on #5084
Ordered interface getOrder() method returns 0 in its default implementation. Thus, I think this change makes sense.

[2021-03-18 13:53] #5131 closed, assigned to nobody

[2021-03-18 13:55] jameskleeh commented on #5088
This was fixed for 4.1, however note for `MyReqBody` the constructor needs annotated with `@JsonCreator`

[2021-03-18 13:55] #5088 closed, assigned to jameskleeh

[2021-03-18 17:35] lst85 opened #5147 "Memory leak in http-server-netty when uploading MULTIPART_FORM_DATA"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Restrict the maximum amount of memory that the JVM can use (e.g. with -Xmx512m)
2. Use StreamingFileUpload with MULTIPART_FORM_DATA as media type and try to upload a

[2021-03-18 17:44] graemerocher commented on #5147
@jameskleeh can we remove the workaround given the bug in netty is resolved?

[2021-03-18 17:49] #5147 closed, assigned to jameskleeh

[2021-03-19 07:20] kmucha555 commented on #4422
Great! I believe it's a good decision.

[2021-03-19 08:11] galzetta commented on #5128
I attach the log produced with `-Djavax.net.debug=all` for a single request:

[request.log](https://github.com/micronaut-projects/micronaut-core/files/6169538/request.log)

Everything looks fine until:

[code]

Maybe the self-signed certificate that micronaut is generating is broken and for some reason the server is breaking for this? Although I would expect only the *client* to whine about the se

[2021-03-19 09:31] tserver1337 commented on #5109
Is there a workaround for that ?

[2021-03-19 11:00] mdeso opened #5151 "Name of PathVariable not matched"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

After I changed a POST endpoint with a request object in a service interface to simpler GET endpoints with `PathVariable` annotations I got a compile error although the declaration was correct

[2021-03-19 13:40] jameskleeh commented on #5151
I cant reproduce. Please upload a sample application that reproduces the issue

[2021-03-20 01:29] nhoughto opened #5154 "Annotation processing behaves differently depending on presence of @Override"
Thought it might be worth raising this just to check if it is expected behaviour or not, I just had a strange problem where a Micronaut HTTP controller method wasn't being recognised, was returning an error when all the other routes/methods worked perfectly. The root cause was that I had an interface with the `@Post` etc annotations in it, and then a class implementing the methods with the `@Singl

[2021-03-20 10:52] graemerocher opened #5155 "Add support for Any qualifier"
CDI supports the notion of a `@Any` qualifier to inject bean providers and also obtain any instance without throwing non unique bean exceptions:

https://jakarta.ee/specifications/cdi/3.0/jakarta-cdi-spec-3.0.html#programmatic_lookup

We need to add support for this as part of https://github.com/micronaut-projects/micronaut-core/issues/4658

[2021-03-20 10:58] graemerocher commented on #5155
PR submitted https://github.com/micronaut-projects/micronaut-core/pull/5156

[2021-03-20 13:26] #5084 closed, assigned to jameskleeh

[2021-03-21 14:28] dstepanov opened #5161 "Mutliple "Unresolved directive" errors"
https://docs.micronaut.io/latest/guide/index.html

[2021-03-21 20:32] igorlev opened #5160 "Json serialization for camelCased bean properties does not respect JsonView when snake_case setting is turned on"
It looks like currently the `BeanIntrospectionModule` doesn't copy the **_filteredProperties** field when creating a new `BeanSerializerBuilder` from the original. This means that if an existing `BeanPropertyWriter` is used in the new builder if will ignore any JsonView information set (on the bean to be serialized) thereby potentially leaking fields that should be omitted.

The reason this is not

[2021-03-21 20:35] igorlev commented on #5160
Can replicate this in my code but will put together a standalone unit test that highlights this issue. The _filteredProperties copy is easy to fix but the snake_case field lookup might be a bit more work.

[2021-03-22 01:03] igorlev commented on #5160
The test below should highlight the issue and fails at  !result.contains('"author_name":')

[code]

[2021-03-22 07:53] mdeso commented on #5151
It's difficult as this is part of a larger project with several (Micronaut-based) libraries. And as usual I'm on a tight schedule. If I find the time I'll see if I can extract the problem into an example. But I thought it would at least be helpful to mention the workaround here. Or is there a better place for that?

[2021-03-22 07:59] graemerocher commented on #5151
Most likely reason is a missing `-parameters` flag to javac

[2021-03-22 08:04] mdeso commented on #5151
The library project where the problem occurred has the block
[code]
But I have recently converted the Gradle build to use the Micronaut Library plugin. Could that have an effect?

[2021-03-22 08:24] mdeso commented on #5151
I have tried with the previous build files, but the problem still occurs. So it's not caused by the plugin.

[2021-03-22 14:20] #5107 closed, assigned to nobody

[2021-03-22 14:25] jameskleeh commented on #5154
Basically we assume that if a method is overriding another, the `@Override` annotation should be present. This is a standard convention that imo is reasonable to expect everyone to follow. We are using the presence of that annotation to determine whether or not the annotation metadata from parent methods should be searched.

You could argue that we shouldn't do that and should instead just determi

[2021-03-22 14:25] #5154 closed, assigned to nobody

[2021-03-23 12:42] ilopmar opened #5164 "Error with `@Introspected` POJOs in multi-project builds with GraalVM"
We have a test application for a multi-project build with the following structure:

- core module: It's a java-library that has a POJO annotated with `@Introspected` and some Jackson annotations.
- app: A Micronaut application that exposes that POJO in a controller

This application has been working properly for a long time and it still works for Micronaut 2.3.

Now with Micronaut 2.4 that app is

[2021-03-23 12:45] l0co opened #5165 "Micronaut gradle build creates "layers" dir outside project.buildDir"
Please refer [KT-45301](https://youtrack.jetbrains.com/issue/KT-45301). They've probably fixed the bug with "kotlin" dir, but there's still "layers" dir created by Micronaut, and it's outside `project.buildDir`. The example project is attached in kotlin ticket.

[2021-03-23 13:38] gregorydickson opened #5166 "Error in documentation generation for 6.29.1 Configuring Server Thread Pools"
There is an error in the latests docs under 6.29.1 Configuring Server Thread Pools. https://docs.micronaut.io/latest/guide/index.html#threadPools

Unresolved directive in <stdin> - include::/home/runner/work/micronaut-core/micronaut-core/build/generated/configurationProperties/io.micronaut.http.server.netty.configuration.NettyHttpServerConfiguration$Worker.adoc[]

[2021-03-23 13:48] graemerocher commented on #5166
Duplicates https://github.com/micronaut-projects/micronaut-core/issues/5161

[2021-03-23 14:56] gregorydickson commented on #5166
ahh, ok. I looked through issues but didn't search. thanks.

[2021-03-23 14:56] #5166 closed, assigned to nobody

[2021-03-23 16:42] goeh commented on #5151
I saw this warning too in one or two projects after I upgraded to Micronaut 2.4.1. It's in declarative client code that I haven't touched in months. And the client seems to work fine. I noticed the warning after first compile, but on second compile it did not. I will investigate further to see if I could find any clues. I  will check the -parameters settings, both in build.gradle and in IntelliJ I

[2021-03-24 08:13] mdeso commented on #5151
In my case it was not only a warning but an error that caused the Gradle build to fail, so I had to fix it with the mentioned workaround.

[2021-03-24 08:42] goeh commented on #5151
Is `-parameters` needed when I use the Micronaut Gradle plugin? The default generated build.gradle does **not** include that compiler config. My project with this issue does not have `-parameters`, but do use the `io.micronaut.application` plugin.

[2021-03-24 11:23] graemerocher commented on #5151
It does in versions earlier than 1.4.0 see https://github.com/micronaut-projects/micronaut-gradle-plugin/commit/b3817bb0a491e4e3ed31ec64a76e5ffb4ce2748c

[2021-03-24 12:03] goeh commented on #5151
Thanks! Great to know that we don't have to add the -parameters when using the Micronaut Gradle plugin.

I can't reproduce this anymore in my 2.4.1 project. But I'm confused. I just checked the commit history and if I revert the workaround (adding name to @PathVariable), it still compiles ok. Very strange. But I will not investigate more. My project compiles without warnings or errors.

[2021-03-24 12:06] goeh commented on #5151
Sorry, this will be my last comment. I found the problem! My `io.micronaut.application` plugin was at version 1.2.0 at the time of issues. It's now at version 1.4.2 and that's why it works ok now.

[2021-03-24 13:15] saw303 opened #5169 "Jackson javax.activation.MimeType deserialization error on Micronaut 2.4.x"
While upgrading to Micronaut 2.4 if stumbled over an error while deserializing JSON string to ` javax.activation.MimeType`.

The following test wraps the problem up and is part of the example repostories mentioned below.

[code]

### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full descriptio

[2021-03-24 13:44] jameskleeh commented on #5169
@saw303 I don't think this has anything to do with Micronaut. `new ObjectMapper().readValue(json, MimeType)` fails with the same exception.

[2021-03-24 13:52] saw303 commented on #5169
@jameskleeh so you mean this is probably an issue caused by the fact that Micronaut 2.4.x upgraded  Jackson `2.11.2` to `2.12.2`? If yes, please close this ticket and I will investigate further

[2021-03-24 13:55] jameskleeh commented on #5169
@saw303 That is the only thing that would make sense to me. If you discover that isn't the case just leave a message here and I'll reopen

[2021-03-24 13:55] #5169 closed, assigned to nobody

[2021-03-24 14:00] saw303 commented on #5169
@jameskleeh excellent. Meanwhile I was able to work it around using a dedicated custom deserializer.

[code]

[2021-03-24 15:20] jaksah commented on #4837
We managed to find a workaround that does not trigger the ByteBuf.release() exception any more, which basically reads the whole body inside the controller instead of using argument binding. More or less like this:

[code]

[2021-03-24 15:31] #5160 closed, assigned to nobody

[2021-03-24 20:21] thestarmaker opened #5172 "Micronaut crashes with java.lang.OutOfMemoryError when parsing properties"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)
- [x] Debugged reason of what goes wrong :wink:

### Steps to Reproduce

1. Create simple WebApplication, deploy to Kubernetes where k8s-env property source is available (or potentially any othe

[2021-03-25 02:30] glats opened #5173 "Using micronaut-jackson-xml gives error when building native image"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a new protect like ```mn create-app me.glats.main --build maven  -f openapi,lombok,graalvm,security-jwt```
2. Add micronaut-jackson-xml as dependency in the ``

[2021-03-25 10:24] graemerocher commented on #5172
There are various ways you can control this.

1. You can disable properties from the environment all together https://docs.micronaut.io/latest/api/io/micronaut/context/ApplicationContextBuilder.html#environmentPropertySource-boolean-
2. You can narrow the properties to include to only those you want https://docs.micronaut.io/latest/api/io/micronaut/context/ApplicationContextBuilder.html#environmen

[2021-03-25 17:58] ednesic opened #5175 "Oauth callback returns internal server error on apple login cancel"
I configured an apple provider to login and it works fine but when I click on "cancel" button at Apple login page, "/oauth/callback/apple" returns internal server error with "No enum constant io.micronaut.security.oauth2.endpoint.authorization.response.AuthorizationErrorCode.USER_CANCELLED_AUTHORIZE" message. This error code is not documented on https://openid.net/specs/openid-connect-core-1_0.htm

[2021-03-25 23:35] asarkar opened #5176 "Make loading default properties easier and more consistent"
**Context:**
Currently, properties can be defaulted in `application.*` file, or in the `package-info.java` file as shown below.
[code]

`@MicronautTest` additionally has an attribute `propertySources` for loading test properties.

**Problems:**

1. Libraries don't have `application.*` files. While it's possible to set defaults in their own `@ConfigurationProperties`, the only way to set default va

[2021-03-25 23:58] asarkar opened #5218 "Lots of kapt warnings in the logs"
Using v2.4.1.
[code]

Sample app: https://github.com/asarkar/seshat

[2021-03-26 00:05] asarkar opened #5177 "Conflicting documentation about "Controlling Log Levels with Properties""
Quoting the latest docs, "Controlling Log Levels with Properties" section:

[code]

The statement and the example don't match, as the former says `log.level` prefix, but the latter shows `logger.levels` prefix.

[2021-03-26 10:00] graemerocher commented on #5176
Note you can always define your own `PropertySourceLoader` implementation if you need to load properties from a custom location for a library.

[2021-03-26 10:11] asarkar commented on #5176
@graemerocher Can you explain what do you mean by "custom location"? Micronaut libraries don't look for `application.yml` on the classpath, do they? If not, then any file is custom, isn't it?

[2021-03-26 13:15] sanderkoenders opened #5180 "Breaking change in annotations in version 2.4.0 (from 2.3.4)"
### Task List

- [x] Steps to reproduce provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Download the example application
2. Checkout tag micronaut-2.3.4 (`git checkout micronaut-2.3.4`)
3. Run tests and watch them succeed
4. Checkout tag micronaut-2.4.1 (`git checkout micronaut-2.4.1`)
5. Run

[2021-03-26 13:17] graemerocher commented on #5176
What I mean is you can implement `PropertySourceLoader` and from the `load(String resourceName, ResourceLoader resourceLoader)` method load whatever resource you want from the passed resource loader from the classpath whether it is from a library or an application

You just need to call `resourceLoader.getResource("classpath:defaults.yml") I believe. Thought it would certainly be better to put tha

[2021-03-26 13:19] graemerocher commented on #5180
Just out of interest if you call `getRequiredValue` instead of `get` does it work?

[2021-03-26 13:25] sanderkoenders commented on #5180
No, the following exception is thrown:
[code]

[2021-03-26 13:26] goeh commented on #5172
Interesting... I didn't realize this happened behind the scenes. I looked at the code I could not find any debug/trace logging that tells me how many properties was actually loaded at the end. I noticed trace logging for each property but maybe a summary at the end would be useful to help debugging these problems.

[2021-03-26 17:17] jeffscottbrown opened #5181 "Broken Link In User Guide"
At [src/main/docs/guide/introduction/whatsNew.adoc](https://github.com/micronaut-projects/micronaut-core/blob/233c03d47ad196f8dcfb7b1129e9ac439bf932c5/src/main/docs/guide/introduction/whatsNew.adoc) is the following typo which creates a broken link:

`api:http.server.exceptions.ExceptionHanlder[]`

[2021-03-27 09:02] #5180 closed, assigned to jameskleeh

[2021-03-27 11:45] furikake opened #5184 "Properties names with numbers don't resolve correctly"
### Steps to Reproduce

1. Create `application.yml` with

[code]

2. Create Configuration class

[code]

### Expected Behaviour

`disable-ec2-metadata value` should be returned by `awsConfiguration.getDisableEc2Metadata()`

### Actual Behaviour

`disable-ec2metadata value` is returned by `awsConfiguration.getDisableEc2Metadata()`

### Environment Information

- **Operating System**: MacOS 10.15.7

[2021-03-27 12:05] zepfred opened #5185 "Reactive Type and a Transactional Method"
Hi, I'm getting an error when returning a reactive type on a transactional method after upgrade from version 2.1.3 to 2.4.1. My real use case is related to an implementation of an AuthenticationProvider.authenticate.

### Steps to Reproduce

1. Create a simple controller and configure a postgres data source.

### Expected Behaviour

Return a String.

### Actual Behaviour

Throws an error.

`09:00:

[2021-03-27 22:03] sergey-morenets commented on #1621
@benrhine It seems that Micronaut already supports Log4j 2 as logging facade for Sl4fj (at least).
However I still see this text in the documentation (since 1.1): https://docs.micronaut.io/latest/guide/index.html#introduction

`The current default implementation for the logging system is LogbackLoggingSystem, which works with the logback logging framework. Additional logging systems will be implem

[2021-03-28 02:53] #5172 closed, assigned to nobody

[2021-03-29 02:10] wbprime opened #5187 "[doc] java.lang.Iterable is documented to be able to be injected but not"
As is documented [here](https://docs.micronaut.io/latest/guide/index.html#types), `java.lang.Iterable` could be injected natively, however it not workes in real scene.

I test the behavior for `Iterable` and `Collection` using injection in [my own repo
](https://github.com/wbprime/micronaut-di-issue-for-iterable), and find that `Collection` could be injected as expected but `Iterable` not.

### Ex

[2021-03-29 08:31] ikovalyov opened #5191 "Datasource is swallowing initialisation exceptions"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

Use datasource onfiguration with some required fields missed

The generated code for datasource looks like

[code]

If there are any issues with bean instantiation they

[2021-03-29 17:23] #5181 closed, assigned to nobody

[2021-03-29 17:24] #5155 closed, assigned to nobody

[2021-03-29 17:24] #5151 closed, assigned to nobody

[2021-03-29 18:18] #5161 closed, assigned to jameskleeh

[2021-03-29 18:19] #5177 closed, assigned to nobody

[2021-03-29 20:51] jamilkafi commented on #5011
Hello, i have tested the fix and everything works fine. thank you @graemerocher .

[2021-03-30 07:28] sanderkoenders opened #5192 "HttpClient calls with reactive return types running on eventloop thread"
### Task List

- [x] Steps to reproduce provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Checkout the [example repository](https://github.com/Archcry/micronaut-httpclient-on-io-thread).
2. Run the application.
3. Navigate to `http://localhost/hello`.
4. Read logs and observe the observable run

[2021-03-30 07:52] graemerocher commented on #5192
I believe you would have to use `observeOn` to achieve this behaviour

[2021-03-30 08:07] sanderkoenders commented on #5192
I used [this medium post](https://medium.com/swift-india/rxswift-subscribeon-vs-observeon-2b121ba95161) to look up the meaning of `subscribeOn` and `observeOn`. The way I think it works is you can initially subscribe on a thread and that's the thread the call is executed on. You can only use `subscribeOn` once so the first call is the one that affects the thread the code is executed on.

With `Obs

[2021-03-30 22:09] kevin-wise commented on #4054
I'm pretty sure I saw this same problem in Java.  In my case I found a workaround, which may help pinpoint the problem.  Instead of inheriting from DatasourceFactory if I delegate to it, then all seems to work as expected.  I am interested to know if this workaround also works for you @tilmanrossmy.  If it does then I think it is safe to assume that somehow inheritance is getting in the way of `@R

[2021-03-31 07:28] kalgecin commented on #4837
@jaksah your solution seems to work for me too. It would seem there's a problem with the way micronaut handles the body of multipart when using `@Part` args

[2021-03-31 09:42] vonZeppelin opened #5195 "Inconsistency of HttpRequest interface factory methods"
### Task List

- [X] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create POST or PUT or PATCH HttpRequest instance via corresp. static method with `null` as body.

### Expected Behaviour

It is possible to create a POST / PUT / PATC

[2021-03-31 10:10] pskowronek opened #5196 "Websocket client hangs when 502 or 503 received from server"
Websocket client hangs when 502 or 503 received from server.

### Steps to Reproduce

When executing the following sample code it hangs endlesssly on connect (blockingFirst) when the server returns 502 or 503:
[code]

Stack trace logged while executing the code:

[code]

Thread dump shows the following thread is blocked endlessly:

[code]

### Expected Behaviour

It should not hang,  it should con

[2021-03-31 16:54] #5196 closed, assigned to jameskleeh

[2021-03-31 16:56] jameskleeh commented on #5191
You are using the incorrect version of `micronaut-jdbc-hikari`. You should use our BOM so the versions of our libraries will always be in sync. The version should be 3.4.0 for Micronaut 2.4

[2021-03-31 16:56] #5191 closed, assigned to nobody

[2021-03-31 17:01] #5184 closed, assigned to jameskleeh

[2021-03-31 17:02] #5109 closed, assigned to nobody

[2021-03-31 17:02] #5110 closed, assigned to nobody

[2021-03-31 17:02] #5128 closed, assigned to jameskleeh

[2021-03-31 20:08] brianwyka opened #5201 "Support Datadog Tracing"
Looks like this would be another implementation of tracing that would be nice to have:
https://github.com/DataDog/dd-trace-java/blob/master/dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java

I believe this would be required to work with `@NewSpan` and `@ContinueSpan`, and `@SpanTag` annotations:
https://docs.micronaut.io/latest/guide/index.html#distributedTracing

Datadog has their own a

[2021-03-31 20:19] pskowronek commented on #5196
That was quick! Thanks!

[2021-04-01 06:31] asarkar commented on #5176
Had the team made a decision (based on label `under consideration`)? I certainly believe having one annotation for all property needs would be a good addition to the API.

[2021-04-02 16:50] brianwyka commented on #5201
@graemerocher, any thoughts on if this should be implemented in https://github.com/DataDog/dd-trace-java/pull/2571 or within this repository?

[2021-04-02 18:02] ivyazmitinov commented on #5192
@Archcry, it is not related to micronaut, it is just how reactive frameworks work. @graemerocher is right, `observeOn` will fix your issue, try for yourself:
[code]

It is the same behavior which is applied to operators after a `flatMap`. Consider the following example:
[code]
Intuitively you would expect the code in the `doOnNext` after the `flatMap` to be executed on `Schedulers.io()` thread, as

[2021-04-02 18:07] ivyazmitinov commented on #5192
Still, it is a point of concern. @graemerocher, is it ok that threads from an event loop can "leak" into business logic? I mean, they should not be blocked, but I've always assumed it just means that calls to a database or something like that should always be  offloaded to a dedicated thread pool (what implied by reactive approach itself).
In other words: is it ok for business logic to be executed

[2021-04-02 18:51] ivangfr opened #5206 "Slow startup for Kafka application"
Hi, I have update my [`micronaut-producer-consumer`](https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot/tree/master/producer-consumer/micronaut-producer-consumer) project to version `2.4.2`.

Once built successfully the Docker native image of `micronaut-producer-api` and running its container, I am experiencing a very slow startup. It's taking around 10s

[code]

If I shut the contain

[2021-04-03 07:14] JasonTypesCodes opened #5208 "StackOverflowError When Eureka and OAuth2/OpenID Configured in Same App"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a Micronaut Application with Eureka and OAuth2 support
2. Update config to support OpenID Connect
3. Try to start application

### Expected Behaviour

Applicat

[2021-04-03 08:42] dashingsat opened #5209 "Coroutines not working with Micronaut and Tomcat."
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

###

[2021-04-03 18:57] graemerocher commented on #5192
It is absolutely valid to execute logic on the event loop if it doesn’t block. In fact it scales better since you avoid the context switch to spin up another thread

[2021-04-03 20:29] veN1337 opened #5210 "Building native image of Kotlin app fails with 2.4.1+"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a basic Micronaut application (Micronaut CLI or https://micronaut.io/launch) with Kotlin as language (Micronaut version 2.4.1, 2.4.2 or 2.4.3-SNAPSHOT)
2. Run

[2021-04-04 06:32] vonZeppelin commented on #5210
Similar issue under the `micronaut-kotlin` project, https://github.com/micronaut-projects/micronaut-kotlin/issues/257

[2021-04-04 08:12] veN1337 commented on #5210
Thanks for the information. `micronaut-kotlin` seems to be the better project for this problem. I'm closing this issue.

[2021-04-04 08:41] graemerocher commented on #5210
keeping this open so it is not forgotten

[2021-04-04 09:42] kash1102 commented on #2977
Is this resolved?

[2021-04-05 14:18] RafaelCavazza opened #5213 "DateTime parameter RFC"
Hi!

Is there a way to set another RFC to bind the date time string to a parameter?

The @Format only allows for a specific pattern.

We would like to use the the RFC 3339, section 5.6 format.

`Additionally, any DateTime that conforms to RFC-1123 can be bound to a parameter. Alternatively the format can be customized with the Format annotation:`

[2021-04-05 15:27] ilopmar commented on #5210
This PR https://github.com/micronaut-projects/micronaut-kotlin/pull/260 fixes this issue.

[2021-04-05 18:07] cosmin-marginean commented on #1180
Can I ask what the solution is here? We're looking at loading the layout dialiect (https://www.thymeleaf.org/doc/articles/layouts.html, Section 4) but I'm not certain how we can configure this with Micronaut Views (couldn't find any docs for this)

[2021-04-05 20:49] glats opened #5215 "Fail compilation for @RequestBean with reactive type"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided
### Steps to Reproduce

1. Create a new protect like `mn create-app me.jics.main --build maven -f openapi,lombok,graalvm,security-jwt`
2. Code some controller
3. Add `@RequestBean` with a `@Valid` to a `Sin

[2021-04-06 14:46] #5213 closed, assigned to nobody

[2021-04-06 14:47] #5218 closed, assigned to nobody

[2021-04-06 15:42] ivyazmitinov commented on #4308
I was able to reproduce it without lombok. Indeed, looks like `io.micronaut.context.env.PropertySourcePropertyResolver#resolveSubMap(java.lang.String, java.util.Map<java.lang.String,java.lang.Object>, io.micronaut.core.convert.ArgumentConversionContext<?>)` uses only annotations from parameter.
It is confusing as it contradicts the [documentation](https://docs.micronaut.io/latest/guide/#configurat

[2021-04-07 08:19] destan opened #5221 "Misleading Javadoc for Interceptor interface"
In the [Javadoc of `Interceptor` interface](https://docs.micronaut.io/2.4.2/api/io/micronaut/aop/Interceptor.html) it says:

However, [`io.micronaut.transaction.jdbc.TransactionalConnectionInterceptor.TransactionalConnectionInterceptor`](https://micronaut-projects.github.io/micronaut-data/2.3.1/api/io/micronaut/transaction/jdbc/TransactionalConnectionInterceptor.html) has `prototype` scope.

Hence

[2021-04-07 08:37] anoophp777 opened #5222 "To print traceId and span id for reactive return types"
MDC works great for non-reactive code when I want to print traceId and spanned.

How can I print traceId and spanid for reactive return types or for reactive applications?

I've posted the question here but no response: https://stackoverflow.com/questions/66454367/micronaut-how-to-print-traceid-and-spanid-in-logs

### Expected Behaviour

Trace id and span id to be printed for reactive applications

[2021-04-07 14:51] ivyazmitinov opened #5223 "@Format is not applied to query parameter in declarative http client if uri declares it"
### Steps to Reproduce

Consider the following setup:

[code]

### Expected Behaviour

Call `currencyClient.getRates()` should complete successfully

### Actual Behaviour

Call `currencyClient.getRates()` errors out with parsing exception on server side, because the parameter is formatted by default formatter.

This happens because of logic in `HttpClientIntroductionAdvice#intercept`, lines 289-29

[2021-04-08 10:28] rn55 opened #5224 "A lot of errors: No request state present. Cause: Connection reset by peer"
There are many following errors in Micronaut's logs:
[code]

I think it should not be logged on the ERROR level because it is not an error in the application logic.
Unfortunately, I am not able to provide the steps to reproduce. Service is exposed to the internet so it's probably caused by some bots.

### Expected Behaviour

It should be logged at DEBUG level to avoid mess in the logs

### Actual

[2021-04-08 13:17] ivyazmitinov opened #5227 "Http header "Host" is set incorrectly for redirects"
### Steps to Reproduce

Consider the following client with the url returning 301
[code]

### Expected Behaviour

Call `appleDeviceListClient.fetchColonSeparatedValues()` should return successfully.

### Actual Behaviour

Call errors out with the github 404 page.

This is because all headers from the original request is copied to new one, including `host`, which forces github to return 404.
`io.mic

[2021-04-09 06:56] ckosmowski commented on #2972
Unfortunately we still have to do several workarounds because of this issue. Is there any chance that this will make it to a milestone soon?

[2021-04-09 10:35] graemerocher commented on #2972
@ckosmowski PRs welcome

[2021-04-09 11:48] JouperCoding commented on #4410
Hello,

We have seen the same issue. Adding some details we found on the current behavior.

When validating the following list, it may only contain 10 items which of the Strings in that List must be 1-16 characters long. The below validation will validate the String to 10 characters and not the List item count. **Note** that the string validation in the list is never validated at all.

[code]

If

[2021-04-11 14:54] altro3 opened #5233 "[Improvement] Please add ability to customize http-client object mapper"
Hello! Finally I decided to try to move from spring-boot to micronaut. In general, it turned out very well. BUT! As described above, the current implementation of http-client does not provide the ability to set up a custom serialization / deserialization policy. And, since Since the services use integrations with external systems that work absolutely differently and have completely different json

[2021-04-12 05:15] glats opened #5234 "CodecException: Jackson deserializer has no default (no arg) constructor"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a new app with: `mn create-app me.jics.backend -b maven -f graalvm,lombok,openapi,redis-lettuce,cache-ehcache -t spock`
2. Create a POJO for the http client an

[2021-04-12 09:54] martijndwars opened #5236 "Parameter name lost during Gradle's incremental compilation"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. `git clone https://github.com/MartijnDwars/mn-test`
2. `cd mn-test`
3. `./gradlew compileJava`
4. Update in `src/main/java/mn/test/ByeController.java` the text `"Bye

[2021-04-12 09:58] martijndwars commented on #5236
Perhaps this ticket should be moved to https://github.com/micronaut-projects/micronaut-gradle-plugin/? If someone could confirm that this is indeed a bug, then I would be happy to contribute a fix.

[2021-04-12 19:34] brianwyka commented on #5176
@asarkar, I was able to achieve loading configurations from a library in addition to the application by adding a custom `PropertySourceLoader` in the service file...

Example `META-INF/services/io.micronaut.context.env.PropertySourceLoader` file:
[code]
Overriding this one: https://github.com/micronaut-projects/micronaut-core/blob/2.4.x/inject/src/main/resources/META-INF/services/io.micronaut.cont

[2021-04-12 20:24] asarkar commented on #5176
@brianwyka The purpose of this ticket is to provide OOTB support for such boilerplate code.

[2021-04-12 20:37] brianwyka commented on #5176
@asarkar, yes.  Was just providing a workaround example for the time-being.

[2021-04-13 01:13] IgorEulalio opened #5238 "Unknow format when use gu install native-image -L"
Hello.

#### I've a problem when using gu install native-image -L location_file:
#### Because proxy problems, i need to download the .jar file of native image, and install directly on the container.
#### Im using this dockerfile:

[code]

#### In this case, i have error when installing, but the curl has successful:

[code]

### Expected Behaviour

#### Need to installing correctly the native-image

[2021-04-13 10:25] ilopmar commented on #5238
I think the problem here is that you are downloading a native-image.jar file instead a binary file.

[2021-04-13 10:59] #5238 closed, assigned to nobody

[2021-04-13 13:35] dcalap opened #5242 "Unexpected response from a Controller using tomcat"
### Task List

- [X] Steps to reproduce provided
- [-] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Run application with `./gradlew run -Pmicronaut.runtime=tomcat`
2. Perform a POST request (curl, httpie...) against a micronaut application controller and check the r

[2021-04-13 15:49] graemerocher commented on #5236
Seems to be a bug in Java 8, works with JDK 11

[2021-04-13 16:08] #5098 closed, assigned to graemerocher

[2021-04-13 17:07] martijndwars commented on #5236
Thanks for checking Graeme! I'm not sure what the guarantees for incremental annotation processing are, so this could be a bug in Java 8 or it could be Micronaut depending on unspecified behavior. Either way, does it make sense for Micronaut to run parameter validation on classes which are already compiled? E.g. if I incrementally compile only B.java, then should Micronaut validate the already-com

[2021-04-13 17:13] graemerocher commented on #5236
I'm not sure it is possible to know from the perspective of an annotation processor whether an element is compiled or not. I suspect what is happening is that Java is loading a `TypeElement` from the compiled class and this is not representing named parameters correctly. I think given this behaviour we should disable this validation if `incremental=true` and Java version is 8

[2021-04-13 17:14] graemerocher commented on #5236
that could be configured here https://github.com/micronaut-projects/micronaut-core/blob/c13193f04106d6b9a1b01a376383c7a92e45e49a/validation/src/main/java/io/micronaut/validation/routes/RouteValidationVisitor.java#L114

[2021-04-13 19:47] jameskleeh commented on #5233
Are you talking about the low level or declarative client? The declarative client can use `@JacksonFeatures`. I think with recent changes to how clients are injected it is possible to open up that annotation to fields, method params, etc where `@Client` is also used.

[2021-04-14 03:36] #5224 closed, assigned to jameskleeh

[2021-04-14 04:48] musketyr opened #5244 "Publish io.micronaut:micronaut-function-client:1:3.7 to Maven Central"
Maven Central is missing io.micronaut:micronaut-function-client:1:3.7

see https://mvnrepository.com/artifact/io.micronaut/micronaut-function-client

It should be a single click action in Bintray UI.

Keeping 1.3.7 version alive is important because it's used by the latest Grails version.

### Steps to Reproduce

1. Create Micronaut 1.3.7 function project
2. Remove JCenter repository
3. Try to com

[2021-04-14 09:24] graemerocher commented on #5176
Looking at the code you stated `Currently, properties can be defaulted in application.* file, or in the package-info.java file as shown below.`

This is a actually not true, currently `@PropertySource` is not used anywhere apart from in MicronautTest and as a repeatable representation of `@Property`

So it would not be a case of updating `@PropertySource` since there is nothing to update.

Having

[2021-04-14 09:50] graemerocher commented on #5244
Done https://repo1.maven.org/maven2/io/micronaut/micronaut-function-client/1.3.7/

Thanks for pointing this out

[2021-04-14 09:50] #5244 closed, assigned to nobody

[2021-04-14 09:54] graemerocher commented on #5222
Micronaut already adds to SLF4J some MDC variables for tracing https://github.com/micronaut-projects/micronaut-core/blob/2.4.x/tracing/src/main/java/io/micronaut/tracing/brave/log/Slf4jScopeDecorator.java#L26

Are these not working for you?

[2021-04-14 09:54] graemerocher commented on #5210
@ilopmar was this released and merged and can this be closed?

[2021-04-14 09:55] graemerocher commented on #5201
This seems like it belongs in an external module not in core

[2021-04-14 09:59] ilopmar commented on #5210
Yes. The new micronaut-kotlin version was released and will be the default for next micronaut version.

To make sure this doesn't happen again I added a Kotlin app to our CI: https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/1177748798

[2021-04-14 09:59] #5210 closed, assigned to nobody

[2021-04-14 10:04] martijndwars commented on #5236
@graemerocher I tried to create a fix in https://github.com/micronaut-projects/micronaut-core/commit/5850bf9f6691982a12c2d6c93b7c6724afc92b11. Is it worth opening a PR, or are you working on a change yourself already?

[2021-04-14 10:18] altro3 commented on #5233
@jameskleeh Hi! I can not accurately answer this question, low-level replacement or not, but I can more accurately formulate the problem:

Now there are only 2 ways to set the object mapper format:

1. @JacksonFeatures annotation. Unfortunately, this solution does NOT allow setting namingstrategy, dateformat, locale, serialization-inclusion. And it allows you to specify only SerializationFeatures

[2021-04-14 10:38] graemerocher commented on #5208
@JasonTypesCodes @sdelamo The issue appears to be `DefaultTokenEndpointClient` unsafely creating beans in the constructor. This is an issue because the bean `HttpClientConfiguration` is extended by `EurekaClientConfiguration` which injects components related to the http client so when `createBean` is called these are currently being in the middle of being created but not registered with the contex

[2021-04-14 10:44] graemerocher commented on #5236
I haven't started yet, so go ahead an open a PR. The change looks good.

[2021-04-14 10:50] graemerocher commented on #5185
If you are using `@Transactional` with JDBC or JPA this only works in non-reactive flows so the behaviour of what you were doing is essentially undefined.

If you want reactive transactions then the R2DBC module supports that and you can use that instead otherwise `@Transaction` on a method that returns a reactive type makes so sense

[2021-04-14 10:50] #5185 closed, assigned to nobody

[2021-04-14 10:51] graemerocher commented on #5123
Relates to https://github.com/micronaut-projects/micronaut-core/issues/5192

[2021-04-14 10:54] graemerocher commented on #5164
You mention a last minute merge. In which case can you track down the commit that caused the problem

[2021-04-14 10:59] ilopmar commented on #5164
I spent some time on this and I wasn't able to find the commit that broke this :disappointed:

[2021-04-14 11:00] ilopmar commented on #5164
So, because of this, the GraalVM test app for this is still failing in CI since then. And now it also fails in the new branch for 2.5.x

[2021-04-14 11:08] graemerocher commented on #5164
the build currently fails with

[code]

[2021-04-14 11:13] ilopmar commented on #5164
That error seems a glitch with our snapshot repository. I've tried now (removing my local artifacts) and the build has been able to download all of them.
Can you retry?

[2021-04-14 11:18] graemerocher commented on #5164
seems the issue is resolved by adding `annotationProcessor "io.micronaut:micronaut-graal"` to the `core` project

For some reason Graal requires reflective loading

[2021-04-14 11:31] musketyr commented on #5244
Thanks for a quick response!

[2021-04-14 11:44] ilopmar commented on #5164
That was the first thing I tried and it didn't work for me. I've tried it again and it works now. Maybe we've fixed something in the gradle plugin :confused: ...

Is this the real fix or just a workaround? I'm asking because I think I created this test project to specifically test this use case and check that the dependency wasn't necessary on the `core` project.
Besides that, this worked in 2.3.x

[2021-04-14 11:47] graemerocher commented on #5164
it seems a bug in native image, worth an issue report to graalvm that I can escalate

[2021-04-14 11:53] henriquelsmti opened #5247 "Debugging problem in IntelliJ when a bean has interceptors"
There is a problem when inspecting private field values ​​on any beam that has interceptors linked, such as @Transactional.
Here is a project to do the simulation: https://github.com/henriquelsmti/intellij-micronaut-inspect-problem

Below the prints of a simulation:

Bean with no inteceptions:
![image](https://user-images.githubusercontent.com/9632578/114705210-dc343500-9cfd-11eb-8d08-7459bb1a0eb0

[2021-04-14 13:13] graemerocher commented on #5247
The bug here is in IntelliJ/Groovy nothing we can do on the Micronaut side

Micronaut at compilation time produces a subclass that is the AOP proxy which is the actual instance. The subclass doesn't have visilbity on the super class private fields which seems to be a problem for Groovy debugging in IntelliJ

[2021-04-14 13:13] #5247 closed, assigned to nobody

[2021-04-14 13:38] ilopmar commented on #5164
Done: https://github.com/oracle/graal/issues/3347

I've tried the workaround and it still fails on CI :-(

[2021-04-14 14:00] cosmin-marginean opened #5250 "@EachProperty is not injecting Kotlin properties"
### Steps to Reproduce

Create a Kotlin Micronaut project and in `application.yml` add the following:

[code]

Create the config class and controller as follows:

[code]

### Expected Behaviour

We expect that each `ObjectSearchConfig` instance has the `searchFields` field set correctly and for the system to start normally.

### Actual Behaviour

App bootstrap fails:
[code]

Curiously enough, when

[2021-04-14 14:14] jameskleeh commented on #5250
You are missing `@ConfigurationInject`

Given the config:

[code]

The following class is correctly bound

[code]

[2021-04-14 14:15] #5250 closed, assigned to nobody

[2021-04-14 14:26] cosmin-marginean commented on #5250
OK, I spent the best part of an hour re-reading these docs a few times:
* https://guides.micronaut.io/micronaut-configuration/guide/index.html
* https://docs.micronaut.io/2.0.1/api/io/micronaut/context/annotation/EachProperty.html
* https://docs.micronaut.io/latest/guide/index.html (section 4 Application Configuration)

Your suggestion (which works btw) doesn't appear explicitly in any of these do

[2021-04-14 14:30] jameskleeh commented on #5250
@cosmin-marginean It's documented under 4.8 https://docs.micronaut.io/latest/guide/index.html#immutableConfig

The guide you listed isn't specifically related to `@ConfigurationInject` and it's also not directly related to `@EachProperty`.

If you have any ideas for docs improvements, we can discuss them here, or you can create a PR.

[2021-04-14 14:34] cosmin-marginean commented on #5250
I don't want to sound pedantic but the first and second guid explicitly refer to `@EachProperty` and:
"In this guide you are going to learn how to effectively use the annotations @ConfigurationProperties, @ConfigurationBuilder, and **@EachProperty** to use configured properties in a Micronaut application"

I would contend you cannot learn to "effectively use" @EachProperty based on this guide.

I

[2021-04-14 14:38] jameskleeh commented on #5250
I disagree. There are examples in the guide that work. They are just not using immutable configuration. That being said the guide could be improved by adding another section on `@ConfigurationInject`. I've created an issue to track that request https://github.com/micronaut-projects/micronaut-guides-poc/issues/185

[2021-04-14 14:42] cosmin-marginean commented on #5250
I disagree again, because the notions in the guide are not discussed in terms of mutable or immutable configuration.
For my sake, are you able to shed some light on what a user needs to understand about mutable vs immutable configuration when using @EachProperty and why does that matter at all?

Lastly, what is the context in which the code in the guide would work if it clearly doesn't work withou

[2021-04-14 14:53] jameskleeh commented on #5250
That is true, however your assertion that you cannot use `@EachProperty` is incorrect because examples are provided that do work, therefore if you copy the examples into your code and it works, you have then learned how to use the annotation.

`@EachProperty` and `@ConfigurationProperties` make your class a singleton bean. All beans can have other beans injected into them and that is also the defa

[2021-04-14 15:05] cosmin-marginean commented on #5250
Great, that makes total sense! While none of that is intuitive from the hours I spent on the docs, at least I understand _why_ we get this behaviour.
Thank you for your diligence!

[2021-04-14 15:40] #5236 closed, assigned to graemerocher

[2021-04-14 15:54] graemerocher commented on #5236
Thanks for the contribution!

[2021-04-15 07:25] ilopmar commented on #5164
Just to confirm that the workaround has failing in tonight CI execution.

[2021-04-15 07:45] graemerocher commented on #5164
it must not be generating the reflect config in that case

[2021-04-15 08:00] ilopmar commented on #5164
According to the log, it is. See https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/1181379789#L59 for the 2.4.x - graalvm-21.0 execution:

[code]

[2021-04-15 08:00] ilopmar commented on #5164
And the output is the same for the other cases and java versions...

[2021-04-15 10:34] nanil4568 opened #5253 "Micronaut with Kotlin Class having @Singleton annotation not instantiated"
I have an Micronaut application with modules written in Java and Kotlin.
Java module(Controller logic) has an interface, which is implemented by Kotlin Class with @Singleton annotation specified. But at runtime the Kotlin implementation class is not getting instantiated and is failing with the below exception.

"Internal Server Error: Failed to inject value for parameter [<Interface name>] of clas

[2021-04-15 10:41] #5253 closed, assigned to nobody

[2021-04-15 11:10] brianwyka commented on #5201
@graemerocher, are you thinking a new repository such as `micronaut-tracing` with a `datadog` module in it?

[2021-04-15 14:44] tom-rauk opened #5255 "CircularDependencyException in HttpClientSenderFactory when instrument-threads is true"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2021-04-16 11:40] rn55 opened #5259 "Memory Leak when using CompletedFileUpload"
Hi,
After upgrading Micronaut from 1.3 to 2.4 we noticed memory leak. We use CompletedFileUpload to handle multi-part forms.
To reproduce issue faster, I started server with -Xmx256 arg, after uploading 10-15 files (~30MB each) server crashes:
[code]

Sometimes following log from Netty's Leak Detector appears:
[code]

The problem also exists when I disable direct memory using flag -Dio.netty.noPre

[2021-04-16 12:42] rn55 commented on #5259
Problem does not exist in Micronaut 2.0.2, it seems that it appeared in 2.1.0 - this is the first version where I'm able to reproduce it.

[2021-04-16 22:05] JeremyLoy opened #5264 "Support return type annotation metadata"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

When validating a method return type, the `@Valid` must be on the method itself. My understanding is that `@Valid` on the return type itself should also work, but it doe

[2021-04-19 08:29] CoderYellow opened #5268 "Proposal: full support for JakartaEE Annotation API."
I've noticed that micronaut has support Jakarta Inject feature. It would be perfect to fully support [JakartaEE Annotation API](https://github.com/eclipse-ee4j/jakartaee-api) (JPA, JAX-RS) due to the [potential license risk ](https://dzone.com/articles/jakarta-ee-without-javax-the-world-wont-end-this-time-either). I've glanced over the difference between the javax and jakarta specification, it's j

[2021-04-19 09:03] sdelamo opened #5269 "Include Micronaut Problem JSON in BOM"

[2021-04-19 09:14] mdeso opened #5270 "Regression: HTTP client read timeout since 2.4.0"
### Task List

- [ ] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

After updating a system consisting of multiple Micronaut services from 2.3.4 to 2.4.x (first tried 2.4.2, then 2.4.0) we noticed that calls of one service to another no longer work but throw a

[2021-04-19 09:26] graemerocher commented on #5270
Provide an example that reproduces the issue please

[2021-04-19 09:27] graemerocher commented on #5268
This is in progress already. Micronaut 2.4.x supports `jakarta.inject`

[2021-04-19 10:23] mdeso commented on #5270
Unfortunately I could not reproduce the problem in a simple example. As described, other (similar) service calls work and I could not determine what distinguished the failing call from the others. Obviously there must be some difference and something must have changed from 2.3 to 2.4 to cause this but from the change log I could no derive the cause.

[2021-04-19 10:33] graemerocher commented on #5270
Most likely there is somewhere in your code where you are blocking the event loop

[2021-04-19 10:55] mdeso commented on #5270
Has event loop handling changed in 2.4? The service interfaces (including the failing one) are annotated to execute their methods on `TaskExecutors.IO`.

[2021-04-19 11:14] destan opened #5271 "Intercepted target is injected into ApplicationEventListener beans"
[code]

With above classes, in the controller `AnotherInterface` is injected as an intercepted instance:
![image](https://user-images.githubusercontent.com/442813/115226179-98836600-a117-11eb-9bc1-e7de88fac897.png)

However, when I introduce the following class:

[code]

There is an un-intercepted instance of `AnotherService` along with the intercepted one:
![image](https://user-images.githubuserc

[2021-04-19 11:54] mdeso commented on #5270
I'll close this issue. As I just found out it seems to be some strange micronaut-data problem which causes the service to stall if it fetches data, causing it not being able to answer requests. But there's no exception or error message, even the debug log looks normal. I'll try to identify the actual problem and report it in micronaut-data if I can find it.

[2021-04-19 11:54] #5270 closed, assigned to nobody

[2021-04-19 13:11] destan opened #5273 "Undocumented behavior of @Around annotation"
`@Around` annotation causes bean creation when used alone.

### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

In any app:

1. Replace a `@Singleton` annotation with `@Around` or any other annotation that has `@Around` a

[2021-04-19 13:40] jameskleeh commented on #5273
This is the intended behavior

[2021-04-19 13:50] #5227 closed, assigned to jameskleeh

[2021-04-19 16:16] jameskleeh commented on #5259
Unfortunately this is a bug in Netty. I will work with them to resolve it

[2021-04-19 19:30] andydoe19 commented on #3895
please which version numbers does it work for? Can you provide an example please?

[2021-04-19 20:44] csh0711 opened #5277 "GraalVM's Native Image generation fails since 2.4.1 with Kotlin"
When using Micronaut 2.4.1 (and 2.4.2 as well) I get an error when creating a Native Image with GraalVM.
It works with 2.4.0.

Error during generation is:

[code]

### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

Worki

[2021-04-20 03:17] rcoelho6 commented on #4350
The point about this, is that Micronaut documents says to use at "7.2 Proxying Requests with ProxyHttpClient". So if we can't use it as documentation. What must we do?

[2021-04-20 06:23] graemerocher commented on #4350
Currently it could result in a breaking change in behaviour if we changed in this in 2.x so the solution is as James said to add instances checks before calling `mutate`

[2021-04-20 06:43] ilopmar commented on #5277
Duplicate of #5210. Please update to micronaut-kotlin 2.3.1 that contains the fix. See https://github.com/micronaut-projects/micronaut-kotlin/releases/tag/v2.3.1

[2021-04-20 06:43] #5277 closed, assigned to nobody

[2021-04-20 06:51] ilopmar opened #5278 "Error instantiating bean of type [io.micronaut.discovery.DefaultCompositeDiscoveryClient] with Consul/Eureka and Micronaut 2.5.0-SNAPSHOT"
Tonight the Consul and Eureka apps have failed in GraalVM CI with error `io.micronaut.context.exceptions.BeanInstantiationException: Error instantiating bean of type  [io.micronaut.discovery.DefaultCompositeDiscoveryClient]`

**The error also happens when running on the JVM**

### Steps to Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-service-discovery-consul`
- `cd mi

[2021-04-20 07:16] graemerocher commented on #5278
Fixed by reverting a commit https://github.com/micronaut-projects/micronaut-core/commit/e5229cb491b616d6c8f5e4e6acb1de679732a53a

Looks like we can't make this change easily without recompiling all the modules unfortunately

[2021-04-20 07:16] #5278 closed, assigned to graemerocher

[2021-04-20 07:16] #5255 closed, assigned to tom-rauk

[2021-04-20 08:26] ilopmar commented on #3895
The commit with this was first included in Micronaut 2.3.1. See https://github.com/micronaut-projects/micronaut-core/commit/d4683be573c5f57d470b8bcb3b775c20fbd976d6

![image](https://user-images.githubusercontent.com/559192/115363599-e4d7b000-a1c2-11eb-80da-f0312ea99de2.png)

[2021-04-20 09:26] graemerocher commented on #5271
So this could be a breaking change. The issue is in the logic `findExistingCompatibleSingleton` which doesn't exclude proxy targets. Changing this could break existing applications although it is probably the right thing to do. @jameskleeh which version do you think we should target the fix?

[2021-04-20 14:12] anoophp777 commented on #5222
@graemerocher No, they aren't.

I created a demo project and testing B3 Header propagation using Jaeger, this is working well.

However, the trace and spanIds aren't printing in the logs.

This is my logbook configuration.

[code]

Note: I've enabled B3 Propagation in Jaeger using this environment variable "JAEGER_PROPAGATION=b3"

Is this working for you? Can you provide an example?

[2021-04-20 16:52] jameskleeh commented on #5259
I reported https://github.com/netty/netty/issues/11174 for this issue

[2021-04-21 07:04] fromlabs opened #5281 "[Feature] Support for generic events in @EventListener"
It would be nice to support:

[code]

In Spring this is possible implementing `ResolvableTypeProvider`:
[code]
[Spring Framework Generic Events](https://docs.spring.io/spring-framework/docs/current/reference/html/core.html#context-functionality-events-generics)

[2021-04-22 06:55] fromlabs opened #5290 "[Feature] Support for new Kotlin inline classes as parameters and return values on @Transactional"
Inline classes will become Stable in Kotlin 1.5.0, [docs](https://kotlinlang.org/docs/inline-classes.html) and [issue](https://youtrack.jetbrains.com/issue/KT-42434?_ga=2.60359598.242708355.1619072955-1227836125.1619072955), and they are very useful in domain modeling and DDD ([primitive obsession](https://www.jamesshore.com/v2/blog/2005/primitiveobsession)):
[code]

I found this [closed issue](ht

[2021-04-22 07:35] bj-eberhardt opened #5291 "[Feature] support "configurable" random in PropertyResolver / or allow custom implementations"
Feature request:
The property "${random.int}" does not help, because it returns any integer (that can be also negative,-2147483648 to 2147483647). I would like to extend the expression, allowing upper and lower bounds to the random, like used in spring. There might be situations, where you need some random values in a given range.

Background:
As an example, where this new "${random.int}" can be u

[2021-04-22 08:24] ilopmar commented on #5164
So, it turns out the culprit is our Gradle plugin. The `core.jar` file (in which Book class is supposed to be) is not being generated so it is not being included in the native image.

See https://github.com/oracle/graal/issues/3347#issuecomment-824285147

[2021-04-22 10:40] ilopmar commented on #5164
I've been digging a little bit and I've found that everything works with plugin 1.4.0. Take a look at the output when creating the native image. The task `core:jar` is executed:

[code]

But starting in `1.4.1` the task is not executed anymore:

[code]

The only fix included in 1.4.1 is this PR: https://github.com/micronaut-projects/micronaut-gradle-plugin/pull/155 which broke it.

[2021-04-22 16:01] graemerocher commented on #5290
Probably would require a native Kotlin compiler or migration to KSP

[2021-04-22 19:57] #5123 closed, assigned to graemerocher

[2021-04-22 19:57] #5192 closed, assigned to graemerocher

[2021-04-22 20:04] jameskleeh commented on #5264
This is likely due to where kapt puts the annotation in the resulting Java stub. In Java you can't put an annotation on the return type itself.

What is the benefit of putting the annotation on the return type? Is that just the way most Kotlin developers would do it? What functional difference is there between the return type and the method in other scenarios?

[2021-04-22 20:06] graemerocher commented on #5264
actually Java does https://stackoverflow.com/a/35876716

[2021-04-22 20:09] jameskleeh commented on #5264
TIL

[2021-04-22 21:44] JeremyLoy commented on #5264
@jameskleeh I’m not sure if one way is more idiomatic over the other, just wanted to note the behavioral difference.

I’m curious, does Valid get ignored in Java code if on the return value?

[2021-04-23 05:50] graemerocher commented on #5264
Probably. We don’t currently implement support for annotations on return types in general

[2021-04-23 07:08] graemerocher commented on #5095
Fixed after deprecation removal in 3.0.x

[2021-04-23 07:08] #5095 closed, assigned to graemerocher

[2021-04-23 07:09] luckyswede opened #5299 "@Body and proxyClient in same controller method cause subscription error"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce
Define a controller method which reads the body and use the proxyClient, eg
[code]

### Expected Behaviour
The body is available to read and the request is proxied.

###

[2021-04-23 07:10] #4998 closed, assigned to nobody

[2021-04-23 07:14] graemerocher commented on #5222
There were some recent fixes in this area see https://github.com/micronaut-projects/micronaut-core/issues/4603

[2021-04-23 07:15] graemerocher commented on #5299
yeah generally `ProxyClient` is designed to be used within a filter where the body is not yet consumed

[2021-04-23 07:16] luckyswede commented on #5299
It's actually the same behavior if u move the proxyClient to a filter

[2021-04-23 07:23] luckyswede commented on #5299
I've updated the repo now to use the proxyclient from a filter, still getting the same error

[2021-04-23 07:31] graemerocher commented on #5299
I think that will be fixed by https://github.com/micronaut-projects/micronaut-core/pull/5261 in 2.5.x

[2021-04-23 07:34] luckyswede commented on #5299
Ok, what if I _want_ to read the body? In my case I want it for logging, but in a gateway app I could potentially want to do routing or ratelimiting depending on body content.

[2021-04-23 07:55] graemerocher commented on #5299
you may be better of writing your our Netty handler in that case since you would need to buffer the body and the pass it down stream

[2021-04-23 08:00] luckyswede commented on #5299
Ok, then I know

[2021-04-23 11:24] jaecktec commented on #5301
Is this a micronaut-core issue?

[2021-04-24 00:03] mhossain2019 opened #5305 "Not able to fetch value while using @threadlocal on a bean"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2021-04-24 09:09] graemerocher commented on #5305
provide an example

[2021-04-24 09:53] utsav0209 commented on #5291
@graemerocher I would like to work on this

[2021-04-25 09:34] utsav0209 commented on #4791
@graemerocher [HttpStatus](https://github.com/utsav0209/micronaut-core/blob/b5cc40ea85d020d875f5a95e570188d4a47890a1/http/src/main/java/io/micronaut/http/HttpStatus.java) is an ENUM, how do we allow this then?

[2021-04-25 10:29] graemerocher commented on #4791
would have to be an internal implementation of for example `NettyHttpResponseFactory`

[2021-04-25 19:57] morki opened #5309 "Enums stopped working in native image when updated to GraalVM 21.1.0"
Enums stopped working in native image when updated to GraalVM `21.1.0`. Nothing else in application has changed.
I tried native image agent, if some new reflection configuration is not missing, but it did not help.

### Steps to Reproduce

1. Compile following simple application to native image

[code]

2. Run compiled native image
3. Send request for example to `GET /test/A`

### Expected Behavio

[2021-04-26 09:09] anoophp777 commented on #5222
@graemerocher

I looked at #4603 , I couldn't come up with a solution. I'm not sure if #4603 broke something which was working in earlier releases of Micronaut or fixed a header propagation issue.

My requirement is simple: traceid/spanid/parentspanid to be printed in the logs. Per your earlier comment, MDC is being set, however, the MDC is not being printed in the logs. My logback configuration i

[2021-04-26 09:20] ilopmar commented on #5309
I'm able to reproduce this issue but only because `Choice` is annotated with `@Introspected` and it shouldn't. If you remove the annotation it works as expected.

[2021-04-26 09:48] rn55 commented on #5259
Hi @jameskleeh, related netty issue 11174 has been closed, what will be next steps to resolve this issue?

[2021-04-26 10:00] #4603 closed, assigned to nobody

[2021-04-26 10:01] graemerocher commented on #5222
Please provide an example that reproduces the issue

[2021-04-26 13:03] jameskleeh commented on #5259
@rn55 The issue is fixed in 63, however that release also includes a terrible performance regression https://github.com/netty/netty/issues/11175. We will need to wait until that is fixed and then we can upgrade

[2021-04-26 13:18] bj-eberhardt commented on #5291
Nice. Thanks for working on this :+1:

[2021-04-26 13:36] jameskleeh commented on #5309
@ilopmar Do you know why that causes the issue?

[2021-04-26 13:37] #5269 closed, assigned to nobody

[2021-04-26 13:38] #3504 closed

[2021-04-26 13:41] #2281 closed

[2021-04-26 14:11] ilopmar commented on #5309
No idea but it has to do with Kotlin because with a Java application it works when annotating the enum.

[2021-04-26 14:55] dstepanov opened #5315 "Worse performance for `application/json` publisher response"
If a reactive publisher is defined as a controller response performance degrades because deserialization needs to be done for every item and additional processing.

The solution is to convert the publisher to a single value publisher if streaming is not required.

For the future version, we should consider streaming the `application-json` response only if the method is annotated with something lik

[2021-04-26 17:52] miguelaferreira commented on #3759
If it's worth anything towards validation, I've just faced this same issue while building a web proxy using the ProxyHttpClient.

[2021-04-26 18:33] morki commented on #5309
Thank you for your hint @ilopmar, it solves the problem in this minimal example, which I thought is sufficient when I was trying what is minimal reproducible code. My real problem is when used inside expanded query params:

[code]

with:

[code]

because of Kotlin default values.

Previously, enum `SourceType` was annotated with `@Introspected` to "accidentaly" add it to reflection config.
With th

[2021-04-27 10:45] ilopmar opened #5323 "Compilation warning: "unknown enum constant When.MAYBE" with Micronaut @Nullable and 3.0.0-SNAPSHOT"
There is a compilation warning when using Micronaut `@Nullable` annotation and `3.0.0-SNAPSHOT`. This doesn't happen with Micronaut 2.5.x

### Steps to Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-data-jdbc-graal`
- `cd micronaut-data-jdbc-graal`
- `git checkout 3.0.x_h2`
- `./gradlew compileJava`

### Expected Behaviour

There should be no warnings when compiling

##

[2021-04-27 11:20] ilopmar opened #5324 "Move `ValidationExceptionHandler` to micronaut-groovy"
As agreed at an engineering meeting some weeks ago, for Micronaut 3 we need to move https://github.com/micronaut-projects/micronaut-core/blob/2.5.x/validation/src/main/java/io/micronaut/validation/exceptions/ValidationExceptionHandler.java to `micronaut-groovy` module because this class is only used with GORM.

Currently we have some warnings and issues with GraalVM and moving this class to the gr

[2021-04-27 12:15] #5056 closed, assigned to nobody

[2021-04-27 16:00] #5291 closed, assigned to utsav0209

[2021-04-27 16:41] auke- opened #5328 "Unable to create native image with micronaut-http-client and jansi"
I'm trying to build an interactive shell application with Micronaut and Jansi but i'm unable to compile it as a GraalVM native image. The compilation fails when both the `jansi` and `micronaut-http-client` dependency are on the classpath. The `jansi` dependency doesn't contain any links to the project which contains the class in the exception (netty-tcnative, io.netty.internal.tcnative.SSLPrivateK