[2021-11-10 07:38] dstepanov commented on #6266
I tried it again and updating the plugin version fixes the problem, don't forget to include `clean`. Previous versions of Micronaut used to scan the classpath using annotation processor and look for property files to be registered for native image, which wasn't working in some cases, so the new solution is to use build plugins to do it.

[2021-11-10 13:51] altro3 opened #6501 "How to update versions or add new libraries in micronaut-bom?"
### Issue description

Hello! Please tell me how to correctly update (and add) the versions of the libraries in the BOM file?

For example, I want to update the version of ElasticSearch in the bom file. I see that the file https://github.com/micronaut-projects/micronaut-core/blob/3.1.x/gradle/libs.versions.toml is version `managed-elasticsearch = "7.12.1"`. But there is a separate project for Elas

[2021-11-10 15:10] #6501 closed, assigned to nobody

[2021-11-10 15:56] ilopmar opened #6503 "Compile error with Groovy and openapi"
### Expected Behavior

Generation of management endpoints for micronaut-openapi and Groovy should work.

### Actual Behaviour

There is an error during compilation. It seems that maybe this is because of a Groovy bug, but as there is a lot of Micronaut code involved there, maybe there is something we are not doing properly.

The exception is:

[code]

### Steps To Reproduce

- `git clone https://g

[2021-11-11 14:51] graemerocher opened #6508 "Repeatable annotations broken in type arguments of generics"
### Expected Behavior

This test is failing when running on JDK 17.

https://github.com/micronaut-projects/micronaut-core/blob/35af8faed6cb00ce5d0d5cd994e128b21e3b4c45/inject-java-test/src/test/groovy/io/micronaut/inject/visitor/beans/BeanIntrospectionSpec.groovy#L483-L506

I don't understand why it is not failing in the JDK 15 we have running it seems that the test is ignored.

and it should pass

[2021-11-11 14:51] graemerocher commented on #6508
@dstepanov could you take a look at this, it is related to the changes to repeated annotation handling. They don't appear to be computed correctly.

[2021-11-11 14:59] #6447 closed, assigned to nobody

[2021-11-11 15:01] graemerocher commented on #6406
From the error it looks like you either have duplicate JARs on your classpath or duplicate native image config where types are being registered twice. The linked project seems to be a custom native image build so it is hard to tell.

[2021-11-11 19:29] caiolopes commented on #4837
@graemerocher I created a reproducer here: https://github.com/caiolopes/micronaut-file-upload

There are two endpoints, one using `@Body MultipartBody body` and another using `CompletedFileUpload`. Only the one with `CompletedFileUpload` happens the LEAK error. You may need to run it a few times to see it, but for me it shows up every time I run.

[2021-11-11 19:34] debuglevel commented on #3546
Micronaut 3.1.3 has the same behavior for me with this `application.yml`:
[code]

I don't know what else I could disable 😕.

/edit: I guess `endpoints.health.discovery-client.enabled: false` from https://github.com/micronaut-projects/micronaut-core/issues/2037 does the trick. Improving the discovery client docs would be lovely (add a hint how to disable all discovery related things so that e.g. yo

[2021-11-11 20:40] graemerocher commented on #3546
Contributions to the docs welcome 🙏

[2021-11-12 09:50] msillence opened #6509 "kafka embedded doesn't start for unit tests"
### Expected Behavior

adding the property kafka.embedded.enabled=true should start kafka so unit tests work

### Actual Behaviour

unit tests fail trying to connect to kafka

### Steps To Reproduce

From the documentation https://micronaut-projects.github.io/micronaut-kafka/latest/guide/#kafkaEmbedded

I believe that kafka.embedded.enabled=true should start kafka embedded for the unit tests

I fi

[2021-11-12 16:32] #4837 closed, assigned to yawkat

[2021-11-12 17:10] schoenobates commented on #6121
I hit the same issue today running a container in K8S - setting the resource limits to 2 or more for the CPU solves the problem. Without this setting, the JVM is reporting one CPU and I don;t see the Scheduled tasks running either.

[2021-11-12 17:54] #6303 closed, assigned to nobody

[2021-11-12 19:38] #6472 closed, assigned to yawkat

[2021-11-12 23:46] w-nowak commented on #6322
Issue fixed in 3.0.1

[2021-11-12 23:47] #6322 closed, assigned to nobody

[2021-11-15 10:04] RiccardoManzan commented on #6406
Got same issue.
I checked out OC repo, but problem it's still there.

@graemerocher i think that if we have a duplicate jar, or duplicate image config, we would get this error using micronaut 2.x too.
Am i right?

I'm using maven, and OC is using gradle so that's not a build tool fault.
Do it comes to mind of anything else which can be the cause?

Cheers.

Edit: This happens only in tests, applica

[2021-11-15 12:34] simondean opened #6515 "Add `io.projectreactor.kotlin:reactor-kotlin-extensions` to Micronaut BOM"
### Feature description

The Micronaut BOM currently includes `io.projectreactor:reactor-core`:

https://github.com/micronaut-projects/micronaut-core/blob/f06d41c120328f641813dad2cf1e9f8926732048/gradle/libs.versions.toml#L401

Since `reactor-core` 3.3.x, Reactor's Kotlin extensions have been moved into a separate library:

https://projectreactor.io/docs/core/release/reference/#kotlin-extensions

[2021-11-15 12:42] graemerocher commented on #6515
We should probably just import the BOM rather than include a single dependency https://search.maven.org/artifact/io.projectreactor/reactor-bom/2020.0.13/pom

[2021-11-15 13:36] simondean commented on #6515
That would be great.  It would cover things like `io.projectreactor:reactor-test` too

[2021-11-15 15:25] #6508 closed, assigned to dstepanov

[2021-11-15 15:34] #6069 closed, assigned to yawkat

[2021-11-16 06:13] nrsina opened #6519 "Setting custom message via "messageTemplate" in Micronaut Validator overrides all constraint violation messages of fields"
### Expected Behavior

Assume we have a DTO like below:
[code]
And I want to set custom message inside TestValidation's validator:

[code]
The expected behavior when throwing and handling **ConstraintViolationException** is that it includes both messages for custom messages inside TestValidation's validator and other messages for field validations. for example:
[code]
Now, if we validate this DTO

[2021-11-16 08:03] #5501 closed, assigned to yawkat

[2021-11-16 08:56] pgressa opened #6520 "Configure executor for Management Endpoints"
### Feature description

 When all threads in microservice pod (k8s) gets busy with processing heavy requests, Liveness probe fails as there is no thread available to respond to it. After specified time K8s marks this POD as unhealthy and kills the container. [1]

https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/

Workaround is to run the app itself on another executor and leave th

[2021-11-16 10:27] agugan commented on #6519
@graemerocher Can I pick this up?

[2021-11-16 10:31] graemerocher commented on #6519
@agugan contributions welcome!

[2021-11-16 11:14] dansiviter opened #6524 "Allow for simple instantiation or bean lookup for pojo properties in configuration"
### Expected Behavior

Ability to define a proxy selector via configuration.

### Actual Behaviour

[code]

I believe the issue is related to #4230 which only appears to permit `default` and nothing else. I had hoped I could use the name of a `@Named` bean or simply a class name but neither worked.

### Steps To Reproduce

1. Set config: `micronaut.http.client.proxy-selector: com.acme.MyProxySelec

[2021-11-16 11:50] graemerocher commented on #6524
You can use a `BeanCreatedEventListener<DefaultHttpClientConfiguration>` and set it programmatically

[2021-11-16 14:53] wimdeblauwe commented on #6309
Should this be fixed in version 3.1.4 ?

[2021-11-16 15:01] graemerocher commented on #6309
@wimdeblauwe should be, you seeing anything different? If so provide an example

[2021-11-16 15:07] vlad24 opened #6526 "Crash + Leak of implementation details : "class java.util.ArrayList cannot be cast to class io.micronaut.core.convert.value.ConvertibleValues" on invalid request body"
### Expected Behavior

HTTP 400 response indicating that required body was not submitted.

### Actual Behaviour

### Issues
1. Code crash with 500 http response
2. Error message reveals implementation details:
[code]
(full stack trace is presented at the bottom)

### Investigation
After short debugging session the following explanation for the crash was found:
1. Arguments are attempted to be boun

[2021-11-16 16:18] wimdeblauwe commented on #6309
Yes, does not seem to be fixed. I created an example here: https://github.com/wimdeblauwe/jackson-native-image-issue See README for details.

[2021-11-16 16:24] yawkat commented on #6309
@wimdeblauwe are you sure this is the same issue? Your reproducer does not have `@JsonSeralize`

[2021-11-16 16:36] wimdeblauwe commented on #6309
Maybe I misunderstood the issue. Do you want me to create a new issue for the problem in my example?

[2021-11-16 16:39] yawkat commented on #6309
yes please, I will look at it in detail tomorrow and see if it's related

[2021-11-16 17:05] wimdeblauwe opened #6528 "@JsonCreator not working with native-image"
### Expected Behavior

The example application at https://github.com/wimdeblauwe/jackson-native-image-issue should work when compiled as native image.

### Actual Behaviour

Exception when running as native image

### Steps To Reproduce

See README at https://github.com/wimdeblauwe/jackson-native-image-issue

### Environment Information

MacOS

### Example Application

https://github.com/wimdeblau

[2021-11-16 17:06] wimdeblauwe commented on #6309
Ok, https://github.com/micronaut-projects/micronaut-core/issues/6528 created

[2021-11-16 21:57] simondean commented on #5431
Not sure, but this might be a duplicate of https://github.com/micronaut-projects/micronaut-core/issues/5398

[2021-11-17 09:18] yawkat commented on #6528
You're creating your own `ObjectMapper` here, which is unsupported: https://github.com/wimdeblauwe/jackson-native-image-issue/blob/main/src/main/java/com/wimdeblauwe/examples/GitHubClient.java#L24

I can't reproduce this issue with an injected `ObjectMapper`. However reproducing this seems to be a bit finicky in general, so I wouldn't bet on that. Please try reproducing this with the micronaut-pro

[2021-11-17 10:19] yawkat commented on #6526
Marking the parameter as `@Body` also makes it give the proper error

[2021-11-17 13:59] wimdeblauwe commented on #6528
Thanks! Injecting the `ObjectMapper` into the `GitHubClient` class indeed makes it work.

[2021-11-17 13:59] #6528 closed, assigned to yawkat

[2021-11-17 15:22] longwa opened #6530 "Random GSP compilation failure in Grails application when including Micronaut"
### Expected Behavior

We have random build failures in our CI caused by an AST transformation included by Micronaut. Typically, running the build again with no changes will fix the issue.

The failure will occur on randomly different GSP's that don't really seem to share anything in common. I'm assuming it must be some kind of race condition.

I wouldn't expect Micronaut to care at all about GSP

[2021-11-18 08:14] yawkat commented on #5233
Starting with 3.2, you will be able to pass an additional module in `@JacksonFeatures`. In that module, you can use `(ObjectMapper) context.getOwner()` to configure the module how you want

[2021-11-18 08:14] #5233 closed, assigned to yawkat

[2021-11-18 12:10] lubomir-moric opened #6532 "StreamingFileUpload subscriber "onComplete" not invoked sometimes"
### Expected Behavior

- uploading file thru Controller
- subscribe to StreamingFileUpload
- when Publisher is done, onComplete is invoked on subscriber

### Actual Behaviour

- uploading file thru Controller
- subscribe to StreamingFileUpload
- onComplete() is never invoked

### Steps To Reproduce

Issue is happening randomly once in a while (e.g. every 20th REST call) and only! with file size of

[2021-11-18 14:36] yawkat commented on #6532
I can't reproduce this. I've added logging to `MySubscriber.onComplete` and `.onNext`, and the `onComplete` is always called for my `curl -v -F 'files=@input32k' http://localhost:8080/upload` command.

It's not too surprising that I can't reproduce it if the error happens as rarely as you say, there might be small changes in the code that cause the timing to change so that the issue doesn't happen

[2021-11-18 15:39] lubomir-moric commented on #6532
Hello,
now I am able to reproduce this issue using a Spock test, the behaviour is exactly the same as it happens sometimes with curl, but for the test I construct the HTTP request manually to have a better control on the payload. With curl and even testing towards local application is hard to spot the issue, as the chunk onNext() is very fast and very small. Having the service on the network, it u

[2021-11-18 16:25] burtbeckwith opened #6533 "Cannot import micronaut-core in Eclipse"
### Expected Behavior

_No response_

### Actual Behaviour

Lots of errors:

[code]

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

_No response_

### Version

3.2.x branch

[2021-11-18 16:34] graemerocher commented on #6533
Why do we need to fix this?

[2021-11-18 18:11] simondean opened #6534 "JSON regression for Kotlin data classes where ALL constructor properties have default values"
## Expected Behaviour

https://github.com/micronaut-projects/micronaut-core/issues/5398 is still open and has not been fixed in 3.x (which is fine).  When it does get fixes, the release that includes will probably need to include a note about the non-backwards-compatible change introduced by fixing that issue.

What I've found (via an initially failed upgrade of an existing codebase from 2.4.x to

[2021-11-18 18:14] simondean commented on #6534
This is an odd issue, as it's a bug being "fixed" rather than a new bug being introduced.  Even so, it was really hard to diagnose the cause of this change when I tried to upgrade a real codebase from Micronaut 2.4.x to Micronaut 2.5.x.  Several unit tests failed due to this issue.  It would have actually been harder if the issue hadn't caused unit tests to fail (if those tests were not there as m

[2021-11-18 21:48] jameskleeh commented on #6534
This is due to https://youtrack.jetbrains.com/issue/KT-47908

[2021-11-18 21:51] jameskleeh commented on #6534
I believe this is a duplicate of https://github.com/micronaut-projects/micronaut-core/issues/5852

[2021-11-18 23:17] simondean commented on #6534
Hi @jameskleeh. Thanks for the link to https://youtrack.jetbrains.com/issue/KT-47908. Looks probable for the root cause.

It looks like a different issue. Likely same root cause (Kotlin issue above) but different issue. That issue looks to be related to persistence (it mentions ’id’ annotation) whereas this an issue with Micronaut’s integration with Jackson when performing JSON deserialisation.

I

[2021-11-19 00:15] natros opened #6536 "error: Unexpected error: Attempt to recreate a file for type com.example.$DemoTest$Definition"
### Expected Behavior

Compile without errors

### Actual Behaviour

[code]

### Steps To Reproduce

1. git clone git@github.com:natros/mn-demo.git
2. ./gradlew --console=verbose testClasses
3. gsed 's/"auth"/"auth2"/' -i src/main/java/com/example/ApiConfiguration.java
4. ./gradlew --console=verbose testClasses

### Environment Information

- macOS BigSur
- java --version
openjdk 17.0.1 2021-10-19

[2021-11-19 00:21] rbhambhra opened #6537 "Controller fails to maintain order of items in map during deserialization"
### Expected Behavior

A map deserialized by Controller maintains order of items in map (as sent in body of post)

### Actual Behaviour

Since version 3.1.0, map order is not retained

### Steps To Reproduce

Start sample application at https://github.com/rbhambhra/mapissue

Application contains a simple controller that echos back posted map as per https://github.com/rbhambhra/mapissue/blob/main/s

[2021-11-19 06:19] Linindoo opened #6538 "get duplicate bean if use ApplicationContext.getBeansOfType method with CustomScope"
### Expected Behavior

it should get different implementation  bean of the target beanType

### Actual Behaviour

it return the duplicate implementation  bean of the target beanType

### Steps To Reproduce

_No response_

### Environment Information

win10
jdk8

### Example Application

https://github.com/Linindoo/micronaut-bug

### Version

3.1.4

[2021-11-19 06:47] Linindoo commented on #6538
![image](https://user-images.githubusercontent.com/26195410/142577626-2e1ed6a8-d26c-4e85-b048-da8adad44ca6.png)
i think the beanType should be replaced by candidate.asArgument()

[2021-11-19 08:53] yawkat commented on #6532
Thanks, I can reproduce it with your new code. Looks like an ugly race condition, will fix.

[2021-11-19 09:17] graemerocher commented on #6536
This looks like another Gradle 7.3 incremental compilation bug. /cc @melix

Workaround is to use 7.2

[2021-11-19 09:22] melix commented on #6536
mmm, that's strange, could it be that the fix @oehme worked on didn't make it into 7.3?

[2021-11-19 09:24] graemerocher commented on #6536
Seems it did but this is a different case? https://github.com/gradle/gradle/issues/18840

[2021-11-19 11:28] yawkat commented on #6537
Thanks for the bug report!

[2021-11-19 11:28] #6537 closed, assigned to yawkat

[2021-11-19 15:34] oehme commented on #6536
I'll have a look.

[2021-11-19 15:43] #6532 closed, assigned to yawkat

[2021-11-19 18:35] graemerocher opened #6545 "Create a SECURITY.md file describing how to file a report"
### Issue description

Provide a `SECURITY.md` file in the root of the project

[2021-11-19 18:56] oehme commented on #6536
@natros I've verified my fix with your sample. Can you check out https://github.com/gradle/gradle/pull/19067, run `gradle install` and let me know whether this fixes your real project?

[2021-11-19 21:26] natros commented on #6536
@oehme I can confirm it works.

Thanks for the quick fix.

[2021-11-20 05:58] glats opened #6546 "Native image does not respect date format with @JsonFormat"
### Expected Behavior

With the following field configuration
`@JsonFormat(shape = JsonFormat.Shape.STRING, pattern = "yyyy-MM-dd HH:mm:ss")`
When I run the project with java the result of printing the date is:
`{"name":"test","date":"2021-11-20 23:12:12"}`

### Actual Behaviour

With the same configuration as above and making a native image the result is:
`{"name":"test","date":[2021,11,20,23,12,

[2021-11-20 09:10] johndevs commented on #6121
Thanks for reporting this, we've been struggling to find the root cause for this as well after a jdk17 upgrade.

[2021-11-20 13:14] morki commented on #4864
We have the same problem.

[2021-11-20 13:25] morki commented on #4864
The 413 error is displayed in network tab in chrome dev tools after stopping of Micronaut application. Until then, it hangs indefinitely.

[2021-11-20 13:59] morki commented on #4864
Configuration:
[code]

Uploading the same file with size `164.7MB` and changing **only** `micronaut.server.multipart.max-file-size` will result in:

|`max-file-size`|Result|Expected behaviour|
|---|---|---|
|200M|File is successfully uploaded|yes|
|150M|Server returns `413 Entity Too Large`|yes|
|100M|Request indefinitely hangs|no|

[2021-11-20 16:47] natros commented on #6536
Hello @oehme

I come across a  new case that took me a long time to reproduce.

Steps
1. git clone git@github.com:natros/nm-demo2.git
2. cd nm-demo2
3. ./compile.sh

Note: with linux edit compile.sh and replace `gsed` with `sed`

After a few iterations you should see

[code]

I'm using gradle with your patch
[code]

With gradle 7.2 I cannot reproduce de error
With 7.3 I get the error on the first

[2021-11-21 05:36] glats commented on #6546
I made mi own serializer and still doesn't work.
I added one [log](https://github.com/j1cs/jackson-string-error/blob/master/src/main/java/me/jics/CustomDateSerializer.java#L33) to see if it goes through that class.
When I run the app with java it print the log fine:
[code]

But with the native image the log "the formatter" doesn't print:
[code]

[2021-11-21 09:59] morki commented on #4864
There is really something broken with multipart handling. With the same configuration as above and arbitrary `max-file-size`, handling of any POST requests with `Content-Type: application/x-www-form-urlencoded` begin to fail, for example `LoginController` from `micronaut-security` project:

[code]

Response:
[code]

After removing `disk: true` and `mixed: true` it works normally.

[2021-11-21 13:25] #4456 closed, assigned to yawkat

[2021-11-21 13:30] graemerocher commented on #3334
code under question re-written in 3.x

[2021-11-21 13:30] #3334 closed

[2021-11-22 02:46] #6305 closed, assigned to dstepanov

[2021-11-22 04:56] #6266 closed, assigned to dstepanov

[2021-11-22 05:07] alisson-gomesc commented on #2905
I am work with version 3.1.4 and I have this issue ReadTimeout, but today I cannot use `thread-selection: AUTO` because I am using `ThreadLocal` on `HttpServerFilter` to track some data. Is there some way to pass the data from `ThreadLocal` to the thread pool?

[2021-11-22 09:19] yawkat commented on #4116
Code in question: https://github.com/micronaut-projects/micronaut-core/blob/a6c0bae9431e0cc072b3d6940e11c168986ebb2e/http-client/src/main/java/io/micronaut/http/client/netty/ssl/NettyClientSslBuilder.java#L132

While it seems sensible not to use the `InsecureTrustManagerFactory` by default (it even has a warning in its javadoc: "Never use this TrustManagerFactory in production. It is purely for te

[2021-11-22 11:58] oehme commented on #6536
Found and fixed that issue as well, same pull request.

[2021-11-22 12:43] natros commented on #6536
Seems to be working 😀

Once again, thank you.

[2021-11-22 15:12] jameskleeh commented on #6196
@dstepanov This should probably be left open to ensure it gets handled with KSP

[2021-11-22 15:15] #6526 closed, assigned to yawkat

[2021-11-22 15:15] #6546 closed, assigned to yawkat

[2021-11-23 18:28] #6536 closed, assigned to nobody

[2021-11-23 21:24] jchanaud commented on #6178
Thank you @jameskleeh, verified against 3.1.4 just now

[2021-11-24 07:14] musketyr opened #6564 "Simple subscribe method for Publisher inside Publishers utility class"
### Feature description

If one wants to write a reactive-platform independent code then there is. a `Publishers` utility class which helps to do some basic operations on the `Publisher` interface. It would be nice if it also contains a simple method to subscribe to a publisher to actually trigger the execution.

[code]

there might be either two variants of the method - `subscribeOne` and `susbcr

[2021-11-24 12:21] avirlrma commented on #6520
Hi @pgressa,
I would want to work on this.

I'll try to evaluate the two approaches mentioned by you and then come back by the end of the week on which one we should go ahead with.

[2021-11-24 12:35] avirlrma commented on #6520
HI @pgressa,

On second thought, if we were to run the management endpoint on a different(different from app) event loop, wouldn't that defeat the purpose of having a liveness probe at all? Since the different management endpoint will always state the app as healthy, while all it's request threads might be blocked from a long time and that app instance/pod cannot actually serve anymore requests.

[2021-11-24 12:47] avirlrma commented on #6493
Is this yet to be triaged?

[2021-11-24 12:49] avirlrma commented on #6102
@graemerocher I would like to work on this.

[2021-11-24 13:07] graemerocher commented on #6102
@avirlrma contributions welcome

[2021-11-24 14:11] lightbody commented on #6121
Seems we're having the same problem. Things worked great on Java 11 on the same infrastructure. In fact, we're running the largest Fargate instance (4 vCPUs) but we've found Java likes to report back 1 CPU often, so I suspect what we'll see is it sometimes works, sometimes doesn't.

[2021-11-24 16:18] lightbody commented on #6121
OK, I can confirm that adding `-XX:ActiveProcessorCount=2` (or more) fixes this. @jameskleeh believes the issue might be a core JDK bug and is rooted around the use of `ForkJoinPool.commonPool().execute()`.

[2021-11-24 16:56] jameskleeh commented on #6121
This is a bug in the JDK

https://bugs.openjdk.java.net/browse/JDK-8274349

It looks like they have only fixed it in 18 instead of putting it in 17 where the regression was introduced. I would suggest anyone facing this issue to let them know

I think the better fix is to set the system property `-Djava.util.concurrent.ForkJoinPool.common.parallelism=1` rather than changing the active processor co

[2021-11-24 17:03] jameskleeh commented on #6121
Apparently it was backported https://bugs.openjdk.java.net/browse/JDK-8274756. Need to wait for 17.0.2

[2021-11-24 18:37] jameskleeh commented on #6564
In general this sort of approach (reactive platform independent) is not feasible. There will come a need for some advanced functionality and we do not want to write a new reactive implementation. In core and in our modules we use reactor as a in implementation dependency and when writing Micronaut libraries you should too. The main reason it matters for libraries is context propagation. For exampl

[2021-11-24 18:48] musketyr commented on #6564
The problem is in the supporting multiple major versions of Micronaut. As a library developer that needs to support all major versions of Micronaut it does not make sense to use any specific reactive implementation as it changes between the versions. For example, I don't want to use Reactor for libraries which primarily aims to 1.x and I don't want to depend to RxJava which is deprecated in later

[2021-11-24 19:11] jameskleeh commented on #6530
@graemerocher Given we have to use static state what do you think about storing that data in thread locals?

[2021-11-24 19:18] jameskleeh commented on #6564
@musketyr Surely you must have separate branches in those libraries for the major versions?

[2021-11-24 19:58] danielgonzalez3 opened #6570 "SLF4J binding warnings raised during compilation"
### Expected Behavior

Importing [SLF4J](http://www.slf4j.org/) should raise no warnings at compile time. Seen from the Micronaut Launch project using Micronaut 3.1.4:

[code]

### Actual Behaviour

Importing SLF4J raises warnings during `:compileJava` and `:compileTestJava` regarding a failed class load. Seen from the Micronaut Launch project using Micronaut 3.2.0:

[code]

This warning occurs wh

[2021-11-24 20:11] musketyr commented on #6564
No, so far so good with compiling them with Micronaut 1.3.7. Only some libraries requires Gradle tweaks to thanks to changed coordinates 😞

[2021-11-24 20:13] musketyr commented on #6564
And some libs actually required some backports TBH.

[2021-11-24 20:18] devmage commented on #6570
@danielgonzalez3 and I are peers, thanks Daniel for raising this issue.

I went through [the diff from Micronaut 3.1.4 to 3.2.0](https://github.com/micronaut-projects/micronaut-core/compare/v3.1.4...v3.2.0) and didn't see anything immediate that would impact compilation of projects using Micronaut. My current belief then is that an updated dependency in 3.2.0 is causing these warnings to be raised

[2021-11-24 20:28] devmage commented on #6570
Speaking to impact of this bug, Daniel and I believe that this does not impact operation of compiled services using Micronaut 3.2.0. A private service we maintain, when updated to Micronaut 3.2.0, appears to generate application logs as expected at runtime. The warnings reported in this issue appear to be limited to compilation noise. Unfortunate, but not show-stopping, as far as we can tell.

We

[2021-11-24 20:46] jameskleeh commented on #6564
You're missing out on a lot of improvements on the compiler side. Thoughts @graemerocher ?

[2021-11-24 21:46] devmage commented on #6570
Perhaps also worth mentioning, this behavior is seen with both the Micronaut recommended SLF4J 1.7.29, and the latest SLF4J 1.7.32 point-release.

[2021-11-24 21:51] rbhambhra commented on #6537
@yawkat
Thanks for the quick turnaround
Tested and works as expected

[2021-11-25 05:13] musketyr commented on #6564
well, I guess I will need to spin off yet another minimal library as I guess that even this would get accepted I guess there won't be any backport to 1.x and a release 😄

[2021-11-25 10:07] graemerocher commented on #6570
There is a PR for this already https://github.com/micronaut-projects/micronaut-core/pull/6566 but we are discussion the best solution

[2021-11-25 10:10] graemerocher commented on #6570
A workaround is to add:

[code]

To the `build.gradle`

[2021-11-25 10:55] graemerocher commented on #6564
yeah there are many benefits to compiling with newer versions, might be better to maintain different branches if you need multi version

[2021-11-25 11:40] mitushy opened #6574 "Bean introspection does not have annotation metadata for inherited props (when extending a class from another module)"
### Expected Behavior

Creating an `@Introspected` class by extending another module's `@Introspected` class should have annotation metadata for all properties (own + inherited).

### Actual Behaviour

Only local properties get returned when calling `introspection.getIndexedProperty(AnnotationType)`

This seems like a **regression in 3.2.0**. It was working fine in 3.1.3.

We found this when tryin

[2021-11-25 11:55] musketyr commented on #6564
well, with 90% of the codebase still on 1.x, my primary target is Micronaut 1.x 😄 We're in a dependency loop right now. we're trying to get rid of all Grails apps to free our hands with Micronaut upgrades as soon as possible but "as soon as" is already taking too long. Meanwhile Grails 5 has been released but the already migrated Micronaut code is not 3.x ready (e.g. changes in the event loop made

[2021-11-25 15:49] graemerocher commented on #6574
can you clarify which language you are using? Examples look like Groovy

[2021-11-25 18:45] mitushy commented on #6574
Yes, sorry. The language is groovy. It may be groovy-specific, I haven't tried java.

[2021-11-26 12:11] simondean opened #6575 "Computed properties not working with Kotlin data class based @QueryValue"
## Expected Behavior

When creating a computed property on a Kotlin data class where the computed property uses a constructor property annotated with @QueryValue, the computed property should be computed correctly

## Actual Behaviour

The computed property sees an uninitialised value for the constructor property it depends on.

## Steps To Reproduce

1. Create a Kotlin based Micronaut application

[2021-11-27 15:01] twobeeb opened #6577 "Regression when upgrading to 3.1.4 : can't build picocli native image on windows"
### Expected Behavior

I'm using native image to compile a Micronaut Picocli CLI for windows and linux

Following Upgrade to micronaut 3.1.4, and update from graalvm 21.1.0 to 21.3.0

Linux build is **successful**
Windows build is **failed**

### Actual Behaviour

This github actions shows the failure with micronaut 3.1.4 and graalvm 21.3.0
https://github.com/michelin/ns4kafka/actions/runs/1509108

[2021-11-27 15:01] jchanaud opened #6595 "Regression when upgrading to 3.1.4 : can't build picocli native image on windows"
### Expected Behavior

I'm using native image to compile a Micronaut Picocli CLI for windows and linux

Following Upgrade :
- micronaut 2.5.x to 3.1.4
- stayed in micronaut plugin 2.x : https://github.com/micronaut-projects/micronaut-gradle-plugin/issues/303
- Graalvm 21.1.0 to 21.3.0

Linux build is **successful**
Windows build is **failed**

### Actual Behaviour

This github actions shows the fa

[2021-11-28 06:29] tobiasschaefer opened #6579 "GraalVM error with Micronaut 3: Multiple possible bean candidates found: io.micronaut.aop.InterceptorRegistry"
### Expected Behavior

Building and executing the native image of the provided and minimal application should succeed. Actually, it was successful on Micronaut 2.5.x but fails since Micronaut 3.0.0

The bug is triggered by injecting a configuration interface:
[code]

into a class which is annotated with `@Context`:

[code]
and building and executing the native image based on a generated native ima

[2021-11-28 13:23] jchanaud commented on #6595
I came to understand that the error in 21.1.0 is unrelated micronaut-projects/micronaut-core#5655

So I focused to graalvm 21.3.0.
I created a new project from micronaut launch in order to use the latest version of Micronaut (3.2.0) and micronaut plugin (3.0.0).
https://github.com/twobeeb/demo/actions
Each new commit tries to reduce the complexity of the project but no luck so far...

Thanks for y

[2021-11-28 14:22] avirlrma commented on #6102
Hi @graemerocher @gnefedevMilaboratory,

Wanted to confirm on the requirement here:  Is to create a `NettyThreadFactory` with given value of daemon parameter? (Instead of current behaviour where it is created with daemon = false.)

[2021-11-29 07:54] segocago opened #6580 "Method not allowed is returned for static resources if there is another endpoint with different http method"
### Expected Behavior

Get requests to static resources should not be returning method not allowed if there is another http method that maps to request. Router should check if there are static resources before returning error response.

### Actual Behaviour

A method not allowed response with available methods is returned instead of the static resource.

### Steps To Reproduce

1. Using micronaut

[2021-11-29 08:06] segocago commented on #6580
This PR fixes this issue. https://github.com/micronaut-projects/micronaut-core/pull/6581

[2021-11-29 09:18] koxrel opened #6582 "WebSocket requests fail with Kotlin coroutines upon first suspension point with a suspending @OnMessage method"
### Expected Behavior

I expect the following to work:
[code]
as it was prior to version 3.x.
I have code with messageHandler using suspending functions and itself denoted as such, working on Micronaut 2.5.5 without any issue.

### Actual Behaviour

Upon reaching `delay` function (or any suspending function for that matter) I get a NPE:
[code]
The problem appears to be in `DelegatingCoroutineConte

[2021-11-29 13:09] jchanaud commented on #6595
Ok so I found 2 issues that makes windows build fail:
- snakeyaml when used to create yaml strings from POJO https://github.com/twobeeb/demo/commit/3b96986a79a96eaf0ccb1c2002021368b244bbe2
- micronaut plugin version 2.0.8 coupled with micronaut 3.x.x https://github.com/twobeeb/demo/commit/fec0a5dfe1fd51b45cbdb21a75dcd9d62fe01013

Check the associated github actions to understand how I came to that

[2021-11-29 14:33] graemerocher commented on #6595
@twobeeb so you are saying it works on Linux but fails only on Windows?

[2021-11-29 14:54] #6564 closed, assigned to nobody

[2021-11-29 15:20] graemerocher commented on #6579
Running the agent means you get duplicate classes registered with GraalVM since they are registered already via service loader and then again via the native image metadata.

You can resolve this by adding:

[code]

Or deleting all of the entries ending with `$Definition$Reference` from the generated config

[2021-11-29 15:41] #6530 closed, assigned to nobody

[2021-11-29 16:07] jchanaud commented on #6595
@graemerocher precisely.
Each commit on this project https://github.com/twobeeb/demo/ triggers the linux and windows workflows.
As you can see, I managed to isolate 2 distinct elements that produce the same error :
- snakeyaml when used to create yaml strings from POJO twobeeb/demo@3b96986
- micronaut plugin version 2.0.8 coupled with micronaut 3.x.x twobeeb/demo@fec0a5d

In every failed workflow,

[2021-11-29 18:00] devmage commented on #6570
Thanks @graemerocher . We can take any further conversation to the PR for now.

[2021-11-29 19:00] #6570 closed, assigned to nobody

[2021-11-30 09:03] gnefedev commented on #6102
It's right to set the default value false for httpClient. But as I see, it's also used in server config and it's not right for it. I may be wrong, of course.

[2021-11-30 09:07] yawkat commented on #6102
@gnefedev I think the confusion here is about the value of `daemon`: Setting it to `true` allows shutting down the VM without shutting down those threads, setting it to `false` keeps the JVM alive. Looking at the code, the default seems to be `false`. Does this match your observation? And then I assume you want a config option to set it to `true`?

[2021-11-30 09:39] melix commented on #3941
Caching issues have been fixed and the build cache is now enabled on the `3.2.x` branch. Let us know if you are seeing anything suspicious.

[2021-11-30 09:39] #3941 closed

[2021-11-30 13:49] gnefedev commented on #6102
I'm sorry, I confused value in my comment.
Yes, with `true` VM is able to shut down and can't without.
Yes, I want to set config option to `true`. If it will not break server mode, that's a good solution.

[2021-11-30 16:06] jameskleeh commented on #6574
This is partially our issue but after fixing our end it is broken because of a Groovy bug

https://issues.apache.org/jira/browse/GROOVY-10398

[2021-11-30 16:53] #6580 closed, assigned to nobody

[2021-11-30 16:55] #6582 closed, assigned to yawkat

[2021-11-30 20:40] ioanadinuit commented on #5201
Hi, did anyone take this issue? I would like to contribute.

[2021-11-30 20:41] graemerocher commented on #5201
contributions welcome

[2021-11-30 21:07] jameskleeh commented on #6538
Really great report. Thanks for looking into it and recommending a fix!

[2021-11-30 21:12] jameskleeh commented on #6493
@infinityat0 What if they were closed in the order they were declared in the constructor? Note that this would be difficult or impossible to guarantee if other beans depended on yours and also the beans in your constructor and they were defined in a different order in the dependent bean

[2021-11-30 21:26] dansiviter commented on #6524
@jameskleeh You've closed this without explanation. Corporate users, unfortunately, regularly need to use proxies and this is a barrier to that.

[2021-11-30 21:48] infinityat0 commented on #6493
@jameskleeh That may not be ideal because
- Generally, things related closely are declared together in a constructor. That may not be the order in which they need to be closed
- This is implicit ordering and not explicit. It's much better to be explicit about what order the user's want.
- This may work with a single class but not with multiple unrelated classes that have members that need to be or

[2021-12-01 08:39] pbthorste opened #6590 "Create an inherited @Nullable annotation"
### Issue description

This is related to Micronaut 3.2.0
Hi, I have been trying to follow the guidelines in the documentation here: https://docs.micronaut.io/latest/guide/#annotationMetadata
My aim is to create a version of `io.micronaut.core.annotation.Nullable` that is inherited. I need to recreate the behaviour in Micronaut 2 where these annotations were inherited from the interface.

As an ex

[2021-12-01 09:57] pbthorste commented on #6590
and maybe one question also - why doesn't ´io.micronaut.core.annotation.Nullable´ have the ´@Inherited´ annotation ? It seems only natural that this behavior would be inherited, but with the possibility of overriding it with `@NonNull`

[2021-12-01 10:08] graemerocher commented on #6590
Semantically the original `javax.annotation.Nullable` annotations are not inherited either and overridding is tricky since if you add `@NonNull` it means you would have both `@Nullable` and `@NonNull` declared, although I guess tools would have to look at the enum value of `@When` to deduce the correct behaviour

[2021-12-01 14:24] jameskleeh commented on #6524
@dansiviter Graeme gave you an explanation in his comment above

[2021-12-01 14:41] dansiviter commented on #6524
@jameskleeh That was a workaround at best. If you don't wish to support this and rely on `ProxySelector#setDefault` then I suggest removing `micronaut.client.proxy-selector` to reduce ambiguity.

[2021-12-01 15:16] pbthorste commented on #6590
I guess the inherent issue here is that while the  `@Header` annotation is inherited, the `@Nullable` is not, and the two are linked together - creating a sort of strange situation.
In terms of SOLID design principles it could be argued that this breaks the 'Liskov substitution principle' - since the parent and subclass will behave differently when the interface has the `@Nullable` annotation.
Spr

[2021-12-01 15:34] jameskleeh commented on #6524
@dansiviter It isn't a workaround. This isn't a simple change because some folks may expect the provided class to be a bean so we would have to attempt a bean lookup as well as simple instantiation. I'll re-open this issue with the focus of providing classes or beans to properties

[2021-12-01 15:37] jameskleeh commented on #6590
@pbthorste There are dozens of annotations that interact with `@Nullable`. Adding a `required` member to each of them doesn't seem like a great solution to me. Not to mention `@Nullable` is respected in cases where there are no other annotations

[2021-12-01 15:58] ioanadinuit commented on #5201
Ok, thanks! I forked, and I will see what I can do.

[2021-12-01 16:40] jameskleeh commented on #6121
Going to close this since there isn't anything we can do

[2021-12-01 16:40] #6121 closed, assigned to nobody

[2021-12-01 16:41] #6099 closed, assigned to nobody

[2021-12-01 16:42] #5711 closed, assigned to yawkat

[2021-12-01 16:54] sponce2021 opened #6593 "API REST developed in micronaut 3.2.0 is not register in Eureka Spring Server"
### Expected Behavior

Register web service in Eureka Server

### Actual Behaviour

When i run the test or compile the artefacts i received the next error:

[ERROR] com.turingears.iam.controllers.VirtualizationControllerTest  Time elapsed: 10.562 s  <<< ERROR!
io.micronaut.context.exceptions.BeanInstantiationException:
Error instantiating bean of type  [io.micronaut.discovery.eureka.registration.E

[2021-12-01 17:02] tobiasschaefer commented on #6579
Thanks @graemerocher

That actually fixed my issue.

I'll let it up you to decide if this is only a documentation issue or something should actually be fixed because it worked with Micronaut 2.5.x out-of-the-box.

[2021-12-01 17:22] graemerocher commented on #6579
It actually didn't work in 2.5.x you actually ended up with duplicate beans everywhere but there just happened to not manifest as a non unique bean exception by chance

[2021-12-01 17:23] graemerocher commented on #6593
Are you using native / graalvm?

[2021-12-01 17:29] sponce2021 commented on #6593
Hi, I am using native.

Sergio.-

On 01-12-2021, at 14:23, Graeme Rocher ***@***.***> wrote:

﻿
Are you using native / graalvm?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-12-01 19:13] graemerocher commented on #6593
This looks the same as https://github.com/micronaut-projects/micronaut-core/issues/6579 which is not really a bug but a config error

[2021-12-01 21:00] sponce2021 commented on #6593
the problem was that it had libraries that it had developed earlier and they were duplicated in the construction of the main api. I removed the duplicate libraries micronaut-runtime and micronaut-java-inject working correctly

[2021-12-01 21:41] Abraxis opened #6594 "Upgrade 3.1.4 -> 3.2.0 results in "cannot access FieldSerializer" error"
### Expected Behavior

Able to compile

### Actual Behaviour

Unable to compile, reports:
....
Note: Writing OpenAPI View to destination: /Users/abraxis/src/cohora/cohora/build/classes/java/main/META-INF/swagger/views/swagger-ui/index.html
Note: Creating bean classes for 378 type elements
error: cannot access FieldSerializer
  class file for com.esotericsoftware.kryo.serializers.FieldSerializer no

[2021-12-01 21:48] Abraxis commented on #6594
@dstepanov  maybe some idea? ;)

[2021-12-01 22:09] jchanaud commented on #6595
I updated to micronaut plugin 3.0.1 this afternoon, and I was happy to see that the build is now successful.

Unfortunately, now every injected Singleton is returning NullPointerException in native-image builds on windows

Windows :
[code]

Linux build:
[code]

[2021-12-01 22:34] jchanaud commented on #6595
This NullPointerException behavior is reproduced on the simplest possible CLI project : https://github.com/twobeeb/demo-http-cli
[code]

[2021-12-02 00:53] igr commented on #5218
Same here, with micronaut 3.2.0 and multi project gradle. Any help?

[2021-12-02 08:15] #4116 closed, assigned to yawkat

[2021-12-02 09:16] graemerocher commented on #6595
@twobeeb going to investigate

[2021-12-02 09:17] melix commented on #6595
Can you compare the contents of the `build/native/generated/generateResourcesConfigFile/resource-config.json` file on Linux and Windows?

[2021-12-02 09:41] graemerocher commented on #6595
@twobeeb can you confirm whether the NPE only happens on Windows?

[2021-12-02 09:43] #6538 closed, assigned to jameskleeh

[2021-12-02 11:09] jchanaud commented on #6595
@graemerocher
Confirmed. The issue is only on windows build (this error is network error, This VM doesn't have internet access, bit it clearly "worked")
[code]
@melix
my demo project contains the github action with the artifacts containing what you need :
https://github.com/twobeeb/demo-http-cli/actions/runs/1528085284

Windows and Linux both have the following resource-config.json
[code]

[2021-12-02 15:18] graemerocher opened #6599 "`micronaut-http-validation` pulls netty and a lot of the runtime on the annotation processor classpath"
### Expected Behavior

Runtime components with large dependencies graphs shouldn't be on the annotation processor classpath. Since 3.2.0 the `micronaut-http-validation` includes all of Netty and the runtime components

### Actual Behaviour

Netty and the entire server is on the annotation processor classpath

### Steps To Reproduce

Create any new app with Micronaut 3.2.0 or see https://search.mav

[2021-12-02 15:53] #6599 closed, assigned to nobody

[2021-12-02 16:54] Jim-Harrington opened #6601 "Unexplained io.micronaut.context.exceptions.NonUniqueBeanException in library project component test cases"
### Expected Behavior

Not sure this is a bug, but I have not been able to explain it.  Mainly, I'm hoping for an explanation that I can use to correct the issue.

**In my library project I have a single service:**

`
@Singleton
@Requires(property = "gts.oci.enabled", value = "true", defaultValue = "true")
public class OciAccessClientMicronaut {
`
**an annotation that adds the service into consumi

[2021-12-03 08:41] pbthorste commented on #6590
@jameskleeh Interesting that `@Nullable` is respected in that case, wish that was also the case where there are other annotations.

With regards to the `required` member - it might not be ideal, but today's situation is far from perfect.
Don't you agree that being able to inherit for example  `@Header` (which means the implementing class gets a required header field) and not `@Nullable` - which is

[2021-12-03 17:47] #4336 closed, assigned to yawkat

[2021-12-03 20:46] jameskleeh commented on #6601
`@Import` is for importing beans from other jars. It should not be used for your own classes. Thus having `@Singleton` on `OciAccessClientMicronaut` and importing it would cause duplicate bean definitions

[2021-12-03 22:51] Jim-Harrington commented on #6601
Thanks for the feedback.

The thing is that the project I'm working in is a library intended to deliver the @Singleton class, so I need an instance of it in the respective test classes.  If I don't @Import it, I get a dependency injection error stating that there are no beans of that type to inject.  I suspect the reason is that the @Singleton class is in the project "main" source, which is simila

[2021-12-03 22:55] graemerocher commented on #6601
We will need an example attached

[2021-12-04 04:11] CoderYellow opened #6606 "@Bean annotation should add `postConstruct` member"
### Feature description

Just like the spring Bean annotation [initMethod member](https://github.com/spring-projects/spring-framework/blob/7f43128a0e781f83ad0bc8e9a035fcf5eb17d95b/spring-context/src/main/java/org/springframework/context/annotation/Bean.java#L257) . Since this annotation supports `preDestroy`, why not support `postConstruct`. `@PostConstruct` can not apply to third party library, `

[2021-12-05 19:30] ivangfr commented on #5206
Hi @graemerocher with **micronaut** `3.2.0`, the issue described seems to be fixed.

[2021-12-05 19:30] #5206 closed, assigned to nobody

[2021-12-06 10:37] #5332 closed, assigned to yawkat

[2021-12-06 13:37] #5046 closed, assigned to yawkat

[2021-12-06 14:03] yawkat commented on #3538
I would definitely count this as a bug, "arbitrary" deserialization to Object should use BigDecimal where necessary, and should never overflow.

However I can't reproduce this with 3.2.0, and knowing the deserialization code I think it should work, so I assume this was fixed since this was reported. Please reopen if that is not the case.

[2021-12-06 14:03] #3538 closed

[2021-12-06 14:15] yawkat commented on #4390
The swapping seems plausible if there is some confusion about the HTTP/2 STREAM_ID in the request processing. However I can't reproduce this with 3.2, so I assume this was fixed at some point – there have been many improvements to this code. I will close this, please reopen if this is still an issue.

[2021-12-06 14:15] #4390 closed, assigned to yawkat

[2021-12-06 14:16] #6593 closed, assigned to nobody

[2021-12-06 15:03] sponce2021 opened #6609 "Service Discovery Jackson Parsing Error"
### Expected Behavior

Get data from services discovery and call api rest with Declarative client

### Actual Behaviour

When i use the declarative client with eureka or consul i get the next error:

io.micronaut.http.client.exceptions.HttpClientResponseException: Unable to complete get request: user not allowed Error decoding HTTP response body: 'com.fasterxml.jackson.core.JsonLocation com.faster

[2021-12-06 15:56] Jim-Harrington commented on #6601
OK, here are links to the example service and it's test case:

https://github.com/Jim-Harrington/micronaut-import-question/blob/main/src/main/java/com/example/test/TestService.java
https://github.com/Jim-Harrington/micronaut-import-question/blob/main/src/test/java/com/example/test/TestServiceTest.java

The key seems to be the properties that the service depends on.  If I don't annotate the test ca

[2021-12-06 16:18] RyanHoldren commented on #4390
I haven't seen this issue in sometime. You are probably right that it was fixed at some point. Thanks for investigating, @yawkat :)

[2021-12-06 17:27] #6574 closed, assigned to jameskleeh

[2021-12-08 13:04] ggerbaud opened #6617 "Add a way to configure Netty Boostrap resolver in DefaultHttpClient"
### Feature description

I have trouble to use DefaultHttpClient (through declarative HTTP Clients) with an enterprise proxy. Netty doesn't seem to use the proxy to resolve external address, so it doesn't work for me.
It seems [there is an open issue in Netty](https://github.com/netty/netty/issues/7487) and a known workaround :
[code]
In deed when I define my own HttpClient with this workaround li

[2021-12-08 15:02] yawkat opened #6619 "Netty fails with OutOfMemoryError when allocating direct memory on native-image"
### Issue description

In 3.2, a basic netty application will fail with an OutOfMemoryError when trying to allocate direct memory, when running on native-image.

Example project: https://github.com/krisfoster/mn-stress

Stack trace:

[code]

[2021-12-08 15:23] jchanaud commented on #6595
Hi @graemerocher @melix
Just FYI, I reverted my project to micronaut 2.5.x. I discovered then that I can't build on windows with graalvm later than 20.3.x
https://github.com/michelin/ns4kafka/blob/master/.github/workflows/on_push_master.yml
linux build is fine on graalvm 21.1.0
I don't know if this information could be any help...

[2021-12-09 09:18] jaecktec commented on #6617
Thanks for the workaround. I used my previous [workaround](https://github.com/micronaut-projects/micronaut-core/issues/4829) to make it work together with declarative clients.

[2021-12-09 15:05] marcelel opened #6621 "Ignore HTTP Accept header in GET methods"
### Issue description
Hello. I would like to send a response with `application/json` regardless of request’s `Accept`  header. It was working out of the box on the previous versions of Micronaut, but is not after upgrading to the latest version. The only way I was able to do it was to implement `HttpFilter` which adds a `Content-Type` header to each response.
[code]

### Expected behaviour
Send a

[2021-12-09 18:24] JasonTypesCodes opened #6623 "Memory Consumption Increase For Each Request"
### Expected Behavior

Memory footprint should not drastically increase with each request

### Actual Behaviour

As reported by @mraible on Twitter:

https://twitter.com/mraible/status/1468994218190413828

### Steps To Reproduce

Matt described his process in this blog post: https://developer.okta.com/blog/2021/06/18/native-java-framework-comparison

### Environment Information

_No response_

###

[2021-12-09 18:25] JasonTypesCodes commented on #6623
Suspect this is related to: https://github.com/micronaut-projects/micronaut-core/issues/6619

[2021-12-10 02:46] shingjo opened #6625 "Jackson's @JsonGetter and/or @JsonSetter aren't honored when the property has the same name on entities (@Entity) and projections (@Introspected)"
### Expected Behavior

Methods annotated with @JsonGetter/Setter should be called over the property's method.

Example:
[code]

### Actual Behaviour

Property methods are being getting called.

### Steps To Reproduce

1. Clone Repo: git clone https://github.com/shingjo/introspected-jackson-mn-issue.git
2. Run Tests: gradle test
- All test should pass

### Environment Information

- JDK: 8+

### Ex

[2021-12-10 06:29] #6619 closed, assigned to yawkat

[2021-12-10 08:35] Nokorbis commented on #6595
Hello,
I'm having the same issue (NullPointerException on a injected singleton) with a project generated this week using the launcher

- Micronaut 3.2.1
- Command Line Application
- Gradle
- GraalVM Feature
- Windows 10
- Visual Studio Build Tools 2022

[2021-12-10 09:20] ilopmar commented on #6623
I'm able to reproduce this with our [basic-app](https://github.com/micronaut-graal-tests/micronaut-basic-app/tree/3.2.x) that only uses Netty and returns a POJO converted to json.

To get the memory consumption from Linux I run (which is not the same command that Matt runs on Mac):

[code]

After creating the native image from that repository I execute `curl -s localhost:8080/hello/Micronaut` mult

[2021-12-10 12:15] yawkat commented on #6623
(paraphrasing from slack)

I think the premise here is wrong. Constantly increasing RSS is expected before the maximum heap size is reached, because the JVM will just do bump pointer allocation without GC. Since the Xmx is unset, the max heap size is by default fairly high, so this is expected behavior. It doesn't imply a memory leak, it could simply be caused by many short-lived objects.

I've do

[2021-12-10 12:43] morki commented on #4418
Fixed in #6546

[2021-12-10 12:43] #4418 closed, assigned to yawkat

[2021-12-10 12:45] yawkat commented on #4418
Thanks for testing it again.

[2021-12-10 13:09] morki commented on #3579
It seems to be fixed by #5233

[2021-12-10 13:09] #3579 closed

[2021-12-10 13:10] #3001 closed

[2021-12-10 14:47] yawkat commented on #6623
Okay I've taken a look at the RSS for basic-app. I wanted to validate whether the excess memory use we're seeing is actually caused by the heap. For this, I ran the basic-app and performed two requests to the REST endpoint. In between, I did `pmap -x` to see in which regions additional resident memory was used. At the end, I did a core dump and looked at those regions in ghidra.

pmaps:

<details>

[2021-12-12 10:19] bene1618 opened #6633 "Flow collection does not work with CoroutineTracingDispatcher"
### Expected Behavior

It should be possible to create and collect a flow inside a Micronaut controller

### Actual Behaviour

When a flow is created and collected inside a controller with the micronaut-tracing library included, the following exception is thrown:

[code]

The reason seems to be that in the Flow emission, the `CoroutineTracingDispatcher` context element is not present yet, while it

[2021-12-12 22:06] miguelaferreira commented on #6406
Thanks for the reply @graemerocher. I've tried to followup on this but without much success.
Disabling the service loader (as mentioned in #6579) doesn't help me because the application does rely on the service loader. Next, I tried removing *all of the entries ending with `$Definition$Reference` from the generated config* but that results in the same "Multiple possible bean candidates found" erro

[2021-12-13 08:57] yawkat commented on #6609
Hi, do you have a full stack trace and, even better, a test case that reproduces this issue?

[2021-12-13 09:24] pierre-yves-legendre-cbp opened #6636 "Error "Request is immutable" when i try to use the ProxyHttpClient example from the documentation §7.2"
### Expected Behavior

No error and we can mutate the HttpRequest

### Actual Behaviour

When I try to use the ProxyHttpClient example from the §7.2 of your documentation (version 3.2)

i have this error ### UnsupportedOperationException("Request is immutable")

The error come, because, in the filter, the request parameter is a **DefaultHttpRequest** and it's not overload the **mutate** method.

#

[2021-12-13 10:32] yawkat commented on #6621
The content negotiation support can be improved. I will work on that.

However, I think this particular case is fine. If the client sends an accept header that is incompatible with any route, then [the spec](https://httpwg.org/specs/rfc7231.html#header.accept) says:

We do the former as far as I can tell, which sounds sensible.

If you want to match any request, you could also set `produces = "*/*

[2021-12-13 10:33] yawkat opened #6637 "Improve content negotiation support for `Accept`"
### Feature description

Right now, `Accept` header matching can only handle some very basic matching rules (i.e. `*/*`, but not `text/*`). We should support more of the spec.

[2021-12-13 11:51] yawkat commented on #6621
Apparently it's also possible to do something like `@Get(produces = {'application/json', '*/*'})`

[2021-12-13 12:03] jacekgajek opened #6639 ""No serializer found for class io.netty.handler.codec.http.HttpResponseStatus" when returning HttpClientResponseException in response"
### Expected Behavior

HttpClientResponseException serialized to JSON in response

### Actual Behaviour

Response:
[code]
 "Internal Server Error: Error encoding object [io.micronaut.http.client.exceptions.HttpClientResponseException: asd] to JSON: No serializer found for class io.netty.handler.codec.http.cookie.ServerCookieEncoder and no properties discovered to create BeanSerializer (to avoid ex

[2021-12-13 12:12] yawkat commented on #6639
You're supposed to throw the exception, not return it directly

[2021-12-13 12:14] jacekgajek commented on #6639
Yes I know that. I have a global exception handler which returns a thrown exception, this is just a simplified example. It works great for most of exception and provides very useful info about internal error (the REST service is for internal use and it's OK to expose these details)

[2021-12-13 12:20] yawkat commented on #6639
So you actually want the full Throwable serialized, including stack trace and such?

The exceptions from the micronaut framework do not generally support serialization. If they do, it's by accident. In my opinion we shouldn't either, since serializing throwables is generally a dangerous practice that could lead to information leaks (though it might not in your case).

Consider using [micronaut-pro

[2021-12-13 12:47] graemerocher commented on #6639
Indeed serializing exceptions directly can result in leaking information which could lead to security vulnerabilities so this is not a good idea.

[2021-12-13 12:47] #6639 closed, assigned to yawkat

[2021-12-13 13:08] graemerocher commented on #6636
This is probably because you are using a servlet server right?

[2021-12-13 13:09] shashanka981 opened #6640 "Unable to build graalvm native image for a micronaut app"
### Issue description

Micronaut version is 2.3.2 and app is built on java

Getting following error when app is being compiled into graalvm native executable

**Warning**: class initialization of class io.micronaut.tracing.brave.instrument.http.BraveTracingServerFilter failed with exception java.lang.NoClassDefFoundError: brave/http/HttpServerRequest. This class will be initialized at run time bec

[2021-12-13 13:23] ilopmar commented on #6640
Those are warnings and not errors. There is nothing in those logs that stop you from building a native image.

It seems that you are using Zipkin, right? We support Zipkin and GraalVM for a long time. If it's not working for you, please try with a new version of Micronaut and GraalVM.

[2021-12-13 14:27] #6640 closed, assigned to nobody

[2021-12-13 14:41] jacekgajek commented on #6639
Thanks for a fast response and explanation. Have a nice day :)

[2021-12-13 15:46] graemerocher commented on #6406
@miguelaferreira do you have an example somewhere?

[2021-12-13 15:46] graemerocher commented on #6406
oh hold on attached to the original issue

[2021-12-13 15:47] graemerocher commented on #6406
I guess my question is why you need native image config at all in this app?

[2021-12-13 15:58] miguelaferreira commented on #6406
Because without it the native binary wouldn't work. It would compile but then at runtime complain about missing classes.

I've setup [system tests](https://github.com/miguelaferreira/devex-cli/blob/upgrade-to-micronaut-3/.github/scripts/create-native-image-build-config.sh) that execute the standalone jar (instrumented with the native image agent), while calling all the application commands. That g

[2021-12-13 16:01] graemerocher commented on #6406
@miguelaferreira please try that and let us know what is wrong with the defaults

[2021-12-13 16:29] balintsteinbach opened #6643 "Exclude endpoints from http access log"
### Feature description

Access log can be very useful to monitor REST calls. Unfortunately, it can be very verbose if it also logs "probe like" REST calls.
It would be very useful if some endpoints, like health check could, be excluded. If you use such an endpoint for example as a Kubernetes readiness probe it will flood the log.

I would suggest an extra parameter in micronaut.server.netty.acces

[2021-12-13 16:35] balintsteinbach commented on #6643
If you think this make sense I would happily contribute it.

[2021-12-13 17:01] graemerocher commented on #6643
PRs welcome

[2021-12-14 10:05] pierre-yves-legendre-cbp commented on #6636
Thanks for your response!

Artch! It's because I change the micronaut.runtime (in build.gradle) from netty to tomcat ! That my error!!!

It's ok now!

Maybe, should be a good idea to add this in your doc, what do you think?

Thanks again.

[2021-12-14 10:15] yawkat opened #6650 "Generalize `HttpNettyFeature` for other uses of netty"
### Issue description

Other micronaut projects that use netty but do not depend on micronaut-http-netty need the same graal configuration that `HttpNettyFeature` provides. The issue where this came up is https://github.com/micronaut-projects/micronaut-grpc/pull/435 . I can think of a few ways to solve this:

- Create a new micronaut-netty module that contains a new `NettyFeature` with the relevan

[2021-12-14 12:00] ilopmar commented on #6650
Option `2` sounds good to me :)

[2021-12-14 13:13] graemerocher commented on #6650
Can we not put this config into https://github.com/micronaut-projects/micronaut-core/tree/3.2.x/buffer-netty which seems like a general netty module already

[2021-12-14 13:26] yawkat commented on #6650
Sure, but grpc doesn't depend on that. So we'd have to change the modules that use netty too.

[2021-12-14 14:38] graemerocher opened #6655 "Disable JNDI globally for Micronaut applications by default"
### Feature description

JNDI is not used anywhere in the framework so we should make it opt-in

[2021-12-14 17:39] #6625 closed, assigned to yawkat

[2021-12-15 08:22] awesomekosm opened #6659 "Unable to find valid certification path"
### Expected Behavior

I expect to successfully authenticate with a cert to a remote server using version 3.2.2
This was working in version 3.1.3

### Actual Behaviour

I get an exception
[code]

### Steps To Reproduce

1. In version 3.2.2
2. With config
[code]
and
[code]
 I see exception above.

### Environment Information

Ubuntu 20.04
JDK 17

### Example Application

_No response_

### Version

[2021-12-15 10:40] marcelel commented on #6621
Thank you for the response. I don't consider it as a bug as well. I compared it with a Spring Boot application and it behaves in the same way. On the other hand, [other spec](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/406) also says:

IMHO it can be a nice feature to be able to have the default response in the most common format (such as `application/json`) instead of returning 406.

[2021-12-15 14:35] ivyazmitinov opened #6663 "The Environment Endpoint security issue"
### Issue description

Current design of the [environment endpoint](https://docs.micronaut.io/latest/guide/#environmentEndpoint) poses a threat for a critical security issue, since it provides all the configuration values.
The problem consist of two parts:

1. The endpoint claims to mask sensitive config values, but it doesn't provide a clear definition what it considers "sensitive". The only way

[2021-12-15 14:46] davidhiendl opened #6664 "@RequestScope from @Factory are not actually request-scoped"
### Expected Behavior

A `@RequestScope` bean created from a `@Factory` (see example below) is not actually request scoped and ignores the factory.
Every time the object is injected a new instance is created (tested with endpoints and request filters).

It does however work correctly when the `@RequestScope` annotation is moved to the `SomeObject` class and the factory is disabled.

### Actual Beh

[2021-12-15 15:00] graemerocher commented on #6663
I assume you mean you are setting `endpoints.all.sensitive` to `false`?

[2021-12-15 15:05] ivyazmitinov commented on #6663
@graemerocher No, all endpoints except `/metrics` remain `sensitive:true`. That's way it is necessary for a user to log in. But after the login any user can execute `curl -X GET --location "http://<service_url>/env" -H "Authorization: Bearer <auth_from_login>"` and get the application's configuration from all sources

[2021-12-15 18:50] ivyazmitinov commented on #6663
@graemerocher updated the issue with the reproducible example

[2021-12-15 18:56] alanwhite opened #6665 "Native image builds do not respect Jackson directive in application.yml"
### Expected Behavior

In a java app, with a src/main/resources/application,yml of
`micronaut:
  application:
    name: mntest2
jackson:
   property-naming-strategy: SNAKE_CASE`
the expectation is that the properties of any POJO are transposed to snake case.
`➜  mntest1 curl http://localhost:8080/v1/things/fred
{"thing_id":"fred","property_one":"hatstand"}%  `

### Actual Behaviour

When the app i

[2021-12-16 09:01] awesomekosm commented on #6659
I was missing added in 3.2.x since it's now doing the cert check and I have self signed.
[code]

[2021-12-16 09:01] #6659 closed, assigned to nobody

[2021-12-16 10:00] jacekgajek opened #6666 "Basic Redis caching fails on serialization error"
### Expected Behavior

Redis caching working without errors, with or without setting a key-serializer

### Actual Behaviour

FooController:
[code]
BarController:
[code]

### Steps To Reproduce

1. Pull the sample github project. There are two caches, one using JacksonObjectSerializer
2. In the `src/test/resources/redis.http` there are sample requests.
3. Run a request to `/foo` or `/bar`

### Envi

[2021-12-16 11:41] jacekgajek commented on #6666
Workaround : https://github.com/micronaut-projects/micronaut-cache/issues/183

[2021-12-16 15:53] javiertoja opened #6667 "Kubernetes environmental variable not being processed"
### Expected Behavior

When I defined a configuration property with the name my.system.service.port, and an environmental variable with the name MY_SYSTEM_SERVICE_PORT. In both my local environment and inside a kubernetes cluster the configuration property is overwritten at runtime with the value of the environmental variable.

### Actual Behaviour

Because the sufix SERVICE_PORT, micronaut decide

[2021-12-16 15:57] graemerocher commented on #6667
This is by design, since k8s clusters can add thousands of environment variables. If you need k8s service discovery use the Kubernetes module https://github.com/micronaut-projects/micronaut-kubernetes/

[2021-12-16 16:32] javiertoja commented on #6667
I don't agree with this design, but I accept it.

I think that at least the official documentation should reflect this because i was not able to find anything related inside the official documentation and lost a lot of time debugging internally the core of micronaut to find the cause.

[2021-12-16 17:01] graemerocher commented on #6667
sounds like a good idea, could be a good improvement for https://docs.micronaut.io/latest/guide/#propertySource

PRs welcome of  course.

[2021-12-19 18:28] PyvesB commented on #714
Hello 👋🏻  I'm getting the same error as @ballcoach12, I've opened a new detailed report here: https://github.com/micronaut-projects/micronaut-test/issues/498

[2021-12-19 23:39] ianroberts opened #6672 "@JsonSubTypes discriminator property not correctly serialized in native image"
### Expected Behavior

Given a polymorphic class hierarchy that uses `@JsonSubTypes` to declare a property discriminator

[code]

the `Car` subclass should serialize as `{"type":"car", ...}` and the `Van` subclass as `{"type":"van", ...}` in all cases.

### Actual Behaviour

Behaviour is correct when running in a normal JVM (including GraalVM's `java`), but in a _native image_ the discriminator `"

[2021-12-20 11:01] ianroberts commented on #6667
And besides, the `SERVICE_PORT` environment variable isn't necessarily the port on which your _pod_ should be listening, it's the listening port for the _service_ that wraps your pods.  It's perfectly fine - and indeed common - in k8s for the two to be different, e.g. a deployment of pods running as an unprivileged user (which can't bind low numbered ports) with each pod listening on port 8888, th

[2021-12-20 12:41] graemerocher commented on #6667
Indeed, there are multiple reasons to favour the kubernete modules' service discovery feature because also the environment variables can become out of date as the cluster changes which breaks service to service communication. With the kubernetes module and service discovery any changes to IPs and ports are refreshed automatically thus preventing the need for a pod restart

[2021-12-20 13:08] javiertoja commented on #6667
The issue was not related to service discovery, the issue was about why some environmental variables with certain suffixes where not being processed due to their name, without a hint in the doc. I can have a concept within the domain of my application that contain any of those suffixes, not related to routing or service discovery and variables with that suffix will not be read in a kubernetes envi

[2021-12-20 13:13] graemerocher commented on #6667
I agree, though it is a tricky problem to solve since in large clusters reading all those environment variables results in performance issues and an impact to application startup time. See https://github.com/micronaut-projects/micronaut-kubernetes/issues/209 for the origin of the change.

[2021-12-20 13:33] ianroberts commented on #6667
A sensible solution to me seems like

- ignore those k8s-type environment variables _by default_
- provide some sort of bootstrap option to allow that filtering to be disabled by the user if they know what they're doing
- document this clearly, perhaps with a note that if you _do_ want to run under k8s with the filtering disabled then it's a good idea to set `enableServiceLinks: false` in your Dep

[2021-12-20 13:43] davidhiendl commented on #6664
@graemerocher Can I help to validate the problem?

[2021-12-20 13:56] graemerocher commented on #6664
going to look at this soon. Thanks for the feedback

[2021-12-20 14:17] javiertoja commented on #6667
I think that these will be enough if had know about the naming scheme I could have use a different one, also putting a switch to enable/disable this filtering promotes portability from other frameworks/platforms that might be accepting at the moment environment variable with this suffixes. By this means developers are allowed to have a choice.

[2021-12-20 16:05] graemerocher commented on #6672
Try add `@ReflectiveAccess` to your type

[2021-12-20 17:27] pierre-yves-legendre-cbp opened #9726 "Add to Cors configuration a mapping like into grails"
### Feature description

In grails, it's possible to configure some mapping authorized without cors and then all other are not

**Example :**
    _cors:
        enabled: true
        mappings:
            '[/private/open/supervision]': inherit_

I thinks, it'll be a good thinks to micronaut to accept the same configuration.
Like this for example:
   _cors:
        enabled: true
        configurati

[2021-12-20 17:31] mauri-sfdc opened #6677 "ExceptionHandlers not invoked when controller returns HttpResponse.ok(Single.error())"
### Expected Behavior

In Micronaut 2.5.6 a controller that returns a `HttpResponse.ok(Single.error(new RuntimeException()))` will raise the exception and let the registered `ExceptionHandler` take care of the RuntimeException. This behavior is different in micronaut 3.2.3, where the request fails and the exception is not handled.

I'm not sure if this is defined behavior, I admit there are other

[2021-12-20 18:17] ianroberts commented on #6672
I just tried that, it makes no difference if I add `@ReflectiveAccess` to `Vehicle`, `Van` and `Car`, either _alongside_ the existing `@Introspected` or _instead of_ it.

[2021-12-20 18:25] ianroberts commented on #6672
But adding it to `Wrapper` does indeed fix the tests.

[2021-12-20 18:41] ianroberts commented on #6672
In my real use case neither the wrapper-equivalent nor the vehicle-equivalent classes are in my own codebase, but `@TypeHint` appears to have done the same trick there.

Should I just close this now I have a workaround or is it still considered a bug?  It seems very odd to me that it works in the top-level case without reflection but not in the wrapped case.

[2021-12-20 23:08] lost22git commented on #6623
I have found this problem in micronaut before, and the solution of quarkus seems to be to set `-Dio.netty.allocator.maxOrder=3` to reduce memory

@see https://github.com/quarkusio/quarkus/pull/16967

[2021-12-21 09:26] Paullo612 opened #6678 "Add an API to get Argument and Qualifier from BeanCreationContext"
### Feature description

I want to add something similar to `io.micronaut.context.DefaultBeanContext#findExistingCompatibleSingleton` to my custom scope to be able to do inherited bean injection:
[code]
This test fails now. There is no API to get requested `Argument` and `Qualifier` from custom scope's `getOrCreate` method to do a type comparison (to find existing compatible `CreatedBean` in scope

[2021-12-21 11:19] #6389 closed, assigned to nobody

[2021-12-21 15:50] ilopmar opened #6681 "Can't validate Kotlin data class as a controller parameter with mandatory fields"
### Expected Behavior

It should be possible to validate a Kotlin data class uses as a parameter in a controller.

### Actual Behaviour

As discussed during the engineering meeting I file this issue. This is coming from https://github.com/micronaut-projects/micronaut-openapi/issues/611

Given the following Controller:

[code]

And data class:

[code]

When sending the following curl request:

[cod

[2021-12-21 15:59] graemerocher commented on #6681
Have you tried adding https://search.maven.org/artifact/io.micronaut.kotlin/micronaut-kotlin-runtime/3.0.0/

[2021-12-21 16:02] ilopmar commented on #6681
Do you mean adding `micronaut-kotlin-runtime:3.0.0`?

[2021-12-21 16:05] ilopmar commented on #6681
If that's the case, then yes, it's already on the classpath

[2021-12-22 05:49] jorgesantos-osp opened #6683 "Controller Exception handler being called twice"
### Expected Behavior

Exception handler called once

### Actual Behaviour

Exception handler called twice

### Steps To Reproduce

./gradlew test

### Environment Information

- macOS Monterey
- OpenJDK Runtime Environment AdoptOpenJDK-16.0.1+9 (build 16.0.1+9)

### Example Application

https://github.com/jorgsant/micronaut-exception-handling

### Version

3.2.1

[2021-12-22 17:58] msequino opened #6684 "Response from streaming api has connection closed"
### Issue description

I have a Micronaut application as middleware to another rest application. I need to define an API that streams the streaming response of the other application.
When I call the streaming api that is forwarded to the other service, the connection is closed before stream all data. The result is a file with corrent number of pages, but empty.

The api definition is the following

[2021-12-24 23:14] sgammon commented on #6301
@yawkat i just wanted to note that Cloud Run's HTTP/2 support in GCP is predicated on `h2c` support, preventing micronaut users from flipping the HTTP/2 switch:

https://cloud.google.com/run/docs/configuring/http2#before_you_configure

[2021-12-26 18:49] morki commented on #4864
@yawkat @graemerocher this is now stopping us from production, is there anything we can do to move it forward?

[2021-12-27 06:20] ibmsoft opened #6690 "https://docs.micronaut.io/latest/guide/index.html#security can not open the url"
### Expected Behavior

![image](https://user-images.githubusercontent.com/26042/147440801-b58d53f6-4326-441a-84bb-25ae75dbcfab.png)

### Actual Behaviour

can open the url

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

_No response_

### Version

3.2.3

[2021-12-27 11:39] puneetbehl opened #6691 "Compile error with logback.groovy after updating to Micronaut 3.2.0"
### Expected Behavior

The logback.groovy file should not be loaded too early during the build process and the code should compile without any errors.

### Actual Behaviour

It appears that the `LoggerContext` is trying to instantiate during the compilation phase which results in the following error:

[code]

### Steps To Reproduce

Please check https://github.com/grails/grails-core/issues/12291 f

[2021-12-27 11:43] puneetbehl commented on #6691
After looking into the Changelog, I think this happening because of [initializing `Logger` in `SoftServiceLoader`. ](https://github.com/micronaut-projects/micronaut-core/pull/6313/files#diff-58ce2d32df4d1d9d8985223e8e11d37ed2eb45d13d9e6e983faaa11d8e68adddR65)

[2021-12-28 11:53] nassimus26 commented on #5018
Hi, I just open this one https://github.com/gradle/gradle/issues/19440 , if someone could help

[2021-12-28 14:48] abishai opened #6693 "(graal) Micronaut tracing example doesn't work"
### Expected Behavior

Example works https://guides.micronaut.io/latest/micronaut-microservices-distributed-tracing-jaeger-gradle-java.html

### Actual Behaviour

Example compiles, but refuses to start due to reflection and resource issues

1. No reflection settings
[code]

2. No resource settings for jaeger.properties if above fixed
[code]
3. NPE on start if above fixed
[code]

The last one is st

[2021-12-29 08:15] yawkat commented on #6301
That's unfortunate. Weird that they have no TLS option.

[2021-12-29 08:40] yawkat commented on #6621
We also discussed this in #6638 , we may change this in 4.0

[2021-12-29 08:40] #6621 closed, assigned to yawkat

[2021-12-29 09:11] yawkat commented on #4864
ok i will take a look, since it is blocking you.

[2021-12-30 14:00] yawkat commented on #4864
This issue report uses an old micronaut version and I can't fully reproduce the hang. I've found a hang that looks similar though, and fixed that in #6696.

However @morki I'm not confident this will fix your specific issue. I think your issue looks similar but may be different. If you can still reproduce this with the patch, please create a new issue with a test case.

[2021-12-30 18:22] morki commented on #4864
Hi @yawkat, thank you very much for taking time for this issue. I prepared minimal reproduction in this repository: https://github.com/morki/micronaut-multipart-issue

There are 2 described issues:

1) On route "/" there is login form for micronaut security login endpoint. You can write anything in those fields and click submit. After that, error `Internal Server Error: refCnt: 0, decrement: 1` is

[2021-12-30 21:01] glats opened #6697 "Error building native image with certain features"
### Expected Behavior

Should create a native image.

### Actual Behaviour

Appear the following error
[code]

### Steps To Reproduce

1. mn create-app me.j1cs.micronaut-workshop -t spock  --features graalvm,reactor,lombok,gcp-pubsub,testcontainers,openapi --build maven
2. ./mvnw -T 1C clean package -Dpackaging=native-image -Pgraalvm

### Environment Information

- macos big sur 11.3.1
- openjdk v

[2022-01-02 02:14] longwa opened #6701 "Spamming console with DEBUG logs during compilation"
### Expected Behavior

_No response_

### Actual Behaviour

When building our Grails 5.1.1 project, we are getting this output during compilation:
[code]
and
[code]

### Steps To Reproduce

Create a new Grails 5.1.1 project and run
`gradle classes`

### Environment Information

_No response_

### Example Application

_No response_

### Version

3.2.0

[2022-01-03 00:24] oujesky opened #6702 "micronaut-validation - java 9 modules - java.lang.module.FindException: Unable to derive module descriptor for"
### Steps to Reproduce

1. Define Java 9 module in the application
2. Include dependency to `micronaut-validation`
3. Run the application

### Expected Behaviour

Application executes without any problem

### Actual Behaviour

[code]

This seems to be caused by changes introduced in PR #5666 - the class `io.micronaut.validation.websocket.WebSocketVisitor` was moved to a separate module `http-valid

[2022-01-03 00:52] sgammon commented on #6381
@graemerocher looks like google will be fixing in an upcoming update of `remote_java_tools`. thank you for explaining 👍🏻

[2022-01-03 08:34] yawkat commented on #4864
@morki yes the first is definitely a different issue, I will check the second as well. Please submit this as a new bug (a single bug for both is enough) for tracking purposes, as this issue will be closed by #6696.

[2022-01-03 08:45] morki opened #6705 "Multipart handling errors"
### Expected Behavior

No error are present when using `multipart.disk = true` and `multipart.mixed = true`.

### Actual Behaviour

Errors presented below are present.

### Steps To Reproduce

There are 2 described issues:

On route `/` there is login form for micronaut security login endpoint. You can write anything in those fields and click submit. After that, error `Internal Server Error: refCn

[2022-01-03 08:46] yawkat commented on #6705
thanks

[2022-01-03 08:47] morki commented on #4864
Done in https://github.com/micronaut-projects/micronaut-core/issues/6705

[2022-01-03 09:01] mancze opened #6706 "Deadlock during bean initialization"
### Expected Behavior

No deadlock during bean initialization.

### Actual Behaviour

We have observed a deadlock situation during `RequestScoped` bean initialization.

Locks in play:

- `RequestCustomScope`'s `ReentrantReadWriteLock` (in its base class `AbstractConcurrentCustomScope`)
- `singletonObjects` monitor (by using `synchronized` keyword)

What is happening is that one thread (for http re

[2022-01-03 10:35] yawkat commented on #6705
fyi `multipart.mixed` does nothing when `multipart.disk` is also set. You should probably only use the former

[2022-01-03 11:24] mancze commented on #6706
Another concern is that implementation of `RequestCustomScope` is based on `AbstractConcurrentCustomScope` which uses single `ReentrantReadWriteLock` for all requests. I'm afraid that can be a bottleneck and not performant enough.

[2022-01-03 11:49] ilopmar commented on #6690
Fixed by #6685

[2022-01-03 11:49] #6690 closed, assigned to nobody

[2022-01-03 12:01] ilopmar commented on #6693
We don't have support for Jaeger and GraalVM, that's why the guide doesn't include the instructions about how to create the native image. I tried it sometime ago and it didn't work. See https://github.com/jaegertracing/jaeger-client-java/issues/600

[2022-01-03 12:46] abishai commented on #6693
How unfortunately. I thought we have only missing reflection dependencies.

[2022-01-03 13:12] yawkat commented on #6705
i think the hang is fixed by #6696, i will check once that is merged

[2022-01-03 13:50] yawkat commented on #6665
we're missing support for property naming strategies in the `BeanIntrospectionModule`. A workaround is to mark the bean as `@ReflectiveAccess` for now

[2022-01-03 13:57] yawkat commented on #6665
i dont see an easy way to add this, so I'm not prioritizing it. Support should be added at some point, but it's not like we can support every jackson feature, anyway.

Failing test case:

[code]

[2022-01-03 14:01] ilopmar commented on #6693
Maybe nowadays Jaeger is more GraalVM-friendly than sometime ago. You can try the Native Agent to generate the reflect config and give it a try.

[2022-01-03 14:07] #6691 closed, assigned to puneetbehl

[2022-01-03 14:09] #4864 closed, assigned to yawkat

[2022-01-03 14:20] #6702 closed, assigned to nobody

[2022-01-03 21:12] morki commented on #6705
Thank you very much @yawkat, it seems to be fixed :)

[2022-01-04 11:14] morki commented on #6705
Ok, so it only resolved the issue with `multipart.disk` but `multipart.mixed` now throws this on login endpoint:

![image](https://user-images.githubusercontent.com/3584190/148051107-4dd05f35-66b1-46b1-9133-fde2ae10c507.png)

[2022-01-04 14:25] adamkobor commented on #6261
@graemerocher I have the exact same problem in my pet-project: https://github.com/kuvasz-uptime/kuvasz
With a regular docker image there is no problem around declarative clients annotated with `@Client`, however in this file the `sendMessage` call always fails when I run the native image:
https://github.com/kuvasz-uptime/kuvasz/blob/2297709d97ee0d9ee61df17ab3b37b463fb56338/src/main/kotlin/com/kuva

[2022-01-05 08:32] mboogi opened #6709 "TestInstance.Lifecycle.PER_CLASS annotation blocks context init"
### Expected Behavior

It should instantiate application context

### Actual Behaviour

when starting tests annotated with TestInstance.Lifecycle.PER_CLASS, than the following error occurs:

Failed to resolve parameter [com.tests.test.SimpleService service] in constructor [public com.tests.test.SimpleServiceNOTWorkingTest(com.tests.test.SimpleService)]: Cannot invoke "io.micronaut.context.Applicat

[2022-01-05 09:20] kristofdho opened #6710 "IllegalReferenceCountException when calling CompletedFileUpload#getBytes()"
### Expected Behavior

I can use `CompletedFileUpload#getBytes()` without exceptions.

### Actual Behaviour

A giant stacktrace in the logs (the request does seem to complete correctly)

<details>
<summary>stacktrace</summary>

[code]
</details>

### Steps To Reproduce

1. Standard project from https://micronaut.io/launch.
2. add this controller:
[code]
this is the same as the controller in this t

[2022-01-05 10:31] graemerocher commented on #6709
Provide an example please. Many guides use `TestInstance.Lifecycle.PER_CLASS` without issues. Example https://guides.micronaut.io/latest/micronaut-mongodb-synchronous-gradle-java.html

[2022-01-05 11:13] mboogi commented on #6709
Hi graemerocher ,
the repo is here:
https://github.com/mboogi/micronaut-test

BR
MB

[2022-01-05 12:56] yawkat commented on #6672
it's a bug, `BeanIntrospectionModule` doesn't support `JsonSubTypes`. But subtype support is too complicated to properly implement in the module, it's not worth it. Marking as wontfix.

[2022-01-05 12:56] #6672 closed, assigned to yawkat

[2022-01-05 13:09] yawkat commented on #6677
imo this is correct behavior. `HttpResponse.ok` with a stream argument indicates that the data should be written as a stream. If that stream errors at some point, we might not be able to call the error handler anymore, since we've already written the response (the headers + part of the body). Only sensible thing to do then is to log.

I assume that in 2.x, the sending of the response headers was d

[2022-01-05 13:39] graemerocher commented on #6677
A `Single` is not a streaming type like `Flux` or `Flowable` so I am unsure this is correct

[2022-01-05 13:40] graemerocher commented on #6677
Probably what is missing is a dependency on `micronaut-rxjava2`. Please try add that dependency and try again

[2022-01-05 13:41] yawkat commented on #6677
in the test project it's a `Mono`, but i assume it still just uses publisher-based handling?

[2022-01-05 13:43] graemerocher commented on #6677
seems something broken with regards to the single detection logic

[2022-01-06 12:00] timyates opened #6715 "Gradle continuous mode does not work on M1 Macs"
### Expected Behavior

When executed with `./gradlew run -t`, the application should run in continuous mode (and restart after changes to the source)

### Actual Behaviour

Fails on startup with

[code]

### Steps To Reproduce

1. Create a micronaut app on an M1 mac
2. Run `./gradlew run -t`

### Environment Information

Darwin 21.2.0 Darwin Kernel Version 21.2.0: Sun Nov 28 20:28:41 PST 2021; roo

[2022-01-06 17:38] NickHackman opened #6717 "@RequestAttribute in HTTP Client is being treated as a Query Parameter in 3.2.x"
### Expected Behavior

https://docs.micronaut.io/latest/api/io/micronaut/http/annotation/RequestAttribute.html

### Actual Behaviour

They're being bound as Query Parameters, for example

[code]

Expected URI:

[code]

Actual URI:

[code]

## Real Example:

GitHub Action Error:

https://github.com/NickHackman/micronaut-request-attributes-bug/runs/4730047911?check_suite_focus=true#step:4:41

Code:

[2022-01-07 08:33] MilosBogi commented on #6709
Any infos on this issue? The example above is very similar to the issue we have in production

[2022-01-07 09:45] yawkat commented on #6717
Ok the reason for this is as follows:

- a3c46be7bf2cb6fc91a90985e767fb4f19782b8d added the capability to have a `@RequestAttribute` that is also a path param. We have a test case for this: https://github.com/micronaut-projects/micronaut-core/blob/fb109714d62c099d05b67a9c1ad081fe51472732/http-client/src/test/groovy/io/micronaut/http/client/docs/annotation/requestattributes/StoryClient.java#L34-L36

[2022-01-07 10:03] graemerocher commented on #6717
This should be reverted

[2022-01-07 12:49] pgrosslicht commented on #2346
Hi, has this been considered since then? We just ran into this issue as well, we have a custom `TaskExceptionHandler` to report errors to Sentry and because of this issue errors in `@Async` methods don't get reported.

[2022-01-07 14:30] #6715 closed, assigned to timyates

[2022-01-07 17:32] msgilligan commented on #6395
**Update**:  I've been testing `badass-jar-plugin` and it is working well for my use case.

I would like to try using it to make a PR.

I understand that Micronaut 4 will use/require JDK 11, which will eventually make use of the plugin unnecessary. This is great news! Not sure if I should wait for a 4.x branch or try to start with the plugin...

[2022-01-07 18:15] #6701 closed, assigned to nobody

[2022-01-07 18:35] jreznot commented on #3122
I see this every time I use cURL or other HTTP Client to test the app:
[code]

[2022-01-07 18:38] jameskleeh commented on #3122
@jreznot Please create a new issue with an example project and steps to reproduce

[2022-01-07 19:50] jreznot opened #6723 "Error logged IllegalStateException: cannot send more responses than requests on HTTP requests from IntelliJ IDEA"
### Expected Behavior

I use IntelliJ IDEA HTTP Client to send test requests to Micronaut app https://guides.micronaut.io/latest/micronaut-security-session-gradle-java.zip

Example:
[code]

For some reason, Application logs error on this request.

### Actual Behaviour

Application response:
[code]

Application logs:
[code]

### Steps To Reproduce

1. Extract https://guides.micronaut.io/latest/micr

[2022-01-09 17:52] jreznot commented on #6723
Also, in my production environment this sporadically happens after user actions in web browser and spams logs

[2022-01-10 01:33] LajosPolya opened #6724 "Micronaut 3 HttpServerFilter doesn't add content-type header to response"
### Expected Behavior

I'm expecting that the HttpServerFilter will add the content-type header to the response when the response is generated from the filter.
Note that this bug specifically applies only to the case when the execution never reaches a controller. Instead the filter interrupts the execution and returns a response of its own.

I'm expecting this behavior because Micronaut 2.4.2 beha

[2022-01-10 10:13] luolong commented on #5138
Looking at how [Jaeger is deprecating its client libraries in favor of OpenTelemetry](https://github.com/jaegertracing/jaeger-client-java), this issue becomes even more pressing.

[2022-01-10 10:22] graemerocher commented on #5138
part of this issue has been addressed and the code moved to https://github.com/micronaut-projects/micronaut-tracing

It will be split out initially in 3.3.x then an independent OpenTelemetry module can evolve out of it

[2022-01-10 11:34] graemerocher commented on #6723
@yawkat perhaps related to the pipelining changes

[2022-01-10 12:52] yawkat commented on #6723
@jreznot do you have a way to reproduce this without intellij? the http client is an ultimate-only feature.

Alternatively, please capture the network traffic with wireshark.

[2022-01-10 12:54] jreznot commented on #6723
Yes, I will try.

AFAIK, HTTP Client does not use keep-alive directive from server and just disposes connection after response received. May be that is the reason. But even in this case this looks strange and should not produce ERROR logging as far as I understand.

[2022-01-10 13:04] timyates commented on #3939
Thanks for the report!

Just tested it, and this works as expected in Micronaut 3.2.4 and the latest 2.2.X branch (where a fix was applied via #4580)

Closing this, please feel free to open a new issue if you see otherwise 👍

[2022-01-10 13:04] #3939 closed

[2022-01-10 13:22] timyates commented on #3839
Checked with 3.2.4, and this no longer fails when both are set to the same port number

[2022-01-10 13:22] #3839 closed

[2022-01-10 13:23] jreznot commented on #6723
Code that reproduces this with Apache HTTP Client:
[code]

[code]

[2022-01-10 13:24] yawkat commented on #6723
thanks, will take a look

[2022-01-10 14:18] #6717 closed, assigned to yawkat

[2022-01-10 15:23] NickHackman commented on #6717
Thanks for the awesome work fixing this, don't mean to rush, but is there an estimated time for a new release for this?

[2022-01-10 15:27] LajosPolya commented on #6724
I wanted to mention that I don't know the spec well enough to say for sure that this is a bug. This may be a known change in Micronaut 3.x.x so I'd like to confirm that as well.

[2022-01-10 15:57] Nightingale-UA opened #6730 "HOCON configuration fails to load properties using native image"
### Expected Behavior

Properties declared in `application.conf` get resolved during native image run.

### Actual Behaviour

Declared property not resolved after `./gradlew clean nativeRun`.
Application throws:
[code]

**Notes:**
* Property is resolved correctly for normal `./gradlew run`
* Property is resolved correctly if YAML is used in place of HOCON (see `yaml-config` branch)

### Steps To R

[2022-01-10 17:24] jameskleeh commented on #6643
Duplicate of https://github.com/micronaut-projects/micronaut-core/issues/4653

[2022-01-10 17:24] #6643 closed, assigned to nobody

[2022-01-11 10:42] krishraj9962 commented on #1108
@graemerocher , we are using 3.0.0, but, not able to make the /health url as no sensitive. Below is the the configuration we have in application.yml

endpoints:
  health:
    enabled: true
    details-visible: ANONYMOUS
  prometheus:
    enabled: true
    sensitive: false

Can you please help what are we missing here

[2022-01-11 12:52] test210820 commented on #6723
I have the same problem with using `hey` benchmark native image

[code]

[code]

[code]

[2022-01-11 14:56] hendsc commented on #6723
I have the same problem using HAProxy and was able to reproduce the error with the Demo code from @jreznot

io.micronaut.security.filters.SecurityFilter is called twice for the same request in the Demo code. Once on the execute and then again on the close. I haven't figured out why it is called twice in our HAProxy setup.

[code]

My temporary fix is to use logic from OncePerRequestHttpServerFilte

[2022-01-11 16:56] timyates opened #6740 "Configuration for forwarded host headers for ProxyHttpClient"
### Feature description

As of 3.2.5, the ProxyHttpClient correctly sets the Host header to that of the upstream service (see https://github.com/micronaut-projects/micronaut-core/pull/6739)

It may be useful to configure the client to use `X-Forwarded-Host` or `Forwarded` headers to keep track of the original host (or indeed hosts)

There is a spike of this wip (based on 3.3.x) on this branch: htt

[2022-01-11 17:24] #3759 closed

[2022-01-11 18:41] aero-don commented on #4856
**Environment Information**
Operating System: Ubuntu 20.04
Micronaut Version: 3.2.3
JDK Version: openjdk version "17.0.1" 2021-10-19
OpenJDK Runtime Environment GraalVM CE 21.3.0 (build 17.0.1+12-jvmci-21.3-b05)
OpenJDK 64-Bit Server VM GraalVM CE 21.3.0 (build 17.0.1+12-jvmci-21.3-b05, mixed mode, sharing)

**Example Application**
https://github.com/aero-don/reactive-controller.git

The behavior

[2022-01-11 18:50] #6740 closed, assigned to timyates

[2022-01-12 07:43] ilopmar opened #6744 "Error compiling Data JDBC interface"
### Expected Behavior

Micronaut Data JDBC applications should compile.

### Actual Behaviour

All the Data JDBC test applications in GraalVM CI have failed during compilation today with the error:

[code]

They worked yesterday and nothing has changed in Micronaut Data so the error should be here in core.

### Steps To Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-dat

[2022-01-12 08:02] dstepanov commented on #6744
Caused by https://github.com/micronaut-projects/micronaut-core/pull/6734

[2022-01-12 13:02] miguelaferreira commented on #6406
@graemerocher I've removed the custom native image config (from `src/main/resources/META-INF/native-image/`), and rebuilt the native image.
The code is pushed to this branch: https://github.com/miguelaferreira/devex-cli/tree/remove-custom-native-image-config

Then I built the native image with GraalVM 21.3.0.r17-grl.
[code]

The result is that the native binary does not execute correctly anymore.

[2022-01-12 13:30] yawkat commented on #6684
Can you give a bit more detail? In particular the structure of the `Flow`. Best would be a test case project that reproduces this issue

[2022-01-12 13:52] yawkat commented on #6724
Thanks for the reproducer repo!

[2022-01-12 13:58] graemerocher commented on #6406
@miguelaferreira will take a look

[2022-01-12 14:11] graemerocher commented on #6406
with PR https://github.com/miguelaferreira/devex-cli/pull/18

Running:

[code]

[2022-01-12 14:44] #6723 closed, assigned to yawkat

[2022-01-12 15:31] jaecktec commented on #6617
IMHO:
I think this is a bug in the DefaultHttpClient, since the docs of the `NoopAddressResolver` say:
[code]

in the configureProxy method it should be added to the bootstrap.

[2022-01-12 16:57] mattmoss commented on #2553
Verified that this is fixed in latest documentation published (i.e. https://docs.micronaut.io/latest/guide)

Existing published documentation (prior to 2.5.13 for 2.x, prior to 3.0.1 for 3.x) still has the issue. Beginners should now be looking to use latest stuff, which works.

[2022-01-12 17:06] #2553 closed

[2022-01-12 22:30] chenrui333 opened #6750 "micronaut 3.2.5 build failure"
### Expected Behavior

Failed to build micronaut 3.2.5

- relates to https://github.com/Homebrew/homebrew-core/pull/92984

### Actual Behaviour

[code]

### Version

3.2.5

[2022-01-12 22:40] chenrui333 commented on #6750
Just unpacked the tarball file and run the build in my local, seems fine. Triggered a rerun on the homebrew side, and closing the issue for now.

[2022-01-12 22:40] #6750 closed, assigned to nobody

[2022-01-13 10:29] tamershahin opened #6751 "Micronaut Serverless Function is not build with Graal Native support on Apple Silicon"
### Expected Behavior

I expect when using Apple Silicon MacBook that the command:

`$ ./gradlew buildNativeLambda` will output a valid image and .zip file with the function

### Actual Behaviour

I receive the error:

[code]

### Steps To Reproduce

step 1:

`mn create-function-app example.micronaut.micronautguide --features=graalvm,aws-lambda --build=gradle --lang=kotlin`

step 2:

` ./gradlew b

[2022-01-13 18:22] #6697 closed, assigned to nobody

[2022-01-13 19:01] Paullo612 opened #6756 "Incorrect introspection for methods with covariant return types"
### Expected Behavior

Property with setter with covariant return type should not be read only.

### Actual Behaviour

But it is.

### Steps To Reproduce

Run the following test:
[code]

Looks like the bug is [here](https://github.com/micronaut-projects/micronaut-core/blob/c43067a8ada048eec1057066ed943ac85a64698b/inject-java/src/main/java/io/micronaut/annotation/processing/visitor/JavaClassElement

[2022-01-13 19:26] miguelaferreira commented on #6406
Thank for the help @graemerocher! I ran the other tests and the tools are working well. I'm going to merge your PR.

[2022-01-13 19:26] #6406 closed, assigned to nobody

[2022-01-14 12:12] ilopmar opened #6760 "Error getting values from Enum when using Groovy"
### Expected Behavior

When using Groovy and getting the values from an `enum` having an `EnumElement`, Micronaut should return the right values.

### Actual Behaviour

Given the following Groovy Enum:

[code]

When processing it in micronaut-openapi to get the values, Micronaut returns `DOG`, `CAT`, `MIN_VALUE` and `MAX_VALUE` and it should only return `DOG` and `CAT`.

The issues is here https:/

[2022-01-14 12:59] yawkat commented on #6760
Could just hard-code the exclusion for MIN_VALUE and MAX_VALUE

[2022-01-14 13:04] yawkat commented on #6617
agreed. the proxy should always take over resolution

[2022-01-14 13:15] ilopmar commented on #6760
I though about it but it feels dirty... If there is no other way, I can do it.

[2022-01-14 14:25] TuvaevAndrey commented on #5743
Same problem after migration to micronaut 3.2.5

[2022-01-14 15:41] timyates commented on #2024
Hi @musketyr 👋

Is this still an issue with Micronaut 3?

For testing `Consumer` `FunctionalBean`s with `Client` you should just need `micronaut-function-web`

[2022-01-14 15:50] musketyr commented on #2024
Hi @timyates,

Will check next week and let you know,
Thanks!

[2022-01-17 12:09] mboogi commented on #6709
Hi to All,
this problem still persists, but after discussion with some of colleagues, there is a workaround
Instead of using constructor injection it works just by using @Inject annotation. However it is not intuitive and it is not documented. Will open an discussion

[2022-01-17 12:50] graemerocher commented on #6709
You can also use method injection into the test method

[2022-01-18 07:54] graemerocher commented on #6664
I can't reproduce this. See the attached example in Java.

Perhaps Kotlin getters/setters are final?

[request-scope-test.zip](https://github.com/micronaut-projects/micronaut-core/files/7887177/request-scope-test.zip)

[2022-01-18 08:36] musketyr commented on #2024
@timyates the problem still persist but the error looks bit differently

[code]

I've updated the test repo to the latest version

[2022-01-18 11:00] yawkat commented on #6277
For future reference, there is another exception when deserializing:

[code]

[2022-01-18 11:49] timyates commented on #2024
Awesome, thanks for that 😀👍

I've raise a PR to hopefully fix it

[2022-01-18 14:50] yawkat opened #6772 "References to enums in annotations missing from classpath break introspections"
### Issue description

Annotations that are generated by annotation transformers, that reference enum values, break the introspection they're on when that enum isn't present on the classpath.

This was a problem in the micronaut-security changes for micronaut-serialization. The micronaut-serialization annotation processor transforms jackson annotations to its own internal annotation model. The int

[2022-01-18 16:01] #6744 closed, assigned to nobody

[2022-01-18 16:03] #6705 closed, assigned to yawkat

[2022-01-18 16:04] #6710 closed, assigned to yawkat

[2022-01-18 17:20] jdsingh122918 commented on #2807
@graemerocher I would like to work on this 🙏

[2022-01-18 19:22] graemerocher commented on #2807
Contributions welcome!

[2022-01-18 20:01] #6724 closed, assigned to yawkat

[2022-01-19 16:12] timyates commented on #3255
Is the same true for `micronaut.ssl.port`?

[2022-01-19 16:14] jameskleeh commented on #3255
I think so

[2022-01-19 16:14] timyates commented on #3255
👀  👍

On it

[2022-01-19 20:47] mboogi commented on #6709
As long as I am concearned, this issue is closed as there is a workarround. However it would be nice to document it this way or another
BR
MB

[2022-01-19 20:47] #6709 closed, assigned to nobody

[2022-01-20 14:54] jameskleeh opened #6781 "Create a native Kotlin compiler extension with KSP"
### Feature description

Should resolve the following issues:

https://github.com/micronaut-projects/micronaut-core/issues?q=is%3Aopen+is%3Aissue+label%3A%22relates-to%3A+native-kotlin%22

[2022-01-20 17:15] alphawolf1988 commented on #2863
I've the same problem! Any progress on this?

[2022-01-20 18:13] timyates opened #6782 "Fix access logger for interleaved requests"
### Feature description

Whilst supporting filtering in the access logger, it was noticed that this probably fails or emits garbage when there are interleaved requests

https://github.com/micronaut-projects/micronaut-core/pull/6753

We need to investigate if this is the case, and if so provide a fix

[2022-01-20 21:29] sascha-frinken opened #6783 "Add option to escape `${looks-like-a-variable}` in application.yml"
### Feature description

Right now there is no option to escape a value in an `application.yml` file that looks like a variable, so micronaut won't try to resolve it.

Below is my simplified use case. I want to write variables to an `.env` file with content from an  `application.yml`.

Example `application.yml`
[code]

Example service (groovy) that writes the `.env` file.

[code]

[2022-01-21 10:04] timyates commented on #6783
As a workaround, I believe you can do:

[code]

[2022-01-21 15:18] timyates commented on #1108
@krishraj9962 Just tested it with micronaut 3.0.0 and

[code]

And it worked as expected.  Do you have the

[code]

Dependency in your project?

If it's still a problem your end, can you create a new issue with a linked project that reproduces what you are seeing?

[2022-01-21 15:32] timyates commented on #3939
There's this also, which I think is the final fix which went in to Micronaut 3.0.x

https://github.com/micronaut-projects/micronaut-core/pull/5921

[2022-01-22 13:09] yakom opened #7529 "java.lang.ClassCastException thrown during context destruction."
### Expected Behavior

the Micronaut context is destroyed without an exception when using DBCP.

### Actual Behaviour

when using a context with DBCP data sources, its destruction causes: `java.lang.ClassCastException: class io.micronaut.transaction.jdbc.TransactionAwareDataSource$DataSourceProxy cannot be cast to class io.micronaut.configuration.jdbc.dbcp.DatasourceConfiguration`.

it happens bot

[2022-01-23 09:08] nrsina commented on #6519
Thanks for working on this issue @agugan, but I still have some issues with Micronaut v3.2.7

I have two DTOs like below:
[code]
[code]
### Actual Behaviour
1. My custom validation gets called two times (with or without the 'inner' field inside TestRequest class) and gets added to the constraint violations two times.
2. again, the message value that has been set in my custom validation class is ov

[2022-01-23 15:08] agugan commented on #6519
@nrsina Sure, I will take a look into it it.

[2022-01-24 10:35] alextu opened #6791 "`:core:test` spends most of the time initializing test classes"
### Issue description

`:core:test` task takes [about 1min](https://ge.micronaut.io/s/hhzofcpjbcmci/timeline?details=m6g5y4lib3e3u) but the executed tests themselves take [about 10s](https://ge.micronaut.io/s/hhzofcpjbcmci/tests/overview?task-path=:core:test&toggled=WyI6Y29yZTp0ZXN0LTE2LWlvLm1pY3JvbmF1dC5jb3JlLmFubm90YXRpb24uaW1tdXRhYmxlc29ydGVkc3RyaW5nc2FycmF5bWFwdGVzdC0yMCIsIjpjb3JlOnRlc3QtMTYiX

[2022-01-24 12:30] yawkat commented on #6791
Good catch, please make a PR

[2022-01-24 13:27] yawkat opened #6795 "Unexpected results for `Argument.isNonNull` when mapper for `io.micronaut.core.annotation.Nullable` is present"
### Issue description

In 3.3.0-M1, a property marked as `@io.micronaut.core.annotation.Nullable` will be marked as `io.micronaut.core.annotation.AnnotatedElement#isNonNull` if an annotation mapper from `io.micronaut.core.annotation.Nullable` is present on the processor classpath.

The setup is as follows:

- Author.java:
[code]
- NullableAnnotationMapper.java:

[code]
- AuthorSpec.groovy:
[code]

[2022-01-24 14:50] jameskleeh commented on #6795
1. Not an option because it would kill the IDE support
2. Seems feasible
3. Could work. I don't know if that data is in the annotation metadata since the `When` class is not available at compile time
4. Also not an option imo because of the issue it solves

[2022-01-24 15:30] jameskleeh commented on #6795
I've added tests for this in core https://github.com/micronaut-projects/micronaut-core/commit/4480cf6a19bbbc2eaee9e2dcade2fcb9551a610b

Issue seems to be in data adding the Micronaut nullable annotation to the metadata

[2022-01-24 15:56] #3269 closed

[2022-01-24 15:56] #6756 closed, assigned to timyates

[2022-01-24 15:58] #1059 closed

[2022-01-24 15:59] jeffscottbrown opened #6796 "Missing ConfigurationProperties Dependency Injection Code Sample"
### Issue description

At https://docs.micronaut.io/3.2.7/guide/#immutableConfig there is a missing code sample.  See below.

<img width="880" alt="Screen Shot 2022-01-24 at 9 56 53 AM" src="https://user-images.githubusercontent.com/15482/150817769-adfd2321-8d50-4f38-b29b-c0f82e06c0ed.png">

[2022-01-25 05:40] dstepanov commented on #6795
I think we should add something like ignoring hardcoded `NullableAnnotationMapper` to support older Micronaut Data with newer Core

[2022-01-25 05:43] jameskleeh commented on #6795
@dstepanov I don't think that is something we should be concerned about supporting. The BOM defines which versions are compatible and there are no guarantees beyond that

[2022-01-25 09:57] timyates commented on #6791
Awesome, fixed by https://github.com/micronaut-projects/micronaut-core/pull/6799 👍

[2022-01-25 09:57] #6791 closed, assigned to nobody

[2022-01-25 10:11] #6796 closed, assigned to timyates

[2022-01-25 12:08] jacekgajek commented on #6697
Was you able to solve it? I had tried hard but never was able to make a native image of a real app.

[2022-01-25 13:40] yawkat commented on #6795
we managed to fix this in -data now, so it's not as urgent, but imo this should still be fixed

[2022-01-25 15:31] davidhiendl commented on #6664
@graemerocher I think you are right. Kotlin methods and final by default (requires open modifier to change or a compiler plugin to make them default open). When adding the `open` modifier to the property the factory does work.

What I don't understand is why the factory does not work but the singleton does without the open modifier. From my understanding of how the code is enhanced it should fail

[2022-01-25 15:53] glats commented on #6697
@jacekgajek to me adding:
[code]
solved my issue

[2022-01-25 23:18] jeffscottbrown opened #6810 "Problem With graalVersion In User Guide"
### Issue description

The literal `{graalVersion}` appears in several places in the docs at https://docs.micronaut.io/3.2.7/guide/#graal.

[2022-01-26 10:40] tchiotludo opened #6814 "@Retryable on interface"
### Expected Behavior

Since micronaut 3.0, `@Retryable` is not inherited following [this table](https://docs.micronaut.io/latest/guide/index.html#breaks)

But on the docs [here](https://docs.micronaut.io/latest/guide/index.html#retry):

This suggest that `@Retryable` is inherited.

What is the expected behaviour here ? Does the error is on the doc or the behaviour ?

### Actual Behaviour

_No res

[2022-01-26 10:45] graemerocher commented on #6814
this is a documentation error. This was changed to allow users to override through inheritance. You can re-instate the previous behaviour with your own `@Inherited` meta annotation:

[code]

This is handy anyway since you can provide default configuration values specific to your app in the meta annotation

[2022-01-26 10:59] osh-zuri opened #6815 "CORS PenTest Finding"
### Expected Behavior

When CORS is enabled, along with which origins should be allowed, then an invalid Origin should be Forbidden.

Here is the actual PenTest finding:
<img width="1258" alt="PenTest-CORS" src="https://user-images.githubusercontent.com/66199635/151150976-48d8243f-5d7a-43e0-86c8-caf8022870c8.png">

In another project using SpringBoot we can achieve this requirement with the allowe

[2022-01-26 12:16] pbthorste opened #6817 "ProxyHttpClient set read timeout"
### Expected Behavior

Hi,

Using Micronaut 3.2.7.

I am testing out the ProxyHttpClient (https://docs.micronaut.io/latest/guide/#proxyClient) and want to set a read timeout.

Using the documented methods for setting a timeout on http clients, they do not seem to affect the ProxyHttpClient.
Is this by design, or should it be possible to set a read timeout ?

### Actual Behaviour

Proxy does not ti

[2022-01-26 12:57] timyates commented on #6817
Can you try with

[code]

[2022-01-26 13:08] timyates commented on #6817
(see https://docs.micronaut.io/latest/guide/#_streaming_clients_and_read_timeout)

[2022-01-26 13:30] jacekgajek commented on #3972
@sandroboehme
[code]
worked for me (jakarta.inject instead of javax.inject, Around not required)

**This definitely should be documented!**

[2022-01-26 13:48] pbthorste commented on #6817
Thanks @timyates - that works. I missed it because it was not clear to me that the ProxyHttpClient was a streaming client.

[2022-01-26 13:48] #6817 closed, assigned to nobody

[2022-01-26 14:30] jameskleeh commented on #6815
The origin header is not present in the response:

[code]

This is the same behavior as if no origin header was sent at all. The browser would block the response in this case.

[2022-01-26 14:32] jameskleeh commented on #6815
If you can point me to where in the specification it says that the response should be 400 in this case, we will change the behavior. I looked but couldn't find anything definitive.

[2022-01-26 14:42] tchiotludo commented on #6814
Thanks @graemerocher for your incredible fast response.
Struggling since this morning on this :

https://github.com/micronaut-projects/micronaut-core/blob/4626884e74334e247f0e5fc510d6a03e616aeb75/runtime/src/main/java/io/micronaut/retry/intercept/DefaultRetryInterceptor.java#L216

Why only capture the `RuntimeException` and not `Throwable` ?
In my case, it's a `IoException` that don't extends `Run

[2022-01-26 14:48] graemerocher commented on #6814
good question, we should probably make the base type extensible

[2022-01-26 14:49] #6760 closed, assigned to nobody

[2022-01-26 14:52] #6623 closed, assigned to graemerocher

[2022-01-26 16:59] timyates commented on #6663
Fixed in https://github.com/micronaut-projects/micronaut-core/pull/6711 for 3.3.0

[2022-01-26 16:59] #6663 closed, assigned to timyates

[2022-01-26 17:00] timyates commented on #2583
Fixed in https://github.com/micronaut-projects/micronaut-core/pull/6728 for Micronaut 3.3.0

[2022-01-26 17:00] #2583 closed

[2022-01-26 17:01] timyates commented on #6590
Fixed in https://github.com/micronaut-projects/micronaut-core/pull/6716 for Micronaut 3.3.0

[2022-01-26 17:01] #6590 closed, assigned to timyates

[2022-01-26 19:43] tchiotludo commented on #6814
something like that https://github.com/micronaut-projects/micronaut-core/pull/6821 ?

[2022-01-27 08:47] #6814 closed, assigned to nobody

[2022-01-27 09:50] osh-zuri commented on #6815
Hi @jameskleeh

Thanks for your response, but maybe I will start again and rephrase the question.

The PenTest finding indicated that whatever origin is sent to our Micronaut application during the GET request, we simply reflect this value in the response header **Access-Control-Allow-Origin**, for example (running against a Micronaut 3.2.7 application):

[code]

To solve this with our legacy Spri

[2022-01-27 09:55] yawkat commented on #6815
If your request has `Origin: https://malicious-provider.osian.ch`, and that origin is not matched in the micronaut config, it will be treated the same way as if no origin is present. It should not give a `Access-Control-Allow-Origin: https://malicious-provider.osian.ch` like in your example response, it should simply send no `Access-Control-` headers at all.

Are you sure your example request/resp

[2022-01-27 10:15] osh-zuri commented on #6815
Hi, many thanks for your response; and you are correct ... what was misleading is that the Spring implementation returns a Forbidden status, and here the `Access-Control-Allow-Origin` is missing, both seem to be a valid understanding of the specification.
Closing the issue, & thanks for all your help.

[2022-01-27 10:15] #6815 closed, assigned to yawkat

[2022-01-27 10:16] timyates commented on #6815
Does `ALLOWED_ORIGINS` contain a wildcard?

[2022-01-27 11:36] osh-zuri commented on #6815
Hi @timyates
Tha allowed origins doesn't contain a wildcard, but after all of the explanations, it is now deployed and working as expected.
Many thanks

[2022-01-27 12:30] #6810 closed, assigned to nobody

[2022-01-27 14:54] #6277 closed, assigned to yawkat

[2022-01-27 15:21] yawkat opened #6825 "Make CorsOriginConfiguration secure by default"
### Issue description

Right now, when a CorsOriginConfiguration is configured without allowedOrigins, we assume the user wants '*' as the allowed origins. If a user misspells the allowedOrigins key, they might thus get insecure behavior and probably will not notice. We should make the allow-all setting an explicit property.

[2022-01-28 07:47] jaecktec commented on #3972
This should also be added to https://micronaut.io/launch

[2022-01-28 08:29] saw303 opened #6829 "Micronaut 3.3: Flyway Upgrade breaks MariaDB/MySQL projects"
### Expected Behavior

Running `mn create-app --build=gradle --jdk=11 --lang=java --test=spock --features=flyway,mariadb com.example.demo` should generate a `build.gradle` with an additional runtime dependency

[code]

Note the the version should be provided by the BOM.

### Actual Behaviour

Micronaut 3.3.0 upgraded Micronaut Flyway 5.1.1 to use Flyway to 8.4.2. MariaDB and MySQL are no longer pa

[2022-01-28 14:42] jameskleeh opened #6831 "Old tracing artifact missing from bom"
### Issue description

The old tracing group id and artifact id need to be in the bom for 3.3

[2022-01-28 14:55] jameskleeh commented on #6829
https://github.com/micronaut-projects/micronaut-flyway/pull/271

[2022-01-28 14:57] #6782 closed, assigned to yawkat

[2022-01-28 15:44] mostroverkhov commented on #2002
this is not (and never was) accurate - e.g. performance (throughput) of spring-rsocket(cbor) over TCP is substantially worse than grpc-java for streaming interactions, and +- the same for request-response. `rsocket/rsocket-rpc-java` is abandoned project - I am not sure its generated code even compiles.

Additionally `rsocket/rsocket-java` - which is the basis for `rsocket/rsocket-rpc-rxjava` - is

[2022-01-28 15:47] saw303 commented on #6829
@jameskleeh will the template of Micronaut Launch also be extended when someone chooses MySQL, MariaDB or SQL Service together with the feature Flyway?

[2022-01-28 15:49] timyates commented on #4653
Done by https://github.com/micronaut-projects/micronaut-core/pull/6753 in Micronaut 3.3.0

[2022-01-28 15:49] #4653 closed, assigned to timyates

[2022-01-28 15:53] timyates commented on #3255
Closed by https://github.com/micronaut-projects/micronaut-core/pull/6779 in 3.3.0

[2022-01-28 15:53] #3255 closed

[2022-01-28 15:55] sduvvada opened #6833 "Is there any way to Ignore http header in micronaut framework"
### Discussed in https://github.com/micronaut-projects/micronaut-core/discussions/6828

<div type='discussions-op-text'>

<sup>Originally posted by **sduvvada** January 27, 2022</sup>
Team,
I'm new to micronaut framework, Is there any way to ignore the http request header like `x-http-method-override` in framework?
If yes, please direct me some sample example or links to refer it.

Thank you!</div

[2022-01-28 16:29] jameskleeh commented on #6829
https://github.com/micronaut-projects/micronaut-starter/pull/1055

[2022-01-28 16:45] timyates opened #6834 "Allow escaping of property holder syntax in configuration property sources"
### Feature description

In https://github.com/micronaut-projects/micronaut-core/issues/6783 it was raised that there was no obvious way to escape a placeholder when you wanted a literal to appear in your property ie:

[code]

For 3.3.1 we documented a workaround using the placeholder syntax https://github.com/micronaut-projects/micronaut-core/pull/6786

However for 4.0, we could consider a mechan

[2022-01-28 16:54] #6833 closed, assigned to nobody

[2022-01-28 16:57] timyates commented on #4766
I believe this is this issue over here on the gradle project itself

https://github.com/gradle/gradle/issues/19235

With that, and Paul's workaround above, I'm tempted to close this.  Any objections?

[2022-01-28 17:01] jameskleeh commented on #4766
@timyates No objections. I don't think there is anything we can do here

[2022-01-28 17:48] timyates commented on #4766
Closing as this is an issue external to micronaut

[2022-01-28 17:48] #4766 closed, assigned to nobody

[2022-01-28 19:12] #6829 closed, assigned to jameskleeh

[2022-01-28 19:13] jameskleeh commented on #6684
Closing this due to a lack of feedback

[2022-01-28 19:13] #6684 closed, assigned to nobody

[2022-01-28 19:16] #6650 closed, assigned to yawkat

[2022-01-28 19:16] #6617 closed, assigned to yawkat

[2022-01-28 19:18] jameskleeh commented on #6533
If someone wants to contribute whatever the fix on our end would be to get this to work great but this doesn't seem like a priority for us

[2022-01-28 19:18] #6533 closed, assigned to nobody

[2022-01-28 21:56] pditommaso commented on #3685
Also, the `Content-Type` is missing in the HEAD response

[2022-01-29 16:47] sselonick opened #6838 "Not able to inject multiple repositories using hibernate-jpa: DependencyInjectionException: Failed to inject value for field [entityManager]"
I'm not sure this is a bug but some some help resolving my issue with injecting multiple Repositories when using hibernate-jpa would be very much appreciated.  Thanks.

### Discussed in https://github.com/micronaut-projects/micronaut-core/discussions/6837

<div type='discussions-op-text'>

<sup>Originally posted by **sselonick** January 29, 2022</sup>
# Error Summary
I have been trying to extend t

[2022-01-30 15:12] dniel opened #6840 "trying to upgrade my application from Micronaut 3.1, but with both M3.2 and M3.3 Kapt throws TaskExecutionException: Execution failed for task ':kaptKotlin' and Caused by: java.util.NoSuchElementException: No value present"
### Expected Behavior

When running `./gradlew build` in my application with Micronaut 3.3.0 kapt should execute successfully.

### Actual Behaviour

Both m3.2 and m3.3 Kapt throws `TaskExecutionException: Execution failed for task ':kaptKotlin' and Caused by: java.util.NoSuchElementException: No value present at io.micronaut.inject.writer.BeanDefinitionWriter.pushPropertyContainsCheck(BeanDefinit

[2022-01-31 12:35] #6677 closed, assigned to yawkat

[2022-01-31 13:26] mariusbalanuca opened #6844 "Upgrade jackson-databind to get rid of medium vulnerability CVE FasterXML/jackson-databind#3328"
### Issue description

Upgrade jackson-databind to get rid of medium vulnerability CVE FasterXML/jackson-databind#3328

[2022-01-31 16:14] graemerocher commented on #5135
@yawkat can you fix this one and put it behind a configuration option if it is problematic to fix before 4.x

[2022-01-31 16:15] yawkat commented on #5135
ok, will do tomorrow

[2022-01-31 16:15] jameskleeh commented on #5135
@yawkat Connect with @timyates as he was involved with this already

[2022-01-31 16:17] graemerocher commented on #5135
Don't know if it helps but this is a workaround for existing users:

[code]

And replace the registry:

[code]

[2022-01-31 16:19] timyates commented on #5135
I believe this is related https://github.com/micronaut-projects/micronaut-core/pull/6808

Where I added debug logging for these conversion errors (if it was enabled)

So for example, once

[code]

is set, the above curl logs

[code]

This probably doesn't go far enough to fix this, as I targeted 3.3.x

[2022-01-31 19:33] avirkar commented on #6579
How do you configure these build args in maven
`graalvmNative {
    binaries {
        main {
            buildArgs.add("-H:-UseServiceLoaderFeature")
        }
    }
}`

[2022-01-31 20:28] rodrigar-mx commented on #6579
[code]

[2022-01-31 20:48] avirkar commented on #6579
I tried this but that did not work. The following is my configuration
`  <plugin>
        <groupId>org.graalvm.buildtools</groupId>
        <artifactId>native-maven-plugin</artifactId>
        <version>0.9.9</version>
        <executions>
          <execution>
            <id>build-native</id>
            <goals>
              <goal>build</goal>
            </goals>
            <phase>package</pha

[2022-02-01 04:03] mgatto commented on #6310
I second this. I went with my default of Jetty while setting up a websocket project and banged away for hours until coming across this report. I swapped in Netty and now it works.

[2022-02-01 18:47] avirkar commented on #6579
Thanks @rodrigar-mx for your support. What we noticed is that the  `<buildArg>-H:-UseServiceLoaderFeature</buildArg> ` does not do what it is expected to and I had to manually delete some of the references from the config files generated by the tracing agent. I think this should be treated as a bug.

[2022-02-02 10:23] yawkat commented on #2863
The problem with deserializing `_embedded` is that we have no way of knowing which type of resource is actually embedded in the JSON.

[2022-02-02 10:28] loicgreffier commented on #6595
Hello,
I faced the same issue: NullPointerException on an injected bean when running a Command Line App as Windows native executable.

Just instantiated a brand new project with:
- Micronaut 3.3.0, Command Line Application
- GraalVM 22.0.0.2
- Gradle (using the provided wrapper)

However, it seems working when the project is built with Maven instead of Gradle.

- Micronaut 3.3.0, Command Line Appl

[2022-02-02 11:02] graemerocher commented on #2863
Perhaps it needs to be documented that the embedded types need to use `@JsonTypeName` or something?

[2022-02-02 11:04] graemerocher commented on #6595
@alvarosanchez @melix could you investigate this for Windows for both Maven and Gradle

[2022-02-02 11:05] yawkat commented on #2863
HATEOAS doesnt have type tags, so this wouldn't be compatible with other servers

[2022-02-02 11:05] graemerocher commented on #2863
true

[2022-02-02 11:25] jchanaud commented on #6783
Another workaround we use, as suggested by @jameskleeh on Gitter few months ago :
[code]

[2022-02-02 14:01] sdelamo opened #6854 "Update Library Catalogue to use servlet bom included in 3.2.0"
[Micronaut Servlet 3.2.0](https://github.com/micronaut-projects/micronaut-servlet/releases/tag/v3.2.0) introduced a bom module.

I think this PR should be similar to:

https://github.com/micronaut-projects/micronaut-core/pull/6806

Important property:
https://github.com/micronaut-projects/micronaut-servlet/blob/master/gradle.properties#L28

Because the property is named `micronautServletVersion`,

[2022-02-02 14:35] avirkar opened #6855 "Service Loader Feature does not work as expected"
### Expected Behavior

When the service loader build argument is included in the plugin configuration it should not register duplicate classes.

`<plugin>
  <groupId>org.graalvm.buildtools</groupId>
  <artifactId>native-maven-plugin</artifactId>
  <configuration>
    <buildArgs combine.children="append">
      <buildArg>-H:-UseServiceLoaderFeature</buildArg>
    </buildArgs>
  </configuration>
</p

[2022-02-02 14:37] graemerocher commented on #6855
@melix would it be possible in the build plugins to automatically remove micronaut generated classes from `reflect-config.json` to address this issue?

[2022-02-02 15:57] #6844 closed, assigned to nobody

[2022-02-02 15:59] yawkat commented on #6844
Fixed in #6846

FYI this is probably not an issue for most micronaut users, since it only affects *jdk deserialization* (eg ObjectInputStream) of arbitrary types.

[2022-02-02 20:47] avirkar opened #6857 "Duplicate Beans Injected when running micronaut with native image"
### Expected Behavior

We are trying to run a micronaut application with GraalVM by creating a native image using the graalvm plugin. The following is our observation.

We are trying to build a native image  for our Micronaut Application.  We are using  the following configuration

`Micronaut 3.2.1
GraalVM EE 22.0.0.2`

The following is our observation.

1. The Jar file runs perfectly fine without

[2022-02-03 13:35] timyates opened #6858 "Update Library Catalogue to use rxjava2 bom included in 1.2.0"
### Issue description

[Micronaut RxJava2 1.2.0](https://github.com/micronaut-projects/micronaut-rxjava2/releases/tag/v1.2.0) introduced a bom module.

[2022-02-03 13:36] timyates opened #6859 "Update Library Catalogue to use rxjava3 bom included in 2.2.0"
### Issue description

[Micronaut RxJava3 2.2.0](https://github.com/micronaut-projects/micronaut-rxjava3/releases/tag/v2.2.0) introduced a bom module.

[2022-02-03 15:45] timyates opened #6862 "Update Library Catalogue to use reactor bom included in 2.2.0"
### Issue description

[Micronaut Reactor 2.2.0](https://github.com/micronaut-projects/micronaut-reactor/releases/tag/v2.2.0) introduced a bom module.

[2022-02-03 17:22] timyates commented on #6854
Closed by https://github.com/micronaut-projects/micronaut-core/pull/6856

[2022-02-03 17:22] #6854 closed, assigned to timyates

[2022-02-03 22:30] rawilder opened #6867 "Declarative HttpClient reactive types don't emit errors on FullHttpResponses"
### Expected Behavior

Regardless of the type of response, exceptional statuses are emitted appropriately in reactive types when no `HttpResonse<T>` wrapper is used.

### Actual Behaviour

Responses that have a header of `content-length: 0` are processed in a streaming fashion (due to the reactive type) as FullHttpResponses and not do not emit any errors.

### Steps To Reproduce

https://github.co

[2022-02-04 10:25] ivangfr opened #6869 "Unable to build Docker Native image "manifest unknown""
### Issue description

Hi, I am not able to build the Docker native image using **micronaut** version `3.3.0`

I've tried **Gitter**, but I didn't get any help.

Here is the error
[code]

**Steps to reproduce**
- `$ curl --location --request GET 'https://launch.micronaut.io/create/default/com.example.demo?lang=JAVA&build=MAVEN&test=JUNIT&javaVersion=JDK_11&features=graalvm' --output demo.zip`
- un

[2022-02-04 15:17] timyates commented on #6831
@jameskleeh I assume we want the same (old) version as well?

[2022-02-04 15:18] jameskleeh commented on #6831
@timyates I made the change already https://github.com/micronaut-projects/micronaut-core/pull/6871

[2022-02-04 15:18] #6831 closed, assigned to nobody

[2022-02-04 15:19] timyates commented on #6831
Cool 👍

[2022-02-04 16:46] albrechtflo-hg opened #6872 "Document alternative to map-based bean injection"
### Feature description

I just wondered why Micronaut doesn't support injecting multiple beans of the same type via a Map<bean name, bean instance>, like Spring does:

[code]

This would be useful for some use cases which are otherwise quite complex to be implemented, using the `ApplicationContext` (for example, we want to filter which bean implementations to invoke, based on a configurable Regex

[2022-02-04 16:52] graemerocher commented on #6872
not exactly the same, but you can inject:

[code]

And from each registration you can retrieve the qualifier and the bean.

[2022-02-04 16:55] albrechtflo-hg commented on #6872
Oh, OK, that helps a bit, right :-)

Is this missing from the docs? I had a look here, but didn't find it there: https://docs.micronaut.io/latest/guide/#types

[2022-02-04 17:03] graemerocher commented on #6872
Yes it is missing it seems. Bit of an oversight.

[2022-02-04 17:14] albrechtflo-hg commented on #6872
Unfortunately, the `BeanIdentifier` of each registration is `null` although a `jakarta.inject.Named` annotation is present on all the beans, so that really doesn't help much - I still have to extract the annotation's value manually from the BeanDefinition...

Is that a bug, or expected behaviour? If it is not expected to be `null`, I could provide an example project (and file a new bug for that).

[2022-02-04 17:14] danadam commented on #1931
Probably related:
* [Chrome 81 send CERTIFICATE_UNKNOWN alert message to self-signed server](https://support.google.com/chrome/thread/44786090/chrome-81-send-certificate-unknown-alert-message-to-self-signed-server?hl=en),
* [Issue 952778: Chrome browser show certificate unknown error for all web requests causing full TLS handshake on each request](https://bugs.chromium.org/p/chromium/issues/detail

[2022-02-04 17:25] graemerocher commented on #6872
hmm that does seem to be incorrect behaviour. I guess that is why this is not documented :)

You can probably call `registration.getBeanDefinition().getQualifier().toString()` which would do the same thing

[2022-02-04 17:48] paulolieuthier commented on #2346
Same here, I was surprised to see there was no error handling for `@Async`.

[2022-02-04 18:15] message opened #6873 "Missing HttpStatus 526 Invalid SSL certificate"
### Expected Behavior

`HttpStatus.INVALID_SSL_CERTIFICATE`

### Actual Behaviour

When CloudFlare responds with `526 Invalid SSL certificate`, http client fails while trying to create missing HttpStatus enum.

[code]

### Steps To Reproduce

HttpRequest.GET something that returns 526

### Environment Information

_No response_

### Example Application

_No response_

### Version

3.3.0

[2022-02-05 07:04] tobiasschaefer commented on #2867
Hi @graemerocher , hi @jameskleeh ,

this issue is still open and relevant for me. It would probably make https://github.com/camunda-community-hub/micronaut-camunda-bpm have a faster startup time - which would be a nice added value compared to the available Spring Boot solution (especially when running a test-suite containing integration tests which might spin up the application multiple times).

[2022-02-06 14:52] spearheadOne opened #6874 "Native image ignores properties from yaml."
### Issue description

I have custom propeties in application.yaml which are not read when I run the app as native image though env endpoint shows them.

Please check here for more details https://stackoverflow.com/questions/71008037/micronaut-native-image-ignores-properties

[2022-02-06 23:47] mattwelke commented on #6493
I think this is going to affect us with a Go to Java port we're considering. We use OpenCensus for metrics with a GCP exporter and we need to have our application stop accepting HTTP requests, wait 10 seconds, then perform a flush on the GCP exporter. The 10 second pause is to allow enough time to go by so that there is a 0% chance GCP returns a 429 when the exporter sends its final data point.

I

[2022-02-07 08:21] albrechtflo-hg commented on #6872
@graemerocher Hmm, unfortunately, there is no `getQualifier()` in `BeanDefinition`, only `getDeclaredQualifier()`, which returns in `toString()` the whole annotation and string value, e.g.

[code]

So I would have to parse that out. Seems not much more stable than my previous approach :)

`Qualifier` seems to be only a "matcher" class or similar - I guess because there could be multiple qualifiers

[2022-02-07 08:57] graemerocher commented on #6872
Sure file a ticket. Yes there can be multiple qualifiers.

[2022-02-07 09:26] albrechtflo-hg opened #6878 "Injected BeanRegistration objects have a null Identifier"
### Expected Behavior

I want to have multiple beans of the same interface type injected, to select which ones to use based on their "identifiers", e.g., a qualifier specified with the `@Named` annotation.

Micronaut currently doesn't offer a map-based injection, but I **can** have a Collection of `BeanRegistration`s injected (yet undocumented, see #6872).

As the `BeanRegistration` class provides

[2022-02-07 14:30] zdegner commented on #6623
Just a heads up, setting this value too low (maxOrder=1) can cause assertation failures during Netty chunk allocation. I've witnessed this while running tests against Micronaut services with maxOrder=1. The chunk size is calculated as follows:

8192 << MAX ORDER bytes

So for example a max order of 6 would give a chunk size of 524288 bytes. I'm not quite sure what the magic number is, but I've rea

[2022-02-07 14:38] #6858 closed, assigned to timyates

[2022-02-07 14:38] #6862 closed, assigned to timyates

[2022-02-07 14:39] #6859 closed, assigned to timyates

[2022-02-07 17:02] graemerocher commented on #6623
@zdegner for new apps we recommend a value of 3 https://micronaut.io/launch?type=DEFAULT&name=demo&package=com.example&javaVersion=JDK_11&lang=JAVA&build=GRADLE&test=JUNIT&version=3.3.0&activity=preview&showing=/src/main/resources/application.yml

[2022-02-07 17:17] yawkat commented on #6623
@zdegner And FYI this is *not* a memory leak, this is simply netty lazily allocating the memory it expects to be allowed to use. If you want to limit netty allocator pool size, there are also other knobs to turn, such as the JVM direct memory limit

[2022-02-07 18:46] jameskleeh opened #6881 "ExecutableMethodProcessors have no order in relation to the beans they intercept with regards to shutdown"
### Expected Behavior

`ExecutableMethodProcessor<Scheduled>` should be shutdown before beans with `@Scheduled` methods

### Actual Behaviour

The shutdown order is not deterministic and thus the scheduled methods can be invoked after the bean has been shutdown causing errors

### Version

3.3.0

[2022-02-08 14:44] jamesdh opened #6885 "logback.groovy no longer used after upgrading from 3.1.0 to 3.3.0"
### Expected Behavior

Configuration via a `logback.groovy` file as opposed to a `logback.xml` file is possible and [officially supported by logback](https://logback.qos.ch/manual/groovy.html)

### Actual Behaviour

logback.groovy is ignored.

### Steps To Reproduce

1. Take any project and apply the groovy equivalent of the default logback.xml configuration file:

[code]

I tested various version

[2022-02-08 15:13] graemerocher commented on #6885
Unfortunately the latest version of logback removed Groovy support for security reasons. You can downgrade to an earlier version but you would do so at your own risk

[2022-02-08 15:14] timyates commented on #2023
Hi @musketyr 👋

If you update that project to 3.3.0 (to get the `void` fix), and annotate the `event` field in `AnotherMicronautFunctionProblemWorker` with `@Body`

Like:

[code]

Then all the tests pass.

[2022-02-08 15:30] jamesdh commented on #6885
Oh interesting. Their docs aren't very up to date it appears. I did find [this issue](https://jira.qos.ch/browse/LOGBACK-1601) though, which explains it.

[2022-02-08 15:31] #2023 closed

[2022-02-08 15:32] #6885 closed, assigned to nobody

[2022-02-09 09:34] AlexSlob commented on #6857
Facing the same issue:

`Error starting Micronaut server: Error instantiating bean of type [io.micronaut.management.health.indicator.service.ServiceReadyHealthIndicator$ApplicationEventListener$onServerStarted2$Intercepted]: Multiple possible bean candidates found: [io.micronaut.aop.InterceptorRegistry, io.micronaut.aop.InterceptorRegistry]
io.micronaut.context.exceptions.BeanInstantiationExceptio

[2022-02-09 09:38] graemerocher commented on #6857
hi both, we will need an example application with steps to reproduce. The most likely cause a build configuration issue. Feel free to reach out directly via email etc.

[2022-02-09 10:38] ghillert opened #6889 "CommandLineParser cannot parse values containing equal sign"
### Expected Behavior

I was in need to override a Micronaut property via command-line arguments. Values of command line arguments should be allowed to contain the equal sign.

### Actual Behaviour

The equal sign AND the character to the right of the equal sign are missing. No exception is thrown.

[code]

The resulting value of from the `Environment` is `/20200101/observations/public-span?dataFo

[2022-02-09 12:58] roma0297 opened #6890 "`EmailValidator` not working properly"
### Expected Behavior

I expect that email `email@gmail` won't pass the validation

### Actual Behaviour

Email `email@gmail` Is passing the validation

### Steps To Reproduce

1. Create a simple application with `@Post` controller
2. Add `@Email` annotation to one of the string fields in the request body
3. Pass an email `email@gmail` to the request

### Environment Information

_No response_

##

[2022-02-09 13:01] graemerocher commented on #6857
There are some very strange aspects about the sample application provided at https://github.com/AlexSlob/architecture-demo

1. A compile dependency on mockito-core is added, this should only apply to the  tests
2. A runtime dependency on the JACOCO Maven plugin is added, again this should be in the <plugins> config not under dependencies
3. Custom, unnecessary graalvm native configuration is added

[2022-02-09 13:01] #6857 closed, assigned to nobody

[2022-02-09 14:30] Xaseron commented on #6781
Awesome. This is a requirement to enable parallel compilation in Kotlin 1.6.20. https://blog.jetbrains.com/kotlin/2022/02/kotlin-1-6-20-m1-released/#support-for-parallel-compilation-of-a-single-module-in-the-jvm-backend

[2022-02-09 14:56] jameskleeh commented on #6874
You are injecting into private fields, which requires reflection. Either change the fields to not be private, inject the setter method, or register the fields for reflective access with GraalVM

[2022-02-09 14:56] #6874 closed, assigned to nobody

[2022-02-09 15:52] graemerocher commented on #6874
We do add reflection information automatically but only if you have `micronaut-graal` on your annotation processor classpath:

https://github.com/micronaut-projects/micronaut-core/blob/0f4bba77e6869a126946ebec1f74f1fc0b37640f/graal/src/main/java/io/micronaut/graal/reflect/GraalTypeElementVisitor.java#L208-L210

So you might want to check that.

[2022-02-09 19:14] MaximeFrancoeur commented on #6623
Any news about this problem?
https://github.com/micronaut-projects/micronaut-core/pull/6661#issuecomment-1034078024

[2022-02-10 08:25] surajchhetry commented on #4669
I am having the same problem with Micronauts 3.3.1 and JDK 17

[2022-02-10 09:16] musketyr commented on #2023
thanks @timyates and @jameskleeh. everything is ok now!

[2022-02-10 10:05] bseitkazin commented on #6890
I think you are using `@Email` from `javax.validation.constraints.Email`? So, it is not an issue of the Micronaut framework, according to the answer on StackOverflow, the `email@gmail` is a valid email.

Link - https://stackoverflow.com/questions/50535214/javax-validation-constraints-email-matching-invalid-email-address

[2022-02-10 10:06] #6890 closed, assigned to nobody

[2022-02-10 15:43] #6867 closed, assigned to jameskleeh

[2022-02-10 16:53] timyates opened #6899 "Update Library Catalogue to use Kotlin bom included in 3.2.0"
### Issue description

[Micronaut Kotlin 3.2.0](https://github.com/micronaut-projects/micronaut-kotlin/releases/tag/v3.2.0) introduced a bom module.

[2022-02-10 17:29] #6899 closed, assigned to timyates

[2022-02-10 20:33] matt-snider commented on #6210
I'm guessing this is pretty straightforward to answer and close this issue. I'm wondering the same thing.

@graemerocher I keep seeing similar comments about what to do if you want to use `micronaut-spring-annotation` but don't see a clear recommendation about how to set this up without it. Could you provide any info? Can `jakarta.transaction-api` simply be added and `@Transactional` used?

[2022-02-11 00:33] surajchhetry opened #6904 "Request deserializer doesn't respect jackson.property-naming-strategy for java record"
### Expected Behavior

Jackson property naming strategy is respected while receiving the request (it's respected when serializing and sending responses)

### Actual Behaviour

Jackson property naming strategy is not respected

### Steps To Reproduce

1. Define an application.yml file with this config
[code]

2. Create a java record class
[code]

3. Create a controller with a post message
[code]
4.

[2022-02-11 07:51] yawkat commented on #6904
similar to #6665, but this should at least not produce an error when reflective access is available. will take a look

[2022-02-11 08:34] StefanKreidel opened #6905 "Host resolution (X-Forward-Headers) has no effect"
### Expected Behavior

I am running a Micronaut service behind a Traefik ingress controller (reverse proxy) which strips each URL of a base-path and omits https.
I want to make use of the `host-resolution` properties to rewrite all URLs according to the X-Forward-Headers which Traefik thankfully provides.

I expect Micronaut / Netty to rewrite all URLs (e.g. for Swapper/OpenAPI) accordingly.

Requ

[2022-02-11 09:00] yawkat commented on #6905
The `host-resolution` doesn't matter for path resolution. It really is only used for the resultion of the actual host.

Maybe you could get the behavior you want with a filter, or a pipeline customizer

[2022-02-11 09:45] StefanKreidel commented on #6905
Ah okay. It makes sense that it does not work then.
I'll try your suggestions and keep you updated!

[2022-02-11 09:46] graemerocher commented on #6210
@matt-snider This PR seems to address this issue https://github.com/micronaut-projects/micronaut-sql/pull/557

[2022-02-11 09:50] matt-snider commented on #6210
@graemerocher But again, that shows how to set up transactions _with_ Spring. Is it not possible without?

[2022-02-11 10:04] graemerocher commented on #6210
If you don't want to use Spring then just add `javax.transaction.Transactional`. Currently we haven't  moved the the jakarta namespace for this. A correctly configured project can be found in the guides https://guides.micronaut.io/latest/micronaut-data-jdbc-repository.html

[2022-02-11 10:05] graemerocher commented on #6210
See also https://micronaut-projects.github.io/micronaut-data/latest/guide/#transactions

[2022-02-11 10:16] matt-snider commented on #6210
@graemerocher Thanks so much. Both of those examples are for `micronaut-data` though. I think OP and I are both talking about using just `micronaut-sql`. But I assume your comment still holds true

[2022-02-11 16:09] #6889 closed, assigned to jameskleeh

[2022-02-12 10:37] ThraaxSession opened #6909 "Webauthn support"
### Feature description

Hi together,

is the webauthn feature planned by you? It would be neat if I could authenticate with webauthn against my micronaut application.
Or is there any workaround with a 3rd party sdk?

[2022-02-12 12:50] piizei opened #6910 "Regression in Jackson serialization, nested classes broken in graalvm native"
### Expected Behavior

After upgrading from 3.0.0M5 I noticed that nested bean jackson serialization has been broken in 3.3.1 when using nativeCompile

Example application should return same JSON structure as both Java and GraalVM native.

### Actual Behaviour

With following structure:

[code]

When serializing `"[{\"a\":\"avalue\",\"b\":3, \"nested\": [{\"c\":\"cvalue\",\"d\":5}]}]"`

Example ap

[2022-02-14 08:09] StefanKreidel commented on #6905
I managed to solve my problem with a filter as described in the [documentation](https://micronaut-projects.github.io/micronaut-openapi/latest/guide/index.html#serverContext).

However, I think I found a better solution. Instead on relying on a `context-path` property which has to be available either during compile time or as system property during application startup, I parse the context-path from

[2022-02-14 09:26] slinstaedt commented on #1433
As all resources have an identity and are therefore potential stateful, modelling resources as stateful objects (with the before mentioned identity) is a more appropriate programming model than having to deal with old-fashioned singleton controller "services", which if not used correctly easily break encapsulation.

The only resource of an API being a singleton is the entry resource located at it'

[2022-02-14 11:43] graemerocher opened #6912 "Failed to load class "org.slf4j.impl.StaticLoggerBinder" is back in 3.3.1"
### Expected Behavior

Should error during `compileJava`

### Actual Behaviour

Error:

[code]

### Steps To Reproduce

Download and run https://guides.micronaut.io/latest/micronaut-data-jdbc-repository-gradle-java.html

### Environment Information

_No response_

### Example Application

https://guides.micronaut.io/latest/micronaut-data-jdbc-repository-gradle-java.html

### Version

3.3.1

[2022-02-14 13:14] athkalia commented on #6261
FYI I upgraded to RxJava 3 and everything worked

[2022-02-14 14:30] #6912 closed, assigned to graemerocher

[2022-02-14 14:35] jameskleeh commented on #6905
@StefanKreidel A PR to the openapi module docs would be welcomed. You shouldn't use `micronaut.server.host-resolution.context-path-header` however though since this configuration option is not related to host resolution and your own custom configuration should not go under the `micronaut.` prefix to avoid it being confused with Micronaut provided options.

[2022-02-14 14:35] #6905 closed, assigned to nobody

[2022-02-14 18:26] wetted commented on #6593
We are getting this same error, but aren't using native/GraalVM at all. It all worked fine in Micronaut 2.5.x, We started getting this error when we upgraded to 3.2.7 and get the same behavior with 3.3. as well. This is part of a thick client (using Swing) that uses a REST client to access services we stand up in a separate VM on localhost.

[code]

Here's the weird part. `SAFEAnalyzerServiceImpl`

[2022-02-14 19:26] wetted commented on #6579
We are getting this same error, but aren't using native/GraalVM at all. It all worked fine in Micronaut 2.5.x, We started getting this error when we upgraded to 3.2.7 and get the same behavior with 3.3. as well. This is part of a thick client (using Swing) that uses a REST client to access services we stand up in a separate VM on localhost.

    Message: Multiple possible bean candidates found: [i

[2022-02-14 21:32] arcturuscom opened #6917 "calling http client unauthorized"
### Expected Behavior

i'm receiving unauthorized error httpClient when i enabled security.
here's a stack trace :
[code]

here's my config
[code]

i'm using ther version 3.3.0 of Micronaut
it's works on my windows machine but it's fails on AWS, EKS
PS:  third party microservices are not secured

### Actual Behaviour

_No response_

### Steps To Reproduce

_No response_

### Environment Informatio

[2022-02-14 22:22] nbrugger-tgm commented on #638
Regarding to the documentation it is a little easier that that. You need to create a `openapi.properties` on ROOT level (not in `src/main/resources`!) and then add the regarding properties

See: https://micronaut-projects.github.io/micronaut-openapi/latest/guide/index.html#micronautendpoints

[2022-02-14 23:05] nbrugger-tgm opened #6918 "Autogenerated (AnnotationProcessor) interface not being "indexed/processed""
### Expected Behavior

When you have an annotation processor that generates files like this:
[code]
and then manually add the implementation
[code]

The path `/ping` should be:
- [ ] available via the management endpoint `/paths` (if management is added ofc)
- [ ] be included in the generated OAS/Swagger file
- [ ] Be useable (curl for example)

### Actual Behaviour

The path `/ping` path **is**:

[2022-02-15 12:56] timyates commented on #6910
Hiya!  Thanks for the report!

Removing the default values from `Nested` seems to fix the issue... i.e:

[code]

Not sure why the issue is occurring though...  I'll keep looking

[2022-02-15 13:17] timyates commented on #6910
Found it!

This is a duplicate of https://github.com/micronaut-projects/micronaut-core/issues/6534

Due to a change in Kapt https://youtrack.jetbrains.com/issue/KT-47908

Not sure what we can do here, apart from wait until we have an alternative to Kapt

[2022-02-15 13:17] #6910 closed, assigned to nobody

[2022-02-15 14:13] timyates commented on #6917
Do you have a simple example application that demonstrates the issue?

[2022-02-15 17:06] timyates commented on #2322
As of 3.3.2, we have an architecture appendix in the guide describing the inner workings 🎉

https://docs.micronaut.io/latest/guide/index.html#architecture

[2022-02-15 17:06] #2322 closed

[2022-02-15 17:09] graemerocher commented on #2322
soon turned out to be 3 years later, sounds about right 😂

[2022-02-15 17:49] timyates commented on #6575
Hiya!

If you remove the default value from `propertyWithNullDefault`, I get the expected result.

This is a duplicate of https://github.com/micronaut-projects/micronaut-core/issues/6534

Due to a change in the behaviour of Kapt https://youtrack.jetbrains.com/issue/KT-47908

Not sure what we can do here, apart from wait until we have an alternative to Kapt

[2022-02-15 17:49] #6575 closed, assigned to nobody

[2022-02-16 13:34] #4862 closed, assigned to mattmoss

[2022-02-16 13:37] #4308 closed, assigned to mattmoss

[2022-02-16 14:17] nfode opened #6925 "When using micronaut with nginx, nginx does not return a 413 Error Response on too large request headers instead it times out with a 504"
### Expected Behavior

We use nginx as a gateway and use proxy_pass to direct traffic to our micronaut server.

On passing a request with request headers bigger than 8192 bytes to the micronaut server, the server should return a 413 Bad Request and the nginx gateway should pass this status code to the requesting client.

### Actual Behaviour

On passing a request with request headers bigger than 8

[2022-02-16 14:22] graemerocher commented on #6925
Thanks for the great report and write-up, we will investigate

[2022-02-16 15:55] sobesm opened #6927 "micronaut.http.client.max-content-length should be Long"
### Expected Behavior

micronaut.http.client.max-content-length could have values more then 2 GB, see part Readable Bytes in https://docs.micronaut.io/latest/guide/#configurationProperties

maxContentLength should be Long in HttpClientConfiguration

### Actual Behaviour

If micronaut.http.client.max-content-length is set to 2GB then Integer is overflowed and
TRACE i.m.c.e.PropertySourcePropertyRes

[2022-02-16 20:40] #6878 closed, assigned to nobody

[2022-02-17 03:34] siiinc opened #6929 "@Error( status = HttpStatus.NOT_ACCEPTABLE, global = true) does not work"
### Expected Behavior

@Error( status = HttpStatus.NOT_ACCEPTABLE, global = true) annotated method should be run if a request is made with in correct Accept header

[code]

### Actual Behaviour

The method is not used and the default error response is returned

[code]

### Steps To Reproduce

1. Using Launch I made a simple example with version 3.3.3, Java, Maven
2. added a simple controller
3. ru

[2022-02-17 13:59] DARB-CCM-S-20 commented on #5218
Any update? Same problem as @bwollmer

[2022-02-17 21:51] charlie-esper opened #6933 "ServerRequestContext.currentRequest() returns empty in AuthenticationProvider with Jetty"
### Expected Behavior

- ServerRequestContext.currentRequest() should return the HttpRequest object when called from within an AuthenticationProvider

### Actual Behaviour

ServerRequestContext.currentRequest() returns empty, resulting in an error when a @RequestScope bean is referenced in the Authentication provider

### Steps To Reproduce

Create a micronaut app using jetty runtime
Create a bean

[2022-02-17 23:13] altro3 commented on #6595
Hi! I confirm. Same problem.

Micronaut 3.3.3, Command Line Application
GraalVM 22.0.0.2
Windows 10
Visual Studio Build Tools 2022
Gradle 7.4

[2022-02-18 09:37] mwhiting-work commented on #6085
We're experiencing this issue (`java.net.BindException: Address already in use`) when using micronaut-core 3.2.7.

Can we re-open this issue please?

[2022-02-18 09:39] yawkat commented on #6085
@mwhiting-work that error alone just means that another process or thread is already listening on the same port as the server you're trying to spin up. This should not happen if the server is configured with `port: -1`. Is your server configured this way, and if so, can you give a test case to reproduce this issue?

[2022-02-18 14:40] vinmorel opened #6936 "Micronaut Custom Exception Handler handle() not triggered when exception is thrown from a coroutine"
### Expected Behavior

When an exception is thrown from inside a coroutine, I expect that the code inside my handle() function from an ExceptionHandler be run.

### Actual Behaviour

The exception is not caught and the handle function doesn't run.

### Steps To Reproduce

1. create an exception and add a custom exception handler
`DummyException.kt`

[code]

2. Throw this exception from inside a co

[2022-02-18 20:24] MT-Jacobs opened #6938 "Add time zone support for `@Scheduled` annotation using cron"
### Feature description

Here's a hypothetical cron task -

[code]

Next comes the question - what time zone does this use? Unfortunately, it appears to use the default time zone for the application - meaning this will run at one time on a local machine and run at a different time on a cloud server that uses UTC.

Much like how [Spring supports cron time zone overrides](https://www.baeldung.com/sp

[2022-02-21 15:42] mwhiting-work commented on #6085
We were using `port: {$random.port}`, so we've moved to using `port: -1` and will monitor for improvements. Thanks.

[2022-02-21 16:06] markjfisher opened #6942 "Direct Buffers Memory leak in 3.3.1"
### Expected Behavior

The application upgrade from 3.3.0 to 3.3.1 should be deployable to production and not cause memory issues in containers

### Actual Behaviour

The application very quickly causes memory issues and starts dropping requests before eventually failing.

Below are some of our grafana graphs, from production going up from v 3.1.4 through to 3.3.1.
We first noticed the issue last

[2022-02-21 17:34] jameskleeh commented on #6933
You have the request available as an argument. Why are you attempting to use ServerRequestContext ?

[2022-02-21 17:41] jameskleeh commented on #6936
I cannot reproduce this with 3.3.3. Please upload an example that reproduces the issue

[2022-02-21 17:42] jameskleeh commented on #6942
Can you please try 3.3.3?

[2022-02-21 17:45] jameskleeh commented on #6927
Unfortunately this seems like an issue with Netty. All of the places where this configuration is used accept an `int` as the parameter type

[2022-02-21 17:51] markjfisher commented on #6942
I updated the comments above to be more explicit, we did try 3.3.3, and then downgraded to known state and increased versions until it broke, which was 3.3.1, but 3.3.3 was broken too.

[2022-02-21 18:00] jameskleeh commented on #6929
So in this case the route is found, but it is not used because it does not produce what the client is requesting.

I agree that it doesn't make sense in this case because the default response is also not what the client is requesting

[2022-02-21 18:04] vinmorel commented on #6936
Example [here](https://github.com/vinmorel/micronaut-exception-handling-issue)

[2022-02-21 19:14] jameskleeh commented on #6936
My way of reproducing the issue was invalid. Having said that I don't think its possible for us to support this because the exception is not being thrown from the method or being propagated upstream in any way

[2022-02-21 19:29] vinmorel commented on #6936
Ok, thanks for checking it out! It makes sense.

If anyone stumbles upon this in the future, check out the CoroutineExceptionHandler kotlin object.

[2022-02-21 19:29] #6936 closed, assigned to nobody

[2022-02-21 19:33] #6925 closed, assigned to yawkat

[2022-02-21 22:29] nbrugger-tgm commented on #6918
## Workaround
I found a workaround to get the expected result.

Split your project into 2 parts `api` and `service` or `app` where `api` is a micronaut lib that contains all the annotation processed code. And app is ... well, the app and contains the implementation of the api. This is the only reliable way to force annotation processor order, still it would be favorable to work out of the box

[2022-02-22 07:42] yawkat commented on #6942
Can you turn up netty leak detection? https://netty.io/wiki/reference-counted-objects.html#leak-detection-levels

Can't do much with the info in this issue

[2022-02-22 08:59] markjfisher commented on #6942
I'll have a look into that. the issue with providing more data is knowing what to provide, this is only happening obviously in production, so not the easiest to play with, but I'll try a lower environment (which we hadn't noticed this issue in) and see if we can see any problems there with more intense testing. the best we have at the moment is it's the change between 3.3.0 and 3.3.1.

[2022-02-22 09:00] yawkat commented on #6942
fwiw you could also just wait for 3.4 if it's not a huge issue to you, there are a lot of fixes in this direction in #6896

[2022-02-22 09:05] markjfisher commented on #6942
That is probably a good option, saves me spending too much time chasing my tail when there could be a fix in the pipeline. The original update to 3.3.3 was because we were getting vulnerability warnings for 3.1.2 and decided to update "all the things"™, so this isn't a blocker yet for us.

[2022-02-22 10:23] graemerocher commented on #6942
@markjfisher it still concerns me the issue is present in 3.3.x and is a regression from the previous release. If you do have time to enable leak detection and provide the logs that would be great

[2022-02-22 15:10] markjfisher commented on #6942
Does this help? I've enabled it on my local dev instance and hit it with apache bench, then noticed leak messages

[leak.txt](https://github.com/micronaut-projects/micronaut-core/files/8117776/leak.txt)

[2022-02-22 15:26] jameskleeh commented on #6942
@markjfisher That's really helpful. Thank you!

[2022-02-22 15:32] markjfisher commented on #6942
~~same ab run on 3.3.0 doesn't give those errors. i'm just upping the io.netty.leakDetection.targetRecords value and will post full logs on 3.3.3 as i'm not sure if the above is everything (that leak.txt was from 3.3.1).~~

actually, i'm having trouble reproducing this again, so here's the complete log (that contains the above) from that run in case there's anything additional in there for you.

[

[2022-02-22 18:02] charlie-esper commented on #6933
The main issue is that @RequestScope beans throw an exception when referenced from inside the authenticator when using Jetty, though it seems to work fine when using Netty.  The example I gave is a simplified version of what we have in my company's app, where we use a bean with @RequestScope that implements RequestAware.  We use this bean to create an alert event based on conditions in the server

[2022-02-23 08:32] chennavamshikrishna opened #6946 "wildcard for fallback endpoint is not working in @get()"
### Expected Behavior

I created a get endpoint with * as value in a controller.I want to this endpoint to called as a fallback if none of endpoint in a controller matches

### Actual Behaviour

when I tried to endpoint  with value not present in controller fallback endpoint is not getting triggered instead i am getting 404

### Steps To Reproduce

@Get(value=“*”)
public string getValue(){
return

[2022-02-23 08:40] graemerocher commented on #6946
`*` is not a valid uri template https://datatracker.ietf.org/doc/html/rfc6570

[2022-02-23 08:40] #6946 closed, assigned to nobody

[2022-02-23 14:57] sdelamo opened #6952 "GraalVM Native Image generation broken at branch 3.4.x"
### Issue description

Generate an application at [Micronaut Launch](https://micronaut.io/launch)

Set `micronautVersion=3.4.0-SNAPSHOT`
- Add snashot repository:

[code]

Set `graalvmNative.toolchainDetection = true`

[code]

[2022-02-23 15:38] chennavamshikrishna opened #6953 "Fall back endpoint to trigger when there is no specific match in contolller"
### Issue description

Is there any work around for creating fall back endpoint in micronaut

In spring we can achieve by using *.
Can please suggest

[2022-02-23 17:11] yawkat commented on #6952
@sdelamo did the 3.3 merge fix this?

[2022-02-24 09:17] TheBlindM opened #6955 "I want to use @Controller in micronaut-picocli mode, but it doesn't work"
### Feature description

Or is there an operation like Javalin?

[2022-02-24 10:08] #6955 closed, assigned to nobody

[2022-02-24 16:29] sascha-frinken opened #6960 "ClientArgumentRequestBinder does not take precedence"
### Expected Behavior

If I create a bean implementing `ClientArgumentRequestBinder` with a type that has an existing binder, mine should take precedence.

### Actual Behaviour

The original  `ClientArgumentRequestBinder`  takes precedence.

### Steps To Reproduce

1. Create a bean implementing `ClientArgumentRequestBinder<Locale>`
[code]
3. Set a breakpoint in the bind method
4. Create a declarat

[2022-02-25 06:57] jameskleeh commented on #6960
Basically the binder must be one of `AnnotatedClientRequestBinder`, `AnnotatedClientArgumentRequestBinder`, or `TypedClientArgumentRequestBinder`. The registry should be changed to log an error if its not one of those

[2022-02-25 06:59] jameskleeh commented on #6953
Please ask questions in our Gitter channel

[2022-02-25 06:59] #6953 closed, assigned to nobody

[2022-02-25 09:17] sdelamo commented on #6952
It was [merged up](https://github.com/micronaut-projects/micronaut-core/commit/ac29de14e53514da7be882d621326ed86998d6a2) 2 hours ago.

[2022-02-25 09:21] sdelamo commented on #6952
I have triggered the pipeline manually. Fingers crossed 🤞🏻 https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/pipelines/479313905

[2022-02-25 09:53] sdelamo commented on #6952
It failed:

[code]

[2022-02-25 10:09] yawkat commented on #6952
Can you tell what's causing it? the patch worked in 3.3, maybe the snapshot hasnt propagated yet?

[2022-02-25 11:34] sdelamo commented on #6952
Let see if it passes when it executes on Monday morning.

[2022-02-25 13:31] jonnii commented on #6840
We're also running into the same problem, is there anything else we can provide to help diagnose the issue?

[2022-02-25 20:34] siiinc commented on #6929
Is there a better option to override the default micronaut error page/view in all error cases? Either want the service to respond according to the controller or with my own standard error response in all other cases.

[2022-02-25 20:40] jameskleeh commented on #6929
@siiinc The `ErrorResponseProcessor` API allows you control over the response when an error response is being sent. You can override the default implementation with your own

[2022-02-25 22:14] sascha-frinken commented on #6960
Confirm everything working as expected when implementing `TypedClientArgumentRequestBinder`.

[2022-02-25 22:14] #6960 closed, assigned to jameskleeh

[2022-02-26 01:36] lost22git commented on #6623
Netty has a new adjustment for this parameter：

https://github.com/netty/netty/commit/f650303911e308dfdf10761273c2b8e4436ea0a4

[2022-02-26 05:39] j1cs opened #6967 "Error running native image with oauth2 oidc google"
### Expected Behavior

Created the native image should run the app

### Actual Behaviour

After create a native image the program log a warning and the app (on http://localhost:8080) never load (stuck)
The workaround is to put add this annotation in `Application.java`:
[code]
Here's the log:
[code]

### Steps To Reproduce

1. Follow the steps of this guide https://guides.micronaut.io/latest/micron

[2022-02-28 14:59] jameskleeh commented on #6917
Closing due to a lack of feedback

[2022-02-28 14:59] #6917 closed, assigned to nobody

[2022-02-28 15:16] #6942 closed, assigned to yawkat

[2022-03-01 03:22] jameskleeh commented on #6942
@markjfisher Should be fixed in 3.3.4

[2022-03-01 03:26] jameskleeh commented on #6952
@sdelamo I fixed the issue with CachedEnvironment and merged up again

[2022-03-01 10:13] zarebski-m opened #6974 "Router incorrectly uses URLDecoder.decode on path variables"
### Expected Behavior

Given the following endpoint:

[code]

And the following HTTP request:

[code]

The value of `param` should be `param+1`.

### Actual Behaviour

The value of `param` is `param 1`. The `+` character is decoded to a whitespace by `URLDecoder.decode` here:

https://github.com/micronaut-projects/micronaut-core/blob/7e74302d743940ec145f002066fdccfe5a126bac/router/src/main/java/io

[2022-03-01 10:16] yawkat commented on #6974
can't really touch this until 4.0

[2022-03-01 10:19] zarebski-m commented on #6974
Is there a way to work around this? Maybe do `v.replace("+", "%2B")` before calling `URLDecoder.decode`? This can be controlled by some configuration property.

Or could you point me to a method to hook into the router logic and do such workaround by myself?

[2022-03-01 11:21] graemerocher commented on #6974
could make it configurable and allow enabling disabling to go back to the previous behaviour

[2022-03-01 15:12] cheezy64 opened #6975 "HTTP Client - `UriSyntaxException: Illegal character in path` when URI contains spaces"
### Expected Behavior

When building a URI, spaces in path parameters should be escaped or encoded.  E.g.
`http://localhost:34218/api/system/this has a space in it`
should be converted to
`http://localhost:34218/api/system/this%20has%20a%20space%20in%20it`

### Actual Behaviour

Spaces are not escaped, and we get `UriSyntaxException: Illegal character in path` when building the URI.

It looks like

[2022-03-01 15:12] cheezy64 opened #7288 "HTTP Client - `UriSyntaxException: Illegal character in path` when URI contains spaces"
### Expected Behavior

When building a URI, spaces in path parameters should be escaped or encoded.  E.g.
`http://localhost:34218/api/system/this has a space in it`
should be converted to
`http://localhost:34218/api/system/this%20has%20a%20space%20in%20it`

### Actual Behaviour

Spaces are not escaped, and we get `UriSyntaxException: Illegal character in path` when building the URI.

It looks like

[2022-03-01 17:01] jonnii commented on #6840
We just tried updating to 3.3.4 and still see the same issue.

[2022-03-01 17:20] jameskleeh commented on #6840
The cause is ApplicationSettings

It does not make sense to combine `@EachProperty` while using `@Value` on each of the properties. Simply removing `@Value` from the properties allows the code to compile.

[2022-03-01 17:24] pgoergler opened #6976 "Consume Map in multipart form"
### Expected Behavior

Deserialize multipart list in POJO.

2022-03-01 18:17:05,847 > Got: Request[messages={0=Hello world, 1=Hola todos}]
2022-03-01 18:17:05,849 > Got: [{0=Hello world, 1=Hola todos}]

### Actual Behaviour

Lists are not deserialized:

2022-03-01 18:17:05,847 > Got: Request[messages=null]
2022-03-01 18:17:05,849 > Got: null

### Steps To Reproduce

1. With HttpController:
[code]

[2022-03-02 00:28] chrisparton1991 opened #6977 "Multiple paths in @Controller annotation"
### Feature description

I have a requirement to support path-based versioning for my API endpoints. The twist is that a versionless path must also be supported.

Say I have a `/books` endpoint. The following paths need to be accepted:

- `/books`
- `/v1/books`

Future versions (e.g. `/v2/books`) would be implemented as separate controllers, but I would like to bind the versioned and versionless U

[2022-03-02 06:43] sdelamo opened #6978 "Add MQTT Bom to 3.4.x build"
### Issue description

See: https://github.com/micronaut-projects/micronaut-mqtt/pull/128

[2022-03-02 08:51] graemerocher commented on #6977
A subclass that overrides the path?

[2022-03-02 22:25] Brutus5000 commented on #1180
I tried that and the onInitialized event never fires. Sorry I just started working on Micronaut, so maybe you have an idea what I'm doing wrong?

[code]

An "eager loading" approach however works:

[code]

[2022-03-03 08:57] sdelamo opened #6984 "Add GCP module Bom to 3.4.x build"
### Issue description

### Issue description

[See: https://github.com/micronaut-projects/micronaut-mqtt/pull/128](https://github.com/micronaut-projects/micronaut-gcp/releases/tag/v4.1.0)

[2022-03-03 12:16] rajakumar-sg opened #6985 "ProxyHttpClient.proxy() cannot proxy Server-Sent Event stream from backend."
### Expected Behavior

SSEClient connecting to an endpoint that calls  a backend endpoint using ProxyHttpClient.proxy() should raise events same as calling the endpoint directly.

### Actual Behaviour

SSEClient connecting to an endpoint that calls  a backend endpoint using ProxyHttpClient.proxy() does not raise any event except close.

### Steps To Reproduce

Full code to reproduce the problem ht

[2022-03-03 14:11] thaDude commented on #5059
Unfortunate, since ClientCredentialsHttpFilter relies on service ID to automatically add Bearer token to outgoing requests of clients matching a service ID regex, [documentation](https://micronaut-projects.github.io/micronaut-security/2.5.0/guide/index.html#clientecredentialshttpclient).

I'd appreciate hints to work around this issue.

Thanks

/David

[2022-03-03 14:47] thaDude commented on #5059
Really ugly workaround, set the attribute on requests manually.

[code]

[2022-03-03 15:00] timyates commented on #6985
In my tests, hitting the proxy endpoint with the browser did work, but calling it from the javascript console didn't 🤔

It did start the Flux in /real/events though

[2022-03-03 15:46] kristofdho commented on #6085
We recently also ran into this issue while using `${random.port}`, using Micronaut 3.2.4. We've updated to using -1 now too and we'll monitor what happens.
But it seems to occur on ports in the end of the available range for `SocketUtil.findAvailableTcpPort`, which uses `1024-65535` as range. Shouldn't this be `1024-49151`? https://datatracker.ietf.org/doc/html/rfc6335#section-6

[2022-03-03 15:50] yawkat commented on #6085
No, you can bind to ephemeral ports just fine. But either way -1 is the correct way to do it.

[2022-03-03 16:21] #6795 closed, assigned to yawkat

[2022-03-03 16:50] timyates commented on #6985
Curl works too...

[code]

[2022-03-03 18:29] burtbeckwith opened #7129 "Jackson error in native image using OIDC"
### Expected Behavior

_No response_

### Actual Behaviour

[code]

### Steps To Reproduce

I saw this working on the https://github.com/micronaut-projects/micronaut-guides/pull/819 guide. Build the guide, then use the app in `build/code/micronaut-cloud-oidc-oracle/micronaut-cloud-oidc-oracle-gradle-java` to build a native image (`./gradlew nC`).

Export the 3 env vars

[code]

and start the app.

[2022-03-03 22:15] charlie-esper commented on #6933
@jameskleeh Just checking in here - Are @RequestBean scoped beans expected to work from within an AuthenticationProvider?

[2022-03-04 01:18] jameskleeh commented on #6933
@charlie-esper Yes

[2022-03-04 02:12] sdelamo commented on #6978
I have just released [MQTT 2.1.0](https://github.com/micronaut-projects/micronaut-mqtt/releases/tag/v2.1.0)

[2022-03-04 04:21] sdelamo commented on #7129
The [sonar PR](https://github.com/micronaut-projects/micronaut-security/pull/943/files) which will be merged soon

replaces:

https://github.com/micronaut-projects/micronaut-security/blob/master/security-oauth2/src/main/java/io/micronaut/security/oauth2/client/DefaultOpenIdProviderMetadata.java

`@JsonNaming(PropertyNamingStrategy.SnakeCaseStrategy.class)`

with:

`@JsonNaming(PropertyNamingStrate

[2022-03-04 04:22] sdelamo commented on #6952
Pipeline is passing.

[2022-03-04 04:22] #6952 closed, assigned to yawkat

[2022-03-04 08:47] sdelamo commented on #7129
@burtbeckwith I have just released 3.4.1 which incorporates that change. Let me know if it helps.

[2022-03-04 13:13] timyates commented on #6985
So it appears to be newlines getting stripped on the responses...  Investiagtions continue

[2022-03-04 14:23] burtbeckwith commented on #7129
Unfortunately didn't help, the only change is the class name in the stacktrace (`PropertyNamingStrategy$SnakeCaseStrategy` -> `PropertyNamingStrategies$SnakeCaseStrategy`)

[code]

[2022-03-04 14:27] yawkat commented on #7129
probably the same issue: micronaut-projects/micronaut-security#946

[2022-03-04 18:55] LajosPolya commented on #5323
Does the PR give the correct solution? It indicates using `gradleScope="annotationProcessor"` but I had to use `implementation` to remove the warning.

[2022-03-04 20:01] #6985 closed, assigned to timyates

[2022-03-05 09:33] altro3 opened #6993 "[BUG] Exception in native build with jackson deserialization"
### Expected Behavior

Everything should work without errors :-). Must be next logs:
[code]

### Actual Behaviour

Look at the example: now everything works fine if you start the service in the standard way and an error occurs when the service starts in the native build.

Now, when trying to deserialize objects in a native build, such an exception:
[code]

### Steps To Reproduce

I used the json f

[2022-03-05 09:48] altro3 commented on #6993
By the way, if you refuse records and use the standard @JsonCreator, then another error occurs.

Steps to repsroduce:

In class ConfigData change code from records to classes:
[code]
And again, everything works fine with a standard launch, but when I run it in a native build, I see this error (different error):
[code]

[2022-03-06 06:35] sdelamo opened #6994 "Enable quality-reporting Gradle plugin for micronaut-projects"
Adds repositories to sonarcloud and [apply the plugin to PR updating the build to Gradle 7.4](https://github.com/micronaut-projects/micronaut-views/commit/cedaf839b06ba2585084fcc5b9afd622b9a105f8):

- [x] [Micronaut TOML](https://github.com/micronaut-projects/micronaut-toml)
- [x] [Micronaut Elastic Search](https://github.com/micronaut-projects/micronaut-elasticsearch)
- [x] [Micronaut JMX](https:

[2022-03-06 12:15] lost22git commented on #6993
Maybe it's caused by not registering `BeanIntrospectionModule `

[2022-03-06 12:40] altro3 commented on #6993
@test210820 Hi! Thank you for your answer, but no, problem not in this. As you can see, if I do not use GraalVM, then everything works great. That is, the problem occurs only with native build. The second moment - I still checked your version and added this module to my custom mapper:
[code]
 But the miracle did not happen, the behavior of the program did not change

[2022-03-06 18:30] devdeegaw opened #6995 "ApplicationEventPublisher does'nt support generic event type"
### Expected Behavior

I've referred to an event emitter and publisher example given in Micronauts doc : Publishing Events.
Everything works fine if you inject ApplicationEventPublisher of type SampleEvent as below
    @Inject
    ApplicationEventPublisher<SampleEvent> eventPublisher;

However, if SampleEvent implements an interface to make it more generic and inject publisher of type interface it

[2022-03-06 18:44] #6995 closed, assigned to nobody

[2022-03-06 18:50] test210820 commented on #6993
@altro3 This might help your problem https://github.com/micronaut-projects/micronaut-core/pull/6770

[2022-03-07 02:24] sdelamo opened #6996 "Update Micronaut Modules to latest build infrastructure"
### Issue description

- [ ] [Micronaut Core](https://github.com/micronaut-projects/micronaut-core)
- [x] [Micronaut Elastic Search](https://github.com/micronaut-projects/micronaut-elasticsearch)
- [x] [Micronaut JMX](https://github.com/micronaut-projects/micronaut-jmx)
- [x] [Micronaut Micrometer](https://github.com/micronaut-projects/micronaut-micrometer)
- [x] [Micronaut GraphQL](https://github

[2022-03-07 08:42] yawkat commented on #6993
You can't use your own ObjectMapper with native-image right now due to a jackson bug. The workaround for the bug is in #6770, but it only works if you use the ObjectMapper provided by micronaut. Also, as mentioned, you need the BeanIntrospectionModule.

`@ReflectiveAccess` on the bean should work around this issue.

[2022-03-07 10:47] altro3 commented on #6993
@yawkat thanks! I made some chnages in my code after your comment:

1. Use default micronaut objectMapper as a base:
  -   added some common settings to application.yml
[code]
  -   create my own object mapper as a copy of default objectMapper (because I don't want to allow comments anywhere else, only in my config):
[code]
2. Add `@ReflectiveAccess` annotation to my `VariantEnum`

After these cha

[2022-03-07 11:12] yawkat commented on #6993
not sure, if you're using your own object mapper with native image, the presence of micronaut is practically irrelevant. The error itself is a jackson bug though that I plan to fix

[2022-03-07 11:23] altro3 commented on #6993
Understood. Then we are waiting for the Jackson fix

[2022-03-07 14:06] timyates commented on #6996
Just ignite left AFAICT

And after looking at it, there's a question as to whether we just archive it.

I'll bring it up in the engineering meeting tomorrow, if no consensus is reached in gitter

[2022-03-07 14:12] melix commented on #6996
Micronaut Core will be much more complicated to migrate, I will do it.

[2022-03-07 14:43] schrek1 commented on #926
@graemerocher is possible exclude some endpoints e.g. health?

[2022-03-07 14:45] schrek1 commented on #1312
is possible exclude some endpoints e.g. health?

[2022-03-07 17:17] jameskleeh opened #7001 "Unify the different binding APIs"
### Issue description

There are several different APIs implemented in isolation that could be unified to make improvements and fixes apply to all implementations as well as make implementing the functionality for new modules easier.

We should have binding for both to and from objects wherever it makes sense and handle binding to/from arguments as well as method annotations

https://github.com/mi

[2022-03-07 17:21] jameskleeh opened #7002 "Remove need for discovery-client for a custom distributed configuration implementation"
### Issue description

Currently if one wants to write a custom `ConfigurationClient` implementation, it is necessary to add a dependency on `micronaut-discovery-client` because the https://github.com/micronaut-projects/micronaut-discovery-client/blob/master/discovery-client/src/main/java/io/micronaut/discovery/client/config/DistributedPropertySourceLocator.java is in that module.

That class has

[2022-03-08 06:39] sdelamo opened #7006 "Consider dropping Java 8 and 11 as Micronaut 4 baseline"
## Advantages

### Use Latest Java Features

17 baseline for the framework allows us to take advantage of Java feature such as [Java Records](https://openjdk.java.net/jeps/395), [Sealed Classes](https://openjdk.java.net/jeps/409), [Switch Expressions](https://openjdk.java.net/jeps/361), [Text Blocks](https://openjdk.java.net/jeps/378), and [Pattern matching for instanceof](https://openjdk.java.net

[2022-03-08 08:55] melix commented on #7006
For the record, maintaining 2 branches of Micronaut (3 and 4) probably also means 2 branches of the build tools.

[2022-03-08 09:56] sdelamo opened #7010 "Investigate why ReactiveSequenceSpec is flaky in CI for JDK 17"
### Issue description

See: https://github.com/micronaut-projects/micronaut-core/pull/7009

[2022-03-08 10:26] tchiotludo opened #7011 "Memory leak with multithreadEventLoopGroup never closed with http client"
### Expected Behavior

I use [DefaultHttpClient](https://github.com/kestra-io/plugin-fs/blob/b9a325787ab735e5f42b6bfe92f62018835aab06/src/main/java/io/kestra/plugin/fs/http/AbstractHttp.java#L167) on my application.
I've seen an increase of global thread on my application and especially a lot's of Running Thread with name `multithreadEventLoopGroup-XX-X` that is never stop.

After digging, I found

[2022-03-08 14:48] timyates opened #7013 "BeanCreatedEventListener created beans should warn if they have a BeanCreatedEventListener"
### Feature description

If a BeanCreatedEventListener is registered for a type, but that bean itself creates other beans, then those created beans will not fire any BeanCreatedEventListener that is listening for them.

The current fix is to [create the beans lazily](https://github.com/micronaut-projects/micronaut-kubernetes/pull/437), but this is a hard issue to spot and fix, and a warning should

[2022-03-08 23:22] chrisime commented on #5218
I'm experiencing the same problem with my multi-module project.  I'm really wondering why this issue has been closed.

[2022-03-09 11:05] timyates commented on #6984
Closed by https://github.com/micronaut-projects/micronaut-core/pull/6987

[2022-03-09 11:05] #6984 closed, assigned to timyates

[2022-03-09 11:50] sdelamo opened #7022 "Updates to 5.2.3 and release projects with BOM"
Modules with BOM:
- [x] [Micronaut Micrometer](https://github.com/micronaut-projects/micronaut-micrometer)
- [x] [Micronaut Problem-JSON](https://github.com/micronaut-projects/micronaut-problem-json)
- [x] [Micronaut Serialization](https://github.com/micronaut-projects/micronaut-serialization)
- [x] [Micronaut Servlet](https://github.com/micronaut-projects/micronaut-servlet)
- [x] [Micronaut Sprin

[2022-03-09 18:37] ruiminamywang opened #7027 "Illegal character in URI caused the request to hang"
### Expected Behavior

We use zalando logbook

GET /v1/mypath/[ HTTP/2
Host: localhost:8080

The response should be BAD REQUEST or NOT FOUND.

### Actual Behaviour

Two exceptions were raised in the server, and no response was returned.

[code]

### Steps To Reproduce

1. Add zalando logbook to the channel pipeline.

[code]

2. Start the server
`bazel run <target> --jvmopt='-Dmicronaut.environment

[2022-03-09 20:09] bwertman-rc opened #7028 "DefaultHttpClient.proxy ignores connection pool limits"
### Expected Behavior

I would like to limit the active concurrent connections to an upstream server when proxying requests using a `DefaultHttpClient`, preferably by setting a connection limit in its configuration.

Alternately, I could use the normal `exchange` methods on `DefaultHttpClient` (which presumably respect the configured limits) if the proxied request rewriting was extracted into a se

[2022-03-10 06:19] sdelamo opened #7036 "GraalVM Maven test application failed for 3.4.0"
### Issue description

The [GraalVM Pipeline failed for 3.4.0](https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/pipelines/488622138)

Steps to reproduce:

Clone `3.4.x` branch of [`micronaut-graal-tests/micronaut-maven-graal`](https://github.com/micronaut-graal-tests/micronaut-maven-graal/tree/3.4.x)

Generate an execute native image:
[code]
Do request:

`curl -s localhost:8080/hello/

[2022-03-10 09:12] graemerocher commented on #7036
@yawkat can you take a look?

[2022-03-10 09:31] graemerocher opened #7039 "Remove the dependency on caffeine and stop shading it"
### Feature description

We currently shade an old version of Caffeine into Micronaut Core.

This dependency should be removed and the shading removed completely for Micronaut 4

[2022-03-10 09:33] graemerocher opened #7040 "Stop shading ASM into the core module"
### Feature description

ASM is not a runtime dependency and it is currently shaded into the core module, this should be made a direct dependency of the annotation processors or shaded into a shared library that is shared between the compiler implentations

[2022-03-10 09:33] graemerocher opened #7041 "Remove the direct dependency on Jackson"
### Feature description

Jackson should be made an optional dependency and added as a starter feature like any other module.

[2022-03-10 09:35] graemerocher opened #7042 "Remove the direct dependency on SnakeYAML"
### Feature description

SnakeYAML should be an optional feature and a YAML feature added to launch that makes it easy to remove it from the dependency graph.

[2022-03-10 09:40] graemerocher opened #7043 "Move from SLF4j to Java 9+ System.Logger and provide binding for logback out of the box"
### Feature description

Since Java 9 SLF4J is no longer necessary and we should move logging to System.Logger

Ref https://www.baeldung.com/java-9-logging-api

This eliminates the need for an additional dependency

[2022-03-10 09:48] yawkat commented on #7036
This is a dependency divergence issue. According to `mvn dependency:tree`, netty-common has the version 4.1.63.Final, while netty-codec-http has the version 4.1.73.Final. This is the full tree:

[code]

The netty artifacts that use 4.1.73.Final seem to be exactly those that we declare explicitly in our micronaut-bom. However in the micronaut-bom we also import the netty-bom (of the right version,

[2022-03-10 09:51] yawkat commented on #7043
I don't think this is a good idea. The `System.Logger` is pretty limited. Also see [the JEP](https://openjdk.java.net/jeps/264):

Also, since `System.Logger` does not provide an implementation on its own, we would still need logback, which requires slf4j anyway.

[2022-03-10 09:58] graemerocher commented on #7043
Yeah it is just here for consideration, it is pretty obvious at runtime slf4j and logback would still be needed, but if that could be made an optional dependency it means less is needed.

The question is do we need any of the features of these libraries in Micronaut Core.

It is clear that certain features (MDC comes to mind) are required for production level applications

[2022-03-10 10:01] yawkat commented on #7043
We could also make our own logging adapter at that point

[2022-03-11 01:09] chrisparton1991 commented on #6977
I tested the subclass option and that works, thanks.

With the subclass I need to repeat my class-level annotations (e.g. `@ExecuteOn`, `@Secured`) and pass through injected constructor parameters so there's a bit of code duplication involved.

Allowing multiple paths on a single `@Controller` annotation would be an ergonomic improvement, but I have multiple workarounds so I'm happy for this to be

[2022-03-11 05:17] test210820 commented on #7043
just like vertx logging spi，slf4j as provider impl, and default impl is jdk logging?

[2022-03-11 06:29] sdelamo commented on #7036
CI passed. Thanks everyone

[2022-03-11 06:29] #7036 closed, assigned to yawkat

[2022-03-11 08:30] sdelamo opened #7052 "Add Redis module Bom to 3.4.x build"
### Issue description

https://github.com/micronaut-projects/micronaut-redis/releases

[2022-03-11 08:39] yawkat commented on #6977
we could also make `@Controller` repeatable

[2022-03-11 08:42] yawkat commented on #7028
yes the proxy client doesn't participate in connection pooling. pooling for the http client in general needs some work

[2022-03-11 17:36] melix opened #7055 "BOM contains invalid entry"
### Expected Behavior

The BOM should only list valid dependencies.

### Actual Behaviour

The BOM currently contains the following entries:

[code]

Note the duplicate dependency, with the 2d one being invalid.

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

_No response_

### Version

3.3.0

[2022-03-11 19:03] vsapronov opened #7056 "Query array arguments type conversion does not work"
### Expected Behavior

I have the following endpoint in my controller:
[code]
When calling this endpoint via HTTP GET to url: `/dates?date_array=2022-01-01&date_array=2022-02-02` I would expect `dateArray` to be an array of two dates correspondingly.

### Actual Behaviour

The `dateArray` is empty array, no warnings or errors provided. The code in controller prints `0`.

### Steps To Reproduce

1.

[2022-03-11 19:06] vsapronov commented on #7056
Strangely enough the similar setup works for header arguments:
[code]
This ^ just works and able to parse array of dates from headers.

[2022-03-11 19:13] vsapronov commented on #7056
Also everything works for non-array `LocalDate` argument:
[code]
^ This just works fine, and I see how date formatting code was invoked in micronaut-core.

[2022-03-12 03:40] vsapronov commented on #7056
I'm pretty sure the problem is in this line: https://github.com/micronaut-projects/micronaut-core/blob/3.3.x/http/src/main/java/io/micronaut/http/bind/binders/QueryValueArgumentBinder.java#L91
[code]
It works only for non-array query params. If the argument in `context` is of array type like in my case it's `LocalDate[]` then this line make some absurd.

[2022-03-14 09:12] timyates commented on #7052
Fixed in https://github.com/micronaut-projects/micronaut-core/pull/7054

[2022-03-14 09:12] #7052 closed, assigned to timyates

[2022-03-14 09:19] timyates commented on #6978
Fixed in https://github.com/micronaut-projects/micronaut-core/pull/7021

[2022-03-14 09:19] #6978 closed, assigned to timyates

[2022-03-14 09:41] schrek1 commented on #6681
is any progress with it?

[2022-03-15 04:57] agugan commented on #6519
Hi @nrsina The fix  has now landed in Micronaut 3.3.4. Can you please check and let us know?

[2022-03-15 08:31] sdelamo opened #7068 "could not resolve SQL bom"
### Issue description

[GraalVM pipeline started failing](https://storage.googleapis.com/gitlab-gprd-artifacts/48/05/4805636ff3aae40ba81ce4a81a2b4b5e6ea10a2b300adc4cf9b04040c3685447/2022_03_15/2203206354/2399788997/job.log?response-content-type=text%2Fplain%3B%20charset%3Dutf-8&response-content-disposition=inline&GoogleAccessId=gitlab-object-storage-prd@gitlab-production.iam.gserviceaccount.com&Si

[2022-03-15 08:33] sdelamo commented on #7068
this PR looks like the first culprit candidate https://github.com/micronaut-projects/micronaut-sql/pull/535

[2022-03-15 08:35] sdelamo opened #7070 "Version Catalogues in every module"
### Issue description

Some modules are using [Gradle Version Catalogues](https://docs.gradle.org/current/userguide/platforms.html#sec:version-catalog-plugin).

- [x] [Micronaut ACME](https://github.com/micronaut-projects/micronaut-acme)
- [x] [Micronaut AOT](https://github.com/micronaut-projects/micronaut-aot)
- [x] [Micronaut AWS](https://github.com/micronaut-projects/micronaut-aws)
- [ ] [Micro

[2022-03-15 08:36] sdelamo commented on #7070
I am worried that using version catalogues leaves us without automatic dependency updates. I think Dependabot does not work with them.

[2022-03-15 08:38] melix commented on #7068
mmm, this is a fairly unusual error, since it makes Gradle itself fail :/

[2022-03-15 08:38] sdelamo commented on #7070
@micronaut-projects/core-developers thoughts?

[2022-03-15 08:40] sdelamo opened #7071 "Add MongoDB BOM to core"
### Issue description

see: https://github.com/micronaut-projects/micronaut-mongodb/issues/277

[2022-03-15 08:50] dstepanov commented on #7070
We might want to consider to switch to the alternative to dependabot @melix had suggested

[2022-03-15 09:10] melix commented on #7068
Early investigations seem to indicate a Gradle bug in importing BOMs...

[2022-03-15 09:15] alvarosanchez commented on #7070
I made the same suggestion way before, but it didn't seem to get much attention: https://github.com/micronaut-projects/micronaut-build/issues/97

[2022-03-15 09:38] melix commented on #7068
I would suggest we revert the PR above while I investigate the issue, since I suspect it will require a bugfix in Gradle.

[2022-03-15 10:39] timyates commented on #7068
@melix have you got this one?  Shout if I can help

[2022-03-15 11:03] melix commented on #7068
@timyates I'm trying to figure out what is causing this, it's not easy to reproduce outside of this particular BOM. Feel free to revert the commit in the meantime.

[2022-03-15 12:05] timyates commented on #7068
@melix @sdelamo Reverted in https://github.com/micronaut-projects/micronaut-sql/pull/573

[2022-03-15 13:00] melix commented on #7068
Thanks @timyates . I just managed to confirm it's a Gradle bug.

[2022-03-15 18:15] pavelfomin opened #7077 "Support loading of selected beans from external library in micronaut"
### Feature description

When a micronaut library is created using `io.micronaut.library` plugin, _all_ of the bean definitions are added to `META-INF/services/io.micronaut.inject.BeanDefinitionReference`. As the result, when such library is added to a micronaut application _all_ of its beans are imported. While it might be a reasonable default behavior, there is frequently a need for an applicati

[2022-03-15 23:26] sdelamo commented on #7068
Thanks for looking into this @melix

[2022-03-16 07:57] #7068 closed, assigned to timyates, melix

[2022-03-16 08:37] sdelamo opened #7082 "Cassandra GraalVM Test fails with com.datastax.oss.driver.internal.core.util.DependencyCheck initialised at build time"
Steps to reproduce:

[code]

https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2209434412/raw

[code]

[2022-03-16 08:45] sdelamo opened #7083 "GraalVM test com.microsoft.sqlserver.jdbc.SQLServerDriverStringProperty intialized at build time"
Steps to reproduce:

- Clone [micronaut-data-jdbc-graal](https://github.com/micronaut-graal-tests/micronaut-data-jdbc-graal)
- switch to branch '3.4.x_sqlserver`
- `./build-native-image.sh`

https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2208555255

[code]

[2022-03-16 08:49] yawkat commented on #7077
You can configure which beans to load using ApplicationContextBuilder

[2022-03-16 08:51] sdelamo opened #7084 "GraalVM Jooq Postgres failed org.jooq.SQLDialect unintentionally initialized at build time"
### Issue description

Steps to reproduce:

- Clone [`micronaut-jooq-graal`](https://github.com/micronaut-graal-tests/micronaut-jooq-graal)
- checkout branch `3.4.x_postgres`
- `./build-jooq-postgres.sh`

https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2208553736
[code]

[2022-03-16 08:55] sdelamo opened #7085 "GraalVM Data test failure: should not reach here: class net.bytebuddy.build.HashCodeAndEqualsPlugin"
### Issue description

Steps to reproduce:

- Clone [micronaut-data-jpa-graal](https://github.com/micronaut-graal-tests/micronaut-data-jpa-graal)
- switch to branch '3.4.x_mariadb`
- `./build-native-image.sh`

https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2208558955

[code]