[2022-07-22 07:10] sdelamo opened #7719 "Update to Apache Groovy 4"
### Issue description

see: https://groovy-lang.org

see: https://github.com/micronaut-projects/micronaut-groovy/issues/322

[2022-07-22 07:15] sdelamo opened #7720 "Remove deprecated code for Micronaut 4"
Per module tasks:

- [ ] Create a Mayor version branch
- [ ] Target that branch to 4.0.x by setting `githubCoreBranch`
- [ ] Remove deprecated code in that branch.
- [ ] Set micronaut version to 4.0.0-SNAPSHOT
- [ ] Set micronautTest version to 3.5.0
- [ ] Add snapshot repos where necessary (this might include `dependencyResolutionManagement` in `settings.gradle`, and make sure `docs` and `testCod

[2022-07-22 07:30] sdelamo opened #7721 "Consider removing SnakeYAML dependency from core and default to properties"
### Issue description

If the user selects `yaml` feature in starter the SnakeYAML dependency would be added. Applications would be configured using `properites` by default.

[2022-07-22 07:44] sdelamo opened #7722 "If Java 17 baseline, consider using sealed classes in the `@Internal` classes"
### Issue description

Relates  #7006

see: https://docs.oracle.com/en/java/javase/15/language/sealed-classes-and-interfaces.html

- [ ] [Micronaut TOML](https://github.com/micronaut-projects/micronaut-toml)
- [ ] [Micronaut Elastic Search](https://github.com/micronaut-projects/micronaut-elasticsearch)
- [ ] [Micronaut JMX](https://github.com/micronaut-projects/micronaut-jmx)
- [ ] [Micronaut Micr

[2022-07-22 07:57] sdelamo opened #7723 "Support CDI Lite"
https://www.cdi-spec.org
https://jakarta.ee/specifications/cdi/4.0/jakarta-cdi-spec-4.0#_cdi_lite

[2022-07-22 08:13] sdelamo commented on #7721
Duplicate fo https://github.com/micronaut-projects/micronaut-core/issues/7042

[2022-07-22 08:13] #7721 closed, assigned to nobody

[2022-07-22 08:29] sdelamo opened #7724 "Consider Project Loom Support"
### Issue description

Allow support for configuring VirtualThreadPool when configuring `micronaut.executors`. This way you could configure the I/O thread pool or the Netty worker thread pool to use Virtual threads instead of traditional thread pools

https://cr.openjdk.java.net/~rpressler/loom/Loom-Proposal.html

[2022-07-22 08:31] yawkat commented on #7699
@sdelamo what's the current timeline for 3.6? I think the netty issue will take a while still, we could implement my workaround for 3.6. it involves copying the relevant classes from netty and adjusting their behavior, so it's a bit hacky, but we could remove them again once the issue is fixed on the netty side.

[2022-07-22 08:34] sdelamo opened #7725 "Consider exposing Flow API in public interfaces instead of Reactive Stream Specification types"
https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/concurrent/Flow.html

[2022-07-22 08:41] #7677 closed, assigned to yawkat

[2022-07-22 08:44] #7685 closed, assigned to nobody

[2022-07-22 08:46] yawkat commented on #7685
@eratio08 please test with the patch (snapshot builds nightly). reopen this if the issue persists

[2022-07-22 08:58] sdelamo opened #7726 "Remove the dependency on Reactive Streams from core/inject"
There are scenarios where you want to use DI, but you don't should have a dependency on reactive streams. For example, you are building a Lambda function or a CLI.

You will get the reactive streams dependency if you want to use features such as Micronaut HTTP Server netty or the Micronaut HTTP Client.

[2022-07-22 09:03] graemerocher commented on #7699
@yawkat a temporary workaround implementation is ok

[2022-07-22 09:11] timyates opened #7727 "Remove shadowed managed dependencies in core"
### Issue description

To maintain catalog compatibility, we have a few managed dependencies in core that are imported by the BOMs of other modules.  For example:

- swagger
- reactor
- spring
- springboot
- etc

There are more than this.

For 4.0.0 we can break catalog compatability, and we should simplify this by removing the duplication from core.

This also means we can have the versions defin

[2022-07-22 11:54] eratio08 commented on #7685
Will do so!

[2022-07-25 05:04] sgammon opened #7737 "Module exports issue with GraalVM EE 22.2.x"
### Expected Behavior

A project that builds fine under GraalVM CE should build fine under GraalVM EE

### Actual Behaviour

Instead, errors of the following type are observed:
[code]

### Steps To Reproduce

1. Download a fresh Micronaut project from launch.micronaut.io with the following settings:
  - **Java version:** JDK17
  - **Language:** Kotlin
  - **Build:** Gradle Kotlin
  - **Features:**

[2022-07-25 05:05] sgammon commented on #7737
I was able to work around this by adding the following flags to the `native-image` invocation:
[code]

Handy copy/paste for anyone encountering this, in Kotlin DSL:
[code]

[2022-07-25 07:21] graemerocher commented on #7737
@melix related issue? Perhaps we need to update the flags?

[2022-07-25 07:27] melix commented on #7737
This is fixed in the Gradle plugin release 3.5.1.

[2022-07-25 10:50] andrey-kozel commented on #7699
Could you tell us, please, when it is going to be released?

[2022-07-25 11:26] yawkat commented on #7699
with 3.6

[2022-07-25 12:35] andrey-kozel commented on #7699
I mean, may be you have some timeline for this release?

[2022-07-25 12:50] sdelamo commented on #7699
We target by the end of this week.

[2022-07-25 13:09] andrey-kozel commented on #7699
Thank you!

[2022-07-25 13:43] bawarren44 commented on #7711
I am new to Micronaut but I would like to take a shot at this

[2022-07-25 15:50] eratio08 commented on #7685
@yawkat Issues seems to be resolved, great! ✅

[2022-07-25 20:21] sgammon commented on #7737
yep, updating the sample fixes it. it looks like the launcher is creating projects which use `3.4.1` still. i've updated the title of this bug accordingly, thank you for the quick response 👍🏻

[2022-07-26 07:26] sdelamo opened #7738 "GraalVM 22.2 llegalAccessError: class.... in unnamed module"
Every test project in the GraalVM Test suite 3.6.x-dev which [uses GraalVM branch `release/graal-vm/22.2`](https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/commit/86060aabf52133091befc3148bde1a24adc2443e)  fails with:

[code]

see: https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2769223309

Test applications use [Micronaut Gradle Plugin 3.5.1](https://github.com/mic

[2022-07-26 08:35] alvarosanchez commented on #7738
This was supposedly fixed in https://github.com/micronaut-projects/micronaut-gradle-plugin/pull/507 which was included in 3.5.1 /cc @melix

[2022-07-26 08:41] #7701 closed, assigned to dstepanov

[2022-07-26 12:55] jaecktec opened #7740 "Cloud Platform detection fails for Fargate when provisioner decides to run on bare-metal"
### Expected Behavior

When running Micronaut in AWS Fargate
and Fargate choses an EC2 bare metal instance (e.g. [M5D](https://aws.amazon.com/ec2/instance-types/))

Micronaut still detects, that it's running in the cloud.

### Actual Behaviour

since `/sys/devices/virtual/dmi/id/bios_vendor` is empty, micronaut won't detect that it's running in the cloud

### Steps To Reproduce

That's a tricky on

[2022-07-26 13:09] graemerocher commented on #7740
The solution is to explicitly set the environment for your deployment

[2022-07-26 13:10] jaecktec commented on #7740
I know. But would you consider this a bug? bare-metal instances are also EC2, therefore the detection as implemented as in
[DefaultEnvironment](https://github.com/micronaut-projects/micronaut-core/blob/20e29a27638e2c67e5a070b9ebd618c94fe5ed5b/inject/src/main/java/io/micronaut/context/env/DefaultEnvironment.java#L956) is not working for these cases

[2022-07-26 13:26] jaecktec commented on #7740
using the environment variable as mentioned in [this stackoverflow](https://stackoverflow.com/a/54241697) would also reduce the complexity of the code (detecting on which OS we're running)

[2022-07-26 15:00] alvarosanchez commented on #7740
We never supported officially Fargate, so if anything, this looks like an improvement to me.

Is the `AWS_EXECUTION_ENV` variable officially documented somewhere? I couldn't find it.

[2022-07-26 15:01] jaecktec commented on #7740
Me neither, just for the [lambda use case](https://docs.aws.amazon.com/lambda/latest/dg/configuration-envvars.html)

[2022-07-26 15:04] alvarosanchez commented on #7740
Then I don't think we should use that. Pinging @msailes just in case.

Anyway, the workaround described by @graemerocher would be the most efficient option.

[2022-07-26 15:10] jaecktec commented on #7740
yes, we've used that for now. I will research a bit to see if `AWS_EXECUTION_ENV` is documented in relation to fargate somewhere. Should we keep this issue open and treat it as a feature or should I open a new one?

[2022-07-26 15:39] msailes commented on #7740
I think the way to do this would be with the ECS meta data service
 https://docs.aws.amazon.com/AmazonECS/latest/userguide/task-metadata-endpoint-v4-fargate.html

It has a launch type.

But I appreciate you might not want to make network calls for this action.

[2022-07-26 15:52] alvarosanchez commented on #7740
Yeah, we used to query the Metadata Service at the beginning of times, but have switched to other ways where possible.

@jaecktec we can keep this issue

[2022-07-27 05:49] sdelamo commented on #7490
what is the status of this?

[2022-07-27 07:26] yawkat opened #7746 "Remove workaround for netty MixedFileUpload refcnt issue once an upstream patch is available"
### Issue description

https://github.com/netty/netty/issues/12627

[2022-07-27 09:12] timyates commented on #7490
This can be closed, swagger removal is for 4.0.0 and is tracked here https://github.com/micronaut-projects/micronaut-core/issues/7727

[2022-07-27 09:12] #7490 closed, assigned to timyates

[2022-07-27 10:14] orkunozbek-gopuff opened #7748 "Request Scope Object Memory Leak starting Micronaut 3.5.0"
### Expected Behavior

Objects annotated with `@RequestScope` should not left in heap when the request is completed. `

### Actual Behaviour

`RequestScope` Objects can not be collected from heap when all the traffic is handled by the server (even after full gc)
<img width="1076" alt="Screen Shot 2022-07-26 at 18 39 09" src="https://user-images.githubusercontent.com/82052027/181049661-b2d2708f-e07

[2022-07-27 10:24] musketyr opened #7749 "Do not set CLOUD environment for GitHub runners and/or any test environment"
### Feature description

We are starting to experiment with self-hosted GitHub runners and some tests are starting to fail because when running tests on GitHub Runners are hosts on EC2 therefore the `CLOUD` environment is deduced. From my point of view it would make sense not to deduce the additional environments within tests.

To get you into context, we are a having a couple of test/local implem

[2022-07-27 17:17] alvarosanchez commented on #7749
So are you expecting Micronaut to detect that it's running on a "CI environment", in which case, it won't set the `CLOUD` environment?

How would we detect that an application is running "on GitHub runners and/or any test environment"? Seems a scope too broad.

[2022-07-27 17:19] musketyr commented on #7749
Indeed. I guess the most simplistic solution would be not to deduce additional environments once `test` environment is detected. At least the cloud ones.

[2022-07-28 07:10] dstepanov commented on #7749
You can disable it using `deduceEnvironment`: `Micronaut.build().deduceEnvironment(false).run()`.
I think we are going to remove automatic deduction in V4.

[2022-07-28 07:11] perococco opened #7757 "Error in the Javadoc of io.micronaut.http.annotation.Consumes"
### Issue description

The javadoc of the Consumes annotation starts with :

`<p>An annotation to indicate the {@link io.micronaut.http.MediaType}s produced by a particular component.</p>`

It should be :

`<p>An annotation to indicate the {@link io.micronaut.http.MediaType}s consumed by a particular component.</p>`

i.e. it should be **consumed** instead of **produced**.

[2022-07-28 07:12] musketyr commented on #7749
thank you @dstepanov! is there something I can do for `@MicronautTest` test cases?

[2022-07-28 08:09] dstepanov commented on #7749
Ah right, you have a test... The other way would be to disable it using a system property

[2022-07-28 08:33] graemerocher opened #7758 "Disable environment deduction by default in Micronaut 4.0"
### Issue description

Micronaut currently by default attempts to deduce the cloud environment it is running, whilst convenient this is comes at a performance cost and also is potentially not secure since the logic to deduce the environment has to probe remote endpoints.

This functionality should be disabled by default and enabled on a case by case basis by the developer.

[2022-07-28 09:26] #7748 closed, assigned to dstepanov

[2022-07-29 07:15] juntch opened #7765 "Micronaut can't be used from C:\Program Files without error"
### Expected Behavior

Running the command mn --version from a terminal displays the micronaut cli version number.

### Actual Behaviour

An Exception gets thrown and the stacktrace ist printed to the console.

### Steps To Reproduce

1. run the following command in a cmd-terminal
mn --version
2. observed error
Exception in thread "main" java.lang.IllegalArgumentException: java.lang.IllegalArgumen

[2022-07-29 10:40] #7421 closed, assigned to nobody

[2022-07-29 11:59] timyates commented on #7523
With 3.6.0-SNAPSHOT, I can successfully switch back `micronaut-tracing` to

[code]

Closing this as done

[2022-07-29 11:59] #7523 closed, assigned to nobody

[2022-07-29 13:16] #7738 closed, assigned to nobody

[2022-07-29 13:25] sdelamo opened #7774 "Management Test App fails for GraalVM 22.2"
### Issue description

see: https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2789452427
see: https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2789642886

[2022-07-29 13:55] timyates commented on #7774
So `"system.load.average.1m"` is the missing metric name...

Looking for it's removal

[2022-07-29 14:09] timyates commented on #7774
So this was fixed in 22.2 here: https://github.com/oracle/graal/issues/3289

Which is why we now see the metric (as micrometer can now get the value)

[2022-07-29 14:15] timyates commented on #7774
https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/merge_requests/7

[2022-07-29 14:15] #7774 closed, assigned to nobody

[2022-07-29 22:34] sdelamo opened #7777 "Document Micronaut Nullability annotations"
Document that Micronaut Nullability annotations can be used to convey nullability and help with Kotlin interoperability (https://kotlinlang.org/docs/java-interop.html#nullability-annotations), code documentation and IDE integration.

Micronaut `@Nullable` can be used to tell that an injection endpoint (A bean of that type may not exist) or configuration injection  is optional.

Constraint `@NotNul

[2022-07-30 13:29] jaecktec commented on #7740
I've found this one in the java sdk javadoc:

https://sdk.amazonaws.com/java/api/latest/software/amazon/awssdk/core/SdkSystemSetting.html#AWS_EXECUTION_ENV

[2022-07-30 13:59] mrwilby opened #7786 "thrown io.micronaut.http.codec.CodecException does not invoke exception mappers"
### Expected Behavior

In 1.x, when a CodecException was thrown, exception mappers were invoked. This is the expected behavior.

### Actual Behaviour

In 3.5.3, when CodecException is thrown, the exception mappers are never invoked, and instead io.micronaut.http.server.RouteExecutor#createDefaultErrorResponse is invoked.

### Steps To Reproduce

[code]

### Environment Information

_No response_

[2022-07-30 14:01] mrwilby commented on #7786
Call stack when CodecException is thrown:

[code]

`e` is of type JacksonMappingException

[code]

That then (only, and unexpectedly) invokes RouteExecutor:

[code]

[2022-07-31 08:27] Kidlike opened #7795 "Customizing x-www-form-urlencoded request body in HTTP Client"
## Problem

I'm trying to make an `x-www-form-urlencoded` HTTP request, with attribute names that don't follow Java's conventions, because of a 3rd party that uses snake_case.

I try to illustrate this in the following code snippet, by using `@JsonProperty("some_attribute")` **(note: this is not working)**.

Link to sample repo: https://github.com/Kidlike/mn-form-urlencoded-jackson

[code]

## Inv

[2022-08-01 00:19] BrentDouglasB1 opened #7798 "Micronaut unconditionally enables permessage-deflate in websocket client"
### Expected Behavior

I should be able to run without per message deflate enabled.

### Actual Behaviour

Per message deflate is enabled unconditionally here
[https://github.com/micronaut-projects/micronaut-core/blame/3.5.x/http-server-netty/src/main/java/io/micronaut/http/server/netty/HttpPipelineBuilder.java#L252](https://github.com/micronaut-projects/micronaut-core/blame/3.5.x/http-server-nett

[2022-08-01 00:25] BrentDouglasB1 commented on #7798
I guess its more here thats causing the issue
https://github.com/micronaut-projects/micronaut-core/blob/c0d9cbadd591a67e354f31d5353eb4ea9d48b303/http-client/src/main/java/io/micronaut/http/client/netty/DefaultHttpClient.java#L952
rather than the server implementation.

[2022-08-01 01:35] BrentDouglasB1 commented on #7798
I think this should either
1. Allow disabling this completely with a config property; or
2. Provide a mechanism to override the WebSocketExtensionFilter to allow configuring this on a frame by frame basis; or
3. Both

[2022-08-01 03:04] jayamrutkar opened #7799 "Request Header Not Carry Forwarded In Controller"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2022-08-01 05:58] #7799 closed, assigned to nobody

[2022-08-01 05:59] jayamrutkar commented on #7799
Working as expected. No issue.

[2022-08-01 07:07] alvarosanchez commented on #7740
"... automatically set **in certain environments**..." still brings doubts.

Also, bear in mind that the [future direction is to disable environment detection by default](https://github.com/micronaut-projects/micronaut-core/issues/7758).

[2022-08-01 08:04] yawkat commented on #7798
duplicate of #7711

[2022-08-01 08:20] yawkat commented on #7795
#1853

[2022-08-01 08:22] Kidlike commented on #7795
thanks for this... I actually searched and couldn't find anything :(

[2022-08-01 09:18] JoeBeeContrast opened #7802 "PR build failed"
### Issue description

hello
Can someone take a look at the build for PR https://github.com/micronaut-projects/micronaut-core/pull/7577 the build failed due to a sonarqube token issue. But I'm not able to rerun the build. And so cannot progress the PR

[2022-08-01 09:23] graemerocher commented on #7802
you can ignore the sonarqube build for the moment. But the PR is still failing due to binary incompatible changes

[2022-08-01 09:33] #7802 closed, assigned to nobody

[2022-08-01 11:52] #7798 closed, assigned to nobody

[2022-08-01 15:06] jaecktec commented on #7740
hmm ok. I guess adding the profile would be enough. If it was disabled I'd be also happy :)

[2022-08-01 15:06] #7740 closed, assigned to nobody

[2022-08-01 16:03] #7757 closed, assigned to nobody

[2022-08-01 16:33] sdelamo opened #7805 "Move GraalVM Metadata from Micronaut Core and Modules to GraalVM Reachability Metadata"
Migrate  metadata from Micronaut core for all the modules we support to  https://github.com/oracle/graalvm-reachability-metadata

- [x] [Micronaut TOML](https://github.com/micronaut-projects/micronaut-toml)
- [ ] [Micronaut Elastic Search](https://github.com/micronaut-projects/micronaut-elasticsearch)
- [ ] [Micronaut JMX](https://github.com/micronaut-projects/micronaut-jmx)
- [ ] [Micronaut Micro

[2022-08-01 16:37] melix commented on #7805
To be clear, the reachability metadata repository should talk about libraries themselves and not the transitives, as far as I understand. So when we say "migrate Micronaut SQL" for example, it actually means looking at the features we have, the configuration files we have, and split them across as many configuration files as we need for external modules (e.g if the configuration for Micronaut SQL

[2022-08-01 19:09] debuglevel opened #7806 "Tests in github.com/micronaut-graal-tests repositories fail"
### Expected Behavior

The test in <https://github.com/micronaut-graal-tests/micronaut-data-jpa-graal/tree/3.5.x_h2/src/test/java/example> should work with `./gradlew nativeTest` (or, for a start, with `./gradlew test`).

This is might be the case for most repositories.

### Actual Behaviour

The tests fail due to `javax` dependencies et cetera. They seem untouched for quite some time.

I understa

[2022-08-02 05:36] sdelamo opened #7811 "doc: Create What's new section for 3.6.0"
### Issue description

https://github.com/micronaut-projects/micronaut-core/blob/3.5.x/src/main/docs/guide/introduction/whatsNew.adoc

[2022-08-02 11:27] aglumova commented on #7699
@sdelamo Could you please share the timeline for this release with the fix?

[2022-08-02 11:39] yawkat commented on #7699
The plan is today

[2022-08-02 13:05] #7594 closed, assigned to nobody

[2022-08-02 20:18] subash89 opened #7819 "No embedded container found when micronaut-runtime added transitively"
### Expected Behavior

I have a java maven library which has micronaut Application(main method) and pretty much everything. And I use that library as a maven dependency in a separate application project. When I try to run mvn mn:run

10:52:26.046 [main] INFO  io.micronaut.runtime.Micronaut - No embedded container found. Running as CLI application

This only works if I directly add micronaut-runtim

[2022-08-03 08:39] yawkat commented on #7819
it just means there's no http server or similar present in the micronaut application. it's not an error.

[2022-08-03 08:39] #7819 closed

[2022-08-03 11:39] bivapa opened #7830 "Form data parameter names are being transformed when the form is bound to a POJO"
### Expected Behavior

When I bind form data to a POJO, I expect the original parameter names to be preserved for deserialization.

### Actual Behaviour

When I bind form data to a POJO, the original parameter names are decapitalized and dehyphenated before deserialization occurs.

### Steps To Reproduce

Controller:
[code]
POJO:
[code]

1. Send the form data 'UserId=Bob' to the endpoint
`curl --l

[2022-08-03 12:53] andrey-kozel commented on #7699
Was the release postponed for some reasons?

[2022-08-03 12:54] yawkat commented on #7699
Yes. Please be patient. It's not going to release any faster from asking.

[2022-08-03 13:22] subash89 commented on #7819
@yawkat It works all well when I add micronaut-runtime dependency to my pom.xml.  But issue is when I don't have any micronaut-* dependencies in my pom.xml but only one dependency

**project-y pom.xml**
Here I have Micronaut Main method, all micronaut dependencies etc.

**project-x pom.xml**
This project use project-y and provide the jaxrs resource class.

[code]

And inside this project I do mvn

[2022-08-03 15:02] yawkat commented on #7819
@alvarosanchez think this might be related to maven? i would think the classpath for both setups would be basically the same.

[2022-08-03 17:59] subash89 commented on #7819
@yawkat  found something else also related. Even after adding direct dependency I can start micronaut.
There's a @Singleton class in project-y. And if I try to inject that in my project-x's jaxrs resource class, it will complain

[code]

I think for same reason, things in a different project/dependency, it does not like it. Even singletons.

Is there any set of dependencies that micronaut does not

[2022-08-03 20:52] alvarosanchez commented on #7819
@subash89 the setup you are trying is not really supported. The Micronaut Maven Plugin has only been tested when added to Micronaut applications.

That said, if you share a reproducible example, I can take a look

[2022-08-04 03:39] hittlle opened #7837 "micronaut openapi/swagger component cannot handle @Version"
### Expected Behavior

I created two endpoints, and enabled OpenAPI and swagger UI.
`
    @ApiResponses(
        value = [
            ApiResponse(
                responseCode = "200", description = "v1",
                content = [
                    (
                            Content(
                                mediaType = "plain/text"
                            )

[2022-08-04 06:34] sdelamo commented on #7811
closed via https://github.com/micronaut-projects/micronaut-core/commit/d5846b3d984cb4efe9a02fafa6a00444e89a1067

[2022-08-04 06:34] #7811 closed, assigned to sdelamo

[2022-08-04 10:02] hittlle commented on #997
How can I integrate this feature with swagger/openapi if I use the header-based approach for versioning? I assume that I can see only one endpoint there in swagger UI? how to group different version of API endpoints like we do with SprintBoot GroupedOpenApi? thanks.

[2022-08-04 13:08] subash89 commented on #7819
@alvarosanchez Thanks for the response. I am preparing a project to recreate this easily. Meanwhile can you tell me whether we must use micronaut maven plugin ? Is there any other way like a creating a shaded jar and run it like java -jar?
(I tried that too, it complains about some invalid signature of the manifest of the jar).

[2022-08-04 15:30] alvarosanchez commented on #7819
Running a shaded jar works, but again, this is only supported when using the Micronaut Maven Plugin

[2022-08-04 17:37] subash89 commented on #7819
Can you clarify a bit ? My understanding was, micronaut maven plugin does not need a shade plugin.  Is there any example project I can refer to

[2022-08-04 19:26] subash89 commented on #7819
[projecty.zip](https://github.com/micronaut-projects/micronaut-core/files/9262714/projecty.zip)
[projectx.zip](https://github.com/micronaut-projects/micronaut-core/files/9262715/projectx.zip)

Added two projects as in the above scenario.
1. Build project x.(mvn clean install)
2. Go inside projectx and  do mvn mn:run
3. Then curl -i  --header "AppId: 123"   http://localhost:8080/hello

This will th

[2022-08-05 07:02] sdelamo commented on #7806
please note that the way we test those repositories is by [building a native image of the app](https://github.com/micronaut-graal-tests/micronaut-data-jpa-graal/blob/3.6.x_h2/build-native-image.sh), [starting the app and doing a curl request](https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/blob/3.6.x-stable/test-data-jdbc-h2.sh).

but we should fix the test. However we don't really u

[2022-08-05 07:04] sdelamo commented on #7830
Please note that @JsonPropery is only used for JSON payloads. You are sending a form url encoded request

[2022-08-05 08:13] bivapa commented on #7830
According to the documentation, jackson bindings for form data should work the same as for JSON payloads.
https://docs.micronaut.io/latest/guide/#formData

But in general, this is not about the @JsonProperty annotation specifically. The structure fed to deserialization always contains already transformed keys.
For example, for the following custom jackson deserializer the result is the same.
[code

[2022-08-07 06:36] jesperancinha opened #7856 "Migration bump micronaut-parent from 3.5.4 to 3.6.0 - disableFork not found."
### Expected Behavior

Either working or with clear breaking changes

### Actual Behaviour

It fails with an exception that mentions something about a fork method that it doesn't find. I have no idea what to do, but this looks like a bug to me:

[code]

### Steps To Reproduce

Just try to build this project on the migration branch:

https://github.com/jesperancinha/buy-odd-yucca-concert/tree/depen

[2022-08-07 07:52] sdelamo commented on #7856
can you look into this @yawkat ? I know you work [on this area](https://github.com/micronaut-projects/micronaut-core/pull/7608).

[2022-08-07 07:54] sdelamo commented on #7830
Please, note that `@JsonProperty`has never worked for form data.  https://github.com/micronaut-projects/micronaut-core/issues/1853

[2022-08-07 07:55] sdelamo commented on #7830
I am not sure we should support JSON annotations for things that are not JSON payloads.

[2022-08-07 07:58] #7806 closed, assigned to nobody

[2022-08-08 07:16] musketyr opened #7858 "Ability to await for execution of all @Async methods"
### Feature description

We are trying to move non-business related code into async event listeners but when we are running AWS functions then some of the methods annotated with `@Async` are not executed because the Lambda is put into sleep mode before the code is finished.  We we able to make this work with a following snippet:

[code]

This is pretty primitive approach and I wonder if there coul

[2022-08-08 07:17] graemerocher commented on #7856
the parent needs to be updated but also the `micronaut.version` property which is used to configure the annotation processors. These two versions need to be aligned

[2022-08-08 07:51] yawkat commented on #7856
yea this just looks like a version divergence

[2022-08-08 07:53] yawkat commented on #7830
it works for the server i think

[2022-08-08 08:55] altro3 opened #7859 "AOT doesn't work with Micronaut 3.6.0"
### Expected Behavior

Changed version from 3.5.4 to 3.6.0 (use micronaut aou) and see this error on task `:prepareJitOptimizations`:
[code]
Problem only with version 3.6.0.

### Actual Behaviour

_No response_

### Steps To Reproduce

_No response_

### Environment Information

 - Win11
 - JDK11

### Example Application

_No response_

### Version

3.6.0

[2022-08-08 09:07] dstepanov commented on #7858
Shutting down the executor service will break the runtime when the lambda is reused.
You might want to create a custom `ExecutorService` that will collect all the tasks and await their completion before the lambda is done.

[2022-08-08 09:23] musketyr commented on #7858
Thanks for fast response. Is this something which can be done directly in Micronaut libraries, ideally somewhere inside `AsyncInterceptor`? I believe this would be helpful for every Micronaut user.

[2022-08-08 09:47] dstepanov commented on #7858
Maybe somewhere in the Lambda project, pretty much you just need a custom scheduler:
[code]
I don't know much about Lamdas implementation, but assuming the context is reused. I haven't found any events that would be automatically triggered at the end of the invocation, those would have been helpful to do the await.

[2022-08-08 10:31] jesperancinha commented on #7856
Tks, I've just done that for the data processor and the parent. They are all dependent now on `micronaut.version`, but I'm still getting the same error. Could this be related to the maven plugin? That one is still on 3.4.0.

[2022-08-08 10:37] yawkat commented on #7856
it could be a problem. not a maven expert, but i would think the maven plugin is on the same classpath that the stack trace is reporting. so again youd be mixing micronaut versions on that classpath. what do you think @alvarosanchez?

[2022-08-08 13:30] FrogDevelopper opened #7860 "ConsulConfigurationClient doesn't use the ssl-configuration"
### Expected Behavior

**GIVEN** the `consul.client.ssl-configuration`
[code]
**THEN** we can access a secured consul requiring certificate

### Actual Behaviour

1. The `consul.client.ssl-configuration` is not taken into account into the generated `ConsulConfiguration` (using default one instantiate at field level)
2. Not sure, but I don't see where in `ConsulConfigurationClient` the ssl configur

[2022-08-08 13:48] musketyr commented on #7858
Yes, the context is reused and you were right about the `shutdown`. I have created a test function and it looks like your suggestion with registering the futures works. So the question is if you would like to add something like this directly inside `micronaut-function` or should I create our own standalone library.

https://github.com/musketyr/micronaut-function-async-support/tree/master/src/main/

[2022-08-08 14:06] dstepanov commented on #7858
It might be a good idea to have it first as a part of `micronaut-aws` and then maybe to move it to `micronaut-function`.  WDYT @graemerocher
Also, it would be nice to introduce a new event being triggered after the lambda function invocation, and this new scheduler can have a listener and do the awaiting automatically.

BTW: you can use `CompletableFuture<Void> runAsync(Runnable runnable, Executor

[2022-08-08 14:17] musketyr commented on #7858
If we stick directly to the `io.micronaut.function.aws.MicronautRequestHandler` and not more generic `io.micronaut.function.executor.FunctionInitializer` (which we are historically using - I believe one time it was a favorite way how to write handlers) then yes, it would be good if a sync event was fired at the end of execution of `handleRequest` method.

[code]

The same applies for `io.micronaut

[2022-08-08 17:39] jesperancinha commented on #7856
I'm not 100% but I think I got something on this:

The parent, `micronaut-parent` still has this:

`<micronaut-maven-plugin.version>3.4.0</micronaut-maven-plugin.version>`

And I noticed that in my environment, `micronaut-core`, version `3.4.0.`, was still creeping into the compilation and only for the annotation processors. I saw this in the dependencies on the `.m2` folder after I removed it and

[2022-08-08 21:06] dhofftgt opened #7861 "Expired Connect TTL should prevent connections from being used"
### Expected Behavior

When micronaut.http.client.connect-ttl is set for a http client and a connection expires, it should prevent expired connection from being used.

### Actual Behaviour

The expired connection is allowed to be checked out of the pool, and after using it, only then it is checked to see if it is expired.

This somewhat defeats the purpose of a connection ttl, as it should be to p

[2022-08-09 04:48] musketyr commented on #7858
I have started the work on the event here https://github.com/micronaut-projects/micronaut-aws/pull/1433

[2022-08-09 08:39] juliusz-cwiakalski opened #7863 "Issues with reading `application.yml` properties into @ConfigurationProperties bean containing `LocalDate`"
### Expected Behavior

@ConfigurationProperties beans having properties of type `java.time.LocalDate` should be mapped correctly when expressed in YAML as a string or date.

Let's say I have the following property bean:
[code]

I'd expect that all examples listed in the `actual behavior` section work properly.

### Actual Behaviour

## Example 1:

[code]

**Result**: error `Property doesn't exist`

[2022-08-09 08:57] musketyr commented on #7858
Just a few more details why we would like to keep `@Async` even in Lambda environment. We simply have a services which are shared between Micronaut applications and Micronaut functions and we don't want to create pairs of duplicates for sync/async invocations.

[2022-08-09 09:02] dstepanov commented on #7858
In that case, you might want to wrap all the executors in the Lamba environment using a bean listener like this https://github.com/micronaut-projects/micronaut-core/blob/3.6.x/context/src/main/java/io/micronaut/scheduling/instrument/ExecutorServiceInstrumenter.java and await the completion.

[2022-08-09 09:05] musketyr commented on #7858
Thanks for the link! It may be really handly!

[2022-08-09 13:23] yawkat commented on #7856
@jesperancinha it seems likely to me that this is an issue in our maven setup, but since you have a workaround, i'm going to let this issue sit until our build tools people come back from vacation.

[2022-08-09 15:58] john1456 opened #7864 "error while running MicronautTest in custom "integrationTest" package with Kotest5"
### Expected Behavior

Integration test places in integrationTest package should run properly, in my example code they fail

### Actual Behaviour

tests in "integrationTest" package are ignored, nothing fails

### Steps To Reproduce

with my present code, run test from package "test" and then run same test from package "integrationTest"

### Environment Information

macOS 12.5, openJDK 18

### Exa

[2022-08-09 16:02] ivyazmitinov commented on #7863
We faced this issue too, the workaround is to set the `Format` annotation ([docs](https://docs.micronaut.io/latest/guide/index.html#configurationProperties))
![image](https://user-images.githubusercontent.com/24777841/183700627-832081b8-25a5-4134-8c46-2612925d0b77.png)

[code]

It is applicable only to the "text" version of the property, "date" version fails anyway. Not sure why it works this way:

[2022-08-09 16:21] ivyazmitinov commented on #7863
It behaves even weirder when `java.util.Date` is used instead of `java.time.LocalDate`

[2022-08-09 21:58] wetted opened #7865 "ApplicationContext.getBeansOfType returns duplicate references to same instance"
### Expected Behavior

`micronaut-groovy` [PR 365](https://github.com/micronaut-projects/micronaut-groovy/pull/365): "fix(deps): update micronautversion to v3.6.0" is failing due to a broken test `GormConfigSpec` in the `hibernate-gorm` subproject.

It should pass, and has for versions up micronaut 3.5.

### Actual Behaviour

Starting with Micronaut 3.5, `GormConfigSpec."verity PlatformTransaction

[2022-08-10 07:14] GavrilovSV commented on #7863
As far as I know, this behaviour is explained by the underlying usage of snakeyaml library which parses dates to `java.util.Date` instead of `java.time.LocalDate`. And Micronaut does not provide automatic conversion `java.util.Date` to `java.time.LocalDate`  even when `@Format` is applied

[2022-08-10 07:20] john1456 commented on #7864
closing this thread, creating new one in micronaut-test branch, sorry, it was my first ticket on github

[2022-08-10 07:20] #7864 closed, assigned to nobody

[2022-08-10 07:37] graemerocher commented on #7865
@dstepanov think this is due to the changes to the bean resolution. Could you take a look?

[2022-08-10 08:02] dstepanov commented on #7865
I will check

[2022-08-10 15:12] juliusz-cwiakalski commented on #7863
I've noticed yet another related issue - putting an invalid date string value silently discards an object if it's on the list. I'd expect that Micronaut reports it somehow or even better: throw an exception

for the below YAML example `dates` list will contain only one element (`justId`)

[code]

[2022-08-11 13:28] lost22git opened #7867 "[FR] Provides programmatic interface for custom EventLoopGroup or NettyServer"
### Feature description

Provides programmatic interface for custom `EventLoopGroup` or `NettyServer`.
For example, I want to customize the number of io worker threads based on the jvm memory size

[2022-08-11 13:37] graemerocher commented on #7867
you can replace the `DefaultEventLoopGroupFactory` bean to customise how event loop groups are created. Is this not sufficient?

[2022-08-11 14:34] lost22git commented on #7867
@graemerocher

It looks like it works, but it's a little more complicated, and thanks for your advice！ 😊

[code]

[2022-08-11 14:42] #7867 closed, assigned to nobody

[2022-08-11 16:33] aguther opened #7868 "ServiceReadyEvent is not fired when using MessagingApplication as runtime"
### Expected Behavior

When MessagingApplication is used as runtime, the event ServiceReadyEvent is expected to be fired when the service is ready.

### Actual Behaviour

ServiceReadyEvent is only fired when using the netty http server as runtime.

### Steps To Reproduce

1. Use the messaging example and don't use the netty http service as runtime
2. Implement a singleton that subscribes to Servic

[2022-08-12 06:41] aprietop opened #7869 "Missing bean argument [SynchronousTransactionManager synchronousTransactionManager]"
### Expected Behavior

- The given test case provided when creating the application using Micronaut Launch should pass.
- The SynchronousTransactionManager should be provided

### Actual Behaviour

Error starting Micronaut container
Missing bean argument [SynchronousTransactionManager synchronousTransactionManager]
The given test case does not pass.
[code]

### Steps To Reproduce

1. Create a Micr

[2022-08-12 08:46] musketyr commented on #7858
Just one radical idea. Would it be possible to ignore `@Async` annotation/interceptor and make `publishEventAsync` call synchronous when AWS Lambda function environment is detected?

[2022-08-12 11:04] #7861 closed, assigned to nobody

[2022-08-12 15:09] tmohme opened #7871 "JPA App working on JVM fails with "org.hibernate.AnnotationException" when running native"
### Expected Behavior

The application should run native when built with "./gradlew clean dockerBuildNative" the same way as it runs when built with "./gradlew dockerBuild".

### Actual Behaviour

When running the native application, I get a `org.hibernate.AnnotationException: ....DemoClassId has no persistent id property: ...DemoClass.id`

### Steps To Reproduce

clone https://github.com/tmohme/m

[2022-08-12 22:15] ThraaxSession opened #7872 "Secured annotation isn't applied to HttpServerFilter"
### Expected Behavior

A HttpServerFilter class can be annotated with "@Secured".

### Actual Behaviour

The annotation will be ignored

### Steps To Reproduce

![image](https://user-images.githubusercontent.com/3085830/184451460-59ea8915-f923-4544-99ac-9097b2c25690.png)

### Environment Information

GraalVM 22.2.0.r11

### Example Application

_No response_

### Version

3.6.0

[2022-08-13 01:17] anuragdeshpande commented on #6112
Outside of official docs, I am unable to find any references online for this config. So responding to the merge where the feature was added.

@graemerocher Thank you so much for adding this. It would really help us out in our application. I am on micronaut v3.6.0 However, I don't seem to be able to get this config to work. I have tried several versions and even tried passing in the full file path.

[2022-08-13 01:18] anuragdeshpande opened #7873 "SSL Certs Reload with Refresh event not working in v3.6.0?"
Outside of official docs, I am unable to find any references online for this config. So responding to the merge where the feature was added.

@graemerocher Thank you so much for adding this. It would really help us out in our application. I am on micronaut v3.6.0, gradle 7.3, java 11 project. However, I don't seem to be able to get this config to work.

Intent: I get new .p12 files everytime the c

[2022-08-13 01:23] anuragdeshpande commented on #7873
First I assumed, a new file cannot be injected. Instead only the contents of the existing file to add the new cert. However, as expected, OS has a lock on the file so I cannot edit, update or delete without bringing the service down.

I have also tried mapping the cert files in docker containers to check if it was a windows/ file system thing. I am seeing same behavior in linux containers as well.

[2022-08-13 12:50] ThraaxSession opened #7877 "GraalVM io.micronaut.cache:micronaut-cache-caffeine does not work with Micronaut 3.6.0 + Plugin 3.5.1"
### Expected Behavior

The build works fine + the application starts like the normal JVM version.

### Actual Behaviour

Due runtime I get this error
[code]

### Steps To Reproduce

I use this dependency:
`implementation("io.micronaut.cache:micronaut-cache-caffeine:3.5.0")`

### Environment Information

* Windows 11
* GraalVM 22.2.0

### Related issue
https://github.com/micronaut-projects/micronau

[2022-08-13 13:09] ThraaxSession commented on #7877
Added this
[code]

[code]

[2022-08-13 16:56] sidhant92 opened #7878 "Filter Matching By Annotation on HttpServerFilter"
### Feature description

Currently, Filter Matching By annotation is only supported on `HttpClientFilter`.

Can we please start supporting the same on `HttpServerFilter` as well?

[2022-08-13 19:50] anuragdeshpande commented on #7873
@graemerocher I noticed that values are dropped in refresh event and only the keySet is used to refresh the application. If we track the values as well and use them to inject the updated bean instead, we can reload all config with dynamic values at runtime. Would this be a security implication if implemented at core framework level?

![image](https://user-images.githubusercontent.com/3684197/18450

[2022-08-15 01:28] avarun42 commented on #7006
Elastic Beanstalk now has support for 17

[2022-08-15 08:54] yawkat commented on #7871
libraries like hibernate won't just work out-of-the-box with native image. they need some reflection config.

from the error, it may be enough to simply add `@ReflectiveAccess` to the bean in question.

[2022-08-15 09:28] tmohme commented on #7871
Thank you for your suggestion.
I'm aware that Hibernate makes heavy use of reflection.
Nevertheless I was under the assumption, that Micronaut already takes care of this . . . because Micronaut has dedicated support for Hibernate and - apart from `@EmbeddedId` - everything works fine in the native app.

Anyway, adding `@ReflectiveAccess` to the `DemoClassId` class was enough to solve the problem f

[2022-08-15 10:22] yawkat commented on #3983
assuming it is fixed

[2022-08-15 10:22] #3983 closed

[2022-08-15 11:12] yawkat commented on #3936
Thanks for the reproducer, sorry it took so long.

[2022-08-15 14:19] yawkat commented on #1988
we went through so many bug fixes on this feature since the report, that i'm going to assume it is fixed by now. if the old request stuck around, we would notice it as a memory leak

[2022-08-15 14:19] #1988 closed

[2022-08-15 14:49] yawkat commented on #7623
I can reproduce this, but this is actually a feature we want to keep around. For text content types, we enable compression by default, which requires chunked transport. If you don't want this, you can disable compression, or even register your own `HttpCompressionStrategy`.

[2022-08-15 14:49] #7623 closed, assigned to nobody

[2022-08-15 21:52] sdelamo commented on #7601
CRaC support is being developed via:

https://github.com/micronaut-projects/micronaut-crac
https://github.com/micronaut-projects/micronaut-crac-tests

[2022-08-15 21:52] #7601 closed, assigned to timyates

[2022-08-16 00:51] jameskleeh commented on #7872
What gave you the impression this should work?

[2022-08-16 01:22] mraible opened #7886 "Error on startup after upgrading to Micronaut 3.6.0"
### Expected Behavior

I upgrade the [okta-micronaut-sample](https://github.com/okta-samples/okta-micronaut-sample) project to use the latest version of Micronaut. When I start it with `mvn mn:run`, I expect there will be no errors.

### Actual Behaviour

On startup, there are errors. However, they don't seem to hinder the launch of the app.

[code]

### Steps To Reproduce

[code]

### Environment

[2022-08-16 06:29] ThraaxSession commented on #7872
Hi @jameskleeh
I see HttpServerFilter like a superset on HTTP requests over HTTP Controller. Why it shouldn't be possible to secure this superset? A controller might be more specific endpoints. But the the filters can handle the same as far I figure out. Especially when I need more control over the request. That's why I think it should be possible to secure HttpServerFilter. If `Secured` annotatio

[2022-08-16 06:45] #3936 closed

[2022-08-16 15:36] yawkat commented on #7680
Thanks for the report. I've looked at the issue and the cause is that in the processor classpath, the `micronaut-http-server` dependency is missing, even though it is a transitive implementation dependency of `http-processor-netty`. I think this is a bug in the gradle groovy plugin, so I've made a bug report with gradle: https://github.com/gradle/gradle/issues/21539

[2022-08-16 15:38] yawkat commented on #7680
btw as a workaround you can add this to your dependencies: `compileOnly("io.micronaut:micronaut-http-server")`

As the name suggests this is compile only, so it does not add the dependency at runtime, but it fixes the issue.

[2022-08-17 09:01] davidgiga1993 opened #7887 "Error on startup after updating to 3.6.0"
### Expected Behavior

The app should continue to run

### Actual Behaviour

When using `3.6.0` the startup fails with

[code]

### Steps To Reproduce

[code]

### Environment Information

- OS: Windows 11
- JDK: Eclipse Temurin 17.0.1

### Example Application

_No response_

### Version

3.6.0

[2022-08-17 09:45] Paullo612 commented on #7680
Thanks for workaround for Gradle, but what about Maven? Tried

[code]

[code]

[code]
And still no luck :(

[2022-08-17 09:47] yawkat commented on #7680
no i'm an idiot and commented on the wrong issue. sorry.

[2022-08-17 09:47] yawkat commented on #7624
Thanks for the report. I've looked at the issue and the cause is that in the processor classpath, the micronaut-http-server dependency is missing, even though it is a transitive implementation dependency of http-processor-netty. I think this is a bug in the gradle groovy plugin, so I've made a bug report with gradle: https://github.com/gradle/gradle/issues/21539

[2022-08-17 09:48] yawkat commented on #7624
btw as a workaround you can also add this to your dependencies: `compileOnly("io.micronaut:micronaut-http-server")`

As the name suggests this is compile only, so it does not add the dependency at runtime, but it fixes the issue.

[2022-08-17 11:57] fmonorchio opened #7888 "I18n for Bean Validation constraint messages"
### Feature description

Hi all,

I'm trying to translate the constraint violation messages of Bean Validation in the user language. I have created a custom MessageSource with the correct property keys like 'javax.validation.constraints.Size.message' but seems that, the message is translated using the system locale only and not that of the user that I can retrieve from HttpRequest. From what I hav

[2022-08-17 15:26] lbkulinski opened #7889 "@Bindable compilation error when using Java records with @PathVariable"
### Expected Behavior

When creating beans to be used with `@RequestBean`, I expected to be able to apply annotations like `@PathVariable` to my Java record components without issue. I assumed they would work the same as if I declared an immutable POJO class.

### Actual Behaviour

Upon compilation, I received the following error:
[code]

### Steps To Reproduce

1. Clone the Example Application pr

[2022-08-18 17:18] bivapa commented on #7830
Interestingly, in the AWS api proxy lambda handler a form request is handled slightly differently (rather more like what I would expect here).
For a lambda event, the form is passed directly to the bean binder as a map after it has been decoded from a string like "param=value" [MicronautLambdaContainerHandler.java#L559](https://github.com/micronaut-projects/micronaut-aws/blob/v3.5.3/function-aws-a

[2022-08-18 19:31] nicholasq opened #7894 "Stackoverflow error when compiling kotlin micronaut project"
### Expected Behavior

I expect the project to compile.

### Actual Behaviour

Get a stackoverflow error.

[code]

### Steps To Reproduce

To reproduce:
[code]

### Environment Information

MacOS Monterey 12.5
Kotlin 1.6.10
Micronaut 3.5.1

### Example Application

https://github.com/nicholasq/jewelry-store-service.git

### Version

3.5.1

[2022-08-19 11:48] ckosmowski opened #7896 "Automatically Register TypeConverters for Mapstruct Mappers"
### Feature description

We use Mapstruct mappers a lot. I just heard about a Spring integration that automatically registers Mapstruct Mappers (or Adapters to them) as Converters in Spring.

I'd really like to also see this in micronaut. I would also like to implement tis myself if i had a place to start, like what would be the best way to do something like this. Maybe using the AOP features and

[2022-08-19 12:25] dstepanov commented on #7896
In what way do you want them to be registered? You can have them already as beans what difference would it make to have them as convertors?

[2022-08-19 12:28] ckosmowski commented on #7896
In that way one could use the conversionService instead of injecting every
mapper individually.

[2022-08-19 14:43] juliusz-cwiakalski commented on #7887
I faced the same issue - for now a workaround is to downgrade to micronaut core 3.5.4 and micronaut data 3.5.0

[2022-08-19 16:03] dstepanov commented on #7887
Do you return `CompletionStage` for the transaction advice? Can you provide a sample app?

[2022-08-19 17:14] wetted commented on #7720
See https://github.com/micronaut-projects/micronaut-neo4j/issues/269

Micronaut-Neo4j is blocked by a Java17 compatible version (5.x) of neo4jj/neo4j-java-driver

[2022-08-19 17:26] mraible commented on #7886
This issue still happens with 3.6.1.

[2022-08-19 20:11] albertoantunes opened #7899 "Scheduled tasks do not run on host with only 1 CPU core available"
### Expected Behavior

Function annotated with @Scheduled should run correctly on host with only 1 CPU available

### Actual Behaviour

When running micronaut application on host with only 1 CPU core available, aplication starts correctly, but scheduled task never runs

### Steps To Reproduce

[Sample repository](https://github.com/albertoantunes/bug-micronaut-scheduler-poc)

1) build docker image

[2022-08-20 11:16] ThraaxSession commented on #7872
@jameskleeh what is the alternative for now? I need this annotation. How can I manually check it?

[2022-08-20 11:43] jameskleeh commented on #7872
Ensure it runs after the secured one and get the authentication from the
request

On Sat, Aug 20, 2022 at 7:16 AM ThraaxSession ***@***.***>
wrote:

[2022-08-20 15:53] ThraaxSession commented on #7872
@jameskleeh any example?

[2022-08-20 20:07] goeh commented on #7899
Duplicate of https://github.com/micronaut-projects/micronaut-core/issues/6121

[2022-08-22 09:35] Ksnz opened #7911 "Support for HTTP 206 Partial Content for serving SystemFile"
### Feature description

Current `NettySystemFileCustomizableResponseType` implementation does not support partial content.
Its support may be useful for building something like a video streaming service.
I made my own implementation of `NettyFileCustomizableResponseType`  based on copy-paste from `NettySystemFileCustomizableResponseType`
https://gist.github.com/Ksnz/b2a223262514fe77218d481aa7ed6d

[2022-08-22 15:03] albertoantunes commented on #7899
Thanks for pointing that out, I had previously searched but did not catch that issue.

I tested here creating a custom dockerfile using the image from eclipse-temurin:17-jdk-alpine and it worked correctly, as the JDK bug is patched there.

Maybe as a suggestion micronaut-gradle-plugin should not use openjdk:17-alpine as default in its docker plugin, so others do not run into this same issue in the

[2022-08-22 16:28] albertoantunes commented on #7899
I opened a [feature suggestion](https://github.com/micronaut-projects/micronaut-gradle-plugin/issues/526) in micronaut-gradle-plugin repo to consider changing default docker image

[2022-08-22 16:28] #7899 closed, assigned to nobody

[2022-08-22 17:00] sschuberth commented on #6041
I guess alternatively to getting rid of the Log4j(2) implementation *this* way (in favor of whatever implementation you use with the SLF4J API, [it's logback in the above example](logback)), you could also stick with `log4j-api` (e.g. because you're using it implicitly via `log4j-api-kotlin`) and take [log4j-to-slf4j](https://mvnrepository.com/artifact/org.apache.logging.log4j/log4j-to-slf4j) into

[2022-08-23 06:39] ThraaxSession commented on #7872
Hi @jameskleeh the latest release of micronaut (I guess) security provides for the request new parameters. A first help to solve the authentication issue. Might be to add "request.isAuthenticated". The annotation is still anyway a smoother solution.

[2022-08-23 13:29] MT-Jacobs commented on #7253
Would it be possible (albeit a breaking change) to resolve this issue by storing the success body in one field and the error body in another field of the `HttpClient`?

It seems like a common use case where your controller method is typed to return an `HttpResponse<SomeResponse>`, but if you run into a validation error, your method winds up returning `HttpResponse<JsonError>` before actually enter

[2022-08-23 13:39] MT-Jacobs commented on #7253
Funny enough, there is a version of `HttpClient#exchange` that takes both a body type and error type:

https://github.com/micronaut-projects/micronaut-core/blob/08f3e7aa5ae400c1afc287b3a1dc47e7ecd4249a/http-client/src/main/java/io/micronaut/http/client/netty/DefaultHttpClient.java#L837-L843

so it surprises me that if `exception-on-error-status` is set to false we can't return a response with a nu

[2022-08-23 17:56] ianfp opened #7914 "Document how to add request data to the SLF4J MDC"
### Issue description

I'm trying to add per-request fields to the SLF4J MDC. For example:
[code]

I've tried using an `HttpServerFilter`, but those run on the event loop thread, whereas my requests are handled by the I/O thread pool per this configuration:
[code]
As a result, the Thread-local MDC is not propagated across to the request-handling thread. My application is not using reactive/flux st

[2022-08-25 12:58] alcudiaMV commented on #4229
Did You find a solution ?

Thanks

[2022-08-25 17:14] bitxon opened #7916 "Gradle build failed with test-resources"
### Expected Behavior

Successful build

### Actual Behaviour

Build failed with Error
[code]

### Steps To Reproduce

1. Generate Gradle project with features that includes 'test-resources'
[code]
2.  Run `./gradlew clean build`

### Environment Information

- OS: MacOS (arm64) and Ubuntu 22 (Didn't check on windows)
- Java: openjdk version "17.0.2"
- Gradle: 7.5 (also checked on 7.4.1)
- Microna

[2022-08-26 13:27] yawkat commented on #4229
@Xaseron @alcudiaMV it's `http.nonProxyHosts`, with `http` instead of `https`. `https.nonProxyHosts` does nothing: https://docs.oracle.com/javase/8/docs/api/java/net/doc-files/net-properties.html

[2022-08-27 09:51] alcudiaMV commented on #4229
Thanks @Xaseron

[2022-08-29 09:17] AndrejMitrovic opened #7918 "Micronaut 2.x.x: Optional parameters are not validated when provided"
### Expected Behavior

Calling the endpoint should throw an exception if the optional parameter fails validation.

### Actual Behaviour

Parameter becomes empty (`Optional.isPresent() == false`).

### Steps To Reproduce

Example was taken from previous issue https://github.com/micronaut-projects/micronaut-core/issues/3953 but with the Micronaut version dependency updated to `2.5.13`.

Run `gradle

[2022-08-29 10:37] yawkat commented on #7918
looks like a duplicate of #5135

[2022-08-29 10:37] #7918 closed, assigned to nobody

[2022-08-29 11:13] yawkat commented on #7253
there is no exception field in HttpResponse, not sure what you mean.

You can get the response with the error type from the HttpClientResponseException.

[2022-08-29 15:23] kr10n1 opened #7919 "Datasource name with underscore gets converted to dash"
### Expected Behavior

When I declare a datasource with underscore in it's name it should be created with the same name in Application context

### Actual Behaviour

From what I was able to observe at some point the underscore sign gets converted to dash sign but it's not used in this manner universally so application doesn't run properly and fails to find configurations based on this datasource

[2022-08-29 16:57] pitkley commented on #7887
@dstepanov please find a minimal, reproducible example here: <https://github.com/KKEU/micronaut-mre-7887>. It is effectively a bare app generated on <https://micronaut.io/launch>, enabling the `data-jpa` feature, and setting up an eagerly initialized singleton that has the `EntityManager` injected.

Just by setting the Micronaut version in `gradle.properties` to e.g. `3.5.4` the issue will not occ

[2022-08-29 20:21] jchambers opened #7920 "Infrequent errors when opening websockets: "java.util.NoSuchElementException: websocket-upgrade-handler""
### Expected Behavior

Netty pipelines are assembled in a deterministic order and expected handlers are always found when attempting to insert handlers in positions relative to other handlers in the pipeline.

### Actual Behaviour

In about 1 in every 250 requests, we see an error message in our logs like the following:

[code]

### Steps To Reproduce

Unclear! Given the low frequency, my two susp

[2022-08-30 06:26] domi-nika60 opened #7921 "WebSocketClient throws Nullpointer when wrong domain is set, when @OnClose method is getting any arguments"
### Expected Behavior

Hi,

most probably I've found a bug. Please advice.

In my Micronaut project of Websocket Client with use of `Rx3WebSocketClient (io.micronaut.rxjava3.http.client.websockets)` I'm getting NullPointer Exception when the client is trying to connect to wrong domain and `onOpen` event is not executed.

To connect with the client I'm using `Single<MyWSClient> `.

The error indica

[2022-08-30 10:50] rsenden opened #7922 "@Inject fields in abstract classes not properly injected"
### Expected Behavior

In our Micronaut/Picocli based command line application, we have multiple abstract classes containing fields annotated with `@Inject`. These abstract classes are used as base classes for concrete Picocli `@Command` implementations. We'd expect Micronaut to properly inject these fields with the corresponding `@Singleton` instances.

### Actual Behaviour

* If there are any cu

[2022-08-30 11:18] rsenden commented on #7922
This seems to be somewhat related to the following block in `build.gradle`:

[code]

The `annotations` option in combination with our custom annotations seems to make Micronaut properly process class hierarchies that have any of our custom annotations. Removing the `annotations` option makes the other commands (with our custom annotations) fail as well.

However, I'd expect Micronaut to automatica

[2022-08-30 11:46] yawkat commented on #7920
I can see the potential for a race condition in the code, but it looks *very* awkward to trigger. Essentially, it would involve a somewhat long-running `HttpFilter`, and some action that modifies the channel pipeline while that http filter hasn't completed. I can think of two causes:

- The client closes the connection before the http filter completes, clearing the channel handlers. This would mea

[2022-08-30 16:07] yawkat commented on #7921
does this still happen with 3.6?

[2022-08-30 16:14] gram-signal commented on #7920
@yawkat is `AuthenticationProvider` an HTTP filter?  We do some remote, async calls in our `AuthenticationProvider` out to a Redis instance that stores rate limiting information; I'm wondering if that might be what's allowing this race to happen.  Something like:

- client connects
- server starts async redis call to check connection rate limiting
- client disconnects
- async redis returns, `Authe

[2022-08-30 16:18] yawkat commented on #7920
yes that is a likely explanation

[2022-08-30 20:51] domi-nika60 commented on #7921
Yes, already checked. The behavior is the same for 3.6.1

[2022-08-31 09:31] dstepanov opened #7925 "Multiple iterable beans not resulting in `NonUniqueBeanException` on `getBean`"
### Expected Behavior

Expecting thrown `NonUniqueBeanException`.

### Actual Behaviour

Looks like in `DefaultApplicationContext` there is some logic that is selecting the first one:

[code]

I think the correct way is to filter them, not returning the first that is matching.

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

_No response_

[2022-08-31 09:45] dstepanov opened #7926 "Bean context should't select the bean candidate that is exact class match when selecting from multiple candidates"
### Issue description

Found this strange case:
[code]

In this case `getBean(MyInterface)` would return the first bean because of the type exact match, expecting an exception.

I think this should be removed in 4.0.

[2022-08-31 09:50] cost98 commented on #335
How fix it?

[2022-08-31 10:31] #3160 closed

[2022-08-31 16:15] #7920 closed, assigned to nobody

[2022-08-31 23:53] jchambers commented on #7920
Awesome; will try out the changes from #7927 when 3.6.2 is available and report back!

[2022-09-01 16:17] bitxon commented on #7916
Moved to appropriate project:
https://github.com/micronaut-projects/micronaut-gradle-plugin/issues/528

[2022-09-01 16:17] #7916 closed, assigned to nobody

[2022-09-02 05:17] kevin-wise opened #7934 "CorsFilter ignores http methods available via filters"
### Expected Behavior

The CORS filter should allow pre-flight requests for any HTTP method that is handled by a filter.
Alternatively the filter should be able to specify which methods are available for the handled paths.

### Actual Behaviour

The CORS filter only considers paths handled by routes, not paths handled by filters. It gets to the point in CorsFilter.handleRequest where it is conside

[2022-09-02 07:06] st-bo opened #7935 "router static-resources with symbolic linked files or directories"
### Issue description

### Description
We use micronaut to run integrational testing scenarios.
Some scenarios require  to deliver different files.
It is mandantory that the application should deliver the files as static resources.
No extra program/service.
The files are not on the disk itself, they are somewhere on a network drive or external disk, it depends.
In that testing environment, we use

[2022-09-02 08:56] yawkat commented on #7786
by 'exception mappers' you mean a method annotated with `@Error`?

[2022-09-02 09:56] andrey-kozel commented on #7699
@yawkat @graemerocher I found another issue related to this problem.

I have a controller with definition like this
<img width="891" alt="image" src="https://user-images.githubusercontent.com/47276289/188114144-78f31228-2930-47f9-84ae-cb49ee2f434f.png">

If I'm uploading files and set all the fields it behaves normal, but if I'm not sending field "tags", the next problem happened:
1. AbstractRoute

[2022-09-02 15:23] yawkat commented on #7699
This looks unrelated. Please make a new issue

[2022-09-02 16:54] andrey-kozel opened #7939 "OutOfMemory during huge file upload, when one of the nullable form data fields is empty"
### Expected Behavior

Parsing of the missing parameters should not load other parameters (at least big files) into memory

### Actual Behaviour

If some of the nullabel parameters is missing in the request, it treats as an Unresolved reference. To resolve this reference it tries to read body into memory, but in my case this body contains a file of 5Gb

### Steps To Reproduce

@yawkat @graemeroche

[2022-09-02 16:54] andrey-kozel commented on #7699
Here is the issue https://github.com/micronaut-projects/micronaut-core/issues/7939

[2022-09-02 17:48] mrwilby commented on #7786
@yawkat sorry, that wasn't very clear of me. I am referring to a class that implements (server-side) ExceptionHandler

[code]

[2022-09-05 10:49] ksawerykarwacki opened #7947 "Http client header does not support placeholders on class level"
### Expected Behavior

I found this issue developing workaround for http client with localhost domain (e.g. my-app.localhost) which works normally as it is handled by nginx ingress within Kubernetes but is not recognized as a valid domain by Micronaut. Back to issue itself.

Client should support placeholders for headers at class level for declarative clients the same way as you can pass url. Head

[2022-09-05 14:32] yawkat opened #7948 "Regression in ConversionService for concurrent application contexts"
### Issue description

#7635 changed the `ConversionService.DEFAULT` to be reset when an application context is closed. This breaks non-standard conversions (e.g. `NettyConverters`) when there are concurrent application contexts:

[code]

@dstepanov mentioned that we should probably fix this in 4.0, but we may need to do this earlier. In particular, this issue lead to a test failure in the aws mod

[2022-09-05 15:19] mancze opened #7949 "Send cookie once in CookieHttpSessionStrategy"
### Feature description

In current implementation a session cookie is issued for every request for which a session exist.
https://github.com/micronaut-projects/micronaut-core/blob/7de2b99be7fd0417492965639f8caa1b6f4fc3bd/session/src/main/java/io/micronaut/session/http/HttpSessionFilter.java#L154

This might be unnecessary and it potentially increases a risk of a session cookie leak in a case atta

[2022-09-06 07:11] dstepanov commented on #7948
Which particular converter from `NettyConverters` is used?
We might want to implement that solution I mentioned in some backward compatible way, with the idea that `ConversionService.DEFAULT` is not being used there.

[2022-09-06 07:28] yawkat commented on #7948
this test case uses compositeByteBufCharSequenceTypeConverter

[2022-09-06 08:52] dstepanov commented on #7948
Those don't rely on the bean context and can be extracted to an additional `TypeConverterRegistrar` registered using the service loader. I would expect those to survive the purge.

[2022-09-06 09:06] yawkat commented on #7680
ok ive looked at this, it's caused by a missing `--initialize-at-build-time=io.micronaut`. this is configured by micronaut-runtime, so when that dependency is present, it works fine.

I'm confused by why this is only a problem in 3.5.0+, though. I've bisected core and the regression appears with #7195. This makes some sense since that PR touched service initialization, but I don't really see an ob

[2022-09-06 09:19] yawkat commented on #7948
that seems like a good workaround for 3.6, I will make a PR. thanks!

[2022-09-06 10:53] dstepanov commented on #7919
It looks like we always convert `abc_xyz` to `abc-xyz`, I don't think it can be changed in Micronaut 3.

[2022-09-06 11:00] kr10n1 commented on #7919
Is this documented anywhere or is it some type of convention that I'm not aware of ? It would be really helpful if this was stated in bold letters in documentation because debugging it took a considerable amount of time.

[2022-09-06 17:09] eratolekov opened #7958 "Micronaut GraphQL does not work properly"
### Expected Behavior

The graphlql response:
[code]

### Actual Behaviour

The graphlql response:
[code]

### Steps To Reproduce

Build the micronaut native-image application:
[code]

Run the micronaut native-image application:
[code]

Open the url http://localhost:8080/graphiql

Execute the graphql query:
[code]
See the graphql response.

Though the micronaut openjdk application works properly.

[2022-09-07 13:50] borrow-checker commented on #7224
bump - happening to us too

[2022-09-08 03:03] JaneWardSandy opened #7961 "Add index for entity with subclass will occur exception for task kaptKotlin"
### Expected Behavior

Compiled code throws exception after adding index to entity with subclass.
Add an index to an entity without subclasses, or remove the index, and it will compile normally

[code]

### Actual Behaviour

Exception when build project in gradle

[code]

### Steps To Reproduce

1. Create project from `Micronaut Launch` with feature [(`jpa, h2`)](https://launch.micronaut.io/create

[2022-09-08 03:04] JaneWardSandy commented on #7961
https://github.com/micronaut-projects/micronaut-data/issues/1726#issue-1364381240

[2022-09-08 03:08] JaneWardSandy commented on #7961
When issue occur,
https://github.com/micronaut-projects/micronaut-core/blob/ce96828de77e30e78a9db57c5aa898dfbe35460c/inject/src/main/java/io/micronaut/inject/annotation/DefaultAnnotationMetadata.java#L2098-L2114
value for `io.micronaut.data.annotation.Indexes` was `Collections$EmptyMap`, and put value to this map will occur `UnsupportedOperationException`
<img width="813" alt="image" src="https://

[2022-09-08 09:09] sdelamo opened #7965 "Migrate core to Groovy 4"
### Feature description

This PR should have 4.0.x as base.

[2022-09-08 10:35] #7961 closed, assigned to nobody

[2022-09-08 14:08] wetted commented on #7720
@melix @alvarosanchez will handle the `micronaut-gradle-plugin` and `micronaut-maven-plugin` separately

[2022-09-09 11:10] #7699 closed, assigned to yawkat

[2022-09-09 12:53] dstepanov opened #7970 "Consider extracting HTTP modules from Core"
### Issue description

Now it's one of the biggest parts of the Core. It would be better to have it extracted to the own repo.

Modules included:
- http
- http-client
- http-client-core
- http-netty
- http-server
- http-server-netty
- http-validation

WDYT @micronaut-projects/core-developers ?

[2022-09-09 13:03] dstepanov opened #7971 "Extract annotation processor classes and writers out of the runtime dependencies. Consider renaming `inject-java`."
### Issue description

Right now `inject` module contains a lot of classes that are only used at the compilation time and can be removed from the runtime:
- io/micronaut/inject/ast - AST that is used during the annotation proccessing
- io/micronaut/inject/writer - Writers used to generate classes
- io/micronaut/inject/visitor - Annotation processor visitors
- io/micronaut/inject/beans - Bean intro

[2022-09-09 13:09] melix commented on #7971
In case `inject-java` is renamed, the Gradle (and probably Maven) plugins will have to be adapted (as well as the Micronaut Build tools) as there are several occurrences there.

[2022-09-09 13:32] sdelamo opened #7972 "Broken links in docs"
### Issue description

[code]

[2022-09-09 13:39] dstepanov opened #7973 "Require `@ReflectiveAccess` for bean context cases when reflection is required in Micronaut 5"
### Issue description

We should use reflection only when it's explicitly specified.

[2022-09-09 15:20] sogillani opened #7975 "netty-buffer throws IndexOutofBound or Null Pointer exception on bulk upload"
### Expected Behavior

Exposed a POST method in a Controller which accepts Publisher<StreamingFileUpload> to upload around 1000 files of around 500 MB.

@Post(consumes = MediaType.MULTIPART_FORM_DATA, produces = MediaType.APPLICATION_JSON)

In actual project we are uploading these files to Azure Blob store

### Actual Behaviour

It throws following exception after uploading 10-20 files
java.lang.N

[2022-09-09 15:28] stepanv opened #7976 "Micronaut fails to correctly generate Definition class and fails with ClassNotFoundException: <any>"
### Expected Behavior

When using Micronaut with Lombok, when injecting a class that uses a builder class generated by Lombok's `@SuperBuilder`, Micronaut should be able to correctly generate its `$Definition` classes so that it doesn't fail during the runtime.

### Actual Behaviour

Micronaut may generate invalid `$Definition` class file. In particular it may contain an invalid call
[code]
which

[2022-09-09 21:01] jchambers commented on #7920
Following up: #7927 did, indeed, solve the problem. Thanks for tackling it so quickly!

[2022-09-10 19:38] Crow-EH opened #7984 "Remove workarround for old Eclipse APT implementation"
I was browsing the repo while rebasing one of my PR here, and remembered this old workarround from 2018: https://github.com/micronaut-projects/micronaut-core/pull/963

Apparently it still exists in 3.6.x: https://github.com/micronaut-projects/micronaut-core/blob/3.6.x/inject/src/main/java/io/micronaut/inject/annotation/AbstractAnnotationMetadataBuilder.java#L123

There even has been maintenance on

[2022-09-11 14:00] mrwilby opened #7986 "Migration path: Server-side filters that need to read request bodies"
### Feature description

In our security framework, we have a few unfortunate use cases where we need to be able to read the request body to determine authN/authZ context.

This was working fine in Micronaut 1.x via an HTTP server filter.

In 2.5, this breaking change was introduced: https://docs.micronaut.io/2.5.9/guide/#breaks

[code]

We have migrated to v3.6.x and now see this breaking change

[2022-09-11 14:09] mrwilby opened #7987 "Migration path: separation of HTTP API definition from implementation"
### Issue description

We are migrating from 1.x to 3.6.x.

In our system, we define our HTTP API specifications via java interfaces. All swagger annotations and generic API semantics are declared in a java module that only contains java interfaces, annotated with swagger, micronaut server-side and jakarta annotations (e.g. Nullable, Non/NotNull etc). We need to use the validation rules/etc in the

[2022-09-11 16:19] fmonorchio commented on #7869
I have this problem in an integration test where I'm using eager loading of singletons to check that all bean are configured correctly.
I'm passing a ContextBuilder class to @MicronautTest to do so.

There is a way to use eager loading and do the test pass? thanks

[2022-09-12 07:34] yawkat commented on #7970
Also the buffer-netty and websocket modules

However much of the http stuff is tested in the test-suite modules, how can we move that?

[2022-09-12 07:36] dstepanov commented on #7970
Partially move the test suite

[2022-09-12 07:55] melix commented on #7970
While I think about it, something to consider when we move modules out of core. Ideally they should also get their own `groupId` when publishing on Maven Central. However, changing the `groupId` means that older modules, which were not upgraded to latest Micronaut, may bring the old modules on classpath (e.g `io.micronaut:micronaut-http`) and therefore introduce a conflict. We could leverage Gradl

[2022-09-12 07:57] yawkat commented on #7970
i dont think we have to support mixing major versions

[2022-09-12 08:26] alvarosanchez commented on #7970
We have already done something similar with [micronaut-discovery-client](https://github.com/micronaut-projects/micronaut-discovery-client). It was spun off core with its own group id (`io.micronaut.discovery`).

Micronaut 2.x BOM included both versions:
- `io.micronaut:micronaut-discovery-client:2.0.1`
- `io.micronaut.discovery:micronaut-discovery-client:2.4.0`

In Micronaut 3, the `io.micronaut`

[2022-09-12 08:31] alvarosanchez commented on #7970
BTW, the spin-off was first made by using `git subtree` to extract the code into its own repo even with Micronaut 2.x. Initially, it had the original `io.micronaut` group id, but started to be released independently.

Which means we can extract HTTP modules at any time.

[2022-09-12 09:00] andrey-kozel commented on #7939
@yawkat Sorry for disturbing. Could you give us some estimations on this ticket? We are going to plan the next sprints , so we have to know at least approximate time

[2022-09-12 09:15] graemerocher commented on #7987
you can define your own `Nullable` annotation that is meta annotated with `@Inherited`

[2022-09-12 09:21] yawkat commented on #7939
Sorry, I can't give an estimate. My highest priority atm is to get breaking changes ready in time for 4.0. I might work on this if I have some free cycles, but I can't say when.

If you need this fixed more quickly, you can either contribute a patch yourself, or pay the folks at objectcomputing for support.

[2022-09-12 10:06] sdelamo opened #7988 "Remove deprecated code in 4.0.x branch for Micronaut Core"
### Issue description

Remove code annotated with `@Deprecated` and a mention to what's new telling users that deprecated code has been removed.

[2022-09-12 11:32] mrwilby commented on #7987
@graemerocher  thanks, so you suggest subclassing the suite of e.g. Jakarta annotations and adding @Inherited to each subclass, then using those new subclassed annotations instead?

[2022-09-12 14:05] MrManhoso opened #7989 "micronaut.http.client.ssl.trust-store properties not available in bootstrap context"
### Steps to Reproduce

1. Create a http client interface with @Client annotation. Also annotate it with @BootstrapContextCompatible
2. Make sure to inject the client to some class that is instantiated in bootstrap, for example by having the class implement ConfigurationClient. The class should also be annotated with @BootstrapContextCompatible
3. ConfigurationClient will require dependency io.mic

[2022-09-13 08:07] graemerocher commented on #7971
don't think it is worth renaming it would create too much disruption. However moving the compile time only types out of `micronaut-inject` and eliminating the repacking of ASM into the runtime jars is a must.

[2022-09-13 08:53] #7987 closed, assigned to nobody

[2022-09-13 10:11] rlconst commented on #6664
@davidhiendl
Usually classes you want to make open already have annotations, so putting something like this into build.gradle should help either
[code]

[2022-09-13 10:59] sdelamo commented on #7971
+1 from me @dstepanov

[2022-09-13 11:07] #7972 closed, assigned to wetted

[2022-09-13 12:32] sdelamo commented on #7746
I think this should be closed via https://github.com/micronaut-projects/micronaut-core/pull/7730

[2022-09-13 12:32] #7746 closed, assigned to nobody

[2022-09-13 13:54] wetted opened #7995 "BeanContext refactoring from v3.5.0 breaks Kubernetes test(s)"
### Issue description

@dstepanov

I think the refactoring you did for `DefaultBeanContext` for 3.5.0 might still have some issues. Can you please look at the `RateLimitingQueueFactorySpec` in `micronaut-kubernetes` for example. Master uses an older version of Micronaut that does not expose the failure, but the branch used by this PR does. `ConfigMapResourceReconcilerSpec` and `ConfigMapResourceRe

[2022-09-13 14:18] #7863 closed, assigned to nobody

[2022-09-13 15:27] davidhiendl commented on #6664
@rlconst Thanks for the info. I solved it similarly by adding a custom explicit annotation as described above (my previous comment, Edit 2).

But still: The compile process should not fail silently plus its incredibly hard to debug.

[2022-09-14 15:22] Xaseron opened #8001 "Regression Kotest StringSpec not working with Picocli and Micronaut 3.6.x"
### Expected Behavior

Simple StringSpec should work:
[code]

### Actual Behaviour

[code]

### Steps To Reproduce

1. Have two Micronaut Http Clients that inherit the same interface
2. Have a Singleton that inject both clients
3. Inject that Singleton into a Picocli Command
4. Write a Kotest StringSpec test

My test worked with Micronaut 3.5.5. But after updating to Micronaut 3.6.3 StringSpec tes

[2022-09-15 19:22] racevedoo opened #8011 "BeanLocator's `findBean(Class<T>, Qualifier<T>)` intermittently not finding `HttpContentSubscriberFactory` with qualifier"
### Expected Behavior

Should find the bean with the qualifier.

### Actual Behaviour

Returns empty optional.

More details:
I observed this happening in `DefaultHttpContentProcessorResolver`, specifically [here](https://github.com/micronaut-projects/micronaut-core/blob/50d40203e886ab9c3ab01413b91d2f57fd20c1d9/http-server-netty/src/main/java/io/micronaut/http/server/netty/DefaultHttpContentProces

[2022-09-15 19:25] racevedoo commented on #8011
cc @yawkat this is the issue I mentioned on [gitter](https://gitter.im/micronautfw/questions?at=6321b3bc6837563d1cd2bd1f)

[2022-09-16 00:27] dejanvasic85 commented on #3651
We have come up against this issue recently with `micronautVersion=3.5.4`

The issue appears only when running in ECS Fargate (docker). We experience the issue with a graphQL endpoint which configured in application.yml:

[code]

And it only happens when the graphQL operation calls a downstream service using the Micronaut http client. After some testing, we found that it usually happens on the 5th

[2022-09-16 09:20] timyates opened #8012 "Starter CLI fails to build a native image for 3.7.0"
Since https://github.com/micronaut-projects/micronaut-core/pull/7994 the native image tasks in starter are failing to build a native image.

The error is:

[code]

It looks like `ConnectionManager` is getting initialized at build time, and the `AttributeKey`s it defines as static fields are causing the initialization of internal netty classes which netty itself has marked as being run time only.

[2022-09-16 10:54] #8012 closed, assigned to yawkat

[2022-09-16 14:15] Goldmensch opened #8017 "Extract `io.micronaut.http.codec` related classes out of `json-core`"
### Feature description

Currently any usage of `json-core` pulls in `http` and `json-core` is used to generally support json with serde, also `serde-api` pulls in `json-core` and therefore any usage of serde pulls in `http`. So almost every Micronaut project has `http` as a dependency.  The extraction would also allow a fix for https://github.com/micronaut-projects/micronaut-data/issues/1691.

I

[2022-09-16 18:09] Casvad commented on #6672
Hi is there any news on this problem? Im having the same problem.
Thanks

[2022-09-18 15:01] altro3 opened #8033 "AliasFor doesn't work in standard endpoints with groovy"
### Expected Behavior

When use `@AliasFor` annotation values in both properties must eqauls.

### Actual Behaviour

Tests micronaut-openapi documentation standard micronaut endpoints with groovy and saw strange thing.
![изображение](https://user-images.githubusercontent.com/48474279/190913212-7f484883-5de6-4d21-a438-69ebb0f76cf0.png)

As you see, Endpoint annotaion values:
[code]
In other endpoin

[2022-09-19 05:07] #7939 closed, assigned to nobody

[2022-09-19 06:03] sumitaneja commented on #7344
HI @graemerocher @yawkat we tried above workaround, it has issues with other content type.
We removed @Produces annotation.
Client sending application/xml as content type in accept header

Client received error:
io.micronaut.http.client.exceptions.HttpClientResponseException: Specified Accept Types [application/xml] not supported. Supported types: [application/json]

[2022-09-19 10:07] yawkat commented on #6672
@Casvad this feature will not be implemented. as a workaround, use ReflectiveAccess. you could also try micronaut-serialization, which has support for this.

[2022-09-19 10:42] sdelamo opened #8041 "Regression running every tests in a JUnit projects fails with applicationContext Null being nulled no changein 3.7.0"
### Issue description

Sample app: https://github.com/grails-core-issues-forks/issue-test-suite

**3.6.3**

✅  ./gradlew :test
✅  ./gradlew :test --tests "example.micronaut.FruitDuplicationExceptionHandlerTest.duplicatedFruitsReturns400"

**3.7.0-SNAPSHOT**

✅  ./gradlew :test --tests "example.micronaut.FruitDuplicationExceptionHandlerTest.duplicatedFruitsReturns400"
🚫./gradlew :test

[code]

[2022-09-19 12:32] sdelamo commented on #6996
Not yet. but I think we can close this issue.

[2022-09-19 12:32] #6996 closed, assigned to timyates, burtbeckwith, melix, sdelamo

[2022-09-19 14:42] #7344 closed, assigned to yawkat

[2022-09-19 17:08] #7650 closed, assigned to wetted

[2022-09-20 07:30] matt-snider commented on #7724
This would be great for those of use that aren't using the reactive model.

I'm not familiar with Netty or Micronaut internals, but will it be as simple as swapping out the executor? On the Netty project I haven't found much in the way of answers. There was [this discussion](https://github.com/netty/netty/issues/8439) and then [this PR](https://github.com/netty/netty/issues/12348) where it seems a

[2022-09-20 07:32] graemerocher commented on #7724
we have already discussed with the Helidon team that possibility, but it is too early at this stage for anything concrete to emerge

[2022-09-20 18:36] altro3 opened #8057 "Move to jakarta.validation annotations"
### Feature description

It seems to me that it is time to completely switch to jakarta packages, because javax is now history

[2022-09-20 18:39] altro3 commented on #8057
I think similar tickets should be created for all Jakarta packages (mail, persistence etc.)

[2022-09-20 18:42] Goldmensch commented on #8057
That would be a big breaking change. What are the benefits of this?

[2022-09-20 19:00] altro3 commented on #8057
javax is no longer supported, I think it's worth switching to this package precisely because of development and support. I cannot name a specific profit, because. did not study this issue in detail. A similar question to the changes in version 3.0 - what was the profit from switching to jakarta.inject ? However, this upgrade took place

[2022-09-20 19:32] graemerocher commented on #8057
This is already being worked on here https://github.com/micronaut-projects/micronaut-validation

[2022-09-20 20:10] altro3 commented on #8057
@graemerocher ok, and what about other? Mail, el, annotation, persistence?

[2022-09-21 06:56] sdelamo commented on #8057
The plan is to move completely to jakarta by Micronaut 4.0.

[2022-09-21 07:02] sdelamo opened #8058 "Consider aligning default scope for @Bean when you use it to mark a class or via a factory"
This would be `@Prototype` scope:

[code]

however, the following code [defaults to`@Singleton`](https://github.com/micronaut-projects/micronaut-core/blob/4.0.x/inject/src/main/java/io/micronaut/context/annotation/Factory.java#L61):

[code]

I think it would be less confusing to have them both default to the same scope. Maybe,

[code]

should be a `@Singleton` in Micronaut 4?

[2022-09-21 07:18] dstepanov commented on #8058
We also need to define what annotations are inherited to the bean from the factory method and class.

[2022-09-21 08:20] graemerocher commented on #8058
it is a bug that the factory version defaults to singleton IMO

[2022-09-21 08:22] graemerocher commented on #8057
* `annotation` and `inject` are already migrated.
* `persistence` requires a new module for Hibernate 6.
*  We don't support `el` at this stage.
* `email` will require a issue in the Micronaut Email module to track it if it is not done already

[2022-09-21 08:37] sdelamo opened #8059 "Modules master branch should target next githubCoreBranch 4.0.x"
Per module tasks:

- [ ] gradle wrapper to 7.5.1 (or build plugins 6.x might break in strange ways) `./gradlew wrapper --gradle-version=7.5.1`
- [ ] `micronaut-build` plugins to 6.0.1
- [ ] `micronaut-test` to 4.0.0-SNAPSHOT
- [ ] `groovy` to 4.0.6
- [ ] `spock` to 2.3-groovy-4.0
- [ ] add dependency on `mn.snakeyaml` where necessary (for imports, or use of `.yml` config files)
- [ ] remove `io.mi

[2022-09-21 09:31] graemerocher opened #8062 "Move the remaining Reactor specific integrations into the Reactor module"
### Issue description

The types in `io.micronaut.reactive.reactor` contained within `micronaut-runtime` should be moved to the `Micronaut-reactor` module

[2022-09-21 09:32] graemerocher opened #8063 "Split the retry types into a separate module"
### Issue description

The types in `io.micronaut.retry` currently contained within `micronaut-runtime` should be split into a separate module that is optional

[2022-09-21 09:33] graemerocher opened #8064 "Split discovery package into separate module and make optional"
### Issue description

The classes in `io.micronaut.discovery` (currently in `Micronaut-runtime`) should be split into a separate module that is optional and depended on directly by the projects that actually need it

[2022-09-21 09:34] graemerocher opened #8065 "Split the types in the `io.micronaut.health` module to a separate module"
### Issue description

The types currently  in the `io.micronaut.health` module inside `micronaut-runtime` should be split into a separate module and a dependency added on the modules that need it (like `micronaut-management`)

[2022-09-21 09:35] graemerocher opened #8066 "Move the types in `io.micronaut.runtime.http` to http modules"
### Issue description

The types in the packages `io.micronaut.runtime.http` inside the `micronaut-runtime` module should be moved to relevant modules (either `micronaut-http`, `micronaut-http-server` etc.)

[2022-09-21 09:40] #7039 closed, assigned to nobody

[2022-09-21 09:40] graemerocher commented on #7039
Fixed by https://github.com/micronaut-projects/micronaut-core/commit/962ec7d517980c5d25cb8ececad45a695cd6e92e

[2022-09-21 09:59] alvarosanchez commented on #8058
The factory class itself is a singleton, which looks correct to me. What are prototypes are the beans created by it

[2022-09-21 16:09] melix commented on #7805
So, as soon as we do this, there are a few consequences which will require larger coordination.

1. first of all, moving to the metadata repository requires releasing a new version of the [Gradle plugin](https://github.com/micronaut-projects/micronaut-gradle-plugin/issues/550) and Maven plugin to enable the metadata repository. This, itself, could have consequences as it's going to transparently a

[2022-09-21 18:23] altro3 commented on #8057
@graemerocher @sdelamo Perfect! The main thing is that it is in the nearest plans. So the ticket can be closed, as work is already underway.

[2022-09-21 18:23] #8057 closed, assigned to nobody

[2022-09-22 15:10] graemerocher opened #8073 "Remove all uses of AutomaticFeature annotation for GraalVM and replace with explicit configuration"
### Issue description

The `@AutomaticFeature` annotation is going to be deprecated in the next version of GraalVM. We need to look for all uses of this annotation and switch to explicit configuration to specify the feature.

[2022-09-22 15:40] alvarosanchez commented on #8073
Should we not take the opportunity to migrate that configuration to the metadata repository? (#7805)

[2022-09-22 16:20] wetted opened #8075 "Remove Kotest 4"
### Issue description

Issue description
The upgrade to Kotlin 1.7.x for Micronaut 4 introduces some breaking changes to Kotest 4. We should remove Kotest 4 for Micronaut 4.

see https://github.com/micronaut-projects/micronaut-test/issues/643
see https://github.com/kotest/kotest/issues/2960
see #8074

[2022-09-22 16:42] graemerocher commented on #8073
Where possible yes

[2022-09-22 17:29] wetted commented on #8075
I have already added support for testing with Kotest5 in the core build plugin, needed for upgrade to kotlin 1.7.10 in `:test-suite-kotlin:test`

see #8074

[2022-09-23 15:05] phlppnhllngr opened #8077 "@ExecuteOn not actually doing much?"
### Expected Behavior

If I use `@ExecuteOn` with a fixed pool ("requests") that has core size X and max size Y, I expect the framework to create up to Y threads if required.
I only found [this](https://stackoverflow.com/questions/70395525/micronaut-microservice-can-only-handle-16-concurrent-http-connections) Stackoverflow post that seems to describe the same issue. It has no solution.

### Actual

[2022-09-24 03:47] volnei opened #8079 "Multiple uri route create a double when uri attribute is not set on @Get annotation"
### Expected Behavior

Multiple URI should resolve to exactly uris

### Actual Behaviour

They are resolving to "/" also

### Steps To Reproduce

Create a project with a multiple uri and create a controller like this:

[code]

Run application locally

Call / uri

[code]

It should print `resolve to / uri` but currently prints `resolve wront to / uri` "

The problem go away if you use current `@Get

[2022-09-26 00:52] pqab opened #8085 "Time zone only used for the first fire time in the Task Scheduler"
### Expected Behavior

nextFireTime from the delaySupplier

[code]

### Actual Behaviour

nextFireTime from the delaySupplier
`Asia/Tokyo` is the system time zone

[code]

### Steps To Reproduce

we have a schedule task and expected to be run at `00:00+09:00` every day

[code]

the time zone seems only used for the first fire time

### Environment Information

JDK11

### Example Application

_No r

[2022-09-26 15:25] kristofdho commented on #7738
@sdelamo This should be reopened. `SystemPropertiesSupport`, the offending class here, is located in the `svm` dependency. This will no longer be published as of GraalVM 22.3, which only leaves the `graal-sdk` dependency, so this class will be unavailable.
The used fix here was to switch back to running on the classpath, which is a deprecated runtime mode and will also be unavailable in a future v

[2022-09-27 21:45] soberich commented on #7724
Worked for server threads for me some time ago. Maybe with version 2.x of Micronaut, and definitely with loom of previous version (JDK version 17 based).
[code]

[2022-09-28 07:50] matt-snider commented on #7724
Hey @soberich thanks for posting that!

@graemerocher @sdelamo could you comment on whether this approach seems OK?

[2022-09-28 07:58] graemerocher commented on #7724
Will have to verify this approach works. @yawkat will take a look at this before 4.0

[2022-09-28 07:58] j0826 commented on #7724
Hi, I am not familiar with micronaut , but currently replacing thread to virtual thread may not receive benefits in performance because virtual thread will pin( block the scheduler thread to finish the operation, like monitor wait etc) on object monitor and Epoll wait.

So I have did some experiments to modify netty so that netty with loom could receive some benefits, but this is not mandatory, I

[2022-09-28 08:01] graemerocher commented on #7724
@joeyleeeeeee97 do you have references to those experiments?

[2022-09-28 08:03] j0826 commented on #7724
https://github.com/netty/netty/issues/12348
@graemerocher

[2022-09-28 08:04] j0826 commented on #7724
This could be reproducible and is based on https://github.com/TechEmpower/FrameworkBenchmarks/ .

[2022-09-28 08:07] j0826 commented on #7724
some data in spring experiments: https://github.com/openjdk/loom/pull/166

[2022-09-28 09:04] yawkat commented on #7724
@joeyleeeeeee97 the best netty perf is offered by netty's own epoll transport, which uses netty's own native code, which would pin any loom thread as you say. There are also some conceptual issues with the design of the event loop that make it less suitable to run on virtual threads.

I haven't had the time to look at this in detail yet, but I expect that we will integrate loom further downstream,

[2022-09-28 09:13] Iman78 opened #8090 "Allowing reserved characters in a path variables makes '+' decode as a space"
### Expected Behavior

To support  '+' in the path portion of the url, I'm using https://www.rfc-editor.org/rfc/rfc6570#section-3.2.3 to allow reserved characters like so:

[code]
From this [test](https://github.com/micronaut-projects/micronaut-core/commit/f08178768c6f5de5835257f5515b200316e4e020) I understand that f I call my GET endpoint with `/tes+t`, I should expect the value of `variable` to

[2022-09-28 10:46] jv-nxtproj opened #8092 "Issue when importing library with defined Beans"
### Expected Behavior

When I import a `@Singleton` bean from an external libray, I expect no error.

### Actual Behaviour

Application throws a **io.micronaut.context.exceptions.DependencyInjectionException** at startup
[code]

### Steps To Reproduce

### Steps To Reproduce

#### In project _common_, I define a bean
[code]

#### In project _service_ I use this bean
[code]

### Please note that th

[2022-09-28 11:07] shubhamsaykar commented on #1299
Hello graemerocher,

We have build a java application in micronaut  framework and with maven dependencies.
we have created the jar file of the application. When we run a jar file , it is not showing on which port it is running.
It is shownig like this: No embedded container found. Running as CLI application

Can you guide us  that how do we know that the application is running on the port:8080

Th

[2022-09-28 11:46] graemerocher commented on #8092
how are you importing the library

[2022-09-28 11:47] graemerocher commented on #7724
right, and we would need to profile if that is a good default since the thread context switch might not be ideal if you application is fully non-blocking. For Blocking operations when you switch to a different thread to run controller methods virtual threads may make sense.

[2022-09-28 11:57] jv-nxtproj commented on #8092
Library is imported as a maven dependency

[2022-09-28 16:06] graemerocher commented on #8092
Most likely the library is using shaded packaging which is resulting in multiple classes of the same type on the classpath

[2022-09-28 16:15] jv-nxtproj commented on #8092
Thanks for the answer.
Would you be so nice a to provide a link to a sample project so I can check where I messed up.
Thanks

[2022-09-28 16:17] graemerocher commented on #8092
perhaps if you upload your code to github we can have a look

[2022-09-28 16:19] sdelamo opened #8096 "BeanDefinitions being generated for @Entity in 3.7.0"
For an [application generated with the `hibernate-jpa` feature](https://micronaut.io/launch?type=DEFAULT&name=demo&package=com.example&javaVersion=JDK_11&lang=JAVA&build=GRADLE&test=JUNIT&features=hibernate-jpa&version=3.7.0), starting 3.7.0 we are generating bean bean definitions for classes annotated with `javax.persistence.Entity`.

for this entity

[code]

The following test will pass for 3.7.

[2022-09-29 07:19] BenjaminLeg opened #8097 "Jackson can't serialize DefaultHealthResult to JSON"
### Expected Behavior

I just want to enable health checks on my app to be used on Kubernetes.
I might be missing a configuration key for Jackson, explaining the issue.
Calling the /health endpoint should return a DefaultHealthResult mapped to JSON, containing informations about dependencies (i.e JDBC connection).
Endpoint should also reply 200 HTTP Status code.

### Actual Behaviour

Calling the

[2022-09-29 08:09] dstepanov commented on #8096
Looks like my changes making an entity a bean because of the validation annotations

[2022-09-29 08:21] graemerocher commented on #8097
Seems to be unrelated to Jackson and more related to Micronaut Servlet. Which Servlet container are you using?

[2022-09-29 08:22] graemerocher commented on #8097
ignore ... looks like Tomcat

[2022-09-29 11:02] graemerocher commented on #8077
@yawkat could you investigate this

[2022-09-29 13:52] #8096 closed, assigned to dstepanov

[2022-09-29 15:50] #7042 closed, assigned to nobody

[2022-09-30 06:44] melix opened #8099 "Decouple `HttpClient#create` from Jackson"
The issue arose when using Micronaut Test Resources in combination with Micronaut serialization. The test resources project provides a client which has to be injected to the application code in order to be able to communicate with the test resources service. This client is compiled as part of the Micronaut Test Resources project and does _not_ use Micronaut serialization, but Jackson databind at r

[2022-09-30 23:24] forresthopkinsa opened #8102 "Kotlin support for repeatable annotations"
### Issue description

The docs say that you need to use a workaround for repeated annotations when using Kotlin here:

https://github.com/micronaut-projects/micronaut-core/blob/3.7.x/src/main/docs/guide/ioc/conditionalBeans.adoc

However, the feature for repeatable annotations in Kotlin [landed](https://youtrack.jetbrains.com/issue/KT-12794/Allow-runtime-retention-repeatable-annotations-when-comp

[2022-10-02 16:19] rlconst opened #8107 "Passing body via declarative client"
### Expected Behavior

I can pass standard generic collections like map/set/list and plain string as a body

### Actual Behaviour

It failing with error 400 because of null instead of body

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

https://github.com/rlconst/micronaut-playground/blob/master/generic-body/src/test/kotlin/com/example/D

[2022-10-02 16:22] rlconst commented on #8107
After adding body to interface this exaple works, but my main project still broken. I'll try to reproduce

[2022-10-02 17:04] rlconst commented on #8107
Ok, You have to explicitly specify `consume` parameter otherwise it won't work despite documentation says about [default](https://docs.micronaut.io/latest/guide/index.html#bodyAnnotation)

[2022-10-02 17:18] ThraaxSession opened #8108 "GraalVM FasterXML - Exception"
### Expected Behavior

I can build a `nativeBuild` with KMongo/MongoDB.

### Actual Behaviour

[code]

### Steps To Reproduce

[code]

### Environment Information

Micronaut 3.7.1
Kotlin 1.7.20
GraalVM 22.2.0

### Example Application

_No response_

### Version

3.7.1

[2022-10-02 17:42] graemerocher commented on #8108
Add `@ReflectiveAccess` to the type

[2022-10-02 17:42] #8108 closed, assigned to nobody

[2022-10-03 10:38] ThraaxSession opened #8110 "GraalVM adding TypeHint for private packages"
### Issue description

So my app is almost working as native image.
Now I've got the issue that I can't add a `@TypeHint` for a private class.
Is there anyway I can add it anyway?

[code]

[2022-10-03 10:57] #8110 closed, assigned to nobody

[2022-10-03 15:10] melix opened #8112 "Extract BOM into its own project"
Currently the BOM file is published alongside Micronaut Core, which has a number of issues. In particular, it makes it necessary to release a new version of Core if we want to publish bugfix releases of Micronaut which only include bugfixes of modules. It also makes it difficult to release pre-versions of Micronaut which depend on newer versions of modules.

I would therefore suggest to extract th

[2022-10-03 16:47] wetted commented on #7869
@aprietop @fmonorchio This works correctly as of 3.7.0. Please upgrade your Micronaut version and confirm it works for you.

ping @sdelamo

[2022-10-03 17:29] aprietop commented on #7869
@fmonorchio @sdelamo @wetted
Yes, I have confirmed this now works fine with the 3.7.0 release. Therefore, I'm closing this issue.
Thank you!

[2022-10-03 17:29] #7869 closed, assigned to wetted

[2022-10-03 19:51] kevind-wgu opened #8113 "Micronaut Client slow, occasional ReadTimeoutException"
### Expected Behavior

I expected that using a Micronaut Http Client would return results at a similar speed as compared with using `java.net.http.HttpClient`.

### Actual Behaviour

Comparing side by side with a direct HttpClient GET request and a Micronaut Client request the micronaut client is consistently 3-4 times slower.

- Test Application
  - java.net.http.HttpClient - 30-40 ms
  - io.micr

[2022-10-04 10:54] timyates opened #8115 "Static AttributeKey in HttpPipelineBuilder causes native compilation to fail"
In this PR for 4.0.0 https://github.com/micronaut-projects/micronaut-core/pull/6842 a static AttributeKey was added to the `HttpPipelineBuilder` class

This is causing Graal to fail with:

[code]

Previously we fixed this like so: https://github.com/micronaut-projects/micronaut-core/pull/8013

Spotted as part of working on https://github.com/micronaut-projects/micronaut-core/issues/7691 to catch t

[2022-10-04 10:55] timyates commented on #7691
This is going to have to go into 4.0.0, as the shaded Caffeine in 3.8.x is causing me issues with native compilation

[2022-10-04 22:16] hurynovich opened #8117 "`StringConvention.RAW` not working when used in `PropertySourcePropertyResolver.getAllProperties`"
### Expected Behavior

When `StringConvention.RAW`  is passed to `PropertySourcePropertyResolver#getAllProperties` then property keys must not be changed.

### Actual Behaviour

When `StringConvention.RAW` is passed to `PropertySourcePropertyResolver#getAllProperties` method then all keys are hyphenated.
For example key `CamelCase.property` is translated into `camel-case.property`.

### Steps To R

[2022-10-05 07:33] hurynovich commented on #8117
I have added pull request https://github.com/micronaut-projects/micronaut-core/pull/8119 with fix.

[2022-10-05 12:19] tbehner opened #8120 "HttpStatus 425 is UNORDERED_COLLECTION instead of TOO_EARLY"
### Issue description

Hi everyone, HttpStatus.value(425) is translated to HttpStatus.UNORDERED_COLLECTION, but shouldn't this be TOO_EARLY as described here: https://www.rfc-editor.org/rfc/rfc8470

[2022-10-05 20:10] phlppnhllngr commented on #8077
I created a demo project: https://github.com/phlppnhllngr/mn-issue-8077

[2022-10-06 06:53] graemerocher opened #8124 "Upgrade to Jackson 2.14.0"
### Issue description

We need to include https://github.com/FasterXML/jackson-databind/issues/3590

[2022-10-06 08:40] domi-nika60 commented on #7921
hello, is there any update about this? thanks

[2022-10-06 15:08] timurstrekalov commented on #6912
Using Gradle. Had to add `annotationProcessor("ch.qos.logback:logback-classic")` to get rid of this warning.

Micronaut version 3.7.1. List of modules:

[code]

[2022-10-06 15:12] baztian opened #8127 "Parsson 1.1.1 incompatibility"
### Expected Behavior

If I add the dependency parsson 1.1.1 Json classes should work as with 1.0.0

### Actual Behaviour

With parsson 1.1.1 I'm getting the following exception

    Exception in thread "main" java.lang.NoClassDefFoundError: jakarta/json/JsonConfig$KeyStrategy
        at org.eclipse.parsson.JsonObjectBuilderImpl$DuplicateStrategy.<clinit>(JsonObjectBuilderImpl.java:373)
        at

[2022-10-06 15:26] schrek1 commented on #2977
@yawkat is possible insert nested maps for multidimensional array query param?

e.g.: Map<String, Map<String, String>>  =>   filter[0][field]=xyz

[2022-10-06 16:05] graemerocher commented on #6912
The bug is known and is openapi https://github.com/micronaut-projects/micronaut-openapi/issues/821

[2022-10-07 08:05] jv-nxtproj commented on #8092
Issue was in library.
I had
[code]

Need to remove `micronaut-inject-java processor` as for
[code]

[2022-10-07 08:05] #8092 closed, assigned to nobody

[2022-10-07 08:06] jv-nxtproj commented on #8092
@graemerocher thanks for support

[2022-10-07 10:09] aglumova commented on #7939
We migrated to Spring Boot 2.x.x and memory usage become much better without leaks.

Before 6/10/2022 on Mincronaut, after - on Spring Boot.

<img width="1243" alt="Screenshot 2022-10-07 at 13 06 45" src="https://user-images.githubusercontent.com/2685439/194529525-81c8d488-4db1-496c-b2eb-6aa8bcd785ed.png">

---

Hope the Micronaut team will pay more attention on such problem with memory leaks on t

[2022-10-07 12:14] Xaseron commented on #8001
I have found the cause, but i don't really understand it.
The tests are only working when the ApplicationContext is defined inside the TestContext.

Working test:
[code]

[2022-10-07 22:32] kevind-wgu opened #8131 "BeanDefinitionInjectProcessor requiresValidation method incorrect"
### Expected Behavior

@dstepanov I have been fighting a bug I encountered when upgrading from 3.6.4 to 3.7.1.  I have tracked the problem down to the method BeanDefiintionInjectProcessor.requresValidation which was recently added by you.

The method "requiresValidation" seems to return true for any method on a class that has a "Constraint" annotation defined.
I have written a class level validati

[2022-10-08 16:27] dstepanov commented on #8131
It’s already fixed.

[2022-10-10 07:33] yawkat commented on #7939
This does not look like a memory leak to me? The memory use is fairly constant.

[2022-10-10 07:42] yawkat commented on #2977
no it is not possible atm, exploded params don't parse the bracket syntax at all, they put *all* the parameters into the map

[2022-10-10 07:49] yawkat commented on #8120
i think with #5621 we should drop these weird status codes and only have those in rfc 9110 by default

[2022-10-10 08:41] badyag commented on #7939
@yawkat It looks more or less constant, because the application runs inside a Kubernetes cluster, and when the application container reaches the set memory limit, Kubernetes restarts it. Otherwise, the app would probably consume all available memory on the node.

[2022-10-10 10:03] driverpt opened #8139 "[GRAALVM] Logback not fetching Environment Variable"
### Expected Behavior

We are using [Logstash Logback Encoder](https://github.com/logfellow/logstash-logback-encoder) and we are trying to inject Field Values as Environment Variables.

e.g.:
[code]

### Actual Behaviour

Variables are not properly filled. Result:

[code]

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

https://github.com

[2022-10-10 10:17] nfode opened #8140 "When using Controller with Project Reactor Mono doFinally is not called when request is cancelled"
### Expected Behavior

I have the following method in a controller:
[code]

I expect when I call the endpoint with curl and cancel the request, the reactive chain should be cancelled and the `doFinally` block should be called with `CANCEL` as signal.

### Actual Behaviour

`doFinally` is called after the duration of a minute with a `ON_COMPLETE` signal. This means the Mono is not cancelled, and th

[2022-10-10 14:48] kevind-wgu commented on #8131
Awesome! Thank you!

[2022-10-10 14:48] #8131 closed, assigned to nobody

[2022-10-10 15:01] dstepanov commented on #8131
Should be in 3.7.2

[2022-10-11 05:49] #8115 closed, assigned to timyates

[2022-10-11 07:11] jameskleeh commented on #7971
I don’t see much benefit in renaming the inject- modules.

[2022-10-11 07:16] wangdiskater commented on #1509
您好，我已经收到您发来的邮件，我会尽快看完，谢谢您！

[2022-10-11 08:31] graemerocher commented on #7971
agreed, will just create disruption, new compilation time only modules makes sense though

[2022-10-11 13:52] dstepanov opened #8144 "Broken pipe shouldn't be logged"
### Issue description

[code]

[2022-10-11 15:15] Bejenar opened #8145 "Arrays in query params"
### Issue description

I need to build a request that will have the following query params:

`/endpoint?filter[has]=resources&filter[site]=foobar&filter[external_id]=47917&include=bar`

[code]

expected result: http client makes the desired call

actual:
[code]

Am I doing something wrong perhaps?

[2022-10-12 09:57] yawkat commented on #8077
@phlppnhllngr ive tried your demo project, but can't reproduce the issue. i turned down the event loop size using the following config:

[code]

With this, I get 4 worker event loop threads, but the pool still takes the full size when I run gatling (I see 50 threads).

[2022-10-12 16:27] #4791 closed, assigned to nobody

[2022-10-13 03:22] weesftw opened #8150 "OpenAPI - Use of multiple modules has conflict in view layer"
### Expected Behavior

I have a project structured in a multi-module schema, and each module has its controllers which in turn have the mapping with Swagger annotations. However, if I segregate all of them into a single structure, the view layer only displays the first module, ignoring the others, without having an iteration to load all the classpath endpoints. Is there anything I can do to resolv

[2022-10-13 08:29] sdelamo opened #8152 "Extract session to its own repository"
### Issue description

see: https://github.com/micronaut-projects/micronaut-core/tree/4.0.x/session

[2022-10-13 08:29] sdelamo commented on #8152
what would be the best way to do this? Fork the repo and remove the rest of the modules to preseve the history?

[2022-10-13 08:33] driverpt commented on #8139
Update:

I'm not a GraalVM specialist, but my gut tells me that the issue is here:

![image](https://user-images.githubusercontent.com/1164534/195541664-5a82dc0e-cefc-42a0-acf5-d1896377fa26.png)

Logback by being initialized in Build Time, variable substitution is also happening in this phase
Source: https://logback.qos.ch/manual/configuration.html#variableSubstitution

[2022-10-13 08:33] timyates commented on #8152
I'm not sure 🤔

Q; Will it be under the group `io.micronaut.session`?

If so, we will will need to fix up starter (so that it uses a different dependency for 4.0.0)

[2022-10-13 09:12] alvarosanchez commented on #8152
We have done this in the past multiple times (cache, discovery client, etc). It required running a complex `git filter-branch` command, but now it is much easier: https://stackoverflow.com/questions/359424/detach-move-subdirectory-into-separate-git-repository

Yes. `io.micronaut` is reserved for core modules.

[2022-10-13 15:18] chriskosys commented on #3651
@dejanvasic85 Thanks a lot, this was extremly helpful. I got the same problem but without graphql in micronautVersion=3.7.1
after about 20 requests i got a timeout. now i added
[code]

and
[code]

and the issue is gone.

[2022-10-13 16:41] jfsanchez91 opened #8160 "Fatal error: java.lang.IllegalAccessError: class io.micronaut.buffer.netty.NettyFeature (in unnamed module @0x5f90a2ee) cannot access class com.oracle.svm.core.jdk.SystemPropertiesSupport (in module org.graalvm.nativeimage.builder) because module org.graalvm.nativeimage.builder does not export com.oracle.svm.core.jdk to unnamed module @0x5f90a2ee"
### Expected Behavior

Native image is created

### Actual Behaviour

I assemble the jar with `./gradlew assemble`, then when trying to build the native image: `native-image --no-server -cp build/libs/example-0.1-all.jar com.example.ApplicationKt`,
I get the following error message:

[code]

### Steps To Reproduce

_No response_

### Environment Information

micronautVersion=3.7.0-SNAPSHOT
kotlinV

[2022-10-13 16:57] alvarosanchez commented on #8160
Can you try with Micronaut 3.7.1? If it keeps failing, post your build.gradle.

[2022-10-13 17:22] burtbeckwith commented on #8160
You should use `./gradlew nativeCompile` - the Gradle task runs with standard exports and you can configure further in build.gradle

[2022-10-13 18:53] jfsanchez91 commented on #8160
Still failing after upgrading to `micronautVersion=3.7.1`

### what is failing?
[code]

### build.gradle.kts
[code]

### gradle.properties
[code]

[code]

[code]

[code]

[2022-10-13 19:06] jfsanchez91 commented on #8160
@burtbeckwith `./gradlew nativeCompile` works, but then I have a different issue when running the app binary :).
### error stacktrace
[code]

this error only occurs when running the native app.

[2022-10-14 07:08] tqad commented on #5613
I had the same issue. It should be included in the documentation or a guide at least. Where should someone start if they want to propose this as a PR in the BOM?

[2022-10-14 12:13] Patrolfr commented on #8145
Hi, it should be possible with `@QueryValue @Format("DEEP_OBJECT") Object filter` parameter.
@Bejenar I have prepared [an example for your case](https://github.com/Patrolfr/micronaut-core/commit/d61cdb52dcf9a6bb29e6b8bdf0b715736ad42037). Does it solve your problem?

[2022-10-14 12:50] phlppnhllngr commented on #8077
I had wrongly assumed how the pool adds more threads. It won't create more than coreSize threads unless the queue is full, and Executors.newFixedThreadPool() creates a queue with limit MAX_INTEGER. @yawkat thank you though.

[2022-10-14 12:50] #8077 closed, assigned to yawkat

[2022-10-14 13:54] Bejenar commented on #8145
@Patrolfr yes it works, thank you! By the way, is `ClientFormatSpec` the only place to see how `@Format` can be used? Don't seem to find a lot here: https://docs.micronaut.io/2.3.3/api/io/micronaut/core/convert/format/Format.html

[2022-10-14 14:24] Patrolfr commented on #8145
I have found example usage when I was trying to tackle down this issue during Hacktoberfest.
See `Query values formatting` in the [docs](https://docs.micronaut.io/latest/guide/#clientParameters).
I guess annotation is too general to have such a detailed usage described in the javadoc

[2022-10-14 15:20] sdelamo opened #8164 "Regression methods with parameters using Micronaut Nullability annotations are treated as executable methods in Micronaut Framework 4"
### Issue description

The following is valid in Micronaut Framework 3:

[code]

[code]

However, in Micronaut Framework 4.0.0-SNAPSHOT it fails with:

[code]

[2022-10-14 15:20] #8145 closed, assigned to nobody

[2022-10-14 15:30] sdelamo commented on #8164
This breaks `micronaut-email` `master` branch build completely.

[2022-10-15 11:29] KangoV opened #8170 "Response from POST returns wrong content-length"
### Expected Behavior

The correct content-length should be returned.

### Actual Behaviour

The wrong content-length is returned. But, it seems that the length is from a different request?

### Steps To Reproduce

A simple POST endpoint that just creates a new object and returns it.

Using Apache bench to fire 1000 requests with a concurrency of 1:
[code]

Here are a couple of the responses:
[cod

[2022-10-15 11:36] #8170 closed, assigned to nobody

[2022-10-15 11:43] KangoV commented on #8170
Ok, it appears that `ab` expects all responses to be equal in size. If there is any chance the output will vary in size, you should ignore "Failed requests", as ab will consider them failed. 🤦

Sorry for the spam!

[2022-10-15 18:17] nanodeath opened #8171 "Returning null or empty body with aws-lambda feature results in Jetty 404"
### Expected Behavior

The method defined here:

[code]

while a bit nonsensical, should work and cause the browser to receive a HTTP 304 response.

### Actual Behaviour

The following page is returned instead:

[code]

and if it helps any, these headers:

[code]

### Steps To Reproduce

1. Create a new project by going to https://micronaut.io/launch and choosing all the default settings, but addi

[2022-10-16 10:23] ThraaxSession commented on #7986
I've got the same issue with custom server-side filter. When I post my http body as JSON I can't read it as the body is always empty.
It's also important that the JSON is generic. The content will be mapped then into a mutable map where I do some checks like the key is always a string and so on.

@graemerocher any idea as the issue is pretty old.

[2022-10-16 12:05] graemerocher commented on #7986
it is possible to implement a Netty channel handler that does the same thing by buffering the body for certain content types and then passing it downstream again but I agree we need an easier way for users to implement this. /cc @yawkat

[2022-10-16 22:26] nanodeath commented on #8171
Eh, so maybe this was obvious, but once deployed to Lambda it actually does seem to return the correct status codes as expected, without setting a body. So this might be a development-only issue.

[2022-10-17 06:24] dstepanov commented on #7986
I think this can be made optional like it's in resteasy.

[2022-10-17 09:16] dstepanov commented on #7995
Somehow after the refactoring registering a singleton is not overriding an existing singleton. I don't think that is required behavior anyway.

[2022-10-17 09:20] dstepanov commented on #7995
After another looks I see it's registered with a different qualifier.

[2022-10-17 10:00] timyates opened #8184 "ErrorResponseProcessor in a Groovy project throws CNF exception"
### Expected Behavior

Given a custom exception `WhoopsException`, I should be able to create an `ExceptionHandler` which processes a response for this via `ErrorResponseProcessor`, ie:

[code]

### Actual Behaviour

However, when it attempts to call `processResponse`, it fails with

[code]

I suspect Groovy is trying to find JacksonConfiguration when it tries to load the `HateoasErrorResponseProc

[2022-10-17 10:13] sapanparikh18 opened #8176 "When running @MicronautTest server is not started via Application.java"
### Expected Behavior

Add `System.out.println("Starting app")` at the first line of Application.java of your Micronaut project. When you run the integration test, this string should be printed.

### Actual Behaviour

The string does not get printed.
This is important because this is where we initialize BlockHound. This means our integration tests pass but the production system fails, complaining

[2022-10-17 10:47] dstepanov commented on #7995
The actual problem is when the extra singleton is registered, it's automatically registered as a primary. The `createBean` method finds a new bean definition. More correct would be for it to throw an error.

I added a new method to find a bean without any qualifier that can be used to call the create bean on the original factory producer.

[2022-10-17 10:51] alvarosanchez commented on #8176
You should not use the Application class for that. A better option would be [a server event listener](https://docs.micronaut.io/latest/guide/#serverEvents).

Alternatively, initialise BlockHound in a `static {}` block, [as they recommend](https://github.com/reactor/BlockHound/blob/master/docs/quick_start.md#installation)

[2022-10-17 10:51] #8176 closed, assigned to nobody

[2022-10-17 13:12] #8164 closed, assigned to dstepanov

[2022-10-17 13:47] sdelamo commented on #8144
@dstepanov is this fixed?

[2022-10-17 14:07] dstepanov opened #8179 "Allow to define HTTP filters with custom methods similar to controller definition"
### Feature description

It would be nice to remove the requirement to always write reactive HTTP filters in Micronaut 4.

The requirements would be the ability to write a filter method using imperative, reactive (reactive-streams), Java 15 Flow, Kotlin coroutines, and completable future, just like it's possible to define a controller method.

The proposal to introduce two annotations:
1. `@Reques

[2022-10-17 19:00] subash89 commented on #6672
@Casvad  @yawkat  can you give an example how this can be achieved using micronaut serialization way ? I am trying to achieve same jackson sub types scenario. I don't mind using micronaut serialization if it provides an alternate?

[2022-10-17 20:59] n0tl3ss commented on #8139
My understanding this won't be a trivial change, here is an explanation:

- GraalVM compiler will try to initialise at build time everything that is referenced in static blocks of class code that is specified inside the `--initialize-at-build-time`.
-  The `--initialize-at-build-time=ch.qos.logback,io.micronaut`, `io.micronaut` is crucial for us,  inside https://github.com/micronaut-projects/micro

[2022-10-18 05:26] sdelamo commented on #8117
Close via https://github.com/micronaut-projects/micronaut-core/pull/8178

[2022-10-18 05:26] #8117 closed, assigned to nobody

[2022-10-18 05:28] sdelamo commented on #8144
@yawkat is this fixed? Can we close the issue?

[2022-10-18 06:26] dstepanov commented on #8144
We can close it, I will test after the release

[2022-10-18 06:26] #8144 closed, assigned to yawkat

[2022-10-18 06:46] tituschu0628 opened #8181 "a setting to override RouteExecutor isIgnorable"
### Feature description

Hello,

We current set our micronaut logging level to INFO. The RouteExecutor decides to log connection related exceptions (regex `IGNORABLE_ERROR_MESSAGE`) to DEBUG. I understand the intention to reduce the amount of logs ([https://github.com/micronaut-projects/micronaut-core/issues/5224](https://github.com/micronaut-projects/micronaut-core/issues/5224))
but what if I wan

[2022-10-18 08:35] timyates commented on #8184
So adding `problem-json` to the guid application makes this go away as it uses that instead of the `HateoasErrorResponseProcessor` in core.

Maybe we need to add a `HateoasErrorResponseProcessor` here (in a separate lib?) to override the one in core if people pull in Serde?

[2022-10-18 08:38] ianroberts commented on #6672
@subash89 in my original example app in the issue report (https://github.com/ianroberts/micronaut-jsonsubtypes-test) the way I was able to make it work was to add `@ReflectiveAccess` not to the `@JsonSubTypes` base class itself, but rather to any classes that include a _property_ of the polymorphic type.

[2022-10-18 08:41] yawkat commented on #6672
@subash89 check out https://micronaut-projects.github.io/micronaut-serialization/latest/guide , it has more information on micronaut-serialization and how to use it. It is compatible with jackson annotations to some extent.

[2022-10-18 08:53] driverpt commented on #8139
@n0tl3ss , how do you suggest we fix this then?

The issue is that Logback Internal Resolvers are initialized and cached at build time, causing it to ignore the new values at runtime (given that these are already cached and resolved).

And we need to inject values at Runtime that will be used in Structured Logging

[2022-10-18 10:36] sdelamo commented on #8179
Are you proposing to support `@RequestFilter` and `@ResponseFilter`in addition to our current support classes annotated with `@Filter` which implement `HttpServerFilter`?

[2022-10-18 10:43] sdelamo commented on #8179
What would happen for methods using imperative programming?

[code]

Will Micronaut Framework execute these methods in the netty event pool?

[2022-10-18 10:46] sdelamo commented on #8179
I assume we will create a list of filter composed by old fashion filters (classes annotated with `@Filter` which implement `HttpServerFilter`) and filter methods (methods annotated with `@RequestFilter` and `@ResponseFilter`. We will sort them all with `OrderUtils` and apply them. Is this correct?

[2022-10-18 10:47] sdelamo commented on #8179
Could not we do this for 3.9.0 or 3.10.0 ? Do we need Micronaut Framework 4.0 for this feature?

[2022-10-18 11:13] dstepanov commented on #8179
Probably yes, but internally there is going to be another filter abstraction that can avoid reactive code.
The best would be to remove the existing filter, but it might be a significant change.

Yes, just like it's now.

To properly implement ordering, we would need to have two sets of filters, request and response, and combining it with the original `HttpServerFilter` might be a bit complicated.

[2022-10-18 12:54] subash89 commented on #6672
@ianroberts  with json sub types, I see your API returns with correct serialization(with {type:"car",..}) , even without @ReflectiveAccess. But what I am trying to do is load the Vehicle bean from application.yml.  Where I expect Config.vehicle object to be type of Car. But vehicle comes as null all the time.

[code]

From a config class as follows

[code]

@yawkat  I went though that, but microna

[2022-10-18 12:56] yawkat commented on #6672
`ConfigurationProperties` are not loaded using jackson or micronaut-serialization at all. JsonSubTypes will not work in the config.

[2022-10-18 13:08] subash89 commented on #6672
@yawkat **Is there any way** I can achieve above scenario where I need a particular sub class configuration like Car to be set to Vehicle variable. (using some kind of a qualifier or some parameter/AOP of a class or anything)

When dealing with Beans, we can  use bean qualifiers to distinguish different sub classes, like Named("prefix-of-class"). Any way to achieve this for config objects.

[2022-10-18 13:10] yawkat commented on #6672
No I don't think so. You can use a different prefix for each subtype, but there's no real polymorphism support

[2022-10-18 13:13] subash89 commented on #6672
@yawkat  Can you explain what you mean by using different prefix for each sub types ?

[2022-10-18 13:14] yawkat commented on #6672
you can have a prefix app.car, app.bike, etc. one for each subtype

[2022-10-18 13:34] subash89 commented on #6672
@yawkat Thanks.
Ok. That means define then separately. (which I wanted to avoid originally) . got it.
For my information, why is it not possible from configs, but fine in responses. I though either case it uses same serialization implementation. Both loading yaml to objects and serialize/deserialize objects from/to the wire.

[2022-10-18 13:41] yawkat commented on #6672
it does not use the same serialization implementation, no.

[2022-10-18 13:53] ianroberts commented on #6672
With configuration properties there's a lot more to it than just loading a single YAML/JSON file - various property sources get merged into one (the `application.yml` inside the JAR, values from environment variables, files named in `MICRONAUT_CONFIG_FILES` env var or `micronaut.config.files` system property, etc. etc.) and then the configuration properties bean is data-bound from the final merged

[2022-10-18 14:18] yawkat commented on #8179
re: "wraparound filters":

we could offer a blocking alternative to wraparound filters as well:

[code]

This is a good use case for loom.

[2022-10-18 14:40] timyates commented on #8184
So there is a fix available.  If we delete this constructor

https://github.com/micronaut-projects/micronaut-core/blob/eed72283006f4428aa7e6e82f9612433008bc1dc/http-server/src/main/java/io/micronaut/http/server/exceptions/response/HateoasErrorResponseProcessor.java#L49-L58

Then the attached Groovy example project works.

But this breaks binary compatibility

<img width="1147" alt="image" src="htt

[2022-10-18 15:54] timyates commented on #8184
Deprecation for 3.8.0 here https://github.com/micronaut-projects/micronaut-core/pull/8185
Removal for 4.0.0 here https://github.com/micronaut-projects/micronaut-core/pull/8186

[2022-10-18 18:52] subash89 commented on #6672
Will  @TypeHint useful for configurations ?

[2022-10-18 23:40] graemerocher opened #8187 "Introspections choose wrong constructor with records that have a constructor initializer"
### Expected Behavior

The primary record constructor should always be the creator in the absence of a creator annotation.

### Actual Behaviour

The following code:

[code]

Fails with:

[code]

Unless you annotate the constructor initializer with `@Creator`:

[code]

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

_No response_

### Ver

[2022-10-19 07:32] knvijay opened #8188 "ClosedChannelException using micronaut declarative rest client"
### Expected Behavior

we use micronaut declarative rest client to invoke different https endpoints (using Post operation with a json payload). These rest client operations are expected to work fine (without experiencing any ClosedChannelException).

### Actual Behaviour

Under stress tests, the rest client invocation sometimes results in java.nio.channels.ClosedChannelException with the following

[2022-10-19 08:35] yawkat commented on #6672
no

[2022-10-19 08:36] #8184 closed, assigned to nobody

[2022-10-19 08:37] sdelamo commented on #8188
@yawkat 👆🏻

[2022-10-19 08:39] sdelamo commented on #8188
I think this is related to it https://github.com/micronaut-projects/micronaut-core/pull/8149

@knvijay can you try 3.7.2  ?

[2022-10-19 08:52] yawkat commented on #8181
i dont think this should be a config setting, changing the log level seems fine. do you need to configure this separately from other DEBUG-level messages of io.micronaut.http.server.RouteExecutor? we could add a marker or something.

[2022-10-19 09:23] sdelamo commented on #8179
I think we need to keep  classes annotated with `@Filter` which implement `HttpServerFilter` at least until Micronaut Framework 5.0.

[2022-10-19 09:45] tituschu0628 commented on #8181
for our case, we do want to stay at INFO
over time, our logs started to become too chatty and we decided to change many of our log messages from INFO to DEBUG to clean up clutter
changing level to DEBUG would defeat that

if we don't care to use `createDefaultErrorResponse` anymore, then yes I don't have to worry about `isIgnorable` and just log.error everything, but it means we won't use `RouteEx

[2022-10-19 09:45] yawkat commented on #8181
you can change the log level for individual classes. you dont need to log DEBUG level everywhere.

[2022-10-19 09:50] tituschu0628 commented on #8181
i see i see, thanks for the suggestions
i'll take a look at the whole `RouteExecutor` class first

[2022-10-19 14:18] weesftw opened #8190 "Assets not loading when static-resources mapping is '/'"
### Expected Behavior

Apply the mapping of static-resources with some content, example: `/foo` and be able to access the page with the assets loaded.

### Actual Behaviour

When I map the property `micronaut.router.static-resources.swagger-ui.mapping` with the value `/foo` and access `http://localhost:8080/foo` it does not load the page assets (css and js) just a white page and the browser's debu

[2022-10-19 14:57] TristanSpeakEasy opened #8191 "io.micronaut.http.cookie.SameSiteConverter cannot be cast to io.micronaut.http.server.netty.NettyServerCustomizer$Registry"
### Expected Behavior

Configuring a Netty Server Pipeline according to the docs https://docs.micronaut.io/snapshot/guide/index.html#nettyServerPipeline and importing it with the `@Import` annotation https://docs.micronaut.io/latest/guide/#beanImport should result in it being successfully setup and able to be used for request logging and other similar tasks.

### Actual Behaviour

When Importing a

[2022-10-19 15:07] wetted commented on #8059
@sdelamo We need to start pointing to `micronaut-test` 4.0.0-SNAPSHOT to avoid groovy 4.0 / spock groovy-3.0 collisions leaking into builds. @timyates agrees and we both went over the draft PR I have for `micronaut-mqtt` that has build issues because of it. Tim is also fixing `micronaut-test` 4.0.0-SNAPSHOT to correct the BOM to expose spock 2.3-groovy-4.0 instead of 21-groovy-3.0.

[2022-10-19 16:52] timyates commented on #8059
@wetted Micronaut-test 4.0.0-SNAPSHOT does have the correct dependencies, but it's failing to publish snapshots to Sonatype as we believe there's a currently a bug in the BeanDefinition code for Groovy classes in core 4.0.0-SNAPSHOT.  Investigations continue, and we'll get a SNAPSHOT published ASAP

[2022-10-20 10:41] TristanSpeakEasy opened #8194 "Around Advice: Error instantiating bean of type - Multiple possible bean candidates found"
### Expected Behavior

Following the documentation for adding an Around Advice Annotation https://docs.micronaut.io/latest/guide/index.html#aroundAdvice in the hello-world project results in working Around Advice

### Actual Behaviour

Following the documentation for adding an Around Advice Annotation https://docs.micronaut.io/latest/guide/index.html#aroundAdvice and adding the example NotNull ann

[2022-10-20 16:10] graemerocher commented on #8194
Hmm can you attach your example?

[2022-10-20 16:40] TristanSpeakEasy commented on #8194
Thanks @graemerocher for taking a look here is the example repo https://github.com/TristanSpeakEasy/micronautexample

I realized putting together a minimal example the error above doesn't happen just with the hello-world example and the annotation example.

but is caused when compiling in a library we are currently building to add some middleware to micronaut you can see that code here https://git

[2022-10-20 16:44] graemerocher commented on #8194
This error could happen if you have multiple versions of the `micronaut-aop` module on your classpath or if you are including a fat jar containing duplicate classes. Perhaps check that is not the case.

[2022-10-20 16:51] graemerocher opened #8198 "Automatically configure a separate event loop for the client if only 1 CPU is detected"
### Feature description

A common deployment scenario is to deploy Micronaut to k8s with pods that have only a single CPU.

In this scenario if you have any blocking HTTP client calls in your application it deadlocks the event loop because the event loop size is calculated from the number of available CPUs.

To resolve this the user has to re-configure a separate event loop for the client to run o

[2022-10-20 16:52] graemerocher commented on #8198
thoughts @yawkat @dstepanov @sdelamo ?

[2022-10-20 16:54] TristanSpeakEasy commented on #8194
Thanks I will start digging around the dependencies, we do have everything pinned to the same version but will look into what else might be duplicated

[2022-10-20 20:28] dstepanov commented on #8198
It doesn't matter how many threads you have, the blocking client can block them all. IMHO I would switch back to `auto` thread selection. The use-case where we have imperative controller methods that need to be run on the event loop is, in my opinion, far less than the opposite.

[2022-10-20 21:12] graemerocher commented on #8198
Perhaps defaulting to IO makes more sense

[2022-10-21 09:01] yawkat commented on #8198
we could implement a simple detection for this and log a warning (or even error, if we can be sure the event loop we're waiting on is the same that we're blocking).

[2022-10-21 10:21] #8120 closed, assigned to nobody

[2022-10-21 12:06] jhswedeveloper opened #8200 "BigDecimal deserialization default behaviour Jackson"
### Expected Behavior

When sending POST /test

[code]

The bigdecimal deserializes as 118.0 with one decimal point, the expected behaviour should be 118

### Actual Behaviour

_No response_

### Steps To Reproduce

[code]

### Environment Information

JDK 17
micronaut 3.7.2

### Example Application

_No response_

### Version

3.7.2

[2022-10-21 12:48] graemerocher commented on #8198
Fail fast would definitely be better than the current behavior

[2022-10-21 13:34] timyates opened #8202 "Add RabbitMQ module BOM to the catalog"
Once https://github.com/micronaut-projects/micronaut-rabbitmq/pull/390 is done and released, we need to clean up the catalog to include it

[2022-10-22 01:56] jameskleeh commented on #8179
I think this would be a mistake because of the number of edge cases will be high and it will likely add latency to the server.

It's also more difficult to reason about what is possible given there is no API and it's up to the user to read the documentation to understand what is possible and/or trial and error.

This will require a lot of compile time validation to ensure the arguments and return

[2022-10-22 02:02] jameskleeh commented on #8113
You're blocking the event loop so that is the likely cause of the read timeouts

[2022-10-22 08:27] ThraaxSession commented on #7986
If it takes longer time to implement it in `HttpRequest<*>` do you have an example @graemerocher to do with `Netty channel handler`?

[2022-10-22 15:11] altro3 commented on #8059
micronaut-grpc: https://github.com/micronaut-projects/micronaut-grpc/pull/596

[2022-10-23 11:04] donbeave opened #8212 "Move tracing relating components from external modules to micronaut-tracing module"
### Issue description

Hello!

It looks like opentracing support was added to [kafka](https://github.com/micronaut-projects/micronaut-kafka), [grpc](https://github.com/micronaut-projects/micronaut-grpc), etc modules before `micronaut-tracing` module was moved from core to a separate module and added additional tracing API, like OpenTelemetry. For me, it looks like completely makes sense to move al

[2022-10-23 13:07] altro3 opened #8213 "Can't read class level annotations when read beanProperties with micronaut 4.0.0 (micronaut-openapi)"
### Expected Behavior

All tests must be passed.

### Actual Behaviour

Now all test, which read class level annotation are failed.

### Steps To Reproduce

1. Get PR https://github.com/micronaut-projects/micronaut-openapi/pull/831
2. Run tests `OpenApiSchemaFieldSpec`
![изображение](https://user-images.githubusercontent.com/48474279/197393462-c79cd89b-d64b-4a94-bc15-4d96fb4497d0.png)
![изображени

[2022-10-23 13:10] altro3 commented on #8213
@dstepanov I think, this problem after your changes here:

![изображение](https://user-images.githubusercontent.com/48474279/197394158-59b5b647-76ad-4364-809d-35c96ac611e1.png)

[2022-10-23 13:19] altro3 commented on #8059
micronaut-openapi: https://github.com/micronaut-projects/micronaut-openapi/pull/831

[2022-10-23 14:33] dstepanov commented on #8213
Hmm is there anything special in this case? The CLASS retention annotations should be removed in v4 but only at runtime. Can you maybe add a test that reproduces it in Core?

[2022-10-23 15:02] altro3 commented on #8213
@dstepanov ok, sure. I think I'll do it tomorrow

[2022-10-23 18:08] subash89 opened #8214 "Custom TypeConverter not work when source type is Map."
### Expected Behavior

Custom TypeConverters should invoked for source type Map.

### Actual Behaviour

MyCustomTypeConverter not getting invoked when source type is  Java Map. But if I use a List or CharSequence as source type like, MyCustomTypeConverter<List<String>,CustomTypeModel>, then the converter getting invoked. With a Map(which is what I want, the typeconverter not even getting invoked.

[2022-10-23 22:10] graemerocher commented on #8212
Makes sense. PRs welcome 🙏

[2022-10-24 05:30] AndrejMitrovic opened #8215 "fromValue() for an enum receives null when passed in a JSON array"
### Expected Behavior

When an enum with a `fromValue(String)` is defined it should be called with the string value so the routine can convert it to the appropriate enum type.

### Actual Behaviour

When passing a JSON array the passed in string is `null`. This makes it impossible to return an error code if the user wrongly specified an array when another type was expected.

### Steps To Reproduce

[2022-10-24 05:42] dstepanov commented on #8179
My original idea was to support more argument binding and path filtering but I think that would have been overkill, the only supported arguments and return values would be the request/response. The implementation should be simple.

We have the same approach as the controllers, so it should be easy to understand.

We want to support using imperative return types and Reactive-Streams, Java Flow, Jav

[2022-10-24 10:53] TristanSpeakEasy commented on #8194
So working through this trying to understand what is conflicting and causing the issues, I was able to get it to a minimal reproducible where I wasn't even using any micronaut code in the external lib and it was just the inclusion of:

`implementation 'io.micronaut:micronaut-http-server:3.7.2'`

as a dependency in my lib that causes the above issue.

If I remove it then the Around Advice works wit

[2022-10-24 12:19] altro3 commented on #8213
@dstepanov Please take a look at the PR https://github.com/micronaut-projects/micronaut-core/pull/8221 - this test works fine on the 3.7.x branch, but fails on the 4.0.x branch

[2022-10-24 12:33] graemerocher commented on #8194
can you provide a link to the reproducer?

[2022-10-24 12:34] #8187 closed, assigned to nobody

[2022-10-24 12:44] TristanSpeakEasy commented on #8194
Example service here: https://github.com/TristanSpeakEasy/micronautexample
The library being included:  https://github.com/speakeasy-api/speakeasy-java-sdk/tree/feature/spe-608 (specifically this branch with the WIP work for micronaut)

The example service imports a jar built from the `speakeasy-java-sdk` :

[code]

which currently is not using any micronaut dependencies (the classes are commented

[2022-10-24 14:40] graemerocher commented on #8194
you seem to be creating a fat jar out of your speakeasy-java-sdk which is likely what is causing the problem with the Micronaut classes duplicated within `speakeasy-java-sdk-1.2.3-plain.jar`

[2022-10-24 14:46] kevind-wgu commented on #8113
Can the Micronaut HttpClient be used in non-reactive style coding without blocking the event loop?

[2022-10-24 14:52] graemerocher commented on #8113
@kevind-wgu yes you have to re-configure the client to run on a separate event loop. See https://docs.micronaut.io/latest/guide/#clientConfiguration

[2022-10-24 14:54] kevind-wgu commented on #8113
@graemerocher Thank you for the link. I will take a look.

[2022-10-24 15:17] TristanSpeakEasy commented on #8194
Thank you so much for the help. I had to learn what a fat jar is (I'm not a native java dev) but think I found out how to fix it.

[2022-10-24 15:17] #8194 closed, assigned to nobody

[2022-10-24 15:31] TristanSpeakEasy commented on #8191
Okay so I assumed some of this was due to me importing a fat jar, but now I get this problem:

[code]

[2022-10-24 16:08] kevind-wgu commented on #8113
I made the changes recommended in the docs and it gets rid of the random ReadTimeout exceptions. It continues to be a little over twice as slow (80-100ms instead of 20-40).  Maybe that is expected?

Here are the changes I made to application.yml
[code]

[2022-10-24 16:33] aseychell commented on #917
I'm experiencing a similar issue in the latest versions (tested on 3.6.0 and 3.7.2) of Micronaut.  Was this changed intentionally or is it a regression?

[2022-10-24 22:15] ppatz-vendavo commented on #2157
@archenroot Well, this is weird. Let's have this example: val messages: ```List<String>?```

then:
[code]
this is absolutely valid scenario, however default behavior is faulty in my eyes. I needed to introduce custom type for messages and appropriate TypeConverter, but it feels more like hack than regular setup. MN 3.7.2 fyi.

[2022-10-25 05:18] aprietop commented on #7275
If I understand the request correctly, throwing the original exception when the circuit breaker is opened could be misleading because that exception is not occurring at that time, it is just the last exception captured before opening the circuit.

Having that in mind, I have created https://github.com/micronaut-projects/micronaut-core/pull/8222. The original exception is now always wrapped within

[2022-10-25 10:14] graemerocher commented on #7275
This is a breaking change and needs to be configurable

[2022-10-25 10:50] graemerocher commented on #8191
as described in the error you are probably trying to import a bean that has a constructor that is either package private or inaccessible

[2022-10-25 13:54] altro3 commented on #8213
@dstepanov @graemerocher Problem not solved :-(. Here my classes structure from micronaut-openapi test:
[code]
Openapi try to get `@Schema` annotation like this:
[code]
and now AnnotationMetadata for this element is empty every time

[2022-10-25 14:09] dstepanov commented on #8213
Are you sure your snapshot has the changes I made?

[2022-10-25 14:16] altro3 commented on #8213
@dstepanov omg, CI-CD failed. That's why I can't get last changes:
![изображение](https://user-images.githubusercontent.com/48474279/197798206-6ddae5d1-dd2d-44bb-bdd0-a02233e64a2f.png)

[2022-10-25 15:39] dstepanov commented on #8213
It looks like my changes broke the 4.0.0 branch

[2022-10-25 17:57] jfsanchez91 commented on #8160
It wasn't a Micronaut build issue,
I just had to add the class `com.example.app.service.ExampleService$Companion` to the `reflect-config.json` config file :)
[code]

[2022-10-25 17:57] #8160 closed, assigned to nobody

[2022-10-26 08:13] driverpt commented on #8139
Any updates on this one? @n0tl3ss  @sdelamo  @graemerocher

[2022-10-26 08:37] TristanSpeakEasy commented on #8191
Thanks for the hint, I got the import statement to work without erroring, I had to separate the classes I am importing from other internal classes for the lib into separate packages.

I still have an issue where the filters, servercustomisers and other classes that use annotations don't seem to be being injected as expected but that is another issue

[2022-10-26 08:37] #8191 closed, assigned to nobody

[2022-10-26 08:38] sdelamo opened #8228 "Update to GraalVM 22.3"
- [x] [Update managed GraalVM Version in Core](https://github.com/micronaut-projects/micronaut-core/pull/7742)
- [x]  [Bump up GraalVM base image used in starter](https://github.com/micronaut-projects/micronaut-starter/pull/1339)
- [x]  [Set GraalVM version in the branch of gitlab/micronaut-graal-tests which is going to ship with that version](https://gitlab.com/micronaut-projects/micronaut-graal-

[2022-10-26 08:41] PavelGolubTR commented on #7914
I see that this issue is quite old one and I assume that someone has found solution for the problem. Would be really helpful to get direction and details on it.

[2022-10-26 08:48] graemerocher opened #8229 "Upgrade SnakeYaml and Netty and do a release"
Micronaut 3.7.2 ships with versions of Netty and SnakeYAML that have reported vulnerabilities. We need to upgrade and do another release. We should also check Jackson for newer patch releases.

[2022-10-26 08:49] graemerocher commented on #8229
@sdelamo can you look at this?

[2022-10-26 08:55] sdelamo commented on #8229
yes

[2022-10-26 10:09] graemerocher commented on #8229
Note Micronaut and Netty are also broken under GraalVM which is fixed in the latest version. So this is quite urgent. See https://github.com/netty/netty/issues/12725

[2022-10-26 13:48] altro3 commented on #8213
@dstepanov The игп has been partially fixed, but not completely. Problem with annotation fixed, but when openapi tried to get interfaces - this list every time empty.

Example from micronaut-openapi test:
[code]

When class `LocalParams` processsing method 'getInterfaces()' return empty list.

![изображение](https://user-images.githubusercontent.com/48474279/198043934-6285baa5-c72e-410a-bf84-66187

[2022-10-26 13:54] dstepanov commented on #8213
It doesn’t have any interfaces, what do you expect there?

[2022-10-26 14:03] OndraZizka commented on #328
For running the result? I doubt that's because of Kotlin, which just creates Java classes. It's more likely because of the framework and the web server (I guess Spring + Tomcat?)

[2022-10-26 14:03] altro3 commented on #8213
Oh, sorry. Yes. Problem not here. Apparently the eye is blurred. Okay, now I can say for sure that some of the tests are falling, but that means I can’t say exactly why yet. Explore further...

[2022-10-26 14:11] dradosevic opened #8237 "Requests to HTTP server freeze when using GraalVM 22.2 native images"
### Expected Behavior

Service endpoints in Micronaut OCI showcase app (https://github.com/oracle-quickstart/oci-micronaut) return valid responses to http requests.

### Actual Behaviour

Requests to api service in Micronaut OCI showcase app freeze. These are the logs in api service on these requests:

[code]

### Steps To Reproduce

1. Checkout the Micronaut OCI showcase app from this commit (thi

[2022-10-26 22:18] ElderMael opened #8240 "Different Behavior At Test/Runtime Regarding HTTP Controller"
### Expected Behavior

A response is sent back to the server with the serialized JSON sent.

This application does pass the E2E tests written with RestAssured, at test time, the Controller seems to have the right behavior, but once the server is started without the test environment profile, the Controller stops working.

If one runs `gradle test`, the test environment and HTTP server start and pro

[2022-10-27 07:47] aprietop commented on #7275
@graemerocher I'm adding a new parameter to `@CircuitBreaker` as suggested by @dstepanov
I've updated the PR https://github.com/micronaut-projects/micronaut-core/pull/8222

[2022-10-27 08:40] jfsanchez91 commented on #8240
your example app works for me :)

[code]

[2022-10-27 09:27] graemerocher commented on #8237
This is fixed by upgrading to the latest version of Netty

[2022-10-27 14:06] ElderMael commented on #8240
Indeed it works at test time. It's while running the shadow jar that it
shows the faulty behavior.

On Thu, Oct 27, 2022 at 3:40 AM Jorge F. Sánchez ***@***.***>
wrote:

[2022-10-27 16:36] sdelamo commented on #8228
see: https://github.com/micronaut-projects/micronaut-starter/pull/1505
see: https://github.com/micronaut-projects/micronaut-core/pull/8230

[2022-10-28 09:03] #7657 closed, assigned to nobody

[2022-10-29 04:04] #8229 closed, assigned to sdelamo

[2022-10-29 04:05] sdelamo commented on #8229
closed via https://github.com/micronaut-projects/micronaut-core/pull/8233 and https://github.com/micronaut-projects/micronaut-core/pull/8232

[2022-10-29 14:23] altro3 opened #8256 "Can't get public fields from class element in micronaut4 (from micronaut-openapi)"
### Expected Behavior

Classes structure:

[code]
nex we try to get ll public fields:
[code]

With micronaut 3.7.2 this line return `4 items`. With micronaut 4.0.0 - `0 items`

### Actual Behaviour

Must work

### Steps To Reproduce

See description

### Environment Information

_No response_

### Example Application

_No response_

### Version

4.0.0-SNAPSHOT

[2022-10-29 14:26] altro3 commented on #8256
@dstepanov Hi! Found new bug that causes tests are failed in micronaut-openapi

[2022-10-30 11:52] #7971 closed, assigned to graemerocher

[2022-10-30 11:53] graemerocher commented on #7971
Fixed by https://github.com/micronaut-projects/micronaut-core/pull/8224

[2022-10-30 14:11] altro3 commented on #8213
@dstepanov Hi!

Still, the bug has not been completely fixed. Compared versions 3.7.2 and 4.0.0 for one of the failed tests. So, the problem is the same - again the number of bean properties is 0. Perhaps this is due to generics. Here is the class structure:

[code]

Problem class `Pet`.  Problem code:
[code]

When I run this test with version 3.7.2 - found 3 properties, with version 4.0.0 - 0 pro

[2022-10-30 15:24] dstepanov commented on #8213
Please create a reproducer in the core

[2022-10-30 19:53] graemerocher commented on #8179
as part of this I would like to see a way we could simplify mutating the incoming body and outgoing body from a filter since that is not easy to do compared to say JAX-RS which has MessageBodyReader and MessageBodyWriter interfaces that are well understood.

[2022-10-31 11:22] #3719 closed

[2022-10-31 11:22] #8099 closed, assigned to nobody

[2022-10-31 14:39] perococco opened #8264 "Use Nullable annotation from Jakarta EE to check the nullability of an element"
### Feature description

### Context
As far as I could find, the nullability of an element is determined with the method [AnnotatedElement#isDeclareNullable](https://github.com/micronaut-projects/micronaut-core/blob/85ffc39fa7950dbce5ab5fb9eb0d430ac9ef8c5e/core/src/main/java/io/micronaut/core/annotation/AnnotatedElement.java#L38) (I reached this method after an exception while deserializing an obj

[2022-10-31 21:07] graemerocher commented on #8264
this would be a matter of adding another nullable transformer like

https://github.com/micronaut-projects/micronaut-core/blob/85ffc39fa7950dbce5ab5fb9eb0d430ac9ef8c5e/core-processor/src/main/java/io/micronaut/inject/annotation/internal/CoreNullableTransformer.java or

https://github.com/micronaut-projects/micronaut-core/blob/85ffc39fa7950dbce5ab5fb9eb0d430ac9ef8c5e/core-processor/src/main/java/io/

[2022-11-02 09:19] #8256 closed, assigned to dstepanov

[2022-11-02 10:45] altro3 commented on #8213
@dstepanov now it works fine. I think that was the same problem as here: https://github.com/micronaut-projects/micronaut-core/issues/8256. And fixed by https://github.com/micronaut-projects/micronaut-core/pull/8267

[2022-11-02 10:45] #8213 closed, assigned to nobody

[2022-11-02 10:51] domi-nika60 commented on #7921
hello, is this any ETA for this bug to be released? I saw, it was moved to another release, why so?

[2022-11-02 11:10] graemerocher commented on #7921
@domi-nika60 can you provide an example to reproduce the issue, also PRs welcome of course :)

[2022-11-03 06:40] sdelamo commented on #8112
I think `io.micronaut.bom:micronaut-bom` will be clearer to users.

[2022-11-03 09:51] melix commented on #8112
https://github.com/micronaut-projects/micronaut-bom

[2022-11-03 09:54] melix commented on #8112
@sdelamo in which category do you think I should add `micronaut-bom` here? https://github.com/micronaut-projects/micronaut-docs-index/blob/main/modules.yml

[2022-11-03 11:26] graemerocher commented on #8112
"Build" probably

[2022-11-03 16:31] melix commented on #8112
So a few more questions (I will probably have more as I make progress):

- what version should we use? We can either version the BOM separately from core, which has the advantage that we could release new versions of the BOM _without_ having to release a new version of core. The problem with this is that the Gradle and Maven plugins wouldn't know which version of the BOM to use for a specific vers

[2022-11-03 17:01] graemerocher commented on #8112
A new module called micronaut-core-bom with just the core dependencies makes sense to me

[2022-11-03 20:10] perococco commented on #8264
Is there a test for the `CoreNullableTransformer` that I can draw inspiration from for the new nullable transformer ?

[2022-11-04 09:23] melix commented on #8112
So more questions as expected. I am removing entries from the `micronaut-core` BOM (which would eventually become `core-bom`), by removing entries which are not used in the Micronaut Core project itself. This leaves us with a number of entries which could arguably go into the new BOM, or be left in the Core BOM.

For example, we have the following entries (truncated for example):

[code]

All thos

[2022-11-04 10:00] graemerocher commented on #8112
Why would core depend on Micronaut BOM?

[2022-11-04 10:51] melix commented on #8112
Because if we want some libraries which are used in core to be also present in the BOM, then either we have to make core depend on BOM, or we have to duplicate entries.

[2022-11-04 10:57] melix commented on #8112
To give you concrete examples:

   - we have `testImplementation(platform(libs.boms.micronaut.tracing))` in the `inject-java` build file. Ideally this dependency should only exist in the new BOM. But if we move it to the new BOM and that we don't make core depend on the BOM, then it means in the `inject-java` project we'd have to use a dependency declared in the core project catalog, which would r

[2022-11-04 12:16] melix commented on #8112
Conclusion of chat with Graeme:

- `core` must not depend on the new BOM
- `core` will provide a `core-bom` module like the other Micronaut projects
- the new BOM will integrate all Micronaut BOMs, including the `core` one
- if a dependency exists in the new BOM and is needed by `core`, then we would duplicate the dependency coordinates in its own version catalog (without managing it). There shoul

[2022-11-04 15:18] altro3 opened #8287 "Different annotation processing with 3.7.x and v4.0.0 for method getDeclaredAnnotation (micronaut-openapi)"
### Expected Behavior

Classes structure:
[code]
I process class `MyDto`, next I get properties in this class  - field `parameters` - and next I try to process annotation `@Schema` on `parameters` field.

1. First we get JavaParameterElement `dto` for method `processSync`.
2. Get JavaClassElement for dto - this is `MyDto` class
3. Get beanProperties for class MyDto:
[code]
Difference between versi

[2022-11-04 15:19] altro3 commented on #8287
@dstepanov @graemerocher Look to this, pls

[2022-11-04 15:31] dstepanov commented on #8287
I don’t think that would return class elements before. In V4 properties should be more complete and better to work with.

[2022-11-04 15:38] altro3 commented on #8287
It is a fact that it was. This is the last reason why the remaining 7 tests on micronaut-openapi failed. To understand the difference, I had to run the test in parallel with version 3.7.3 and version 4.0.0 in debug. Here's what I saw:

Debug 4.0.0:
![изображение](https://user-images.githubusercontent.com/48474279/200015496-5f41fb75-c927-4690-9c68-e633e274f2d8.png)
As you see `definingElement` is J

[2022-11-04 15:44] altro3 commented on #8287
@dstepanov Apparently, this bug was before version 4.0.0. The problem is that all the logic is already built around that bug :-D . Therefore, now I need to understand and rebuild the logic in accordance with the new behavior of the micronaut. Oh, the very case when it would be better if the bug remained :-))))

[2022-11-04 18:39] lbkulinski opened #8288 "Micronaut CORS configuration does not expose the specified header(s)"
### Expected Behavior

When exposing the `Location` header via the CORS configuration in `application.yml`, I expect the header to be accessible in front-end scripts.

### Actual Behaviour

When exposing the `Location` header via the CORS configuration in `application.yml`, the header is NOT accessible in front-end scripts.

### Steps To Reproduce

1. Clone the repository
2. Start up a Keycloak au

[2022-11-05 03:48] dstepanov commented on #8287
In v4 properties are more complete so for the use case you have you shouldn’t need to combine various things like field+get set method etc

[2022-11-05 08:54] graemerocher commented on #8288
@sdelamo @dstepanov something changed in filters or security that could cause this regression?

[2022-11-05 11:57] altro3 opened #8291 "Can't get DeclaredAnnotation with generics and rxjava (micronaut-openapi)"
### Expected Behavior

Test code:
[code]

Can't get annotation for class `Pet`. See PR #8292 with test. This test works fine with micronaut 3.7.3

### Version

4.0.0-SNAPSHOT

[2022-11-05 12:00] altro3 commented on #8291
@dstepanov Hi! Well, I was wrong in the last issue - I found another bug in 4.0.0

[2022-11-05 16:25] #7889 closed, assigned to nobody

[2022-11-05 16:26] lbkulinski commented on #7889
Moved to a [discussion question](https://github.com/micronaut-projects/micronaut-core/discussions/8294)

[2022-11-06 15:30] swiftreap commented on #2417
This issues is close but not resolved :(

[2022-11-06 15:43] lbkulinski opened #8295 "Java records cannot be used for request beans with @PathVariable"
### Expected Behavior

I expect to be able to use Java records with `@RequestBean` and `@PathVariable` for API endpoints in the same way that I can declare a POJO.

### Actual Behaviour

Instead, I get the following compilation error:
[code]

### Steps To Reproduce

1. Clone the provided repository
2. Run the Micronaut application
3. See the following compilation error: `java: The route declares a

[2022-11-06 20:43] ThraaxSession opened #8296 "ResourceLoader is broken with JAR"
### Expected Behavior

When the JAR is directly used, the `ResourceLoader` can load any resource from `Resources`

### Actual Behaviour

I get a call stack, when I want to get a resource from JAR.
When I run from Idea, it works fine.

In Kotlin constructor:
`private val resourceLoader: ResourceLoader`
Actual call:
`val logsScript = resourceLoader.getResource("commands/getLogs.sh")`

![image](https

[2022-11-07 06:31] ivyazmitinov commented on #2417
@mearafGitHub, it is resolved, we use it :)
See the "Default Environment" section of the [docs](https://docs.micronaut.io/latest/guide/#environments)

[2022-11-07 07:39] yawkat commented on #8296
This is an issue in your code, you are incorrectly converting the URL returned by getResource into a file here: https://github.com/SpaceUp-Cloud/SpaceUp-Server/blob/0ce749634ec7c4cbc129a7e829dbdd305073b0a9/src/main/kotlin/technology/iatlas/spaceup/services/SshService.kt#L236-L241

When the application is packaged as a jar, the resources are entries in that jar file, they are not individual files o

[2022-11-07 07:40] #8296 closed, assigned to nobody

[2022-11-07 07:47] yawkat commented on #8264
`NullabilityAnnotationsSpec`

[2022-11-07 11:20] yawkat commented on #7921
Sorry this took so long, I was waiting for the client refactor, and then went on vacation. Can you try with the PR #8300 applied?

[2022-11-07 14:25] yawkat commented on #8240
@dstepanov this is another bug caused by #7635 – this time it's `JsonConverterRegistrar` that is missing. Unfortunately that registrar needs a bean from the context (JsonMapper) so we can't use SPI this time.

@ElderMael The issue appears because you have two concurrent ApplicationContext instances, one from micronaut picocli, one you create yourself. It's a bug on our end that this doesn't work,

[2022-11-07 14:57] yawkat commented on #8237
Does that mean I don't need to look at it? looks like a pain to reproduce :D

[2022-11-07 15:01] graemerocher commented on #8237
It was fixed in 3.7.3

[2022-11-07 15:01] #8237 closed, assigned to yawkat

[2022-11-07 15:21] yawkat commented on #8215
This is handled by jackson-databind, micronaut json support isn't involved. I'm not sure if it's intentional or a bug. You can report it at https://github.com/FasterXML/jackson-databind . This is a test case that does not use micronaut:

[code]

it prints

[code]

If you create an issue on jackson-databind, tatu can decide what to do about it. Feel free to ping me on the issue.

[2022-11-07 15:21] #8215 closed, assigned to nobody

[2022-11-07 15:46] yawkat commented on #8200
It's a side effect of our intermediate tree representation, precision information is lost. Not much we can do about this. You can configure USE_BIG_DECIMAL_FOR_FLOATS to fix it

[2022-11-07 15:46] #8200 closed, assigned to nobody

[2022-11-07 15:56] graemerocher commented on #8240
Don't think this is a bug on our end or something we can do about.

[2022-11-07 15:56] #8240 closed, assigned to nobody

[2022-11-07 15:56] andriy-dmytruk opened #8301 "Type parameter annotations lost when building a ClassElement"
## Problem

When a property is defined, annotations can be added to the property or getter (as it says in the [validating data classes](https://docs.micronaut.io/latest/guide/#_validating_data_classes) section of documentation). This works for annotations on properties like `@Valid Pojo`. However, the annotation may be lost if it is on a type argument, like `List<@Valid Pojo>` unless it is defined

[2022-11-07 16:13] yawkat commented on #8288
@lbkulinski is there a way to reproduce this without keycloak? i've never used it

[2022-11-07 16:18] lbkulinski commented on #8288
@yawkat It may be reproducible by using another OIDC issuer like Auth0 or Okta. I initially tried to create a reproducible example without Keycloak, but found that the header was being exposed correctly. I can give you steps to set up Keycloak if that would help. I am running it in a Docker container.

[2022-11-07 16:19] yawkat commented on #8288
@lbkulinski yea if you can give me a docker command line that would help. thanks

[2022-11-07 16:22] lbkulinski commented on #8288
@yawkat
[code]
You can then access the admin console by going to http://localhost:8543/admin/master/console/#/. For some reason I have to reload that page to get the login screen. The username and password are those mentioned in the command. From there, you can create a new realm with the given configuration.

[2022-11-07 16:31] yawkat commented on #8288
it doesn't work for me, the `http://localhost:8543/realms/Test/protocol/openid-connect/token` fails. i checked, and the client secret was imported correctly

[2022-11-07 17:54] yawkat commented on #8288
Okay this one is a doozy. It's caused by https://github.com/micronaut-projects/micronaut-security/commit/eaba53772c1342f8d754083d61364250aabcf6bd#diff-459487a35a8557aa5f29835b4415fb429ec36c3f2da3a771d1d57262699d3b42 , specifically the change to `InterceptUrlMapConverter`. `InterceptUrlMapConverter` now depends on configuration settings (the `@Value`, and the list of `ServerContextPathProvider`s).

[2022-11-07 21:34] ThraaxSession commented on #8296
@yawkat oh yes, face palm to me. I changed that 2 weeks ago. My bad.

[2022-11-08 03:04] AndrejMitrovic commented on #8215
Thanks a lot for your help @yawkat!

[2022-11-08 11:40] #7275 closed, assigned to nobody

[2022-11-08 11:53] #8301 closed, assigned to dstepanov

[2022-11-08 19:11] francesco-monorchio commented on #7914
I have a similar problem.
I have two http server filters that add some extra data to mdc like logged user, user agent, language and so on... the controller are executed on another thread pool using @ ExecuteOn(IO) because of blocking database access.
I have customized the thread factory for that pool to copy the mdc entries from parent to child threads but seems that, sometimes it works and other

[2022-11-08 21:31] francesco-monorchio opened #8309 "Logback MDC inherited in child threads"
### Expected Behavior

I want to inherit mdc key value pairs in the child threads but some threads do not work as expected.

I have some HttpServerFilters that set some values in the MDC. The Controllers, instead, are executed with @ ExecuteOn(TaskExecutors.IO) on a different thread pool. For that, I have customized the implementation of the thread factory but some of the threads do not work as ex

[2022-11-09 07:57] yawkat opened #8310 "Provide event that runs before network shutdown"
### Discussed in https://github.com/micronaut-projects/micronaut-core/discussions/8303

<div type='discussions-op-text'>

<sup>Originally posted by **krzemienmichal** November  8, 2022</sup>
Hello,

I'm using Micronaut version 3.2.6
I have Websocket server application and I've got a problem which I'm not sure if it's a bug or it works as intended.
To be specific inside my Websocket server class I'

[2022-11-09 08:46] #8264 closed, assigned to nobody

[2022-11-09 10:10] domi-nika60 commented on #7921
No problem :). Not sure if I test it correctly with your branch, but it seems that issue still exists. I will check again after merge and let you know.

[2022-11-09 13:14] cancech opened #8315 "ApplicationContext.getBeansOfType() returning different number of results in test"
### Expected Behavior

`ApplicationContext.getBeansOfType(MyClass.class)` should always retrieve the same number of bean instances regardless of running as an application proper or whether running a `@MicronautTest` case.

### Actual Behaviour

Running the application proper looks to properly retrieve all beans, regardless of their source, however within an `@MicronautTest` only a subset of them a

[2022-11-09 20:55] matt-snider commented on #7724
Hi all, I noticed #8180 got merged. This looks awesome and I'm really looking forward to using it - thank you @yawkat and everyone else involved! :tada:

Should we close this issue now?

[2022-11-10 00:32] sgammon commented on #6781
@jameskleeh we are writing a downstream framework which uses micronaut from Kotlin Multiplatform -- we can't use K2 or MPP easily without KSP. is there a way we could test against this before it is out? i've seen the relevant branch but don't want to build against it (on `3.7.x`) without a go-ahead from you first.

[2022-11-10 07:05] #7724 closed, assigned to yawkat

[2022-11-10 07:51] #7758 closed, assigned to graemerocher

[2022-11-10 09:36] timyates commented on #8202
Rabbit 3.4.0 needs releasing before we can do this

[2022-11-10 09:37] timyates opened #8320 "Add JMX BOM to core for 3.8.0"
Once https://github.com/micronaut-projects/micronaut-jmx/pull/207 is merged and JMX 3.2.0 is released we need to add it to the core bom

[2022-11-10 13:15] GavrilovSV opened #8323 "Compile time annotation expression language"
### Feature description

@graemerocher
Following the discussion started in #7897, this issue is aimed at working out a vision of annotation expression language similar to SpEL, but with most evaluation stages executed at compilation time.

By default an expression is annotation member value surrounded with `#{ }`. It would also be useful to introduce special annotation members which values will be

[2022-11-10 15:08] graemerocher commented on #8323
Thanks for the write-up, this is a good start. Some thoughts:

The context should be specified on the annotation member, so you would have something like:

[code]

It could be on the annotation or the member level.

One that is critical vs SpEL is that we want expression errors to fail at compilation time with errors to javac.

In addition we should be able to create a context stub from a method s

[2022-11-10 17:32] mjeffrey commented on #4924
It works now I will close the issue. The problem was that the annotation processor was execute twice. Once automatically and once by the plugin. I removed the plugin from maven and it is fine.
Testcase was updated if you want to see it.
[code]

[2022-11-10 23:27] drmaas opened #8325 "Ability to customize SSLParameters for http clients"
### Feature description

I'd like to be able to customize various SSL properties via the `SSLHandler --> SSLEngine --> SSLParameters` api in the `ConnectionManager` class. Something like:

[code]

Is there a way to do this currently? If not, would the best way to do this to add properties to the `AbstractClientSslConfiguration` class (where we can already trust all certs), or to add some sort of `

[2022-11-11 09:05] yawkat commented on #8325
you could create a NettyClientCustomizer, and on onInitialPipelineBuilt, get the SSLHandler from the pipeline to set the parameters. LMK if that works for you, I don't want to add a new customization API if the current one is sufficient.

[2022-11-11 09:05] #8325 closed, assigned to nobody

[2022-11-12 16:21] harikrishna553 opened #8328 "trimLeading() method is not working as expected, when all the characters satisfy the predicate."
### Expected Behavior

[code]
Above snippet is retuning the actual string, instead of returning an empty string.

### Actual Behaviour

As per the Javadoc, I am expecting a new string without any leading characters that match the supplied character. In the above case, it should be an empty string.

As I dig into the code, the problem is with the following implementation.

[code]

Following snippet

[2022-11-13 02:03] drmaas commented on #8325
For future reference, I verified that for example, we can disable hostname verification by adding something like this:

[code]

[2022-11-13 02:39] hantsy commented on #272
@zhangsantu Check my Micronaut example project, https://github.com/hantsy/micronaut-sandbox

[2022-11-13 21:03] KangoV opened #8329 "Adding @Introspected to a @Value.Immutable with overidden builder causes compilation error"
### Expected Behavior

The code compiles

### Actual Behaviour

Compilation produsec following error:
[code]

### Steps To Reproduce

Create interface with @Value.Immutable and @Introspected
Create Builder in interface which overrides create Builder
Compile

### Environment Information

Ubuntu 22.10
Java 17.0.2

### Example Application

https://github.com/KangoV/cab/tree/introspected-issue

### Ve

[2022-11-13 21:03] KangoV commented on #8329
I'm posting this here, but am not sure which project is causing the error.

[2022-11-13 22:12] oujesky opened #8330 "@JsonFormat ignored for deserialization when @Introspected present"
### Expected Behavior

`@Introspected` java record should respect `@JsonFormat` when deserializing from JSON.

### Actual Behaviour

When deserializing from JSON to a Java record containing `@JsonFormat` annotation on a field, this format is ignored when `@Introspected` annotation is present on that record, causing exception `Cannot deserialize value of type `java.time.LocalDateTime` from String "

[2022-11-14 05:00] kengnguyen commented on #4989
Hi, i'm use micronaut ver 3.7.1 and discovery-client ver 2.0.1 has this error
2022-11-14 11:46:28.394 [main] ERROR io.micronaut.runtime.Micronaut:338 - Error starting Micronaut server: io/micronaut/runtime/server/EmbeddedServerInstance
java.lang.NoClassDefFoundError: io/micronaut/runtime/server/EmbeddedServerInstance
	at io.micronaut.discovery.consul.registration.ConsulAutoRegistration.register(Co

[2022-11-14 07:00] #8291 closed, assigned to nobody

[2022-11-14 07:27] graemerocher commented on #4989
you are using an incompatible version. See https://search.maven.org/artifact/io.micronaut/micronaut-bom/3.7.3/pom for which version of `micronaut-discovery-client` is compatible with 3.7.x https://search.maven.org/artifact/io.micronaut/micronaut-bom/3.7.3/pom

[2022-11-14 08:58] kr10n1 opened #8332 "EachBean annotation does not initialize beans outside of targeting EachProperty beans"
### Expected Behavior

EachBean annotation should initialize bean based on every class instance that was passed as an argument. It is specified in documentation that it is used mainly with EachProperty but there is no mention that it would no work in other cases.

### Actual Behaviour

From what I can tell EachBean works only in conjunction with EachProperty annotation

### Steps To Reproduce

1.

[2022-11-14 09:07] graemerocher commented on #8332
the bean requires at least a `@Named` qualifier for `@EachBean` to work

[2022-11-14 09:30] kr10n1 commented on #8332
@graemerocher thanks for quick reply.

I've added that annotation to ConfigurationPropsInst class which implempents EachProp interface on which I've configured EachBean annotation in EachBeanInst class, but still there is no instance created that would be linked with ConfigurationPropsInst

[2022-11-14 11:59] jakobmagiera opened #8333 "Missing client metrics for web metrics for request without response body"
### Expected Behavior

I have a reactive REST service that has a POST endpoint with and empty body (it returns Mono<Void>). This is forwarded to an external REST service using a declarative @Client. I have enabled web metrics in my application.yml using

  metrics:
    binders:
      web:
        enabled: true

I expect to see metrics for both server (http_server_requests_*) and client (http_clien

[2022-11-14 11:59] jakobmagiera opened #8366 "Missing client metrics for web metrics for request without response body"
### Expected Behavior

I have a reactive REST service that has a POST endpoint with and empty body (it returns `Mono<Void>`). This is forwarded to an external REST service using a declarative `@Client`. I have enabled web metrics in my application.yml using

[code]

I expect to see metrics for both server (http_server_requests_\*) and client (http_client_requests_\*).

### Actual Behaviour

The re

[2022-11-14 14:21] GavrilovSV commented on #8323
@graemerocher
Wanted to clarify some nuances regarding the concept of `EvaluationContext`.  If we allow to specify context for :
- annotation members
- annotations themselves
- methods annotated with expressions
- custom user-defined classes annoted with `ExpressionEvaluationContext`

then it seems like some sort of resolution hierarchy has to be introduced here for cases when there are clashing n

[2022-11-14 14:38] alxxyz opened #8334 "No Operation Subscriber"
### Feature description

In our application we have a lot of `HttpClient` requests, which we only need to send, and not to wait for the response.

So, it will be useful to have some `NoOperationsSubscriber` which will be used on `subscribe`

[code]

[2022-11-14 15:09] altro3 commented on #8287
@dstepanov Hallelujah! Finally, all openapi works correctly with micronaut 4.0.

This difference is the only one. I once again analyzed the differences between versions 3.7 and 4.0, the conclusion is this:

in version 3.7, the getDeclaredAnnotation() method on a PropertyElement does NOT read the annotations on the field itself, but only the annotations on the getter and setter. In version 4.0, bot

[2022-11-14 15:09] #8287 closed, assigned to nobody

[2022-11-14 15:13] dstepanov commented on #8287
Why is it a problem? There is a lot of places where a property is supposed to inherit the field annotations.

[2022-11-14 15:14] dstepanov commented on #8287
If it’s such a problem maybe we can add a method to the property element that can skip the field annotations.

[2022-11-14 15:20] altro3 commented on #8287
No, no, that's not a big problem. Just a nuance. I'm just saying that this looks very much like a bug in version 3.7.x . But I remind you that the openapi logic is already built with this bug in mind (as I found out), so fixing the bug led to a change in the logic in the openapi and some of the tests failed.

[2022-11-14 17:06] yawkat commented on #8334
You can do `Flux.from(...).subscribe()` but you should probably have *some* error handling

[2022-11-14 17:14] yawkat commented on #8325
good to hear, but should probably use `onInitialPipelineBuilt`

[2022-11-14 17:21] yawkat commented on #8328
Good catch!

[2022-11-14 17:27] yawkat commented on #8309
it's a thread pool, the thread factory isn't called for every request. but we should provide a way to do this

[2022-11-14 17:29] yawkat commented on #8309
duplicate of #7914

[2022-11-14 17:29] #8309 closed, assigned to nobody

[2022-11-14 19:40] alxxyz commented on #8334
How I can use `Flux` in `Micronaut` application?

[2022-11-14 19:52] yawkat commented on #8334
it's part of reactor, you can add it with https://docs.micronaut.io/latest/guide/index.html#reactor

[2022-11-15 09:14] timyates commented on #8328
Fixed by https://github.com/micronaut-projects/micronaut-core/pull/8335

[2022-11-15 09:14] #8328 closed, assigned to nobody

[2022-11-15 11:22] graemerocher commented on #3938
Fixed by https://github.com/micronaut-projects/micronaut-core/commit/dd7f7ad4be51de420d7f795a8f7e2388918ce1f1

[2022-11-15 11:22] #3938 closed

[2022-11-15 11:28] #8334 closed, assigned to nobody

[2022-11-15 11:29] graemerocher commented on #8323
I would say if there are any conflicts there should be a compilation error

[2022-11-15 13:44] Nahuel92 opened #8338 "URI Parameter expansion should not modify source collection"
### Expected Behavior

The UriTemplate class should not do this:
[code]
Because if users pass an immutable collection (such as one created with Map.of() or Collections.unmodifiableMap()) this code will throw an exception. Also, changing the source collection without letting users know is a sneaky source of mistakes/errors.

Instead, it should copy the source collection and operate on that (leaving

[2022-11-15 16:10] sschuberth commented on #7043
Just for reference, that's not quite correct. `System.Logger` defaults to [JUL](https://docs.oracle.com/javase/9/docs/api/java/util/logging/Logger.html) as a backend. But granted, JUL is very limited in its capabilities.

[2022-11-15 19:25] stepanv opened #8342 "Micronaut's ServerRequestContext may get corrupted"
Hi team,

we stumbled on an intermittent bug that `ServerRequestContext` may get corrupted. By corrupted I mean that it is still available but not in the expected state (e.g., the object I store there is later found missing).

It happens only under given conditions (see also a reproducer bellow):
1. `@Controller` has a method returning a `Mono<HttpResponse<Flux<?>>>`
2. A thread switch (e.g., due

[2022-11-15 19:31] graemerocher commented on #8342
a full reproducer would be good. Thanks

[2022-11-15 19:33] stepanv commented on #8342
ok, I'll prepare some in next hours,
thx @graemerocher for such prompt response!

[2022-11-16 10:45] stepanv commented on #8342
@graemerocher I added 2 PRs:
1. for `3.8.x` where the test is indeed failing: https://github.com/micronaut-projects/micronaut-core/pull/8343
2. surprise, for `4.0.x` it seems to be running ok: https://github.com/micronaut-projects/micronaut-core/pull/8344

So now the obvious question:
1. when can we expect the release of Micronaut 4?
2. do we need to anything about the 3.x versions?

Thx!

[2022-11-16 10:49] sdelamo commented on #8188
Closing it for now. @knvijay let use know if this issue is still present.

[2022-11-16 10:49] #8188 closed, assigned to nobody

[2022-11-16 12:47] ivyazmitinov opened #8347 "Allow snakeyaml configuration for the parsing of property files"
### Feature description

In the current implementation the `org.yaml.snakeyaml.Yaml` instance is created with a default `org.yaml.snakeyaml.LoaderOptions` for the parsing of `appliaction-*.yml` and other configuration files. Those settings may be too restrictive in some cases, for example when a lot of yaml anchors are [used](https://github.com/ivyazmitinov/yaml-anchors-configuration-feature-reque

[2022-11-16 13:39] graemerocher commented on #8347
there have been a few SnakeYAML related CVEs so we are cautious about opening up these settings

[2022-11-16 14:06] ivyazmitinov commented on #8347
Since the configuration comes from a controlled environment, some users may be willing to take the risks :slightly_smiling_face:
In order to increase awareness of those risks, they may be mentioned in the reference docs and/or javadoc, if instead of access to  `org.yaml.snakeyaml.LoaderOptions` Micronaut would provide some configuration interface

[2022-11-16 14:14] #7482 closed, assigned to nobody

[2022-11-16 15:44] sdelamo commented on #7777
Closed via https://github.com/micronaut-projects/micronaut-core/pull/8348

[2022-11-16 15:44] #7777 closed, assigned to nobody

[2022-11-16 16:18] timyates commented on #7965
Closed by https://github.com/micronaut-projects/micronaut-core/pull/8010

[2022-11-16 16:18] #7965 closed, assigned to timyates

[2022-11-17 09:22] mcanalesmayo opened #8352 "After 1st test finishes, subsequent tests don't trigger the bean listeners"
### Expected Behavior

When running more than one `@MicronautTest` annotated tests, I'd expect all of them to trigger the bean listeners, but only the 1st test does.

### Actual Behaviour

After the 1st test finishes, subsequent tests don't trigger the bean listeners.
From what I could see while debugging, after the 1st test finishes its bean context gets cleaned up (therefore the bean listeners a

[2022-11-17 12:53] bodiam opened #8353 ""mn" cannot be opened because the developer cannot be verified"
### Expected Behavior

I typed in `mn create` after installing `mn` from Brew. I was hoping to use it to create a new app.

### Actual Behaviour

Instead of `mn` to work, I'm getting an error message:

<img width="1669" alt="image" src="https://user-images.githubusercontent.com/46468/202451250-de5d203e-e330-460b-91a7-37ee0b751c98.png">

"“mn” cannot be opened because the developer cannot be verifi

[2022-11-17 15:06] graemerocher commented on #8353
interesting. This doesn't happen with an install via SDKman

[2022-11-17 15:33] timyates opened #8355 "MQTT build against Micronaut 4.0.0-SNAPSHOT doesn't create MqttIntroductionAdvice"
When running the mqttv3 tests for the `micronaut-4` branch of mqtt, ie: this one

https://github.com/micronaut-projects/micronaut-mqtt/blob/micronaut-4/mqttv3/src/test/groovy/io/micronaut/mqtt/bind/id/V3IdBindingSpec.groovy

It fails with an exception

[code]

When debugging, before 4.0.0 inside `MethodInterceptorChain.proceed` there were 2 introductions, the RecoveryIntroduction and a MqttIntrodu

[2022-11-17 16:25] grimmjo opened #8357 "Nested @EachProperty - follow up bug"
### Expected Behavior

This is a follow up bug to #3938.

The attached example is based on the configuration of micronaut-nats integration.

The expected behavior is that the following simplified example works correctly:

[code]

### Actual Behaviour

The inner `@EachProperty` is not correctly injected. The list is always empty.

### Steps To Reproduce

Attached is a patch with a test reproducing

[2022-11-18 09:31] mrwilby commented on #8124
FYI, 2.14.0 was released now https://mvnrepository.com/artifact/com.fasterxml.jackson.core/jackson-databind/2.14.0

[2022-11-18 12:39] dagoldenburg1 commented on #8079
Also having this issue, looks like it happens in AnnotatedMethodRouteBuilder constructor in the following lines of code:
`            Set<String> uris = CollectionUtils.setOf(method.stringValues(Get.class, "uris"));
            uris.add(method.stringValue(HttpMethodMapping.class).orElse(UriMapping.DEFAULT_URI));`

I dont think the .orElse(UriMapping.DEFAULT_URI) is quite right

[2022-11-18 13:30] yawkat commented on #6993
3.8 will use jackson 2.14

[2022-11-18 13:30] #6993 closed, assigned to nobody

[2022-11-18 13:56] yawkat commented on #8330
Nice catch! #6546 only fixed it for setters, not for creator properties (and thus not for records)

[2022-11-18 15:20] yawkat commented on #8366
actually, I changed my mind, this is a core issue after all :)

[2022-11-18 15:20] timyates commented on #8355
The issue was that `mqtt-core/src/main/java/io/micronaut/mqtt/intercept/AbstractMqttIntroductionAdvice.java` used Caffeine as a cache, and this was not an `api` dependency

I'll leave this issue open as a placeholder for a better error message when we encounter this kind of failure

[2022-11-19 09:06] #8330 closed, assigned to nobody

[2022-11-19 09:06] #8338 closed, assigned to nobody

[2022-11-19 09:07] #8124 closed, assigned to nobody

[2022-11-19 13:08] mrwilby commented on #7986
In our scenario it would be ideal if the message body can be available only for certain annotated endpoints, rather than based upon content type. Not sure if feasible but sharing for consideration.

[2022-11-20 08:27] bodiam opened #8383 "Micronaut OpenAPI spec isn't generated correctly"
I've also posted this issue here: https://github.com/micronaut-projects/micronaut-openapi/issues/852, it seems I can't close/move this issue there, and I'm not sure what the root cause of this issue is. Sorry for reporting it twice!

### Expected Behavior

It seems the generation of OpenAPI specifications doesn't take [RFC-6570 URI template specification](https://tools.ietf.org/html/rfc6570) into

[2022-11-20 15:17] #8383 closed, assigned to nobody

[2022-11-20 19:05] patrickjp93 opened #8384 "Serialization -- Support For JsonTypeInfo.As.EXTERNAL_PROPERTY"
Micronaut Guide: https://micronaut-projects.github.io/micronaut-serialization/snapshot/guide/#jacksonAnnotations

"Only WRAPPER_OBJECT & PROPERTY for include..."

I am looking to convert a fairly large Spring/Boot codebase over to Micronaut for the performance and memory footprint benefits, but we have a shared (read: not changeable) JSON message format which, at least on the surface, is not suppo

[2022-11-21 10:52] haaah opened #8387 "Setting environment through -Dmicronaut.environments not working"
### Expected Behavior

Micronaut should detect the entered environment and uses the corresponding application.yml.

### Actual Behaviour

`println("Env Active Names -> ${environment.activeNames}")`
Env Active Names -> []

### Steps To Reproduce

1. Create a new micronaut app with build=gradle and lang=groovy
2. entered the VM options: -Dmicronaut.environments=docker
<img width="1042" alt="image" s

[2022-11-21 10:59] haaah commented on #8387
how ever using MICRONAUT_ENVIRONMENTS environment variable works

<img width="1042" alt="image" src="https://user-images.githubusercontent.com/8482031/203033131-a5b56739-2cf1-4d08-813a-b3b573775d4b.png">

[code]
Env Active Names -> [docker]

[2022-11-21 14:51] graemerocher commented on #8387
I think this only passes the system properties to Gradle but not to the application /cc @melix

[2022-11-21 14:56] melix commented on #8387
That's correct, Gradle isolates system properties of the forked processes, so this behavior is expected. You can, however, make it pass explicitly by adding a snippet like this one:

[code]

[2022-11-21 20:29] andriy-dmytruk opened #8392 "Missing generics annotations"
### Expected Behavior

All annotations of type parameters of properties should be visible in Introspection.

### Problem example

Given a class:
[code]
I expect to see the generics annotations in the introspection.

So the following test should run successfully:
[code]

The test fails as can be seen: https://ge.micronaut.io/s/wk26iclb54dsq

The annotations are missing from the type parameter excep

[2022-11-21 21:58] umaymaht opened #8393 "IndexOutOfBounds if (len = pos)"
https://github.com/micronaut-projects/micronaut-core/blob/b9d08c838377810b4fca8bf40f4b6310cbda6c44/http-client/src/main/java/io/micronaut/http/client/netty/DefaultHttpClient.java#L1709

Hello,
It appears that this code is not handling the scenario where len = pos and that results in an IndexOutOfBounds Exception for us.

Thanks,
Umaymah

[2022-11-22 06:00] dmeibusch opened #8395 "Property expansion in configuration appears restricted to matching environment"
### Expected Behavior

The observed behaviour does not seem consistent between runtime and test scenarios.

I’m trying to lay out our configuration to support a variety of scenarios for execution (dev test, dev run, CI test, QA deploy, prod deploy etc) with a mix of configuration coming from local files, k8s configmap and OCI Vault.

In the simplest service we have `application.yml`, `bootstrap.ym

[2022-11-22 07:25] haaah commented on #8387
coming from grails where we uses gradle to build our project. Putting the environment in the VM Options does work as expected

<img width="1043" alt="image" src="https://user-images.githubusercontent.com/8482031/203250407-6a5b5544-fa80-4622-b2bd-869235e2993b.png">

[code]

Env -> docker

Does micronaut gradle build/run works differently from grails build/run?

[2022-11-22 08:32] yawkat commented on #8393
nice catch. just to make sure, this is only an issue in error reporting, correct? there would be an error either way, but the message is misleading due to this  bug?

[2022-11-22 09:01] graemerocher commented on #8387
I think it is because the Grails Gradle plugin is a bit more opinionated about this //cc @melix

https://github.com/grails/grails-gradle-plugin/blob/e61ee3c10c0e58a273d41124db75f55924e8f106/src/main/groovy/org/grails/gradle/plugin/web/GrailsWebGradlePlugin.groovy#L53

[2022-11-22 16:43] vitdolphin commented on #6282
any plans to get this fixed?

[2022-11-22 16:43] vitdolphin commented on #6301
any plans to get this fixed?

[2022-11-22 16:46] mplanchant commented on #5059
@yawkat any progress on this?

[2022-11-22 16:49] thomasmillercf commented on #5059
Well this is sad this is still open :(

[2022-11-22 17:18] yawkat commented on #6301
probably fairly easy with the changes in 4.0.0, but it won't be fixed before then

[2022-11-22 19:30] umaymaht commented on #8393
Thank you for your response, please see my comments in the code snippet below:

private ClientFilterChain buildChain(AtomicReference<MutableHttpRequest<?>> requestWrapper, List<HttpClientFilter> filters) {
        AtomicInteger integer = new AtomicInteger();
        int len = filters.size();  **// if filters.size is 1 for example, then len = 1**
        return new ClientFilterChain() {

[2022-11-22 19:32] umaymaht commented on #8393
Thank you for your response, please see my comments in the code snippet below.
I apologize for the poor formatting, but github is auto formatting it, leaving with me no control.
Please view it in your IDE for a better reviewing experience.

[code]

[2022-11-22 19:32] umaymaht commented on #8393
private ClientFilterChain buildChain(AtomicReference<MutableHttpRequest<?>> requestWrapper, List<HttpClientFilter> filters) {
        AtomicInteger integer = new AtomicInteger();
        int len = filters.size();  **// if filters.size is 1 for example, then len = 1**
        return new ClientFilterChain() {
            @Override
            public Publisher<? extends io.micronaut.http.HttpResponse

[2022-11-22 19:49] umaymaht commented on #8393
There are 2 issues here,
1 is that the 'pos' should not be incremented preemptively because it reaches the illegal state before it is supposed to.
The 2nd issue is that the following check:
if (pos > len)
should ideally be:
 if (pos > = len)

[2022-11-22 21:16] roar-skinderviken opened #8402 "Add <exclude>module-info.class</exclude> to maven-shade-plugin in micronaut-parent"
### Feature description

We had like 20+ log entries like this in build logs for each application:
[WARNING] Discovered module-info.class. Shading will break its strong encapsulation.

In order to fix this, I had to copy the maven-shade-plugin definition from micronaut-parent into our parent-POM (which has micronaut-parent as parent-POM) and add:
`<exclude>module-info.class</exclude>`
to the exclu

[2022-11-23 09:12] haaah commented on #1820
@szczebel Do you still encounter this behaviour? Would you like to submit an issue?

[2022-11-23 09:54] yawkat commented on #8393
i think the increment coming first is actually fine. the filter with position 0 is called separately, though it's not obvious from that snippet.

agree on the comparison being wrong though

[2022-11-23 10:24] #8393 closed, assigned to nobody

[2022-11-23 10:32] stepanv commented on #8342
I do confirm that when using `Flux.deferContextual()` and `Mono.deferContextual()` to access the HttpRequest and its attributes, nothing gets wrong in my reproducer even with Micronaut 3.8.

So the question is what to do with `@RequestScope` on Micronaut 3.x which is using unsupported (buggy) `ServerRequestContext.currentRequest()`?

[2022-11-23 10:39] yawkat commented on #6282
It was fixed by the client changes in 4.0, ive made a PR to enable the test cases.

[2022-11-23 10:45] graemerocher commented on #8342
I would say we should improve the documentation state that `@RequestScope` can only be used when using imperative / blocking code since its reliance on threadlocals mean it will never work well with reactive. It may "work" by chance in 4.0.x but I have no doubt there is another combination of reactive operators that will break it since reactive is fundamentally incompatible with thread local usage

[2022-11-23 10:50] #8355 closed, assigned to dstepanov

[2022-11-23 10:51] #8366 closed, assigned to nobody

[2022-11-23 10:58] stepanv commented on #8342
By any chance, isn't it possible to use Reactor's Hooks to always align the ThreadLocal value with what is in the Reactor's context? This way the injection framework should be able to pick up correct instance from the ThreadLocal.
Just brainstorming...

[2022-11-23 11:54] yawkat commented on #5059
easy change now, with the recent http client changes :)

[2022-11-23 12:49] timyates opened #8410 "Failure to compile micronaut-sql.jdbc-ucp due to a classcast exception in BeanProcessor"
As part of the process of getting the modules ready for 4.0.0, we have a strange error in the `jdbc-ucp` module.

https://github.com/micronaut-projects/micronaut-sql/pull/725

The `compileJava` task fails with:

[code]

# Steps to reproduce

- Clone https://github.com/micronaut-projects/micronaut-sql
- Check out `prepare-for-mn4`
- Switch to Java 17
- Run `./gradlew :jdbc-ucp:compileJava`

# Build