[2020-08-03 11:55] shahmirn commented on #3842
@ilopmar Sorry, just realizing that I should add more context.

https://github.com/grpc/grpc-java/issues/7279 is a corresponding issue.

Essentially, I'm trying to use micronaut and Google Secret Manager, which internally uses grpc, which itself internally uses netty.

I was getting some issues related to grpc-netty-shaded in that library, so I requested an enhancement in grpc to use the latest ne

[2020-08-03 13:07] ilopmar commented on #3842
We try to keep Micronaut up to date with new Netty versions. The reason we are not using 4.1.50 is because there was a regression in Netty: https://github.com/micronaut-projects/micronaut-core/pull/3278

At this moment we can't upgrade to 4.1.51 until we figure out why those tests are failing. I need to dig more into this but if it's a regression on Netty (which I don't know yet) we will need to p

[2020-08-03 13:51] croudet commented on #3842
Could be related to https://github.com/netty/netty/issues/10449

[2020-08-03 13:57] ilopmar commented on #3842
Thanks @croudet. I'll keep an eye on that issue and I'll try the snapshot once it's fixed.

[2020-08-03 14:46] jameskleeh commented on #3849
@donbeave That convention makes sense to me. Thanks for asking! I'll leave this issue open to add as a task for documenting guidelines around creating third party modules

[2020-08-03 17:32] donbeave opened #3851 "Documentation. Add mobile support or probably switch to MkDocs?"
The current documentation https://micronaut.io/documentation.html is difficult to read using mobile devices, this is how it looks right now:

![telegram-cloud-photo-size-5-6143470836393290314-y](https://user-images.githubusercontent.com/139017/89208689-6c5aa000-d5ef-11ea-8f8e-60403276f5bb.jpg)

![telegram-cloud-photo-size-5-6143470836393290315-y](https://user-images.githubusercontent.com/139017/89

[2020-08-04 07:16] esocode opened #3855 "Resource leak reported by Netty"
### Task List

- [ ] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

Yesterday I had deployed 2 rather simple services into a Kubernetes cluster. Both provide a REST API to databases and use micronaut-data with JPA to connect to a MariaDB. The services are part

[2020-08-04 10:03] larryue opened #3856 "Never end log of "Selector.select() returned prematurely 512 times in a row " when turn off wifi of Android phone"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-08-04 11:05] graemerocher commented on #3855
Seems to be a Micrometer bug as it is the shaded version of Netty unrelated to Micronaut

[2020-08-04 12:00] esocode commented on #3855
I have reported this in the micrometer project:
https://github.com/micrometer-metrics/micrometer/issues/2222

[2020-08-04 12:00] #3855 closed

[2020-08-04 20:06] katoquro opened #3861 "@Introspected annotation breaks jackson mapping"
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

I've created demo repo with the issue (https://github.com/katoquro/micronaut-issue). Just run test and broken one is for representing the issue. Good one is the same but

[2020-08-04 20:56] #3820 closed

[2020-08-04 21:05] #3615 closed

[2020-08-05 02:16] glazzari commented on #930
Hi, I'm facing a similar issue. I'm not able to use the OpenApiDefinition annotation in the Application.kt gerenated by micronaut CLI. I can workaround this by adding object Fake, as suggested above.

[code]

[2020-08-05 08:43] oscarcitoz opened #3864 "Fallback Not applicable when implements of an interface"
### Task List

- [ ] Steps to reproduce provided
The next classes can explain the issue (kotlin-micronaut)

interface PetInterface {
    fun doAny(): String
}

@Singleton
@Recoverable
@CircuitBreaker(delay = "1ms", attempts = "3", multiplier = "2", reset = "30s")
class PetImplementation: PetInterface {
    override fun doAny(): String {
        return throw RuntimeException("")
    }
}

@Fallback

[2020-08-05 09:45] jantosi commented on #3082
Hi, @graemerocher, this has been sitting for a while - if @koziolk (:wave:) doesn't mind, I'd like to contribute. So far, I have a simple PoC parser that returns a cookie name, value, and an instance `io.micronaut.http.cookie.CookieConfiguration` - which can be plugged directly to `io.micronaut.http.simple.cookies.SimpleCookie` I think.

Should I assign this issue to myself?

[2020-08-05 09:46] graemerocher commented on #3082
Absolutely PRs welcome!

[2020-08-05 13:19] jameskleeh commented on #3864
@oscarcitoz You can simply do `@Recoverable(api = PetInterface)`. This is one of the breaking changes in Micronaut 2. This is documented in the user guide

[2020-08-05 13:19] #3864 closed

[2020-08-05 14:19] #2573 closed

[2020-08-05 18:31] oscarfh opened #3868 "Update to Micronaut 2.0.0 breaks injection of DefaultSecurityService in background tasks"
Hi,
I am migrating a project from Micronaut 1.x to 2.0 and I am facing a behavior that was changed and I am wondering whether this is something I can configure and that I should change entirely.

My code is something like this (simplified version)

[code]

The problem is that I have a filter down the chain that uses `defaultSecurityService.getAuthentication();`. In 1.x, I was able to get the user'

[2020-08-05 23:03] volnei opened #3869 "RequestBean does not bind Principal or Authentication"
As discussed on Gitter, the @RequestBean annotated bean was not binding the Principal or Authentication instances. HttpRequest was binded succesfully.

### Steps to Reproduce

Try to bind the Principal or Authentication beans to an @RequestBean annotated parameter bean on an controller method, using ```@Get()```

Bean
[code]

Controller
[code]
I've tried using template portion on url too, same pro

[2020-08-05 23:26] eisig commented on #3836
OK, maybe I should close this first.

@graemerocher， another thing,
Aboout a months ago, I report https://github.com/micronaut-projects/micronaut-aws/issues/410 and https://github.com/micronaut-projects/micronaut-aws/issues/409。It seems that no one take a look at it.
Although they are not big problems, we still want some feedback, otherwise we will feel that there is no one to maintain the projec

[2020-08-06 12:26] altery commented on #3837
While working on the PR I noticed that things behave differently when compiling with JDK8. Micronaut doesn't seem to generate BeanDefinitions for Groovy-Methods that contains annotations not an Classpath. As a consequence, the Spock-Tests do not execute at all: https://github.com/micronaut-projects/micronaut-core/pull/3860/checks?check_run_id=951201393

The following happens when compiling the ref

[2020-08-06 15:48] kkondratov commented on #1566
Apologies for posting this on a closed issues, i've ran into a similar scenario where i couldn't introspect parameter names and this had to do with the way we were compiling our project. Adding the `-parameters` argument to the java compiler solved the issue. This might help some people.

Looking at the javac documentation its states the following:
[code]
see: https://docs.oracle.com/en/java/javas

[2020-08-07 01:57] chrylis commented on #3608
@graemerocher: No, it doesn't. Micronaut does not support routing the request `/books` (no parameter) and `/books?author={author}` to different controller methods (or any other conditional-on-parameter dispatch). If two mappings `@Get("/books")` and `@Get("/books?author={author}")` are both defined, Micronaut will report that both mappings are added and will not complain, but it does not use the q

[2020-08-07 01:57] chrylis commented on #3608
@graemerocher: No, it doesn't. Micronaut does not support routing the request `/books` (no parameter) and `/books?author={author}` to different controller methods (or any other conditional-on-parameter dispatch). If two mappings `@Get("/books")` and `@Get("/books?author={author}")` are both defined, Micronaut will report that both mappings are added and will not complain, but it does not use the q

[2020-08-07 01:57] chrylis commented on #3608
@graemerocher: No, it doesn't. Micronaut does not support routing the request `/books` (no parameter) and `/books?author={author}` to different controller methods (or any other conditional-on-parameter dispatch). If two mappings `@Get("/books")` and `@Get("/books?author={author}")` are both defined, Micronaut will report that both mappings are added and will not complain, but it does not use the q

[2020-08-07 05:39] jachinte commented on #3787
@sdelamo Is there a way to implement a `LocalResolver` without adding parameters (e.g., the Accept-Language header) to controllers' methods?

I'd like to implement this functionality for my project.

[2020-08-07 06:41] ktholen commented on #2664
@graemerocher I am running into the same issue. It looks like the requests are still in flight (specifically writing to redis using the micronaut-redis client). When I tried adding the following code (based on your suggestion), it appears to still be happening.

[code]

Let me know if you have any other ideas and I will try them out.

[2020-08-07 12:35] croudet commented on #3842
Fix has been merged into netty. Just need to wait for netty 4.1.52.

[2020-08-07 12:45] #3836 closed

[2020-08-07 13:46] dchuiko opened #3879 "RequestBean support for declarative Client"
This improvement is about `@RequestBean` feature. It would be great if `@RequestBean` parameters like `@QueryParams`, `@Header`, `@PathVariables` would be handled for declarative `@Client`. This improvement supports а single interface for Controller and Client feature.

Before writing an issue I've got a preliminary approve from @jameskleeh. See Gitter discussion here: [1](https://gitter.im/micron

[2020-08-07 13:53] ilopmar opened #3880 "Add flag --install-exit-handlers for GraalVM"
GraalVM 20.1.0 introduced the flag `--install-exit-handlers`. See https://www.graalvm.org/docs/release-notes/20_1/#native-image

I tried this sometime ago but it failed with `--static` images. We don't create static native images anymore because it is discouraged and it has issues with dns calls and other network calls. It is possible to use compile static against `muslc` library instead glibc, bu

[2020-08-07 23:31] emilvberglind opened #3882 "Native Image: No embedded container found. Running as CLI application"
I'm running into an issue with building a native image. I generated a project via Micronaut Launch. Out of the box, I was able to generate the native image fine, but after adding some additional dependencies The error I get when executing the native image is: No embedded container found. Running as CLI application.

### Steps to Reproduce

1. clone project here: https://github.com/emilvberglind/mi

[2020-08-08 12:46] jantosi commented on #3082
Opened a PR, https://github.com/micronaut-projects/micronaut-core/pull/3883 - let me know what you think, @graemerocher. It felt natural to add `getCookies()` as a method of HttpMessage, as many of its implementing classes already have such a method, but I'm happy to talk about what might be needed here.

[2020-08-08 16:16] tivrfoa opened #3884 ""Error GraalVM only supports up to JDK 11" when: mn create-app micronaut-graal-maven --build maven --features graalvm"
### Task List

- [X] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

mn create-app micronaut-graal-maven --build maven --features graalvm

### Expected Behaviour

Create the app

### Actual Behaviour

Error GraalVM only supports up to JDK

[2020-08-09 11:02] asodja commented on #3869
There is also test that typed value is injected that uses Principal, so this should work: [RequestBeanSpec](https://github.com/micronaut-projects/micronaut-core/blob/8fdb9010e1753af34aece11a9dc1c58539f3cf3e/http-client/src/test/groovy/io/micronaut/http/client/aop/RequestBeanSpec.groovy#L250).

Does it work if you use `Optional<Principal>` or annotate it with `@Nullable`?

[2020-08-10 01:38] someshrathi02 commented on #3868
What is error you are getting..? if its circular dependency related then pls see below .. https://github.com/micronaut-projects/micronaut-core/issues/3239
 You may need to use Provider<DefaultSecurityService>

[2020-08-10 08:17] ilopmar commented on #3880
I've reverted the change because it breaks AWS Lambda native-image support. See https://github.com/oracle/graal/issues/2742

[2020-08-10 09:13] ilopmar commented on #3882
As you mention it works out-of-the-box but then you added some dependencies and it stopped working. Can you please check which dependencies you added/removed?

[2020-08-10 09:15] saw303 opened #3888 "Mutable response has no content type since Micronaut 2.0"
We have a filter to post process a controllers return value. Previous to Micronaut 2.0 the filter was accessing the `MutableHttpReponse#getContentType()` to verify the `MediaType` of the [return value](https://github.com/saw303/micronaut-2-no-content-type-in-response/blob/master/src/main/java/com/example/SomeFilter.java#L25).

[code]

Since Micronaut 2.0 the content type is not present yet. Is the

[2020-08-10 09:16] ilopmar commented on #3884
I'm not able to reproduce the issue:

[code]

[2020-08-10 09:54] oscarfh commented on #3868
@someshrathi02 No error, but `defaultSecurityService.getAuthentication()` returns `Optional.empty` instead of the authentication object.

[2020-08-10 11:16] tivrfoa commented on #3884
Sorry Ivan. I know what happened:
  - Micronaut uses $JAVA_HOME
  - My $JAVA_HOME was 14
  - But the $PATH I has Java 11

That is why when I ran `java --version` I got 11 ...

Sorry.

[2020-08-10 11:16] #3884 closed

[2020-08-10 11:24] ilopmar commented on #3884
Glad it works :)

[2020-08-10 13:38] oscarfh commented on #3868
@someshrathi02  I edited the original post with a project to reproduce the issue.

[2020-08-10 14:01] someshrathi02 commented on #3868
Thanks foe updates. so its different issue than one which i faced while upgrading micronaut version

[2020-08-10 18:31] volnei commented on #3869
Still not working even with Optional or Nullable. I saw the tests but none of them mention the javax.security.Principal class.

Using Optional, a "No value present" error is reached.

[2020-08-11 00:09] emilvberglind commented on #3882
I believe it is due to the firebase-admin dependency.

On Mon, Aug 10, 2020 at 5:13 AM Iván López <notifications@github.com> wrote:

[2020-08-11 12:28] someshrathi02 commented on #3810
@graemerocher /Micronaut team - Your help/advise will be very helpful on this issue.
Im facing above issue in project and we are trying to migrate from micronaut 1.3.6 to 2.0.0 and because of this not able to proceed further.

[2020-08-11 12:29] graemerocher commented on #3810
Currently away, will look at this when I get back next week unless @jameskleeh or someone else gets to it first

[2020-08-12 10:38] ilopmar commented on #3880
The [GraalVM issue #2742](https://github.com/oracle/graal/issues/2742) has been fixed but the fix will be included in 20.3 (to be released on November 17th 2020). Until that date we can't merge the fix.

In the mean time, to avoid regressions I've manually enabled the flag in `basic-app`, `aws-app` and `function-aws` test applications. [This pipeline ](https://gitlab.com/micronaut-projects/microna

[2020-08-12 13:55] bsamartins opened #3895 "AWS SDK Dependencies not included in 2.0.1 BOM"
Documentation states that to use either AWS SDK V1 or V2, it should be sufficient to include the dependency as follows:
[code]
After including Micronaut 2.0.1 BOM in a Gradle project, build does not resolve the AWS V1 SDK.
When verifying the BOM, neither V1 or V2 SDKs are declared as dependencies.

### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Exampl

[2020-08-13 07:24] esocode commented on #3855
Should be fixed in micrometer 1.5.3.

[2020-08-14 10:18] ilopmar opened #3900 "Missing Micronaut gRPC dependencies in the bom"
The BOM doesn't include all the micronaut grpc dependencies.

[2020-08-14 17:12] grollinger opened #3903 "Manipulating HttpRequest in Http(Server)Filter fails when an error handler is invoked"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Define an HttpFilter that manipulates incoming requests (even without changing anything for real).
[code]
2. Send a request that causes an error handler to be invoked

[2020-08-17 06:16] dstepanov commented on #3868
@oscarfh Can you use RxJava2's instead of `CompletableFuture::supplyAsync`?

[2020-08-17 10:13] #3900 closed

[2020-08-17 12:26] vijayender opened #3910 "Calls to @Client during constructor or PostConstruct of a Bean hang"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-08-17 12:59] sascha-frinken commented on #3780
Is this more likely to be a gradle problem and should be reported there?

[2020-08-17 18:27] oscarfh commented on #3868
@dstepanov yes, I did and it worked. Nevertheless, in my opinion, the fact that the context was passed to the new thread and now it is not anymore is an important behavior change that should, at least, be documented.

[2020-08-17 20:01] stepanv opened #3913 "Recursive update during bean context initalization still an issue in Micronaut 2.0.1"
This has been a well known issue that was supposedly fixed at https://github.com/micronaut-projects/micronaut-core/issues/3577 but even though @graemerocher removed "some" use of `Map.computeIfAbsent()`, there is another map possibly intermittently failing at `DefaultBeanContext.getScopedBeanForDefinition()` where `scopedProxies` is accessed:

Micronaut version: 2.0.1

The following issue happens

[2020-08-17 21:21] volnei opened #3914 "Tenant propagation does not propagate the tenant on ProxyHttpClient"
When using the ProxyHttpClient the tenant is not propagated though proxyed request.

[2020-08-18 06:34] sdelamo opened #3917 "Update Modules to Kotlin 1.4.0"
We should release new version of modules compatible with 1.4.0

See related PRs:

[micronaut-core](https://github.com/micronaut-projects/micronaut-core/pull/3915) and [#3905](https://github.com/micronaut-projects/micronaut-core/pull/3905)

[micronaut-rabbitmq](https://github.com/micronaut-projects/micronaut-rabbitmq/pull/124)

[micronaut-gradle-plugin](https://github.com/micronaut-projects/microna

[2020-08-18 08:06] graemerocher commented on #3868
we probably need a way to handle this use case although I believe `CompletableFuture::supplyAsync` uses the fork join common pool which is not ideal for the use case described and is supposed to be used for short lived, non-blocking operations.

We may be able to support the use case whereby `supplyAsync` is used with a specific `ExecutorService` that you can wrap in instrumentation. Thoughts @dst

[2020-08-18 08:12] jachinte opened #3918 "Multiple possible bean candidates found (using lombok)"
Micronaut is not able to select the bean to inject despite the fact that I am annotating the fields with `javax.inject.Named`. I am using Lombok to generate the constructor. If I remove lombok and specify the constructor manually, the app works as expected. The generated `.class` file does contain the correct constructor:

[code]

<details>
package com.example;

Am I doing something wrong or is th

[2020-08-18 08:54] dstepanov commented on #3868
Actually changing the example to
[code]
It correctly injects an instrumented Executor and context is preserved.

@graemerocher Looking at this commit https://github.com/micronaut-projects/micronaut-core/commit/928a2ba152a2d2419e218a9cd7bd632addb71c23 should it be `if (beanType == ExecutorService.class || beanType == ScheduledExecutorService.class)`?

[2020-08-18 10:34] dstepanov commented on #3918
It’s Lombok bug and hopefully fixed, can you try the latest Lombok snapshot?

[2020-08-18 14:46] jachinte commented on #3918
Unfortunately, it didn't work with the `edge-SNAPSHOT` version. Is this an interoperability error between micronaut and lombok? I see that the generated class contains the `Named` annotation.

[2020-08-18 14:51] dstepanov commented on #3918
Lombok didn't update parameters in the model https://github.com/micronaut-projects/micronaut-core/issues/1566

[2020-08-18 15:04] jachinte commented on #3918
The parameter names are correct:

[code]

[2020-08-18 15:20] dstepanov commented on #3918
@jachinte The problem here is when Lombok is processing classes it doesn't update parameter names and annotations in the model which is used by sequential processors including Micronaut.

The problem should be fixed in the master but the edge release looks like it's was done before it.

[2020-08-19 05:53] jachinte commented on #3918
@dstepanov Just so you know, I compiled lombok locally and used the generated jar in the sample project. It produced the same error.

[2020-08-19 09:44] ilopmar opened #3923 "Upgrade to GraalVM 20.2.0"
Core: https://github.com/micronaut-projects/micronaut-core/pull/3922
Starter: https://github.com/micronaut-projects/micronaut-starter/pull/406
Guide: https://github.com/micronaut-guides/micronaut-creating-first-graal-app/pull/19

[2020-08-19 09:47] #3923 closed

[2020-08-19 12:21] jaksah opened #3924 "Ability to specify excluded serviceIds in @Filter for HttpClientFilter"
The `@Filter` annotation currently has a `serviceId` to specify which service identifiers it should be applied to. This is a feature request to add the ability to control which services identifiers the `HttpClientFilter` should _not_ apply to.

To give a specific use case, I wanted to apply a `HttpClientFilter` to all clients except the kubernetes discovery client.

[2020-08-19 14:42] shahmirn opened #3925 "/loggers endpoint is enabled by default, even though documentation says "The loggers endpoint is disabled by default""
After creating a brand new project with the management feature, we noticed that the /loggers endpoint was enabled, even though https://docs.micronaut.io/latest/guide/index.html#loggersEndpoint says:

The loggers endpoint is disabled by default and needs to be explicitly enabled with the setting endpoints.loggers.enabled=true.

### Task List

- [X] Steps to reproduce provided
- [ ] Stacktrace (if p

[2020-08-20 05:18] saw303 opened #3931 "Micronaut 2.0.1 Core - Include in caching (AOP) section is broken"
See https://docs.micronaut.io/latest/guide/index.html#caching

<img width="1768" alt="Micronaut" src="https://user-images.githubusercontent.com/71073/90719765-86fe6b80-e2b5-11ea-87cd-8627f6b3e900.png">

[2020-08-20 05:48] seratch opened #3933 "micronaut-bom 2.0.1 requires a non-existent version of ktor-bom (1.3.2)"
As the title describes, micronaut-bom v2.0.1 relies on a non-existent version of ktor-bom. It seems to be a configuration error in pom.xml. micronaut-bom v2.0.0 doesn't have this issue.

ktor-bom 1.3.2 is specified in micronaut-bom's pom. However, the version doesn't exist.

<img width="400" src="https://user-images.githubusercontent.com/19658/90721592-0d39a280-e2f4-11ea-8f17-d04c4753dcc3.png">
<i

[2020-08-20 06:17] #3062 closed

[2020-08-20 06:38] graemerocher commented on #3933
It does exist but only in jcenter we have rolled back to 1.3.1 in master

[2020-08-20 06:55] seratch commented on #3933
Good to know! Please feel free to close this issue once you ship a new patch version with the valid config.

[2020-08-20 07:30] #3925 closed

[2020-08-20 09:09] wq163 commented on #1364
no exception, invoked twice too, version 2.0.1

[2020-08-20 11:32] lehotskysamuel opened #3936 "Unable to modify response headers with RxHttpClient"
### Expected Behaviour

Hi, I'm trying to implement api gateway / proxy service with RxHttpClient that modifies requests and their responses. I'd like to filter some headers from response, e.g. SET-COOKIE header.

### Actual Behaviour

I don't see the header in response, although I can see in my browser (latest Chrome) it's actually being sent.

I only see 4 headers in code:
- Connection: close
-

[2020-08-20 14:58] pollend opened #3938 "Ability to nest @EachProperty"
EachProperty does not work in a nested configuration.

[code]

groovy:
[code]
java:
[code]

It can't resolve the properties when they are double nested: https://github.com/micronaut-projects/micronaut-core/blob/master/inject/src/main/java/io/micronaut/context/DefaultApplicationContext.java#L264-L278 the properties don't resolve to anything so it falls through.

![image](https://user-images.githubu

[2020-08-20 15:25] shahmirn opened #3939 "Unable to set logging levels via environment variables"
After creating a brand new project with the management feature, we noticed that we're not able to set logging levels via environment variables, and only via system properties, even though https://docs.micronaut.io/latest/guide/index.html#config says:

In addition, just like Spring and Grails, Micronaut allows overriding any property via system properties or environment variables.

and https://docs

[2020-08-20 15:43] littlewoo opened #3940 "ProxyHttpClient gives ReadTimeoutException when processing a response with an empty body."
Hi! I've been having problems trying to write an API gateway using the Micronaut 2 ProxyHttpClient. When the backend response contains an empty body, using the ProxyHttpClient triggers a ReadTimeoutException. Using the normal HttpClient.exchange instead of the proxy method completes normally.

### Steps to Reproduce

1. Use the Proxy Http API in a Micronaut application to proxy a request to a back

[2020-08-20 17:33] gausnes commented on #3422
I saw similar issues to this. I was able to fix the leak by configuring Netty to use the native transports. This was only producible on deployed instances of Micronaut (Ubuntu 18.x / OpenJDK 11). I was not able to reproduce locally on MacOS (OpenJDK - Zulu 11.0.7). Inspecting the heap showed a significant amount of space being consumed by multiple instances of `sun.nio.ch.EPollSelectorImpl`.

The

[2020-08-20 18:35] saw303 commented on #3931
Duplicate of https://github.com/micronaut-projects/micronaut-core/issues/3825

[2020-08-20 19:50] aalmiray opened #3941 "Activate Gradle build cache"
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

1. check out the repository
2. `./gradlew clean check  --parallel --continue`
3. note the time it takes to make the build
4. `./gradlew clean check  --parallel --continu

[2020-08-21 10:44] ilopmar opened #3945 "Flaky test in StreamUploadSpec"
For the last few weeks [this test](https://github.com/micronaut-projects/micronaut-core/blob/master/test-suite/src/test/groovy/io/micronaut/upload/StreamUploadSpec.groovy#L152) has been intermittently on master branch.

[2020-08-21 11:34] ilopmar opened #3946 "Update remaining modules to Micronaut 2.0"
## Summary

This is a follow up on #3024.

For **Micronaut 2.1** all the remaining modules need to be updated to Micronaut 2.

| Symbol | Status |
| :---: | --- |
| ✅| Worked with Micronaut 2. It was tested before Micronaut 2.0 release. Needs to be updated before Micronaut 2.1 |
| 🆗 | Existing PR updated with latest changes. Read latest PR comments before merging |
| 2️⃣ | Release version 2.0.0 |

[2020-08-21 13:48] sdelamo opened #3948 "Add a Release section to Micronaut core's docs which points to Github Releases"
It should point to: https://github.com/micronaut-projects/micronaut-core/releases

[2020-08-21 13:49] sdelamo opened #3949 "Add repository section to Micronaut core docs"

[2020-08-21 14:01] mutyasaisrikar opened #3950 "MDCInstrumenter does not propagate context from one thread pool to another after moving to micronaut 2.0.0"
With the io.micronaut:micronaut-tracing dependency added to my project I was hoping the MDC context would be propagated across my the whole request.
It stopped working when we moved to Micronaut 2.0.0

Sample project where I can see the issue..

https://github.com/mutyasaisrikar/micronaut-mdc-issue

When you run the test case, you can see the below logs,

`[pool-2-thread-1] **5841aea8-df8a-4ea6-ac

[2020-08-21 18:15] oscarfh opened #3952 "Micronaut 2.0.1 fails to build in Intellij 2020.2.1 while it runs perfectly using gradle."
I created a demo project with the default configurations using Micronaut Launch then I added a simple example class, which is a `Singleton`, has some dummy object `Injected` and returns a `Publisher` from a method.
The problem is that there 3 references I just mentioned are not recognized by Intellij.
Nevertheless, it builds when using `./gradlew build`.

Here is an project as an example: https://

[2020-08-21 18:34] zdegner opened #3953 "Optional @QueryValue parameter with validation annotation causes Null exception"
## Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a controller
2. Create a route with an Optional @QueryValue parameter and a validation annotation (@Min for example)
3. Invoke endpoint without the optional que

[2020-08-21 18:34] #3952 closed, assigned to nobody

[2020-08-21 18:37] zdegner opened #3954 "Optional @QueryValue parameter with @Format does not return format errors to caller"
## Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a controller
2. Create a route with an Optional @QueryValue parameter and a @Format annotation
3. Invoke endpoint with a badly formatted query parameter

### Ex

[2020-08-21 19:12] steve363 opened #3955 "application.yml jpa: default: on next line will fail loading EntityManager if it does not have a space in front of it"
I was following the Micronaut JPA and Hibernate tutorial [https://guides.micronaut.io/micronaut-data-access-jpa-hibernate/guide/index.html ](url) trying to setup a Micronaut Version: 2.0.0.RC1 application in Eclipse Version: 2019-09 R (4.13.0) with JPA and Hibernate and came across this issue that took me days to try to figure out because I had no idea why EntityManager was not loading.

If you sp

[2020-08-22 06:11] kayis-rahman commented on #1317
I am new comer. Since this is a enhancement do we have any acceptance criteria ?

[2020-08-24 01:45] bhrt93 opened #3956 "version 2.0.1 injection for Map<String, List<String>> test gives incorrect value"
**application.yaml**
[code]

Injecting Map of list generates incorrect map
Tried using Map of String
[code]
Tried Map of Integer as well.
[code]
Value is injected incorrectly.
<img width="995" alt="Screenshot 2020-08-24 at 7 09 53 AM" src="https://user-images.githubusercontent.com/51748751/90995420-8f1e1a00-e5d9-11ea-9ec0-d260e8537fa0.png">
<img width="893" alt="Screenshot 2020-08-24 at 7 12 37 AM

[2020-08-24 02:17] rohitkg98 opened #3957 "Better Logs when using `gradle run`"
When running the application using `gradle run`, most of the logs are about Application Context initialization.

Can we have better formatting of these logs and make them concise and clear?

For example:
In Liquibase Migration Runner, we can make it so it only shows the Migration ID that got applied rather than all the queries that got fired.

In case of failing to initialize a Hibernate Bean, jus

[2020-08-24 06:19] bhrt93 commented on #3956
I believe the issue seems to be happening on mac and not on windows

[2020-08-24 07:24] littlewoo opened #3958 "Whole body binding of MultipartBody fails for secured endpoints"
When attempting to bind other variables in addition to a MultipartBody (e.g. a user principal), the binding of MultipartBody to controller methods fails with exceptions `This publisher only supports one subscriber`. Minimal working example supplied.

### Steps to Reproduce

Secured endpoint providing bindings for authenticated user and whole-body-binding for MultipartBody. Call the endpoint with a

[2020-08-24 07:43] #3957 closed

[2020-08-24 09:20] #3955 closed

[2020-08-24 09:23] kiranmairavipati1978 commented on #3895
Any updates on this? It doesn't work with earlier versions either (from 1.3.7)

[2020-08-24 09:24] graemerocher commented on #3895
You can always specify the version number explicitly in the meantime

[2020-08-24 10:27] alvarosanchez commented on #3895
This should be fixed via https://github.com/micronaut-projects/micronaut-aws/issues/325

[2020-08-24 10:42] graemerocher commented on #3895
Agreed having a BOM for that project would be better

[2020-08-24 11:02] mutyasaisrikar commented on #3950
@dstepanov, If you can see the sample project I tagged to this issue, I added micronaut-tracing dependency.

[2020-08-24 11:08] dstepanov commented on #3950
@mutyasaisrikar Check this page https://guides.micronaut.io/micronaut-microservices-distributed-tracing-zipkin/guide/index.html you can see added Brave dependencies to the runtime.

[2020-08-24 12:31] mutyasaisrikar commented on #3950
@dstepanov, I have seen the example you mentioned. We are not trying to integrate with Zipkin.

I also tried adding only 'io.opentracing.brave:brave-opentracing' which is not giving what I wanted, to propagate MDC

[2020-08-24 14:24] steve363 opened #3960 "Unable to setup a Micronaut Data project that can actually save to an oracle database table"
I'm unable to setup a Micronaut Data project that successfully saves to an oracle database table.

My table is PAYMENT_REQUEST and has the following structure:
[payment request table structure.docx](https://github.com/micronaut-projects/micronaut-core/files/5118453/payment.request.table.structure.docx)

I referred to this documentation.  Can you please provide a link to a working example that at l

[2020-08-24 14:35] #3960 closed

[2020-08-25 01:48] mliberato opened #3961 "Using coroutineScope to make async calls to other suspend functions in parallel fails under GraalVM"
Controllers with suspend functions wrapped with coroutineScope to make function calls in parallel is working OK with standard JVM/Kotlin. However it is not when running on graalvm.

I've put together a simple controller to reproduce the problem:

[code]

Both `serial` and `parallel` suspend functions should produce the same output, but the latter is broken under graalvm.

### Task List

- [x] Step

[2020-08-25 07:35] graemerocher commented on #3961
Can you try 20.2.0? I know some work into supporting Coroutines went in a recent version

[2020-08-25 12:09] mliberato commented on #3961
Already did it. Same thing.

[2020-08-25 12:18] mliberato commented on #3961
Before 20.1.0 it was not possible to run almost any Kotlin code because of the "irreducible loop" problem they've addressed in this release.

I confirm I have Kotlin code running on Graal 20.1.0, even suspend functions which make use of coroutines. It might be a problem with initialization of Kotlin coroutine internals inside Graal.

[2020-08-25 13:06] mutyasaisrikar commented on #3950
@dstepanov @graemerocher , any more ideas on this please?

[2020-08-25 13:38] graemerocher commented on #3961
Thanks we will investigate

[2020-08-25 13:40] graemerocher commented on #3950
not at this stage, on the list to investigate

[2020-08-25 14:18] dstepanov commented on #3950
@mutyasaisrikar Can you provide a project with the version where it did work? I can check what's different.

[2020-08-25 14:52] mutyasaisrikar commented on #3950
@dstepanov, please check this https://github.com/mutyasaisrikar/micronaut-mdc-issue-1.x

[2020-08-25 15:05] carlosbarragan opened #3964 "ProxyHttpClient hangs when the response contains no body"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Start the application and call a service that returns a response without body
2. Send a post request to the application

[code]

3. No response is ever returned.

Thi

[2020-08-25 15:48] dstepanov commented on #3950
@mutyasaisrikar Looks like your V2 example is using logbook if you copy the logger from V1 it's logging the same.

[2020-08-25 16:23] manavsah commented on #218
Same problem occur when you use lombok as gradle plugin:
plugins {
    id "com.diffplug.eclipse.apt" version "3.22.0"
    id "com.github.johnrengelman.shadow" version "6.0.0"
    id "application"
    id "io.freefair.lombok" version "5.1.1"
}

but resolve when you remove "io.freefair.lombok" as plugin and add in dependency as suggested above by @graemerocher .

Thanks Manav

[2020-08-25 18:45] harissecic commented on #2041
Started playing with it on [my profile](https://github.com/harissecic/micronaut-pulsar) not sure will it help at all, is there any kind of good enough code here to continue on work.

[2020-08-25 19:06] graemerocher commented on #2041
@harissecic nice!

[2020-08-25 20:04] tchiotludo commented on #3671
@jameskleeh any update on this ?

[2020-08-26 01:36] mliberato commented on #3961
As a workaround while this don't ship, you can bundle `native-image.properties` and `reflection-config.json` provided in the above commit in your own sources.

[2020-08-26 05:03] vinhbt opened #3969 "HttpClient hang after call RxWebSocketClient.connect"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-08-26 07:54] alvarosanchez commented on #2041
@harissecic very nice indeed!

We have a [GitHub template repository](https://github.com/micronaut-projects/micronaut-project-template) that you could use to get our build, documentation and publishing standards.

If it gets compliant with that, and gets into a state that a milestone could be released, we can consider hosting it in the `micronaut-projects` organization. That way, you could ask for

[2020-08-26 08:16] #3969 closed

[2020-08-26 08:44] dstepanov commented on #3913
This should be fixed by https://github.com/micronaut-projects/micronaut-core/pull/3824

[2020-08-26 08:50] #3913 closed

[2020-08-26 09:03] ericathedev opened #3972 "Mocking of non-interface beans not working"
The mocking of non-interface beans not working using the latest `micronautVersion` `1.3.2` and `micronaut-test-junit5:1.1.5`. Could this be a reoccurance of https://github.com/micronaut-projects/micronaut-test/issues/20 which was fixed in `1.1`?

To see the problem in action please look at the example project: https://github.com/ericathedev/test-kt. It uses Micronaut, Kotlin and JUnit5.

Running [

[2020-08-26 09:07] ratcashdev commented on #3956
Could this also relate/fix https://github.com/micronaut-projects/micronaut-core/issues/3773 ?

[2020-08-26 09:15] harissecic commented on #2041
Thanks, I'll try out template as I started with Kafka integration and changed stuff which I realised is bad now

[2020-08-26 09:20] graemerocher commented on #3956
No this relates to injecting configuration, not altering injection based on the generic type arguments

[2020-08-26 09:57] goeh opened #3974 "Path parameter encoding in client and controller"
I'm developing a file browser type of controller where request paths can be like "/downloads/img/göran.png".
When using {+path} syntax in declarative client or controller to include special characters, the url encoding stops working.

### Steps to Reproduce

[code]

A request path like "/downloads/img/göran.png" ends up in the controller as "/downloads/img/gÃ¶ran.png".

### Expected Behaviour

The

[2020-08-26 12:31] mutyasaisrikar commented on #3950
@dstepanov, we wanted to use ChannelPipelineCustomizer which is as part of Micronaut 2.x netty. I would expect that it will be same as V1 filter, right?

[2020-08-26 13:01] oscarfh commented on #3868
@dstepanov @graemerocher If you feel it is more appropriate, feel free to close.
Thanks a lot for the thread!

[2020-08-26 13:29] someshrathi02 commented on #3810
@graemerocher / @ilopmar Any updates on this please ?

[2020-08-27 06:11] myspec opened #3979 "POST Request with undefined URL cause connection issue"
### Steps to Reproduce

Make a POST request to make 404 (or 403)  twice, (second request has issue)

POST /blabla HTTP/1.1
Host: localhost:8080
Content-Type: text/plain

dd

Use Postman( or YARC. )
with cURL or body is empty, issue doesn't reproduce.

### Expected Behaviour
404 or 403 error

### Actual Behaviour
First call make a 404 error.
But second, client blocked on request. Server doesn't rec

[2020-08-27 07:15] dstepanov commented on #3950
@mutyasaisrikar Netty works outside Micranaut, you can set `correlationId` into the header and get it from there.

You can try to integrate Brave, it looks like has support for Netty https://github.com/openzipkin/brave/tree/master/instrumentation/netty-codec-http but you might need to do more work to propagate custom correlation id.

[2020-08-27 08:43] #3956 closed

[2020-08-27 08:47] graemerocher commented on #3750
Could you provide an example that reproduces the issue so we could try and take the PR forward?

[2020-08-27 09:50] #3950 closed

[2020-08-27 10:26] ilopmar commented on #3572
@lex-erik I released Micronaut GraphQL 2.0.0 yesterday with has been upgrade to Micronaut 2.0

[2020-08-27 11:50] #3572 closed

[2020-08-27 15:49] #3961 closed

[2020-08-27 18:37] lex-erik commented on #3572
Thanks, right on time! Will give 2.0.0 a try...

[2020-08-27 22:42] lightoze opened #3983 "Server filter unable to modify response headers for reactive controllers"
Looks like server filter cannot modify response headers when controller has a signature of `Publisher<MutableHttpResponse<?>>`. As a result, for example HTTP session cannot be created during such controller invocation because no cookie is returned to the client.

I believe this is also causing https://github.com/micronaut-projects/micronaut-security/issues/319

Here is a Gist with simple code to r

[2020-08-28 06:30] dstepanov commented on #3918
@jachinte Can you test with latest Lombok master?

[2020-08-28 07:42] lightoze commented on #3983
Here's my temporary workaround:
[code]

[2020-08-28 12:18] spencercjh opened #3987 "Micronaut JOOQ and Micronaut Data have suspicious compatibility issues"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-08-28 12:21] spencercjh commented on #3987
It seems that I merged the two issues into one. emmm, but they have same example application. :laughing:

[2020-08-28 15:41] jachinte commented on #3918
@dstepanov It does work, thank you!

[2020-08-28 15:42] #3918 closed

[2020-08-31 15:26] jameskleeh opened #3992 "Create API for binding to request from client arguments"

[2020-08-31 18:50] agilob opened #3995 ""Unresolved directive" in documentation"
![image](https://user-images.githubusercontent.com/2544251/91755439-a0a78900-ebba-11ea-8e48-c6b3f3a8e6b3.png)

You can find "Unresolved directive" many times in 2.0.1 docs, havent checked any others.

https://docs.micronaut.io/latest/guide/index.html#distributedConfigurationAwsParameterStore

I think that's a documentation bug - which is a phase I don't write often.

[2020-08-31 19:23] graemerocher commented on #3995
It is. The documentation moved to the AWS module, we will fix it. Thanks

[2020-08-31 20:07] #3964 closed

[2020-09-02 07:30] dstepanov opened #4004 "Do not inject Netty's EventLoopGroup as a primary ExecutorService"
It's caused by `@Primary` annotation added for default `EventLoopGroup` in `DefaultEventLoopGroupRegistry`.

Would it be possible to allow specifying something like `@Primary(of = EventLoopGroup.class)`? That would restrict injecting `ExecutorService` as a primary implementation.

[2020-09-02 08:34] graemerocher opened #4005 "Support division of readiness and liveness probes in /health endpoint"
Kubernetes supports both readiness and liveness probes, currently Micronaut's management module only really supports liveness.

We should add qualifiers to define health indicators as either `@Readiness` or `@Liveness` and define a selector on the health endpoint to expose these individually `/health` can continue to map to liveness.

Micronaut launch's `k8s.yml` should then be updated to point to

[2020-09-02 12:37] jameskleeh commented on #4004
@dstepanov Can you describe what issue is being caused by the current behavior?

[2020-09-02 12:51] dstepanov commented on #4004
@jameskleeh https://github.com/micronaut-projects/micronaut-core/issues/3868 I wouldn't expect Netty executor to be injected as a default one it probably can cause some performance problems if it's used to execute long-running tasks.

[2020-09-02 14:37] cassadyj opened #4006 "GoogleAuthFilterSpec failing test"
When running gradlew build on Windows 10 the test GoogleAuthFilterSpec is failing.  The error message returned does not match any of those specified in the test.

The error returned on Windows 10 is : "Connect Error: No such host is known (metadata)"

### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github

[2020-09-02 18:19] #3992 closed

[2020-09-02 18:36] tomas-langer opened #4008 "Method argument annotations from processor not working"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. See https://github.com/tomas-langer/reproduce-micronaut-visitor

### Expected Behaviour

When I have a `TypeElementVisitor` implemented that adds an annotation to a m

[2020-09-02 19:09] jameskleeh commented on #3974
@goeh I'm not sure how we would do that. We can't encode the entire URI because then it would encode `/` for example. We also don't know if the value is already encoded, so even if we created a complex system to do the decoding, we would end up double encoding for those use cases.

[2020-09-03 06:58] goeh commented on #3974
I understand that introducing auto encoding could break existing workarounds, but the current situation makes it very hard to develop blog or content management systems with Micronaut.
Could we introduce another character instead of +, like {-path} or {/path} that splits the url on /, encode/decode all parts and then join with / again?

[2020-09-03 07:08] #4008 closed

[2020-09-03 07:18] #3940 closed

[2020-09-03 07:19] graemerocher commented on #3936
Can you upload an example that reproduces the problem?

[2020-09-03 07:38] paweusz opened #4013 "Unexpected end-of-input when fetching empty JSON streams"
### Issue description

Fetching empty collections provided via HTTP JSON stream
produces exception in `RxStreamingHttpClient`

### Steps to Reproduce

1. Clone sample [git repository](https://github.com/paweusz/micronaut-empty-json-stream)
2. Execute `./gradlew clean test`

### Expected Behaviour

Empty JSON stream provided by `EmptyController#emptyIndex()`
should be interpreted as empty `Flowable

[2020-09-03 07:58] ikovalyov commented on #3334
I had this issue with mockk tests, when mockk was setting stubs in the test body, not during initialisation. Happened only once in few years though. Hope it'll help.

[2020-09-03 09:20] adam-yorwerth commented on #3956
@graemerocher is there any known workaround for this issue or pre-release of 2.0.2 that we could use?

This issue is blocking our upgrade to 2.0 currently, so any guidance would be great.

[2020-09-03 09:25] sdelamo commented on #3946
I've released a new version of [jackson-xml](https://github.com/micronaut-projects/micronaut-jackson-xml) with Micronaut 2.0.1. It is in the 2.1.x bom of micronaut-core.

[2020-09-03 10:07] graemerocher commented on #3956
You should be able to use the snapshots. I imagine 2.0.2 is just around the corner

[2020-09-03 14:20] pacey opened #4016 "Nullable multipart parts causes parts to be buffered into memory"
### Task List

- [x] Steps to reproduce provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Have a controller that accepts multipart form data in the form of `StreamingFileUpload` parts, where one of the parts is nullable.
2. Call the endpoint will all the parts, bar the nullable one, with the pa

[2020-09-03 15:12] lehotskysamuel commented on #3936
I might find more time next week but the code above should be all you need. Just put it into hello world application and you should be able to reproduce the problem. Just try proxying to any endpoint that returns e.g. set-cookie header.

[2020-09-03 15:36] #3810 closed

[2020-09-03 15:42] jameskleeh commented on #4016
@pacey I'm open to suggestions for improvement, but I don't know what we could do about this. The reason why is because we don't know if the nullable part is coming or not until the entire request is processed.

[2020-09-03 15:48] pacey commented on #4016
That's a good point @jameskleeh, I assume the client sends the parts sequentially rather than all of them in parallel.

I guess a workaround for our case is to use the `MultipartBody`, at least we can start handling the data as soon as possible without the need for Micronaut delaying the call to our controller.

[2020-09-03 15:54] jameskleeh commented on #4016
@pacey Right - the parts come in sequentially. We initially had a plan to call controllers empty publishers, but StreamingFileUpload at least requires 1 chunk to get the file name, content type, etc...

[2020-09-03 16:33] #3953 closed

[2020-09-03 16:34] graemerocher commented on #3914
Do you have an example?

[2020-09-03 16:41] archerz commented on #4016
@jameskleeh Would it be possible to have `CompletedFileUpload`, or maybe another variant of it, streaming the files to disk and then calling the controller when the request is finished?

This would be similar to most other frameworks, I believe.

[2020-09-03 16:42] jameskleeh commented on #4016
@archerz Yes - see https://docs.micronaut.io/latest/guide/configurationreference.html#io.micronaut.http.server.HttpServerConfiguration$MultipartConfiguration

[2020-09-03 16:43] archerz commented on #4016
So it seems like we should have set `disk` to `true`, as opposed to just using the mixed mode...

[2020-09-03 16:44] jameskleeh commented on #4016
@archerz That usually is not the best option. That would flush all content to disk so that would cause a performance hit for small files that could just stay in memory

[2020-09-03 16:45] archerz commented on #4016
@pacey I think what we've done wrong is setting the limit too high, believing that it is the maximum multipart size we're allowing to be sent. It should be set to a reasonable number, and then anything higher gets buffered to disk with `mixed = true`'

[2020-09-03 16:46] jameskleeh commented on #4016
The `micronaut.server.multipart.threshold` option is what controls at what point the file will go to disk.

[2020-09-03 18:08] jameskleeh commented on #3979
"with cURL or body is empty, issue doesn't reproduce."

If you can't reproduce the issue with curl, then I would assume the issue is in your client.

I can't reproduce the issue with the example app provided with curl or Postman

[2020-09-03 18:09] jameskleeh commented on #3895
Closing this issue as it will be tracked in the AWS issue

[2020-09-03 18:15] mparlee commented on #3334
Anyone know of a workaround for this?

[2020-09-03 19:44] jameskleeh commented on #4016
Going to close this issue as a duplicate of https://github.com/micronaut-projects/micronaut-core/issues/2869

[2020-09-03 19:44] #4016 closed

[2020-09-04 00:04] someshrathi02 commented on #3810
Thanks @jameskleeh and @graemerocher for looking into this issue and providing the solution.
When this fix will be available for me to test ?
 I think its tagged to 2.0.2. , before that can i get some tag/branch  release which  I can test locally to see if it fixes my issue.

[2020-09-04 01:28] jameskleeh commented on #3810
@someshrathi02 You can use the 2.0.2.BUILD-SNAPSHOT build

[2020-09-04 06:45] #4013 closed

[2020-09-04 06:47] #3958 closed

[2020-09-04 06:48] #3218 closed

[2020-09-04 06:49] #4006 closed

[2020-09-04 10:33] sascha-frinken commented on #3780
Update this also happens on a java project and micronaut 2.0.1.

[2020-09-04 11:17] graemerocher commented on #3780
most likely is that groovy named parameters are not enabled correctly

[2020-09-04 13:12] sascha-frinken commented on #3780
@graemerocher
As I just mentioned it also happens on a plain java project and micronaut 2.0.1.
I try to push it as a `java` branch asap.

[2020-09-04 13:15] sascha-frinken commented on #3780
Branch `java` pushed.
Just run `./gradlew classes` to reproduce

[2020-09-04 14:09] dstepanov commented on #2417
You can also store `application.yml` in the `config` folder which shouldn't be included into the artifact.

[2020-09-04 14:29] #3082 closed

[2020-09-04 15:35] luckyswede opened #4029 "MDC leaks if set in HI prio server filters in Micronaut 2.0"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

Run the `lowprio` test, it works.
Run the `hiprio` test, which fails.

### Expected Behaviour

The MDC should not leak outside the context it has been set.

### Actual B

[2020-09-04 17:04] l0co opened #4030 "Micronaut validator is not compatible with Hibernate BeanValidationEventListener"
In `2.0.1`.

Micronaut's `DefaultValidator` is not compatible with Hibernate `BeanValidationEventListener`, because produced `ConstraintViolation`-s frequently contains null `leafBean` and [this line](https://github.com/hibernate/hibernate-orm/blob/master/hibernate-core/src/main/java/org/hibernate/cfg/beanvalidation/BeanValidationEventListener.java#L124) crashes with NPE. Please note, that I don't

[2020-09-04 20:47] dgbmariano opened #4032 "FileNotFoundException error getting public host name from:http://169.254.169.254/latest/meta-data/publicHostname"
This issue is related to this issue: https://github.com/micronaut-projects/micronaut-core/issues/2934.
Our app is hosted in Amazon and every time that we start a pod we get two errors:

[code]

And:
[code]
For the second error, I believe that the cause is because of the val `metadataUrl` that is `url + "/latest/meta-data/"` defined in the file `AmazonMetadataConfiguration.java` but in the file `Am

[2020-09-06 11:19] someshrathi02 commented on #3810
Thank you so much @jameskleeh. I will try and let you know.

[2020-09-06 14:21] nick318 opened #4033 "Failed to convert argument for Java Record object as request parameter"
I got an exception when trying to use Java Record object as a request parameter for controller:

[code]

[code]

Test to verify behaviour
[code]

### Steps to Reproduce

1. Create Java Record object
2. Pass it as an argument for controller parameter

### Expected Behaviour
RequestDto should be created from json

### Actual Behaviour

Get exception
Stacktrace:
[code]

### Environment Information

-

[2020-09-07 07:29] kbachl opened #4034 "suggestion @Client: allow to access inner properties of objects"
Hi,

currently this wont work:

[code]

leads to:
`error: The route declares a uri variable named [note.docEntry], but no corresponding method argument is present`

instead this is needed:

[code]

so I suggest to let it access inner properties of objects as it leads to smaller and cleaner code, especially when working with OData services/ web services that need a part of the body also in their pa

[2020-09-07 07:46] #4034 closed

[2020-09-07 11:15] jaecktec commented on #3228
We went with compleatable futures and used the kotlinx jdk8 library to 'await' the response. However this is ofc just a workaround, having suspend directly in the interface would be great

[2020-09-07 14:00] jankolarik commented on #3778
I think the issue still remains here.

If a user uses an external client for sending requests which does not automatically encode ; to %3B or any other character for that matter, the developer cannot do much about it in Micronauts.

For example netty’s implementation to parse the query parameters provide a way to modify the behaviour of parsing of semicolons. I was thinking of having a similar fea

[2020-09-07 16:45] bskinny commented on #3577
Hi @jameskleeh Is it possible to get this fix ported to 1.3.x? We seem to be having this issue.

`java.lang.IllegalStateException: Recursive update
  at java.base/java.util.concurrent.ConcurrentHashMap.computeIfAbsent(ConcurrentHashMap.java:1739)
  at io.micronaut.core.util.clhm.ConcurrentLinkedHashMap.compute(ConcurrentLinkedHashMap.java:733)
  at io.micronaut.core.util.clhm.ConcurrentLinkedHashM

[2020-09-08 08:37] sdelamo commented on #3946
I've released a new version of [picocli](https://github.com/micronaut-projects/micronaut-picocli) module with Micronaut 2.0.1.

Related PRs in core:

- [build: bump up picocli to 4.5.1 ](https://github.com/micronaut-projects/micronaut-core/pull/4041)
- [Bump micronaut-picocli to 3.0.0](https://github.com/micronaut-projects/micronaut-core/pull/4040)

[2020-09-08 09:54] graemerocher commented on #4033
Seems there are some gaps in our record support. I submitted a PR

[2020-09-08 10:08] brunovale91 opened #4045 "Controller initialisation loop leading to CPU usage due to missing configuration value"
#4020 # Steps to Reproduce

1. Create micronaut application with a Controller and a test stream endpoint
[code]
2. Create bean with a configuration property
[code]
3. Fail to provide property in configuration

### Stracktrace
[code]
### Expected Behaviour
Http call returns a 500 error and stops trying to initialise bean.

### Actual Behaviour
Http call hangs trying to initialise bean in an infinit

[2020-09-08 10:34] graemerocher commented on #4045
Annotation `ServiceImpl` with `@Context` to ensure validation occurs at startup

[2020-09-08 10:58] brunovale91 commented on #4045
In this case I don't mind bean is lazy loaded. The issue I wanted to highlight here is the way how the exception is handled since in my case it causing high CPU usage when trying to initialise the bean in an infinite loop.

In my opinion the correct behaviour would be to call the endpoint and get an error, even if the error was a 404 since the controller was not properly initialised.

[2020-09-08 11:05] graemerocher commented on #4045
Agreed that this should be improved

[2020-09-08 11:13] graemerocher commented on #4030
Seems like you have gone a long way to diagnose the problem, would you like to send a PR?

[2020-09-08 12:59] tilmanrossmy opened #4054 "When upgrading Micronaut from 1.3.6 to 2.0.1 the @Replaces does not work anymore custom (Kotlin) DataSourceFactory"
When upgrading Micronaut from 1.3.6 to 2.0.1 the @Replaces annotation does not work anymore for a custom (Kotlin) Hikari DataSourceFactory

### Steps to Reproduce

1. Create a custom hikari DataSourceFactory
2. Annotate it with @Replaces(io.micronaut.configuration.jdbc.hikari.DatasourceFactory::class))
3. Print a message to console, when method  open fun dataSource(datasourceConfiguration: Datasou

[2020-09-08 14:00] frodeo commented on #1920
With the new predicate feature added in Micronaut 2 you can avoid retries in these cases:

[code]

This code still opens the circuit breaker though, and that is not a good thing if you write REST services.

An option could be to make the **io.micronaut.retry.intercept.CircuitBreakerRetry** class support the predicate when opening circuit breakers as well (not only for retries as it is now):

[code

[2020-09-08 14:55] ricfeatherstone opened #4048 "Problem using @Body on Groovy Declarative Client"
I'm not sure if this is a bug, or if I am missing a magic Groovy annotation on my Client but I am not able to using the `@Body`
annotation to control the json serialisation

### Steps to Reproduce

[code]

### Expected Behaviour

Both apiMethod calls should send `{"role_id":"xxx"}` as the body.

### Actual Behaviour

The BrokenClient.apiMethod call sends `xxx` as the body

`io.micronaut.http.clien

[2020-09-08 15:43] sdelamo commented on #3974
@jameskleeh what do you think if we add a parameter `encodeValue` to the annotations?

e.g. `@Get(value = "/{+path}", encodeValue=true))`. It should default to false to be a non breaking change. if you opt-in we url encoded the resolved value excluding the `/`. I think it would be useful. I have seen spanish web applications with ñ and other characters in the url and I will not be suprised if thos

[2020-09-08 15:47] goeh commented on #3974
FYI: I added some examples to my test application. Manually encoding path by sender and manually decoding path in controller. Works but a lot of boilerplate.

[2020-09-08 15:51] jameskleeh commented on #3974
@goeh We are following a spec regarding the URI template so adding a new operator would be kind of hacky. See https://tools.ietf.org/html/rfc6570. I'm surprised you have to manually decode in the controller. In my tests the controller decoded the value just fine and it was accessible in the method as you would expect.

[2020-09-08 15:56] goeh commented on #3974
@jameskleeh The reason I have to decode in controller is because the controller path variable is declared as {+path} to support /foo/bar/... but if I force the caller to encode the path I could remove the '+' and Micronaut will decode ok.

[2020-09-08 16:01] sdelamo commented on #4048
In a declarative HTTP Client method parameter `@Body('role_id')` will not generate a `{"role_id":"xxx"}` json payload.

Java doc of the `value` of `@Body`

You could create a POJO for the body:

[code]

Your client :

[code]

Because your client is consuming a media type other than `application/json`, I annotated the method with  `@ Consumes(MediaType.TEXT_PLAIN)`

Your Controller

[code]

Your co

[2020-09-08 16:01] #4048 closed

[2020-09-08 16:26] ricfeatherstone commented on #4048
Ignore the media type, it was just enough of a code sample to explain what was occurring.

Thanks for the explanation but the behaviour is slightly unexpected given how it works on the Controller side.

I am using a pojo to get the required outcome but if in the future I simply want to have a parameter mapped to a json field that does not follow Java naming standards without having to wrap a singl

[2020-09-08 16:48] l0co opened #4051 "Failed build using kapt in openjdk:14-alpine"
In `2.0.1`. There's some weird problem I cannot debug. When I build app using `./gradlew clean build -x test` from my computer (Linux x64) it works OK. But when I try to do this from within `openjdk:14-alpine` docker it fails with:

[code]

And here is the detailed stacktrace:

[code]

Looking at `TypeElementVisitorProcessor` code, it looks `typeElementVisitors` is `null` when `getSupportedOptions

[2020-09-08 17:07] l0co commented on #4051
BTW. Application is built properly. Even if I run this build with tests, they all pass. The only problem is non-zero code from build process because of this exception, which results in failed build in gitlab CI.

[2020-09-08 18:30] #3825 closed

[2020-09-08 18:30] jameskleeh commented on #3995
Duplicate of #3825

[2020-09-08 18:30] #3995 closed

[2020-09-08 18:31] #4033 closed

[2020-09-08 18:48] jameskleeh commented on #4051
This seems like a Kapt issue that its not calling `init()`. Would be good to see the full stacktrace

[2020-09-08 18:54] #3931 closed

[2020-09-08 18:56] jameskleeh commented on #3945
Removed it from the 2.0.x milestone because I can't reproduce locally. Ran the test continuously for several hours

[2020-09-08 19:07] jameskleeh commented on #4045
@brunovale91 I can't reproduce. Please upload an example application that reproduces the issue

[2020-09-09 07:11] ilopmar commented on #3945
Same here, I've only seen it fail on CI...

[2020-09-09 07:20] l0co commented on #4051
How to generate a better stacktrace?

It seems it's something specific to alpine, I've tried different versions and this issue is present in all of them. However, it works fine for eg. `openjdk:14.0.2`.

[2020-09-09 08:04] hrpath commented on #492
Hi !

We're using micronaut 1.3.7 and we can reproduce the double startup

[code]

[code]

[2020-09-09 08:25] hrpath commented on #1345
Hi we're using 1.3.7 and we can reproduce the bug
We got twice Suggestion Startup in the console.
Thx

[code]

[2020-09-09 08:53] brunovale91 commented on #4045
Hi,

I could reproduce the issue on an example app: https://github.com/brunovale91/micronaut-example

The loop is related with error handling in controllers. From my troubleshooting I could understand that it only happens when you handle a throwable exception and any other exception.

For example, if I setup a global not found handler then all endpoints that don't exist trigger the loop.

If I set

[2020-09-09 08:56] Sai-Bhargavi opened #4056 "cntrl + c is not doing graceful shutdown."
We have an application where we are using shutdown tasks(with some logs) in @PreDestroy and with cntl+c, we don't see any logs of shutdown logic getting printed.

We have observed the same issue with the "docker stop <container-id>" command.

Sample Application:
https://github.com/Sai-Bhargavi/SampleApp

Steps to Reproduce:
Start the application using ./gradlew run
When the application is up and r

[2020-09-09 08:58] pfyod commented on #4005
k8s also has a [startup](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#container-probes) probe now. Probably makes sense to split it out as well.

[2020-09-09 09:00] graemerocher commented on #4005
Good point, @pgressa thoughts on startup probes?

[2020-09-09 09:47] graemerocher commented on #4056
Whilst I can reproduce this with `./gradlew run` (maybe that is a hard kill?) I cannot reproduce this when doing `java -jar app.jar` and see output printed for `@PreDestroy` events.

The most likely reason is Gradle is sending a kill event which is terminating the process and not allowing shutdown hooks to run. Shutting down the context in this manner relies on the use of shutdown hooks https://ww

[2020-09-09 09:49] graemerocher commented on #4056
In addition, I cannot reproduce from Docker either. Doing the following steps:

[code]

Add  to a bean

[code]

Then:

[code]

Results in

[code]

[2020-09-09 09:56] graemerocher commented on #4051
Unlikely we can or should do anything about this if the bug is in Kapt it needs to be fixed there. Most we could do is throw a better exception. If the `init` method of the annotation processor is not called all sorts of things will not work.

[2020-09-09 12:00] l0co commented on #4030
The only fix I can think about is to use `rootBean` as a `leafBean` for all instances where it previously was `null`. PR #4058 submitted.

[2020-09-09 13:59] croudet commented on #4056
You have to run it without the daemon: `gradle run --no-daemon...`

[2020-09-09 14:18] #4030 closed

[2020-09-09 14:46] graemerocher commented on #4029
both tests fail for me

[2020-09-09 14:53] luckyswede commented on #4029
If u run them individually too? I realised that if they are run in a suite and the failing tests runs first, then the second will fail also.

[2020-09-09 14:57] graemerocher commented on #4029
Oh I see

[2020-09-09 15:45] euler1337 opened #4062 "Wrong @Error handler is triggered for exceptions"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Run the `ControllerTest.testHandlerFirst` test, it works.
2. Run the `ControllerTest.testHandlerLast` test, which fails.

### Expected Behaviour

I expect the more sp

[2020-09-09 17:25] jameskleeh commented on #3888
I don't think this is a bug. I think this is a consequence of the refactoring done to the server implementation

[2020-09-09 18:18] jameskleeh commented on #4062
@euler1337 This was already resolved and is scheduled for 2.0.2. Please try the snapshot

Duplicate of #3834

[2020-09-09 18:18] #4062 closed, assigned to nobody

[2020-09-09 18:45] okosatka opened #4066 "Invocation instrumenter does not work with ThreadFactory"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github: https://github.com/okosatka/micronaut-bug-instrumenter
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Inject ThreadFactory in your service/controller.
[code]
2. Provide an `InvocationInstrumenter`.
[code]
3. Run

[2020-09-09 19:14] jameskleeh commented on #3888
@saw303 Can you describe the use case? One issue with trying to set it beforehand is returning files. The `@Produces` is essentially ignored and the content type of the file is used.

[2020-09-09 19:17] abedurftig commented on #2660
@jameskleeh, while the required code change seems fairly simple, I have not idea how to write a test for this. Would you have any pointers?

[2020-09-09 19:21] jameskleeh commented on #2660
@abedurftig See https://github.com/micronaut-projects/micronaut-core/blob/2.0.x/inject-java/src/test/groovy/io/micronaut/visitors/CustomVisitorSpec.groovy. You would have to create a test visitor that uses that code, then inspect the result after. Note there is a CustomVisitorSpec in the inject-groovy project that would need to be done as well.

[2020-09-09 20:01] volnei commented on #3914
Sorry for delay, I will create an example app

[2020-09-09 21:56] harissecic commented on #2041
Hello again, I've managed to create really basic consumers and producers for this. However I didn't get any feedback on code nor questions at gitter so I'm asking here if someone can take a look and have feature suggestion or complaint. I have an idea to include support multi-tenant producers but I'm not sure is it useful although Micronaut has good solution for multitenancy and pulsar is by defau

[2020-09-10 03:06] dstepanov commented on #4066
Instrumenting `ThreadFactory` was a mistake in 1.3 because there are cases like pooling where threads are long-running and it makes the instrumentation to leak the context.

I recommend you use `@Named(TaskExecutors.IO) ExecutorService executorService` or you can add the instrumentation yourself just like it's done for `ExecutorService` in `ExecutorServiceInstrumenter`.

[2020-09-10 04:53] dstepanov commented on #4029
When using MDC you also need to clean it, low priority filter is executed after `ServerRequestContextFilter` which has instrumentation to propagate context and restore the previous one and is supposed to be executed first.

Hi priority on other case is executed before it and leaks the context, you can fix it by:

[code]

[2020-09-10 06:35] luckyswede commented on #4029
Thats a change in behaviour from 1.2. Also it doesn't make much sense from an application developer perspective, given tracing and slfj on the path (ie enabling `MdcInstrumenter`) I expect that all application code is instrumented.
I'm pretty sure I can get around the problem for now though by lowering the prio on my filters, thanks for the info!

[2020-09-10 06:55] dstepanov commented on #4029
Technically we can extract instrumentation into separate `HttpServerFilter` and put it somewhere in the front with `HIGHEST_PRECEDENCE`.

@luckyswede BTW why do you need to have a filter before `ServerRequestContextFilter`?

[2020-09-10 06:57] ikovalyov commented on #3334
I stopped changing mock answers in the test body and it helped.

[2020-09-10 07:02] luckyswede commented on #4029
I dont need to have a filter before `ServerRequestContextFilter`, I put my filter as hi prio because I wanted it to span as much as possible.
I assumed that framework filters (that eg sets up instrumentation) would always run before application layer filters.

[2020-09-10 07:04] graemerocher commented on #4066
@dstepanov we probably need upgrade docs to explain this. See https://github.com/micronaut-projects/micronaut-core/blob/2.0.x/src/main/docs/guide/introduction/upgrading.adoc

[2020-09-10 07:05] graemerocher commented on #2041
@harissecic nice, where is the code?

[2020-09-10 07:22] MaitreyaBuddha commented on #2041
@graemerocher It's here: https://github.com/harissecic/micronaut-pulsar

[2020-09-10 07:44] graemerocher commented on #2041
Great, will take a look

[2020-09-10 08:29] dstepanov commented on #4066
@graemerocher Added https://github.com/micronaut-projects/micronaut-core/pull/4069

[2020-09-10 08:42] harissecic commented on #2041
Thanks a lot.

[2020-09-10 09:09] #4066 closed, assigned to nobody

[2020-09-10 09:09] l0co commented on #4051
Reported here: https://youtrack.jetbrains.com/issue/KT-41788

[2020-09-10 09:53] graemerocher commented on #2041
@harissecic looks like a good start. There is clearly still quite a bit of work to do on docs and more test coverage. It may be worth setting up `micronaut-projects/micronaut-pulsar` which you can send a PR to and that will be a bit easier as you will be able to send a PR and then we can do a more extensive review of the code. Would you like me to create this repo? We are doing a similar process f

[2020-09-10 10:27] alvarosanchez commented on #3815
This seems to be a feature of Shadow 6: https://github.com/johnrengelman/shadow/releases/tag/6.0.0

As agreed with Graeme, I am closing this unless it manifests as an actual issue.

[2020-09-10 10:27] #3815 closed

[2020-09-10 10:39] graemerocher opened #4072 "micronaut-parent should import micronaut-bom and also any other supported BOMs"
The current arrangement doesn't seem to work like we think it works for Maven.

The BOM imports applied in `micronaut-bom` have no impact whatsoever and conflicting versions of things like Jackson are possible.

According to https://stackoverflow.com/a/40545876/259167 multiple inheritance is not possible for parent POMs so it looks like the only option is to repeat all of the BOM imports present i

[2020-09-10 11:14] #3816 closed

[2020-09-10 11:45] #3842 closed

[2020-09-10 12:41] harissecic commented on #2041
@graemerocher thanks for review. Would be nice to move project to your side. It may be more visible to potential contributors.
To address points one by one before move:

- Will rename when I catch time today and push to my repo until move is made to your side
- PulsarClient is an interface inside official Java library for Pulsar so I thought to avoid confusion and avoid using full class name for e

[2020-09-10 12:45] graemerocher commented on #2041
Thanks, I have created https://github.com/micronaut-projects/micronaut-pulsar as a placeholder. You can send a PR there for review once you have got to the point where you feel it is ready.

Having it without Micronaut projects will indeed encourage more contributors to get on board. We have seen that with other projects like graphql, ignite and so on

[2020-09-10 12:46] graemerocher commented on #4072
The actual issue turned about to be the oracle cloud bom pulling in an alternative version of Jackson. The ensure this doesn't happen I have modified the parent to apply external BOMs

[2020-09-10 14:38] mparlee commented on #3334
Thanks, @ikovalyov. I ended up switching from mockk to kluent mocks for the affected tests. I was already using kluent for assertions so no new library or wholesale change required.

[2020-09-10 15:12] sdelamo commented on #4048
You want `@Body("role_id") String roleId` in a client to generate a JSON payload such as `{"role_id": "XXX"}`. However, I don't think @Body has ever behaved like that. The way it behaves matches what the Javadoc says, in my opinion.
Changing that behaviour will be a breaking change which will need to wait until Micronaut 3.0

Moreover, I don't think we any other annotation which does what you desc

[2020-09-10 15:28] ricfeatherstone commented on #4048
It's not whether it ever did that, it's more why doesn't it? At the moment you are failing the principle of least surprise, `@Body` works on Classes the same but not on primitive parameters. I initially asked how to do this on the Micronaut Gitter chat and was told it should work and to file an issue if it didn't, so it's not just me who expected it to work on the Client the same as on the Server

[2020-09-10 16:05] #4045 closed

[2020-09-10 17:33] jameskleeh commented on #3979
Closing due to lack of feedback

[2020-09-10 17:33] #3979 closed

[2020-09-10 20:01] #2417 closed

[2020-09-10 21:55] thibaultmeyer commented on #3546
I can reproduce the issue with this configuration

[code]

[2020-09-10 22:00] thibaultmeyer commented on #3546
hello @jameskleeh

I reproduce the issue with this configuration

[code]

[code]

[2020-09-11 02:16] LonYui commented on #791
i get this probleam in micronaut 2
![截圖 2020-09-11 上午10 11 05](https://user-images.githubusercontent.com/9551862/92843413-4a86e100-f417-11ea-81b9-5d3d42aa65de.png)
![截圖 2020-09-11 上午10 10 58](https://user-images.githubusercontent.com/9551862/92843425-4d81d180-f417-11ea-9ff8-87bb5e2aa636.png)

use same test case as @skorikovdm
except:
param1 = test1, param2 = test2, params = {param1=test1, param2=t

[2020-09-11 11:52] alvarosanchez commented on #4005
As far as I can read in the documentation, startup probes are meant to check the same endpoint as the liveness probe. It's a matter of configuring the pod correctly.

However, it may make sense to include it in Launch's generated Kubernetes manifest.

[2020-09-12 21:36] MikiLoz92 opened #4090 "Not possible to configure read-timeout on ProxyHttpClient"
### Steps to Reproduce

1. Configure the default HTTP client properties:
[code]
2. Inject a ProxyHttpClient on a simple HttpFilter. Annotate the injection site of the client with `@Client(configuration = DefaultHttpClientConfiguration::class)`. Configure the filter to redirect the request to `localhost:8001`, for example, creating a sort of gateway.
3. Open a terminal, and create a simple TCP serv

[2020-09-13 08:24] graemerocher opened #4091 "Upgrade to Gradle 6.7"
It is fixes a critical problem with incremental compilation:

https://github.com/gradle/gradle/issues/13767

[2020-09-13 17:43] jpragma opened #4096 "Eager initialization of singletons fails"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create new "Messaging application" using micronaut.io/launch (all default settings)
2. Setup eager singleton initialization either by modifying Application.main or cr

[2020-09-13 21:34] harissecic commented on #2041
Quick update, this https://github.com/micronaut-projects/micronaut-pulsar/pull/1 one is passing now and if merged, this issue can be closed.

[2020-09-14 11:14] someshrathi02 commented on #3913
Im also facing similar issue.  which build version should I test to validate this fix ? 2.0.2.BUILD-SNAPSHOT ?

[2020-09-14 12:23] graemerocher commented on #3913
2.0.2 has been released, try that version

[2020-09-14 12:25] adrienpessu opened #4097 "Get cookies when opening WebSocket connection"
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

Using WebSocket with Micronaut `@ServerWebSocket`, when opening the connection, it could be nice to be able to get the cookie from the request.
The goal is to be able to authenticate users with

[2020-09-14 12:41] someshrathi02 commented on #3913
Thank you for your response. I will check and let you know.

[2020-09-14 12:48] asodja opened #4098 "Enhancement request: Add option to set Response Status for absent value"
By default Micronaut returns 404 on Optional.empty() or null value. But sometimes it is desired to change this behaviour, for example one would want to return 204 (No Content) in case of no value.

There is already `@Status` annotation that handles response code when body is present or when method is void. It would be nice to be able to modify also response code when body is null or Optional.empy

[2020-09-14 14:50] ilopmar opened #4100 "VersionUtils class is not compatible with GraalVM"
The method used to get the Micronaut version https://github.com/micronaut-projects/micronaut-core/blob/2.0.x/core/src/main/java/io/micronaut/core/version/VersionUtils.java#L46 doesn't work with GraalVM.

[2020-09-14 15:32] graemerocher commented on #4100
Should be replaced by a field substitution since the version is already known at compilation time

[2020-09-14 15:57] #4097 closed, assigned to nobody

[2020-09-14 15:58] adrienpessu commented on #4097
By digging into the code I have found : https://github.com/micronaut-projects/micronaut-core/blob/2.0.x/validation/src/main/java/io/micronaut/validation/websocket/WebSocketVisitor.java

[2020-09-14 17:09] jameskleeh commented on #3983
@lightoze Can you test this with 2.0.2?

[2020-09-14 20:09] lightoze commented on #2860
This seems to be solved in 2.0.2.

[2020-09-14 20:09] #2860 closed

[2020-09-14 20:57] lightoze commented on #3983
@jameskleeh The bug is still there - `/test` and `/body` return responses without a cookie, although filter method is invoked.

In the filter switchMap block, the `response.body()` itself is the `Flowable.just(MutableHttpResponse)` returned by `TestController`. I found a relevant piece of code here: https://github.com/micronaut-projects/micronaut-core/blob/e7c5f8c6a7dbc9a7636b70af9ce32bc840a6265d/

[2020-09-15 08:57] lightoze commented on #3983
A couple points I made while hacking on this issue:
- there is no reliable way to determine whether reactive publisher will produce one or multiple results at runtime, `Publishers.isSingle` fails on simple cases like `Flowable.just`
- with filters, route signature is not reliable because filters can replace the response, see `ResponseAndStreamSpec` for example

As a result, as little assumptions a

[2020-09-15 09:53] ALSowjanya commented on #4056
@graemerocher In the above application, we have not provided the micronaut.host details in the application.yaml. If we set the host as localhost. We are able to reproduce the issue. Even with the jar, we dont see that shutdown events are triggered. It is basically because https://github.com/micronaut-projects/micronaut-core/blob/2.0.x/runtime/src/main/java/io/micronaut/runtime/Micronaut.java#L109

[2020-09-15 10:00] Sai-Bhargavi commented on #4056
Hi @graemerocher can you please reopen this issue. As we have producible environment now.

[2020-09-15 10:03] graemerocher commented on #4056
sure

[2020-09-16 11:49] lgathy opened #4111 "Http status_code missing from Jaeger server span for error responses"
### Steps to Reproduce

1. Enable Jaeger tracer in your Micronaut application
2. Call an HTTP endpoint where the controller method throws an exception
3. An error response is returned

### Expected Behaviour

The server span of the request should capture the status_code of the returned HTTP response, similarly as it happens in case of a OK response. Note: this works perfectly with Brave tracer.

#

[2020-09-16 13:43] #4111 closed, assigned to nobody

[2020-09-16 14:26] ilopmar opened #4113 "Add support for JDK15"
See comments for the related PRs in the different projects

[2020-09-16 14:27] ilopmar commented on #4113
Core: https://github.com/micronaut-projects/micronaut-core/pull/4110

[2020-09-16 14:29] ilopmar commented on #4113
Starter: https://github.com/micronaut-projects/micronaut-starter/pull/464

[2020-09-16 14:31] ilopmar commented on #4113
Starter UI: https://github.com/micronaut-projects/micronaut-starter-ui/pull/11

[2020-09-16 14:32] ilopmar commented on #4113
Management: https://github.com/micronaut-projects/management/pull/19

[2020-09-16 15:00] ratcashdev commented on #3750
@vinhbt please see the comment above.

[2020-09-16 15:03] ashish-sharma09 opened #4114 "Micronaut HttpServer configuration parameters not working anymore in 2.0.1."
# Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Run the test HelloWorldController.
2. We used Intellij to run the test.

### Expected Behaviour

The test should not pass with status code 200 as the value of ```micron

[2020-09-16 19:41] diamondq commented on #3672
For those who run into this, and want to skip digging through the Eclipse bug comments, it appears to be fixable in Eclipse by unchecking the **Scrub output folders when cleaning projects** entry under **Window->Preferences->Java->Compiler->Building->Output Folder.**

[2020-09-16 20:13] myles-anderson-ox opened #4116 "HTTP client does not reject untrusted certificates unless trust store is configured"
### Steps to Reproduce

1. Create a Micronaut application with feature http-client
2. Create a controller
3. Configure the server to enable ssl and use a self signed certificate
4. Create a test that calls the controller with an http client that points to the controller's https endpoint

### Expected Behaviour

An SSLException is thrown due to an unknown certificate

### Actual Behaviour

The clie

[2020-09-17 06:55] bjor-joh opened #4120 "Traces for request not aggregated when using micronaut with kotlin coroutines"
I'm trying to setup distributed tracing for my micronaut service with GCP cloud trace. Service is written in kotlin and uses coroutines.

When I make a request to my application I can see the traces in the gcp-console. But any http call made by my application to subsequent services ends up as different traces instead of spans within one trace. If I look at the trace headers I can see that it seems

[2020-09-17 07:40] graemerocher commented on #4120
Probably fixed by https://github.com/micronaut-projects/micronaut-core/pull/3921

[2020-09-17 09:26] muravel commented on #1113
hi @pratik-brex,
I have the same case.
Have You found a solution?

[2020-09-17 19:29] engilyin opened #4125 "Run Micronaut app by Eclipse does not register my beans in the app context"
Micronaut app launched by Eclipse launcher does not have the defined beans like controllers etc.
Running the app from command line works just fine:
[code]
I have setup it as described here:
https://docs.micronaut.io/latest/guide/index.html#ideSetup

Alternatively I tried to import it as git app and than add Gradle Nature and did Gradle\Refresh Gradle Project
Also I did `./gradlew eclipse` but it b

[2020-09-17 20:28] pontello opened #4126 "SimpleHttpHeaders.add() is setting the header instead of adding"
[This line](https://github.com/micronaut-projects/micronaut-core/blob/master/http/src/main/java/io/micronaut/http/simple/SimpleHttpHeaders.java#L90) is **setting** the header instead of **adding** a new header value. The entire implementation looks wrong as well, because Http headers can accept multi values..

I have found it by chance while running unit tests in a project without `micronaut-http-

[2020-09-17 22:24] ednesic opened #4127 "Duplicated @Generated annotation at $Intercepted class after build"
### Task List

- [X] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create new micronaut kotlin project with http client
2. Create new controller(Ex: FooController)
3. Annotate controller class with `@Validated`
4. Build

### Expected

[2020-09-18 07:13] igiantpanda opened #4129 "A lot of log will be output and consumed a lot of CPU after network is disconnected on Android devices"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Start micronaut and listen the IP of WiFi, but not listen "0.0.0.0".
2. Disconect WiFi.

### Expected Behaviour

Micronaut server stopped normally.

### Actual Behavi

[2020-09-18 08:25] Sai-Bhargavi commented on #4056
@graemerocher Do we have any update on this?

[2020-09-18 09:03] ggerbaud commented on #4127
ArchUnit fails when scanning classes because this annotation appears twice

[2020-09-18 09:15] graemerocher commented on #4125
You have to run `./gradlew eclipse` first because it configures the annotation processors correctly for Eclipse. Without this it does not work

[2020-09-18 09:19] graemerocher commented on #4129
Seems to duplicate #3856

[2020-09-18 09:21] graemerocher commented on #4129
Can you report the issue to https://github.com/netty/netty/issues

[2020-09-18 10:29] graemerocher commented on #4127
Thanks for the report, PR submitted

[2020-09-18 11:13] graemerocher commented on #4125
hmm actually it seems that Eclipse's annotation processor stuff is again broken and not behaving like the Java implementation since the META-INF/services file are not being generated.

[2020-09-18 11:26] graemerocher commented on #4125
Reported https://bugs.eclipse.org/bugs/show_bug.cgi?id=567116

[2020-09-18 15:14] #4056 closed, assigned to graemerocher

[2020-09-18 15:14] #4127 closed, assigned to graemerocher

[2020-09-18 15:15] #4005 closed

[2020-09-19 01:37] igiantpanda opened #4137 "Application crashed when loading "application.yml" on Android"
When I use micronaut on Android. The application.yml can not be loaded, and the application will crash.

### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Configure the application.yml file
2. Start micronaut

### Ex

[2020-09-20 08:20] thibaultmeyer opened #4138 "Conversion service always return "Object" type"
### Steps to Reproduce

1. Create a converter (ie: `public class UserModelToDomainConverter implements TypeConverter<UserModel, User>`)
2. Inject "ConversionService"
3. Use `conversionService.convert(...)`

### Expected Behaviour

Get an `UserModel` converted to an `User` or an `UserModel` converted into an `Optional<User>`

### Actual Behaviour

Get an `Object` or an `Optional<Object>`.
![image](

[2020-09-20 15:48] #4138 closed, assigned to nobody

[2020-09-20 19:36] pgressa opened #4139 "Bug v2.1.0 : Failed to inject value for parameter [binderRegistry]"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Created project using launch:
[code]

2. Created Controller:
[code]

And my-service client:
[code]

### Expected Behaviour

The application starts up.

### Actual Beh

[2020-09-20 19:49] jpragma commented on #4096
Shouldn't **`@Parameter`** annotation in **_KafkaProducerFactory.createProducer_** and **_KafkaConsumerFactory.createConsumer_** be removed? It looks like it fixes the issue with eager initialization of these factories, and _AbstractKafkaConsumerConfiguration_ is successfully injected into them without this annotation.
If I understand correctly `@Parameter` is used in Configuration classes or in F

[2020-09-20 20:18] graemerocher commented on #4139
Looks like `HttpClientBinderRegistry` needs to be annotated with bootstrap compatible /cc @jameskleeh

[2020-09-21 13:20] Im-dex opened #4141 "Reactive retry doesn't work as expected"
### Steps to Reproduce

Run test

### Expected Behaviour

All the test successfully completes

### Actual Behaviour

The reactive test does fail. The reactive retryable method doesn't retry while blocking and async methods successfully retry.

### Environment Information

- **Operating System**: TODO
- **Micronaut Version:** 2.0.2
- **JDK Version:** TODO

### Example Application

https://github.co

[2020-09-21 13:58] dstepanov commented on #4141
Reactive retry is done by re-subscribing so the method is invoked only once.

[2020-09-21 14:02] Im-dex commented on #4141
It is quite unobvious, error-prone, and inconsistent behavior I think, isn't it?

[2020-09-21 14:55] graemerocher commented on #4141
Generally for code like you have presented in the example there is no value in using reactive programming

If you are just doing logic and returning `just` or `error` then you may as well use imperative style programming and be done with it in which case retry behaviour would work like you expect.

[2020-09-21 16:11] Im-dex commented on #4141
The code is just a minimal example. Let's take something like this:
[code]

Here I should don't forget to wrap the body into `Mono.defer` or nothing will be retried silently.
So the code becomes ugly:

[code]

But micronaut already knows how to call the method, so why the users need to do unnecessary wrapping?

[2020-09-21 17:02] graemerocher commented on #4141
Seems a bug in `dbReader` which is not allowing to be subscribed to twice?

[2020-09-21 17:32] Im-dex commented on #4141
It is not a bug according to reactive streams spec:
[code]

[2020-09-21 19:40] esocode commented on #3946
Is there a specific reason that micronaut-micrometer 3.0.0 hasn't been added to the 2.0.2/3 BOM? Services using micrometer are affected by a bug in micrometer versions before 1.5.3 and 3.0.0 includes a newer dependency.

[2020-09-22 00:58] soberich commented on #1530
@graemerocher
would these help?

[[KT-29355 - YouTrack - JetBrains] Provide access to default values for primary constructor properties](https://youtrack.jetbrains.com/issue/KT-29355)

[Kapt: Add DUMP_DEFAULT_PARAMETER_VALUES flag (KT-29355)](https://github.com/JetBrains/kotlin/commit/2044ece33564696792a7d9971208bc656b89bb06)

[2020-09-22 04:35] codekirukkan opened #4143 "io.micronaut.web.router.exceptions.UnsatisfiedBodyRouteException: Required Body [text] not specified"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-09-22 06:20] graemerocher commented on #4141
Ok, seems like this is something worth improving the documentation on. Behaviorally it is not something we can fix.

[2020-09-22 06:55] ilopmar commented on #3946
The micronaut-micrometer version included in 2.0.2/2.0.3 BOM is 2.0.0. See https://github.com/micronaut-projects/micronaut-core/blob/2.0.x/gradle.properties#L59

[2020-09-22 07:31] esocode commented on #3946
Yes, I know. My question is, why hasn't the version not been bumped to 3.0.0? From the changelog the only change in 3.0.0 was to adapt it to micronaut 2.0. Wouldn't it make sense to include it into micronaut 2.0 then?

[2020-09-22 07:44] gls-dev commented on #4096
There is a similar issue using the `@Factory` examples from the documentation and generating beans using `@EachBean`. Throwing a `DisabledBeanException` generates the following -
`Error starting Micronaut server: Bean definition [com.example.Engine] could not be loaded: Engine configuration disabled` - when `eagerInitSingletons` is set to true. The same occurs when using a `MicronautRequestHandler

[2020-09-22 07:46] ilopmar commented on #3946
@esocode That would be a breaking change in Micronaut 2.0.x. Micronaut Micrometer 3.0.0 is the default in Micronaut 2.1 https://github.com/micronaut-projects/micronaut-core/blob/2.1.x/gradle.properties#L60

[2020-09-22 08:10] ilopmar commented on #3946
@esocode Just to clarify this a little bit more. You can manually upgrade both micrometer and micronaut-micrometer version if you want and if it works for you. We can't include those dependencies by default because we don't want to take the risk of breaking user apps with the upgrade in a patch version. We are following this strategy https://github.com/micronaut-projects/micronaut-core/wiki/Module

[2020-09-22 09:40] graemerocher commented on #4096
@gls-dev examples welcome

[2020-09-22 16:47] oscarfh opened #4150 "Cannot build app when lib and app depend on two different Micronaut versions."
I am trying to create a lib that depends on Micronaut that should provide some common features to the apps inside my company.
It works perfectly when the lib and the app have the same micronaut version, but the build fails when they differ (example: lib 2.0.0 and app 2.0.1) with the following message:
[code]

clarification: both lib and app depend on micronaut-bom.

Project to reproduce: https://g

[2020-09-22 17:15] #4139 closed, assigned to jameskleeh

[2020-09-22 17:25] #4129 closed, assigned to nobody

[2020-09-22 17:51] jameskleeh commented on #4114
This is happening because you are blocking the event loop thread. The thread that schedules the checking for idle events is the same thread being blocked, thus the scheduled checks happen after the Thread.sleep has occurred. Beyond having the idle state handler run on a different thread (which doesn't seem to be an option, and I'm not sure its desirable), I don't know what could be done here. Thou

[2020-09-22 17:53] jameskleeh commented on #4100
@graemerocher What do you mean by a field substitution?

[2020-09-22 23:25] gls-dev commented on #4096
@graemerocher please see - https://github.com/gls-dev/micronaut-demo. It has been upgraded to Micronaut version 2.0.3. As mentioned in the README, the application fails to start if setting `eagerInitSingletons()` to true. `SampleRequestHandlerTest` also fails for similar reasons and overriding `newApplicationContextBuilder()` does not affect the outcome of the test.

[2020-09-23 08:25] hotzen commented on #997
@jameskleeh you *have* to bind the actual version-specific controller to the actual api-specific uri/route `/v1/products`, isn't it? so any additional version-resolver is just pointless in this case, or am i missing something?

[2020-09-23 08:29] ashish-sharma09 commented on #4114
I can try @ExecuteOn and have the controller running on IO thread and see if it helps.

[2020-09-23 08:39] graemerocher commented on #4114
That would be the correct fix

[2020-09-23 08:45] graemerocher commented on #4100
Actually I am not sure if a substitution is necessary. It could be fixed by initializing VersionUtils at build time. @ilopmar maybe have a go at that

[2020-09-23 08:47] ashish-sharma09 commented on #4114
And it does for this example. Also in our application, we have "micronaut.server.thread-selection: AUTO" configuration in place, configuring this for our integration test makes our test work as expected too. This works as expected hence closing this ticket now.

Thks @jameskleeh and @graemerocher for your inputs, much appreciated.

[2020-09-23 08:47] #4114 closed, assigned to nobody

[2020-09-23 10:36] ivangfr opened #4155 "Micrometer dependencies throwing an exception when running in a native app using Hikari/Hibernate"
Hi, I am getting an exception when running my native application with metrics.

The application is this one: https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot/tree/master/book-api/micronaut-book-api

If those two lines in `build.gradle` are commented, everything works fine
[code]

However, when I uncomment it, build the native docker image of the app and run it, I am getting the foll

[2020-09-23 13:01] jameskleeh commented on #997
@hotzen The route could be `/{version}/products` and then the method could do what it wants to do based on the version, but you could do that without this specific version support. The `@Version` annotation for that use case wouldn't make much sense you're right.

[2020-09-23 14:32] debuglevel opened #4156 "Get URL or Host from HttpResponse"
If a HTTP request was done via a declarative HttpClient, it seems there is no way to find out where this request was sent to (especially if the HttpClient got it's host from service discovery). But sometimes one has to do further things with this URL (e.g. pass it to another service).

(One could of course argue that the service should provide a `_self` attribute in the response which points to th

[2020-09-23 15:50] MikiLoz92 commented on #4090
any news on this?

[2020-09-23 15:58] graemerocher commented on #4090
Perhaps provide an example with steps to reproduce. Thanks

[2020-09-24 00:47] seratch commented on #3933
@graemerocher
This is occurring again with 2.0.3:
https://search.maven.org/artifact/io.micronaut/micronaut-bom/2.0.3/pom

[code]

[2020-09-24 00:48] seratch commented on #3933
Let me know if I should create a new ticket for this. It seems I'm unable to reopen this issue.

[2020-09-24 06:59] igiantpanda opened #4162 "Still listening on port after stopping micronaut on Android"
When I start the micronaut server with a single IP(e.g. 192.168.0.10), but not "0.0.0.0". Then after I stop the server, the program is still listening on the port. So I can not start micronaut with the same port again.

When I stop the server, `NettyHttpServer.stop()` will be called.
But I found `InetAddress.getLocalHost()` in the follow code will return the localhost(127.0.0.1) on Android, but re

[2020-09-24 07:52] graemerocher commented on #4162
Should be fixed by https://github.com/micronaut-projects/micronaut-core/commit/170758eb439670e6bb6d651d3ff1668a292a8ba6

[2020-09-24 07:52] #4162 closed, assigned to nobody

[2020-09-24 08:20] ilopmar commented on #3933
PR with the fix: https://github.com/micronaut-projects/micronaut-core/pull/4163

[2020-09-24 09:20] dave08 opened #4165 "Declarative client with CompletableFuture<Optional<T>> returns null on 404 instead of Optional.empty()"
Given:
[code]

and I get a 404, shouldn't I get an empty optional? Here it seems like it would return null... : https://github.com/micronaut-projects/micronaut-core/blob/c5699e4817c62d577c26ef30eeb088efc596f4e7/http-client-core/src/main/java/io/micronaut/http/client/interceptor/HttpClientIntroductionAdvice.java#L497

This behavior seems to contradict the documentation over here: https://docs.micro

[2020-09-24 10:49] newink commented on #3750
@graemerocher

https://github.com/newink/micronaut-ws-demo/blob/eeb5ea5623962be830841d0b732e0f905f9e2e64/src/test/kotlin/com/example/DemoTest.kt#L26 - test

https://github.com/newink/micronaut-ws-demo - repo with example

[2020-09-24 14:56] #3933 closed

[2020-09-24 16:07] myspec commented on #3979
@jameskleeh
Sorry for my feedback.
I found how to reproduce with wget.

$ mn create-app hello-world
$ cd hello-world
$ gradlew.bat run

$ wget --method POST --body-data '{test}' 'http://localhost:8080/notexist1' 'http://localhost:8080/notexist2'
--2020-09-25 00:58:03--  http://localhost:8080/notexist1
Resolving localhost (localhost)... ::1, 127.0.0.1
Connecting to localhost (localhost)|::1|:8080..

[2020-09-24 16:08] myspec commented on #3979
please, check new comment.

[2020-09-24 16:35] wetted opened #4171 "inject-java-test builds sources jar without necessary groovy source"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-09-24 19:00] jameskleeh opened #4172 "Docs for caches endpoint need moved out"
We still have documentation for the caches endpoint (listed as one of the built in endpoints provided OOTB) and have documentation for it here: https://docs.micronaut.io/latest/guide/index.html#cachesEndpoint. The docs should be moved to the micronaut-cache project

[2020-09-24 20:17] zdegner commented on #4096
I see the same thing with HTTP clients when eager singletons are enabled. If health-check is not `true` the service fails to startup. (Micronaut 2.0.2)

[code]

https://github.com/micronaut-projects/micronaut-core/blob/c5699e4817c62d577c26ef30eeb088efc596f4e7/http-client-core/src/main/java/io/micronaut/http/client/ServiceHttpClientFactory.java#L125

Seems like a similar scenario involving Disabled

[2020-09-24 23:26] tandel-pratik commented on #1113
I ended up not writing a filter for it and instead performed the check in the handler.

[2020-09-25 06:06] graemerocher commented on #1113
@pratik-brex that is the correct way to do it

[2020-09-25 06:22] graemerocher commented on #4096
Thanks for the feedback, PR submitted

[2020-09-25 06:27] #4141 closed, assigned to nobody

[2020-09-25 07:38] graemerocher commented on #4125
Submitted a PR with a temporary workaround until the bug in Eclipse is fixed

[2020-09-25 08:59] graemerocher commented on #4125
If anyone ever needs to remote debug the Eclipse compiler + Micronaut annotation processors here is a Maven build to do it https://gist.github.com/graemerocher/d3f36c1ff56d50b69a14cad3c13ae8ee

[2020-09-25 09:30] vinhbt opened #4177 "Memory leak when call ProxyHttpClient.proxy"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-09-25 09:43] graemerocher commented on #4177
Please attach an example that reproduces the issue

[2020-09-25 09:50] sdelamo opened #4179 "JsonAnyGetter does not work in a POJO response"
Given this POJO which has a getter annotated with `@JsonAnyGetter`:

[code]

For a controller such as:

[code]

I expected this test to pass:

[code]

However, it fails because the JSON payload contains only:

[code]
I expected :

[code]

## Workaround

Instantiating a new ObjectMapper and using it to render the Json string works. That it is to say, for this controller:

[code]

this test passes:

[2020-09-25 09:53] kbachl opened #4180 "fix old maven version is launch to current 3.6.3"
Hi,

go to https://micronaut.io/launch/ and have a project created with 2.0.3, java 11 and maven; Go to preview and under
.mvn/wrapper/maven-wrapper.properties you see:
distributionUrl=https://repo.maven.apache.org/maven2/org/apache/maven/apache-maven/3.5.3/apache-maven-3.5.3-bin.zip

Maven 3.5.3 is from 2018/08 and quite old; Fix this to 3.6.3, the current version;

[2020-09-25 10:07] graemerocher commented on #4090
PR submitted

[2020-09-25 10:21] vinhbt commented on #4177
[gateway-service.zip](https://github.com/micronaut-projects/micronaut-core/files/5282138/gateway-service.zip)

[2020-09-25 10:41] graemerocher commented on #4177
And what are the steps to reproduce with the attached example?

[2020-09-25 10:57] dstepanov opened #4181 "Multipart upload in server side can cause timeout or NPE"
2.0.3

I have added test-cases to simulate it, first one will cause timeout and the second one NPE because the byte buffer is destroyed.

[code]

https://github.com/dstepanov/micronaut-core/commit/145b28bba48cbd3146afa97f546d1389078bd781

[2020-09-25 11:51] vinhbt commented on #4177
Please wait, I will create a docker compose file and a sample service to reproduce this bug

[2020-09-25 12:33] graemerocher commented on #4177
that would be a great help, thanks

[2020-09-25 19:43] jameskleeh commented on #4181
@dstepanov Try removing `@Body` from the `multipartAsSingle` method. If the first one is in the client package, then it cannot be used on the server.

[2020-09-25 19:48] dstepanov commented on #4181
Both are server ones, there is a link to the reproducible test

[2020-09-25 19:53] jameskleeh commented on #4181
The first one likely needs `@ExecuteOn(TaskExecutors.IO)`. I'll debug the second

[2020-09-25 20:02] jameskleeh commented on #4181
@dstepanov This is due to `Single.fromPublisher`. We have logic in the binder for MultipartBody that releases the data after the onNext call. https://github.com/micronaut-projects/micronaut-core/blob/2.0.x/http-server-netty/src/main/java/io/micronaut/http/server/netty/multipart/MultipartBodyArgumentBinder.java#L133

The conversion to single simply caches the result and waits for onComplete to send

[2020-09-25 20:03] jameskleeh commented on #4181
The second result could be written as follows and works:

`Flowable.fromPublisher(body).map(single -> single.getBytes() == null ? "FAIL" : "OK").singleOrError();`

[2020-09-28 12:35] ikovalyov commented on #2999
@stepanv https://github.com/micronaut-projects/micronaut-core/pull/2911 might be related

[2020-09-28 15:22] shahmirn opened #4191 "Trying to build a native-image in 2.0.3 throws an error: Fatal error:java.lang.IllegalArgumentException: java.lang.IllegalArgumentException: Class com.typesafe.config.Config cannot be instantiated reflectively. It must be a non-abstract instance type."
Upgrading a project from 2.0.1 to 2.0.3 causes native image compilation to stop working. It throws the following error:

Fatal error:java.lang.IllegalArgumentException: java.lang.IllegalArgumentException: Class com.typesafe.config.Config cannot be instantiated reflectively. It must be a non-abstract instance type.
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.re

[2020-09-28 15:42] #4096 closed, assigned to nobody

[2020-09-28 15:45] #4113 closed, assigned to ilopmar

[2020-09-28 17:25] #3917 closed

[2020-09-28 17:25] #4090 closed, assigned to graemerocher

[2020-09-28 18:20] dstepanov commented on #4181
It would be nice to have some specific error message that tells you what is wrong.

[2020-09-28 18:23] jameskleeh commented on #4181
@dstepanov Agreed. We should definitely throw a more useful exception rather than letting the NPE get thrown

[2020-09-29 07:28] sdelamo opened #4197 "Java docs links to tenant resolvers in multi-tenancy gorm section are broken"
See: https://docs.micronaut.io/latest/guide/index.html#multitenancyGorm

[2020-09-29 10:42] #4197 closed, assigned to sdelamo

[2020-09-29 11:40] graemerocher commented on #4191
Bug seems to be here https://github.com/micronaut-projects/micronaut-kotlin/blob/27b987a02928ba245d68ec91dc79869d8c452d00/kotlin-runtime/src/main/kotlin/io/micronaut/context/env/hocon/nativeimage/HoconFeature.kt#L36

Probably `Config` was a class but it is not an interface so this line needs removing.

[2020-09-29 12:08] ilopmar commented on #4100
After giving this a try and test a few things, this code doesn't work either when running on the JVM.

I've put a few `println`s to see what's going on.

I've created a simple test application that has this on a controller:
[code]

### Gradle

Executing the application with `./gradlew run` works because https://github.com/micronaut-projects/micronaut-core/blob/53c39de0ffc7f2cdd9569014d9b1816ad1e31

[2020-09-29 12:10] graemerocher commented on #4100
Well you guys wanted fat jars 😉

[2020-09-29 13:22] lehotskysamuel commented on #3936
Hi, sorry for a late reply. I've been looking into this more deeply and found out my issue is not with the RxProxyHttpClient itself but with `CookieHttpSessionStrategy` combined with RxProxyHttpClient. I've pinpointed the error to the last line of `CookieHttpSessionStrategy.encodeId` method. Specifically this line:
[code]

I have thought the issue is with the proxy client because the Set-Cookie al

[2020-09-29 16:18] #4100 closed, assigned to ilopmar

[2020-09-29 23:39] SJrX opened #4207 "Support for Partially Expanding URI Templates"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-09-30 01:14] ghost opened #4208 "Creating an empty project and add new modules of Micronaut project in intellj gradle is not working"
Created an empty project and trying to add new modules of Micronaut project in IntelliJ Gradle is not working.

### Task List
-  Creating multiples micronaut project in IntelliJ

### Steps to Reproduce

1. On Intellj create an empty project
2. After creating an empty project, a module pop up window will appear, then add new modules and select Micronaut application
3. The module will be added to th

[2020-09-30 02:51] vinhbt commented on #4177
[test.zip](https://github.com/micronaut-projects/micronaut-core/files/5302861/test.zip)
I write a docker-compose file that can help you to reproduce this bug.
1. run jibDockerBuild gradle's task in 2 project user-service and gateway-service to generate docker image.
2. run docker-compose up
3. call /api/user/test multi time memory leak occur. It is the cause of error
"SLF4J: Failed toString() invo

[2020-09-30 13:34] #4172 closed, assigned to ilopmar

[2020-09-30 17:26] tomas-langer opened #4217 "BeanDefinitionReference does not have full access to metadata"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided - not relevant
- [ ] Example that reproduces the problem uploaded to Github - steps are described below
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Load metadata using the service loader
Let's assume I am interested in `Singleton` only:
[code]
2. Find all types that are

[2020-09-30 17:57] dmagOM commented on #4150
@oscarfh I'm not sure if you've managed to resolve this already yourself, but I was experiencing a similar problem in my own project and made some progress with it.

The issue is effectively that more recent Micronaut versions (>= 2.0.1) publish a Gradle `module` file alongside the rest of the Maven metadata, which defines a set of Gradle variants. When you build your library it successfully takes

[2020-09-30 18:17] graemerocher commented on #4150
@dmagOM Thanks for taking the time to answer, looks like the correct thing to do. I believe the `maven` plugin is scheduled to be removed

[2020-09-30 18:17] #4150 closed, assigned to nobody

[2020-09-30 19:17] oscarfh commented on #4150
Thanks a lot @dmagOM  ! ~I will try that!~ Works like a charm!

[2020-09-30 19:19] csh0711 opened #4218 "GraalVM/SubstrateVM's native-image build breaks after update from Micronaut 2.0.2 to 2.0.3"
My [basic Micronaut example](https://github.com/csh0711/micronaut-data-graalvm-kotlin) (using Kotlin and Micronaut Data) demonstrates how to create a native image with GraalVM.
This works fine with Micronaut 2.0.2. But after updating to Micronaut 2.0.3 I get the following GraalVM error when executing ` native-image` :

[code]

### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if p

[2020-09-30 19:27] oscarfh opened #4219 "Breaking change in configuration deserialization behavior between 2.0.1 and 2.0.2 (newer behavior contradicts the docs)"
The behavior of deserialization from application configuration to a map if different ("breaking change") in version 2.0.1 and 2.0.2.

Summary:
I have an application.yaml similar to this
[code]

In 2.01, properties would be deserialized to a Map<String,String> where the key is  `client-id`, while starting in 2.0.2, the key is `clientId`, which goes against [the documentation](https://docs.micronaut

[2020-10-01 09:48] #4218 closed, assigned to graemerocher

[2020-10-01 09:59] graemerocher commented on #4219
Please provide an example that reproduces the issue. I think this probably due to https://github.com/micronaut-projects/micronaut-core/pull/3859 but I am not sure.

I believe this would occur if Jackson was used to bind a type that then had a nested map

@dstepanov thoughts?

[2020-10-01 10:05] eugenezh opened #4223 "Provide a way for a processor to pass to Filer more than one "originatingElement" when generating bytecode"
We have two source files Test.java and BaseTest.java and class Test extends BaseTest. The additional bytecode is generated for a Test class, but the data is collected also from annotations on BaseTest's members. During code generation the processor passes only one originating element that corresponds to a Test class and gives processing environment no hints that it actually uses data from a differ

[2020-10-01 10:28] graemerocher commented on #4208
Please report to https://youtrack.jetbrains.com/issue/IDEA

[2020-10-01 10:28] #4208 closed, assigned to nobody

[2020-10-01 10:41] dstepanov commented on #4219
Yes, it's probably caused by that. Maybe `@MapFormat` can be used as a workaround.

@graemerocher I think https://github.com/micronaut-projects/micronaut-core/pull/3866 fixes it by moving the conversion to the actual bean binder otherwise an extra check needs to be added to exclude changing the keys for Map conversion.

[2020-10-01 14:14] oo00spy00oo opened #4226 "GraphQL"
### Task List

- [ ] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Expected Behaviour

Is this issue related to configuration?

### Actual Behaviour

[code]

### Environment Information

- **Operating System**: MacOSX 10.15
- **Micronaut Version**: 2.0.3
-

[2020-10-01 14:27] #4165 closed, assigned to nobody

[2020-10-01 14:29] #3792 closed

[2020-10-01 18:29] oscarfh commented on #4219
I am sorry @graemerocher , I had the github repository ready and forgot to link here.
I will edit the original ticket.

[2020-10-01 19:55] agilob opened #4228 "2.1.0 doesn't have release notes"
2.1.0 doesn't have release notes / changelog

[2020-10-01 20:06] graemerocher commented on #4228
we are working on it, the docs are failing to publish for some reason

[2020-10-01 20:09] graemerocher commented on #4228
In the meantime you can find them here https://micronaut-projects.github.io/micronaut-core/latest/guide/#whatsNew

[2020-10-01 20:14] agilob commented on #4228
Thanks, I think I'm seeing a regression on graalvm or svm.

Project that used to compile on on 2.0.1 doesn't compile on 2.0.3 `com.oracle.svm.core.util.UserError$UserException: Main entry point class 'target/original-mhip-2-0.0.1-SNAPSHOT.jar' not found.`

Wanted to see if any graal changes went it to fix it. Will investigate more in the next days.

[2020-10-01 20:14] #4228 closed, assigned to nobody

[2020-10-01 20:47] lgathy opened #4229 "Make the default ProxySelector work with HttpClient"
### Steps to Reproduce

1. Set a working HTTP proxy via standard Java system properties (see: https://docs.oracle.com/javase/8/docs/technotes/guides/net/proxies.html) using a DNS hostname (not IP address) and port.
2. Upon application startup set proxySelector to `java.net.ProxySelector.getDefault()` in `DefaultHttpClientConfiguration`.
3. Using the default `HttpClient` send an HTTP request to a p

[2020-10-01 21:15] mmanes commented on #3244
In my case, this was caused by haproxy's L4 health checks, which only connect and don't actually perform an HTTP request. Turning it off got rid of the log message, and while I didn't test it, I expect real HTTP endpoint health check would get rid of it as well.

[2020-10-02 07:32] l0co opened #4233 "ShutdownEvent published twice in @MicronautTest"
In `2.1.0`.

When `@MicronautTest` is finished `ShutdownEvent` is published twice. Here are both stacktraces:

![image](https://user-images.githubusercontent.com/1880196/94898574-13de3c80-0492-11eb-819c-1f46cb5c5edd.png)

![image](https://user-images.githubusercontent.com/1880196/94898588-1771c380-0492-11eb-9cfe-9764ad8d85ba.png)

[2020-10-02 08:49] csh0711 commented on #4218
@graemerocher Sorry to bother, just one question: means _closed_ "will be fixed with 2.1.0" or "not reproducible"?
Thanks a lot! :)

[2020-10-02 08:50] graemerocher commented on #4218
Fixed in 2.1.0

[2020-10-02 11:15] lizzyTheLizard opened #4234 "mn create-project does not create graal files in 2.1.0"
### Task List

- [x ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ x] Full description of the issue provided (see below)

### Steps to Reproduce
Try to create a new project with graal

mn create-app --features=graalvm test.example

### Expected Behaviour
According to the docu at https://docs.micronaut.io/latest/

[2020-10-02 11:17] graemerocher commented on #4234
The documentation is a little out of date it seems, these files are no longer needed. You can build a native image with:

[code]

Or on docker with:

[code]

[2020-10-02 11:24] lizzyTheLizard commented on #4234
Thanks a lot, seems to run fine! I was just confused by the doc :-) Micronaut 2.1.0 seems very cool so far, thanks a lot for the good work!

[2020-10-02 13:11] #431 closed

[2020-10-02 13:18] jameskleeh commented on #1753
Closing this issue because it seems like what is desired is to have multiple beans with the same qualifier which is not something we will likely ever support. You can inject a list with `@Parameter` in the case of prototype beans.

[2020-10-02 13:18] #1753 closed

[2020-10-02 13:21] jameskleeh commented on #1446
Closing because this will not be part of core

[2020-10-02 13:21] #1446 closed

[2020-10-02 14:08] l0co opened #4236 "Indexed property not recognized by introspector when interface is reimplemented"
In `2.1.0` but also in previous versions.

I have the following java interface:

[code]

This interface is then implemented in kotlin class:

[code]

And then I have two derived classes:

[code]

As you can see the latter one reimplements the same interface (in the real-world scenario it implementes another `MyInterface extends IEmail`, but the same bug is reproducible here).

And the problem is t

[2020-10-02 14:11] l0co commented on #4236
It's reproduced here: https://github.com/l0co/micronaut-playground/tree/micronaut-4236

[2020-10-02 14:22] graemerocher commented on #4236
have you tried declaring `@Introspected` on the child class just out of interest?

[2020-10-02 14:36] l0co commented on #4236
I've tried now (on `SubClassWithInterface`) but it doesn't help. This class is `@Introspected` properly because otherwise `BeanIntrospection.getIntrospection()` would throw an exception. Just the `email` property disappears. In my project I have a lot of different properties in super and subclasses, and only these reintroduced by reimplemented interface dissapear. The rest is recognized fine.

[2020-10-02 14:55] csh0711 commented on #4218
Just a short confirmation:  Works like a charm with 2.1.0 :-)

[2020-10-02 15:07] #2686 closed

[2020-10-02 15:14] jameskleeh commented on #2622
The bytecode for factories has changed for 2.0.0 so this is no longer an issue

[2020-10-02 15:14] #2622 closed

[2020-10-02 15:24] esocode commented on #4125
Is there anything to do to activate this fix? I have upgraded to 2.1.0 but if I try to run services or (micronaut) tests I only get error messages like the one shown in this issue. Eclipse is the latest version (2020-09).

[2020-10-02 16:53] jameskleeh commented on #2879
@esocode The only thing I can discern here is that this is a bug in JDK 8. It works as expected with JDK 11.

[2020-10-02 16:53] #2879 closed

[2020-10-02 17:34] jameskleeh commented on #3044
This was resolved with 2.1.0 via https://github.com/micronaut-projects/micronaut-core/issues/2417

[2020-10-02 17:34] #3044 closed

[2020-10-02 17:39] #3376 closed

[2020-10-02 18:32] jameskleeh commented on #4236
@l0co This is because we visit interfaces before super types here: https://github.com/micronaut-projects/micronaut-core/blob/2.1.x/inject-java/src/main/java/io/micronaut/annotation/processing/SuperclassAwareTypeVisitor.java#L100. The interface method is visited and then the superclass one is ignored because it's the same method. That results in the annotation metadata of the superclass not being p

[2020-10-03 09:30] traycho opened #4238 "Http client @Client still uses the default content type even a new one is provided."
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Run application
2. Check console logs
[code]

### Expected Behaviour
Only one content type header is present
Content-Type: application/json;type=custom-type;version=1

[2020-10-03 10:23] Ejstn commented on #3972
Iv been banging my head againts a wall for several hours, debugging, verifying everything 3 times according to documentation, questioning my sanity, only to realise mock isnt injected if its not an interface. Not something that I would expect honestly - because afaik spring @MockBean _"just works"_.

None of my service classes are interfaces, because there is no need for it, well what to do now? I

[2020-10-03 15:45] mliberato commented on #3961
Hey folks, some changes in `AutomaticFeatureUtils` have broken this patch. I've updated the example app in my github to micronaut 2.1.0 to make the problem reproducible. I'm just sending a new PR over micronaut-kotlin with this fixed.

[2020-10-03 18:58] agilob commented on #4155
I was working on adding native-image support to jhipster-micronaut and had the same issue. Compilation fails when micrometer is enabled, but another problem you might face later is, some hikari jdbc drivers dont compile correctly with native-image.

Eg. hikari with postgres compiles, but doesn't run when invoked

[code]

Can you confirm you had this or similar issue with hikari and micronaut?

[2020-10-03 19:31] ivangfr commented on #4155
Hi @agilob In my app, I am using `MySQL` and `JPA/Hibernate/Hikari` and I don't have any problem running it in JVM or Native mode. So, except for the metrics problem that I described in this issue, I don't have any database problem.

[2020-10-03 20:48] #4072 closed, assigned to nobody

[2020-10-03 20:50] graemerocher commented on #3936
Please provide an example

[2020-10-03 20:51] #3823 closed

[2020-10-04 05:04] kanibs commented on #4126
hey @pontello  can I pick this issue?

[2020-10-04 14:23] oo00spy00oo opened #4240 "Micronaut cannot authentication with Cassandra"
### Task List

- [ ] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Expected Behaviour

Cassandra with authentication should be worked :(

### Actual Behaviour

[code]

### Environment Information

- **Operating System**:  MacOSX 10.15.6
- **Micronaut Versi

[2020-10-04 18:51] esocode commented on #4125
With 2.1.0 I have a strange dependency problem in Eclipse. I have a library project that only defines entities and repositories with micronaut-data. For this purpose it has an implementation dependency to `io.micronaut.data:micronaut-data-hibernate-jpa`. For gradle builds this is sufficient, as it has been in Eclipse before. But since 2.1.0 Eclipse displays an error in varying files:

I was only a

[2020-10-05 06:20] graemerocher commented on #4125
There appear to be many problems and inconsistencies with the Eclipse compiler

[2020-10-05 06:33] esocode commented on #4125
With the compiler I normally have no problems. But the annotation processing seems to be quite buggy, to the point of being unusable. But the build problem mentioned only occurred after switching to 2.1.0, so I thought that maybe the recent apt-fix causes that.

[2020-10-05 06:40] graemerocher commented on #4125
Here is a `pom.xml` that lets you run the Eclipse compiler with a Maven build. If you are able to provide an example that uses this that reproduces the problem that could help https://gist.github.com/graemerocher/d3f36c1ff56d50b69a14cad3c13ae8ee

[2020-10-05 07:59] nhoughto opened #4242 "2.1.0: ServiceReadyHealthIndicator is never healthy when 'micronaut.application.name' isn't set"
### Steps to Reproduce

1. Run Micronaut HTTP server without a name set
2. Call /health endpoint to assert liveness/readiness health
3. It will return DOWN status forever

### Expected Behaviour

It should be UP

### Actual Behaviour

It stays down

### Environment Information

- **Operating System**: macOS
- **Micronaut Version:** 2.1.0
- **JDK Version:** JDK 14

The problem is in `NettyHttpServe

[2020-10-05 11:38] dstepanov opened #4244 "2.1.0 App doesn't start in AWS"
[code]

[2020-10-05 11:55] kanibs commented on #4126
@pontello my bad, just noticed that @ze12augusto has already created a PR for this issue. So not proceeding on this.

[2020-10-05 13:08] graemerocher commented on #4125
I cannot reproduce the problem described in 2.1.0 with latest Eclipse. Make sure you follow the instructions to setup Eclipse APT https://docs.micronaut.io/latest/guide/index.html#eclipseSetup

[2020-10-05 13:08] #4125 closed, assigned to nobody

[2020-10-05 14:00] #3718 closed

[2020-10-06 03:10] safarmer commented on #4244
This issue is coming from setting the current environment (either through the environment variable `MICRONAUT_ENVIRONMENTS` or system property `micronaut.environments`). The `BootstrapEnvironment` passes an immutable list of environments to `DefaultEnvironment` which then attempts to add to this list.

See PR #4247 for a fix.

[2020-10-06 07:52] dimio111 opened #4249 "HttpClient hangs when receiving 404 response"
I am having difficulty upgrading from micronaut 1.3.5 to 2.1.0.
We are using micronaut in an AWS lambda environment, but we also have this issue locally when running on a netty container.

We see time-outs when using the micronaut HttpClients on receiving a 404 response.
This time out is usually the same as the configured micronaut.http.services.test-client.read-timeout in the property files.

Thi

[2020-10-06 08:06] ilopmar commented on #4249
You are executing a blocking HTTP call in Netty event loop and you are blocking it.

Take a look at the [Upgrade to Micronaut 2](https://docs.micronaut.io/2.0.0/guide/index.html#upgrading) section in the docs, the [breaking changes](https://docs.micronaut.io/2.0.0/guide/index.html#breaks) and [this blog post](https://objectcomputing.com/resources/publications/sett/june-2020-micronaut-2-dont-let-ev

[2020-10-06 09:39] #4249 closed, assigned to nobody

[2020-10-06 09:53] ilopmar opened #4252 "Kotlin dependencies included in a Java/Groovy apps"
I've realized that Kotlin dependencies are now included in Java/Groovy applications in Micronaut 2.1.0. I'm not sure if this is intentional, can be avoided or is a mistake.

Creating a new 2.1.0 application and running `./gradlew assemble` leads to this in  `build/layer/libs` directory:

[code]

And they are also included in the shadow jar.

I've checked and in Micronaut 2.0.3 this is not happenin

[2020-10-06 10:05] graemerocher commented on #4252
Bizarre they are `compileOnly`, has Gradle suddenly changed to include `compileOnly` dependencies in the POM? https://github.com/micronaut-projects/micronaut-core/blob/2.1.x/http/build.gradle#L9

[2020-10-06 10:05] graemerocher commented on #4252
Bizarre they are `compileOnly`, has Gradle suddenly changed to include `compileOnly` dependencies in the POM? https://github.com/micronaut-projects/micronaut-core/blob/2.1.x/http/build.gradle#L9

[2020-10-06 10:10] ilopmar commented on #4252
Manually modifying the Gradle version to 6.5.1 in the generated app leads to the same behavior.

[2020-10-06 10:12] graemerocher commented on #4252
This seems to be a change in the Kotlin Gradle plugin which is automatically adding Kotlin dependencies to the `implementation` classpath.

The `aop` module is using Kotlin 1.3.x (which is probably a bug in itself that we are compiling with an older version of Kotlin) and doesn't have the same problem https://github.com/micronaut-projects/micronaut-core/blob/2.1.x/aop/build.gradle#L2

[2020-10-06 10:15] graemerocher commented on #4252
See https://github.com/JetBrains/kotlin/commit/d83d3304a5b7468c83c22b3d4871116bd11a6eb8#diff-ab42bd0581d4bfbd4e8f7b0cbdf36a2e

[2020-10-06 10:16] graemerocher commented on #4252
And https://youtrack.jetbrains.com/issue/KT-36822

[2020-10-06 11:06] Im-dex opened #4255 "NonUniqueBeanException for java.util.concurrent.ThreadFactory after update to 2.1.0"
Hi! My application doesn't start after updating to 2.1.0, cause of the error:

[code]

### Steps to Reproduce

Try to inject `@Named(TaskExecutors.SCHEDULED) ExecutorService` into `@Context` scope bean.

### Expected Behaviour

Injection succeeded

### Actual Behaviour

Injection failed

### Environment Information

- **Operating System**: TODO
- **Micronaut Version:** 2.1.0
- **JDK Version:** 11

[2020-10-06 11:17] #4229 closed, assigned to nobody

[2020-10-06 11:45] lightoze commented on #1753
@jameskleeh yes, this was essentially about having multiple beans with the same `@Named` qualifier.

[2020-10-06 13:02] dstepanov commented on #4255
Probably `DefaultThreadFactory` needs to be `@BootstrapContextCompatible` 🤔

[2020-10-06 14:45] ghost opened #4258 "Required argument [ProductSearchCriteria searchCriteria] not specified micronaut 2.1.0"
### Expected Behaviour

Should bind with the pojo class

### Actual Behaviour

Required argument [ProductSearchCriteria searchCriteria] not specified

### Environment Information

- **Operating System**: Mac os Catalina
- **Micronaut Version:** 2.1.0
- **JDK Version:** 15

### Code

[code]

[code]
Curl

`curl -X GET "http://localhost:8083/api/v1/product?name=string&price=0&description=string" -H

[2020-10-06 15:14] ilopmar commented on #4258
This will work if you define your mapping like the following:

[code]

Sending `curl "http://localhost:8080/api/v1/product?name=some-name&price=10&description=myDescription" -H "accept: application/json"`

This is the output of the println:
[code]

BTW, using `Optional` in the POJO is probably not the best approach. I think is better to use the types and annotate them with `@Nullable`.

[2020-10-06 16:35] #4242 closed, assigned to graemerocher

[2020-10-06 16:40] jameskleeh commented on #4244
@safarmer Do you have an example app that reproduces the issue? The bootstrap environment uses `Arrays.asList` as the return for `getEnvironments`, which should be mutable. https://github.com/micronaut-projects/micronaut-core/blob/2.1.x/inject/src/main/java/io/micronaut/context/DefaultApplicationContext.java#L532

Edit: n/m. I saw in the source it creates an `ArrayList`, but that is `java.utils.Ar

[2020-10-06 17:03] arudge opened #4260 "camelCase http service/client name doesn't apply config read-timeout"
### Steps to Reproduce

1. Create a mn http service with a camel case name, like 'camelCaseV1' and attempt to set the `read-timeout` value for this service.
2. Make an http request that would exceed the timeout

### Expected Behaviour

A `ReadTimeout` exception should be thrown

### Actual Behaviour

The default netty timeout of 10 seconds is still used.

### Environment Information

- **Operating

[2020-10-06 17:42] luckyswede opened #4261 "URI_TEMPLATE not set for pre-flight requests"
Hi!
`OPTIONS`-requests do not get `URI_TEMPLATE` set which results in an ever growing list of `uri` tags for `http.server.request` metrics and may cause OOM in the end for routes with dynamic path segments.
The reason is that `URI_TEMPLATE` is set in `RoutingInBoundHandler` which runs after the `CorsFilter`.

Micronaut 2.0.3

[2020-10-06 18:06] luckyswede commented on #4261
My workaround for now is a micrometer `MeterFilter` that removes metrics with `method=="OPTIONS"`

[2020-10-06 18:44] graemerocher commented on #4261
Do you have an example that reproduces the issue?

[2020-10-06 20:03] willemsst opened #4263 "SAM method generated from @Adapter annotation with multiple arguments can have getTypeArguments() in wrong order"
I've been fighting this morning with the use of the `@Adapter` annotation and using a `Qualifiers.byTypeArguments(..)` to lookup my generated _Single Abstract Method_ **(SAM)** classes.

For some weird reason, the order of types in the generated types, is not the same as the one in my interface that is referenced by the @Adapter annotation.

I've been trying to find the magic of the AOP code gener

[2020-10-06 20:11] willemsst commented on #4263
I found the issue and resolved it as I commented in the original question: https://github.com/micronaut-projects/micronaut-core/discussions/4254#discussioncomment-91618

the problem is that
https://github.com/micronaut-projects/micronaut-core/blob/1c2f8783cb00da30890330aaf8fd267a1cf208b4/inject-java/src/main/java/io/micronaut/annotation/processing/BeanDefinitionInjectProcessor.java#L1474
should ac

[2020-10-06 21:11] safarmer commented on #4244
@jameskleeh I thought I was mistaken with my fix as well, but taking that line out and running the updated tests (that use `Arrays.asList` as well) and they didn't pass.

[2020-10-07 01:28] #4258 closed, assigned to nobody

[2020-10-07 05:31] safarmer commented on #4244
Also, it looks like another workaround is to remove `bootstrap.yaml`. From my understanding, having a bootstrap config causes Micronaut to recreate the environment and it is the second time around that the crash happens.

[2020-10-07 06:32] #4244 closed, assigned to nobody

[2020-10-07 07:58] luckyswede commented on #4261
Here u go:
https://github.com/luckyswede/micronaut-options-metrics

[2020-10-07 09:30] graemerocher commented on #4260
Service IDs have to be in kebab case pretty much universally in Micronaut, this probably needs clarification in the documentation.

[2020-10-07 10:36] graemerocher commented on #4155
PR submitted to the module https://github.com/micronaut-projects/micronaut-micrometer/pull/158

[2020-10-07 10:38] #4255 closed, assigned to nobody

[2020-10-07 10:42] #4263 closed, assigned to nobody

[2020-10-07 10:43] #4252 closed, assigned to graemerocher

[2020-10-07 14:53] brianwyka commented on #3244
@mmanes, this makes sense, considering its happening on an interval / periodic basis. @graemerocher, @jameskleeh is there any way to suppress this type of error or handle it more gracefully?

[2020-10-07 14:55] jameskleeh commented on #3244
@brianwyka Probably, however an example app that reproduces the issue would be needed to determine this best fix

[2020-10-07 15:09] #4155 closed, assigned to nobody

[2020-10-07 16:01] #2530 closed

[2020-10-07 16:10] brianwyka commented on #3244
@mmanes, does a simple hello world app produce the issue with a CONNECT only health check?  Is it TCP?

[2020-10-07 18:20] LukasPrediger opened #4268 "mn 2.1.0 fail with NPE when no project name is supplied"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-10-07 18:58] #4126 closed, assigned to nobody

[2020-10-07 19:46] mmanes commented on #3244
@brianwyka I tried on two different basic micronaut applications, so it seems so. It should be easily reproducible by adding haproxy in front of the application while having `check inter 10s` on the backend server configuration. haproxy simply establishes a TCP connection then immediately sends an RST.

Modifying haproxy to use HTTP health checks with something like: `option httpchk GET /health HT

[2020-10-07 21:03] jameskleeh commented on #4261
@luckyswede The URI_TEMPLATE is set before the filter, however the issue is that no route matches the OPTIONS request, therefore the uri template is not set because there is no route to get it from.

[2020-10-08 03:37] sdelamo opened #4270 "Document missing X-Forwarded-Host behavior"
In AWS ElasticBeanstalk for a class load balancer I get these headers:

[code]

`http://mydomain.com` is resolved. I expected `https://mydomain.com` to be resolved.

This replacement fixes the issues:

[code]

[2020-10-08 05:23] vanga opened #4271 "Request body is being dropped when using POJO request binding"
Request body is being dropped when content type header is not being sent in an HTTP request, and we use POJO request binding in controllers to convert incoming json to a POJO

### Task List

- [x] Steps to reproduce provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Run the micronaut application

[2020-10-08 06:22] graemerocher commented on #4271
You're sending an invalid content type header, not surprising it doesn't work

[2020-10-08 06:52] vanga commented on #4271
I am sorry, as mentioned in the description, it is a trick of curl to tell
it to not send default header. Otherwise it assumes a default of url
encoded content type.

This can be reproduced from postman or even programmatically. Curl example
is only given for ease of reproducibility

On Thu, Oct 8, 2020, 11:52 AM Graeme Rocher <notifications@github.com>
wrote:

[2020-10-08 12:06] gjong opened #4274 "Controller method with empty Flowable response sends incorrect body"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-10-08 16:38] mutyasaisrikar opened #4276 "BeanInstantiationException: HTTP Client Health Check not enabled during application start up"
We are using micronaut and integrating with AWS SQS. We are getting the below error during start-up of lambda everytime during start up

Bean definition [io.micronaut.context.event.ApplicationEventListener] could not be loaded: HTTP Client Health Check not enabled: io.micronaut.context.exceptions.BeanInstantiationException
io.micronaut.context.exceptions.BeanInstantiationException: Bean definition

[2020-10-08 16:50] ilopmar commented on #4276
@mutyasaisrikar can you please check if you have the dependency on the HTTP Client? `implementation("io.micronaut:micronaut-http-client")`

By default it's not included with AWs features.

If you have it, then can you please share a sample project?

[2020-10-08 17:08] graemerocher commented on #4276
Please try upgrade to 2.1.0. I believe this is https://github.com/micronaut-projects/micronaut-core/issues/4096 which is already fixed

[2020-10-08 23:24] jeffscottbrown opened #4277 "Problem With Incremental Compiler"
### Steps to Reproduce

1. Create new 2.1.0 app using `mn create-app demoapp` or Launch
2. `mn create-controller Demo`
3. Create any new java class below `src/main/java/`
4. Run `./gradlew classes`
5. Inspect `build/classes/java/main/META-INF/services/io.micronaut.inject.BeanDefinitionReference`, the `DemoController` bean definition will be there
6. Edit the java class created in step 3, any chang

[2020-10-08 23:30] jeffscottbrown commented on #4277
The terminalizer session at [jeffscreencasts.s3.amazonaws.com/incrementalcompilationissue.gif](http://jeffscreencasts.s3.amazonaws.com/incrementalcompilationissue.gif) demonstrates what I am seeing.

[2020-10-08 23:42] jeffscottbrown commented on #4277
I did not do extensive testing around this, but it appears that the problem may not manifest if I use Gradle 6.6.  The bug report involves using the generated Gradle wrapper, which is Gradle `6.7-rc-3`.

[2020-10-09 11:14] ivangfr opened #4280 "Native image has a very slow shutdown"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Clone https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot
2. Build `micronaut-simple-api` native image and run as explained at https://github.com/ivangfr/

[2020-10-09 11:55] graemerocher commented on #4280
I think this is probably because the shutdown hooks are not installed

[2020-10-09 12:39] graemerocher commented on #4277
A PR has been submitted to fix this in Gradle 6.7 https://github.com/gradle/gradle/pull/14813

Thanks @melix !

[2020-10-09 13:11] ivangfr opened #4282 "Issue with Management endpoints when running native image in version 2.1.0"
Hi, I've updated my `simple-api` application from version `2.0.3` to `2.1.0`. Here are the changes: https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot/compare/update-micronaut-version

When running its **native image** and trying to access the "management" endpoints like `heatlh`, `env`, `beans` and `metrics`, I am getting (with version `2.1.0`) different responses compared to version

[2020-10-09 14:50] #4223 closed, assigned to graemerocher

[2020-10-09 14:53] #4260 closed, assigned to nobody

[2020-10-10 10:55] ilopmar opened #4284 "Document function dependency injection"
I've created a Micronaut function:

[code]

Without modifying anything it is possible to deploy the current code on AWS Lambda and call the function. Package with `./gradlew shadowJar`, create the AWS Lambda function and set the handler to `demo.BookRequestHandler`:

![issue-03](https://user-images.githubusercontent.com/559192/95653204-3954f100-0af7-11eb-881e-48d7b8f298ee.png)

![issue-04](https:/

[2020-10-10 15:06] ilopmar commented on #4284
If I inject a Micronaut HTTP Client it works.

See https://github.com/micronaut-graal-tests/micronaut-function-aws-graal/blob/7e3c8ecd7a734f827d8c8d185ec8f790d3ae7fd2/src/main/java/example/micronaut/JokeRequestHandler.java#L11 and the test https://github.com/micronaut-graal-tests/micronaut-function-aws-graal/blob/7e3c8ecd7a734f827d8c8d185ec8f790d3ae7fd2/src/test/java/example/micronaut/JokeRequestH

[2020-10-10 21:53] ilopmar opened #4287 ""Unconvertible input: null" when calling AWS GraalVM from test console"
When deploying an AWS function as a GraalVM native image, there is an error when invoking the function directly from the AWS console.

### Steps to Reproduce

- `git clone https://github.com/micronaut-core-issues-test-app/mn-aws-function-graalvm`
- `cd mn-aws-function-graalvm`
- `sdk use java 20.2.0.r11-grl`
- `./build-native-image.sh`
- This will generate the file `build/function.zip` ready to be

[2020-10-11 06:44] ilopmar commented on #4287
It doesn't work because it expects an API Gateway json and not a plain one.

Sending the rigth event makes it work.

[code]

[2020-10-11 06:44] #4287 closed, assigned to nobody

[2020-10-11 10:08] ivangfr opened #4288 "Unable to build the native image of an "out-of-the-box project" with Maven as building tool"
Hi, previously, I was always creating Micronaut apps with Gradle as building tool. Today, I created an app with Maven and I am having issues building the native image.

### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

[2020-10-11 16:39] graemerocher commented on #4288
Select `jib` disables shadow jar, that is probably why

[2020-10-11 17:35] rp199 commented on #4284
Is there any specific reason to add the singleton annotation to the BookRequestHandler class? I implemented something very similar to your example and manage to get it to work but I don't use that annotation on the handler class, just on the service one. The rest is basically the same.

Tested on my project to add the annotation like yours and got the same error. Can you test to remove it?

Manage

[2020-10-11 17:46] myspec opened #4289 "HttpClient Cookie issue"
### Steps to Reproduce
Java code.
            MutableHttpRequest<Map<String, String>> mainRequest = HttpRequest.POST("https://xxx.xxx.com/Login", dataMap);
            Flowable<HttpResponse<String>> req = httpClient.exchange(mainRequest, String.class);
            HttpResponse<String> body = req.blockingFirst();
            List<String> setcookie = body.getHeaders().getAll("Set-Cookie");

[2020-10-11 19:18] harissecic opened #4290 "Access violation 2.1.0 with kotlin coroutines rx2 and testcontainers"
### Steps to Reproduce

1. Use Micronaut 2.1.0 launcher or generate via console or manually build start app
2. Use Kotlin as language
3. Use kotlin coroutines module rx2
4. Use Spock and testcontainers

### Expected Behaviour

If application can run so should tests.

### Actual Behaviour

Application runs but test fail prior to compile. Fails with access violation due to JDK EXCEPTION_ACCESS_VIOLA

[2020-10-11 21:15] harissecic commented on #4290
It appears that RxHttpClient.create causes EXCEPTION_ACCESS_VIOLATION (0xc0000005). Start of the heap dump goes:
[code]

[2020-10-11 21:31] ivangfr commented on #4288
Exactly @graemerocher ! By removing `jib`, I can build the native image of an "out-of-the-box" project with Maven as building tool. I was thinking about using `jib` to build the jvm image and the traditional `docker build` to build the native one.

[2020-10-11 21:42] harissecic commented on #4290
Found that Azure blob storage which is com.azure:azure-storage-blob uses some form of it's own modifications to netty. Once removed it works! Sorry about the "spam" but it's because of this library

[2020-10-11 21:42] #4290 closed, assigned to nobody

[2020-10-12 13:24] jameskleeh commented on #4284
The handler class is not supposed to be annotated with `@Singleton`

[2020-10-12 13:40] jameskleeh commented on #4284
That info I think applies to all functions. I'm not sure the best place to document it

[2020-10-12 13:48] jameskleeh commented on #4270
@sdelamo I think that is not necessary. You can achieve the behavior you want with:

[code]

[2020-10-12 13:54] tigershark83 opened #4294 "Resource not found kotest"
base on the document, kotest is valid value for test option, however
https://micronaut-projects.github.io/micronaut-starter/latest/guide/#installation

[code]

if I use `kotlintest` for -t option, the cli can create app, but it still has `junit5` in the build.gradle
[code]

[2020-10-12 14:14] mutyasaisrikar opened #4295 "Bean definition [io.micronaut.discovery.eureka.EurekaConfiguration] could not be loaded: Failed to inject value for parameter [embeddedServer] of class: io.micronaut.discovery.eureka.EurekaConfiguration$EurekaRegistrationConfiguration"
After the suggestion given at #4276, I have upgraded the version of Micronaut to 2.1.0 which has fixed the issue. But now I am facing another issue.

`Bean definition [io.micronaut.discovery.eureka.EurekaConfiguration] could not be loaded: Failed to inject value for parameter [embeddedServer] of class: io.micronaut.discovery.eureka.EurekaConfiguration$EurekaRegistrationConfiguration

Message: No b

[2020-10-12 14:15] mutyasaisrikar commented on #4295
We are using this application as a consumer to AWS SQS queue and we don't have any Eureka configuration

[2020-10-12 15:07] #4270 closed, assigned to jameskleeh

[2020-10-12 16:07] jameskleeh commented on #4238
You need to use `@Produces("application/json;type=custom-type;version=1.0;charset=utf-8")` instead of setting a content type header directly.

[2020-10-12 17:33] jameskleeh commented on #4289
Thanks for the detailed report

[2020-10-12 18:02] #4276 closed, assigned to nobody

[2020-10-12 18:15] jameskleeh commented on #4271
And it does. The route accepts a content type of application/json. That doesn't imply that requests without a content type will assume the data is JSON. I don't think we should make that assumption

[2020-10-12 18:16] #4271 closed, assigned to nobody

[2020-10-12 19:23] #4236 closed, assigned to jameskleeh

[2020-10-12 19:24] graemerocher commented on #4295
Are you using `micronaut-discovery-client`?

[2020-10-12 21:31] ttzn opened #4298 "UnsupportedOperationException when using bootstrap config with MICRONAUT_ENVIRONMENTS"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Generate a simple Micronaut app (`mn create-app example.test`)
2. Add a `bootstrap.yml` file to classpath
3. Run `example.Application` with non-empty `MICRONAUT_ENVIR

[2020-10-13 02:16] ronhitchens opened #4299 "Any love for micronaut-azure?"
Apologies for spamming the core issues list, but I opened a Micronaut Azure Bug Report ([micronaut-azure Issue 83](https://github.com/micronaut-projects/micronaut-azure/issues/83))  nearly two weeks ago and it doesn't look like it's been noticed by anyone yet.  If someone could take a look at this we would appreciate it very much.  This is becoming a very urgent problem for us and holding up our A

[2020-10-13 03:07] vanga commented on #4271
@jameskleeh I am sorry, I don't quite understand what is the intention of explicitly documenting `A Micronaut’s controller action consumes application/json by default.` if one has to send a content type mandatorily? If none is sent, micronaut is probably already making an assumption that it is `text/html`? in which case, wouldn't `application/json` be more sane default?

And the error message bein

[2020-10-13 05:19] jameskleeh commented on #4271
No - in this case the raw bytes are stored in the request and the body is attempted to be converted from those bytes using the conversion service. In this case no converter is found, thus the body argument cannot be bound. I'm not sure we can even really improve the error message here. The only thing we could say at this point is that "No converter found capable of converting CompositeByteBuf to H

[2020-10-13 05:20] #4299 closed, assigned to nobody

[2020-10-13 05:23] jameskleeh commented on #4299
@ronhitchens A Github issue isn't the appropriate place to ask this question, as I'm sure you're aware. You can ask this on [Gitter](https://gitter.im/micronautfw). You can message me there if you're interested in Micronaut support from OCI.

[2020-10-13 05:28] jameskleeh commented on #4298
Duplicate of https://github.com/micronaut-projects/micronaut-core/issues/4244

[2020-10-13 05:28] #4298 closed, assigned to nobody

[2020-10-13 06:12] #4289 closed, assigned to jameskleeh

[2020-10-13 06:28] graemerocher opened #4300 "@ExecuteOn is ignored when using Micronaut Token Validator"
This issue is track an associated issue in Micronaut Security https://github.com/micronaut-projects/micronaut-security/issues/313 and make sure it is fixed for 2.1.1

[2020-10-13 06:31] #4277 closed, assigned to graemerocher

[2020-10-13 06:58] ilopmar commented on #4284
I annotated the handler with `@Service` because the test was failing and I though that was the way to fix it. I've tried it now without `@Service` and everything works as expected. I don't know what changed and what I did wrong.

@jameskleeh I think we can close this for now.

[2020-10-13 07:15] graemerocher commented on #4271
It does seem to me that if a request is missing the content type header and the route requires it to bind the body then it should fail earlier with an error messaging saying the content type header is missing. Not sure why it is even attempting to bind the body if it is not able to.

[2020-10-13 08:17] ilopmar commented on #4284
I take that back. I've tried again with a new fresh 2.1 function and it fails when deploying to AWS Lambda:

[code]

[2020-10-13 08:20] vanga commented on #4271
I would like to know if there there is a way to to get around this and set the default content type?
Unfortunately,  we didn't enforce this in our API and we were internally converting the json; now we started using POJO binding since micronaut provides a nice way for us to not bother about deserialiaztion. I am just wondering if there is an alternative that doesn't require changes from client sid

[2020-10-13 08:49] ilopmar opened #4302 "Upgrade to Netty 4.1.53"
https://netty.io/news/2020/10/13/4-1-53-Final.html

[2020-10-13 11:08] mutyasaisrikar commented on #4295
Yes @graemerocher. `micronaut-discovery-client 2.0.1` is coming as transitive dependency from `micronaut-aws-parameter-store 2.1.0` -- > `micronaut-aws-route53 2.1.0`

[2020-10-13 11:08] graemerocher commented on #4282
PR submitted for this, your other problem is because you need `micronaut-graal` to generate the static resource configuration:

[code]

If you build with GraalVM SDK this is added automatically, if you don't you need to add it manually

[2020-10-13 11:09] graemerocher commented on #4295
And are you using aws parameter store within your serverless application?

[2020-10-13 11:15] mutyasaisrikar commented on #4295
Yes @graemerocher. We are using to retrieve some configuration

[2020-10-13 11:15] dstepanov opened #4306 "Bean validation should fail if @Valid field is not introspected"
2.1.0

If you are using `@Valid` on the body parameter there is a runtime error if the field type is not `@Introspected` (BTW: It would be great have compile-time error but I guess that wouldn't be correct for Hibernate validator)
That is not the case if you have a nested field with a type without introspection, the field is not validated and you are wondering was is wrong.

[2020-10-13 11:21] dstepanov opened #4307 "Micronaut Bean validation should support annotations on generic type argument(s)"
2.1.0

According to BV spec 2.0 `@Valid` can be put on the generic type argument and it's preferred way:

[code]

https://beanvalidation.org/2.0/spec/#constraintdeclarationvalidationprocess-requirements-graphvalidation-examples

That doesn't work in the current version 2.1.0, validation is not applied to the collection.

[2020-10-13 11:47] graemerocher commented on #2905
In the end I don't think this is fixable since you are essentially blocking the registration of any additional beans whilst the bean is bean is being constructed by using `blockingGet` in the constructor.

Our recommendation is to instead lazily initialization the value you need on first access rather than do it within the constructor that will likely cause deadlocks.

[2020-10-13 11:47] #2905 closed

[2020-10-13 12:28] john-pan9 opened #4308 "@MapFormat(keyFormat = RAW) not working when used with @ConfigurationProperties"
### Steps to Reproduce

1. Simple configuration class (uses lombok)
[code]
2. Corresponding config in `application.yml`
[code]

### Expected Behaviour
When accessing `MyConfig#getAnimals()`, the map should contain keys: `VERY_FAST` and `VERY_SLOW`

### Actual Behaviour
`MyConfig#getAnimals()` actually contains keys: `very-fast` and `very-slow`

### Environment Information

- **Operating System**:

[2020-10-13 12:57] #4300 closed, assigned to nobody

[2020-10-13 12:59] #4238 closed, assigned to jameskleeh

[2020-10-13 13:01] jameskleeh commented on #4306
@dstepanov Are you going to be submitting a PR? If not, can you upload an example app?

[2020-10-13 13:04] jameskleeh commented on #3228
@bjuretic @jaecktec @markjfisher This should work in Micronaut 2.1

[2020-10-13 13:08] dstepanov commented on #4306
I haven't looked into it. The example is a simple case of:

[code]

[2020-10-13 13:57] graemerocher commented on #4307
Yes we need to implement the core feature to make this work which is general support for annotations on type arguments

[2020-10-13 14:03] jameskleeh commented on #4271
@graemerocher The route doesn't require it. If the body type was `byte[]` for example then I believe it would work

[2020-10-13 14:04] jameskleeh commented on #4271
@vanga You may be able to achieve this with a Netty handler by adding the content type header. See https://docs.micronaut.io/latest/guide/index.html#nettyPipeline

[2020-10-13 14:13] #3228 closed

[2020-10-13 14:34] jameskleeh commented on #4308
This is due to Lombok. The annotation will be placed on the field and in the case of a getter/setter, annotations are read on the setter argument. I modified your code to use `@Setter(onParam_={@MapFormat(keyFormat = RAW)})`, however it appears that the bytecode for that change isn't visible in the Micronaut annotation processor.

The following works as you expect:

[code]

[2020-10-13 14:36] #4302 closed, assigned to ilopmar

[2020-10-13 14:40] #4137 closed, assigned to nobody

[2020-10-13 14:42] jameskleeh commented on #4120
@bjor-joh Can you test with Micronaut 2.1?

[2020-10-13 14:50] drmaas opened #4310 "Metric tags explosion when using low-level http client"
When enabling metrics and using the low-level http client, the `http.client.requests` metric contains a unique tag for each unique url called. There is currently not a nice way to tell the low level client use use a `UriTemplate`.

I was able to work around this doing this: https://github.com/drmaas/micronaut-metics-client-template/blob/main/src/main/java/com/example/TestClient.java#L23

As a more

[2020-10-13 15:08] graemerocher commented on #4308
Seems like we should be merging the annotation metadata from the field

[2020-10-13 15:14] #3750 closed

[2020-10-13 15:15] #4282 closed, assigned to nobody

[2020-10-13 20:52] lgathy opened #4313 "Regression in tracing error response with Jaeger"
Due to changes in #4112 the span of a failed server request is not tracked correctly, since a new span is initiated for the error handler.

### Steps to Reproduce

1. Create a Micronaut application providing an HTTP endpoint with a long-running operation that fails with an exception after a while.
2. Enable Jaeger tracing and reporting configured.
3. Call the endpoint.
4. Inspect the reported span

[2020-10-14 03:46] charlie-harvey commented on #4284
Same problem here. And I just tried with 2.1.1 since I saw that it was released. The problem seems to be injection, not sure why though.

### FAILS!!
[code]

### WORKS!!
[code]

No need to package it up in a shadow jar and upload to AWS, it fails locally when I run JUnit.

[code]

[2020-10-14 07:03] vanga commented on #4271
Thanks @jameskleeh, I will check that out.

[2020-10-14 08:41] mutyasaisrikar commented on #4295
@graemerocher, any help on this please?

[2020-10-14 08:42] graemerocher commented on #4295
@mutyasaisrikar would help if you could provide an example that reproduces the issue. Thanks.

[2020-10-14 09:08] dstepanov commented on #4307
I thought that it is supported because `AbstractBeanProperty` has `typeArguments` 🤔

[2020-10-14 11:30] victorcastanogutierrez opened #4315 "Health readiness and liveness endpoints responding with 200 OK even when status is DOWN"
From [this PR](https://github.com/micronaut-projects/micronaut-core/pull/4012) included on the 2.1.0 release, now the `/health` endpoint includes `/health/liveness` and `/health/readiness` endpoints. But integrating them, both liveness and readiness are responding with `200 OK` no matter the status, as opposed to the health one which returns `200 OK`, `503 SERVICE UNAVAILABLE`.

### Task List

- [

[2020-10-14 12:41] ivangfr commented on #4155
Hi @graemerocher @ilopmar !

With the new version `2.1.1`, I checked again the issue described above, and it seems that it's still present.

I am using the same app, `micronaut-book-api` (https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot/tree/master/book-api/micronaut-book-api).

The changes I did, in `build.gradle`
- 1st change
  from
[code]

  to
[code]

- 2nd change
  from
[code]

[2020-10-14 12:42] l0co commented on #3742
@graemerocher Unfortunately, they moved the ticket to the backlog without solving it. It currently means that kotlin+linux is generally a bad idea, especially if you use any annotation processing libs. And what is really sad for me it now means that Micronaut+kotlin+linux is generally a bad idea...

Maybe you could push them a bit to debug it?

[2020-10-14 13:19] jameskleeh commented on #4284
@charlie-harvey That makes sense. The handler itself is not a bean. It is simply injected from the context. The context is started as part of the handler being constructed, thus it's impossible to inject the constructor.

[2020-10-14 13:37] charlie-harvey commented on #4284
So if I do the following it will work?

[code]

What I struggle with so far is putting that into a context when running a unit test.
Thanks!

[2020-10-14 13:40] jameskleeh commented on #4284
@charlie-harvey Yes. You can just `new BuildStatusRequestHandler()` in your test and call the method

[2020-10-14 13:51] graemerocher opened #4316 "HttpHostResolver should allow EmbeddedServer to be nullable"
Currently `DefaultHttpHostResolver` requires the presence of an EmbeddedServer, which may not be the case in a serverless context.

This is causing the Micronaut Security OAuth RouteBuilder to fail in a serverless context with:

[code]

And is causing https://github.com/micronaut-projects/micronaut-azure/issues/83

[2020-10-14 13:53] graemerocher commented on #4284
It should be `@Inject lateinit var s3Client: S3Client`

[2020-10-14 14:39] mutyasaisrikar commented on #4295
@graemerocher.. I am trying to prepare a sample project, but I have a doubt. Do I need micronaut-discovery-client for an SQS consumer?

[2020-10-14 14:40] graemerocher commented on #4295
I doubt it

[2020-10-14 15:02] jameskleeh commented on #4316
Currently `HttpHostResolver` asserts that a non null string will be returned. If the embedded server is not present and the host cannot be determined through other means, we would either have to hardcode a default return value or change the method semantics to allow for nulls.

[2020-10-14 15:11] mutyasaisrikar commented on #4295
It seems it is coming from micronaut-aws-route53

![image](https://user-images.githubusercontent.com/37845402/96008840-df766300-0e37-11eb-83e8-8c17c9330a7b.png)

[2020-10-14 15:33] l0co opened #4317 "Add meaningful toString() for DefaultConstraintViolation"
When constraint violation is thrown using Micronaut validation here is what's visible in the logs:

[code]

It would be useful to give more meaningful output here than `DefaultConstraintViolation@a553f8e`, for example what's the root bean, property path and invalid value.

[2020-10-14 15:37] graemerocher commented on #4316
It should probably just fallback to `localhost`, the current impl is broken for all serverless impls

[2020-10-14 18:09] myspec opened #4318 "Http 302 redirect and cookies"
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

//TestConfiguration has "this.setFollowRedirects(false);"
@Inject
@Client(value = "test-client", configuration = TestConfiguration.class)
RxHttpClient httpClient;

@Inje

[2020-10-15 02:07] ronhitchens opened #4320 "Apparent resource leak in applicationContext.getBeansOfType"
### Description

It appears that fetching a list of beans by type, by invoking `applicationContext.getBeansOfType` on the injected `ApplicationContext` object is leaking sockets or (more likely) file descriptors.  This not a particular problem in normal operation, but adding a `Singleton` bean to my app that calls the function `getBeansOfType` in its constructor starts failing when run 100s of tim

[2020-10-15 10:56] bjor-joh commented on #4120
Still getting a new trace whenever I start a new Coroutine. Bumped versions in sample project.

[2020-10-15 11:39] aalmiray opened #4323 "Annotation processor definitions in micronaut-parent and children"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Define a parent pom with an `<annotationProcessor>` in the `maven-compiler-plugin`'s configuration.
2. Define a child pom with a different `<annotationProcessor>` in

[2020-10-15 11:41] aalmiray commented on #4323
The fix is to add an attribute `combine.children="append"` in the child's `<annotationProcessor>` block. The linked example contains the fix commented out. Once applied the effective pom contains the following configuration for the compiler plugin

      <plugin>
        <artifactId>maven-compiler-plugin</artifactId>
        <version>3.8.1</version>
        <executions>
          <execution>

[2020-10-15 12:33] alvarosanchez commented on #4323
Nice trick! We might make use of `combine.children` in few other places.

[2020-10-15 13:30] jameskleeh commented on #4320
@ronhitchens We would need a sample application with steps to reproduce. Can you verify if you see this issue in Micronaut 2.1.1?

[2020-10-15 13:32] jameskleeh commented on #4318
Please upload an example application with steps to reproduce

[2020-10-15 14:02] graemerocher opened #4325 "Add a BOM that includes only Micronaut dependencies"
The current BOM includes Micronaut dependencies and also modules / third party libraries

[2020-10-15 15:32] #4325 closed, assigned to nobody

[2020-10-15 16:20] myspec commented on #4318
[test.zip](https://github.com/micronaut-projects/micronaut-core/files/5386359/test.zip)
please test with
GET http://localhost:8080/login/test1
GET http://localhost:8080/login/test2

[2020-10-15 23:48] achaphiv commented on #1566
Confirmed fixed with (finally released) `lombok` v1.18.16.

[2020-10-16 07:26] #4316 closed, assigned to jameskleeh

[2020-10-16 07:27] #4313 closed, assigned to nobody

[2020-10-16 11:55] andreasreinhardt opened #4332 "IllegalCharsetNameException: "utf-8""
When an endpoint is called with the header `Content-Type: text/xml;charset="utf-8"`, an IllegalCharsetNameException is thrown.
Stacktrace:
[code]

I'm pretty sure that the content type is not well-formed, but I have several clients that add the header in this form.

### Steps to Reproduce

1. Start the Hello World Java example
2. Execute `curl http://localhost:8080/hello/test --header 'Content-Typ

[2020-10-16 13:59] ilopmar commented on #4284
I've been testing this again and I think it's because of the new Micronaut Gradle plugin.

I've created a new 2.1.1 micronaut-function and it fails again with the same error. Using the same `build.gradle` (with the plugin) and downgrading to 2.0.3 also fails.
Modifying the `build.gradle` file to a one generated with 2.0.3 (I've included as `old-build.gradle` make it work again with 2.1.1 and 2.0.3

[2020-10-16 14:03] jameskleeh commented on #4284
@ilopmar I don't want to conflate this issue which is for documenting dependency injection in functions with whatever issue you're having. Can you create a new issue?

[2020-10-16 14:13] sdelamo commented on #4284
@ilopmar I think the issue is you need to specify

[code]

https://github.com/micronaut-core-issues-test-app/mn-aws-function-error/pull/1

DI will work once you deploy with that change.

[2020-10-16 14:19] ilopmar commented on #4284
@jameskleeh I was in the middle of writing the new issue but Sergio provided the fix. I'll send a PR to starter to include that configuration back.

[2020-10-16 14:20] sdelamo commented on #4284
@ilopmar I've reopened the issue: https://github.com/micronaut-projects/micronaut-starter/issues/503

[2020-10-16 14:23] jameskleeh commented on #4284
@graemerocher I thought I remember you saying that configuration was applied as part of the plugin?

[2020-10-16 14:25] graemerocher commented on #4284
@jameskleeh it is, but as part of the `application` plugin not the `library` plugin, it seems maybe it needs applying to both.

[2020-10-16 19:46] msgilligan opened #4334 "micronaut-core still has transitive dependency on findbugs:jsr305 (com.google.code.findbugs:jsr305:3.0.2)"
As of Micronaut 2.1, there is still a transitive dependency on `findbugs:jsr305`

[code]

The transitive dependency results in Java Module System split-package issues:

[code]

 I work around this with the Java Modularity Gradle Modules Plugin as follows:

[code]

Note that the [documentation](https://github.com/micronaut-projects/micronaut-core/blob/760c8117e7bd1f3a38b2060241ed5025dd7f24b1/src/ma

[2020-10-17 14:34] ghost opened #4335 "javax.lang.model.element.UnknownElementException: Unknown element: “repository”"
Record dependency injection using the java 15 preview feature with micronaut using java 15 jdk causing the error

[code]

Build.gradle

[code]

Exception

[code]

![image](https://user-images.githubusercontent.com/1625641/96339697-11125700-10e2-11eb-8485-b06984e743f7.png)

[2020-10-17 18:33] myspec opened #4336 "Support HTTP 1.1 Pipelining"
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce
Make a POST request to make 404 (or 403)  twice, (second request has issue)

1) excute micronaut server application
$ mn create-app hello-world
$ cd hello-world
$ gradlew

[2020-10-19 00:48] emilvberglind commented on #3042
I ran into the same issue, and it is related to the included version of grpc-netty-shaded. What I wound up doing, at least for now, was to exclude that transitive artifact and instead use grpc-okhttp. So, my pom.xml looks like this:

[code]

[2020-10-19 06:38] alejandropg opened #4338 "Problem with @Filter and ThreadLocal variables in version 2.1.1"
Hi,

I noticed that with versión 2.1.1 when, inside a request filter, you set something to a ThreadLocal variable, after in your application code you can not find it.

Prior, in versión 2.1.0, I can see that the `@Filter` is ran twice, the first in the NIO (Netty) event loop, and de second in the IO (application) thread. (I use configuration `micronaut.server.thread-selection: AUTO`).

But with ve

[2020-10-19 12:05] dave08 opened #4342 "Intermittent `DependencyInjectionException`s in unit tests"
When running unit tests I get intermittent `io.micronaut.context.exceptions.DependencyInjectionException: Failed to inject value for field [...` errors, when I use `./gradlew clean` and run the tests again, it works. I'm currently using Gradle 6.7 release.

### Environment Information

- **Operating System**: Linux Mint
- **Micronaut Version:** 2.1.1
- **JDK Version:** 1.8

[2020-10-19 12:38] graemerocher commented on #4342
Please provide an example that reproduces the problem

[2020-10-19 12:51] dave08 commented on #4342
I'm not really sure what the cause is, I'm using `@MicronautTest` with MicronautData with a few entites and a repository (using test containers postgres as db). I add some data to the db, and then fetch it in the test. But the `@Inject lateinit var repo: SomeRepo` dependency in the test class seems to not be found intermittently. I first thought it happens when I make changes to the entity, but it

[2020-10-19 12:59] graemerocher commented on #4342
Could be related to https://github.com/micronaut-projects/micronaut-core/issues/3742

KAPT is buggy

[2020-10-19 13:25] dave08 commented on #4342
Doesn't sound like the problem... I tried setting incremental to false:
[code]
It still has troubles injecting a repository located in the test module, but only until I clean the gradle build. Maybe incremental needs to be disabled somewhere else too? I'm using the Micronaut gradle pluging 1.0.3

[2020-10-19 13:39] graemerocher commented on #4342
We'll need an example that reproduces the issue

[2020-10-19 14:20] graemerocher commented on #4334
It is not longer a direct dependency no but it seems spotbugs still depends on the jsr305 meta annotations and until that is solved I am not sure we can do anything about this. This is the same as Spring, Checker etc. and every other library that uses these meta annotations

[2020-10-20 06:19] graemerocher commented on #4338
In general thread local shouldn't be used within a filter or anywhere in Micronaut for that matter as thread locals and reactive need to be managed explicitly via instrumentation for reactive.

If you need to store something do so in the request and use `ServerRequestContext` to obtain the current context which is propagated via instrumentation and provides more guarantees

[2020-10-20 06:45] alejandropg commented on #4338
Ok, I understand.

But one more question, if there is no intent to execute the filter over the IO thread, why the filter is executed twice over different threads (in version 2.1.0 NIO and IO, and in version 2.1.1 two different threads of NIO)?

Thanks!

[2020-10-20 09:31] vanga commented on #4271
Hi @jameskleeh I have just looked at the link you shared.. however, I couldn't identify how I can set a default header. I am not sure which constant from `ChannelPipelineCustomizer` will give me that option to set.

I probably will have to go back to not using POJO request binding (I hate to go back :) )

[2020-10-20 09:35] graemerocher commented on #4338
If it is not a once per request filter it may be executed twice for error handlers and other cases

[2020-10-20 09:50] 22dasi1bwi opened #4350 "Mutating an instance of NettyMutableHttpRequest throws UnsupportedOperationException"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-10-20 10:27] alejandropg commented on #4338
Yes, is an once per request filter, at least it's declared like:

[code]

[2020-10-20 12:32] jankolarik opened #4352 "Information from MDC is not propagated to logs"
### Issue
As the title hints, the information from the MDC is not properly propagated to the logs as is shown by the test in my reproducer which can be found at the end of this report.

### Steps to Reproduce
Please see the example application that is provided at the end of this bug report and which server as a reproducer. Specifically, run the `testPrincipalInLogs()` test.

### Expected Behaviour

[2020-10-20 12:56] dstepanov commented on #4352
Netty's access log is invoked before Micronaut filters if you add `LoggerFactory.getLogger("mylog").info("Hello World");` you can see your principal.

[2020-10-20 13:07] jeffscottbrown opened #4353 "file-watch documentation is out of date"
The docs at https://github.com/micronaut-projects/micronaut-core/blob/d9da0d9a6cfea94514674d416b9b4886967237aa/src/main/docs/guide/cli/reloading/automaticRestart.adoc discuss the `file-watch` feature which I think has been removed.

[2020-10-20 13:18] jeffscottbrown commented on #4306
Should that be the requirement or should the requirement be that validation should work even if the class is not marked introspected?

[2020-10-20 13:26] dstepanov commented on #4306
An exception is thrown if `@Body` object class is not introspected it should also fail if nested objects aren't introspected and you requested them to be validated by `@Valid` annotation.

[2020-10-20 14:32] jameskleeh commented on #4332
That is the case, the charset parameter value should not be in quotes. The clients should conform to the HTTP standards. I don't think we should be adding in custom logic to handle malformed header values

[2020-10-20 14:53] dave08 commented on #4342
It's a very hard one to pinpoint, I'll see if I can eventually get to some kind of pattern. If you have a general direction of where to look it might be easier though... I tried looking at the stubs generated by kapt last time it happened, and the class that seems to be missing to ApplicationContext is there... maybe it's the way `@MicronautTest` tries to load dependencies? The last time it happen

[2020-10-20 14:58] dstepanov commented on #4306
@wetted Are you working on it?

[2020-10-20 15:12] wetted commented on #4306
@dstepanov among other things, yes, so that non-introspected nested objects will fail the `@Valid` validation.

[2020-10-20 15:25] andreasreinhardt commented on #4332
I totally agree with you, but there are a lot of devices out there that set the header in this way, e.g. every UPnP device I have checked so far. But a quick win would be to add the thrown exception to the already existing try-block in io.micronaut.http.util.HttpUtil.resolveCharset()
What do you think?

[2020-10-20 15:32] jameskleeh commented on #4332
@andreasreinhardt You're proposing to catch the exception and return empty as if it was not present? We would still have to log it in that case. If so that is OK with me

[2020-10-20 18:05] jameskleeh commented on #4338
@alejandropg If you can provide an example application with steps to reproduce a once pre request filter being executed multiple times for the same request please do so

[2020-10-20 18:08] jameskleeh commented on #4336
@myspec Are both requests sent immediately? Ie using HTTP 1.1 pipelining?

[2020-10-21 07:21] andreasreinhardt commented on #4332
Yes, this solution would be totally sufficient for me.

[2020-10-21 08:37] quandor commented on #4350
Thanks for the fast fix. I had a short look at the solution and I think I found a problem if you mutate several times while changing the URI. At https://github.com/quandor/micronaut-core/commit/8b28a448393a5206b3f1da71d6bb218f36b78f6c you will find a new test regarding that problem plus a possible solution.

[2020-10-21 08:51] maheshloya-aegon commented on #3651
Where do we set thread selection to AUTO?

[2020-10-21 09:12] graemerocher commented on #3651
See https://docs.micronaut.io/latest/guide/configurationreference.html#io.micronaut.http.server.HttpServerConfiguration

[2020-10-21 09:13] graemerocher commented on #4350
@jameskleeh I think @quandor's suggestion is the correct fix

[2020-10-21 09:15] graemerocher commented on #4350
actually no I think maybe it needs to create the instance once 🤔

[2020-10-21 09:15] jankolarik commented on #4352
I am not sure that is the case, we specify the order of the filter with:
`    @Override
    public int getOrder() {
        return ServerFilterPhase.SECURITY.order() + 1;
    }`
so that the `MdcPopulatingFilter.java` runs after `AuthenticationProviderUserPassword.java`, where we get the principal.

Even with adding you suggestion in, the test will still fail with the same stack trace.

The issue i

[2020-10-21 09:28] dstepanov commented on #4352
@jankolarik Netty's access log is executed before the filter chain when your filter is triggered access is already logged.

[2020-10-21 09:34] jankolarik commented on #4352
So is there a feature/way of executing the filter chain before Netty's Access Log?

[2020-10-21 09:39] graemerocher commented on #4352
Not currently no

[2020-10-21 09:39] #4352 closed, assigned to nobody

[2020-10-21 09:42] jankolarik commented on #4352
Is this something that might be considered in a later version?

[2020-10-21 10:03] graemerocher commented on #4352
You could maybe write your own handler that adds this to the netty channel and then propagates

[2020-10-21 11:05] alejandropg commented on #4338
ok @jameskleeh I checked again and the "double execution" issue was MY FAULT!  It was an issue with the client I was using that really was doing two different request.

I'm sorry for the noise of the "double execution", but anyway my doubt about the thread change isn't explained.

However I think that this issue is clearly resolved with the previos explanation of @graemerocher

where is clear that

[2020-10-21 11:05] #4338 closed, assigned to nobody

[2020-10-21 11:05] quandor commented on #4350
Creating a `NettyMutableHttpRequest` happens the first time in `io.micronaut.http.server.netty.NettyHttpRequest#mutate` or did I missunderstand you?

[2020-10-21 11:47] jameskleeh commented on #4350
The javadoc of the mutate method says it creates a new request. There is no
reason to call the method more than once. You can check and cast for
mutablehttprequest

On Wed, Oct 21, 2020 at 7:06 AM Jochen Just <notifications@github.com>
wrote:

[2020-10-21 12:09] #4350 closed, assigned to jameskleeh

[2020-10-21 12:33] myspec commented on #4336
@jameskleeh I found some evidence..
$  wget --no-http-keep-alive --method POST --body-data '{test}' 'http://localhost:8080/notexist1' 'http://localhost:8080/notexist2'
works fine with --no-http-keep-alive option.

thank you

1. cases, not reproduced
  1) wget with seperated command
    $ wget --method POST --body-data '{test}' 'http://localhost:8080/notexist1'
    $ wget --method POST --body-data

[2020-10-21 12:49] sdelamo opened #4359 "Add supports for easy HTTP Header Link population"
See: [rfc5988](https://tools.ietf.org/html/rfc5988)

To generate a value `<https://api.github.com/user/repos?page=3&per_page=100>; rel="next",
  <https://api.github.com/user/repos?page=50&per_page=100>; rel="last"` for the `Link` HTTP Hader

we could do:

[code]

[2020-10-21 13:07] quandor commented on #4350
I agree, my proposed solution definitely does not return a new request. I did
not check the Javadoc, my bad.

We currently have the check and cast you proposed in place.

But the current solution forces everyone, who gets a HttpRequest passed and wants
to mutate it, to check it is already a MutableHttpRequest. I think
[Mutable]HttpRequest would be way easier to use if one could invoke mutate() as

[2020-10-21 13:07] graemerocher commented on #4359
There is already something like this implemented in io.micronaut.http.hateoas.Link

[2020-10-21 13:53] jankolarik commented on #4352
Ok, thank you!

[2020-10-21 15:45] dave08 opened #4360 "Using suspend fun in HttpClient sends the continuation info in the json payload"
Given a client:
[code]
wiremock logs report something like:
[code]
I was expecting only:
`{"newState":"sent"}` to be in the body.

### Environment Information

- **Operating System**: linux mint
- **Micronaut Version:** 2.1.1
- **JDK Version:** 1.8

[2020-10-21 15:53] graemerocher commented on #4360
Try adding `@Body` to `newState`

[2020-10-21 15:58] dave08 commented on #4360
Without @Body it sends it in json like above, with @Body it just sends the value of the status `"sent"`, I need the key "newState" (there could be multiple settings to set on the same endpoint)

[2020-10-21 16:44] MikiLoz92 opened #4362 "ConfigurationProperties does not resolve from environment variable(s) in some cases"
I have encountered a really particular case in which I'm unable to resolve a ConfigurationProperty out of an environment variable.

I have the following interface created:
[code]

Then I inject this configuration in another class:
[code]
This works OK, however if I change the `storeDocument` method's contents to this:
[code]
micronaut throws the following error at runtime, when accessing that meth

[2020-10-21 18:29] ozymandias13 opened #4363 "CircuitBreaker annotation doesn't appear threadsafe"
Using the `@CircuitBreaker` annotation appears to break when multiple threads are operating against the same annotated method and calls succeed that occur after the call that threw an exception (opened the circuit). In essence, if several threads are operating concurrently on an annotated method and the first one throws an exception, but the remaining ones succeed, circuit breaking behavior appear

[2020-10-22 07:34] alvarosanchez commented on #4362
Can you [enable the `/env` endpoint](https://docs.micronaut.io/latest/guide/index.html#environmentEndpoint) and check it to see what configuration properties are resolved?

[2020-10-22 08:02] MikiLoz92 commented on #4362
Sure, I'll try to do that today. Thanks for the tip.

[2020-10-22 12:49] MikiLoz92 commented on #4362
I'm not able to start up the Micronaut HTTP server. It says everytime:
[code]
I'm running the fatjar created by shadowJar and I've tried every possible fix related to that error that I've found online.

It may be because I'm using Vert.x to provide an HTTP server...? I've disabled to Vert.x HTTP server itself, but I cannot make Micronaut start its own server whatsoever...

[2020-10-22 12:51] MikiLoz92 commented on #4362
Saying this because AFAIK Vert.x also uses Netty for its HTTP server implementation...

[2020-10-22 13:32] graemerocher commented on #4362
Sounds like you have a pretty complex setup with lots of issues not related to Micronaut itself but more to your project. I suggest to progress this forward you provide an example that reproduces the issue.

[2020-10-22 14:02] alvarosanchez commented on #4362
@MikiLoz92 you are likely missing Micronaut HTTP server dependencies. Compare your build with a fresh one generated from https://launch.micronaut.io and try to see what are you missing

[2020-10-22 14:50] MikiLoz92 commented on #4362
I have managed to procure a reproducer for this issue. It only seems to happen when I put Vert.x as a dependency and use its timer.

https://github.com/MikiLoz92/micronaut-configurationpropertiesbug-reproducer

To reproduce, run the main function and wait 5 seconds for the timer to trigger. You should see an error. If you uncomment the same property on the application.yml file, the error is gone.

[2020-10-22 14:51] MikiLoz92 commented on #4362
@alvarosanchez I did have the Micronaut HTTP server dependencies on my project, but I guess that's a separate issue...

[2020-10-22 15:02] graemerocher commented on #4362
You are using `ApplicationContext.run()` instead of `Micronaut.run()`, the former only starts the context no the server

[2020-10-22 15:02] #4362 closed

[2020-10-22 15:10] MikiLoz92 opened #4369 "ConfigurationProperties do not resolve from ENV variables even when Micronaut server is active"
Link to my previous issue:

https://github.com/micronaut-projects/micronaut-core/issues/4362

If I'm allowed to reply here, **the same is happening with `Micronaut.run()`**, could you take another look at it @graemerocher ??

Also, could you direct me to the place in the documentation that states that ConfigurationProperties are only usable from environment variables **if and only when** the Micro

[2020-10-22 15:39] graemerocher commented on #4369
Until there is actual bug established please keep to the discussion

[2020-10-22 15:39] #4369 closed, assigned to nobody

[2020-10-22 17:39] wetted opened #4370 "Revise/alter NettyHttpServerConfiguration to remove ambiguous feature"
Section [6.27.1 of the Micronaut docs](https://docs.micronaut.io/latest/guide/index.html#threadPools) describes using HttpServerConfiguration$Worker to configure thread pools (among other things). For example:

[code]

However, this doesn't work as described. There is a bug such that the worker configuration only works if one specifies an event loop group that doesn't exist. For example:

[code]

[2020-10-23 10:52] graemerocher opened #4372 "Qualifiers.byTypeArgumentsClosest(..) not working as designed"
In Micronaut Servlet we do this:

[code]

Using `HttpResponse` as the second argument. In the case of `AuthorizationException` this results in a query `<AuthorizationException, HttpResponse>`

However this does not match `DefaultAuthorizationExceptionHandler` which defines `ExceptionHandler<AuthorizationException, MutableHttpResponse<?>>`

Since `HttpResponse` a super interface of `MutableHttpResp

[2020-10-23 13:18] jameskleeh commented on #4372
In order to find that handler we would have to search the classpath for subclasses of the type. We currently only search for super classes.

[2020-10-23 13:21] jameskleeh commented on #4336
@myspec I can only assume its using pipelining, which we don't currently support

[2020-10-23 13:23] jameskleeh opened #4373 "Multipart: Binding to multiple attributes with the same name"
Currently binding to a `Publisher<CompletedPart>` only works in the context of `MultipartBody`. It should work to bind to multiple parts with the same name as well

[2020-10-23 15:25] jameskleeh commented on #4372
I think the authorization handler should probably just be changed to use HttpRequest

[2020-10-23 15:26] jameskleeh commented on #4372
Note that for Netty we use Object so this works just fine in that context https://github.com/micronaut-projects/micronaut-core/blob/2.1.x/http-server-netty/src/main/java/io/micronaut/http/server/netty/RoutingInBoundHandler.java#L353

[2020-10-23 16:16] graemerocher commented on #4372
Either way we need to fix either Security / or Servlet because right not security is broken with Serverless

[2020-10-23 17:26] jameskleeh commented on #4363
@ozymandias13 Thanks for the excellent issue report and the sample app! This will be fixed for the next release

[2020-10-23 18:18] tandel-pratik opened #4377 "Allow starting up management endpoints on a separate port without starting the HTTP server"
Today when you start a management endpoint, you can specify a port for it using `endpoints.all.port` config property.  It's not possible to start a management server on a separate port and disable the main HTTP server. This is useful for cases where we don't need a general purpose HTTP server and only need a gRPC server with HTTP management endpoints on a separate port.

### Task List

- [ ] Steps

[2020-10-23 19:53] ozymandias13 commented on #4363
That's awesome, glad to hear it!

[2020-10-23 20:58] #4360 closed, assigned to jameskleeh

[2020-10-23 20:58] #4373 closed, assigned to jameskleeh

[2020-10-25 08:46] #4363 closed, assigned to jameskleeh

[2020-10-25 10:08] morki opened #4379 "Calling introspected methods / constructors with default arguments in Kotlin"
Hi, I just found little bit annoying to workaround missing support for kotlin default parameters in binding query parameters.

Instead of using this:

[code]

I have to define auxiliary getters like:

[code]

It gets very complicated with many arguments and little bit unreadable.

I have read that default arguments are not available for reflection, because they can be arbitrary expressions.
But I

[2020-10-26 09:05] ilopmar opened #4383 "Distributed tracing instrumentation doesn't work with @ExecuteOn IO"
The distributed tracing instrumentation doesn't work the same when executing call on Netty's event loop and on the IO thread pool.

### Steps to Reproduce

- `git clone https://github.com/ilopmar/jconf-peru-2020-micronaut-en-accion`
- `cd jconf-peru-2020-micronaut-en-accion`
- Start Consul: `docker run -it --rm -p 8500:8500 consul:latest`
- Start Zipkin: `docker run -it --rm -p 9411:9411 openzipki

[2020-10-26 14:55] l0co opened #4385 "Inherited annotations doesn't work"
In `2.1.2` (works in `2.1.1`).

I have the following annotations:

[code]

In `2.1.1` all classes annotated with `@SafeClient` and `@GraphQLService` worked properly as `@Client` and `@GraphQLService`. In `2.1.2` this feature doesn't work and these beans dissapeared.

[2020-10-26 15:00] graemerocher commented on #4385
hmm not aware of anything that has changed in this area

[2020-10-26 15:07] graemerocher commented on #4385
Can't reproduce this in a simple application, please provide an application that reproduces the problem.

[2020-10-26 15:20] l0co opened #4387 "Problem with introspected generic property"
In `2.1.2` (works ok in `2.1.1`).

I have the following entities:

[code]

Because `BankTransfer` is an entity class it's introspected, however in `2.1.2` it throws the following exception from the validator:

[code]

Here is the content of `$BankTransfer$Introspection$$13` for both cases:

[code]

Looking at `writeInternal()`, version from `2.1.2` looks better, because indeed in this class the `f

[2020-10-26 16:27] l0co commented on #4385
Did you use kapt or java?

[2020-10-26 16:46] graemerocher commented on #4385
java but it should be the same, let me try with Kotlin.. stand by

[2020-10-26 16:51] graemerocher commented on #4385
Yup works fine for me, see the attached example.

[fresh-kotlin.zip](https://github.com/micronaut-projects/micronaut-core/files/5440187/fresh-kotlin.zip)

[2020-10-26 17:21] Michal-Danihelka opened #4389 "Naming strategy UnderScoreSeparatedLowerCase does not work with two Upper characters after each other"
### Task List

- [x] Steps to reproduce provided
- [] Stacktrace (if present) provided
- [] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Call io.micronaut.core.naming.NameUtils.separateCamelCase("DataCJpa", false, '_')

### Expected Behaviour

should return 'Data_C_Jpa'

### Actual Behaviour

returns 'Da

[2020-10-26 18:34] jameskleeh commented on #4389
That method is private. Under what public method are you calling it?

[2020-10-26 18:49] Michal-Danihelka commented on #4389
I copied method body to separate class to test it - it is possible to test it independently

[2020-10-26 18:51] jameskleeh commented on #4389
@Michal-Danihelka You would have to describe the issue as it pertains to one of the public methods in the class. We shouldn't change the method without a just cause that pertains to its designed use cases.

[2020-10-26 19:00] Michal-Danihelka commented on #4389
1. The main problem is that i have this class:
import io.micronaut.core.annotation.Introspected;
import io.micronaut.data.annotation.Id;
import io.micronaut.data.annotation.MappedEntity;
import lombok.Data;

import java.util.Date;

//@MappedEntity(value="mpsv_c_NamingStrategywebova_sluzba", escape = false)
@MappedEntity(escape = false)
@Introspected
@Data
public class MpsvCWebovaSluzba {

    @Id

[2020-10-26 19:23] RyanHoldren opened #4390 "Responses Swapped with HTTP/2"
We are experiencing a very strange and elusive issue with HTTP/2. It may be that this is a bug in Netty and not Micronaut but after hours of debugging I am no closer to figure out what is going on.

### Steps to Reproduce

I've put together [an example project](https://github.com/RyanHoldren/micronaut-response-problem) that demonstrates the issue.

1. Run the example project.
2. Go to `https://loc