[2018-08-20 07:01] jlafourc commented on #503
Hello,

Tested it against my project this morning. Works like a charm !

Th

Julien

[2018-08-20 08:47] chantrybjss opened #510 "Micronaut Controller not handling Type Erasure with Jackson"
Example

https://github.com/chantrybjss/testing/tree/master/starter/src/main/java/starter

### Steps to Reproduce

Run the above example.

It seems that the Micronaut controller is unable to deal with type erasure with Jackson.

I am using a polymorphic deserialization on my Exercise object which works through metadata introduced in annotations. If I return an instance of Exercise, Micronaut will

[2018-08-20 08:56] sascha-frinken opened #511 "GORM CLI app fails with `No GORM implementations configured`"
A CLI app with feature `hibernate-gorm` fails with `java.lang.IllegalStateException: No GORM implementations configured. Ensure GORM has been initialized correctly` when run.
Same configuration as non CLI app works.

### Steps to Reproduce

1. create cli app with `mn create-cli-app --lang groovy --features hibernate-gorm test-cli`
2. create a domain class annotated with `Entity`
3. annotate the ru

[2018-08-20 10:09] ilopmar commented on #497
The issue is because of line 31 in the `test` script used to run the cli app. The default jvm options are defined like:
[code]
And that makes the command line executed from bash not valid. As a workaround until next release define the variable as:
[code]

[2018-08-20 13:56] jeffbrown commented on #511
Sample project is available at https://github.com/jeffbrown/issue511.

[2018-08-20 16:04] #497 closed

[2018-08-20 16:11] #506 closed

[2018-08-20 16:15] jeffbrown opened #512 "Property Reference Docs"
I put a placeholder `propertyReference.adoc` in place with https://github.com/micronaut-projects/micronaut-core/commit/a8013ce5f5a683303b900bdf26a5938f45013bb0.  That allowed the build to start passing (`./gradlew publishGuide` was failing).

This is related to changes introduced at https://github.com/micronaut-projects/micronaut-core/commit/40ed2e353fdac24f928d6ba0d7ec57371bad22ff.

That should b

[2018-08-20 16:52] chantrybjss commented on #510
I have been playing with micronaut and RxJava a little bit more. It seems the Flowable type serves my purpose for this particular use case.

For example, I could simply change my method to the following.

[code]
However, I still feel this is a significant limitation of the API. Ideally, users would be able to serialize objects of any generic type complexity. Spring for example would handle this wi

[2018-08-20 17:06] #509 closed

[2018-08-20 17:16] mmindenhall commented on #504
@jameskleeh, the subscriber I created is just to demonstrate the issue.

The actual use case is to inject some data into the SLF4J MDC for each request, then clear the MDC after the request has been processed.  This is done as follows within the `doFilter` method:

1. Read data from request headers, set fields on MDC.
1. Call `chain.proceed`.
1. Subscribe to the returned response publisher.
1. Req

[2018-08-20 17:46] jeffbrown commented on #486
Is this going to end up just being a comment in the release notes?

[2018-08-20 18:59] mmindenhall commented on #504
@jameskleeh, yes, the pre vs. post distinction is just a matter of how you use the filter.  Anything done on the request before calling `chain.proceed` can be considered "pre-request", and anything done with the MutableHttpResponse emitted from the publisher can be considered "post-request".

I like your suggestion to wrap the publisher via `Flowable`.  However, this could not possibly work withou

[2018-08-20 21:36] thiagolocatelli opened #513 "NullPointerException when trying to create Federation"
I keep getting an NPE while trying to create a federation on my laptop.

JDK version:
[code]

Command:
[code]

Stacktrace:
[code]

The three services' folders have been created, since I cant get past this issue, I am not sure if the CLI will be also creating files in the root folder of the federation:

[code]

### Environment Information
- **Operating System**: macOS High Sierra version: 10.13.4 (

[2018-08-20 21:45] thiagolocatelli commented on #513
Just noticed there is already an open issue related to this problem.

Related to issue #509.

[2018-08-20 21:45] #513 closed

[2018-08-21 01:35] klamouri opened #514 "Cannot mix Scheduled tasks and CLI command in one single project"
Hi,

I'm playing with Micronaut and I wanted to create a service that has
* One REST controller
* One Scheduled task
* One CLI command

I want to have the three in one repo so that they can all leverage the same beans.

However, when I'm executing the CLI command the scheduled task also gets executed. I don't think that should be a default behavior. Ideally, the REST controller and the scheduled t

[2018-08-21 02:47] thiagolocatelli commented on #501
Started working on this: https://github.com/thiagolocatelli/micronaut-spring-client

Still can't figure out why my getPropertySources from SpringCloudConfigurationClient is not being invoked. I may be missing something. Decided to create the code in another repo and once it's stable and working 100% I will merge it into the oficial repo.

[2018-08-21 03:16] thiagolocatelli commented on #501
with the help form @jameskleeh I identified the discovery-client library was missing. After adding it to the project, my SpringCloudConfigurationClient started being invoked.

[2018-08-21 03:37] drissamri opened #515 "mainClassName is not generated correctly in a function application"
### Steps to Reproduce

1. Use CLI create-function with a custom package:
 `create-function be.drissamri.tax-calculator-basic`

### Expected Behaviour

mainClassName should be set to `be.drissamri.Application`

### Actual Behaviour
mainClassName is set to `io.micronaut.function.executor.FunctionApplication`

### Environment Information

- **Operating System**: OSX
- **Micronaut Version:** 1.0.0.M4

[2018-08-21 03:38] drissamri commented on #515
This should be in profiles repo.. my bad.

[2018-08-21 03:38] #515 closed

[2018-08-21 13:15] thiagolocatelli commented on #501
@jameskleeh another quick question.

I have defined a @Get operation for my http client, as follow:
[code]

when my client is executed, it is not including the {applicationName} in the request. Logs:
[code]

My client definision
[code]

Anything I am doing wrong here?

[2018-08-21 13:54] thiagolocatelli commented on #501
So the client for Spring Cloud config is working pretty well. I have just one question before I start writing the unit tests. The PropertySource.of method takes a priority. Which priority is loaded first: lowest or highest?

[2018-08-21 14:02] jameskleeh commented on #501
@thiagolocatelli I believe the higher order will override config values with a lower order

[2018-08-21 14:04] thiagolocatelli commented on #501
@jameskleeh sounds good James. That's how I implemented. Thank you.

[2018-08-21 16:55] thiagolocatelli opened #516 "Default value not being evaluated when it is a property key"
Current behavior: the expression provided to my Http Client contains an environment variable and a default property key. When the environment variable is available, it works as expected, but when the env var is not there, the DefaultPropertyPlaceholderResolver does not resolve my property, it handles it as a constat.

[code]

[code]

The expected behavior for my http client is:
1) Use the SPRING_C

[2018-08-21 17:54] ydewit opened #517 "Support multiple independent components in a single micronaut executable"
I could not find any other forum to discuss this first, so decided to create an issue instead. I hope this is not a problem.

The reason I am here is that I like the design space Micronaut is trying to address, namely fast and low memory footprint microservices (no or as little runtime reflection as possible).

We use SpringBoot for this at this point and although it has served us well from a fram

[2018-08-21 19:42] jeffbrown commented on #517
I don't think I understand.

You can currently include in your deployable jar as many things as you like.  You can also configure beans to only load in certain environments (for example, only load this bean if running on AWS, etc...).

Is the relevant to what you are asking?

[2018-08-21 21:25] ydewit commented on #517
Hi @jeffbrown, that is correct, but they assume that these 'components' are built and developed together and with a single dependency tree. In the case above, I have completely independent services with potentially conflicting dependencies, but I want to package/bundle them together in a single executable.

We can do this today with a Servlet Container (e.g. Tomcat) and one or more WARs. These WAR

[2018-08-22 12:59] vahidhedayati opened #518 "Extending Entities does not seem to work"
I have created a sample project which can be [downloaded here](https://github.com/vahidhedayati/micronaut-playground):

I have setup a [few domain class](https://github.com/vahidhedayati/micronaut-playground/tree/master/shop/products/src/main/groovy/products/domain
) "entity classes"

[code]

[code]

[code]

[code]
So a few classes
Product
Generic Extends product
Chair/Table extend Generic

But wh

[2018-08-22 14:01] iBernd81 opened #519 "CompositeByteBuf is freed after first call"
In my first application using new Micronaut I have a simple controller which calls one service class.

This service interface is annotated with Client to retrieve a file from another service using a simple REST call.

For the first time everything works fine. I get a filled CompositeByteBuf with the following properties:
1. readIndex: 0
2. writeIndex: 2160
3. capacity: 2160
4. components: 2

There

[2018-08-22 15:36] jameskleeh commented on #519
Why are you returning a `CompositeByteBuf` from your service? You should specify a meaningful type, even if `byte[]` so the response data will be available.

[2018-08-22 15:53] jameskleeh commented on #514
Do you intend for this command to be a process that will continue to run until stopped?

[2018-08-22 16:03] vahidhedayati commented on #518
This is absolutely my bad - there were a few issues with above project.

1. I had a domain class called Table which in short is only going to clash with `create table table`

2. The main actual issue behind this is when you define DataLoader file this file must have `@Singleton` defined otherwise the data does not load

[2018-08-22 16:03] #518 closed

[2018-08-22 16:25] jameskleeh commented on #511
Also FYI this can be accomplished with `PicocliRunner.run(Issue511Command.class, ApplicationContext.run(Environment.CLI), args)` if the command is compiled statically

[2018-08-22 16:34] jameskleeh commented on #511
I'll also go ahead and update the PicoliRunner to correctly pass through the main class so this will no longer be an issue.

[2018-08-22 20:30] ydewit commented on #517
If I understand correctly what you are describing, each of these components would have their own Netty end point, right? That would be one way of solving it although less interesting since it would duplicate resources that could be shared.

I was thinking more along the lines of what a Servlet Container provides Today: i.e. a single HTTP thread pool shared among multiple, deployed WARs. Since we a

[2018-08-22 20:47] jeffbrown commented on #517
One difference between what you want and what a servlet container does is a servlet container provides the behavior you are talking about on a per deployable (per .war file, for example) basis.  What you are talking about is an environment that creates environments for subsets of a particular executable .jar file.

[2018-08-23 06:17] klamouri commented on #514
No I intend it to run whatever is specified in the run method and then exit. I do not want the scheduled tasks to run either.

Here is the use case:

I want to embed my micronaut application as an agent on my instances. The webapp part is providing an endpoint for the healthcheck of the instance, at the same time (meaning in the same process) I’m using the scheduled task to clean up parts of my in

[2018-08-23 09:26] iBernd81 commented on #519
Thank you very much for your fast comment.

Well, what type of client will be the right one to get both the header information and the bytes? The low level one or the declarative one according to the docs?

Can you perhaps pass a short example?

Something like this?

    @Client("/documents")
    public interface documentClient {

      @Get("/{id}")
      Single<HttpResponse<<byte[]>>> getDocumen

[2018-08-23 09:40] dthommes commented on #124
**Problem**

This issue will cause an app to crash on Android 9.0, when the **targetSdkVersion** of the project is set to **28** (28 = Android 9.0). With a Stacktrace like this:

**Findings**

There is access to two forbidden APIs. One of them is on the dark greylist. As of Android 9.0, access to dark-grey listed fields will cause a NoSuchFieldException when targetSdk is 28. When the app is compil

[2018-08-23 11:37] ilopmar commented on #471
I can probably add more context to this.
I think that can be misleading for a user see the message `http://localhost:8080` and then discover that the service is accessible from the internet. For me is like running your database on `localhost` and then discover that anyone can connect to it because it is not really localhost.
In other frameworks (specially frontend stuff) I've seen the message like

[2018-08-23 11:58] Avbat opened #521 "How to get metrics in the Prometheus format?"
How should I configure the Micronaut to get the `.../metrics` in the Prometheus format ?

Used: micronaut 1.0.0.M3

Now:
[code]
and result: metrics name list
`{"names":["jvm.memory.max","executor.pool.size","executor.queued","executor.completed","jvm.gc.memory.promoted","jvm.memory.used", ..."]}`

I need to get: metrics in the prometheus format.

I tried all the options (Prometheus, Atlas etc) fro

[2018-08-23 13:34] sdelamo opened #522 "Documentation error for aws.lambda.region"
Documentation says:

[code]

However it should say:

[code]

That it is to say key is `aws.lambda.region`

[2018-08-23 13:34] #522 closed

[2018-08-23 17:53] thiagolocatelli commented on #501
Progress. Discovery Client for Spring Cloud config server finally working.

[code]

[2018-08-23 17:54] thiagolocatelli commented on #501
Progress: discovery client for spring cloud config server is working properly

[code]

[2018-08-23 18:16] iBernd81 commented on #519
This evening I solved my problem.

Implementing a low level client fulfills all my needs meaning having access to the response and retrieving the body as an array of bytes.

[2018-08-23 18:16] #519 closed

[2018-08-23 19:03] jameskleeh commented on #501
@thiagolocatelli How are you ordering the property sources when both application and app specific config is specified for the environment?

[2018-08-23 19:05] thiagolocatelli commented on #501
I am currently ordering based on the response sent by the config server, which seems to the correct order to be used. The first one gets the highest priority and the subsequent ones get lowers priority.

[2018-08-23 19:06] jameskleeh commented on #501
@thiagolocatelli In your logs there is no example with the application name and environment

[2018-08-23 19:09] thiagolocatelli commented on #501
there is, in my example I am using -Dmicronaut.environments=dev,docker

[code]

[2018-08-23 19:10] jameskleeh commented on #501
@thiagolocatelli There isn't a property source for `spring-config-sample` specific to an environment

[2018-08-23 19:12] thiagolocatelli commented on #501
if I had included a file spring-config-sample-{env}.properties into my config server it would have been picked up by the client. My config server only contains application.properties, application-{env}.properties and spring-config-sample.properties.

[2018-08-23 19:59] thiagolocatelli commented on #501
@jameskleeh so I have included the following files to my config server:

[code]
the response back from the config server was:

[code]

so it seems to me that spring property source ordering is as follow, considering app name is 'foo' and environments are 'dev' and 'docker':
[code]
I am taking the environments names from ```environment.getActiveNames()```, which returns a java.util.Set, so no matte

[2018-08-23 20:03] jameskleeh commented on #501
@thiagolocatelli Seems like it is returning them in the correct order. I think it would be wise to ensure that the order is correct locally to be future proof of changes in spring cloud.

It makes sense to me that the environment order should be a list and the order should be respected

[2018-08-23 20:04] thiagolocatelli commented on #501
@jameskleeh I will open a separate issue on that and will do my best to send a PR with a fix. ok?

[2018-08-23 20:32] thiagolocatelli opened #523 "DefaultEnvironment should honor the order of environment names"
[DefaultEnvironment](https://github.com/micronaut-projects/micronaut-core/blob/6bcb38b85b7054ce6793632a42568afa93fea761/inject/src/main/java/io/micronaut/context/env/DefaultEnvironment.java#L127), line 127 is using ```Set<String> specifiedNames``` to store the environment names.

By using ```Set<String>``` the order of the environment names provided by the developer is not being honored. ```List<S

[2018-08-24 04:28] aplatypus commented on #487
Will / would the annotation be ignored?
-  "Detecting annotation processors on the compile classpath is deprecated and Gradle 5.0 will ignore them."

I have this message on Java and Groovy files under a `groovy/` directory.  Files under a `java/` tree seem to be OK.  I'm not knowingly using the `shadow plugin`.  Is that something included internally?

[2018-08-24 04:37] jameskleeh commented on #487
@aplatypus That issue doesn't have anything to do with the shadow plugin. Do you have `annotationProcessor "io.micronaut:inject-java"` in your gradle dependencies?

[2018-08-24 06:04] sdelamo opened #524 "@Replaces fails to replace @FunctionClient bean"
Steps to reproduce:

Create app

`mn create-app example.micronaut`

Create interface:

`src/main/java/example/VatValidator .java`
[code]

Create bean:

`src/main/java/example/VatClient .java`
[code]

Create bean in the test classpath to replace previous bean

`src/test/java/example/MockVatValidator .java`
[code]

Create a test which verfies `MockVatValidator` is used:

`src/test/java/example/VatVa

[2018-08-24 10:00] sdelamo opened #525 "Remote @FunctionClient fails with POJO Parameter"
Invoking a remote Micronaut Function deployed to AWS Lambda which expects:

[code]

Works when the `@FunctionClient` looks like:

[code]

Fails when the `@FunctionClient` looks like:

[code]

Being `ValidationRequest` a POJO:

[code]

Steps to reproduce:

1. Deploy to AWS Lambda Paris Region the function described in

http://guides.micronaut.io/micronaut-function-aws-lambda/guide/index.html#writin

[2018-08-24 10:02] ilopmar opened #526 "Returning an empty Optional in a controller makes the response to be invalid"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a controller and return `Optional.empty()`

### Expected Behaviour

Micronaut should return 404 as it does when returning `null` from a controller

### Actual

[2018-08-24 10:03] sdelamo commented on #526
if this is changed, we should ugprade the docs to:

https://docs.micronaut.io/snapshot/guide/index.html#_404_responses

[2018-08-24 10:04] sdelamo commented on #498
I am creating a Functions to AWS Lambda guide which may help you:

http://guides.micronaut.io/micronaut-function-aws-lambda/guide/index.html

[2018-08-24 11:41] ilopmar opened #527 "Test fails when defining it in one package and not in other"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

I'm working on a JPA/Hibernate guide and the tests are defined in package `example.micronaut` and they both pass.
As the controllers are defined in `example.micronaut.book` and `example.microna

[2018-08-24 13:12] ilopmar opened #528 "Allow return with HttpResponse.created with body and location"
When developing a RESTful API is common to respond with the object that has being created after a POST request as well as the location of the resource.

At this moment we need to do this in the controller:

[code]

It seems a little bit verbose if we do this is different controllers in the application.

[2018-08-24 15:13] ydewit commented on #517
The solution I had in my mind around this was something along the following lines (note that I know very little about Micronaut).

Say I have two micronaut microservices A and B. They build A.jar/B.jar for non-executable component parts, and A-exec.jar/B-exec.jar for the executable jars (with an embedded Netty). I use A-exec.jar and B-exec.jar to run as separate docker containers in the cloud. Thi

[2018-08-25 05:38] bjuretic opened #530 "@Valid in front of JavaBean in controller method does not work"
If a controller is created with @Validated, and method's parameter is marked with @Valid , the JavaBean validation is actually never ran.

[code]

It seems that Hibernate validator is never called in this scenario (when the validation constraints are placed on a JavaBean, and not directly in the method parameters).

[2018-08-25 13:42] bjuretic commented on #530
Ignore, the problem is that Hibernate Validator does not process constructor annotations. But this works:

[code]

[2018-08-25 13:42] #530 closed

[2018-08-26 16:42] sdelamo opened #531 "Optional Url Parameters fail if path is "/""
### Steps to reproduce

Create a Java micronaut app.

Create a controller:

[code]

Add spock dependencies:

[code]

Add a test:

[code]

### Environment Information

- **Operating System**: Mac OS Highsierra
- **Micronaut Version:** 1.0.0.M4
- **JDK Version:** 1.8.0_181

### Expected:

Both tests pass

### Actual Result

Invoking `/books` returns 404

### Workaround

Replacing `@Get("/{?offset}")

[2018-08-26 23:12] wykapedia opened #532 "HttpResponse 202 Status with Location Header"
Add support to `HttpResponse` to accept a `location` URI parameter to return a location header on the response.

In the case of `HTTP - 202 ACCEPTED`, the location header is used to inform the client of the location of the URL where the resource will become available in the future, or a URI in which the client can get an updated status about the processing.

**Implementation will look like this:**

[2018-08-27 06:53] #532 closed

[2018-08-27 06:54] #528 closed

[2018-08-27 07:07] graemerocher commented on #527
This is not a bug as such, if your tests exist in another package that differs from where you entities are you need to specify the packages when running your application or test. For example:

[code]

[2018-08-27 07:34] ilopmar commented on #527
Thanks! It works now.

[2018-08-27 07:34] #527 closed

[2018-08-27 08:14] graemerocher commented on #514
There is an easy way to resolve this problem. You can simply add:

[code]

To the scheduled tasks in question. Maybe this should be done by default, but right now there is no environment specific disabling of beans in the core context

[2018-08-27 08:16] graemerocher commented on #504
This is not a bug, you should not subscribe to the published returned from `proceed`. See https://github.com/micronaut-projects/micronaut-core/blob/master/tracing/src/main/java/io/micronaut/tracing/instrument/http/OpenTracingServerFilter.java for an example of decorating the returned publisher

[2018-08-27 08:16] #504 closed

[2018-08-27 18:16] sdelamo opened #535 "Path variable regex fails if regex starts with ^"
`^` which is often used in regex to matches the starting position within the string causes issue.

Given:

[code]

curl "http://localhost:8081/api/books/1491950358"

returns 404 Not Found

Removing ^ form regex

`    private static final String ISBN_REGEX = "1491950358|1680502395$";`

curl "http://localhost:8081/api/books/1491950358"

returns 200 OK

### Environment Information

- **Operating Syst

[2018-08-27 22:40] klamouri commented on #514
Hi,
I confirm that adding `@Requires(notEnv = Environment.CLI)` to the class defining the scheduled class fix the issue.
Thank you!

[2018-08-27 22:40] #514 closed

[2018-08-28 09:39] sdelamo opened #537 "Support default values in Url Variables"
In SpringBoot you can create optional Url variables

[code]

In Micronaut, this is possible to:

[code]

In SpringBoot, you can configure default values. This is not possible in Micronaut.

[code]

[2018-08-28 09:42] Avbat opened #538 "@Endpoint. Is everything all right here?"
When creating beans, in the `annatationMetadata` id and value are reversed.

[code]

[https://github.com/micronaut-projects/micronaut-core/blob/master/management/src/main/java/io/micronaut/management/endpoint/annotation/Endpoint.java](url)

[2018-08-28 10:19] graemerocher commented on #538
What do you mean reversed?

[2018-08-28 10:28] Avbat commented on #538
if:
[code]
then:
![image](https://user-images.githubusercontent.com/25145468/44717608-22ddae00-aac6-11e8-92fd-8f987b4e86a3.png)

[2018-08-28 10:41] graemerocher commented on #538
so what you are doing doesn't rely make sense.  The `@AliasFor` annotation is used to make sure that when `id` is set then `value` is set to whatever the value of `id` is and vice versa. You would never set *both* `id` and `value`.

[2018-08-28 10:57] Avbat commented on #538
Ok.
Then it's not clear, how to get `PrometheusMeterRegistry.scrape() `instead of `MetricsEndpoint.listNames()` on "`host:port/metrics`"?

[2018-08-28 11:19] graemerocher commented on #538
You could simply replace the metrics endpoint with your own implementation using `@Replaces(MetricsEndpoint.class)` declared on your own class, then inject the `PrometheusMeterRegistry`

[2018-08-28 11:45] Avbat commented on #538
Thanks. My release.
[code]

But result:
[code]

[2018-08-28 11:59] graemerocher commented on #538
Ok, will look into that. In the meantime you can always create a different endpoint such as `@Endpoint(value = "prometheus", defaultSensitive = false)`

[2018-08-28 12:06] Avbat commented on #538
OK. This is how we use it today. Prometheus needs to change the configuration files. By default, he himself by endpoints of clusters kubernetes collects information from addresses "... / metrics".

[2018-08-28 14:01] thiagolocatelli commented on #501
@graemerocher PR will be sent soon. First I need to setup micronaut-core on my local machine and move the client code to micronaut-core, right now its a library inside my project, its not inside micronaut yet. Second, I need to write unit tests for it and then I will be ready for the PR.

Second phase would be include Vault as part of the process too, but I guess spring cloud config is a good begi

[2018-08-28 16:05] drissamri opened #540 "Micronaut function support for AWS API Gateway"
### Expected Behaviour

Out of the box support for AWS Lambda that are used with an AWS API Gateway in front of it.
This seems like a common use case, which would be nice if this could be supported without having to provide custom code for it.

Maybe several handlers could be provided, like this is done in Spring?
https://github.com/spring-cloud/spring-cloud-function/blob/master/spring-cloud-funct

[2018-08-29 13:04] puneetbehl commented on #535
It is happening because the RouteBuilder create the pattern as:

`\Q^\/books\/\E(^1491950358|1680502395$)`

Which does not matche the URI `/books/1491950358-test`.

[2018-08-29 13:44] graemerocher commented on #510
Can you provide a simple example that reproduces this issue? The referenced example isn't clear to me

[2018-08-29 14:00] chantrybjss commented on #510
I can and will when I have some time.

For now, I will simply clarify my use case. There is something called polymorphic deserialization in Jackson, which allows you to declare a super type and then serialize subtypes with an included field which indicates which subtype produced the JSON. The serialized JSON can then be deserialized.

[code]

[code]
@Get("/something")
SomeSuperType getSomething()

[2018-08-29 14:52] jameskleeh commented on #516
@thiagolocatelli We can't support this because we don't have enough information

If the `spring-cloud.client.uri` is not found in the context, should it throw an exception, or just return the static string? Which option is right depends on whether or not you expect the last value to be a configuration key.

[2018-08-29 14:52] #516 closed

[2018-08-29 15:02] puneetbehl commented on #535
It looks like the only option here is to remove the caret from the URI which will then match to the following:
[code]

However, I am not sure if that's the good idea.

[2018-08-29 15:06] puneetbehl commented on #535
@graemerocher, @jameskleeh  please share your thoughts on this once you get a chance.

[2018-08-29 15:32] graemerocher commented on #535
I don't understand, why would the `/books/1491950358-test` URI match?

[2018-08-29 15:44] puneetbehl commented on #535
@graemerocher I am sorry for the confusion. I meant `/api/books/1491950358` URI.

[2018-08-29 15:49] sdelamo commented on #535
I am creating a PR

[2018-08-29 16:34] sdelamo opened #543 "UriTemplate fails for Form-style query, ampersand-separated"
https://tools.ietf.org/html/rfc6570 defines:

The latter fails currently in `io.micronaut.http.uri.UriTemplate`

[2018-08-29 17:16] sdelamo opened #545 "GET request Binding POJO with optional values"
# Steps to reproduce.

Create Micronaut app

`mn create-app example --inplace --lang groovy`

 Add the dependency to get validation working:

`compile "io.micronaut.configuration:hibernate-validator"`

Create a controller wich does not use POJOs:

[code]

The next test passes:

[code]

Create a controller which uses a POJO:

[code]

[code]

The last test of the specification fails.

[code]

- **Mi

[2018-08-29 18:23] #483 closed, assigned to jameskleeh

[2018-08-30 07:28] #543 closed

[2018-08-30 07:30] #535 closed

[2018-08-30 09:40] graemerocher commented on #525
Works once `@Body` is added to the POJO parameter

[2018-08-30 10:18] #524 closed

[2018-08-30 10:41] #538 closed

[2018-08-30 10:42] #521 closed

[2018-08-30 10:43] graemerocher commented on #521
Duplicates the discussion in #538

[2018-08-30 11:11] #486 closed

[2018-08-30 11:37] thiagolocatelli commented on #501
@graemerocher I have made the client available at https://github.com/thiagolocatelli/micronaut-spring-client

I am still trying to figure out how I can use the SPRING_CLOUD_CONFIG_URI environment variable. The default scenario should be: first use the environment variable, if not available, then use spring.cloud.config.uri property, if that is also not available, default to http://localhost:8888 (

[2018-08-30 13:48] #537 closed

[2018-08-30 13:49] jameskleeh commented on #501
@thiagolocatelli A PR was just merged yesterday to allow backticks.

``${SPRING_CLOUD_CONFIG_URI:spring.cloud.config.uri:`http://localhost:8888`}``

[2018-08-30 13:51] graemerocher commented on #492
Fixed by https://github.com/micronaut-projects/micronaut-core/commit/57c91077b474836efa94cd5465fa1468b9e3319c

[2018-08-30 13:51] #492 closed

[2018-08-30 13:51] jameskleeh commented on #492
This was fixed with https://github.com/micronaut-projects/micronaut-core/pull/520/files

[2018-08-30 13:52] #130 closed

[2018-08-30 13:59] thiagolocatelli commented on #501
@jameskleeh per our discussion over Gitter, we found out that Micronaut wasnt evaluating the second element in the expression. It was returning a constant instead of trying to extract the value from the application context. ${SPRING_CLOUD_CONFIG_URI:spring.cloud.config.uri} returns 'spring.cloud.config.uri' instead of the value for it. I had opened an issue #516 but it was closed a couple of days

[2018-08-30 14:00] jameskleeh commented on #501
@thiagolocatelli That isn't true, only the last value is treated as a constant

[2018-08-30 14:11] thiagolocatelli commented on #501
@jameskleeh ok, Thanks. I will wait for the next release with the PR sent to allow backticks to keep working on the config client.

[2018-08-30 23:09] volnei opened #548 "Create federation not working properly"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Command
[code]

### Expected Behaviour

Create a federation

### Actual Behaviour

Doesn't create a federation, throws an exception

### Environment Information

- OS

[2018-08-31 08:33] #311 closed

[2018-08-31 09:14] sdelamo commented on #540
I've added a section (API AWS Gateway) to the Functions AWS Lambda Guide

http://guides.micronaut.io/micronaut-function-aws-lambda/guide/index.html#awsApiGateway

[2018-08-31 09:38] #390 closed

[2018-08-31 17:59] puneetbehl commented on #545
This is not possible with `QueryValue`, as it's expecting a parameter named `cmd`. Initially, I tried to fix it in [ParameterAnnotationBinder#106](https://github.com/micronaut-projects/micronaut-core/blob/master/http-server/src/main/java/io/micronaut/http/server/binding/binders/ParameterAnnotationBinder.java#L106) by binding all the query parameters to command object only when the value of `Bindin

[2018-08-31 21:34] jameskleeh commented on #548
Duplicate of https://github.com/micronaut-projects/micronaut-core/issues/509

[2018-08-31 21:34] #548 closed

[2018-09-01 02:48] mmindenhall opened #549 "Can't inject @Named MongoClient in Kotlin"
I'm trying to create an alternative `MongoClient` factory for a Kotlin project (to use [kmongo](https://litote.org/kmongo/)).

I created my own `MongoClient` factory (very similar to `DefaultMongoClientFactory`), using the `@Named` annotation as a qualifier:

[code]

Injection into controller:
[code]

The bean is never created, and the default `MongoClient` appears to be injected instead.  The Jav

[2018-09-01 04:03] mmindenhall opened #550 "Can't replace default MongoClient with @Replaces"
I'm trying to create an alternative `MongoClient` factory for a Kotlin project (to use [kmongo](https://litote.org/kmongo/)).  I tried this first using `@Named` as a qualifier (see #549 -- works in Java, fails in Kotlin).

I then tried using the `@Replaces` annotation in my `MongoClient` factory:

[code]

Injection into controller:
[code]

The Java code is very similar...except...well, Java.  The

[2018-09-03 07:00] graemerocher commented on #550
I believe this is a duplicate of #538

[2018-09-03 11:26] sdelamo opened #551 "Using a Thymeleaf View, throws NPE if the body is null"

[2018-09-03 11:28] #551 closed

[2018-09-03 13:00] sdelamo opened #552 "Support for GORM Multi-Tenancy"

[2018-09-03 14:53] sdelamo opened #553 "index.html not resolved as root path unless micronaut.router.static.resources.mapping /**"
### Steps to Reproduce

Configure: `src/main/resources/application.yml`:

[code]

Create a file `src/main/resources/public/index.html`:

[code]

Create the test:

[code]
### Expected Behaviour

Test passes

### Actual Behaviour

Test fails

### Workaround

Set

`micronaut.router.static.resources.mapping="/**"`

### Environment Information

- **Operating System**: MacOS High Sierra
- **Micronaut Ve

[2018-09-04 08:44] graemerocher commented on #471
This issue can be resolved with configuration:

[code]

If we make the default to be the above then there would be no way to bind to all network interfaces which may not be desirable.

[2018-09-04 16:47] mahyarmobilab opened #554 "Resolve Environment Variables in properties file"
Hi,
First of thanks a lot for effort on developing this cool framework. I recently started working with it and have following problem.
I have an environment variable which contains numbers and that doesn't match to what you have considered in environment variable:
[code]
I think this need to be fixed because not all the time we have control over our environment variable names.

### Steps to Reprod

[2018-09-04 16:51] zmuzik opened #555 "Can't configure JWT access token expiration"
Configuration value for JWT access token expiration is ignored.
application.yml:

[code]
Issued tokens expire in 3600 seconds (which is the default value mentioned in the docs  https://github.com/micronaut-projects/micronaut-core/blob/master/src/main/docs/guide/security/authenticationStrategies/jwt.adoc
 ) instead of 86400 seconds.

I'm using DelegatingAuthenticationProvider

- **Operating System*

[2018-09-04 17:50] #553 closed

[2018-09-04 18:05] alvarosanchez commented on #471
Can it not be the other way around? i.e. it listens by default only on 127.0.0.1, and then by configuration you can make it listen in all interfaces.

[2018-09-04 18:39] jeffbrown commented on #555
Does it work if you use `micronaut.security.token.jwt.generator.refreshTokenExpiration`?

[2018-09-04 19:15] jameskleeh commented on #550
@mmindenhall You can replace the factory entirely with

[code]

[2018-09-04 20:54] zmuzik commented on #555
It works if I use micronaut.security.token.jwt.generator.accessTokenExpiration
Thank you @jeffbrown !

[2018-09-05 07:29] ilopmar commented on #471
I think at least we should change the message because it is misleading for a user to see `http://localhost:8080` and then discover than the application is listening in all interfaces.

[2018-09-05 07:35] graemerocher commented on #471
@alvarosanchez What do you suggest said configuration should look like?

[2018-09-05 09:01] graemerocher commented on #280
Micronaut now works with Graal native image. See https://github.com/graemerocher/micronaut-graal-experiments/tree/master/hello-world-java for an example.

[2018-09-05 09:01] #280 closed

[2018-09-05 09:35] alvarosanchez commented on #471
I don't have a strong opinion, but could be something like:

[code]

And also:

[code]

[2018-09-05 09:36] #512 closed

[2018-09-05 09:59] graemerocher commented on #471
The logic where this happens is here https://github.com/micronaut-projects/micronaut-core/blob/master/http-server-netty/src/main/java/io/micronaut/http/server/netty/NettyHttpServer.java#L260

I'm not sure binding to a list of hosts is possible

[2018-09-05 10:17] graemerocher commented on #545
See the recent discussion on Gitter:

[code]

Seems with the client, we support this syntax:

[code]

With the `*` expanding all the parameters into `opts`. This makes me think that for this issue and for consistency we should do the same on the server and not have an annotation. Thoughts?

[2018-09-05 21:15] drissamri commented on #540
thanks @sdelamo, but usually AWS API Gateway in combination with AWS Lambda is used with Proxy Integration AFAIK (mentioned in the AWS docs), in which it transforms the input and output.

- https://docs.aws.amazon.com/apigateway/latest/developerguide/set-up-lambda-proxy-integrations.html#api-gateway-simple-proxy-for-lambda-output-format
- https://docs.aws.amazon.com/apigateway/latest/developerguid

[2018-09-06 07:18] #550 closed

[2018-09-07 07:17] mahyarmobilab commented on #554
@graemerocher if it's ok with you, I'll open a pull-request for this issue.

[2018-09-07 13:35] sdelamo opened #558 "@Security as AOP around advice"

[2018-09-09 16:13] orubel opened #560 "Cross cutting concern with RequestMapping Annotations"
Data from RequestMapping Annotations such as

@Get("/hello/{name}")

cannot be synchronized/shared with other pieces of architecture (ie proxy/MQ).

The same is true for @Roles (which may need to change on the fly without a reboot of the entire architecture)

One can easily test this by testing a redirect and seeing if the same request object comes back in from the proxy (which it doesn't).

The o

[2018-09-09 20:11] orubel commented on #545
This can be easily fixed by abstracting the communication data away from the business logic where it can be shared and synchronized. Take a look at:
- https://github.com/orubel/Beapi-API-Framework
- https://www.slideshare.net/bobdobbes/api-pattern

The issue here is that you are using annotations to bind communication logic/data to business logic/data thus creating an architectural cross cutting c

[2018-09-10 10:18] limcheekin commented on #280
thanks for creating the example. I follow the steps, but cannot found build/reflect.json?

[2018-09-10 10:19] sdelamo opened #561 "Support @PermitAll and @RolesAllowed annotations"
Support `import javax.annotation.security.PermitAll`, `import javax.annotation.security.RolesAllowed` from [JSR_250](https://en.wikipedia.org/wiki/JSR_250).

[2018-09-10 10:27] mahyarmobilab commented on #554
@graemerocher I fixed it but cannot open PR because of permission issue.

[2018-09-10 10:30] graemerocher commented on #280
Currently you need Micronaut build from master

[2018-09-10 12:55] limcheekin commented on #280
alright. thanks.

[2018-09-10 14:18] jameskleeh commented on #554
@mahyarmobilab If you fork this repository, you can make changes and submit a PR

[2018-09-10 16:03] ctoestreich commented on #391
The PR #470 specifically was for DS and pool metrics, not table metrics.  If you guys really want the ability to have a pooler run against configured datasources I can add that similar to the

https://github.com/micrometer-metrics/micrometer/blob/master/micrometer-core/src/main/java/io/micrometer/core/instrument/binder/db/DatabaseTableMetrics.java

My opinion, however relevant, is that perhaps met

[2018-09-10 16:13] graemerocher commented on #391
I don't think table metrics is necessary to be honest. Thanks

[2018-09-10 16:13] #391 closed

[2018-09-10 20:28] #523 closed

[2018-09-10 20:29] jameskleeh commented on #523
@thiagolocatelli To prevent a breaking change, I simply changed the implementation to use a `LinkedHashSet`. That way order and uniqueness is preserved.

[2018-09-10 20:35] #494 closed

[2018-09-11 05:55] iBernd81 opened #565 "Micronaut application as a client for SpringBootAdmin"
We are monitoring our Grails and SpringBoot applications with SpringBootAdmin (https://github.com/codecentric/spring-boot-admin).

We already tried to monitor our first Micronaut application too but it seems that this is not working out of the box.

Therefore we included the client class to register in SpringBootAdmin but the registration gets never called.

How could we reach our goal?

[2018-09-11 10:33] graemerocher commented on #554
Thanks for the PR

[2018-09-11 10:33] #554 closed

[2018-09-11 15:30] #347 closed

[2018-09-11 15:33] graemerocher commented on #455
Are you working on this @puneetbehl ?

[2018-09-11 15:41] graemerocher commented on #565
how is the client class defined?

[2018-09-11 17:00] #495 closed

[2018-09-12 04:38] puneetbehl commented on #455
yes

[2018-09-12 05:16] iBernd81 commented on #565
The client class I mentioned comes from a starter dependency in **build.gradle**. According to the docs we have to include the following code (of course a new setting in **application.yml** is required, too):

`compile "de.codecentric:spring-boot-admin-starter-client:2.0.2"`

I guess the only thing what is missing to get the registration well done is a manual call of the importet client or somethi

[2018-09-12 05:44] sdelamo opened #566 "Eureka and Consul AutoRegistration tests are broken."
In the past, [EurekaAutoRegistrationSpec](https://github.com/micronaut-projects/micronaut-core/blob/master/discovery-client/src/test/groovy/io/micronaut/discovery/eureka/EurekaAutoRegistrationSpec.groovy) and [ConsulAutoRegistrationSpec](https://github.com/micronaut-projects/micronaut-core/blob/master/discovery-client/src/test/groovy/io/micronaut/discovery/consul/ConsulAutoRegistrationSpec.groovy)

[2018-09-12 05:53] sdelamo opened #567 "ConsulHealthStatusSpec is broken"
Apparently  Consul throws an error such the following  when no check is registered.

this error is already present in other parts of the code:

https://github.com/micronaut-projects/micronaut-core/blob/master/discovery-client/src/main/java/io/micronaut/discovery/consul/registration/ConsulAutoRegistration.java#L109

The error cannot be decoded to type JsonError

# How to reproduce.

Run Consul in y

[2018-09-13 07:55] goeh opened #568 "When registering with Eureka, Micronaut should retry a few times before shutting down"
### Steps to Reproduce

1. Add Eureka runtime dependency to build.gradle
    runtime "io.micronaut:discovery-client"
2. Add Eureka configuration to application.yml
[code]
3. Start Micronaut application before you start Eureka.

### Expected Behaviour

Micronaut should try to connect to Eureka a few times before shutting down (with configurable retries, timeouts and backoff).

When running services

[2018-09-13 10:15] graemerocher commented on #568
Micronaut already does this. See https://github.com/micronaut-projects/micronaut-core/blob/master/discovery-client/src/main/java/io/micronaut/discovery/eureka/client/v2/EurekaOperations.java#L46

The retry policy is configurable

[2018-09-13 10:34] goeh commented on #568
Awesome! I was looking at the Eureka section in the user guide but now I see that retry-count is included in the Consul section.
https://docs.micronaut.io/latest/guide/index.html#_customizing_consul_service_registration

IMO the defaults (retry-count = 3, retry-delay=1s) are a little low.
Maybe you could add a paragraph in the user guide about these parameters and add the missing retry-delay.

[2018-09-13 10:41] graemerocher commented on #568
Contributions welcome!

[2018-09-13 10:41] goeh commented on #568
Confirmed. Retry settings works as expected.
[code]

[2018-09-13 13:03] #555 closed

[2018-09-13 13:24] #398 closed, assigned to sdelamo

[2018-09-13 13:31] sdelamo commented on #398
`./gradlew testClasses --no-daemon` fails in Circle ci :

[2018-09-13 13:54] sdelamo opened #569 "Default values in @QueryValue"
Spring Boot support default values in request parameters:

[code]

[2018-09-13 13:59] sdelamo opened #570 "Add support to javax.annotation.security.DenyAll annotation"

[2018-09-13 14:53] graemerocher commented on #569
Duplicates #537 ?

[2018-09-13 16:17] jameskleeh opened #571 "Document @Property for injection of Maps"

[2018-09-14 09:07] goeh opened #573 "io.netty.util.ResourceLeakDetector messages"
I'm evaluating Micronaut for a microservice system currently implemented with Spring Cloud. I created a small Micronaut service that currently has dependencies to Eureka, Kafka and JWT.

I see `io.netty.util.ResourceLeakDetector` messages in the log. I will try to isolate this into a reproducable example with minimal dependencies. But in the meantime I'm publishing the stacktrace here.

### Steps

[2018-09-14 13:57] #566 closed

[2018-09-14 13:57] #567 closed

[2018-09-14 13:58] #558 closed

[2018-09-14 15:02] sdelamo commented on #569
Yes, sorry.

[2018-09-14 15:02] #569 closed

[2018-09-14 15:44] sdelamo opened #577 "Simplify docs generation"
Rightnow serveral gradle tasks need to be invoked to generate docs and configuration reference documentation. A single task should be needed.

[2018-09-14 15:49] #176 closed

[2018-09-14 15:51] #561 closed

[2018-09-14 16:12] sdelamo opened #578 "static resource, security and intercept url map throws 401 if url parameters"
### Steps to Reproduce

Create an app:

- `mn create-app example.micronaut`

Modify `application.yml`

[code]

Put a `index.html` file in `src/main/resources/public`

[code]
Create the next test:

[code]
### Expected Behaviour

I expect both tests to pass

### Actual Behaviour

`testWithParams` fails. `io.micronaut.http.client.exceptions.HttpClientResponseException: Unauthorized`
is thrown.

I've

[2018-09-14 16:56] #578 closed

[2018-09-14 17:03] ZacharyKlein commented on #499
@jexp this commit has documented most of these - feel free to let me know if I've missed any. https://github.com/micronaut-projects/micronaut-core/commit/c0ca41d92f45d27c09f79fe21bbcc3a6bc8e462e

[2018-09-16 19:54] goeh opened #581 "@Body parameter in client method must be last parameter or else other annotations will be ignored"
I found a problem with annotations in @Client methods. The @Body annotation must be on the last parameter otherwise all other parameter annotations are ignored. The following line works, the authorization header is set in the request:
[code]
but this will not work, the Header annotation is not processed:
[code]
It's because of a break statement in HttpClientIntroductionAdvice
https://github.com/mi

[2018-09-17 07:12] graemerocher commented on #573
Any luck with an example?

[2018-09-17 07:16] goeh commented on #573
Thanks for the reminder. I've been busy with other issues, but things are starting to work out well now so I can hopefully look at it this evening.

[2018-09-17 08:53] sdelamo opened #582 "GraalClassLoadingAnalyzer does not generate a reflect.json file as complete as executing the Jar"
# Steps to reproduce

- Clone repo https://github.com/micronaut-guides/micronaut-function-aws-lambda

- Install Graal `sdk use java 1.0.0-rc6-graal`
- Install the SVM Dependency `mvn install:install-file -Dfile=${JAVA_HOME}/jre/lib/svm/builder/svm.jar -DgroupId=com.oracle.substratevm -DartifactId=svm -Dversion=GraalVM-1.0.0-rc6 -Dpackaging=jar`
- `cd complete/vies-vat-validator-graal`
- `complete/

[2018-09-17 09:05] sdelamo commented on #582
ZIP with both files:

[reflect.json.zip](https://github.com/micronaut-projects/micronaut-core/files/2387888/reflect.json.zip)

[2018-09-17 10:30] #577 closed

[2018-09-17 12:03] tkec opened #583 "Full-duplex support for browsers that do not support WebSocket"
Will Micronaut provide full-duplex support for browsers that do not support WebSocket, like Sockjs or something else.

[2018-09-17 12:37] graemerocher commented on #583
Not in 1.0, but maybe in the future.

[2018-09-17 13:00] #411 closed

[2018-09-17 18:42] jeffbrown commented on #386
@chantrybjss Are you interested in sharing your JUnit class rule as a contribution to help start the effort?

[2018-09-17 19:48] jameskleeh commented on #496
Closing this due to lack of feedback

[2018-09-17 19:48] #496 closed

[2018-09-17 20:20] #568 closed

[2018-09-18 02:03] RyanHoldren opened #585 "Improvements to ViewsRenderer"
I am trying to make use of `ViewsRenderer` in my project and have a few suggestions for improvement:

1. If `render()` returned a `Streamable` instead of a `Writable`, it would be usable for binary formats (in my case PDF).
2. If the class were generic - `ViewsRenderer<T>` instead of `ViewsRenderer` - it would safer to write implementations that could only render certain kinds of data (i.e. `T dat

[2018-09-18 07:50] sdelamo commented on #585
Thanks for the feedback @RyanHoldren

Do you have a code snippet of a method which generates a PDF in a `Streamable`?. The simpler the better. I would like to create a test and incorporate that option.

[2018-09-18 09:28] goeh commented on #573
Once I added @KafkaClient to the project I started to see `ResourceLeakDetector` messages.
I hijacked an old project and added Kafks to it https://github.com/goeh/micronaut-issue-568

[2018-09-18 09:51] goeh commented on #573
UPDATE: The HTTP request (curl) is **not** needed to trigger the message.

I just started all services and let the system be idle . After 16 minutes I got the message.
[code]

[2018-09-18 10:55] sdelamo opened #586 "No Session found for current thread in a test using GORM"
I am getting a `No Session found for current thread` error while trying to test multitenancy with and token propagation.

I've added these dependencies to [build.gradle](https://github.com/micronaut-projects/micronaut-core/blob/multitenancy-gorm/configurations/multitenancy-gorm/build.gradle)

[code]

I've a [domain class](https://github.com/micronaut-projects/micronaut-core/blob/multitenancy-gorm/

[2018-09-18 11:48] graemerocher commented on #573
Thanks, we will take a look

[2018-09-18 12:09] goeh commented on #573
Thanks, I just pushed a fix for docker image names (regression after I added services as Gradle subprojects earlier today)

[2018-09-18 12:58] goeh commented on #573
I guess this one is complicated to debug? My last two 20-minute tests did not trigger the issue. Earlier today I didn't have to wait more than 10 minutes. Have you found something?

[2018-09-18 13:31] cilquirm opened #587 "Newly created Kotlin create-function fails to execute with error: Argument [name] cannot be null"
Thanks for reporting an issue for Micronaut, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (http://stackoverflow.com/tags/micronaut) or Gitter (https://gitter

[2018-09-18 13:48] chantrybjss commented on #386
I did not do anything fancy. All I really did was move the handling of getting the client from the application context to the class rule.

I imagine there's a better way to approach it than this, but this was the code I was using in my experiments.

[code]
Then in each test class I had something like the following.

[code]

[2018-09-18 14:33] #581 closed

[2018-09-18 15:52] goeh opened #588 "Upgrade nimbus-jose-jwt to 5.14"
I don't have a specific problem, I just noticed that nimbusJoseJwtVersion = '5.9' in
https://github.com/micronaut-projects/micronaut-core/blob/master/security-jwt/build.gradle#L11
but the current 5.x release is 5.14.

https://bitbucket.org/connect2id/nimbus-jose-jwt/src/36f9e14a5c8277866f188a72f03a272e60ca3695/CHANGELOG.txt?at=master&fileviewer=file-view-default

Best to keep things up to date, es

[2018-09-18 17:13] jeffbrown opened #589 "tracing library should be compile scoped"
`mn create-app --features tracing-zipkin appname` results in `compile "io.micronaut:tracing"` being added to the `build.gradle`.  The annotations (like `@NewSpan`) are in the `tracing` jar and must be on the compile time classpath in order to be referenced.  I think the dependency should be configured as a `compile` scoped dependency.

[2018-09-18 18:02] #589 closed

[2018-09-18 19:40] #587 closed

[2018-09-18 19:41] jameskleeh commented on #587
To fix this, simply add a `src/main/resources/application.yml` file with this content to your app:

[code]

[2018-09-18 20:00] ctoestreich commented on #565
@iBernd81 I have worked a bit on SBA and it is VERY spring heavy.  It is working in BOOT and GRAILS due to the spring factories via https://github.com/codecentric/spring-boot-admin/blob/master/spring-boot-admin-client/src/main/resources/META-INF/spring.factories

Specifically `de.codecentric.boot.admin.client.config.SpringBootAdminClientAutoConfiguration` and
`de.codecentric.boot.admin.client.conf

[2018-09-18 20:03] ctoestreich commented on #565
@graemerocher I am not sure this is an issue as much as a feature request and I am not sure that it should hang on in any way specifically as an open item as the SBA is pretty much built for using boot applications and, speaking for myself, I don't want to see boot-isms creep into the micronaut realm in any way beyond 3rd party bridging libraries as mentioned in my previous comment.

[2018-09-18 20:19] #499 closed

[2018-09-19 02:11] virtualdogbert opened #591 "Console task for Groovy based micronaut"
It would be nice to have a console task like in Grails. This would give develops an easy way to see code generated by AST transforms using the AST browser.  It also gives you away to play with code via the console for what that's worth.

[2018-09-19 03:14] fmayoral opened #592 "Micronaut filter methods ignored"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a simple filter matching a path and a method (e.g. POST)
2. Hit the path using a different method (e.g. GET)
3. Fail

[code]

### Expected Behaviour

The filte

[2018-09-19 03:41] #592 closed

[2018-09-19 03:43] #588 closed

[2018-09-19 13:41] #362 closed

[2018-09-19 13:47] jameskleeh commented on #487
The issue has been fixed upstream, just waiting on a release

[2018-09-20 05:15] rverma-nikiai commented on #509
@jameskleeh Tested with current master, facing new issue as `| Error Command [mn] error: No signature of method: io.micronaut.cli.profile.commands.CreateFederationCommand.appendToYmlSubDocument() is applicable for argument types: (File, String) values: [/Users/rverma/dev/demo/out/production/resources/application.yml, ...]`

[2018-09-20 12:13] graemerocher opened #594 "Upgrade to Lettuce 5.1"

[2018-09-20 13:46] #177 closed

[2018-09-20 15:58] #180 closed

[2018-09-20 16:03] #552 closed

[2018-09-20 17:43] weiqigao opened #595 "When the User Guide is printed, the top line of each page is obscured by the floating header"
### Steps to Reproduce

1. Go to the User Guide
2. Try to print a page

### Expected Behaviour

The page is printed with all of its information

### Actual Behaviour

The top few lines are obscured by (possibly) a rendition of the black header.

[2018-09-20 20:10] jameskleeh commented on #383
@beckje01 If you have any other ideas for this, let me know. I'm implementing this now

[2018-09-21 05:04] ctoestreich commented on #180
Great work gang.  Is it possible to add docs how to bridge the generated yml to being available at an endpoint via http?  I can manually copy it and probably render it, but I would bet an endpoint could be auto registered when using the new application level annotation.

[2018-09-21 06:44] graemerocher opened #596 "Consistently use annotation package for all annotations"
Some annotations are within an `annotations` sub package, other times annotations are mixed in with classes and interfaces. We should consistently use the former

[2018-09-21 06:45] graemerocher opened #597 "Default to port 8080 instead of a random port except in test environment"
If the environment is not the `test` environment and no port is configured we should default to 8080. This makes it easier for environments like Docker and kubernetes and the developer experience.

For people who want to run on bare metal and use consul they can set port -1 to run multiple servers on random ports

[2018-09-21 06:51] graemerocher commented on #180
Swagger UI can simply be embedded via an HTML page pointing to the YAML https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/installation.md

[2018-09-21 07:37] #595 closed

[2018-09-21 10:47] #596 closed

[2018-09-21 11:19] #597 closed

[2018-09-21 11:54] #573 closed

[2018-09-21 12:04] #594 closed

[2018-09-21 13:49] sdelamo opened #601 "Argument Failure conversion trying to bind parameters to POJO"
`Caused by: io.micronaut.http.client.exceptions.HttpClientResponseException: Failed to convert argument [paginationCommand] for value [null] due to: Cannot deserialize instance of `java.lang.Integer` out of START_ARRAY token`

See: https://github.com/micronaut-projects/micronaut-core/blob/issue-545/validation/src/test/groovy/io/micronaut/validation/BookmarkControllerSpec.groovy#L87

Related to: #5

[2018-09-21 13:49] #545 closed

[2018-09-21 17:45] RyanHoldren opened #602 "Optional NettyHttpServerConfiguration::getPort() Missing?"
Using `1.0.0.BUILD-SNAPSHOT`, I am hitting an exception on startup.

I suspect it started happening after [this commit](https://github.com/micronaut-projects/micronaut-core/commit/2193a3af9125ae270a794c11971d741a1a719c38). I cleared my Gradle cache in case I was using old dependencies but it didn't seem to help.

[code]

[2018-09-21 17:54] RyanHoldren commented on #585
The way I am doing it is not simple at all, unfortunately. I am using XSLT and Apache FOP. There are quite a few services and moving parts, I don't think it would make a very good test.

[2018-09-21 17:57] RyanHoldren commented on #602
Never mind, it's my mistake. I was only clearing the Gradle cache of my root project, and not subprojects.

[code]

[2018-09-21 17:57] #602 closed

[2018-09-21 20:44] #601 closed

[2018-09-22 15:44] aplatypus commented on #487
@jameskleeh ... yes ido.

[2018-09-22 17:16] jameskleeh commented on #487
@aplatypus like I said that is a separate issue. Feel free to create a new issue with an example project

[2018-09-22 20:52] goeh opened #605 "Better interoperability between Micronaut and Spring Kafka"
The interoperability between Micronaut and Spring Cloud Stream Kafka binder gives me headache. Micronaut sends Kafka headers as byte arrays but Spring seems to send quoted strings. When Micronaut receives a message from Spring, header values are wrapped with "double quotes".
I don't think Micronaut does something wrong I'm just worried that interoperability issues like this will make it hard for d

[2018-09-22 21:17] goeh commented on #605
From Spring Kafka docs

https://docs.spring.io/spring-kafka/reference/htmlsingle/#headers

[2018-09-22 22:11] RyanHoldren opened #606 "Non-Generic Collection Beans"
There seems to be a bug where if you have a Bean that implements `Collection` but *isn't* generic, it cannot be injected.

For example:
[code]

The relevant stack trace:
[code]

[2018-09-23 01:46] hampsterx commented on #180
awesome but sorry noob question but should this be working for kotlin?

[code]
@OpenAPIDefinition(info = Info(title="test"))
[code]
./gradlew build --info
[code]

[2018-09-23 02:28] jameskleeh commented on #180
@hampsterx yes it should work for Kotlin

[2018-09-23 03:08] zendern opened #607 "JSON from OAuth login/access_token endpoints is not OAuth 2.0 RFC6749 compliant as the docs say"
### Steps to Reproduce

1. Create micronaut project using security-jwt with oauth enabled
2. Call `/login` endpoint to authenticate

### Expected Behaviour

https://docs.micronaut.io/latest/guide/index.html#render

### Actual Behaviour

[code]
accessToken and refreshToken are not using underscores as the docs and the RFC states. I found it when Postman did not pick up on the accessToken even thoug

[2018-09-23 04:31] RyanHoldren opened #609 "Unable to match beans using qualifier"
I am having issues getting qualifiers to work.

My qualifier annotation looks like this...
[code]
... and I am using it like this...
[code]
... but it doesn't work.

Here is the full source code of the example I put together:

[Example.zip](https://github.com/micronaut-projects/micronaut-core/files/2408401/Example.zip)

Perhaps someone can take a look at it. I am certain it's something simple that

[2018-09-23 10:54] luistrigueiros opened #611 "EventBus support in Micronaut"
I would love to see support in Micronaut for a type of **EventBus** mechanics similar to the one that exists in Guava or Spring.

The would be that a bean method annotated with a given annotation i.e (**@Subscribe**) would be **_automatically registered as a listener for events_** that could be fired via an implementation of this EventBus given by Micronaut container.

Additionally optionally it w

[2018-09-23 15:11] RyanHoldren commented on #611
This sounds to me a lot like [the method adapter advice example in the documentation](https://docs.micronaut.io/snapshot/guide/index.html#adapterAdvice)

[2018-09-23 16:56] brandonlamb commented on #611
My team started using MBassador, but +1 to this. I didnt want to pull in the entire guava library to use its event bus

[2018-09-23 20:00] iBernd81 commented on #565
@ctoestreich Thank you very much for your postings. I think I will give this a try when out first Micronaut application is getting close for release.

[2018-09-23 21:32] luistrigueiros commented on #611
Thank you both very useful inputs I will have a look at MBassador and the Adapter.
I my case what I am doing is just when persisting objects to Redis using Lettuce reactive API for some reason the the doOnNext does not gets called, but I need to create additional aux keys and data structures for example to support multi-facet search.
So I am using an event listener to create the additional support

[2018-09-23 22:26] ctoestreich commented on #180
@graemerocher I understand using the you, but I was referring to how to get the yaml to render as a web page.  Copying the output yaml and building a controller method to expose etc.  That was what I was asking about.  Having an endpoint that exposes the yaml when using the @openapi annotation etc.

[2018-09-24 07:30] #383 closed

[2018-09-24 07:51] graemerocher commented on #605
To be honest I don't think we should be providing workarounds for weird things that Spring Kafka is doing. The reason Micronaut receives a double quoted string is because Spring Kafka is encoding the String as JSON in the header value.

The API for headers in Kafka is that each header should have a string name and a byte[] value. Micronaut is encoding the value into a byte[] by searching for an ap

[2018-09-24 07:51] #611 closed

[2018-09-24 08:49] #606 closed

[2018-09-24 09:36] goeh commented on #605
I agree that Micronaut should not provide workarounds out of the box. But someone needs to blog about alternatives to solve this problem. And right now I'm not that person, but I'm working on it.

[2018-09-24 09:58] sdelamo opened #612 "Uploading file "Required argument [CompletedFileUpload file] not specified""
I am writing an app which uploads a file to S3.

The Controller has this signature:

https://github.com/micronaut-guides/micronaut-file-upload/blob/master/complete/src/main/java/example/micronaut/HomeController.java#L36

`public Map<String, Object> upload(CompletedFileUpload file) {`

The view has this form:

https://github.com/micronaut-guides/micronaut-file-upload/blob/master/complete/src/main/r

[2018-09-24 10:13] graemerocher commented on #180
It is a simple matter of placing the generated YAML in `src/main/resources/public/swagger` and configuring it to be exposed as a static resource as per https://docs.micronaut.io/latest/guide/index.html#staticResources

I don't believe a backing controller would be required and I am not sure we should be making the choice to expose the YAML for the user, it would be a step the user would have to ch

[2018-09-24 10:13] graemerocher commented on #180
@hampsterx For Kotlin the `openapi` dependency has to be in the `kapt` scope

[2018-09-24 11:05] mOo7King commented on #254
Any solution for same issue but in maven project?

My dependencies are the following:

<dependencies>

        <dependency>
            <groupId>org.slf4j</groupId>
            <artifactId>slf4j-jdk14</artifactId>
            <version>1.7.25</version>
        </dependency>
        <dependency>
            <groupId>javax.annotation</groupId>
            <artifactId>javax.annotation-api</artifactId>

[2018-09-24 11:08] mOo7King commented on #474
Any solution for same issue but in maven project?

My dependencies are the following:

<dependencies>

        <dependency>
            <groupId>org.slf4j</groupId>
            <artifactId>slf4j-jdk14</artifactId>
            <version>1.7.25</version>
        </dependency>
        <dependency>
            <groupId>javax.annotation</groupId>
            <artifactId>javax.annotation-api</artifactId>

[2018-09-24 11:18] goeh commented on #605
I managed to create a simple custom `KafkaHeaderMapper` on the Spring side that maps byte[] to/from strings and it seems to work ok for my simple use-cases (only string headers). It works both from Micronaut to Spring, Spring to Micronaut and Spring to Spring. The sample application is updated, so it no longer fails.
Next I will try to fix it on the Micronaut side instead, by overriding SerdeRegis

[2018-09-24 11:53] remkop commented on #474
@mOo7King  Did you generate the app with the `create-cli-app` command?

[2018-09-24 11:54] remkop commented on #474
@mOo7King  The user manual has more details: https://docs.micronaut.io/latest/guide/index.html#picocliGenerateProject

[2018-09-24 12:59] mOo7King commented on #474
I followed this (http://guides.micronaut.io/creating-your-first-micronaut-app/guide/index.html) guide but instead of generate a Gradle project I created a new project with that maven dependencies I said before.
In that way I only have two classes: Application.java and HelloController.java.
My purpose was to simply run Application.java in Intellij's IDE and what I expected was the creation of a ran

[2018-09-24 13:57] sdelamo commented on #612
Seems to be an issue with Safari cache. I clear web content data and the issue seems to have resolved.

[2018-09-24 13:57] #612 closed

[2018-09-24 15:00] #582 closed

[2018-09-24 15:01] sdelamo opened #614 "Trying to upload a CompletedFileUpload file input stream to s3 throws error"
### Steps to Reproduce

Clone repository: https://github.com/micronaut-guides/micronaut-file-upload
Checkout branch `inputstream`

`$ cd complete`
`complete $ export AWS_S3_REGION=eu-west-3`
`complete $ export AWS_SECRET_KEY=XXXXXX`
`complete $ export AWS_S3_BUCKET=bucketname`
`complete $ export AWS_ACCESS_KEY_ID=XXXXXX`
`complete $ ./gradlew run`

Try to upload a file.

### Expected Behaviour

Fi

[2018-09-24 15:09] sdelamo commented on #614
Issue was I was calling `getBytes()` and then `getInputStream()`.

[2018-09-24 15:09] #614 closed

[2018-09-24 15:27] drmaas opened #615 "Proposal: Add grpc support"
It would be really useful to be able to run a micronaut application that provides a way to easily build grpc servers and clients. This would be a vast enhancement over the current options for building grpc microservices on the jvm:
* using https://github.com/grpc/grpc-java directly and piecing together your own microservice framework
* using something like https://github.com/LogNet/grpc-spring-boo

[2018-09-24 15:41] graemerocher commented on #615
Yeah GRPC support would definitely be nice

[2018-09-24 15:42] graemerocher commented on #615
@drmaas With regards to the latter option, do you have any references on how that could be achieved?

[2018-09-24 16:19] luistrigueiros commented on #611
Thank you @graemerocher  this was I was looking for.

[2018-09-24 19:48] ChristianBohn opened #616 "Customer HTTP Header fields: Entry deleted if it contains more than one minus"
An HTTP header field is lost if the name of it contains more than one minus (-).

Works not:
- X-Correlation-Id

Works properly:
- X-CorrelationId
- X-CorrelationIdVeryLongNameButOk

### Steps to Reproduce

1. Create a new Controller for HTTP GET
2. Send a request with HTTP Header field 'X-Correlation-Id' with some value
3. Notice that the HttpRequest object does not contain the field at all

###

[2018-09-24 20:18] jameskleeh commented on #616
I can't reproduce. Please upload an example project that demonstrates the behavior

[2018-09-24 21:38] luistrigueiros commented on #611
Hi @graemerocher:

How can one obtain an instance of ApplicationEventListener ?
I my case I don't have of these service discovery services yet.

https://docs.micronaut.io/snapshot/api/io/micronaut/context/event/ApplicationEventListener.html
All Known Implementing Classes:
AutoRegistration, ConsulAutoRegistration, DiscoveryServiceAutoRegistration, EnvironmentConfiguration, EnvironmentDeploymentCont

[2018-09-25 07:44] graemerocher opened #617 "Issue with async binding of authentication value"
Binding authentication fails for async case

### Example Application

See example at https://github.com/plefebvre/micronaut-auth-example

[2018-09-25 09:29] graemerocher opened #618 "Inconsistent @Body handling in browser"
Body is occasionally lost when uploaded from browser

### Steps to Reproduce

See sample

### Expected Behaviour

Body handling should work

### Actual Behaviour

Occasional:

[code]

### Example Application

https://github.com/liwujun0513/micronaut_demo

[2018-09-25 09:41] jespersm commented on #617
It seems like requestArgumentSatisfier.fulfillArgumentRequirements is called before the filters when servicing async responses, but AFTER the filters (inside the resultEmitter) for sync.

[2018-09-25 09:50] #531 closed

[2018-09-25 09:58] liwujun0513 commented on #618
not only @Body annotation 。 I change the method to this. the problem happens too.

    @Consumes({MediaType.APPLICATION_FORM_URLENCODED, MediaType.APPLICATION_JSON})
    @Post(value = "/demo1")
    ModelAndView postDemo1(@Nullable String username,@Nullable String password,@Nullable  String jcaptcha) {
    // ModelAndView postDemo1(@Nullable @Body LoginCommand command) {

        System.out.println

[2018-09-25 10:07] liwujun0513 commented on #618
I found that ,when I use nginx to proxy the demo app, everything is ok.

[2018-09-25 11:15] goeh commented on #605
I looked briefly at the Micronaut side but I was not able to create a working prototype. I could not find out how to pick a custom serializer just for the headers.
Unfortunately I don't have time to work on it this week because of time constraints.

[2018-09-25 12:18] sdelamo commented on #618
I forked the repository and used `BUILD-SNAPSHOT`

https://github.com/grails-core-issues-forks/micronaut-core-issues-618

I believe it may have to do with static resources. If I disable them it works as expected:

<img width="1939" alt="login_and_micronaut_demo____developer_github-issues_micronaut_demo__-_____src_main_resources_application_yml__micronaut_demo_main_" src="https://user-images.github

[2018-09-25 15:03] #471 closed

[2018-09-25 15:28] adrien-bonnin-cbp opened #620 "Multiple @QueryValue in client doesn't build the correct url"
### Task List

- [X] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a controller with a method with multiple @QueryValue

[code]

2. Create a client to this controller and method

[code]

3. Create a specification to test the m

[2018-09-25 16:01] graemerocher commented on #620
Although this is a bug, a better way to do this is use a URI template:

[code]

Which will likely give you the behaviour you are after. We will look into the issue with `@QueryValue`

[2018-09-25 16:14] adrien-bonnin-cbp opened #621 "@Format in client parameter should be used to format date"
### Task List

- [X] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a controller with a method with a date annotated with @Format
[code]

2. Create a client to this controller and method with parameter annotated with the same @

[2018-09-25 17:30] dayman opened #622 "1.0.0.M4 silently breaks if exception occurs during startup"
### Steps to Reproduce

1. Create simple app with `mn create-app --lang kotlin example`
2. cd to `example`
3. create file `src/main/kotlin/example/FailingJob.kt` with following content
[code]
4. `./gradlew build`
5. `java -jar build/libs/example-0.1-all.jar`

### Expected Behaviour

Should log exception or fail to start

### Actual Behaviour

No messages in logs after print, initialisation fails,

[2018-09-25 21:36] #618 closed

[2018-09-26 10:40] sdelamo opened #625 "CompletedFileUpload.getSize() returns 0"
If I upload file to with a browser `getSize()` returns always 0 even if Content-Length is set:

<img width="1837" alt="micronaut-file-upload____developer_micronaut-guides_micronaut-file-upload__-_____complete_src_main_java_example_micronaut_homecontroller_java__complete_main_" src="https://user-images.githubusercontent.com/864788/46074917-3c3b4e00-c189-11e8-8859-a286cd8dce20.png">

[2018-09-26 10:42] #622 closed

[2018-09-26 10:46] remkop commented on #474
@mOo7King Is this still an issue?

[2018-09-26 10:50] #620 closed

[2018-09-26 10:56] mOo7King commented on #474
@remkop  I decided to generate a Gradle project just like the guide and it worked perfectly. However I need to convert that Gradle project into a Maven one (requirement I need to reach) and as a newbie I don't know how to do that. Any help would be appreciated.

[2018-09-26 11:31] #621 closed

[2018-09-26 11:43] FrankEndriss opened #627 "Error occurred running Micronaut CLI: unable to find valid certification path to requested target (Use --stacktrace to see the full trace)"
Error occurred running Micronaut CLI: unable to find valid certification path to requested target (Use --stacktrace to see the full trace)

### Steps to Reproduce

1. installed micronaut-1.0.0.M4 using sdk
2. mn

or

1. installed micronaut-1.0.0.M4 by downloading binary from micronaut.io
2. mn

### Expected Behaviour

mn should work like on linux

### Actual Behaviour
$ mn
Error |
Error occurred r

[2018-09-26 12:37] remkop commented on #474
@mOo7King  I missed your earlier comment. I understand a bit better now. I believe you are commenting on the wrong ticket. This ticket is about creating a command line Micronaut application that uses picocli for command line parsing (so the application can have command line options, subcommands etc.)

What you are looking to do does not require command line parsing.

I am not 100% sure why you are

[2018-09-26 13:37] #455 closed

[2018-09-26 13:39] mOo7King opened #630 "Creating first Micronaut sample with maven dependencies"
I followed this (http://guides.micronaut.io/creating-your-first-micronaut-app/guide/index.html) guide but instead of generate a Gradle project I created a new project with maven dependencies.

In that way I only have two classes: Application.java and HelloController.java.
My purpose was to simply run Application.java in Intellij's IDE.

### Expected Behaviour
What I expected was the creation of a

[2018-09-26 13:39] mOo7King commented on #474
@remkop Thank you. I started a new issue: https://github.com/micronaut-projects/micronaut-core/issues/630

[2018-09-26 14:56] datamaskin commented on #501
We have a SCCS running in house using ${GIT_URL} defined in the shell which SCCS seems to recognize from application.yml or a default. Would really like to see a MN profile for creating SCCS clients. Thanks.

[2018-09-26 15:17] jespersm opened #631 "Consumes and Produces is mixed up for @Client advice"
### Steps to Reproduce

1. Define a Controller with a method
[code]
2. Define a @Client with the same method

### Expected Behaviour

The client should be able to match the controller, sending a JSON payload with a Content-Type of application/json and expecting text/html.

I'm pretty sure this worked in M4.

### Actual Behaviour

The client will fail in sending the request as text/html:
[code]

##

[2018-09-26 15:46] jameskleeh commented on #631
@jespersm The change was done intentionally. `@Consumes` in the context of a client should be setting the accept header.

[2018-09-26 16:03] #571 closed

[2018-09-26 16:04] #631 closed

[2018-09-26 17:16] jameskleeh commented on #630
@mOo7King On a Windows 10 machine, I took the following steps using Micronaut 1.0.0.M4 (git bash shell):

`mn create-app test --build maven`
`cd test`
`./mvnw compile`
`./mvnw exec:exec`

The application started successfully.

The `pom.xml` file you have there will definitely not work as there is more configuration that is required.

[2018-09-26 17:16] #630 closed

[2018-09-26 17:27] #487 closed

[2018-09-27 06:39] #625 closed

[2018-09-27 08:47] mOo7King commented on #630
@jameskleeh Thanks for helping. It worked for me.

[2018-09-27 08:49] wapgui opened #636 "Using segment separator --- inside application.yml"
Using the segment separator --- inside an application.yml causes problems wich ends in exceptions.

E.g:
@Scheduled(fixedDelay = "${worker.rate:1s}", initialDelay = "${worker.delay:1s}")
works so far
@Scheduled(fixedDelay = "${worker.rate}", initialDelay = "${worker.delay}")
doesn't works
If --- are removed second version without defaults are working too.
application.yml entries:

#--- remove this

[2018-09-27 11:19] #525 closed

[2018-09-27 13:37] #570 closed

[2018-09-27 13:47] jameskleeh commented on #636
@wapgui There isn't enough information here for me to determine any issue. Please upload an example project that demonstrates the issue with steps to reproduce

[2018-09-27 13:51] jameskleeh commented on #585
@RyanHoldren @sdelamo Why should the `ViewsRenderer` support binary formats? You can send PDFs back with the `StreamedFile`/`AttachedFile` classes

[2018-09-27 13:56] jameskleeh commented on #631
@jespersm Yes you're correct, that should be changed. We'll discuss what to do

[2018-09-27 16:53] sdelamo opened #638 "Built-in endpoints not included in OpenApi generated yaml"
### Steps to Reproduce

1. Create an app `mn create-app example.micronaut.complete`
2. Add dependencies:

[code]

and `management` dependency

`compile 'io.micronaut:management'`

Annotate `Application.java`

[code]

Modify `application.yml`

[code]

Create a test which verifies `/health` exists.

[code]

Create a test which verifies `/health` appears as an open api path.

[code]

### Expected Beh

[2018-09-27 17:06] sdelamo opened #639 "Security controller paths not included in generated open-api yaml"
### Steps to Reproduce

1. Create an app `mn create-app example.micronaut.complete`
2. Add dependencies:

[code]

and `security-jwt'` dependency

`compile 'io.micronaut:security-jwt'`

Annotate `Application.java`

[code]

Modify `application.yml` to enable security endpioints and whitelabel the swagger endpoint.

[code]

Create a test which verifies `/login` exists.

[code]

Create a test which ve

[2018-09-27 17:15] graemerocher commented on #639
The `security` module would need to be compiled with the `openapi` module and include its own `security.yml` file to resolve this. Users could then access `/swagger/security-1.0.yml`

[2018-09-27 17:17] graemerocher commented on #638
The `management` module would need to be compiled with the `openapi` module and then expose a `/swagger/management-1.0.yml` file if it was active.

In addition support would need to be added to process `@Endpoint` definitions

[2018-09-27 19:56] jameskleeh commented on #627
@FrankEndriss I can't reproduce this. Are you behind a proxy?

[2018-09-28 10:58] lightoze opened #641 "Allow AnnotationMapper to work without loading annotation classes"
Currently annotation classes manipulated by `AnnotationMapper` have to be in annotation processor classpath. When such annotations are located in a dedicated JAR files with little extra dependencies (e.g. `javax.persistence:javax.persistence-api:2.2`) this is not a big problem. However sometimes annotations are part of a bigger artifact which makes annotation processor classpath unreasonably big.

[2018-09-28 10:59] graemerocher commented on #641
Fixed by https://github.com/micronaut-projects/micronaut-core/commit/4b1ce776a76397f8d97d3479db867b44c7935c85

[2018-09-28 10:59] #641 closed

[2018-09-28 19:59] RyanHoldren opened #643 "Two Cache-Control Headers For StreamedFile"
When I specify my own `Cache-Control` header in a controller endpoint that returns a `StreamedFile`, I end up with two headers.

### Steps to Reproduce

Make a controller endpoint than returns an `HttpResponse<StreamedFile>` that includes a `Cache-Control` header.

### Expected Behaviour

There should only be one `Cache-Control` header: the one explicitly added by the endpoint.

### Actual Behavio

[2018-09-29 15:59] goeh opened #644 "Improve extendability of DelegatingAuthenticationProvider"
I have a use-case where I had to copy `DelegatingAuthenticationProvider` and change only one line of code.

https://github.com/micronaut-projects/micronaut-core/blob/dc8c423be1979817c9c8f53440f3b87e775523b2/security/src/main/java/io/micronaut/security/authentication/providers/DelegatingAuthenticationProvider.java#L89

In my case I had to change `username` to `user.getUsername()` because my `UserFe

[2018-09-29 18:55] brandonlamb opened #645 "ConfigurationProperties breaks with env variables with digits"
Thanks for reporting an issue for Micronaut, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (http://stackoverflow.com/tags/micronaut) or Gitter (https://gitter

[2018-09-29 18:58] brandonlamb commented on #645
I swear I came across a similar issue on here, but cant remember how I came across it. Maybe this has been fixed in RC1?

`DB1_USER` and `DB2_USER` should both be valid environment variable names, yes?

[2018-09-30 06:53] goeh opened #647 "Upgrade hibernate-validator to 6.0.13.Final"
Micronaut uses **6.0.2.Final** while the current version is **6.0.13.Final**

Seems to be a lot of **JDK 11** fixes in later releases.

https://github.com/hibernate/hibernate-validator/blob/master/changelog.txt

[2018-09-30 07:57] #647 closed

[2018-09-30 11:33] goeh opened #649 "Not possible to use custom credentials class with Authenticator.authenticate()"
The `Authenticator` class use `UsernamePasswordCredentials` for the credentials when it really should be `AuthenticationRequest`.

https://github.com/micronaut-projects/micronaut-core/blob/16e8bebc7e9e7e26e030bad615804e891358ebef/security/src/main/java/io/micronaut/security/authentication/Authenticator.java

It's not possible to make a custom class that implements `AuthenticationRequest` without e

[2018-09-30 13:48] goeh opened #650 "Add support for OpenID Connect (OIDC)"
It would be nice if Micronaut supported OIDC compliant flows out of the box. That would make it easy to use external identity providers like Auth0 and Okta for authentication in Micronaut services.

OIDC Client support is priority 1, but it's also important to be able to create compliant authorization servers with Micronaut that expose public RSA keys (JWKS) for resource servers to use for signatu

[2018-09-30 13:58] graemerocher commented on #645
This was fixed by https://github.com/micronaut-projects/micronaut-core/pull/562

[2018-09-30 15:49] brandonlamb commented on #645
thanks!

[2018-09-30 15:49] #645 closed

[2018-10-01 10:30] graemerocher opened #651 "Custom scopes cannot be used as meta annotations"
Currently custom scopes cannot be used as meta annotations because the lookup logic doesn't take into account meta annotations when searching for the custom scope

[2018-10-01 10:33] #651 closed

[2018-10-01 10:59] sdelamo opened #652 "getHeaders().accept() does not return List of MediaType for comma separated string Accept"
[code]

`request.getHeaders().accept()` returns

![evaluate](https://user-images.githubusercontent.com/864788/46284842-9c5f3500-c579-11e8-9885-88fc33e0a39d.png)

It should return a List of media types:

`MediaType.TEXT_HTML_TYPE, MediaType.APPLICATION_XHTML_TYPE, MediaType.APPLICATION_XML_TYPE`

[2018-10-01 11:15] sdelamo opened #653 "Enhance @Error to be applied only if produces match"
You can create controller with a global `@Error` method which inspects the `Accept` header in the request to decide whether to respond HTML or JSON.

[code]

It would be nice to be able create two controllers:

[code]

and:

[code]

[2018-10-01 11:27] sdelamo opened #654 "@Error annotation does not work with @View"
This does not work:

[code]

Workaround:

[code]

[2018-10-01 12:36] charlvictor opened #655 "Resolution of annotationProcessorPath dependencies failed: Missing javax.persistence:javax.persistence-api:jar:1.0.0.RC1"
### Steps to Reproduce

Create an App using the CLI with the feature `hibernate-jpa` and build `maven`:
`mn create-app hibernate-jpa-app-vanilla --features hibernate-jpa --build maven`

Build the app:
`mvn clean package`

### Expected Behaviour

Build should be successful

### Actual Behaviour

Build fails with the following stacktrace:
[code]

When looking at the pom.xml, the problem seems to be

[2018-10-01 12:51] charlvictor commented on #655
Further Info:
The version is set correctly in the feature profile:
https://github.com/micronaut-projects/micronaut-profiles/blob/master/base/features/hibernate-jpa/feature.yml

But, the cli maven generator always uses `${micronaut.version}`:
https://github.com/micronaut-projects/micronaut-core/blob/master/cli/src/main/groovy/io/micronaut/cli/io/support/MavenBuildTokens.groovy#L141

[2018-10-01 13:07] wykapedia commented on #384
I may be interested in taking on part of this.  Do we have any structure or documentation to follow, or just winging it?

[2018-10-01 13:27] musketyr commented on #540
@drissamri you may find this library useful https://github.com/agorapulse/micronaut-libraries we faced the same issues

[2018-10-01 17:29] drmaas commented on #615
@graemerocher Here's a parser and renderer we use with https://ratpack.io. It is handled via content negotiation when parsing request data and sending response data. The parse does use reflection, and there may be better ways of doing this as well.

[code]

[code]

And the Message wrapper:
[code]

[2018-10-01 17:33] sdelamo opened #659 "ServerRequestContext.currentRequest() returns empty in a Filter which intercepts a @Client using Flowable."
The [TokenPropagationHttpClientFilter](
https://github.com/micronaut-projects/micronaut-core/blob/master/security/src/main/java/io/micronaut/security/token/propagation/TokenPropagationHttpClientFilter.java#L75) uses `ServerRequestContext.currentRequest()` to retrieve the original request and extract the token.

`ServerRequestContext.currentRequest()` is `Optional.empty()` if a client uses `Flowabl

[2018-10-01 18:57] goeh commented on #644
It was exactly what I had in mind! Bonus points for adding both `AuthenticationRequest` and `UserState` to the method, because in my use-case I need both. Now I only have to extend the class and override `createSuccessfulAuthenticationResponse()`. Thank you very much!

[2018-10-01 20:09] ctoestreich commented on #638
The piece that I am most curious about is making sure that

[code]

That static resources block portion ends up somewhere in the docs on how to expose your generated yaml.

[2018-10-02 06:08] #649 closed

[2018-10-02 06:10] #652 closed

[2018-10-02 06:11] #644 closed

[2018-10-02 07:30] ilopmar opened #663 "io.micronaut.graal.reflect.GraalClassLoadingAnalyzer doesn't generate working reflect.json with lambda function"
This is related to #582.

- Clone repo https://github.com/micronaut-guides/micronaut-function-aws-lambda
- Install Graal `sdk use java 1.0.0-rc6-graal`
- Install the SVM Dependency `mvn install:install-file -Dfile=${JAVA_HOME}/jre/lib/svm/builder/svm.jar -DgroupId=com.oracle.substratevm -DartifactId=svm -Dversion=GraalVM-1.0.0-rc6 -Dpackaging=jar`
- `cd complete/vies-vat-validator-graal`
- `./grad

[2018-10-02 08:02] sdelamo opened #664 "Exception is still logged, even when processed by @Error"
### Steps to Reproduce

1. Create an app. `mn create-app example.micronaut`
2. Add aditional dependencies:

[code]

Create a view `src/main/resources/views/bookscreate.vm`

[code]

Create a controller `src/main/java/example/micronaut/BookController.java`

[code]

The POJO passed to `BookController::save` looks like:

[code]

run the app and visit: `/books/create`.

<img width="739" alt="create_boo

[2018-10-02 08:19] sdelamo opened #665 "Document ExceptionHandler"
https://github.com/micronaut-projects/micronaut-core/blob/master/core/src/main/java/io/micronaut/core/exceptions/ExceptionHandler.java

[2018-10-02 09:32] #665 closed

[2018-10-02 11:39] vnesek opened #668 "Custom private claims in generated JWT token"
I've got requirements to include some custom claims in JWT token.
For example, I must include authenticated user's ID and profile image link.

I've implemented UserFetcher, AuthoritiesFetcher and overridden JWTClaimsSetGenerator::populateWithUserDetails to include out private claims. To pass additional info from UserFetcher to ClaimsSetGenerator I had to subclass UserState and UserDetails and then

[2018-10-02 11:51] adrien-bonnin-cbp opened #669 "body of response in HttpClientResponseException can't be parsed"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a @Controller with a method that return a bad request with a ***custom body***
(ex: `def response = HttpResponse.badRequest(error)`)
2. Create a @Client that c

[2018-10-02 12:09] graemerocher commented on #669
This is not actually a bug, there was previously a bug where it was possible to access the body for a random period until it was GC'ed by Netty which was fixed. When you do:

[code]

It is not possible to retrieve the body because it has been cleaned up already as the request has terminated and Micronaut cannot convert a body that is not there.

To help with this issue in RC1 you can declare an er

[2018-10-02 12:09] #669 closed

[2018-10-02 12:37] adrien-bonnin-cbp commented on #669
Thank you 😄

The correct `@Client` syntax is :
[code]

An example can be found in tests :
https://github.com/micronaut-projects/micronaut-core/blob/master/http-client/src/test/groovy/io/micronaut/http/client/CustomErrorTypeSpec.groovy

[2018-10-02 12:42] gillius opened #670 "mn cli: blue text is very hard to read"
Please select an easier-to-read color (or better, no color at all) for the default text in mn cli, rather than dark blue.

### Steps to Reproduce

1. Run Micronaut cli (mn)

### Expected Behaviour

Output can be read

### Actual Behaviour

Dark blue text results, which on a common black terminal background is nearly impossible to read.

### Environment Information

- **Operating System**: Windows

[2018-10-02 13:53] sdelamo commented on #668
I've made more extensible  `DelegatingAuthenticationProvider` here:

https://github.com/micronaut-projects/micronaut-core/commit/445b37363b41de9c3234afd4f4175aff8381b2d4

That will be shipped in RC2.

With that change if you wanted to include the email address in the claim you will do:

[code]

[code]

[code]

You could do a test to validate the claims are there:

[code]

I will consider this flex

[2018-10-02 13:54] sdelamo commented on #668
I've pushed a branch with that sample code here:

https://github.com/micronaut-guides/micronaut-database-authentication-provider-groovy/tree/custom-claim

[2018-10-02 14:50] vnesek commented on #668
Almost the same code as I did.

IMHO I would prefer to extend UserState and UserDetails with extra info map and not requiring API users to subclass UserState, UsesDetails, DelegatingAuthenticationProvider and JWTClaimsSetGenerator.

That way user would only subclass JWTClaimsSetGenerator. Perhaps event adding interface for JWT claim customization:

[code]

[2018-10-02 20:17] #670 closed

[2018-10-02 20:51] #655 closed

[2018-10-02 20:54] jameskleeh commented on #616
Closing due to lack of feedback

[2018-10-02 20:54] #616 closed

[2018-10-03 05:53] #664 closed

[2018-10-03 08:47] graemerocher opened #674 "@ConfigurationBuilder generates byte code incompatible with GraalVM"
See https://github.com/oracle/graal/issues/698

[2018-10-03 08:56] graemerocher opened #675 "Scala Support: Add a scala compiler plugin"
Scala doesn't currently support Java's Annotation Processing API, instead they have a compiler plugin API.

The Micronaut team has no Scala experts as committers, this issue is here to track the fact this is a desired feature, that we are currently looking help for from the Scala community to implement.

For reference Groovy doesn't support APT either, only Kotlin and Java do. The Groovy implement

[2018-10-03 09:15] graemerocher opened #676 "Groovy compiler sometimes initialises SLF4J"
The `inject-groovy` implementation is sometimes initialising SLF4J with the message:

[code]

During compilation.

### Steps to Reproduce

It is happening when compiling our own tests.

### Expected Behaviour

SL4J should not be initialised during compilation

### Actual Behaviour

SL4J is initialised during compilation

[2018-10-03 12:06] #674 closed

[2018-10-03 14:06] ilopmar opened #677 "Runtime error with Graal and Security module"
- Clone this repo: https://github.com/ilopmar/micronaut-security-jwt-graal based on the official guide
- Execute `./build-native-image.sh`
- The process fails with the error:
[code]

- Add `compile 'javax.money:money-api:1.0.3'` and run it again. Now it fails with:
[code]
- Add `compile 'joda-time:joda-time:2.10'` and now the image is created correctly.
- Run the native image: `./mn-security` and

[2018-10-03 14:09] graemerocher commented on #677
The previous issues are related to `hibernate-validator`, we should maybe report those to the Graal issue tracker.  The last issue we can fix

[2018-10-03 14:12] ilopmar commented on #677
I'll report the issue.

[2018-10-03 15:46] #659 closed

[2018-10-03 16:01] musketyr opened #679 "CompositeQualifiers reuses stream"
`CompositeQualifier` made by `Qualifiers.byQualifiers` does not work at the moment as it reduces the same stream causing the following exception:

[code]

### Steps to Reproduce

[code]

### Expected Behaviour

The test passes.

### Actual Behaviour

Exception is thrown instead

### Environment Information
- **Micronaut Version:** 1.0.0.RC1
- **JDK Version:** 1.8

[2018-10-03 19:39] ctoestreich opened #680 "Postgres Reactive & Netty Compatibility Broken"
When including the

[code]

There appears to be a breaking netty dependency on netty-common 4.19.0 which causes:

[code]

Upon inspecting the dependency tree it looks like the following (some removed).

[code]

To get server to run I had to do

[code]

[2018-10-04 03:36] jameskleeh opened #681 "CLI generates app with both jdbc-tomcat and jdbc-hikari"
https://stackoverflow.com/questions/52633597/micronaut-1-0-rc1-with-plain-hibernate-jpa-fails-at-startup/52637738#52637738

`mn create-app test --features jdbc-hikari,hibernate-jpa`

An exception is caused on startup because the same instance of `SessionFactoryBuilder` is injected in here https://github.com/micronaut-projects/micronaut-core/blob/7dd14a2e1465cee0e7207338ffb5693d764b3ea2/configurati

[2018-10-04 03:55] jameskleeh commented on #679
@musketyr I've added tests to `inject-java` and `inject-groovy` that follows your example and the tests pass. https://github.com/micronaut-projects/micronaut-core/commit/c96ee33ef21df3ecfd785ea066e1328aa6618e82

If you can tell me what needs to be different about the test to cause it to fail, I'd be happy to take another look.

[2018-10-04 04:12] jameskleeh commented on #680
This is due to an internal api change https://github.com/netty/netty/commit/e72c197aa3a88e97c10793ee7870775ab8807f92 combined with different parts of netty being loaded with different versions. I think simply excluding netty-common may allow this to work, but every netty dependency should be on the same version. For example I think `netty-codec-http2` will still be using `4.1.19` with the change y

[2018-10-04 04:14] jameskleeh commented on #680
@graemerocher Perhaps we should discuss shadowing netty or including some mechanism to force the version in apps

[2018-10-04 05:32] graemerocher commented on #679
I believe I fixed this in master with 2c62b4afbd09198cb51605074761e61a4e4216f0

Thanks for the test

[2018-10-04 05:32] #679 closed

[2018-10-04 05:36] musketyr commented on #679
Yes @graemerocher, I can see a fix in there. Thank you @jameskleeh for the tests and for thanks both for fast response!

[2018-10-04 07:17] ilopmar commented on #677
More info about the issue with `hibernate-validator`.
TLDR: The workaround at this moment is add the missing dependencies to the classpath.

https://github.com/oracle/graal/issues/705#issuecomment-426768128

[2018-10-04 08:11] ilopmar opened #682 "Error trying to create native image with Graal-rc7"
This works with Graal-rc6 and Micronaut RC1 but fails with Graal-rc7 and Micronaut RC1 and latest snapshot.

- Clone this repo: https://github.com/micronaut-guides/micronaut-creating-first-graal-app
- Make sure you are using Graal-rc7
- `cd complete`
- `./build-native-image.sh`
- The process fails with:
[code]

[2018-10-04 08:12] graemerocher commented on #682
See https://github.com/oracle/graal/issues/713

[2018-10-04 11:32] sdelamo opened #683 "ServerRequestContext.currentRequest() does not return original request in multiple request flow"
A request engaging multiple services is only able to resolve the original request in the call to the first collaborator.

Relates to: https://github.com/micronaut-projects/micronaut-core/issues/659

### Steps to Reproduce

- 1. Clone branch issue-659-multiple-requests
- 2. Execute test `io.micronaut.security.token.propagation.TokenPropagationSpec`test fails.
- 3. Place a breakpoint in `io.micronau

[2018-10-04 12:48] #677 closed

[2018-10-04 13:51] jameskleeh commented on #636
Closing due to lack of feedback

[2018-10-04 13:51] #636 closed

[2018-10-04 13:56] jameskleeh commented on #627
@FrankEndriss If you have a local copy of the profiles then it would make sense that a snapshot version of the CLI would work since it falls back to local versions if remote ones cannot be found.

The "unable to find valid certification path to requested target" comes from trying to make requests to resolve binaries for the profile. You can debug https://github.com/micronaut-projects/micronaut-cor

[2018-10-04 14:00] graemerocher commented on #384
@wykapedia probably not until early next year

[2018-10-04 15:12] ilopmar opened #684 "Graal native image hangs with Micronaut security"
This is related to #677

- Use Graal-RC6
- Clone the repo: https://github.com/ilopmar/micronaut-security-jwt-graal
- Start the app with `./gradlew run`
- Send the request: `curl -X POST -H "Content-Type:application/json" -d '{"username":"sherlock","password":"password"}' http://localhost:8080/login`
- The bearer token is generated and returned and this is the output in the console:
[code]

- Execu

[2018-10-04 15:47] ilopmar commented on #663
I've tried building the latest snapshot and the error is the same. The detailed exception is:
[code]

Now the diff between `reflect.json` files is:
[code]

[2018-10-04 17:40] graemerocher commented on #684
Following the above commit the internal issues with Micronaut are resolved, however it still doesn't work with the exception being:

[code]

Which seems to be an incompatibility with Hibernate validator. We should report the issue to the Graal issue tracker.

[2018-10-04 18:48] saw303 opened #685 "Blank Micronaut 1.0 RC1 does not run in IntelliJ"
I have created a blank app using Micronaut 1.0.RC1 and CLI command

    mn create-app sillynaut --profile service \
       --features java,spock,jdbc-hikari,hibernate-jpa,jib

After importing the project into IntelliJ 2018.2.4 I tried to start the Application by running the main method of the `Application` class.

    /Library/Java/JavaVirtualMachines/jdk1.8.0_161.jdk/Contents/Home/bin/java "-java

[2018-10-04 20:11] #654 closed

[2018-10-04 21:55] jexp opened #686 "graal-native-image + kotlin with gradle 4.10 wrong build.gradle order"
[code]

I had to fix the build.gradle for it to compile. Move the plugins {} block after buildscripts block

[code]

[2018-10-04 21:56] jexp commented on #686
fixed build.gradle

[code]

[2018-10-05 00:42] RaviH opened #687 "Netflix archaius is not picking up properties from config.properties"
I have attached a sample project. Micronaut doesn't seem to work with netflix-archaius as expected.

### Steps to Reproduce

a. You can either unzip the project or execute this command:

`mn create-app --features annotation-api,netflix-archaius,http-server --lang java --build maven archaius-example`

b. Create a controller like:
[code]
c. Add config.properties:
[code]

d. Execute `curl "http://loc

[2018-10-05 01:00] jameskleeh commented on #687
@RaviH This doesn't have anything to do with archaius as far as I can tell. The config file must be named `application.properties`.

[2018-10-05 01:05] #687 closed

[2018-10-05 01:11] jameskleeh commented on #686
@jexp Did you try this with RC1? It works for me:

[code]

[2018-10-05 01:29] #680 closed

[2018-10-05 01:35] RaviH commented on #687
Hey James ,

That's not my understanding. One can work with Netflix archaius in 2 ways:

A. Add a file called config.properties
B. Provide additional config url property as a system property.

https://github.com/Netflix/archaius/wiki/Getting-Started

As a matter of fact when I trace the logs, it is registering those 2 locations.

It's just that the property is not set when I read it in micronaut.

[2018-10-05 02:06] jameskleeh commented on #687
@RaviH There is one other option, which is to load the property source yourself as part of starting the app. Something like this:

[code]

[2018-10-05 02:40] RaviH commented on #687
@jameskleeh Thank you for looking into this. My problem is we use netflix-archaius which in summary reloads the config every configurable seconds from a url which we provide via `-Darchaius.configurationSource.additionalUrls=http://configservice/servicename`

This would be a deal breaker for my team. We need Netflix Archaius to work seamlessly. Would there be a way to load from a URL? Conversely,

[2018-10-05 03:10] jameskleeh commented on #687
@RaviH I don't know how that relates to a `config.properties`, however yes you can read config from a remote source. Register a bean that implements https://github.com/micronaut-projects/micronaut-core/blob/master/inject/src/main/java/io/micronaut/context/env/BootstrapPropertySourceLocator.java

[2018-10-05 03:31] RaviH commented on #687
@jameskleeh I think something's getting lost in translation.

Let me provide more details.

I have been using netflix-archaius for a bit so here’s what I know and based on netflix-archaius docs too:

In addition, you can define a system property “archaius.configurationSource.additionalUrls” that contains the URL path to a local configuration file. For example, add this to your application start up

[2018-10-05 03:47] RaviH commented on #687
Furthermore, I did some debugging and I can promise `config.properties` is being read:

![image](https://user-images.githubusercontent.com/141136/46514961-da788500-c815-11e8-8209-63ebeac22e99.png)

I checked right after the properties are loaded from config.properties

And than, right at this point, the properties disappear. And, hence the issue is a _possible_ bug because after loading this class

[2018-10-05 04:12] RaviH commented on #687
Something funky is happening with `EnvironmentConfiguration`. This is the class that’s supposed to link with archaius `AbstractConfiguration`. It almost feels like there's some config I need to set.

@graemerocher I don't want to be impolite by including you directly, but I seriously think I am missing something. The way it's setup (by debugging through the code), it's supposed to work seamlessly.

[2018-10-05 07:12] sdelamo commented on #668
@vnesek creating a `CustomJWTClaimsPopulator` will work as well.  However, It will be more or less the same code than replacing the bean `JWTClaimsSetGenerator` with a bean which extends `JWTClaimsSetGenerator`. Apart from `populateWithUserDetails`, there are many methods which a user may want to override in `JWTClaimsSetGenerator`:

- `populateIss`
- `populateSub`
- `populateAud`
- `populateExp`

[2018-10-05 07:16] jexp commented on #686
Yup, with RC1. Glad it works for you.

Not sure where that gradle error message comes from.

https://stackoverflow.com/questions/48610901/only-build-script-and-other-plugins-script-blocks-are-allowed-before-plugins

[2018-10-05 07:17] sdelamo commented on #668
Also, I have improved `DelegatingAuthenticationProvider` extendibility:

Now you will only need to override this method:

[code]

[2018-10-05 07:17] jexp commented on #686
Ah it could have been that I created the initial project with M4 and then only pulled the RC1 update after it complained to not find the graal feature. And I might have forgotten to delete the directory.

[2018-10-05 07:28] sdelamo commented on #668
Regarding adding a `info` map .

Although, I see the benefits which you describe, I am wary of adding a map because I have seen maps being abused and this could lead into problems.

For now, I am going to change this issue as a documentation issue. I will add an specific section to the documentation about JWT claims overriding.

That said, Thanks for the feedback @vnesek really valuable.

[2018-10-05 07:29] jameskleeh commented on #687
@RaviH You are confusing micronaut config with archaius config. Archaius is apparently loading `config.properties` as designed and shown in your debugging. That has nothing to do with Micronaut at all.

In your original example you were trying to use data from `config.properties` in a **Micronaut** bean, which as I've said will not be read by **Micronaut** by default:
[code]

[2018-10-05 07:54] #668 closed

[2018-10-05 07:55] graemerocher commented on #687
@RaviH  the idea behind `EnvironmentDeploymentContext` is that it delegates to Micronaut's environment and configuration concept so that you can configure Netflix components with Micronaut's `application.yml` and have them refreshed when `RefreshEvent` is triggered.

What this means is that you let Micronaut be in charge of loading and refreshing configuration. You can do what you want by simplify

[2018-10-05 08:31] #663 closed

[2018-10-05 09:01] graemerocher commented on #682
Fixed by 5dd0dc55e97bf534ec8bb8f6a31163558c3564be

[2018-10-05 09:01] #682 closed

[2018-10-05 09:35] graemerocher commented on #684
Reported https://github.com/oracle/graal/issues/718

[2018-10-05 09:54] #685 closed

[2018-10-05 09:54] graemerocher commented on #685
Seems Gradle updated the scopes without the IDE support catching up, we will go back to `compile`, `testCompile` and `runtime` until these issues are resolved

[2018-10-05 10:09] graemerocher commented on #676
This is more complicated then anticipated. Seems we need to use `ClassNodeResolver` to resolve stubs and avoid class initialisation. Needs dicussion

[2018-10-05 10:41] josear opened #688 "JWT validation with RSA (or other asymmetric key algorithms)"
I'm implementing JWT validation on a REST server (JWT tickets are generated elsewhere). I'm a bit surprised the `RSASignatureConfiguration` requires the private key too. Private key is needed on generators but not on validators. Currently I implemented it with a `SignatureConfiguration` that returns a fake private key. It works but I wonder if I'm using the right interface or that's the way it is.

[2018-10-05 12:26] jespersm opened #690 "HttpRequest with reactive stream responses from Controllers aren't sent"
### Steps to Reproduce

Define a Controller in a project with , and add the following methods:

[code]

Start Micronaut, and hit the two controllers with any HTTP client, such as a browser.

### Expected Behaviour

Both endpoints should show a string containing the numbers 1 .. 100.

### Actual Behaviour

/bigResponseA shows a string containing the numbers 1 .. 100.
/bigResponseB pauses until the

[2018-10-05 12:28] #683 closed

[2018-10-05 14:18] bmuschko commented on #685
I see the correct JARs listed under "External Libraries". I don't think this is an issue with resolving the dependencies per se with the "new" Gradle configurations.

You can work around the issue by enabling "Delegate IDE build/run actions to gradle" under Preferences... > Build, Execution, Deployment > Gradle > Runner.

[2018-10-05 14:21] graemerocher commented on #685
@bmuschko That is not a great solution, running tests via Gradle is slower and less productive than running them via the IDE.

I do wish Gradle considered IDE support more closely when making changes, this combined with https://github.com/gradle/gradle/issues/6227 are very painful

[2018-10-05 14:57] jameskleeh commented on #686
@jexp I think that is a good suggestion, done

https://github.com/micronaut-projects/micronaut-core/commit/606b072b3a943a2238fca2c6d59750871213de6a

[2018-10-05 14:57] #686 closed

[2018-10-05 15:59] #627 closed

[2018-10-05 16:02] jameskleeh commented on #585
Closing this due to lack of feedback

[2018-10-05 16:02] #585 closed

[2018-10-05 16:52] josear commented on #688
Currently I'm reading the keys like this (currently an spike, not production code):
[code]

[2018-10-05 18:52] javajack commented on #517
What original poster wants is an architectural solution that merges a smart monolithic.

A monolith that has spring boot profiles like switch to enable different set of APIs from same deployment.

As far as his exact requirements is concerned, I believe one shall not go into touching servlet API for the sake of deployment of wars.

I believe his probable solution is Armeria Microservice Framework

[2018-10-05 20:06] RaviH commented on #687
@graemerocher That information is super useful. I have created a small library that does just that. And, it works perfectly with archaius now; meaning I can use `DynamicPropertyFactory` to get the new values!

The issue that I am currently having (in the library) is: it's not updating micronaut property values, even though I publish the `RefreshEvent`. This is probably because of `No beans found f

[2018-10-05 22:33] jespersm commented on #690
Fantastic!

[2018-10-06 12:16] goeh opened #691 "UP state not sent to Eureka after client was temporary DOWN"
If a Micronaut service is temporary DOWN it will never return to UP state in Eureka, even though all health checks reports UP. I think the status change from DOWN to UP is never sent to Eureka
 If I restart the unstable service it's reported UP by Eureka,

### Steps to Reproduce

1. Start a Micronaut discovery client and it will appear in Eureka dashboard as UP
2. Make the service health check rep

[2018-10-06 14:05] goeh commented on #691
@graemerocher were right on gitter. `eurekaClient.updateStatus()` is only called when health status != UP. When it is UP  only heartbeats are sent.

https://github.com/micronaut-projects/micronaut-core/blob/b84ecf20d6346b86477afa2fc5d07e0d0b646cd1/discovery-client/src/main/java/io/micronaut/discovery/eureka/registration/EurekaAutoRegistration.java#L113

[2018-10-06 14:34] jespersm commented on #690
I tried it with the controller above, and the result was not quite as expected - I got an empty response (could be that streaming JSON objects is handled differently than a plain text stream). I'll try to put a patch together to fix the issue, or at least reproduce it more explicitly.

[2018-10-06 16:15] goeh opened #692 "IllegalArgumentException: VoidChannelPromise not allowed for this operation"
WORK IN PROGRESS

I created this issue to track down an exception I get in a Micronaut service that is part of a larger system. I tried to create a simple application to isolate the problem but that app works ok
 I have seen this exception in more than one service.
Once a service throws this exception it's DOWN forever in Eureka, but that's related to issue #691

I will add information to this iss

[2018-10-06 17:13] goeh opened #693 "Wrong serviceId in AbstractEurekaClient"
`NameUtils#hyphenate(String)` mess up strings that include digits.

https://github.com/micronaut-projects/micronaut-core/blob/711f953ebfff88777ed00902e04a314f08c0e4fe/discovery-client/src/main/java/io/micronaut/discovery/eureka/client/v2/AbstractEurekaClient.java#L85

### Steps to Reproduce

1. Have a service name that includes digits (gr8crm-notification-service)
2. Make it a Eureka discovery cli

[2018-10-06 21:31] goeh commented on #693
Service discovery works fine now after I patched my local copy of NameUtils.java, but I'm not sure if that's the right fix. I changed line 344 to
[code]

https://github.com/micronaut-projects/micronaut-core/blob/master/core/src/main/java/io/micronaut/core/naming/NameUtils.java#L344

It still cannot handle the following name correct: `Gr8Stuff`. I expect it to be hyphenated to `gr8-stuff` but the r

[2018-10-07 02:05] RaviH opened #694 "Error compiling a simple HelloController with Spock tests due to groovy-eclipse-compiler plugin"
There seems to be some issue with main code in Java and groovy test code.

I get compilation error:

[code]

### Steps to Reproduce

1. Run `mvn clean verify` on the attached project [micronaut-ribbon-example2.zip](https://github.com/micronaut-projects/micronaut-core/files/2453565/micronaut-ribbon-example2.zip)

This is how I created the project:

`mn create-app --features annotation-api,spock,net

[2018-10-07 02:32] RaviH opened #695 "Get Failed to inject value for parameter [jsonMediaTypeCodec] of class: io.micronaut.http.client.interceptor.HttpClientIntroductionAdvice(..)"
### Steps to Reproduce

1. Run `mvn clean verify` in attached project:  [micronaut-ribbon-example2.zip](https://github.com/micronaut-projects/micronaut-core/files/2453571/micronaut-ribbon-example2.zip)

### Stacktrace:

[code]

### Expected Behaviour

Should _not_ get `Get Failed to inject value for parameter [jsonMediaTypeCodec] of class: io.micronaut.http.client.interceptor.HttpClientIntroductio

[2018-10-07 06:45] jespersm commented on #690
Oh, it actually responded with "200 Ok" in text, as if it turned the HttpResponse into a String.

[2018-10-07 07:05] graemerocher commented on #692
@goeh once the build completes can you try master? I can't reproduce so your feedback will be welcome. Seems there is some idle http client connection that isn't being closed correctly

[2018-10-07 07:11] jespersm commented on #690
And I just checked, it didn't return the header, either.

[2018-10-07 07:17] jespersm commented on #690
Rambling: Looking at the server code, it's pretty difficult to see what produces the 'pivot'-point (where the response headers are known), and what produces the body content, if reactive.
I'm thinking if may be easier to find out what is going on if that is made more explicit.

[2018-10-07 07:37] RaviH opened #696 "[Suggestion] Please mirror ribbon configuration name/style so users of micronaut don't have to learn a new config system for ribbon"
From conversation on Gitter with @graemerocher

How to set ribbon properties? Ribbon's doc itself says: https://github.com/Netflix/ribbon/wiki/Getting-Started

For example: sample-client.ribbon.listOfServers=www.microsoft.com:80,www.yahoo.com:80,www.google.com:80 from the above page.

Let's say my client id is `helloservice`. Shouldn't `helloservice.ribbon.listOfServers=localhost:8090` work?

I ti

[2018-10-07 07:50] RaviH opened #697 "ribbon.clients.clientid.list-of-servers doesn't work"
### Steps to Reproduce

1. Unzip the project and run `mvn clean verify`
[micronaut-lineup-proxy-service.zip](https://github.com/micronaut-projects/micronaut-core/files/2453697/micronaut-lineup-proxy-service.zip)

### Expected Behaviour

Test should pass.

### Actual Behaviour

Tell do not pass because of: `Load balancer does not have available server for client: lineupproxyservice`. However tests

[2018-10-07 08:07] goeh commented on #692
Initial tests look very promising! Now I don't get any exceptions. But all services are UP. Later today I will try to force a service to DOWN and see if can trigger the exception.

[2018-10-07 09:29] jespersm commented on #690
Diff for failing test on master

[code]

[2018-10-07 20:45] goeh commented on #692
@graemerocher I think you can close this as fixed. I have a few Eureka/discovery issues that disturbs my testing (some reported, some need more investigation), but I've never seen the VoidChannelPromise message after your fix. Thanks!

[2018-10-07 21:07] goeh commented on #691
I'm not sure this is related or a separate issue, but I've seen some log output that makes me wonder.
Somehow one of my services is not registered in Eureka even though it's up. I'm not sure it was registered first and then removed because it was DOWN too long, or if it never could register from the beginning. Anyway the service is up and tries to report it's status to Eureka. But since the servic

[2018-10-07 22:01] djeverson opened #698 "Hibernate/JPA Native Query"
I am moving some "legacy" JPA code into Micronaut, so far pretty impressed.

Using RC1, MySQL, JDK 8, MacOS

I am having an issue making native query calls, however.

Here's the method:
[code]

The following error occurs on the em.createNativeQuery() line:
[code]

Anybody have any insight on what the issue might be?

Thanks!
Dave

[2018-10-07 23:50] hampsterx opened #699 "openAPI and HttpResponse"
openAPI support is great but stuck on a couple of issues, note: I am new to kotlin and Java is not my strongpoint either so forgive me if there is an easy workaround for this issue.

### Steps to Reproduce
[code]
[code]

This works as expected.

[code]

However when HttpResponse is returned:

[code]

We now get the HttpResponse Object instead of our actual object

[code]

### Expected Behaviour

S

[2018-10-08 00:16] hampsterx opened #700 "openAPI and Generics"
openAPI support is great but stuck on a couple of issues, note: I am new to kotlin and Java is not my strongpoint either so forgive me if there is an easy workaround for this issue.

Note: May be same issue / and or is related to #699

This is probably more a heads up to openAPI 3 capability than an issue with micronaut. Just I spent some time researching it so might be of use to others and I know

[2018-10-08 07:34] graemerocher commented on #694
This is a known issue and a bug in the `groovy-eclipse-compiler` for Maven

[2018-10-08 07:37] graemerocher commented on #698
I added a test for this, so it is working on core, the most likely reason you have this error is you are using an older version of Hibernate. If you upgrade to Hibernate 5.3+ (which Micronaut is compiled against) you will not encounter this issue.

[2018-10-08 07:51] sdelamo opened #701 "Handle empty file supplied for CompletedFileUpload"
If you have a form:

[code]
and an action:

[code]

If the user submits the form without supplying a file, I believe the best way to detect that no file was supplied is to check wether `file.getFilename().equals("")`.

I believe we should trigger an exception. Maybe a `ConstraintViolationException`.

### Workaround

You can annotate the controller with `@Validated` and the method with `@Valid` and

[2018-10-08 07:56] #692 closed

[2018-10-08 08:09] #693 closed

[2018-10-08 08:39] #695 closed

[2018-10-08 08:40] graemerocher commented on #695
This is resolved in master, the actual root cause of the issue is that you had an older version of `Jackson` on your class path that was pulled in by the wire mock stuff. See `mvn dependency:tree` for information.

[2018-10-08 08:59] #691 closed

[2018-10-08 10:00] #696 closed

[2018-10-08 10:01] #697 closed

[2018-10-08 10:36] djeverson commented on #698
I am using 5.3.6.Final and am encountering this issue:
[code]

[2018-10-08 10:37] goeh opened #702 "Incorrect hyphenation when service request app status from Eureka"
When a service gets the list of all services from Eureka with GET /eureka/apps the response is ok, but then the service tries to get the status of each service the service name is incorrectly hyphenated and the response is 404.

The service issues a GET /eureka/apps to get a list of all registered apps.
The response includes correct service names (gr8crm-tag-service):
[code]

Bu then the service i

[2018-10-08 10:38] graemerocher commented on #698
@djeverson What issue specifically? That is just printing the Hibernate version?

[2018-10-08 10:41] djeverson commented on #698
@graemerocher See #698, it is the issue that I submitted regarding nativequery support.  You mentioned that it is not a bug if I use Hibernate 5.3+.  I am using 5.3.6.Final and getting the error.

[2018-10-08 10:42] graemerocher commented on #698
@djeverson please upload an example that reproduces the error

[2018-10-08 10:48] goeh commented on #702
One thing that I find strange is that because the calling service gets a 404 response from Eureka the calling service reports DOWN to Eureka.
Example: gr8crm-notification-service issues an invalid URL to Eureka `GET /eureka/apps/gr8-crm-tag-service`. After that the notification service reports itself DOWN. The notification service is not even dependent/using the tag service so it's kind of sad tha

[2018-10-08 10:50] #699 closed

[2018-10-08 11:06] ilopmar opened #703 "Inserting POJO using mongo-reactive doesn't set the id"
According to [quick-start-pojo](http://mongodb.github.io/mongo-java-driver/3.8/driver/getting-started/quick-start-pojo/) and [bson-pojos](http://mongodb.github.io/mongo-java-driver/3.8/bson/pojos/) to automatically convert mongo documents to POJOs we need to:
- Register a PojoCodecProvider. Done here: https://github.com/micronaut-projects/micronaut-core/blob/e97b8e0759231765ceb07d75eb100edce5fbf51

[2018-10-08 12:37] ilopmar commented on #703
I'm not sure, maybe the user needs to do it manually, I'm not sure.

Btw @goeh how do you retrieve only the `_id` back in the json? If manually set the id, store the object and render the `user` instance I get something like:
[code]

Instead of
[code]

Because jackson is converting the whole `ObjectId` object instead of executing `toString()` on it.

[2018-10-08 12:40] graemerocher commented on #703
IMO nothing we can do about this. Micronaut shouldn't get involved in settings ids and this is down to how the driver works

[2018-10-08 12:42] goeh commented on #703
I declare id as ObjectId in the POJO, then pojo.setId(new ObjectId()) before insert.

[2018-10-08 12:46] ilopmar commented on #703
@goeh Yes, `pojo.getId()` returns the `_id` but rendering the pojo doesn't.

[2018-10-08 12:47] ilopmar commented on #703
@graemerocher maybe we can add some kind of support like Spring Data Mongo so the users don't need to manually deal with the `_id`. Maybe annotate the id field with `@MongoId` or similar and let Micronaut to set the id automatically.

[2018-10-08 12:58] graemerocher commented on #702
I have added a test for this (see commit above) and I cannot reproduce. Please provide an example.

[2018-10-08 12:58] graemerocher commented on #703
Maybe, but not for 1.0

[2018-10-08 13:31] #690 closed

[2018-10-08 13:49] jameskleeh commented on #701
@sdelamo It should throw an unsatisifed exception

[2018-10-08 14:39] goeh commented on #702
The problem is visible in https://github.com/goeh/micronaut-health-issue
[code]
After 1-2 minutes you can see:
[code]
The **hello** service requests status for service **gr8-crm-service** from Eureka. But the correct service name is **gr8crm-service**.

[2018-10-08 16:14] djeverson commented on #698
[698-hello-world.zip](https://github.com/micronaut-projects/micronaut-core/files/2456747/698-hello-world.zip)

[2018-10-08 16:15] djeverson commented on #698
I created a project that reproduces this issue (#698 - NativeQuery Support)

[2018-10-08 17:37] andyislegend opened #707 "Create-app CLI command fails on providing default package name"
### Steps to Reproduce

### Expected Behaviour

According to [docs](https://docs.micronaut.io/latest/guide/index.html#createProject)

### Actual Behaviour

`| Error Application name should be all lower case and separated by underscores. For example: hello-world`

<img width="1273" alt="mn_fails" src="https://user-images.githubusercontent.com/8747026/46624518-aebd0e00-cb39-11e8-8b1d-017f3e06151d.pn

[2018-10-08 18:58] goeh commented on #702
I think I found the problem!

In my `application.yml` I have:
[code]
The setter in ApplicationConfiguration hyphenates the value so the name gets converted to **gr8-crm-notification-service**.

https://github.com/micronaut-projects/micronaut-core/blob/b2493d1175df73c3427522886a8d6255f46dee5c/runtime/src/main/java/io/micronaut/runtime/ApplicationConfiguration.java#L89

[2018-10-08 19:03] goeh commented on #702
Maybe I should remove the '8' in all my service names!  :)

[2018-10-08 19:21] goeh commented on #702
My wrong! That was not the problem. The recent fix handles that application name correct.

[2018-10-08 19:25] goeh commented on #702
Maybe the problem is that Eureka returns the application name  / service id in uppercase. And the hyphenate method in NameUtils matches lowercase only.

[2018-10-08 19:41] graemerocher commented on #702
That could be it

[2018-10-09 07:43] goeh commented on #702
@graemerocher When you look at this issue you should know that there is another problem that I have not yet reported (because I need more time to investigate). And that is I have to have an **alias** with the hostname in uppercase in my docker-compose.yml. Otherwise I get "no such host: GR8CRM-NOTIFICATION-SERVICE" when Spring Cloud Gateway try to route requests to the service. I guess this upperc

[2018-10-09 07:58] adrien-bonnin-cbp opened #708 "OpenAPI and @Error local error handling"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a controller method with a `@Error` annotation for local error handling :
https://docs.micronaut.io/latest/guide/index.html#_local_error_handling
[code]
2. Add

[2018-10-09 08:06] adrien-bonnin-cbp commented on #708
I have just seen that a RC2 version has been released, I'm checking the issue on it

[2018-10-09 08:15] adrien-bonnin-cbp commented on #708
The issue still exists on RC2, the example application has been updated

[2018-10-09 08:20] goeh commented on #702
I temporary removed the '8' from all of my (10) service names and now my cluster finally looks functional (no exceptions, all services UP, etc). I have one more service to migrate before I can verify the whole system in action.

[2018-10-09 08:30] #688 closed

[2018-10-09 08:49] adrien-bonnin-cbp commented on #708
Thank you 😄

[2018-10-09 09:37] adrien-bonnin-cbp opened #709 "OpenAPI doesn't generate documentation on Groovy project"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a _Groovy_ application with _Swagger_ feature :
[code]
2. Add `OpenAPIDefinition` annotation to the `Application` class.
https://docs.micronaut.io/latest/guide

[2018-10-09 10:08] sdelamo commented on #701
@jameskleeh I've uploaded a geb test which reproduces that no failure is triggered.

You can run it with:

`./gradlew -Dgeb.env=chrome test-suite:test --tests io.micronaut.upload.browser.UploadBrowserSpec`

[2018-10-09 11:54] #698 closed

[2018-10-09 11:54] graemerocher commented on #698
@djeverson Thanks for the report, I got to the bottom of it.

[2018-10-09 12:38] #709 closed

[2018-10-09 12:41] graemerocher commented on #510
Closing due to lack of sample, if you come up with one let us know

[2018-10-09 12:41] #510 closed

[2018-10-09 12:55] #707 closed

[2018-10-09 13:18] #708 closed

[2018-10-09 15:02] #702 closed

[2018-10-09 15:02] graemerocher commented on #702
@goeh Please try master when you can. Thx

[2018-10-09 18:11] goeh commented on #702
Thanks! Now it works.

Getting status for gr8crm-xxxxxx-service now uses correct service name.

But there is still one other problem to solve before I can be completely happy. I'll report that in a new issue.

[2018-10-09 18:46] goeh opened #710 "UPPERCASE hostname registered in Eureka"
I have a system with Eureka, Spring Cloud Gateway and a handfull of Micronaut microservices behind the gateway.
When I try to access a service via the gateway I get `java.net.UnknownHostException: UPPERCASE-HOSTNAME`.
If I look at how services are registered with Eureka and I compare a Spring service with a Micronaut service I can see the difference.

Spring Service
[code]
Micronaut service
[code]

[2018-10-09 19:41] alexsavin commented on #700
I have the same issue in java.

public class ResponseWrapper<T> {
  ...
}

@Get(value = "/somepath")
public ResponseWrapper<List<MyData>> somePath() {
   ...
}

I expect to see ResponseWrapper<List<MyData>>  in model section on swagger ui but it is absent.
In swagger yaml I have:

responses:
        default:
          description:some description.
          content:
            application/json:

[2018-10-09 23:05] wykapedia commented on #384
Thanks @graemerocher.  I am going to take an initial stab at the skeleton of rabbit setup.

Going to follow after kafka and reference rabbit docs here:
https://www.rabbitmq.com/api-guide.htm

[2018-10-09 23:19] obv-mikhail opened #711 "Slf4jCurrentTraceContext should be replaced with CurrentTraceContext.ScopeDecorator"
Something like this should be used:
https://github.com/spring-cloud/spring-cloud-sleuth/blob/master/spring-cloud-sleuth-core/src/main/java/org/springframework/cloud/sleuth/log/Slf4jScopeDecorator.java

Brave version needs to be updated as well.

[2018-10-10 06:03] witek1902 opened #712 "Extending UserDetails during Claims Generation doesn't works"
I want to add new fields to to **AuthenticationResponse** based on docs:
https://docs.micronaut.io/latest/guide/index.html#jwtValidation

I created **InsuranceAgentDetails**:

[code]
And replace **JWTClaimsSetGenerator**:

[code]

### Steps to Reproduce

1. Run example application.
2. Send request with CURL/Postman with credentials admin/admin (example below).

I debuged applications a bit and I h

[2018-10-10 07:40] sdelamo commented on #712
JWT custom claim generation works fine.

See PR against your repo: https://github.com/asc-lab/micronaut-microservices-poc/pull/20

[2018-10-10 07:50] sdelamo commented on #712
I think it is a confusion about the response:

![extending_userdetails_during_claims_generation_doesn_t_works_ _issue__712_ _micronaut-projects_micronaut-core](https://user-images.githubusercontent.com/864788/46720501-feeabc00-cc70-11e8-96b8-3c240698dab9.png)

That it is to say, the access and refresh token of your response both contain in their claims the avatar.

Sometimes is convenient that the

[2018-10-10 08:00] sdelamo commented on #712
If you want to respond:

[code]

then what you need to do is:

[code]

and replace `BearerTokenRenderer` bean:

[code]

I've created a test in the PR to illustrate this:

https://github.com/asc-lab/micronaut-microservices-poc/pull/20/commits/08001647c73dd74747f31335f4f1b9cde4bf4322

I hope it helps.

[2018-10-10 08:36] witek1902 commented on #712
Thank you very much @sdelamo. Now I understand everything.

[2018-10-10 10:36] witek1902 commented on #712
@sdelamo I can't find anything about **BearerTokenRenderer** in Micronaut docs.
Maybe should this info be added?

[2018-10-10 10:41] #711 closed

[2018-10-10 10:57] graemerocher commented on #710
So if I enable trace logging for the Micronaut app. It sends the following to Eureka:

[code]

The host name as you can see is in lower case: `"hostName":"gr8crm-service"`

Later when it comes back from Eureka the host name is in upper case. Why Eureka behaves this way is a mystery to me so far.

[2018-10-10 11:12] graemerocher commented on #710
Might be related https://github.com/spring-cloud/spring-cloud-gateway/issues/450#issuecomment-408432770

[2018-10-10 11:15] graemerocher commented on #710
Honestly don't know what can be done about this, we can probably add `preferIpAddress` style registration, but to me seems like a bug in either Spring Cloud Gateway or as per the above comment you have to use upper case service ids

[2018-10-10 11:18] goeh commented on #710
I tried to add uppercase service ids in Spring Cloud Gateway config but I still got UnknownHostException (uppercase hostname). I will try again and see if can find a workaround.

[2018-10-10 11:20] goeh commented on #710
Maybe add a `preferIpAddress` option or a `lowercaseHostname` option, or both.

[2018-10-10 11:35] graemerocher commented on #710
like I said `lowercaseHostname` option is not possible, Micronaut isn't doing any conversion of the host name to upper case, it is Eureka that converts the host name to upper case not Micronaut. I can only think that the Spring apps you are testing are registering with `preferIpAddress` and not with the host name

[2018-10-10 11:48] goeh commented on #710
I noticed that if I remove the environment variable `MICRONAUT_SERVER_HOST` from `docker-compose.yml` the hostname becomes `localhost` (lowercase) in Eureka.

That's another issue, why do I have to specify `MICRONAUT_SERVER_HOST`? Spring seems to be able to pickup the correct container hostname without any config.

[2018-10-10 11:55] graemerocher commented on #710
That is as much of a mystery to me as it is to you. Like I said I can report what Micronaut is sending to Eureka and what Micronaut is sending is the hostname is lower case. You can see this by applying the following diff

[code]

And running `docker-compose up`. The "hostName" value that is sent to Eureka in the HTTP POST is in lower case in the raw JSON, what Eureka then does with the value and

[2018-10-10 13:03] graemerocher commented on #710
@goeh I have pushed 2 changes:

1. You can specify `eureka.client.registration.prefer-ip-address` and set that `true` if you want to register host names using the IP address. See e3d6fc1
2. You can remove the explicit `MICRONAUT_SERVER_HOST` settings and Micronaut will use the available `HOSTNAME` environment variable on Docker if it is present to register

Let us know how it goes and if one of th

[2018-10-10 13:10] nbuubuu opened #714 "Problem running (or testing with JUnit) HelloWorld application within Eclipse GUI"
Hello,

I experienced "page not found" problems when I launch the HelloWorld application within Eclipse GUI (whereas with gradle command line everything works fine). Using these tutorials :
http://guides.micronaut.io/creating-your-first-micronaut-app/guide/index.html
https://docs.micronaut.io/latest/guide/index.html#creatingClient

In order to work within Eclipse GUI I had to remove the 'shadow' g

[2018-10-10 13:47] graemerocher commented on #714
Did you follow the instructions to setup an appropriate version of Eclipse as per https://docs.micronaut.io/latest/guide/index.html#ideSetup ?

[2018-10-10 13:56] nbuubuu commented on #714
I ran "gradle eclipse" before importing the project into Eclipse.

[2018-10-10 13:56] graemerocher commented on #714
Yes, but do you have the necessary plugins installed as per the linked IDE setup instructions?

[2018-10-10 13:59] nbuubuu commented on #714
This plugin ? :

Buildship: Eclipse Plug-ins for Gradle	2.2.1.v20180125-1441	org.eclipse.buildship.feature.group	Eclipse Buildship

[2018-10-10 14:08] goeh commented on #710
Looking good!
I removed `MICRONAUT_SERVER_HOST`from all services in `application.yml`
Now the container's hostname is used and it's in lowercase in the response from /eureka/apps
Requests through the gateway works as expected, Yes!!!
Seems like I don't need `eureka.client.registration.prefer-ip-address` but I will verify that it works soon.

[2018-10-10 14:09] graemerocher commented on #714
Works fine for me. I am using:

[code]

You need Eclipse 4.9 or above

[2018-10-10 14:09] #710 closed

[2018-10-10 14:41] goeh commented on #710
I verified that `eureka.client.registration.prefer-ip-address` works as expected. I set it to `true` and IP address is registered as `hostname` in Eureka and requests works fine through the gateway.

[2018-10-10 15:01] graemerocher commented on #714
Interesting, will take a look.. thx

[2018-10-11 07:15] #714 closed

[2018-10-11 07:16] graemerocher commented on #714
Thanks for the report.. the "No value available for annotation member" was a bug when using the Eclipse compiler. This will be resolved in RC3

[2018-10-11 09:17] #700 closed

[2018-10-11 11:27] sdelamo opened #715 "When HttpClientException, unable to bind response to POJO"
Given this controller:

[code]

And this POGO:

[code]

I expected this test to pass:

[code]

### Expected Behaviour

Test passes

### Actual Behaviour

Test Fails

### Environment Information

- **Operating System**: Mac OS HighSierra
- **Micronaut Version:** 1.0.0.RC1
- **JDK Version:** 1.8

# Example repository

I've pushed a branch with a failing test:

https://github.com/micronaut-projects/m

[2018-10-11 12:11] #712 closed

[2018-10-11 12:11] graemerocher commented on #715
This is not a bug. Duplicates #669

Feel free to clarify the documentation if you want.

[2018-10-11 12:17] lightoze opened #716 "Support opaque Bearer token with OAuth 2.0 Token Introspection"
When access token is opaque (which is assumed by OpenID Connect spec) it can be validated by resource server using token introspection endpoint.

https://tools.ietf.org/html/rfc7662

Related to #650

[2018-10-11 12:36] lightoze commented on #650
Current JWT support is sufficient for simplest use-cases but proper OAuth 2.0 resource server (see #716) and client (Authorization Code and Password flow and automatic token refresh) implementation is very much needed.
Ideally this should be modular enough to work in customized OAuth 2.0 environments as well as in OIDC compliant mode.

[2018-10-11 12:48] graemerocher commented on #650
Agreed, it is a high priority feature post 1.0..

[2018-10-11 12:56] weiqigao opened #717 "Newly created projects with the base profile lack mainClassName, causing build failures"
### Steps to Reproduce

1. $ mn create-app -p base demo
2. $ cd demo
3. $ ./gradlew build

### Expected Behaviour

BUILD SUCCESSFUL

### Actual Behaviour

warning: Supported source version 'RELEASE_8' from annotation processor 'org.gradle.api.internal.tasks.compile.processing.NonIncrementalProcessor' less than -source '11'
warning: Supported source version 'RELEASE_8' from annotation processor 'or

[2018-10-11 15:27] #715 closed, assigned to sdelamo

[2018-10-11 15:48] jameskleeh commented on #717
@weiqigao The base profile is not designed to be used directly. One of the other profiles must be used (service, function-aws, kafka, etc). I'll mark this issue as an improvement to the CLI to throw an error if this case is encountered in the future.

[2018-10-11 16:08] #717 closed

[2018-10-11 17:00] jameskleeh commented on #701
The behavior is different between the unit test and geb test because Netty creates the request differently than the browser. Netty skips adding the filename attribute to the part if its empty and the browser adds it anyway.

On the server side Netty considers a part without a filename to be an attribute, and thus the conversion to CompletedFileUpload fails because the base type is wrong.

Overall

[2018-10-11 18:36] weiqigao commented on #707
I'm seeing the same problem in RC2.  I'm glad it will be fixed in RC3.  However I think the error message itself needs some tweaking.  The statement says "underscore", the example shows "dash".

[2018-10-11 21:09] ctoestreich opened #719 "Intermittent timeouts to /info in application deployed on OSE"
When deploying to OSE we are seeing intermittent timeouts when using the /info endpoint for liveness.  Several other boot and angular/node apps on the same cluster are not experiencing this behavior.  There is nothing abnormal in the stack trace and the timeout is set to 10s.

[code]

[code]

This seems hard to track down as the timeout blips so infrequently that manual loading of the endpoint, an

[2018-10-12 02:15] ggservice007 opened #720 "Can micronaut support the K8S natively or directly without docker?"
Can micronaut support the K8S natively or directly without docker?

[2018-10-12 07:11] vnesek opened #721 "Leaking buffers when uploading files"
Seam like micronaut/netty integration is leaking memory when uploading files.
Affects both completed and streaming uploads.
I've created demo repository on github with copies of controllers from documentation.

### Steps to Reproduce

1. Clone https://github.com/vnesek/micronaut-upload-test.git

[code]

2. Now Upload file > 500MB ...

Tested with Postman, Firefox, Chrome and curl

[code]

After fi

[2018-10-12 08:08] graemerocher commented on #719
tried placing `/info` under load with `ab` and `siege` with zero failed requires at high concurrency. If you have any additional steps to reproduce let us know

[2018-10-12 08:59] goeh opened #722 "Support MultipartBody uploads with declarative HTTP client"
Upload MultipartBody with declarative HTTP @Client seems to be unsupported. It would be nice if it was.

### Steps to Reproduce

1. Create a HTTP @Client that takes a MultipartBody as request body
2. Call the client method
3. A serialization exception is thrown

### Expected Behaviour

A multipart request should be sent to the destination

### Actual Behaviour

[code]

### Environment Information

[2018-10-12 09:19] witek1902 opened #723 "Headers in docs should be clickable"
Add link to all headers.
[code]
Providing links to specific parts of the documentation will be much easier.

[2018-10-12 10:47] ilopmar opened #724 "Applications doesn't de-register from consul when using Graal"
- Create a simple application with consul support
- Run the application with `./gradlew run`
- Stop the application with `CTRL+C`
- The applications de-register from Consul:

[code]

- Create a graal native-image, run it and then stop it with `CTRL+C`.
- The application doesn't de-register itself from Consul:
[code]

[2018-10-12 11:12] ilopmar opened #725 "Runtime error with Zipkin and Graal"
- Clone this repo: https://github.com/ilopmar/micronaut-zipkin-graal. It is an out-of-the-box Micronaut application with Graal and Zipkin support created with `create-app micronaut-zipkin-graal --features=tracing-zipkin,graal-native-image`
- Even if I plan to use Zipkin I've added Jaeger dependency `compile 'io.jaegertracing:jaeger-core:0.31.0'` as a workaround for https://github.com/oracle/graal/

[2018-10-12 11:15] goeh commented on #722
The sample application includes a test with the standard HTTP client and that test passes but with a warning. I don't know if I'm guilty or if the framework does something wrong. Maybe it's related to issue #721

[code]

[2018-10-12 14:29] goeh opened #726 "Exception logged after uploading file"
I've seen this warning in the log in both my main application and the sample application (link below). After a file upload an exception is thrown and logged. The upload works ok, it's logged as WARN.

`io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1`

### Steps to Reproduce

[code]

### Expected Behaviour

No warnings should appear in the log.

### Actual Behaviour

[code]

#

[2018-10-12 14:30] goeh commented on #722
I created issue #726 for the `IllegalReferenceCountException` problem.

[2018-10-12 17:19] #721 closed

[2018-10-12 17:20] jameskleeh commented on #721
@vnesek I appreciate the report - thank you for making us aware of this critical issue!

[2018-10-12 18:09] #726 closed

[2018-10-12 18:36] jameskleeh commented on #722
@goeh You have to set the correct content type. The test passes with
`@Post(produces = MediaType.MULTIPART_FORM_DATA)`

[2018-10-12 18:52] jameskleeh commented on #722
@goeh I noticed that the same warning occurs when the declarative client is used. This is a different issue than 726 and I'm going to push the fix soon

[2018-10-12 18:57] goeh commented on #722
@jameskleeh I just added produces = "...."  and you are correct, it works. That's awesome, thanks!
Could the documentation be more specific about this or did I miss it?

[2018-10-12 19:03] jameskleeh commented on #722
@goeh Perhaps it could, I'm not sure. If you think the docs could be made more clear please submit a PR.

[2018-10-12 19:06] #722 closed

[2018-10-13 15:20] vnesek opened #727 "POST multipart/form-data with declarative HTTP client fails"
### Steps to Reproduce

Execute following test:

[code]

### Expected Behaviour

Declarative HTTP client should make a POST request with parameters from send method call mapped to POST request parameters.

### Actual Behaviour

Fails with following exception:

[code]

### Environment Information

- **Operating System**: macOS 10.14
- **Micronaut Version:** 1.0.RC2
- **JDK Version:** 1.8 and 11

[2018-10-13 16:07] markjfisher opened #728 "create-federation not honouring parameters used"
### Task List

- [x] Steps to reproduce provided
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. mn create-federation -i -s s1,s2 -p service -f kotlin,spock,swagger-kotlin

### Expected Behaviour

A set of services s1 and s2 created with given features

### Actual Behaviour

First service is kotlin, everything else is java, profile specified not used

### Envir

[2018-10-13 16:11] markjfisher commented on #728
I also tried splitting the services on the command line, but it's still creating first as Kotlin with spock, but subsequent services as java/junit.

[2018-10-13 22:46] ejohnsonw opened #730 "Honor micronaut.security.enabled=false"
### Task List

- [X ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [X ] Example that reproduces the problem uploaded to Github
- [X ] Full description of the issue provided (see below)

Application still try to secure endpoints, also even if they are marked with anonymous access.
### Steps to Reproduce
Clone or download: https://github.com/micronaut-guides/micronaut-securit

[2018-10-14 14:28] bobtiernay-okta opened #731 "Docs should describe the syntax and semantics of placeholder properties in config files"
Currently there doesn't appear to be any documentation describing `${...}` syntax and semantics in configuration files, including information on accessing environmental variables and system properties, as well as default values. This should be added similar to what Spring Boot does:

- https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html#boot-features-e

[2018-10-14 18:10] goeh commented on #573
Sorry for commenting on a closed issue but I've seen this again during the last two days.
[code]

[2018-10-14 18:19] ctoestreich commented on #719
Thanks for checking I am still investigating.

[2018-10-14 19:37] ejohnsonw commented on #730
My example was flawed, second method without binding Principal

micronaut:
    application:
        name: complete
    security:
      enabled: false # <1>
      endpoints:
        login:
          enabled: true # <2>
        oauth:
          enabled: true # <3>
      token:
        jwt:
          enabled: true # <4>
          signatures:
            secret:
              generator: # <5>

[2018-10-14 21:47] ilopmar opened #732 "Runtime error with Jaeger and Graal"
- Clone this repo: https://github.com/ilopmar/micronaut-jaeger-graal. It is an out-of-the-box Micronaut application with Graal and Zipkin support created with `create-app micronaut-jaeger-graal --features=tracing-jaeger,graal-native-image`
- I've fixed Jaeger dependency
- I've also added `compile 'io.zipkin.brave:brave-instrumentation-http:4.19.0'` to workaround  https://github.com/oracle/graal/is

[2018-10-15 06:02] #730 closed

[2018-10-15 06:17] graemerocher commented on #724
most likely reason is Graal doesn't register or execute shutdown hooks. Please report to https://github.com/oracle/graal/issues

[2018-10-15 06:18] graemerocher commented on #725
Nothing we can do about `UnsupportedFeatureError` occurrences on our side. Please report to Please report to https://github.com/oracle/graal/issues

[2018-10-15 07:54] ilopmar commented on #724
Done: https://github.com/oracle/graal/issues/739

[2018-10-15 08:00] ilopmar commented on #725
https://github.com/oracle/graal/issues/740

[2018-10-15 13:35] graemerocher commented on #731
This has been improved with https://docs.micronaut.io/snapshot/guide/index.html#propertySource and new sections under https://docs.micronaut.io/snapshot/guide/index.html#configurationProperties

Is that what you are looking for?

[2018-10-15 13:37] jespersm opened #734 "Flowable<String> should not be wrapped as"
### Steps to Reproduce

1. Make a controller which returns something streamable (but opaque) content, like byte[] or String), using af JSON'ish content-type:

[code]
or
[code]
or even
[code]
2. Call this endpoint.

### Expected Behaviour

I expect a payload of

[code]

### Actual Behaviour

I get this:
[code]
(if I had returned more strings, they would have been comma separated)

This happens beca

[2018-10-15 13:48] graemerocher commented on #734
This is not a bug, but by design. A `Flowable` is an unbound type and if your example emitted two items you would get:

[code]

Which is not valid JSON and violates the specified return type. If you want the above you have to specify that the return type is `MediaType.APPLICATION_JSON_STREAM`

[2018-10-15 13:51] graemerocher commented on #734
Ok I see what you are saying, however I don't know how you would disambiguate the case where you return 2 fully formed JSON strings with this change.

[2018-10-15 14:42] #728 closed

[2018-10-15 14:48] ctoestreich commented on #719
The logs are clean looking.  The service has been stable for 2 days.  I am going crank up debug logging and to put it under load.

[2018-10-15 14:49] jespersm commented on #734
The catch is that the [<chunk>,<chunk>,...] framing happens for all content wrapped in a 'streamable' when using any JSON type, not just `APPLICATION_JSON_STREAM`.

I stumbled across this while developing a proxy for generic content, connecting the (reactive) response flow of the Micronaut HTTP client to a Flowable<byte[]> in a controller. Right now this works for anything but JSON.

I guess one c

[2018-10-15 14:53] graemerocher commented on #734
I think if you update the PR to only allow `byte[]` or `ByteBuf` or `ByteBuffer` then we can consider longer term adding `raw` or something equivalent to customise the behaviour.

[2018-10-15 14:54] graemerocher commented on #719
@ctoestreich sounds good

[2018-10-15 15:20] ctoestreich commented on #719
@graemerocher Here is what I collected from running.  tldr; I am going to close for now but will keep an eye on this.

### Load Today
The load I ran today shows everything is good!

<img width="1306" alt="screen shot 2018-10-15 at 10 14 50 am" src="https://user-images.githubusercontent.com/691357/46960092-5323e080-d063-11e8-9694-5c233993b3af.png">

### Load This Week
Some of the requests to /info

[2018-10-15 15:20] #719 closed

[2018-10-15 15:22] ctoestreich commented on #719
OSE is very aggressive in it's liveness check and will restart the pod instance on failure, which for a pod of count 1, is problematic for upstream applications :)

[2018-10-15 15:53] jespersm commented on #734
I've updated #735 with the short term solution

[2018-10-15 16:04] #734 closed

[2018-10-15 18:36] jameskleeh commented on #727
It would be possible to support this type of use case, however we would need to be explicit about the types of values supported. My first instinct is to say only `java.lang.String` and `java.io.File` should be supported as values. Thoughts?

[2018-10-16 10:08] goeh opened #736 "Find mainClassName automatically"
More than one time I have had mismatch between the actual main class and the `mainClassName` config in `build.gradle`. Sometimes I copied and renamed an existing project and sometimes I renamed the java class and forgot to change build.gradle.

Would it be possible to find the main class automatically without the need to specify it in build.gradle? I guess this logic is not in Micronaut itself but

[2018-10-16 10:12] graemerocher commented on #736
This would likely require class path scanning unless we could do something at compilation time. We will not do class path scanning due to the impact on startup time, so the latter is the only option. Not for 1.0 however.

[2018-10-16 13:54] lightoze opened #738 "BOM artifact should have <packaging>pom</packaging>"
Gradle's `enableFeaturePreview('IMPROVED_POM_SUPPORT')` does not work with current version of BOM.

[2018-10-16 19:54] picaron opened #739 "default cli-app project doesn't work with GraalVM because of PicoCLI"
I tried building a native image for a blank cli-app project generated with the `mn` command and it doesn't work at runtime because of the way PicoCLI works

I was using micronaut `1.0.0.RC2` and graalvm `1.0.0-rc7-graal` (both installed with SDKMan)

I had to switch to the Clikt library (for Kotlin) and then I was able to generate a native-image for my cli-app

[2018-10-16 21:30] RaviH opened #740 "Enable finding eureka server via DNS entry"
Based on this documentation: there's way to find eureka via DNS registry. However, I couldn't find corresponding configs in `micronaut`

https://github.com/Netflix/eureka/blob/master/eureka-server/src/main/resources/eureka-client.properties

[code]

### Expected Behaviour

There should be a way to use DNS to find Eureka server.

### Actual Behaviour

No such configuration exists or is hard to find

[2018-10-17 05:52] graemerocher commented on #740
@RaviH I don't see how this configuration is any different to doing:

[code]

Or am I missing something?

[2018-10-17 08:10] graemerocher commented on #739
Picoli includes its own Graal integration, a tutorial is here https://picocli.info/picocli-on-graalvm.html

@remkop anything we can do to make Micronaut + Graal work more out of the box? Like modifications to the profile etc.

[2018-10-17 08:43] graemerocher opened #741 "If Consul goes down, Micronaut doesn't re-register when it comes back."
### Steps to Reproduce

1. Start Consul
2. Start App
3. Stop Consul
4. App doesn't re-register

### Expected Behaviour

App should re-register.

[2018-10-17 08:48] musketyr opened #742 "GraalVM RC7 stopped working with Micronaut RC3"
### Steps to Reproduce

[code]

### Expected Behaviour

Native executable using GraalVM is created.

### Actual Behaviour

The exception is thrown during the execution:

[code]

### Environment Information

- **Operating System**: MacOS HighSierra
- **Micronaut Version:** 1.0.0.RC3
- **JDK Version:**  1.0.0-rc7-graal

### Example Application

https://github.com/musketyr/graal-rc7-micronaut-1.0.0.R

[2018-10-17 08:54] musketyr commented on #742
@graemerocher I'm sorry for the confusion, I've changed it to point to `RC2` and it still fails. I'll try to dig deeper what's the problem. I've compiled very similar application many times without problems.

[2018-10-17 08:59] graemerocher commented on #742
I can reproduce the problem, so there is definitely a problem

[2018-10-17 09:07] musketyr commented on #742
ok, I got the pattern. it's somehow related to which Java SDK was used to compile the application. if the application was compiled using GraalVM, e.g. by add `./gradlew clean assemble` instead of `./gradlew assemble` in the `build-native-image.sh` then it fails. when I precompiled it using Oracle JDK it works.

[2018-10-17 09:52] musketyr commented on #742
Thanks! That was very fast!

[2018-10-17 09:52] ilopmar opened #743 "Warning messages (with lots of exceptions) running Spek tests for kotlin apps"
- Clone this repo: git@github.com:micronaut-guides/micronaut-microservices-distributed-tracing-zipkin-kotlin.git
- `cd complete/bookcatalogue`
- `./gradlew check`
The test pass but there are a lot of warnings with stacktraces.

It seems related to https://github.com/kotlintest/kotlintest/issues/232 but we're not using `kotlintests`

[code]

[2018-10-17 09:53] graemerocher commented on #742
We really need integration tests for Graal, problem is the native image tool uses too much memory for Travis 😟

[2018-10-17 09:55] graemerocher commented on #743
Not sure how this is a Micronaut issue

[2018-10-17 09:58] musketyr commented on #742
Indeed. I've tried to compile 1000 beans + 1000 controller app and never finished. it tried to steal 6 GB of my old laptop and hanged forever. maybe using Travis build stages to run it separately might help.

[2018-10-17 12:09] remkop commented on #739
@graemerocher Some early thoughts:

* the  `picocli.codegen.aot.graalvm.ReflectionConfigGenerator` tool in the  `picocli-codegen` module works, but I still need to release it to Maven Central. I was planning to do this later as part of picocli 3.7 but that's still some time away so perhaps I should release just the codegen module for the existing picocli-3.6.1. (This is not a problem, just mention

[2018-10-17 12:15] remkop commented on #739
FYI I'm working on an annotation processor for picocli that would allow things like generating the `reflect.json` file (or completion scripts etc) at compile time but that is still early stages.

[2018-10-17 12:28] graemerocher commented on #739
@remkop I think it may make sense to use Micronaut's visitor API to achieve this without needing reflection and the classes themselves on the class path (just the source code needed).

Also it would work for both Groovy and Java (instead of limiting yourself to just Java and the annotation processing API). See for example https://github.com/micronaut-projects/micronaut-core/blob/master/configurati

[2018-10-17 12:50] remkop commented on #739
Ok, that is certainly interesting!

Either way, both the Micronaut visitor API and standard Java annotation processors will need parts of the picocli internal model to become part of the picocli public API. Figuring out these API changes is part of the work I'm doing now in the picocli annotation processor. It's important to get this right so I want to take my time with it.

As an interim solution

[2018-10-17 13:09] remkop commented on #739
My previous comment is wrong/incomplete: It is possible to re-implement the functionality that `picocli.codegen.aot.graalvm.ReflectionConfigGenerator` provides with just the Micronaut visitor API.

I don't have time to do this now but I'd be happy to answer questions if anyone wants to contribute such a tool to Micronaut.

[2018-10-17 13:10] ilopmar commented on #724
From the issue _"we don't register a signal handler by default for CTRL+C. Please see this issue for details:_" https://github.com/oracle/graal/issues/465
Not sure if we can do something similar in Micronaut

[2018-10-17 13:37] graemerocher commented on #724
This can probably be worked around with:

[code]

Which will make the service automatically de-register if it is unhealthy (ie it has been stopped)

[2018-10-17 15:53] ilopmar commented on #724
Adding that option makes the native image fails to start.
- Clone the following repo that uses the latest snapshot version and that option is set: https://github.com/ilopmar/micronaut-consul-graal
- Build the native image and run it
[code]

If I comment out that property and build the image again, it works properly.

[2018-10-17 16:37] RaviH commented on #740
@graemerocher You could be absolutely right. I haven't tried. I don't know about DNS enough to know that `http://eureka.storytel:8761` would work. I will test and update here!

Thanks a lot @graemerocher.

[2018-10-17 17:37] RaviH commented on #740
@graemerocher I checked and it doesn't work. I asked the DevOps and he said that `eureka.storytel` eventually gets resolved to: `http://eureka-us-east-1.eureka.storytel:8080`. Not sure how, still awaiting an answer from him. Thought I will update here.

So it seems to me that having same capability (as Netflix's eureka-client) for dns resolution in/with micronaut's eureka-client would be really he

[2018-10-17 19:32] weiqigao opened #745 "Adding Micronaut DI plugin and dependencies to existing modular Java 11 Gradle project causes NPE during build"
### Steps to Reproduce

1. Take a working modular Java 11 application with a Gradle build.
2. Add the plugin and dependencies as Chapter 3 Inversion of Control instructs.
3. Run "gradle build"

### Expected Behaviour

BUILD SUCCESSFUL

### Actual Behaviour

$ gradle build

\> Task :compileJava FAILED
warning: Supported source version 'RELEASE_8' from annotation processor 'org.gradle.api.internal.t

[2018-10-17 22:22] nixil opened #746 "Random comma character injected when receiving text/plain request"
Hi team, I met a mysterious bug. I have a very simple controller which receives a text/plain message and put the payload back into the response then return.  And I found a comma character `,` was injected into the payload randomly.

** NOTICE ** Have to say this is not happening all the time, and even the position of the `,` is random, you may need to try multiple times to get it reproduced. On my

[2018-10-18 06:06] graemerocher commented on #740
Thanks for the feedback, looks like we need to port https://github.com/Netflix/eureka/blob/master/eureka-client/src/main/java/com/netflix/discovery/endpoint/EndpointUtils.java#L95

We will consider this after 1.0...

[2018-10-18 06:13] #745 closed

[2018-10-18 07:07] #746 closed

[2018-10-18 07:09] graemerocher commented on #746
Thanks for the report. Pushed a fix, although it is better if you are going to be handling large amounts of data to handle it in chunks in the controller using `Flowable`.

[2018-10-18 07:18] markjfisher opened #747 "Question: How to use extended types as return values from services"
Hello, I am trying to setup a demo for work on using Micronaut as our micro-services framework, and have a couple of questions. Wasn't sure if this is the right place to ask, so please let me know if there's a better forum for this.

I have setup a simple application with 3 projects: 'api', 'gateway' and 'service'. I based my code on reading combinations of the tutorial in the notes, the workshop

[2018-10-18 09:04] sdelamo commented on #747
Do you have a sample app?

[2018-10-18 09:34] vnesek commented on #727
I would expect this to work for any parameter type (value types, collections, optionals, perhaps reactive stream) that are supported when binding request parameters without POJOs for server side controllers. See [Form data binding in latest docs](https://docs.micronaut.io/latest/guide/index.html#formData)

This way you maintain symmetry between client and server operations which is really nice fea

[2018-10-18 09:52] opuzyr opened #748 "@OnClose should be notified after session is closed by timeout."
### Steps to Reproduce
Create new project and use the code mentioned in https://docs.micronaut.io/latest/guide/index.html#websocketServer to create websocket controller.
Don't set idle-timeout, documentation says that default one is set to 5 minutes.
Run the application and wait 5 minutes.

### Expected Behaviour
Method annotated with ```@OnClose``` should be invoked prior session close.

### Actu

[2018-10-18 11:43] lightoze opened #749 "Improving Argument.of() for generics"
Current signature `<T> Argument<T> of(Class<T> type, @Nullable Class<?>... typeParameters)` provides no way to obtain types like `Argument<List<String>>` without casting and getting compiler warnings. This is quite a bummer when working with HttpClient.

What do you think about changing it to `<T> Argument<T> of(Class<? super T> type, @Nullable Class<?>... typeParameters)`?

[2018-10-18 12:03] lightoze opened #750 "ConcurrentModificationException in DefaultAnnotationMetadata"
I got this on one of the restarts:
[code]

[2018-10-18 12:07] graemerocher commented on #749
sure, seems reasonable

[2018-10-18 12:30] lightoze commented on #749
Probably this should be done for all `Argument.of` variants involving type parameters, then, for consistency.

[2018-10-18 14:07] markjfisher commented on #747
I've created a repo at https://github.com/markjfisher/mn-demo

[2018-10-19 13:53] graemerocher commented on #740
@RaviH I have added experimental support for this in master:

[code]

Let me know how you get on with it.

[2018-10-19 21:22] jeffbrown opened #752 "Problem Building Newly Created App Using Zipkin"
### Steps to Reproduce

    mn create-app zipkin-app --features tracing-zipkin
    cd zipkin-app
    mn create-controller Demo

Edit `src/main/java/zipkin/app/DemoController.java`:

[code]

[code]
### Environment Information

- **Operating System**: macOs
- **Micronaut Version:** 1.0.0.RC3
- **JDK Version:** 1.8.0_131

### Example Application

https://github.com/jeffbrown/zipkin-app

[2018-10-19 21:36] jeffbrown commented on #752
Updating `runtime "io.zipkin.brave:brave-instrumentation-http:4.19.0"` to `runtime "io.zipkin.brave:brave-instrumentation-http:5.4.1"` appears to make the problem go away.  I have not investigated or tested if there are other implications with doing that upgrade.

[2018-10-19 22:10] RaviH commented on #740
Hey @graemerocher, more than happy to give this a spin. Should I download the project and build it locally or is their a snapshot version I can use?

[2018-10-20 07:41] ross-oreto opened #753 "Server View Rendering Issue in ShadowJar"
### Steps to Reproduce
- mn create-app test --features groovy
- cd test
- mn create-controller org.test.Test
- in build.gradle add deps
[code]
- add src/main/resources/views/test.html
[code]
- in org.test.TestController
[code]
- gradle assemble
- java -jar build\libs\test-0.1-all.jar

### Expected Behaviour

http://localhost:8080/test browser renders test

### Actual Behaviour

http://localhost:80

[2018-10-20 08:00] ilopmar commented on #752
The correct dependencies for 1.0.0.RC3 are:
[code]

This issue is because the dependencies in `micronaut-core` were upgraded but not in the profile. This already has been handled by https://github.com/micronaut-projects/micronaut-core/pull/744 and https://github.com/micronaut-projects/micronaut-profiles/pull/79.
Starting with 1.0.0 GA it won't be necessary to add the version in those dependencies

[2018-10-20 08:00] #752 closed

[2018-10-20 08:18] graemerocher commented on #749
I think it may be better to have `Argument.ofList(Book.class)` to fully resolve this

[2018-10-20 08:49] lightoze commented on #749
Having that would probably resolve 80% of the cases and help with typeless variable declarations (Java 11 var, Kotlin). However with only `ofList` it will be still impossible to obtain `Argument<A<T>>` wihout casting.

[2018-10-20 13:58] jeffbrown commented on #740
@RaviH You could do either.  In either case, the version number will be `1.0.0.BUILD-SNAPSHOT`.

[2018-10-20 14:34] graemerocher commented on #749
yeah I don't think you can achieve `Argument<A<T>>` with the current `of` signature. It would need something like https://docs.oracle.com/javaee/6/api/javax/ws/rs/core/GenericEntity.html in JAX-RS

[2018-10-20 15:07] lightoze commented on #749
There's also a similar `TypeReference` in Jackson and `TypeToken` in Guava. `TypeToken` combines both API styles `TypeToken.of()` and `new TypeToken<>()`. Micronaut's `Argument` is an interface, but how about creating `abstract class GenericArgument<T> implements Argument<T>` with similar semantics?

[2018-10-20 15:19] graemerocher commented on #749
That seems like a good idea

[2018-10-21 05:12] adityasrini opened #755 "Bean injection fails on barebones app"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

I am unable to get a bean to get injected on the most barebones app created using the Micronaut cli.

### Steps to Reproduce

1. Run `sdk install Micronaut` to get the RC3 version of micronaut

[2018-10-21 15:03] jeffbrown commented on #755
https://github.com/adityasrini/my-app/pull/1 fixes the problem.

[2018-10-21 15:03] #755 closed

[2018-10-21 15:43] richardkabiling opened #756 "Interactions between @Factory, @Bean, @Singleton and @EventListener causes errors"
### Steps to Reproduce

1. Checkout https://github.com/richardkabiling/mn-beans
2. Run tests
3. Note failures and errors

* `mn.beans.things1.ThingControllerTest`
  * `@Factory` class with `@Bean` and `@Singleton` method. `@EventListener` and `@Async` are on interface.
  * Result: No error, Does not listen
* `mn.beans.things2.ThingControllerTest`
  * `@Factory` class with `@Bean` and `@Singleton`

[2018-10-21 16:13] adityasrini commented on #755
Now doing the same for `DataSource dataSource` throws the error:
`{"message":"Internal Server Error: Failed to inject value for parameter [dataSource] of class: my.app.SomeService\n\nMessage: No bean of type [javax.sql.DataSource] exists. Ensure the class is declared a bean and if you are using Java or Kotlin make sure you have enabled annotation processing.\nPath Taken: new SomeController([SomeSe

[2018-10-22 07:28] ilopmar opened #758 "Default database empty configuration is not working"
- Create a new application with JPA support: `mn create-app foo --features=hibernate-jpa`
- According to the documentation (https://docs.micronaut.io/latest/guide/index.html#_configuring_jdbc_connection_pools) the following configuration:
[code]

Is the same as:
[code]

Using the former configuration, the application fails when injecting `DataSource` with the error:
[code]

This is related to #755

[2018-10-22 11:02] remkop commented on #739
Update: `picocli-codegen` 3.7.0 is now available from Maven Central.

The [`picocli-codegen` README](https://github.com/remkop/picocli/tree/master/picocli-codegen) now has usage instructions with code snippets for Gradle and Maven to generate a `cli-reflect.json` file automatically as part of the build.

@graemerocher I believe this goes a long way towards what you are looking for in terms of tool

[2018-10-22 11:02] remkop commented on #739
Update: `picocli-codegen` 3.7.0 is now available from Maven Central.

The [`picocli-codegen` README](https://github.com/remkop/picocli/tree/master/picocli-codegen) now has usage instructions with code snippets for Gradle and Maven to generate a `cli-reflect.json` file automatically as part of the build.

@graemerocher I believe this goes a long way towards what you are looking for in terms of tool

[2018-10-22 11:03] remkop commented on #739
Update: `picocli-codegen` 3.7.0 is now available from Maven Central.

The [`picocli-codegen` README](https://github.com/remkop/picocli/tree/master/picocli-codegen) now has usage instructions with code snippets for Gradle and Maven to generate a `cli-reflect.json` file automatically as part of the build.

@graemerocher I believe this goes a long way towards what you are looking for in terms of tool

[2018-10-22 13:01] #753 closed

[2018-10-22 18:29] jeffbrown opened #762 "GORM dependency issue with Maven projects"
See https://github.com/jeffbrown/mn-maven-hibernate.

Steps to create using 1.0.0.RC3:

[code]
 (as shown at https://github.com/jeffbrown/mn-maven-hibernate/commit/7e862198a6e25578759dca1ba3f88cbd423e28ca)

Add an entity:

[code]

(as shown at https://github.com/jeffbrown/mn-maven-hibernate/commit/7dc304400fff5aa527865d6d0c9668574732c795)

The project will not compile because of a duplicate Groovy

[2018-10-22 20:03] jespersm opened #763 "Performance loss due to HTTP/1.1 connections not being persistent by default"
### Steps to Reproduce

1. Create a controller which just returns a String
2. Call it using an HTTP 1.1. client
3. Check that it keeps the connection open by default (i.e. without specifying "Connection: keep-alive")

### Expected Behaviour

From the HTTP 1.1 spec:

Micronaut is expected to keep the connection open after sending the response body, if the client doesn't specifically requests the op

[2018-10-22 22:15] jeffbrown commented on #763
https://github.com/micronaut-projects/micronaut-core/pull/764

[2018-10-23 03:11] #763 closed

[2018-10-23 06:34] irstevenson opened #765 "RxHttpClient not including non-standard ports in host header"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Clone example micronaut cli app: https://github.com/irstevenson/micronaut-hostportissue
2. In a new terminal, start a netcat endpoint: `nc -l -p 8081`
3. In another t

[2018-10-23 07:45] ilopmar opened #766 "Error creating graal native image using Graal-rc8"
- Clone this repo https://github.com/micronaut-guides/micronaut-creating-first-graal-app
- `cd micronaut-creating-first-graal-app`
- `git checkout graal-rc8`. The branch uses the new dependency for Graal and Micronaut snapshot
- Make sure you use Graal-RC8
- Build the native image
[code]

[2018-10-23 11:08] graemerocher commented on #766
This is probably because Graal now processes META-INF/services and https://github.com/oracle/graal/issues/597 is unimplemented.

[2018-10-23 11:54] remkop commented on #739
@picaron If you are using this and if you have any feedback on how to improve this further, please give a shout.

[2018-10-23 12:09] graemerocher commented on #739
Thanks @remkop , looks good

[2018-10-23 18:48] brandonlamb commented on #750
Oh cool, I was getting this two days ago (RC2), maybe this fixes my problem too, yay

[2018-10-24 04:08] jameskleeh commented on #727
@vnesek Unfortunately that really isn't possible since a simple map of keys and values can't provide the same information that the server has. Therefore the same functionality cannot be achieved. For example if the value is a POJO, there is no way for the client to know what to do with it. Should it be encoded as JSON? XML?

[2018-10-24 07:23] luckyswede opened #769 "Reactive bean validation doesn't work"
Bean validation in routes works well in the sync case, eg
[code]

but it doesn't work in the async case:
[code]
Thanks / Jonas

[2018-10-24 10:09] codependent opened #770 "Controller mapping with query optional parameters not working"
### Steps to Reproduce

Start the application and access:

http://localhost:8080/weather/test1
http://localhost:8080/weather/test2
http://localhost:8080/weather/test3

The full description of the problem is available in the following stackoverflow question: https://stackoverflow.com/questions/52932943/controller-mapping-with-multiple-query-optional-parameters-not-working

### Expected Behaviour

O

[2018-10-24 13:34] youwi commented on #766
yeah;
https://jcenter.bintray.com/com/oracle/substratevm/svm/1.0.0-rc7  not exsit

[2018-10-24 13:34] ilopmar opened #772 "Unable to pass arguments to Lambda Function in Graal"
When running lambda functions using Graal native image we could do something like this:
[code]

But not, while upgrading this guide http://guides.micronaut.io/micronaut-function-aws-lambda/guide/index.html#graal to use Micronaut 1.0.0 I don't know if it's possible to pass those arguments and how to do it.

If I try to start the docker container exposing the ports, for example, to be able to execut

[2018-10-24 14:14] luckyswede opened #773 "@ContinueSpan (Jaeger) on reactive method prints WARN logs"
Hey,
Reactive methods with `@ContinueSpan` annotations prints the following WARN logs:
[code]
Eg
[code]
the same happens in this case
[code]
but not if `@NewSpan` is used everywhere or if the `@ContinueSpan` annotated method is synchronous.

[2018-10-24 14:15] jameskleeh commented on #770
I can't reproduce the behavior you're seeing. I tried both java 8 and 10 with the same result

<img width="333" alt="screen shot 2018-10-24 at 10 12 51 am" src="https://user-images.githubusercontent.com/1583789/47436887-67f42880-d775-11e8-8f86-b2f475e8cc53.png">
<img width="331" alt="screen shot 2018-10-24 at 10 12 40 am" src="https://user-images.githubusercontent.com/1583789/47436893-6a568280-d77

[2018-10-24 14:30] codependent commented on #770
You're wright, apparently IntelliJ wasn't refreshing the classes. After I adjusted it to build the project delegating in Gradle it started working as expected.

Just one request, this seems redundant, doesn't it?:

    @Get(value = "/test3{?city,country,cityIds}", produces = [MediaType.APPLICATION_JSON])
    fun getWeather3(@Nullable city: String?, @Nullable country: String?, @Nullable cityIds: St

[2018-10-24 15:12] jameskleeh commented on #770
@codependent The `?` notation is supported for Kotlin. The first example is redundant and not necessary

[2018-10-24 15:14] #770 closed

[2018-10-24 15:42] graemerocher commented on #769
Whilst the bug is valid, note that simply writing `@Body @Valid SomePojo pojoProducer` will resolve it, Micronaut will not block when using this syntax. Instead it will read the request body in a non-blocking manner and only execute the method once a `SomePojo` object can be materialised.

[2018-10-24 17:08] sdelamo opened #774 "To understand if request is HTML use Accept header and not just Content-Type"
See: https://stackoverflow.com/questions/52972173/micronaut-security-session-authentication/52974224#52974224

[2018-10-24 17:15] weiqigao opened #775 "Adding Micronaut DI, AOP, validation dependencies and a validated singleton bean to existing modular Java 11 Gradle project causes exception during build"
### Steps to Reproduce

1. Take a working modular Java 11 application with a Gradle build.
2. Add dependencies for DI, AOP and validation:
[code]
3. Add a bean with a \@Singleton and \@Validated annotations on the class, and a \@Min(1) annotation on an int type method parameter:
[code]
4. Run "gradle build"

### Expected Behaviour

BUILD SUCCESSFUL

### Actual Behaviour

$ gradle build

\> Task :c

[2018-10-24 17:23] celcius112 opened #776 "Issue with binding a property of type Map<String, Map<>>"
### Steps to Reproduce

When trying to bind a property of type `Map<String, Map<>>`, the inner Map type is lost at runtime. It becomes  a simple `LinkedHashMap`.

### Expected Behaviour

Here, I expect my Map value to be type-safe, and that a Map as value be possible with any types (see my example project for a more complex type).

### Actual Behaviour

Given a field:
[code]
and a configuration fi

[2018-10-24 18:40] luckyswede commented on #769
Ok, makes sense, and the `Single<>` response type makes the method invocation run on the event loop I guess.

[2018-10-25 00:43] graemerocher commented on #769
Yes that is correct

[2018-10-25 06:10] DanielRuf opened #778 "failing CI"
The CI build is currently failing: https://travis-ci.org/micronaut-projects/micronaut-core/builds/445918707

[2018-10-25 11:16] graemerocher commented on #778
Thanks yes, we have some Kafka tests that fail intermittently due to the limited amount of memory available on Travis.. most likely we will move these tests to a separate `micronaut-kafka` project to reduce the memory requirements for the build

[2018-10-25 11:49] marceloverdijk opened #780 "@Transactional(readOnly = true) on class level not working"
Using Micronaut 1.0.0 GA it seems `@Transactional(readOnly = true)` on class level is not working.

This works (with `@Transactional(readOnly = true)` on methods):

[code]

but using:

[code]

result in the below exception when calling `findAll()`:

[code]

This relates to #345 where support for `@Transactional` on class level was added.

[2018-10-25 12:40] DanielRuf commented on #778
Or could these tests be splitted into several? Maybe CircleCI works better (not sure regarding the resources).

Or maybe switch to sudo builds using `sudo: required`: https://docs.travis-ci.com/user/reference/overview/

[2018-10-25 12:41] DanielRuf commented on #778
How much memory is needed? Would like to provide a PR to test if the sudo builds would work.

[2018-10-25 13:40] graemerocher commented on #778
hard to measure. The issue occurs with the embedded Kafka server which occupies a lot of memory

CircleCI has more memory constraints than Travis

[2018-10-25 13:53] DanielRuf commented on #778
So we already have this:

[code]

[2018-10-25 14:01] jameskleeh opened #781 "Document rejection handler"

[2018-10-25 20:58] ctoestreich opened #785 "Maven Central Replication / Broken BOM Deps"
It would appear that some of the artifacts that are specified in the maven BOM are not replicated out to jcenter/maven/etc.  I copied all the BOM deps to a POM file, removed their version, and included the BOM.  Then there were several errors of items that are included but not plublished and appear to be build/dev/etc that should be cleaned up.  I have also included at the bottom a list of conflic

[2018-10-25 21:05] ctoestreich commented on #785
the test pom was just the BOM deps pulled over with out versions.

[2018-10-25 21:09] hampsterx commented on #785
hmm, I am not seeing GA release, am I confused?
[code]

https://dl.bintray.com/micronaut/core-releases-local/io/micronaut/bom/

This shows RC2 only as latest :(

[2018-10-25 21:14] hampsterx commented on #785
oh scratch that..
seems package name got changed for RC3 ?

"micronaut-bom"

[2018-10-25 21:22] ctoestreich commented on #785
I am wondering if somewhere the scope of those is incorrectly NOT test as they aren't published with the rest of the libraries?  When I remove the ones below it resolves and builds.

[code]

The following is the complete "working" pom

[code]

[2018-10-25 21:31] ctoestreich commented on #785
Not to clutter this issue up but here are the overlapping items from simply using the bom in that test pom.

[code]

[2018-10-25 22:07] irstevenson commented on #765
Just wanted to do a shout out to @jameskleeh !

Thanks for your help on gitter finding the cause of this issue, and then for so promptly putting forward a PR. I really appreciate your efforts!! :+1:

[2018-10-25 23:19] hampsterx opened #786 "jrebel causing routing issue - Error instantiating bean of type [io.micronaut.web.router.DefaultRouter]"
### Steps to Reproduce

[code]
Added to gradle.properties

[code]
[code]
[code]

### Expected Behaviour

This was working with RC2

### Environment Information

- **Micronaut Version: 1.0.0 GA

[2018-10-25 23:56] RaviH opened #787 "DataSourceTransactionManagerFactory is being auto-configured"
**Micronaut  version**: 1.0.0

Hi,

I think I have found a possible bug.

**Bigger context**:

I have created a redis library using micronaut and I want to use it in a Spring Boot project. I want micronaut to provide `Bean`s (Singleton, Context, etc) that I have configured in `micronaut-redis-library` and that should be it.

But, micronaut is trying to configure: `io.micronaut.spring.tx.datasource

[2018-10-26 04:26] marcpa00 opened #788 "@Value not expanded correctly in Spock test"
### Task List

- [x ] Steps to reproduce provided
- [x ] Stacktrace (if present) provided
- [x ] Example that reproduces the problem uploaded to Github
- [x ] Full description of the issue provided (see below)

### Steps to Reproduce

1. clone my fork of micronaut-examples : `git clone https://github.com/marcpa00/micronaut-examples`
2. cd into project : `cd micronaut-examples`
3. switch to `marcpa

[2018-10-26 06:38] Oja95 commented on #786
Hey @hampsterx,

I'm writing from JRebel Support. If the issue only happens when JRebel is present, perhaps then you could reproduce the issue and send the stack trace and `jrebel.log` file from your `${USER_HOME}/.jrebel/` directory to support@zeroturnaround.com. We can then further look into this problem.

[2018-10-26 08:54] sdelamo opened #789 "Database migration - Liquibase support"
[http://www.liquibase.org](http://www.liquibase.org)

[2018-10-26 13:38] #775 closed

[2018-10-26 13:41] graemerocher commented on #785
The artefacts that are not synced are not synced because they are non-public / build or test related projects that are not mean to be included in the BOM

As for the overlapping requirements, that seems related to CLI dependencies which are not meant to be consumed by applications, so I'm not sure how this is an issue.

[2018-10-26 13:42] graemerocher commented on #787
Please upload a sample to GitHub that reproduces the issue

[2018-10-26 13:43] graemerocher commented on #786
@Oja95 thanks for suggesting that, not sure where to even start when looking into this issue

[2018-10-26 13:52] graemerocher commented on #773
The last example doesn't make a huge amount of sense because nothing is actually executed until the `Single` is subscribed to. So doing a `@ContinueSpan` on an internal method call would likely have no material effect.

You should be able to use `@ContinueSpan` on the top level method however, will investigate that.

[2018-10-26 14:04] skorikovdm opened #791 "@Property annotation does not work in groovy"
I am using Micronaut 1.0.0

My configuration (application.yml):

[code]

I wrote test service class in groovy:

[code]

testService.test() output:

Same test service in Java produces:

Link to github sample project: https://github.com/skorikovdm/micronaut-property-error

[2018-10-26 14:05] graemerocher commented on #788
Currently if you use raw spock then there is nothing that will inject the `@Value` setup for you. If you want this feature consider using `@MicronautTest`. See https://micronaut-projects.github.io/micronaut-test/latest/guide/index.html#spock

[2018-10-26 14:05] #788 closed

[2018-10-26 15:08] ctoestreich commented on #785
### BOM Issue
@graemerocher I am not a Maven fanboy by any means, but my philosophy on the matter and the reason I think this IS an issue, albeit a minor one, is to keep the BOM true to its nature.

According to the maven site ["The root of the project is the BOM pom. It defines the versions of all the artifacts that will be created in the library. Other projects that wish to use the library shoul

[2018-10-26 15:45] ctoestreich commented on #785
Since you guys probably aren't using maven enforcer for builds, and if anyone was curious, here is our settings that caused all this churn

[code]

[2018-10-26 16:04] wykapedia commented on #785
Typically, the `requireUpperBoundDeps` can be resolved by choosing the higher version of the conflicting dependencies.  Having this defined at the Micronaut level allows other developers to be shielded from doing this themselves.  This is something that Spring framework guarantees by using their BOMs.

[2018-10-26 16:05] wykapedia commented on #785
In my opinion the testing and CLI dependencies should be included in the BOM, just to declare which ones are actually compatible to be using with the remaining stack of compile / runtime dependencies.

[2018-10-26 16:33] #791 closed

[2018-10-26 16:39] graemerocher commented on #776
So we can probably support `private Map<String, Map<String, Integer>> myMap = new HashMap<>();` however your example uses `private Map<String, Map<String, Value>> myMap = new HashMap<>();` that isn't and won't be supported out of the box since it would require reflection to materialise the `Value` object and Micronaut is designed to be reflection free.

To support that you will need to implement a

[2018-10-26 17:31] ctoestreich commented on #785
Here is the effective BOM I had to make to wrap the micronaut one with pinned versions so that we aren't leaving it up to dumb luck and order of listing to determine which transitive will be pulled in.

[code]

[2018-10-26 17:37] celcius112 commented on #776
Fair enough, thanks a million for your answer.

`TypeConverter` is what I need at the moment for my use-case. The `Map<String, Map<String, Integer>>` issue was found while experimenting, and I thought it would be linked to my use-case.

[2018-10-26 17:46] graemerocher commented on #785
https://github.com/micronaut-projects/micronaut-core/blob/master/bom/build.gradle#L25 is where the BOM is built, it uses largely the same process as the BOM we produce with Grails, maybe since Grails has no Maven users these issues haven't cropped up. I don't know how they manifest in user applications, Micronaut 1.0 seems fine and usable with Maven from an end user point of view, but maybe I'm no

[2018-10-26 17:53] #780 closed

[2018-10-26 18:13] RaviH commented on #787
@graemerocher Here's the sample project showing the error:

https://github.com/RaviH/using-micronaut-in-spring-error

Please run `mvn spring-boot:run -o`

And here's the PR with the fix: https://github.com/micronaut-projects/micronaut-core/pull/792

[2018-10-26 18:35] RaviH commented on #787
Finally: this looks good: https://github.com/micronaut-projects/micronaut-core/pull/794

[2018-10-26 21:17] phxql opened #795 "IntelliJ, Micronaut and Lombok setup problem"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a project with mn
2. Add Lombok to the build.gradle before the micronaut annotation processors
3. Install Lombok IntelliJ plugin
4. Enable annotation processin

[2018-10-26 21:21] gavinws commented on #474
I hate to bring up an old issue, but I am seeing the same problem happen with the `--build maven` option. This is my first time using Micronaut or PicoCLI. I can see that your changes were not undone after your PRs were merged, so I'm not sure what's up with this unless Micronaut 1.0.0 was built on the wrong changeset or something.

What I did on macOS High Sierra (10.13.6) with Azul Zulu JDK 8 (J

[2018-10-26 21:28] phxql commented on #795
Thanks for your input - i will report that bug to JetBrains.

[2018-10-26 21:33] graemerocher commented on #795
I have reported https://youtrack.jetbrains.com/issue/IDEA-201331 to track the issue

[2018-10-27 05:49] remkop commented on #474
I’ll try if I can reproduce the issue.

[2018-10-27 09:52] remkop commented on #474
I've been able to reproduce the issue: it works for Gradle but is broken for Maven: the main command is `analyzer.Application` in Maven. Is there some difference in how the tokens in the skeletons are replaced?...

[2018-10-27 10:57] graemerocher opened #797 "Add deployment yaml file for OpenFaaS"
See https://github.com/micronaut-projects/micronaut-examples/issues/12

[2018-10-27 19:49] goeh opened #798 "JWT Cookie path not set, and not possible to configure"
When configuring `micronaut.security.token.jwt.cookie.enabled=true` to enable `JwtCookieLoginHandler` the Set-Cookie header does not include a path so the browser uses the path of the login controller "/login". The result is that cookies are sent from the browser for paths starting with /login but not for others paths. I could not find a way to configure cookie path for the JWT cookie.

 https://g

[2018-10-27 23:10] ZacharyKlein commented on #474
Limited internet connectivity at the moment, but I will look into this early next week and get back to you.

[2018-10-28 13:59] ctoestreich commented on #785
@graemerocher Time allowing, I will work with my team (which has some maven experts) to help clean this up.  I am looking at your @wykapedia (Lets see if we can get Mr. Maven, EE, to help out as well)

[2018-10-28 15:25] liseri opened #802 "Add configurations for elasticsearch"
I want to add configurations for elasticsearch.

Because diffierent es version need diffierent configuration, of course we can make a same template for multi vertion, but the work is so much.

So, I just use the Elasticsearch Rest high level client for version 6+.

I had  commit a PR #801,  because the spock test need a elasticsearch server starting, the Travis CI not successful.  I need ci enviro

[2018-10-29 07:47] graemerocher commented on #798
Thanks for the PR

[2018-10-29 07:47] #798 closed

[2018-10-29 08:11] graemerocher opened #805 "Function support not adding function package to application context"
Currently the function support is not adding the function package, which disables the ability to use features that do rely on package scanning (like JPA)

Apart from this the JPA support also has ` @Requires(entities = Entity.class)` which only takes into account the application package and not what is defined by `packages-to-scan`

[2018-10-29 08:38] #805 closed

[2018-10-29 08:40] #765 closed

[2018-10-29 09:19] remkop commented on #739
@graemerocher  Please let me know if https://github.com/micronaut-projects/micronaut-core/pull/760 or https://github.com/micronaut-projects/micronaut-core/pull/761 need tweaking before they can be merged.

[2018-10-29 09:34] remkop commented on #739
I did it from the User Guide web page "Improve this doc", not from an IDE. Not sure what branch that targets. Is it possible to cherry-pick the commit onto other branches after accepting the PR? I don't have my environment set up...

[2018-10-29 09:56] graemerocher commented on #739
@remkop ok no worries, will do manual merge

[2018-10-29 13:54] mstego opened #807 "StaticResourceResolver.resolve edits parameter path in iteration"
When you configurate multiple static resources in your application.yaml and the mapping field has a leading "/" (and the first (default) mapping is "/**"),  the resolve method will just work for the first static resource.
So the AntPathMatcher will return true for the default mapping and the parameter path will be cut by the leading /.  But the requested resource will not be found in the default r

[2018-10-29 15:01] liseri commented on #802
I had add ci elasticsearch support in PR #801

[2018-10-30 14:30] graemerocher opened #810 "Micronaut doesn't enable annotation processor for Maven projects for test sources"
See https://github.com/micronaut-projects/micronaut-examples/commit/929899f19f5545a909f310ea93854cf64857733b for resolution

We need to enable the annotation processors for the `test-compile` phase too

[2018-10-30 15:01] JStumpp commented on #215
The micronaut benchmarks seem to fail in latests tests see here: https://www.techempower.com/benchmarks/#section=test&runid=a0d523de-091b-4008-b15d-bd4c8aa25066

[2018-10-30 15:05] JStumpp commented on #215
And it would be interesting to see how a GraalVM would increase performance. A test TechEmpower variant would be great.

[2018-10-30 16:58] fpage opened #811 "Incompatibility Eureka + Zipkin in Micronaut"
Hi,

I was playing with the Eureka and Zipkin examples from your website and noticed a problem when Eureka and Zipkin are configured together. I was playing with the Eureka tutorial and got it to work without any problem. I then looked at the Zipkin example, cloned the repo, executed it and I could see my requests in Zipkin and life was good. When I added the Eureka stuff to the Zipkin example I c

[2018-10-30 21:09] ctoestreich opened #812 "Kafka @SentTo Configuration Using Default Serdes"
We are trying to use micronaut 1.0.0 to create a kafka streams application that will use custom serdes.  I have tried setting the values via code pros and yaml but the stream producer and consumer are still using the default `class org.apache.kafka.common.serialization.ByteArrayDeserializer`.  I will share the as much code.

I tried almost every variation of consumer and provider configs to no ava

[2018-10-30 21:11] ctoestreich commented on #812
I will try and put a generic project that illustrates this behavior up on github tomorrow.

[2018-10-30 21:30] ctoestreich commented on #812
Closing until I can produce example project as this appears to actually be replated to the @SendTo annotation.

[2018-10-30 21:30] #812 closed

[2018-10-31 01:02] ctoestreich commented on #812
@graemerocher I released after digging today that the json serde is always used for all things.  I will be doing an avro generic and specific serde pr.  We need support for that asap.  I am thinking of making a new `kafka-avro` configuration unless you would rather have core support for this directly in the `kafka` config.

[2018-10-31 05:34] satb opened #813 "After installation, micronaut cli commands not working on Mac"
Followed the sdkman installation instructions and installed on the Mac.

[code]

[code]

[code]

What could I do to troubleshoot more?

[2018-10-31 08:46] khelman opened #814 "Unnecessary context recreation at every AWS Lambda function call"
I've noticed that MicronautRequestStreamHandler recreates context at every call.
Adding simple cache for context shortens execution noticeably.
For example:
[code]

### Steps to Reproduce

1. mn create-function --build=maven test
2. change root log level in logback.xml to debug
3. mvn clean install
4. deploy on aws
5. run function twice (with any test data)

### Expected Behaviour

Function should