[2021-04-27 16:50] graemerocher commented on #5328
Did you try add the `netty-tcnative` dependency?

[2021-04-27 17:28] auke- commented on #5328
Looks like `netty-tcnative` and `netty-tcnative-boringssl-static` aren't working out of the box when using the GraalVM native image compiler. The `netty-tcnative` dependency normally isn't necessary when using Micronaut http client in a GraalVM native image.

`io.netty:netty-tcnative:2.0.39.Final`:
[code]

`io.netty:netty-tcnative-boringssl-static:2.0.38.Final`:
[code]

[2021-04-27 22:29] rodolfodpk commented on #2479
I had the same problem with 2.4.3. I had to add open modifier to class and method. Worked, nice. But so why should I use org.jetbrains.kotlin.plugin.allopen or else Micronaut throws an exception?

[2021-04-28 07:33] ilopmar commented on #5328
@auke- no, sorry, I don't know why they don't work together.

[2021-04-28 08:09] auke- commented on #5328
The issue is the same for Micronaut 2.4.4 with GraalVM 21.1.0.

I might have to ask this in the GraalVM channels, but do you know how to analyse such an issue?

[2021-04-28 09:17] auke- commented on #5328
Looks like you ran into the same issue with Tomcat: https://bz.apache.org/bugzilla/show_bug.cgi?id=64875

[2021-04-28 09:25] ilopmar commented on #5328
What happened with Tomcat is that they included the JNI GraalVM configuration by default and that broke everything. What they did to fix it was including the configuration file but not enabling it by default, so users can decide whether they want that JNI config or not.
For this case maybe the problem is that jansi is defining this: https://github.com/fusesource/jansi/blob/master/src/main/resource

[2021-04-28 10:45] vijamesDD commented on #3972
Hi, we have found this issue as well, using micronaut core 2.2.3 and micronaut test 2.2.1. Is there any update on a fix please? Thanks

[2021-04-28 11:14] utsav0209 opened #5331 "Generic Event Listeners Gets called on all Type of implementations"
`@EventListener` annotation when applied to a generic class regardless of what is the implementation type of object in the event it gets invoked.

### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Clone the Repositor

[2021-04-28 11:45] domi-nika60 opened #5332 "Websocket server cannot handle validation exceptions in `@OnOpen` method"
Websocket server cannot handle validation exceptions in `@OnOpen` method.

### Steps to Reproduce

In my microanut project I introduced validation of the parameters being sent via websocket connection. Also used `@OnError` method to handle exceptions being thrown.

[code]
In WebsocketClient.class the data validation looks like:

[code]

### Expected Behaviour

The stack trace should not be logged

[2021-04-28 14:39] goeh commented on #5331
The book event listener have `User` as generic type. Shouldn't it be `Book`?
https://github.com/utsav0209/mn-generic-event-bug/blob/master/src/main/java/mn/generic/event/bug/events/listeners/BookEventListener.java#L19

[2021-04-28 14:45] utsav0209 commented on #5331
@goeh thanks for pointing it out, fixed it. although the issue still persists

[2021-04-28 15:01] Holophrasis-uk commented on #4409
Is there an update or a work around for this issue? (environment is AWS ELB)

[2021-04-28 17:02] johnowl opened #5337 "Add property name inside spring.cloud.config"
Spring Cloud Configuration supports a property called `name` inside `spring.cloud.config` configuration, Micronaut does not. This configuration is interesting because sometimes the configuration file name differs from project name. Besides that, Spring Cloud Config supports a list of file names, like `file1, file2, file3`. This is useful when you share some configuration files between microservice

[2021-04-28 20:32] LajosPolya opened #5339 "Swagger UI Schema Read_Only property shows on PUT request"
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a Micronaut app which uses OpenApi Swagger from https://micronaut-projects.github.io/micronaut-openapi/latest/guide/index.html
    1. I tried this both with Ko

[2021-04-29 02:28] CoderYellow opened #5341 "HttpRequest in ShoppingCartRequestArgumentBinder#bind method can not gain the http body"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2021-04-29 02:29] CoderYellow commented on #5341
Are there any ways to bind the http body to the paremeter?

[2021-04-29 08:40] auke- commented on #5328
If I understand correctly the error isn't in the jni-config.json, but probably in the Netty code (or maybe Micronauts GraalVM configuration). The Micronaut application is working fine with `jansi`, even when compiled as a GraalVM native image. The error occurs when the `micronaut-http-client` dependency is added (which of course drags in some Netty dependencies).

When I remove the `jni-config.jso

[2021-04-29 12:02] johnowl commented on #5337
I reopened this issue in the correct project https://github.com/micronaut-projects/micronaut-discovery-client/issues/230

[2021-04-29 12:02] #5337 closed, assigned to nobody

[2021-04-29 13:56] #5339 closed, assigned to nobody

[2021-04-29 15:20] ilopmar commented on #5328
We've been troubleshooting an issue this morning related with JNI and AWS, and we've reached the same conclusion. Somehow the flag `--allow-incomplete-classpath` doesn't work with GraalVM and JNI because the generation of the native image fails with `NoClassDefFoundError`.

I've opened this issue https://github.com/oracle/graal/issues/3387

[2021-04-29 15:53] stepanv opened #5344 "Micronaut Controller fails to serialize reactive type streamed data when the HTTP status code is other than 2xy"
### Steps to Reproduce

Given a following Controller
[code]

The `/someJsonCollection` and `/someJsonStreamCollection` return `200` and the chunked and/or streamed JSON as expected.

On the other hand, the `/someJsonErrorCollection` and `/someJsonStreamErrorCollection` return `400` but the response payload is `{}`.

### Expected Behaviour

I would expect to get a chunked and/or streamed payload ev

[2021-04-29 16:17] j1cs opened #5345 "Redis on Graal: I/O error occurred during deserialization: java.util.ArrayList; no valid constructor"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a new app with: `mn create-app me.jics.backend -b maven -f graalvm,lombok,openapi,redis-lettuce,cache-ehcache -t spock`
2. Configure Redis cache as shown in th

[2021-04-29 16:54] graemerocher commented on #5345
Can you try using the Jackson serialised https://micronaut-projects.github.io/micronaut-redis/latest/guide/#sessions

JDK serialisation will be deprecated soon

[2021-04-29 17:34] jameskleeh commented on #4837
This case has been resolved in 2.5

[2021-04-29 18:09] jameskleeh commented on #5331
This feature does not exist today and there is already an issue to track it

Duplicates https://github.com/micronaut-projects/micronaut-core/issues/5281

[2021-04-29 18:09] #5331 closed, assigned to nobody

[2021-04-29 18:12] jameskleeh commented on #5341
Please upload an example application

[2021-04-29 18:51] j1cs commented on #5345
I tried without success. Shows the same error.

https://github.com/j1cs/drugstore-demo/blob/master/backend/src/main/resources/application.yml#L21

I'm using @Cacheable annotation in the services layer. It's a problem? Should I use it in the controller layer?

I followed this reference https://micronaut-projects.github.io/micronaut-redis/latest/guide/configurationreference.html#io.micronaut.configu

[2021-04-29 18:59] j1cs commented on #5345
I chcked redis and still using java serializer:
[code]

[2021-04-29 19:53] j1cs commented on #5345
Now adding
[code]
It works when running with the openjdk:
[code]

However doesn't work with the native image:
[code]

[2021-04-29 19:55] graemerocher commented on #5345
Try add `@TypeHint(io.micronaut.jackson.serialize.JacksonObjectSerializer.class)` to your `Application` class

[2021-04-29 19:55] mrwilby opened #5346 "Change in annotation metadata generation"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

Firstly, this could very well be something that we are doing wrong or have set up incorrectly in our build chain. However, it is a little odd that the same code works fi

[2021-04-29 19:59] graemerocher commented on #5346
An example app would help

[2021-04-29 20:32] j1cs commented on #5345
Didn't work:
[code]
Redis shows:
[code]

[2021-04-29 22:52] mrwilby commented on #5346
Tried to create a barebones example.

This line is where we expect 'true' to be returned for the 'throw platform exception' property:

https://github.com/mrwilby/micronaut-annotation-processor-repo1/blob/master/test/src/main/java/com/company/testing/http/RemoteCallInterceptor.java#L54

The property is intended to be set here:

https://github.com/mrwilby/micronaut-annotation-processor-repo1/blob/ma

[2021-04-30 02:28] j1cs commented on #5345
I think this is a bug. Because when you put the deserialization form in the `application.yml` file and micronaut-redis is not able to inject the value correctly.

[2021-04-30 03:24] CoderYellow commented on #5341
[here](https://github.com/CoderYellow/issue5341/blob/e74a6b4b2ad3300c87d28e05a2e79d8717013d31/src/test/groovy/com/example/TestSpec.groovy#L27)

[2021-04-30 06:38] auke- commented on #5328
I have tried to work around this issue by applying substitutions similar to the [substitutions used in Quarkus](https://github.com/quarkusio/quarkus/blob/main/extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/NettySubstitutions.java) but it keeps complaining about the missing classes `org.conscrypt.BufferAllocator` and `org.conscrypt.AllocatedBuffer`. That might be because I do

[2021-04-30 07:00] graemerocher opened #5348 "No longer possible to return Single<HttpStatus> in Micronaut 2.4 and above"
This used to be supported in a controller:

[code]

But has been broken since 2.4 and what happens is the `HttpStatus` object is encoded as JSON and a 200 is returned.

A test in discovery is failing due this regression.

### Expected Behaviour

Should emit the correct HTTP status

### Actual Behaviour

Encodes the enum as JSON and returns 200

### Environment Information

- **Micronaut Version:**

[2021-04-30 07:50] ilopmar commented on #5328
I've just tried those SSL substitutions in the sample app used in the GraalVM issue and it works!

I've also tried with a new Micronaut 2.4.4 application adding the jansi dependency and with the same substitutions, it works. There is an error with class `org/grails/datastore/mapping/validation/ValidationException` so I tried using a locally built Micronaut snapshot without that class and, as menti

[2021-04-30 09:22] ivyazmitinov opened #5350 "Feature request: possibility to use values of @ConfigurationProperties in annotations"
Currently it is possible to describe all of the configuration of application in a type-safe way with [@ConfigurationProperties](https://docs.micronaut.io/latest/guide/index.html#configurationProperties), but it is impossible to use it's methods in annotation like `@Scheduled`, `@Requres`, etc. It creates an inconsistency in configuration as part of it either not described in properties classes, or

[2021-04-30 11:16] auke- commented on #5328
Yes, you are right. I had to remove some stale `--initialize-at-run-time` lines from my previous attempts.

[2021-04-30 12:39] martijndwars opened #5351 "Incremental compilation with Gradle creates classes without parameter names"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Description

In #5236 it was reported that the compile-time validation fails when Gradle performs incremental compilation. What happened is that the incremental compiler would recompile cla

[2021-04-30 16:46] burtbeckwith opened #5353 "Unable to bind List properties from additional PropertySource"
Cannot access list properties from an additional PropertySource.

### Steps to Reproduce

Create a simple PropertySource with a list property:

[code]

Add it as an extra PropertySource.

### Expected Behaviour

Should be able to to add `List<String> getListval();` to an interface annotated with `@ConfigurationProperties`

### Actual Behaviour

Binding fails and the app won't start unless the meth

[2021-04-30 19:19] lightbody opened #5356 "ExecutableMethod behavior change from 1.3.7 to 2.5.0"
We are in the middle of trying to upgrade to 2.5.0 and finding that the behavior around how we used `ExecutableMethodProcessor` has changed in a breaking way. You can see a simple of demo of it here:

https://github.com/lightbody/micronaut-executable-method-bug

Specifically, if you look at the [JobService](https://github.com/lightbody/micronaut-executable-method-bug/blob/main/src/main/java/execut

[2021-04-30 19:29] jameskleeh commented on #5356
The processor is getting called with the correct types, and it is also getting called for the `JobProcessor` since they are 2 different methods.

[2021-04-30 19:29] #5356 closed, assigned to nobody

[2021-04-30 20:06] #5348 closed, assigned to jameskleeh

[2021-05-01 12:04] stse opened #5357 "Integrate Log4j's shutdown process with Micronaut's shutdown process"
Assume we have the following simple Micronaut application.

[code]

and the following Log4j configuration

[code]

### Steps to Reproduce

1. Run the application as it is
2. Use `Ctrl+C` to close the application

### Expected Behaviour
The following console output
[code]

### Actual Behaviour

[code]

### Environment Information

- **Operating System**: MacOS 11.3
- **Micronaut Version:** 2.4.2, 2

[2021-05-01 17:45] utsav0209 commented on #4791
@graemerocher, you mean to say that we should create a new `CustomerHttpresponseFactory` for this just the way we have `NettyHttpResponseFactory`?

[2021-05-01 18:09] graemerocher commented on #4791
Currently there are only methods variants that take the enum:

https://github.com/micronaut-projects/micronaut-core/blob/a237e29cf0baf2628a51c2e20d265bfb1f003b0e/http/src/main/java/io/micronaut/http/HttpResponseFactory.java#L48

We would need to add new methods like:

[code]

And then implement these in `NettyHttpResponseFactory` by overriding the method to produce the underlying Netty status obje

[2021-05-01 20:33] utsav0209 commented on #4791
@graemerocher  If we add a default method as you suggested above, and override it like:
[code]

this works I think, but as I see there is this method inside `NettyMutableHttpResponse`:
[code]

And this method is being overridden from `HttpResponse` interface. I am not sure if I am correct or not but I think wherever we are using this, it will break for custom response codes. What should we do abou

[2021-05-01 21:19] utsav0209 commented on #2553
@graemerocher  If we  exclude `white-space: pre-wrap;` or use  `white-space: pre;` it will cause a horizontal scroll-bar to come, if that's fine then I think I know what to change

![image](https://user-images.githubusercontent.com/42451248/116795210-dfe2fc80-aaf0-11eb-9264-49067fb6e9d5.png)

[2021-05-02 19:57] graemerocher commented on #2553
@utsav0209 probably better than having broken code copied. Thanks for looking into t

[2021-05-03 10:20] ghost commented on #4120
It appears that the context of the incoming http request does not get passed around when suspending/resuming coroutines.

Anything we can do/configure to get this to work?

[2021-05-03 17:23] utsav0209 commented on #5281
@graemerocher @jameskleeh I have been trying to look into this issue lately, I was wondering if by any chance micronaut preprocessor saves type details for method arguments the way it stores for the classes?

[2021-05-03 17:26] jameskleeh commented on #5341
Argument binders can be called multiple times, including before the body is available. You can check if the body is present, and if not, return UNSATISFIED. That will trigger the binder to be called again after the body is available. This is documented here https://docs.micronaut.io/latest/guide/#customArgumentBinding

[2021-05-03 17:26] #5341 closed, assigned to nobody

[2021-05-03 17:28] jameskleeh commented on #5271
@graemerocher Probably 3.0

[2021-05-03 18:06] wetted opened #5366 "IllegalAccessErrors trying to run JU5 tests with packagenames that include capital letters."
Thanks to @jbushdiecker for helping to track this down.

Note that this issue appears starting with Micronaut 2.3.0 and still exists in 2.5.0. It worked fine with 2.2.3. This is a blocker for migrating our project beyond version 2.2.3

### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full desc

[2021-05-03 18:52] jeffscottbrown commented on #5065
@jameskleeh Do you know if https://github.com/micronaut-projects/micronaut-docs/pull/27 resolves this issue?

[2021-05-03 18:54] jameskleeh commented on #5065
@jeffbrown I don't know for certain but it makes sense that it would

[2021-05-03 18:54] graemerocher commented on #5366
Why on earth would you have package names with capital letters?

[2021-05-03 19:06] wetted commented on #5366
I agree using caps in package names isn't a best practice, but it's not illegal syntax.

This is a legacy Swing-based application going back almost 20 years since inception, with a plugin architecture and document structure that rely on plugin package names as they are.  I wouldn't do it that way now, but it's what we have, and we can't change it now. It would be too costly and risky.

[2021-05-04 08:44] ghost opened #5370 "[Improvement] Async DNS Resolution"
### Steps to Reproduce

Build the simplest Micronaut app and make an outbound async http request using the Micronaut HTTP Client.

### Expected Behaviour

When using the Micronaut HTTP Client in an async manner, the DNS resolver used should work in an native async way.

The end goal is to not use sync invocations anywhere in the app, so that threads are free to service requests or other load in th

[2021-05-04 09:13] graemerocher commented on #5370
regarding thread starvation, remember to use a http client connection pool under load. The pool avoids extra DNS lookups

[2021-05-04 09:16] graemerocher commented on #5065
This should be fixed by https://github.com/micronaut-projects/micronaut-core/commit/e76576779c852616696cbd4029786b2ffabf4727

Maybe you want to verify the snapshot docs

[2021-05-04 11:34] graemerocher commented on #5281
possibly, we would need to look into. Probably a Micronaut 3.0 thing as we have better generics support in the 3.0.x branch

[2021-05-04 11:59] utsav0209 commented on #5281
@graemerocher, thanks I will have a look in that branch and see if I can come up with something

[2021-05-04 12:49] ghost commented on #5370
Thanks for the tip. I don't think we do now.

On Tue, May 4, 2021, 11:14 Graeme Rocher ***@***.***> wrote:

[2021-05-04 13:12] adrianotr commented on #4448
It seems this caused an issue in Micronaut JMS since 2.5.0.
The `@MessageHeader` annotation is not working. The `JMSArgumentBinderRegistry` only registers binders for the deprecated annotation `@Header`.

I've created https://github.com/micronaut-projects/micronaut-jms/issues/89

[2021-05-04 14:04] svmsharma20 opened #5375 "Non-daemon threads are getting killed before completion on shutdown."
We have an application in that we have some non-daemon threads which run in the background. Whenever a shutdown is triggered we set a flag that tells non-daemon threads to wrap up their work and then stop. It takes some amount of time for them to wrap the task they are currently processing. We are using @PreDestroy to set a flag which is used to tell all the non-daemon threads to wrap their task.

[2021-05-04 14:35] graemerocher commented on #4448
Fixed for Kafka with https://github.com/micronaut-projects/micronaut-kafka/commit/ad49d90d69a90a1c8e2b8f3416cb8573df2ed91b needs apply to the other message impls

[2021-05-04 14:35] #4448 closed

[2021-05-04 15:25] jameskleeh commented on #5215
RequestBean is not designed to work with `Single<SomePojo>`. I'm not sure what benefits could be had by allowing that support, especially since currently I don't believe it supports reading the body. Can you elaborate why you chose to use `Single`?

[2021-05-04 19:08] graemerocher commented on #5351
Hmm this is another bug in JDK 8. As a workaround you can use `@QueryValue("id")`. Nothing we can really do about JDK bugs :(

[2021-05-04 19:53] #5366 closed, assigned to jameskleeh

[2021-05-04 19:53] #5344 closed, assigned to jameskleeh

[2021-05-04 19:54] #5353 closed, assigned to jameskleeh

[2021-05-04 19:54] #5346 closed, assigned to jameskleeh

[2021-05-04 21:14] wetted commented on #5366
Kudos for a quick fix @jameskleeh. Thank you.

[2021-05-04 22:14] ednesic opened #5379 "NoSuchBeanException is thrown on tests with MockBean and Named singletons"
Some tests are throwing `NoSuchBeanException` when some Bean is mocked with `@MockBean` and is a dependency from a bean with `Named` qualifier. When the application tries to instantiate the named singleton, it also tries to instantiate the mock with the same Named qualifier and it fails.

### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that rep

[2021-05-04 22:26] IgorEulalio commented on #1457
Why the validations doesn't talks with jackson to throw the exception?
[code]

My class:
[code]

The error handled have the properties with the CAMEL_CASE strategy:
[code]

[2021-05-05 06:02] martijndwars commented on #5351
Should we document this; e.g. a note that "due to a bug in JDK 8 parameter names are lost during incremental compilation. To avoid incorrect compilation, include the name of the parameter in the annotation, e.g.
`@PathVariable("my-param-name")` or `@QueryValue("my-param-name")`"?

JDK 8 usage is declining, but still far too popular to neglect. It's also probably very common to hit _Run_ in Intelli

[2021-05-05 06:07] graemerocher commented on #5351
Agreed needs documentation

[2021-05-05 16:15] marcosflobo commented on #5138
A nice to have would be, either:
- Compatibility with the code already implemented in Micronaut projects with OpenTracing or
- Migration path/process from OpenTracing to OpenTelemetry

:)

[2021-05-05 19:58] jonnii opened #5388 "Yaml Errors loading security secrets"
While trying to upgrade to `2.5.1` from `2.4.2` our test suite fails to load our `application.yml` from test resources which we use to override a variety of options, most notably the jwt secret settings.

We believe the part of the config causing the issue is:

[code]

An example of the stack trace caused is as follows:

[code]

Additionally we have noted that running a version of `2.5.0` with #53

[2021-05-05 20:53] amckee23 opened #5389 "@ExecuteOn(TaskExecutors.IO) is ignored for Controllers which specify a body and instead runs on the event loop"
When exposing controllers specifying a body element (POST/PUT) using ExecuteOn in Micronaut >= 2.4.0 the ExecuteOn annotation appears to be ignored and instead the controller runs on the event loop.

This is demonstrated by the example repo:
https://github.com/amckee23/mn-event-loop-defect

### Task List
- [x ] Steps to reproduce provided
- [x] Stacktrace (if present) provided (N/A)
- [x ] Example

[2021-05-06 02:07] jonnii commented on #5388
Updated to note that this still persists with 2.5.1.

[2021-05-06 02:42] dstepanov commented on #5388
We probably need to remove that SafeConstructor

[2021-05-06 04:36] Hc747 opened #5392 "Repository method generation regression"
### Description
Attempting to upgrade from Micronaut 2.4.0 to 2.5.1 has introduced a compile time incompatibility in my repository methods that causes the build to fail.

Repository methods, annotated with Query(value = "INSERT/UPDATE/DELETE ...", readOnly = false) and Executable, that have a numeric return type (long in my use case) prevent the build from succeeding. The behaviour is not document

[2021-05-06 04:36] Hc747 commented on #5392
Closing https://github.com/micronaut-projects/micronaut-starter/issues/769

[2021-05-06 06:28] graemerocher commented on #5388
I'm unsure we should, there are open CVEs related to using SnakeYAML without it https://securitylab.github.com/research/swagger-yaml-parser-vulnerability/

[2021-05-06 07:35] binoysankar commented on #5138
Will there be an OpenTracing module for DataDog as the current way (attaching the javaagent) to jvm doesn't work for native-image or is there any modules I can refer to currently.

[2021-05-06 22:30] IgorEulalio commented on #3782
@graemerocher whats the best alternative for @Inject in this scenario?

[2021-05-07 03:40] baishui2004 opened #5395 "Server tomcat/jetty/undertow does not bind Principal"
Example [micronaut-security-jwt(micronaut-guides-poc)](https://github.com/micronaut-projects/micronaut-guides-poc/tree/master/guides/micronaut-security-jwt) work well with dependency micronaut-http-server-netty, but not work with micronaut-http-server-tomcat/jetty/undertow.

### Steps to Reproduce

1. download source describe by https://micronaut-projects.github.io/micronaut-guides-poc/latest/micr

[2021-05-07 03:51] Hc747 opened #5396 "Kotlin suspending function KAPT compilation issue"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce
1. Create a Kotlin Micronaut project
2. Create a Micronaut controller
3. Create a suspending function within the controller
4. Attempt to run the project via Gradle

###

[2021-05-07 14:04] IgorEulalio commented on #3782
The injection of properties doesn't work too:

[code]

properties:

[code]

Error after compiled with native image:

[code]

[2021-05-07 15:53] adrianotr opened #5398 "Default Kotlin values are not respected when using Bean Introspection Module"
When Kotlin `@Instrospected` classes are deserialized from JSON, if the attribute is missing in the JSON payload, the instantiated class is being initialized with a value that is not the default one defined in the Kotlin class.

### Steps to Reproduce

- Create an `@Instrospected` data class with a parameter with a default value such as
[code]
- Try to deserialize JSON into an instance of the data

[2021-05-07 16:09] graemerocher commented on #3782
if the field is private then it must be annotated with `@ReflectiveAccess`. Otherwise consider using package private fields or event better constructor arguments

[2021-05-07 16:12] graemerocher commented on #5398
This probably won't be fixed until we have a native Kotlin compiler and don't use KAPT

[2021-05-08 01:12] jonnii commented on #5388
@graemerocher is there a work around you can suggest?

[2021-05-08 02:51] sdelamo opened #5400 "Regression ServerRequestContext::currentRequest not working in HTTP Filters since 2.5.0"
`ServerRequestContext.currentRequest();`  is not resolving the request since 2.5.0 in a Http Server Filter.

Given the following controllers:

[code]

[code]

[code]

With 2.4.4, I am able to get hold of the current request with `ServerRequestContext`

[code]

with 2.5.0 or 2.5.1, it always returns optional:

[code]

[2021-05-08 07:15] graemerocher commented on #5400
Agree with the regression but why would you need to if the request is already an argument. 🤔

[2021-05-08 08:40] graemerocher commented on #5400
I guess yeah if there http clients used may need to be picked up downstream. Definitely need to fix this.

[2021-05-08 08:41] graemerocher commented on #5388
Can you provide an example that reproduces the issue?

[2021-05-09 12:03] andruskutt commented on #5400
This might have caused by filter ordering issue: On my custom filter implementing HttpServerFilter method Ordered.getOrder() is not called anymore on micronaut 2.5.X

[2021-05-10 03:52] sdelamo commented on #5400
I found it when using a `TenantResolver::resolveIdentifier()`within a Filter. I tried to create the simplest reproducible example.

[2021-05-10 07:21] svmsharma20 commented on #5375
Hi Team,

Can someone confirm the above bug and provide some update on this? Depending upon the response we might need to make changes in our architecture.
CC: @jameskleeh.

Thank you,
Shivam

[2021-05-10 08:34] graemerocher commented on #5375
Frankly I think this is working as designed. See here for an explanation https://www.baeldung.com/java-daemon-thread#difference-between-daemon-and-user-threads

The JVM doesn't wait until daemon threads complete before exiting and this is by design. If you don't want this behaviour then you should create a user thread instead of a daemon thread.

[2021-05-10 08:55] graemerocher commented on #5375
Actually sorry, I see you mentioned the opposite. Can be implemented with:

[code]

[2021-05-10 09:09] sandeep14-singh commented on #5375
While this solution would surely work, we are just trying to understand what are we missing in our original code/assumption. Ideally shutdown should happen after all user threads have finished their tasks & we should not be required to call ```join```.
Our actual service code has many user threads and hence we dont want to call ```join``` on each one of them.

[2021-05-10 10:14] graemerocher commented on #5375
Well Micronaut is not doing anything special here with regards to killing user threads. The only thing it does is register a shutdown hook that ensures pre destroys are invoked:

https://github.com/micronaut-projects/micronaut-core/blob/50406d0c9175f484c0a7e6368c1963f35df1728a/context/src/main/java/io/micronaut/runtime/Micronaut.java#L112-L123

The rest is just the regular behaviour of the JVM.

[2021-05-10 11:32] wangdiskater commented on #1509
the same as me.
But restart server  I have not been able to reproduce

[2021-05-10 17:00] #5389 closed, assigned to jameskleeh

[2021-05-10 18:37] jameskleeh commented on #5388
@jonnii The snippet you included parses OK. Need an example to pursue this further

[2021-05-10 18:38] #5379 closed, assigned to nobody

[2021-05-10 19:01] jameskleeh commented on #5268
We already have support for jakarta.inject and we have another issue for https://github.com/micronaut-projects/micronaut-core/issues/4770. If you have anything else in mind please create a new issue for some specific. This issue in of itself is too broad

[2021-05-10 19:01] #5268 closed, assigned to nobody

[2021-05-10 19:05] jonnii commented on #5388
I've been working on creating a reproduction and in the process I've realized that my initial thoughts are/were a red herring. At this point I'm trying to narrow it down.

[2021-05-10 20:20] derylseale opened #5408 "Any request fails with WebSocket error when running in EC2 environment"
I have a simple containerized microservice that runs fine locally, but fails when deployed to an EC2 environment. This only started happening with v2.5.0, and I've confirmed that there is no problem using up to v2.4.4. Every HTTP request to the service, including to the health endpoint, fails with the following message:

[code]

I am not using web sockets (so far as I know), so this message is esp

[2021-05-10 22:22] jonnii commented on #5388
Ok I've narrowed down the problem, turns out it's nothing like what I originally thought it was. We do the following as part of our tests to make them run in parallel:

[code]

Removing the kotest framework parallelization makes everything work fine, which is a little surprising.

[2021-05-11 06:04] cpriisholm commented on #3759
Can confirm that I've seen load balancers and http server return various errors (503, 421...) unless the above workaround is applied.

[2021-05-11 07:52] ivangfr opened #5409 "Native image building not working with Mapstruct"
Hi guys, I've tried to ask about it in `Gitter` but no response. Maybe, it's better to open an issue so that we can try to solve the problem. Let me know if you need more information besides the one I am providing.

Since I've upgraded to `Micronaut` to `2.5.1` I am having problem to compile to native an app that uses `Lombok` and `Mapstruct`. As `Mapstruct` generates code, somehow the native comp

[2021-05-11 17:17] #5400 closed, assigned to dstepanov

[2021-05-11 17:20] #5187 closed, assigned to mattmoss

[2021-05-11 19:27] andruskutt commented on #5400
Filter ordering fix seems to be incomplete. I have DefaultRouter.preconditionFilterRoutes empty, only two filters in alwaysMatchesFilterRoutes / alwaysMatchesHttpFilters . And they are not sorted by order: my filter, which depends on SecurityFilter ( ServerFilterPhase.SECURITY.after() ) , is first in list.

[2021-05-11 19:30] jameskleeh commented on #5400
@andruskutt You would have to upload an example. We have tests that verify the ordering works

[2021-05-11 20:33] andruskutt commented on #5400
[issue-5400.zip](https://github.com/micronaut-projects/micronaut-core/files/6461840/issue-5400.zip)
Just run gradlew test.

[2021-05-12 00:08] jameskleeh commented on #5400
@andruskutt Thanks for the example. It appears the issue would not happen if any filter matched a subset of requests. Will be fixed in 2.5.3 coming soon

[2021-05-12 14:59] graemerocher opened #5416 "Adding validation annotations to a final class shouldn't compile"
If you add validation annotations to a method of a final class it fails at runtime with:

[code]

### Steps to Reproduce

Example:

[code]

### Expected Behaviour

Should fail to compile

### Actual Behaviour

Compiles and fails at runtime

[2021-05-12 15:01] jaecktec commented on #3972
what the sample project is missing is:
[code]
and mocking worked like this:
[code]

would this fix your issue?

[2021-05-12 16:29] mattmoss commented on #5396
@Hc747 I'm looking into a fix for this. Meanwhile, as a workaround, change the return type for the controller methods from `Any?` to `String?`.

[2021-05-12 16:39] #5375 closed, assigned to nobody

[2021-05-13 00:19] Hc747 commented on #5396
@mattmoss Thank you for looking into this issue.
The example I provided was illustrative; unfortunately in my case, I'm dealing with generic interfaces, and have to account for the lowest common base class (any/object in this instance).
As a workaround, I found changing the return type from the result type (Any?) into HttpResponse<*> allows the application to compile and start.

[code]

[2021-05-13 07:44] aleksandr-chermashentsev opened #5418 "Uninformative exception message in exception when provide unsupported properties file"
### Steps to Reproduce

1. provide unsupported properties file format using VM argument for instance: -Dmicronaut.config.files=application.tbd

### Expected Behaviour

Exception which points that .tbd is unsupported format for properties file. List of supported formats also could be useful.

### Actual Behaviour

Exception "Unsupported properties file format: application"

### Stacktrace
[code]

[2021-05-13 08:46] l0co opened #5419 "NoSuchBeanException for @MockBean when the original bean has a qualifier"
In `2.5.2`, also in `2.5.3`, works well in `2.5.1`.

For the bean:

[code]

Annotated with `@Handler` annotation which is `@Qualifier`:

[code]

I have a test which replaces this bean with a Mockito-based mocked bean:

[code]

This works well in `2.5.1` but in `2.5.2` this test fails with:

[code]

When I turn on trace logging for `io.micronaut.context` I can see the difference here:

[code]

I'm

[2021-05-13 11:25] ivangfr commented on #5409
Btw, after several trials, I was able to build the native image. I don't know exactly what was wrong. In the end, I migrated to Micronaut `2.5.2`, added `lombok-mapstruct-binding` to `maven-compiler-plugin` annotationProcessorPaths and, remove/pushed again the `GraalVM` docker image. Closing the issue.

[2021-05-13 11:25] #5409 closed, assigned to nobody

[2021-05-13 12:29] jjchiw opened #5421 "Cannot create MockBean of interface with generics"
I'm not really sure if the title it's correct :/ since I don't really know why the bean cannot be created.....

### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create two interfaces like this
[code]

[code]

3. Cre

[2021-05-13 13:48] ivangfr commented on #4585
Hi @ilopmar Looks like that with **GraalVM** `21.1` the native image building issue seems to be fixed.

Now, there is a problem while executing an app that uses `Elasticsearch`. Looks like whenever we use `IndexRequest`, `DeleteRequest`, `BulkRequest`, the app gets stuck as I described in the issue https://github.com/micronaut-projects/micronaut-elasticsearch/issues/188

So, should we close this i

[2021-05-13 13:59] #4585 closed, assigned to nobody

[2021-05-13 14:13] marcosflobo opened #5422 "Raising HTTP status 500 with UnsatisfiedRouteException"
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

I'm no able to reproduce the error, however, here a description of the issue.

I have micronaut application exposing an endpoint and, from time to time, on the metric `h

[2021-05-13 19:36] #5396 closed, assigned to mattmoss

[2021-05-14 02:40] glats commented on #5215
Nothing special. Just to use reactive requests. if there is no major difference between using reactive patterns in requests, then there would be no need to use it .

[2021-05-14 04:32] jameskleeh commented on #5215
@j1cs OK then I think the best course of action would probably be to fail compilation. We can use this issue to track that

[2021-05-14 04:35] jameskleeh commented on #5422
You can change the response as a result of an `UnsatisfiedRouteException` by replacing the `UnsatisfiedRouteHandler` bean

[2021-05-14 04:37] jameskleeh commented on #5422
I just read your issue again and it seems incorrect that the response code is 500. Please upload an example application with steps to reproduce that shows the response code is 500 as a result of an UnsatisifedRouteException

[2021-05-14 04:38] jameskleeh commented on #5421
Can you please verify this issue persists with Micronaut 2.5.3?

[2021-05-14 06:07] rn55 commented on #5259
Hi @jameskleeh, any update on this? When a release is expected?

[2021-05-14 07:28] marcosflobo commented on #5422
@jameskleeh Unfortunately, I cannot upload the code here.

Insight for you. we replaced the siganture of the controller from
```public HttpResponse<MyResponse> analyze(HttpRequest<byte[]> request, @Body byte[] enhanceRequest) {```
to this
```public HttpResponse<MyResponse> analyze(@Body byte[] enhanceRequest) {```
And the problem dissapears

[2021-05-14 07:32] njimenezotto commented on #5388
The same happens to me with the property junit.jupiter.execution.parallel.enabled = true

[2021-05-14 07:34] graemerocher commented on #5388
Somebody needs to provide an example with steps to reproduce

[2021-05-14 07:53] njimenezotto commented on #5388
Here you will find an example https://github.com/noeliajimenezg/micronaut-issue-5388
If you comment one of the 2 test classes, the tests run fine but if you want to run both classes, it throws the error.

[2021-05-14 09:43] marcosflobo commented on #5422
Actually, with that new method signature, we do not have `UnsatisfiedRouteException` anymore and now we have `UnsatisfiedBodyRouteException`

[2021-05-14 15:26] jameskleeh commented on #5422
@marcosflobo In order to proceed forward we will need an example application that shows the issue

[2021-05-14 16:12] BenTels opened #5425 "Micronaut unjustly refuses WebSocket connections from Firefox"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2021-05-14 16:19] Holophrasis-uk commented on #5408
I'm seeing this as well. Even just following the guide: https://guides.micronaut.io/latest/micronaut-elasticbeanstalk-gradle-java.html ends up with the health endpoint giving `{"message":"WebSocket Not Found","_links":{"self":{"href":"/health","templated":false}}}`

Built in Intellij using AWS "Corretto 11 running on 64bit Amazon Linux 2/3.1.8" platform.

Perhaps something to do with the nginx pro

[2021-05-15 05:50] sdelamo opened #5426 "Regression 2.4.x 2.5.x Unable to deploy to Elastic Beanstalk"
# Steps to reproduce

`mn create-app example.micronaut.micronautguide --inplace`

## Health Endpoint

Add `micronaut-management` dependency:

[code]

## Port 5000 EC2 Env

Create a file to run the application in port 5000 when deployed to  [Elastic Beanstalk](https://aws.amazon.com/elasticbeanstalk/)

`src/main/resources/application-ec2.yml`

[code]

## Deployment

Generate a FAT JAR:

[code]

##

[2021-05-15 07:01] iirekm opened #5427 "Homemade ExecutableMethodProcessor doesn't work"
I created code like:
[code]

The bean is initialized, but `process` method is never called. I did everything exactly as it's done with `@KafkaListener` and `ConsumerProcessor` - how it's possible that in their case it works, in mine doesn't. Even when I try using something like:

[code]
It doesn't work too.

[2021-05-15 07:03] #5427 closed, assigned to nobody

[2021-05-15 10:06] graemerocher commented on #5426
@dstepanov could you take a look?

[2021-05-15 10:07] graemerocher commented on #5419
This makes sense to me, the mocked bean should contain the qualifier. Currently qualifiers are not automatically inherited by `@MockBean`

Previous behaviour seems like a bug

[2021-05-15 15:10] aalmiray opened #5428 "CLI silently ignores typo"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. install the `mn` command line
2. create a new application but make a typo, such as
    mn create-app com.acme.myfunction --features oracle-function --build=mmaven --l

[2021-05-15 15:32] aalmiray opened #5429 "Missing property when creating a function-app project"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Install the `mn` command line.
2. create a `function-app` project as shown at https://micronaut-projects.github.io/micronaut-oracle-cloud/latest/guide/#functions

[2021-05-15 16:52] marcosflobo commented on #5422
@jameskleeh the source code provided in the initial post is the "main entrance" of the application. I can tell you that when the issue happens, no single line of that controller is executed because the exception raises in some unknown step in advance.

After several experiments, we have some clues: Performance issue

This microservice receives 12 req/sec with body requests that can be around 30MB-

[2021-05-15 16:54] dstepanov commented on #5425
Looks like I broke it with https://github.com/micronaut-projects/micronaut-core/commit/5f7a0970bc48de6d22383421131d5a1212bb0976

[2021-05-15 16:59] jamesdh commented on #5425
Related: https://gitter.im/micronautfw/questions?at=609fd4d59f2c352db10f5cc1

@dstepanov keep in mind that in my scenario, it's not that the websocket connection was being refused (I'm not using web sockets against Micronaut), it's that *all* connections were refused if the HTTP connection supported websockets.

Removing...

[code]
...from my nginx config fixed the issue for me.

I'd also add that

[2021-05-16 22:28] johnowl opened #5431 "@Introspected annotation breaks Jackson mapping with Kotlin language"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Run the project https://github.com/johnowl/introspected-brakes-marshalling
2. Access the url http://localhost:8080/it-does-not-work
3. To see how it works without the

[2021-05-17 06:16] bjor-joh commented on #5301
Any updates or plans to fix this?

[2021-05-17 06:51] graemerocher commented on #5301
Not yet, but PRs are welcome of course

[2021-05-17 06:54] graemerocher commented on #5431
Micronaut doesn't support default values right now because the KAPT AST doesn't expose them

[2021-05-17 08:12] jjchiw commented on #5421
Hi!

I've the same exception.

I updated Micronaut with sdkman, updated `gradle.properties`, verified the version in terminal, restart IntelliJ, clean, build and It failed with tests

[code]

[2021-05-17 09:28] altro3 opened #5435 "[BUG] Can't use @ConfigurationProperties and @Validated together"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create any simple config properties like this:

[code]
2. Create service
[code]
3. Create config
[code]
4. Create application.yml
[code]

### Expected Behaviour

When

[2021-05-17 09:34] altro3 commented on #5435
Having experimented a little, I saw that configuration validation occurs without the `@Validated` annotation - this is great. But then the question remains: why, if I add the `@Validated` annotation, the behavior of the program changes? In my opinion, it would be more correct to simply ignore this annotation in such a case.

[2021-05-17 12:56] MartinKanters commented on #4307
I fail to see the difference between https://github.com/micronaut-projects/micronaut-core/issues/4457 and this issue. The former one is already merged, which suggests that a property on a bean with `List<@NotBlank String> strings;` should work, but it does not seem to work on 2.5.1. Can you please let me know the status and ETA (if known) of this feature?

[2021-05-17 13:56] #5408 closed, assigned to dstepanov

[2021-05-17 14:10] #5425 closed, assigned to dstepanov

[2021-05-17 14:10] #5426 closed, assigned to dstepanov

[2021-05-17 14:35] l0co commented on #5419
This is strange for me because this qualifier is never used to get this bean in this test, so I don't understand why is it required?

I also don't know how to accomplish *the mocked bean should contain the qualifier*? Because this:

[code]

Doesn't work and throws the same exception.

[2021-05-17 14:45] lpolya-tl commented on #4054
I copied tilmanrossmy repo (except replaced hikari with tomcat) and I found that overriding `io.micronaut.configuration.jdbc.tomcat.DatasourceFactory`  kept throwing a `Unexpected error occurred: Multiple possible bean candidates found: [io.micronaut.transaction.hibernate5.HibernateTransactionManager, io.micronaut.transaction.hibernate5.HibernateTransactionManager]`

Therefore I had to delegate fo

[2021-05-17 15:01] graemerocher commented on #5419
I think this would be resolved if this change were back ported to 2.5.x https://github.com/micronaut-projects/micronaut-core/pull/5424/files#diff-6ed11b100f79e881f2d1f257c202d3fd7402bd1093d92a3045bafe002fc72ddcR2201-R2208

You wouldn't be able to provide an example?

[2021-05-17 16:02] acoconut opened #5441 "NettyCookies throws NPE"
When receiving a header from a client like this: `Set-Cookie: cookie_name=cookie value; expires=Mon, 17-May-2021 09:32:59 GMT; path=/; secure; HttpOnly; samesite=none` (with whitespaces in the value), `ClientCookieDecoder.STRICT.decode(value)` (on NettyCookies.java:77) returns null and logs a warning:

`WARN  io.netty.channel.DefaultChannelPipeline - An exceptionCaught() event was fired, and it re

[2021-05-17 16:02] #5259 closed, assigned to jameskleeh

[2021-05-17 16:35] jameskleeh commented on #5259
@rn55 Likely today

[2021-05-17 18:23] #5441 closed, assigned to nobody

[2021-05-18 01:20] johnowl opened #5445 "Jackson serialization treat empty string as null"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a method in a httpClient that returns a class with some fields
2. Call an API that returns any string field with an empty value

API response example:
[code]

[2021-05-18 06:08] dynaxis commented on #3651
In my case, experiencing similar problem as @amckee23 's while upgrading from 2.1.2 to 2.5.1. I set the thread-selection to AUTO, and increased the event thread pool size to 8 since our EC2 is too small, resulting in single (or two)  if we don't set it explicitly. We are making blocking http calls inside controllers, sometimes multiple times in a handler. The timeout stacktrace is almost identical

[2021-05-18 06:26] graemerocher commented on #3651
To reduce context switching and improve performance Micronaut's http server and client use the same event loop in Micronaut 2+

If you block this event loop then the server has problems assigning a thread to respond hence the problem. You have a variety of options to solve this problem:

1. Don't block
2. Set thread-selection to IO and always offload operations to an IO thread pool
3. Configure a

[2021-05-18 06:37] dynaxis commented on #3651
@graemerocher thank you very much. BTW, do you think 8 event loop threads together with thread-selection AUTO can still cause read timeout in the recent versions of Micronaut? Even just yes or no would be really helpful to me. Since the default IO thread pool is unbounded, it's quite weird to me that we hit the read timeout with that many event loop threads. Our server is still quite low traffic a

[2021-05-18 06:53] graemerocher commented on #5445
This is configurable. See https://docs.micronaut.io/latest/guide/configurationreference.html#io.micronaut.jackson.JacksonConfiguration and `jackson.serialization-inclusion`

[2021-05-18 09:16] l0co commented on #5419
Catch the reproducible example here: https://github.com/l0co/micronaut-playground/tree/micronaut-5419

Note, that this only happens after adding `io.micronaut.sql:micronaut-hibernate-jpa` dependency and wrapping `MyBean` with `@TransactionalAdvice`, so somehow it's realed to `@Around` proxies.

[2021-05-18 09:26] amckee23 commented on #3651
Hi @dynaxis we saw something similar in 2.5.1 which was caused by: https://github.com/micronaut-projects/micronaut-core/issues/5389. This caused the thread selection logic to be bypassed on controllers which specified a body.

It was resolved in 2.5.2 tho.

[2021-05-18 09:42] pgressa opened #5447 "Handling AbstractRoundRobinLoadBalancer index when number of service instances changed"
The LB code:
[code]

contains a race condition when the number of services changed, more specifically there's less available service instances when there was during the last compute of next index and the next index now points to higher index then there is number of instances.  This conditions may happen in k8s env during rolling update for example.

### Expected Behaviour

When there is at least 1

[2021-05-18 11:08] jaecktec commented on #5301
I'd love to contribute however I have no idea where to start. Could you point me in a good starting direction?

[2021-05-18 12:31] dynaxis commented on #3651
@amckee23 Thanks a lot. That was the very cause of the regression we were experiencing. The problem also manifests when `micronaut.server.thread-selection` is set to `IO`. We will upgrade to `2.5.3`.

[2021-05-18 13:16] #5447 closed, assigned to pgressa

[2021-05-18 14:00] johnowl commented on #5445
Thanks @graemerocher ! I set the config as below and it worked:

[code]

Why isn't it the default option? A null value is the absense of a value what makes sense not returning it, but an empty value is a value. Otherwise, in languages like Kotlin, we try to avoid using nullable types.

Thanks

[2021-05-18 15:09] #5445 closed, assigned to nobody

[2021-05-18 15:10] jameskleeh commented on #5445
@johnowl Because it's easier to assume the value is either null or has a value. Dealing with empty strings can be a hassle. It seems like in your case the type should be nullable because you're allowing for an empty value. I would argue that is simply a hack for the perceived benefits of using a non nullable type, but it of course depends on your use case.

[2021-05-18 17:21] johnowl commented on #5445
Hello @jameskleeh! Thanks for your time. I think instead of nullable, Kotlin default values could be better in my scenario. I opened an issue related to Kotlin default values https://github.com/micronaut-projects/micronaut-core/issues/5431

[2021-05-18 19:55] oscarfh opened #5453 "Injected HttpClient fails in test if rebuildContext is set to true (with reproducer)"
I faced this issue during development and I was able to extract to a reproducer that can be seen here:
https://github.com/oscarfh/micronaut-test-error

Simply check it our and execute the DemoTest test.
There you will see two identical tests, if executed together, the first passes, the second always fails. If executed separately, both pass.

There is no much magic there, injecting an httpclient an

[2021-05-19 08:42] graemerocher commented on #5301
from the stack trace it looks like `HttpClientIntroductionAdvice` emits `null` for completion stage with a 404:

https://github.com/micronaut-projects/micronaut-core/blob/ae037fbef0ff7468d3ecec935d92c8e334f1b576/http-client-core/src/main/java/io/micronaut/http/client/interceptor/HttpClientIntroductionAdvice.java#L379

This appears to be invalid in Kotlin coroutines so the return type here:

https:

[2021-05-19 08:44] graemerocher commented on #5301
See here for where to add tests https://github.com/micronaut-projects/micronaut-core/blob/2.5.x/test-suite-kotlin/src/test/kotlin/io/micronaut/http/client/SuspendClientSpec.kt

[2021-05-19 11:30] MartinKanters opened #5460 "Upgrade Lombok to 1.18.20 to allow JDK 16"
Using Micronaut 2.5.3 + Maven + Lombok on Java 16 does not compile using the default lombok version provided by the Micronaut bom. The version of Lombok should be upgraded to 1.18.20.

### Steps to Reproduce

1. Create minimal Micronaut application from Micronaut Launch, using jdk16+lombok+maven (https://github.com/MartinKanters/micronaut-lombok-j16-demo)
2. Add Lombok with the current version pro

[2021-05-19 12:45] graemerocher commented on #5453
I don't believe there is much we can do about this `rebuildContext` is incompatible with `@TestInstance(TestInstance.Lifecycle.PER_CLASS)` as you have on your test since it prevents re-injecting all dependencies for each test

[2021-05-19 13:20] #5460 closed, assigned to nobody

[2021-05-19 13:21] jameskleeh commented on #3914
Closing this due to lack of an example

[2021-05-19 13:21] #3914 closed

[2021-05-19 13:23] #4404 closed, assigned to nobody

[2021-05-19 13:25] jameskleeh commented on #4730
Closing this as I don't see a path forward for us to do anything about it

[2021-05-19 13:25] #4730 closed, assigned to nobody

[2021-05-19 13:26] jameskleeh commented on #5019
Closing this due to lack of an example app

[2021-05-19 13:26] #5019 closed, assigned to nobody

[2021-05-19 14:00] MartinKanters commented on #5460
Great, thanks guys!

[2021-05-19 21:54] oscarfh commented on #5453
@graemerocher The problem persists even after removing `@TestInstance(TestInstance.Lifecycle.PER_CLASS)`.

[2021-05-19 23:05] csbiggar opened #5468 "@MockBean not creating mock correctly for micronaut > 2.2.1 ( "No such method" error on "mocked" bean)"
### Steps to Reproduce

See README of https://github.com/csbiggar/micronaut-mockbean-issue for full steps / an example which will recreate this issue, but in summary

Add a `@Factory` which creates a `com.google.cloud.datastore.Datastore` implementation

In a `@MicronautTest`, mock Datastore as follows

[code]

Run the test (via your IDE or using `./gradlew test` )

### Expected Behaviour

Test sh

[2021-05-19 23:16] csbiggar commented on #5468
I raised this in micronaut-core because it was a change in the bom version that first made the issue apparent. In our real application (which I can't share sorry!) we include the bom and micronaut-test as a separate dependency, and changing the version of that didn't help. I can try to recreate that exact setup in the example project but there didn't seem much point when the bug shows up with the

[2021-05-20 00:04] highmtworks opened #5469 "Rare occurrence of "Recursive update""
Rare occurrence of "Recursive update"

After #5384, it can fail to instantiate beans of RequestScope depending on other RequestScope beans.
It does not occur deteministically, but if it occurs, it continues to occur.

I am very sorry not to attach code to reproduce,
because this occurred in production and as the product is not open, I cannot share it,
and I have little time to write new reproducti

[2021-05-20 07:45] l0co commented on #4730
I haven't seen it for some time.

[2021-05-22 10:37] aSemy opened #5483 "`@Singleton` Kotlin sealed/abstract superclass - subclasses are not available as beans"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a `@Singleton sealed class` and an [object declaration](https://kotlinlang.org/docs/object-declarations.html#object-declarations) subclass

[code]

2. Inject t

[2021-05-22 12:07] CoderYellow opened #5484 "HttpClient should handle Set-Cookie header when automatically redirecting."
HttpClient should use the new cookies from redirect response if the cookie matching. Just like the browser do. I can't see any cookies handling in the [HttpClient](https://github.com/micronaut-projects/micronaut-core/blob/32013f3f2c5aba3cca0431b04ae2737c4978b509/http-client/src/main/java/io/micronaut/http/client/netty/DefaultHttpClient.java#L2330). It still use the origin headers.

[2021-05-22 12:11] CoderYellow commented on #5484
It is necessary because the new authenticated session id will be stored in the Set-Cookie header in some scenario, like gitlab login.

[2021-05-22 12:13] CoderYellow commented on #5484
I think micronaut should implement something like CookieManager in OkHttpClient.

[2021-05-23 02:21] CoderYellow opened #5485 "Need doc for HttpClient sending form data with POJO using Jackson annotations binding"
In the [doc](https://docs.micronaut.io/latest/guide/index.html#clientPostRequests):

I try this in this [file](https://github.com/micronaut-projects/micronaut-core/blob/817e54fded6a21a8498e5f8bf277ee5624fd0ffe/test-suite-groovy/src/test/groovy/io/micronaut/docs/basics/Book.groovy):
[code]
When I run this [unit test](https://github.com/micronaut-projects/micronaut-core/blob/33b62281d7c1f8397ade8e38

[2021-05-23 12:08] twobiers opened #5486 "HttpResponse body is null when using HttpClient.exchange()"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

###

[2021-05-23 21:02] stepanv opened #5488 "Controller returning Flowable with error as a 1st item should/could return a non-200 response http code."
Hi Micronaut team, I wonder if there is a workaround for this.
This is possibly a feature request.

I have a Controller rest endpoint returning `Flowable` and I want to get non-200 in case the first item in the `Flowable` is actually an error (the same for Reactor `Flux`).
It looks like Micronaut "blindly" sends 200 without waiting for the first item which could be an error.

In case of `Single` o

[2021-05-24 10:53] CoderYellow commented on #5486
I think you should specific the response type
[code]

[2021-05-24 11:02] twobiers commented on #5486
Oh yes, you are right, I did not look carefully enough at the Javadocs, i thought that the conversion type would be inferred from the data type.

[2021-05-24 11:02] #5486 closed, assigned to nobody

[2021-05-24 12:48] johnowl opened #5491 "HttpRequests are mutable in filters"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create two filters that changes the request
2. In the third filter you can read the updated request

### Expected Behaviour

HttpRequests should be immutable, the onl

[2021-05-24 14:38] markjfisher commented on #5468
A similar situation is happening for google's Storage class.

This works in micronaut 2.2.1:

    import com.google.cloud.storage.Storage
    // ...
    @Inject
    lateinit var storage: Storage

    @MockBean(Storage::class)
    fun createStorage(): Storage {
        return mockk()
    }

But in 2.5.4, we have to use:

    @Factory
    @Requires(env = ["test"])
    class MockStorageFactory {

[2021-05-25 05:01] CoderYellow opened #5492 "HttpClient should not append forward slash to the base uri with query paremters"
HttpClien should not append forward slash to the bas uri with query paremters when the uri in `@Get` annotation is empty;
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce
1. code
[code]

2. test
[code]

### Expected Beh

[2021-05-25 05:10] CoderYellow commented on #5492
[Here](https://github.com/micronaut-projects/micronaut-core/blob/5f7a0970bc48de6d22383421131d5a1212bb0976/core/src/main/java/io/micronaut/core/util/StringUtils.java#L369):
[code]
I thik this method should consider this situation: the paramter list in the `@Get` annotation is empty which means the `uri` is just
a query string  starting with `?`, then the `uri` should append to the `baseUri` directl

[2021-05-25 05:12] CoderYellow commented on #5492
@jameskleeh

[2021-05-25 11:23] jameskleeh commented on #5492
Can you explain what problem this is causing?

[2021-05-25 11:34] tchiotludo opened #5499 "Http server post multipart error on 2.5.4 (not on 2.5.3)"
This Controller wait for a Post Multipart :
https://github.com/kestra-io/kestra/blob/aa86c14a423605e9f991e5c3fe04ac046530451a/webserver/src/main/java/io/kestra/webserver/controllers/ExecutionController.java#L289-L296

After upgrading to micronaut 2.5.4, I've a new error for this request:
[code]
leading to this error :
<details>
  <summary>Stacktrace</summary>

[code]
</details>
The error prevent t

[2021-05-25 14:02] jameskleeh commented on #5484
I don't think we will do this. See https://github.com/micronaut-projects/micronaut-core/issues/2650

[2021-05-25 14:05] jameskleeh commented on #5422
@marcosflobo Without something to debug I wouldn't know where to start. I'll close this for now, but if you're able to get an example app that reproduces the problem I'll reopen this issue

[2021-05-25 14:05] #5422 closed, assigned to nobody

[2021-05-25 15:28] CoderYellow commented on #5492
there is a forward slash between issues and ? which is not expeced
https://api.github.com/repos/micronaut-projects/micronaut-core/issues/?state=all

[2021-05-25 18:00] Poorva17 opened #5500 "HttpClientResponseException serialisation for data class extending exception with unnecessary fields"
Hello,
I have modelled my API response something like following

[code]
I am eventually creating HttpResponse from MyResponse using `HttpResponse.serverError(response.errorValue)` in API flow.
I am posting request like following:
[code]
But in `result.response.body`
I am getting fields like stacktrace, localizedMessage along with errorValue.
I was expecting fields directly coming from `SomeDomainE

[2021-05-25 19:49] jeffscottbrown commented on #5065
The link in the docs appears to be valid now.

[2021-05-25 20:10] Poorva17 commented on #5500
https://docs.micronaut.io/latest/guide/#errorHandling This helped to get around issue. Thank you @jameskleeh for super quick response on gitter channel.

Closing this issue.

[2021-05-25 20:10] #5500 closed, assigned to nobody

[2021-05-26 01:25] #5484 closed, assigned to nobody

[2021-05-26 04:27] vonZeppelin opened #5501 "Provide a way to set SSL handshake timeout value"
### Task List

- [ ] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

N/A

### Expected Behaviour

Micronaut HTTP client configuration should provide a way to specify SSL handshake timeout.

### Actual Behaviour

See `io.netty.handler.ssl.

[2021-05-27 04:33] avillev opened #5504 "Warning on TypeElementVisitorProcessor if compileJava with Java 16"
Imcompatibility with org.gradle.api.internal.tasks.compile.processing.TypeElementVisitorProcessor
A bug has been filed to gradle but the problem seems to be more on micronaut's side: https://github.com/gradle/gradle/issues/17263
https://github.com/micronaut-projects/micronaut-build-plugins/issues/16

### Expected Behavior
No warning

### Current Behavior
The compileJava step fails with the below e

[2021-05-27 08:30] ZawadaZSE opened #5506 "HttpClient ignores connection reset."
Hey

I've been trying to use RxHttpClient to call and endpoint that streams some xml data. If an error would happen midstream it would close the connection to let the client know that something is wrong.

I would assume that client should communicate that in some way but that's not the case.
I've created a simple app that shows the issue: https://github.com/ZawadaZSE/connectionreset
I wrote the sa

[2021-05-27 12:59] CoderYellow commented on #5492
Sorry for my poor English,but i think the problem is clear
![bug](https://user-images.githubusercontent.com/43698473/119829939-59261180-bf2e-11eb-9cb4-e8c912c22c29.png)
![image](https://user-images.githubusercontent.com/43698473/119829982-63e0a680-bf2e-11eb-99c1-b20619e3db9d.png)

Is it going to be fixed?

[2021-05-27 13:30] jameskleeh commented on #5492
@CoderYellow Yep seems reasonable. PR welcome

[2021-05-27 13:38] marcosflobo commented on #5138
Is this change already in 3.0.0-M1? https://github.com/micronaut-projects/micronaut-core/releases/tag/v3.0.0-M1

[2021-05-27 13:49] CoderYellow commented on #5492
[PR](https://github.com/micronaut-projects/micronaut-core/pull/5493) has bean made.I it be a hornor to contribute to micronaut

[2021-05-27 14:57] 22dasi1bwi opened #5508 "Execution of HttpServerFilterChain renders Default ErrorResponse although ExceptionHandler is available"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Checkout https://github.com/22dasi1bwi/micronaut-filter-order-exception-handling
2. Run the tests

### Expected Behaviour

In the provided example I have implemented

[2021-05-27 16:19] #5504 closed, assigned to jameskleeh

[2021-05-27 17:35] graemerocher commented on #5138
No

[2021-05-28 01:18] CoderYellow commented on #5485
any usage for this?

[2021-05-28 18:40] drmaas commented on #4120
@jameskleeh I tried with the latest (2.5.x branch) and I am seeing a related failure, where suspension points "lose track" of any MDC attributes (and probably thread context in general).

Specifically - this test case fails, and shouldn't, because the tracing project is included in the test scope. https://github.com/drmaas/micronaut-core/blob/fix-mdc-controller-suspend/test-suite-kotlin/src/test/k

[2021-05-29 01:23] BenTels commented on #5425
Guys,

I hate to be a pest, but this issue is not fixed. The root problem seems to be that Netty uses a header representation that represents headers as a single string even if a header is multi-valued.

I have created a pull request with a suggested fix (#5510 -- sorry if I did it wrong, this is all rather new to me). Please let me know if I f'ed it up and have to fix something.
Since Micronaut a

[2021-05-31 11:37] BenTels opened #5513 "Micronaut still unjustly refuses WebSocket connections from Firefox"
L.S.,

I am opening this issue to draw attention to the fact that issue #5425 is not fixed. I have added a comment to that issue and a PR with a suggested fix.

I'm not sure if this is the way I am supposed to do this, but as a non-contributor I cannot reopen the issue and I was worried you wouldn't notice changes to a closed issue.

[2021-05-31 11:44] graemerocher commented on #5513
@dstepanov please take a look

[2021-05-31 20:13] paulolieuthier opened #5530 "ManagedChannel configuration injection failure when eager single initialization is set"
ManagedChannel configuration injection fails when the application is run with eager single initialization.

### Steps to Reproduce

1. `mn create-grpc-app example-project`.
2. Add `.eagerInitSingletons(true)` to Micronaut initialization.
3. Try to run the application.

### Expected Behaviour

The application should run just fine.

### Actual Behaviour

Exception is thrown:

[code]

### Environment

[2021-06-01 07:53] marcosflobo commented on #5422
@jameskleeh Just for you to know, we upgraded to micronaut version 2.0.1 -> 2.5.4 and the problem just disappeared

[2021-06-01 08:37] sdelamo opened #5516 "Unable to start application context from Android due to Regex"
## Steps to reproduce:

- Create a new Android application.
- Set min SDK to 24.
- Add several `packagingOptions` exclusions.
- Add Micronaut dependencies:

_app/build.gradle_

[code]
Add an [Android Application](https://developer.android.com/reference/android/app/Application) class :

[code]

Modify `src/main/AndroidManifest.xml` to use `BaseApplication`:

[code]

Run the application:

[code]

[2021-06-01 08:47] sdelamo commented on #5516
It seems the issue is Android uses a different Regex engine:

[Stackoverflow](https://stackoverflow.com/a/45075252/2138):

[2021-06-01 09:28] ilopmar commented on #5309
@morki What about adding the enum with `@TypeHint` so it is added automatically to `reflect-config.json` so you don't need to do it?.

If you annotate your Application class with:

[code]

This generates the following entry in `reflect-config.json`:

[code]

Does this work for you?

[2021-06-01 14:53] morki commented on #5309
Yes, it does work, but it adds some level of indirection to the code (the same as adding it to `reflect-config.json`)
The idea was to have that in place, where the enum and other data classes are declared (developer does not have to jump anywhere and break his flow).

[2021-06-01 14:55] ilopmar commented on #5309
Understood, thanks for the feedback!

[2021-06-01 15:37] RyanHoldren opened #5520 "Getter for CronExpression.expr"
I notice that there is no getter for `CronExpression.expr`. I think I expected `toString()` to return the original expression, but it returns `getClass().getSimpleName() + "<" + expr + ">"` instead.

[2021-06-01 17:03] jameskleeh commented on #5520
Seems reasonable. PR welcome. Target 3.0.x

[2021-06-01 17:04] #5516 closed, assigned to sdelamo

[2021-06-01 17:43] lightbody opened #5522 "Warn or error out when AOP annotations are placed on private methods"
We had some code that got refactored and a `@Transactional` annotation got placed on a private method accidentally. We only discovered it thanks to some failing tests. It'd be nice if Micronaut's annotation processors refused to compile or at least emitted a warning in such a case. Thanks!

[2021-06-01 19:28] #5499 closed, assigned to jameskleeh

[2021-06-02 06:51] #5388 closed, assigned to jameskleeh

[2021-06-02 07:09] ecmel opened #5524 "testcontainers 1.15.2 does not work on Apple Silicon M1 native JDK"
testcontainers 1.15.2 does not work on Apple Silicon M1 native JDK.

Workaround for gradle:

[code]

Please check https://github.com/testcontainers/testcontainers-java/issues/3834

[2021-06-02 09:07] tilmanrossmy commented on #4054
In the end we used the BeanCreatedEventListener to achieve the same :

`@Singleton
@Requires(env = [HEROKU])
class HerokuDatabaseUrlInjector : BeanCreatedEventListener<DatasourceConfiguration> {

    val logger = LoggerFactory.getLogger(HerokuDatabaseUrlInjector::class.java)

    override fun onCreated(event: BeanCreatedEvent<DatasourceConfiguration>?): DatasourceConfiguration? {
        val datab

[2021-06-02 10:03] jorgsant opened #5526 "Possible HTTP Filter bug since micronaut 2.5.x"
### Steps to Reproduce

Run micronaut application in https://github.com/jorgsant/micronaut-bug-http-filter

[code]

Check logs:
`[default-nioEventLoopGroup-1-3] INFO  e.micronaut.filter.DummyHttpFilter - HTPP Request body: null`

Change micronaut version to 2.4.4 in gradle.properties and repeat above steps:

`[default-nioEventLoopGroup-1-3] INFO  e.micronaut.filter.DummyHttpFilter - HTPP Request b

[2021-06-02 10:51] SubhadeepSen opened #5527 "Tracing library restricts setting JAEGER_SERVICE_NAME via environment variable"
I have been using the micronaut tracing library with jaeger for getting the traces. The application name property has not been set in application.yml file. Now I'm trying to set the JAEGER_SERVICE_NAME via environment variable but it is never set. The value is always **application**.

Now when I update my application.yml file with application name property the JAEGER_SERVICE_NAME is also getting s

[2021-06-02 13:01] stepanv commented on #5488
Hi @jameskleeh , by any chance could you please help me identify if this feature is either

- something the Micronaut team will implement soon (in next weeks let's say)
- OR
- if it's just a nice-to-have feature and it's very unlikely it will get implemented unless someone external contributed?

Thanks!

[2021-06-02 13:22] jameskleeh commented on #5488
@stepanv This has come up in the past and its something we should fix. I can't give you a timeline for when that will happen, however.

[2021-06-02 14:34] graemerocher commented on #5527
Sure seems reasonable. PRs welcome.

[2021-06-02 15:04] paulolieuthier commented on #5530
@graemerocher could you point me in the right direction so I can work on a fix?

[2021-06-02 15:06] #5508 closed, assigned to jameskleeh

[2021-06-02 15:46] SubhadeepSen commented on #5527
Thanks, I'll work on this and raise the PR.

[2021-06-02 16:33] jameskleeh opened #5528 "Review inheritance of class annotations"
Should `@Requires` be inherited?
Should qualifiers be inherited?
Should `io.micronaut.http.annotation` annotations be inherited?

[2021-06-02 16:48] graemerocher commented on #5528
no and no

I plan to implement support for `@Inherited` to allow inheriting annotations to be controlled by stereotypes. This is a CDI requirement for the work I am doing

[2021-06-02 16:49] graemerocher commented on #5530
Seems like a bug in core

[2021-06-02 16:50] jameskleeh commented on #5526
This is not a bug. See https://docs.micronaut.io/2.5.x/guide/#breaks

[2021-06-02 16:50] #5526 closed, assigned to nobody

[2021-06-02 16:52] SubhadeepSen commented on #5527
@graemerocher could you please help by approving the workflow(s)

[2021-06-02 18:03] dstepanov opened #5532 "Optimize native startup/memory consumption"
The tracking issue for native optimizations

[2021-06-03 03:00] drmaas opened #5533 "Kotlin: MDC attributes are lost when resuming after first suspension point"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. include `micronaut-tracing` dependency
2. Create a suspending controller function
2. Set an MDC attribute
3. call `delay`
4. retrieve the MDC attribute
5. assert that

[2021-06-03 07:46] graemerocher opened #5534 "Type element visitors never visit inner classes"
Related issue https://github.com/micronaut-projects/micronaut-data/issues/892

[2021-06-03 07:48] graemerocher opened #5535 "Type element visitors that visit annotations not processed by Micronaut do not work incrementally"
If you have a `TypeElementVisitor` that processes an annotation not by default handled by Micronaut it is never invoked when incremental annotation processing is on.

This is because the annotation names to process only take into annotation mappers and transformers but not visitors

A workaround is available which is to define a no-op mapper but that is a hack.

[2021-06-03 08:39] traycho commented on #5328
@auke Did you solve missing `org.conscrypt.BufferAllocator`  ?
@ilopmar  Do you plan a fix for this ?
 I could confirm this is reproducible even with micronaut 2.1.0 and graalvm 20.3.0

[2021-06-03 09:28] ilopmar commented on #5328
@traycho you have a workaround here: https://github.com/micronaut-projects/micronaut-core/issues/5328#issuecomment-829912994 but we are waiting on GraalVM issue https://github.com/oracle/graal/issues/3387

[2021-06-03 10:45] traycho commented on #5328
@ilopmar  Did you use all of the substitutions from this file  https://github.com/quarkusio/quarkus/blob/main/extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/NettySubstitutions.java?  Are you able to share your substitutions file ?

[2021-06-03 11:39] andriy-dmytruk opened #5536 "Add more customization for query parameters & Document modifying uri with client argument binders"
# Description

Unable to bind parameters to query with `AnnotatedClientArgumentRequestBinder ` (Using bind to add headers is described in [docs](https://docs.micronaut.io/latest/guide/#clientParameters))

# Reproduce

**The code is available in a [github repo](https://github.com/andriy-dmytruk/query-param-binder/tree/master/src/main/java/com/example).**

To add a query parameter, I create a custom

[2021-06-03 11:41] harissecic commented on #5002
Somehow my AnySetter is working fin for me. So far I traced problems with getter up to https://github.com/micronaut-projects/micronaut-core/blob/3f33453ec8b10a3bbcdd1af71ca4189cb923d87b/runtime/src/main/java/io/micronaut/jackson/modules/BeanIntrospectionModule.java#L259. I can see that it ignores _anyGetter member of the builder passed in and only works on properties in the else statement. I don't

[2021-06-03 12:15] ilopmar commented on #5328
@traycho only the SSL stuff. Probably this (the code changed from when I tried): https://github.com/quarkusio/quarkus/blob/main/extensions/netty/runtime/src/main/java/io/quarkus/netty/runtime/graal/NettySubstitutions.java#L71-L354

[2021-06-03 12:18] ilopmar commented on #5328
This is what I used: [Substitutions.java.txt](https://github.com/micronaut-projects/micronaut-core/files/6591564/Substitutions.java.txt)

[2021-06-03 14:17] #5527 closed, assigned to nobody

[2021-06-04 12:22] jameskleeh commented on #5536
You can do so via the `ClientRequestUriContext`. I'll leave this open to improve the documentation

[2021-06-04 22:00] mattmoss commented on #4962
Are you using something other than netty? (i.e. Tomcat, Jetty, or Undertow)

[2021-06-04 22:20] mattmoss commented on #4962
Duplicate of https://github.com/micronaut-projects/micronaut-servlet/issues/157

[2021-06-06 19:55] t0rr3sp3dr0 opened #5542 "SimpleCookie#toString doesn't generate a valid value for Set-Cookie"
Method toString of SimpleCookie currently returns a value similar to what would be possible to use on the Set-Cookie header but with some differences. It would be better to return a String value that is compliant with the HTTP specification.

### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Fu

[2021-06-06 20:03] t0rr3sp3dr0 commented on #5542
Reference: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie

[2021-06-07 07:21] lgathy opened #5544 "Custom reason phrase is inaccessible in filters when using Netty runtime"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a Micronaut project using Netty runtime.
2. Create an HTTP endpoint and set a custom reason phrase in the response.
3. Create an `HttpServerFilter`, wrap the p

[2021-06-07 10:06] gitjxm opened #5546 "httpClient service call timeout problem"
I started a de-task service to register with consul
![image](https://user-images.githubusercontent.com/41097032/120998729-ef71f700-c7ba-11eb-9add-9f5db6f54280.png)
![image](https://user-images.githubusercontent.com/41097032/120998739-f3057e00-c7ba-11eb-8fc5-1a93cb5252e7.png)

I started a test service to register with consul,through client configure call de task
![image](https://user-images.githubu

[2021-06-07 10:16] gitjxm commented on #5546
The timeout request didn't call the de-task service, so I'm sure it's a consul or client problem。There's a 20% chance of timeout

[2021-06-07 10:30] gitjxm commented on #5546
![image](https://user-images.githubusercontent.com/41097032/121001914-593fd000-c7be-11eb-82be-7beff07cc84a.png)

[2021-06-07 16:24] charlie-harvey opened #5548 "Better MethodAdapters error handling for annotating suspend functions"
I tried annotating a `suspending` function with `@EventListener` and `@TransactionalEventListener` and it is not actually possible to do this. But the error log did not make this easy to find out.

[code]

Error log:
[code]

The fix is to remove the `suspend` keyword:
[code]

It would be nicer if Micronaut told me explicitly that suspending functions were not allowed. Thanks.

[2021-06-07 16:29] denis111 commented on #1228
I tried io.micronaut.reactor:micronaut-reactor with latest stable Micronaut (v2.5.5 at the moment) and the issue seems not resolved. It works fine with RxJava.

[2021-06-07 16:32] denis111 commented on #4422
I tried io.micronaut.reactor:micronaut-reactor with Micronaut v2.5.5 just to migrate out project to Reactor now while it's not so big to have it already use Reactor when Micronaut v3 released and there seems to be the issue with ServerRequestContext propagation in map, flatMap, etc. https://github.com/micronaut-projects/micronaut-core/issues/1228

[2021-06-07 16:32] jameskleeh commented on #1228
@denis111 Please open an issue with an example project and steps to reproduce

[2021-06-07 17:11] denis111 commented on #1228
@jameskleeh
Thanks for the answer. I just discovered that it happens only when there's some .fromFuture() call in Mono/Flux flow. When there's only normal Mono/Flux creations like just/map/flatMap it doesn't happen. With Flowable there's no such problem. I'll create an issue.

[2021-06-07 17:18] denis111 opened #5549 "Project Reactor ServerRequestContext lost when using Mono.fromFeature()"
When using project Reactor flow ServerRequestContext is lost when Mono is created by Mono.fromFuture. Here's the example code (i think it's too small to publish on github):

[code]

If you go to /context/flowable it's ok, context present but in /context/flux not.

### Task List

- [ x ] Steps to reproduce provided
- [ x ] Example that reproduces the problem uploaded to Github
- [ x ] Full descript

[2021-06-07 18:30] jameskleeh commented on #5544
@lgathy PR welcome :)

[2021-06-08 06:10] leenanimbekar opened #5552 "Micronaut is sending connection: close for all request with status > 499"
The connection isn't bad and can be reused regardless if the response was a 200, 404 or 502.
Can we have some potential feature flag or some alternative to not invoke this behaviour? Is there any issue if we bypass this logic?
[code]

### Steps to Reproduce

Any request where request fails with > 499 status has this header.

### Expected Behaviour

We should have connection close only if something

[2021-06-08 06:13] graemerocher commented on #5552
[code]

A code 500 indicates something went wrong with the application. Having said that PRs welcome and if you wish to add a config option to address your use case go ahead.

[2021-06-08 07:34] denis111 commented on #4422
Here's the bug I talked before https://github.com/micronaut-projects/micronaut-core/issues/5549

[2021-06-08 07:52] denis111 commented on #5549
If i change .fromFuture(calculateAsync()) to .fromCallable(() -> calculateAsync().get()) then it works fine

[2021-06-08 09:28] sdelamo opened #5554 "Extracting RxJava2"
I have created the repository to start the move RxJava2:

https://github.com/micronaut-projects/micronaut-rxjava2

I have moved `instrument`, `converters` and the main `RxClient` files.  However, I am not sure what we want to do with
[DefaultHttpClient](https://github.com/micronaut-projects/micronaut-core/blob/3.0.x/http-client/src/main/java/io/micronaut/http/client/netty/DefaultHttpClient.java).

[2021-06-08 10:36] graemerocher commented on #5549
I think that is the way to go. Using `fromFuture` you would have to make sure the thread pool is instrumented

[2021-06-08 10:36] gitjxm commented on #5546
hello
After testing, the httpclient request thread pool is not recycled by default, resulting in httpclient request timeout, In this case, the thread is recycled, but the request times out,The next request will not time out, When the threads in the thread pool are used up, the request will time out again
[code]
The number of netty test threads can only alleviate the request timeout interval, but c

[2021-06-08 10:37] graemerocher commented on #5554
yes the client needs to be rewritten in reactor then an adaptor provide that implements `RxHttpClient`

[2021-06-08 10:38] graemerocher commented on #5546
provide an example with clear steps to reproduce

[2021-06-08 10:38] denis111 commented on #5549
@graemerocher yes, I already changed everything in my "real" project to fromCallable. But with flowable it worked fine, the CompletableFuture there is not mine but returned by a third party library.

[2021-06-08 10:43] graemerocher commented on #5549
so in general as part of the shift to reactor we need to rewrite the instrumentation logic in reactor to use the context https://projectreactor.io/docs/core/release/api/reactor/util/context/Context.html

This work is not undertaken yet but will solve the issue you see for Reactor in the future

[2021-06-08 10:54] denis111 commented on #5549
@graemerocher ok, thank you! I'll just use fromCallable for now.

[2021-06-08 11:04] Alex100 opened #5555 "ServerRequestContext.currentRequest() is not available when accessing in a nested block of runBlocking() and async()"
Using coroutines with Micronaut and AWS Lambdas enforced us to scope controller functions with ``runBlocking`` (see discussion https://github.com/micronaut-projects/micronaut-aws/issues/1079). This results in a problem where the ``currentRequest`` is null if ``ServerRequestContext.currentRequest()`` is called in the inner block of ``runBlocking`` and ``async(Dispatchers.IO)``

### Task List

- [ ]

[2021-06-08 11:31] gitjxm commented on #5546
hello
https://github.com/gitjxm/micronaut-client
There are two projects in it
![image](https://user-images.githubusercontent.com/41097032/121177449-fcace580-c88f-11eb-808d-cd682b898819.png)
http://localhost:8081/client/hello/zhang

[2021-06-08 15:01] ilopmar opened #5556 "Remove generation of GraalVM resource-config.json from GraalTypeElementVisitor"
The `GraalTypeElementVisitor` shouldn't create the GraalVM `resource-config.json` with all the static resources. That should be done in the Gradle/Maven plugins.

There are pending PRs for the plugins and this PR shouldn't be merged until those are merged and released:

- Gradle: https://github.com/micronaut-projects/micronaut-gradle-plugin/pull/215
- Maven: https://github.com/micronaut-projects/m

[2021-06-08 15:18] ilopmar opened #5557 "Explore removing generating of GraalVM reflect config with for `@Introspected`"
Explore if our GraalVM tests applications work without the GraalTypeElementVisitor generated GraalVM reflect-config configuration for classes annotated with `@Introspected`.

This was mandatory at the very beginning for Jackson serialization but using Micronaut Jackson module shouldn't be necessary.
If that works we should remove that code from the Graal visitor and expand the `@ReflectiveAccess`

[2021-06-08 22:19] vikramkamath commented on #2079
Same boat 😢
It initially appeared to me that intercepting the client request. We want the `@Client` to connect to

- `a.example.com`,
- `b.example.com`,
- `c.example.com` ....

which can be only determined dynamically from another service.

I have tried mutating `host` with `HttpClientFilter` Implementation but NO LUCK. Here is what my setup looks like.

## Client
[code]

 ## OrdersService

[code]

[2021-06-09 01:17] #4962 closed, assigned to nobody

[2021-06-09 05:31] jameskleeh commented on #5555
I understand there may be some use cases impacted here but using `ServerRequestContext.currentRequest<HttpRequest<*>>().orElse(null)` should never be done in a controller method like your example. You can simply inject the request into the method and use it.

[2021-06-09 06:42] gitjxm commented on #5546
hello
sorry.There is a problem with the example I gave, which has been corrected
I saw a similar answer to my question,But there is no solution
 https://github.com/micronaut-projects/micronaut-core/issues/5270
I tried to use the version 2.3.4 of MICRONAUT, which also has this problem.I'm not sure if this problem is netty thread recycling problem. I'm a little skeptical

[2021-06-09 07:30] Alex100 commented on #5555
This is only a minimal working example that reproduces the problem. In our real use case, we use ``HttpResponse.ok()`` in a ``HttpClientFilter``. The underlying AWS implementation of ``HttpResponseFactory`` calls then ``ServerRequestContext.currentRequest()`` (see: https://github.com/micronaut-projects/micronaut-aws/blob/222f6025a66500d692ba1de570de8f186993df0d/function-aws-api-proxy/src/main/java

[2021-06-09 13:51] jameskleeh opened #5568 "Fix intermittent failing test"
io.micronaut.http.client.IdleTimeoutSpec shouldn't close connection if connection-pool-idle-timeout is not passed

fails intermittently

[2021-06-09 14:43] #5492 closed, assigned to nobody

[2021-06-09 15:27] ilopmar commented on #5557
I published a snapshot version without the `GraalTypeElementVisitor` included `@Introspected` classes in the GraalVM `reflect-config.json` file and then I ran the GraalVM CI: https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/pipelines/317529342

There are some know failures like rabbitmq, mqtt, cache,... that we know don't work at this moment with GraalVM until we do some changes. For

[2021-06-09 15:30] graemerocher commented on #5557
The logic is part of core not data https://github.com/micronaut-projects/micronaut-core/blob/3.0.x/inject/src/main/java/io/micronaut/inject/beans/visitor/EntityIntrospectedAnnotationMapper.java

[2021-06-09 15:35] ilopmar commented on #5557
That probably explains why the mapping I'm trying in https://github.com/micronaut-projects/micronaut-data/blob/5b7feab2be9736f7f72aa37f7066db3e19ee769c/data-processor/src/main/java/io/micronaut/data/processor/mappers/MappedEntityMapper.java doesn't work :sweat_smile:

Thanks for the hint!

[2021-06-09 21:35] graemerocher commented on #5138
Contributions welcome. I think @pgressa was going to look at this soon

[2021-06-10 09:43] andriy-dmytruk commented on #5536
Thank you @jameskleeh !

There is one more problem I am facing. Basically I want to implement collection format `multi` given by [openapiv2](https://swagger.io/specification/v2/) specification and would transform `List foo = ["bar", "baz"]` into query parameter `foo=bar&foo=baz`. However this is not achievable, as queryParameters are stored in a Map and the values that I pass to `uriContext.getQue

[2021-06-10 13:51] jameskleeh commented on #5536
@andriy-dmytruk Appreciate the feedback. I'll modify it for Micronaut 3 to support that

[2021-06-10 13:57] #5488 closed, assigned to jameskleeh

[2021-06-10 18:10] Alex100 commented on #4418
Ran into the same bug. As soon as ``@Introspected`` is removed, everything works fine. The ``@field:JsonFormat`` does not fix this problem.

[2021-06-10 20:34] laurentpellegrino commented on #3544
I experienced the same need recently. Is there a technical reason for not supporting this? is there a workaround?

[2021-06-11 05:34] frenchmb opened #5571 "Cannot build native lambda image on M1 Mac"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2021-06-11 08:37] sumitaneja opened #5572 "Jaeger tracing does not work with Filter on IO thread pool"
When we switch filter to IO threadpool (via subscribeOn), Tracer.activespan starts returning null.

Sample FIlter
[code]

[2021-06-11 11:22] ilopmar commented on #5328
@traycho The GraalVM team fixed the issue and it will be included in GraalVM 21.2 (to be released on July 20th). I tried with my application and it works properly.
Another thing fixed is that now the substitutions are not needed anymore.

[2021-06-11 11:22] #5328 closed, assigned to nobody

[2021-06-11 15:27] wlezzar commented on #5301
@graemerocher Completing kotlin coroutines with null should be totally valid.

I think what is making this failing is [this line here](https://github.com/micronaut-projects/micronaut-core/blob/2.5.x/aop/src/main/java/io/micronaut/aop/internal/intercepted/KotlinInterceptedMethod.java#L155) which explicitely throws the exception when the result is null.

Do you have some context on why this behavior

[2021-06-11 15:28] graemerocher commented on #5301
good question, @dstepanov any idea?

[2021-06-11 16:47] dstepanov commented on #5301
I guess I didn't realize that the coroutine can return a null.
Anyone wants to create a PR with a test and removing that line?

[2021-06-11 16:47] wlezzar commented on #5301
Yes I can do that 👍🏼

[2021-06-12 17:13] anandjaisy opened #5588 "Annotation types by stereotype not respecting annotation mapping"
Using the Micronaut 2.5.5 version with rabbitMQ the listener receiving the same value for both the parameter

### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

1. Clone the repo and build and run the application using G

[2021-06-13 17:04] dynaxis opened #5579 "Relative property placeholder resolution for @EachBean"
When we drive defnition of multiple beans with `@EachBean`, it would be good if property placeholders can be resolved relative to the corresponding `@EachProperty` config.

For instance:

[code]

[code]

The example is roughly for the Kafka integration and quite unpolished. But I think it explains the general idea well enough.

[2021-06-14 04:39] #5548 closed, assigned to mattmoss

[2021-06-14 04:41] #5301 closed, assigned to nobody

[2021-06-14 08:10] ace-timr opened #5581 "Immediately failing streamed response does not use error routing"
Hi.
Thank you for your quick fix of the issue https://github.com/micronaut-projects/micronaut-core/issues/5488 . However, the issue is still partially present. When streamed response from a REST Controller returning a `Flowable` fails on 1st item, a generic error response with status 500 Internal Server Error is returned. This does not match behavior for Controller endpoints returning `Single`s. A

[2021-06-14 11:06] jaecktec commented on #4829
I think this bug was introduced here: https://github.com/micronaut-projects/micronaut-core/commit/2827a91271d6d3702aaad3c6994483d30b683a07

[2021-06-14 13:00] jaecktec commented on #5533
you need the dependency: `implementation("org.jetbrains.kotlinx:kotlinx-coroutines-slf4j:${coroutinesVersion}")`
and then use `withContext(MDCContext())` whenever you an mdc attribute

[2021-06-14 14:24] jameskleeh commented on #5581
By the time the body is being subscribed to we are beyond the routing portion of the code base. The request has already been sent down the Netty pipeline. Flowable is handled differently from Single because Flowable indicates a streamed response and single does not. I don't think this is feasible to fix.

Edit: Perhaps more possible in Micronaut 3

[2021-06-14 15:52] ilopmar commented on #5557
Closed by #5574

[2021-06-14 15:52] #5557 closed, assigned to ilopmar

[2021-06-14 15:59] jameskleeh commented on #5588
This is actually a bug in core in regards to annotation mapping. .getAnnotationTypeByStereotype(Bindable.class); should return io.micronaut.messaging.annotation.Header instead it returns io.micronaut.messaging.annotation.MessageHeader

[2021-06-14 20:24] #5522 closed, assigned to mattmoss

[2021-06-15 01:25] hernancerm commented on #4791
Hi, @graemerocher I would like to take this issue

[2021-06-15 08:02] SubhadeepSen opened #5592 "Feature Request: Support for auto instrumentation with OpenTelemetry standard"
The greatest promise of OpenTelemetry is a single standard for observability instead of two competing standards (OpenTracing and OpenCensus).

Currently micronaut tracing supports auto-instrumentation feature with only Open Tracing standard where jaeger or zipkin tracing library can be used for instrumentation. But there is no auto-instrumentation feature available with Open Telemetry standard. He

[2021-06-15 09:30] graemerocher commented on #5592
Duplicates https://github.com/micronaut-projects/micronaut-core/issues/5138

[2021-06-15 09:30] #5592 closed, assigned to nobody

[2021-06-15 09:32] paulboichat opened #5596 "HTTPClient - Read Timeout"
I'm receiving a io.micronaut.http.client.exceptions.ReadTimeoutException when using HTTPClient to call an external service multiple times. The same error can be reproduced in a test application using a client to call a service within the test app

The exception appears to be thrown after using HTTPClient approximately fours times

### Steps to Reproduce

Run the Server in the example application l

[2021-06-15 13:28] safarmer commented on #5002
I ran into this issue when using Java 16 records with @JsonAnyGetter/@JsonAnySetter. PR sent for review with fix to make sure the AnyGetterWriter is preserved. It looks like the field is (correctly?) being ignored in the properties already.

[2021-06-15 14:25] #5535 closed, assigned to graemerocher

[2021-06-15 14:37] harissecic commented on #5002
This is the line I was talking about. However given that the first run is by Jackson without Micronaut module I guess it might be relying on reflection thus didn't want to provide such a pull request. But maybe I'm wrong and this is it?

[2021-06-15 15:19] safarmer commented on #5002
Good question. Hopefully it is easy enough for someone to answer on the PR review.

[2021-06-15 15:20] #5002 closed, assigned to jameskleeh

[2021-06-15 15:48] jameskleeh commented on #5596
You are blocking the event loop. Offload the execution of `proxy` https://github.com/paulboichat/clienttest/blob/main/src/main/java/clienttest/TestController.java#L29 to another thread pool or change the return type of both the client and server to be reactive

[2021-06-15 15:48] #5596 closed, assigned to nobody

[2021-06-15 16:18] #5588 closed, assigned to jameskleeh

[2021-06-15 19:15] jameskleeh commented on #361
This should now throw an exception

[2021-06-15 19:15] #361 closed

[2021-06-15 19:15] #4004 closed

[2021-06-15 19:15] #4409 closed, assigned to jameskleeh

[2021-06-16 11:29] tomas-langer opened #5606 "Provide option to disable compile time features"
I would like to be able to use Micronaut's compile time processing to validate sources, yet I am not interested in the generated bean classes.
Would it be possible to have this feature configurable?
If not possible to configure this, would it be possible to split this into multiple modules, so I could just add a module that invokes all processing services, and another module that would generate th

[2021-06-16 14:53] jameskleeh commented on #5606
What validations specifically are you referring to? Also what is the use case here?

[2021-06-16 15:28] ilopmar opened #5607 "Verify that modules work properly with Micronaut 3.0"
We need to upgrade all modules to Micronaut 3.0 and release new major versions of them.

To do the upgrade:
  - Upgrade Micronaut version in the module to Micronaut 3.0.0-M2 (or any release after it)
  - Use Micronaut nullability annotations
  - Switch to Jakarta annotations.
  - Change `javax.inject.Provider` to `io.micronaut.context.BeanProvider`
  - If the module has an RxJava dependency add a

[2021-06-16 15:52] graemerocher commented on #5606
CDI compilation time validation. @tomas-langer is from the Helidon team

We had other similar requests from users who just want to use the OpenAPI compiler for example. So it may be interesting to have a compiler flag that disables bean generation

[2021-06-17 06:37] graemerocher opened #5608 "Support for jakarta.annotation for PreDestroy / PostConstruct"
IMO supporting to these and moving to them as default is as important as moving to `jakarta.inject`

[2021-06-17 06:37] #5111 closed, assigned to nobody

[2021-06-17 16:36] #5552 closed, assigned to nobody

[2021-06-17 17:15] ljoia commented on #3972
The workaround actually fixed it for me (version 2.3.4)

This should be the default behavior, or at least be mentioned in the documentation

[2021-06-17 17:16] ljoia commented on #3972
The workaround actually fixed it for me (version 2.3.4)

This should be the default behavior, or at least be mentioned in the documentation

[2021-06-18 02:44] erdinc-gopuff opened #5609 "Don't use javax.annotation.Nullable warning"
In our project, we are using immutables.org annotation processor.  When a field on a type is declared as Optional, immutables build agent generates some code which has references to the javax.annotation.Nullable annotation. The use of this annotation then results in a compile time warning by the micronaut build agent.

`Usages of deprecated annotation javax.annotation.Nullable found. You should us

[2021-06-18 06:30] graemerocher commented on #5609
See https://github.com/spotbugs/spotbugs/issues/130

[2021-06-18 08:18] athkalia opened #5610 "io.micronaut.http.server.exceptions.InternalServerException: No request present for @MicronautLambdaTest test"
Hello,

It seems like testing for some scenarios isn't possible for controllers that use the new @MicronautLambdaTest annotation (this is a lambda Micronaut application).

Here's an example

Controller:

[code]

test:

[code]

When running the test I am getting

[code]

### Environment Information

- **Operating System**: Windows
- **Micronaut Version:** 2.5.6
- **JDK Version:** jdk 1.8

[2021-06-18 10:31] sdelamo commented on #4179
This is solved since 2.5.6

[2021-06-18 10:31] #4179 closed, assigned to nobody

[2021-06-18 10:37] noeliajimenezg opened #5611 "Error with @Schema annotation on enum on 2.5.6 but not on 2.5.5"
The annotation **io.swagger.v3.oas.annotations.media.Schema** used on an **enum class** is throwing the error "**Enum types cannot be defined as beans**" since Micronaut 2.5.6.

### Steps to Reproduce

1. Having an enum class
[code]
2. Having a class using the enum
[code]
### Expected Behaviour

Build successful.

### Actual Behaviour

The error "Enum types cannot be defined as beans" is thrown.
T

[2021-06-18 11:10] martisaw opened #5613 "Encountered an error while building a self signed certificate"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create new Micronaut project
2. Add the following configuration to application.yml
[code]
3. start the application

### Expected Behaviour

The application should sta

[2021-06-18 11:12] graemerocher commented on #5613
Looks like a JDK 16 incompatibility with Netty

[2021-06-18 11:13] graemerocher commented on #5613
https://github.com/netty/netty/issues/10317

[2021-06-18 11:31] martisaw commented on #5613
@graemerocher thanks for the quick response. As mentioned in the linked ticket, adding the dependency org.bouncycastle:bcpkix-jdk15on:1.69 solved the problem.

[2021-06-18 12:53] jameskleeh commented on #5609
This is more appropriate for a discussion thread

[2021-06-18 12:53] #5609 closed, assigned to nobody

[2021-06-18 12:57] jameskleeh commented on #5613
Netty closed the original issue so it seems like they see adding bouncycastle as the solution to the problem. I'm not sure if there is anything we can/should do here

[2021-06-18 12:58] graemerocher commented on #5613
Documentation probably

[2021-06-18 12:58] graemerocher commented on #5613
and adding the required dependency to the BOM

[2021-06-18 15:18] eutkin opened #5615 "When injecting a collection of strings, spaces are not trimmed."
When we inject a collection of strings from the configuration into a bean, there are spaces in the elements of the collection.

Example:

application.yml
[code]

Bean:

[code]

In field of Test contains `one`, ` two`.

### Steps to Reproduce

1. Create application based by Micronaut
2. Put in the `application.yml` property with value `one, two`
3. Inject this value into bean as `Collection<String>

[2021-06-18 16:59] sdelamo opened #5618 "Websocket regression in 2.5.0, unable to inject WebSocketSession in Tests"
It seems there is a regression in Micronaut 2.5.0. Injecting a `WebSocketSession` fails when running the app via `EmbeddedServer`.

For such as class:

[code]

Starting from 2.5.0 in the test I get:

[code]

### Steps to Reproduce

- Clone the [sample application repository](https://github.com/grails-core-issues-forks/websockets-issues)
- ./gradlew test

### Expected Behaviour

Tests pass

### Act

[2021-06-18 18:01] Ivan01925 commented on #4768
@graemerocher Hello, is this issue still open? I would like to contribute

[2021-06-18 18:07] jameskleeh commented on #4768
@Ivan12273 Yes its still open, PR welcome

[2021-06-18 18:09] jameskleeh commented on #5615
I don't necessarily think we should do this. If you don't want a space don't put one in the config

[2021-06-18 18:25] jameskleeh commented on #5618
I think this is due to https://github.com/micronaut-projects/micronaut-core/issues/5425

[2021-06-18 18:29] #5618 closed, assigned to jameskleeh

[2021-06-18 19:49] bendi opened #5620 "NullPointerException NettyServerWebSocketHandler.createWebSocketSession"
Calling `WebsocketSession.getSubprotocol` results in NPE as `handshaker` is set after super constructor is called so `handshaker` is always null in `NettyRxWebSocketSession` inner class.

https://github.com/micronaut-projects/micronaut-core/blob/f183e79e2506d41b035de877c3d95548aadc74d7/http-server-netty/src/main/java/io/micronaut/http/server/netty/websocket/NettyServerWebSocketHandler.java#L156

[2021-06-18 20:11] hernancerm commented on #4791
@graemerocher I ran into the same problem that @utsav0209 mentions about the `getStatus()` implementation of `NettyMutableHttpResponse`.

In order to be able to provide custom Http statuses, I considered refactoring the enum [`HttpStatus`](https://github.com/micronaut-projects/micronaut-core/blob/2.5.x/http/src/main/java/io/micronaut/http/HttpStatus.java) to an interface as well as to a class. Alt

[2021-06-18 20:51] graemerocher commented on #4791
Looks ok to me, but maybe should target 3.0.x branch

[2021-06-19 04:00] jameskleeh commented on #5620
Do you have an example that can reproduce this? In order for the NPE to occur the `getSubprotocol` method would have to be invoked by the super class and I don't see a reference to it

[2021-06-19 14:05] hernancerm commented on #4791
@graemerocher I'll target branch 3.0.x instead

Regarding compatibility, **should custom response status codes also be possible on other [Micronaut runtimes](https://github.com/micronaut-projects/micronaut-gradle-plugin#micronaut-runtimes) beyond Netty?**

So far I've tried on `tomcat` and `jetty` using the new `HttpResponse.status(int)`; on the former the custom reason is not being set, and on th

[2021-06-20 18:36] nayavu commented on #5453
I've got the same issue.

As an ugly workaround, I do the following:
[code]

[2021-06-21 05:04] sdelamo opened #5625 "Reactive Sequence response regression in 2.5.6"
The following test fails in 2.5.6.

[code]

### Expected Behaviour

In 2.5.5, the following test passes.

### Actual Behaviour

In 2.5.6 it fails with:

[code]

### Environment Information

- **Operating System**: MacOS
- **Micronaut Version:** 2.5.6
- **JDK Version:** JDK 11

[2021-06-21 09:09] graemerocher commented on #5530
This will be fixed by https://github.com/micronaut-projects/micronaut-grpc/pull/368

[2021-06-21 09:33] lgathy commented on #5544
@jameskleeh PR is now raised, sorry for the delay.

[2021-06-21 10:05] graemerocher commented on #4791
Yes however since the PR adds new `default` methods these can be added over time

It should propagate down the `servletResponse.sendError(..)` which is a weirdly named method but should allow a custom reason phrase. https://docs.oracle.com/javaee/6/api/javax/servlet/http/HttpServletResponse.html#sendError(int,%20java.lang.String)

Yes they should.

Correct greater than 400 should throw by default

[2021-06-21 10:11] graemerocher opened #5628 "Respect @Inherited in annotation metadata builder & review inheritance of annotations"
Currently the annotation metadata builders don't take into account `@Inherited` and inheritance is not consistent across the different annotations Micronaut supports

[2021-06-21 10:13] Patanouk opened #5629 "Micronaut POST request with dual protocol and http2 enabled on HTTP port"
### Task List

- [x] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Run the application in the repository linked below (https://github.com/Patanouk/Micronaut-dualprotocol)
2. Run `curl -H "Content-type:application/json" -X POST http:/

[2021-06-21 16:01] #5625 closed, assigned to nobody

[2021-06-21 16:21] drmaas commented on #5533
@jaecktec looking at https://github.com/jaecktec/micronaut-issues/blob/slf4j-coroutines/src/main/kotlin/com/example/endpoints/TodosController.kt#L24 - this was my workaround as well. But, I see that as a workaround, not a fix.

This used to not be required in prior versions of micronaut. This makes me think that something internal changed w.r.t how MDC attributes are handled across netty and corou

[2021-06-21 17:12] #5544 closed, assigned to nobody

[2021-06-21 17:49] bendi commented on #5620
Is unit test contained in the following gist enough?
https://gist.github.com/bendi/40f4936fb00c0e7117bfeeca78044ee3

Test will pass but you should see error reported to the console, I copy-pasted mine to another gist:
https://gist.github.com/bendi/5221e0f6cafab6d4cb5c0d88e34d8191

[2021-06-21 17:50] jameskleeh commented on #5620
@bendi Yeah seems reasonable

[2021-06-21 20:16] jameskleeh opened #5632 "Websocket logic does not execute filters correctly"
Websocket handler executes filters separately from normal routing and thus it does not follow the same logic

[2021-06-21 23:54] mattmoss commented on #4518
I pushed some fixes to this branch.

[2021-06-22 13:28] jaecktec commented on #5533
we probably need to make this one more dependecy aware:

https://github.com/micronaut-projects/micronaut-core/blob/2.5.x/http/src/main/java/io/micronaut/http/bind/DefaultRequestBinderRegistry.java#L263

either to have the library being able to inject stuff or making this one more aware of what is available

[2021-06-22 13:52] martisaw opened #5639 "After upgrade to Mn 3.0.0-M1/2 -> NonUniqueBeanException"
### Discussed in https://github.com/micronaut-projects/micronaut-core/discussions/5636

<div type='discussions-op-text'>

<sup>Originally posted by **martisaw** June 22, 2021</sup>
Hi,

we ([micronaut-camunda-bpm project](https://github.com/NovatecConsulting/micronaut-camunda-bpm)) want to upgrade to the newest Milestone-Release of Micronaut. However, we discovered that some tests are now throwing

[2021-06-22 14:34] ilopmar opened #5640 "Cannot adapt method error when upgrading to Micronaut 3.0.0-M2"
During the upgrade of Micronaut Flyway to Micronaut 3.0.0-M2 so test fail with:

[code]

The test looks like:

[code]

## Reproduce the issue

Run the tests in this PR https://github.com/micronaut-projects/micronaut-flyway/pull/212

[2021-06-22 15:50] entlicher opened #5642 "Micronaut generates pom.xml with wrong name space."
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2021-06-23 09:09] andriy-dmytruk commented on #5536
@jameskleeh I will work on it, as I probably know better what is required.
Can you please reassign it to me, as I don't seem to be allowed to do it?

[2021-06-23 10:38] graemerocher commented on #5640
A bug in the Groovy impl, submitted a PR for it

[2021-06-23 10:41] graemerocher commented on #4490
We need to make a decision on this for 3.0 ie should a bean become a bean without a bean defining annotation. In CDI lite annotated mode this is not allowed.

[2021-06-23 12:15] #5640 closed, assigned to graemerocher

[2021-06-23 14:05] #5611 closed, assigned to graemerocher

[2021-06-23 15:20] ilopmar commented on #5639
It seems this issue is fixed in #5646 which is already merged. I've tried that snapshot locally in micronaut-mqtt and it fails with the same error `NonUniqueBeanException: Multiple possible bean candidates found` error.

To reproduce it use the branch in this PR https://github.com/micronaut-projects/micronaut-mqtt/pull/84 (replace Micronaut 3.0.0-M2 version with snapshot) and run the tests.

The e

[2021-06-23 15:30] graemerocher commented on #5639
This seems to be a different bug. It is trying to dependency inject the `disconnect` method. I am not convinced this is a bug in Micronaut 3.0 in fact and may have just worked in chance. Either way report a different issue.

[2021-06-23 15:30] #5639 closed, assigned to graemerocher

[2021-06-23 18:24] mrts commented on #1935
Hi @graemerocher, thank you for explaining the Micronaut view regarding Spring Security!

What I (and I'm sure others as well) miss the most in Micronaut Security is the [Spring Security Expression-Based Access Control](https://docs.spring.io/spring-security/site/docs/5.2.1.RELEASE/reference/htmlsingle/#el-access), especially _Method Security Expressions_.

Will the following example from Spring S

[2021-06-23 19:03] #5620 closed, assigned to jameskleeh

[2021-06-24 04:38] tobiasschaefer commented on #5639
Thanks @graemerocher for that fast fix!

I'm working together with @martisaw on the same project and can confirm that updating to the current 3.0.0-SNAPSHOT fixes the issue he reported.

[2021-06-24 04:48] jameskleeh commented on #5639
@tobiasschaefer Thanks for trying out the milestones! You have played a role in making the release better

[2021-06-24 04:51] jameskleeh commented on #5536
@andriy-dmytruk A PR is welcome. The only thing that should be changed though is the underlying map and `getQueryParameters()` should return a `Map<String, List<String>>`. Please target the 3.0.x branch

[2021-06-24 08:07] ilopmar opened #5652 "Multiple possible bean candidates found in micronaut-mqtt after upgrade to 3.0.0-M2"
To reproduce the issue run the tests in this PR: https://github.com/micronaut-projects/micronaut-mqtt/pull/84

[code]

[2021-06-24 08:32] inqysitor opened #5653 "Native docker build fails with DockerfileNative in repository root"
Native docker build fails with dockerfile in repository root. If no `DockerfileNative` is explicitly specified, the image builds successfully (even if using the exact same file)

### Steps to Reproduce

[code]

If you remove the `dockerFileNative` and `mv` commands, the image builds successfully.

### Expected Behaviour

Image is successfully built

### Actual Behaviour

[code]

### Environment In

[2021-06-24 15:33] glaforge opened #5655 "Native image generation failing with a ClassNotFoundException: javax.inject.Provider"
I created a simple application with the launcher, without any specific feature, with version *3.0.0-M2* of the framework, and added the following controller:

[code]

When I try to build a native image within a Docker container, with `./gradlew dockerBuildNative, I get:

[code]

If I change to *3.0.0-M1* in `gradle.properties` then this time, I get:

[code]

Lastly, if I change the Micronaut versi

[2021-06-24 22:56] danielgrigg opened #5658 "When using r2dbc with mysql the json returned from some endpoints is malformed."
### Steps to Reproduce

1. Create a project with the data-r2dbc and mysql features.
2. Add an entity, repository and controller to retrieve a list of pre-created entities
3. Query the endpoint

### Expected Behaviour

The entities should come back as a well formatted JSON list, eg

[code]

### Actual Behaviour

The returned JSON is malformed, eg:

[code]

So it appears the json for the entities is

[2021-06-25 07:13] 22dasi1bwi opened #5656 "Context Information is lost on Thread Switch"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2021-06-25 10:07] graemerocher commented on #5656
Similar to https://github.com/micronaut-projects/micronaut-core/issues/5533 i guess

[2021-06-25 10:18] 22dasi1bwi commented on #5656
Reads like it, yes.

[2021-06-25 10:20] 22dasi1bwi commented on #5533
For completeness I want to mention that for me the approach with `withContext(MDCContext()) {}` still worked with Micronaut 2.5.0 and stopped working beginning with Micronaut 2.5.1.

[2021-06-25 12:25] vonZeppelin commented on #5195
This is fixed in Micronaut 2.5.6

[2021-06-25 12:25] #5195 closed, assigned to nobody

[2021-06-25 13:34] #5658 closed, assigned to nobody

[2021-06-25 14:50] jameskleeh commented on #5655
This is due to a bug in GraalVM which is fixed in their master branch

[2021-06-25 15:53] glaforge commented on #5655
Thanks @jameskleeh for the update.
I reverted to Micronaut 2.5.6 in the meantime (which worked for me).
Do you have a link a GraalVM ticket about that bug?

[2021-06-25 15:54] jameskleeh commented on #5655
@glaforge I wish I did. When we discovered the bug it was already fixed. So I'm not sure which issue would have fixed it

[2021-06-25 16:06] graemerocher commented on #5655
as a workaround you can add `javax.inject` to your compile classpath https://search.maven.org/artifact/javax.inject/javax.inject/1/jar

[2021-06-25 16:20] hernancerm commented on #4791
@graemerocher my [pull request](https://github.com/micronaut-projects/micronaut-core/pull/5621) is ready for review

I have researched how to support custom status codes in the servlet runtimes and have found that since [micronaut-servlet is using version 2.4.0 of Micronaut](https://github.com/micronaut-projects/micronaut-servlet/blob/2.2.x/gradle.properties#L3), I think implementing the support h

[2021-06-25 21:46] ikovalyov opened #5660 "kaptKotlinJvm fails in 2.5.6 but works in 2.5.5"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Build app using micronaut 2.5.5 (the MPP app)
2. Build app using micronaut 2.5.6 (the MPP app)

### Expected Behaviour

everything fine

### Actual Behaviour

Tell us

[2021-06-26 10:40] chengna106 opened #5662 "I want to print all request paths, post request parameters, etc. in micronuat, but when I use a filter to implement it, getBody always outputs empty. Is there any other way to achieve this function?"
I want to print all request paths, post request parameters, etc. in micronuat, but when I use a filter to implement it, getBody always outputs empty. Is there any other way to achieve this function?

[2021-06-26 10:47] vonZeppelin commented on #5662
Did you try setting log level of the `org.slf4j.simpleLogger.log.io.micronaut.http` logger to `trace`?

[2021-06-26 13:56] chengna106 commented on #5662
That way can only print out the URL path information, but cannot print out the information of the post request

[2021-06-26 14:11] #5662 closed, assigned to nobody

[2021-06-26 19:57] ikovalyov commented on #5660
There was an issue with kapt used wrong library version

[2021-06-26 19:57] #5660 closed, assigned to nobody

[2021-06-27 10:23] #5556 closed, assigned to ilopmar

[2021-06-28 08:55] pgressa opened #5668 "NonUniqueBeanException in micronaut-test for Micronaut 3"
https://github.com/micronaut-projects/micronaut-test/pull/437/checks?check_run_id=2929698418
The micronaut-test for kotlin is failing with:
[code]

Is this expected and some qualifier is needed or is that regression?

[2021-06-28 10:48] ilopmar commented on #5655
@glaforge if you want to use Micronaut 3.0 you can download GraalVM 21.2.0-dev from https://github.com/graalvm/graalvm-ce-dev-builds/releases which contains the fix.

[2021-06-28 13:06] pgressa opened #5669 "`@MicronautTest` with `@MockBean` in abstract class no longer works in Micronaut 3"
Due to a breaking change [No Longer Possible to Define AOP Advice on a Bean Produced from a Factory with Constructor arguments](https://github.com/micronaut-projects/micronaut-core/blob/0072ccca4f1a2d35eeb164ca651013cedcd06312/src/main/docs/guide/appendix/breaks.adoc#no-longer-possible-to-define-aop-advice-on-a-bean-produced-from-a-factory-with-constructor-arguments) the setup like:

[code]
[code]

[2021-06-28 13:37] austinb7h opened #5670 "Path variable in @Client path causes path to be ignored on client calls"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] ~Example that reproduces the problem uploaded to Github~ Snippet provided
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Try to create a declarative client with a path-variable (see snippet below)
2. Perform HTTP call with client
3. Context path from client is missing

[2021-06-28 15:29] sergey-morenets opened #5671 "@Replaces doesn't replace AbstractConsulClient"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

This issue is based on this question and advice from Graeme Rocher:
https://stackoverflow.com/questions/68057201/micronaut-consul-client-and-retry-support/

### Expected

[2021-06-28 16:47] graemerocher commented on #3773
bean collections are supported in 3.0

[2021-06-28 16:47] #3773 closed

[2021-06-28 16:48] #4334 closed, assigned to nobody

[2021-06-28 23:05] jameskleeh commented on #5671
Please upload an example app

[2021-06-29 06:38] sergey-morenets commented on #5671
Hi @jameskleeh
Just uploaded: https://github.com/sergey-morenets/micronaut-consul-client

If I run "gradlew run" command I immediately see an error however this application should perform at least 5 attempts (with delay 2 seconds and multiplier 2)

[code]

[2021-06-29 06:52] Souniksen1990 opened #5676 "ByteBuf.release() was not called when using a large InputStream(>50mb) http request body."
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Clone sample application from [here](https://github.com/Souniksen1990/demo)
2. Build and run the project
3. Try to upload a large video file (greater than 50 mb), for

[2021-06-29 14:06] torbsto opened #5679 "Incremental processing with `@Configuration` not working correctly"
### Steps to Reproduce

1. Clone the repository: https://github.com/torbsto/micronaut-issue.
1. Go into the project's subdirectory: `cd ./micronaut-issue/incremental-gradle-compilation`.
1. Run `./gradlew compileJava`: The build should be successful.
1. Change something in the `com.example.test` package, e.g., `sed -i '/1/s//2/' src/main/java/com/example/test/TestSingleton.java`.
1. Run `./gradlew

[2021-06-29 14:49] graemerocher commented on #5679
This seems like a bug in Gradle, can you report to https://github.com/gradle/gradle/issues

[2021-06-29 18:41] tkgreg opened #5680 "Why PongWebSocketFrame is never processed as a Message?"
I was trying to implement WS ping-pong functionality in case when the server measures the latency between clients(Server send ping and expects pong frame from the client). I need this for detection of stalled connections. Unfortunately, the current implementation does not allow this. It simply ignores the PongWebSocketFrame

https://github.com/micronaut-projects/micronaut-core/blob/a0d5619f6c23d90

[2021-06-29 18:55] graemerocher commented on #5680
Seems like an oversight

PRs welcome

[2021-06-30 10:08] ilopmar opened #5681 "java.lang.NoClassDefFoundError: javax/inject/Provider with Micronaut 3.0.0-SNAPSHOT and GraphQL example"
I've migrated micronaut-graphql to Micronaut 3.0.0-SNAPSHOT and then I tried to run one of the examples included in the repository.
The application fails to start with the following error:

[code]

I'm not 100% sure if this is a bug in core or something missing during the upgrade but I haven't found which dependency triggers this error (if any). In other modules the culprit were `micronaut-cache`

[2021-06-30 10:51] #5628 closed, assigned to graemerocher

[2021-06-30 13:05] ilopmar opened #5682 "Regression with HttpClient in Micronaut 2.5.6 because of a timeout"
The guides started to fail when upgrading them to Micronaut 2.5.7. I needed to restart the upgrade PR 6-7 times until the tests passed.
Now I've submitted [another PR](https://github.com/micronaut-projects/micronaut-guides/pull/333) to try Micronaut 2.5.6 and it also [fails](https://github.com/micronaut-projects/micronaut-guides/pull/333/checks?check_run_id=2952321070#step:7:1356).

The error is a

[2021-06-30 15:43] tkgreg commented on #5680
We already implemented our own ping-pong solution which is not that hard but its nice to have it out of the box.

[2021-06-30 15:45] graemerocher commented on #5682
What we will need to do is find the commit that introduced the issue

[2021-06-30 17:11] ilopmar commented on #5682
I suggested one commit that may be related, but it's hard to say without testing on CI. Tomorrow I'll publish a custom snapshot based on 2.5.6 with that commit reverted and I'll try it in the guides on CI to see if the tests pass or not.

[2021-06-30 17:18] jeffscottbrown commented on #5671
I think it is the `ConfigurationClient` (impl is `ConsulConfigurationClient`) that is throwing the exception, not the `ConsulClient`.  Is that correct?

[2021-06-30 17:51] sergey-morenets commented on #5671
Hi @jeffbrown Not sure about that, but my main goal was to add retry pattern for loading external Consul configuration.So if it's possible to override ConfigurationClient default behavior it's fine for me as well.

[2021-06-30 19:18] jameskleeh commented on #5670
So after looking at the code and considering the idea of a context path, I don't think we can support uri variables in the context path. I'll work on ensuring the exception is not swallowed and the error is obvious.

[2021-07-01 07:41] #5670 closed, assigned to jameskleeh

[2021-07-01 10:20] sergey-morenets commented on #5671
@jeffbrown I added another bean declaration and it was detected by Micronaut (and replaced default ConsulConfigurationClient bean). However retry functionality still didn't work. Application was terminated immediately.

[code]

[2021-07-01 11:17] ilopmar commented on #5682
I [reverted the commit](https://github.com/micronaut-projects/micronaut-core/commit/3cc17db6f3aa684b04e6762ae21a7d76228f0083) and [published a custom snapshot](https://github.com/micronaut-projects/micronaut-core/commit/63041c4fe6fd436a6a55944a39d7cbee008d2514) but the [build failed again](https://github.com/micronaut-projects/micronaut-guides/runs/2961027302?check_suite_focus=true#step:7:1973).

[2021-07-01 14:29] 22dasi1bwi commented on #5533
Any updates on this? That's blocking us from rolling out higher MN versions on production.

[2021-07-01 14:48] graemerocher commented on #5533
@22dasi1bwi will try look into it tomorrow

[2021-07-01 15:10] 22dasi1bwi commented on #5533
Awesome, thanks!

[2021-07-02 01:36] #5676 closed, assigned to jameskleeh

[2021-07-02 10:03] ilopmar commented on #5682
New failure, this time with 2.5.7 and kotlin-gradle: https://github.com/micronaut-projects/micronaut-guides/runs/2970515018?check_suite_focus=true#step:7:1479

[2021-07-02 15:54] mattmoss commented on #4518
@jameskleeh You already merged this work on another issue/PR, correct? If so, we should close this one.

[2021-07-02 16:15] #4518 closed, assigned to mattmoss

[2021-07-02 16:29] graemerocher commented on #5533
So some discovery. Neither 2.4.0 nor 2.5.7 work when doing:

[code]

In both cases `test, null` is returned which is possibly undesirable behaviour but does not appear to be a regression in 2.5.x

@22dasi1bwi please provide an example of what was working for you (and in what version it was working) and now isn't with 2.5.x

It is extremely difficult to instrument this because everything after the

[2021-07-03 00:48] jeffscottbrown opened #5692 "Form Data Docs"
At https://docs.micronaut.io/2.5.7/guide/#formData is the following:

[code]

The code sample shown doesn't make any mention of `MediaType`, and it isn't clear what code "previous JSON binding code" is referencing.

[2021-07-04 08:14] davidgiga1993 opened #5693 "CORS Request missing for validation errors"
### Steps to Reproduce

1. Enable cors
2. Create a POST endpoint which validates the payload using `@Valid`
3. POST invalid data to that endpoint
4. The reply doesn't contain the required CORS headers (`has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.`)

Example reply
[code]

### Expected Behaviour
CORS headers should be sent for any re

[2021-07-04 18:04] Ivan01925 commented on #4768
Hi again, sorry I wont be able to continue with this issue, I unassign me if anyone else want to try it.

[2021-07-04 18:19] mrwilby commented on #3070
We continue to see this issue periodically, and it's always triggered by MicronautTest execution. The issue doesn't appear to be connected with @PostConstruct, nor does it relate to circular dependencies.

Some of our team have created Singleton services that are NOT implementations of interfaces. They're just a class with Singleton annotations. These singletons are then mocked via MockBean (mocki

[2021-07-04 18:56] graemerocher commented on #3070
If you have a reproducer let us know

[2021-07-05 05:47] 22dasi1bwi commented on #5533
Thanks for looking into it @graemerocher .

I provided an example in the linked issue, see https://github.com/micronaut-projects/micronaut-core/issues/5656 . Please note, that in this example I used the `micronaut-tracing` dependency which includes a class called `MdcInstrumenter`. From what I have observed this class enables the application to track MDC correctly, especially when it comes to a mi

[2021-07-05 12:36] #5681 closed, assigned to nobody

[2021-07-05 12:37] graemerocher commented on #5668
This was because both the spring and Micronaut tx management was on the path

[2021-07-05 12:37] #5668 closed, assigned to nobody

[2021-07-05 12:38] #5652 closed, assigned to graemerocher

[2021-07-05 12:41] chriskosys opened #5697 "UriBuilder changes order of parameters"
Version: micronaut-http-client-core-2.4.1

When using UriBuilder to create an URI for RxHttpClient the order of the provided parameters is changed.

To ensure the correct order of the params-Map i used an LinkedHashMap.
`		UriBuilder uriBuilder = UriBuilder.of("/api/v1").path("secretendpoint");
		for (String paramKey : params.keySet()) {
			uriBuilder = uriBuilder.queryParam(paramKey, params.get(p

[2021-07-05 13:03] chriskosys opened #5698 "Error in RxHttpClient breaks Websocket-Connection"
i can't find anything in google. I hope you guys can help me out.

In my project i am using an RxWebSocketClient to listen to an websocket and an RxHttpClient to send POST requests.
Now i have observed that if one of those POST requests fails (Status 400) the websocket gets closed.

Since the RxWebSocketClient  and RxHttpClient are implemented both in io.micronaut.http.client.netty.DefaultHttpClie

[2021-07-05 13:20] chriskosys commented on #5698
since i am not sure if my observations are correct i close the issue for now and report again when i know how to reproduce this issue

[2021-07-05 13:20] #5698 closed, assigned to nobody

[2021-07-05 14:21] jameskleeh commented on #5697
Are you sure `params` is a `LinkedHashMap`?

[2021-07-05 14:27] jameskleeh commented on #5697
I added a test to assert the behavior works as expected. If you can produce an example application that reproduces the issue I'll reopen this.

[2021-07-05 14:46] cemo opened #5701 "Feature: Environment Name aware PropertySources"
We would like to add some extra `propertysources` which are aware of `Environment`. This is important because we can load different properties from different sources in different environments.

For example: in our case we would like to load my-system-prod or my-system-test properties but this is not easy not by their configuration. I need to set some environment variables etc.

Is it possible to s

[2021-07-05 14:51] tobiasschaefer opened #5702 "Regression in 3.x: applicationContext.containsBean falsely returns true"
Hi,

we ([micronaut-camunda-bpm project](https://github.com/NovatecConsulting/micronaut-camunda-bpm)) want to upgrade from Micronaut 2.5.x to Micronaut 3.x (Currently Milestone or SNAPSHOT). However, we found one more regression. Note: a similar regression was fixed in #5639 by @graemerocher

We want determine if there are beans (where we don't know the type) from the applicationContext with appli

[2021-07-05 14:53] jameskleeh commented on #5701
Is the config in files or dynamic?

[2021-07-05 15:59] graemerocher opened #5704 "Regression in factory bean generation behaviour with inheritance in 3.0"
Given the following class:

[code]

and a subclass:

[code]

Micronaut 2.0 generates no beans for `AbstractConsumerSpec` and a factory bean for each concrete child class.

<img width="433" alt="Screenshot 2021-07-05 at 17 26 50" src="https://user-images.githubusercontent.com/66626/124493700-3bae5800-ddb6-11eb-95a2-bddeff7a4992.png">
<img width="321" alt="Screenshot 2021-07-05 at 17 26 55" src="htt

[2021-07-05 16:13] cemo commented on #5701
Config is partially dynamic. We would like to use Azure Key Vault as a PropertySource but its name must be dynamic and configured somehow.

[2021-07-05 16:14] jameskleeh commented on #5701
Sounds like you want a custom `ConfigurationClient`

[2021-07-05 16:16] cemo commented on #5701
Would you please help me to find my way? I can contribute to documentation as well after it.

[2021-07-05 16:23] jameskleeh commented on #5701
You can look at any of the existing implementations to get inspiration to write an integration with Azure Key Vault. See https://github.com/micronaut-projects/micronaut-discovery-client/tree/master/discovery-client/src/main/java/io/micronaut/discovery.

If you want to write it generically to work for all users and follow the standards we already have set, PRs are welcome

[2021-07-05 16:23] jameskleeh commented on #5701
Please use the github discussions or gitter to get further support

[2021-07-05 16:23] #5701 closed, assigned to nobody

[2021-07-05 16:40] hernancerm commented on #5006
Hi @jameskleeh, could I tackle this issue?

I'm thinking that the expected response should be like Boot's /actuator, like the following:

<details>
<summary>Spring Boot's <code>/actuator</code></summary>

[code]

</details>

Is this response format appropriate for the new endpoint?

[2021-07-05 16:54] #5323 closed, assigned to mattmoss

[2021-07-05 17:00] jameskleeh commented on #5006
@HerCerM Seems reasonable to me

[2021-07-06 00:03] #5702 closed, assigned to jameskleeh

[2021-07-06 04:42] tobiasschaefer commented on #5702
Thanks @jameskleeh

I can confirm that the SNAPSHOT build fixes our issue.

[2021-07-06 06:21] #2616 closed

[2021-07-06 06:21] #5528 closed, assigned to graemerocher

[2021-07-06 09:19] #5704 closed, assigned to graemerocher

[2021-07-06 12:55] auke- opened #5708 "Not able to inject byte array created by factory"
I'm currently unable to inject a byte array created by a factory. It seems like the BeanDefinition and BeanDefinitionReference classes aren't generated for factory methods which return an array.

### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem ~~uploaded to Github~~
- [x] Full description of the issue provided (see b

[2021-07-06 14:02] jjanczur commented on #5524
I have the same issue.
I'm running testcontainers in a maven project. Unfortunately, MySQL doesn't provide ARM images and migration to gradle is not an option.

I tried bumping testcontainers version to 1.15.3 (use 5.8.0 jna ), manually adding and I've tried as well to force maven to use only that dependency (in case something else is using lower version) with dependency manager:

[code]

Apart fr

[2021-07-06 14:46] jameskleeh commented on #5708
I don't think this is feasible to support. Even in Micronaut 3 where you can return a collection it would result in multiple beans being created. I think even if we supported arrays it should result in multiple `byte` beans being created and not a single byte array.

@graemerocher Do you agree?

[2021-07-06 14:53] auke- commented on #5708
Okay, but the `BeanContext` itself seems to support arrays:
[code]

So it looks like a restriction of the factories.

[2021-07-06 15:33] dynaxis commented on #5579
Closing since no one seems interested, and I might be missing another way to achieve this.

[2021-07-06 15:33] #5579 closed, assigned to nobody

[2021-07-06 16:25] graemerocher commented on #5708
Seems an unusual use case. I guess we could special case primitive arrays and make them beans. I don't see how having each byte be a bean would ever be useful.

[2021-07-06 16:50] auke- commented on #5708
Just to be clear, my use case is to be able to inject a bytearray with a specific qualifier. I agree that injecting individual bytes from an array seems pretty unusual and that would be unexpected behavior for me.

[2021-07-06 16:51] jameskleeh commented on #5708
I agree I was just trying to outlay what would happen if we applied the same logic as we do for collections

[2021-07-06 21:06] chriskosys commented on #5697
I just tested it again with following code.

[code]
UriBuilder created following url:

i hope that example is sufficient to reproduce the issue. or do i miss something?

[2021-07-06 21:25] chriskosys opened #5711 "using RxWebSocketClient with wss protocol"
It is not possible to create an RxWebSocketClient with wss protocol.
It fails in
`io.micronaut.http.client.DefaultLoadBalancerResolver.resolve(String...)`
on the constructor-call to new URL(reference)

[code]

`java.net.MalformedURLException: unknown protocol: wss`

Or is it me doing something fundamentally wrong?

### Steps to Reproduce

1. create an RxWebSocketClient using an url with wss-protoc

[2021-07-07 00:30] jameskleeh commented on #5697
@chriskosys Thanks - I see the issue

[2021-07-07 01:14] #5697 closed, assigned to jameskleeh

[2021-07-07 01:16] jameskleeh commented on #5711
Please upload an example project or show example code

[2021-07-07 07:35] 22dasi1bwi commented on #5656
Please note, that this example uses the `micronaut-tracing` dependency which includes a class called `MdcInstrumenter`. From what I have observed this class enables the application to track MDC correctly, especially when it comes to a mix between coroutines and reactor.

[2021-07-07 13:14] #3552 closed

[2021-07-07 13:14] #4622 closed, assigned to nobody

[2021-07-07 13:15] graemerocher commented on #4622
this functionality have been moved to the build plugins for 3.0

[2021-07-07 13:15] #5669 closed, assigned to nobody

[2021-07-07 13:42] chriskosys commented on #5698
i found out what caused my issue. maybe it helps someone else.
my mistake was that the websocket-message was processed immediatelly after receiving it. which caused that the http-client created a POST request to the binance API. but that request was refused because of a timeout which caused a status 400. but i did not realize that the websocket was still waiting to complete the OnMessage-Function.

[2021-07-07 13:49] chriskosys commented on #5711
i already pointed out the faulty code of DefaultLoadBalancerResolver in the description. just try to create an URL-Object with an "wss://" String.
Maybe i am doing something wrong. Can you provide me an example of a working RxWebSocketClient using the wss-protocol? maybe my approach is wrong. i already tried replacing wss by https but it did not work out.

[2021-07-07 14:21] jameskleeh commented on #5711
@chriskosys In general the approach is to connect via the http or https URL that will do the upgrade

[code]

[2021-07-07 14:47] hernancerm commented on #5006
@jameskleeh I've made a PR with a working implementation. I would like to know if I'm in the right direction before implementing the tests

[2021-07-07 15:20] thisdavid commented on #5524
I also have the same issue with Apple M1

[2021-07-07 16:14] paulolieuthier commented on #5530
Any chance of getting this backported?

[2021-07-07 16:17] graemerocher commented on #5530
You can try use the 3.0.0 RC1 version in Micronaut 2.x it should be compatible https://github.com/micronaut-projects/micronaut-grpc/releases/tag/v3.0.0.RC1

[2021-07-07 20:10] chriskosys commented on #5711
Ok, so what can i do if the server does not accept https but only wss?
I tried it in a small browser based js-test and found out that the https-url does not work while the wss url does work.

does not work:
https://stream.binance.com:9443/stream?streams=btcusdt@kline_5m/adausdt@kline_5m
works:
wss://stream.binance.com:9443/stream?streams=btcusdt@kline_5m/adausdt@kline_5m

how can i use that stream

[2021-07-07 21:31] jjanczur commented on #5524
@thisdavid
On production I use MySQL:8. To run the tests on my local machine **I've just used MariaDB** (fork of MySQL) But It's not a good hotfix and I won't push it of course.
The point of the testcontainers is to use DB as close to production as possible. Otherwise, I could use embedded or H2.

I saw in one of the posts somewhere that when you run docker on Apple M1 you can pull the image with

[2021-07-07 21:47] dstepanov commented on #5524
This works for me:
[code]

[2021-07-07 22:33] drmaciej commented on #5006
I never got around to it - thanks @HerCerM!

[2021-07-08 20:32] mutyasaisrikar commented on #2971
@graemerocher, We are also facing the same issue in production. Any update on this fix?

[2021-07-09 04:15] jameskleeh commented on #5615
Closing this because we feel the current behavior is a more sensible default

[2021-07-09 04:15] #5615 closed, assigned to nobody

[2021-07-09 04:16] #5608 closed, assigned to graemerocher

[2021-07-09 06:13] sdelamo commented on #5615
@eutkin could you use?

[code]

[2021-07-09 09:10] davidgiga1993 opened #5729 "Catch all route and exact route matching not always working"
## Background
I'm working on implementing a reverse proxy for a very specific use case.
I've noticed that not all urls are routed to the "best matching" endpoint.

### Steps to Reproduce

1. Create a controller with a catch all route
[code]

2. Create another controller with a static route
[code]

3. Create another controller with a static route, but this time the controller itself has no path
[co

[2021-07-09 09:14] davidgiga1993 commented on #5729
Nevermind, I missed the `@Controller` annotation 🤦

[2021-07-09 09:14] #5729 closed, assigned to nobody

[2021-07-10 19:44] goeh opened #5732 "Upgrade Netty to 4.1.66.Final (IndexOutOfBoundsException)"
When uploading photos from one Micronaut service to another I sometimes get this IndexOutOfBoundsException in Netty's HttpPostBodyUtil. It's only happening with some photos, and only on our staging CentOS server. I cannot reproduce it locally on MacOS or with Docker. The issue is hopefully fixed in Netty (https://github.com/netty/netty/issues/11334) and will be released with Netty 4.1.66.Final.
I

[2021-07-10 22:04] mattwelke opened #5733 "transaction error when running tests and when creating genre in tutorial "ACCESS A DATABASE WITH JPA AND HIBERNATE""
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Begin tutorial at https://guides.micronaut.io/latest/micronaut-jpa-hibernate-gradle-java.html using VS Code. Skip the step to enable annotation processing because not

[2021-07-12 08:06] morki commented on #5309
I think this can be closed with https://github.com/micronaut-projects/micronaut-core/pull/5574 :)

[2021-07-12 08:06] #5309 closed, assigned to nobody

[2021-07-12 19:20] martijndwars opened #5741 "Controller return type of Single<HttpResponse<Flowable<byte[]>>> is transformed to JSON"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a Micronaut project (2.5.8) with the following controller:

[code]
2. Invoke the endpoint: `curl http://localhost:8080/hello/a`
3. Observe the response: `ab`
4

[2021-07-12 19:35] martijndwars commented on #5741
Happy to work on a PR if I can get a confirmation that it's indeed a bug.

[2021-07-13 06:22] sdelamo opened #5743 "How to retrieve`@Named` value in Micronaut 3"
Micronaut 2.5.8

[code]

[code]

Following test is green:

[code]

----

Micronaut 3.0.0-SNAPSHOT

I replace:

- `javax.inject.Named` with `jakarta.inject.Named`
- `javax.inject.Singleton` with `jakarta.inject.Singleton`

[code]

[code]

In the test I can only retrieve the `@Named` value if I use `javax.inject.Named`.

[code]

What Is the correct way to see if a bean is annotated with a particular

[2021-07-13 06:32] sdelamo opened #5744 "Cookie secure affecting localhost"
There is a breaking change in Micronaut 3.0 regarding cookie secure:

However, secure should not affect localhost.

[Restrict access to cookies](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#restrict_access_to_cookies)

Because currently it affects localhost, users need to change their local development and tests to adjust. See sample PR in Micronaut guides

https://github.com/micronau

[2021-07-13 10:19] graemerocher commented on #5741
@martijndwars PRs welcome! :)

[2021-07-13 14:06] sdelamo commented on #5099
We currently support multiple configuration files and I think it is easier for the users:

- `src/main/resources/application.yml`
- `src/main/resources/application-dev.yml`
- `src/test/resources/application-test.yml`

[2021-07-13 14:06] jameskleeh commented on #5099
I appreciate you bringing this up for discussion, however the engineering team decided we won't move forward with this feature

[2021-07-13 14:06] #5099 closed, assigned to nobody

[2021-07-13 14:09] #5513 closed, assigned to jameskleeh

[2021-07-13 14:10] jameskleeh commented on #5513
Fixed by https://github.com/micronaut-projects/micronaut-core/commit/8bbdfe2b9b7bc78b1679983f98e091730e7f7e3b

[2021-07-13 17:07] jameskleeh commented on #5744
The thing to do here is change the configuration source to not provide a default value for cookie isSecure

[2021-07-13 17:53] jameskleeh commented on #5741
This is related to other issues. This isn't a bug but simply not a supported use case as of today. Currently we support either a publisher as the body or a publisher of the response, but not both.

[2021-07-14 11:00] sdelamo opened #5757 "After Micronaut 3.0.0-M3 release checklist"
- [ ] Merge [Use Micronaut 3.0.0-M3](https://github.com/micronaut-projects/micronaut-rxjava2/pull/7) in RxJava 2.
- [ ] Release version 1.0.0-M2 of Micronaut Rx Java 2.
- [ ] Merge [Use Micronaut 3.0.0-M3](https://github.com/micronaut-projects/micronaut-rxjava3/pull/117) in RxJava 3.
- [ ] Release version 2.0.0-M1 of Micronaut Rx Java 3.
- [ ] Merge [Use Micronaut 3.0.0-M3](https://github.com/micr

[2021-07-14 18:20] ghost opened #5760 "[docs] 3.0.0 breaking changes - add info on @Any annotation"
Please add a section to the breaking changes section of the 3.0.0 documentation to include details on the `@Any` annotation (when and why to use).

[2021-07-15 06:25] 22dasi1bwi commented on #5533
Hey guys, any updates on this?

[2021-07-15 06:39] graemerocher commented on #5533
As far as I can see this is not solvable to my knowledge on the Micronaut side since we cannot effectively instrument the creation and resumption of the suspended function as it would require byte code transformation.

This is also not a regression in behavior since it has been this way for some time

As a workaround You will need to manually wrap the logic that propagates MDC

[2021-07-15 06:49] 22dasi1bwi commented on #5533
Thanks a lot of the update!

However, the linked issue (https://github.com/micronaut-projects/micronaut-core/issues/5656) definitely seems like a regression to me.

[2021-07-15 07:21] martijndwars commented on #5741
I see. My use case is similar to the use case in #734: I'm using Micronaut to proxy a request from an end-user to an origin server. I use `Single<HttpResponse>` because I don't want to block while proxying the request, and I use `HttpResponse<Flowable<byte[]>>` because I want to stream chunks of the body to the client as they come in from the origin server instead of buffering the whole response o

[2021-07-15 07:24] graemerocher commented on #5741
Have you tried https://docs.micronaut.io/latest/guide/#proxyClient

[2021-07-15 08:35] ilopmar opened #5765 "Regression with 2.5.9 and static resources in GraalVM"
This commit (https://github.com/micronaut-projects/micronaut-core/commit/a0cfeb13bf1ef5d692d16d4a3b91b34b7456bb11) has broken static resource support for GraalVM in Micronaut 2.5.9. It works properly using the JVM.

### Steps to Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-views-graal`
- `cd micronaut-views-graal`
- `git checkout issue-static-resources-259`
- `sdk use

[2021-07-15 12:40] graemerocher commented on #5765
Seems on GraalVM directories are not returned even if files within the directory are included in the resource config 😕

This call returns `null` https://github.com/micronaut-projects/micronaut-core/blob/89c6a67478576e747339f2e9cb0737405e1557e9/core/src/main/java/io/micronaut/core/io/scan/DefaultClassPathResourceLoader.java#L70

[2021-07-15 15:37] ilopmar commented on #5765
As discussed during the engineering meeting I've tried adding the root directory to the resources file like (also tried with an additional `/`:

[code]

But it doesn't work.

For context, this is the `resource-config.json` file generated that worked before the change:

[code]

[2021-07-15 15:40] graemerocher commented on #5765
have you tried

[code]

[2021-07-15 15:40] ilopmar commented on #5765
Yes, also tried that

[2021-07-15 15:41] ilopmar commented on #5765
I've just tried with 21.2.0-dev just in case but it doesn't work either

[2021-07-15 16:26] graemerocher commented on #5765
I am investigating a solution with the GraalVM folks

[2021-07-15 21:23] LPalmerMSI opened #5769 "@ConfigurationProperties can not be used on an interface in conjunction with @BootstrapContextCompatible."
Micronaut 2.5.9

Using @ConfigurationProperties on an interface in conjunction with the @BootstrapContextCompatible annotation causes a runtime exception when that property set is injected into another class with @BootstrapContextCompatible.

`
Message: At least one @Introduction method interceptor required, but missing. Check if your @Introduction stereotype annotation is marked with @Retention(R

[2021-07-16 07:27] ilopmar commented on #5765
I haven't realized until today that another app failed on CI. This also breaks OpenAPI because everything (html, yaml,...) are exposed as static resources.

[2021-07-16 07:40] ilopmar opened #5771 "Upgrade/Fix GraalVM test apps to Micronaut 3"
Epic issue (that will be updated) to keep track of the pending fixes/upgrades needed by the GraalVM test applications so everything works with Micronaut 3.

CI: https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/pipelines?page=1&scope=all&ref=3.0.x-stable.

Apps not listed here work without problems

### Views

Handlebars fails: https://github.com/micronaut-projects/micronaut-views/issu

[2021-07-16 08:05] graemerocher commented on #5771
I don’t think we need a version of cache compiled with 3.0 we just need to switch it to reactor

[2021-07-16 09:10] PatrickKaalund commented on #5218
Experience these warnings again in `Micronaut version: 2.5.8`.

Please see: https://stackoverflow.com/questions/68352814/kaptkotlin-not-recognizing-micronaut-options, for details :)

[2021-07-16 09:12] PatrickKaalund opened #5772 "Kapt warnings regression"
Could we please reopen: https://github.com/micronaut-projects/micronaut-core/issues/5218?

[2021-07-16 09:16] ilopmar commented on #5771
I've updated the issue with your comment.

I'll keep updating this issue with new apps as I "process" them.

[2021-07-16 09:50] sdelamo opened #5773 "@Error with @View regression between 2.5.9 and 3.0.0-M2"
New Micronaut app with `io.micronaut.views:micronaut-views-velocity`dependency:

`src/main/java/example/micronaut/HomeController.java`

[code]
`src/main/rosources/views/notFound.vm`
[code]

With 2.5.9: `curl -i localhost:8080`

[code]

with 3.0.0-M2 `curl -i localhost:8080`

[code]

[2021-07-16 11:45] Ksnz commented on #3044
Actually it isn't resolved. I have a file `bootstrap-k8s.yml` that isn't loaded while running in Kubernetes with `k8s` env name.

[2021-07-16 11:53] jameskleeh commented on #3044
File a new issue with an example app

On Fri, Jul 16, 2021 at 7:45 AM Index ***@***.***> wrote:

[2021-07-16 20:57] moonrockfamily commented on #3683
@begrossi Thanks for the idea.  I've applied it to the simpler FileAppender, called LazyInitFileAppender, and it defers the file handling as expected, however `io.micronaut.context.DefaultBeanContext` has a static initialization call to `org.slf4j.LoggerFactory.getLogger(...)` causing the static initialization/binding of the configuration using the **build time** environment.

Stack to config bind

[2021-07-19 06:53] graemerocher commented on #5765
@ilopmar FYI the inability to register directories was identified as an issue https://github.com/oracle/graal/pull/3597

Once merged we would need to add the directories within resources as well to the resource config to the graal visitor and for newer version to the gradle / maven plugins. /cc @melix

As a shorter term workaround for Micronaut we could alter the fix to just bar using "../" in pat

[2021-07-19 08:09] ilopmar commented on #5765
I've tried compiling GraalVM from the branch in that PR and I confirm that fixes the issue (after manually register the directory in resource config).

[2021-07-19 09:27] graemerocher opened #5776 "latest 3.0.0 snapshot results in CircularDependencyException for micrometer module"
Something has broken whereby the current bean being injected is not included when injection multiple other beans leading to a circular dependency exception:

[code]

[2021-07-19 10:27] #5776 closed, assigned to nobody

[2021-07-19 12:16] jameskleeh commented on #5765
I’m fine with blocking usage of ../

On Mon, Jul 19, 2021 at 4:09 AM Iván López ***@***.***> wrote:

[2021-07-19 12:17] goeh opened #5778 "Map keys converted to camelCase in nested @ConfigurationProperties"
I have a class annotated with @ConfigurationProperties and some nested configuration classes.
One property has a Map of bucket names and is annotated with @MapFormat. The problem is that the keys in the map are converted to camelCase. I want them to be exactly as specified in the configuration file. Specifying `keyFormat = StringConvention.RAW` does not help here.
[code]
I have some similar config

[2021-07-19 12:48] graemerocher commented on #5765
@jameskleeh I afraid that is not good enough, since paths like `classpath:/other/../../other/shouldNotAccess.txt` could still be crafted

[2021-07-19 13:57] graemerocher opened #5781 "isContextScope() for factory methods broken with new bean metadata format"
The method `BeanDefinitionReference.isContextScope` returns `false` for beans from factory methods in the new metadata format causing them to fail to initialize

[2021-07-19 14:16] #5732 closed, assigned to nobody

[2021-07-19 17:45] ghost opened #5786 "Incorrect bean definitions found/returned when bean factories are annotated with @Any"
Please see attached for details.
[Micronaut 3.0.0-SNAPSHOT Test Failures.pdf](https://github.com/micronaut-projects/micronaut-core/files/6842916/Micronaut.3.0.0-SNAPSHOT.Test.Failures.pdf)

### Steps to Reproduce

1. Checkout https://github.com/micronaut-projects/micronaut-coherence/tree/micronaut3
2. Build project and run tests in namespace package

### Expected Behaviour

Tests should pass.

###

[2021-07-20 05:19] bj-eberhardt opened #5787 "BeanMap and kotlin data class with hyphened properties and Introspected"
### Description

If i use kotlin data classes like
`@Introspected
data class Test(
  val normalProperty: String,
  val `hyphen-property`: String)` not all properties are respected when running it in a graalvm image. At least the kotlin specific one with hyphen is ignored. This happens if i add the @Introspected annotation - without it works locally fine except in graalvm application.

### Task Lis

[2021-07-20 08:06] dstepanov commented on #5532
Closing this after https://github.com/micronaut-projects/micronaut-core/pull/5672 has been merged

[2021-07-20 08:06] #5532 closed, assigned to dstepanov

[2021-07-20 09:27] graemerocher commented on #5757
As discussed in https://github.com/micronaut-projects/micronaut-liquibase/pull/173 liquibase doesn't need anything from Micronaut 3.0 and could have been released with 2.5.x

[2021-07-20 09:52] #5781 closed, assigned to graemerocher

[2021-07-20 14:55] 22dasi1bwi commented on #5656
@dstepanov Have you had the chance to look into this?

[2021-07-20 15:17] pgressa opened #5793 "Broken documentation in configuration reference to DefaultTrustStoreConfiguration"
in the reference doc https://docs.micronaut.io/latest/guide/configurationreference.html

[2021-07-20 15:22] dstepanov commented on #5656
@22dasi1bwi I will look at it today

[2021-07-20 17:33] jameskleeh commented on #5773
Fixed by https://github.com/micronaut-projects/micronaut-core/commit/6639e8c07b638b44abf2d2c8e0891b6981f5a09f

[2021-07-20 17:33] #5773 closed, assigned to nobody

[2021-07-20 17:44] jameskleeh commented on #5772
That isn't a process we follow, to reopen old issues if they re-appear. Please update this issue with the exact messages you're getting and a sample app or steps to create a sample app that reproduces the problem

[2021-07-20 17:45] #5744 closed, assigned to nobody

[2021-07-20 17:52] #5765 closed, assigned to nobody

[2021-07-20 18:49] dstepanov commented on #5656
I can see the behavior is different. In version `2.5.0` we had always-on server context filter that was setting the request into the thread-local etc, the filter was removed for performance reasons and the logic moved into the main routing code. That change also removed the instrumentation that in the previous version would pickup some MDC state from the `doFilter` code and propage it, but I'm not

[2021-07-20 19:49] graemerocher commented on #5656
I would be interested in the option "rething the state propagation in v3 using Reactor and Kotlin context"

[2021-07-21 03:22] rcanacci opened #5797 "Proxy address fails w/ http URLs"
When setting up a proxy for a given micronaut HttpClient, I tested using a full URL ('http://...') instead of an IP address or direct domain name (without http/https).

Example:

[code]

The application fails to start with a message saying the proxyAddress property cannot be found.

After changing to the IP address for the given domain, the proxyAddress setting worked and the proxy functioned as e

[2021-07-21 05:50] beedub commented on #3334
I'm actually seeing this with junit5 and mockk. Any workarounds?

[2021-07-21 06:07] sasitheprogrammer commented on #2002
I would like to contribute, let me know

[2021-07-21 08:38] ilopmar commented on #5757
Removed Liquibase from the list

[2021-07-21 09:21] yawkat opened #5798 "JavaClassElement.getTypeArguments(Class) gives wrong results for parameterized types"
`JavaClassElement.getTypeArguments(Class)` uses the type parameters from the `TypeElement` to resolve type params of super parameters, but `TypeElement` represents a type declaration (e.g. `interface List<E> extends Collection<E>`) and not a type use (`List<String>`). So if you do `.getTypeArguments(Collection.class)` on a `List<String>`, it'll return `{"E" -> java.lang.Object}`.

Looking at how `

[2021-07-21 09:49] graemerocher commented on #5798
I don't believe that `TypeElement` represents a type declaration. According to the java it "Represents a class or interface program element"

`DeclaredType` represents a type declaration.

[2021-07-21 09:51] graemerocher commented on #5798
Having said that for issue reports you need to follow the template and maybe explain the use case and where this is manifesting as an issue with an example

[2021-07-21 10:03] yawkat commented on #5798
Yes, it seems like `TypeElement` lacking this info is the reason for this bug. When `JavaClassElement` is used for a parameterized type, i.e. when `genericTypeInfo` is non-empty, this additional info is ignored by `getTypeArguments`. Test case (place in `ClassElementSpec`):

[code]

This returns `java.lang.Object` instead of `java.lang.String`.

[2021-07-21 14:19] #5786 closed, assigned to nobody

[2021-07-21 14:21] jameskleeh commented on #5757
closing this as we have a milestone to release modules from now

[2021-07-21 14:21] #5757 closed, assigned to nobody

[2021-07-22 09:31] yawkat opened #5822 "Build-time JSON serializer"
As an alternative to jackson-databind, there could be a JSON object serializer with build-time generation of the necessary machinery. This could improve performance by avoiding the reflection APIs.

[2021-07-22 11:35] #5554 closed, assigned to sdelamo

[2021-07-22 13:03] 22dasi1bwi commented on #5656
@dstepanov
Thank you for looking into it. We will try out your suggestions and get back to you asap.

[2021-07-22 13:19] graemerocher commented on #5554
We need upgrade docs explaining to rxjava users what to do

[2021-07-22 13:53] martijndwars opened #5835 "Micronaut HttpRequest getUri() behaves different on Tomcat and Netty"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a new Micronaut project: `mn create-app -b gradle_kotlin micronaut-abc`
2. Make sure `build.gradle.kts` mentions `runtime("tomcat")`
3. Add a controller:

[cod

[2021-07-22 15:07] tobiasschaefer opened #5838 "Regression 3.0.0-M3: NoClassDefFoundError: io/reactivex/Flowable when calling REST controllers on servlet runtimes"
I updated from Micronaut 3.0.0-M2 to 3.0.0-M3 but now I run into `java.lang.ClassNotFoundException: io.reactivex.FlowableEmitter` when calling a REST controller running on Tomcat, Undertow, or Jetty. It works on Netty.

Note: the error still occurs on 3.0.0-M4 and 3.0.0-SNAPSHOT

This might be related to micronaut-servlet (seeing that all servlet containers are affected), however the regression ap

[2021-07-22 15:08] graemerocher commented on #5838
This requires https://github.com/micronaut-projects/micronaut-core/pull/5837

[2021-07-22 18:57] racevedoo opened #5842 "Support for regexes in @Filter for HttpServerFilter"
Hi all!

When using `@Filter` annotations with `HttpServerFilter`, currently the `pattern` attribute only supports Ant-style patterns. Because of it, we can't use more complicated patterns (using regex, for example). A simple case that regex can support but Ant can't is accepting all paths except one.

This question was raised on gitter (discussed briefly with @jameskleeh), and I suggested that we

[2021-07-22 18:59] #5838 closed, assigned to nobody

[2021-07-22 19:52] highmtworks commented on #5469
As the nested calls of `computeIfAbsent` are invoked on the same thread (as the stack trace shows),
I suspect that adding `synchronized` ( without removing `computedIfAbsent` ) will have no effect for this issue.

I am sorry to be late, but I created a possible reproducer.
Could you try this one please ?

1. `mn create-app test5469`

2. add the following `Test5469Controller.java` file in test5469/

[2021-07-22 20:48] highmtworks commented on #5469
I tried running the above reproducer for #5810.
Replacing `RequestCustomScope` in the reproducer with #5810
https://github.com/micronaut-projects/micronaut-core/blob/5a4c0c30381103e6bf780f3c3930893bfc8fe01a/runtime/src/main/java/io/micronaut/runtime/http/scope/RequestCustomScope.java
still causes "Recursive update" in my environment.

[code]

[2021-07-23 06:59] skirkpatrick opened #5851 "Interface-based `@EachProperty` configuration does not work if `micronaut-context` is not on the compile classpath"
Using `@EachProperty` on an interface does not work if `micronaut-runtime`/`micronaut-context` is not on the classpath when the interface is compiled, e.g. within a library. Other methods of type-safe configuration (`@ConfigurationInject` or setters) work fine.

### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploade

[2021-07-23 07:41] tobiasschaefer commented on #5838
Confirmed: Updating to 3.0.0-SNAPSHOT fixes the bug

[2021-07-23 07:41] dstepanov opened #5852 "Kotlin immutable classes cannod be modified in v3"
Looks like something is changed and for the cases like this when Kotlin generates multiple constructors, the empty one is being picked up in v3, preventing modifying the bean with `withValue` method.
[code]
The workaround is to remove the defaults:
[code]

I think we should change how we select the bean constructor, we should prefer the constructor that is able to initialize the maximum about of t

[2021-07-23 08:10] ilopmar opened #5856 "Compilation error with Micronaut OpenAPI and Micronaut 3.0.0-SNAPSHOT"
The GraalVM basic-app fails to compile when using Micronaut Openapi module. The module has been upgraded to be Micronaut 3 compatible although it uses Micronaut 2.5.9 for compilation.
I've tried to upgrade the module to use Micronaut 3.0.0-M4 and the error is the same.

Using Micronaut 3.0.0-SNAPSHOT in the module leads to a compilation error because of this new `isTypeVariable` added here https:/

[2021-07-23 08:26] ilopmar commented on #5856
Using Micronaut `3.0.0-SNAPSHOT` in openapi and adding here https://github.com/micronaut-projects/micronaut-openapi/blob/049dadca805669a4ba8af28f6aa05791b0d83bfc/openapi/src/main/java/io/micronaut/annotation/processing/visitor/JavaClassElementExt.java#L69 a new parameter `false` makes everything work.

[2021-07-23 08:44] graemerocher commented on #5856
the impl really shouldn't be using these internal classes

[2021-07-23 08:46] graemerocher commented on #5851
you should add a dependency on `micronaut-context`

[2021-07-23 08:48] ilopmar commented on #5856
I didn't wrote the original class in openapi https://github.com/micronaut-projects/micronaut-openapi/blob/fa48463090a09205979e44769df032a6c959e340/openapi/src/main/java/io/micronaut/annotation/processing/visitor/JavaClassElementExt.java

So what would be your suggested approach?

[2021-07-23 09:04] graemerocher commented on #5856
probably too late now, we will have to fix it but at some point we need to implement whatever features are needed that required subclassing that internal class since it is java specific and doesn't work for Groovy

[2021-07-23 11:04] ilopmar opened #5863 "Micronaut 3 doesn't expose the same information as before in management endpoints with GraalVM"
The GraalVM management app is failing because the with Micronaut 3 the exposed information is not the same as before.

### Steps to Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-management-graal`
- `cd micronaut-management-graal`
- `git checkout 3.0.x`
- `sdk use java 21.2.0.r11-grl`
- `./gradlew nativeImage`
- `build/native-image/management`
- `curl -s localhost:8080/

[2021-07-23 13:30] ilopmar commented on #5863
Fixed by #5863

[2021-07-23 13:30] #5863 closed, assigned to ilopmar

[2021-07-23 15:01] ilopmar opened #5869 "java.lang.IllegalStateException: Recursive update with Discovery Client and Micronaut 3.0.0-SNAPSHOT"
Trying to use Micronaut 3.0.0-SNAPSHOT and Discovery Client Eureka 3.0.0-M1 the application doesn't startup and fails with a `java.lang.IllegalStateException: Recursive update`

### Steps to Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-service-discovery-eureka`
- `cd micronaut-service-discovery-eureka`
- `git checkout error-micronaut3`
- `docker run -it --rm -p 8761:8

[2021-07-23 16:11] skirkpatrick commented on #5851
Fair enough.

The reason I bring this up as an issue is because this requirement is not documented anywhere, and the solution is not obvious (I had to walk through the annotation processor debugger to figure out why my configs weren't loading). I figured this might be unintended since class-based configuration properties work fine, but perhaps what's needed is just a quick blurb in the documentati

[2021-07-23 16:13] graemerocher commented on #5851
Good point

[2021-07-23 17:37] graemerocher opened #5873 "findBean on missing bean broken in 3.0.x snapshots"
Code:

[code]

Exception:

[code]

Related to the `@Any` stuff.

Will have a look on Monday

[2021-07-24 06:28] #5869 closed, assigned to dstepanov

[2021-07-25 09:11] #5856 closed, assigned to graemerocher

[2021-07-26 08:05] ilopmar opened #5882 "#block terminated with an error with Eureka and Micronaut 3.0.0-SNAPSHOT"
The GraalVM test application for discovery-client Eureka fails in JIT mode (and also as native image).

The error doesn't happens all the time and I've only been able to reproduce it using JDK 11. Sometimes I start the application, send the curl request and it fails. Other times I start the application, wait a few seconds and then send the curl request.

Another thing I do to reproduce the error i

[2021-07-26 14:35] andriy-dmytruk opened #5891 "Add ability to compose multipart request from different part arguments in client"
# Description
Add an ability to specify multipart request body in the **declarative client** by providing separate parts of it as arguments.
For example:
[code]

Currently, Micronaut supports `@Part` annotation on the declarative server and not on the client. The client supports receiving the `MultipartBody` type as `@Body`.

The `@Part` annotation does not support specifying the format, and serve

[2021-07-26 14:40] graemerocher commented on #5891
Maybe it makes sense to add only support for individual subclasses of `io.micronaut.http.client.multipart.Part` initially

[2021-07-26 16:31] #5873 closed, assigned to graemerocher

[2021-07-27 06:28] dynaxis commented on #3938
My experience with configurations with nested structure (i.e. nested map and typed object) so far is not so smooth, and I hope to see the experience enhanced.

For instance, is there something wrong in expecting the following is filled correctly. If there are some reasons for not working so, please let me know too. I hope to understand what's the rationale behind.

Thanks.

[code]

with the follow

[2021-07-27 14:49] jameskleeh commented on #3938
@dynaxis If you think you've found a bug the best thing is to create a new issue

[2021-07-27 15:35] dynaxis commented on #3938
@jameskleeh Thank you for leaving the comment. The code above doesn't work (as you know) and I guess it's an intended behavior.

I got stuck with such cases where things are not working as "I" expected, searched for how the other users think, found a few questions and issues similar to mine in essence, and am thinking why this nested typed configuration object is so difficult to bend.

If I change

[2021-07-27 16:14] jameskleeh commented on #3938
@dynaxis I do think it should work. I'm not sure why it doesn't. Jackson is responsible for doing the binding in this case. See JacksonBeanPropertyBinder. For some reason `objectMapper.readValue` doesn't work as I would expect

[2021-07-27 16:23] dynaxis commented on #3938
@jameskleeh Thanks a lot. I'll have a look at the relevant code and file an issue if required.

[2021-07-28 07:30] bwollmer commented on #5218
Hi, I have a similar problem with a gradle multi-module micronaut project (`Micronaut Application 1.5.4, Kotlin 1.4.32`). If I create a simple micronaut project, everything works as expected. But as soon as I wrap this project into a multi-module gradle build, I run into this message while running gradle build:
`Note: Creating bean classes for 1 type elementswarning: The following options were not

[2021-07-28 08:28] lgathy opened #5900 "Regression ServerRequestContext::currentRequest not working in HTTP filters of WebSocket requests"
### Steps to Reproduce

1. Create an `HttpFilter` and annotate it with `@Filter(...)` to match a WebSocket endpoint
2. Call `ServerRequestContext.currentRequest().orElseThrow()` to verify that the current request is set.
3. Call the WebSocket endpoint to trigger the filter.

### Expected Behaviour

The filter should not throw the exception as the current request is expected to be set in `ServerReq

[2021-07-28 08:50] lgathy commented on #5900
Regression submitted as draft PR, see: #5901
Btw, based on #5413 the fix also seems straightforward. I have the fix locally, I will post it into this PR, but I would like to see this change breaking the build first.

[2021-07-28 09:11] dstepanov opened #5902 "`TypeElementVisitor` can access annotations for introduced super interface but annotation not present at runtime"
Version 2.5 and 3.0 and both Java and Groovy are affected.

Use-case:
H2Repository no extra methods - annotated with `@Repository`
extends BaseRepository with methods - annotated with `@Repository`
extends CrudRepository with methods

Annotation processor processes `H2Repository` sees all the methods from super-interfaces and also skips processing because they are marked as processed by having an

[2021-07-28 14:42] zdegner opened #5905 "3.0.0 M5 - request context lost when using Reactor types with @Cacheable and Redis"
### Expected Behavior

Server request context should still be available to consumers after using `@Cacheable` annotation with Project Reactor types.

This appears to be a regression from 2.x where the context was still available. I noticed this change while updating a large-ish 2.x project to 3.0.0 M5. We have a MethodInterceptor which uses some cached values and it now causes the thread to be cha

[2021-07-28 16:05] jameskleeh commented on #5842
@racevedoo Proposal looks good! PR welcome

[2021-07-28 17:33] #5900 closed, assigned to nobody

[2021-07-29 14:53] sdelamo commented on #5905
@zdegner

adding the micronaut-reactor dependency:

[code]

and commenting out the redis part:

[code]
will make your test pass.

[2021-07-29 14:54] jmarshall5-chwy opened #5907 "Micronaut client does not generate proper XML for wrapped values"
### Expected Behavior

XML should be generated with a wrapped element, e.g.
[code]

### Actual Behaviour

Micronaut clients generate the following XML instead
[code]

### Steps To Reproduce

Check out the example program (here)[https://github.com/jmarshall5-chwy/micronaut_client_wrapped_xml_types_issue] and run

[code]

It should run without error, but you will get a HttpClientResponseException as

[2021-07-29 15:09] graemerocher commented on #5907
I guess as a workaround you could replace `@Introspected` with `@ReflectiveAccess` on your data classes

[2021-07-29 15:11] sdelamo commented on #5905
The sample app fails also for 2.5.11. I have pushed a 2.5.11 sample app here:

https://github.com/grails-core-issues-forks/issue-5905-micronaut-2

[2021-07-29 15:18] graemerocher commented on #5905
As I mentioned we should make the request available within the Reactor context and document how to retrieve it for Reactor users

[2021-07-29 15:30] jmarshall5-chwy commented on #5907
Thanks @graemerocher, I'm fairly new to Micronaut and hadn't seen `@ReflectiveAccess`, however; that annotation is for properties (not classes) and appears to require removing the `@Introspected` annotation (also implied by your comment). Unfortunately this ends up breaking validation checking. I've added a branch to my example app showing the changes I had to make to get it to work with that anno

[2021-07-29 15:37] ilopmar commented on #5907
@jmarshall5-chwy in Micronaut 3.0 `@ReflectiveAccess` also can be applied to classes and it's the annotation you need to include that class in the GraalVM reflect config. For Micronaut 2.x `@Introspected` does both things.

[2021-07-29 17:39] Ksnz commented on #3044
I'm sorry. All works fine, but to load environment-specific bootstrap file you also have to create default bootstrap.yml
I don't know is it bug or not and it's not a major issue for me now.

[2021-08-02 15:28] 22dasi1bwi commented on #5656
Hey guys!
After a lot of testing, we decided to re-introduce `ServerRequestContextFilter` into our code. It proved to be the most consistent way of preventing loss of context information for us, especially when it comes to stress-testing.

I updated my [linked repository](https://github.com/22dasi1bwi/micronaut-coroutines-context-loss-on-thread-switch) with an example, which shows exactly what is

[2021-08-02 15:28] #5656 closed, assigned to dstepanov

[2021-08-03 11:21] sdelamo commented on #5744
we have [changed the setting's default value in Micronaut Security](https://github.com/micronaut-projects/micronaut-security/pull/739)

[2021-08-03 16:32] LPalmerMSI opened #5920 "Micronaut 2.5.10, 11 Conflict with Azure App Config Lib"
### Expected Behavior

When including the Azure App Configuration Library in Gradle, the HttpClient should not throw exceptions.

Azure App Configuration Lib:
[code]

Note: I've tried multiple versions of the azure lib.

### Actual Behaviour

When including the library I get the following exception when trying to inject an HttpClient:

[code]

### Steps To Reproduce

* Create a launch Micronaut ap

[2021-08-04 01:58] mattmoss commented on #2971
When the timeout occurs, the `onErrorResumeNext` lambda first replaces the current subscription with `Flowable.error` at this line, cancelling the current subscription:
https://github.com/micronaut-projects/micronaut-core/blob/3bb62e3ea3e4ec18254d25d67b258fade511ee91/http-client/src/main/java/io/micronaut/http/client/netty/DefaultHttpClient.java#L1181

After that, the `ConnectionFuture` above call

[2021-08-04 21:05] jameskleeh commented on #5905
The request is now available in the reactor context via `HttpRequest.KEY`

[2021-08-04 21:05] #5905 closed, assigned to jameskleeh

[2021-08-05 09:20] cwbeck commented on #367
Is it possible to create your own HttpRequest - or at least an extend version of it? I've been unable todo so and it is quite frustrating. Moving over from Scala and PlayFramework, there seems to be quite a bit missing here?

[code]

then...

[code]

But there is no way to receive it back?

[code]

Perhaps there is something I have missed here.

[2021-08-05 09:24] goeh commented on #5778
I added a workaround using `NameUtils.camelCase()` in my configuration class. This covers my use-case, so this issue is not a blocker for me anymore.
[code]

[2021-08-05 09:30] goeh commented on #5778
Related issue: https://github.com/micronaut-projects/micronaut-core/issues/4308

[2021-08-05 12:12] Ksnz opened #5928 "Add HashiCorp Vault subpath support"
### Feature description

Micronaut HashiCorp Vault supports structure of kv engine where applications secrets starts from engine root

Directory | Description
-- | --
/application | Configuration shared by all applications
/[APPLICATION_NAME] | Application-specific configuration
/application/[ENV_NAME] | Configuration shared by all applications for an active environment name
/ | Application-specif

[2021-08-05 12:56] #4422 closed, assigned to sdelamo

[2021-08-06 20:11] jameskleeh commented on #5741
This is fixed in the latest snapshot as part of the filter refactor

[2021-08-06 20:11] #5741 closed, assigned to nobody

[2021-08-06 20:13] jameskleeh commented on #4589
`Single<HttpResponse<Flowable<String>>>` is now supported in Micronaut 3

[2021-08-06 20:13] #4589 closed, assigned to jameskleeh

[2021-08-06 20:20] #5009 closed, assigned to nobody

[2021-08-06 20:21] #5632 closed, assigned to jameskleeh

[2021-08-09 12:24] graemerocher opened #5951 "New Micronaut Servlet RC causes Micronaut GCP test failures"
### Expected Behavior

Tests should pass

### Actual Behaviour

Tests Fail https://github.com/micronaut-projects/micronaut-gcp/pull/472/checks?check_run_id=3276615837

### Steps To Reproduce

Run `micronaut-gcp` tests

### Environment Information

Any environment

### Example Application

_No response_

### Version

3.0.0-SNAPSHOT

[2021-08-09 16:04] geemanjs commented on #2307
Hey @graemerocher - we just hit something related to this

I think our use case is pretty simple. We have a service (service a) which exposes a http server controller applies some logic and as part of its processing calls another service (service b) using the micronaut http client. The other service (service b) receives the request, does some processing returns a success and or failure to the clie

[2021-08-09 16:06] graemerocher commented on #2307
In general thread based instrumentation can lead to leaking data in a reactive context which may be unsafe, hence why it is disabled by default.

[2021-08-09 21:35] rawilder commented on #5920
It was happening with my tests as well. I tracked it down to azure-messaging-servicebus:7.3.0 -> com.azure:azure-core:1.18.0 -> netty-tcnative-boringssl-static:2.0.39.Final. AsyncSSLPrivateKeyMethod seems to be in 2.0.40.Final.

[2021-08-10 16:34] mattmoss commented on #5920
Workaround. B/C `AsyncSSLPrivateKeyMethod` is missing in `2.0.39.Final`, require the `2.0.40.Final` version in your `build.gradle` file:

[code]

[2021-08-10 17:37] mattmoss commented on #5920
Another option: set system property `io.netty.handler.ssl.noOpenSsl` to `true` . Micronaut will then use the JDK's SSL client context rather than Netty's OpenSSL client context.

[2021-08-10 18:38] jameskleeh commented on #5920
The responsibility of what tc-native works with netty-handler should be on Netty. I've created an issue to request them to add the tc-native to the bom (which we import).

https://github.com/netty/netty/issues/11567

[2021-08-10 18:38] #5951 closed, assigned to jameskleeh

[2021-08-11 17:11] jameskleeh commented on #5920
Going to close this as its out of our hands

[2021-08-11 17:11] #5920 closed, assigned to nobody

[2021-08-11 18:14] jameskleeh commented on #5655
The new version of GraalVM has fixed this issue

[2021-08-11 18:14] #5655 closed, assigned to nobody

[2021-08-12 09:51] Sandmania opened #5967 "Data streaming directly from client to response broken"
### Expected Behavior

I should be able to return data stream from `RxStreamingHttpClient` to the client without exceptions in micronaut versions > 2.2.0

### Actual Behaviour

Starting from Micronaut 2.2.1 this does not work. See stacktrace below:

[code]

### Steps To Reproduce

1. Checkout sample application
2. Run: `mvn clean mn:run` (this starts the app with mn 2.5.11)
3. Open browser: `http:

[2021-08-12 14:32] racevedoo commented on #5530
@graemerocher just tried with 3.0.0 RC1 (following the same steps provided by @paulolieuthier) but its still not solved. Can we get this reopened?

[code]

[2021-08-12 16:25] jameskleeh commented on #5271
This was due to the fact that AOP was on the factory. The AOP implementation is based on the interface and thus cannot be injected when requesting the subclass. If you want the subclass to be injectable it should be the return type of the method. In Micronaut 3 the implementation type cannot be injected at all due to issues like this as well as others.

[2021-08-12 16:25] #5271 closed, assigned to nobody

[2021-08-12 16:52] cupkooo opened #5972 "EventListener problem"
### Issue description

I have the following issue with Eventlistener:

when a method is annotated with  `@EventListener` and the class where the method is defined is in the root dir of the project everything works just fine (eg. package com.example;).
When I move the class to some other subfolder (eg. package com.example.Utils) following errors start appearing: Error starting Micronaut server: Fai

[2021-08-12 17:48] burtbeckwith commented on #5972
It's probably caused by capitalized parts of the package name. Package names should be lowercase.

[2021-08-13 08:36] rohit-s8 opened #5973 "Add a check in NettyFileUploadInputStream.close() to prevent it from throwing "io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1" if the stream is closed more than once"
### Expected Behavior

My application receives a file through multipart upload. I use CompletedFileUpload for this purpose. The file then needs to be saved to OCI Object Store using oci-java-sdk-objectstorage. The process is basically as follows:
[code]
There's nothing exceptional happening here and so I expected it to upload the file without any errors.

### Actual Behaviour

However, as mentione

[2021-08-13 08:54] cupkooo commented on #5972
Yes, that was a problem. Working like a charm now.

Thanks!

[2021-08-13 08:54] #5972 closed, assigned to nobody

[2021-08-13 09:10] rohit-s8 commented on #5973
After following the stack trace, I found out the reason for the exception:
Essentially the `ObjectStorageClient.putObject()` is invoking `io.micronaut.http.server.netty.multipart.NettyFileUploadInputStream.close` **twice** within the same invocation.

The first time it's called during the invocation https://github.com/oracle/oci-java-sdk/blob/623c82f32f99de9f60a7009d3fcf412cf0b94c12/bmc-objectstor

[2021-08-13 09:15] dstepanov commented on #5973
I think the problem is already fixed in the latest version. Can you please try version 2.5.12?

[2021-08-13 09:19] rohit-s8 commented on #5973
Hmmm, the code looks exactly the same to me: https://github.com/micronaut-projects/micronaut-core/blob/v2.5.12/http-server-netty/src/main/java/io/micronaut/http/server/netty/multipart/NettyFileUploadInputStream.java

Or has the fix been implemented elsewhere? I guess i'll give it a try

[2021-08-13 09:40] dstepanov commented on #5973
There were some Netty bugs...

[2021-08-13 09:51] rohit-s8 commented on #5973
Tried 2.5.12, but with no success. Still getting the same exception at the exact same point.

I don't think this is a netty bug. The problem lies in the current implementation of `io.micronaut.http.server.netty.multipart.NettyFileUploadInputStream.close()`. There needs to be an explicit check to see whether the file has already been released before invoking `io.netty.handler.codec.http.multipart.F

[2021-08-13 13:34] jameskleeh commented on #5973
I don't think this is a bug or an issue on our side. The stream shouldn't be closed multiple times because that doesn't make sense. You could say its an improvement to make it more resilient to incorrect usage of the stream

[2021-08-13 15:28] tonyerskine opened #5978 "Ability for Declarative HTTP Client to consume APIs that do not include content-type headers in response"
### Feature description

When consuming legacy, external ReST services that do not include `Content-Type` headers with their responses, I would like to be able to advise the declarative, HTTP client to parse responses using the Consumes annotation.

For example, it would be nice if the following method would default to parsing the response body as JSON if the response doesn't contain the `Content-

[2021-08-13 15:29] tonyerskine commented on #5978
minor formatting

[2021-08-13 16:23] Stillgh opened #5980 "App startup if connection to consul server fails"
### Issue description

Hi. Is it possible to start app without trying to connect to consul server if first connection to it fails?
connection is specified in bootstrap.yml

consul:
  client:
    defaultZone: "${CONSUL_HOST:localhost}:${CONSUL_PORT:8500}"

[2021-08-13 16:41] #5980 closed, assigned to nobody

[2021-08-13 18:18] jameskleeh commented on #5973
I think I actually disagree with my previous comment. The javadoc for Closeable, which we are overriding in this case says `If the stream is already closed then invoking this method has no effect.`. It doesn't say that in the javadoc for the override in `InputStream`, which provides an empty implementation but I think it's intended the behavior should still apply.

[2021-08-13 18:41] #5973 closed, assigned to jameskleeh

[2021-08-13 19:28] #5065 closed, assigned to nobody

[2021-08-13 19:30] jeffscottbrown commented on #5692
I think this is still an issue with 2.5.12.  [docs.micronaut.io/2.5.12/guide/#formData](https://docs.micronaut.io/2.5.12/guide/#formData)

[2021-08-13 22:59] msgilligan opened #5985 "@Factory annotation broken in Modular app in Micronaut 3.0.0-M3 and later"
### Expected Behavior

The following simple **modular** application should run without error:

[code]

### Actual Behaviour

[code]

### Steps To Reproduce

`./gradlew run`

I can send the Gradle build (currently part of a multi project, but I could break it out into a separate build and/or Github repo is you need)

Note that any one of the following changes will eliminate the problem:

1. Switch

[2021-08-14 17:17] ksawerykarwacki opened #5986 "Validator does not handle all nested validations"
### Expected Behavior

Expect to resolve all annotations and run all validators.

### Actual Behaviour

Annotation on Type is ignored

I assume that https://github.com/ksawerykarwacki/demo/blob/master/src/main/java/com/example/sample/SampleDTO.java#L36 may not work due to the https://github.com/micronaut-projects/micronaut-core/issues/4307

But https://github.com/ksawerykarwacki/demo/blob/master/s

[2021-08-16 06:20] Sandmania commented on #5967
It seems that mapping to `byte[]` "fixes" this.

Doesn't work:
[code]

Does work:
[code]

Thou I do not quite understand why that is.

[2021-08-16 06:59] morki opened #5988 "Enable to use special characters in fallback configuration"
### Feature description

When using Micronaut configuration, I would like to use colon or other special characters like those contained in URL in fallback configuration value like:

[code]

I tried using double quotes like in Spring but without luck:

[code]

Is there any other way to use it? Thank you very much.

[2021-08-16 07:30] ilopmar commented on #5988
You need to use `backticks` to escape the value. See https://docs.micronaut.io/latest/guide/index.html#_property_value_placeholders

So in your case it would be:

[code]

[2021-08-16 07:30] #5988 closed, assigned to nobody

[2021-08-16 07:47] morki commented on #5988
Thank you and very sorry for not reading documentation carefully.

[2021-08-16 18:34] sgammon opened #5991 "Netty: `Http2OrHttpHandler.handlerRemoved()` has thrown an exception"
### Expected Behavior

N/A

### Actual Behaviour

Experiencing an error after upgrading to Micronaut `2.5.12`, along with Netty `4.1.66.Final` / TCNative `2.1.40.Final`. The exception seems innocuous in that it is logged, but does not cause any perceivable failure otherwise (our health checks pass, and regular traffic seems to pass just fine).

The exception:
[code]

Obviously, this exception seem

[2021-08-16 19:02] mattmoss commented on #4669
This has been fixed in Micronaut v2.3.3.

[2021-08-16 19:09] mattmoss commented on #4669
This has been fixed already in Micronaut v2.3.3.

[2021-08-16 19:09] #4669 closed, assigned to mattmoss

[2021-08-16 20:16] jeffscottbrown commented on #5985
See the project at https://github.com/jeffbrown/issue5985.

[src/main/java/issue5985/MinimalApp.java](https://github.com/jeffbrown/issue5985/blob/89a115c3a2a89976fe8784b3ff5e92793634106a/src/main/java/issue5985/MinimalApp.java)

[code]

[code]

@msgilligan Does that sample project yield the error when run in your environment?

[2021-08-16 20:24] jeffscottbrown commented on #5985
FYI... https://github.com/jeffbrown/issue5985/commit/31d9f1305e0b0833f8dd092d7b64f092128ff9cf moves the relevant code into a submodule.

[2021-08-16 22:37] mattmoss commented on #4751
EDIT: Jackson property naming strategies are not applicable to the parameters to the client method. You want to wrap the parameter in a data class and bind it to the body using `@Body`; your data class properties will be Jackson-serialized and subject to property naming strategy.

Basically, this:

[code]

[2021-08-17 10:01] ilopmar opened #5995 "Additional information in 500 error missing in 3.0.0-RC1"
### Expected Behavior

When there is a 500 error there was some additional information about the error in 3.0.0-M5

### Actual Behaviour

With Micronaut 3.0.0-RC1 that extra information is gone.

When upgrading Micronaut Views to Micronaut 3.0.0-RC1 this test fails:

https://github.com/micronaut-projects/micronaut-views/blob/53c261dd959c8e12a34cebea9fda0b54bfcce977/views-freemarker/src/test/groovy

[2021-08-17 11:36] ilopmar commented on #5607
@micronaut-projects/core-developers after upgrading all the modules to Micronaut 3.0.0-RC1, the following still fail:

- Servlet: https://github.com/micronaut-projects/micronaut-servlet/pull/230
- Views: https://github.com/micronaut-projects/micronaut-views/pull/278
- RxJava2: https://github.com/micronaut-projects/micronaut-rxjava2/pull/10
- GCP: https://github.com/micronaut-projects/micronaut-gcp

[2021-08-17 13:56] jameskleeh commented on #5995
The data is in `_embedded.errors[0].message`

[2021-08-17 13:56] #5995 closed, assigned to nobody

[2021-08-17 14:30] jameskleeh opened #5998 "Route info and headers not applied to different response returned from filter"
### Issue description

Relates to https://github.com/micronaut-projects/micronaut-jaxrs/pull/140

The `applyConfiguredHeaders` and setting the route info attribute should happen after filters are called

[2021-08-17 16:37] #4751 closed, assigned to mattmoss

[2021-08-17 16:57] #2971 closed

[2021-08-17 17:29] nyilmaz opened #6011 "http-client cannot deserialize Map<K, V>"
### Expected Behavior

Deserialize `Map<K, V>` properly with declarative http client.

https://github.com/micronaut-projects/micronaut-core/blob/f5e363587b4bb46dd90904e86028c5ef97c0798e/runtime/src/main/java/io/micronaut/jackson/codec/JacksonMediaTypeCodec.java#L175
Here raw type is given to jackson reader, however json stream can properly read by byte[] and `JavaType` such as:

[code]

since we h

[2021-08-17 18:38] #5769 closed, assigned to jameskleeh

[2021-08-17 18:58] cemo commented on #6011
@graemerocher @dstepanov Would you provide guidance us to provide a PR please?

[2021-08-17 18:59] nyilmaz commented on #6011
@graemerocher @dstepanov If https://github.com/micronaut-projects/micronaut-core/blob/2.5.x/http-client/src/main/java/io/micronaut/http/client/netty/DefaultHttpClient.java#L932 `JacksonProcessor` can publish `byte[]` or `ByteBuffer`, it may seem simpler.

[2021-08-18 12:20] mancze opened #6039 "Static resource base directory must exist prior application startup"
### Expected Behavior

- App returns 200 OK and servers the file contents "foo".

When using [static resource serving](https://docs.micronaut.io/latest/guide/index.html#staticResources) to serve files from a file system, the existence check should be performed when the resource is being requested, including the check on the existence of the base directory.

This is an injection from GHSA-cjx7-399x

[2021-08-18 13:36] #5324 closed, assigned to jameskleeh

[2021-08-18 13:40] ilopmar commented on #5771
Please be aware that there are still two applications failing: view-handlebars and service discovery with Eureka

[2021-08-18 13:55] sbojja1 opened #6040 "Unable to invoke swagger router with tomcat"
### Issue description

Hello - I am trying to create swagger docs for Micronaut app, but swagger-ui router is not working for Tomcat server, whereas the same configuration works for Jetty.

- I verified that the views exist in build dir for both the servers, when I run the app I am able to invoke the endpoint only with jetty, and the same doesn't work with tomcat.

Gradle dependencies:
`    annota